.footer {
    font-size: 1rem;
    //margin: 1em 0px 1em 0px;
    margin-bottom: 0px;
    @include grid-column(12);
    padding: 0px;
    background-color: $off-white;
    font-family: $body-font-regular;
}

.footer__row {
    @include grid-row;
    padding: 0.625em;
    max-width:66.5rem;
}

.footer__row__left {
@extend .show-for-large-up;
    @media #{$large-up} {
        @include grid-column(11, $collapse: true);
        height: 45px;
          width: 88%;
    }
}

.footer__row__right {
@extend .show-for-large-up;
    @media #{$large-up} {
        @include grid-column(1, $collapse: true);
        width: 12%;
        height: 45px;
        padding-top: 5px;
    }
}

.footer__nav {
    @extend .hide-for-small;
    @media #{$medium-only} {
        @include list-inline;
        @include vert-align(45px);
        text-align: center;
        >li {
            padding-right: 0.2em;
            font-size: 0.9em;
            color: $brand-color;
            >a {
                color: $brand-color;
                display: block;
                font-size: 0.9em;
            }
            >a:hover {
                text-decoration: underline;
            }
        }
    }
    @media #{$large-up} {
        @include list-inline;
        @include vert-align(45px);
        >li {
            padding-right: 0.3em;
            font-size: 0.7em;
            color: $brand-color;
            >a {
                color: $brand-color;
                display: block;
            }
            >a:hover {
                text-decoration: underline;
            }
        }
    }
}
    
    .footer__row {
        
        .footer__sponsors_ipswich {
            width: 300px;
            margin: 0 auto;
            padding-bottom: 5px;
        
                    
            span {
                width: 100%;
                float: left;
                margin-bottom: 10px;
                color: #1D1F67;
                font-family: $body-font-regular;
                font-weight: bold;
                font-size:14px;
                text-align: center;
            }

            .logo {
                width: 100%;
                margin: 0 auto;
                text-align: center;

                img {
                    width: 70px;
                }
            }
        }
    }

    .sponsors {
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 10px;
    }


    .footer__row__payments {
                //border-top: 1px solid #e6e6e6;

                @media #{$small-only} {
                    @include grid-column(12, $center: true, $collapse: true);
                    @include list-inline;
                    margin-left: auto;
                    margin-right: auto;
                    padding:2em 0 0 1em;
                    >li {
                        height: 50px;
                        width: 32%;
                        padding-right: 1em;
                        margin-bottom:1em;
                        margin-right: 0 !important;

                        img {
                            height:100%;
                            width:100%;
                        }
                    }
                }
                @media #{$medium-up} {
                    @include grid-column(12, $center: true, $collapse: true);
                    @include list-inline;
                    margin-left: auto;
                    margin-right: auto;
                    padding-left: rem-calc(30px);
                    >li {
                        width: 7%;
                        padding-right: 0.3em;
                        padding-bottom: 2px;
                        text-align: center;
                        margin-right: 7px;

                        img {
                            width:100%;
                            height:40px;
                        }
                    }
                }

                @media only screen 
                  and (min-device-width: 768px) 
                  and (max-device-width: 1024px) 
                  and (-webkit-min-device-pixel-ratio: 2) {
                  >li {
                    width:15%;
                    margin-bottom:30px;
                  }
                }

                @media only screen 
                  and (min-device-width: 834px) 
                  and (max-device-width: 1112px)
                  and (-webkit-min-device-pixel-ratio: 2) {
                  >li {
                    width:15%;
                    margin-bottom:30px;
                  }
                }

                @media only screen 
                  and (min-device-width: 1024px) 
                  and (max-device-width: 1366px)
                  and (-webkit-min-device-pixel-ratio: 2) {
                  >li {
                    width:15%;
                    margin-bottom:30px;
                  }
                }

            }

.footer__row__social {
    @media #{$small-only} {
        // @include grid-column(3.6, $collapse:true, $center:true);
        display: none;
    }
    @media #{$medium-only} {
        float: right;
    }
    @media #{$large-up} {
        float: right;
    }
}

.footer__row__legal {
    color: #b9b9b9;
    text-align: center;
    line-height: 1.2em;
    color: $grey;
    >p {
        font-size: 0.8em;
    }
}

.footer__reasons {
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    p {
        color: $grey;
        font-size: 0.9em;
        margin-bottom: 0px;
    }
    border-bottom: 1px solid $brand-color;
}