.ui-carousel-container {
    padding: 0 !important;
    left: -10px;
    padding-left: 10px !important;
    width: 100% !important;
    position: relative;

    @media #{$large-only} {}

    @media #{$medium-only} {
        margin-bottom: ($site-margin / 3) !important;
    }

    @media #{$small-only} {
        margin-bottom: ($site-margin / 3) !important;
    }

    ul {
        left: -10px;
        padding-left: 10px !important;

        li {
            padding-bottom: 2px !important;
        }
    }
}

/* Lobby Content Container Header Area */
.category-carousel-lobby-wrap__content-box__header {
    @media #{$medium-only} {
        margin-top: ($site-margin / 2) !important;
        padding: ($site-margin / 2) !important;
        padding-bottom: 0 !important;
    }

    @media #{$small-only} {
        padding: ($site-margin / 2) !important;
        padding-bottom: 0 !important;
    }

    /* Lobby Content Container Header Area Title */
    .title {
        @media #{$medium-only} {}

        // elements in header bar (with icon)
        &.hasicon {
            .title__icon {
                #Desktop, #email_F-Copy, #email_F-Copy-2 {}

                & > svg {
                    @media #{$large-up} {}

                    @media #{$medium-only} {}

                    @media #{$small-only} {}
                }
            }

            // Text for in the header bar
            .title__text {
                @media #{$medium-only} {
                    padding: 0 !important;
                    margin: 0 !important;
                    font-size: 14px !important;
                }

                @media #{$small-only} {
                    padding: 0 !important;
                    margin: 0 !important;
                    font-size: 14px !important;
                }

                &.messages-section {}
            }

            .title__link__arrow {
                &:hover {}

                @media #{$large-up} {}

                @media #{$medium-only} {
                    padding: 0 !important;
                }

                @media #{$small-only} {
                    padding: 0 !important;
                }
            }

            .content-holder__title__link {
                @media #{$medium-only} {
                    padding: 0 !important;
                }

                @media #{$small-only} {
                    padding: 0 !important;
                }

                a {
                    @media #{$medium-only} {
                        text-transform: uppercase;
                        font-size: 12px !important;
                    }

                    @media #{$small-only} {
                        text-transform: uppercase;
                        font-size: 12px !important;
                    }

                    &:hover {}
                }
            }

            .title__option-links {
                a {
                    &:hover {}

                    .title__link__arrow {}
                }
            }

            .title__message-inbox {
                .title__message-inbox__icon {}

                .title__message-inbox__value {}
            }

            .title__option-link {
                a {}
            }
        }

        // elements in header bar (without icon)
        .title__text {}

        /* Lobby Content Container Header Area Link */
        .title__link {
            a {
                &:hover {}

                .title__link__arrow {}
            }
        }
    }

    .button.dropdown {
        &:focus {}
    }

    button.dropdown::after {}

    #drop1 > li > a {}
}

.category-carousel-holder-mobile {
    .title-mobile {
        .title-link {}
    }

    .content-holder-mobile {
        ul {
            li {
                background: none !important;
            }

            &.bxslider-promo-carousel-s li {}
        }
    }
}