.progressive-jackpots__wrapper {
    @include transition(all, 0.2s ease-out);

    @include show-for-large-up;

    width: 100%;
    position: relative;
    max-height: 228px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        background: rgba (255, 255, 255, 0.5);
    }

    .two-columns-content-wrap__right & {
        margin-bottom: $site-margin;
        max-height: 210px;
    }

    img.hub-shape-holder {
        // fix for stopping scale issue by using an html image element
        top: 0px;
        left: 0px;
        position: absolute;
        z-index: -1;
    }

    .progressive-jackpots {
        position: relative;

        .progressive-jackpots__title {
            h1 {
                height: 25px;
                text-align: center;
                background-color: $main-highlight-color;
                background-image: none;
                color: $white;
                font-family: $body-font-bold;
                font-size: 14px;
                margin-top: 0px;
                padding: 3px;
                padding-left: 7px;
                text-transform: uppercase !important;
                margin-bottom: 0px;
            }
        }

        .bx-viewport {
            min-height: 350px;
            overflow: hidden;
        }

        .progressive-jackpots__progressive {
            height: 100%;
            width: 100% !important;

            @include clearfix;

            height: auto;
            background: $mabel;
            padding: $site-margin / 2;
            margin-bottom: 10px;
            border-radius: 5px;
            box-shadow: 0px 2px 0px 0px #E6E6E6;

            .two-columns-content-wrap__right & {
                background: $base-blue-light;
            }

            .progressive-jackpots__progressive__icon {
                cursor: pointer;
                padding-right: 5px;

                img {
                    border-radius: 5px;

                    .two-columns-content-wrap__right & {
                        margin-bottom: 0;
                    }
                }
            }

            .progressive-jackpots__progressive__title {
                text-align: center;
                line-height: 100%;
                height: 25%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                > span {
                    //text style
                    color: $body-font-color;
                    font-family: $body-font-medium;
                    height: 100%;
                    font-size: 90%;

                    > a {
                        color: #5b5b5b;
                    }
                }
            }

            .progressive-jackpots__progressive__amount {
                text-align: center;

                > span {
                    //text style
                    font-family: $body-font-bold;
                    color: $nav-main-color;
                    font-size: 16px;
                    line-height: 25px;

                    > a {
                        color: $white;
                    }

                    .two-columns-content-wrap__right & {
                        line-height: 26px !important;
                    }
                }
            }

            .progressive-jackpots__progressive__cta {
                @include CTA-button(2px 0 1px 0, 0.8em, 4px);

                width: 40%;
                cursor: pointer;

                > span {
                    &:hover {}

                    > a {
                        color: $white;
                    }
                }
            }
        }
    }
}

//banner in the right sidebar
.two-columns-content-wrap__right {
    .banner {
        margin-bottom: $site-margin;
    }

    article {
        margin-bottom: $site-margin;
    }
}

// adjust widths for sidebar version of widget only use this below for colum widths no other styles
.progressive-jackpots__progressive {
    @media #{$small-only} {
        @include grid-column(12, $collapse: true);

        /* Portrait small phone make 1 per line */
        @media only screen and (min-device-width: 100px) and (max-device-width: 380px) and (orientation: portrait) {
            @include grid-column(12, $collapse: true);
        }
    }

    .progressive-jackpots__progressive__icon {
        @include grid-column(6, $collapse: true);
    }

    .progressive-jackpots__progressive__title {
        @include grid-column(6, $collapse: true);

        span {
            @include grid-column(12, $collapse: true, $center: true);
        }
    }

    .progressive-jackpots__progressive__amount {
        @include grid-column(6, $collapse: true);

        span {
            @include grid-column(12, $collapse: true, $center: true);
        }
    }

    .progressive-jackpots__progressive__cta {
        @include grid-column(4, $collapse: true, $center: true);

        span {
            //button style
            @include grid-column(3, $collapse: true, $center: true);
        }
    }
}

    .progressive-jackpots__progressive {
            height: 100%;
            width: 100% !important;

            @include clearfix;

            height: auto;
            background: $mabel;
            padding: $site-margin / 2;
            margin-bottom: 10px;
            border-radius: 5px;
            box-shadow: 0px 2px 0px 0px #E6E6E6;

            .two-columns-content-wrap__right & {
                background: $base-blue-light;
            }

            .progressive-jackpots__progressive__icon {
                cursor: pointer;
                padding-right: 5px;

                img {
                    border-radius: 5px;

                    .two-columns-content-wrap__right & {
                        margin-bottom: 0;
                    }
                }
            }

            .progressive-jackpots__progressive__title {
                text-align: center;
                line-height: 100%;
                height: 25%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                > span {
                    //text style
                    color: $body-font-color;
                    font-family: $body-font-medium;
                    height: 100%;
                    font-size: 90%;

                    > a {
                        color: #5b5b5b;
                    }
                }
            }

            .progressive-jackpots__progressive__amount {
                text-align: center;

                > span {
                    //text style
                    font-family: $body-font-bold;
                    color: $nav-main-color;
                    font-size: 16px;
                    line-height: 25px;

                    > a {
                        color: $white;
                    }

                    .two-columns-content-wrap__right & {
                        line-height: 26px !important;
                    }
                }
            }

            .progressive-jackpots__progressive__cta {
                @include CTA-button(2px 0 1px 0, 0.8em, 4px);

                width: 40%;
                cursor: pointer;
                margin-left: 6%;
                float: left;

                > span {
                    float: none !important;
                    
                    &:hover {}

                    > a {
                        color: $white;
                    }
                }
            }
        }