.winners-summary__wrapper {
    position: relative;
    height:190px;
    // border-top: 1px dashed $main-highlight-color;
    border-bottom: 2px solid $brand-color-light;
    // background-color:$mine-shaft;

    img{
        display:none;
    }
}

.winners-summary {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 1rem;
    z-index: 10;
    @include grid-column(12, $collapse: true);
    height: 100%;
    padding: 0px;
    overflow: hidden;
    .winners-summary__title {
        color:$main-highlight-color;
        background-image: url("../_images/common/winners-title-bg.png");
        border-bottom: 2px solid $brand-color-light;
        padding: 0em;
        margin: 0px;
        height: 22%;
        display: table;
        width: 100%;
        @include vert-mid-align();
        >h1 {
            font-size: 1.5em;
            font-family:"Sauberscript", Helvetica, Arial, sans-serif!important;
            color:$white;
        }
        *:first-child {
            display: table-cell;
          padding-bottom: 0;
          padding: 0;
          margin: 0;
          margin-left:10px;
            width: 100%;
            vertical-align: middle;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    }
    .winners-summary__winners {
        height: 80%;
        .winners-summary__winner {
            color:$brand-color-light;
            background-color:$mine-shaft;
            border-bottom: 1px dashed $main-highlight-color;
            height: 20%;
            padding-top: 2%;
        }
        .winners-summary__winner__title {
            @include grid-column(6);
            text-align: center;
            color:  $brand-color-light;
            height: 100%;
            font-size: 100%;
            font-family:$title1-font;
            line-height: 0px;
            padding: 1%;

            h1{
               font-family: "Sauberscript", Helvetica, Arial, sans-serif!important;
                text-transform: capitalize !important;
            }
        }
        .winners-summary__winner__amount {
            @include grid-column(6);
            text-align: center;
            color: $brand-color;
            height: 100%;
            font-size: 100%;
            font-family:$title1-font;
            line-height: 0px;
            padding: 1%;
            
        }
    }
    
    .winners-summary__winner__title {
         color: $brand-color-light;
    }

    .winners-summary__winner__title, .winners-summary__winner__user, .winners-summary__winner__amount {
        padding: 0em;
        margin: 0px;
        display: table;
        width: 100%;
        *:first-child {
            display: table-cell;
            font-size: 100%;
            height: 100%;
            vertical-align: middle;
            color: $brand-color;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}