.forgot-password-content {
    .text-partial-content {
        padding: $site-margin * 3;

        @media #{$small-only} {
            padding: ($site-margin * 3) $site-margin;
        }
    }

    .forgot-password-content__wrap {
        @include grid-column(7, $center: true);

        @media #{$medium-only} {
            @include grid-column(8, $center: true);
        }

        @media #{$small-only} {
            @include grid-column(12, $center: true);

            text-align: center;
        }

        h1 {
            color: $nav-main-color;
        }

        #forgotpass {
            @include grid-column(12);

            padding: 0;
            text-align: left;

            p {
                @include grid-column(12);

                padding: 15px 0px 0 0;
                border-top: 1px solid #f0e9f5;
                margin-bottom: 10px;

                @media #{$small-only} {
                    text-align: center;
                }
            }

            input {
                padding: 0 0.8rem;
                font-size: 16px;
                border-radius: 4px !important;
                box-shadow: !important;
                background-color: #f2f2f2 !important;
                margin-bottom: 10px !important;
                box-shadow: grey 0px -1px 1px 0px;
                border: none;

                &.button {
                    @include CTA-button(10px, 1.4em, 4px, #4BA4F0, #2082D8, #0E60A8, #0E4372, #8BC5F7);
                }
            }

            .button {
                @include CTA-button(8px, 1.2em, 4px, #4BA4F0, #2082D8, #0E60A8, #0E4372, #8BC5F7);
            }
        }
    }

    .entypo-export {
        display: none !important;
    }
}