$hub__grid__gutter: 0.3em;

.hub {
    .winners-summary {
        padding: 7px;
    }
}

.hub__grid {
    width: 100%;
    background: $black;
    position: relative;
    padding: 2px 0px 2px 0px;
    clear: both;
}

%hub__grid__child {}

.hub__grid__6x3x3 {
    > .hub__grid__column:first-child {
        @media #{$small-only} {
            @include grid-column(12);

            // padding:0px 0px 7px 0px!important;
            padding: 0px;
        }

        @media #{$medium-up} {
            @include grid-column(6);

            // padding:0px 7px 0px 0px!important;
            padding: 0px;
        }
    }

    > .hub__grid__column:nth-child(2) {
        @media #{$small-only} {
            @include grid-column(6);

            // padding:7px 7px 0px 0px!important;
            padding: 0px;
        }

        @media #{$medium-up} {
            @include grid-column(3);

            // padding:0px 7px 0px 7px!important;
            padding: 0px;
        }

        > .hub__grid__column__child:first-child {
            // padding-bottom: 7px;
       
        }

        > .hub__grid__column__child:last-child {
            // padding-top: 7px;
       
        }

        > .hub__grid__column__child {}
    }

    > .hub__grid__column:nth-child(3) {
        @media #{$small-only} {
            @include grid-column(6);

            // padding:7px 0px 0px 7px!important;
            padding: 0px;
        }

        @media #{$medium-up} {
            @include grid-column(3);

            // padding:0px 0px 0px 7px!important;
            padding: 0px;
        }
    }
}

.hub__grid__2 {
    width: 100%;

    img {
        width: 100%;
    }

    .hub__grid__2__2xcolumn {
        @include grid-column(2);

        padding: 0px;
    }

    .hub__grid__2__4xcolumn {
        @include grid-column(4);

        padding: 0px;
    }

    .hub__grid__2__1x1-child {
        @include grid-column(12);

        padding: 0px;
    }

    .hub__grid__2__1x2-child {
        @include grid-column(6);

        padding: 0px;
    }
}

.hub-home-1 {
    width: 100%;
    background-color: grey;

    img {
        width: 100%;
        height: auto;
    }

    .hub-home-1__col {
        @media #{$small-only} {
            @include grid-column(6);

            padding: 0px;
        }

        @media #{$medium-up} {
            @include grid-column(4);

            padding: 0px;
        }

        @media #{$large-up} {
            @include grid-column(2);

            padding: 0px;
        }
    }

    .hub-home-1__col-2x {
        @media #{$small-only} {
            @include grid-column(12);

            padding: 0px;
        }

        @media #{$medium-up} {
            @include grid-column(8);

            padding: 0px;
        }

        @media #{$large-up} {
            @include grid-column(4);

            padding: 0px;
        }
    }

    .hub-home-1__child {
        @include grid-column(12);

        padding-left: 7px;
        padding-right: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
        position: relative;
    }

    .hub-home-1__child-1x2 {
        @include grid-column(6);

        padding-left: 7px;
        padding-right: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
        position: relative;
    }

    .hub-home-1__col-2x__row {
        @include grid-column(12);

        padding: 0px;
    }

    .hub-home-1__widget-container {
        position: absolute;
        top: 0px;
        left: 0px;
        padding-top: 8px;
        padding-bottom: 6px;
        width: 100%;
        height: 100%;
        z-index: 10;

        @include grid-column(12);
    }
}

.hub-grid {
    width: 100%;
    clear: both;

    img {
        width: 100%;
        height: auto;
    }

    .hub-grid__col {
        @media #{$small-only} {
            @include grid-column(6);

            padding: 0px;
        }

        @media #{$medium-up} {
            @include grid-column(3);

            padding: 0px;
        }

        @media #{$large-up} {
            @include grid-column(2);

            padding: 0px;
        }
    }

    .hub-grid__col-2x {
        @media #{$small-only} {
            @include grid-column(12);

            padding: 0px;
        }

        @media #{$medium-up} {
            @include grid-column(12);

            padding: 0px;
        }

        @media #{$large-up} {
            @include grid-column(4);

            padding: 0px;
        }
    }

    .hub-grid__child {
        @include grid-column(12);

        padding-left: 7px;
        padding-right: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
        position: relative;
    }

    .hub-grid__child-1x2 {
        @include grid-column(6);

        padding-left: 7px;
        padding-right: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
        position: relative;
    }

    .hub-grid__col-2x__row {
        @include grid-column(12);

        padding: 0px;
    }
}

// Promotions in the hub
.hub {
    .promotion {
        margin: 0px;

        .promotion__wrapper {
            position: relative;
        }

        .promotion__image {
            @include grid-column(12, $collapse: true);
        }

        .promotion__content__wrapper {
            position: absolute;
            height: 15%;
            background-color: $black;
            width: 100%;
            top: 85%;
            color: $white;
            overflow: hidden;
            padding: 0px;
        }

        .promotion__title__wrapper {
            position: relative;
            height: 100%;
            width: 100%;
            display: table;
            padding: 0px;
        }

        .promotion__title {
            width: 100%;
            color: $white;
            font-size: 0.7em;
            display: table-cell;
            float: none;
            vertical-align: middle;
            white-space: nowrap;
            overflow: hidden;
            padding-left: 0.2em;
            text-align: center;

            &:hover {
                text-decoration: underline;
            }

            // &:after {
            //     content: 'see more';
            //     padding-left: 1em;
            //     color: $grey;
            //     font-size: 0.6em;
            // }
       
        }

        .promotion__content {
            display: none;
        }
    }
}

.bingo-hub {
    .section-full-width__title h4 {
        line-height: 1.1em;
    }

    .section-full-width__title h4 span {
        color: $brand-color;

        @media #{$small-only} {}

        @media #{$medium-only} {}

        a {
            color: $brand-color;
        }
    }

    .hub-grid .hub-grid__col-2x {
        // brute force the usual 3 column bingo hub into a 4 column layout
        @include grid-column(3, $collapse: true);

        @media #{$small-only} {
            @include grid-column(6, $collapse: true);
        }

        @media #{$medium-only} {
            @include grid-column(3, $collapse: true);
        }

        .hub-grid .hub-grid__child {
            padding: 0;
        }
    }

    .hub-grid .hub-grid__child {
        padding: 0.3em;
    }
}

.top-slots-hub {
    .hub-grid__col-2x {
        @media #{$small-only} {
            @include grid-column(12);

            padding: 0px;
        }

        @media #{$medium-up} {
            @include grid-column(6);

            padding: 0px;
        }

        @media #{$large-up} {
            @include grid-column(4);

            padding: 0px;

            // drop shadow and inner shadow
        }
    }

    .hub-grid__col {
        @include hide-for-small-only;

        // @include hide-for-medium-only;
   
    }

    .top-slots-hub__desktop {
        @include hide-for-small-only;

        @include hide-for-medium-only;
    }

    .top-slots-hub__mobile {
        @include hide-for-large-up;
    }
}