.switch-old-to-new-modal {
    @include grid-column(12);

    @include border-radius(4px);

    display: none !important;

    @media #{$large-up} {
        display: block !important;
    }

    background: #E7E3FE;
    padding: $site-margin * 3;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

    &.reveal-modal {
        max-width: 800px;
        overflow: visible;
    }

    .close-reveal-modal {
        cursor: pointer;
        font-size: 2.5rem;
        text-indent: 5000px;
        line-height: 1;
        position: absolute;
        top: -1.225rem;
        right: -1.375rem;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        padding-left: 11px;
        background: $white url(/_images/common/icons/login-close.svg) no-repeat center center !important;
        z-index: 3;
    }

    .header {
        @include grid-column(12);

        padding: 0;

        h1 {
            @include grid-column(12);

            padding: 0;
            margin: 0;
            font-family: $body-font-bold;
            font-size: 29px;
            color: $nav-active-color;
            letter-spacing: 1.01px;
        }
    }

    .info {
        @include grid-column(12);

        padding: 0;
        margin-top: $site-margin;

        ul {
            @include grid-column(6);

            padding: 0;
            padding-right: $site-margin;
            margin: 0;

            p {
                @include grid-column(12);

                padding: 0;
                color: $nav-active-color;

                /* Welcome to our fanta: */
                font-family: $body-font-regular;
                font-size: 15px;
                letter-spacing: 0.49px;
                line-height: 1.2;
            }

            li {
                @include grid-column(12);

                padding: 0;
                font-family: $body-font-regular;
                font-size: 15px;
                color: $ui-highlight-dark;
                letter-spacing: 0.49px;
                position: relative;
                list-style: none;
                padding-left: 40px;
                line-height: 1.2;
                margin-bottom: $site-margin;

                &:before {
                    content: ' ';
                    background: url("../_images/switch-old-to-new/check-icon.svg") no-repeat center center;
                    background-size: cover;
                    position: absolute;
                    left: 0;
                    top: 5px;
                    height: 20px;
                    width: 27px;
                }
            }
        }

        .luke {
            @include grid-column(6);

            padding: 0;
            text-align: center;

            span {
                @include grid-column(12);

                background: url("../_images/switch-old-to-new/luke-hands-up.png") no-repeat top center;
                background-size: 95%;
                width: 100%;
                height: 260px;
            }
        }
    }

    .bottom {
        h2 {
            @include grid-column(6);

            padding: 0;
            padding-right: $site-margin;
            font-family: $body-font-medium;
            font-size: 17px;
            color: $nav-active-color;
            letter-spacing: 0.56px;
            line-height: 22px;
        }

        .cta {
            @include grid-column(6);

            padding: 0;
            text-align: center;

            .stay {
                @include grid-column(12);

                font-family: $body-font-bold;
                font-size: 20px;
                color: $white;
                background-image: linear-gradient(-180deg, #FF92D9 0%, #F45DBF 42%, #ff00a8 100%);
                box-shadow: 0px 2px 0px 0px #C70064, inset 0px 1px 0px 0px #FFC5EA;
                border-radius: 4px;
                text-shadow: none;
                padding: 15px 10px;
                width: 80%;
                margin: 0 10%;
            }

            .switch {
                @include grid-column(12);

                padding: 0;
                margin: 0;
                margin-top: $site-margin;
                font-family: $body-font-regular;
                text-decoration: underline;
                text-shadow: none;
                font-size: 12px;
                color: #887AD9;
                letter-spacing: 0.39px;
                background: none !important;
                position: relative;
                height: auto;
                top: 0;
                right: 0;
            }
        }
    }
}