//single post main content

.content-test-wrap {
    @include grid-row;
}

.wrap-test-left {
    @include grid-column(8, $collapse: true);
    height: auto;
    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
    }
    .promo-test__wrapper {
        background-color: #f0f5f6;
        height: auto;
        margin-right: 10px;
    }
    .promo-test {
        @include grid-column(6, $collapse: true);
        margin-bottom: 10px;
        .promo__img {
            @include grid-column(6, $collapse: true);
            padding:0 0 10px 10px;
        }
        .promo__title {
            @include grid-column(12, $collapse: true);
            padding:5px 10px 0 10px;
            >h2 {
                @include grid-column(10, $collapse: true);
                font: bold em-calc(13px) "Helvetica Neue";
            }
            h3 {
                @include grid-column(2, $collapse: true);
            }
        }
        .promo__content {
            @include grid-column(6);
            padding-left: 10px;
           
        }
        .open-icon {
            @include grid-column(1, $float: right);
        }

        // Here we target only the first post
        &:first-child {
            @include grid-column(12, $collapse: true);
            margin-right: 10px;
            margin-bottom: 10px;
            height: auto;
            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
            }

            .promo__title {
                @include grid-column(6);
                float: right;
                padding:10px 10px 0 10px;
                h2 {
                    @include grid-column(10, $collapse: true);
                }
                h3 {
                    @include grid-column(2, $collapse: true);
                    font-style: italic;
                }
            }

            .promo__img {
                @include grid-column(6, $collapse: true);
                float: left;
                padding:10px 0 10px 10px;
            }
            
            .promo__content {
                @include grid-column(6);
                padding-left: 10px;
                padding-right:10px;
            }
            .open-icon {
                @include grid-column(1, $float: right);
            }
        }
    }
}

.wrap-test-right {
    @include grid-column(4, $collapse: true);
    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
    }
}