.green-cta {
	padding: 1em;
    width: 100%;
    display: block;
    text-align: center;
    color: $white;
    font-family: $ui-font-bold;
    font-size: 1em;
    @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.35));
    // @include border-radius(50px);
    background-color: $regalwins--cta-button-two;
    
    &:hover {
     background-image: none;
     background-color: transparent;
     background: $regalwins--cta-button-two;
    }
}