.red-cta{
    @include CTA-button(1em, 1em, 2px, $regalwins--cta-button-two, lighten($regalwins--cta-button-two,0%));
    color:white;
    width:100%;
    display:block;
    text-align: center;
    border-radius: 50px;
    font-size: 0.8em;
}