.favourite-game-widget {
    position: relative;
    height: 100%;
    width: 100%;
    border: 2px dotted $grey;
    
    .favourite-game-widget__bg {
        img {
            width: 100%;
        }
    }
    .favourite-game-widget__content {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: url("/_images/common/icons/star--off.svg") no-repeat;
        background: url("/_images/common/icons/star--off.svg") no-repeat;
        background-position: center 0.5em;
        background-size: 50%;
        color: white;
        text-align: center;
        padding-top: 55%;
    }
    .playimg {
        width: 80%;
    }
}