.game-seo-url {
    margin-top: 0px;
    .breadcrumbs__row {
        top: -7px;
    }
    .section .section__header {
        // margin-top: $site-margin * 2;
        // margin-bottom: $site-margin;
        margin: 0px;
        margin-top: 0px;
        h1 {
            height: 25px;
            background-color: $main-highlight-color;
            background-image: none;
            color: $white;
            font-family: $body-font-bold;
            font-size: 14px;
            margin-top: 0px;
            padding: 3px;
            padding-left: 7px;

            a{
                color: $white;
            }
            & span{
                float:right;
            }
        }
    }
    .two-columns-content-wrap__left {
        @include clearfix;
        height: auto;
        @include grid-column(9, $collapse: true);
        @include box;
        padding: 1px;
        &:last-child {
            border-right: none;
        }
        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }
        @media #{$medium-only} {
            @include grid-column(8, $collapse: true);
        }
    }
    .two-columns-content-wrap__right {
        @include clearfix;
        height: auto;
        @include grid-column(3, $collapse: false);
        padding-right: 0px;
        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }
        @media #{$medium-only} {
            @include grid-column(4, $collapse: false);
        }
        article {
            @include grid-column(12, $collapse: true);
        }
    }
    .two-columns-content-wrap__right > * {
        margin-bottom: $site-margin;
    }
}