.games-filter-menu {
    text-transform: uppercase;

    @include grid-column($collapse: true, $columns: 4, $float: right);

    width: 103px;

    @media #{$large-up} {
        top: 5px;
        right: -70px;
        position: absolute;
    }

    // @include CTA-button(4px, 0.7em, 2px, lighten(#232323, 2%), lighten(#1a1a1a, 2%));
    // @include box-shadow(0 0 3px 1px black);
    //TEXT STYLE
    color: lighten(#e90088, 5%);
    font-family: $body-font-demi;

    .game-filter-btn__wrapper {
        margin-top: 7px;
        line-height: 30px;
        text-align: center;
        color: white;
        font-size: 12px;
        margin-right: 0.5em;
        width: 105px;
        height: 29px;
        background-color: $main-highlight-color;

        @include border-radius(3px);

        // layer fill content
        @include box-shadow(0 2px 2px darken($main-highlight-color, 15%));

        // drop shadow

        @include background-image(linear-gradient(bottom, darken($main-highlight-color, 10%) 0%, lighten($main-highlight-color, 13%) 100%));

        // background-color: $brand-color;
        // gradient overlay
        @media #{$large-up} {
            margin-top: 0px;
            margin-right: 0px;
        }

        &:hover {
            @include box-shadow(0 1px 1px darken($main-highlight-color, 25%));
        }
    }

    .game-filter-btn {
        color: #fffec5;
        font-size: 0.8em;
        font-family: $body-font-bold;
        font-size: 13px;

        @include text-shadow(0 1px 1px #287b70);

        &:hover {
            cursor: pointer;
            color: $white !important;
        }
    }

    span {
        position: relative;
    }

    .nub {
        height: 9px;
        width: 15px;
        display: block;
        background: url("../_images/common/magic-menu-nub.png") no-repeat;
        text-align: center;
        position: absolute;
        left: 140px;
        top: -9px;
    }
}

.games-filter-menu.selected {
    &:hover {
        cursor: pointer;
    }

    a {
        color: $white;
    }
}

.games-filter-menu__popover-wrap {
    position: relative;
    margin-top: 5px;

    @media #{$large-up} {
        margin-top: 45px;
    }
}

.games-filter-menu__popover {
    position: absolute;
    display: none;
    z-index: 99999999;
    height: auto;
    width: 340px;
    background-color: #5AB6AB;

    @include border-radius(4px);

    // layer fill content
    @include box-shadow(0 2px 2px $black);
    // drop shadow
    // @include background-image(linear-gradient(bottom, #1f8577 0%, #5ba59b 100%));
    // gradient overlay
    @media #{$small-up} {
        top: 42px;
    }

    @media #{$medium-only} {
        left: -67px;
    }

    @media #{$large-up} {
        top: -34px;
        left: -97px;
    }

    left: -136px;

    @media #{$small-only} {}

    @include opacity(0.98);

    border-top: none;
    text-transform: uppercase;

    .tabs {
        @include grid-column(12, $collapse: true);
    }

    > dl > dd a, .tabs .tab-title a {
        background-color: #049E98;
        color: $white;
        display: block;

        &:hover {
            background-color: transparent;
            text-decoration: underline;
            display: block;
        }

        &:active {
            text-decoration: underline;
            display: block;
            background-color: #5AB6AB;
            color: $white;
        }
    }

    > dl > dd.active a, .tabs .tab-title.active a {
        background-color: #5AB6AB;
        color: $white;
        display: block;

        &:hover {
            text-decoration: none;
            display: block;
            color: white;
        }
    }

    > dl > dd {
        @include grid-column(3, $collapse: true);

        text-align: center;
        height: 44px;
        color: $white;

        &:active {
            padding-bottom: 4px;

            a {
                font-size: 0.8em;
            }
        }

        a {
            font-family: $body-font-bold;
            padding: 1px;
            height: 44px;

            @include vert-align(44px);

            font-size: 0.87em;
            display: block;

            &:hover {
                display: block;
                background-color: darken(#5ab6ab, 6%);
            }
        }
    }

    .tabs-content {
        @include grid-column(12, $collapse: true);

        margin-bottom: 0px;
        color: $white;

        .content {
            padding-bottom: 0.4em;
        }

        .content ul {
            padding-left: 0em;
            padding-right: 0;
            padding-top: 0em;
            padding-bottom: 0em;
            height: auto;

            @include clearfix;

            li {
                @include grid-column(4, $collapse: true);

                font-family: helvetica,arial,sans-serif;
                font-size: 0.9em;
                font-weight: bold;

                /* padding-right: 1em !important; */
                height: 44px;
                width: 33.33333%;
                float: left;
                margin-bottom: 1em;

                a {
                    font-family: $heading-font-bold;
                    display: block;
                    text-transform: uppercase;
                    border: 1px solid $white;
                    border-radius: 3px;
                    background-color: #049E98;
                    color: $white;
                    height: 44px !important;
                    line-height: 16px;
                    padding: 0.3em;
                    margin: 0.5em;
                    font-size: 0.9em;
                    padding-top: 5px;

                    @media #{$small-only} {
                        font-size: 0.8em;
                    }

                    &:hover, &:focus {
                        // border: 1px solid $white;
                        border-radius: 3px;
                        background-color: darken(#5ab6ab, 20%);
                        color: $white;
                    }
                }
            }
        }

        .content-active {
            padding-bottom: 0px;
        }
    }
}