// =============================================================================
// Game Details - SEO Page
// =============================================================================

.game-details-page {
    @include grid-column(12);

    padding-top: $site-margin;
    height: auto;
    font-family: $body-font-regular;
    background-color: $wrap-background-color;
    border: 1px solid #edebe8;
    margin-top: 21px;
    margin-bottom: $site-margin;

    @media #{$small-only} {
        @include grid-column(12, $collapse: true);

        padding-top: 0px;
        margin-top: 0px;
        border: none;
    }

    .game-detail-wrap__title-bar {
        background-color: transparent;
        color: $flame-pea;
        font-family: $body-font-extrabold;
        text-transform: uppercase;
        font-size: 24px;
        padding: 3px;
        background: #EEE9DD;
        height: 47px;
        margin-bottom: $site-margin;

        a {
            color: $flame-pea;
        }

        @media #{$small-only} {
            margin-top: $site-margin;
            margin-bottom: $site-margin;
        }
    }

    .editor-buttons {
        .options-menu {
            z-index: 8;
        }
    }
}

.game-detail-content {
    @include grid-column(12, $collapse: true);

    margin-bottom: $site-margin;
    height: auto;

    .game-detail-content__thumbnail-wrapper {
        @include grid-row;
    }

    .overlay-holder {
        @include grid-column(4, $collapse: true);

        padding-right: 7px;
        position: relative;

        .overlay {
            position: absolute;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            float: left;
            height: 100%;
            background-color: #000;
            opacity: 0.8;
            z-index: 9;
            text-align: center;

            &:hover {
                opacity: 1;
            }

            img {
                width: 90px;
                padding-top: 60px;

                @media #{$medium-only} {
                    padding-top: 50px;
                }

                @media #{$small-only} {
                    
                }
            }
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);

            padding-right: 0px;
            padding-top: 7px;
        }
    }

    .overlay-holder:first-child {
        @media #{$small-only} {
            display: none;
        }
    }

    .game-detail-content__thumbnails--third {
        padding-right: 0;

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);

            padding-right: $site-margin;
            padding-left: $site-margin;
        }
    }
}

.game-detail-content__details {
    @include grid-column(12, $collapse: true);

    padding-right: 0px;
    background-color: lighten($content-background-color, 2%);
    border: 1px solid $content-border-color;
    padding: 1em;
    margin-bottom: 0;

    @media #{$medium-only} {
        @include grid-column(12, $collapse: true);

        padding: 1em;
    }

    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
    }

    img {
        width: 100%;
        margin-bottom: $site-margin;
    }

    > article.login-box > h1 {
        font-size: 1em;
    }
}

.game-detail__wrap {
    @include grid-column(4, $collapse: true);

    line-height: 22px;
    margin-bottom: $site-margin;

    p {
        font-family: $body-font-regular;
        font-size: rem-calc(12px);
        color: #555;
        margin-bottom: 18px;
    }

    a {
        color: $brand-color;
    }

    @media #{$small-only} {
        @include grid-column(12, $collapse: true);

        margin-bottom: 0px;
        padding-left: $site-margin;
        padding-right: $site-margin;
    }
}

.game-detail-content__details__title {
    @include grid-column(12, $collapse: true);

    h3 {
        color: #555;
        font-family: $body-font-regular;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 0px;
        border-bottom: 1px solid $brand-color;
    }

    @media #{$small-only} {
        @include grid-column(12, $collapse: true);

        padding-left: $site-margin;
        padding-right: $site-margin;
    }
}

.game-detail-content__right__game-table {
    font-size: 15px;
    color: #555;

    ul {
        list-style: none !important;
        margin: 0  !important;
    }

    > li {
        font-size: rem-calc(12px);
        border-bottom: 1px solid $grey;
        height: auto;
        min-height: 40px;

        @media #{$medium-only} {
            @include grid-column(12, $collapse: true);
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);

            font-size: rem-calc(14px);
        }

        .game-detail-content__right__game-table__title {
            width: 95px;
            padding-right: $site-margin;
            display: inline-block;
            float: left;
            color: $brand-color;

            @media #{$small-only} {
                width: 30%;
            }
        }

        .game-detail-content__right__game-table__provider {
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 50%;
        }
    }

    @media #{$small-only} {
        @include grid-column(12, $collapse: true);

        padding: 0;
    }
}

.content-wrapper {
    .section, .games-list {
        margin: 0 auto;
    }
}

.games-details-content {
    .section, .games-list {
        margin: 0 auto !important;
        background-color: $wrap-background-color;
    }
}

.game-detail-content__aquisition__cta {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    .cta-login {
        @include grid-column(5, $float: left);

        width: 49%;
        margin-right: 10px;
        margin-top: 10px;
        background-color: #179a94;
        padding-top: 10px;
        padding-bottom: 10px;

        @media #{$small-only} {
            @include grid-column(5);
            margin-left: 15px;
        }

        a {
            color: #fff;
        }
    }

    .cta-join {
        @include grid-column(5, $float: right);

        width: 49%;
        margin-top: 10px;
        background-color: #FC6901;
        padding-top: 10px;
        padding-bottom: 10px;

        @media #{$small-only} {
            @include grid-column(5);
            float: right;
            margin-right: 15px;
        }

        a {
            color: #fff;
        }
    }
}