.game-review {
    font-size: 1rem;
    @include grid-column(12);
    background-color: $wrap-background-color;
    @include clearfix;
    margin-bottom: $site-margin;
    .game-review__content {
        background-color: lighten($content-background-color, 2%);
        border: 1px solid $content-border-color;
        padding: 1em;
    }
    .game-review__content__title {
        font-size: 1em;
        border-bottom: 1px solid #bb075c;
        padding-left: 0px;
        margin-bottom: $site-margin;
        > a {
            color: $flame-pea;
            font-family: $heading-font-bold;
            text-transform: uppercase;
            font-size: 18px;
        }
    }
    .game-review__content__image {
        padding: 0px;
        margin: 0px $site-margin $site-margin 0px;
        float: left;
        @media #{$small-only} {
            @include grid-column(12);
            margin-bottom: $site-margin;
            padding: 0px;
        }
    }
    .game-review__content__body {
        > p {
            font-size: 0.9em;
        }
        em {
            color: $main-highlight-color;
            font-family: $heading-font-bold;
            text-transform: uppercase;
            font-style: normal;
            
            font-size: 14px;
            span{
                text-decoration: none !important;
            }
        }
    }
    .game-review__publisher {
        font-size: 0.8em;
    }
}