.games-list {
    font-size: 1rem;
    padding: 0 $site-margin $site-margin $site-margin !important;
    margin: 0px !important;
    .section__header {
        margin-left: $grid-spacing;
        margin-right: $grid-spacing;
    }
    .section__title {
        margin-bottom: 7px !important;
        margin-top: 20px !important;
    }
    &.live-casino-list  {
        .section__title {
            width: 100% !important;
        }
    }
    margin-bottom: 7px;
    padding-bottom: 0px !important;
    @extend .section;
    .games-list__filter {
        float: left;
        @media #{$small-only} {
            @include grid-column(8);
            // padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(4);
            padding: 0px;
        }
        .games-list__filter__button {
            @include button($button-med, $primary-color, false, true, false, false);
            @include dropdown-button;
            @extend .expand;
        }
        .button {
            font-size: 0.8em;
        }
    }
    .games-list__search {
        float: left;
        @media #{$small-only} {
            display: none;
        }
        @media #{$medium-up} {
            @include grid-column(6);
        }
    }
    .games-list__search-wrapper {
        float: left;
        @include grid-column(12);
    }
    .games-list__search-wrapper__left {
        float: left;
        @include grid-column(8);
    }
    .games-list__search-wrapper__right {
        float: left;
        @include grid-column(4);
        > span {
            // @extend .postfix;
            @include button($button-med, $grey, $global-radius, false, false, false);
            @extend .secondary;
        }
    }
    .games-list__display-mode {
        float: left;
        @media #{$small-only} {
            padding-right: 0px;
            @include grid-column(4);
        }
        @media #{$medium-up} {
            @include grid-column(2);
        }
        > div {
            float: left;
            @include grid-column(6);
            padding: 0px;
            > a {
                @include button($button-med, $primary-color, false, true, false, false);
            }
        }
    }
    .games-list__grid {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        padding: 1px !important;
        margin-bottom: $site-margin;
    }
    .games-list__grid__child {
        padding: $grid-spacing !important;
        @media #{$small-only} {
            @include grid-column(6, $collapse: true);
            padding: 7px !important;
        }
        @media #{$medium-only} {
            @include grid-column(3, $collapse: true);
            padding: 7px !important;
        }
        @media #{$large-up} {
            @include grid-column(2, $collapse: true);
            width: 20%;
        }
    }
    .games-list__popular-games {
        .slick-slide {
            padding: 0.5em !important;
        }
    }
}

.home-games {
    padding-bottom: 14px !important;
    margin: 0px !important;
    margin-bottom: 34px;
    padding: 0px !important;
}

.ui-text-only-table {
    .sortable.hide-for-small-only {
        text-decoration: underline;
    }
    a {
        text-decoration: underline;
    }
}


.section {
    .games-list {
        .section__title {
            width: 100% !important;
        }
    }
    &__action {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: -3px;

        &__item {
            float: left;
            margin-right: 0;
        }

        &__viewall {
            display: block;
            margin: 0;
            margin-right: 5px;

            a {
                color: #5a566d !important;
                font-family: $heading-font-bold;
                font-size: 0.75rem;
                text-transform: uppercase;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__toggle {
            display: block;
            width: 20px;
            height: 20px;
            margin-top: 4px;
            opacity: 0.5;
            cursor: pointer;

            svg {
                fill: #5a566d;
            }

            &.toggle-grid-view {
                width: 16px;
                height: 16px;
                margin-top: 3px;
            }

            &:hover {
                opacity: 0.8;
            }

            &.active {
                opacity: 1;
                cursor: default;
            }

            @media #{$small-only} {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 641px) {
    .section {
        margin-top: -5px;

        &__action {
            padding-top: 3px;

            &__item {
                margin-right: 12px;
            }
        }
    }
}
