// ----------------------------- //
// Quick deposit variables       //
// ----------------------------- //

$qd-default-font: $body-font-regular;

$qd-container-color: $wrap-background-color;

$qd-header-color: #3fa99b;
$qd-header-border-top-color: #51b7aa;
$qd-header-border-bottom-color: $wrap-background-color;
$qd-header-font-color: white;

$qd-header-cardnumber-bg-color: #4eb9ab;
$qd-header-cardnumber-border-top-color: #58c2b4;
$qd-header-cardnumber-font-color: #fdfeff;

$qd-header-cardnumber-select-bg: #188375;

$qd-slider-limits-font-color: #303030;

$qd-slider-color: #5e3404;
$qd-slider-handle-color: #1b7fd8;

$bonus-text-background: #ebdec1;
$bonus-text-color: #303030;

$cta-button-color: #6cb436;

$promoinfo-bg-color: #3fa99b;
$promoinfo-font-color: #ffffff;

// ----------------------------- //
// Quick deposit module          //
// ----------------------------- //
.quick-deposit-container {
    @include grid-row;

    width: 208px !important;
    // min-height: 200px;
    cursor: move;

    //@include center(208px, 255px);
    position: absolute;
    overflow: visible;
    font-family: $qd-default-font;
    background-color: $qd-container-color;
    border-radius: 6px;
    text-align: center;
    top: 50%;
    left: 50%;
    z-index: 9999999999;
    padding-bottom: .5em;

    &.inside {
        top: 0px;
        left: 0px;
    }

    .quick-deposit-container__loader {
        @include center(45px, 45px);

        position: relative;
        z-index: 999;
        top: 100px;
    }

    .quick-deposit-container__close {
        width: 45px;
        height: 45px;
        position: absolute;
        right: 0;
        top: 0;
    }

    //    Success table
    table.responsive {
        margin: 0 auto;
        margin-top: 5px;
        width: 90% !important;
        td {
            font-weight: normal;
            padding: .3em;
        }
    }
    h1 {
        font-size: 2em;
        font-family: $qd-default-font;
        margin-top: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
     &__close-link {
          display: block;
     }
}

.deposit-successful {
    font-size: 1.7em;
    line-height: 1em;
}

.select-card {
    width: 144px;
    height: 28px;
    margin-bottom: 2px;
    overflow: hidden;
    background: url("../_images/common/icons/arrow-down.png") no-repeat right $qd-header-cardnumber-select-bg;
    background-position: 95% 45%;
    border-radius: 4px;
    float: left;
    select {
        background: transparent;
        padding: 5px;
        font-size: .8em;
        line-height: 1;
        border: 0;
        border-radius: 0;
        height: 28px;
        color: #fff;
        -webkit-appearance: none;
        outline: none;
        //Mozilla fix
        width: 110%;
        option {
            color: #fff;
            background-color: $qd-header-cardnumber-select-bg;
            padding: 5px 0;
        }
    }
}

.quick-deposit-container_error {
    padding: 2px 8px;
    line-height: 1.2em;
    margin-bottom: .5em;
}

.quick-deposit-container__header {
    @include grid-column(12, $collapse: true);
    background-color: $qd-header-color;
    border-bottom: 1px solid $qd-header-border-bottom-color;
    border-top: 1px solid $qd-header-border-top-color;
    color: $qd-header-font-color;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    span.error {
        position: relative;
        margin-bottom: 0 !important;
    }
    .quick-deposit-container__header__icons {
        @include grid-column(10, $collapse: true);
        padding: 2px 10px;
        padding-top: 5px;
        padding-left: 34px;
        font-size: 1.4em;
        //padding-top: 6px;
        img {
            width: auto;
            height: auto;
            width: initial;
            height: initial;
        }
    }
    //    .quick-deposit-container__header__cvn {
    //        @include grid-column(1, $collapse: true);
    //        padding-top: 4px;
    //        input {
    //            border-radius: 4px;
    //            border: none;
    //            height: 30px;
    //            font-size: .8em;
    //        }
    //    }
    .quick-deposit-container__header__close {
        @include grid-column(2, $collapse: true);
        padding-right: 2px;
        padding-top: 2px;
        img {
            height: auto;
        }
    }
    .quick-deposit-container__header__card {
        @include grid-column(12, $collapse: true);
        background-color: $qd-header-cardnumber-bg-color;
        border-top: 1px solid $qd-header-cardnumber-border-top-color;
        padding: 2px 10px;
        font-size: .9em;
        line-height: 2em;
        color: $qd-header-cardnumber-font-color;
        span {
            float: left;
            //margin-left: 10px;

        }
        input {
            border-radius: 4px;
            width: 36px;
            border: none;
            height: 20px;
            font-size: .8rem;
            float: right;
            margin-top: 3px;
            //background-color: $qd-header-cardnumber-bg-color;
            text-align: center;
            margin-bottom: 0;
            padding: 0;
        }
    }
}

.error-cvn {
    //@include grid-column(3, $collapse: true);
    float: none;
    display: inline-block;
    background-color: red;
    padding: 0 5px;
    margin: 2px 0;
}

.quick-deposit-container__slider {
    @include grid-column(12, $collapse: true);
    .quick-deposit-container__slider__limits {
        @include grid-column(12, $collapse: true);
        height: 20px;
        padding: 5px 10px;
        color: $qd-slider-limits-font-color;
        .qd-range-slider__limit {
            @include grid-column(6, $collapse: true);
            font-size: 0.9em;
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
        }
    }
    .qd-range-slider__wrapper {
        padding: 30px;
        padding-top: 0;
        height: 40px;
        .ui-widget-content {
            background: none;
        }
        .range-slider__limit {
            text-align: initial;
            font-size: 1.3em;
            line-height: 3em;
        }
        .range-slider__slider {
            background: none;
            border-radius: 50px;
            @include grid-column(12, $collapse: true);
            .ui-slider-horizontal {
                height: .5em;
            }
            #ui-withdrawal-slider {
                background-color: $qd-slider-color;
                .ui-slider-handle {
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    @include border-radius(30px);
                    background: none;
                    background-color: $qd-slider-handle-color;
                    box-shadow: none;
                    border: none;
                    outline: none;
                }
            }
        }
    }
}

.quick-deposit-container__bonustext {
    @include grid-column(10, $collapse: true);
    float: none;
    display: inline-block;

    .tcs-text {
        a {
                text-decoration:underline !important;
            }
    }

    
    .quick-deposit-container__bonustext__container {
        @include grid-column(12, $collapse: true, $center: true);
        background-color: $bonus-text-background;
        border-radius: 4px;
        //padding-top: 10px;
        margin-top: 10px;
        span {
            font-size: .9em;
            padding-left: 5px;
            font-family: $qd-default-font;
            color: $bonus-text-color;
        }
        div {
            height: 24px;
            text-align: left;
            margin-left: 10px;
        }
    }
}

.quick-deposit-container__buttons {
    @include grid-column(10, $collapse: true);
    float: none;
    display: inline-block;
    button {
        outline: none;
        font-weight: bold;
        //margin-top: 10px;
        margin-bottom: 10px;
        background-color: $cta-button-color;
        font-smoothing: antialiased;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-top: 1px solid rgba(0, 0, 0, 0.001);
        @include box-shadow(0 0 10px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(255, 255, 255, 0.1));
        border-radius: 4px;
        padding-top: 0px;
        padding-bottom: 4px;
        color: white;
        font-family: $qd-default-font;
        font-size: rem-calc(20px);
        line-height: 1.2em;
        float: none;
        text-align: center;
        cursor: pointer;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    }
    .quick-deposit-container__buttons__promoinfo {
        font-size: .9em;
        line-height: 1.2em;
        margin-bottom: 10px;
        font-weight: bold;
        background-color: $promoinfo-bg-color;
        border-radius: 4px;
        padding: 5px;
        color: $promoinfo-font-color;

        &:empty {
            padding: 0;
        }
    }
}

.cancel-button {
    // margin-top: 10px;
    background-color: $cta-button-color;
    font-smoothing: antialiased;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.001);
    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.18), inset 0px -3px 0px rgba(0, 0, 0, 0.35), inset 0px 14px 14px rgba(255, 255, 255, 0.1));
    border-radius: 4px;
    padding-top: 10px;
    color: white;
    font-family: $qd-default-font;
    font-size: rem-calc(24px);
    float: none;
    text-align: center;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    display: inline-block;
    padding: .25em 1em;
    &:hover {
        color: transparentize($white, .1);

    }
}
