.archive-content {
    @include grid-column($collapse: true, $columns: 12);
    margin-top: $site-margin;
    margin-bottom: $site-margin *2;
    .archive-content__box {
        @include grid-column($collapse: true, $columns: 6);
        height: 240px;
        padding-right: $site-margin;
        margin-bottom: $site-margin;

        @media #{$small-only} {
            @include grid-column($collapse: true, $columns: 12);
            margin-bottom: $site-margin;
        }

        @media #{$medium-only} {
            @include grid-column($collapse: true, $columns: 5);
            margin-bottom: $site-margin;
        }
    }
    
    @media #{$medium-only} {
        .archive-left {
            float: left;
            margin-left: 45px;
        }

        .archive-right {
            float: right;
            margin-right: 45px;
        }
    }

    .archive-content__box__content {
        height: 240px;
        background: url("../_images/placeholders/archive_graphic_state1.svg");
        background-size: 25%;
        background-repeat: no-repeat; 
        background-position: center 40px;
        background-color: $white;
        border: 1px solid darken($white,10%);

        @media #{$medium-only} {
            background-size: 26%;
        }

        @media #{$small-only} {
            background-size: 35%;
            margin-left: 20px;
            margin-right: 20px;
        }

        h4 {
            color: black;
            text-align: center;
            margin-top: 190px;
            font-family: "oswald_regularregular", Helvetica, Arial, Verdana, sans-serif;
            font-size: 20px;
            font-weight: bold;
        }
        @media #{$medium-only} {
            h4 {
                font-size: 18px;
                margin-top: 160px;
                line-height: 22px;
            }
        }

        .archive-content__box__content__graphic {
            text-align: center;
            display: block;
            img {
                height: 100px;
                width: 100%;
                max-width: 80px;
            }
            @media #{$medium-only} {
                img {
                    height: 100px;
                    width: 100%;
                    max-width: 100px;
                }
            }
            @media #{$small-only} {
                img {
                    height: 30px;
                    width: 100%;
                    max-width: 30px;
                }
            }
        }
    }
}

.archive-content__box-last {
    @include grid-column($collapse: true, $columns: 4);
    float: right;
    height: 240px;
    background-color: $white;

    &:hover {
        background-color: #2b9d8e;
    }

    @media #{$small-only} {
        @include grid-column($collapse: true, $columns: 12);
        margin-bottom: $site-margin;
        h4 {
            margin-top: 200px;
        }
    }
}