#login-modal {

    &.reveal-modal {
        background: #582B80;
        margin: 0;
        transform: none;
        max-width: 500px;
overflow: hidden;
        -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-70deg);
    -moz-transform: rotateX(-70deg);
    -ms-transform: rotateX(-70deg);
    transform: rotateX(-70deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 300ms 0ms;
    opacity: 0;

        @media #{$small-only} {
            @include grid-column(12);

            height: 100% !important;
            width: 100% !important;
            min-height: 100% !important;
            max-width: 100%;
            transform: none !important;
            top: 0 !important;
            position: absolute;
            left: 0 !important;
            margin: 0 auto !important;
            

            
        -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-70deg);
    -moz-transform: rotateX(-70deg);
    -ms-transform: rotateX(-70deg);
    transform: rotateX(-70deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 300ms 0ms;
    opacity: 0;
        }
    }
}

.login-box {
    margin-top: 0 !important;
    @media #{$medium-up} {
        @include grid-column(12);

        font-size: 1rem;
        padding-right:10px;
        padding-left:20px;

        > h1 {
            font-family: $ui-font-semibold;
            font-size: 1.4em;
            text-transform: uppercase;
            border-bottom: 1px $brand-color solid;
            margin-bottom: 24px;
        }
    }

    @media #{$small-only} {
        @include grid-column(12);
        
        padding: 0px;
        font-size: 1rem;

        > h1 {
            font-size: 1.3em;
            text-transform: uppercase;
        }
    }
}

.login-box__form-wrapper {}

.login-box__login {
    @extend .button !optional;

    @include grid-column(12);

    @include border-radius(3px);

    background-color: $brand-color;
}

.login-box__register {
    @extend .button !optional;

    @extend .success !optional;

    @include grid-column(12);

    @include border-radius(3px);
}

.login-box__register-link {
    text-align: center;

    @media #{$small-only} {
        font-size: 0.8em;
    }
}

.login-box__input-wrapper {
    position: relative;
}

.login-box__show-password {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 11px;
    text-decoration: underline !important;
    text-transform: uppercase;
    display: block;
    height: auto;
    padding: 0px 6px;
    line-height: 22px;
    background: lighten($grey, 20%);
    text-align: center;

    a {
        font-weight: bold;
        color: white;
    }

    &:hover {
        opacity: 0.5;
    }
}

.login-box__forgot-password {
    position: relative;
    font-size: 12px;
    text-decoration: underline !important;
    display: block;
    text-align: center;
    // margin-top: 1em;
    float: left;
    width: 100%;
}

// login box in-page
.login-box--in-page {
    background-color: $grey;
    font-size: 1rem;

    > h1 {
        font-size: 1em;
    }

    .forgot-password {
        a {
            color: white;
            text-decoration: underline;
        }

        margin-bottom: 0.5em;
    }

    @include grid-column(12);

    @media #{$small-only} {
        padding: 2em !important;
    }
}

.login-box--in-page__forgot-password {
    a {
        color: white;
        margin-bottom: 1em;
    }
}

.login-box--in-page__login {
    @extend .button;

    @include grid-column(12);
}

.login-box--in-page__register {
    @extend .button !optional;

    @extend success !optional;

    @include grid-column(12);
}

.login-box__login {
    border-radius: 50px;
    text-transform: uppercase;
    font-family: $ui-font-bold;
    font-size: 0.8em;

    @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.35));
}

.login-terms {
    float: left;
    clear: both;

    .text-partial {
        border: none;
    }

    .text-partial-content {
        padding-left: 0px;

        ol {
            font-size: 0.8rem;
        }
    }

    .accordion-navigation > a {
        background: #EFEFEF;
        color: #222222;
        display: block;
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 1rem;
        padding: 1rem;
    }

    h1 {
        display: none;
    }
}