/**
*   Parts of styling taken from _games-filter-menu.css
*/

.filter-tabs {
    &__heading {
        display: table;
        table-layout: fixed;
        margin: 0;
        width: 100%;

        &__item {
            display: table-cell;
            height: 44px;
            @include vert-align(44px);
            margin: 0;
            border-left: 1px darken(#00a1bd, 10%) solid;
            background-color: $base-blue;
            color: $white;
            text-align: center;

            &:hover {
                background-color: darken($ctacolor, 10%);
                color: $white;
            }

            &.active {
                background-image: none;
                background-color: #23BABE;
                color: $white;
            }
        }

        &__link {
            padding-left: 0 !important;
            text-shadow: none;
            text-decoration: none;

            font-family: $body-font-bold !important;
            color: $white !important;
            font-size: 0.8em;

            &:hover,
            &:active {
                color: $white;
                text-decoration: none;
            }
        }
    }

  &__content {
    background: #003E70;
    padding: 20px 0;

    &__item {
      display: none;

      &:after {
          content: '';
          display: table;
          clear: both;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            font-size: 0.9em;
            float: left;
            width: 33.3333333333%;
            height: 44px;
            margin: 0 0 8px;
            padding: 0 10px;
        }

        a {
          padding: 0 !important;
        }
      }

      &.active {
        display: block;
      }
    }
  }
}

/* Override */
.filter-tabs .filter-tabs__content__link {
    background-color: $ctacolor;
    border: 1px solid $white;
    height: 44px !important;
    color: $white;
    font-family: $body-font-bold;
    font-size: 0.7em;
    line-height: 13px;
    text-transform: uppercase;
    text-shadow: none;
    text-align: center;
    padding: 0 8px;
    display: block;
    position: relative;
    overflow: hidden;

    &:hover,
    &:focus {
        background-color: darken($ctacolor, 5%);
    }

    span {
        display: block;
        width: 100%;
        position: absolute;
        top: 47%;
        transform: translateY(-50%);
    }
}