.bingo-room__closed {
    opacity: .5;
}

.bingo-room__closed-wrapper {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 0;
    border-color: #DC3940 transparent transparent transparent;
    z-index: 24;
    @media #{$small-only} {
        border-width: 50px 50px 0 0;
    }
}

.bingo-room__closed-message {
    position: absolute;
    text-align: center;
    transform: rotate(-43deg);
    text-shadow: 0px 2px 0px rgba(44, 22, 1, 0.41);
    margin-top: 7%;
    margin-left: 1%;
    font-size: 1rem;
    z-index: 25;
    font-family: $body-font-bold;
    color: $white;
    @media #{$small-only} {
        font-size: .6rem;
        margin-top: 4%;
        margin-left: 0;
    }
    //    @include background-image(linear-gradient(left top, rgba(252, 252, 252, 1) 0%, rgba(250, 247, 247, 1) 100%));
    //    @include box-shadow(0px 3px 0px 0px rgba(0, 0, 0, 0.4));
    //    .bingo-room__closed-message__cat-button {
    //        border: 1px solid #2fa427;
    //        @include background-image(linear-gradient(top, rgba(49, 194, 49, 1) 0%, rgba(2, 144, 2, 1) 100%));
    //        width: 70%;
    //        padding: 2em 1em;
    //    }
}

.bingo-icon {
    position: relative;
    width: 100%;
    cursor: pointer;
    padding: em-calc(10px);
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px 1px rgba(143, 140, 143, 0.89);
    -moz-box-shadow: 0px 2px 4px 1px rgba(143, 140, 143, 0.89);
    box-shadow: 0px 2px 4px 1px rgba(143, 140, 143, 0.49);
    .bingo-icon__image {
        img {
            width: 100%;
        }
    }
    .bingo-icon__content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        padding: em-calc(10px);
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-bottom: 0.7em;
        .bingo-icon__content__container {
            font-family: $body-font-bold;
            text-align: center;
            //background: url('../_images/common/black-70-opacity.png');
            background-color: $white;
            overflow: none;
            height: 25%;
            display: table;
            width: 100%;
            .icons-clock {
                display: table-cell;
                text-align: left;
                vertical-align: middle;
                width: 10%;
                background-size: 100%;
                z-index: 24;
            }
            .bingo-icon__content__container__time {
                color: $brand-color;
                display: table-cell;
                padding-left: 0.4em;
                text-align: left;
                vertical-align: middle;
                width: 25%;
                line-height: 1em;
                @media #{$large-up} {
                    width: 25%;
                    font-size: 1.2em;
                }
                @media #{$medium-only} {
                    width: 25%;
                    font-size: 1.3em;
                }
                @media #{$small-only} {
                    width: 25%;
                    font-size: 1em;
                }
                &.short {
                    @media #{$large-up} {
                        width: 25%;
                        font-size: 1.2em;
                    }
                    @media #{$medium-only} {
                        width: 25%;
                        font-size: 1.3em;
                    }
                    @media #{$small-only} {
                        width: 25%;
                        font-size: .9em;
                    }
                }
                &.long {
                    @media #{$large-up} {
                        width: 25%;
                        font-size: .8em;
                    }
                    @media #{$medium-only} {
                        width: 25%;
                        font-size: 0.8em;
                    }
                    @media #{$medium-only} and (orientation: portrait) {
                        font-size: .8em;
                    }
                    @media #{$small-only} {
                        width: 35%;
                        font-size: .7em;
                    }
                }
            }
            .bingo-icon__content__container__jackpot {
                color: $grey-dark;
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                width: 50%;
                @media #{$large-up} {
                    width: 50%;
                    font-size: 1.2em;
                }
                @media #{$medium-only} {
                    width: 50%;
                    font-size: 1.2em;
                }
                @media #{$small-only} {
                    width: 50%;
                    font-size: .9em;
                    line-height: .9em;
                }
            }
            .bingo-icon__content__container__cardprice {
                color: $brand-color-light;
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                width: 25%;
                @media #{$large-up} {
                    width: 25%;
                    font-size: 1.2em;
                }
                @media #{$medium-only} {
                    width: 25%;
                    font-size: 1.2em;
                }
                @media #{$small-only} {
                    width: 25%;
                    font-size: .9em;
                }
            }
            .icons-type {
                &:nth-child(2) {
                    right: 70px;
                    img {
                        width: 16px;
                        margin-top: -4px;
                    }
                }
                position: absolute;
                width: 24px;
                height: 24px;
                top: 5px;
                right: 35px;
                padding: 2px;
                font-size: .8em;
                background-size: 100%;
                color: $white;
                z-index: 24;
                background-color: rgba(0, 0, 0, 0.8);
                border-radius: 50px;
            }
            .icons-info {
                position: absolute;
                width: 24px;
                height: 24px;
                top: 5px;
                right: 5px;
                background-size: 100%;
                z-index: 24;
            }
        }
        .play-icon {
            margin-top: 0%;
            height: 80%;
            text-align: center;
            img {
                width: 48px;
                height: 48px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 19%;
            }
        }
    }
    .bingo-icon__play-bar {
        position: absolute;
        z-index: 888;
        bottom: 0px;
        @include grid-column(12);
        background-color: $black;
        height: 15%;
        .bingo-icon__play-bar__title-wrapper {
            @include grid-column(10, $collapse: true);
            display: table;
            height: 100%;
        }
        h1 {
            display: table-cell;
            vertical-align: middle;
            font-size: 0.8em;
            padding-top: 0px;
            color: $white;
            white-space: nowrap;
            overflow: scroll;
            a {
                color: $white;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        .bingo-icon__play-bar__fav-bar {
            height: 100%;
            img {
                margin-top: 0;
                padding-top: 0px;
            }
            @include grid-column(1, $collapse: true, $float: right);
        }
    }
    .bingo-icon__favourite {
        position: absolute;
        top: 0%;
        right: 1px;
        width: 40px;
        height: 41px;
        z-index: 24;
        opacity: 20%;
        .bingo-icon__favourite__icon {
            width: 100%;
            height: 100%;
        }
    }
    .bingo-icon__favourite__content {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .bingo-icon__favourite__content__description {
        width: 85%;
        text-align: left;
        float: left;
        height: 100%;
        padding-left: 0.5em;
        h1 {
            font-size: 1em;
            color: $white;
        }
        > a {
            color: $white;
            padding: 0px 0em 0px 0.2px;
            margin: 0px;
            text-decoration: none;
            font-size: 0.8em;
        }
        @media #{$small-only} {
            padding-top: 0.2em;
        }
        @media #{$medium-up} {
            padding-top: 0.2em;
        }
    }
    .bingo-icon__favourite__content__img {
        float: left;
        width: 20%;
        > img {
            width: 48px;
            height: 48px;
            margin-top: 0.2em;
        }
    }
    .bingo-icon__overlay {
        @include vert-mid-align;
        img {
            width: 20%;
        }
        background-color: black;
        opacity: 0;
        height: 80%;
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: 23;
        text-align: center;
        a, a:hover {
            color: $black;
            letter-spacing: 0px;
            padding: 0px;
            opacity: 1;
        }
        &:hover {
            background-image: url("../_images/common/bg-pattern.jpg");
            background-repeat: repeat;
            opacity: 0.75;
        }
    }
}

.hub-grid__col {
    .bingo-icon__content__container__time {
        @media #{$medium-up} {
            font-size: 0.7em !important;
        }
    }
}