.bingo-schedule-mobile {
    @include grid-column(12);

    padding: 0 !important;
    width: 100% !important;
    margin: $site-margin / 2;
    margin-bottom: 0;
    overflow: hidden !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch !important;

    @media #{$medium-only} {
        width: 100% !important;
    }

    @media #{$large-only} {
        width: 100% !important;
    }

    ul {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow: initial !important;

        li {
            @include border-radius(4px);

            max-width: 140px;
            max-height: 104px;
            height: auto;
            background: #7D50E8;
            margin-right: 5px !important;
            padding: 0;
            font-family: $mobile-font-bold;
            font-size: 0.82rem !important;
            display: inline-block;
            float: none !important;

            &:last-child {
                margin-right: 0 !important;
            }

            .name {
                @include grid-column(12);

                padding: 3px 0px 1px 6px;
                text-transform: uppercase;
                background: $nav-active-color;
                text-align: left;
                font-size: 11px;
                height: 20px;
            }

            .price {
                @include grid-column(6);

                padding: 5px 0 0;
                padding-left: 25px;
                color: $ui-bingo-schedule;
                background: url(../_images/common/mobile-bingo-schedule/ticket.svg) no-repeat left center;
                background-size: 16px 16px;
                background-position: 5px 5px;
                border-bottom: 1px solid #8C65EA;
                border-right: 1px solid #8C65EA;
            }

            .room-name {
                @include grid-column(6);

                padding: 5px 0 0;
                padding-left: 25px;
                color: $ui-bingo-schedule;
                background: url(../_images/common/mobile-bingo-schedule/bingo-ball.svg) no-repeat left center;
                background-size: 16px;
                background-position: 5px 4px;
                border-bottom: 1px solid #8C65EA;
            }

            .jackpot {
                @include grid-column(12);

                padding: 5px 0 0;
                padding-left: 25px;
                margin-bottom: 5px;
                color: $ui-bingo-schedule;
                background: url(../_images/common/mobile-bingo-schedule/jackpot.svg) no-repeat left center;
                background-size: 16px 16px;
                background-position: 5px 5px;
                border-bottom: 1px solid #8C65EA;
                max-width: 130px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .starts {
                @include grid-column(6);

                width: 80px !important;
                padding: 2px 0;
                padding-left: 25px;
                color: $ui-bingo-schedule;
                background: url(../_images/common/mobile-bingo-schedule/clock.svg) no-repeat left center;
                background-size: 16px 16px;
                background-position: 5px 1px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .cta-play {
                @include grid-column(6);

                float: right;
                width: 36%;
                margin-right: 4px;
                line-height: 1.5;
                padding: 0;
                font-size: 13px;
                text-shadow: none;
            }

            &.funded {
                opacity: 0.5;

                .name, .price, .room-name, .jackpot, .starts {
                    color: $white;
                }

                .cta-play {
                    background: lighten($nav-active-color, 15%);
                    box-shadow: none;
                    color: $white;
                }
            }
        }
    }
}