.error-page {
    @include grid-column(12, $collapse: true);
    @include clearfix;
    font-size: 1rem;
    text-align: center;
    @include be-box;
    padding: 0px;
    background-color: #effafb;
    margin-top: 20px;

    .error-page__image {
        @include grid-column(6, $collapse: true);
        // background: url("../_images/common/error-404.png") no-repeat;
        // background-size: 100% auto;
        // height: 395px;
        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
            // background-size: 100% auto;
        }
        @media #{$medium-only} {
            @include grid-column(6, $collapse: true);
            // background-size: 100% auto;
        }
    }
    .error-page__text {
        @include grid-column(6, $collapse: true);
        font-family: $title1-font;
        padding: 0.8em;
        text-align: center;
        padding-right: 30px;
        padding-top:40px;
        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }
        > .registercta {
            @include grid-column(3, $collapse: true);
            @media #{$small-only} {
                @include grid-column(3, $collapse: true);
            }
        }
        .error-page__error {
            color: $base-light-blue;
            font-family: $title1-font;
            @media #{$small-only} {
                font-size: 3em;
            }
            @media #{$medium-only} {
                font-size: 4em;
            }
            @media #{$large-up} {
                font-size: 6em;
            }
        }
        .error-page__msg {
            font-family: $title1-font;
            color: $base-blue;
            @media #{$small-only} {
                font-size: 1.5em;
            }
            @media #{$medium-only} {
                font-size: 1em;
            }
        }
        .error-page__suggestion {
            @include grid-column(6, $collapse: true, $center: true); 
            font-size: 1.3em;
            text-align: center;
            font-family: $title1-font;
            color: $base-light-blue;
            a {
                text-decoration: none;
            }
        }
        p {
            line-height: 100%;
        }
    }
}