// First page visit loader with full page background

.loading-first {
    padding-top: 20%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #65C5CB;
    text-align: center;
    background: -webkit-linear-gradient(45deg, hsla(33, 100%, 58%, 1) 0%, hsla(33, 100%, 58%, 0) 70%), -webkit-linear-gradient(315deg, hsla(61, 100%, 69%, 1) 10%, hsla(61, 100%, 69%, 0) 80%), -webkit-linear-gradient(225deg, hsla(44, 90%, 56%, 1) 10%, hsla(44, 90%, 56%, 0) 80%), -webkit-linear-gradient(135deg, hsla(338, 100%, 100%, 1) 100%, hsla(338, 100%, 100%, 0) 70%);
    background: linear-gradient(45deg, hsla(33, 100%, 58%, 1) 0%, hsla(33, 100%, 58%, 0) 70%), linear-gradient(135deg, hsla(61, 100%, 69%, 1) 10%, hsla(61, 100%, 69%, 0) 80%), linear-gradient(225deg, hsla(44, 90%, 56%, 1) 10%, hsla(44, 90%, 56%, 0) 80%), linear-gradient(315deg, hsla(338, 100%, 100%, 1) 100%, hsla(338, 100%, 100%, 0) 70%);
    .spinner {
        margin-top: 40px;
    }
}

// secondary loader without full page background

.loading {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 75px;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 999999;
    @include border-radius(10px);
    @include vert-align(50px);
    text-align: center;
    background-color: #000;
    opacity: 0.7;
    padding: 10px;
    height: 75px !important;
}