.section {
    @include grid-column(12, $collapse: true);
    padding-top: 0;

    &.cashier .section__title{
        padding-left: $site-margin;
            font-size: 1.2em;
    }
    .section__title {
        @include grid-column(12, $collapse: true);
        border-bottom: 1px dotted $yellow-dark;
        padding-left: 0px;
        float: left;
        font-size: 1.4em;
        > a {
            color: $base-blue;
            text-transform: uppercase;
        }
        @media #{$medium-only} {
            width: 100%;
            font-size: 2em;
            > a {
                font-size: 0.8em;
            }
        }
        @media #{$small-only} {
            font-size: 1.9em;
            > a {
                font-size: 0.8em;
            }
        }
    }
    .section__subtitle {
        @include grid-column($collapse: true, $columns: 12);
        float: left;
        padding: 10px;
        font-size: 1.5em;
        color: $base-light-blue;
        font-family: $title-section !important;
        @media #{$small-only} {
            @include grid-column($collapse: true, $columns: 12);
            padding-left: 10px;
            padding-right: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            border: none;
            background-color: $white;
        }
        @media #{$medium-only} {
            padding-left: 10px;
        }
    }
    &.cashier-wrapper {
        position: relative;
        .section-left__title {
            @media #{$small-up} {
                display: block !important;
            }
        }
        .section-left__title {
            h4:after {
                border-bottom: none;
            }
        }
    }
}

// Big Section Title separating inside sections
.section-full-width__title {
    @include grid-column(12, $collapse: true);
    font-family: $title-section !important;
    @media #{$large-up} {
        width: 100%;
    }
}

.section-full-width__title h4:before {
    background: none repeat scroll 0 0 $base-red;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 1;
    @media #{$small-only} {
        top: 15px;
    }
}

.section-full-width__title h4:after {
    background: none repeat scroll 0 0 $base-red;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 15px;
    width: 100%;
    z-index: 1;
    @media #{$small-only} {
        top: 30px;
    }
}

.section-full-width__title h4 {
    font-size: 1.4em;
    font-weight: normal;
    margin-bottom: $site-spacing;
    position: relative;
    text-align: center;
    @media #{$small-only} {
        font-size: 0.7em;
    }
}

.section-full-width__title h4 span {
    position: relative;
    z-index: 2;
    padding: 0px 30px;
    background: none repeat scroll 0% 0% #FDF7E7;
    @media #{$medium-only} {
        padding: 10px 30px;
    }
    @media #{$small-only} {
        padding: 5px 15px;
    }
}

// Big Section Title FOR AQUISTION TEXT
.section-full-width__title__aquisition {
    @include grid-column(12, $collapse: true);
    font-family: $title-section !important;
    @media #{$large-up} {
        width: 100%;
    }
}

.section-full-width__title__aquisition h1:before {
    background: none repeat scroll 0 0 $base-red;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 1;
    @media #{$small-only} {
        top: 10px;
    }
}

.section-full-width__title__aquisition h1:after {
    background: none repeat scroll 0 0 $base-red;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 35px;
    width: 100%;
    z-index: 1;
    @media #{$small-only} {
        top: 20px;
    }
}

.section-full-width__title__aquisition h1 {
    font-size: 3em;
    font-weight: normal;
    margin-bottom: $site-spacing;
    position: relative;
    text-align: center;
    @media #{$medium-only} {
        font-size: 2em;
        line-height: 1.9;
    }
    @media #{$small-only} {
        font-size: 1.3em;
        line-height: 2;
    }
}

.section-full-width__title__aquisition h1 span {
    position: relative;
    z-index: 2;
    padding: 0px 30px;
    background: none repeat scroll 0% 0% #FEF3D3;
    @media #{$medium-only} {
        padding: 10px 30px;
    }
    @media #{$small-only} {
        padding: 13px 15px;
    }
}

// Main Section Title with dotted line

.section-left__title {
    //@extend .show-for-large-up;
    @include grid-column(12, $collapse: true);
    font-family: $title-section !important;
    text-transform: capitalize !important;
    width: 100%;
}

.section-left__title h4:after {
    // background: none repeat scroll 0 0 #f66b34;
    border-bottom: 1px dashed #f66b34;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 14px;
    width: 100%;
    z-index: 1;
}

.section-left__title h4 {
    font-size: 1.3em;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    line-height: 1.4;
    color: $main-highlight-color;
    margin-left: 10px;
}

.section-left__title h4 span {
    position: relative;
    z-index: 2;
    padding: 0px 15px;
    background: none repeat scroll 0% 0% #FDF7E7;
}

// Main Section Title with dotted line for COMMUNITY PAGE

.section-left__title__community {
    @include grid-column(12, $collapse: true);
    font-family: $title-section !important;
    text-transform: capitalize !important;
    width: 100%;
}

.section-left__title__community h4:after {
    // background: none repeat scroll 0 0 #f66b34;
    border-bottom: 1px dashed #f66b34;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 16px;
    width: 98%;
    z-index: 1;
}

.section-left__title__community h4 {
    font-size: 1.6em;
    font-weight: normal;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    line-height: 1.4;
    color: $main-highlight-color;
}

.section-left__title__community h4 span {
    position: relative;
    z-index: 2;
    padding: 0px 15px;
    background: none repeat scroll 0% 0% #FEF3D3;
}