.splash-content {
    .splash-header {
        margin-top: 15px;
        position: relative;
        @media #{$small-only} {
            background-color: #004c64;
            margin-top: 0px;
        }
        .header__yellow-line {
            @extend .hide-for-small;
            background-color: #ffbd20;
            height: 53px;
            position: absolute;
            top: 42px;
            width: 100%;
            z-index: -1;
        }
        .header__logo {
            @include grid-column(6);
            float: left;
            @media #{$small-only} {
                @include grid-column(12);
            }
            a {
                height: 93px;
                width: 170px;
                text-align: center;
                display: block;
                @media #{$small-only} {
                    text-align: center;
                    height: auto;
                    padding-top: 10px;
                    width: 100%;
                }
                img {
                    @extend .hide-for-small;
                }
                span {
                    @extend .show-for-small;
                    color: #fff;
                    font-family: $title1-font;
                    font-size: 1.4em;
                    text-transform: uppercase;
                }
            }
            .header__logo__tagline {
                @extend .hide-for-small;
                color: #ed4151;
                font-family: $title2-font-bold;
                font-size: 0.85em;
                margin-top: 3px;
            }
        }
        .header__login-join {
            @include grid-column(6);
            color: #118498;
            float: right;
            font-family: $title1-font;
            font-size: 1.2em;
            margin-top: 57px;
            text-align: right;
            a {
                color: #118498;
                &:hover {
                    color: #118498;
                }
                span {
                    color: #ed3e4c;
                    &:hover {
                        color: #04384b;
                    }
                }
            }
            @media #{$small-only} {
                @include grid-column(12);
                background-color: #ffbd20;
                padding: 5px 0px;
                margin-top: 7px;
                text-align: center;
            }
        }
    }
    .content {
        .content__main-message {
            @include grid-column(12);
            margin: 15px 0px;
        }
        .content__steps {
            @include grid-column(12);
            .content__steps__step {
                @include grid-column(4, $collapse: true);
                @media #{$small-only} {
                    @include grid-column(12, $collapse: true);
                }
            }
        }
        .content__tagline {
            @extend .hide-for-small;
            @include grid-column(12);
            color: #0f4e65;
            font-size: 2.6em;
            font-family: $title-section;
            line-height: 1em;
            margin: 40px 0px 20px;
            text-align: center;
            > div {
                @include grid-column(12);
                position: relative;
                div {
                    background-color: #fef3d3;
                    display: inline-block;
                    padding: 0px 15px;
                    &:before {
                        background-color: #fb3c51;
                        content: "";
                        height: 4px;
                        left: 0;
                        position: absolute;
                        top: 16px;
                        width: 100%;
                        z-index: -1;
                    }
                    &:after {
                        background-color: #fb3c51;
                        content: "";
                        height: 2px;
                        left: 0;
                        position: absolute;
                        top: 25px;
                        width: 100%;
                        z-index: -1;
                    }
                }
            }
        }
        .content__banners {
            .content__banners__banner1 {
                @include grid-column(8);
                float: left;
                @media #{$small-only} {
                    @include grid-column(12);
                    float: none;
                    margin-bottom: 15px;
                }
                img {
                    border: 1px solid #f5cf83;
                }
            }
            .content__banners__banner2 {
                @include grid-column(4);
                float: right;
                @media #{$small-only} {
                    @include grid-column(12);
                    float: none;
                }
                img {
                    border: 1px solid #c6d4db;
                }
            }
        }
    }
}