/**
*   Parts of styling taken from _games-filter-menu.css
*/

.filter-tabs {
    &__heading {
        display: table;
        table-layout: fixed;
        margin: 0;
        width: 100%;

        &__item {
            display: table-cell;
            height: 44px;
            @include vert-align(44px);
            margin: 0;
            text-align: center;
            font-family: $body-font-bold;
            background-color: $luckyvip--san-marino;
            color: $white;
            // @include background-image(linear-gradient(to top, $global-link-color 0%, darken($global-link-color, 9%) 100%));
            border-left: 1px solid darken($global-link-color, 90%);

            &:hover {
                color: $global-bg-color;
            }

            &.active {
                background-image: none;
                background-color: $luckyvip--midnight;
                border-left: 0;
            }
        }

        .filter-tabs__heading__link {
            font-family: $ui-font-bold !important;
            font-size: 0.7em;
        }

        &__link {
            padding-left: 0 !important;
            text-shadow: none;
            text-decoration: none;

            &:hover,
            &:active {
                color: $white !important;
                text-decoration: none;
            }
        }
    }

  &__content {
    padding: 20px 5px;

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    &__item {
      display: none;

      ul {
        margin: 0;
        padding: 0;

        li {
            float: left;
            width: 33.3333333333%;
            margin: 0 0 10px 0;
            padding: 0 0.3125rem;
        }

        a {
          padding: 0 !important;
        }
      }

      &.active {
        display: block;
      }
    }
  }
}

/* Override */
.filter-tabs .filter-tabs__content__link {
    box-shadow: none !important;
    text-align: center !important;
    @include background-image(linear-gradient(to top, #989db0 2%, white 100%));
    line-height: 13px;
    font-size: 0.675em;
    height: 44px;
    display: block;
    position: relative;

    span {
        display: block;
        color: #011558 !important;
        line-height: 1.3;
        text-transform: uppercase !important;
        width: 100%;
        position: absolute;
        top: 47%;
        transform: translateY(-50%);
    }
}