#banking {
    table {
        background: #4b1d76;
        border: 1px solid #411973 !important;

        .table-hide-small:first-child {
        	background: #5e2e87 !important;

        	td {
        		color: white !important;
        		text-align: center;
        	}
        }
    }

    table.responsive tr:nth-of-type(even) {
    	background: white !important;

    	td {
    		color: #5e2e87;
    		font-weight: bold;
    	}
    }

    table.responsive tr:nth-of-type(odd) {
    	background: #f4f0f7;

    	td {
    		color: #5e2e87;
    	}
    }
}