$breakpoint-alpha: 480px;

// adjust to your needs

table.responsive {
    thead > tr > td {
        color: white;
        background: #8C93C3;
    }

    @include border-radius(4px);

    width: 100% !important;
    border-collapse: collapse;
    border: none;
    margin: 1em 0;
    min-width: 280px !important;

    // adjust to your needs

    tr {
        border-bottom: 1px solid white;

        th {
            color: white;
            background: #8C93C3;
            font-weight: bold;

            p {
                font-size: 0.875rem;
                font-weight: bold;
                margin-bottom: 0;
            }
        }
    }

    td {
        display: none;

        // for accessibility, use a visually hidden method here instead! Thanks, reddit!
   
    }

    td {
        display: block;

        &:first-child {
            padding-top: .5em;
        }

        &:last-child {
            padding-bottom: .5em;
        }

        &:before {
            content: attr(data-th) ": ";

            // who knew you could do this? The internet, that's who.
            font-weight: bold;

            // optional stuff to make it look nicer
            width: 7em;

            // magic number :( adjust according to your own content
            display: inline-block;

            // end options

            @media (min-width: $breakpoint-alpha) {
                display: none;
            }
        }
    }

    tbody td, thead td {
        text-align: left !important;

        @media (min-width: $breakpoint-alpha) {
            display: table-cell;
            padding: .25em .5em;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

@media (max-width: 480px) {
    .table-hide-small {
        display: none;
    }
}

@media (min-width: 481px) {
    .table-hide-small {
        display: inline-grid;
        background: #8C93C3 !important;
        width: 100%;
    }
}

table.responsive {
    tr:nth-of-type(odd) {
        background: none;
        background-color: $white;
        width: 100%;
    }

    tr:nth-of-type(even) {
        background: none;
    }

    background: #E6F1FB;
    color: #fff !important;
    border-radius: .4em;
    overflow: hidden;
    width: 100%;

    th, td {
        margin: .5em 1em;

        @media #{$small-only} {
            margin: 0;
            padding: $site-margin / 2;
        }

        @media (min-width: $breakpoint-alpha) {
            padding: 1em !important;
        }
    }

    th, td:before {
        color: #0A4579;
        width: auto;
    }
}

table.responsive {
    margin: 1em 0;
    min-width: 300px;

    // adjust to your needs

    tr {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;

        @media (max-width: $breakpoint-alpha) {
            @include grid-column(12);

            padding: ($site-margin / 2) 0;
        }
    }

    thead td {
        display: none;

        // for accessibility, use a visually hidden method here instead! Thanks, reddit!
   
    }

    thead tr {
        background: #E6F1FB;
    }

    td {
        display: block;
        border: none;

        &:first-child {
            padding-top: .5em;
        }

        &:last-child {
            padding-bottom: .5em;
        }

        &:before {
            content: attr(data-th) ": ";

            // who knew you could do this? The internet, that's who.
            font-weight: bold;

            // optional stuff to make it look nicer
            width: 6.5em;

            // magic number :( adjust according to your own content
            display: inline-block;

            // end options

            @media (min-width: $breakpoint-alpha) {
                display: none;
            }
        }
    }

    tbody td, thead td {
        text-align: left !important;
        border-bottom: 1px solid gainsboro;

        @media (max-width: $breakpoint-alpha) {
            border: none;
        }

        @media (min-width: $breakpoint-alpha) {
            display: table-cell;
            padding: .25em .5em;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}