.ui-datepicker-header {
    background-color: white;
    .ui-datepicker-prev {
        margin-right: 10px;
    }
}

.ui-datepicker-today {
    background-color: #D18280 !important;
}

.ui-datepicker-current-day {
    background-color: #FFD09C !important;
}