.nav {
    &__list {
      display: flex;
    }

    &__link {
      color: white;
      text-transform: capitalize;

      &--logout {
        color: $white;
      }
    }

    &--primary {
      .nav {
        &__item {
          margin-right: 2rem;

          &:last-child {
            margin-right: 0;
          }
        }

        &__link {
          font-size: 1.125rem;
          font-weight: 900;
          line-height: 1.5625rem;
        }
      }
    }

    &--secondary {
      &__list {
        display: flex;
        justify-content: flex-end;
      }

      .nav {
        &__item {
          margin-left: 1rem;

          &:first-child {
            margin-left: 0;
          }
        }

        &__link {
          font-size: 1rem;
        font-weight: 500;
        line-height: 1.375rem;
        }
      }
    }
  }