.account-my-bonuses-mobile {
    @include hide-for-large-up;

    display: none;
    position: relative;
    z-index: 999999;

    &.active {
        display: block;
    }
}

.myaccount-claim-code-mobile {
    @include hide-for-large-up;

    display: none;
    position: relative;
    z-index: 999999;

    &.active {
        display: block;
    }
}

.myaccount-details-mobile {
    @include hide-for-large-up;

    display: none;
    position: relative;
    z-index: 999999;

    &.active {
        display: block;
    }
}

.myaccount-convert-points-mobile {
    @include hide-for-large-up;

    display: none;
    position: relative;
    z-index: 999999;

    &.active {
        display: block;
    }
}