.claim-code {
    h3 {
        @include grid-column(12);

        @include show-for-large-up;

        font-family: $nav-font-bold;
        font-weight: normal;
        color: $nav-main-color;
        text-transform: uppercase;

        /* top gradient content */
        background-image: linear-gradient(0deg, #E9DDED 2%, #FFFFFF 100%);
        margin: 0;
        margin-bottom: $site-margin;
        padding: $site-margin / 2;
        font-size: 15px;
    }
}

.claim-code.myaccount-details__column {
    @include grid-column(12);

    .start-claim-code {
        @include grid-column(6, $center: true);

        @media #{$medium-only} {
            @include grid-column(8, $center: true);
        }

        @media #{$small-only} {
            @include grid-column(12, $center: true);
        }

        h2 {
            margin-top: $site-margin * 4;
            margin-bottom: $site-margin;
            font-family: $body-font-medium;
            line-height: 1.2em;
            font-size: 1.8em;
            color: $nav-main-color;
            text-transform: none;
            text-align: center;

            @media #{$medium-only} {
                margin-top: $site-margin / 2;
            }

            @media #{$small-only} {
                margin-top: $site-margin / 2;
            }
        }

        p {
            font-size: 0.875rem;
            text-align: center;
        }

        input {
            @include grid-column(12);

            border-radius: 4px;
            color: $global-link-color;

            // background: $input-ui-bg;
            background: $white;
            font-family: $body-font-medium;
            font-size: 2em;
            text-align: center;
            border: 0;
            padding: 0px 25px;
            height: 50px;
            margin-bottom: $site-margin;

            @include box-shadow(grey 0px -1px 1px 0px);

            @media #{$small-only} {
                background: $white;
            }
        }

        .claim-button {
            @include grid-column(12);

            @include CTA-button(10px 0px, 4px, 4px, #4BA4F0, #2082D8, #0E60A8, #0E4372, #8BC5F7);

            font-size: 20px;
            line-height: 24px;
        }

        .claim-desposit-code-info {
            @include grid-column(12);
        }

        span.error {
            float: left;
            height: 31px;
            margin-top: 1px;
            margin-left: 10px;

            @media #{$small-only} {
                @include grid-column(12);

                margin-top: 0px;
                margin-left: 0px;
            }
        }
    }
}