.welcome-area {
    .welcome-area__top {
        .welcome-area__top__left {
            @media #{$large-up} {
                @include grid-column(7);
            }

            @include grid-column(8);

            padding-top: $site-margin / 2;
            padding-bottom: $site-margin / 2;
            height: auto;

            .welcome-intro {
                font-family: $body-font-regular;
                color: #5B5B5B;
                line-height: 16px;

                p {
                    font-size: 14px;
                    margin: 0;
                }
            }
        }

        .welcome-area__top__right {
            @media #{$large-up} {
                @include grid-column(5);
            }

            @include grid-column(4);

            padding: 0;
            padding-top: $site-margin / 2;
            padding-bottom: $site-margin / 2;

            .text-partial {
                background: $white;
            }

            // .vip-level {
            //     @include grid-column(4);

            //     .vip-level__progress-bar-outer {
            //         display: none;
            //     }
            // }

            .vip-level-area {
                @include grid-column(12);

                text-align: center;
            }
        }

        .welcome-area__top__bottom {
            @include grid-column(12);

            padding: 0;

            img {
                width: 100%;
                min-width: 100%;
                margin-top: $site-margin;

                .banner {
                    width: 100%;
                    min-width: 100%;
                }
            }
        }
    }
}

// .welcome-area {
//     .welcome-area__top {
//         .welcome-area__top__left {
//             @include grid-column(6);

//             @media #{$medium-up} {
//                 @include grid-column(7);
//             }

//             @media #{$small-only} {
//                 @include grid-column(12);
//             }

//             padding-top: $site-margin / 2;
//             padding-bottom: $site-margin;
//             height: auto;

//             .welcome-intro {
//                 font-family: $body-font-regular;
//                 color: #5B5B5B;
//                 line-height: 16px;

//                 p {
//                     font-size: 14px;
//                     margin: 0;
//                 }
//             }
//         }

//         .welcome-area__top__right {
//             @include grid-column(6);

//             @media #{$medium-up} {
//                 @include grid-column(5);
//             }

//             @media #{$small-only} {
//                 @include grid-column(12);
//             }

//             padding: 0;
//             padding-top: $site-margin / 2;
//             padding-bottom: $site-margin;

//             .text-partial {
//                 background: $white;
//             }

//             .vip-level {
//                 @include grid-column(5);

//                 text-align: right;
//                 padding-top: $site-margin / 2;

//                 .vip-level__progress-bar-outer {
//                     display: none;
//                 }

//                 @media #{$small-only} {
//                     @include grid-column(9);
//                 }
//             }

//             .vip-level-area {
//                 @include grid-column(7);

//                 text-align: center;

//                 @media #{$small-only} {
//                     @include grid-column(3);
//                 }
//             }
//         }

//         .welcome-area__top__bottom {
//             @include grid-column(12);

//             padding: 0;

//             img {
//                 width: 100%;
//                 min-width: 100%;
//                 margin-top: $site-margin;

//                 .banner {
//                     width: 100%;
//                     min-width: 100%;
//                 }
//             }
//         }
//     }
// }