.lobby-claim-cashback__wrap {
    @include grid-column(12);

    &.alert-box {
        @include grid-column(12);

        position: relative;
        border: none;
        background: none;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;

        .close {
            background: url(../_images/common/mobile-menu-icons-svg/close-icon.svg) no-repeat center center;
            text-indent: -9000px;
            background-size: 80%;
            opacity: 1;
            float: left;
            height: 20px;
            width: 14px;
            position: absolute;
            top: 5px;
            right: 10px;
            z-index: 1;
            margin: 0;
            padding: 0;
            background-size: 23px !important;
        }
    }
}

.lobby-claim-cashback {
    padding: 8px 0;
    padding-top: 10px;
    padding-bottom: 20px;

    @include grid-column(12);

    @include border-radius(4px);

    background: #F95791;
    position: relative;
    margin-bottom: 0;

    &.alert-box.secondary {
        @include grid-column(12);

        position: relative;
        border: none;
        background: #F95791 !important;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;

        .close {
            top: 5px !important;
            right: 10px !important;
        }

        h1 {
            line-height: 1 !important;
            width: 80% !important;
            margin: 10px 10% !important;
            padding-top: 20px;
            font-size: 16px;
        }

        p {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }


    h1 {
        font-family: $body-font-bold;
        color: #FFFFFF;
        text-align: center;
        font-size: 1.6em;
        line-height: 1.5;
        margin: 0;
    }

    p {
        font-family: $body-font-bold;
        color: #FFFFFF;
        margin-bottom: $site-margin / 2;
        text-align: center;
        line-height: 1;
        padding: ($site-margin / 2) ($site-margin * 2);
        margin: 0;
        font-size: 15px;
        text-transform: uppercase;
    }

    .upgrade-info {
        text-align: right;
        margin-bottom: 5px;

        a {
            color: white;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .lobby-claim-cashback-button {
        @include CTA-button(4px, 0.95em, 4px, #B4EC51, #67B030, #429321, #417505, #7ED321);

        @include grid-column(11, $center: true);

        line-height: 28px;
        font-size: 18px;
        text-shadow: 0px 2px 0px rgba(81, 81, 81, 0.48);
        margin-bottom: $site-margin / 2;

        a {
            color: $white;
            margin-bottom: $site-margin / 2;
        }
    }

    &.alert-box .close {}
}