.start {
    @include show-for-large-up;

    margin-bottom: 7em;
}

.start-content {
    background: $ui-light-color;
    box-shadow: 0px 0px 0px 1px darken($ui-light-color, 5%);
    border-radius: 4px;
    top: 20px;
    position: relative;
    float: left;
    margin-bottom: $site-margin * 4;
    width: 100%;

    // z-index: 1;

    @media #{$medium-only} {
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
        top: 0;
    }

    @media #{$small-only} {
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
        top: 0;
    }

    .lobby-wrap__content-box__content {
        padding-top: $site-margin / 2;
    }

    .start-content__top {
        @include grid-column(12);

        padding: 0;

        @media #{$small-only} {
            @include grid-column(12);

            padding: $site-margin / 2;
            margin-bottom: $site-margin;
        }

        .start-content__top-left {
            float: left;
            margin: 27px;
            font-size: 1.6em;
            font-family: $body-font-bold;
            color: $nav-active-color;
            text-transform: capitalize;
            text-align: left;

            span {
                text-transform: capitalize;
            }

            @media #{$small-only} {
                @include grid-column(12);

                margin: 15px 0;
                text-align: center;
            }
        }

        .start-content__top-right {
            text-align: right;
            float: right;
            margin: 15px;
            width: auto;

            @media #{$small-only} {
                @include grid-column(12);

                background: rgba(255, 255, 255, 0.35);
                border-radius: 4px;
                padding: 7px 3px;
                margin: 0;
            }

            li {
                float: left;
                margin-left: 12px;

                @media #{$small-only} {
                    @include grid-column(4);

                    margin: 0;
                }

                &.button--bingo {
                    a {
                        @include CTA-button(7px 15px, 20px, 4px, #FF8FD7, #FF7BD0, #FF00AA, #C70064, #FFC5EA);

                        color: $white;
                        width: auto !important;

                        @media #{$small-only} {
                            @include grid-column(4);

                            font-size: 12px;
                            width: 100% !important;
                        }
                    }
                }

                &.button--slots {
                    a {
                        @include CTA-button(7px 15px, 20px, 4px, #4BA4F0, #2082D8, #0E60A8, #0E4372, #8BC5F7);

                        color: $white;
                        width: auto !important;

                        @media #{$small-only} {
                            @include grid-column(4);

                            font-size: 12px;
                            width: 100% !important;
                        }
                    }
                }

                &.button--deposit {
                    a {
                        @include CTA-button(7px 15px, 20px, 4px, #B4EC51, #67B030, #429321, #417505, #7ED321);

                        color: $white;
                        width: auto !important;

                        @media #{$small-only} {
                            @include grid-column(4);

                            font-size: 12px;
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }

    .featured-category-dd {
        color: $global-link-color;
    }
}

.lobby-wrap {


    @include grid-column(12);

    padding: 0;

    // lobby left column
    .lobby-wrap__left {
        @include grid-column(3);

        @media #{$medium-only} {
            @include grid-column(12);
        }

        @media #{$small-only} {
            @include grid-column(12);
        }

        height: auto;
        padding-right: $site-margin;
        float: left;
        padding: 0;

        &__terms {
            padding-left: 0.625rem;
            padding-right: 0.3125rem;
        }

        .f-dropdown {
            max-width: none;
        }

        .mobile-tabs-menu__top {
            @include hide-for-large-up;

            @include grid-column(12);

            margin: 0;
            border-radius: 4px;
            background: $white;
            color: $global-link-color !important;
            font-family: $body-font-bold;
            font-size: 18px;
            text-transform: uppercase;
            margin-top: $site-margin;

            // margin-bottom: $site-margin;

            &:after {
                border: none;
                background: url(../_images/common/dropdown-arrow.svg) no-repeat;
                height: 14px;
                width: 24px;
                position: relative;
                float: right;
                border: none;
                right: 10px;
                top: 5px;
            }

            &.open {
                &:after {
                    background: url(../_images/common/dropdown-arrow-up.svg) no-repeat;
                }
            }
        }

        .mobile-tabs-menu__dropdown {
            @include grid-column(12);

            @include transition(all, 0.2s ease-out);

            border-radius: 4px;
            border: none;
            width: 100% !important;
            float: left;
            padding: $site-margin;
            left: 0 !important;
            margin: 0;
            position: relative !important;
            top: -5px !important;
            margin-bottom: 0;
            margin-top: 0;

            &:after {
                border: none;
            }

            // position: relative !important;

        }

        .balanceboxes__wrapper {
            @include grid-column(12);

            margin: 0;
            margin-top: $site-margin;
            margin-bottom: $site-margin;

            @media #{$medium-only} {
                padding-left: $site-margin;
            }

            @media #{$small-only} {
                padding: 0;
                margin-top: 0;
                margin-bottom: 0;
            }

            li {
                @include grid-column(12);

                padding-right: 0;
                background: rgba(255, 255, 255, 0.35);
                border-radius: 4px;
                margin-bottom: 5px;
                display: inline;
                float: left;
                text-transform: uppercase;
                color: $nav-main-color;
                font-family: $body-font-medium;
                font-size: 0.95em;

                p {
                    float: left;
                    margin: 0;
                    padding: 0;
                }

                span {
                    float: right;
                    border-radius: 4px;
                    padding: 0 5px;
                    color: $white;
                    font-family: $body-font-regular;
                    font-weight: bold;
                }

                &.free-cards {
                    span {
                        background: #EC7531;
                    }
                }

                &.free-spins {
                    span {
                        background: #8BAB55;
                    }
                }

                &.loyalty-bonus {
                    span {
                        background: #E84680;
                    }
                }

                &.my-cashback {
                    span {
                        background: #64C4F1;
                    }
                }
            }
        }

        .progressive-jackpots__wrapper {
            @include grid-column(12);

            @include show-for-large-up;

            .hub-shape-holder {
                display: none;
            }

            .progressive-jackpots {
                .progressive-jackpots__title {
                    h1 {
                        color: $nav-main-color;

                        /* top gradient content */
                        background-image: linear-gradient(0deg, #E9DDED 2%, #FFFFFF 100%);
                        margin: 0;
                        font-size: 15px;
                    }
                }

                .progressive-jackpots__progressive__amount {
                    height: auto;
                }

                .progressive-jackpots__progressive {
                    @include clearfix;

                    // Button Style //

                    // height: auto;
                    // background-color: #fff;
                    // background-image: linear-gradient(0deg, #E5E6F9 8%, #E0D8FA 100%);
                    // padding: $site-margin / 2;
                    // margin-bottom: 6px;
                    // border-radius: 8px;
                    // border-bottom: 3px darken(#E0D8FA, 4%) solid;

                    margin: 0;
                    border-radius: 0;

                    span {
                        font-size: 120%;
                        line-height: 30px;
                    }

                    .progressive-jackpots__progressive__cta {
                        span {
                            font-size: 100%;
                        }
                    }
                }
            }
        }

        .small-deposit-wrap {
            @include show-for-small-only;

            @include grid-column(6);

            .lobby-deposit-button {
                @include grid-column(12);

                margin-bottom: $site-margin;
                font-size: 20px;
                overflow: hidden;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    // lobby right columns
    .lobby-wrap__right {
        @include grid-column(9);

        background: #F4F2F6;
        border-radius: 0px 0px 0px 0px;
        padding: $site-margin;
        margin: 0;
        float: right;
        height: auto;
        min-height: 716px;

        @media #{$medium-only} {
            @include grid-column(12);

            border-radius: 0;
            margin-bottom: $site-margin;
            margin-top: $site-margin / 2;
            min-height: auto;
            padding: $site-margin;
        }

        @media #{$small-only} {
            @include grid-column(12);

            border-radius: 0;
            margin-bottom: $site-margin;
            margin-top: $site-margin / 2;
            min-height: auto;
            padding: $site-margin;
        }

//        .lobby-wrap__content-box {
//            margin-bottom: $site-margin * 3;
//        }

        .lobby-wrap__content-box__header {
            @include grid-column(12);

            color: $nav-main-color;

            /* top gradient content */
            background-image: linear-gradient(0deg, #E9DDED 2%, #FFFFFF 100%);
            margin: 0;
            margin-bottom: $site-margin / 2;
            // padding: $site-margin / 2;
            font-size: 15px;

            .title__icon {
                top: -3px;
                float: left;
                position: relative;
            }

            .title__last-login {
                @include show-for-large-up;

                float: right;
                font-family: $body-font-regular;
                font-size: 11px;
                color: #5B5B5B;
            }
        }

        .recent-messages__message__icon {
            text-align: center;
            margin-right: 15px;
        }

        .lobby-wrap__content-box__content__bingo-schedule {
            padding: 0;

            .tabs-content {
                > .content {
                    padding: 0 !important;
                }
            }

            .bingo-schedule {
                height: auto;
                max-height: 360px;
            }
        }
    }

    .progressive-jackpots__wrapper.slider, .yesterdays-win__wrapper, .latest-winners__wrapper.slider {
        clear: both;
    }

    .progressive-jackpots__wrapper.slider {
        @media #{$medium-only} {
            height: 300px;
        }
    }

    .yesterdays-win__wrapper {
        margin-top: -33px;

        @media #{$medium-only} {
            margin-top: 0px;
        }
    }
}

.lobby-wrap .two-columns-content-wrap__right {
    @include show-for-large-up;

    padding-top: 0;
    padding-bottom: $site-margin;
    padding-left: $site-margin;

    @media #{$medium-only} {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    width: 100%;

    .latest-winners__wrapper, .progressive-jackpots__wrapper, .yesterdays-win__wrapper {
        .hub-shape-holder {
            display: none;
        }
    }
}