.main-content__top__right {
    @include grid-column(3, $collapse: true);
}

.main-content__top__left {
    @include grid-column(9, $collapse: true);
    padding-right: 20px;
}

.personalisation {
    background-color: $black;
    padding: 20px;
    font-size: 1em;
    border-style: solid;
    border-color: $border;
    border-width: 1px;
    width: auto;
    height: auto;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.personalisation-message {
    background-color: $white;
    padding: $site-margin / 2;
    border-style: solid;
    border-color: $border;
    border-width: 1px;
    border-radius: 2px;
    font-family: $body-font-regular;
    font-size: 1em;
    width: auto;
    height: 150px;
}