.myaccount-transactions__header {
    display: none;

    @media #{$large-up} {
        display: block !important;
    }

    @include grid-column(12);

    font-family: $nav-font-bold;
    font-weight: normal;
    color: $nav-main-color;

    /* top gradient content */
    background-image: linear-gradient(0deg, #E9DDED 2%, #FFFFFF 100%);
    margin: 0;
    margin-bottom: $site-margin;
    padding: $site-margin / 2;
    font-size: 15px;
    text-transform: uppercase;
}

.myaccount-transactions {
    font-family: $body-font-regular;

    strong, b {
        font-weight: normal;
    }

    a {
        color: $brand-color;
    }

    input {
        border-radius: 4px;
        border: none;
        box-shadow: grey 0px -1px 1px 0px;
        background: #F4F2F6;

        @include input-placeholder {
            color: #b7b7b7;
        }
        &.error {
            border: 3px solid red;
        }
    }

    #details-container {
        background: $white;
        padding: 20px;
        min-height: 480px;

        @media #{$small-only} {
            min-height: auto;
            padding: 10px;
            margin-bottom: $site-margin;
        }
    }

    > ul {
        @include list-inline;

        list-style-type: none;

        a, p {
            color: $brand-color;
            font-family: $title1-font;
        }

        a {
            color: $global-link-color;
        }

        a:hover {
            text-decoration: underline;
        }

        li {
            float: left;
            margin: 0;
            padding: 0;

            @media #{$small-only} {
                @include grid-column(12);

                padding: 0;
                margin: 0;
                margin-bottom: $site-margin / 2;
                text-align: center;
            }

            a {
                @include transition(all, 0.2s ease-out);

                background: #8C93C3;
                color: $white;
                cursor: default;
                font-size: 1.125rem;
                display: block;
                text-transform: uppercase;
                margin: 0;
                border-radius: 4px 4px 0px 0px;
                margin-right: 5px;
                padding: 5px 15px;
                text-decoration: none;
                cursor: pointer;
                text-decoration: none !important;

                @media #{$small-only} {
                    margin: 0;
                }

                &:hover {
                    background: $white !important;
                    color: $nav-active-color !important;
                    text-decoration: none !important;
                }

                &.current {
                    background: $white !important;
                    color: $nav-active-color !important;
                }
            }
        }
    }

    tbody {
        background: $white !important;

        td {
            font-weight: normal;
        }
    }

    .progress.alert .meter {
        background: $ui-highlight;
    }

    .green-cta {
        @include show-for-large-up;

        position: absolute;
        right: 6px;
        top: 6px;
        text-align: right;
        text-decoration: underline;
        font-family: $nav-font-bold;
        line-height: 22px;

        // @include CTA-button(0.3em, 0.9em, 4px, #4BA4F0, #2082D8, #0E60A8, #0E4372, #8BC5F7);

        &:before {
            content: " ";
            background: url("../_images/common/icons/refresh.svg") no-repeat center center;
            float: right;
            position: relative;
            height: 20px;
            width: 30px;
        }

        color: $global-link-color;

        &:hover {
            text-decoration: underline;
        }
    }

    .myaccount-transactions__promotions {
        ul {
            margin: 0;
            padding: 0;
        }
    }

    .myaccount-transactions__promotions__item {
        @include grid-row;

        // border: 2px solid #deedf3;
        border-radius: 8px;
        background-color: #f2f2f2;
        list-style: none;
        margin-left: none;
        margin-bottom: 0.5em;
        padding: 0.5em;

        .PromoDescription {
            @include grid-column(6);

            font-family: $body-font-bold;
            margin-top: 5px;
        }

        .myaccount-transactions__promotions__item__content {
            font-size: 1.1em;
            line-height: 1.2em;

            a {
                @include grid-column(3, $collapse: true);

                text-decoration: underline;
                float: right;
                text-decoration: none;
                display: block;

                &.expandarrow {
                    text-align: right;
                    font-size: 11px;
                    margin-top: 5px;
                }

                &.voidbonus {
                    @include grid-column(3, $collapse: true);

                    // max-width: 117px;

                    @include CTA-button(0.4em, 0.9em, 4px, #4BA4F0, #2082D8, #0E60A8, #0E4372, #8BC5F7);

                    @media #{$small-only} {
                        font-size: 0.8em;
                        line-height: 1em;
                    }

                    border: none;
                    font-family: $button-font;
                    color: $white;
                    display: block;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: normal;

                    > a {
                        border: none;
                        color: $white;
                    }

                    text-align: center;
                }
            }
        }

        .myaccount-transactions__promotions__item__details {
            font-size: 0.85em;
            margin-top: 40px;

            .panel {
                padding-top: 10px;
                background: $white;
                border: none;
            }
        }
    }

    > ul {
        list-style: none;
        margin: 0;
    }

    small {
        font-size: 12px;
    }
}