@media #{$large-up} {
    .main-content {
        &.registration {
            padding-top: 0;
        }
    }
}
.header--register3step {
    .nav-for-mobile {
        display: none !important;
    }
    .footer {
        display: none;
    }
}
.registration-3step {
    @include grid-column(12);
    padding: 0;
    z-index: 999999;
    top: 0;
    height: 100%;
    background: $registration-3step-bg--base;
    overflow: hidden;

    nav {
        @media #{$small-only} {
            top: 45px;
        }
        @media #{$medium-only} {
            top: 45px;
        }
    }
    .banner {
        a.edit-point {
            margin: 35px 15px !important;
        }
    }
}

   .header-register {
        @include grid-column(12);
        background: $white-lilac;
        padding: 0;
        top: 0;
        height: 70px;
        text-align: center;
        display: block !important;
        z-index: 9999;
        position: fixed;

        .wrapper {

           @media #{$large-up} {
                position: relative;
                width: 33.5rem;
                margin: 0 auto;
            }

            @media #{$medium-only} {
                position: relative;
                width: 33.5rem;
                margin: 0 auto;
            }

            h1 {
                display: inline-block;
                color: $mountain-meadow;
                line-height: 2.8;
                text-transform: uppercase;
                font-size: 24px;
                font-weight: normal;
                padding-top: 2px;

                @media #{$large-up} {
                    font-size: 24px;
                    padding-top: 0;
                }
            }
            .register-logo {
                background: url("/_images/join-now/logo-welcome-mobile.png") no-repeat center center;
                background-size: 100%;
                position: absolute;
                left: 15px;
                top: 10px;
                width: 70px;
                height: 55px;
                cursor: pointer;

                @media #{$large-up} {
                    background: url("/_images/logo/logo-desktop.png") no-repeat center center;
                    width: 160px;
                    left: 0;
                    top: 8px;
                }
            }

            .register-login-cta {
                display: inline-block;
                position: absolute;
                background-color: $mountain-meadow;
                color: $white;
                width: 72px;
                height: 23px;
                top: 24px;
                right: 10px;
                border: 1px solid $mountain-meadow;
                border-radius: 2px;
                font-family: "kirobold", Helvetica, Arial, sans-serif;
                font-size: 16px;
                text-transform: uppercase;
                line-height: 22px;

                &:hover {
                    background-color: $blue-chill;
                    color: $white;
                }
            }

        }
    }

.registration-3step .content .banner {
    @media #{$medium-only} {
        padding-top: 0 !important;
    }
}

.registration-3step .content .banner img {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: -5px !important;

        @media #{$small-only} {
              margin-top: 25px !important;
        }

        @media #{$medium-only} {
            margin-top: 35px !important;
        }
}

#join-now {

    .banner {
        a.edit-point {
            @media #{$small-only} {
                margin: 0 !important;
            }

            
            
        }
    }

    nav {
        @media #{$small-only} {
            top: 0;
        }
        @media #{$medium-only} {
            top: 0;
        }
    }

    .registration-3step .content .banner img {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: -5px !important;

        @media #{$small-only} {
              margin-top: 0 !important;
        }

        @media #{$medium-only} {
            margin-top: 35px !important;
        }
}
}
