.breadcrumbs {
	@extend .show-for-large-up;
	background: none;
	padding: 5px;
	margin-bottom: 8px;
	margin-top: 8px;
	color: $white;
	font-family: $body-font-regular;
	border: none;
}

.breadcrumbs>li:first-child a {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url("../_images/common/homeicon.svg") no-repeat;
	width: 14px;
	display: block;
}

.breadcrumbs>*:before {
	content: "*";
	color: $base-red;
	margin: 0 0 0 0.2rem;
	position: relative;
	top: 1px;
}

.breadcrumbs__row {
	position: relative;
}

.share-button.right.sharer-0 label span {
	font-family: $body-font-bold;
	color: $base-blue;
}

.share-button.right.sharer-0 .social.networks-3.middle.left {
	margin-left: -130px !important;
}

.share-button.right.sharer-0 .social ul {
	position: relative;
	left: 0;
	right: 0;
	top: -5px;
	height: 40px;
	color: #fff;
	margin: auto;
	padding: 0;
	list-style: none;
}

.share-button.right.sharer-0 .social ul li {
	font-size: 15px !important;
	cursor: pointer;
	width: 30px !important;
	height: 30px !important;
	background: blue;
	margin: 0;
	padding: 0px !important;
	text-align: center;
	float: left;
	display: none;
	position: relative;
	z-index: 2;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.share-button.right.sharer-0 .social li {
	background: $base-light-blue !important;
	margin-right: 5px !important;
	margin-top: 8px !important;
}

.entypo-export {
	@extend .show-for-large-up;
}