.mobile-menu {
    /* skin specific non-critical appearance styles */
    font-size: 1.25rem;
    text-transform: uppercase;

    // needs to be same as slot categories hidden slide down panel background colour
    background-color: $white;
    z-index: 5 !important;
}

.nav-for-mobile {
    @extend .show-for-medium-down;

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;

    @include opacity(1);

    height: initial;
    background-color: #003f6b;

    .small--balances {
        @include grid-column(2);
        margin-top: 4px;
    }

    .site-logo {
        @include grid-column(4);
        background-repeat: no-repeat;
        width: 36%;

        @media #{$medium-only} {
            width: 22%;
        }
    }
}

.mobile-menu-lists {
    /* cross skin critical sizing and position styles */
    overflow: scroll;
    height: 100%;
    padding-top: 10%;

    @media #{$small-only} and ( orientation: portrait ) {
         padding-top: 11%;
    }
}

.mobile-menu-list {
    /* cross skin critical sizing and position styles */
    width: 100%;
    position: relative;
    height: 100%;
    list-style-type: none;
    margin-left: 0;
}

.mobile-menu-top-area {
    /* skin specific non-critical appearance styles */
    background-color: #FFF4D9;

    .search-input > input[type=text], .search-input {
        border: none;
        box-shadow: none;
        height: 41px;
        font-size: 20px;
        text-transform: uppercase;
    }
}

.mobile-menu-top-area__row {
    /* cross skin critical sizing and position styles */
    display: block;
    width: 100%;

    @include grid-row;

    height: 48px;
    margin-bottom: 5px;
}

.mobile-menu-top-area__join {
    a {
        /* skin specific non-critical appearance styles */
        @include border-radius(2px);

        background-color: #26B326;
        font-family: $title2-font;
        font-size: 20px;
        font-weight: bold;
        color: $white;
        border-radius: 50px;
    }

    .inner {
        color: #003f6b;
        text-align: center;
        font-size: 22px;
        font-family: $kansas-font;
        margin-top: 16px;
    }
}

.mobile-menu-top-area__balance {
    /* cross skin critical sizing and position styles */
    @include grid-column(8, $collapse: true);

    color: lighten($black, 30%);
    text-align: center;
    font-size: 16px;

    .inner {
        height: 42px;
        line-height: 42px;
        background-color: #f8e4bb;

        @include background-clip(padding-box);

        margin-right: 10px;

        span {
            color: $black;
            font-family: $title2-font;
            font-size: 18px;
        }
    }
}

.mobile-menu-top-area__vip-level {
    .inner {
        /* skin specific non-critical appearance styles */
        background-color: #f8e4bb;

        @include border-radius(2px);

        //font style
        color: lighten($black, 30%);
        font-family: $title2-font;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }
}

.mobile-menu-item {
    /* skin specific non-critical appearance styles */
    //font styles
    color: #00a1bd;
    border-bottom: 1px solid darken(#fff4d9, 10%);
    font-family: $title2-font;
    font-size: 20px;
    background-color: white;
    transition: 500ms;

    // @include text-shadow(1px 1px 0 rgba(0, 0, 0, 0.6));
    //bar styles
    // border-bottom: 1px solid $black;
    &.active {
        background-color: lighten($base-red, 10%);
        border: none;

        a {
            color: #00a1bd;
        }
    }

    a {
        color: #00a1bd;
        font-family: $title1-font;
        // background: $white;

        &.active {
            color: $main-highlight-color;
        }
    }

    // Slots Categories Button
    .slots-categories {
        /* skin specific non-critical appearance styles */
        background-color: rgb(14, 170, 197);

        @include box-shadow(0 2px 1.2px 0.8px #08778a);

        font-family: $title2-font;
        color: white;
        text-shadow: none;
        font-size: 14px;

        .chevron-icon {
            opacity: 0.6;
            fill: $white;
        }
    }

    &__submenu {
        background: #003f6b;
        transition: 500ms;

        &-toggle {
            position: absolute;
            top: 5px;
            right: 7px;
            background: rgb(14, 170, 197);
            font-family: $title2-font;
            color: white;
            text-shadow: none;
            font-size: 14px;
            line-height: 35px;
            padding: 0 10px;
            cursor: pointer;
            @include box-shadow(0 2px 1.2px 0.8px #08778a);

            .chevron-icon {
                opacity: 0.6;
                fill: $white;
            }
        }

        &__content {
            opacity: 0;
            transition: 500ms;
        }
    }

    &.is-active {
        .mobile-menu-item {
            &__submenu {

                &-toggle {

                }

                &__content {
                    opacity: 1;
                }
            }
        }
    }
}

.mobile-menu-section-title {
    /* skin specific non-critical appearance styles */
    //font styles
    color: $main-highlight-color;
    font-family: $kansas-font;
    font-size: 13px;
    background-color: #ffe9b2;

    // bar styles
}

// Mobile Menu Slots Categories Hidden Slide Down Panel

.mobile-menu {
    .games-filter-menu__popover .tabs-content .content ul li {
        width: 33.33%;
    }

    .mobile-menu-item {
        &__submenu {
            .games-filter-menu__popover-wrap {
                height: auto;
                opacity: 1;
            }
        }
    }

    font-family: $title2-font;

    .games-filter-menu__popover-wrap {
        font-family: $title2-font;

        .games-filter-menu__popover {
            font-family: $title2-font;
        }

        .games-filter-menu__popover .tabs-content .content ul li a {
            // font-family: $title2-font;
            font-weight: bold;
        }

        .games-filter-menu__popover > dl > dd {
            border-left: 1px darken(#00a1bd, 10%) solid;
        }

        .tab-title.active a {
            text-decoration: underline;
        }
    }
}

//svg background images

.mobile-menu {
    // mobile header login button
    .mobile-menu-item {
        a {}
    }

    .mobile-menu-item.logout-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/logout.svg);
        background-position: 9px 14px;
    }

    .mobile-menu-item.gamelimits-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/gamelimits.svg);
    }

    .mobile-menu-item.responsiblegaming-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/responsiblegaming.svg);
    }

    .mobile-menu-item.privacy-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/privacy.svg);
    }

    .mobile-menu-item.about-us-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/aboutus.svg);
    }

    .mobile-menu-item.terms-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/terms.svg);
    }

    .mobile-menu-item.faq-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/faq.svg);
    }

    .mobile-menu-item.support-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/support.svg);
        background-size: 6%;
    }

    .mobile-menu-item.community-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/community.svg);
        background-size: 7%;
        background-position: 7px 17px;
    }

    .mobile-menu-item.deposit-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/deposit.svg);
    }

    .mobile-menu-item.cashier-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/cashier.svg);
        background-position: 11px 13px;
    }

    .mobile-menu-item.myaccount-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/myaccount.svg);
    }

    .mobile-menu-item.loyalty-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/loyalty.svg);
    }

    .mobile-menu-item.promotions-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/promotions.svg);
    }

    .mobile-menu-item.allgames-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/allgames.svg);
    }

    .mobile-menu-item.roulette-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/roulette.svg);
    }

    .mobile-menu-item.scratchcards-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/scratchcards.svg);
    }

    .mobile-menu-item.tablecard-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/tablecard.svg);
    }

    .mobile-menu-item.slots-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/slots.svg);
        background-size: 6%;
    }

    .mobile-menu-item.live-casino {
        background-image: url(../_images/live-casino/poker-chip-icon.svg);
    }

    .mobile-menu-item.favourites-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/favourites.svg);
    }

    .mobile-menu-item.newgames-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/newgames.svg);
        background-size: 4%;
        background-position: 12px 14px;
    }

    .mobile-menu-item.gamesearch-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/search.svg);
        background-size: 5%;
        background-position: 8px 12px;
    }

    .mobile-menu-item.bingo-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/bingo.svg);
        background-size: 6%;
        background-position: 8px 12px;
    }

    .mobile-menu-item.settings-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/settings.svg);
    }

    .mobile-menu-item.complaints-disputes-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/complaints.svg);
        background-size: 7%;
        background-position: 7px 16px;
    }

    .mobile-menu-item.archive-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/archive.svg);
        background-size: 6%;
        background-position: 7px 16px;
    }

}

@for $i from 1 through 25 {
    #ui-id-#{$i} {
        /* skin specific non-critical appearance styles */
        //font styles
        color: $global-link-color;
        font-family: $title2-font;
        font-size: 14px;

        //bar styles
        border-top: 1px solid darken($global-link-color, 80%);
        border-bottom: none;
        background-image: none;
        background-color: $white;
    }
}

.ui-state-focus {
    background: $global-link-color !important;
    background-image: none;
    color: $white !important;
    box-shadow: none  !important;
}

// auto complete search

.ui-auto-complete {}

// nav toggle menu with animation into cross shape

.menu-toggle-wrap {
    cursor: pointer;

    .burger {
        background: $white;

        &:before {
            background: $white;
        }

        &:after {
            background: $white;
        }
    }

    .burger.active {
        border: 4px solid $white;
    }
}

.nav-for-mobile > a.login-button--nav-for-mobile.menu-link {
    font-family: $kansas-font;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 33px;
    color: #FFF;
    background: #00a1bd;
    height: 30px;
    margin-top: 8px;
    border-radius: 50px;
    float: right;
}

.nav-for-mobile > a.joinnow-button--nav-for-mobile.menu-link {
    font-family: $kansas-font;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 33px;
    color: $white;
    background: $green;
    height: 30px;
    margin-top: 8px;
    margin-left: 5px;
    border-radius: 50px;
    float: right;
}

.games-filter-menu__popover ul {
    margin-left: 0;
    list-style-type: none;
}

// Fix popover height
.games-filter-menu__popover:after {
    content: '';
    display: table;
    clear: both;
}


