.navigation-desktop {
    @extend .show-for-large-up;
    @include grid-row;
    height: 70px;
    .navigation-desktop__nav {
        @include grid-column(9, $float: left);
        @include list-inline;
        font-size: 0.8rem;
        font-family: $title2-font;
        color: $base-blue;
        padding-top: 35px;
        margin-left: 156px;
    }
    .navigation-desktop__nav li a {
        display: block;
        padding: 5px 0px 0px 1px;
        text-transform: uppercase;
        font-weight: bold;
        
        &:hover {
            background-image: url("../_images/common/nav-item.png");
            repeat: no-repeat;
            height: 28px;
            width: auto;
            color: #fff;
        }
    }
    .current {
        background-image: url("../_images/common/nav-item.png"); 
        repeat: no-repeat;
        height: 28px;
        width: auto;
        padding: 3px 5px 0px 5px;
        color: #fff;
    }

}



      