#login-modal {
    @include grid-column(6);

    padding: ($site-margin * 2) !important;
    max-width: 500px;

    @media #{$medium-only} {
        @include grid-column(8);
    }

    @media #{$small-only} {
        @include grid-column(12);

        height: 100% !important;
        width: 100% !important;
        min-height: 100% !important;
        max-width: 100%;
        transform: none !important;
        top: 0 !important;
        position: absolute;
        left: 0 !important;
        margin: 0 auto !important;
    }

    margin: 0 !important;
}

.login-box {
    @media #{$medium-up} {
        @include grid-column(12);

        font-size: 1rem;
        margin-top: 0em;

        > h1 {
            font-size: 1.4em;
            family-font: $title-section !important;
            text-transform: uppercase;
            border-bottom: 1px $yellow-dark solid;
            margin-bottom: 16px;
        }
    }

    @media #{$small-only} {
        @include grid-column(12);

        font-size: 1rem;

        > h1 {
            font-size: 1.3em;
            family-font: $title-section !important;
            text-transform: uppercase;
        }
    }

    .cta-login {
        padding: 10px;
        line-height: 1;
        height: auto;
    }
}

.login-banner {
    @include grid-column(7, $float: right);

    padding-top: 20px;
    margin-bottom: $site-margin;

    @media #{$small-only} {
        @include grid-column(12);
    }

    img {
        width: 100%;
    }
}

.login-box--loginpage {
    @media #{$medium-only} {
        @include grid-column(4, $collapse: true);
    }

    @media #{$large-up} {
        @include grid-column(4, $collapse: true);
    }
}

.login-box__input-wrapper {
    position: relative;
}

.login-box__show-password {
    position: absolute;
    top: 8px;
    right: 7px;
    font-size: 11px;
    text-decoration: underline !important;
    text-transform: uppercase;
    display: block;
    height: auto;
    padding: 1px 6px;
    background: lighten($grey, 20%);
    text-align: center;

    a {
        font-weight: bold;
        color: white;
    }

    &:hover {
        opacity: 0.5;
    }
}

.login-box__forgot-password {
    position: relative;
    font-size: 11px;
    text-decoration: underline !important;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-top: 1em;
    float: left;
    width: 100%;
}

.login_section {
    background-color: white;
    padding: 20px;
}

.login-terms {
    background-color: white;
    clear: both;

    .text-partial {
        border: none;
    }

    .text-partial-content {
        background-color: white;
        padding-left: 0px;
    }

    .accordion-navigation > a {
        font-family: "todayshop-bold", Helvetica, Arial, sans-serif !important;
        color: #0F79D5 !important;
        background: none !important;
        text-decoration: underline;
    }

    h1 {
        display: none;
    }
}