
.promo-banner {
   @extend .show-for-large-up;
   // @include be-box($white, solid, darken($yellow-dark,5%), 0);
	@include grid-column(4, $collapse: true);
	height:300px;
	width:auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.promo-banner__image {
   height:300px;
   @include grid-column(12, $collapse: true);



}

.home-main-promo{


     img{
    width: 100%;
   }
}

				