.home {
   
    .section__title {
        font-size: 1em;
    }
    .three-columns-equal {
        > div {
            padding-left: 7px;
            padding-right: 7px;
            padding-bottom: 20px;
        }
    }
    .community-boxes {
        @extend .hide-for-small;
        @extend .hide-for-medium;
    }
    .main-content-seo-one, .main-content-seo-two {
        @extend .hide-for-small
;
    }
    .section-full-width__title {
        @include grid-column(12, $collapse: true);
        font-family: $title-section !important;
        @media #{$large-up} {
            width: 65%;
            margin-left: 173px;
            margin-right: 173px;
        }
    }

        .hub-grid .hub-grid__col-2x {
            @media #{$medium-only} {
                @include grid-column(3, $collapse: true);
            }
            @media #{$small-only} {
                @include grid-column(6, $collapse: true);
            }
        }

}

.prize-wheel__notification .prize-wheel__notification__counter {
    line-height: 23px;

   @media #{$large-up} {
    line-height: 24px !important;
   }
}