.home-main-slider {
    ul {
        list-style: none;
        margin: 0;
        margin-left: 0rem;
    }
    max-width: 1100px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .desktop-slider {
        @extend .hide-for-small;

        @extend .show-for-medium-up;
    }

    .mobile-slider {
        @extend .show-for-small;
        @extend .hide-for-medium-up;
    }
    .slider-text-link {
        display: block;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 2px;
        font-size: 11px;

        line-height: 1em;
        font-weight: bold;

        text-align:center;
        padding: 2px;
        width: 90%;
        left: 0px;
        bottom: -10px;
        width: 98%;
        margin: 1%;
        a {
            color: $white;
            &:hover {
                text-decoration: underline;
            }
        }

        .edit-point {
            margin-top:-40px;
        }
        @media #{$medium-up} {
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
    }
    }
    .slider-text-link-copyright {
        font-size: 11px;
        color: $white;
        line-height: 1em;
        font-weight: 700;
        margin-bottom: 0;
        text-align:center;
    }
}