.content-holder {
    @include grid-column(12, $collapse: false, $float: left);
    padding: $site-margin * 1.2;
    background: #FFFCF5;
    border: 1px solid #F4E7C0;
    padding-top: $site-margin;
    margin-bottom: $site-margin;
    height: auto;
    .content-holder__title {
        @include grid-column(12, $collapse: false, $float: left);
        height: 15px;
        margin-bottom: $site-margin;
        padding-left: 0;
        h1 {
            @include grid-column(7, $collapse: false, $float: left);
            @media #{$small-only} {
                @include grid-column(7, $collapse: false, $float: left);
                font-size: 15px !important;
            }
            font-family: $title1-font;
            font-size: 18px;
            line-height: 15px;
            color: $base-red;
            padding-left: 0;
        }
    }
    .content-holder__title__link {
        @include grid-column(4, $collapse: true, $float: right);
        @media #{$small-only} {
            @include grid-column(5, $collapse: false, $float: left);
        }
        font-family: $title1-font;
        font-size: 12px;
        line-height: 20px;
        text-align: right;
        color: $ctacolor;
        padding-right: 0;
    }
    .content-holder__content {
        @include grid-column(12, $collapse: true, $float: left);
        height: auto;
        .content-holder__content_full-width {
            @include grid-column(12, $collapse: true, $float: left);
            height: auto;
        }
        .content-holder__content_left {
            @include grid-column(8, $collapse: true, $float: left);
            padding-right: $site-margin * 1.5;
            height: auto;
            .content-holder__inner {
                @include grid-column(12, $collapse: true, $float: left);
                height: auto;
                clear: both;
            }
        }
        .content-holder__content_right {
            @include grid-column(4, $collapse: true, $float: right);
            padding-left: $site-margin * 1.5;
            border-left: 1px solid #EBEBEB;
            height: auto;
            .content-holder__title {
                @include grid-column(12, $collapse: true, $float: left);
                h1 {
                    @include grid-column(12, $collapse: true, $float: left);
                }
            }
            .content-holder__inner {
                @include grid-column(12, $collapse: true, $float: left);
                height: auto;
                clear: both;
            }
        }
    }
}

.bingo-schedule-holder, .home-featured-games-holder {
    @media #{$medium-only} {
        .content-holder__content_left {
            width: 100% !important;
            padding-right: 0 !important;
            height: auto;
        }
    }
    @media #{$small-only} {
        .content-holder__content_left {
            width: 100% !important;
            padding-right: 0 !important;
            height: auto;
        }
    }
    .content-holder__content_right {
        @extend .show-for-large-up;
    }
}