.home-featured-games {
    @include grid-column(12, $collapse: true, $float: left);
    height: auto;
    &:after {
        clear: both;
    }
    .tabs-content {
        margin-bottom: 0;
    }
    // Bingo Schedule Category Tabs
    .home-featured-games__tabs {
        @extend .show-for-medium-up;
        @include grid-column(12, $collapse: true, $float: left);
        height: 25px;
        margin-bottom: $site-margin / 1.8;
        dl.tabs {
            height: 25px;
            @include grid-column(12, $collapse: true, $float: left);
            dd {
                @include grid-column(2, $collapse: false, $float: left);
                //override column width to 20% so that 5 tabs fit in the tab bar
                width: 20%;
                height: 25px;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
                a {
                    background-color: $ctacolor;
                    font-family: $title1-font;
                    font-size: 14px;
                    color: $white;
                    padding: 0;
                    padding-left: 0.4em;
                    padding-right: 0.4em;
                    height: 25px;
                    line-height: 25px;
                    text-align: center;
                    border-radius: 3px;
                    &:hover {
                        background-color: $ctacolor-hover;
                    }
                }
                &.active {
                    a {
                        background-color: #23babe;
                    }
                }
            }
        }
    }
    // featured games section with tabbed contents and game icons
    // tabs
    .featured-games > .tabs dd {
        @extend .show-for-large-up;
        @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: left, $mcols: 1, $mcollapse: true, $mfloat: left, $lcols: 1, $lcollapse: true, $lfloat: left);
        background-color: #0398B2;
        box-shadow: 0px 1px 0px 0px darken(#0398b2, 10%);
        &:hover, &.active {
            background-color: #0F4F67;
        }
        margin-right: $site-margin;
        min-width: 83px;
        max-width: 83px;
        > a, .tabs .tab-title > a {
            background-color: transparent;
            @include vert-align(24px);
            padding: 2px;
            padding-top: 1px;
            font-family: $body-font-bold;
            color: $white;
            font-size: 14px;
            color: #FFFFFF;
            text-shadow: 0px 1px 0px #312741;
            text-align: center;
        }
    }
    // Game icons within each tab
    .game-icon {
        @include foundation-breaks($scols: 6, $scollapse: true, $sfloat: left, $mcols: 6, $mcollapse: true, $mfloat: left, $lcols: 3, $lcollapse: true, $lfloat: left);
        padding: 0;
        height: 100%;
        cursor: pointer;
        display: inline;
        margin-left:0px !important;

        @media #{$small-only} {
            padding-bottom: 0.15em;
            width:47% !important;

        }
        @media #{$large-up} {
            padding-bottom: 0;
        }
    }
    .game-icon__wrapper {
        padding: 3px;
    }
    .game-icon .game-icon__favourite {
        padding: 4px;
    }
    .featured-games-categories {
        @extend .hide-for-medium-up;
        -webkit-appearance: initial;
        -moz-appearance: initial;
        @include foundation-breaks($scols: 4, $scollapse: true, $sfloat: right, $mcols: 3, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: right);
        font-size: 12px;
        color: #AFAFAF;
        height: 24px;
        line-height: 10px;
        padding: 0px;
        border: none;
        background-color: transparent;
        max-width: 90px;
        margin-right: 5px;
    }
    .title__viewall--featured-games {
        @extend .hide-for-small;
    }
}