.home-community-holder {
    .article .article__content .article__content__title {
        width: 100%;
        display: block;
        float: left;
        position: relative;
        top: -11px;
    }
    .my-promotions .my-promotions__promotion {
        @media #{$medium-only} {
            @include grid-column(4, $collapse: false);
        }
        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }
    }
    .article__content__date {
        @media #{$medium-only} {
            @include grid-column(12, $collapse: true);
            position: relative;
            padding: 0 !important;
        }
        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
            position: relative;
            padding: 0 !important;
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
    .article .article__content {
        @media #{$small-only} {
            padding: $site-margin;
        }
        @media #{$large-up} {
            max-height: 410px;
            min-height: 410px;
        }
    }
    .article .article__content__image {
        @media #{$medium-only} {
            @include grid-column(12, $collapse: true);
        }
        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
            width: 100%;
            margin-bottom: 14px;
            img {
                @include grid-column(12, $collapse: true);
            }
        }
    }
    .article__content__body {
        @media #{$medium-only} {}
        @media #{$small-only} {
            font-size: 16px;
        }
    }
}