.help-content {
    article.text-partial {
            h1 {
                @extend %title_bg;
            }
    }
    .help-content-top {
        @include grid-column(12);
        padding: 0;
        margin-top: $site-margin;
        margin-bottom: $site-margin * 2;
        @media #{$medium-only} {
            @include grid-column(12);
            margin-bottom: 0;
        }
        @media #{$small-only} {
            @include grid-column(12);
            margin-bottom: 0;
        }
    }
    .help-content-bottom {
        @include grid-column(12);
        border-top: 1px solid $grey-light;
        border-bottom: 1px solid $grey-light;
        padding: 3em 0em 2em 0;
        margin-bottom: $site-margin * 2;
        @media #{$medium-only} {
            @include grid-column(12);
            padding-bottom: 0;
        }
        @media #{$small-only} {
            @include grid-column(12);
            padding-bottom: 0;
        }
    }
    .help-content-password {
        @include grid-column(12);
        background: #DBF6FF;
        padding: 1.5em 0 1.5em 0;
        border-radius: 4px;
        margin-bottom: $site-margin;
        margin-top: $site-margin;
        .help-content__section {
            @include grid-column(12, $center: true);
            @media #{$medium-only} {
                @include grid-column(12);
                margin: 0;
            }
            @media #{$small-only} {
                @include grid-column(12);
                margin: 0;
            }
            img {
                @include grid-column(2);
                text-align: right;
                @media #{$medium-only} {
                    @include grid-column(12, $center: true);
                }
                @media #{$small-only} {
                    @include grid-column(12, $center: true);
                }
            }
            .help-content__info {
                // background-image: linear-gradient(-180deg, lighten($grey-light, 10%) 0%, darken($grey-light, 2%) 46%, darken($grey-light, 4%) 100%);
                // box-shadow: 0px 1px 1px 1px $grey-light, inset 0px 1px 0px 0px darken($grey-light, 5%);
                background: $white;
                @include grid-column(9);
                text-align: left;
                border-radius: 4px;
                margin: 0;
                padding: 0;
                @media #{$medium-only} {
                    @include grid-column(10, $center: true);
                    margin-bottom: 0;
                }
                @media #{$small-only} {
                    @include grid-column(11, $center: true);
                    margin-bottom: 0;
                }
                h1 {
                    @include grid-column(11);
                    font-size: 1.2em !important;
                    @media #{$medium-only} {
                        @include grid-column(12, $center: true);
                        text-align: center;
                        margin-bottom: 0;
                    }
                    @media #{$small-only} {
                        @include grid-column(12, $center: true);
                        text-align: center;
                        margin-bottom: 0;
                    }
                }
                span {
                    float: left;
                }
                img {
                    @include grid-column(1, $center: true);
                    max-height: 30px;
                    height: 30px;
                    @media #{$medium-only} {
                        @include grid-column(12, $center: true);
                        margin-bottom: 0;
                    }
                    @media #{$small-only} {
                        @include grid-column(12, $center: true);
                        margin-bottom: 0;
                    }
                }
                a {
                    padding: 10px;
                    text-decoration: none !important;
                    &:hover {
                        text-decoration: none !important;
                    }
                }
                #panel1a {
                    display: block !important;
                }
                #forgotpass {
                    @include grid-column(12);
                    @include transition(all, 0.2s ease-out);
                    text-align: left;
                    padding: 0px 10px 10px 10px;
                    p {
                        @include grid-column(12);
                        padding: 15px 0px 0 0;
                        border-top: 1px solid #f0e9f5;
                        margin-bottom: 10px;
                        font-size: 1rem;
                        @media #{$medium-only} {
                            text-align: center !important;
                        }
                        @media #{$small-only} {
                            text-align: center !important;
                        }
                    }
                    input {
                        @include input-box;
                        font-size: 1rem;
                        margin-bottom: $site-margin / 2;
                        line-height: 2.5;
                        &.button {
                            @include secondary-button-ui;
                            font-size: 1rem;
                            line-height: 2.5;
                        }
                    }
                }
            }
        }
    }
    // .text-partial-content {
    //     padding-bottom: $site-margin;
    //     @media #{$small-only} {
    //         padding: $site-margin;
    //     }
    // }
    .help-content__section {
        @include grid-column(6);
        @media #{$medium-only} {
            @include grid-column(12);
            margin-bottom: $site-margin * 3;
        }
        @media #{$small-only} {
            @include grid-column(12);
            margin-bottom: $site-margin * 3;
        }
        img {
            @include grid-column(2);
            padding: 0 5px;
            max-height: 50px;
            height: 50px;
            @media #{$medium-only} {
                @include grid-column(12, $center: true);
                margin-bottom: $site-margin;
            }
            @media #{$small-only} {
                @include grid-column(1212, $center: true);
                margin-bottom: $site-margin;
            }
            img[src*=".svg"] {
                width: 100%;
                height: 50px;
            }
        }
        .help-content__info {
            @include grid-column(10);
            //            padding-left: 10px;
            @media #{$medium-only} {
                @include grid-column(12);
                text-align: center;
                padding-left: 0px;
            }
            @media #{$small-only} {
                @include grid-column(12);
                text-align: center;
                padding-left: 0px;
            }
            h1 {
                @include grid-column(12);
                font-size: 1.5em !important;
                text-transform: initial;
                line-height: 1em;
                color: $brand-color;
                font-family: $body-font-bold !important;
                margin: 0;
                margin-bottom: $site-margin / 2;
                margin-top: $site-margin / 2;
                a {
                    font-family: $body-font-bold !important;
                    color: $global-link-color;
                }
            }
            h2 {
                @include grid-column(12);
                font-size: 1.2em !important;
                color: $brand-color;
                font-family: $body-font-regular;
                margin: 0;
                text-transform: none;
            }
            a {
                @include grid-column(12);
                @include transition(all, 0.2s ease-out);
                line-height: 1.5;
                font-weight: bold;
                font-size: 14px;
                color: $brand-color;
                word-break: normal;
                margin-top: 5px;
                &:hover {
                    opacity: 0.85;
                }
                @media #{$small-only} {
                    font-size: 16px;
                }
                span {
                    padding: 0;
                    color: $global-link-color;
                    font-size: 12px;
                    text-decoration: underline;
                    position: relative;
                    top: -15px;
                }
            }
            em {
                @include grid-column(12);
                padding: 0;
                font-weight: normal !important;
                font-style: normal;
                font-size: 12px;
                color: $brand-color;
                margin-bottom: 10px;
            }
            p {
                @include grid-column(12);
                margin-top: $site-margin / 2;
                font-size: 12px;
                line-height: 1.2;
            }
        }
    }
}
