.footer-nav-wrap {
    @include show-for-medium-up;

    @include grid-row;

    margin-top: $site-margin * 3;
    //margin-bottom: $site-margin;
    border-bottom: 1px solid $grey-light;
    padding-bottom: $site-margin * 2;

    .footer-nav {
        @include grid-column(8);

        @media #{$medium-only} {
            padding: 15px;
            width: 60%;
        }

        @include list-inline;

        font-family: $nav-font-medium;

        ul {
            margin: 0px 40px 0px 0px;
            float: left;
        }

        li {
            font-size: 14px;
            text-align: left;
            text-transform: uppercase;
            margin-right: 0px;
            clear: left;

            a {
                @include transition(all, 0.2s ease-out);

                color: $theme--ui--lightblue3;

                &:hover {
                    color: $global-link-color;
                }
            }
        }
    }

    .online-support {
        @include grid-column(4);

        float: right;
        text-align: right;
        font-family: $body-font-bold;

        @media #{$medium-only} {
            padding: 0;
            padding-right: 15px;
            width: 40%;
        }

        .support-online-title {
            width: 100%;
            float: left;
            position: relative;

            a {
                h1 {
                    line-height: 1em;
                    color: $theme--ui--pink-text--footer !important;
                    margin: 0;
                    position: absolute;
                    right: 60px;
                }

                span {
                    font-size: 0.85em;
                    color: $theme--ui--pink-text--footer !important;
                    text-decoration: underline;
                    position: absolute;
                    right: 60px;
                    top: 20px;
                }

                &:hover span {
                    color: $theme--ui--pink-text--footer !important;
                    opacity: 1;
                }
            }

            img {
                width: 48px;
                position: absolute;
                right: 0;
                height: 41px;
            }
        }

        &:hover {
            opacity: 1 !important;
        }
    }
}