// Footer Content Wrap

.footer {
    // @include show-for-large-up;
    background-color: $white;
    padding: 0;
    height: auto;
    position: relative;

    @media #{$small-only} {
        margin-top: 0px;
    }

    @media #{$medium-only} {
        margin-top: 0px;
    }
}

.footer-wrap {
    // @include grid-row;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.footer-container {
    @include grid-column(12);

    overflow: inherit;
    background: $white;
    top: 0;
    left: 0;
    right: 0;
    height: auto;

    @media #{$small-only} {
        padding: 0 $site-margin;
    }

    @media #{$medium-only} {
        padding: 0 $site-margin;
    }
}

.footer {
    &.logged-in {
        padding-bottom: 50px;

        @media #{$large-up} {
            padding-bottom: 0px;
        }
    }

    @media #{$small-up} {
        @include grid-column(12);

        padding: 0;
        height: auto;
    }

    @media #{$large-up} {
        @include grid-column(12);

        padding: 0;
    }

    .footer__inner {
        @include grid-row;

        padding: 0;
        margin-bottom: 10px;

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0;
        }

        .footer-legal {
            @include grid-column(12, $center: true);

            padding: 0;
            font-family: $body-font-regular;
            font-size: 0.9em;
            line-height: 1.5em;
            text-align: center;

            @media #{$small-only} {
                margin-top: 0px;
            }

            .footer__row__payments {

                @media #{$small-only} {
                    @include grid-column(12, $center: true, $collapse: true);
                    @include list-inline;
                    margin-left: auto;
                    margin-right: auto;
                    padding:2em 0 0 1em;
                    >li {
                        height: 50px;
                        width: 32%;
                        padding-right: 1em;
                        margin-bottom:1em;
                        margin-right: 0 !important;

                        img {
                            height:100%;
                            width:100%;
                        }
                    }
                }
                @media #{$medium-up} {
                    @include grid-column(12, $center: true, $collapse: true);
                    @include list-inline;
                    margin-left: auto;
                    margin-right: auto;
                    >li {
                        width: 7.5%;
                        padding-right: 0.3em;
                        padding-bottom: 2px;
                        text-align: center;
                        margin-right: 7px;

                        img {
                            width:100%;
                            height:40px;
                        }
                    }
                }
            }

            .follow-us {
                @include grid-column(12);

                @media #{$medium-only} {
                    @include grid-column(12);

                    // margin-bottom: $site-margin * 4;
                    margin-bottom: 0;
                }

                @media #{$small-only} {
                    @include grid-column(12);
                    @include vert-mid-align;

                    margin-bottom: $site-margin * 4;
                    margin-bottom: 0 !important;
                }

                padding: 0;
                float: right;
                text-align: right;
                margin: 0;

                h4 {
                    color: $main-highlight-color;
                    font-size: 1.3em;
                    margin-bottom: 0px;
                }

                @media #{$small-only} {
                    @include grid-column(12);

                    padding: 0;
                    margin-bottom: 20px;
                    margin-left: 0px;
                }
            }

            img {
                //width: 40px;
           
            }

            .footer-commissions {
                @include grid-column(12);

                @include list-inline;

                margin-top: $site-margin * 2;

                ul {
                    margin: 0;

                    &.commissions-list-1 {
                        @include grid-column(12);

                        text-align: center;

                        @media #{$medium-only} {
                            @include grid-column(12);

                            @include vert-mid-align;

                            margin-bottom: $site-margin * 2;
                        }

                        @media #{$small-only} {
                            //display: block !important;

                            @include grid-column(12);

                            @include vert-mid-align;

                            // margin-bottom: $site-margin * 2;
                            margin-bottom: 0;
                        }

                        li {
                            // @include list-inline;

                            list-style: none;
                            text-align: left;
                            margin-right: 20px;
                            margin-top: 10px;
                            float: none !important;
                            display: inline-block !important;

                            &:last-child {
                                margin-right: 0px;
                            }

                            @media #{$small-only} {
                                //width: 100%;
                                text-align: center;
                                width: auto;
                                margin-bottom: $site-margin * 2;
                            }

                            img {
                                width: auto;
                                max-height: 35px;

                                // &[src*=".svg"] {
                                //     @media #{$small-only} {
                                //         width: 100%;
                                //         height: 35px;
                                //     }
                                // }
                           
                            }
                        }
                    }

                    &.commissions-list-2 {
                        @include grid-column(4);

                        @media #{$small-only} {
                            @include grid-column(12);

                            @include vert-mid-align;

                            //display: block !important;
                            //margin-bottom: $site-margin * 2;
                        }

                        @media #{$medium-only} {
                            @include grid-column(12);

                            float: right;

                            @include vert-mid-align;
                        }

                        float: right;

                        li {
                            @include list-inline;

                            float: right;
                            list-style: none;
                            text-align: right;
                            margin-left: 20px;

                            img {
                                width: auto;
                                max-height: 50px;
                            }

                            @media #{$small-only} {
                                text-align: center;
                                float: right;

                                //width: 100%;
                                margin-bottom: $site-margin * 2;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }

            .footer-terms {
                @include grid-column(12);

                font-family: $body-font-light;
                margin-top: $site-margin * 3;
                margin-bottom: $site-margin * 3;
                padding: 0;
                padding: 0;
                text-align: center;
                font-size: 0.9em;
                color: $grey;

                @media #{$medium-only} {
                    text-align: center;
                }

                @media #{$small-only} {
                    text-align: center;
                    margin-top: $site-margin / 2;
                    margin-bottom: $site-margin;
                }
            }
        }

        .back-to-top {
            @include grid-column(12);

            // @include show-for-small-only;

            text-align: center;
            border-top: 1px solid #e8e8e8;
            padding-bottom: $site-margin;
            opacity: 0.65;

            img {
                @include grid-column(12, $center: true);

                @include transition(all, 0.2s ease-out);

                width: 40px;
                height: auto;
                margin-top: $site-margin * 2;
            }

            &:hover {
                opacity: 1.0;
            }
        }
    }
}

//******************* Follow Us Icons *******************

.hi-icon {
    display: inline-block;
    cursor: pointer;
    margin: 10px 5px 50px 5px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;

    img {
        width: 30px;
        height: 25px;
        margin-top: 6px;
    }
}

.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.hi-icon:before {
    speak: none;
    line-height: 48px;
    display: block;
    -webkit-font-smoothing: antialiased;
}

/* Effect 4 */
.hi-icon-effect-4 .hi-icon {
    width: 28px;
    height: 28px;
}

.hi-icon-effect-4a .hi-icon {}

.hi-icon-effect-4 .hi-icon:after {
    top: -2px;
    left: -2px;
    padding: 0;
    z-index: 5;
}

.hi-icon-effect-4 .hi-icon:hover {}