
.footer__right {
    @include grid-column(4, $collapse: true);
}

.footer__right__inner {
        @include be-box($white, solid, darken($black, 5%), 0);
       height:182px;
        max-height:182px;
        
        .footer__right__inner__social {
            @include grid-column(12, $collapse: true);
               margin-top:65px;
            .live-chat {
                @include grid-column(8, $collapse: true);
                padding-left:15px;
                padding-right:10px;
                padding-top:15px;
                width:auto;
            }
            .social {
                @include grid-column(4, $collapse: true);
                @include list-inline ();
                margin-right:0;
                width:auto;

                li {
                    margin-right:0px;
                }

                ul {
                    margin-left:0px;
                    }
            }

            .social-icon {
                width:45px;
                height:auto;

            }
        }

        .footer__right__inner__email {
            @include grid-column(12, $collapse: true);
            font-family:$title1-font;
            font-size:1.3em;
            text-align:center;
            padding-top:8px;
            height:35px;
            background-image:url("../_images/common/bg-email.png");
            margin-left:5px;
            margin-top:15px;
            background-repeat: no-repeat;

            
           h1 {
            font-family:$title1-font;
            font-size:1.3em;
            letter-spacing: 0.1em;
           }
            
        }

    }