.archive-content {

    .section-left__title h4 {
        display: block !important;
        font-size: 25px;
        margin-top: 20px;
    }
    .archive-content__box {
        @include grid-column($collapse: true, $columns: 3);

        width: 23.8%;
        height: 240px;
        margin-left: 10px;
        margin-top: 10px;

         @media #{$medium-only} {
            @include grid-column($collapse: true, $columns: 12);
            width: 45%;
            margin-bottom: $site-margin;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 25px;
            margin-right: 0;
        }

        @media #{$small-only} {
            @include grid-column($collapse: true, $columns: 12);
            margin-bottom: $site-margin;
            padding-right: 20px;
        }
    }

    .archive-content__box__content {
        height: 240px;
        background: url("../_images/placeholders/archive_graphic_state1.svg");
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center 40px;
        background-color: $white;
        border: 2px solid darken($white, 10%);
        border-radius: 5px;
        position: relative;

        h4 {
            @include grid-column(12);

            bottom: 0;
            position: absolute;
            width: 100%;
            font-size: 1rem;
            text-align: center;
        }

        &:hover {
            background: url("../_images/placeholders/archive_graphic.svg");
            background-size: 40%;
            background-repeat: no-repeat;
            background-position: center 40px;
            background-color: $brand-color;
            border: 1px solid darken($white, 10%);

            h4 {
                color: #fff;
            }

            @media #{$medium-only} {
                h4 {
                    margin-top: 160px;
                    line-height: 22px;
                }
            }

            @media #{$small-only} {
                h4 {
                    margin-top: 190px;
                }
            }
        }

        .archive-content__box__content__graphic {
            text-align: center;
            display: block;

            img {
                height: 100px;
                width: 100%;
                max-width: 80px;
            }

            @media #{$medium-only} {
                img {
                    height: 100px;
                    width: 100%;
                    max-width: 100px;
                }
            }

            @media #{$small-only} {
                img {
                    height: 30px;
                    width: 100%;
                    max-width: 30px;
                }
            }
        }
    }
}

.archive-content__box-last {
    @include grid-column($collapse: true, $columns: 4);

    float: right;
    height: 240px;
    background-color: $white;

    &:hover {
        background-color: #2b9d8e;
    }

    @media #{$small-only} {
        @include grid-column($collapse: true, $columns: 12);

        margin-bottom: $site-margin;

        h4 {
            margin-top: 200px;
        }
    }
}