article {
    // Section Top Title and Content Holder
    .content-holder__content {
        @include grid-column(12, $collapse: true, $float: left);
        height: auto;
        padding: 0;
        .content-holder__title {
            padding: 0;
            margin: 0;
            height: auto;
            width: 100% !important;
            h1 {
                width: 100% !important;
            }
        }
        .content-holder__content_full-width {
            @include grid-column(12, $collapse: true, $float: left);
            height: auto;
        }
        .content-holder__inner {
            @include grid-column(12, $float: left);
            padding: ($site-margin * 2) !important;
            height: auto;
            clear: both;
        }
    }
}

.article {
    a {
        color: $global-link-color;
    }
    @include grid-column(12);
    @include clearfix;
    margin-bottom: $site-margin;
    font-size: 1.3em;
    overflow: visible;
    @media #{$medium-only} {
        padding: 0px;
    }
    @media #{$small-only} {
        padding: 0px;
        font-size: 0.8rem;
    }
    .article__content {
        padding: 10px;
        overflow: visible;
        position: relative;
        background-color: $white;
        @media #{$medium-only} {
            padding: 10px;
            font-size: 0.9em;
        }
        @media #{$small-only} {
            padding: 10px;
        }
        .article__content__title {
            @include grid-column(12, $collapse: true);
            padding-left: 0px;
            font-size: 0.8em;
            float: left;
            position: absolute;
            padding-top: 10px;
            padding-left: 10px;
            width: 90%;
            > a {
                color: $white;
                text-transform: uppercase;
                font-weight: 600;
            }
            @media #{$medium-only} {
                float: left;
                position: relative;
                top: 0px;
                width: 100%;
                > a {
                    font-size: 0.9em;
                }
            }
            @media #{$small-only} {
                float: left;
                position: relative;
                top: 0px;
                width: 100%;
                > a {
                    font-size: 1em;
                }
            }
        }
    }
    .article__content__date {
        font-size: 0.8em;
        color: $nav-active-color;
        font-family: $title1-font;
        position: relative;
        @media #{$medium-only} {
            @include grid-column(3, $collapse: true);
            font-size: 0.9em;
            color: $global-link-color;
            background-image: none;
            position: absolute;
            right: 0px;
            text-align: right;
            padding-right: 10px;
        }
        @media #{$small-only} {
            @include grid-column(4, $collapse: true);
            font-size: 0.9em;
            color: $nav-active-color;
            background-image: none;
            position: absolute;
            right: 0px;
            text-align: right;
            padding-right: 10px;
        }
    }
    .article__content__image {
        padding: 0px;
        @include grid-column(12, $collapse: true);
        margin-bottom: 25px;
        text-align: center;
        @media #{$medium-only} {
            @include grid-column(4, $collapse: true);
            margin: 5px 10px 10px 0px;
        }
        @media #{$small-only} {
            @include grid-column(4, $collapse: true);
            margin: 5px 10px 10px 0px;
        }
    }
    .article__content__body {
        overflow: visible;
        h3 {
            padding: 20px 0;
        }
        > p {
            font-family: $body-font-regular;
            font-size: 0.7em;
            line-height: 1.4;
        }
        @media #{$medium-only} {
            p {
                font-size: 0.8em;
            }
        }
        @media #{$small-only} {
            p {
                font-size: 0.9em;
            }
        }
    }
    .article__publisher {
        display: none;
    }
}
