._author-block {
    @include grid-column(12);
    font-size: 1rem;

    // @include be-box($white, solid, $border, 0px);

    height: auto;
    float: left;
    font-family: $body-font-light;
    padding: $site-margin;
    margin: 0;
    border-radius: 4px;
    margin-bottom: $site-margin;
    background-color: $white;

    h4 {
        @include grid-column(6);

        width: 50%;
        text-align: left;
        margin-bottom: 0px;
        font-family: $body-font-bold;
        font-size: 1.5em;
        color: $main-highlight-color;
    }

    ._author-block__link {
        @include grid-column(6);

        font-family: $title1-font;
        font-size: 1em;
        font-weight: normal;
        text-align: right;
        float: none;
        text-transform: capitalize;
    }

    ._author-block__line {
        @include grid-column(10);

        ._author-block__lineleft {
            @include grid-column(2, $float: left);

            @media #{$small-only} {
                @include grid-column(4);
            }
        }

        ._author-block__lineright {
            @include grid-column(10, $float: right);

            @media #{$medium-only} {
                @include grid-column(9);
            }

            @media #{$small-only} {
                @include grid-column(9);
            }
        }
    }

    ._author-block__avatar {
        @include grid-column(2);

        @media #{$medium-only} {
            @include grid-column(2);
        }

        @media #{$small-only} {
            @include grid-column(12, $center: true);
        }

        padding-right: 10px;
    }

    ._author-block__biography {
        @include grid-column(10);

        font-size: 1em;
        line-height: 1.5em;

        @media #{$small-only} {
            @include grid-column(12);
        }
    }

    h5 {
        font-family: $body-font-bold;
        font-size: 1em;
    }

    p {
        font-family: $body-font-regular;
        font-size: 0.8em;
        margin-bottom: 0.8em;
        color: $grey-dark;
    }
}

._author-block__social-icons {
    display: inline-block;
    float: right;
    font-size: 0.8em;
    color: lighten($grey, 8%);

    img {
        width: 34px;
    }

    li {
        display: inline-block;
        list-style-type: none;
    }
}