.text-partial {
    a {
        color: $global-link-color;

        // word-break: break-all;

        @media #{$small-only} {
            word-break: break-all;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    font-size: 1em;

    @include grid-column(12);

    @include be-box($white, solid, $border, 4px);

    @include clearfix;

    padding: $site-margin;
    margin-bottom: $site-margin;

    &-content {
        padding: 20px 0;
    }

    a, p, span, div, label {
        font-family: $body-font-regular;
    }

    > h1 {
        @include grid-column(12);
        @extend %title_bg;

        margin-bottom: $site-margin;
        color: $nav-main-color;
        font-size: 16px !important;
        text-align: left !important;
        text-transform: uppercase !important;
        float: left;
    }

    > p {
        @include grid-column(12);
        color: $brand-color;
        padding: 0px;

        @media #{$small-only} {
            padding-left: $site-margin;
            padding-right: $site-margin;
        }
    }

    ul {
        width: 100%;
        list-style-image: #dddddd;
        margin-left: $site-margin;
        margin-left: 20px;
        overflow: visible !important;

        @include clearfix;
    }

    ol {
        clear: both;

        li {
            list-style: inherit;
        }
    }

    li {
        font-family: $body-font-regular !important;
        list-style: initial;
    }
}

/* text-image-left */

.text-partial-content {
    @include grid-column(12);

    padding: 0;

    p {
        strong {
            // font-size: 1.5em;

        }
    }
}

.text-image-left-partial {
    a {
        color: $global-link-color;

        &:hover {
            text-decoration: underline;
        }
    }

    font-size: 1em;

    @include grid-column(12);

    @include be-box($white, solid, $border, 0px);

    @include clearfix;

    padding: 20px;
    padding-top: 1.1em;
    margin-bottom: $site-margin;

    @media #{$small-only} {
        @include grid-column(12);
    }

    a, p, span, div, label {
        font-size: 1em;
        font-family: $body-font-regular;
    }

    > h1 {
        font-family: $title1-font;
        font-size: 1.2em;
        color: $nav-main-color;
        line-height: 1.2em;
        margin-bottom: $site-margin;
        margin-top: 0px;
        padding-bottom: 6px;

        @media #{$small-only} {
            margin-top: 0px;
            font-size: 13px;
            line-height: 13px;
        }
    }

    > p {
        font-size: 1em;
        color: $grey-dark;
    }

    ul {
        font-size: 1em;
        list-style: square;
        margin-left: $site-margin;

        @include clearfix;
    }
}

.text-image-left-partial__content__img {
    float: left;

    @include grid-column($collapse: true, $columns: 5);

    margin-right: 20px;
    margin-bottom: 10px;

    @media #{$small-only} {
        @include grid-column($collapse: true, $columns: 12);
    }

    @media #{$medium-only} {
        @include grid-column($collapse: true, $columns: 5);
    }
}

/* END text-image-left */

/* text-image-right */

.text-image-right-partial {
    a {
        color: $global-link-color;

        &:hover {
            text-decoration: underline;
        }
    }

    font-size: 1em;

    @include grid-column(12);

    @include be-box($white, solid, $border, 0px);

    @include clearfix;

    padding: 20px;
    padding-top: 1em;
    margin-bottom: $site-margin;

    @media #{$small-only} {
        @include grid-column(12);
    }

    > h1 {
        font-family: $title-section;
        font-size: 1.2em;
        color: $pagetitle;

        @include vert-align(32px);

        margin-bottom: rem-calc(7px);

        // padding-left: rem-calc(7px);
        margin-top: 0px;

        @media #{$small-only} {
            margin-top: 0px;
        }
    }

    > p {
        font-size: 1em;
        color: $grey-dark;
    }

    ul {
        list-style: square;
        margin-left: $site-margin;
    }
}

.text-image-right-partial__content__img {
    float: right;

    @include grid-column($collapse: true, $columns: 5);

    margin-right: 20px;
    margin-bottom: 10px;

    @media #{$small-only} {
        @include be-image;

        @include grid-column($collapse: true, $columns: 12);
    }

    @media #{$medium-only} {
        @include be-image;

        @include grid-column($collapse: true, $columns: 5);
    }
}

/* END text-image-right */

/*image top*/
.text-image-top-partial {
    a {
        color: $global-link-color;

        &:hover {
            text-decoration: underline;
        }
    }

    font-size: 1em;

    @include grid-column(12);

    background-color: lighten($grey, 45%);
    border: 1px solid lighten($grey, 35%);

    @include clearfix;

    padding-bottom: $site-margin;
    margin-bottom: $site-margin;

    @media #{$small-only} {
        padding-top: $site-margin;
    }

    a, p, span, div, label {
        font-size: 1.1em;
        font-family: $body-font-regular;
    }

    > h1 {
        font-family: $title-section;
        font-size: 1.2em;
        color: $pagetitle;

        @include vert-align(32px);

        margin-bottom: rem-calc(7px);

        // padding-left: rem-calc(7px);
        margin-top: 0px;

        @media #{$small-only} {
            font-size: 13px;
            line-height: 13px;
        }
    }

    > p {
        font-size: 1em;
        color: $grey-dark;
    }

    ul {
        list-style: square;
        margin-left: $site-margin;
    }
}

.text-image-top-partial__content__img {
    @include grid-column(12);

    margin-bottom: $site-margin;
    padding: 0px;
}

// Edit Point Position
.content-template {
    // float: left;
}

/* end image top*/