article {
    // Section Top Title and Content Holder
    .content-holder__content {
        @include grid-column(12, $collapse: true, $float: left);

        height: auto;
        padding: 0;

        .content-holder__title {
            padding: 0;
            margin: 0;
            height: auto;
            width: 100% !important;

            h1 {
                width: 100% !important;
            }
        }

        .content-holder__content_full-width {
            @include grid-column(12, $collapse: true, $float: left);

            height: auto;
        }

        .content-holder__inner {
            @include grid-column(12, $float: left);

            padding: ($site-margin * 2) !important;
            height: auto;
            clear: both;
        }
    }
}

.article__winner {
    a {
        color: $global-link-color;
    }

    @include grid-column(12);

    @include clearfix;

    margin-bottom: $site-margin;
    font-size: 1.3em;
    overflow: visible;

    @media #{$medium-only} {
        padding: 0px;
    }

    @media #{$small-only} {
        padding: 0px;
        font-size: 0.8rem;
    }

    .article__content {
        padding: 10px;
        overflow: visible;
        position: relative;
        background-color: $white;

        @media #{$medium-only} {
            padding: 10px;
            font-size: 0.9em;
        }

        @media #{$small-only} {
            padding: 10px;
        }

        .article__content__title {
            @include grid-column(12, $collapse: true);

            padding-left: 0px;
            font-size: 1.2em;
            float: left;
            position: relative;
            padding-top: 10px;
            padding-left: 10px;
            width: 100%;
            padding-bottom: 10px;

            > a {
                color: $brand-color;
                text-transform: uppercase;
                font-weight: 600;
            }

            @media #{$medium-only} {
                float: left;
                position: relative;
                top: 0px;
                width: 100%;

                > a {
                    font-size: 0.9em;
                }
            }

            @media #{$small-only} {
                float: left;
                position: relative;
                top: 0px;
                width: 100%;

                > a {
                    font-size: 1em;
                }
            }
        }
    }

    div.article__content__date {
        font-size: 0.8em !important;
        color: $nav-active-color;
        font-family: $title1-font;
        position: relative;
        float: right;

        @media #{$medium-only} {
            @include grid-column(3, $collapse: true);

            font-size: 0.9em;
            color: $nav-active-color;
            background-image: none;
            position: absolute;
            right: 0px;
            text-align: right;
            padding-right: 10px;
        }

        @media #{$small-only} {
            @include grid-column(4, $collapse: true);
            width: 100%;
            font-size: 0.9em;
            color: $nav-active-color;
            background-image: none;
            right: 0px;
            padding-right: 10px;
        }
    }

    .article__content__image {
        padding: 0px;

        @include grid-column(12, $collapse: true);

        margin-bottom: 25px;
        text-align: center;

        @media #{$medium-only} {
            @include grid-column(4, $collapse: true);

            margin: 5px 10px 10px 0px;
        }

        @media #{$small-only} {
            @include grid-column(4, $collapse: true);

            margin: 5px 10px 10px 0px;
        }
    }

    .article__content__body {
        overflow: visible;
        float: left;
        h3 {
            padding: 20px 0;
        }

        > p {
            font-family: $body-font-regular;
            font-size: 0.7em;
            line-height: 1.4;
        }

        @media #{$medium-only} {
            p {
                font-size: 0.8em;
            }
        }

        @media #{$small-only} {
            p {
                font-size: 1.1em;
            }
        }

        img {
            padding-left: 0;
            width: 33.33333%;
            float: left;
            padding-right: 20px;
            padding-bottom: 20px;

            @media #{$small-only} {
                width: 100%;
            }
        }
    }

    .article__publisher {
        display: none;
    }


    //Winner Game
    .winner-game {
    padding: 15px;
    background: #F9F7F4;
    overflow: auto;

    p {
        line-height: 1.3;
        font-size: 0.75em;
        margin-right: 10px;
        margin-bottom: 0px;

        @media #{$medium-only} {
            font-size: 0.9em;
        }

        @media #{$small-only} {
            font-size: 1em;
            margin-bottom: 10px;
        }
    }

    h4 {
        font-family: "expo-sans-pro-bold", Helvetica, Arial, sans-serif;
        font-size: 0.8em;
        margin-bottom: 0px;

        span {
            color: #333333;
            font-size: 1.1em;
            text-transform: uppercase;
        }

        @media #{$medium-only} {
            font-size: 1.1em;
        }

        @media #{$small-only} {
            font-size: 1.3em;
        }
    }

    .winner-game__left {
        @include grid-column(10, $collapse: true);

        float: left;

        @media #{$medium-only} {
            @include grid-column(9, $collapse: true);
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);

            font-size: 1em;
        }
    }

    .winner-game__right {
        @include grid-column(2, $collapse: true);

        img {
            margin-bottom: 3px;
        }

        @media #{$medium-only} {
            @include grid-column(3, $collapse: true);
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);

            font-size: 1em;
        }
    }

    .winner-game__right-btnJoinnow {
        @include grid-column(6, $collapse: true);

        background-color: $go-button;
        color: $white;
        font-family: "expo-sans-pro-bold", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 0.6em;
        width: 49%;
        height: 20px;
        float: left;
        padding: 3px;
        margin: 0px;

        @media #{$medium-only} {
            @include grid-column(12, $collapse: true);

            font-size: 0.9em;
            height: 44px;
            padding: 13px;
        }

        @media #{$small-only} {
            font-size: 1em;
            height: 44px;
            padding: 13px;
        }
    }

    .winner-game__right-btnPlaynow {
        @include grid-column(6, $collapse: true);

        background-color: $brand-color;
        color: $white;
        font-family: "expo-sans-pro-bold", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 0.6em;
        width: 49%;
        height: 20px;
        float: right;
        padding: 3px;
        margin: 0px;

        @media #{$medium-only} {
            @include grid-column(12, $collapse: true);

            font-size: 0.9em;
            height: 44px;
            padding: 13px;
            margin-bottom: 3px;
        }

        @media #{$small-only} {
            font-size: 1em;
            height: 44px;
            padding: 13px;
        }
    }
}

    // Author Block
    ._author-block {
    @include grid-column(12);
    font-size: 1rem;

    // @include be-box($white, solid, $border, 0px);

    height: auto;
    float: left;
    font-family: $body-font-light;
    padding: $site-margin;
    margin: 0;
    border-radius: 4px;
    margin-bottom: $site-margin;
    background-color: $white;

    h4 {
        @include grid-column(6);

        width: 50%;
        text-align: left;
        margin-bottom: 0px;
        font-family: $body-font-bold;
        font-size: 1.5em;
        color: $main-highlight-color;

        @media #{$small-only} {
            width: 100%;
            padding-top: 10px;
        }
    }

    ._author-block__link {
        @include grid-column(6);

        font-family: $title1-font;
        font-size: 1em;
        font-weight: normal;
        text-align: right;
        float: none;
        text-transform: capitalize;
    }

    ._author-block__line {
        @include grid-column(10);

        ._author-block__lineleft {
            @include grid-column(2, $float: left);

            @media #{$small-only} {
                @include grid-column(4);
            }
        }

        ._author-block__lineright {
            @include grid-column(10, $float: right);

            @media #{$medium-only} {
                @include grid-column(9);
            }

            @media #{$small-only} {
                @include grid-column(9);
            }
        }
    }

    ._author-block__avatar {
        @include grid-column(2);

        @media #{$medium-only} {
            @include grid-column(2);
        }

        @media #{$small-only} {
            @include grid-column(12, $center: true);
            margin: 0 auto;
            text-align: center;
        }

        padding-right: 10px;
    }

    ._author-block__biography {
        @include grid-column(10);

        font-size: 1em;
        line-height: 1.5em;

        @media #{$small-only} {
            @include grid-column(12);
        }
    }

    h5 {
        font-family: $body-font-bold;
        font-size: 1em;
    }

    p {
        font-family: $body-font-regular;
        font-size: 0.8em;
        margin-bottom: 0.8em;
        color: $grey-dark;
    }
}

    ._author-block__social-icons {
        display: inline-block;
        float: right;
        font-size: 0.8em;
        color: lighten($grey, 8%);

        img {
            width: 34px;
        }

        li {
            display: inline-block;
            list-style-type: none;
        }
    }
}
