.reveal-modal-bg {
    z-index: 999999 !important;
    background: rgba(10, 55, 103, 0.8);
}

.account-menu-mobile__reveal-modal-bg {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(10, 55, 103, 0.8);
    &.active {
        display: block;
    }
}

.balance-display-mobile__reveal-modal-bg {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(10, 55, 103, 0.8);
    &.active {
        display: block;
    }
}

.alertbox {
    min-width: 100px;
    min-height: 160px;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 15px;
    @include box-shadow(0 3px 0 rgba(0, 0, 0, 0.35));
    @include transition(all, 0.2s ease-out);
    background-color: $onahau;
    color: $base-blue;
    @include border-radius(3px);
    @media #{$small-only} {
        max-width: 100%;
        min-width: 85%;
        width: 95%;
    }
    z-index: 9999999999;
    text-align: center;
    a:hover {
        text-decoration: underline;
    }

    &__cta {
        a:hover {
            color: $white;
            text-decoration: none;
        }
    }
    h3 {
        font-weight: bold;
        text-transform: uppercase;
        color: $base-blue;
        @media #{$small-only} {
            font-size: 1em;
        }
    }
    p {
        color: $base-blue;
        @media #{$small-only} {
            font-size: 0.9em;
        }
    }
    .ok-cta {
        margin-bottom: 1em;
        background: $green;
        color: $white;
        text-align: center;
        border: 2px solid darken($green, 10%);
        border-radius: 3px;
        text-transform: uppercase;
        padding: 0.8em 1.93em;
        font-weight: bold;
        &:hover {
            background: darken($green, 12%);
        }
        @media #{$small-only} {
            display: block;
            width: 80%;
            margin: 0 auto;
        }
    }
    .cancel-cta {
        margin-bottom: 1em;
        margin-top: 1em;
        background: $mandy;
        color: $white;
        border: 2px solid darken($mandy, 10%);
        border-radius: 3px;
        text-transform: uppercase;
        padding: 0.8em;
        font-weight: bold;
        margin-right: 20px;
        &:hover {
            background: darken($mandy, 12%);
        }
        @media #{$small-only} {
            display: block;
            width: 80%;
            margin: 0.75rem auto;
        }
    }
    .alertbox__cta {
        margin-top: 2em;
        margin-bottom: 1em;
    }
}

.alert-background {
    height: 100%;
    overflow: auto;
    overflow-y: scroll;
    background-color: transparentize(black, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999999;
}
