.cookie-policy {
    .container {
        max-width: 62.5rem;
        margin: 0 auto;
        position: relative;
        padding-left: rem-calc(10px);

        @media screen and ( max-width: 1024px) {
            padding-left: 0;
        }
    }
}

.responsible-gaming-modal {
    .responsible-gaming-popup {
        background-color: #d1f4ff !important;

        .title {

            h1 {
                color:#1d4775 !important;
            }
        }

        .copy {

            p {
                color:#1d4775 !important;
            }
        }

        .terms {
            p {
                color: #1d4775 !important;

                a {
                    color: #1d4775 !important;
                }
            }
        }
    }
}

