.top-bar h1 {
    color: white;
}
.container {
    width: 80%;
    margin: auto;
}
.editor-panel {
    border: 1px solid #CCCCCC;
    padding: 16px 16px 42px 16px;
}
.tabs-content {
    color: #CCCCCC;
    min-height: 400px;
    padding: 8px;
}
.label-content-type {
    padding: 8px;
    margin-bottom: 16px;
}
textarea {
    width: 95%;
    visibility: hidden;
}
textarea.seo-content {
    height: 250px;
    width: 100%;
    visibility: visible !important;
}
input[type="checkbox"] {
    margin: 8px;
}
.list {
    width: 100%;
    table-layout: auto;
}
.list tr {
    cursor: -webkit-grab;
}
.list tr:active {
    cursor: -webkit-grabbing;
}
.tabs {
    background-color: #CCCCCC;
    border: 1px solid #CCCCCC;
}
.tabs-content {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}
#imgPicker {
    position:fixed;
    top: 45%;
    left: 50%;
    width: 650px;
    height: 550px;
    margin-top: -220px; /*set to a negative number 1/2 of your height*/
    margin-left: -300px; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}
#imgPicker.maximized {
    width : 100% !important;
    height: 100% !important;
    left: 0 !important;
    top : 0 !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
}
.images-container {
    height: 70%;
    max-width: 100%;
    margin-bottom: 8px;
    padding-top: 15px;
    overflow: auto;
}
.thumbnail {
    max-width: 150px;
/*    max-height: 100px;*/
    min-width: 150px;
    margin: 4px;
    border: 3px outset #CCCCCC;
    padding: 4px;
}
.thumbnail.selected {
    border: 2px solid red;
}
.thumbnail.not-selected {
    border: none;
}
.top-buttons-action {
    padding: 1%;
    margin-bottom: 3%;
}
.login-panel {
    position:fixed;
    top: 50%;
    left: 50%;
    width: 284px;
    height: 200px;
    margin-top: -100px; /*set to a negative number 1/2 of your height*/
    margin-left: -150px; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    padding: 16px;
}
.new-user-panel {
    position: fixed;
    top: 40%;
    left: 45%;
    width: 450px;
    height: 382px;
    margin-top: -99px;
    margin-left: -150px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    padding: 25px;
    font-size: 15px;
}

.new-user-panel .action-button {
    float: right;
}
table.layout {
    border: none;
    background-color: #FFFFFF;
}
.modifying {
    background-color: #EE7460 !important;
    color: #FFFFFF !important;
}
.modifying > td {
    color: #FFFFFF !important;
}
.hiding {
    background-color: #B6B6B6 !important;
    color: #FFFFFF !important;
}
.archiving {
    background-color: #B6B6B6 !important;
    color: #FFFFFF !important;
}
.hidden {
    background-color: #6E6969 !important;
    color: #FFFFFF !important;
}
.archived {
    background-color: #6E6969 !important;
    color: #FFFFFF !important;
}
input.error {
    border: 1px solid #EE7460 !important;
    background-color: #F9D0C9 !important;
}
.counting-chars {
    top: -56px;
    position: relative;
    right: 4px;
}
.center {
    text-align: center;
}
.tip {
    background-color: #FFFEB9;
    border: solid 1px #ab8124;
    max-width: 600px;
    max-height: 150px;
    padding: 8px;
    position: fixed;
    color: #FFFFFF;
}
.tip > table {
    background-color: #FFFEB9;
}
input[type=button] {
    min-width: 80px;
}
img.icon {
    width: 20px;
    height: 20px;
}
.skin-colour {
    margin-left: 2%;
    color: #A5FFFF;
}
.img-zoom {
    max-width: 100%;
    max-height: 50px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.transition {
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
}

.ui-tooltip {
    background: #666;
    color: white;
    border: none;
    padding: 0;
    opacity: 1;
    max-width: 600px;
}

.panel .search {
    float: left;
    width: 40%;
}

.panel .clearfix {
    clear: both;
}




.tc-privacy-modal {
    /*  display: none;  */
    position: fixed; /* Stay in place */
    z-index: 1000 !important; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5);
    padding-top:40px;
}



.tc-privacy-modal .tc-privacy-popup {
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 700px;
    height: auto;
    text-align:center;
    box-shadow: 0 3px 0 0 rgba(0,0,0,0.35);
    padding: 20px 90px;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    margin-left:80px;
}

.tc-privacy-popup.preview {
    height: 100%;
}

.tc-privacy-popup .terms-service-copy {
    padding-left: 64px;
    padding-right: 64px;
    text-align: left;
    margin-top: 36px;
    margin-bottom: 30px;
}


.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 20px;
    width:185px;
    height:45px;
}

.tc-btn {
    border-color:#8F9297; 
    background-color: grey;
    margin-bottom: 50px;
}

.tc-btn h5 {
    color:#fff;
    font-size:16px;
    margin-top: 5px;
}

.tc.btn:hover {
    cursor: pointer;
}


.heading-title {
    background-color: orange;
    width: 185px;
}

.heading-title.save-version {
    margin-top: 30px;
    background-color: green;
}

.heading-title h4 {
    text-align: center;
    padding: 5px;
    margin: 0px;
}



