.top-bar h1 {
    color: white;
}
.container {
    width: 90%;
    margin: auto;
    padding: 8px;
}
td.category {
    text-align: center;
    background-color: #949ca4;
    color: #FFFFFF;
}
.thumbnail {
    max-width: 150px;
    max-height: 100px;
    min-width: 150px;
    min-height: 100px;
    margin: 4px;
    border: 3px outset #CCCCCC;
    padding: 4px;
    cursor: -webkit-grab;
}
.login-panel {
    position:fixed;
    top: 50%;
    left: 50%;
    width: 284px;
    height: 200px;
    margin-top: -100px; /*set to a negative number 1/2 of your height*/
    margin-left: -150px; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    padding: 16px;
}
.row0 {
    background-color: #D2E1E5 !important;
}
.row1 {
    background-color: #F5FFEB !important;
}
.row2 {
    background-color: #FFFFFF !important;
}
.not-available {
    outline:1px dashed red;
}
#ui-add-game-to-skins tr td:first-child{
    cursor: pointer;
}
.parent-row {
    font-weight: bold;
}
.skin-colour {
    margin-left: 2%;
    color: #A5FFFF;
}
.thumbnail.selected {
    border: 3px outset #bd260d !important;
    opacity: 0.5;
}