/**
*   Parts of styling taken from _games-filter-menu.css
*/

.filter-tabs {
    &__heading {
        display: table;
        table-layout: fixed;
        margin: 0;
        width: 100%;

        &__item {
            display: table-cell;
            height: 44px;
            @include vert-align(44px);
            margin: 0;
            text-align: center;
            font-family: $ui-font-bold;
            font-size: 0.7em;
            background-color: $regalwins--san-marino;
            color: $white;
            border-left: 1px solid darken($global-link-color, 90%);
            border-bottom: 1px solid #989898;

            &:hover {
                color: $global-bg-color;
            }

            &.active {
                background-image: none;
                background-color: $regalwins--gray !important;
                color: $white !important;
                border: 1px solid lighten( $regalwins--gray, 40% );
                border-bottom: 0;
            }
        }

        &__link {
            padding-left: 0 !important;
            text-shadow: none;
            text-decoration: none;

            &:hover,
            &:active {
                color: $white !important;
                text-decoration: none;
            }
        }
    }

  &__content {
    padding: 20px 0;
    background-color: $regalwins--gray !important;
    border: 1px solid lighten( $regalwins--gray, 40% );
    border-top: 0;

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    &__item {
      display: none;

      ul {
        margin: 0;
        padding: 0 10px;

        li {
            float: left;
            width: 33.3333333333%;
            margin: 0 0 10px 0;
            padding: 0 5px;
            font-size: 0.6em;
        }

        a {
          padding: 0 !important;
          font-size: 1.1em;
          font-weight: bold;
        }
      }

      &.active {
        display: block;
      }
    }
  }
}

/* Override */
.filter-tabs .filter-tabs__content__link {
    @include background-image(linear-gradient(to top, $white 2%, white 100%));
    color: #000000;
    box-shadow: none !important;
    text-align: center !important;
    height: 44px !important;
    display: block;
    position: relative;

    span {
        display: block;
        width: 100%;
        position: absolute;
        top: 47%;
        transform: translateY(-50%);
    }
}