.forgotpass__wrapper {
	padding: 15px 20px 0 20px;
	font-size: 1rem;
	padding-top: 2rem;
	background: $black url('/_images/revamp/common/backgrounds/card-pattern-dark.png');
    background-size: 100%;
    background-repeat: no-repeat;

	@media #{$medium-up} {
		@include grid-column(12, $collapse:true,  $center:true);
		background: none;
		margin-left:auto;
		margin-right:auto;
		margin-top: 3rem;
	}

	> h1 {
		color: $white;
		font-weight: bold;
		font-size: 18px;
		text-transform: none;
		margin-bottom: 10px;

		@media #{$medium-up} {
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	p { font-size: rem-calc(14px); }

	.button.expand {
		@include regalwins-button-gradient();
	}
}

.forgotpass__input {
	@media #{$medium-up} {
		@include grid-column(6, $collapse:true,  $center:true);
		margin-left:auto;
		margin-right:auto;
	}
}


#forgot-password .mobilemenu-cta {
	display: none !important;
}

// Forgotten password button.
// #btn_submit_forgotpass {
//     color:$regalwins--copy-colour;
//     background:$regalwins--dodger-blue;
//     font-family: $ui-font-bold;
//     font-size: $theme--ui----desktop--fontsize;
//     &:hover {
//         background:$regalwins--hover;
//     }
// }