.content-holder {
   @extend %content-holder--desktop;

   
    @media #{$small-only} {
        @include border-radius(0 0 0 0);
    }

    @media #{$medium-only} {
        @include border-radius(0 0 0 0);
    }

    .content-holder__title {
        
   @extend %content-holder--desktop--title;

        @media #{$small-up} {
            @include border-radius(0);
        }

        @media #{$large-up} {
            @include border-radius(0 );
        }

        h1 {
          @extend %content-holder--desktop--title--h1;
          

            @media #{$small-only} {
         @include content-holder--mobile--title--h1;
            }

  
        }
    }

    .content-holder__title__link {
        @extend %content-holder--mobile--title--link;

        a{ @extend %content-holder--mobile--title--link--color; }

        @media #{$small-only} {
            @include grid-column(2, $collapse: false, $float: right);
        }

      
        &:hover {
            text-decoration: underline;
            color: inherit;
        }
    }

    .content-holder__content {
        @include grid-column(12, $collapse: true, $float: left);

        height: auto;

        .content-holder__content_full-width {
            @include grid-column(12, $collapse: true, $float: left);

            height: auto;
        }

        .content-holder__content_left {
            @include grid-column(8, $collapse: true, $float: left);

            padding-right: 0;
            height: auto;

            .content-holder__inner {
                @include grid-column(12, $float: left);

                padding: $site-margin;
                // height: auto;
                clear: both;

                @media #{$small-only} {
                    padding: 2px;
                }
            }
        }

        .content-holder__content_right {
            @include grid-column(4, $collapse: true, $float: right);

            padding-left: 0;
            height: auto;

            .content-holder__title {
                @include grid-column(12, $collapse: true, $float: left);

                padding-left: 0;

                h1 {
                    @include grid-column(12, $collapse: false, $float: left);
                }
            }

            .content-holder__inner {
                @include grid-column(12, $collapse: true, $float: left);

                height: auto;
                clear: both;
                overflow: hidden;
            }

            .latest-offer-promo {
                margin-top: $site-margin;

                img {
                    border-radius: 5px;
                }
            }

            .progressive-jackpot-wrap {
                margin-top: $site-margin;
                padding-right: $site-margin;
            }
        }
    }
}

.bingo-schedule-holder, .home-featured-games-holder {
    @include show-for-large-up;

    @media #{$medium-only} {
        .content-holder__content_left {
            width: 100% !important;
            padding-right: 0 !important;
            height: auto;
        }
    }

    @media #{$small-only} {
        .content-holder__content_left {
            width: 100% !important;
            padding-right: 0 !important;
            height: auto;
        }
    }

    .content-holder__content_right {
        @include show-for-large-up;
    }
}