.home-games {
    @include grid-row;
    height: auto;
}

.home-games__container {
    @include grid-column(12, $collapse: true);
    height: auto;
    margin-bottom: 14px;
}

.home-games__container__quad {
    @include grid-column(4, $collapse: true);
    padding-left: 0px;
}

.home-games__container__single-four {
    @include grid-column(8, $collapse: true);
    padding-left: 0px;
    padding-right: 0px;
}


