.home-main-slider {
    cursor: pointer;

    ul {
        list-style: none;
        margin: 0;
        margin-left: 0rem;
        position: relative;

        li {
            img {
                width: 100%;
            }
        }
    }

    max-width: 1100px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    @media #{$small-up} {
        background-color: #dad2f9;
    }

    @media #{$large-up} {
        background-color: transparent;
    }

    .desktop-slider & {
        @include show-for-large-up;
    }

    .mobile-slider & {
        @include show-for-small-only;

        @include show-for-medium-only;
    }

    .slider-text-link {
    position: relative;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    font-size: 11px;
    line-height: 1;
    font-weight: bold;
    left: 0px;
    bottom: 0px;
    width: 100%;
    margin: 0;
    padding: 2px;
    text-align:center;
    float:left;

@media #{$medium-only} {
     background: rgba(0, 0, 0, 0.4);
}
   

    @media #{$large-up} {
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
    }        

        a {
            color: #FBFBFB;
            font-weight: bold;
            display: block;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        &.edit-point {
            margin-top:-40px;
        }
        }
    }

     .slider-text-link-copyright {
        font-size: 11px;
        color: $white;
        line-height: 1em;
        font-weight: 700;
        margin-bottom: 0;
        text-align:center;
    }
}





        

   