.home-mobile {
    @include hide-for-large-up;

    .banner {
        @include grid-column(12);

        padding: 0;
        min-width: 100%;
        margin-bottom: 15px;
    }

    .home-mobile-carousels {
        @include grid-column(12);

        padding: 0;
    }

    .footer-bar-mobile {
        @include grid-column(12);

        @include transition(all, 0.3s ease);

        transform: translateY(0);
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 10px $site-margin;
        background: darken($nav-active-color, 10%);
        z-index: 2;
        height: 55px;
        line-height: 1;

        @media #{$medium-only} {
            padding: 8px $site-margin;
            height: 52px;
            line-height: 0.9;
            font-size: 0.95rem;
        }

        .cta-join {
            @include grid-column(6);

            width: 48%;
            text-shadow: none;
        }

        .cta-cashier {
            @include grid-column(6);

            float: right;
            width: 48%;
            text-shadow: none;
        }

        &.on-scroll {
            @include transition(all, 0.4s ease-in-out);

            transform: translateY(40px);
        }
    }

    .lobby-wrap__content-box__content {
        padding-top: ($site-margin / 2) !important;
    }
}

.holder-mobile {
   @extend %bingo--contentholder--mobile;

    .title-mobile {
       @extend %bingo--contentholder--mobile--container;

        .title-link {
         @extend %content-holder--section--title;
        }
    }

    .content-holder-mobile {
        @include grid-column(12);

        padding: $site-margin / 2;
        overflow: hidden;
        max-height: 250px !important;

        ul {
            @include grid-column(12);

            margin: 0;
            padding: 0;
            overflow: hidden;

            li {
                @include grid-column(12);

                @include border-radius(4px);

                max-width: 135px;
                max-height: 145px;
                height: auto;

                // background: #7D50E8;
                margin-right: $site-margin / 2;
                padding: 0;
                color: $white;
                font-family: $mobile-font-bold;
            }

            &.bxslider-promo-carousel-s li {
                max-width: none !important;
                max-height: none !important;
            }
        }
    }
}