.community {
    @include grid-row;

    .two-columns-content-wrap {
        max-width: 100% !important;
        padding: 0 $site-margin;
        background: none;
    }

    .two-columns-content-wrap__left {
        padding: 0;
        padding-right: $site-margin;

        @media #{$small-only} {
            padding-right: 0;
        }
    }

    .two-columns-content-wrap__right {
        padding: 0 ($site-margin / 2);
        padding-top: 15px;
        border-radius: 4px;
        background: white;
    }

    .community__top-post {
        .article__content {
            padding: 0;
        }
    }

    .community-wrap-content {
        @include grid-column(12);

        padding: 0;
        padding-left: 10px;

        .post-wrapper {
            @include grid-column(4);

            @media #{$medium-only} {
                @include grid-column(6);
            }

            @media #{$small-only} {
                @include grid-column(12);
            }

            .post-wrapper__post {
                margin-right: 10px;
                margin-bottom: 10px;
                background-color: $white;
                height: 250px;
            }
        }
    }

    .article {
        cursor: pointer;
    }

    .community__title {
        font-family: $title-section !important;
        font-size: 2.5em;
    }

    // .community__section__chat-news {
    //     @include grid-column(12);
    // }

    ///////////////////// ** Chat Host Thumb Nails only ** /////////////////////////
    .community__section__chat-thumbs {
        background: none;
        text-align: center;

        .article__content {
            height: 385px;
            cursor: default;
        }

        .article__content__image {
            @include grid-column(12);

            padding: 0;
            text-align: center;
            margin-top: 25px;
            margin-bottom: 10px;

            img {
                margin-top: $site-margin * 2;
            }

            @media #{$medium-only} {
                margin-top: 0px;
            }

            @media #{$small-only} {
                margin-top: 0px;
            }
        }

        .article__content__date {
            display: none;
        }

        h1.article__content__title {
            top: 10px !important;
            text-align: center;

            @media #{$medium-only} {
                top: 0px !important;
            }

            @media #{$small-only} {
                @include grid-column(12);

                top: 0px !important;
            }
        }

        .article__content__body {
            @include grid-column(12);

            padding: 10px 10px 0px 10px;

            > p {
                margin-bottom: 0px;
                font-size: 0.89em;

                strong {
                    color: $nav-active-color;
                }
            }
        }

        .article__content__cta {
            display: none;
        }
    }

    .text-image-left-partial {
        .text-image-left-partial__content__img {
            @include grid-column(4);
        }
    }

    ///////////// ** TOP POST ONLY to modify other posts go to Aricle.scss ** /////////////
    .community__top-post {
        // padding-right: 10px;

        @media #{$medium-only} {
            padding-left: 0;
            padding-right: 0;
        }

        @media #{$small-only} {
            padding-left: 0;
            padding-right: 0;
        }

        .article__content__image {
            @include grid-column(4);

            margin: 5px 10px 10px 0px;

            @media #{$medium-only} {
                @include grid-column(3);

                padding: 10px;
                margin: 0;
            }

            @media #{$small-only} {
                @include grid-column(12);

                padding: 0;
                margin: 0;
            }

            img {
                width: 100%;
            }
        }

        .article__content {
            // padding: 15px;

            .article__content__image {
                img {
                    width: 100%;
                }

                @media #{$small-only} {
                    margin: 0px;
                    margin-bottom: $site-margin;
                }
            }

            .article__content__date {
                @include grid-column(3);

                width: 138px;
                line-height: 32px;
                font-family: $title1-font;
                font-size: 0.75em;
                top: 6px;
                padding-left: 18px;
                float: right;
                color: $white;
                background-image: url("/_images/common/community_arrow.png");
                position: absolute;
                right: -14px;

                @media #{$medium-only} {
                    @include grid-column(3);

                    font-size: 0.85em;
                    float: right;
                    color: $brand-color-light;
                    background-image: none;
                    line-height: 5px;
                    right: 0px;
                    padding-right: 15px;
                    padding-top: 20px;
                    text-align: right;
                }

                @media #{$small-only} {
                    display: none;
                }
            }

            .article__content__title {
                @include grid-column(12);

                padding: 0 10px;
                border-bottom: 0 !important;
                font-size: 1em !important;
                margin-bottom: 5px;
                float: none;
                position: relative;
                top: 15px;

                @media #{$small-only} {
                    top: 0px;
                }

                > a {
                    color: $global-link-color;
                    text-transform: uppercase;
                }
            }

            .article__content__body {
                @media #{$small-only} {
                    @include grid-column(12);

                    > a {
                        font-size: 1.2em;
                    }
                }

                p {
                    margin-top: 30px;
                    padding: 0 5px;

                    @media #{$small-only} {
                        margin-top: 0px;
                        font-size: 1em;
                    }
                }
            }
        }
    }

    ///////////// ** /TOP POST ONLY ** /////////////
}