.regalwins--homepage {
    .edit-point {
        z-index: 999999;
    }
    .accordion.accordion-wrap {
        .accordion-navigation {
            background: none !important;
            border: none;
            box-shadow: none;
            color: $white !important;
            border: none !important;

            .ui-accordion {
                color: $white !important;
                background: url("/_images/revamp/common/icons/arrow-down-white.svg") no-repeat center right 10px;
                background-color: none !important;
                background-size: 20px 20px;
                
                &.active {
                    background: url("/_images/revamp/common/icons/arrow-up-white.svg") no-repeat center right 10px;
                    background-color: none !important;
                    background-size: 20px 20px;
                }

                h1 {
                    color: $white !important;
                }

                &:hover {
                    border: none;
                    box-shadow: none;
                }
            }

            .content {
                padding: 0 15px;
                background: none;
            }
        }
    }

    .middle-content__box {
        .ui-accordion {
            background-color: none;
            
            h1 {
                max-width: 100%;
                padding: 0;
                margin: 0;

                &:after {
                    content: 'Read more';
                    margin: 1em 0;
                    cursor: pointer;
                    position: relative;
                    font-size: rem-calc(16px);
                    text-transform: uppercase;
                    float: left;
                    width: 100%;
                    text-decoration: underline;
                }
            }

            &.active {
                h1 {
                    &:after {
                        content: 'Close';
                    }
                }
            }

            @media #{$small-only} {
                padding: rem-calc(20px);
            }
            @media #{$medium-only} {
                padding: rem-calc(40px);
            }

            h1 {
                // this shouldn't be a h1 within SEO copy, ask to get this removed / changed to a h3
                font-size: rem-calc(22px);
                text-transform: uppercase;
                padding-bottom: rem-calc(35px);
                margin: 0;
            }
            .text-partial-content,
            .content {
                background-color: none;

                p {
                    font-size: rem-calc(16px);
                    letter-spacing: 0.03px;
                    line-height: rem-calc(23px);
                }
            }
        }
    }
}

#home {
    .breadcrumbs__row {
        display: none;
    }
    .promotion {
        @include grid-column(12, $collapse: true);
        height: 100%;
        .promotion__image {
            @include grid-column(12, $collapse: true);
        }
        .promotion__wrapper {
            height: 100%;
        }
        .promotion__content__wrapper {
            @include grid-column($columns: 12);
            @media #{$small-only} {
                float: none;
            }
        }
        .promotion__content {
            height: auto;
        }
    }
    .new-games {
        .hub-grid__col-2x {
            @media #{$medium-only} {
                @include grid-column(4, $collapse: true);
            }
        }
    }
}

.home-promos {
    margin-top: 44px;
}

.seobox {
    @extend .hide-for-small;
    @extend .hide-for-medium;
}

// revamp desktop
.home-hero--banner {
    display: none;
    
    @media #{$medium-up} {
        display: block;
        width: 100%;
        height: auto;
    }		
}

// T&Cs were previously within the slider
#home .home-hero .home-hero--intro .home-hero--termsconditions {
    display: block;
    padding-top: 8px;
}