
.home-hero {
    position: relative;

    .home-hero--banner-mobile {
        width: 100%;
        height: auto;

        @media #{$medium-up} {
            display: none;
		}
    }

    .home-hero--intro {
        margin: 0 20px;

        .home-hero--termsconditions {
            a:not(.edit-point) { 
                display: block;
                font-size: rem-calc(10px);
                line-height: 1rem;
                color: $white;
                text-align: center;
            }

            & p { 
                font-size: rem-calc(10px);
                margin-bottom: 0.75rem;
            }

            @media #{$medium-up} {
                display: none;
            }
        }
    }
}

.home-welcome-intro-wrapper, .home-welcome-full-wrapper {
    clear: both;
    padding: 10px 20px 30px 20px;
    text-align: center;
    background: $gray-darker;

    @media #{$medium-up} {
        background: $regalwins--gray-darkest;
    }

    h1 {
        margin: 0;
        margin-bottom: 1.5rem;
        line-height: $rw-header-line-height;
        font-size: $rw-header-size;
        font-weight: bold;
        text-transform: uppercase;
    }

    p {
        font-size: $rw-body-font-size;
        line-height: $rw-body-line-height;
        margin-bottom: 0;
    }

    a {
        display: inline-block;
        margin-top: 15px;
        font-size: $rw-body-font-size;
        font-weight: bold;
        color: $regalwins--header-gold;
    }
}

.home-welcome-intro-wrapper {
    @media #{$medium-up} {
        padding: 10px 20px 30px 20px;
    }

}

.home-welcome-full-wrapper {
    text-align: left;

    @media #{$medium-up} {
        padding: 10px 20px 30px 20px;
    }
    @media #{$large-up} {
        padding: 20px 0 30px 0;
    }
}
