.selling-points {
    font-size: 1.5rem;
    width: 100%;
    padding: 3em;
    background-color: $off-white;
    height: auto;
    
    .text-partial{
        border:none;
        padding-left:0px;
        padding-right:0px;
        padding-top:0px;
        >h1{
            font-size: 1.4em;
            border-bottom: none;
            padding-bottom: 0px;
            margin-bottom: 0px;
            height: 100%;
              @media #{$small-only} {
              font-size: 0.9em;
              }
        }
    }
}

.selling-points__container {
    @include grid-row;
    margin-top: 5%;
    h2 {
        color: #5c5668;
        font-size: 19px;
       

    }
    p {
        color: $content-text;
        font-size: 0.9em;
        line-height: 1.3em;
    }
}

.selling-points__container__row {
    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
    }
    @media #{$medium-up} {
        @include grid-column(12, $collapse: true);
        margin-bottom: 2em;
    }
}

.selling-points-image {
    @include grid-column(3, $collapse: true);
      @media #{$small-only} {
        @include grid-column(12);
      }
}

.selling-points-content {
    @include grid-column(8, $collapse: true);
    padding-right: 0.2em;
          @media #{$small-only} {
        @include grid-column(12);
      }
}

.selling-points__item {
    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
    }
    @media #{$medium-up} {
        @include grid-column(6, $collapse: true);
    }
}

.selling-points__container__button {
    @media #{$small-only}{
        @include grid-column(6, $center: true, $collapse: true);
    }
    @media #{$medium-up}{
        @include grid-column(3, $center: true, $collapse: true);
    }
    margin-left: auto;
    margin-right: auto;
}

.selling-points__cta {
@include CTA-button(

    //padding
   1em, 
      //font-size
  1em, 
    //border-radius
    4px, 
    //start gradient color: 
    #179f2d, 
    //end gradient color: 
    #7bb726

    );
padding-left: 2.2em;
padding-right: 2.2em;

}
