.header {
    .tab-bar {
        line-height: 0;
    }
}

.header-desktop {
    position: relative;
    z-index: 3;
    @media #{$small-only} {
       display: none;
    }
    @media #{$medium-only} {
       display: none;
    }

    @include grid-column(12);

    padding: 0;

    .header__logo {
        @include show-for-large-up;

        height: 115px;
        width: 155px;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: -115px;
    }

    .header__login {
        @include show-for-large-up;

        height: auto;
        position: absolute;
        right: 0px;
        top: -86px;

        .button--join {
            top: 0;
            width: 142px;
            height: 111px;
            background-image: url(../_images/common/bt-join-now.png);
            background-repeat: no-repeat;
            box-shadow: none;
            position: relative;
            top: -25px;

            &:hover {
                color: $white;
            }
        }

        .button--play {
            top: 0;
            width: 142px;
            height: 111px;
            background-image: url(../_images/common/bt-play-bingo.png);
            background-repeat: no-repeat;
            box-shadow: none;
            position: relative;
            top: -25px;
            display: block;

            &:hover {
                color: $white;
            }
        }

        .login-box {
            width: 360px;
            height: 80px !important;
            position: absolute;
            float: left;
            top: -13px;
            right: 160px;
            padding: 9px;
            margin-top: 0;
            height: auto;
            clear: both;
            float: left;
            background: $login-box-header;
            border-radius: 6px;

            .join-now-box {
                display: none;
            }

            .cat-avatar {
                z-index: 1;
                top: 0;
                width: 112px;
                height: 109px;
                background-image: url(../_images/header/kitty-avatar.png);
                background-repeat: no-repeat;
                box-shadow: none;
                position: absolute;
                left: -40px;
                top: -20px;
            }

            .login-box__input-wrapper {
                input {
                    @include border-radius(4px);

                    font-size: 0.975rem;

                    @include input-placeholder {
                        color: #999 !important;
                    }


                    font-family: $body-font-medium;
                    padding: 0 !important;
                    padding-left: 55px !important;
                    margin-bottom: 3px !important;
                    height: 29px !important;
                    width: 235px !important;
                    border: none !important;
                    background-size: 14px 14px !important;
                    background: white !important;
                    box-shadow: none !important;
                }

                .login-box__username {
                    height: auto;
                    float: left;

                    img {
                        display: none;
                        position: absolute !important;
                        top: 13px;
                        left: 14px;
                    }
                }

                .login-box__password {
                    float: left;
                    position: relative;

                    img {
                        display: none;
                        position: absolute !important;
                        top: 46px;
                        left: 14px;
                    }

                    .login-box__show-password {
                        a {
                            @include border-radius(4px);

                            color: $brand-color;
                            font-family: $body-font-bold;
                            top: -2px;
                            right: -2px;
                            height: auto;
                            line-height: 1.4;
                        }
                    }
                }
            }

            .login-box__forgot-password {
                width: auto;
                bottom: rem-calc(12px);
                top: rem-calc(10px);
                left: rem-calc(14px);
                color: $base-blue;
                font-family: $body-font-medium;
                font-size: rem-calc(11px);
                text-decoration: underline;
            }

            .login-box__new-player {
                font-family: $body-font-medium;
                position: absolute;
                bottom: 6px;
                right: 10px;
                width: auto;
                color: $base-blue;
                font-size: 11px;
                text-decoration: underline;
            }

            .cta-login-header {
                background-color: $cta-header;
                width: 96px;
                height: 28px;
                position: absolute;
                font-size: 16px;
                top: 9px;
                right: 9px;
                line-height: 1.9;
                padding: 0;
                border-radius: 4px;
                color: white;
                text-align: center;
                font-family: $body-font-bold;

                &:hover {
                    background-color: darken($cta-header, 10%);
                }
            }

            .registercta,
            h1,
            small.error {
                display: none;
            }

            span.error {
                border-radius: 4px !important;
                width: 100% !important;
                left: 0 !important;
                position: absolute !important;
                text-align: center !important;
                font-weight: bold !important;
                background: #f04124 !important;
                margin-top: 4px !important;
                top: 74px;
                z-index: 1;
                color: $white;

                &[data-bind="visible: LoginBox.invalidPassword"] {
                    // top: 34px !important;
                }
            }
            a.error {
                @extend span.error;
                text-decoration: underline;
                color: $white !important;
            }
        }
    }

    .header-wrap {
        @include grid-row;

        width: 100%;
        position: relative;
        height: 178px;

        @include show-for-large-up;
    } // *********** Login box Loogged in // ***********
    .header__login--logged-in {
        background-image: url("../_images/common/bt-play-bingo.png");
    }

    .logged-out-buttons {
        margin-top: 0px;

        @keyframes pulse {
            from {
                transform: scale(1);
            }

            30% {
                transform: scale(0.95);
            }

            33% {
                transform: scale(1);
            }

            34% {
                ransform: scale(1);
            }

            50% {
                transform: scale(0.95);
            }

            53% {
                transform: scale(1);
            }

            99% {
                transform: scale(1);
            }

            to {
                transform: scale(1);
            }
        }

        .button--join {
            margin-right: 5px;
            animation: pulse 2s infinite;

            &:hover {
                animation: pulse 0 infinite;
                animation-play-state: paused;
                text-shadow: none;
            }
        }
    }
}

//Remove default style from H1 
.seo-logo {
    margin: 0;
    padding: 0;
}
