.user-nav__message-inbox {
    img {
        width: 20px;
        margin-left: rem-calc(7px);
    }
    .user-nav__message-inbox__value {
        position: absolute;
        background: red;
        border-radius: 50%;
        top: 5px;
        margin-left: -5px;
        width: 20px;
        height: 20px;
        color: white;
        text-align: center;
        font-family: $body-font-bold;
    }
}

.user-nav {
    width: 395px;
    height: 94px !important;
    top: -25px;
    margin-top: 0;
    height: auto;
    clear: both;
    position: absolute;
    right: 160px;
    background: $login-box-header;
    border-radius: 10px;
    padding: 0 5px;
    z-index: 3;
    .user-nav-middle {
        @include grid-column(6);
        font-size: 0.85rem !important;
        text-transform: uppercase;
        line-height: 18px;
        margin: 0;
        margin-top: 10px;
        p {
            margin: 0;
            margin-right: 10px;
            color: #1D4775;
            border-radius: 20px;
            padding-left: 5px;
            font-family: $body-font-extra-bold;
            font-size: 13px;
            float: left;
        }
        .user-nav__alias {
            @include grid-column(12);
            font-family: $body-font-bold;
            padding-right: 0px;
            background-color: #D1F4FF;
            border-radius: 20px;
            margin-bottom: 2px;
            // width: 90%;
            img {
                margin-right: 2px;
                width: 20px;
                height: 20px;
            }
            > a {
                font-weight: 600;
                font-family: $body-font-regular;
                color: #513721;
            }
            p {
                line-height: 22px;
            }
        }
        .user-nav__container {
            background-color: white;
            padding: 3px 10px;
            height: 100%;
            line-height: 1.2;
            border-radius: 20px;
            float: right;
        }
        .user-nav__balance {
            @include grid-column(12);
            font-family: $body-font-medium;
            padding-right: 0px;
            background-color: #D1F4FF;
            border-radius: 20px;
            margin-bottom: 2px;
            // width: 90%;
            margin-bottom: 2px;
            > a {
                font-weight: 600;
                font-family: $body-font-bold;
                color: #513721;
            }
            p {
                line-height: 22px;
            }
        }
        .user-nav__slots {
            @include grid-column(12);
            font-family: $body-font-bold;
            padding-right: 0px;
            background-color: #D1F4FF;
            border-radius: 20px;
            margin-bottom: 2px;
            // width: 90%;
            > a {
                font-weight: 600;
                font-family: $body-font-regular;
                color: #513721;
            }
            p {
                line-height: 22px;
            }
        }
    }
    .user-nav__left {
        @include grid-column(2);
        font-family: $body-font-extra-bold;
        text-transform: uppercase;
        line-height: 25px;
        text-align: center;
        margin-top: 10px;
        > a {
            color: $nav-main-color;
            display: block;
            color: $white;
            display: block;
            background-color: red;
            border-radius: 20px;
            font-size: 10px;
            line-height: 2;
            width: 60px;
            height: 20px;
            margin: 0 auto;
            margin-top: 3px;
            box-shadow: 0px 1px 1px #892020;
        }
        img {
            padding-left: 5px;
            margin-top: -7px;
        }
    }
    .user-nav__right {
        @include grid-column(4);
        margin-top: 10px;
        .user-nav__right__button {
            padding-left: 0.3125rem;
            padding-right: 0.3125rem;
            color: white;
            font-family: $body-font-bold;
            background-color: $brand-color;
            font-size: 0.92rem;
            text-align: left;
            top: 45px;
            height: 32px;
            padding: 5px 10px;
            border-radius: 5px;
            position: absolute;
            width: 120px;
            box-shadow: 0px 2px 0px darken($brand-color, 5%);
        }
        .cashier-graphic {
            position: absolute;
            top: 38px;
            right: 15px;
        }
        .user-nav__cashier {
            @include grid-column(3);
            width: 100px;
            text-align: center;
            border-radius: 4px;
            line-height: 25px;
            position: absolute;
            margin: 7px;
            top: 0;
            right: 0;
            > a {
                color: $white;
                display: block;
            }
            > a.current {
                color: $white;
            }
        }
        .user-nav__my-account {
            font-family: $body-font-bold;
            color: $white;
            text-transform: uppercase;
            font-size: 1em;
            letter-spacing: -0.09em;
            float: left;
            text-align: center;
            border-radius: 4px;
            > a {
                color: $white;
                display: block;
                width: 100%;
            }
            > a:hover {
                background-color: lighten($ctacolor, 5%);
            }
            > a.current {
                color: $main-highlight-color;
            }
        }
    }
}
