.my-messages-mobile-content {
    @include grid-column(12);

    padding: 0;

    .my-messages-mobile-content__container {
        @include grid-column(12);

        padding: $site-margin;
        background-color: #F4F2F6;
        min-height: 450px;

        .lobby-wrap__content-box {
            background: none;

            .lobby-wrap__content-box__header {
                background: none;
                padding: $site-margin 0;
            }

            .lobby-wrap__content-box__content {
                padding: 0;
                background: none;
            }
        }
    }
}

.my-messages-mobile {
    @include hide-for-large-up;

    @include grid-column(12);

    @include transition(all, 0.2s ease-out);

    margin: 0;
    padding: 0;
    z-index: 9999999;
    background: #F4F2F6;

    // display: none;
    position: fixed;
    top: 0px;
    height: 100%;

    // left: -100%;

    // &.active {
    //     @include transition(all, 0.2s ease-out);

    //     display: block;
    //     left: 0%;
    // }

    .my-messages-mobile__header {
        @include grid-column(12);

        padding: 0;
        position: fixed;
        color: $white;
        font-size: 18px;
        font-family: $body-font-medium;
        text-align: center;
        text-transform: uppercase;

        // padding: $site-margin;
        background: $nav-active-color url(../_images/common/mobile-menu-icons-svg/back-icon.svg) no-repeat left 10px center !important;
        background-size: 30px !important;

        // box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
        display: block;
        height: 50px;
        line-height: 2.8;
        z-index: 1;
        width: 100%;
    }

    .my-messages-mobile__container {
        @include grid-column(12);

        margin-top: 60px;
        padding: $site-margin;
        overflow-y: scroll;
        height: 100%;

        .lobby-wrap__content-box {
            @include grid-column(12);

            padding: 0 !important;
            margin-bottom: ($site-margin * 3) !important;
            height: auto;
            background: none;
        }

        .lobby-wrap__content-box__header {
            background: none;
        }

        .lobby-wrap__content-box__content {
            padding: $site-margin 0;
        }

        .recent-messages {
            @include grid-column(12);

            padding: 0 !important;
            margin-bottom: $site-margin * 3;

            .recent-messages__message {
                left: 0 !important;
                padding: 0;
                margin: 0;
                height: 44px;
                line-height: 48px;
            }
        }
    }

    .my-messages-mobile__hint {
        @include grid-column(12);

        color: $nav-active-color;
        font-size: 16px;
        font-family: $body-font-medium;
        text-align: left;
        text-transform: inherit;
        padding: $site-margin;
        background: $bg-mobile-light url(../_images/common/icons/welcome-close.svg) no-repeat right $site-margin center;
        background-size: 18px !important;
        left: 0;
        top: 49px;
        position: absolute;
        z-index: 1;
    }

    // ul {
    //     @include grid-column(12);

    //     @include transition(all, 0.2s ease-out);

    //     position: relative;
    //     height: 100%;
    //     overflow: hidden;
    //     overflow-y: auto;
    //     -webkit-overflow-scrolling: touch;
    //     margin: 0;
    //     padding: 0;
    //     padding-top: 100px;
    //     font-size: 13px;
    //     background: white;

    //     &.closed-hint {
    //         //padding-top: 49px;

    //     }

    //     li {
    //         @include grid-column(12);

    //         padding: 0;
    //         border-bottom: 1px solid #EFECFC;
    //         line-height: 2.5;
    //         color: $grey;
    //         left: -20%;
    //         position: relative;

    //         &.unread {
    //             color: $grey-dark;
    //             font-weight: bold;
    //             left: 0%;
    //             position: relative;
    //         }

    //         &.read {
    //             left: 0%;
    //         }

    //         &.save {
    //             left: 0%;
    //             transform: translateX(20%);
    //         }

    //         &.delete {
    //             right: 0%;
    //             transform: translateX(0%);
    //         }

    //         .message-wrap {
    //             @include grid-column(12);

    //             padding: $site-margin;

    //             .message-wrap__inner {
    //                 max-width: 700px;
    //                 margin: 0 auto;
    //                 float: none;
    //             }

    //             .title {
    //                 @include grid-column(10);

    //                 padding: 0;
    //             }

    //             .date {
    //                 @include grid-column(2);

    //                 padding: 0;
    //                 text-align: right;
    //             }
    //         }

    //         .swipe-unread {
    //             position: absolute;
    //             left: -20%;
    //             background: #409BE8;
    //             padding: $site-margin;
    //             color: $white;
    //             font-weight: bold;
    //             width: 20%;
    //             height: 100%;
    //             display: block;
    //             text-align: center;

    //             @media #{$small-only} {
    //                 line-height: 1.3;
    //                 padding: $site-margin ($site-margin / 2);
    //             }
    //         }

    //         .swipe-delete {
    //             padding: $site-margin 0;
    //             position: absolute;
    //             right: -20%;
    //             background: #EA5555;
    //             color: $white;
    //             font-weight: bold;
    //             width: 20%;
    //             height: 100%;
    //             display: block;
    //             text-align: center;
    //         }

    //         &:last-child {
    //             border: none;
    //         }

    //         a {
    //             color: $nav-active-color;
    //         }
    //     }
    // }
}