._author-block {
    font-size: 1rem;
    @include grid-row;
    height: auto;
    font-family: $body-font-regular;
    margin-bottom: 0.5em;
    padding:$site-margin;
    background-color:$white;  
    h4 {
        @include grid-column(6, $collapse: true);
        width:50%;
        text-align:left;
        margin-bottom:0px;
        font-family: $body-font-bold;
        font-size: 1em;
          color: $main-highlight-color;
    }
    ._author-block__link {
        @include grid-column(6, $collapse: true);
        font-family: $title1-font;
        font-size: 1em;
        font-weight: normal;
        text-align: right;
        float: none;
        text-transform: capitalize;
    } 
    ._author-block__line {
        @include grid-column(10, $collapse: true);
       margin-bottom:0px;
        height: 1px;
        background-color:$yellow-dark;
        ._author-block__lineleft {
            @include grid-column(2, $collapse: true, $float: left);
            @media #{$small-only} {
                @include grid-column(4, $collapse: true);
            }
        }
        ._author-block__lineright {
            @include grid-column(10, $collapse: true, $float: right);
            height: 1px;
            background-color:$yellow-dark;
             @media #{$medium-only} {
           @include grid-column(9, $collapse: true);
        }
            @media #{$small-only} {
                @include grid-column(9, $collapse: true);
            }
        }
    }
    ._author-block__avatar {
        @include grid-column(2, $collapse: true);
        padding-right:10px;
    }
    ._author-block__biography {
        @include grid-column(10, $collapse: true);
        font-size: 1em;
        line-height: 1.5em;

        @media #{$small-only} {
            @include grid-column(10, $collapse: true);
        }

    }
    h5 {
        font-family: $body-font-bold;
        font-size: 1em;
 
    }
    p {
        font-family: $body-font-regular;
        font-size:0.8em;
        margin-bottom: 0.8em;       
        color:$grey-dark;
    }
}

._author-block__social-icons {
    display: inline-block;
    float:right;
    font-size:0.8em;
    color: lighten($grey, 8%);

    img {
        width:34px;
    }

    li {
        display: inline-block;
        list-style-type: none;
    }

}