.text-partial {
    font-size: 1em;

    @include grid-column(12);

    @include be-box($white, solid, $border, 0px);

    @include clearfix;

    padding: 20px;
    padding-top: 1.1em;
    margin-bottom: $site-margin;

    &-content {
        padding: 20px 0;
    }

    @media #{$small-only} {
        @include grid-column(12);
    }

    a, p, span, div, label {
        font-family: $body-font-regular;
    }

    > h1 {
        font-family: $title1-font;
        font-size: 1.5em;
        color: $main-highlight-color;
        border-bottom: 1px solid $yellow-dark;
        line-height: 1.2em;
        margin-bottom: $site-margin;
        margin-top: 0px;
        padding: 10px;

        @media #{$small-only} {
            margin-top: 0px;
            font-size: 13px;
            line-height: 13px;
        }
    }

    > p {
        @include grid-column(12);

        color: $grey-dark;
        padding: 0px;

        @media #{$small-only} {
            padding-left: $site-margin;
            padding-right: $site-margin;
        }
    }

    ul {
        // list-style: square;
        list-style-image: #dddddd;
        margin-left: $site-margin;
        float: left;
        width: 100%;
        margin-left: 20px;
        overflow: visible !important;

        @include clearfix;
    }

    ol {
        clear: both;
    }

    li {
        font-family: $body-font-regular !important;
    }
}

/* text-image-left */

.text-image-left-partial {
    font-size: 1em;

    @include grid-column(12);

    @include be-box($white, solid, $border, 0px);

    @include clearfix;

    padding: 20px;
    padding-top: 1.1em;
    margin-bottom: $site-margin;

    @media #{$small-only} {
        @include grid-column(12);
    }

    a, p, span, div, label {
        font-size: 1.1em;
        font-family: $body-font-regular;
    }

    > h1 {
        font-family: $title1-font;
        font-size: 1.5em;
        color: $base-light-blue;
        border-bottom: 1px solid $yellow-dark;
        line-height: 1.2em;
        margin-bottom: $site-margin;
        margin-top: 0px;
        padding: 10px;

        @media #{$small-only} {
            margin-top: 0px;
            font-size: 13px;
            line-height: 13px;
        }
    }

    > p {
        font-size: 1.1em;
        color: $grey-dark;
    }

    ul {
        font-size: 1.1em;
        list-style: square;
        margin-left: $site-margin;
    }
}

.text-image-left-partial__content__img {
    float: left;

    @include grid-column($collapse: true, $columns: 5);

    margin-right: 20px;
    margin-bottom: 10px;

    @media #{$small-only} {
        @include grid-column($collapse: true, $columns: 12);
    }

    @media #{$medium-only} {
        @include grid-column($collapse: true, $columns: 5);
    }
}

/* END text-image-left */

/* text-image-right */

.text-image-right-partial {
    font-size: 1.1em;

    @include grid-column(12);

    @include be-box($white, solid, $border, 0px);

    @include clearfix;

    padding: 20px;
    padding-top: 1.1em;
    margin-bottom: $site-margin;

    @media #{$small-only} {
        @include grid-column(12);
    }

    > h1 {
        font-family: $title-section;
        font-size: 1.5em;
        color: $pagetitle;

        // background-color: $brand-color;
        border-bottom: 1px solid $brand-color;

        @include vert-align(32px);

        margin-bottom: rem-calc(7px);

        // padding-left: rem-calc(7px);
        margin-top: 0px;

        @media #{$small-only} {
            margin-top: 0px;
        }
    }

    > p {
        font-size: 1.1em;
        color: $grey-dark;
    }

    ul {
        list-style: square;
        margin-left: $site-margin;
    }
}

.text-image-right-partial__content__img {
    float: right;

    @include grid-column($collapse: true, $columns: 5);

    margin-right: 20px;
    margin-bottom: 10px;

    @media #{$small-only} {
        @include be-image;

        @include grid-column($collapse: true, $columns: 12);
    }

    @media #{$medium-only} {
        @include be-image;

        @include grid-column($collapse: true, $columns: 5);
    }
}

/* END text-image-right */

/*image top*/
.text-image-top-partial {
    font-size: 1.1em;

    @include grid-column(12);

    background-color: lighten($grey, 45%);
    border: 1px solid lighten($grey, 35%);

    @include clearfix;

    padding-bottom: $site-margin;
    margin-bottom: $site-margin;

    @media #{$small-only} {
        padding-top: $site-margin;
    }

    a, p, span, div, label {
        font-size: 1.1em;
        font-family: $body-font-regular;
    }

    > h1 {
        font-family: $title-section;
        font-size: 1.5em;
        color: $pagetitle;

        // background-color: $brand-color;
        border-bottom: 1px solid $brand-color;

        @include vert-align(32px);

        margin-bottom: rem-calc(7px);

        // padding-left: rem-calc(7px);
        margin-top: 0px;

        @media #{$small-only} {
            font-size: 13px;
            line-height: 13px;
        }
    }

    > p {
        font-size: 1.1em;
        color: $grey-dark;
    }

    ul {
        list-style: square;
        margin-left: $site-margin;
    }
}

.text-image-top-partial__content__img {
    @include grid-column(12);

    margin-bottom: $site-margin;
    padding: 0px;
}

/* end image top*/