.favourites {

    @media #{$medium-only} {
        padding-left: rem-calc(20px);
        padding-right: rem-calc(20px);
    }

    @media #{$small-only} {
        padding-left: rem-calc(20px);
        padding-right: rem-calc(20px);
    }
    .favourites__placeholder {
  @include grid-column(2, $collapse: true);
        
        border: 1px solid white;
        @media #{$medium-only} {
            @include grid-column(4, $collapse: true);
            border: 1px solid white;
        }
        @media #{$small-only} {
            @include grid-column(6, $collapse: true);
            border: 1px solid white;
        }
    }

    .game-icon .game-icon__bottom .game-icon__title {
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.my--favourites {
    margin-bottom: 80px;
    
    .section__title {
        @media #{$medium-only} {
            padding-left: rem-calc(20px);
    }

        @media #{$small-only} {
            text-align: center !important;
        }
    }

}