//Not to display on this pages
#table-card,
#live-casino,
#slots,
#roulette,
#novomatic {
    .games-filter-menu {
        display: none !important;
    }
}

.games-list {
    .float-right {
        width: 10%;

        @media #{$medium-only} {
            width: 20%;
        }
        
        @media #{$small-only} {
            width: 32%;
        }
    }
}

.games-filter-menu {
    position: inherit;
    // top: 5px;
    // right: 25px;
    @media #{$large-up} {
        // top: 6px;
        // right: 18px;
    }
    // @include CTA-button(4px, 0.7em, 2px, lighten(#232323, 2%), lighten(#1a1a1a, 2%));
    // @include box-shadow(0 0 3px 1px black);
    //TEXT STYLE
    color: #23195D;
    font-family: $body-font-demi;
    .game-filter-btn__wrapper {
        text-align: center;
        color: $white;
        font-family: $heading-font-bold;
        margin-right: -20px;
    
        @media #{$large-up} {
            margin-top: 5px;
        }
        .game-filter-btn {
            font-family: "oswald_regularregular", Helvetica, Arial, Verdana, sans-serif !important;
            color: $black;
            background: none;
            padding: 0.2em;
            padding-left: 0.4em;
            padding-right: 0.4em;
            border-radius: 1px;
            font-size: 15px;
        }
    }
    .game-filter-btn {
        color: $white;
        &:hover {
            // cursor: pointer;
            // background-color: lighten(#7d0353, 6%);
       
        }
    }
    span {
        position: relative;
    }
    .nub {
        height: 9px;
        width: 15px;
        display: block;
        text-align: center;
        position: absolute;
        left: 140px;
        top: -9px;
    }
}

.games-filter-menu__popover-wrap {
    position: relative;
    margin-top: 5px;
    @media #{$large-up} {
        margin-top: 16px;
        margin-left: 7px;
    }
}

.games-filter-menu__popover {
    position: absolute;
    display: none;
    z-index: 1;
    height: auto;
    width: 340px;
    background-color: $black;
    top: -8px;
    left: -240px;
    @include opacity(0.98);
    // border: 1px solid #7d0353;
    border-top: none;
    text-transform: uppercase;

    @media #{$small-only} {
        width: 310px;
        left: -206px;
        top: 0;
    }

    @media #{$medium-only} {
        left: -190px;
        top: 0;
    }

    .tabs {
        @include grid-column(12, $collapse: true);
    }
    > dl > dd a, .tabs .tab-title a {
        font-family: "oswald_regularregular", Helvetica, Arial, Verdana, sans-serif !important;
        background-color: $global-link-color;
        color: $white;
        background-color: #212121;
        border-left: 1px solid darken($global-link-color, 90%);
    }
    > dl > dd.active a, .tabs .tab-title.active a {
        background-image: none;
        background-color: $black;
        color: #FFFF09 !important;
        border-left: none;
        &:hover {
            text-decoration: none;
            background: transparent;
        }
    }
    > dl > dd {
        @include grid-column(3, $collapse: true);
        text-align: center;
        height: 44px;
        color: $navigation-text-color;
        &:active {
            padding-bottom: 4px;
            a {
                font-family: $ui-font-bold;
                font-size: 0.8em;
            }
        }
        a {
            font-family: $ui-font-bold;
            padding: 1px;
            height: 44px;
            @include vert-align(44px);
            font-size: 0.8em;
            &:hover {}
        }
    }

    .tabs dd > a:hover, .tabs .tab-title > a:hover {
        background-color: $black;
    }
    .tabs-content {
        @include grid-column(12, $collapse: true);
        margin-bottom: 0px;
        color: $navigation-text-color;
        padding-left: 0.6em;
        margin-top: $site-margin;
        .content {
            padding-bottom: 0.4em;
        }
        .content ul {
            padding-left: 0em;
            padding-right: 0;
            padding-top: 0em;
            padding-bottom: 0em;
            height: auto;
            list-style-type: none;
            margin-left: 0;
            @include clearfix;
            li {
                font-family: "oswald_regularregular", Helvetica, Arial, Verdana, sans-serif !important;
                font-weight: bold;
                padding-right: 1em !important;
                height: 44px;
                @include grid-column(4, $collapse: true);
                margin-bottom: 1em;
                a {
                    display: block;
                    text-transform: uppercase;
                    border-radius: 3px;
                    background-color: #212121;
                    color: #fff;
                    height: 44px !important;
                    line-height: 14px;
                    font-size: 12px;
                    font-weight: normal;
                    text-align: center;
                    padding-top: 8px;
                    letter-spacing: 0.5px;

                    &:hover {
                        background-color: $black;
                        color: #FFFF09;
                        border: 1px solid #3C3C3C;
                    }
                }
            }
        }
        .content-active {
            padding-bottom: 0px;
        }
    }
}

.game-icon .game-icon__bottom .game-icon__favourite {
    z-index: 0 !important;
}