.game-icon {
    .game-icon__image {
        img {}
    }

    .game-icon__play-bar {
        .game-icon__play-bar__title-wrapper {}

        h1 {
            a {}

            &:hover {}
        }

        .game-icon__play-bar__fav-bar {
            img {}
        }
    }

    .game-icon__favourite {
        .game-icon__favourite__icon {}
    }

    .game-icon__favourite__content {}

    .game-icon__favourite__content__description {
        h1 {}

        > a {}

        @media #{$small-only} {}

        @media #{$medium-up} {}
    }

    .game-icon__favourite__content__img {
        > img {}
    }

    .game-icon__overlay {
        > h1 {}

        a, a:hover {}

        &:hover {}

        .play-icon {
            img {}
        }
    }

    .game-icon__bottom {
        .game-icon__title {
            font-family: $ui-font-semibold;
            color: $brand-color;
        }
    }
}

.game-icon {
    position: relative;

    // height: 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    background: $header--background;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 0 0;

    .game-icon__wrapper {
        .game-icon__overlay {
            //display: none;
        }
    }

    .game-icon__image {
        img {
            width: 100%;
            border-radius: 2px;
            overflow: hidden;
        }

        span {
            @include border-radius(2px);

            max-width: 80%;
            min-width: 60%;
            padding: $site-margin / 2;
            position: absolute;
            top: 0;
            text-align: center;
            line-height: 1;
            color: $white;
            left: 50% !important;
            -webkit-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
            background: rgba(0, 0, 0, 0.55);
            white-space: normal;

            &.game-jackpot {
                top: 17% !important;
                font-family: $body-font-bold;
                font-size: 16px;
                display: block !important;
            }

            &.favourite-toggle {
                font-size: 10px;
                font-weight: 600;
                top: 40% !important;
                display: none;
            }
        }

        .free-spins {
            position: absolute;
            top: 0;
            right: 0px;
            width: 70px;
            display: block !important;
        }
    }

    .game-icon__bottom {
        @include grid-column(12);

        padding: 0;
        max-height: 27.5px;

        .game-icon__title {
            @include grid-column(9);

            display: table-cell;
            vertical-align: middle;
            float: left;
            font-size: 13px;
            font-family: $font-button;
            text-transform: uppercase;
            padding: 7px;
            // padding-right: 0;
            color: $home--htmlcopy;
            white-space: normal;
            line-height: 1;
            display: block !important;

            &:hover {
                text-decoration: underline;
            }
        }

        .game-icon__favourite {
            @include grid-column(3);

            max-width: 50px;
            padding: 0;
            float: right;
            position: relative;
            height: 41px;
            z-index: 2;
            display: block !important;
            text-align: center;

            .game-icon__favourite__icon {
                width: 60%;
                height: 100%;
                position: relative;
            }
        }
    }

    .game-icon__favourite__content {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .game-icon__favourite__content__description {
        width: 85%;
        text-align: left;
        float: left;
        height: 100%;
        padding-left: 0.5em;

        h1 {
            font-size: 1em;
            color: $white;
        }

        > a {
            color: $white;
            padding: 0px 0em 0px 0.2px;
            margin: 0px;
            text-decoration: none;
            font-size: 0.8em;
        }

        @media #{$small-only} {
            padding-top: 0.2em;
        }

        @media #{$medium-up} {
            padding-top: 0.2em;
        }
    }

    .game-icon__favourite__content__img {
        float: left;
        width: 20%;

        > img {
            width: 48px;
            height: 48px;
            margin-top: 0.2em;
        }
    }

    // Hub Grid 2X

    @media #{$medium-up} {
        .hub-grid__col-2x .hub-grid__col-2x__row .hub-grid__child & {
            height: auto !important;
            width: 100%;

            .game-icon__bottom {
                height: 85px;
                max-height: none;
                padding: 10px;
            }

            .game-icon__title {
                font-size: 15px;
                margin-top: 5px;
            }

            .game-icon__favourite {
                margin-top: 15px;
            }

            .game-icon__favourite__icon {
                width: 70%;
            }
        }
    }
}

// Game icons within each tab of home featured games
.home-featured-games .game-icon {
    @media #{$small-up} {
        @include grid-column(6);

        width: 45%;
        margin: $site-margin / 2;
        padding-left: 0;
        padding-right: 0;
        margin-left: 8px;
        padding: 0 !important;
    }

    @media #{$medium-up} {
        @include grid-column(3);

        margin: $site-margin / 2;
        width: 23.85%;
        padding-left: 0;
        padding-right: 0;
        padding: 0 !important;
    }

    @media #{$large-up} {
        @include grid-column(2);

        width: 22%;
        margin: $site-margin / 2;
        padding-left: 0;
        padding-right: 0;
        padding: 0 !important;
    }
}