.games-list {
    font-size: 1rem;
    padding: 14px 7px 7px 7px !important;
    margin-bottom: 24px !important;
    .section__header {
        margin-left: 7px;
        margin-right: 7px;

        .section__title {
        width: 100% !important;
        display:inline-block;
        font-size: rem-calc(18px);
        padding-bottom: 1.1875rem;
        padding-top: 0;

        @media #{$small-only} {
            width: 100% !important;
        }
    }
    }
    

    &.live-casino-list {
        padding: 0 7px 7px 7px !important;

        .section__title {
            width: 100% !important;
        }
    }

    margin-bottom: 7px;
    padding-bottom: 0px !important;
    @extend .section;
    .games-list__filter {
        float: left;
        @media #{$small-only} {
            @include grid-column(8);
            // padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(4);
            padding: 0px;
        }
        .games-list__filter__button {
            @include button($button-med, $primary-color, false, true, false, false);
            @include dropdown-button;
            @extend .expand!optional;
        }
        .button {
            font-size: 0.8em;
        }
    }
    .games-list__search {
        float: left;
        @media #{$small-only} {
            display: none;
        }
        @media #{$medium-up} {
            @include grid-column(6);
        }
    }
    .games-list__search-wrapper {
        float: left;
        @include grid-column(12);
    }
    .games-list__search-wrapper__left {
        float: left;
        @include grid-column(8);
    }
    .games-list__search-wrapper__right {
        float: left;
        @include grid-column(4);
        >span {
            // @extend .postfix;
            @include button($button-med, $grey, $global-radius, false, false, false);
            @extend .secondary!optional;
        }
    }
    .games-list__display-mode {
        float: left;
        @media #{$small-only} {
            padding-right: 0px;
            @include grid-column(4);
        }
        @media #{$medium-up} {
            @include grid-column(2);
        }
        >div {
            float: left;
            @include grid-column(6);
            padding: 0px;
            >a {
                @include button($button-med, $primary-color, false, true, false, false);
            }
        }
    }
    .games-list__grid {
        @include grid-column(12, $collapse: true);
        padding: 1px !important;
        margin-bottom: $site-margin;
    }
    .games-list__grid__child {
        padding: 7px !important;
        @media #{$small-only} {
            @include grid-column(6, $collapse: true);
        }
        @media #{$medium-only} {
            @include grid-column(3, $collapse: true);
        }
        @media #{$large-up} {
            @include grid-column(3, $collapse: true);
        }
    }
    .games-list__popular-games {
        .slick-slide {
            padding: 0.5em !important;
        }
    }
}

.home-games {
    padding-bottom: 14px !important;
    margin-bottom: 34px;
}

.bottom-content {
    width: rem-calc(1000px);
    margin-bottom: 80px;
    h1 {
        font-family: $font-header2;
        font-size: rem-calc(24px);
        color: #000000;
        letter-spacing: 0;
        line-height: 25px;
        text-transform: uppercase;
        padding-bottom: 10px;
    }
    .text-partial-content {
        font-family: $font-copy;
    }
    @media #{$small-only} {
        width: 100%;
        padding: 0 20px 0 20px !important;
    }
    @media #{$medium-only} {
        width: 100%;
    }
}

#home {
    .bottom-content {
        // margin-bottom: 0px;
    }
}

//Games category titles + View all
.section__header__viewall {
    float: right;
    font-family: $font-button;
    font-size: 14px;
    letter-spacing: 0.44px;
    a {
        color: $palesky !important;
        font-family: $font-button !important;
        &:hover {
            color: $corn !important;
        }
        &:focus {
            color: $corn !important;
        }
    }
}

.section__header {
    .section__title {
        @media #{$small-only} {
            text-align: left;
        }
        a {
            color: $black;
        }
    }
}

// Aspers specific overwrite tweaks
.games-list.middle-content__box:first-child {
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.games-list__grid__child.ui-parent-game-icon {
    padding: 1px !important;
}

.bottom-content {
    margin-bottom: 0px;
    h1 {
        @media #{$small-only} {
            padding: 0 20px 0 20px !important;
        }
    }
}

#slots,
#roulette,
#live-casino,
#table-card,
#scratch-and-arcade
#novomatic {
    .responsivebanner {
        display: block;
    }
    .games-pages {
        @media #{$small-only} {
            margin-top:0px;
        }
        @media #{$medium-only} {
            margin-top:0px;
        }
    }
}


#games,
#slots,
#roulette,
#live-casino,
#table-card,
#scratch-and-arcade {
    .middle-content {
        padding-bottom: 80px;
    }

    .bottom-content {
        margin-bottom: 0;
    }
}


//GAMES MODAL STYLE
.game-detail-modal > .game-detail-wrap__title-bar h1 {
    @media #{$small-only} {
        padding: 30px 0;
        text-align: center;
    }

    @media #{$medium-only} {
        margin-bottom: 30px;
        text-align: center;
    }
}

.reveal-modal {
    @media #{$medium-only} {
        width: 100%;
    }
}

.reveal-modal .game-detail-content__left {
    @media #{$small-only} {
        width: 100% !important;
    }
}

.game-detail-modal .game-detail-content .game-detail-content__right {
    @media #{$small-only} {
        width: 100% !important;
    }


}

.game-detail-modal .game-detail__description h3 {
    @media #{$small-only} {
        text-align: center;
    }
}


.section {
    &__action {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;

        &__toggle {
            display: none;
        }
    }
}