// =============================================================================
// Game Details - SEO Page
// =============================================================================

#games-info {
    &.reveal-modal {
        @media #{$small-only} {
            min-height: 100% !important;
            padding: $site-margin;
            height: 100% !important;
            width: 100% !important;
            min-height: 100% !important;
            max-width: 100%;
            transform: none !important;
            top: 0 !important;
            position: absolute;
            left: 0 !important;
            margin: 0 auto !important;
        }

        .close-reveal-modal, dialog .close-reveal-modal {
            @media #{$small-only} {
                top: 0 !important;
                right: -8px !important;
            }
        }
    }
}

.game-detail-modal {
    @include grid-column(12);

    padding-top: $site-margin;
    height: auto;
    font-family: $body-font-regular;

    > .game-detail-wrap__title-bar h1 {
        @include grid-column(12, $collapse: true);

        width: 100%;
        font-family: $font-header1;
        text-transform: uppercase;
        // color: $white;
        font-size: rem-calc(24px);
        // background-color: $brand-color;

        @include vert-align(38px);

        // margin-bottom: $site-margin;
        // padding-left: $site-margin;

        @media #{$small-only} {
            margin-bottom: 0;
        }
    }

    .game-detail-content {
        @include grid-row;

        margin-bottom: $site-margin;

        .game-detail-content__right {
            @include grid-column(4, $collapse: true, $float: right, $last-column: true);

            font-family: $font-copy;

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
            }

            img {
                width: 100%;
            }

            > article.login-box > h1 {
                font-size: 1em;
                margin-top: $site-margin / 2;
                margin-bottom: $site-margin / 2;
                font-family: $font-header2;
            }
        }

        .game-detail-content__left {
            @include grid-column(8, $collapse: true, $float: left);

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);

                margin-top: $site-margin;
            }

            position: relative;

            .play-now-button {
                width: 130px;
                height: 150px;
                top: 50% !important;
                left: 50% !important;
                margin-left: -65px;
                margin-top: -75px;
                z-index: 99999;
                position: absolute !important;
            }

            .overlay {
                position: absolute;

                @include grid-column(12, $collapse: true, $float: left);

                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);

                z-index: 9999;
                text-align: center;

                a.try-game-modal {
                    position: relative;
                    top: 45%;
                    left: 0;
                    padding: 8px 0;
                    padding-left: 1rem;
                    padding-right: 0.9375rem;
                    width: 7.5rem;
                    text-align: center;
                    text-transform: uppercase;
                    background: $button--bg !important;
                    border-radius: rem-calc(50px);
                    color: $black !important;
                    font-family: $font-button !important;
                    font-size: 1.125rem !important;
                    letter-spacing: 0.6px;

                    &:hover {
                        background: #FFF738 !important;
                    }
                }
            }

            img {
                width: 100%;

                // height: 100%;
                @include opacity(1);
            }

            .game-detail-content__left__thumbnails {
                @include grid-column(4, $collapse: true);

                @media #{$small-only} {
                    @include grid-column(6, $collapse: true);
                }

                padding-left: $site-margin;
                padding-top: $site-margin;
            }
        }
    }

    .game-detail__description {
        @include grid-column(12, $last-column: true);

        @media #{$small-only} {
            margin: $site-margin 0;
            padding: 0;
        }

        @media #{$medium-only} {
            padding: 0;
            margin-bottom: $site-margin;
        }

        line-height: 22px;

        p {
            font-family: $font-copy;
            font-size: rem-calc(14px);
            margin-bottom: $site-margin / 2;
        }

        h3 {
            font-family: $font-header2;
            text-transform:uppercase;
            font-size: 18px;
            margin-bottom: 10px;
            margin-top: 0px;
        }

        a {
            font-family: $font-button;
            font-size: rem-calc(13px);
            color: $palesky;
            letter-spacing: 0.5px;
            line-height: rem-calc(25px);
            text-transform: uppercase;
            text-decoration: underline;
            &:hover {
                color: $corn;
            }
        }
    }

    .game-detail-content__right__game-table {
        font-size: 15px;
        color: #555;

        ul {
            list-style: none !important;
            margin: 0  !important;
        }

        > li {
            font-size: rem-calc(12px);
            border-bottom: 1px solid $grey;

            @include vert-align(44px);

            @media #{$medium-only} {
                @include vert-align(34px);
            }

            > span {
                padding-right: $site-margin;
                width: 95px;
                display: inline-block;
                color: $black;
            }
        }
    }
}