// =============================================================================
// Game Details - SEO Page
// =============================================================================

.game-details-page {
    @include grid-column(12);

    padding-top: $site-margin;
    height: auto;
    font-family: $body-font-regular;
    background-color: white;
    border: none;
    margin-top: rem-calc(20px);
    margin-bottom: $site-margin;

    @media #{$small-only} {
        @include grid-column(12, $collapse: true);

        padding-top: 0px;
        margin-top: 0px;
        border: none;
    }

    .game-detail-wrap__title-bar {
        // @include grid-column(12, $collapse: true);

        font-family: $font-header1;
        width: 100%;
        text-transform: uppercase;
        color: $black;
        font-size: rem-calc(30px);
        background-color: none;
        padding-top: 0;
        // line-height: rem-calc(43px);
        height:auto;
        margin-bottom:0;
        padding-bottom:0;

        // @include vert-align(38px);

        margin-bottom: $site-margin;
        padding-left: $site-margin;

        @media #{$medium-only} {
            font-size: rem-calc(20px);
        }

        @media #{$small-only} {
            margin-top: rem-calc(10px);
            margin-bottom: rem-calc(20px);
            font-size: rem-calc(20px);
        }
    }

    .game-detail-content {
        @include grid-row;

        margin-bottom: $site-margin;

        .game-detail-content__right {
            @include grid-column(6, $collapse: true);

            padding-right: 0px;

            @media #{$medium-only} {
                @include grid-column(6);
            }

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
            }

            img {
                width: 100%;
                margin-bottom: $site-margin;
            }

            > article.login-box > h1 {
                font-size: 1em;
            }
        }

        .game-detail-content__left {
            @include grid-column(6, $collapse: true, $float: left);

            @media #{$medium-only} {
                @include grid-column(6);
            }

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);

                margin-top: 0px;
                margin-bottom: $site-margin;
            }

            position: relative;

            .play-now-button {
                position: relative;
                top: 30%;
                width: 135px;
                height: 150px;
            }

            .overlay-holder {
                position: relative;
            }

            .overlay {
                display: none;
                // position: absolute;
                // height: 100%;

                // @include grid-column(12, $collapse: true, $float: left);

                // @media #{$medium-only} {
                //     @include grid-column(12, $collapse: true);
                // }

                // @media #{$small-only} {
                //     @include grid-column(12, $collapse: true);
                // }

                // height: 100%;
                // background-color: #000;

                // @include opacity(0.6);

                // z-index: 888;
                // text-align: center;
            }

            img {
                width: 100%;
                height: auto;
                @include opacity(1);

                @media #{$small-only} {
                    width: 90%;
                    margin: 10px 20px;
                }
            }

            .game-detail-content__left__thumbnail {
                @include grid-column(6, $collapse: true);

                @media #{$small-only} {
                    @include grid-column(6, $collapse: true);
                }

                padding-top: $site-margin;
            }
        }
    }

    .game-detail__wrap {
        @include grid-column(12, $last_column: true);
        padding-left: rem-calc(41px);

        line-height: 22px;

        p {
            font-family: $body-font-regular;
            font-size: rem-calc(12px);
            color: #555;
            margin-bottom: 18px;
        }

        h3 {
            color: #555;
            font-family: $body-font-regular;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
            margin-top: 0px;
            border-bottom: 1px solid $brand-color;
        }

        a {
            color: $brand-color;
        }
         @media #{$medium-only} { 
            padding-left:0;
         }
    }

    .game-icon-wrap {
        @include grid-column(4);

        @extend .hide-for-medium;

        @extend .hide-for-small;

        @media #{$medium-only} {
            @include grid-column(6);
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }

        img {
            width: 100%;
            margin-bottom: $site-margin;
        }
    }

    .game-detail-content__right__game-table {
        font-size: 15px;
        color: #555;
        font-family: $font-copy;

        ul {
            list-style: none !important;
            margin: 0  !important;

            @media #{$small-only} {
                margin-top: rem-calc(20px);
            }
        }

        > li {
            font-size: rem-calc(14px);
            border-bottom: none;
            height: auto;
            min-height: rem-calc(36px);
            list-style-type: none;

            .game-detail-content__right__game-table__title {
                width: rem-calc(100px);
                padding-right: $site-margin;
                display: inline-block;
                float: left;
                font-family: $font-copy-bold;
                color: $black;

                @media #{$small-only} {
                    //width: 30%;
                }
            }

            .game-detail-content__right__game-table__provider {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 60%;
                height: rem-calc(20px);
                display: inline-block;
            }
        }

        @media #{$medium-only} {
            @include grid-column(12, $collapse: true);
        }
    }
}

.game-description {
    @include grid-column(12, $float: right, $last_column: true);

    margin-right: 0px;

    @media #{$medium-only} {
        @include grid-column(6);
    }

    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
    }

    > h1 {
        @include grid-column(12, $collapse: true);

        width: 100%;
        font-family: $body-font-demi;
        color: $white;
        font-size: rem-calc(24px);
        background-color: $brand-color;

        @include vert-align(38px);

        margin-bottom: $site-margin;
        padding-left: $site-margin;
    }

    > p {}
}

.games-detail-page__bottom {
    .banner {
        margin-bottom: 1em;
    }
    ._author-block {
        display:none;
    }
}

//Banner offer
img.banner {
    margin-top: rem-calc(20px);

    @media #{$small-only} {
        margin-top: 0;
    }

     @media #{$medium-only} {
        width: 100%;
        margin-top: 0;
    }
}

.game-review__content__title {
    display: none;
}

//GAMES DETAILS CTA'S
.games-details--buttons {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
    margin: 0.875rem 0;
    text-align: center;
    margin-top: rem-calc(22px);
    text-transform: uppercase;

    @media #{$small-only} {
        margin-top: rem-calc(20px);
    }

    .games-details--login {
        width: 48%;
        margin-bottom: rem-calc(25px);
        float: left;
        margin-right: 0;
        padding: 5px !important;
        background: none !important;
        border: 1px solid $black;
        border-radius: rem-calc(50px);
        color: $black !important;
        font-family: $font-button !important;
        font-size: 1.125rem !important;
        letter-spacing: 0.6px;
        text-transform: uppercase;

        &:hover {
            background: $yellow-hover !important;
            border: 1px solid $yellow-hover;
        }
    }

    .games-details--join-now {
        margin-bottom: rem-calc(25px);
        width: 48%;
        float: right;
        margin-left: 0;
        padding: rem-calc(5px) !important;
        background: $button--bg !important;
        border: 1px solid $yellow;
        border-radius: rem-calc(50px);
        color: $black !important;
        font-family: $font-button !important;
        font-size: 1.125rem !important;
        letter-spacing: 0.6px;
        text-transform: uppercase;

        a {
            color: $black;
        }

        &:hover {
            background: $yellow-hover !important;
        }
    }

    .games-details--play-now {
        margin-bottom: rem-calc(25px);
        width: 48%;
        margin: 0 auto;
        padding: rem-calc(5px) !important;
        background: $button--bg !important;
        border: 1px solid $yellow;
        border-radius: rem-calc(50px);
        color: $black !important;
        font-family: $font-button !important;
        font-size: 1.125rem !important;
        letter-spacing: 0.6px;
        text-transform: uppercase;

           &:hover {
                background: $yellow-hover !important;
            }
    }

}

//GAME DETAILS CONTENT TEXT 
.game-review__content__body {
    padding: rem-calc(20px);
    font-family: $font-copy;
}


.game-detail-content__right {

    @media #{$medium-only} {
        padding-left:0px !important;
    }

    @media #{$small-only} {
        margin-top: 20px;
    }
}