//Color variables
$icon-border-top: #dc4086;


.zoomin,
.zoomout {
    //-webkit-animation: in 0.6s;
    //-webkit-animation: out 0.6s;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomOut {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 1; //        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        //        transform: scale3d(1.2, 1.2, 1.2);
        transform: translate3d(0, -40%, 0); //bottom: 34px;
    }
}


@-webkit-keyframes zoomIn {
    0% {
        opacity: 1;
        transform: translate3d(0, -40%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


.bottom-last-played {
    background: $white;
    height: 26px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999999999;
}

.last-played {
    margin-left: 90px;
}

#ui-last-played-container {
    padding: 4px;
    margin-bottom: -100px;
}

.last-played-game {
    @include grid-column(1, $collapse: true);
    position: relative;
    bottom: 50px;
    background-color: $black;
    border-top: 3px solid $black;
    &:hover {
        filter: brightness(120%);
    }
}

.zoomout {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
}

.zoomin {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

//.last-played-hover {
//    -webkit-animation-name: zoomIn;
//    animation-name: zoomIn;
//}
.last-played-container-title {
    padding-left: 8px;
    color: $black;
    font-size: rem-calc(14px);
    font-family: $font-copy;
    border-top: 1px solid $graychateau;
}

.last-played-title {
    color: #FFFFFF;
    font-size: 0.8em;
}

.last-played-toggle {
    @extend .show-for-large-up;
    color: $black;
    font-family: $font-copy;
    font-size: rem-calc(14px);
    position: fixed;
    bottom: 0px;
    z-index: 99999999999;
    text-decoration: none;
    background: $white;
    height: 26px;
    padding: 2px 5px;
    right: 0;
    border-bottom: 0px;
    border-top: 1px solid $graychateau;
    border-left: 1px solid $graychateau;
    border-right: 0px solid $graychateau;

    &:hover {
        color: $black;
    }
    &.minimized {
        background: $white;
        height: 26px;
        padding: 2px 5px;
        right: 0;
        border-bottom: 0px;
        border-top: 1px solid $graychateau;
        border-left: 1px solid $graychateau;
        border-right: 0px solid $graychateau;
    }
}