// ----------------------------- //
// Quick deposit variables       //
// ----------------------------- //
$qd-default-font: $font-header2;
$qd-body-font: $font-copy;
$qd-body-fontbold: $font-copy-bold;
$qd-container-color: $white;
$qd-header-color: $mineshaft;
$qd-header-border-top-color: $mineshaft;
$qd-header-border-bottom-color: $white;
$qd-header-font-color: white;
$qd-header-cardnumber-bg-color: $white;
$qd-header-cardnumber-border-top-color: $palesky;
$qd-header-cardnumber-font-color: $black;
$qd-header-cardnumber-select-bg: $white;
$qd-slider-limits-font-color: $green;
$qd-slider-color: $heather;
$qd-slider-handle-color: $green;
$bonus-text-background: $mystic;
$bonus-text-color: #303030;
$cta-button-color: $green;
$promoinfo-bg-color: #cc2872;
$promoinfo-font-color: #ffffff;
// ----------------------------- //
// Quick deposit module          //
// ----------------------------- //
//Mozilla outline fix
:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

.quick-deposit-container {
    @include grid-row;
    width: 208px !important;
    min-height: 200px;
    cursor: move;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999999999;
    font-family: $qd-body-font;
    background-color: $qd-container-color;
    height: auto !important;
    text-align: center;
    &.inside {
        top: 0px;
        left: 0px;
    }
    .quick-deposit-container__loader {
        @include center(45px, 45px);
        position: relative;
        z-index: 999;
        top: 100px;
    }
    .quick-deposit-container__close {
        width: 45px;
        height: 45px;
        position: absolute;
        right: 0;
        top: 0;
    }
    //    Success table
    table.responsive {
        margin: 0 auto;
        margin-top: 5px;
        width: 90% !important;
        td {
            font-weight: normal;
            padding: .3em;
        }
    }
    h1 {
        font-size: 1.7em;
        font-family: $qd-default-font;
        margin-top: 0;
        line-height: 60px;
        text-transform: uppercase;
        // border-top-left-radius: 4px;
        // border-top-right-radius: 4px;
        font-weight: bold;
    }
}

.deposit-successful {
    font-size: 1.2em;
    line-height: 1em;
    font-weight: bold;
}

.select-card {
    width: 160px;
    height: 40px;
    margin-bottom: 2px;
    overflow: hidden;
    background: url("../_images/common/icons/arrow-down.png") no-repeat right $qd-header-cardnumber-select-bg;
    background-position: 95% 45%;
    border: 1px solid $palesky;
    margin: 10px auto;
    float: left;
    select {
        background: transparent;
        padding: 10px;
        font-size: .9em;
        line-height: 1;
        border: 0;
        border-radius: 0;
        height: 40px;
        -webkit-appearance: none;
        outline: none;
        //Mozilla dropdown fix
        width: 90%;
        font-family: $qd-body-font;
        font-size: rem-calc(14px);
        color: $black;
        line-height: rem-calc(20px);
        option {
            color: #fff;
            background-color: $qd-header-cardnumber-select-bg;
            padding: 5px 0;
        }
    }
}

.quick-deposit-container_error {
    padding: 2px 8px;
    line-height: 1.2em;
    a {
        color: $qd-header-color;
    }
}

.quick-deposit-container__header {
    @include grid-column(12,
    $collapse: true);
    border-bottom: 1px solid $qd-header-border-bottom-color;
    border-top: 1px solid $qd-header-border-top-color;
    // color: $qd-header-font-color;
    // border-top-right-radius: 6px;
    // border-top-left-radius: 6px;
    span.error {
        position: relative;
        margin-bottom: 0 !important;
    }
    .quick-deposit-container__header__icons {
        @include grid-column(10,
        $collapse: true);
        padding-left: 15px;
        font-size: rem-calc(15px);
        text-transform: uppercase;
        font-family: $qd-default-font;
        text-align: left;
        line-height: 60px;
        background-color: $qd-header-color;
        color: $qd-header-font-color;
        margin-right:0.02px;
        img {
            width: auto;
            height: auto;
            width: initial;
            height: initial;
        }
    }
    .quick-deposit-container__header__close {
        @include grid-column(2,
        $collapse: true);
        padding-right: 2px;
        padding-top: 13.67px;
        padding-bottom: 13.67px;
        background-color: $qd-header-color;
        img {
            height: auto;
        }
    }
    .quick-deposit-container__header__card {
        @include grid-column(12,
        $collapse: true);
        background-color: $qd-header-cardnumber-bg-color;
        border-top: 1px solid $qd-header-cardnumber-border-top-color;
        padding: 2px 5px;
        font-size: .8em;
        line-height: 2em;
        color: $qd-header-cardnumber-font-color;
        span {
            float: left;
            //margin-left: 10px;
        }
        input {
            // border-radius: 4px;
            width: 30px;
            border: none;
            height: 30px;
            font-size: .7rem;
            float: right;
            margin-top: 15px;
            //margin-left: 10px;
            text-align: center;
            margin-bottom: 0;
            padding: 0;
        }
    }
}

.error-cvn {
    //@include grid-column(3, $collapse: true);
    float: none;
    display: inline-block;
    background-color: red;
    padding: 0 5px;
    margin: 2px 0;
    color: $white;
    font-size: .9em;
}

.quick-deposit-container__slider {
    @include grid-column(12,
    $collapse: true);
    .quick-deposit-container__slider__limits {
        @include grid-column(12,
        $collapse: true);
        height: 20px;
        padding: 5px 10px;
        font-size:15px;
        color: $qd-slider-limits-font-color;

        .qd-range-slider__limit {
            @include grid-column(6,
            $collapse: true);
            font-size: 0.9em;
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
        }
    }
    .qd-range-slider__wrapper {
        padding: 30px;
        padding-top: 40px;
        height: 24px;
        .ui-widget-content {
            background: none;
        }
        .range-slider__limit {
            text-align: initial;
            font-size: 1.3em;
            line-height: 3em;
        }
        .range-slider__slider {
            background: none;
            border-radius: 50px;
            @include grid-column(12,
            $collapse: true);
            .ui-slider-horizontal {
                height: 4px;
            }
            #ui-withdrawal-slider {
                background-color: $qd-slider-color;
                border:0px;
                @include border-radius(30px);
                .ui-slider-handle {
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    @include border-radius(30px);
                    background: none;
                    background-color: $qd-slider-handle-color;
                    box-shadow: none;
                    border: none;
                    outline: none;
                    &:hover {
                        background: lighten($button-cashier-bg, 10%);
                    }
                }
            }
        }
    }
}

.quick-deposit-container__bonustext {
    @include grid-column(11,
    $collapse: true);
    float: none;
    display: inline-block;
    padding: 0 4px;

    .tcs-text {
        a {
                text-decoration:underline !important;
            }
    }
    
    .quick-deposit-container__bonustext__container {
        @include grid-column(12,
        $collapse: true, $center: true);
        background-color: $bonus-text-background;
        padding: 12px;
        span {
            font-size: rem-calc(13px);
            padding-left: 5px;
            font-family: $qd-body-fontbold;
            color: $bonus-text-color;
        }
        div {
            height: 24px;
            text-align: left;
        }
    }
}

.quick-deposit-container__buttons {
    @include grid-column(10,
    $collapse: true);
    float: none;
    display: inline-block;
    button {
        border-radius: 100px !important;
        padding: 0px;
        margin: 0px auto 14px auto;
        background: $cta-button-color;
        font-family: $font-button;
        width: rem-calc(182px);
        height: rem-calc(40px);
        line-height: rem-calc(40px);
        font-size: rem-calc(17px);
        text-align: center;
        text-transform: uppercase;
        display: block;
        color: $promoinfo-font-color;
        &:hover {
            background: lighten($button-cashier-bg, 10%);
            color: $font-button;
        }
    }
    .quick-deposit-container__buttons__promoinfo {
        font-size: .9em;
        line-height: 1.2em;
        margin-bottom: 10px;
        font-weight: bold;
        background-color: $promoinfo-bg-color;
        // border-radius: 4px;
        padding: 5px;
        color: $promoinfo-font-color;
        &:empty {
            padding: 0;
        }
    }
}

.cancel-button {
    border-radius: 100px !important;
    padding: 0px;
    margin: 10px auto 10px auto;
    background: $button--bg;
    font-family: $font-button;
    width: rem-calc(135px);
    height: rem-calc(39px);
    line-height: rem-calc(39px);
    text-align: center;
    text-transform: uppercase;
    display: block;
    color: $button--text;
    &:hover {
        background: $button--bg-hover;
        color: $button--text;
    }
}
