.account-menu-mobile__reveal-modal-bg {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(0,0,0, 0.75);

    &.active {
        display: block;
    }
}

.balance-display-mobile__reveal-modal-bg {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(0,0,0, 0.75);

    &.active {
        display: block;
    }
}

.alert-background {
    .alertbox {
        p {
            color: $white;
            @media #{$small-only} {
                font-size: rem-calc(14px);
                line-height: rem-calc(28px);
            }
        }
    }
}

.alertbox {
    min-width: 436px;
    min-height: 115px;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    @include box-shadow(0 3px 0 rgba(0, 0, 0, 0.35));
    @include border-radius(4px);
    background: $black;
    color: $white;
    z-index: 9999999999;
    text-align: center;
    border: 1px solid $regalwins--highlight-gold;

     @media #{$small-only} {
           min-width: 90%;
        }

    a {
        color: $white;
        text-decoration: underline;
    }

    h3 {
        font-weight: bold;
        text-transform: uppercase;
        color: $white;
        @media #{$small-only} {
           font-size: rem-calc(22px);
           margin-bottom: 1rem;
        }
    }

    .ok-cta {
        @include regalwins-button-gradient('true','green');
        text-decoration: none;
        margin-bottom: 0;
    }

    .cancel-cta {
        margin-bottom: 1em;
        margin-top: 1em;
        color: $white;
        border: 2px solid  $white;
        border-radius: 3px;
        text-transform: uppercase;
        padding: 0.8em;
        margin-right: 20px;
    }
    .alertbox__cta {
        margin-top: 2em;
        margin-bottom: 0.5rem;
    }
}

.alert-background {
    height: 100%;
    overflow: auto;
    overflow-y: scroll;
    background-color: transparentize(black, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999999;
}
