
@font-face {
    font-family: 'madera';
    src: url('../_fonts/madera/Madera-Regular.eot');
    src: url('../_fonts/madera/Madera-Regular.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/madera/Madera-Regular.woff2') format('woff2'),
         url('../_fonts/madera/Madera-Regular.woff') format('woff'),
         url('../_fonts/madera/Madera-Regular.ttf') format('truetype'),
         url('../_fonts/madera/Madera-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
