
.middle-content.myaccount-content.middle-content__box {
    .tabs a, .tabs .tab-title a {
        opacity: 0;
        transition: opacity 0.5s;
    }
}

.progressive-jackpots__wrapper {
    visibility: hidden;
    height: 155px;
}

.progressive-jackpots__progressive__cta {
    display: none;
}
