
.scheduled-banner {
    position: relative;
    clear: both;
    padding-bottom: 1.5rem;
    background: $regalwins--gray-darkest;
}

.regalwins-button-wrapper {
    clear: both;
    text-align: center;
}

.regalwins-button {
    @include regalwins-button;
}