
// common classes
.disabled-state {
    background-color : palette(orange, base) !important;
}

.active-state {
    background-color : palette(green, dark);
}

.active-state--main {
    background-color : $lynch;
}

// When we need to highlight border element
.border-important {
    border             : 1px solid $lucky-point;
    box-shadow         : 0px 0px 10px 0px $brand-color;

    -webkit-box-shadow : 0px 0px 10px 0px $brand-color;
    -moz-box-shadow    : 0px 0px 10px 0px $brand-color;
    //-webkit-animation: pulse 1s infinite;
    /* Chrome, Safari, Opera */
    //animation: pulse 1s infinite;
}

.border-important-anim {
    border             : 1px solid $lucky-point;
    box-shadow         : 0px 0px 10px 0px $brand-color;

    -webkit-animation  : pulse 1s infinite;
    /* Chrome, Safari, Opera */
    animation          : pulse 1s infinite;

    -webkit-box-shadow : 0px 0px 10px 0px $brand-color;
    -moz-box-shadow    : 0px 0px 10px 0px $brand-color;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes pulse {
    from {
        box-shadow         : 0px 0px 2px 0px $lucky-point;

        -webkit-box-shadow : 0px 0px 2px 0px $lucky-point;
        -moz-box-shadow    : 0px 0px 2px 0px $lucky-point;
    }
    to {
        box-shadow         : 0px 0px 10px 0px $brand-color;

        -webkit-box-shadow : 0px 0px 10px 0px $brand-color;
        -moz-box-shadow    : 0px 0px 10px 0px $brand-color;
    }
}

/* Standard syntax */
@keyframes pulse {
    from {
        box-shadow         : 0px 0px 2px 0px $lucky-point;

        -webkit-box-shadow : 0px 0px 2px 0px $lucky-point;
        -moz-box-shadow    : 0px 0px 2px 0px $lucky-point;
    }
    to {
        box-shadow         : 0px 0px 10px 0px $brand-color;

        -webkit-box-shadow : 0px 0px 10px 0px $brand-color;
        -moz-box-shadow    : 0px 0px 10px 0px $brand-color;
    }
}