
/*=============================================
=            Regal Wins    =
=============================================*/

// Revamp Palette
$gold: #DFC25E;
$bright-gold: #FED500;
$gray-dark: #383639;
$gray-darker: #1b1b1b;
$gray-lightest: #A1AC9D;

// Regal Wins Palette
// LEVEL 1
$roti: #BEA349; // gold
$equator: #E5C55B; //lighter gold
$golden-sand: #F4D879; // lightest gold

$mine-shaft: #323232;
$mercury:#e1e1e1;
$alto: #D8D8D8;

$milano-red: #AE0C0C;
$dark-burgundy:#780707;
$crown-of-thorns: #761F21;
$japanese-laurel:#009c0c;

$storm-gray:#757983;
$dusty-gray:#969696;

$lima: #70B71D;
$torchred: #FF0041;
$carnation: #FB5368;

//Registration
$gray: #828282;
$silver-chalice: #A4A4A4;
$dove-gray:  #737373;
$husk: #BAA457;
$violet: #100527;
$amethyst-smoke: #968ba9;
$green-vogue: #042E64;
$concrete: #f2f2f2;
$prussian-blue: #00214B;

//Footer
$accent-gray: #696262;

// Regal Wins Theme 
// LEVEL 2
$regalwins--white: $white;
$regalwins--black: $black;

$regalwins--gold: $roti;
$regalwins--highlight-gold: $gold;
$regalwins--header-gold: $gold;
$regalwins--header-highlight-gold: $bright-gold;
$regalwins--button-gold: $bright-gold;

$regalwins--gray: $mine-shaft;
$regalwins--gray-darker:$storm-gray;
$regalwins--gray-lighter:$mercury;
$regalwins--gray-alternative:$dusty-gray;
$regalwins--gray-alto:$alto;
$regalwins--gray-light: $accent-gray;

$regalwins--gray-lightest: $gray-lightest;
$regalwins--gray-dark: $gray-dark;
$regalwins--gray-darkest: $gray-darker;
$regalwins--opacity:rgba(0,0,0,0.85);
$regalwins--opacity--lighter:rgba(0,0,0,0.3);

$theme--ui----mobile--fontsize: rem-calc(12);
$theme--ui----desktop--fontsize13: rem-calc(13);
$theme--ui----desktop--fontsize: rem-calc(14);

// LEVEL 3
$regalwins--border: $gray-dark;
$regalwins--border-light: $accent-gray;
$regalwins--login: $regalwins--gold; // login button //
$regalwins--copy-colour:$regalwins--black; //login button font colour
	
$regalwins-gradient:$regalwins--white; // Select by type gradient 
$regalwins--hover:$regalwins--gray-lighter; // hover button background

$regalwins--cta-button:$regalwins--highlight-gold; // Play now, Login
$regalwins--cta-button-two:$crown-of-thorns; // join now button //
$regalwins--cta-button-success:$japanese-laurel;

$regalwins--filter-button-colour:$regalwins--black; // slots by type font colour

$regalwins--module-background:$regalwins--black;
$regalwins--footer-colour: $regalwins--gray-alto;

// LVIP renaming needed 
$regalwins--san-marino:$regalwins--black;
$regalwins--firefly:$regalwins--black;
$regalwins--indigo:$regalwins--gray;
$regalwins--san-juan:$regalwins--gray;
$regalwins--chathams-blue:$regalwins--gold;
$regalwins--denim: $regalwins--gold;
$regalwins--footer-link:$regalwins--gold; 

$header-font-color: $white;
 
/*=============================================
=            Regal Wins 
=============================================*/


// ----------
// BASE COLOURS 
// ----------
$white: #FFFFFF;
//used for white
$black: #000000;
//used for black
$off-white: #fcfafa;
// used in various background locations
// MAY 2015 NEW BRAND guideline colour palette
$pearl-black: #040422;
$blackrock-blue: #190541;
$minsk-blue: #322b84;
$lucky-point: $regalwins--login;
// used in blue palette
$portage-lilac: #ac81ee;
$bright-turquoise: #04cde8;
$razzmatazz-pink: #db1467;
//cashier colours (needs reviewing)
$grey: #898989;
$regalwins--dodger-blue: #1D6FBA;
//used for various, text etc
$grey-light: #F9F9F9;
$orange: #cf6e0e;
$grey-dark: #303030;
$grey-light-bg: #EFEFEF;
$grey-lighter-bg: #EFEFEF;
//used in promo bg
$lighter-bg: #EFEFEF;
//used in cashier and my account convert points
$pale-sky: #646F83;
// used in cashier
$alice-blue: #F5FBFF;
// used in cashier
$lynch: #66769E;
// used in states cashier and quick links widget
$scarpa-Flow: #585562;
// used in purple palette
// semantic names (needs reviewing)
$bgcolor: $blackrock-blue;
$brand-color: $lucky-point;
$main-highlight-color: $razzmatazz-pink;
$ctacolor: $brand-color;
$title: $scarpa-Flow;
$content-text: darken($grey, 25%);
$pagetitle: $white;
$account-blue: $alice-blue;
$account-highlited-blue: $lynch;
$navigation-text-color: $white;
$global-link-color: $bright-turquoise;
$global-link-color-secondary: #CFBBEE;
$global-link-color-text: #6A4A9B;
$global-bg-color: $regalwins--black;
$nav-active-color: $global-link-color;
// ----------
// PALETTE OF COLOURS
// ----------
// Map Object with all the coluours and the variations
$palettes: (black: (), white: (), grey: (base: $grey, light: lighten($grey, 20%), dark: darken($grey, 20%)), orange: (base: $orange, light: lighten($orange, 10%), dark: darken($orange, 10%)), pink: (base: $razzmatazz-pink, light: lighten($razzmatazz-pink, 10%), dark: darken($razzmatazz-pink, 10%)), green: (base: #208d12, light: lighten(#208d12, 10%), dark: darken(#208d12, 10%)), purple: (base: $scarpa-Flow, light: lighten($scarpa-Flow, 10%), dark: darken($scarpa-Flow, 10%)), blue: (base: $lucky-point, light: lighten($lucky-point, 10%), dark: darken($lucky-point, 10%)));
$ui-table-even: $grey-light;
$ui-table-header: $bgcolor;
//textarea
$body-font-color: $black;
$body-font-color-light: lighten($body-font-color, 10%);
// -------------------
// Font size
// -------------------
$headline: 1.5em;
$subheadline: 1.125em;

/*Accordion*/
$nav-main-color: $white;
$nav-active-color: red;
$nav-active-bg-color: $lynch;


// ----------
// Footer Navigation bar (mobile only)
// ----------
$mobilemenu-navbar--background: linear-gradient(180deg, #353535 0%, #000000 100%);
$mobilemenu-navbar--link: $regalwins--highlight-gold;
$mobilemenu-navbar--link--hover: $regalwins--highlight-gold;


/*=============================================
=            fonts            =
=============================================*/

$base-font-family: 'madera', 'Helvetica', 'Arial', 'sans-serif';

$ui-font-regular: $base-font-family;
$ui-font-book: $base-font-family;
$ui-font-semibold: $base-font-family;
$ui-font-bold: $base-font-family;
$heading-font-bold: $base-font-family;
$body-font-regular: $base-font-family;
$body-font-medium: $base-font-family;
$body-font-demi: $base-font-family;
$body-font-bold: $base-font-family;
$button-font: $base-font-family;

// Sizes
$font-cta-size: rem-calc(16px);

// revamp sizes
$rw-body-font-size: rem-calc(15px);
$rw-body-line-height: rem-calc(30px);

$rw-body-small-font-size: rem-calc(13px);
$rw-body-small-line-height: rem-calc(28px);

$rw-header-size: rem-calc(22px);
$rw-header-line-height: rem-calc(24px);

$rw-header-secondary-size: rem-calc(18px);
$rw-header-secondary-line-height: rem-calc(28px);


/*=============================================
=  default site margin / gutter / padding / spacing           =
=============================================*/

$site-margin: rem-calc(14px);

/*=============================================
=  permanent variable to ensure Category carousel           =
=============================================*/

$category-carousel-h1:$heading-font-bold;
$category-carousel-title-link:$white;
$category-carousel-font-family:$ui-font-regular;
$category-carousel-font-family-bold:$ui-font-bold;
$category-carousel-background:$off-white;
// title and its background
$category-carousel-main-highlight-color: $white;
$category-carousel-main-highlight-background-color:$lucky-point;
// view all link (right)
$category-carousel-view-all-link:$global-link-color;



// ============================================================================================
// ============================================================================================
// ============================================================================================
// ============================================================================================
// ============================================================================================//



// %font--size--set {
//     // font-size: rem-calc($theme--ui----desktop--fontsize);
//     // line-height: 1.5;
//     // font-family: $theme--ui--font;

//     @media #{$medium-only} {
//         font-size: rem-calc($theme--ui----mobile--fontsize) !important;
//         line-height: 2.2!important;
//     }
//     @media #{$small-only} {
//         font-size: rem-calc($theme--ui----mobile--fontsize) !important;
//     }
//     line-height:2.2!important;
// }

//used on promo modal
$radical-red:#FD276F;
/*=============================================
=  Claim prize promotion tabs                 =
=============================================*/
$claimed-prize-amount-highligted: $radical-red;
$claimed-prize-headers-background: $nav-active-color;
$claimed-prize-headers-color: $white;
$claimed-prize-button-start-color: $nav-active-color;
$claimed-prize-button-end-color: $nav-active-color;
$font-color: $white;
$claimed-prize-close-reveal: #AAAAAA;
$claim-prize-confirmation-background: $lighter-bg;

//used on promo modal
$radical-red:#FD276F;
/*=============================================
=  Claim prize promotion tabs                 =
=============================================*/
$claimed-prize-amount-highligted: $radical-red;
$claimed-prize-headers-background: $nav-active-color;
$claimed-prize-headers-color: $white;
$claimed-prize-button-start-color: $nav-active-color;
$claimed-prize-button-end-color: $nav-active-color;
$font-color: $white;
$claimed-prize-close-reveal: #AAAAAA;
$claim-prize-confirmation-background: $lighter-bg;

//3 STEP REGISTRATION HEADER
$theme--color--primarypurple: $black;

//3 STEP REGISTRATION GLOBAL VARIABLES 

//fonts
$registration-3step-font-light: $body-font-regular;
$registration-3step-font-regular: $body-font-regular;
$registration-3step-font-bold: $button-font;

// background
$registration-3step-bg--base: $white; 
$registration-3step-bg--main: $black;

// banner#1C0344
$registration-3step-banner-bg: $black;

// 3 step steps
$registration-3step-title: $white;
$registration-3step-title--border: #baa457;
$registration-3step-border--bottom: $black;

// title (Mr Mrs Miss Ms)
$registration-3step-button--bg: $white;
$registration-3step-button-color--selected: $black;
$registration-3step-button-color: $white;

// input
$registration-3step-input--label: $white;
$registration-3step-input--border: $black;
$registration-3step-input--content: $blackrock-blue;

//select
$registration-3step-select-text: $black;

//date
$registration-3step-date-border: $silver;
$registration-3step-date-text: $silver;

//find address CTA
$registration-3step-address-bg: #B7A561;
$registration-3step-address-text: $black;

// validations and requirements
$registration-3step-requirements: $white;
$registration-3step-input--success: $lima;
$registration-3step-input--error: $carnation;

//CTAS
$registration-3step-cta: #B7A561;
$registration-3step-cta--text: $black;
$registration-3step-cta--dropshadow: $black;
$registration-3step-tick-border: $black;
$registration-3step-tick-text: $black;

// terms & conditions
$registration-3step-terms: $black;

/*=============================================
COOKIE POLICY VARIABLES
=============================================*/

$cookie-block-bg: $white;
$cookie-message-color: $black;
$cookie-link-color: $black;
$cookie-cta-bg: $roti;
$cookie-cta-color: $black;
$cookie-cta-hover: $mercury;
// Cashier widget
$cashier-welcome-font: "grotaextrabold", Helvetica, Arial, sans-serif;
$cashier-welcome-size: 22px;
$cashier-widget-header: #fff;

/*=============================================
PRIZE WHEEL
=============================================*/
$prize-wheel-icon: url("../_images/prize-wheel/rw.svg");
$prize-wheel-font: Helvetica, Arial, Verdana, sans-serif;