.lobby-wrap {
    background-color: #C9C9D7;

    @media #{$large-up} {
        @include grid-row;

        @media #{$large-up} {
            padding: $site-margin;
        }

        padding-bottom: 0px !important;
    }
    // lobby left column
    .lobby-wrap__left {
        @include foundation-breaks($scols: 9, $scollapse: true, $sfloat: left, $mcols: 8, $mcollapse: true, $mfloat: left, $lcols: 9, $lcollapse: true, $lfloat: left);
        height: auto;
        padding-right: $site-margin;

        .small-deposit-wrap {
            @include grid-column(6, $float: right);

            @extend .show-for-small;

            .lobby-deposit-button {
                @include grid-column(12, $collapse: true);

                margin-bottom: $site-margin;
                font-size: 20px;
                overflow: hidden;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        @media #{$small-only} {
            @include grid-column(12);
            @media #{$landscape} {
                @include grid-column(12);
            }
        }
    }

    // lobby right columns
    .lobby-wrap__right {
        @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 4, $mcollapse: false, $mfloat: left, $lcols: 3, $lcollapse: false, $lfloat: left);

        @media #{$small-only} {
            display: none;
        }

        @media #{$medium-only} {
            margin-top: $site-margin;
        }

        @media #{$large-up} {
            padding-right: 0px;
        }

        height: auto;
    }

    .progressive-jackpots__wrapper.slider, .yesterdays-win__wrapper, .latest-winners__wrapper.slider {
        clear: both;
    }

    .progressive-jackpots__wrapper.slider {
        @media #{$medium-only} {
            height: 300px;
        }
    }

    .yesterdays-win__wrapper {
        margin-top: -33px;

        @media #{$medium-only} {
            margin-top: 0px;
        }
    }
}

.lobby-wrap .two-columns-content-wrap__right {
    padding-top: 0;
    padding-bottom: $site-margin;
    padding-left: 0;

    @media #{$medium-only} {
        padding-right: 0;
        padding-top: 0;
    }

    width: 100%;
}