.vip-level-area {
    float: left;
    @media #{$medium-up} {
        float: right;
    }
    font-family: $ui-font-bold;
    color: #4E4783;
    font-size: 20px;
    padding-top: 10px;
    .vip-text {
        @media #{$medium-only} {
            display: block;
            margin-bottom: 10px;
            font-size: 14px;
        }
    }
    .vip-shape {
        border-radius: 100%;
        font-family: $ui-font-bold;
        color: $white;
        font-size: 12px;
        text-align: center;
        padding: 12px;
    }
    // newbie
    .level-0 {
        background-image: linear-gradient(-180deg, #00d0e8 40%, #018c9b 98%);
    }
    // bronze
    .level-1 {
        background-image: linear-gradient(-180deg, #d38a65 40%, #ba5734 98%);
    }
    // silver
    .level-2 {
        background-image: linear-gradient(-180deg, #546464 40%, #b8c8c8 98%);
    }
    // gold
    .level-3 {
        background-image: linear-gradient(-180deg, #c1a655 40%, #b59555 98%);
    }
    // ruby
    .level-4 {
        background-image: linear-gradient(-180deg, #e0175b 40%, #ff679c 98%);
    }
    //emerald
    .level-5 {
        background-image: linear-gradient(-180deg, #148938 40%, #76e99b 98%);
    }
    // elite
    .level-6 {
        background-image: linear-gradient(-180deg, #62517d 40%, #cbbae7 98%);
    }
}