@mixin sbm-multiline-ellipsis($lineHeight, $lineCount, $control-colors){
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount; 
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    margin-bottom: 2rem;
    &.open{
        white-space: normal;
        overflow: visible; 
        max-height: initial;
        &.open:before {
            content: '';
        }
        &.open:after {
            content: 'Close';
            color: $control-colors;
            text-decoration: underline;
            bottom: 1rem;
            left:5%;
            position: absolute;
            margin-top: 1.25rem;
            padding-bottom: 0.2rem;
        }
        @media screen and (min-width:1025px){
            &.open:after {
                left:16%;
            }
        }
        @media screen and (min-width:1440px){
            &.open:after {
                left:18%;
            }
        }
        @media #{$xlarge-up} {
            &.open:after {
                left:26%;
            }
        }
    }
    &:before {
        content: 'Read more';
        position: absolute;
        text-decoration: underline;
        color: $control-colors;
        left: 5%;
        bottom: -1rem;
        margin-top: -1.25rem;
        padding-bottom: 0.2rem;
    }
    @media screen and (min-width:1025px){
        &:before {
            left:16%;
        }
    }
    @media screen and (min-width:1440px){
        &:before {
            left:18%;
        }
    }
    @media #{$xlarge-up} {
        &:before {
            left:26%;
        }
    }
    &:after {
        content: '';
    }
}
.seo-copy {
    @include sbm-multiline-ellipsis(1.5rem, 9, $link-color);  
}