.promotions-detail {
    @include grid-column($collapse: true, $columns: 12);

    @media #{$medium-only} {
        margin-bottom: 20px;
    }

    @media #{$small-only} {
        @include grid-column($collapse: true, $columns: 12);

        padding: 5px 0px;
        margin-bottom: 20px;
    }

    > article > div > div.promotion__content__wrapper > table > thead > tr > td {
        color: white;
        background-color: #004C64 !important;
    }

    .promotion--featured {
        @include grid-column($collapse: true, $columns: 12);

        @include be-box($white, solid, $border, 0px);

        @include clearfix;

        padding: 20px;

        @media #{$small-only} {
            @include grid-column($collapse: true, $columns: 12);

            padding: 5px;
        }

        @media #{$medium-only} {
            @include grid-column($collapse: true, $columns: 12);

            padding: 10px;
        }

        .promotion__wrapper {
            @media #{$small-only} {
                @include grid-column($collapse: true, $columns: 12);

                background-color: $white;
                border: none;
            }
        }

        .promotion__content__wrapper {
            @include grid-column($collapse: true, $columns: 12);

            @media #{$small-only} {
                @include grid-column($collapse: true, $columns: 12);

                width: 100%;
            }

            h1.section__title {
                color: $main-highlight-color;

                @media #{$small-only} {
                    font-size: 1.6em;
                }
            }

            p {
                font-family: $body-font-regular;
                margin-bottom: 10px;
                font-size: 1.1em;
                line-height: 1.6em;
            }

            ul {
                font-size: 0.9em;
                display: block;
                list-style-type: disc;
                -webkit-margin-before: 1em;
                -webkit-margin-after: 1em;
                -webkit-margin-start: 0px;
                -webkit-margin-end: 0px;
                -webkit-padding-start: 40px;
            }

            > img {
                float: left;

                @include grid-column($collapse: true, $columns: 5);

                margin-right: 20px;
                margin-bottom: 10px;

                @media #{$small-only} {
                    @include grid-column($collapse: true, $columns: 12);
                }

                @media #{$medium-only} {
                    @include grid-column($collapse: true, $columns: 5);
                }
            }

            .promotion__image {
                width: 50%;
                float: left;
            }
        }
    }
}

.promotion-image__cta {

    width:41.66667%;
    float: left;
    padding-right: 10px;

     @media #{$small-only} {
        @include grid-column($collapse: true, $columns: 12);
        padding-right: 0;
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    @media #{$medium-only} {
        @include grid-column($collapse: true, $columns: 6);
        padding-right: 8px;
    }

}

.accordion .accordion-navigation > a, .accordion dd > a {
    font-size: 1em;
    color: $base-light-blue;
    background-color: $white;
    font-family: $title1-font !important;
    border-bottom: 1px solid $yellow-banana;
    padding: 0px;
    padding-top: 40px;
    text-align: left;
}

    .footer-nav__container {
        @include grid-column(12);

        @include hide-for-medium-up;

        position: fixed;
        bottom: 0;
        left: 0;
        padding: 10px;
        background: $lighter-bg;
        z-index: 2;

        .cta-opt-in {
            width: 30%;
            float: left;
            padding: 6px;
            font-size: 14px;
            margin-right: $site-margin / 2;
            text-shadow: none;

            &.cta-full-width {
                @include grid-column(6);
            }

            @media screen and (min-width: 320px) {
                font-size: 0.9em;
            }
        }

        .cta-join {
            width: 30%;
            float: left;
            padding: 6px;
            font-size: 14px;
            text-shadow: none;
            margin: 0;


            @media screen and (min-width: 320px) {
                font-size: 0.9em;
            }
        }

        .cta-next-promo {
            position: relative;
            width: 30%;
            float: right;
            text-align: right;
            color: $global-link-color;
            font-family: $body-font-bold;
            font-size: 15px !important;
            top: 10px;
        }
    }

.promotion__terms-conditions {
    font-size: 1em;
    color: $grey-dark;

    .content .active {
        background-color: $white;
        font-size: 1em;
        font-family: $body-font-regular;
        text-align: left;

        @media #{$small-only} {
            background-color: $white;
        }
    }

    p {
        text-align: left;
    }

    li {
        text-align: left;
        
        a {
            background-color: $white;
            font-family: $title1-font;
            text-align: left !important;
            font-size: 15px !important;
            &.terms-link {
            font-size:inherit !important;
        }
        }

    }

    

    a:hover {
        color: darken($base-light-blue, 5%);
        font-family: $title1-font;

        @media #{$small-only} {
            background-color: $white;
        }
    }

    @media #{$small-only} {
        font-size: 1em;
        line-height: 1.3em;
    }

    ol {
        font-family: $body-font-regular;
        font-size: 0.9em;
        font-style: normal;
        line-height: 1.5em;
    }
}

.promo__container__cta {
    @include grid-column(12);

    margin: $site-margin 0;
    text-align: center;

    a {
        @include grid-column(6, $center: true, $collapse: true);
        width: 45%;

        @media #{$small-only} {
            @include grid-column(11, $center: true, $collapse: true);
        }

        padding: 0;
        border-radius: 1px;
        margin: 0 3px;
        height: auto;
        margin-bottom: $site-margin;
        font-family: $button-font;
        text-align: center;
        display: inline-block;
        line-height: 2;
        font-size: 18px !important;
    }
}

// Related promos thumbnail

.related-promos {
    @include grid-column(12);

    @include show-for-large-up;

    padding: 0;

    @media #{$small-only} {
        padding-bottom: 50px;
    }

    .section-left__title {
        /* top gradient content */
        margin: 0;
        margin-bottom: $site-margin;
        padding: 5px;
        padding-left: $site-margin !important;

        // color: $nav-main-color;
        font-size: 15px !important;
        text-align: left !important;
        text-transform: uppercase !important;
    }

    .three-columns-equal {
        padding: $site-margin;
    }

    .promotion-eng {
        padding: $site-margin / 2;
    }

    .related-promos__wrap {
        @include grid-column(12);

        @include show-for-large-up;

        padding: 0;
        padding-left: $site-margin;

        .tabs dd a {
            text-transform: uppercase;
        }
    }

    .related-promos__thumb {
        @include grid-column(4);

        @include show-for-large-up;

        padding: 0;

        @media #{$medium-only} {
            @include grid-column(6);

            padding: 0;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0;
        }
    }

    .promotion__wrapper {
        @include border-radius(4px);

        padding-bottom: $site-margin !important;

        //height: 355px;

        @media #{$medium-only} {
            @include grid-column(12);

            height: auto;
            padding: 0;
            max-height: 100%;
        }

        @media #{$small-only} {
            @include grid-column(12);

            height: auto;
            padding: 0;
            max-height: 100%;
        }
    }

    .promotion__play-now, .promotion__optin {
        bottom: 15px;
        margin-left: 0;
    }

    .promos-slider {
        @include grid-column(12);

        @include hide-for-large-up;

        ul {
            margin: 0;
        }
    }
}

.promotion__wrapper {
     .promotion__text_terms-wrapper {
        width: 60%;
        float: left;
        padding-left: 10px;

        @media #{$small-only} {
            width: 100%;
        }
            .promotion__text_terms, .promotion-eng__terms {
                font-size:rem-calc(11);
            }
        }
}