.promotions {
    //single post main content
    .promo-content-wrap {
        @include grid-row;
    }
    .main-content__top__left {
        @include grid-column(9, $collapse: true);
        @media #{$medium-only} {
            @include grid-column(12, $collapse: true);
        }
        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }
    }
    .main-content__top__right {
        @extend .show-for-large-up;
        @include grid-column(3, $collapse: true);
        background-color: $yellow-banana;
        padding: 0px 10px 10px 10px;
        height: auto;
        h1 {
            font-family: $title1-font;
            font-size: 1.3em;
            margin-top: 0.4em;
        }
    }
    .promotion {
        @include grid-column(3, $collapse: true);
        cursor: pointer;
        padding-right: 10px;
        @media #{$medium-only} {
            @include grid-column(4, $collapse: true);
            padding-right: 10px;
            padding-left: 10px;
            padding-bottom: 10px;
        }
        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
            padding: 10px 10px 0px 10px;
            height: auto;
        }
    }
}

// ******** FEATURED PROMO ONLY ******** //
.promotion-featured {
        .promotion__optin {
                right: 0 !important;
                top: 0 !important;
            }
    .promotion {
        @include grid-column(12, $collapse: true);
        padding-right: 10px;
        height: 228px;
        @media #{$medium-only} {
            height: auto;
            padding-top: 10px;
            padding-left: 10px;
        }
        @media #{$small-only} {
            padding: 10px;
            height: auto;
            padding-bottom: 0px;
        }
        .promotion__wrapper {
            @include grid-column(12, $collapse: true);
            @include be-box($white, solid, $border, 10px);
            padding: 10px 10px 10px 10px;
            height: auto;
            min-height: 220px;
            cursor: pointer;
            @media #{$small-only} {
                @include grid-column($collapse: true, $columns: 12);
                padding: 0px;
                margin-bottom: 10px;
                height: auto;
            }
            .promotion__title__wrapper {
                float: left;
                @media #{$small-only} {
                    // width: 100%;
                }
            }
            .promotion__title {
                @media #{$small-only} {
                    // position: relative;
                }
            }
            .promotion__content {
                @include grid-column($collapse: true, $columns: 6);
                padding-top: 40px;
                padding-left: 10px;
                max-height: 220px;
                overflow: hidden;
                @media #{$medium-only} {
                    @include grid-column(7, $collapse: true);
                    padding-left: 10px;
                }
                @media #{$small-only} {
                    height: 150px;
                    max-height: 150px;
                    @include grid-column($collapse: true, $columns: 12);
                    padding: 10px;
                }
            }
            .promotion__image {
                width: 35.5%;
                // @include grid-column(5, $collapse: true);
                margin-top: 0px;
                @media #{$medium-only} {
                    @include grid-column(4, $collapse: true);
                }
                @media #{$small-only} {
                    @include grid-column(12, $collapse: true);
                    padding: 10px;
                }
            }
         
            .promotion__more-info {
                width: 50%;
                right: 0px;
                font-size: 1em;
                padding-right: 20px;
                bottom: 10px;
                @media #{$small-only} {
                    bottom: 5px;
                    font-size: 0.9em;
                    height: 5%;
                    width: 100%;
                }
            }
        }

        h1 {
            font-size: 1.2em;
            @media #{$small-only} {
                font-size: 1em;
            }
        }
        p {
            font-size: 1em;
            @media #{$small-only} {
                font-size: 0.9em;
            }
        }
        .promotion__title__wrapper {
            @include grid-column(6, $collapse: true);
            float: right;
            padding-left: 10px;
            @media #{$small-only} {
                padding-left: 0px;
            }
        }
    }
    .promotion__optin {
        right: 0px !important;
        top: 0;
        width: 40px;
    }
}

// ******** // FEATURED PROMO ONLY******** //