.promo {
    @include grid-column(6, $collapse: true);
    margin-bottom: 10px;
    font-size: 1rem;
    @media #{$small-only} {
            @include grid-column(12, $collapse: true);
            margin-bottom:0px;
        }
    .promo__img {
        @include grid-column(6, $collapse: true);
        padding: 0 0 10px 10px;
          .be-image {
                @include be-image;
            }
    }
    .promo__title {
        @include grid-column(12, $collapse: true);
        padding: 5px 10px;
        >h1 {
            @include grid-column(9, $collapse: true);
            font-size: 1.125em;
            color: $base-light-blue;
        }
        >h3 {
            @include grid-column(3, $collapse: true);
            font-size: 0.875em;
            padding-top: 5px;
            color: $base-light-blue;
            text-align: right;
        }
    }
    .promo__content {
        font-family: $body-font-regular;
        font-size: 0.85em;
        @include grid-column(6);
        padding-left: 10px;
        line-height: 1.5em;
    }
    .open-icon {
        @include grid-column(1, $float: right);
    }
    // Here we target only the first post
    &:first-child {
        @include grid-column(12, $collapse: true);
        margin-right: 10px;
        margin-bottom: 10px;
        height: auto;
        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
            margin-bottom:0px;
        }
        .promo__title {
            @include grid-column(6);
            float: right;
            padding: 10px 10px;
            >h1 {
                @include grid-column(9, $collapse: true);
                font-size: 1.25em;
                color: $base-light-blue;
            }
            >h3 {
                @include grid-column(3, $collapse: true);
                font-size: 1em;
                padding-top: 5px;
                color: $base-light-blue;
                text-align: right;
            }
        }
        .promo__img {
            @include grid-column(6, $collapse: true);
            float: left;
            padding: 10px 0 10px 10px;
              .be-image {
                @include be-image;
            }
        }
        .promo__content {
            @include grid-column(6);
            font-family: $body-font-regular;
            font-size: 1.025em;
            padding-left: 10px;
            padding-right: 10px;
            line-height: 1.4em;
        }
        .open-icon {
            @include grid-column(1, $float: right);
        }
    }
}