.promotion {
    color: $grey-dark;
    font-size: 1rem;
    @include grid-column($collapse: true, $columns: 12);
    padding-left: 0px;
    margin-bottom: 1em;
    @media #{$medium-only} {
        margin-bottom: 0px;
    }
    @media #{$small-only} {
        @include grid-column($collapse: true, $columns: 12);
        margin-bottom: 0px;
    }
    .promotion__wrapper {
        @include grid-column(12, $collapse: true);
        @include be-box($white, solid, $border, 10px);
        padding: 10px;
        height: auto;
        min-height: 340px;
        position: relative;
        @media #{$small-only} {
            @include grid-column($collapse: true, $columns: 12);
            padding: 0px;
            margin-bottom: 10px;
            height: auto;
            min-height: 434px;
        }
    }
    .promotion__title {
        @include grid-column($collapse: true, $columns: 6);
        font-size: 0.9em;
        text-transform: uppercase;
        color: $base-light-blue;
        margin: 0em;
        position: absolute;
        @media #{$small-only} {
            position: relative;
            padding-left: 10px;
            padding-top: 5px;
        }
        a {
            height: 20px !important;
            overflow: hidden;
            display: block;
        }
    }
    .promotion__image {
        @include grid-column($collapse: true, $columns: 12);
        margin-top: 1.5em;
        > img {
            width: 100%;
            margin-bottom: 0;
        }
        @media #{$small-only} {
            @include grid-column($collapse: true, $columns: 12);
            float: left;
            border: none !important;
            box-shadow: none;
            margin-top: 0px;
            padding: 10px;
        }
    }
    .promotion__content {
        @include grid-column($collapse: true, $columns: 12);
        overflow: visible;
        padding-top: 10px;
        max-height: 90px;
        overflow: hidden;
        a,
        p,
        span,
        div,
        label {
            font-family: $body-font-regular;
            color: $grey-dark;
            font-size: 0.9em;
            line-height: 1.4em;
            margin-bottom: 0px;
        }
        @media #{$small-only} {
            @include grid-column($collapse: true, $columns: 12);
            font-size: 0.9em;
            padding: 10px;
            p:after {
                font-size: 0.9em;
                content: '...';
                color: $grey-dark;
                font-weight: bold;
            }
        }
    }
    .promotion__optin {
        display: block;
        float: left;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0.6em;
        padding-right: 0.6em;
        text-align: center;
        line-height: 23px;
        height: 23px;
        border-radius: 2px;
        background-clip: padding-box;
        box-sizing: content-box;
        background-color: #1BA41A;
        color: $white;
        font-family: $title2-font, Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin: 10px;
        border-radius: 1px;
        position: absolute;
        bottom: 0px;
        z-index: 999 !important;
        border-radius: 3px;
        &:hover {
            background-image: none;
            background-color: lighten(#1ba41a, 5%);
            color: $white;
        }
        @media #{$small-only} {
            bottom: 15px;
        }
    }
    .promotion__more-info {
        display: block !important;
        @media #{$small-only} {
            bottom: 0px;
            font-size: 0.9em;
            height: 10%;
            width: 100%;
            padding-right: 20px;
        }
    }
}

.related-promos__thumb {
    .promotion__wrapper {
        min-height: 393px;
    }
}

// COMPETITION ENGINE CUSTOM STYLE PROMO
.promotion-eng {

    .promotion-eng__wrapper {
                @media #{$medium-only} {
                    height:700px !important;
                }

    }
    .tabs {
        dd {
            a {
                &:hover {}
            }
            &.active {
                a {
                    &:hover {}
                }
            }
        }
    }
    .promotion-eng__content {
        .promotion-eng__title {
            a {}
        }
    }
    .promotion-eng__footer {
        .promotion-eng__terms {}
        .promotion-eng__read-more {}
        .promotion-eng__optin {
            &.active {
                height: 27px;
            }
        }
        .promotion-eng__play-now {
            // display: block !important;
        }
    }
    ul.promotion-eng__comp-info {
        li {
            .title {}
            span {}
        }
    }
}

.promotion__text_terms-wrapper {
    background:$old-lace;
    .promotion__text_terms {}
    .promotion-eng__terms {
        font-weight:800;
        color:$base-blue;
    }
}
