.green-cta, .registercta{
    @include CTA-button(1em, 1em, 2px, #fc6901,#fc6901 );
    color:$white;
    width:100%;
    display:block;
    text-align: center;
    font-family: $body-font-bold;
       border-radius: 3px;
       &:hover{
       	color:$white;
       	background-color: darken(#fc6901,2%) !important;
       }
}