.join-now-button {
    @include CTA-button(4px, 11px, 2px, #179f2d, #7bb726);
}

.join-now-cta {
    font-family: 'kirobold';
    color: $white;
    background-color: #FC6901;
    text-transform: uppercase;
}

.join-now-button--top-nav {
    display: block;
    padding: 0px;
    text-align: center;
    line-height: 23px;
    width: 83px;
    height: 23px;
    border: 1px solid #FC6901;

    // stroke
    @include border-radius(2px);

    // border radius
    @include background-clip(padding-box);

    // prevents bg color from leaking outside the border
    background-color: #FC6901;
    color: $white !important;
    font-family: $body-font-bold;
    font-size: 16px;
    margin-top: 10px;
    box-sizing: content-box;

    &:hover {
        color: $white;
        background-color: darken(#FC6901, 2%);
    }
}

.join-now-button--nav-for-mobile {
    display: block;
    padding: 0px;
    text-align: center;
    line-height: 23px;
    width: 83px;
    height: 23px;
    border: 1px solid #FC6901;

    // stroke
    @include border-radius(2px);

    // border radius
    @include background-clip(padding-box);

    // prevents bg color from leaking outside the border
    background-color: #FC6901;
    color: $white !important;
    font-family: $body-font-bold;
    font-size: 16px;
    box-sizing: content-box;

    &:hover {
        color: $white;
        background-color: darken(#FC6901, 2%);
    }
}