.login-button--nav-for-desktop {
 display: block;
    padding: 0px;
    text-align: center;
    line-height: 23px;
    width: 72px;
    height: 23px;
    border: 1px solid $main-highlight-color;
    // stroke
    @include border-radius(2px);
    // border radius
    @include background-clip(padding-box);
    // prevents bg color from leaking outside the border
    background-color: $main-highlight-color;
    // layer fill content
    color: $white;
    // text color
    font-family: $body-font-bold;
    font-size: 16px;
    margin-top: 10px;
      box-sizing: content-box;
    &:hover {
        color: $white;
        background-color: darken($main-highlight-color,2%);
    }
}

.login-button--nav-for-mobile {
 display: block;
 float: right;
    padding: 0px;
    text-align: center;
    line-height: 23px;
    width: 72px;
    height: 23px;
    border: 1px solid $main-highlight-color;
    // stroke
    @include border-radius(2px);
    // border radius
    @include background-clip(padding-box);
    // prevents bg color from leaking outside the border
    background-color: $main-highlight-color;
    // layer fill content
    color: $white;
    // text color
    font-family: $body-font-bold;
    font-size: 16px;
      box-sizing: content-box;
    &:hover {
        color: $white;
    background-color: darken($main-highlight-color,2%);
    }

        @media #{$small-only} {

            width: 54px;
        }
}