<!-- BODY -->
<table style="width: 100%; margin-bottom:2px;" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td bgcolor="#f5f3ec" style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:20px;">
      <h3 style="font-size: 20px;line-height: 1.1;font-weight: 500;">
      Hi %%Firstname%%,</h3>
      <p>This is a reminder that you have %%Amount%% in your balance.
      </p><br />
      <p>To access your account please login <a href="https://www.spinandwin.com/">here</a>.</p><br>
      <p>Kind Regards,</p>
      <p><strong>The Spin and Win Team</strong></p>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
<!-- /BODY -->