<!-- BODY -->
<table style="width: 100%; margin-bottom:2px;" cellpadding="0" cellspacing="0">
	<tr>
		<td>&nbsp;</td>
		<td bgcolor="#f5f3ec" style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; display: block; max-width: 600px; margin:auto;">
			<table style="width: 100%;" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<img src="%%URL%%/mailers/images/bday10-imgGBP.jpg" style="max-width: 100%;" />
					</td>
				</tr>
				<tr>
					<td style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:0px 18px;">
						<h3 style="line-height: 1.1; font-weight: 500; font-size: 22px;">
						Hi %%Firstname%%,</h3>
						<p>On behalf of everyone at Spin And Win we would like to wish you a very Happy Birthday!</p><br>
						<p>To celebrate, there is a special<strong> %%CurrencySymbol%%10 Birthday Bonus</strong> now waiting in your account.</p><br>
						<p><a href="https://www.spinandwin.com/">Log in now</a> and perhaps your birthday luck will make your day even more special!<br>
					The Spin And Win team wish you all the best for the coming year and the best luck on the site!</p><br>
				</td></tr></table>
				</td><td>&nbsp;</td></tr>
			</table>
			<!-- /BODY -->