﻿<!-- BODY -->
<table style="width: 100%;" cellpadding="0">
    <tr>
        <td>&nbsp;</td>
        <td bgcolor="#FFFFFF" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; display: block; max-width: 600px; margin:auto;">
            <img src="https://www.magicalvegas.com/mailers/images/birthday-silver-lvl.jpg" style="max-width: 100%;" />
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
<!-- /BODY -->