<!-- BODY -->
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
      <tr>

        <td bgcolor="#f7f3fc" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 600px; margin:auto; padding:20px;">
   <a href="https://www.spinandwin.com/login"><img src="http://mailers.communicatormail.com/spinandwin/images/responsive/get-cashback-560x140-saw.jpg" /></a>

<p align="left" style="margin-bottom:1.5em !important; font-size:11px;">Username: %%Alias%% | <a href="https://www.spinandwin.com/forgot-password" style="color: #2977b9; text-decoration: none;">Forgot password</a>?</p><br>

Congratulations %%Firstname%%,<br>
Username: %%Alias%%<br>

<p align="left" style="margin-bottom:1.5em">You've qualified for your %%CurrencySymbol%%%%Amount%% cashback bonus!</p>
<p align="left" style="margin-bottom:1.5em"><strong>Grab it now: simply log in to <a href="https://www.spinandwin.com/" style="color: #0000FF; text-decoration: none;">SpinandWin.com</a> and hit the CLAIM button in My Account.</strong></p>
<p align="left" style="margin-bottom:1.5em">Your cashback will expire by %%ExpireDate%% so don't hang about and get the day off to a flying start!</p>
<p align="left" style="margin-bottom:1.5em">See you soon,</p>
<p align="left" style="margin-bottom:1.5em"><strong>The Spin and Win Team</strong></p>
<p align="center" style="margin-top:30px;"><a href="https://www.spinandwin.com"><img src="http://mailers.communicatormail.com/spinandwin/images/spin-claim-now.png" alt="Claim now!" width="240" height="50" border="0" style="max-width: 100%;"/></a></p>
</td>
</tr>
</table>
<!-- BODY -->