<!-- BODY -->
<table style="width: 100%; margin-bottom:2px;" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td bgcolor="#f5f3ec" style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:20px;">
      <h3 style="font-size: 20px;l ine-height: 1.1;font-weight: 500;">
      Hi %%Firstname%%,</h3>
      <p>This is a short message confirming that you have qualified for a Cash Back Bonus.</p><br />
      <p><strong>In order to claim this bonus you will be required to login to your SpinandWin account before midnight on %%ExpireDate%%.</strong></p><br />
      <p>Should you choose not to accept the bonus in time, it will be forfeited and replaced with the new amount earned each week</p><br />
      <p>Please <a href="https://www.spinandwin.com/promotions/15-cash-back-for-life/">click here</a> for full Cash Back Bonus Terms &amp; Conditions.</p><br />
      <p>Kind regards,</p>
      <p><strong>The Spin and Win Team</strong></p>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
<!-- /BODY -->