		<!-- BODY -->
		<table style="width: 100%;" cellpadding="0" cellspacing="0">
			<tr>
				
				<td bgcolor="#ffffff" style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; display: block; max-width: 600px; margin:auto;">
                <table style="width: 100%;" cellpadding="0" cellspacing="0">
					<table style="width: 100%;" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<a href="http://www.spinandwin.com"><img src="http://mailers.communicatormail.com/spinandwin/images/responsive/match-bonus-saw-600x150.jpg" style="max-width: 100%;" />
							</td>
						</tr>
						<tr>
							<td style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:0px 20px;">
								<p style="font-size: 14px; line-height: 1.6;">Hi %%Firstname%%,</p>
								<p style="font-size: 14px; line-height: 1.6;">Username: %%Alias%%</p>
								<p style="font-size: 17px; line-height: 1.6;"><center><b>YOUR TOP UP OFFER IS READY TO CLAIM!</b></center></p>
								<p style="font-size: 14px; line-height: 1.6;">You've claimed your %%DisplayDescription%% and unlocked a %%ChainDisplayDescription%% on your next deposit.</p>
								<p style="font-size: 14px; line-height: 1.6;"><b>How to claim:</b></p>
								<ol>
								<li>Log in to SpinandWin.com with your username and password</li>
								<li>Head to the cashier</li>
								<li>Top up and select your exclusive %%ChainDisplayDescription%%
								</ol>
								<p style="font-size: 14px; line-height: 1.6;">Today could be your lucky day, log in and play now!</p>
								<br>
							</td>
						</tr>
					</table>

					<p align="center" style="margin-top:20px; margin-bottom:0; padding-bottom: 40px;">
						<a style="text-align: center; text-decoration: none; border-radius: 2px; color: #fff; display: block; font-size: 25px; font-weight: bold; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); width: 250px; font-family: 'Helvetica', Arial, sans-serif; background-color: #fc6901; margin: 0; padding: 13px;" href="http://www.spinandwin.com/cashier">CLAIM MY BONUS</a>
					</p>

				</td>
				
			</tr>

		</table>
		<!-- /BODY -->
