<!-- BODY -->
<table style="width: 100%; margin-bottom:2px;" cellpadding="0" cellspacing="0">
	<tr>
		<td>&nbsp;</td>
		<td bgcolor="#f5f3ec" style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; display: block; max-width: 600px; margin:auto;">
			<table style="width: 100%;" cellpadding="0" cellspacing="0">
				<tr>
					<td>
					</td>
				</tr>
				<tr>
					<td style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:0px 18px;">
						<h3 style="line-height: 1.1; font-weight: 500; font-size: 22px;">
						Aloha %%Firstname%%,</h3>
						<p>A very warm welcome to SpinandWin.com - grab your massive Welcome Offer today, and let the good times roll!</p><br>
						<table width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td valign="top" bgcolor="#f9f8f6" style="width:35%; padding: 5px;" rowspan="2">
									<a href="http://www.kittybingo.com"><img style="max-width: 100%;" alt="Share the love" src="https://www.spinandwin.com/_global-library/_upload-images/games/list-icons-224/wired-birds-slots-game.jpg" border="0"></a>
								</td>
								<td valign="bottom" bgcolor="#f9f8f6" align="left" style="color: #5b5b5b; font-size: 20px; line-height: 18px; text-align: left; font-weight: bold; font-family: 'Helvetica', Helvetica, Arial, sans-serif; padding: 10px 5px 5px;">Share the love!
								</td>
							</tr>
							<tr>
								<td valign="middle" bgcolor="#f9f8f6" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; font-weight: normal; font-size: 14px; line-height: 1.6;  padding: 0 5px 5px 5px;">
									Bingo on #14 between 5 and 9pm any day in February and not only will you collect an extra &pound;5 BBs for yourself, but you'll also claim &pound;2 BBs for a friend!
								</td>
							</tr>
						</table><br>
						<table width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td valign="bottom" bgcolor="#f5f3ec" align="left" style="color: #5b5b5b; font-size: 20px; line-height: 18px; text-align: left; font-weight: bold; font-family: 'Helvetica', Helvetica, Arial, sans-serif; padding: 10px 0 0px 10px;">Cupid's Cash Splash</td>
								<td valign="top" bgcolor="#f5f3ec" style="padding: 5px; width:35%;" rowspan="2">
									<a href="http://www.kittybingo.com"><img style="max-width: 100%;" alt="Cupid's Cash Splash" src="https://www.spinandwin.com/_global-library/_upload-images/games/list-icons-224/energoonz-slots-game.jpg" border="0"></a>
								</td>
							</tr>
							<tr>
								<td valign="middle" bgcolor="#f5f3ec" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; font-weight: normal; font-size: 14px; line-height: 1.6; padding: 0 0 5px 10px;">
									In the week building up to Valentine's Day we'll be running a special team tournament where you can help spin your team to victory on the slots and claim the top &pound;1,000 cash prize for your team!
								</td>
							</tr>
						</table><br>
						
						<table width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td valign="top" bgcolor="#f9f8f6" style="width:35%; padding: 5px;" rowspan="2">
									<a href="http://www.kittybingo.com"><img style="max-width: 100%;" alt="Share the love" src="https://www.spinandwin.com/_global-library/_upload-images/games/list-icons-224/wired-birds-slots-game.jpg" border="0"></a>
								</td>
								<td valign="bottom" bgcolor="#f9f8f6" align="left" style="color: #5b5b5b; font-size: 20px; line-height: 18px; text-align: left; font-weight: bold; font-family: 'Helvetica', Helvetica, Arial, sans-serif; padding: 10px 5px 5px;">Share the love!
								</td>
							</tr>
							<tr>
								<td valign="middle" bgcolor="#f9f8f6" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; font-weight: normal; font-size: 14px; line-height: 1.6;  padding: 0 5px 5px 5px;">
									Bingo on #14 between 5 and 9pm any day in February and not only will you collect an extra &pound;5 BBs for yourself, but you'll also claim &pound;2 BBs for a friend!
								</td>
							</tr>
						</table><br>
						<table width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td valign="bottom" bgcolor="#f5f3ec" align="left" style="color: #5b5b5b; font-size: 20px; line-height: 18px; text-align: left; font-weight: bold; font-family: 'Helvetica', Helvetica, Arial, sans-serif; padding: 10px 0 0px 10px;">Cupid's Cash Splash</td>
								<td valign="top" bgcolor="#f5f3ec" style="padding: 5px; width:35%;" rowspan="2">
									<a href="http://www.kittybingo.com"><img style="max-width: 100%;" alt="Cupid's Cash Splash" src="https://www.spinandwin.com/_global-library/_upload-images/games/list-icons-224/energoonz-slots-game.jpg" border="0"></a>
								</td>
							</tr>
							<tr>
								<td valign="middle" bgcolor="#f5f3ec" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; font-weight: normal; font-size: 14px; line-height: 1.6; padding: 0 0 5px 10px;">
									In the week building up to Valentine's Day we'll be running a special team tournament where you can help spin your team to victory on the slots and claim the top &pound;1,000 cash prize for your team!
								</td>
							</tr>
						</table><br>
						<p align="center" style="margin-top:30px;"><a href="http://www.kittybingo.com/promotions/><img src="http://mailers.communicatormail.com/kittybingo/images/templates/button-msg-claim.png" alt="Claim now!" width="240" height="50" border="0" style="max-width: 100%;" /></a></p><br>
					</td>
				</tr>
			</table>
		</td>
		<td>&nbsp;</td>
	</tr>
</table>
<!-- /BODY -->