<!--[if mso]>
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
<tr>
<td>
<![endif]-->

<!-- BODY -->
<table style="width: 100%; margin-bottom:2px;" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td bgcolor="#f5f3ec" style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:20px;">
      <h3 style="font-size: 20px;l ine-height: 1.1;font-weight: 500;">
      Hi %%Firstname%%,</h3>
      <p>We are following up on your recent request regarding your password, which you submitted via the Forgot Password link on Spin and Win.</p><br>
      <p align="left" style="margin-bottom:1.5em !important;">Thanks for letting us know, we&rsquo;ve reset it to the following:</p>
      
      Username: <strong>%%Alias%%</strong><br />
      Password: <strong>%%Password%%</strong><br /><br />
      <p align="left" style="margin-bottom:1.5em !important;">Login in now to get back to the games - you can change your password for something more memorable in Personal Details tab once you&rsquo;re back in the swing of things!</p>
      <p align="left" style="margin-bottom:1.5em !important;">Just remember to make a note of your new login details somewhere safe before you really let your hair down, and we&rsquo;ll see you there!</p>
      <p>Once you have retrieved your password we recommend you make a note of your login details and be sure to keep them safe.</p><br>
      <p>Should you require any additional help, feel free to contact our friendly Support Team.</p><br>
      <p>Kind Regards,</p>
      <p><strong>The Spin and Win Team</strong></p>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
<!-- /BODY -->