<!-- BODY -->
<table style="width: 100%; margin-bottom:2px;" cellpadding="0" cellspacing="0">
<tr>
<td>&nbsp;</td>
<td bgcolor="#f5f3ec" style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; display: block; max-width: 600px; margin:auto;">
<table style="width: 100%;" cellpadding="0" cellspacing="0">
<tr>
<td>
<img src="http://mailers.communicatormail.com/spinandwin/images/2nd-3rd-deposit-mailer.jpg" style="max-width: 100%;" />
</td>
</tr>
<tr>
<td style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:0px 18px;"> <br>
	<p style="font-size: 17px; line-height: 1.6; text-align: center;"><strong> Congratulations on your 1st deposit </strong></p>
	<p style="font-size: 17px; line-height: 1.6;">Hi %%Firstname%%,</p>
	<p>We wanted to confirm that you have successfully made your first deposit.</p>
	<p style="margin-bottom: 28px;">The offers don’t stop here!</p>
	<p style="font-size: 17px; line-height: 1.6;"><strong>Don't forget to claim your other welcome offers!</strong></p>

	<p>2nd Deposit & 3rd Deposit Offer: 50% Bonus up to &pound;250!</p>
	<p>Be sure to select your offer in the cashier when you deposit &pound;20 or more. </p>
	<br>

<p align="center" style="margin-top:20px; margin-bottom:0; padding-bottom: 40px;">
<a style="text-align: center; text-decoration: none; border-radius: 2px; color: #fff; display: block; font-size: 25px; font-weight: bold; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); width: 250px; font-family: 'Helvetica', Arial, sans-serif; background-color: #fc6901; margin: 0; padding: 13px;" href="http://www.spinandwin.com">CLAIM MY BONUS</a>
</p>

</td>
</tr>
</table>

</td>
<td>&nbsp;</td>
</tr>

</table>
<!-- /BODY -->