<!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
            <![endif]-->
<!-- BODY -->
<table style="width: 100%; margin-bottom:2px;" cellpadding="0" cellspacing="0">
    <tr>
        <td>&nbsp;</td>
        <td bgcolor="#f5f3ec" style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; display: block; max-width: 600px; margin:auto;">
            <table style="width: 100%;" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:0px 18px;">

                        <p>Welcome %%Firstname%%,<br>Username: %%Alias%%</p>
                       <!--  <h3 style="line-height: 1.1; font-weight: 600; font-size: 22px; text-align: center; color:red;">Claim a blood-curdling welcome bonus!</h3> -->
                        <!-- <p style="text-align:center;"> <strong>“Are you ready to ROCK?!”</strong> </p> -->
                        <p>A paradise of tropical flowers and fluttering butterflies is waiting to be discovered at Spin and Win! Spin your way to floating jackpots on this mesmerising slot with our unmissable Welcome offer! >>></p>
                        <img src="http://mailers.communicatormail.com/spinandwin/images/butterfly-staxx-welcome-mailer.jpg" style="max-width: 100%;" />
                        <p><strong>How to claim:</strong></p>
                        <ul>
                            <li>Select '100% Welcome bonus' in the cashier when you make your first deposit</li>
                            <li>Your bonus will show in your account right away, use it to play hundreds of games!</li>
                        </ul>
                        <p style="text-align:center; font-size:16px;"><strong>PLUS, you'll also receive one wheel spin to claim up to 100 FREE SPINS</strong> to play on slots like Butterfly Staxx, Twin Spin, Berryburst Max, Gonzo's Quest, Starburst and more!</p>

                        <p>Stack up some wins and claim your Welcome Package today!</p>

                        <br>
                        <p align="center" style="margin-top:20px; margin-bottom:0; padding-bottom: 40px;">
                            <a style="text-align: center; text-decoration: none; border-radius: 2px; color: #fff; display: block; font-size: 25px; font-weight: bold; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); width: 250px; font-family: 'Helvetica', Arial, sans-serif; background-color: #fc6901; margin: 0; padding: 13px;" href="https://www.spinandwin.com/login/?aid=1093&cid=8737&tid=1 ">CLAIM MY BONUS</a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
<!-- /BODY -->
