

		<!-- BODY -->
		<table style="width: 100%;" cellpadding="0" cellspacing="0">
			<tr>
				
				<td bgcolor="#ffffff" style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; display: block; max-width: 600px; margin:auto;">
                <table style="width: 100%;" cellpadding="0" cellspacing="0">
					<table style="width: 100%;" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<a href="https://www.spinandwin.com/login/"><img src="http://mailers.communicatormail.com/spinandwin/mailer/exclusive-bonus-600x150.jpg" style="max-width: 100%;" /></a>
							</td>
						</tr>
						<tr>
							<td style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:0px 20px;">
								<p style="color: #494949; font-weight: normal; font-size: 17px; line-height: 20px;">Hi %%Firstname%%,</p>
								<p style="color: #494949; font-weight: normal; font-size: 13px; line-height: 20px;"><strong>Username</strong>: %%Username%%,</p>
                                <p>It was a pleasure speaking to you. This email is a confirmation of the incredible offer we talked about:</p>
								<p style="color: #494949; font-weight: normal; font-size: 15px; line-height: 20px;"><strong>You have £10 FREE and a 150% bonus match up to £300!</strong></p>								
								<p>Access your account now and enjoy your free bonus. As for the phenomenal match up, simply <strong>select it in the cashier on your next deposit</strong>.</p>
								<p>This offer expires next Tuesday, so don't wait too long - Claim it today!</p>
								<p>The Spin and Win Team<p>
							</td>
						</tr>
					</table>

					<p align="center" style="margin-top:20px; margin-bottom:0; padding-bottom: 40px;">
						<a style="text-align: center; text-decoration: none; border-radius: 2px; color: #fff; display: block; font-size: 25px; font-weight: bold; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); width: 250px; font-family: 'Helvetica', Arial, sans-serif; background-color: #fc6901; margin: 0; padding: 13px;" href="http://www.spinandwin.com/login">PLAY NOW</a>
					</p>

				</td>
				
			</tr>

		</table>
		<!-- /BODY -->

