<!-- BODY -->
<table style="width: 100%; margin-bottom:2px;" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td bgcolor="#f5f3ec" style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:20px;">
      <h3 style="font-size: 20px;l ine-height: 1.1;font-weight: 500;">
      Hi %%Firstname%%,</h3>
      <p>Your Account is temporarily locked due to ten consecutive failed log-in attempts.
      </p><br />
      <p>In order to re-activate your account please click on the link below:
      </p><br />
      <a href="https://www.spinandwin.com/contactus">https://www.spinandwin.com/support/</a><br>
      <p> If you have forgotten your password, please use the forgotten login link on the homepage, or contact our friendly support team for assistance.</p><br>
      <p>Kind Regards,</p>
      <p><strong>The Spin and Win Team</strong></p>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
<!-- /BODY -->