<!-- BODY -->
<table style="width: 100%; margin-bottom:2px;" cellpadding="0" cellspacing="0">
<tr>
<td>&nbsp;</td>
<td bgcolor="#f5f3ec" style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; display: block; max-width: 600px; margin:auto;">
<table style="width: 100%;" cellpadding="0" cellspacing="0">
<tr>
<td>
<img src="%%URL%%/mailers/images/vip-bronze-600x300.jpg" style="max-width: 100%;" />
</td>
</tr>
<tr>
<td style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:0px 18px;">

<h3 style="line-height: 1.1; font-weight: 500; font-size: 22px;">
Hi %%Firstname%%,</h3>

<p>Congratulations on becoming an<strong> BRONZE VIP</strong> member at SpinAndWin!</p><br>

<p>We hope you enjoy your time with us, and remember that we have loads of <a href="https://www.spinandwin.com/games/">games</a> and <a href="https://www.spinandwin.com/promotions/">promotions</a> running all the time – all you need to do is spin to win!</p><br />

<p>For more information on your Loyalty Club upgrade please visit our <a href="https://www.spinandwin.com/vip/">Loyalty page</a>.</p><br>

</td>
</tr>
</table>

</td>
<td>&nbsp;</td>
</tr>

</table>
<!-- /BODY -->