<!-- BODY -->
<table style="width: 100%; margin-bottom:2px;" cellpadding="0" cellspacing="0">
<tr>
<td>&nbsp;</td>
<td bgcolor="#f5f3ec" style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; display: block; max-width: 600px; margin:auto;">
<table style="width: 100%;" cellpadding="0" cellspacing="0">
<tr>
<td>
<img src="%%URL%%/mailers/images/vip-diamond-600x300.jpg" style="max-width: 100%;" />
</td>
</tr>
<tr>
<td style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:0px 18px;">

<h3 style="line-height: 1.1; font-weight: 500; font-size: 22px;">
Hi %%Firstname%%,</h3>

<p>Your Spin and Win account has been upgraded to our most prestigious Elite Diamond VIP level!</p><br />
<p>Log in to claim your mystery upgrade bonus now!</p><br />
<p>We have now increased your <a href="https://www.spinandwin.com/promotions/exclusive-daily-cashback/">daily cashback bonus</a> to 15%.</p>
<p style="margin-bottom: 0;">&nbsp;</p>
<p style="margin-top: 0; margin-bottom: 0;">Click <a href="https://www.spinandwin.com/slots/new/">here</a> to play all our latest NOW let the good times roll!</p><br>

<p>Best of luck,</p><br>

<p><strong>The Spin and Win VIP Team</strong></p>
<p><a href="mailto:email:vip@spinandwin.com">vip@spinandwin.com</a></p>


</td></tr></table>

</td><td>&nbsp;</td></tr>

</table>
<!-- /BODY -->