    <!-- BODY -->
    <table style="width: 100%; margin-bottom:2px;" cellpadding="0" cellspacing="0">
      <tr>
        <td>&nbsp;</td>
        <td bgcolor="#f5f3ec" style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:20px;">

<h3 style="font-size: 20px;l ine-height: 1.1;font-weight: 500;">
          Hi %%Firstname%%,</h3>

<p>Thank you for playing at Spin and Win and congratulations on your recent win!</p><br>

<p> We are pleased to inform you that your withdrawal of <strong>%%Amount%%</strong> is on its way.</p><br>

<p> We have processed funds via: <strong>%%Method%%</strong>*</p><br>

<p>Enjoy your winnings and see you soon!</p><br>

<p>Kind Regards,</p>
<p><strong>The Spin and Win Team</strong></p><br>

<p style="font-size:11px;">*Your payment will take up to the following estimated times to reach you.
                    
                    Credit and Debit Cards: 4-7 Business Days
                    
                    Wire Transfers: 4-7 Business Days
                    
                    Cheques: 5-6 Business Days
                    
                    Neteller Payments: 1-2 Business Days
                    
                    Cheques: Europe: 10-15 Business Days &amp; Rest of the World: 21-28 Days</p>

        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <!-- /BODY -->
