.progressive-jackpots__wrapper {
    width: 100%;
    position: relative;
    max-height: 350px;
    overflow: hidden;

    img.hub-shape-holder {
        // fix for stopping scale issue by using an html image element
        top: 0px;
        left: 0px;
        position: absolute;
        z-index: -1;
    }

    .progressive-jackpots {
        position: relative;

        .progressive-jackpots__title {
            h1 {
                height: 25px;
                text-align: center;
                background-color: $main-highlight-color;
                background-image: none;
                color: $white;
                font-family: $body-font-bold;
                font-size: 14px;
                margin-top: 0px;
                padding: 3px;
                padding-left: 7px;
                text-transform: uppercase !important;
                margin-bottom: 0px;
            }
        }

        .bx-viewport {
            min-height: 350px;
            overflow: hidden;
        }

        .progressive-jackpots__progressive {
            height: 100%;

            @include clearfix;

            height: auto;
            background-color: #fff;
            background-image: linear-gradient(0deg, #E5E6F9 8%, #E0D8FA 100%);
            padding: $site-margin / 2;
            margin-bottom: 6px;
            border-radius: 8px;
            border-bottom: 3px darken(#E0D8FA, 4%) solid;

            .progressive-jackpots__progressive__icon {
                cursor: pointer;

                img {
                    border-radius: 5px;
                }
            }

            .progressive-jackpots__progressive__title {
                text-align: center;
                line-height: 100%;
                height: 25%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-left: 5px;

                > span {
                    //text style
                    font-family: $body-font-bold;
                    height: 100%;
                    font-size: 100%;

                    > a {
                        color: #5b5b5b;
                    }
                }
            }

            .progressive-jackpots__progressive__amount {
                text-align: center;
                height: 54px;

                > span {
                    //text style
                    font-family: $body-font-bold;
                    font-size: 150%;
                    line-height: 50px;
                    padding: 4px;
                    padding-left: 8px;
                    padding-right: 8px;
                    background-color: rgba(255, 255, 255, 0.3);
                    border-radius: 4px;

                    > a {
                        color: $white;
                    }
                }
            }

            .progressive-jackpots__progressive__cta {
                cursor: pointer;
                text-align: center;
                height: 25%;

                > span {
                    height: 100%;
                    font-family: $button-font;
                    font-size: 14px;
                    margin-top: 3px;
                    text-transform: uppercase;
                    padding: 1px;
                    padding-left: 6px;
                    padding-right: 6px;
                    color: $white;
                    text-align: center;
                    background-image: linear-gradient(-180deg, #FF8FD7 0%, #FF7BD0 46%, #FF00AA 100%);
                    box-shadow: 0px 1px 1px 1px #C70064, inset 0px 1px 0px 0px #FFC5EA;
                    border-radius: 1px;
                    padding-top: 4px;

                    &:hover {
                        background-image: linear-gradient(-180deg, darken(#FF8FD7, 3%) 0%, darken(#FF7BD0, 3%) 46%, darken(#FF00AA, 3%) 100%);
                    }

                    > a {
                        color: $white;
                    }
                }
            }
        }
    }
}

//banner in the right sidebar
.two-columns-content-wrap__right {
    .banner {
        margin-bottom: $site-margin;
    }

    article {
        margin-bottom: $site-margin;
    }
}

// adjust widths for sidebar version of widget only use this below for colum widths no other styles
.progressive-jackpots__progressive {
    @media #{$small-only} {
        @include grid-column(12, $collapse: true);

        /* Portrait small phone make 1 per line */
        @media only screen and (min-device-width: 100px) and (max-device-width: 380px) and (orientation: portrait) {
            @include grid-column(12, $collapse: true);
        }
    }

    .progressive-jackpots__progressive__icon {
        @include grid-column(5, $collapse: true);
    }

    .progressive-jackpots__progressive__title {
        @include grid-column(7, $collapse: true);

        span {
            @include grid-column(12, $collapse: true, $center: true);
        }
    }

    .progressive-jackpots__progressive__amount {
        @include grid-column(7, $collapse: true);

        span {
            @include grid-column(12, $collapse: true, $center: true);
        }
    }

    .progressive-jackpots__progressive__cta {
        @include grid-column(7, $collapse: true, $float: right);

        span {
            //button style
            @include grid-column(3, $collapse: true, $center: true);
        }
    }
}