.youtube-video-banner {
    @include grid-column(12);
    .youtube-video-banner__video-inner-wrap {
        @include grid-column(12);
        text-align: center;
        position: relative;
        margin: 20px auto;
        margin-top: 1%;
        .youtube-video-banner__video-inner-wrap__img {
            @include grid-column(12, $collapse: true);
        }
        .youtube-video-banner__video-inner-wrap__video {
            position: absolute;
            z-index: 1;
            left: 10%;
            margin-left: -10px;
            margin-top: 5%;
            width: 73%;
            height: 80%;
        }
    }
}