.vip-level__progress-bar-outer {
    @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);
    background-color: #D8D8D8;
    width: 100%;
    .vip-level__progress-bar-inner {
        @media #{$small-up} {
            height: 8px;
        }
        @media #{$medium-up} {
            height: 15px;
        }
        @media #{$large-up} {
            height: 25px;
        }
        /* Rectangle 6V 2: */
        &.bronze {
            background-image: linear-gradient(-180deg, #845402 40%, #ffbf41 98%);
        }
        &.silver {
            background-image: linear-gradient(-180deg, #546464 40%, #b8c8c8 98%);
        }
        &.gold {
            background-image: linear-gradient(-180deg, #766307 40%, #ebcd3b 98%);
        }
        &.ruby {
            background-image: linear-gradient(-180deg, #e0175b 40%, #ff679c 98%);
        }
        &.emerald {
            background-image: linear-gradient(-180deg, #148938 40%, #76e99b 98%);
        }
        &.elite {
            background-image: linear-gradient(-180deg, #62517d 40%, #cbbae7 98%);
        }
    }
}

.vip-level__current {
    @include foundation-breaks($scols: 6, $scollapse: true, $sfloat: left, $mcols: 6, $mcollapse: true, $mfloat: left, $lcols: 6, $lcollapse: true, $lfloat: left);
    font-family: $ui-font-regular;
    font-size: 13px;
    color: #5B5B5B;
    & span {
        font-family: $ui-font-bold;
        @media #{$medium-only} {
            display: block;
            line-height: 2px;
        }
    }
}

.vip-level__next {
    @include foundation-breaks($scols: 6, $scollapse: true, $sfloat: left, $mcols: 6, $mcollapse: true, $mfloat: left, $lcols: 6, $lcollapse: true, $lfloat: left);
    text-align: right;
    font-family: $ui-font-regular;
    font-size: 13px;
    color: #5B5B5B;
    & span {
        font-family: $ui-font-bold;
        @media #{$medium-only} {
            display: block;
            line-height: 2px;
        }
    }
}

