.lobby-play-button {
    @extend .show-for-small;
    @include foundation-breaks($scols: 6, $scollapse: true, $sfloat: left, $mcols: 6, $mcollapse: false, $mfloat: true, $lcols: 6, $lcollapse: true, $lfloat: left);
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    a {
        color: $luckyvip--darknavy;
    }
    background-color: $luckyvip--supernova;
    height: 57px;
    line-height: 57px;
    font-family: $ui-font-bold;
    font-size: 20px;
    text-align: center;
    color: $luckyvip--darknavy;
    letter-spacing: 1px;
    margin-bottom: $site-margin;
    &:hover {
        background-color: $luckyvip--mercury;
    }
}

.small-play-wrap > div > a,
.small-deposit-wrap > div > a {
    color: $luckyvip--darknavy;
}
