.lobby-claim-cashback {
   /* @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 12, $mcollapse: false, $mfloat: left, $lcols: 12, $lcollapse: false, $lfloat: left); */

    float: left;
    clear: both;
    background-color: #142B48;
    border: 1px solid #142B48;
    padding: $site-margin;
    margin-bottom: $site-margin;
    width:100%;
    
    &.alert-box.secondary {
        @include grid-column(12);

        position: relative;
        border: none;
        background: #142B48 !important;
        margin-bottom: 15px;
        padding-top: 0;
        padding-bottom: 0;
        padding-top: 0.9375rem;

        .close {
            float: right;
            display: block !important;
            background: url(../_images/common/icons/welcome-close.svg) no-repeat right 0.875rem center;
            background-size: 12px !important;
        }

        h1 {
            font-family: $ui-font-bold;
            font-size: 16px;
            color: #FFFFFF;
            text-align: center;
            margin-bottom: 20px;
            text-transform: uppercase;
            margin-top: 15px;

            @media #{$small-only} {

            }
        }

        p {
            font-family: $ui-font-bold;
            font-size: 16px;
            color: #FFFFFF;
            text-align: center;
            line-height: 16px;
        }
    }

    .upgrade-info {
        text-align: center;
        margin-bottom: 10px;
        float: right;

        a {
            color: white;
            font-size: 80%;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .upgrade-expiry {
        text-align: center;
    }

    .upgrade-text {
        margin-top: 40px;
        text-align: center;
    }

    .lobby-claim-cashback-button {
        @include grid-column(12, $center: true);
        background-color: #4CAEF8;
        border-radius: 4px;
        border: 1px solid #181F32;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        margin: 0 auto;

        a {
            color: $white;
        }

        border-radius: 4px;
        height: 57px;
        line-height: 57px;
        font-family: $ui-font-bold;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
        letter-spacing: 1px;
        text-shadow: 0px 2px 0px #312741;
    }

    &.alert-box .close {
        top: 0.57em;
        right: 0;
    }
}

.mobile-cashback {
    @extend .show-for-small-only;

    .lobby-claim-cashback {

        &.alert-box.secondary {
            @include grid-column(12);

            position: relative;
            border: none;
            background: #142B48 !important;

            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-top: 0.9375rem;

            .close {
                float: right;
                display: block !important;
                background: url(../_images/common/icons/welcome-close.svg) no-repeat right 0.875rem center;
                background-size: 12px !important;
            }

            p {
                @include grid-column(12);
                color: #FFFFFF;
            }

            h1 {
                @include grid-column(12);

                display: block !important;
                line-height: 1 !important;
                margin-top: 15px !important;
                color: #FFFFFF;
            }
        }
    }

    .alert-box .close {
        right: 0.1rem;
    }


}