.welcome-area {
    .welcome-area__top {
        height: 100px;
        .welcome-area__top__left {
            @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 7, $mcollapse: false, $mfloat: left, $lcols: 7, $lcollapse: false, $lfloat: left);
            @media #{$small-only} {
                @include grid-column(12, $float: left);
            }
            @media #{$medium-up} {
                @include grid-column(7, $float: left, $pull: 5);
            }
            padding-top: $site-margin;
            padding-bottom: $site-margin;
            height: auto;
            .welcome-intro {
                font-family: $body-font-medium;
                font-size: 13px;
                color: $white;
                line-height: 16px;
            }
        }
        .welcome-area__top__right {
            @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 5, $mcollapse: false, $mfloat: left, $lcols: 5, $lcollapse: false, $lfloat: left);
            @media #{$small-only} {
                @include grid-column(12, $float: left);
            }
            @media #{$medium-up} {
                @include grid-column(5, $float: left, $push: 7);
            }
            padding-top: $site-margin;
            padding-bottom: $site-margin;
            .vip-level {}
            .welcome-area__bottom {
                .welcome-banner {
                    @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);
                }
            }
        }
    }
    .editor-buttons {
        .f-dropdown {
            z-index: 9999999999;
        }
    }
}
