.lobby-deposit-button {
    @extend .hide-for-small;
    @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: false, $mfloat: true, $lcols: 12, $lcollapse: true, $lfloat: left);
    margin-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    margin-bottom: $site-margin;
    a {
        color: $white;
    }
    /* Button Background: */
    background: #009E00;
    height: 57px;
    line-height: 57px;
    font-family: $ui-font-bold;
    font-size: 23px;
    text-align: center;
    color: $white;
    letter-spacing: 1px;
    margin-bottom: $site-margin;
    &:hover {
        background-color: $luckyvip--mercury;
    }
}

.lobby-wrap__content-box__content {
    .small-deposit-wrap {
        padding-right: 0 !important;
        .lobby-deposit-button {
            @extend .show-for-small;
            @include foundation-breaks($scols: 6, $scollapse: true, $sfloat: left, $mcols: 6, $mcollapse: false, $mfloat: true, $lcols: 6, $lcollapse: true, $lfloat: left);
        }
    }
}
