.my-promotions {
    .my-promotions__promotion {
        @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 6, $mcollapse: false, $mfloat: left, $lcols: 4, $lcollapse: false, $lfloat: left);
    }
}

.lobby-wrap__left .my-promotions__promotion,
.lobby-wrap__left .promotion-eng {
    @media #{$small-only} {
        padding: 0 !important;
    }
    @media #{$medium-only} {
        padding: 0.1em !important;
    }
}

.lobby-wrap__content-box__content {
    &.my-promotions {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
}
