.breadcrumbs {
    @extend .hide-for-small;
    @extend .hide-for-medium;
    height: 30px;
    position: relative;
    max-width: 1000px !important;
    background-color: transparent;
    border: none !important;
    @media #{$medium-up} {
        @include grid-row;
        padding-right: $site-margin;
        padding-left: $site-margin;
        // margin-bottom: $site-margin;
        padding-top: 0.75em;
        padding-bottom: 0.25em;
        @include border-radius(0px);
        a {
            color: #6f6e6e;
        }
        > li:first-child {
            a {
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
                background: url("../_images/common/homeicon.svg");
                width: 14px;
                display: block;
            }
        }
        li {
            display: block;
        }
    }
}

.breadcrumbs__row {
    width: 100%;
    max-width: 1000px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    z-index: 9;
    background: #ECEBE4;
    height: 33px;
    margin: auto;
    @media #{$small-only} {
        display: none;
    }
    @media #{$medium-only} {
        display: none;
    }
}

.breadcrumbs {
    > li:not(:first-child):before {
        width: 0;
        height: 0;
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
        border-left: 4px solid #7a7a7a;
        font-size: 0;
        line-height: 0;
        // margin: 0 0.35rem;
        position: relative;
        display: table-cell;
        float: left;
    }
}

