.nav-for-mobile {
    @extend .show-for-medium-down;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    height: initial;
    .small--balances {
        font-size: 12px;
        color: $white;
        display: block;
        text-align: center;
        height: 32px;
        width: 45px;
        float: left;
        margin-left: 0.5em;
        line-height: 30px;
        margin-top: 8px;
        padding-top: 2px;
        background-color: $main-highlight-color;
        @include border-radius(3px);
        &:hover {
            background-color: $main-highlight-color;
        }
        .icons__balance-white {
            background-size: 85%;
            background-position: center;
        }
    }
    .small--balances-amount {
        font-size: 18px;
        color: #2A1F1F;
        display: block;
        text-align: center;
        height: 30px;
        width: 60px;
        float: left;
        margin-left: 1em;
        line-height: 30px;
        margin-top: 7px;
    }
    .games-filter-menu {
        position: absolute;
        z-index: 999;
        top: 0px;
        right: 50px;
        background-color: transparent;
        box-shadow: none;
    }
    .games-filter-menu__popover {
        left: -150px;
        top: 50px;
    }
}

.tab-bar .menu-icon {}

.tab-bar .menu-icon span::after {
    content: "";
    position: absolute;
    display: block;
    height: 0;
    top: 50%;
    margin-top: -0.5rem;
    left: 0.90625rem;
    box-shadow: 0 0px 0 2px $main-highlight-color, 0 7px 0 2px $main-highlight-color, 0 14px 0 2px $main-highlight-color;
    width: 1rem;
}

//.games-menu {
//  position: fixed;
//  z-index: 989;
//  top: 45px;
//  left: 0;
//  width: 100%;
//}

.games-menu__games-nav {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    float: left;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 4px;
    background-color: white;
}

.login-button--nav-for-mobile {
    float: left;
    margin-left: 14px;
    margin-top: 10px;
}

//Nav for mobile
.nav-mobile-right {
    float: left; 
    width: 90px; 
    margin-top: 4px;

    .dice-icon {
        float: left;
        padding-left: 8px;
        margin-top: 2px;
            .bouncing-dice {
                width: 28px;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-name: bounce;
                animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
                        
                 @keyframes bounce {
                    0%   { transform: scale(1,1)      translateY(0); }
                    10%  { transform: scale(1.1,.9)   translateY(0); }
                    30%  { transform: scale(.9,1.1)   translateY(-9px); }
                    50%  { transform: scale(1.05,.95) translateY(0); }
                    57%  { transform: scale(1,1)      translateY(-7px); }
                    64%  { transform: scale(1,1)      translateY(0); }
                    100% { transform: scale(1,1)      translateY(0); }
                }
            }

            svg {
                position: absolute;
                width: 100px;
                height: 130px;
                bottom: 20%;
                left: 34px;
                
            .st1 {
                transform: translate(47px, 20px);
                animation-name: blink;
                animation-duration: 2s; 
                animation-timing-function: ease-out; 
                animation-delay: 0s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-fill-mode: none;
                animation-play-state: running; 
            }

            .st2 {
                transform: translate(18px, 15px);
                animation-name: blink;
                animation-duration: 2s; 
                animation-timing-function: ease-out; 
                animation-delay: 0.5s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-fill-mode: none;
                animation-play-state: running; 
            }

            .st3{
                transform: translate(24px, -10px);
                animation-name: blink;
                animation-duration: 2s; 
                animation-timing-function: ease-out; 
                animation-delay: 1s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-fill-mode: none;
                animation-play-state: running; 
            }


            @keyframes blink {
                0% {
                    opacity: 0;
                    fill: #EF4509;
                }
                50%{
                  opacity: 1;
                  fill: #EF4509;
                }
                70% {
                    opacity: 0;
                    fill: #EF4509;
                }
                100% {
                    opacity: 0;
                    fill: #EF4509;
                }
            }
        }
    }
}
