.header {
	position: fixed;
	top: 0;
	background: #F5F7FC;
	width: 100%;
	max-width: 100%;
	z-index: 3;
	height: initial;
	.image-replacement {
		  .cookie-policy-active > & {
			  margin-top: calc(64px - 99px);
		  }
	}
}

.inner-header {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	@extend .clearfix;
}

#join-now {
	.header {
		z-index: 99999;
	}
}

.tooltip-info {
	position: relative;
	display: inline-block;
	background: transparent;
  }
  
  //Tooltip box styling
  .tooltip-info .tooltip-content {
	visibility: hidden;
	width: 68px;
	height: 30px;
	line-height: 30px;
	top: 100%;
	left: 50%;
	margin-left: -38px;
	background-color: black;
	color: #fff;
	text-align: center;
	font-size: 13px;
	margin-top:10px;
  
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
  }
  
// Adding an arrow to the top of the box.
.tooltip-info .tooltip-content:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(18, 18, 18, 0);
	border-bottom-color: #121212;
	border-width: 5px;
	margin-left: -5px;
}
  //Make it visible when hover 
  .tooltip-info:hover .tooltip-content {
	visibility: visible;
  }


