.second-nav {
    @include grid-column(12);
    width: 100%;
    font-size: 1rem;
    padding-left: 0px;
    padding-right: 0px;
    height: 35px;
    background-color: green;
    > ul {
        width: 100%;
        display: inline;
        list-style: none;
        font-size: 1em;
        float: left;
        height: 35px;
        > li {
            padding: 0px;
            text-align: left;
            margin-left: 1em;
            float: left;
            line-height: 35px;
            vertical-align: 35px;
            > a {

                font-size: 0.9em;
                color: $black;
                &:hover {
                    border-bottom: 1px $brand-color solid;
                }
            }
             a.current{
           border-bottom: 1px $brand-color solid; 
        }
        }
        div {
            width: 100%;
            padding: 0px;
        }
    }
}

