.secondary-nav {
    font-size: 0.9rem;
    padding-top: 13px;
    > ul {
        @include list-inline;
        text-align: center;
        margin-left: 10px;
        li {
            text-align: center;
            padding-right: 1em;
            > a {
                color: $main-highlight-color;
                // text color
                font-family: $body-font-bold;
                font-size: 16px;
                font-weight: normal;
                &:hover {
                  color: darken($main-highlight-color,8%);
                }
                img {
                    margin-top: -6px;
                }
            }
            a.current {
            border-bottom: 1px $main-highlight-color solid;
            padding-bottom: 2px;
            }

            &.radical-dice {
                a { 
                    text-transform: uppercase;
                    &:hover {
                        color: #127772;
                    }

                    img {
                        width:22px;
                        margin-right:4px;

                        animation-duration: 4.5s;
                        animation-iteration-count: infinite;

                        &.bounce-dice {
                            animation-name: bounceDice;
                            animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
                        }

                         @keyframes bounceDice {
                            0%   { transform: scale(1,1)      translateY(0); }
                            10%  { transform: scale(1.1,.9)   translateY(0); }
                            30%  { transform: scale(.9,1.1)   translateY(-15px); }
                            50%  { transform: scale(1.05,.95) translateY(0); }
                            57%  { transform: scale(1,1)      translateY(-7px); }
                            64%  { transform: scale(1,1)      translateY(0); }
                            100% { transform: scale(1,1)      translateY(0); }
                        }
                    }
                }

                svg {
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    bottom: 23%;
                    margin-left: 67px;
                    .st1 {
                        transform: translate(29px, -59px);
                        animation-name: blink;
                        animation-duration: 2s; 
                        animation-timing-function: ease-out; 
                        animation-delay: 0s;
                        animation-direction: alternate;
                        animation-iteration-count: infinite;
                        animation-fill-mode: none;
                        animation-play-state: running; 
                    }

                    .st2 {
                        transform: translate(0px, -70px);
                        animation-name: blink;
                        animation-duration: 2s; 
                        animation-timing-function: ease-out; 
                        animation-delay: 0.5s;
                        animation-direction: alternate;
                        animation-iteration-count: infinite;
                        animation-fill-mode: none;
                        animation-play-state: running; 
                    }

                    .st3{
                        transform: translate(8px, -96px);
                        animation-name: blink;
                        animation-duration: 2s; 
                        animation-timing-function: ease-out; 
                        animation-delay: 1s;
                        animation-direction: alternate;
                        animation-iteration-count: infinite;
                        animation-fill-mode: none;
                        animation-play-state: running; 
                    }


                    @keyframes blink {
                        0% {
                            opacity: 0;
                            fill: #EF4509;
                        }
                        50%{
                          opacity: 1;
                          fill: #EF4509;
                        }
                        70% {
                            opacity: 0;
                            fill: #EF4509;
                        }
                        100% {
                            opacity: 0;
                            fill: #EF4509;
                        }
                    }
                }
            }

        }
    }
}