.user-nav {
    font-size: 0.9rem;
    @include list-inline;
    text-align: center;
    position: relative;
    overflow: visible;
    display: inline-block;
    width: 252px;
    height: 17px;
    
    > li {
        text-align: center;
        margin-left: 0.2em;
        line-height: 18px;
        float: right;
        > a {
            font-size: 9px;
            color: $main-highlight-color;
            font-family: helvetica,arial,sans-serif;
            margin-left: 10px;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            &:hover {
                color: darken(#8dcaf6, 60%);
                text-decoration: underline;
            }
        }
        a.current {
          
            
             text-decoration: underline;
        }
        // &.user-nav__balance{
        //     @include grid-column(6,$collapse:true);
        // }
   
    }
    .user-nav__list {
        font-size: 0.8em;
        @include list-inline;
        @include vert-align(26px);
        line-height: 15px;
        i, span {
            float: left;
        }
        span {
            padding: 0.2em;
        }
    }
    .balance {
        color: $white;
    }
    #logout-button {
        // position: absolute;
        // right: 0px;
        // margin-top: -40px;
        // z-index: 1000;
        // font-size: 0.7em;
        // a {
        //     color: #008CBA;
        // }
   
    }
}

.user-nav__balance {
    margin-right: 0px !important;
}