// gamenavigation scss
.games-navigation {
    @extend .hide-for-small;

    @extend .hide-for-medium;

    // z-index: 999 !important;

    @extend .show-for-large-up;

    background-color: #219989;

    @include background-image(linear-gradient(bottom, darken($main-highlight-color, 2%) 0%, lighten($main-highlight-color, 6%) 100%));

    background-repeat: repeat-x;
    max-width: 1000px;
    height: 50px;
    padding: 0em $site-margin 0em $site-margin;
    margin-top: -50px;

    @media #{$medium-only} {
        margin-top: -20px;
    }

    @media #{$small-only} {
        margin-top: -14px;
    }

    margin-bottom: 20px;
    border: none;

    @include box-shadow(1px 1px 1px 0px rgba(0, 0, 0, 0.16));

    left: 0;
    right: 0;
    position: absolute;

    &.sticky {
        z-index: 1000 !important;
        max-width: 1000px;
        width: 100%;
        position: fixed;
        top: 90px;
        margin-top: -30px;
        display: none !important;

        @media #{$medium-only} {
            top: 75px;
        }

        @media #{$small-only} {
            top: 75px;
        }
    }
}

.games-navigation__inner {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.games-navigation__left {
    @include grid-column($collapse: true, $columns: 8);

    position: relative;
}

.games-navigation_right {
    margin-top: 10px;
    margin-left: 162px;

    @include grid-column($collapse: true, $columns: 2, $float: left);
}

.social-icons-nav {
    float: left;
    margin-top: 12px;
    margin-left: 15px;
}

.game-nav-items {
    @extend .show-for-large-up;

    font-size: 0.9rem;

    @include list-inline;

    font-weight: normal;
    padding-left: 0;

    @include text-shadow(0 1px 1px #a1a1a1);

    > ul {
        @include list-inline;

        @include vert-align(50px);

        margin-left: 0;

        > li {
            padding-right: 0.505rem;

            > img {
                height: 48px;
            }
        }

        a {
            color: $white;
            font-family: $body-font-bold;
            font-size: 15px;

            @include text-shadow(0 1px 1px #287b70);

            // drop shadow
            &:hover {
                color: yellow;
            }
        }

        a.current {
            color: yellow;
        }
    }
}
