// New Mobile Menu Spin Skin April 2015 Author: Marcus Chadwick /*====================

.mobile-menu {
    /* skin specific non-critical appearance styles */
    font-size: 1.25rem;
    text-transform: uppercase;

    // needs to be same as slot categories hidden slide down panel background colour
    background-color: #5AB6AB;
    padding-top: 45px !important;
    z-index: 10 !important;
}

.mobile-menu-lists {
    /* cross skin critical sizing and position styles */
    overflow: scroll;
    height: 100%;
}

.mobile-menu-list {
    /* cross skin critical sizing and position styles */
    width: 100%;
    position: relative;
    height: 100%;
}

.mobile-menu-top-area {
    /* skin specific non-critical appearance styles */
    background-color: #c4d4e5;
    position: initial !important;

    @include background-image(linear-gradient(bottom, #c6c2b8 0%, #dfd9cf 100%));

    .search-input > input[type=text], .search-input {
        border: none;
        box-shadow: none;
        height: 41px;
        font-size: 20px;
        text-transform: uppercase;
    }
}

.mobile-menu-top-area__row {
    /* cross skin critical sizing and position styles */
    display: block;
    width: 100%;

    @include grid-row;

    height: 48px;
    margin-bottom: 5px;
}

.mobile-menu-top-area__join {
    a {
        /* skin specific non-critical appearance styles */
        @include border-radius(2px);

        background-color: #FC6901;
        font-family: $body-font-bold;
        font-size: 20px;
        font-weight: bold;
        color: $white;
    }
}

.mobile-menu-top-area__balance {
    /* cross skin critical sizing and position styles */
    @include grid-column(8, $collapse: true);

    .inner {
        height: 42px;
        line-height: 42px;

        @include background-clip(padding-box);

        margin-right: 10px;

        span {
            font-family: $body-font-bold;
            font-size: 20px;
        }
    }
}

.mobile-menu-top-area__vip-level {
    .inner {
        /* skin specific non-critical appearance styles */
        background-color: #efede7;

        @include border-radius(2px);

        //font style
        color: $main-highlight-color;
        font-family: $body-font-demi;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: $main-highlight-color;
    }
}

.mobile-menu-item {
    /* skin specific non-critical appearance styles */
    //font styles
    color: $main-highlight-color;
    font-family: $body-font-bold;
    font-size: 20px;

    @include text-shadow(1px 1px 0 rgba(255, 255, 255, 0.6));

    //bar styles
    border-top: 1px solid #f3eee4;
    border-bottom: 1px solid #c2bdb4;
    background-color: #e3dfd5;
    transition: 500ms;

    @include background-image(linear-gradient(bottom, #e4dfd5 0%, #dfdad0 100%));

    @include box-shadow(0 0 0 1px rgba(156, 151, 143, 0.5));

    &.active {
        background-color: lighten($main-highlight-color, 10%);
        border: none;

        a {
            color: $nav-active-color;
        }
    }

    a {
        color: $main-highlight-color;
        font-family: $body-font-bold;

        &.active {
            color: $nav-active-color;
        }
    }

    // Slots Categories Button
    .slots-categories {
        /* skin specific non-critical appearance styles */
        background: $main-highlight-color;
        color: white;
        text-shadow: none;
        font-size: 14px;

        .chevron-icon {
            opacity: 0.6;
            fill: $white;
        }
    }

    &__submenu {
        transition: 500ms;

        &__content {
            opacity: 0;
            visibility: hidden;
            transition: 500ms;
        }
    }

    &.is-active {
        .mobile-menu-item {
            &__submenu {
                &__content {
                    opacity: 1;
                    visibility: visible;
                }
            }

        }

        .chevron-icon {
            -webkit-transform: scale(1, -1);
            -ms-transform: scale(1, -1);
            transform: scale(1, -1);
        }
    }
}

.mobile-menu-section-title {
    /* cross skin critical sizing and position styles */
    padding-left: 14px;
    height: 20px;
    line-height: 20px;

    /* skin specific non-critical appearance styles */
    //font styles
    color: #fff;
    font-family: $body-font-bold;
    font-size: 15px;
    font-weight: bold;

    @include text-shadow(0 0 1px #565552);

    // bar styles
    @include box-shadow(inset 0 0 0 1px rgba(92, 90, 85, 0.27));

    @include background-image(linear-gradient(bottom, #9e9a93 0%, #9e9a93 43.75%, #9b9789 100%));
}

// Mobile Menu Slots Categories Hidden Slide Down Panel

.mobile-menu {
    .games-filter-menu__popover-wrap {
        font-family: $body-font-bold;

        .games-filter-menu__popover {
            font-family: $body-font-bold;
        }

        .games-filter-menu__popover .tabs-content .content ul li a {
            font-family: $body-font-bold;
        }

        .tab-title.active a {
            text-decoration: underline;
        }

        // css3 animation for sliding down categories panel
        // -webkit-animation: slidedown 1s forwards;
        // animation: slidedown 1s forwards;
        // -webkit-animation-delay: 3s;
        // animation-delay: 3s;
        // @-webkit-keyframes slidedown {
        //     100% {
        //         height: 246px;
        //         opacity: 1;
        //     }
        // }
        // @keyframes slidedown {
        //     100% {
        //         height: 246px;
        //         opacity: 1;
        //     }
        // }

    }
}

//svg background images

.mobile-menu {
    .mobile-menu-item {
        a {}
    }

    .mobile-menu-item.logout-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/logout.svg);
        background-position: 9px 14px;
    }

    .mobile-menu-item.gamelimits-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/gamelimits.svg);
    }

    .mobile-menu-item.responsiblegaming-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/responsiblegaming.svg);
    }

    .mobile-menu-item.privacy-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/privacy.svg);
    }

    .mobile-menu-item.about-us-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/aboutus.svg);
    }

    .mobile-menu-item.terms-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/terms.svg);
    }

    .mobile-menu-item.faq-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/faq.svg);
    }

    .mobile-menu-item.support-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/support.svg);
        background-size: 6%;
    }

    .mobile-menu-item.community-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/community.svg);
        background-size: 7%;
        background-position: 7px 17px;
    }

    .mobile-menu-item.sports-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/sports.svg);
        background-position: 7px 10px;
        background-size: 7%;
    }

    .mobile-menu-item.deposit-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/deposit.svg);
    }

    .mobile-menu-item.cashier-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/cashier.svg);
        background-position: 11px 13px;
    }

    .mobile-menu-item.myaccount-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/myaccount.svg);
    }

    .mobile-menu-item.loyalty-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/loyalty.svg);
    }

    .mobile-menu-item.promotions-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/promotions.svg);
    }

    .mobile-menu-item.dailyplay-link {
        img {
            padding-left: 10px;
            margin-top: -3px;
        }

        .menu-link {
            margin-top: -50px;
        }

        .bouncing-dice {
            width: 30px;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-name: bounce;
            animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
                    
             @keyframes bounce {
                0%   { transform: scale(1,1)      translateY(0); }
                10%  { transform: scale(1.1,.9)   translateY(0); }
                30%  { transform: scale(.9,1.1)   translateY(-9px); }
                50%  { transform: scale(1.05,.95) translateY(0); }
                57%  { transform: scale(1,1)      translateY(-7px); }
                64%  { transform: scale(1,1)      translateY(0); }
                100% { transform: scale(1,1)      translateY(0); }
            }
        }

        .dice-svg {
            position: absolute;
            width: 50px;
            height: 120px;
            bottom: 17%;
            top: auto;
            left: 0px;

                .st1 {
                    transform: translate(22px, -12px);
                    animation-name: blinking;
                    animation-duration: 1.5s; 
                    animation-timing-function: ease-out; 
                    animation-delay: 0s;
                    animation-direction: alternate;
                    animation-iteration-count: infinite;
                    animation-fill-mode: none;
                    animation-play-state: running;
                }

                .st2 {
                    transform: translate(2px, 1px);
                    animation-name: blinking;
                    animation-duration: 1.5s; 
                    animation-timing-function: ease-out; 
                    animation-delay: 0.5s;
                    animation-direction: alternate;
                    animation-iteration-count: infinite;
                    animation-fill-mode: none;
                    animation-play-state: running;
                }

                .st3 {
                    transform: translate(3px, 3px);
                    animation-name: blinking;
                    animation-duration: 1.5s; 
                    animation-timing-function: ease-out; 
                    animation-delay: 1s;
                    animation-direction: alternate;
                    animation-iteration-count: infinite;
                    animation-fill-mode: none;
                    animation-play-state: running; 
                }

            @keyframes blinking {
                0% {
                    opacity: 0;
                    fill: #EF4509;
                }
                50%{
                  opacity: 1;
                  fill: #EF4509;
                }
                100% {
                    opacity: 0;
                    fill: #EF4509;
            }
        }
    }
}


    .mobile-menu-item.allgames-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/allgames.svg);
    }

    .mobile-menu-item.roulette-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/roulette.svg);
    }

    .mobile-menu-item.scratch-and-arcade-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/scratch.svg);
    }

    .mobile-menu-item.live-casino {
        background-image: url(../_images/common/mobile-menu-icons-svg/poker-chip-icon.svg);
    }

    .mobile-menu-item.tablecard-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/tablecard.svg);
    }

    .mobile-menu-item.slots-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/slots.svg);
        background-size: 6%;
    }

    .mobile-menu-item.favourites-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/favourites.svg);
    }

    .mobile-menu-item.newgames-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/newgames.svg);
        background-size: 4%;
        background-position: 12px 14px;
    }

    .mobile-menu-item.gamesearch-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/search.svg);
        background-size: 5%;
        background-position: 8px 12px;
    }

    .mobile-menu-item.settings-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/settings.svg);
    }

    .mobile-menu-item.complaints-disputes-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/complaints.svg);
        background-size: 7%;
        background-position: 7px 17px;
    }

    .mobile-menu-item.archive-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/archive.svg);
        background-size: 6%;
        background-position: 7px 11px;
    }
}

@for $i from 1 through 24 {
    #ui-id-#{$i} {
        /* skin specific non-critical appearance styles */
        //font styles
        color: $main-highlight-color;
        font-family: $body-font-bold;
        font-size: 14px;

        //bar styles
        border-top: 1px solid lighten($main-highlight-color, 20%);
        border-bottom: none;
        background-image: none;
        background-color: $white;
    }
}

.ui-state-focus {
    background: $main-highlight-color !important;
    background-image: none;
    color: $white !important;
    box-shadow: none  !important;
}

// auto complete search

.ui-auto-complete {}

// nav toggle menu with animation into cross shape

.menu-toggle-wrap {
    .burger {
        background: $main-highlight-color;

        &:before {
            background: $main-highlight-color;
        }

        &:after {
            background: $main-highlight-color;
        }
    }

    .burger.active {
        border: 4px solid $main-highlight-color;
    }
}
