.footer {
    font-size: 1rem;
    margin: 1em 0px 1em 0px;
    margin-bottom: 0px;
    @include grid-column(12);
    padding: 0px;
    font-family: $body-font-regular;
}

.footer__row {
    @include grid-row;
    padding: 0.625em;
}

.footer__row__left {
@extend .show-for-large-up;
    @media #{$large-up} {
        @include grid-column(11, $collapse: true);
        height: 45px;
        width: 100%;
        text-align:center;

    }
}

.footer__row__right {
@extend .show-for-large-up;
    @media #{$large-up} {
        @include grid-column(1, $collapse: true);
        width: 12%;
        height: 45px;
        padding-top: 5px;
    }
}

.footer__nav {
    @extend .hide-for-small;

    display:inline-block !important;

    @media #{$medium-only} {
        @include list-inline;
        @include vert-align(45px);

        >li {
            padding-right: 0.2em;
            font-size: 0.9em;
            color: $brand-color;
            >a {
                color: $brand-color;
                display: block;
                font-size: 0.9em;
            }
            >a:hover {
                text-decoration: underline;
            }
        }
    }
    @media #{$large-up} {
        @include list-inline;
        @include vert-align(45px);
        >li {
            padding-right: 0.3em;
            font-size: 0.8em;
            color: $brand-color;
            >a {
                color: $brand-color;
                display: block;
            }
            >a:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer__row__payments {
    @media #{$small-only} {
        @include grid-column(12, $center: true, $collapse: true);
        @include list-inline;
        margin-left: auto;
        margin-right: auto;
        padding:1em 1em 0em 1em;
        >li {
            height: 50px;
            width: 25%;
            padding-right: 1em;
            margin-bottom:1em;

            img {
                height:100%;
                width:100%;
            }
        }
    }
    @media #{$medium-up} {
        @include grid-column(8, $center: true, $collapse: true);
        @include list-inline;
        margin-left: auto;
        margin-right: auto;
        >li {
            width: 8%;
            padding-right: 0.3em;
            padding-bottom: 2px;
            text-align: center;

            img {
                width:100%;
                height:42px;
            }
        }
    }
}

.footer__row__social {
    @media #{$small-only} {
        // @include grid-column(3.6, $collapse:true, $center:true);
        display: none;
    }
    @media #{$medium-only} {
        float: right;
    }
    @media #{$large-up} {
        float: right;
    }
}

.footer__row__legal {
    color: $luckyvip--alto;
    text-align: center;
    line-height: 1.2em;
    // color: $grey;
    >p {
        font-size: rem-calc(11);
    }
}

.footer__reasons {
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    p {
        color: $grey;
        font-size: 0.9em;
        margin-bottom: 0px;
    }
    border-bottom: 1px solid $brand-color;
}