#ui-datepicker-div {
    > div > .ui-datepicker-title {
        background: $base-blue;
        color: $white;
        font-family: $title1-font;
        padding: 0.5em;
        text-align: center;
    }
    .ui-datepicker-year {
        text-align: center;
    }
    .ui-datepicker-prev {
        float: left;
        color: $white;
        padding: 0.5em;
        &:hover {
            float: left;
        }
    }
    .ui-datepicker-next {
        float: right;
        color: $white;
        padding: 0.5em;
        &:hover {
            float: right;
        }
    }
}

