.range-slider__wrapper{
	@include grid-column(12, $collapse:true);
	height:60px;
}

.range-slider__limit{
	@include grid-column(2, $collapse:true);
	@include vert-align(60px);
	&:first-child{text-align: left;}
	&:last-child{text-align:right;}
}

.range-slider__slider{
	@include grid-column(8, $collapse:true);
	@include border-radius(10px);
	padding:1.5em;
	background-color:lighten($lynch, 40%);

}
