.search-input {
    @include grid-column(3, $collapse: true);
    position: absolute;
    right: 1em;
    width: 100%;
    margin-top: 6px;
    @media #{$small-only} {
        @include grid-column(6, $collapse: true);
        // position: relative;
        // @include grid-column(12);
        // margin-bottom: 7px;
        // margin-left: 9px;
    }
    > input[type=text], input[type=password] {
        font-size: 0.9em;
        font-family: $body-font-regular;
        font-weight: normal;
        /* Size and position */
        width: 100%;
        padding: 8px 8px 8px 8px;
        /* Styles */
        // border: 1px solid darken(palette(gray, dark), 10%);
        /* Remove the default border */
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 3px 2px rgba(0, 0, 0, 0.1);
        border-radius: 1px;
        background: $white;
        color: $base-red;
        transition: color 0.3s ease-out;
        height: 34px;
    }
    input[type=text] {
        margin-bottom: 0px;
        color: $grey-dark;
    }
    .search-input__icon {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 32px;
        height: 16px;
        background: url("../_images/common/icons/search-icon.jpg") center 4px no-repeat;
        height: 100%;
        // border-right: 1px solid darken(palette(gray, dark), 10%);
        // background-repeat: no-repeat;
   
    }
}