table {
    border: 1px solid #DDD !important;
    overflow: visible !important;
    border-radius: 0;

    .responsive {
        border: 1px solid #DDD !important;

        tbody td, thead td {
            @media #{$medium-up} {
                text-align: center;
            }
        }
    }

    thead {
        tr {
            td {
                a {}
            }

            th {
                p {}
            }
        }
    }

    tr {
        td {
            @media #{$medium-up} {
                text-align: center !important;
            }
        }
    }
}