.ui-tooltip {
	position: absolute;
    background-color: black;
    color: white;
    padding: 0.4em;
    border-radius: 2px;
    width: 50px;
    height: auto;
    z-index: 999999;
    top: 2px;
    opacity: 0.4;
}