/**
*   Parts of styling taken from _games-filter-menu.css
*/

.filter-tabs {
    &__heading {
        display: table;
        table-layout: fixed;
        margin: 0;
        width: 100%;
        border-top: 1px solid rgb(235, 232, 236);
        padding-top: 3px;

        &__item {
            display: table-cell;
            height: 44px;
            @include vert-align(44px);
            margin: 0;
            text-align: center;
            background-color: #049E98;

            .filter-tabs__heading__link {
                color: $white;
                font-size: 0.87em;
            }

            &.active {
                background-image: none;
                background-color: #5AB6AB;
            }
        }

        &__link {
            padding-left: 0 !important;
            text-shadow: none;
            text-decoration: none;

            &:hover,
            &:active {
                text-decoration: none;
            }
        }
    }

  &__content {
    background-color: #5AB6AB;
    padding: 20px 0;

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    &__item {
      display: none;

      ul {
        margin: 0;
        padding: 0;

        li {
            float: left;
            width: 33.3333333333%;
            margin: 0 0 10px 0;
            padding: 0 5px;
        }

        a {
          padding: 0 !important;
        }
      }

      &.active {
        display: block;
      }
    }
  }
}

/* Override */
.filter-tabs .filter-tabs__content__link {
    background-image: none !important;
    box-shadow: none !important;
    text-align: center !important;
    font-family: $body-font-bold;
    text-transform: uppercase;
    border: 1px solid $white;
    border-radius: 3px;
    background-color: #049E98;
    color: $white;
    height: 44px !important;
    line-height: 16px;
    font-size: 0.81em;
    text-shadow: none;

    display: block;
    position: relative;

    span {
        display: block;
        width: 100%;
        position: absolute;
        top: 47%;
        transform: translateY(-50%);
    }
}