
#panelTC {
    padding: 0;
    margin-top: 0;
    background: $white !important;
    color: $black;
    position: relative;
    padding-bottom: 10px;
    font-size: $rw-body-font-size;

    .text-partial {
        background: $white !important;
        color: $black;
    }

    table {
        p {
            color: $white;
            font-size: $rw-body-font-size;
            margin: 0;
            display: inline-block;
            width: auto;
            padding: 0;
        }
    }

    a {
        color: $regalwins--highlight-gold; 
        
        &:hover, &:active, &:focus{
            color: $regalwins--highlight-gold; 
        }
    }

    p, em {
        color: $black;
        font-size: $rw-body-font-size;
    }

    ol { padding-left: 0; }
    ul { padding-left: 25px; }

    ol li, ul li {
        margin-bottom: 20px;
        color: $black;
        font-size: $rw-body-small-font-size;

        @media #{$medium-up} {
            font-size: $rw-body-font-size;
        }

        a {
            font-size: $rw-body-font-size;
            color: $black;
            font-weight: bold;
            text-decoration: underline;
        }
    }
}

#promotions {
    // needed for the 'fake' (using pseudo elements) full width blocks
    // used for the promotion T&Cs
    @media #{$medium-up} {
        overflow: hidden;
        height: auto;
    }

    .promotion__image { 
        margin: 0 auto;
        text-align: center;
        max-width: 1000px;
    }

    #ajax-wrapper table.responsive {
        border: none !important;
        .table-hide-small td {
            background: $black;
        }
    }

    .content-wrapper--promotions {
        .promotions-detail-wrapper {
            .middle-content__box {
                padding-bottom: 0;

                .section__title {
                    padding-bottom: 20px;
                    text-align: center;
                    font-size: rem-calc(26px);
                    float: none;
                    font-weight: bold;
                    line-height: rem-calc(34px);
                    text-transform: none;

                    @media #{$medium-up} {
                        padding-bottom: 30px;
                        padding-top: 10px;
                    }
                }
            }

            .promotions-detail {
                .promotion__content {
                    padding: 0;
                    background: transparent;
        
                    p {
                        font-size: rem-calc(14px);
                        line-height: rem-calc(24px);
                        color: $white;
                    }
        
                    li {
                        font-size: $rw-body-small-font-size;
                        line-height: rem-calc(24px);
                        margin-bottom: 5px;
                        color: $white;
                    }
                }
            }
        }
    }
}

.promotions__header {
    @include vert-align(1em);
    border-bottom: 1px solid $brand-color;
    padding: 0px;
    margin-bottom: $site-margin;
    height: 50px;
    .promotions__title {
        float: left;
        color: $pagetitle;
        font-size: 2em;
        padding: 0px;
        @media #{$small-only} {
            padding-left: 8px;
        }
        @media #{$medium-only} {
            padding-left: 8px;
        }
    }
}

.promotions-detail {
    #ui-promo-tcs {
        line-height: 1.4em;
        position: relative;
        
        p,
        li,
        em {
            font-size: 0.8em;
        }

        dd a.promotion__terms-conditions__link {
            text-decoration: underline;
            padding: 20px 0 20px 0;
            font-size: rem-calc(16px) !important;
            text-decoration: none;
            font-weight: bold;
            text-transform: none;
            color: $black !important;

            @media #{$medium-up} {
                padding: 30px 0 30px 0 !important;
            }
        }

        font-size: 0.9em;
        line-height: 1.3em;
        background: $white;

        .ui-promo-tcs {
            overflow: hidden;
        }

        .accordion-navigation {
            > a {
                padding-left: 0 !important;

            }
            
            // Use pseudo elements to fake full width block
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 50%;
                top: 0;
                height: 100%;
                width: 100vw;
                background-color: $white;

                @media #{$small-only} {
                    width: 20px;
                    left: 100%;
                }
            }

            &:after {
                content: "";
                width: 1200px;
                height: 100%;
                background-color: $white;
                position: absolute;
                top: 0;
                left: -1200px;

                @media #{$small-only} {
                    width: 20px;
                    left: -20px;
                }
            }
        }
    }

    .promotion {
        width: 100%;
    }
    font-size: 1rem;

    @include grid-column(12);
    @media #{$small-only} {
        @include grid-column($columns: 12, $collapse: true);
    }
    .promotion--featured {
        @include grid-column($columns: 12, $collapse: true);
        padding: 0;
        @media #{$small-only} {
            @include grid-column($columns: 12, $collapse: true);
        }
        @media #{$medium-only} {
            @include grid-column($columns: 12, $collapse: true);
            // padding-right: $site-margin;
            // padding-left: $site-margin;
        }
        @media #{$medium-up} {
            padding-bottom: 0;
            margin-bottom: -16px;   // fix overflow bug on tablet
        }
        @media #{$large-up} {
            margin-bottom: 0;
        }

        .promotion__wrapper {
            @media #{$small-only} {
                @include grid-column($columns: 12, $collapse: true);
                background: $regalwins--gray-darkest;
                border: none;
            }
        }
        .promotion__content__wrapper {
            background: $regalwins--gray-darkest !important;
            border: 0px;
            padding:0 !important;
            @include grid-column($columns: 12, $collapse: true);
            @media #{$small-only} {
                @include grid-column($columns: 12, $collapse: true);
                width: 100%;
            }
        }
        .promotion__image {
            @include grid-column($columns: 12, $collapse: true);
            > img {
                width: 100%;
            }
            @media #{$small-only} {
                > img {
                    @include grid-column($columns: 12, $collapse: true);
                    width: 100%;
                }
            }
        }
        .promotion__title {
            color: $brand-color;
        }
        .promotion__content {
            @include grid-column($columns: 12, $collapse: true);
            padding: $site-margin;
            position: relative;
            display: block;
            color: $brand-color;
            @media #{$small-only} {
                @include grid-column($columns: 12, $collapse: true);
                // padding: 20px !important;
                font-size: 0.9em;
                color: $brand-color;
                line-height: 1.3em;
            }
            a,
            p,
            span,
            div,
            label,
            li,
            em {
                font-family: $body-font-regular;
                font-size: 1em;
                font-style: normal;
                // line-height: 1.4em;
            }
            p {
                margin-bottom: 0px;
            }
            > ul > li {
                color: $brand-color;
                &:hover {
                    text-decoration: underline;
                    color: $white;
                }
            }

            .promo__container__cta {
                &:first-of-type {
                    display: none;
                }

                .cta-join {
                    @include regalwins-button-gradient('true', 'green');
                    color: $white !important;
                    font-weight: bold !important;
                    text-align: center;
                    width: 100%;
                    max-width: 375px;
                }
            }
        }
    }
    .promotion {
        .promotion__title {
            padding-left: $site-margin / 2;
            padding-top: $site-margin / 2;
            a {
                color: $white;
            }
        }
        .promotion__content {
            padding: $site-margin / 2;
        }
        .button {
            padding: 4px;
            width: 87px;
            margin-right: 8px;
            margin-top: 8px;
            float: right;
        }
    }
    ul {
        display: block;
        list-style-type: disc;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
    }
    .promotion__image,
    .promotion__content__wrapper,
    .promotion__content {
        // width: 100% !important;
        @media #{$medium-only} {
            // width: 100% !important;
        }
        @media #{$small-only} {
            // width: 100% !important;
        }
    }
}



#related--promos {
    @include grid-column($columns: 4, $collapse: true);
    float: right;
    position: relative;
    background-color: $regalwins--module-background;
    padding: $site-margin $site-margin 0px $site-margin;
    border: 1px solid $regalwins--module-background;
    @media #{$small-only} {
        display: none;
    }
    @media #{$medium-only} {
        @include grid-column($columns: 4, $collapse: true);
        padding: $site-margin $site-margin 0px $site-margin;
    }
    .promotion__wrapper {
        margin-bottom: $site-margin;
    }
    .promotion__image {
        @include grid-column($columns: 12, $collapse: true);
        width: 100%;
    }
    .promotion__content__wrapper {
        @include grid-column($columns: 12, $collapse: true);
        padding: 0px 8px;
    }
    .promotion__content {
        color: $white;
    }
}

.promo__container__row {
    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
    }
    @media #{$medium-up} {
        @include grid-column(12, $collapse: true);
        margin-bottom: 2em;
    }
}

.promo__container__button {
    @media #{$small-only} {
        @include grid-column(6, $center: true, $collapse: true);
    }
    @media #{$medium-up} {
        @include grid-column(3, $center: true, $collapse: true);
    }
    margin-left: auto;
    margin-right: auto;
}

.promo__container__button__opt-in {
    a {
        background-color: #FFF;
        @include background-image(linear-gradient(to top, #c6aeeb 0%, white 100%));
        color: #011558;
        &:hover {
            background-image: none;
            background: #67e4f3;
            color: $black;
        }
    }
    @media #{$small-only} {
        @include grid-column(4, $collapse: true);
        float: right;
    }
    @media #{$medium-up} {
        @include grid-column(5, $collapse: true);
        float: right;
    }
    .button {
        padding: 4px;
        width: 87px;
        margin-right: 8px;
        margin-top: 8px;
        float: right;
    }
}

.promo__cta {
    font-size: 1em;
    padding-left: 2.2em;
    padding-right: 2.2em;
    float: left;
    @extend .green-cta;
    color: $white;
}

.promotion__content__wrapper {
    @media #{$medium-only} {
        @include grid-column($columns: 12);
    }
    @media #{$small-only} {
        @include grid-column($columns: 12);
    }
    padding: 1em !important;
}

.promo__container__cta {
    @include grid-column(12);
    padding:0px;
    margin: $site-margin 0;
    text-align: center;
    a {
        @include grid-column(4, $center: true, $collapse: true);
        @media #{$small-only} {
            @include grid-column(11, $center: true, $collapse: true);
        }
        padding: 0;
        border-radius: 1px;
        margin: 0 3px;
        width: 100%;
        height: auto;
        margin-bottom: $site-margin;
        font-family: $button-font;
        text-align: center;
        display: inline-block;
        line-height: 2;
        font-size: 18px !important;
    }
}


.promotions-detail .promotion--featured .promotion__content .promo__container__cta {
    a {
        text-decoration: none;
    }
    
    & .cta-opt-in {
        @include regalwins-button-gradient;
        color: $white !important;
        display: inline-block;
        width: auto;
        min-width: 100px;
        margin-right: 5px;

        @media #{$medium-up} {
            min-width: 200px;
            margin-right: 10px;

            &.active {
                &:hover {
                    text-decoration: none;
                    cursor: context-menu;
                }
            }
        }
    }
    
    & .cta-join {
        @include regalwins-button-gradient('true', 'green');
        display: inline-block;
        width: auto;
        min-width: 100px;
        margin-left: 5px;

        @media #{$medium-up} {
            min-width: 200px;
            margin-left: 10px;
        }
    }
}

.promotion__content {
    a {
        color: $roti !important;
        font-weight: 600;

        &:hover {
            color: $white !important;
            text-decoration: underline;
        }
    }
}


