.promotion {
    font-size: 1rem;
    @include grid-column($columns: 3, $collapse: true);
    padding-left: 0px;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0.4em;
    padding-bottom: 0.4em;
    @media #{$medium-only} {
        @include grid-column($columns: 4, $collapse: true);
        padding-left: 0;
        padding-right: 0.3em;
        padding-bottom: 0.3em;
    }
    @media #{$small-only} {
        @include grid-column($columns: 12, $collapse: true);
        margin-bottom: $site-margin;
    }
    .promotion__wrapper {
        // cursor: pointer;
        @include grid-column(12, $collapse: true);
        background-color: $regalwins--copy-colour;
        // border: 1px solid #e2e2e2;
        @media #{$large-up} {
            min-height: 450px;
        }
        @media #{$medium-only} {
            min-height: 250px;
        }
        @media #{$small-only} {
            @include grid-column($columns: 12, $collapse: true);
        }
    }
    .promotion__title {
        @include grid-column($columns: 12, $collapse: true);
        font-size: 0.95em;
        font-family: $ui-font-bold, Helvetica, Arial, sans-serif;
        display: block;
        height: 23px;
        overflow: hidden;
        // text-transform: uppercase;
        color: $white;
        margin: 0em;
        margin-top: 0.4em;
        padding-left: 0.7em;
        padding-right: 0.7em;
        text-transform: uppercase;
        a {
            color: $white;
        }
        @media #{$small-only} {
            @include grid-column($columns: 12, $collapse: true);
            font-size: 1.2em;
            float: left;
            padding-left: 0.4em;
            padding-right: 0.4em;
        }
    }
    .promotion__content__wrapper {
        @include grid-column($columns: 6, $collapse: true);
        color: $content-text;
        padding: rem-calc(7px) rem-calc(7px);
        @media #{$small-only} {
            @include grid-column($columns: 12, $collapse: true);
            @include vert-align(1em);
            float: left;
            padding: 0px 5px;
            padding-top: 0px;
            p {
                font-size: 0.7em;
            }
        }
    }
    .promotion__image {
        @include grid-column($columns: 12, $collapse: true);
        > img {
            width: 100%;
        }
        @media #{$small-only} {
            @include grid-column($columns: 12, $collapse: true);
            float: left;
        }
    }
    .promotion__content {
        font-family: helvetica, arial, sans-serif;
        @include grid-column($columns: 12, $collapse: true);
        font-size: 0.9em;
        height: 74px;
        overflow: hidden;
        padding-left: 0.8em;
        padding-right: 0.8em;
        margin-top: 0.4em;
        @media #{$small-only} {
            @include grid-column($columns: 12, $collapse: true);
        }
        @media #{$large-up} {
            height: 74px;
            -webkit-mask-image: -webkit-gradient(linear, left 60%, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
        }
        @media #{$medium-only} {
            height: 61px;
            line-height: 16px;
            font-size: 1em;
            padding-bottom: 77px;
            -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
        }
        @media #{$small-only} {
            @include grid-column($columns: 12, $collapse: true);
            font-size: 1em;
            padding: 0.4em;
            height: 100%;
            p:after {
                content: ' ...';
                color: #222222;
                font-weight: bold;
            }
        }
        a,
        p,
        span,
        div,
        label {
            font-family: $body-font-regular;
            font-size: 0.9em;
            line-height: 1.2em;
            @media #{$small-only} {
                font-size: 1em;
                padding-bottom: 10px;
                margin-bottom: 0px;
            }
        }
    }
}

.promotion--featured {
    @include grid-column(12);
    padding-left: 0;
    padding-right: 0.4em;
    // max-height: 392px;
    // overflow: hidden;
    @media #{$small-only} {
        @include grid-column($columns: 12, $collapse: true);
    }
    .promotion__wrapper {
        // cursor: pointer;
        @include grid-column($columns: 12, $collapse: true);
        height: 100%;
        background-color: $regalwins--gold;
        // border: 1px solid #e2e2e2;

        @media #{$medium-up} {
            margin-bottom: $site-margin;
        }
    
        @media #{$large-up} {
            margin-bottom: 0;
        }
        @media #{$medium-only} {}
        @media #{$small-only} {
            @include grid-column($columns: 12, $collapse: true);
        }
        .promotion__image {
            @include grid-column($columns: 6, $collapse: true);
            @media #{$medium-only} {
                @include grid-column($columns: 5, $collapse: true);
            }
            @media #{$small-only} {
                @include grid-column($columns: 12, $collapse: true);
                float: left;
            }
        }
        .promotion__content__wrapper {
            @include grid-column($columns: 12, $collapse: true);
            p, ul li, ol li {
                color: $white;
            }
            a {
                text-decoration: underline;
            }
            padding: 0px 8px;
            @media #{$medium-only} {
                @include grid-column($columns: 12, $collapse: true);
            }
            @media #{$small-only} {
                @include grid-column($columns: 12, $collapse: true);
                background-color: $regalwins--gray;
                float: left;
                padding: 0px 5px;
            }
        }
        .promotion__title {
            font-family: $ui-font-bold;
            text-transform: uppercase;
            @include grid-column($columns: 7, $collapse: true);
            padding-left: 0.4em;
            padding-right: 0.4em;
            float: left;
            font-size: 1.8em;
            padding: 0.4em;
            @media #{$medium-only} {
                @include grid-column($columns: 7, $collapse: true);
                padding-left: 0.4em;
                padding-right: 0.4em;
            }
            @media #{$small-only} {
                @include grid-column($columns: 12, $collapse: true);
                font-size: 1.4em;
                float: left;
                color: $white;
                padding-left: 0.4em;
                padding-right: 0.4em;
            }
            > a {
                color: $white;
            }
        }
        .promotion__content {
            @include grid-column($columns: 12, $collapse: true);
            font-size: 1em;
            padding: 0.6em;
            color: $white;
            @media #{$medium-only} {
                @include grid-column($columns: 12, $collapse: true);
                font-size: 0.8em;
                padding-left: 0.6em;
                padding-right: 0.6em;
            }
            @media #{$small-only} {
                @include grid-column($columns: 12, $collapse: true);
                font-size: 1em;
                line-height: 18px;
                padding-left: 0.6em;
                padding-right: 0.6em;
            }
            a,
            p,
            span,
            div,
            label {
                font-family: $body-font-regular;
                font-size: 1em;
                line-height: 1.6em;
            }
        }
    }
    .promotion__optin {
        &:hover {
            background-image: none;
            background: #67e4f3;
            color: $black;
        }
    }
    .promotion__more-info {
        color: $white;
        &:hover {
            color: $white;
        }
    }
}


// revamp
#promotions {
    .alertbox {
        p:first-of-type {
            margin-top: 1rem;
        }

        .alertbox__cta {
            margin: 0;
        }

        .cancel-cta {
            display: inline-block;
            width: 45%;
            padding: 0.5rem 1rem 0.8rem 1rem !important;
            text-decoration: none;

            @media #{$medium-up} {
                padding: 0.5rem 2rem 0.8rem 2rem !important;
            }

            &:hover, &:active, &:focus {
                text-decoration: underline;
            }
        }
    
        .ok-cta {
            display: inline-block;
            width: 45%;
        }
    }

    .content-wrapper--promotions {
        .middle-content__box {
            background: $regalwins--gray-darkest;
            padding-bottom: 20px;
            padding-right: 0;
            
            @media #{$small-only} {
                padding: 20px;
            }
            
            @media #{$medium-only} {
                padding-left: 20px;
                padding-right: 20px;
            }
            
            @media #{$large-up} {
                padding-bottom: 0;
                padding-top: 5px;
            }    
    
            .section__title {
                margin-bottom: 20px;
                padding-left: 0;
                padding-top: 0;
        
                @media #{$medium-only} {
                    margin-top: 1rem;
                }
            }
        
            .promotions__list {
                @media #{$medium-up} {
                    float: none;
                    width: 100% !important;
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    grid-auto-rows: 1fr;
                    grid-column-gap: 10px;
                    grid-row-gap: 10px;
                    padding-bottom: 2rem;
    
                    @media #{$portrait} {
                        grid-template-columns: repeat(2, 1fr);
                    }
                    @media #{$landscape} {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
    
                @media #{large-up} {
                    grid-template-columns: repeat(3, 1fr);
        
                    @media #{$landscape} {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
            }
    
            .promotion-eng {
                border: 1px solid $gray-dark;
                background: linear-gradient(132.49deg, #353131 0%, #080703 100%);
                box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
                padding-right: 0;
                display: -webkit-box;                
                display: -ms-flexbox;
                display: flex;
                width: 100%;
                
                // IE specific
                @media all and (-ms-high-contrast: none) {
                    max-width: 33.3%;
                }
        
                .promotion-eng__image {
                    img {
                        float: none;
    
                        @media #{$large-up} {
                            max-height: 150px;
                        }
                    }
                }
    
                .promotion-eng__wrapper {
                    background: transparent;
                    border: none;
                    height: unset;  // was 625px; 
                    position: relative;
        
                    .tabs:not(.tab-without-competition) {
                        background: transparent;
                        display: -webkit-box;               
                        display: -ms-flexbox;                
                        display: flex;
                        margin-bottom: 1rem !important;
        
                        .tab-title {
                            display: -webkit-box;               
                            display: -ms-flexbox;                
                            display: flex;
                            flex-direction: column;
                            flex: 1 0 auto;
                            margin-bottom: 1rem;
        
                            &.active {
                                a {
                                    color: $white;
                                }
                            }
        
                            a {
                                font-size: rem-calc(12px) !important;
                                padding: 15px 10px;
                                color: $regalwins--highlight-gold;
                                background: transparent;
                            }
        
                            &.active {
                                color: $white;
                                border-bottom: 3px solid $white;  
                            }
                        }
        
                    }
        
                    .promotion-eng__footer {
                        padding: 0 20px 20px 20px;
                    }
        
                    .promotion-eng__read-more {
                        text-align: left;
                        text-transform: none;
                        color: $regalwins--highlight-gold;
                        font-weight: bold;
                        margin-bottom: 5px;
                        font-size: rem-calc(14px);
        
                        &:after { content: ""; }
                    }
        
                    .promotion-eng__play-now {
                        color: $white !important;
                        font-weight: bold !important;
                        @include regalwins-button-gradient('true', 'green');
                        margin-bottom: 0;
                        font-size: rem-calc(16px) !important;
                    }
        
                }
        
                .promotion-eng__content {
                    padding-top: 0;
                    padding: 0 20px;
                    background: transparent;
                    height: unset;
    
                    p {
                        font-size: rem-calc(14px);
                        line-height: rem-calc(24px);
                        color: $white;
                    }
    
                    ul {
                        @media #{$medium-up} {
                            max-height: 175px;
                            overflow: hidden;
                        }
                    }
        
                    li {
                        font-size: rem-calc(14px);
                        line-height: rem-calc(24px);
                        margin-bottom: 5px;
                        color: $white;
                    }
        
                    .tabs-content {
                        height: unset;
                        .content {
                            @media #{$medium-up} {
                                // allow for absolute footer
                                padding-bottom: 110px;
                                height: unset;
                            }
                        }
    
                        .promotion-eng__comp-info {
                            li {
                                div {
                                    font-family: $base-font-family;
                                    font-size: $rw-body-small-font-size !important;
                                    text-transform: none;
                                    background: transparent;
                                }
                                span {
                                    font-family: $base-font-family;
                                    font-size: $rw-body-small-font-size !important;
                                    text-transform: none;
                                    background: transparent;
                                }
                            }
                        }
        
                        .promotion-eng__freebie__progress--title {
                            text-transform: none;
                            font-weight: normal;
                        }
        
                        .promotion-eng__freebie__progress--value{
                            text-align: right;
                            background: transparent;
                        }
        
                        .promotion-eng__freebie__progress--wrap {
                            background: transparent;
                            height: 1rem;
                            border: none;
                            margin-bottom: 1rem;
        
                            .promotion-eng__freebie__progress--bar {
                                height: 1rem;
                                background: linear-gradient(90deg, #009460 0%, #7BBF54 100%);
                                box-shadow: 0 1px 0 0 rgba(29,125,66,0.5);
                            }
                        }
                    }
                }
        
                .promotion-eng__title {
                    margin-bottom: 20px;
                    text-align: center;
    
                    @media #{$medium-up} {
                        height: 70px;
                        margin-bottom: 10px;
                        overflow: hidden;
                    }
    
                    a {
                        font-size: rem-calc(22px);
                        float: none;
                        font-weight: bold;
                        color: $regalwins--header-gold;
                        line-height: rem-calc(34px);
    
                        @media #{$medium-only} {
                            @media #{$landscape} {
                                font-size: rem-calc(18px);
                                line-height: rem-calc(28px);
                            }
                        }
                    }
                }
    
                .promotion-eng__intro {
                    float: left;
                    display: none;
                }
        
                .promotion__text_terms-wrapper {
                    padding: 10px 20px;
    
                    @media #{$medium-up} {
                        max-height: 55px;
                        min-height: 55px;
                        overflow: hidden;
                    }
        
                    .promotion__text_terms {
                        font-size: rem-calc(10px);
                        color: $regalwins--gray-lightest;
                    }
                }
        
                .promotion-eng__footer {
                    background: transparent;
        
                    .promotion-eng__optin {
                        color: $white !important;
                        font-weight: bold !important;
                        @include regalwins-button-gradient();
                        margin-bottom: 0;
                        padding: 0.9rem 1rem 1.1rem 1rem;
                        line-height: 20px;
    
                        &.active {
                            &:hover {
                                text-decoration: none;
                                cursor: context-menu;
                            }
                        }
                    }
        
                    .promotion-eng__play-now {
                        padding: 0.9rem 1rem 1.1rem 1rem;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}


// .promotions {
//     .content {
//         @media #{$small-only} {
//             padding-top: 0;
//             .section__title {
//                 text-align: center;
//             }
//         }
//     }
//     .section .section__header,
//     .games-list .section__header {
//         @include grid-column(4, $float: left);
//         @media #{$medium-only} {
//             @include grid-column(12, $float: left);
//             display: block;
//         }
//     }
//     .tabs {
//         @include grid-column(8, $float: right);
//         background-color: black;
//         margin-top: $site-margin;
//         margin-right: 7px;
//         padding: 0 0;
//         padding-top: 4px;
//         padding-left: 4px;
//         @media #{$medium-only} {
//             @include grid-column(12, $float: left);
//             float: none;
//             padding-top: $site-margin;
//             margin-top: 25px;
//             float: none;
//             padding: 0;
//         }
//         @media #{$small-only} {
//             @include grid-column(12, $float: left);
//             float: none;
//             padding-top: 0;
//             margin-top: 25px;
//             float: none;
//             padding-left: 0;
//             padding-right: 0;
//         }
//         dd {
//             margin: 0 0;
//             margin-left: 7px;
//             border-style: none;
//             float: right;
//             @media #{$small-only} {
//                 margin-bottom: 12px;
//                 border-top: none;
//                 border-bottom: none;
//                 @include list-inline;
//                 margin-left: 7px;
//             }
//             a {
//                 font-family: $ui-font-bold;
//                 padding: 10px 10px;
//                 font-size: 12px;
//                 font-weight: bold;
//                 background: $white;
//                 color: $main-highlight-color;
//                 text-align: center;
//                 @include border-radius(2px 2px 0px 0px);
//                 &:hover {
//                     color: $main-highlight-color;
//                     background: #F8F8F8;
//                 }
//                 @media #{$small-only} {
//                     margin: 0 0;
//                     padding: 0px;
//                     text-align: center;
//                     border: none;
//                     @include border-radius(3px);
//                     margin-bottom: 12px;
//                     font-size: 11px;
//                     height: 44px;
//                     line-height: 28px;
//                     padding-top: 7px;
//                     &.active {
//                         a,
//                         a:hover {
//                             font-size: 11px;
//                             font-weight: bold;
//                             cursor: default;
//                             color: #6f6e6e;
//                             background: $white;
//                         }
//                     }
//                 }
//             }
//             &.active {
//                 a,
//                 a:hover {
//                     font-size: 12px;
//                     font-weight: bold;
//                     cursor: default;
//                     background: $white;
//                     color: #6f6e6e;
//                 }
//             }
//             &.first {
//                 a {}
//             }
//             &.last {
//                 margin-right: 0px;
//                 a {}
//             }
//         }
//     }
// }

// optin button and more info
.promotion__optin {
    display: block;
    float: left;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    text-align: center;
    line-height: 23px;
    height: 23px;
    background-clip: padding-box;
    box-sizing: content-box;
    background-color: $regalwins--cta-button-two;
    color: $regalwins--copy-colour;
    font-family: $ui-font-bold;
    font-size: 14px;
    margin: 10px;
    text-transform: uppercase;
    &:hover {
        background-image: none;
        background: $regalwins--hover;
        color: $regalwins--copy-colour;
    }
}

.promotion__more-info {
    display: block;
    float: left;
    padding: 0.4em;
    text-align: center;
    line-height: 23px;
    border-radius: 2px;
    background-clip: padding-box;
    box-sizing: content-box;
    background-color: transparent;
    color: $regalwins--login;
    font-family: $ui-font-bold;
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px;
    &:hover {
        color: $white;
        text-decoration: underline;
    }
}

.promotions__list {
    .cta-full-width {
        width: 100% !important;
        margin: 0px !important;
    }
}

.promotion__text_terms-wrapper {
    // background: $old-lace;
    .promotion__text_terms {}
    .promotion-eng__terms {
        font-weight: 800;
        color: $roti;
    }
}
