.text-partial {
    font-size: 1rem;
    @include grid-column(12,$float:none);
    @include clearfix;
    background-color: lighten($grey, 45%);
    border: 1px solid lighten($grey, 35%);
    padding-top: 1em;
    margin-bottom: $site-margin;
    border-radius: 4px;

    &-content {
        padding: 20px 0;
    }

    @media #{$small-only} {
        @include grid-column(12);
        padding-left:0px;
        padding-right:0px;
    }
    a, p, span, div, label {
        font-family: $body-font-regular !important;
    }
    > h1 {
        font-family: $heading-font-bold;
        text-transform: uppercase;
        color: $pagetitle;
        font-size: 1.2rem !important;
        border-bottom: none;
        line-height: 1.2em;
        margin-bottom: $site-margin;
        margin-top: 0px;
        @media #{$small-only} {
            margin-top: 0px;
            font-size: 13px;
            line-height: 13px;
        }
    }
    > p {
        @include grid-column(12);
        color: $content-text;
        padding: 0px;
        @media #{$small-only} {
            padding-left: $site-margin;
            padding-right: $site-margin;
        }
    }
        ul{
        list-style: square;
        margin-left: $site-margin;
        @include clearfix;
    }
}

/* text-image-left */

.text-image-left-partial {
    font-size: 1rem;
    @include grid-column(12);
    background-color: lighten($grey, 45%);
    border: 1px solid lighten($grey, 35%);
    @include clearfix;
    padding-bottom: $site-margin;
    margin-bottom: $site-margin;
    @media #{$small-only} {
        padding-top: $site-margin;
    }
    a, p, span, div, label {
        font-size: 0.9em !important;
        font-family: $body-font-regular !important;
    }
    > h1 {
        font-family: $heading-font-bold;
        text-transform: uppercase;
        color: $pagetitle;
        font-size: 1em;
        // background-color: $brand-color;
        border-bottom: 1px solid $brand-color;
        @include vert-align(32px);
        margin-bottom: rem-calc(7px);
        // padding-left: rem-calc(7px);
        margin-top: 0px;
        @media #{$small-only} {
            font-size: 13px;
            line-height: 13px;
        }
    }
    > p {
        font-size: 0.9em;
        color: $content-text;
    }

    ul{
        list-style: square;
        margin-left: $site-margin;
    }
}

.text-image-left-partial__content__img {
    padding: 0px;
    padding: 0.5em;
    float: left;
    @media #{$small-only} {
        @include grid-column(12);
        margin-bottom: $site-margin;
        padding: 0px;
    }
}

/* END text-image-left */

/* text-image-right */

.text-image-right-partial {
    font-size: 1rem;
    @include grid-column(12);
    background-color: lighten($grey, 45%);
    border: 1px solid lighten($grey, 35%);
    @include clearfix;
    margin-bottom: $site-margin;
    a, p, span, div, label {
        font-size: 0.9em !important;
        font-family: $body-font-regular !important;
    }
    > h1 {
        font-family: $heading-font-bold;
        text-transform: uppercase;
        color: $pagetitle;
        font-size: 1em;
        // background-color: $brand-color;
        border-bottom: 1px solid $brand-color;
        @include vert-align(32px);
        margin-bottom: rem-calc(7px);
        // padding-left: rem-calc(7px);
        margin-top: 0px;
        @media #{$small-only} {
            margin-top: 0px;
        }
    }
    > p {
        font-size: 0.9em;
        color: $content-text;
    }
        ul{
        list-style: square;
        margin-left: $site-margin;
    }
}

.text-image-right-partial__content__img {
    padding: 0px;
    margin: 0px 0px $site-margin $site-margin;
    float: right;
    @media #{$small-only} {
        @include grid-column(12);
        margin: 0px 0px $site-margin 0px;
        padding: 0px;
        float: left;
    }
}

/* END text-image-right */

/*image top*/
.text-image-top-partial {
    font-size: 1rem;
    @include grid-column(12);
    background-color: lighten($grey, 45%);
    border: 1px solid lighten($grey, 35%);
    @include clearfix;
    padding-bottom: $site-margin;
    margin-bottom: $site-margin;
    @media #{$small-only} {
        padding-top: $site-margin;
    }
    a, p, span, div, label {
        font-size: 0.9em !important;
        font-family: $body-font-regular !important;
    }
    > h1 {
        font-family: $heading-font-bold;
        text-transform: uppercase;
        color: $pagetitle;
        font-size: 1em;
        // background-color: $brand-color;
        border-bottom: 1px solid $brand-color;
        @include vert-align(32px);
        margin-bottom: rem-calc(7px);
        // padding-left: rem-calc(7px);
        margin-top: 0px;
        @media #{$small-only} {
            font-size: 13px;
            line-height: 13px;
        }
    }
    > p {
        font-size: 0.9em;
        color: $content-text;
    }

    ul{
        list-style: square;
        margin-left: $site-margin;
    }
}

.text-image-top-partial__content__img {
    @include grid-column(12);
        margin-bottom: $site-margin;
        padding: 0px;
}
/* end image top*/