
  <!-- BODY -->
  <table bgcolor="#fff2d5" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; background: #fff2d5; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; margin: 0; padding: 0;">
          <tr>
            <td>
              <a href="http://www.bingoextra.com"><img src="http://mailers.communicatormail.com/bingoextra/images/birthday-BE.jpg" border="0" style="max-width: 100%;" alt="Cash Dash" /></a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; margin: 0; padding: 15px; font-size:14px; line-height:1.6;">

            

<p align="center">HAPPY BIRTHDAY to you, <strong>%%Firstname%%</strong>!</p>

<p align="left" style="margin-bottom:1.5em !important;">To help you celebrate your special day, we've baked you a delicious <strong>%%CurrencySymbol%%5 bonus + 5 Free Spins.</strong></p>

<p align="left" style="margin-bottom:1.5em !important;">The cherry on the cake? <strong>It&rsquo;s in your account right now</strong> &ndash; simply log in to pick up. Let the party begin!</p>

<p align="left" style="margin-bottom:1.5em !important;"><i>Don&rsquo;t forget to close your eyes and make a wish &ndash; your EXTRA candle might bring you extra luck today!</i></p>

<p align="left" style="margin-bottom:1.5em !important;">Wishing you a rockin&rsquo; day and year ahead,</p>


<p align="center" style="margin-top:30px;"><a href="http://www.bingoextra.com/promotions/><img src="http://mailers.communicatormail.com/bingoextra/images/templates/button-msg-freebie.png" alt="Claim now!" width="240" height="60" border="0" style="max-width: 100%;" /></a></p>

            </td>
          </tr>