<!-- BODY -->

<table bgcolor="#fff2d5" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; background: #fff2d5; margin: 0; padding: 0;">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td style="max-width: 600px; display:block; margin:auto;">
			<table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; margin: 0; padding: 0;">
				<tbody>
					<tr>
						<td><a href="http://www.bingoextra.com" name="www_bingoextra_com" xt="SPCLICK"><img alt="Cash Dash" border="0" height="300" name="Cont_2" src="http://mailers.communicatormail.com/bingoextra/images/happy-birthday-600x300.jpg" style="max-width: 100%;" title="Cash Dash" width="600" /></a></td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; margin: 0; padding-left: 15px; padding-right: 15px; font-size: 14px; line-height: 1.6;">
						<p style="font-size: 11px;">Username: %%Username%% | <a href="https://www.bingoextra.com/forgot-password" name="www_bingoextra_com_forgot_pass" style="color: #008cba; text-decoration: none;" xt="SPCLICK">Forgot password</a>?</p>

						<h3 style="color: rgb(14, 87, 110); line-height: 1.1; font-weight: bold; font-size: 20px; margin: 10px 0px 15px; text-align: center;">HAPPY BIRTHDAY to you, %%Firstname%%!</h3>

						<p style="font-size: 17px;"><span style="font-size:14px;">We know you&#39;re most likely celebrating&nbsp;right now, but we just wanted to say happy birthday!&nbsp;<br />
						<br />
						To help you celebrate your special day, we&#39;ve baked you a delicious&nbsp;<strong>10 Free spins</strong> and here&#39;s how to claim:<br />
						<br />
						1) Head to your &#39;My Account&#39; page<br />
						2) Enter claim code: <strong>BDAY</strong><br />
						3) Enjoy your birthday spins on all of our <a href="http://www.bingoextra.com/slots/exclusive/" name="Hyperlink_20171003_102308630" target="_blank" xt="SPCLICK">exclusive games</a><br />
						<span style="font-size:10px;">T&amp;Cs apply:&nbsp;24 hours. &pound;5 max win</span><br />
						<br />
						Whatever you&#39;re up to, have a fantastic day. ...you deserve it!</span></p>

						<p style="font-size: 17px; text-align: center;"><a href="http://www.bingoextra.com" name="www_bingoextra_com_promotions" style="text-align: center; background-color: rgb(255, 242, 213);" xt="SPCLICK"><img alt="Claim now!" border="0" height="60" name="Cont_3" src="http://mailers.communicatormail.com/bingoextra/images/templates/button-msg-claim.png" style="max-width: 100%;" title="Claim now!" width="240" /></a></p>
						</td>
					</tr>
					