<!-- BODY -->

<table bgcolor="#fff2d5" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; background: #fff2d5; margin: 0; padding: 0;">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td style="max-width: 600px; display:block; margin:auto;">
			<table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; margin: 0; padding: 0;">
				<tbody>
					<tr>
						<td><a href="http://www.bingoextra.com" name="www_bingoextra_com" xt="SPCLICK"><img alt="Cash Dash" border="0" height="300" name="Cont_2" src="http://mailers.communicatormail.com/bingoextra/images/happy-birthday-600x300.jpg" style="max-width: 100%;" title="Cash Dash" width="600" /></a></td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; margin: 0; padding-left: 15px; padding-right: 15px; font-size: 14px; line-height: 1.6;">
						<p style="font-size: 11px;">Username: %%Username%% | <a href="https://www.bingoextra.com/forgot-password" name="www_bingoextra_com_forgot_pass" style="color: #008cba; text-decoration: none;" xt="SPCLICK">Forgot password</a>?</p>

						<h3 style="color: rgb(14, 87, 110); line-height: 1.1; font-weight: bold; font-size: 20px; margin: 10px 0px 15px; text-align: center;">HAPPY BIRTHDAY to you, %%Firstname%%!</h3>

						<p style="font-size: 17px;"><span style="font-size:14px;">We know you&#39;re most likely celebrating&nbsp;right now, but we just wanted to say happy birthday!&nbsp;<br />
						<br />
						To help you celebrate, we&#39;re giving you a massive&nbsp;<strong>%%CurrencySymbol%%50&nbsp;slots bonus..Yipeee!</strong><br />
						<br />
						Here&#39;s how to claim:<br />
						1) Head to your &#39;My Account&#39; page<br />
						2) Enter claim code: <strong>BDAY</strong><br />
						3) Enjoy your birthday bonus on all of your favourite games.<br />
						<span style="font-size:10px;"><br />
						T&amp;Cs apply: You have 3 days to claim bonus. Once claimed it will expire after 7 days. 15xWR. 10x rate convertible to real.</span><br />
						<br />
						Whatever you&#39;re up to today, have a fantastic day. ...you deserve it!</span></p>

						<p style="font-size: 17px; text-align: center;"><a href="http://www.bingoextra.com" name="www_bingoextra_com_promotions" style="text-align: center; background-color: rgb(255, 242, 213);" xt="SPCLICK"><img alt="Claim now!" border="0" height="60" name="Cont_3" src="http://mailers.communicatormail.com/bingoextra/images/templates/button-msg-claim.png" style="max-width: 100%;" title="Claim now!" width="240" /></a></p>
						</td>
					</tr>
					<!-- SIGNATURE -->
					<tr>
						<td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; margin: 0; padding: 15px; font-weight: normal; font-size: 14px; line-height: 1.6;">
						<p><br />
						<a href="http://www.bingoextra.com" name="www_bingoextra_com" xt="SPCLICK"><img alt="The Bingo Extra Team" border="0" height="30" name="Cont_4" src="http://mailers.communicatormail.com/bingoextra/images/templates/signature.png" style="max-width: 100%;" width="220" /></a></p>

						<hr color="color: #0e576e" noshade="noshade" size="1px" style="color: #0e576e; margin: 0 0 15px; padding: 0;" />
						<p><a href="https://www.facebook.com/bingoextra" name="www_facebook_com_bingoextra" target="blank" xt="SPCLICK"><img alt="facebook" height="30" name="Cont_5" src="http://mailers.communicatormail.com/kittybingo/images/templates/facebook-icon.png" style="max-width: 100%;" width="30" /></a> <a href="https://twitter.com/bingoextra" name="twitter_com_bingoextra" target="blank" xt="SPCLICK"> <img alt="twitter" height="30" name="Cont_6" src="http://mailers.communicatormail.com/kittybingo/images/templates/twitter-icon.png" style="max-width: 100%;" width="30" /></a> <a href="https://plus.google.com/u/0/+Bingoextra" name="plus_google_com_u_0__Bingoextr" target="blank" xt="SPCLICK"> <img alt="google plus" height="30" name="Cont_7" src="http://mailers.communicatormail.com/kittybingo/images/templates/google-icon.png" style="max-width:100% " width="30" /></a> <!-- <img  name="Cont_8" src="http://mailers.communicatormail.com/bingoextra/images/templates/icon-paypal.png" width="41" height="27" alt="PayPal" style="max-width: 100%;" />
								<img  name="Cont_9" src="http://mailers.communicatormail.com/bingoextra/images/templates/icon-maestro.png" width="41" height="27" alt="Maestro" style="max-width: 100%;" />
								<img  name="Cont_10" src="http://mailers.communicatormail.com/bingoextra/images/templates/icon-mastercard.png" width="41" height="27" alt="Mastercard" style="max-width: 100%;" />
								<img  name="Cont_11" src="http://mailers.communicatormail.com/bingoextra/images/templates/icon-visa.png" width="41" height="28" alt="Visa" style="max-width: 100%;" />
								<img  name="Cont_12" src="http://mailers.communicatormail.com/bingoextra/images/templates/icon-neteller.png" width="41" height="28" alt="Neteller" style="max-width: 100%;" /> --> <img alt="18+" height="28" name="Cont_13" src="http://mailers.communicatormail.com/bingoextra/images/templates/icon_18.png" style="max-width: 100%;" width="41" /> <img alt="GamCare" height="28" name="Cont_14" src="http://mailers.communicatormail.com/bingoextra/images/templates/icon_gamcare.png" style="max-width: 100%;" width="41" /> <a href="https://secure.gamblingcommission.gov.uk/gccustomweb/PublicRegister/PRSearch.aspx?ExternalAccountId=39022" name="secure_gamblingcommission_gov_" style="" target="_blank" xt="SPCLICK"><img alt="Gambling Comission" name="Cont_15" src="http://mailers.communicatormail.com/bingoextra/images/templates/icon-footer-gambling.png" style="max-width: 100%;" /></a> <a href="http://www.gamblingcontrol.org/" name="www_gamblingcontrol_org_" target="_blank" xt="SPCLICK"><img alt="Alderney" name="Cont_16" src="http://mailers.communicatormail.com/bingoextra/images/templates/icon-footer-alderney.png" style="max-width: 100%;" /></a></p>
						</td>
					</tr>
					