
  <!-- BODY -->
  <table bgcolor="#fff2d5" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; background: #fff2d5; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; margin: 0; padding: 0;">
          <tr>
            <td>
              <a href="http://www.bingoextra.com"><img src="http://mailers.communicatormail.com/bingoextra/images/unlocked-600x150-be.jpg" border="0" style="max-width: 100%;" alt="Cash Dash" /></a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; margin: 0; padding: 15px; font-size:14px; line-height:1.6;">

              
<p align="left" style="font-size: 11px; margin-bottom:1.5em !important;">Username: %%Alias%% | <a href="https://www.bingoextra.com/forgot-password" style="color: #blue; text-decoration: none;">Forgot password</a>?</p>
              
              <p style="margin-bottom:1em;">Hi %%Firstname%%,</p>
              <h3 style="color: #600a98; line-height: 1.1; font-weight: bold; font-size: 20px; margin: 0 0 5px 0; padding-bottom: 10px;">Your top up offer is ready to claim %%Firstname%%!</h3>
              <p style="margin-bottom:1em;">You've claimed your <strong>%%DisplayDescription%%</strong> and unlocked a <strong>%%ChainDisplayDescription%%</strong> on your next deposit.</p>
              <p style="margin-bottom:1em;">

              <p><strong>How to claim:</strong></p>
              <ul style="list-style-type:none">
              <li>1. Login to BingoExtra.com with your username: %%Username%% and password</li>
              <li>2. Head to the cashier</li>
              <li>3. Top up and select your exclusive <strong>%%ChainDisplayDescription%%</strong></li>
              </ul>

<p>There's always something extra at Bingo Extra, log in and play today %%Firstname%%!</p>


<p align="center" style="margin-top:30px;"><a href="http://www.bingoextra.com/promotions/><img src="http://mailers.communicatormail.com/bingoextra/images/templates/button-msg-claim.png" alt="Claim now!" width="240" height="60" border="0" style="max-width: 100%;" /></a></p>
            </td>
          </tr>