
  <!-- BODY -->
  <table bgcolor="#fff2d5" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; background: #fff2d5; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; margin: 0; padding: 0;">
          <tr>
            <td>
              <a href="http://www.bingoextra.com"><img src="http://mailers.communicatormail.com/bingoextra/images/Generic-BE2.jpg" border="0" style="max-width: 100%;" alt="Cash Dash" /></a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; margin: 0; padding: 15px; font-size:14px; line-height:1.6;">

              
Dear <strong>%%Firstname%%</strong>!<br />

<p align="left" style="margin-bottom:1.5em !important;">Forgot your password huh? No sweat! Thanks for letting us know, we&rsquo;ve reset it to the following:</p>
                   
Username: <strong>%%Alias%%</strong><br />
Password: <strong>%%Password%%</strong><br /><br />

<p align="left" style="margin-bottom:1.5em !important;">Login in now to get back to the games - you can change your password for something more memorable in Personal Details tab once you&rsquo;re back in the swing of things!</p>

<p align="left" style="margin-bottom:1.5em !important;">Just remember to make a note of your new login details somewhere safe before you really let your hair down, and we&rsquo;ll see you there!</p>


<p align="center" style="margin-top:30px;"><a href="http://www.bingoextra.com/promotions/><img src="http://mailers.communicatormail.com/bingoextra/images/templates/button-msg-play.png " alt="Claim now!" width="240" height="60" border="0" style="max-width: 100%;" /></a></p>

            </td>
          </tr>