
  <!-- BODY -->
  <table bgcolor="#fff2d5" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; background: #fff2d5; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; margin: 0; padding: 0;">
          <tr>
            <td>
              <a href="http://www.bingoextra.com"><img src="http://mailers.communicatormail.com/bingoextra/images/Generic-BE2.jpg" border="0" style="max-width: 100%;" alt="Cash Dash" /></a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; margin: 0; padding: 15px; font-size:14px; line-height:1.6;">

              
Hi <strong>%%Firstname%%</strong><br />
Username: %%Alias%%<br>

<p align="left" style="margin-bottom:1.5em !important;">Forgot your password huh?  No sweat! Thanks for letting us know via the &quot;Forgot Password&quot; link, please now click on the link below to visit a page where you will be able to safely and securely reset your password:</p>

<p align="left" style="margin-bottom:1.5em !important;"><a style="font-family: Arial,Helvetica,sans-serif; color:#0b859b; text-decoration:none;" href="http://www.bingoextra.com/forgot-password?PlayerID=%%PlayerID%%&GUID=%%GUID%%"><strong>Reset Password Here</strong></a></p>


<p align="left" style="margin-bottom:1.5em !important;">Done? Now you&rsquo;re ready to rock &rsquo;n&rsquo; roll!  Just be sure to make a note of your new login details somewhere safe before you really let your hair down, and we&rsquo;ll see you back in the rooms!</p>


<p align="center" style="margin-top:30px;"><a href="http://www.bingoextra.com/promotions/><img src="http://mailers.communicatormail.com/bingoextra/images/templates/button-msg-play.png" alt="Claim now!" width="240" height="60" border="0" style="max-width: 100%;" /></a></p>

            </td>
          </tr>