
  <!-- BODY -->
  <table bgcolor="#fff2d5" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; background: #fff2d5; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; margin: 0; padding: 0;">
          <tr>
            <td>
              <a href="http://www.bingoextra.com"><img src="http://mailers.communicatormail.com/bingoextra/images/100-bingo-bonus-be-600x150.jpg" border="0" style="max-width: 100%;" alt="Cash Dash" /></a>
            </td>
          </tr>
          <tr>
<td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 10px; padding-right: 10px; font-size:11px; line-height:1.6;">
<p align="left" style="margin-bottom:1.5em !important;">Username: %%Alias%% | <a href="https://www.bingoextra.com/forgot-password" style="color: #008cba; text-decoration: none;">Forgot password</a>?</p>
              
              <p>Hi %%Firstname%%,</p>              
              <h3 style="color: #f94f86; line-height: 1.1; font-weight: bold; font-size: 20px; margin: 0 0 5px 0; padding-bottom: 10px;">Congratulations on your first deposit</h3>
              
              <p>We just wanted to let you know that you have successfully made your first deposit - thanks!</p>
              <h3 style="color: #f94f86; line-height: 1.1; font-weight: bold; font-size: 20px; margin: 0 0 5px 0; padding-bottom: 10px;">Now claim a 100% bingo bonus!</h3>
              <p>Make your next deposit go further with a special 100% match bonus. Select your offer in the cashier when you deposit £10 or more.</p>


<p align="center" style="margin-top:30px;"><a href="http://www.bingoextra.com/promotions/><img src="http://mailers.communicatormail.com/bingoextra/images/templates/button-msg-freebie.png" alt="Claim now!" width="240" height="60" border="0" style="max-width: 100%;" /></a></p>

            </td>
          </tr>