
  <!-- BODY -->
  <table bgcolor="#fff2d5" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; background: #fff2d5; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; margin: 0; padding: 0;">
          <tr>
            <td>
              <a href="http://www.bingoextra.com"><img src="http://mailers.communicatormail.com/bingoextra/images/pop-art-600x150.jpg" border="0" style="max-width: 100%;" alt="Cash Dash" /></a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; margin: 0; padding: 15px; font-size:14px; line-height:1.6;">

              
<p style="font-size: 17px;">Hi %%Firstname%%,</p>

<p align="left" style="margin-bottom:1.5em !important;"> Welcome to Bingo Extra aka the good old days - when life was simpler and you got more bang for your buck!</p>

<p align="left" style="margin-bottom:1.5em !important;">Please login with the following details:</p>
Username: <strong>%%Alias%%</strong>
Password: as created upon registration (<a style="font-family: Arial,Helvetica,sans-serif; color:#0b859b; text-decoration:none;" href="https://www.bingoextra.com/forgot-password"><strong>Forgot password?</strong></a>)
</p>
                    
<p align="left" style="margin-bottom:1.5em !important;">We put the &lsquo;extra&rsquo; in Bingo Extra right from the start with a choice of Welcome Bonus:</p>


<p align="center" style="margin-bottom:1.5em !important;"><strong>100% bingo bonus or 100% slots bonus</strong></p>

<p>Pick your favourite when you make your first deposit and get free money to start the fun!</p>


<p align="center" style="margin-top:30px;"><a href="http://www.bingoextra.com/promotions/><img src="http://mailers.communicatormail.com/bingoextra/images/templates/button-msg-bonus.png" alt="Claim now!" width="240" height="60" border="0" style="max-width: 100%;" /></a></p>
            </td>
          </tr>