
  <!-- BODY -->
  <table bgcolor="#fff2d5" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; background: #fff2d5; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; margin: 0; padding: 0;">
          <tr>
            <td>
              <a href="http://www.bingoextra.com"><img src="http://mailers.communicatormail.com/bingoextra/images/Help-BE.jpg" border="0" style="max-width: 100%;" alt="Cash Dash" /></a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; margin: 0; padding: 15px; font-size:14px; line-height:1.6;">

              
Hi <strong>%%Firstname%%</strong>!<br />
Username: <strong>%%Alias%%</strong><br /><br />


<p align="left" style="margin-bottom:1.5em !important;">Aw shucks! Your Bingo Extra Account is temporarily locked due to three consecutive failed login attempts.  Please contact the call center to re-activate you account:
</p>

<p align="left" style="margin-bottom:1.5em !important;"><a style="font-family: Arial,Helvetica,sans-serif; color:#0b859b; text-decoration:none;" href="https://www.bingoextra.com/Support"><strong>Contact Support</strong></a>
</p>

<p align="left" style="margin-bottom:1.5em !important;">If you have forgotten your password, please use the &quot;Forgotten Password&quot; link on the homepage, or contact our friendly Support Team who are here to help you.</p>

<p align="left" style="margin-bottom:1.5em !important;">We look forward to seeing you soon back at Bingo Extra soon!</p>

<p align="center" style="margin-top:30px;"><a href="http://www.bingoextra.com/promotions/><img src="http://mailers.communicatormail.com/bingoextra/images/templates/button-msg-play.png " alt="Claim now!" width="240" height="60" border="0" style="max-width: 100%;" /></a></p>

            </td>
          </tr>