<!-- BODY -->

<table bgcolor="#fff2d5" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; background: #fff2d5; margin: 0; padding: 0;">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td style="max-width: 600px; display:block; margin:auto;">
			<table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; margin: 0; padding: 0;">
				<tbody>
					<tr>
						<td><a href="http://www.bingoextra.com" name="www_bingoextra_com" xt="SPCLICK"><img alt="Cash Dash" border="0" height="150" name="Cont_2" src="http://mailers.communicatormail.com/bingoextra/images/welcome-gold.jpg" style="max-width: 100%;" title="Cash Dash" width="600" /></a></td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; margin: 0; padding-left: 15px; padding-right: 15px; font-size: 14px; line-height: 1.6;">
						<p style="font-size: 11px;">Username: %%Username%% | <a href="https://www.bingoextra.com/forgot-password" name="www_bingoextra_com_forgot_pass" style="color: #008cba; text-decoration: none;" xt="SPCLICK">Forgot password</a>?</p>

						<h3 style="color: rgb(14, 87, 110); line-height: 1.1; font-weight: bold; font-size: 20px; margin: 10px 0px 15px; text-align: center;">&nbsp;</h3>

						<p style="font-size: 17px;"><span style="font-size:13px;">Great news, %%Firstname%%!<br />
						<br />
						We have reviewed your account and based on your gameplay, and have decided to upgrade you to Gold VIP level.<br />
						<br />
						To celebrate, we&#39;ve credited&nbsp;you with a very special upgrade&nbsp;bonus, plus you can enjoy the following great benefits:</span></p>

						<ul>
							<li style="font-size: 17px;"><span style="font-size:13px;">&pound;10 Upgrade Bonus&nbsp;</span></li>
							<li style="font-size: 17px;"><span style="font-size:13px;">2 Daily Free Spins</span></li>
							<li style="font-size: 17px;"><span style="font-size:13px;">2 Daily Free Cards</span></li>
						</ul>

						<p style="font-size: 17px;"><span style="font-size:13px;"><br />
						We thank you for choosing to play with Bingo Extra and look forward to seeing you on the site.<br />
						<br />
						<span style="font-size:11px;">Terms &amp; Conditions: Entry into and downgrades from the VIP levels are subject to the discretion of management. Please visit&nbsp;the VIP page for <a href="https://www.bingoextra.com/extra-club/" name="Hyperlink_20171003_104816138" target="_blank" xt="SPCLICK">more details.</a>&nbsp;Upgrade bonus will expire 7 days after being credited. 25xWR. 5x rate convertible to real. Not available on progressive jackpots.</span></span></p>

						<p style="font-size: 17px; text-align: center;"><a href="http://www.bingoextra.com" name="www_bingoextra_com_promotions" style="text-align: center; background-color: rgb(255, 242, 213);" xt="SPCLICK"><img alt="Claim now!" border="0" height="60" name="Cont_3" src="http://mailers.communicatormail.com/bingoextra/images/templates/button-msg-claim.png" style="max-width: 100%;" title="Claim now!" width="240" /></a></p>
						</td>
					</tr>
					