﻿
  <!-- BODY -->
  <table bgcolor="#fff2d5" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; background: #fff2d5; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; margin: 0; padding: 0;">
          <tr>
           <td>
              <a href="http://www.bingoextra.com"><img src="http://mailers.communicatormail.com/bingoextra/images/welcome-emerald.jpg" border="0" style="max-width: 100%;" alt="Cash Dash" /></a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; margin: 0; padding: 15px; font-size:14px; line-height:1.6;">

              
Dear <strong>%%Alias%%</strong>!<br />


<p align="left" style="margin-bottom:1.5em !important;">We have reviewed your account and based on your gameplay, we have moved you to the Emerald VIP level and would like to offer you a bonus. Log into your account to find out what it is! </p>

<p align="left" style="margin-bottom:1.5em !important;">Membership into this level is by invite only and you can expect to get the very best treatment from our dedicated VIP Managers.</p>

<p align="left" style="margin-bottom:1.5em !important;"><strong>As an Emerald player you can enjoy the following great benefits</strong></p>

<ul>
  <li><strong>£50</strong> Birthday Bonus</li>
  <li><strong>Personalised VIP customer service</strong></li>
  <li>Reduced withdrawal times</li>
  <li>Frequent cash drop offers</li>
  <li>Double bonus days</li>
  <li>Dedicated VIP Manager</li>
  <li>4 Daily Free Spins</li>
  <li>4 Daily Free Cards</li>

</ul>


<p align="left" style="margin-bottom:1.5em !important;">I personally thank you for choosing to play with Bingo Extra and look forward to giving you the star treatment! Please feel free to call me during office hours. My details are: Mobile: +44 (0) 7585229120.</p>

<img src="http://mailers.communicatormail.com/bingoextra/images/malcolm-signature.jpg"><br>
Bingo Extra VIP Manager</p>
 
<p align="left" style="margin-bottom:1.5em !important;">Terms &amp; Conditions: Entry into and downgrades from the VIP levels are subject to the discretion of management.<a href="https://www.bingoextra.com/extra-club/" target="blank">
Please visit the VIP page for more details. </a></p>




<p align="center" style="margin-top:30px;"><a href="http://www.bingoextra.com/promotions/><img src="http://mailers.communicatormail.com/bingoextra/images/templates/button-msg-freebie.png" alt="Claim now!" width="240" height="60" border="0" style="max-width: 100%;" /></a></p>

            </td>
          </tr>