.community-heading {
       font-family: $heading-font-bold;
       font-size: 18px;
    color: $blackrock-blue;
    margin-left: 0;
    background: none !important;
    height: 50px;
}

.community-nav__container {
    @include grid-row;
    background-color: none;
    margin-bottom: $site-margin;
    padding: 0 0;
    padding-top: 4px;
    padding-left: 4px;
    float: left;
    margin-top: -50px;
    @media #{$medium-only} {
        float: right;
        display: block;
        padding-top: $site-margin;
        margin-top: -43px;
        padding: 0;
    }
    @media #{$small-only} {
        float: right;
        @include grid-column(12);
        padding-top: $site-margin;
        margin-top: -20px;
        margin-bottom: $site-margin / 2;
    }
    dd {
        margin: 0 0;
        margin-left: 7px;
        border-style: none;
        float: right;
        @media #{$small-only} {
            @include grid-column(3, $float: left, $collapse: true);
            text-align: center;
            height: 30px;
            width: 22%;
        }
        a {
            font-family: $heading-font-bold;
            padding: 10px 10px;
            font-size: 12px;
            font-weight: bold;
            background: #04cde8;
            border: 1px solid darken($off-white, 5%);
            color: $white;
            text-align: center;
            @include border-top-left-radius(3px);
            @include border-top-right-radius(3px);
            &:hover {
                color: $black;
                background: #F8F8F8;
            }
            @media #{$small-only} {
                display: block;
                margin: 0 0;
                line-height: 16px;
                text-align: center;
                border: none;
                @include border-radius(3px);
                font-size: 11px !important;
                padding: 5px;
            }
        }
        &.active {
            a, a:hover {
                font-size: 12px;
                font-weight: bold;
                cursor: default;
                background-color: $main-highlight-color;
                color: $white;
            }
        }
        &.first {
            a {}
        }
        &.last {
            margin-right: 0px;
            a {}
        }
        @media #{$small-only} {
            margin-bottom: 12px;
            border-top: none;
            border-bottom: none;
        }
    }
}