.search-input {
    position: relative;
    font-size: 1rem;
    > input[type=text], input[type=password] {
        font-size: 0.8em;
        width: 100%;
        padding: 8px 8px 8px 8px;
        border-radius: 3px;
        // box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1), inset 2px 2px 2px rgba(0, 0, 0, 0.2);
        background: $white;
        color: $black;
        transition: color 0.3s ease-out;
        height: 24px;
        margin-top: 6px;
    }
    input[type=text] {
        margin-bottom: 0px;
    }
    .search-input__icon {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 26px;
        height: 27px;
        background: url("/_images/revamp/common/icons/search-icon.svg");
        background-size: 26px 27px;
        background-repeat: no-repeat;
    }
}

// no choice on using these importants as need to overrule existing important usage from many other partials
.desktop-search-results-container {
    top: 26px;
    border-radius: 0;
    background: $black !important;
    border:1px solid $regalwins--border;
    width: 192px !important;
    margin-left: 0 !important;
    top: 49px !important;
    border-bottom-left-radius: 3px;

    .search-result {
        height: 67px !important;
        -webkit-transition: all 0.3s ease-in-out;                    
        -o-transition: all 0.3s ease-in-out;                    
        transition: all 0.3s ease-in-out;

        a { padding-top: 6px !important; }

        &.search-result-highlight {
            background: $regalwins--gray-darkest !important;
            -webkit-transition: all 0.3s ease-in-out;                    
            -o-transition: all 0.3s ease-in-out;                    
            transition: all 0.3s ease-in-out;
        }

        .search-result__name {
            .search-result__name__inner {
                font-family: $base-font-family;
                color: $white !important;
                -webkit-transition: all 0.3s ease-in-out;                    
                -o-transition: all 0.3s ease-in-out;                    
                transition: all 0.3s ease-in-out;

                &:hover {
                    -webkit-transition: all 0.3s ease-in-out;                    
                    -o-transition: all 0.3s ease-in-out;                    
                    transition: all 0.3s ease-in-out;
                    color: $gold !important;
                }
            }
        }
    }

    li { 
        color: $white !important; 
        border: none !important;

        &:hover {
            background: $regalwins--gray-darkest !important;
            border: none !important;
        }
    }

    > li:first-child {
        &:hover {
            // border-top-left-radius: 7px;
            // border-top-right-radius: 7px;
        }
    }
    > li:last-child {
        border-bottom: none;
        // &:hover {
        //     border-bottom-left-radius: 7px;
        //     border-bottom-right-radius: 7px;
        // }
    }
}