table {
    border-radius: 0px !important;
    border: 1px solid $regalwins--black !important;
    border-spacing: 2px;
    thead {
        tr {
            td {
                background: $regalwins--login;
                a {
                    color: $white;
                    &:hover {
                        color: $white;
                    }
                }
            }
            th {
                p {}
            }
        }
    }
    tr {
        &:first-child {
            td {
                color: $white;
            }
        }
        td {
            color: $white;
        }
    }
}

#myaccount-3,
#banking,
#loyaltyvip-points,
#loyaltyvip-club,
#ajax-wrapper {
    table {
        background: $regalwins--border;
        border-spacing: 1px;
        @media #{$small-only} {
            border: none !important;
        }
        td {
            &:before {
                color: $white;
            }

            & img {
                width: auto !important;
                height: auto;
            }
        }
    }
    table thead > tr > td {
        color: $white;
        background: $regalwins--gray-dark;
    }
    table tr {
        background: $regalwins--login;
    }
    table > td {
        color: $white;
    }
    table tr:nth-of-type(even) {
        background: $regalwins--gray;
    }
    table tr:nth-of-type(odd) {
        background: $regalwins--module-background;
    }
    table.responsive tr th {
        background: $regalwins--gold;
        color: $black !important;
    }

    table.responsive thead > tr > td, table.responsive .table-hide-small td {
        background: $black;
        color: $white;
        font-weight: bold;
        padding: 0;
    }

    #details-container {
        span {
            color: $white;
        }
    }
    table.responsive {
        td[data-th] {
            p {
                margin-top: 0;
                line-height: 1.3;
            }
        }
    }

    table.responsive td {
        padding: 10px 20px !important;
    }
}
