.ui-datepicker-header {
    background-color: $regalwins--gray-dark;
    .ui-datepicker-prev {
        margin-right: 10px;
    }
}

.ui-datepicker-calendar thead {
    background: $regalwins--gray-dark !important;
}

.ui-datepicker-today {
    background-color: #D18280 !important;
}

.ui-datepicker-current-day {
    background-color: #FFD09C !important;
}

.ui-datepicker-title {
}