<!-- BODY -->

<table bgcolor="#011a39" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #011a39; margin: 0; padding: 0;">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td style="max-width: 600px; display:block; margin:auto;">
			<table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
				<tbody>
					<tr>
						<td><a href="http://www.luckyvip.com" name="www_luckyvip_com" xt="SPCLICK"><img alt="Happy Birthday" border="0" height="150" name="Cont_2" src="http://mailers.daub8.com/luckyvip/images/system/birthday.jpg " style="max-width: 100%;" title="Happy Birthday" width="600" /></a></td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="font-family: Helvetica, Helvetica, Arial, sans-serif; margin: 0px; padding-left: 15px; padding-right: 15px; font-size: 14px; line-height: 1.6;">
						<p align="left" style="color: rgb(97, 97, 97); font-size: 11px; margin-bottom: 1.5em !important;">Username: %%Alias%%&nbsp;| <a href="https://www.luckyvip.com/forgot-password" name="www_luckyvip_com_forgot_pass" style="color: #011a39; text-decoration: none;" xt="SPCLICK">Forgot password</a>?</p>

						<h3 style="color: rgb(1, 26, 57); line-height: 1.1; font-weight: bold; font-size: 20px; margin: 0px 0px 5px; padding-bottom: 10px;">Happy Birthday %%Firstname%%!</h3>

						<p style="margin-bottom: 1em;">To help you celebrate your special day, we&#39;ve dropped a <strong style="color: rgb(97, 97, 97);"><span style="color:#011a39;">&pound;5 bonus gift </span></strong>in your Lucky VIP account! Log in now&nbsp;and try your birthday luck on our 100&#39;s of&nbsp;awesome games.<br />
						<br />
						To keep the&nbsp;celebrations going,&nbsp;we&#39;ve&nbsp;rustled together a <span style="color:#011a39;"><strong>special 100%&nbsp;bonus,</strong></span>&nbsp;to give you even more lucky funds on your birthday.&nbsp;<br />
						<br />
						Head over to<span style="color:#011a39;">&nbsp;</span><a href="http://www.luckyvip.com" name="Hyperlink_20161108_161657917" target="_blank" xt="SPCLICK"><span style="color:#0000FF;"><strong>www.luckyVIP.com</strong></span></a>&nbsp;now and claim your <span style="color:#011a39;"><strong>100% match up to &pound;50</strong></span>&nbsp;by entering code <span style="color:#011a39;"><strong>BDAY</strong></span> when you make your next deposit.<span style="color:#011a39;"></span></p>

						<p style="color: rgb(97, 97, 97); margin-bottom: 1em; text-align: center;"><a href="www.luckyvip.com" name="www_luckyvip_com_login" style="background-color: rgb(1, 26, 57);" xt="SPCLICK"><img alt="Claim now!" border="0" height="50" name="Cont_3" src="http://mailers.daub8.com/luckyvip/images/system/button-msg-claim.png" style="max-width: 100%;" title="Claim now!" width="240" /></a></p>
						</td>
					</tr>
					<!-- SIGNATURE -->