<!-- BODY -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="max-width: 680px;" width="100%">
				<tbody>
					<tr>
						<td>
						<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
							<tbody>
								<tr>
									<td align="center" style="padding:0px 0px 0px 0px;"><a href="https://www.luckyvip.com/" id="main_image" name="main_image" target="_blank" xt="SPCLICK"><img alt="main-image" aria-hidden="true" border="0" class="fluid g-img" height="auto" id="image_2" name="image_2" src="http://mailers.daub8.com/luckyvip/images/birthday-ruby.jpg" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" width="680" /></a></td>
								</tr>
							</tbody>
						</table>

						<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
							<tbody>
								<tr>
									<td align="center" style="padding:40px 40px 20px 40px;">
									<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:32px;line-height:38px;color:#00193a; font-weight:bold;">HAPPY BIRTHDAY, %%Username%% !</td>
											</tr>
											<tr>
												<td align="center" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">To help you celebrate on this very special day, I&rsquo;ve wrapped up some special treats especially for you!<br />
												<br />
												It gives me great pleasure to tell you that you&#39;ve got a <strong>&pound;50 bonus gift! </strong>Its ready for you to claim- no deposit required!</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>

						<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
							<tbody>
								<tr>
									<td align="center" style="padding:40px 40px 20px 40px;">
									<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:22px;line-height:28px;color:#00193a; font-weight:bold;">HOW TO CLAIM YOUR GIFT:</td>
											</tr>
											<tr>
												<td align="center">
												<table border="0" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
															<td style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#1caef8; font-weight:bold;" valign="top">1.</td>
															<td align="left" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:24px;color:#333333;" valign="top">Log into your account on LuckyVIP.com</td>
														</tr>
														<tr>
															<td style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#1caef8; font-weight:bold;" valign="top">2.</td>
															<td align="left" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:24px;color:#333333;" valign="top">Head to the Claim Code section in &quot;My Account&quot;</td>
														</tr>
														<tr>
															<td style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#1caef8; font-weight:bold;" valign="top">3.</td>
															<td align="left" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:24px;color:#333333;" valign="top">Enter in code: <strong>BDAY </strong>and submit to receive your instant credit</td>
														</tr>
														<tr>
															<td style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#1caef8; font-weight:bold;" valign="top">4.</td>
															<td align="left" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:24px;color:#333333;" valign="top">Spend your bonus on your favourite slots!</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
											<tr>
												<td align="center" style="padding:0px 0px 20px 0px;">
												<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin: auto;">
													<tbody>
														<tr>
															<td align="center" style="padding:0px 0px 0px 0px;" valign="top">
															<table border="0" cellpadding="0" cellspacing="0" class="wrapcta">
																<tbody>
																	<tr>
																		<td style="color:#00193a;border-radius:3px; background:#ffc700; text-align: center;font-family:arial, sans-serif;font-size:18px;line-height:21px;padding:10px 20px 10px 20px;font-weight:bold;"><a href="https://www.luckyvip.com/" id="secondary_cta" name="secondary_cta" style="color:#00193a; display: block; text-decoration: none;" target="_blank" xt="SPCLICK">CLAIM NOW</a></td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>

						<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px; background: #ececec;">
    <tr>
        <td style="padding: 20px 20px 20px 20px; text-align: left; font-family:arial, sans-serif; font-size: 12px; line-height: 20px; color: #A3A3A3;">&bull; This bonus carries a 15x wagering requirement.<br />
												&bull; Upon completion of the wagering requirement, the initial bonus amount will be deducted from your balance and up to a maximum of 10x the initial bonus amount can be converted to Real.<br />
												&bull; Bonus wins only are convertible to real upon completion<br />
												&bull; Bonus expires 7 days after having been claimed<br />
												&bull; General and Promotional Terms and Conditions <a href="https://www.luckyvip.com/terms-and-conditions/general-promotional-terms-and-conditions/" id="link_1" name="link_1" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK">apply.</a></td>
    </tr>
</table>
					