<!-- BODY -->
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
      <tr>

        <td bgcolor="#f7f3fc" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:20px;">
<h3 style="line-height: 1.1; font-weight: 500; font-size: 22px;">Hi %%Firstname%%,</h3>


<p>This is a short message confirming that you have qualified for a Cashback Bonus.</p>
<br>
<p>Your Cashback Bonus amounts to %%Amount%% and can be played with on all scratch cards and slot games, excluding progressives.</p>
<br>
<!-- <p>Once you have completed the wagering requirement of 10x, the winnings will be converted to real funds up to a maximum amount of £5,000.</p>
<br> -->
<p>With the Cashback Bonus, you can take another crack at the casino and win big!</p>
<br><br>
<p><a href="https://www.magicalvegas.com/promotions/exclusive-daily-cashback/">For full details please click here</a>
<br><br>
<p>Kind regards,</p>
<p><strong>The Magical Vegas VIP Team</strong></p>

</td>

</tr>
</table>
<!-- /BODY -->