<!-- BODY -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">
    <tr>
        <td>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:0px 0px 0px 0px;">
                        <a target="_blank" xt="SPCLICK" href="https://www.luckyvip.com/" name="main_image" id="main_image"><img src="http://mailers.daub8.com/luckyvip/images/claim-bonusback-mailer.jpg" aria-hidden="true" width="680" height="auto" alt="main-image" border="0" class="fluid g-img" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" name="image_2" id="image_2" /></a></td>
                </tr>
            </table>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:40px 40px 20px 40px;">
                        <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:32px;line-height:38px;color:#00193a; font-weight:bold;">
                                    Your BonusBack is waiting!
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">
                                    Hi %%Firstname%%,
                                    <br />
                                    <br />You&#x2019;ve qualified for your %%CurrencySymbol%%%%Amount%% BonusBack!
                                    <br />
                                    <br />To claim, simply log into your <a href="http://www.luckyvip.com/" name="link_1" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK" id="link_1"><strong>LuckyVIP.com</strong></a> account and <strong>hit the CLAIM button</strong> in your <strong>'My Account' section.</strong>
                                    <br />
                                    <br />Your BonusBack will expire by %%ExpireDate%%, so don't hang about!
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:40px 40px 20px 40px;">
                        <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px;">
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;" align="center">
                                        <tr>
                                            <td align="center" valign="top" style="padding:0px 0px 0px 0px;">
                                                <table border="0" cellspacing="0" cellpadding="0" class="wrapcta">
                                                    <tr>
                                                        <td style="color:#00193a;border-radius:3px; background:#ffc700; text-align: center;font-family:arial, sans-serif;font-size:18px;line-height:21px;padding:10px 20px 10px 20px;font-weight:bold;">
                                                            <a target="_blank" href="https://www.luckyvip.com/" xt="SPCLICK" name="secondary_cta" style="color:#00193a; display: block; text-decoration: none;" id="secondary_cta">CLAIM NOW</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:40px 40px 20px 40px;">
                        <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">
                                    Good luck from the Lucky VIP Team!
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
					<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px; background: #ececec;">
                                <tr>
                                    <td style="padding: 20px 20px 20px 20px; text-align: left; font-family:arial, sans-serif; font-size: 12px; line-height: 20px; color: #A3A3A3;">&#x2022; BonusBack will be awarded based on the applicable % of the player&#x2019;s loss on their total deposits on all games for the week.
                                        <br />&#x2022; A BonusBack week runs from Friday 00.01 to Thursday 23.59 GMT.
                                        <br />&#x2022; Promotions are only valid to eligible members.
                                        <br /> &#x2022; Players are required to claim their BonusBack by accessing the start page and clicking on the Claim Now tab.
                                        <br /> &#x2022; BonusBack will be available to claim for 7 days before it expires.
                                        <br /> &#x2022; BonusBack expires every Thursday at midnight.
                                        <br /> &#x2022; Maximum BonusBack amount is £250 for Gold, £500 for Ruby and £1,000 for Emerald.
                                        <br /> &#x2022; BonusBack Bonus money can be played with on all scratch cards and slot games, excluding progressives.
                                        <br /> &#x2022; The bonus is for play purposes only. Bonus and bonus winnings can be converted to £500 for Gold, £1000 for Ruby and £2500 for Emerald depending on the availability of funds at time of wagering completion, unless stated otherwise for specific BonusBack promos.
                                        <br /> &#x2022; A BonusBack bonus carries a 20x wagering for Gold and 10x wagering for Ruby &amp; Emerald.
                                        <br /> &#x2022; For more information on the promotion, <a href="https://www.luckyvip.com/promotions/weeklybonusback/" name="link_2" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK" id="link_2">click here</a>
                                        <br />&#x2022; General and Promotional Terms and Conditions <a href="https://www.luckyvip.com/terms-and-conditions/general-promotional-terms-and-conditions/" name="link_3" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK" id="link_3">apply.</a></td>
                                </tr>
                      </table>