<!-- CONTENT -->
<table style="width: 100%;" cellpadding="0" cellspacing="0">
    <tr>
        <td bgcolor="#FFFFFF" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; display: block; max-width: 600px; margin:auto; padding-bottom:10px;">      
            
            <table style="width: 100%;" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <a href="https://www.magicalvegas.com/login"><img src="http://mailers.communicatormail.com/magicalvegas/images/gen-nov-3-600x150.jpg"  /></a>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#FFFFFF" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:20px;">
                        <p style="color: #494949; font-weight: bold; font-size: 20px; ">Hi %%Firstname%%,</p>
                        <p style="color: #494949; font-weight: normal; font-size: 13px; "><strong>Username</strong>: %%Username%%,</p>
                        <p>It was a pleasure speaking to you. This email is a confirmation of the fabulous offer we talked about:</p>
                        <p style="color: #494949; font-weight: normal; font-size: 15px; "><strong>You have £10 FREE and a 200% match bonus up to £150!</strong></p>
                        <p>Access your account now and enjoy your free bonus. As for the magical match up, simply <strong>select it in the cashier on your next deposit</strong>.</p>
                        <p>This offer expires next Tuesday, so don't wait too long - Claim it today!</p>
                        <p>The Magical Vegas Team
                            <p>
                    </td>
                </tr>
            </table>

            <p align="center" style="margin-top:0px; margin-bottom:10px">
                <a href="http://www.magicalvegas.com/login">
                    <img src="http://mailers.communicatormail.com/magicalvegas/images/template/cta-secondary-180x50.png" alt="Play now" border="0" style="max-width: 100%;" />
                </a>
            </p>

        </td>
    </tr>
</table>
<!-- /CONTENT -->
