<!-- BODY -->

<table bgcolor="#011a39" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #011a39; margin: 0; padding: 0;">
    <tbody>
        <tr>
            <td>&nbsp;</td>
            <td style="max-width: 600px; display:block; margin:auto;">
            <table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
                <tbody>
                    <tr>
                        <td><a href="http://www.luckyvip.com" name="www_luckyvip_com" xt="SPCLICK"><img alt="Happy Birthday" border="0" name="Cont_2" src="http://mailers.daub8.com/luckyvip/images/system/welcome.jpg " style="max-width: 100%;" title="Happy Birthday" /></a></td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="font-family: Helvetica, Helvetica, Arial, sans-serif; margin: 0px; padding-left: 15px; padding-right: 15px; font-size: 14px; line-height: 1.6;">
                        <p align="left" style="color: rgb(97, 97, 97); font-size: 11px; margin-bottom: 1.5em !important;">Username: %%Alias%%&nbsp;| <a href="https://www.luckyvip.com/forgot-password" name="www_luckyvip_com_forgot_pass" style="color: #011a39; text-decoration: none;" xt="SPCLICK">Forgot password</a>?<br />
                        <br />
                        <span style="font-size:14px;">Hi %%Firstname%%,</span></p>

                        <h3 style="color: rgb(1, 26, 57); line-height: 1.1; font-weight: bold; font-size: 20px; margin: 0px 0px 5px; padding-bottom: 10px;">Congratulations on making your first deposit!</h3>

                        <p style="margin-bottom: 1em;">We just wanted to let you know that you&#39;ve successfully made your first deposit - thanks!&nbsp;<br />
                        <br />
                        <span style="font-size:17px;"><strong><span style="color:#011a39;">Now claim a 50% match bonus!</span></strong></span><br />
                        <br />
                        Make your next deposit go further with a special 50% match bonus!&nbsp;Go to <a href="http://" name="Hyperlink_20161114_130833972" target="_blank" xt="SPCLICK"><strong>LuckyVIP.com </strong></a>and select your offer in the cashier when you deposit &pound;10 or more.</p>

                        <p style="color: rgb(97, 97, 97); margin-bottom: 1em; text-align: center;"><a href="www.luckyvip.com" name="www_luckyvip_com_login" style="background-color: rgb(1, 26, 57);" xt="SPCLICK"><img alt="Claim now!" border="0" height="50" name="Cont_3" src="http://mailers.daub8.com/luckyvip/images/system/button-msg-claim.png" style="max-width: 100%;" title="Claim now!" width="240" /></a></p>
                        </td>
                    </tr>