<!-- BODY -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">
    <tr>
        <td>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:0px 0px 0px 0px;">
                        <a target="_blank" xt="SPCLICK" href="https://www.luckyvip.com/" name="main_image" id="main_image"><img src="http://mailers.daub8.com/luckyvip/images/fortunium-welcome-mailer.jpg" aria-hidden="true" width="680" height="auto" alt="main-image" border="0" class="fluid g-img" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" name="image_2" id="image_2" /></a></td>
                </tr>
            </table>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:40px 40px 20px 40px;">
                        <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:32px;line-height:38px;color:#00193a; font-weight:bold;">
                                    %%Firstname%%, welcome to Lucky VIP!
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">
                                    Discover the online casino with VIP treatment and start with a 150% Welcome Bonus on your 1st deposit!
                                    <br />
                                    <br />At Lucky VIP you will find the best selection of table and card games, scratchcards and of course slots from all your favourite providers.

                                    <br />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:40px 40px 20px 40px;">
                        <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:22px;line-height:28px;color:#00193a; font-weight:bold;">
                                    How to claim your 1st deposit offer:

                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td valign="top" style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#1caef8; font-weight:bold;">
                                                1.
                                            </td>
                                            <td align="left" valign="top" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:24px;color:#333333;">
                                                Log into your Lucky VIP account with username %%Alias%%
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#1caef8; font-weight:bold;">
                                                2.
                                            </td>
                                            <td align="left" valign="top" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:24px;color:#333333;">
                                                Go to the cashier and select your 150% Welcome Bonus<!-- <a href="https://www.luckyvip.com/cashier" name="link_1" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK" id="link_1">Cashier</a> -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#1caef8; font-weight:bold;">
                                                3.
                                            </td>
                                            <td align="left" valign="top" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:24px;color:#333333;">
                                                Deposit and play
                                            </td>
                                        </tr>
<!--                                         <tr>
                                            <td valign="top" style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#1caef8; font-weight:bold;">
                                                4.
                                            </td>
                                            <td align="left" valign="top" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:24px;color:#333333;">
                                                Make a first deposit of £10 - £50
                                            </td>
                                        </tr> -->
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px;">
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;" align="center">
                                        <tr>
                                            <td align="center" valign="top" style="padding:0px 0px 0px 0px;">
                                                <table border="0" cellspacing="0" cellpadding="0" class="wrapcta">
                                                    <tr>
                                                        <td style="color:#00193a;border-radius:3px; background:#ffc700; text-align: center;font-family:arial, sans-serif;font-size:18px;line-height:21px;padding:10px 20px 10px 20px;font-weight:bold;">
                                                            <a target="_blank" href="https://www.luckyvip.com/" xt="SPCLICK" name="secondary_cta" style="color:#00193a; display: block; text-decoration: none;" id="secondary_cta">CLAIM NOW</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:40px 40px 20px 40px;">
                        <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">
                                    Good luck from the Lucky VIP Team!
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px; background: #ececec;">
                    <tr>
                        <td style="padding: 20px 20px 20px 20px; text-align: left; font-family:arial, sans-serif; font-size: 12px; line-height: 20px; color: #A3A3A3;">This 150% Bonus offer is valid on your 1st deposit of min &pound;10 - &pound;100, with a max bonus of &pound;150. This bonus must be selected in the cashier prior to making your deposit. This deposit bonus cannot be used on progressive slots, live casino games and all exclusions as per General Promotional T&C's. Funds from your real balance will be used first before bonus becomes playable. Winnings from this bonus will be credited to your bonus wins balance. Winnings from bets placed with real and bonus funds will be paid out proportionally in real and bonus money. Wagering requirements (WR) is 25 times the sum of your (deposit + bonus) amount. This bonus expires after 7 days unless otherwise stated. On completion of WR, bonus winnings up to a maximum of &pound;250 will be converted to real cash. Your deposit amount can be withdrawn at any time however, bonus and bonus wins will be declared null and void if the WR has not been met. Players claiming this offer are not eligible for the standard 1st deposit offer. General and Promotional Terms & Conditions apply.</td>
                    </tr>
                </table>