﻿<!-- BODY -->

<table bgcolor="#011a39" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #011a39; margin: 0; padding: 0;">
    <tbody>
        <tr>
            <td>&nbsp;</td>
            <td style="max-width: 600px; display:block; margin:auto;">
            <table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
                <tbody>
                    <tr>
                        <td><a href="http://www.luckyvip.com" name="www_luckyvip_com" xt="SPCLICK"><img alt="You've been upgraded" border="0" name="Cont_2" src="http://mailers.daub8.com/luckyvip/images/system/VIP-silver.jpg" style="max-width: 100%;" title="You've been upgraded" /></a></td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="font-family: Helvetica, Helvetica, Arial, sans-serif; margin: 0px; padding-left: 15px; padding-right: 15px; font-size: 14px; line-height: 1.6;">
                        <p align="left" style="color: rgb(97, 97, 97); font-size: 11px; margin-bottom: 1.5em !important;">Username: %%Alias%%&nbsp;| <a href="https://www.luckyvip.com/forgot-password" name="www_luckyvip_com_forgot_pass" style="color: #011a39; text-decoration: none;" xt="SPCLICK">Forgot password</a>?</p>

                        <h3 style="color: rgb(1, 26, 57); line-height: 1.1; font-weight: bold; font-size: 20px; margin: 0px 0px 5px; padding-bottom: 10px;">Congratulations - You&#39;re now a Silver VIP!</h3>

                        <p style="margin-bottom: 1em;">Hi %%Firstname%%,<br />
                        <span style="color:#011a39;"></span><br />
                        Great news! I&rsquo;ve taken a look at your account and&nbsp;I&rsquo;ve decided to move you up to the Silver VIP level.&nbsp;<br />
                        <br />
                        To celebrate, I&#39;ve <span style="color:#011a39;"><strong>dropped a &#39;Congrats Bonus&#39; </strong></span>in<span style="color:#011a39;"></span> your<a href="http://www.luckyvip.com" name="Hyperlink_20161110_174249917" target="_blank" xt="SPCLICK"> <strong><span style="color:#0000FF;">LuckyVIP.com</span></strong></a> account!<br />
                        <br />
                        Enjoy!</p>
                        </td>
                    </tr>