.error-page {
    @include grid-column(12, $collapse: true);

    @include clearfix;

    font-size: 1rem;
    text-align: center;

    // @include be-box;

    padding-top: $site-margin;
    background: none;
    border: none;

    @media #{$large-up} {
        padding-top: $site-margin * 2;
    }

    @media #{$small-only} {
        padding: $site-margin;
    }

    .error-page__image {
        @include grid-column(6, $collapse: true);

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }

        @media #{$medium-only} {
            @include grid-column(6, $collapse: true);
        }

        img {
            width: 80%;
        }
    }

    .error-page__text {
        @include grid-column(6, $collapse: true);

        font-family: $title1-font;
        padding: 0.8em;
        text-align: center;
        padding-right: 30px;
        margin-top: 100px;

        @media #{$medium-only} {
            margin-top: 30px;
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);

            margin-top: 10px;
        }

        > .registercta {
            @include grid-column(3, $collapse: true);

            @media #{$small-only} {
                @include grid-column(3, $collapse: true);
            }
        }

        .error-page__error {
            color: $nav-main-color;
            font-family: $title1-font;
            line-height: 1;

            @media #{$small-only} {
                font-size: 3em;
            }

            @media #{$medium-only} {
                font-size: 4em;
            }

            @media #{$large-up} {
                font-size: 6em;
            }
        }

        .error-page__msg {
            font-family: $title1-font;
            color: $nav-main-color;

            @media #{$small-only} {
                font-size: 1.5em;
            }

            @media #{$medium-only} {
                font-size: 1em;
            }
        }

        .error-page__suggestion {
            @include grid-column(12, $center: true);

            font-size: 1.3em;
            text-align: center;
            font-family: $title1-font;
            text-decoration: underline;

            a {
                text-decoration: none;
                color: $global-link-color;

                @media #{$large-up} {
                    color: $white;
                }
            }
        }

        p {
            line-height: 100%;
        }
    }
}