// First page visit loader with full page background

.loading-first {
    padding-top: 20%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;

    text-align: center;

    .spinner {
        margin-top: 40px;
    }
}

// secondary loader without full page background

.loading {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 75px;
    margin-top: -37px;
    margin-left: -37px;
    z-index: 999999;
    @include border-radius(10px);
    @include vert-align(50px);
    text-align: center;

    opacity: 0.7;
    padding: 10px;
    height: 75px !important;
}