.section {
    @include grid-column(12, $collapse: true);

    padding-top: 0;

    .section__header {
        border-radius: 4px 4px 0px 0px;
    }

    .section__title {
        @include grid-column(12, $collapse: true);
       


        > a {
            color: $brand-color;
            text-transform: uppercase;
        }

        @media #{$medium-only} {
            width: 100%;
            font-size: 2em;

            > a {
              @include section--section-title--mobile;
            }
        }

        @media #{$small-only} {
            font-size: 1.9em;

            > a {
          @include section--section-title--mobile;
            }
        }
    }

    .section__subtitle {
        @include grid-column(12);

        float: left;
        padding: 10px;
        font-size: 1.5em;
        color: $brand-color-light;
        font-family: $title-section !important;

        @media #{$small-only} {
            @include grid-column(12);

            padding-left: 10px;
            padding-right: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            border: none;
            background-color: $white;
        }

        @media #{$medium-only} {
            padding-left: 10px;
        }
    }

    &.cashier-wrapper {
        position: relative;

        .section-left__title {
            @media #{$small-up} {
                display: block !important;
            }
        }

        .section-left__title {
            h4:after {
                border-bottom: none;
            }
        }
    }
}

// Big Section Title separating inside sections
.section-full-width__title {
    @include grid-column(12);

    font-family: $title-section !important;

    @media #{$large-up} {
        width: 100%;
    }
}

.section-full-width__title h4:before {
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 1;

    @media #{$small-only} {
        top: 15px;
    }
}

.section-full-width__title h4:after {
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 15px;
    width: 100%;
    z-index: 1;

    @media #{$small-only} {
        top: 30px;
    }
}

.section-full-width__title h4 {
    font-size: 1.4em;
    font-weight: normal;
    margin-bottom: $site-margin;
    position: relative;
    text-align:  inherit;

    @media #{$small-only} {
        font-size: 0.7em;
    }
}

.section-full-width__title h4 span {
    position: relative;
    z-index: 2;
    padding: 0px 30px;

    @media #{$medium-only} {
        padding: 10px 30px;
    }

    @media #{$small-only} {
        padding: 5px 15px;
    }
}

// Big Section Title FOR AQUISTION TEXT
.section-full-width__title__aquisition {
    @include grid-column(12, $collapse: true);

    font-family: $title-section !important;
    background-image: linear-gradient(0deg, #E9DDED 2%, #FFFFFF 100%);

    h1 {
        color: $nav-active-color !important;
        font-size: 2em;
        padding: $site-margin !important;
        margin: 0 !important;
    }

    @media #{$large-up} {
        width: 100%;
    }
}

.section-full-width__title__aquisition h1:before {
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 1;

    @media #{$small-only} {
        top: 10px;
    }
}

.section-full-width__title__aquisition h1:after {
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 35px;
    width: 100%;
    z-index: 1;

    @media #{$small-only} {
        top: 20px;
    }
}

.section-full-width__title__aquisition h1 {
    font-size: 2em;
    font-weight: normal;
    margin-bottom: $site-margin;
    position: relative;
    text-align: center;
    margin-top: $site-margin * 2;
    color: $mine-shaft;

    @media #{$medium-only} {
        font-size: 2em;
        line-height: 1em;
    }

    @media #{$small-only} {
        font-size: 1.3em;
        line-height: 1em;
    }
}

.section-full-width__title__aquisition h1 span {
    position: relative;
    z-index: 2;
    padding: 0px 30px;

    @media #{$medium-only} {
        padding: 10px 30px;
    }

    @media #{$small-only} {
        padding: 13px 15px;
    }
}

.register-holder .section-full-width__title__aquisition h1 {
    @media #{$medium-only} {}

    @media #{$small-only} {
        font-size: 1.5em !important;
        line-height: 1em;
        padding: 0.375rem !important;
    }
}

// Main Section Title with dotted line

.section-left__title {
    // @include show-for-large-up;

    @include grid-column(12);

    padding: 0;
    font-family: $title-section !important;
    text-transform: capitalize !important;
    width: 100%;
    margin-top: 20px;

    .bingo-content &,
    .bingo-details-page &,
    .promotions-content &,
    .lucky-club-content &,
    .community &,
    .community-blog &,
    .community-tv &,
    .community-winners &,
    .community-chat-news &,
    .help-content & {
        @include hide-for-large-up;
    }
}

.section-left__title h4:after {
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 14px;
    width: 100%;
    z-index: 1;
}

.section-left__title h4 {
    font-size: 1.3em;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    line-height: 1.4;
    color: $main-highlight-color;

    @media #{$medium-only} {
        padding-left: $site-margin;
    }

    @media #{$small-only} {
        text-align: center;
        margin: 10px;
    }
}

.section-left__title h4 span {
    position: relative;
    z-index: 2;
    color: $white;
    font-size: 1.5em;
    padding: 0;
    margin: 0;

    @media #{$medium-only} {
        font-size: 1.3em;
        color: $nav-active-color;
        text-transform: uppercase;
    }

    @media #{$small-only} {
        font-size: 1.3em;
        color: $nav-active-color;
        text-transform: uppercase;
    }
}

// Main Section Title with dotted line for COMMUNITY PAGE

.section-left__title__community {
    @include grid-column(12, $collapse: true);

    font-family: $title-section !important;
    text-transform: capitalize !important;
    width: 100%;
}

.section-left__title__community h4:after {
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 16px;
    width: 98%;
    z-index: 1;
}

.section-left__title__community h4 {
    font-size: 1.6em;
    font-weight: normal;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    line-height: 1.4;
    margin-top: $site-margin * 2;
    color: $main-highlight-color;
}

.section-left__title__community h4 span {
    position: relative;
    z-index: 2;
    padding: 0px 10px;
}