.icons__balance{
	width:26px;
	height:26px;
	background: url('../_images/common/icons/balance.png') no-repeat;
	display:inline-block;
}

.icons__deposit {
	width:26px;
	height:26px;
	background: url('../_images/common/icons/deposit-white.png') no-repeat;
	display:inline-block;
}
.icons__balance-white{
	width:26px;
	height:26px;
	background: url('../_images/common/icons/balance-white.png') no-repeat;
	display:inline-block;
}
.icons__down-arrow{
	width:26px;
	height:26px;
	background: url('../_images/common/icons/down-arrow.png') no-repeat;
	background-position-y:-3px;
	display:inline-block;
}

.forward-arrow{
	background: url('../_images/common/icons/forward-arrow.png') no-repeat;
	width:26px;
	height:26px;
	display:inline-block;
	background-position:center;
}

.icons-star--off{
	background: url("../_images/common/icons/fav-icon-of.svg")no-repeat center center;
	background-size: 100%;
	display:inline-block;
}
.icons-star--on{
	background: url("../_images/common/icons/fav-icon-on.svg") no-repeat center center;
	background-size: 100%;
	display:inline-block;
}