.cashier-content {
    margin-bottom: -15px;

    .section-left__title h4 {
        @include grid-column(6);

        width: 30%;
        float: left;
        padding: 0 $site-margin;
        margin-left: 0;
    }

    .cashierholder {
        @include grid-column(12);

        padding: 0;

        .cashier {
            margin-top: 0;
            float: left;
        }
    }
}

.section .section__title {
    float: left;
    padding-left: 10px;

    @media #{$small-only} {
        font-size: 25px;
    }
}

.cashier__secure-payment {
    float: right ;
    position: relative !important;


    @media #{$small-only} {
        float: right !important;
        width: 30% !important;
    }


}

.cashier__grid__cell__content {
    height: 70px;
}

.cashier__grid__cell .cashier__grid__cell__content {
    padding: 1.2em 2em 0.5em 3em !important;

    @media #{$small-only} {
        padding: 1.1em 2em 0.5em 3em !important;
    }
}