.accordion-wrap {
    @include grid-column(12);

    padding: 0;
    margin: 0 !important;

    .accordion-navigation {
        @include grid-column(12);

        @include border-radius(4px);

        @include transition(all, 0.2s ease-out);

        overflow: hidden;
        margin: 0 !important;
        margin-bottom: $site-margin !important;
        padding: 0;
        background-color: $white;
        border: 1px solid $Blumine;

        &:last-child {
            margin-bottom: 0 !important;
        }

        .ui-accordion {
            @include grid-column(12);

            padding: 10px 10px;
            background: url(/_images/common/accordion-down-arrow.svg) no-repeat center right 12px;
            background-size: 20px 20px;

            &:hover {
                background: url(/_images/common/accordion-down-arrow.svg) no-repeat center right 12px;
                background-size: 20px 20px;

                h1 {
                    color: $Blumine;
                }
            }

            &.active {
                background: url(/_images/common/accordion-up-arrow.svg) no-repeat center right 12px;
                background-size: 20px 20px;
                border-bottom: #DDE4EB 1px solid;

                h1 {
                    color: $Blumine;
                }
            }

            h1 {
                @include grid-column(10);

                margin: 0;
                padding: 5px !important;
                padding-left: 15px;
                color: $Blumine;
                font-size: 16px;
                font-family: $body-font-bold;
                line-height: 20px;
                text-align: left;
                text-transform: none;
            }
        }

        img {
            @include grid-column(1, $center: true);

            max-height: 30px;
            height: 30px;
        }

        .content {
            @include grid-column(12);

            @include transition(all, 0.2s ease-out);

            width: 100% !important;
            margin: 0;
            // margin-bottom: $site-margin;
            padding: $site-margin;
            font-size: 1rem;

            li {
                list-style: inherit;
                margin-bottom: $site-margin;
            }
        }
    }

    #panel1a {
        display: block !important;
    }
}