.browser-not-supported {
    // @include grid-column(12);
    // background-image:url("../_images/common/incompatible-browser-page.jpg") no-repeat;
    // width: 800px;
    // height:600px;
    padding-top: 150px !important;
}