.section-left__title {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    width: 100%;
    float: left;
    padding: 0;
    font-family: "ProximaNova-Bold", Helvetica, Arial, sans-serif !important;
    text-transform: capitalize !important;
    width: 100%;
    display: block !important;
}

@media #{$medium-up} {
    display: block !important;
}

.text-partial {
    padding-left: 20px !important;
    padding-top: 20px;
}
