.error-page-content {
    ul {
        margin-left: 0px;
        line-height: 1.2;
        font-size: 1rem;
    }

    .error-page__title {
        @include grid-column(12);

        padding: 0;
        margin-bottom: $site-margin;
        margin-top: $site-margin;

        h1 {
            @include grid-column(6);

            margin: 0;
            padding: 0;
            font-size: 1rem;
            font-family: $body-font-extra-bold;
            color: $nav-main-color;
            margin-left: $site-margin;

            @media #{$small-only} {
                @include grid-column(7);

                font-size: 13px !important;
                line-height: 27px;
            }
        }
    }

    .error-page__image {
        @include grid-column(6, $collapse: true);

        margin-top: $site-margin * 2;
        margin-bottom: $site-margin;
        text-align: center;


        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }

        @media #{$medium-only} {
            @include grid-column(6, $collapse: true);
        }

        img {
            width: 90%;
        }
    }

    .error-page__text {
        @include grid-column(6, $collapse: true);

        font-family: $title1-font;
        padding: 0.8em;
        text-align: left;
        padding-right: 30px;

        // margin-top: 100px;

        @media #{$medium-only} {
            margin-top: 30px;
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);

            margin-top: 10px;
        }

        > .registercta {
            @include grid-column(3, $collapse: true);

            @media #{$small-only} {
                @include grid-column(3, $collapse: true);
            }
        }

        .error-page__error {
            color: $Blumine;
            font-family: $body-font-extra-bold;
            font-weight: 600;
            line-height: 1;
            text-decoration: lowercase;

            > h1 {
                text-decoration: lowercase;
            }

            @media #{$small-only} {
                font-size: 3em;
            }

            @media #{$medium-only} {
                font-size: 4em;
            }

            @media #{$large-up} {
                font-size: 5em;
            }
        }

        .error-page__msg {
            font-family: $body-font-bold;
            color: $Blumine;
            font-size: 22px;
            line-height: 26px;

            @media #{$small-only} {
                font-size: 1.5em;
            }

            @media #{$medium-only} {
                font-size: 1em;
            }
        }

        .error-page__help-links {
            font-family: $body-font-regular;
        }

        .error-page__suggestion {
            @include grid-column(12, $center: true);

            font-size: 1.3em;
            text-align: center;
            font-family: $title1-font;
            text-decoration: underline;

            a {
                text-decoration: none;
                color: $global-link-color;

                @media #{$large-up} {
                    color: $white;
                }
            }
        }

        p {
            line-height: 100%;
        }
    }
}