.registration {
    font-size: 1rem;
    @include grid-column(12, $collapse: true);
    padding-top: 0;
    background-color: $regalwins--gray;

    label {
        color: $white;
    }

    input[type="checkbox"] {
        margin: 0 0.5em 1rem 0;
    }

    .registration__promo-code {
        text-decoration: underline;
    }

    .registration__password {
        margin-bottom: 1em;
    }

    .registration__switch {
        @media #{$small-only} {
            @include switch($height: $switch-height-med);
            display: block;
            clear: both;

            > label {
                float: left;
                margin-right: 0.5em;
            }

            .registration__switch__text {
                float: left;
            }
        }

        @media #{$medium-only} {
            @include switch($height: $switch-height-med);
            display: block;
            clear: both;

            > label {
                float: left;
                margin-right: 0.5em;
            }

            .registration__switch__text {
                float: left;
            }
        }

        .registration__switch__switcher {
            @media #{$large-up} {
                display: none;
            }
        }
    }

    .registercta {
        border-radius: 1px;
        text-align: center;
        text-transform: uppercase;
        font-family: $ui-font-bold;
        font-size: $theme--ui----desktop--fontsize;
        color: $white;
        background: $regalwins--cta-button-two;
        box-shadow: inset -1px -1px 0px 0px $regalwins--cta-button-two;

        &:hover {
            background: $regalwins--hover;
            color: $black;
            box-shadow: inset -1px -1px 0px 0px $regalwins--hover;
        }

        &:active {
        }
    }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-color: transparent;
    font-family: inherit;
    border: 1px solid $white;
    @include border-radius(3px);
    color: $white !important;
    display: block;
    font-size: $rw-body-font-size;
    margin: 0 0 0.6rem 0;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    height: 55px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

select option {
    color: $black !important;
}

.mailing__opt {
    color: $white;
    line-height: 1em;
}

.registration__account-details,
.registration__personal-details,
.registration__contact-details {
    @media #{$small-only} {
        @include grid-column(12);
    }

    @media #{$medium-up} {
        @include grid-column(4);
        float: left;
    }
}

.registration__dob {
    @include grid-column(4, $collapse: true);
}

.dob_dm {
    padding-right: 0.3em;
}

#ui-registration-terms-toggle {
    text-decoration: underline;
    cursor: pointer;
    margin-left: $site-margin;
    margin-bottom: $site-margin;
    margin-top: $site-margin;
}



.over18 {
    a {
        color: $regalwins--login;

        &:hover {
            color: $white;
            text-decoration: underline;
        }
    }
}

input#ui-phone {
    padding-left: 100px !important;
}

//Code to Turn Off Number Input Spinners

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; // Firefox
}

.registration {
    $bg-color: $black;


    @mixin placeholder {
        &::-webkit-input-placeholder {
            @content
        }

        &:-moz-placeholder {
            @content
        }

        &::-moz-placeholder {
            @content
        }

        &:-ms-input-placeholder {
            @content
        }
    }

    @media #{$large-up} {
        .main-content {
            &.registration {
                padding-top: 0;
            }
        }
    }

    .header--register3step {
        .nav-for-mobile {
            display: none !important;
        }

        .footer {
            display: none;
        }
    }

    fieldset {
        // position: absolute;
        border: none;
        padding: 0;
        margin: 0;
    }

    .registration-3step {
        @include grid-column(12);
        padding: 0;
        z-index: 999999;
        top: 0;
        height: 100%;
        background: $registration-3step-bg--base;
        overflow: hidden;

        @media #{$small-only} {
            margin-top: 65px;
        }

        @media #{$medium-up} {
            margin-top: 117px;
        }

        h1 {
            display: none;
        }
        // TODO: Revert this span class once merged
        .steps-title {
            display: none;
            color: $white;
            font-family: $ui-font-regular;
            font-size: 17px;
            font-weight: bold;
            line-height: 25px;
            margin-top: 40px;
            margin-bottom: 15px;
        }

        .content {
            @include grid-column(12);
            padding: 0;
            background: $bg-color;
            position: relative;
            height: 100%;
            overflow: hidden;
            padding-bottom: $site-margin * 3;

            .banner {
                @include grid-column(12);
                float: none;
                background: transparent !important;
                text-align: center;
                padding: 0;

                .edit-point {
                    z-index: 999;
                }

                img {
                    max-width: unset;
                    margin-top: 0;
                    margin-bottom: 10px;
                    padding-left: 0;
                    padding-right: 0;

                    @media #{$medium-up} {
                        max-width: 610px;
                    }

                    @media #{$large-up} {
                        max-width: 730px;
                    }
                }

                .offer--headline {
                    h2 {
                        margin: 0;
                        line-height: 100%;
                        font-size: rem-calc(20);
                        text-transform: uppercase;

                        @media #{$small-only} {
                            padding-top: 53px;
                        }
                    }
                }

                .offer--terms {
                    p {
                        margin-bottom: 0;
                    }
                }
            }

            .sticky {
                @include transition(all, 0.2s ease-out);

                &.fixed {
                    position: fixed;
                    top: 48px;
                }
            }

            nav {
                @include grid-column(12);
                padding: 0;
                background: transparent !important;
                position: relative !important;
                margin-top: 30px;
                margin-bottom: 20px;
                padding-top: 8px;
                z-index: 1;
                // TODO: Revert this span class once merged
                margin-bottom: 2.5rem;


                @media #{$large-up} {
                    position: relative;
                }

                .naviaton-inner {
                    max-width: 350px;
                    margin-left: auto;
                    margin-right: auto;
                }

                a { //Steps icons - Personal/Contact/Account
                    @include grid-column(4);
                    font-family: $ui-font-regular;
                    color: $silver-chalice;
                    font-size: 14px;
                    height: 50px;
                    line-height: rem-calc(35);
                    padding: 0;
                    text-align: center;
                    display: inline;
                    position: relative;
                    background-color: transparent !important;
                    padding-top: 20px;

                    span {
                        color: $silver-chalice;
                    }

                    .dotted_line {
                        border-top: dotted 4px $silver-chalice;
                        position: absolute;
                        width: 40%;
                        top: 20px;
                        right: -25px;

                        @media #{$small-only} {
                            right: -22px;
                        }
                    }

                    &:nth-child(1) {
                        background-image: url("../_images/join-now/personal.svg");
                        background-size: 38px;
                        background-repeat: no-repeat;
                        background-position: center top;
                        padding-top: 40px;
                        padding-right: 0;

                        &.active {
                            background-color: $bg-color;
                            background-image: url("../_images/join-now/active-personal-white.svg");
                            background-size: 38px;
                            background-repeat: no-repeat;
                            background-position: center top;

                            span {
                                color: $white;
                            }
                        }
                    }

                    &:nth-child(2) {
                        background-image: url("../_images/join-now/contact.svg");
                        background-size: 38px;
                        background-repeat: no-repeat;
                        background-position: center top;
                        padding-top: 40px;
                        padding-right: 0;
                        opacity: 0.6;

                        &.active {
                            background-color: $bg-color;
                            background-image: url("../_images/join-now/active-contact-white.svg");
                            background-size: 38px;
                            background-repeat: no-repeat;
                            background-position: center top;
                            opacity: 1;

                            span {
                                color: $white;
                            }
                        }
                    }

                    &:nth-child(3) {
                        background-image: url("../_images/join-now/account.svg");
                        background-size: 38px;
                        background-repeat: no-repeat;
                        background-position: center top;
                        padding-top: 40px;
                        padding-right: 0;
                        opacity: 0.6;

                        &.active {
                            background-color: $bg-color;
                            background-image: url("../_images/join-now/active-account-white.svg");
                            background-size: 38px;
                            background-repeat: no-repeat;
                            background-position: center top;
                            opacity: 1;

                            span {
                                color: $white;
                            }
                        }
                    }

                    &.passed {
                        background-color: $bg-color;
                        background-image: url("../_images/join-now/passed.svg");
                        background-size: 38px;
                        background-repeat: no-repeat;
                        background-position: center top;
                        opacity: 1;

                        span {
                            color: $lima;
                        }

                        .dotted_line {
                            border-top: dotted 4px $lima;
                            position: absolute;
                            width: 40%;
                            top: 20px;
                            right: -25px;

                            @media #{$small-only} {
                                right: -22px;
                            }
                        }
                    }

                    &.current {
                        background-repeat: no-repeat;
                        background-position: center top;

                        span {
                            color: $silver-chalice;
                        }
                    }
                }
            }
            // END Steps icons - Personal/Contact/Account
            .form {
                @include grid-column(12);
                padding: 0;
            }
        }

        .registration-3step-form {
            float: none;
            padding: 0 20px;
            padding-top: 0.275rem;
            font-family: $registration-3step-font-regular;
            margin: 0 auto;
            max-width: none; // was 350px
            position: relative;

            @media #{$medium-up} {
                max-width: 80vw;

                @media #{$portrait} {
                    max-width: 70vw;
                }

                @media #{$landscape} {
                    max-width: 80vw;
                }
            }

            @media #{$large-up} {
                max-width: 25vw;

                @media #{$landscape} {
                    max-width: 40vw;
                }
            }

            .registration-3step__mandatory-fields {
                margin-top: $site-margin;
                margin-bottom: 0;
                font-size: 11px;
                font-weight: 600;
                text-align: right;
                top: 1em;
                position: relative;
            }

            span.error,
            small.error {
                display: block;
                width: 100%;
                font-size: $rw-body-small-font-size;
                font-style: normal;
                font-weight: 600;
                color: $registration-3step-input--error;
                position: relative;
                clear: right;
                float: left;
                margin: 0;
                margin-top: 10px;
                margin-bottom: 0px;
                padding: 4px;
                height: auto;
                border-radius: 2px;
                line-height: 12px;
                min-height: initial !important;
                background: transparent;
            }

            input,
            select {
                border: 1px solid $registration-3step-input--border;
                box-shadow: none;
                min-height: 48px;
                margin: 0 0 0.475rem 0;
                padding: 0 10px;
                font-size: $rw-body-font-size;
                background: $registration-3step-bg--base;
                color: $white !important;
                border-radius: 6px;

                option {
                    background: $black !important;
                    color: $white !important;
                }

                &.phone {
                    @include grid-column(12);
                }
            }

            input {
                min-height: 25px !important;
            }

            select {
                background: transparent url("/_images/revamp/common/icons/arrow-down-white.svg") no-repeat center right 10px;
                color: $white !important;
                font-size: 15px;
                border: 1px solid $white;
            }

            label {
                color: $registration-3step-input--label;
                font-family: $registration-3step-font-regular;
                margin-bottom: 2px;
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 25px;
                float: left;
                background-color: transparent;

                input {
                    min-height: auto;
                }
            }
        }
        // reduce email block margin
        .field-wrap:last-of-type {
            .field-wrap__label {
                margin-top: 0;
            }
        }

        .field-wrap {
            @include grid-column(12, $collapse: true);
            position: relative;
            background: transparent;
            height: auto;
            margin-bottom: 8px;

            .field-wrap__label {
                @include grid-column(12);
                padding-left: 0rem;
                font-family: $ui-font-regular;
                font-size: rem-calc(14px);
                color: $registration-3step-input--label;
                margin-top: 10px;
                line-height: 25px;
            }

            .field-wrap__requirements {
                font-size: 10px;
                color: $registration-3step-requirements;
                margin: 0px;
                padding: 0px;
                margin-bottom: 5px;
            }

            .field-wrap__field {
                @include grid-column(12);
                height: 55px;
                border: 1px solid $white;
                padding-left: 0.4375rem;
                padding-right: 0.4375rem;
                padding: 0.4rem 0.5rem 0.6rem 1.5rem;
                margin: 0;
                border-radius: 2px;
                // color: $white !important;
                background-color: transparent;
            }

            #icon {
                display: none;
            }

            .telephone-icon {
                margin-top: -30px;
            }

            .border-green-icon {
                display: block !important;
                background-color: transparent;
                color: $registration-3step-tick-border;
                height: 57px;
                position: absolute;
                width: 21px;
                z-index: 1;
                right: -10px;
            }

            .border-red-icon {
                display: block !important;
                background-size: 21px 21px;
                color: $registration-3step-tick-border;
                height: 57px;
                position: absolute;
                width: 21px;
                z-index: 1;
                right: -10px;
            }

            .border-green {
                border: 3px solid $registration-3step-input--success;
            }

            .border-red {
                border: 3px solid $registration-3step-input--error;
            }

            .intl-tel-input {
                @include grid-column(12);
                padding: 0;

                .selected-flag {
                    margin-top: 0;
                }
            }
        }

        .date {
            height: 44px;
            margin: 0;
            padding: 0;

            input {
                @include grid-column(3);
                width: 33.33%;
                margin: 0px;
                padding: 0;
                text-align: center;
                border-radius: 0px;
                height: 55px;
                color: $white !important;
                background-color: transparent;
                font-size: $rw-body-font-size;
                border: 1px solid $white;
                padding: 0.4rem 0.5rem 0.6rem 0.5rem;

                &#dayOfBirth {
                    border-radius: 0px;
                    border-right: 1px solid $registration-3step-date-border;
                    border-radius: 2px 0px 0px 2px;

                    @include placeholder {
                        color: $dove-gray !important;
                        font-family: $registration-3step-font-regular;
                    }
                }

                &#monthOfBirth {
                    border-radius: 0px;

                    @include placeholder {
                        color: $dove-gray !important;
                        font-family: $registration-3step-font-regular;
                    }
                }

                &#yearOfBirth {
                    border-radius: 0px;
                    border-left: 1px solid $registration-3step-date-border;
                    border-radius: 0px 2px 2px 0px;

                    @include placeholder {
                        color: $dove-gray !important;
                        font-family: $registration-3step-font-regular;
                    }
                }
            }

            span {
                float: left;
                position: relative;
                min-height: 44px;
                line-height: 2.8;
            }
        }

        .post-code {
            padding: 0;
            padding-left: 10px !important;

            @media #{$small-only} {
                @media #{$landscape} {
                    width: 70% !important;
                    max-width: 170px;
                }
            }

            @media screen and (max-width: 320px) {
                // iphone 5 specific
                width: 50% !important;
            }

            @media #{$medium-up} {
                width: 65% !important; // overrule inline styling
            }

            @media #{$large-up} {
                width: 30% !important; // overrule inline styling
            }
        }

        .findaddress {
            width: 155px;
            height: 55px;
            margin-top: 40px;
            padding-top: 5px;
            display: block;
            position: absolute;
            right: 0;
            background: $gold;
            color: $black;
            border: none;
            font-family: $registration-3step-font-light;
            font-size: 12px;
            line-height: 44px;
            border-radius: 4px;
            font-weight: bold;
            text-transform: uppercase;
            z-index: 1;

            &.disabled {
                opacity: 0.3;
            }

            @media #{$small-only} {
                width: 145px;
            }

            @media screen and (max-width: 320px) {
                // iphone 5 specific
                width: 130px;
                right: 0;
            }

            @media #{$large-up} {
                width: 145px;
                left: 32%;
            }

            &.active {
                z-index: 1;
            }
        }

        .enter-address-manually {
            width: 170px;
            font-family: $ui-font-regular;
            font-size: rem-calc(14px);
            padding-left: 5px;
            text-decoration: underline;
            cursor: pointer;
            color: $white;
        }

        ul.registration__title {
            @include grid-column(12);
            padding: 0;
            margin-bottom: 0.375rem;
            margin-left: 0;

            li {
                display: inline;
                float: left;
                width: 44px;
                margin-right: 2.5%;
                background: $registration-3step-bg--main;
                border-radius: 50%;
                border: 2px solid $registration-3step-button--bg;

                &.ticked {
                    background: $registration-3step-button--bg;
                    outline: none;

                    button {
                        color: $registration-3step-button-color--selected;
                        border-radius: 50%;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }

                button {
                    padding: 0;
                    background: none !important;
                    text-align: center;
                    width: 100%;
                    line-height: 2.7;
                    font-size: 15px;
                    font-weight: bold;
                    margin: 0;
                    color: $registration-3step-button-color;
                    font-family: $registration-3step-font-light;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .registration__password {
            position: relative;

            .show-password {
                position: absolute;
                text-transform: uppercase;
                top: 66px;
                right: 0;
                font-size: 9px;
                font-weight: 600;
                padding: 2px;
                padding-bottom: 0;
                padding-top: 0;
                border-radius: 8px;
                color: transparent;
                min-width: 32px;
                text-align: center;

                &.eye-shut {
                    z-index: 1;
                    background: url("/_images/revamp/common/icons/password-hide.svg") no-repeat center;
                    background-size: 31px 28px;
                    width: 65px;
                    height: 24px;
                }

                &.eye-open {
                    z-index: 1;
                    background: url("/_images/revamp/common/icons/password-visible.svg") no-repeat center;
                    background-size: 31px 20px;
                    width: 65px;
                    height: 24px;
                }

                .right {
                    display: none;
                }
            }
        }

        ul.mailing-opt {

            @include grid-column(12);
            margin: 0;
            padding: 0;
            list-style-type: none;

            .preferences-title {
                color: $white;
                font-family: $ui-font-regular;
                font-size: 17px;
                font-weight: bold;
                line-height: 25px;
                margin-top: 30px;
                margin-bottom: -20px;
            }

            p {
                color: $registration-3step-input--label;
                font-size: 13px;
                margin-bottom: $site-margin / 2;
                line-height: 2;
                float: left;
            }

            label {
                width: 100%;
                min-height: 35px;
                margin-bottom: $site-margin / 3;
                color: $white;
                line-height: 1.5em;
                height: 44px;
                padding: 10px 12px 0 40px;
                background: $registration-3step-bg--base url("../_global-library/images/join-now/checkbox-off.svg") no-repeat center left;
                background-color: $bg-color;
                background-size: 30px 30px !important;
                border-radius: 6px;
                display: inline;
                height: 44px;
                float: left;
                margin-right: 5px;
                font-size: rem-calc(15);

                &.ticked {
                    background: $registration-3step-bg--base url("../_global-library/images/join-now/checkbox-on.svg") no-repeat center left;
                    background-color: $bg-color;
                }

                input {
                    padding: 0;
                    margin: 0;
                    display: none;
                }
            }

            .terms-over18 {
                width: 100%;
                font-size: 13px;
            }
        }
        //Communication channel edit point
        .communication-channel {
            .text-partial {
                background-color: transparent;
                border: none;
                padding-left: 0 !important;

                h1 {
                    display: none;
                }

                p {
                    color: $white;
                    font-size: 15px !important;
                    padding-left: 0;
                    line-height: 24px;
                    margin-bottom: -20px;

                    a {
                        color: $white;
                        text-decoration: underline;
                        font-size: 15px !important;
                    }
                }
            }
        }
        //Trusted Partners
        ul.trusted-partners {
            padding-top: 20px;

            .text-partial {
                background-color: transparent;
                border: none;
                padding-left: 0 !important;
                padding-bottom: 0;
                padding-right: 0;

                h1 {
                    display: block;
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 15px !important;

                    a {
                        text-decoration: underline;
                        font-size: 15px !important;
                    }
                }
            }

            .trusted-partners--check {
                padding-left: 20px;
            }
        }
        // Demo-only styles
        // --------------
        html {
            background: lightgray;
        }

        body {
            font-family: 'Source Sans Pro', sans-serif;
        }

        .unstyled {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        li {
            margin: 20px 0 0 0;

            &:first-child {
                margin-top: 0;
            }
        }

        .centered {
            width: 300px;
            margin: auto;
        }

        .title {
            text-align: center;
            color: rgb(69, 113, 236);
        }

        .register-3step-cta,
        .registerNextCta {
            @include regalwins-button-gradient('true', 'green');
            margin-bottom: 5px;

            @media #{$small-only} {
                font-size: rem-calc(14px);
                padding: 0.9rem 0.5rem 1.1rem 0.5rem;
            }
            // iphone 5 specific
            @media screen and (max-width: 320px) {
                font-size: rem-calc(11px);
            }

            width: 49%;
            float: right;

            &.create-account-cta {
                background-color: $registration-3step-cta;
                color: $white;
                font-weight: bold;
                margin-top: 20px;

                @media #{$small-only} {
                    font-size: rem-calc(14px);
                    padding: 0.9rem 0.5rem 1.1rem 0.5rem;
                }
                // iphone 5 specific
                @media screen and (max-width: 320px) {
                    font-size: rem-calc(11px);
                }

                &:active {
                    color: $violet;
                }

                &:focus {
                    color: $violet;
                }
            }
        }
        // Error message: Please resolve the above errors before continuing.
        .step-contains-error {
            width: 100%;
            float: left;
            text-align: center;
            margin-top: 0;
            font-family: $ui-font-regular;
            font-size: 13px;
            font-weight: 600;
            color: #FB5368;
            margin-bottom: 10px;
            position: absolute;
            display: block;
            width: 100%;
            max-width: 730px;
            bottom: -115px;
            left: 0;
            right: 0;

            @media #{$small-only} {
                font-size: 11px;
            }
        }

        .register-3step-tc {
            font-size: 13px;
            padding: 0;
            text-decoration: underline;
            font-family: $registration-3step-font-regular;
            color: $white;
            letter-spacing: -0.41px;
            font-weight: normal;
        }

        .terms-section {
            @include grid-column(12);

            .terms-toggle {
                cursor: pointer;
                text-decoration: underline;
                color: $registration-3step-terms;
                font-size: 11px;
                text-align: center;
                font-weight: 600;
                margin-bottom: $site-margin * 3;
            }
        }
    }
    // Terms and conditions
    .resitration-terms-section {
        div:first-child {
            text-align: center;
            margin: 1% 0 1% 0;
            font-size: rem-calc(12px);
        }
    }

    .radio-selection {
        // TODO: Revert this span class once merged (hides form element block title)
        span {
            display: none;
        }

        label {
            position: relative;
            margin-right: 15px;
            line-height: 32px;
            font-size: 16px;

            @media #{$small-only} {
                font-size: 15px !important;
                margin-right: 6px;
            }

            & input {
                cursor: pointer;

                &:after {
                    content: "";
                    opacity: 0;
                    transition: opacity .4s ease-in-out;
                }
            }

            & input:checked {
                &:after {
                    content: "";
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    background: $white;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    opacity: 1;
                    transition: opacity .4s ease-in-out;
                }
            }
        }

        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent !important;
            border-radius: 100% !important;
            border: 2px solid $white !important;
            display: inline-block;
            min-width: 25px !important;
            min-height: 25px !important;
            transition: 0.2s all linear;
            outline: none;
            margin-right: 5px;
            position: relative;
            top: 14px;

            &:checked {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: $black !important;
                border-radius: 100% !important;
                border: 2px solid $white !important;
                display: inline-block;
                min-width: 25px !important;
                min-height: 25px !important;
                transition: 0.2s all linear;
                outline: none;
                //margin-right: 5px;
                position: relative;
                top: 14px;
            }
        }
    }

    .field-support-text {
        margin-bottom: 10px !important;
        color: $white;
        font-family: $ui-font-regular;
        font-size: rem-calc(10px);
        padding-top: 5px;
        margin-bottom: 0;
        padding-bottom: 0;
        clear: both;
    }

    .join-now-terms-section {
        @include grid-column(12);
        margin-top: 40px;

        .terms__section-tabs {
            max-width: 350px;
            margin: 0 auto;
            text-align: center;
            float: none;
            cursor: pointer;

            .terms__tabs-tcs {
                width: 50%;
                float: left;
                background-color: transparent;
                border-bottom: 1px solid $amethyst-smoke;

                &:focus {
                    border-bottom: 2px solid $white;
                }

                &:active {
                    border-bottom: 2px solid $white;
                }

                @media #{$small-only} {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            .terms__tabs-policy {
                width: 50%;
                float: left;
                background-color: transparent;
                border-bottom: 1px solid $amethyst-smoke;

                &:focus {
                    border-bottom: 2px solid $white;
                }

                &:active {
                    border-bottom: 2px solid $white;
                }

                @media #{$small-only} {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        .terms-content {
            width: 62.5rem;
            margin: 0 auto;
            //Edit Point position
            .edit-point {
                @media #{$medium-only} {
                    margin-top: 20px;
                    margin-left: 15px;
                }

                @media #{$small-only} {
                    margin-top: 20px;
                }
            }

            @media #{$medium-only} {
                width: 100%;
            }

            @media #{$small-only} {
                width: 100%;
            }


            article.text-partial {
                width: 62.5rem;
                margin: 0 auto;
                background: transparent;
                color: $white;
                border: none;
                padding: 0 !important;

                h1 {
                    display: none;
                }

                @media #{$medium-only} {
                    width: 100%;
                }

                @media #{$small-only} {
                    width: 100%;
                }

                & .p1 {
                    line-height: 2;
                }
            }
        }
    }

    .tabs dd > a {
        background-color: transparent;
        color: $white;

        @media #{$small-only} {
            font-size: 15px;
            padding: 1rem 1rem;
        }

        &:hover {
            text-decoration: none;
        }
    }

    .tabs dd.active > a {
        background-color: transparent;
        color: $white;
        border-bottom: 2px solid $white;
        font-weight: bold;
    }

    .back-to-top {
        width: 100%;
        margin: 0 auto;
        float: left;

        #myBtn {
            @include regalwins-button;
            margin: 0 auto;
        }
    }
}

.terms {
    font-size: 1.1em !important;
    font-size: 14px;

    ol {
        margin-left: 0.9375rem;
    }

    ul {
        margin-left: 1.5rem;
    }

    p {
        padding-left: 0;
    }
}

table {
    .table-hide-small {
        td {
            p {
                color: white !important;
            }
        }
    }
}



//Code to Turn Off Number Input Spinners
.intl-tel-input.separate-dial-code .selected-dial-code {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
    font-size: 15px;
    color: $white !important;
    padding-bottom: 2px;
}

.selected-flag {
    background-color: transparent !important;
    outline: 0;

    .iti-arrow {
        right: -2px !important;
        border-top-color: $white !important;
    }

    .iti-flag {
        top: 3px !important;
    }
}

.registration .join-now-terms-section {
    padding-left: 20px;
    padding-right: 20px;

    .text-partial {
        p, ul, ol, a, {
            font-family: $ui-font-regular !important;
            font-size: 14px !important;
        }

        li {
            font-family: $ui-font-regular !important;
        }
    }
}


// Specific styling applied under join-now ID
#join-now {

    @mixin placeholder {
        &::-webkit-input-placeholder {
            @content
        }

        &:-moz-placeholder {
            @content
        }

        &::-moz-placeholder {
            @content
        }

        &:-ms-input-placeholder {
            @content
        }
    }
    // Options edit point
    .editor-buttons .options-menu {
        margin-top: 120px;
    }
    //Country Dial
    .iti-mobile {
        .intl-tel-input {
            z-index: 0;

            &.iti-container {
                z-index: 999;
            }
        }
    }

    .intl-tel-input.separate-dial-code .selected-flag {
        background-color: $white;
    }

    .intl-tel-input.separate-dial-code.allow-dropdown .selected-flag {
        padding: 9px !important;
        min-height: 42px;
    }

    .intl-tel-input.separate-dial-code.allow-dropdown .phone {
        padding-left: 95px !important;
    }

    .intl-tel-input .country-list {
        top: 1px !important;
        margin: 0 0 0 0px !important;
    }

    .intl-tel-input .flag-container {
        top: 4px;
        padding: 3px !important;
    }

    .selected-flag {
        top: -2px;
    }

    input {
        // iphone 5 specific
        @media screen and (max-width: 320px) {
            @include placeholder {
                font-size: 12px;
            }
        }
        /* WebKit browsers */
        &:focus::-webkit-input-placeholder {
            color: transparent;
        }
        /* Mozilla Firefox 4 to 18 */
        &:focus:-moz-placeholder {
            color: transparent;
        }
        /* Mozilla Firefox 19+ */
        &:focus::-moz-placeholder {
            color: transparent;
        }
        /* Internet Explorer 10+ */
        &:focus:-ms-input-placeholder {
            color: transparent;
        }
    }
    // Previous CTA
    .step-previous {
        width: 49%;
        float: left;
        text-align: center;

        a {
            @include regalwins-button-border;
            @include border-radius(4px);

            @media #{$small-only} {
                font-size: rem-calc(14px);
                padding: 0.9rem 0.5rem 1.1rem 0.5rem;
            }
            // iphone 5 specific
            @media screen and (max-width: 320px) {
                font-size: rem-calc(11px);
            }
        }
    }
    //TC's/PP pop up
    .footer-bar {
        position: absolute !important;
        bottom: 0;
        width: 100%;
        height: 100px;
        padding-top: 14px;
        background: $regalwins--opacity;
        line-height: 2;
        text-align: center;
        color: $white;
        font-size: 30px;
        font-family: sans-serif;
        font-weight: bold;

        a {
            @include regalwins-button-gradient('true', 'green');
            display: inline-block;

            @media #{$small-only} {
                font-size: 12px;
            }
        }

        @media #{$large-up} {
            width: 98.4%;
        }
    }

    .modal-content {
        background: $black;
        padding: 20px;
        color: $white;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.8;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-y: auto;

        @media #{$small-only} {
            padding: 0;
        }
    }

    .reveal-modal {
        border: none;
        border: 1px solid $regalwins--border;
        box-shadow: none;
        padding: 0;

        .text-partial {
            border: none;
            background-color: $black;
            padding-bottom: 70px;

            h1 {
                border-bottom: none;
                color: $white;
                font-weight: bold;

                @media #{$small-only} {
                    margin-top: 5px !important;
                }
            }

            li {
                font-size: 13px !important;
                font-weight: normal;
            }

            p {
                color: $white;
                font-size: 13px !important;
            }

            a {
                font-size: 13px !important;
            }
        }

        .close-reveal-modal {
            color: $black;
            font-weight: normal;

            &:hover {
                text-decoration: none;
            }
        }
    }
    //Comm Preferences
    .communication-channel,
    .trusted-partners {
        p {
            font-family: $ui-font-regular;
            color: $white !important;
            font-size: 14px;
        }
    }
}
//join-now page END

.registration {
    // Change autocomplete styles in WebKit
    // Works in Desktop and Android, no effect in chrome ios
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    textarea:-webkit-autofill:active,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus,
    select:-webkit-autofill:active {
        color: $white;
        -webkit-text-fill-color: $white !important;
        -webkit-box-shadow: 0 0 0px 50px $black inset !important;
    }
}

// overrule dark form theme for iphone as chrome autofill refuses to be styled
// this eliminates white text on light background for autofilled fields on iphones
.iphone .registration {
    .registration-3step {
        .field-wrap .field-wrap__field {
            background-color: $white;
            color: $black !important;
            border: 1px solid $black;
        }

        .field-wrap input {
            background-color: $white;
            border: 1px solid $black;
        }

        .date input#dayOfBirth {
            color: $black !important;
        }
        .date input#monthOfBirth {
            color: $black !important;
        }
        .date input#yearOfBirth {
            color: $black !important;
        }

        .intl-tel-input.separate-dial-code .selected-dial-code {
            color: $black !important;
        }

        .registration-3step-form {
            select {
                background: $white url("/_images/revamp/common/icons/arrow-down-black.svg") no-repeat center right 15px;
                background-size: 20px;
                color: $black !important;
                border: 1px solid $black;
            }
        
            select option {
                background: $white !important;
                color: $black !important;
            }
        }
    }

    // add autofill colours here in case iphone decides to start working (default autofill background colour)
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    textarea:-webkit-autofill:active,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus,
    select:-webkit-autofill:active {
        color: $black;
        -webkit-text-fill-color: $black !important;
        -webkit-box-shadow: 0 0 0px 50px #E8F0FE inset !important;
    }
}
