@media #{$large-up} {
    .main-content {
        &.registration {
            padding-top: 0;
        }
    }
}
.header--register3step {
    .nav-for-mobile {
        display: none !important;
    }
    .footer {
        display: none;
    }
}
.registration-3step {
    @include grid-column(12);
    padding: 0;
    z-index: 999999;
    top: 0;
    height: 100%;
    background: $registration-3step-bg--base;
    overflow: hidden;
  
    .banner {
        a.edit-point {
            margin: 35px 15px !important;
        }
    }
}

    // Registration header
   .header-register {
        @include grid-column(12);
        background: $black;
        padding: 0;
        top: 0;
        height: 65px;
        text-align: center;
        display: block !important;
        z-index: 2;
        position: fixed;
        border-bottom: 1px solid $mine-shaft;

        @media #{$medium-up} {
            height: 117px;
		}

        .wrapper {
           @media #{$large-up} {
                position: relative;
                width: 75vw;
                margin: 0 auto;
            }

            @media #{$medium-only} {
                position: relative;
                width: 75vw;
                margin: 0 auto;
            }

            &:after {
                content: "";
                height: 1px;
                width: 100%;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                @include regal-background-gradient
            }

            h1 {
                display: none;
                // display: inline-block;
                color: $white;
                line-height: 2.8;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: normal;
                padding-top: 12px;

                @media #{$large-up} {
                    font-size: 22px;
                    padding-top: 5px;
                }
            }
            .register-logo {
                margin: 7px 8px 5px 9px;
                background: url("/_images/revamp/common/header/regalwins-logo-mobile.svg") no-repeat center center;
                background-size: 101px 49px;
                position: absolute;
                left: 0;
                top: 3px;
                width: 101px;
                height: 49px;
                cursor: pointer;

                @media #{$medium-up} {
                    width: 141px;
                    height: 68px;
                    top: 15px;
                    background: url("/_images/revamp/common/header/regalwins-logo-mobile.svg") no-repeat center center;
                    background-size: 141px 68px;
                }
            }

            .register-login-cta {
                float: right;
                font-family: $ui-font-semibold;
                font-weight: bold;
                font-size: 14px;
                color: $regalwins--copy-colour;
                background: transparent;
                border: 1px solid $regalwins--highlight-gold;
                color: $regalwins--highlight-gold;
                border-radius: 2px;
                padding: 6px;
                padding-left: 16px;
                padding-right: 16px;
                margin-right: $site-margin;
                display: inherit;
                height: 30px;
                line-height: 14px;
                margin-top: 1rem;
                text-shadow: none;
                text-transform: uppercase;
                transition: 0.5s;

                @media #{$medium-up} {
                    margin-top: 2.5rem;
                }

                &:hover, &:focus {
                    color: $white;
                    border-color: $white;
                }
            }
        }
    }

    .registration-3step .content nav {
        @media #{$small-only} {
            margin-top: 15px !important;
        }
    }


// TODO: Remove when positive no regression issues on registration form
// //Registration banner 
// .registration-3step .content .banner {
//     @media #{$small-only} {
//         margin-top: 0 !important;
//     }

//     @media #{$medium-only} {
//         padding-top: 0 !important;
//         margin-top: 0 !important; 
//     }
// }

// .registration-3step .content .banner img {
//     padding-left: 0 !important;
//     padding-right: 0 !important;
//     margin-top: -5px !important;

//         @media #{$medium-only} {
//             margin-top: 35px !important;
//         }
// }

#join-now {

    .banner {
        a.edit-point {
            @media #{$small-only} {
                margin: 0 !important;
            }

            
            
        }
    }
    
//     .registration-3step .content .banner img {
//         padding-left: 0 !important;
//         padding-right: 0 !important;
//         margin-top: -5px !important;
//     }

}
