.cookie-policy {
    .container {
        width: 62rem;
        margin: 0 auto;
        position: relative;

        .cookie-policy__button {
            margin-top: 8px;
        }
    }

    &.active {
    	margin-top:0px !important;
    }
}



.responsible-gaming-modal {
	.responsible-gaming-popup {
		background-color: #fafafc !important;
		z-index:20 !important;

		.title {

			h1 {
				color:#108b87 !important;
			}
		}

		.copy {

			p {
				color:#108b87 !important;
			}
		}

		.terms {
			p {
				color: #108b87 !important;

				a {
					color: #108b87 !important;
				}
			}
		}
	}
}

