.support-page {
	
	.middle-content__box {
		margin-bottom: 80px;
	}

	.support-title {
		padding-bottom: rem-calc(10px);
		font-family: $font-header1;
		@media #{$medium-only} {
			padding-left: 15px;
		}
	}


	h1 .section__title {
		display: none !important;

	}

	.text-partial {
		border-bottom: 1px solid $heather;

		&:first-child {
			border-bottom: none;

			@media #{$small-only} {
				text-align: center;
			}
		}

		&:last-child {
			border-bottom: none;
		}

		h1 {
			font-family: $font-header2;
			font-size: 1.125rem;
			padding-bottom: 15px;

			@media #{$medium-only} {
				padding-left: rem-calc(20px);
				padding-bottom: 15px;
			}

			@media #{$small-only} {
				text-align: left;
				padding-left: 20px;
				padding-bottom: 15px;
			}
		}

	}

	.text-partial-content {

		text-align: left;
		
		@media #{$medium-only} {
				padding: 5px 20px;
			}

			@media #{$small-only} {
				padding: 5px 20px;
			}


		a {
			color: $black;
			font-weight: bold;

			&:hover {
				text-decoration: underline;
			}
		}

		a[title="Click Here for Live Chat"] { 
			    padding: 7px 20px;
			    background: none !important;
			    border: 1px solid $black;
			    color: $black !important;
			    font-family: $font-button !important;
			    font-size: 1.125rem !important;
			    letter-spacing: 0.6px;
			    border-radius: 50px;
			    text-transform: uppercase;
			    text-decoration: none;


			    &:hover {
			        background: $yellow-hover !important;
			        border: 1px solid $yellow-hover;
			    } 
		}

		@-moz-document url-prefix() {
				    a[title] {padding: 10px 20px 7px 20px;}
				}
	}
}

#support {
	.bottom-content {
		display: none;
	}
}