.breadcrumbs {
    @extend .hide-for-small;
    @extend .hide-for-medium;
    @media #{$medium-up} {
     @include grid-row;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 62.5rem;
        height: auto;
        padding: 0.4rem;
        // margin-top: 20px;
        // margin-bottom: 14px;
        border-color: transparent;
        background-color: #411973 !important;
        a {
            color: lighten(#6f6e6e,2%);
        }
        > li:first-child {
            a {
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
                background: url("../_images/common/homeicon.svg");
                width: 14px;
                display: block;
            }
        }
        li {
            display: block;
        }
    }
}

.breadcrumbs__row {
    position: relative;
    @include grid-column(12, $collapse: true);
    margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    position: relative;
    background-color: transparent;
    opacity: 0.8;
    border-radius: 2px;
}

.breadcrumbs {
    > li:not(:first-child):before {
        width: 0;
        height: 0;
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
        border-left: 4px solid #7a7a7a;
        font-size: 0;
        line-height: 0;
        // margin: 0 0.35rem;
        position: relative;
        display: table-cell;
        float: left;
    }
}