
.quick-links-widget{
  position: relative;
  margin: 20px 0;
}
.quick-links-widget ul {
  margin: 0;
  padding: 0;
}
.quick-links-widget li {
  margin: 0 5px 10px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.quick-links-widget a {
  padding: 3px 12px;
  text-decoration: none;
  color: #999;
  line-height: 100%;
}
.quick-links-widget a:hover {
  color: #000;
}
.quick-links-widget.current a {
  background: #999;
  color: #fff;
  border-radius: 5px;
}
    @media #{$small-only} {
  .quick-links-widget {
    position: relative;
    min-height: 40px;
  } 
  .quick-links-widget ul {
    width: 180px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px #aaa;
    background: #fff url(images/icon-menu.png) no-repeat 10px 11px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
  }
  .quick-links-widget li {
    display: none; /* hide all <li> items */
    margin: 0;
  }
  .quick-links-widget .current {
    display: block; /* show only current <li> item */
  }
  .quick-links-widget a {
    display: block;
    padding: 5px 5px 5px 32px;
    text-align: left;
  }
  .quick-links-widget .current a {
    background: none;
    color: #666;
  }

  /* on nav hover */
  .quick-links-widget ul:hover {
    background-image: none;
  }
  .quick-links-widget ul:hover li {
    display: block;
    margin: 0 0 5px;
  }
  .quick-links-widget ul:hover .current {
    background: url(images/icon-check.png) no-repeat 10px 7px;
  }

  /* right nav */
  .quick-links-widget.right ul {
    left: auto;
    right: 0;
  }

  /* center nav */
  .quick-links-widget.center ul {
    left: 50%;
    margin-left: -90px;
  }
  
}

