.user-nav {
    font-size: 0.9rem;
    text-align: right;
    position: relative;
    overflow: visible;
    width: 100%;

    &__item {
        display: inline-block;
        text-align: center;
        margin-left: 1.2em;
        line-height: 26px;
    }

    &__link {
        display: inline-block;
        border-radius: 100px;
        color: $white;
        font-size: 1rem;
        padding: 0 20px;
        line-height: 35px;
        height: 35px;

        &.link-balance {
            background: #4C256E;
            font-weight: 300;
        }

        &.link-deposit {
            background: #AFD81D;
            color: #6F37A1;
            border: 0;
            text-decoration: none;
        }

        &.current {
            padding-bottom: 2px;
            border-bottom: 2px #f1008a solid;
        }

        .link-balance__value {
            font-weight: 600;
        }
    }

    &__list {
        font-size: 0.8em;
        @include list-inline;
        @include vert-align(26px);
        line-height: 15px;
        i, span {
            float: left;
        }
        span {
            padding: 0.2em;
        }
    }
}
