// New Mobile Menu Spin Skin April 2015 Author: Marcus Chadwick /*====================

@mixin vertical-center-parent {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@mixin vertical-center-child {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

//variable for color of micrclick circle effect on menu links
$inkbgcolor: hsl(220, 100%, 80%);

.mobile-menu {
    /* skin specific non-critical appearance styles */
    font-size: 1.25rem;
    text-transform: uppercase;

    // needs to be same as slot categories hidden slide down panel background colour
    background-color: #322B84;
}



.nav-for-mobile {
    @extend .show-for-medium-down;

    position: relative;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;

    @include opacity(1);

    height: initial;
    background-color: $global-bg-color;

    .small--balances {
        @include grid-column(2);

        margin-top: 4px;
    }
}

.mobile-menu-lists {
    /* cross skin critical sizing and position styles */
    overflow: scroll;
    height: 100%;

    .mobile-menu-item {
        .slots-categories {
            /* skin specific non-critical appearance styles */
            width: 110px;
            padding: 0 15px;
            font-size: 0.9rem;
            line-height: 35px;
            text-align: left;

            .chevron-icon {
                fill: $white;
                position: absolute;
                right: 15px;
                top: 13px;
            }
        }
    }
}

.mobile-menu-list {
    /* cross skin critical sizing and position styles */
    width: 100%;
    position: relative;
    height: 100%;
}

.mobile-menu-top-area {
    /* skin specific non-critical appearance styles */
    background-color: $black;

    .search-input > input[type=text], .search-input {
        border: none;
        box-shadow: none;
        height: 41px;
        font-size: 20px;
        text-transform: uppercase;
    }
}

.mobile-menu-top-area__row {
    /* cross skin critical sizing and position styles */
    display: block;
    width: 100%;

    @include grid-row;

    // height: 48px;
    // margin-bottom: 5px;
}

.mobile-menu-top-area__join {
    a {
        /* skin specific non-critical appearance styles */
        @include border-radius(2px);

        background-color: $global-link-color;
        font-family: $ui-font-bold;
        font-size: 20px;
        font-weight: bold;
        color: $white;
    }
}

.mobile-menu-top-area__balance {
    /* cross skin critical sizing and position styles */
    @include grid-column(8, $collapse: true);

    color: $white;

    .inner {
        height: 42px;
        line-height: 42px;

        @include background-clip(padding-box);

        margin-right: 10px;

        span {
            font-family: $ui-font-bold;
            font-size: 20px;
        }
    }
}

.mobile-menu-top-area__vip-level {
    .inner {
        /* skin specific non-critical appearance styles */
        background-color: $black;

        @include border-radius(2px);

        //font style
        color: $white;
        font-family: $body-font-demi;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
}

.mobile-menu-item {
    /* skin specific non-critical appearance styles */
    //font styles
    color: $global-link-color;
    font-family: $ui-font-semibold;
    font-size: 20px;

    // @include text-shadow(1px 1px 0 rgba(0, 0, 0, 0.6));

    //bar styles
    border-bottom: 1px solid $black;
    background-color: $global-bg-color;
    transition: 500ms;

    &.active {
        background-color: lighten($main-highlight-color, 10%);
        border: none;

        a {
            color: $white;
        }
    }

    a {
        color: $white;
        font-family: $ui-font-bold;

        &.active {
            color: $portage-lilac;
        }
    }

    // Slots Categories Button
    .slots-categories {
        /* skin specific non-critical appearance styles */
        background: $global-link-color;
        font-family: $ui-font-bold;
        color: white;
        text-shadow: none;
        font-size: 14px;

        .chevron-icon {
            opacity: 0.6;
            fill: $white;
        }
    }

    &__submenu {
        background: #4E2375;
        transition: 500ms;
        position: relative;
        z-index: 1;

        &-toggle {
            background: none;
            border: 1px solid #AB95BF;
            border-radius: 100px;
            cursor: pointer;
            min-width: 110px;
            padding: 0 10px;
            font-family: $ui-font-bold;
            color: white;
            font-size: 14px;
            line-height: 33px;
            text-shadow: none;
            position: absolute;
            top: 8px;
            right: 7px;
            z-index:2;


            .chevron-icon {
                opacity: 0.6;
                fill: $white;
            }
        }

        &__content {
            opacity: 0;
            transition: 500ms;
        }
    }

    &.is-active {
        .mobile-menu-item {
            &__submenu {

                &-toggle {

                }

                &__content {
                    opacity: 1;
                }
            }
        }
    }
}

.mobile-menu-section-title {
    /* skin specific non-critical appearance styles */
    //font styles
    color: #fff;
    font-family: $ui-font-semibold;
    font-size: 13px;
    font-weight: bold;

    @include text-shadow(0 0 1px #565552);

    // bar styles
    background-color: darken($minsk-blue, 10%);
}

// Mobile Menu Slots Categories Hidden Slide Down Panel

.mobile-menu {
    font-family: $ui-font-semibold;

    /* Override the global */
    .mobile-menu-item {
        .games-filter-menu__popover-wrap {
            opacity: 1;
            height: auto;
        }
    }

    .games-filter-menu__popover-wrap {
        font-family: $ui-font-semibold;

        .games-filter-menu__popover {
            font-family: $ui-font-semibold;
        }

        .games-filter-menu__popover .tabs-content .content ul li a {
            font-family: $ui-font-semibold;
        }

        .tab-title.active a {
            text-decoration: underline;
        }

        // css3 animation for sliding down categories panel
        // -webkit-animation: slidedown 1s forwards;
        // animation: slidedown 1s forwards;
        // -webkit-animation-delay: 3s;
        // animation-delay: 3s;
        // @-webkit-keyframes slidedown {
        //     100% {
        //         height: 246px;
        //         opacity: 1;
        //     }
        // }
        // @keyframes slidedown {
        //     100% {
        //         height: 246px;
        //         opacity: 1;
        //     }
        // }

    }
}

//svg background images

.mobile-menu {
    // mobile header login button
    .mobile-menu-item {
        a {}
    }

    .mobile-menu-item.logout-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/logout.svg);
        background-position: 9px 14px;
    }

    .mobile-menu-item.gamelimits-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/gamelimits.svg);
    }

    .mobile-menu-item.responsiblegaming-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/responsiblegaming.svg);
    }

    .mobile-menu-item.privacy-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/privacy.svg);
    }

    .mobile-menu-item.about-us-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/aboutus.svg);
    }

    .mobile-menu-item.terms-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/terms.svg);
    }

    .mobile-menu-item.faq-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/faq.svg);
    }

    .mobile-menu-item.support-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/support.svg);
        background-size: 6%;
    }

    .mobile-menu-item.community-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/community.svg);
        background-size: 6%;
        // background-position: 7px 17px;
    }

    .mobile-menu-item.deposit-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/deposit.svg);
    }

    .mobile-menu-item.cashier-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/cashier.svg);
        background-position: 11px 13px;
    }

    .mobile-menu-item.myaccount-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/myaccount.svg);
    }

    .mobile-menu-item.loyalty-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/loyalty.svg);
             background-size: 6%;
    }

    .mobile-menu-item.promotions-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/promotions.svg);
    }

    .mobile-menu-item.allgames-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/allgames.svg);
    }

    .mobile-menu-item.roulette-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/roulette.svg);
    }

    .mobile-menu-item.scratch-and-arcade-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/scratch.svg);
    }

    .mobile-menu-item.tablecard-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/tablecard.svg);
    }

    .mobile-menu-item.live-casino {
        background-image: url(../_images/live-casino/poker-chip-icon.svg);
        background-position: 15% 15px;
    }

    .mobile-menu-item.slots-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/slots-white.svg);
        background-size: 6%;
        background-position: 15% 17px;
    }

    .mobile-menu-item.sports-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/sports.svg);
        background-size: 7%;
        background-position: 14% center;
    }

    .mobile-menu-item.favourites-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/favourites.svg);
    }

    .mobile-menu-item.newgames-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/newgames.svg);
        background-size: 4%;
        // background-position: 12px 14px;
    }

    .mobile-menu-item.gamesearch-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/search.svg);
        // background-size: 5%;
        // background-position: 8px 12px;
    }

    .mobile-menu-item.settings-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/settings.svg);
    }

    .mobile-menu-item.complaints-disputes-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/complaints.svg);
         background-size: 7%;
        background-position: 14% 13px;
    }

    .mobile-menu-item.archive-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/archive.svg);
         background-size: 6%;
        background-position: 14% 13px;
    }

    @for $i from 1 through 25 {
        #ui-id-#{$i} {
            /* skin specific non-critical appearance styles */
            //font styles
            color: $global-link-color;
            font-family: $ui-font-semibold;
            font-size: 14px;

            //bar styles
            border-top: 1px solid darken($global-link-color, 80%);
            border-bottom: none;
            background-image: none;
            background-color: $white;
        }
    }

    .ui-state-focus {
        background: $global-link-color !important;
        background-image: none;
        color: $white !important;
        box-shadow: none  !important;
    }
}

// auto complete search

.ui-auto-complete {}

// nav toggle menu with animation into cross shape

.menu-toggle-wrap {
    cursor: pointer;

    .burger {
        background: $global-link-color;

        &:before {
            background: $global-link-color;
        }

        &:after {
            background: $global-link-color;
        }
    }

    .burger.active {
        border: 4px solid $global-link-color;
    }
}

.nav-for-mobile > a.login-button--nav-for-mobile.menu-link {
    font-family: $ui-font-bold;
    font-size: 15px;
    padding: 6px;
    padding-left: 16px;
    padding-right: 16px;
    color: #011558;
    background: $global-link-color-secondary;

    @include background-image(linear-gradient(to top, #c6aeeb 0%, white 100%));

    color: $pearl-black;
    border-radius: 50px;
}