.alertbox {
    min-width: 436px;
    min-height: 115px;
    max-width: 500px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    @include box-shadow(0 3px 0 rgba(0, 0, 0, 0.35));
    background-color: #ffffff;
    color: $black;
    @include border-radius(3px);
    z-index: 9999999999;
    text-align: center;
    font-family: $font-button;
    @media #{$small-only} {
        min-width: 90%;
    }

    @media #{$medium-only} {
        top: 30%;
    }

    &__cta {
        a:hover {
            color: $black;
            border: 2px solid $black;
        }
    }

    h3 {
        font-family: $font-copy;
        font-weight: bold;
        text-transform: uppercase;
        color: $black;
        @media #{$small-only} {
            font-size: 1em;
        }
    }
    p {
        font-family: $font-copy;
        color: $black;
        @media #{$small-only} {
            font-size: 0.9em;
        }
    }
    .ok-cta {
        margin-bottom: 1em;
        color: $black;
        text-align: center;
        border: 2px solid $black;
        border-radius: 50px;
        text-transform: uppercase;
        padding: 10px 40px;
        &:hover {
            background-color: $yellow-hover;
            border: 2px solid $yellow-hover;
        }
    }
    .cancel-cta {
        margin-bottom: 1em;
        margin-top: 1em;
        color: $black;
        border: 2px solid $black;
        border-radius: 3px;
        text-transform: uppercase;
        padding: 0.8em;
        margin-right: 20px;
    }
    .alertbox__cta {
        margin-top: 2em;
        margin-bottom: 1em;
    }
}

.alert-background {
    height: 100%;
    overflow: auto;
    overflow-y: scroll;
    background-color: transparentize(black, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999999;
}