.cookie-policy {
    .container {
        width: 86rem;
        margin: 0 auto;
        position: relative;

        .cookie-policy__button {
            margin-top: rem-calc(8px);
        }
    }
}



.responsible-gaming-modal {
	.responsible-gaming-popup {
		background-color: #FAFAFC !important;

		.title {

			h1 {
				color:#000 !important;
			}
		}

		.copy {

			p {
				color:#000 !important;
			}
		}

		.terms {
			p {
				color: #000 !important;

				a {
					color: #000 !important;
				}
			}
		}
	}
}

//Third Parties Consent Modal
.third-party-consent--modal {
    /*  display: none;  */
    position: fixed; /* Stay in place */
    z-index: 99999999999 !important; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5);

    .third-party-consent--popup {
        position:absolute;
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: 800px;
        z-index: 3;
        text-align:center;
        box-shadow: 0 3px 0 0 rgba(0,0,0,0.35);
        padding: 20px 90px;
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;


        @media #{$medium-only} {
            height: 760px;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            top: 50%;
            left: 50%;
            position: fixed;
            overflow: auto;
            padding: 10px 40px;
        }

        @media #{$small-only} {
            height: 710px;
            width: 100%;
            max-width: 365px;
            margin: 0 auto;
            top: 50%;
            left: 50%;
            position: fixed;
            overflow: auto;
            padding: 10px 25px;
        }

        @media only screen and (min-width: 320px) and ( max-width: 360px ){
            height:100%;
            width:100%;
            max-width:365px;
            margin:0 auto;
            top:50%;
            left:50%;
            position:fixed;
            overflow:auto;
            max-height:600px;
        }

        h1 {
            font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
            font-weight: bold;
            color: #030104;
            font-size: 24px;    
            line-height: 28px;
            text-transform: none;
            padding-top: 25px;

            @media #{$small-only} {
            	padding-top: 10px;
            }
        }


        .title {
            text-align: left;
            font-size: 16px;
            color: #000;

            p {
                padding-top: 25px;
                font-weight: bold;

                @media #{$small-only} {
                	padding-top: 15px;
            		font-size: 14px;
            	}
            }
        }

        .copy {
            p {
                font-size: 15px;
                text-align: left;
                color: #000;

                @media #{$small-only} {
            		font-size: 14px;
            	}
            }
        }

        .trusted-parties {
            ul {
                text-align: left;
                padding-left: 20px;
                margin-bottom: 0;
                color: #000000;

                li {
                    list-style-type: disc;
                }
            }
        }

        /* The container */
        .checkbox-trusted-parties {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            text-align: left;
        }

        .trusted-parties-list {
            list-style-type: none;
            padding-left: 20px;
        }

        label {
            color: #000;
        }

        /* Hide the browser's default checkbox */
        .checkbox-trusted-parties input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        /* Create a custom checkbox */
        .checkmark-trusted-parties {
            position: absolute;
            top: 0;
            left: 0;
            height: 22px;
            width: 22px;
            border: 1px solid #000;
            border-radius: 4px;
        }

        /* When the checkbox is checked, add a blue background */
        .checkbox-trusted-parties input:checked ~ .checkmark-trusted-parties {
            background-color: #fff;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark-trusted-parties:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .checkbox-trusted-parties input:checked ~ .checkmark-trusted-parties:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .checkbox-trusted-parties .checkmark-trusted-parties:after {
            left: 7px;
            top: 3px;
            width: 6px;
            height: 11px;
            border: solid black;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);

        }

         .info {
            p {
                font-size: 12px;
                text-align: left;
                color: #909297;
                padding-top: 25px;

                strong {
                    color: #000;
                }
            }
        }

        .btn-continue {
            margin: 0 auto;
            padding: 15px;
            margin-top: 50px;
            margin-bottom: 30px;
            

            a {
                width: 200px;
                background: #3FC27C;
                color: #fff;
                font-weight: bold;
                border-radius: 50px;
                padding: 15px 60px;
            }
        }
    }
}