.main-wrap {
    @media #{$large-up} {
        margin-top: 33px;
    }
}

.switch-old-to-new-message {
    @include grid-column(12);

    @include show-for-large-up;

    position: fixed;
    top: 0;
    font-family: $body-font-regular;
    font-size: 0.8em;
    line-height: 3;
    background: $white;
    z-index: 40;

    .switch-old-to-new-message__wrap {
        @include grid-row;

        .switch {
            @include grid-column(4);

            margin: 0;
            text-align: left;
            color: #887AD9;
            text-decoration: underline;
        }

        .message {
            @include grid-column(8);

            width: auto;
            margin: 0;
            padding-right: 0;
            font-weight: 600;
            float: right;
            text-align: right;
            margin-right: 20px;
            cursor: pointer;

            p {
                color: $nav-active-color;
                float: left;
                margin: 0;
                line-height: 3;
                font-weight: 600;
                padding-right: 5px;
            }

            .luke {
                background: url(/_images/switch-old-to-new/luke-hands-up.png) no-repeat center center;
                background-size: 150%;
                height: 33px;
                width: 67px;
                padding: 0;
                padding-right: 5px;
                display: block;
                float: left;
                clear: none;
                padding: 0;
                margin: 0;
            }

            .reminder {
                float: left;
                padding-left: 5px;
                color: $global-link-color;
                text-decoration: underline;
            }
        }
    }

    .close {
        height: 100%;
        width: 40px;
        position: absolute;
        top: 0;
        right: 0;
        background: url(/_images/switch-old-to-new/close-message.svg) no-repeat center center;
        background-size: 24px;
        cursor: pointer;
    }
}