// MAIN WRAP MARGIN WHEN TOP MESSAGE IS VISIBLE
.main-wrap {
    &.top-message {
        margin-top: 0px;

        @media #{$small-only} {
            margin-top: 0px !important;
        }

        @media #{$medium-only} {
            margin-top: 0px !important;
        }
    }
}

// NEW LP SWITCH TOP MESSAGE
.switch-top-message {
    @include grid-column(12);

    @media #{$small-only} {
        display: none !important;
    }

    @media #{$medium-only} {
        display: none !important;
    }

    position: fixed;
    font-family: $body-font-regular;
    font-size: 0.8em;
    top: -45px;
    line-height: 4.2;
    background: #fffacb;
    z-index: 9999;
    height: 45px;
    overflow: hidden;
    margin: 0 !important;

    .switch-top-message__wrap {
        @include grid-row;

        .switch {
            @include grid-column(4);

            margin: 0;
            text-align: left;
            color: #887AD9;
            text-decoration: underline;
        }

        .message {
            @include grid-column(8);

            position: relative;
            width: auto;
            margin: 0;
            padding-right: 0;
            font-weight: 600;
            float: right;
            text-align: right;
            margin-right: 35px;
            cursor: pointer;
            font-size: 12px;

            p {
                color: $nav-active-color;
                float: left;
                margin: 0;
                line-height: 4;
                font-weight: 600;
                padding-right: 5px;
            }

            .luke {
                background: url(/_images/switch-old-to-new/luke-hands-up.png) no-repeat center center;
                background-size: 130%;
                height: 45px;
                width: 70px;
                float: left;
                clear: none;
                padding: 0;
                margin: 0;
            }

            .reminder {
                float: left;
                padding-left: 5px;
                color: $global-link-color;
                text-decoration: underline;
                line-height: 4;
            }

            svg {
                position: absolute;
                float: right;
                right: 0;
                z-index: -1;
            }

            .glittering {
                animation: glitterOne 4.5s linear 0s infinite normal;
            }

            .glittering1 {
                animation: glitterOne 3.5s linear 0s infinite normal;
            }

            .glittering2 {
                animation: glitterTwo 3.0s ease-in 1s infinite normal;
            }

            @keyframes glitterOne {
                0% {
                    -webkit-transform: scale(1);
                    opacity: 1;
                }

                25% {
                    -webkit-transform: scale(0.5);
                    opacity: 0;
                }

                50% {
                    -webkit-transform: scale(1);
                    opacity: 1;
                }

                75% {
                    -webkit-transform: scale(0.5);
                    opacity: 0;
                }

                100% {
                    -webkit-transform: scale(1);
                    opacity: 1;
                }
            }

            @keyframes glitterTwo {
                0% {
                    -webkit-transform: scale(0.5);
                    opacity: 1;
                }

                25% {
                    -webkit-transform: scale(0.3);
                    opacity: 0.5;
                }

                50% {
                    -webkit-transform: scale(0.8);
                    opacity: 1;
                }

                75% {
                    -webkit-transform: scale(0.3);
                    opacity: 0.5;
                }

                100% {
                    -webkit-transform: scale(0.5);
                    opacity: 1;
                }
            }
        }
    }

    .close {
        height: 100%;
        width: 40px;
        position: absolute;
        top: 0;
        right: 10px;
        background: url(/_images/switch-old-to-new/close-message.svg) no-repeat center center;
        background-size: 30px;
        cursor: pointer;
    }
}

// OLD LP SWITCH TOP MESSAGE

// .switch-top-message-old-lp {
//     @include grid-column(12);

//     @include show-for-large-up;

//     position: fixed;
//     top: 0;
//     font-family: $body-font-regular;
//     font-size: 0.8em;
//     line-height: 4.2;
//     background: #fffacb;
//     z-index: 9999;
//     height: 45px;

//     .switch-top-message-old-lp__wrap {
//         @include grid-row;

//         h2 {
//             color: #5820A9;
//             float: left;
//             margin: 0;
//             line-height: 3.2;
//             font-weight: 600;
//             font-size: 15px;
//             padding-right: 5px;
//             font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
//             letter-spacing: 0;
//             position: absolute;

//             span {
//                 font-weight: normal;
//             }
//         }

//         .cta-wrap {
//             @include grid-column(4);

//             float: right;
//             position: relative;

//             .luke {
//                 background: url(/_images/switch-old-to-new/luke-hands-up.png) no-repeat center center;
//                 background-size: 130%;
//                 height: 45px;
//                 width: 70px;
//                 display: block;
//                 float: left;
//                 margin: 0;
//                 margin-left: 50px;
//             }

//             svg {
//                 position: absolute;
//                 float: right;
//                 right: 0;
//                 z-index: -1;
//             }

//             .glittering {
//                 animation: glitterOne 4.5s linear 0s infinite normal;
//             }

//             .glittering1 {
//                 animation: glitterOne 3.5s linear 0s infinite normal;
//             }

//             .glittering2 {
//                 animation: glitterTwo 3.0s ease-in 1s infinite normal;
//             }

//             @keyframes glitterOne {
//                 0% {
//                     -webkit-transform: scale(1);
//                     opacity: 1;
//                 }

//                 25% {
//                     -webkit-transform: scale(0.5);
//                     opacity: 0;
//                 }

//                 50% {
//                     -webkit-transform: scale(1);
//                     opacity: 1;
//                 }

//                 75% {
//                     -webkit-transform: scale(0.5);
//                     opacity: 0;
//                 }

//                 100% {
//                     -webkit-transform: scale(1);
//                     opacity: 1;
//                 }
//             }

//             @keyframes glitterTwo {
//                 0% {
//                     -webkit-transform: scale(0.5);
//                     opacity: 1;
//                 }

//                 25% {
//                     -webkit-transform: scale(0.3);
//                     opacity: 0.5;
//                 }

//                 50% {
//                     -webkit-transform: scale(0.8);
//                     opacity: 1;
//                 }

//                 75% {
//                     -webkit-transform: scale(0.3);
//                     opacity: 0.5;
//                 }

//                 100% {
//                     -webkit-transform: scale(0.5);
//                     opacity: 1;
//                 }
//             }

//             .cta {
//                 height: 30px;
//                 width: 180px;
//                 background: url(/_images/switch-old-to-new/cta-try-button.svg) no-repeat center center;
//                 float: right;
//                 top: 8px;
//                 position: relative;
//             }
//         }
//     }

//     .close {
//         height: 100%;
//         width: 40px;
//         position: absolute;
//         top: 0;
//         right: 0;
//         background: url(/_images/switch-old-to-new/close-message.svg) no-repeat center center;
//         background-size: 30px;
//         cursor: pointer;
//     }
// }