// ----------
// BASE COLOURS 
// ----------
$white: #FFF;
$dusty-grey: #969696;
$silver: #C7C7C7;

//used for white
$black: #000;

//used for black
$off-white: #fcfafa;

// used in various background locations

// MAY 2015 NEW BRAND guideline colour palette

$pearl-black: #040422;
$blackrock-blue: #190541;
$tolopea: #1C0344;
$black-russian: #100128;
$minsk-blue: #322b84;
$lucky-point: #1D1F67;
$bay-of-many: #323496;
$blue-violet: #4B4DB4;
$destiny: #26185B;

// used in blue palette
$portage-lilac: #ac81ee;
$bright-turquoise: #04cde8;
$razzmatazz-pink: #db1467;
$egg-blue: #01BDDD;

//cashier colours (needs reviewing)
$grey: #898989;

//used for various, text etc
$grey-light: #F9F9F9;
$orange: #cf6e0e;
$grey-dark: #303030;
$grey-light-bg: #EFEFEF;
$grey-lighter-bg: #EFEFEF;
$soft-peach:#FCFAFB;
$tundora: #494949;
$lemonchiffon:#FFFBC6;
$limeade: #55BA00;

//Form validation colors
$lima: #70B71D;
$torchred: #FF0041;
$skylar: #0cecfc;
$carnation: #FB5368;

//used in promo bg
$lighter-bg: #EFEFEF;

//used in cashier and my account convert points
$pale-sky: #646F83;

// used in cashier
$alice-blue: #F5FBFF;

// used in cashier
$lynch: #66769E;

// used in states cashier and quick links widget
$scarpa-Flow: #585562;

//Registration
$bg-color: #16023F;
$lucky-point: #231463;
$biloba-flower: #c6aeeb;
$gulf-blue: #011558;
$gray: #828282;
$dusty-gray: #969696;
$silver-chalice: #A4A4A4;
$dove-gray: #666666;
$robin-egg-blue: #01BDDD;
$violet: #100527;
$amethyst-smoke: #968ba9;
$gallery: #eeeeee;
$green-vogue: #042E64;
$malibu: #84BAFF;
$prussian-blue: #00214B;


// used in purple palette

// semantic names (needs reviewing)

$bgcolor: $blackrock-blue;
$brand-color: $lucky-point;
$main-highlight-color: $razzmatazz-pink;
$ctacolor: $brand-color;

$title: $scarpa-Flow;
$content-text: darken($grey, 25%);
$pagetitle: darken($grey, 30%);
$account-blue: $alice-blue;
$account-highlited-blue: $lynch;
$navigation-text-color: $white;

$global-link-color: $bright-turquoise;
$global-link-color-secondary: #CFBBEE;
$global-link-color-text: #6A4A9B;
$global-bg-color: $blackrock-blue;
$nav-active-color: $global-link-color;

// ----------
// PALETTE OF COLOURS
// ----------
// Map Object with all the coluours and the variations
$palettes: (black: (), white: (), grey: (base: $grey, light: lighten($grey, 20%), dark: darken($grey, 20%)), orange: (base: $orange, light: lighten($orange, 10%), dark: darken($orange, 10%)), pink: (base: $razzmatazz-pink, light: lighten($razzmatazz-pink, 10%), dark: darken($razzmatazz-pink, 10%)), green: (base: #208d12, light: lighten(#208d12, 10%), dark: darken(#208d12, 10%)), purple: (base: $scarpa-Flow, light: lighten($scarpa-Flow, 10%), dark: darken($scarpa-Flow, 10%)), blue: (base: $lucky-point, light: lighten($lucky-point, 10%), dark: darken($lucky-point, 10%)));

$ui-table-even: $grey-light;
$ui-table-header: $bgcolor;

//textarea
$body-font-color: $black;
$body-font-color-light: lighten($body-font-color, 10%);

// -------------------
// Font size
// -------------------
$headline: 1.5em;
$subheadline: 1.125em;

/*=============================================
=            fonts            =
=============================================*/

$ui-font-regular: "uni_sans_regular", Helvetica, Arial, Verdana, sans-serif;
$ui-font-book: "uni_sans_book", Helvetica, Arial, Verdana, sans-serif;
$ui-font-semibold: "uni_sans_semibold", Helvetica, Arial, Verdana, sans-serif;
$ui-font-bold: "uni_sans_bold", Helvetica, Arial, Verdana, sans-serif;
$ui-font-heavy: "uni_sansheavy_caps", Helvetica, Arial, Verdana, sans-serif;

$heading-font-bold: "intro_bold_capsregular", Helvetica, Arial, Verdana, sans-serif;

$body-font-regular: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$body-font-medium: "uni_sans_semibold", Helvetica, Arial, Verdana, sans-serif;
$body-font-demi: Helvetica, Arial, sans-serif;
$body-font-bold: Helvetica, Arial, sans-serif;

$button-font: "uni_sans_bold", Helvetica, Arial, Verdana, sans-serif;

/*=============================================
=  default site margin / gutter / padding / spacing           =
=============================================*/
$site-margin: rem-calc(14px);



/*=============================================
=  permanent variable to ensure Category carousel           =
=============================================*/
$category-carousel-h1:$heading-font-bold;
$category-carousel-title-link:$white; 
$category-carousel-font-family:$ui-font-regular;

$category-carousel-font-family-bold:$ui-font-bold; 

$category-carousel-background:$off-white;


// title and its background
$category-carousel-main-highlight-color: $white;
$category-carousel-main-highlight-background-color:$lucky-point;

// view all link (right)
$category-carousel-view-all-link:$global-link-color;

//accordion
$nav-main-color: #fff;

//used on promo modal
$radical-red:#FD276F;
/*=============================================
=  Claim prize promotion tabs                 =
=============================================*/
$claimed-prize-amount-highligted: $radical-red;
$claimed-prize-headers-background: $nav-active-color;
$claimed-prize-headers-color: $white;
$claimed-prize-button-start-color: $nav-active-color;
$claimed-prize-button-end-color: $nav-active-color;
$font-color: $white;
$claimed-prize-close-reveal: #AAAAAA;
$claim-prize-confirmation-background: $lighter-bg;
// MARCH 2017 RE-DESIGN HOMEPAGE PALLETE

$violet: #120429;
$portage: #95a0ef;
$aqua: #00E1FF;
$french-pass: #B6F6FF;

//3 STEP REGISTRATION HEADER
$theme--color--primarypurple: $black-russian;

//3 STEP REGISTRATION GLOBAL VARIABLES 

//fonts
$registration-3step-font-light: $body-font-regular;
$registration-3step-font-regular: $body-font-regular;
$registration-3step-font-bold: $button-font;

// background
$registration-3step-bg--base: $white; 
$registration-3step-bg--main: $black-russian;

// banner#1C0344
$registration-3step-banner-bg: $black-russian;

// 3 step steps
$registration-3step-title: $white;
$registration-3step-title--border: $skylar;
$registration-3step-border--bottom: $destiny;

// title (Mr Mrs Miss Ms)
$registration-3step-button--bg: $white;
$registration-3step-button-color--selected: $tolopea;
$registration-3step-button-color: $white;

// input
$registration-3step-input--label: $white;
$registration-3step-input--border: $tundora;
$registration-3step-input--content: $blackrock-blue;

//select
$registration-3step-select-text: $tundora;

//date
$registration-3step-date-border: $silver;
$registration-3step-date-text: $silver;



//find address CTA
$registration-3step-address-bg: $egg-blue;
$registration-3step-address-text: #100527;

// validations and requirements
$registration-3step-requirements: $white;
$registration-3step-input--success: $lima;
$registration-3step-input--error: $carnation;

//CTAS
$registration-3step-cta: $egg-blue;
$registration-3step-cta--text: $white;
$registration-3step-cta--dropshadow: $egg-blue;
$registration-3step-tick-border: $black;
$registration-3step-tick-text: $black;

// terms & conditions
$registration-3step-terms: $dusty-grey;

/*=============================================
COOKIE POLICY VARIABLES
=============================================*/

$cookie-block-bg: $white;
$cookie-message-color: $black;
$cookie-link-color: $black;
$cookie-cta-bg: $bright-turquoise;
$cookie-cta-color: $white;
$cookie-cta-hover: $egg-blue;
//Cashier Widget
$cashier-welcome-font: "uni_sans_bold", Helvetica, Arial, Verdana, sans-serif;
$cashier-welcome-size: 22px;
$cashier-widget-header: #fff;

/*=============================================
PRIZE WHEEL
=============================================*/
$prize-wheel-icon: url("../_images/prize-wheel/prize-wheel-mv.svg");
$prize-wheel-font: Helvetica, Arial, Verdana, sans-serif;