.favourites {
    .favourites__placeholder {
  @include grid-column(2, $collapse: true);
        // padding-right: $site-margin / 2;
        // padding-bottom: $site-margin / 2;
        border: 1px solid $luckyvip--midnight;
        @media #{$medium-only} {
            @include grid-column(4, $collapse: true);
            // padding-right: $site-margin / 2;
            // padding-bottom: $site-margin / 2;
            border: 1px solid $luckyvip--midnight;
        }
        @media #{$small-only} {
            @include grid-column(6, $collapse: true);
            // padding-right: $site-margin / 2;
            // padding-bottom: $site-margin / 2;
            border: 1px solid $luckyvip--midnight;
        }
    }
}