.games-pages {
    .games-pages__acquisition {
        margin-top: $site-margin;
        padding-bottom: 0px;
        max-height: 155px;
        .section__title {
            @media #{$small-only} {
                display: block;
            }
            @media #{$medium-up} {
                display: none;
            }
        }
        .games-pages__quick-links-widget {
            @media #{$small-only} {
                display: none;
            }
            @media #{$medium-up} {
                display: inherit;
            }
        }
        .games-pages__acquisition-banner {
            @media #{$medium-up} {
                img {
                    height: 100%;
                    max-height: 155px;
                }
            }
        }

    }
}