.games-filters {
    @include grid-column(12);
    position: relative;
    z-index: 1;
    padding: 0px;
    // margin-bottom: $site-margin;
    @media #{$medium-only} {
        margin-bottom: 30px;
        top: 30px;
    }
    @media #{$small-only} {
        margin-bottom: 40px;
        top: 40px;
    }
    .games-filter-menu__popover {
        // margin-top: 42px;
    }
    .games-menu__container {
        @include grid-column(12);
        padding: 0;
        position: relative;
        .games-menu__games-nav {
            @include grid-row;
            @include list-inline;
            margin: 0 auto;
            height: 50px;
            width: 100%;
            position: relative;
            padding-top: 20px;
            padding-left: 15px;
            background-color: $luckyvip--contentbg--navy;
            li {
                border: none;
                text-align: center;
                font-family: $ui-font-bold;
                font-size: $theme--ui----desktop--fontsize13;
                list-style: none;
                &.quicklinks {
                    font-family: $body-font-bold;
                    font-weight: normal;
                    margin-left: 0px;
                    width: 10%;
                    border-left: none;
                    background: none;
                }
            }
            #allslots,
            #table-card,
            #scratchcards {
                margin-right: 10px;
                a {
                    @include CTA-button(8px 22px, 0.9em, 0px, $luckyvip--san-marino, $luckyvip--san-marino);
                    color: $white;
                    background-image:-ms-linear-gradient(top, $luckyvip--san-marino 0%, $luckyvip--san-marino 100%);
                    text-shadow: none;
                    text-transform: uppercase;
                    font-size: $theme--ui----desktop--fontsize13;
                    &:hover {
                        background: $luckyvip--mercury;
                    }
                    &.active {
                        color: $white;
                        background: $luckyvip--indigo;
                        box-shadow: inset 0px 1px 2px 0px $luckyvip--chathams-blue;
                        &:hover {
                            color: $luckyvip--darknavy;
                            background: $luckyvip--mercury;
                            box-shadow: inset 0px 1px 2px 0px $luckyvip--mercury;
                        }
                    }
                }
            }
            // Games menu above main content slots by type. #magicalMenu
            .ui-game-filter-btn-home-above {
                font-size: $theme--ui----desktop--fontsize13;
                margin-right: 14px;
                text-transform: uppercase;
                @include CTA-button(8px 37px, inherit, 0px, $luckyvip--santas-gray, $white);
                img {
                    padding-right: 5px;
                }
            }
            .ui-game-filter-btn-home-above {
                // @include show-for-small-only;
                @include CTA-button(8px 28px, inherit, 0px, $luckyvip--santas-gray, $white);
                margin-top: -20px;
                background-image:-ms-linear-gradient(top, $white 0%, $luckyvip--santas-gray 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc');
            }
            .ui-game-filter-menu-home-above {
                @media #{$small-up} {
                    left: -135px;
                    top: 1px;
                }

                @media #{$medium-only} {
                    left: -175px;
                }

                @media #{$large-only} {
                    left: -139px;
                    top: -10px;
                }
                // .ui-filter-tabs {
                //     a {
                //         padding: 0px;
                //     }
                //     .active {
                //         background: red;
                //     }
                // }
                // .tabs-content {
                //     a {
                //         padding: 8px 0px 0px 0px;
                //     }
                // }
            }
            .games-menu__games-nav__search {
                @include hide-for-small-only;
                @include hide-for-medium-only;
                width: auto !important;
                float: right;
            }
            @media #{$medium-only} {
                background-image: none;
                background-color: $luckyvip--contentbg--navy;
            }
            @media #{$small-only} {
                background-image: none;
                background-color: $luckyvip--contentbg--navy;
            }
        }
        #table-card,
        #scratchcards {
            @include hide-for-small-only;
            @include hide-for-medium-only;
        }
        //        #allslots {
        //            @include hide-for-small-only;
        //        }
    }
    .search-input {
        font-size: 1.1em;
        @media #{$medium-up} {
            @include grid-column(4);
            right: 0;
        }
        @media #{$small-only} {
            @include grid-column(6);
        }
        input[type=text] {
            font-size: 1em !important;
        }
    }
    .desktop-search-results-container {
        margin: 0 !important;
        width: 97% !important;
        margin-top: 2px !important;
        border-radius: 4px;
        box-shadow: 0px 3px 0 0px rgba(0, 0, 0, 0.14);
        li {
            border-bottom: 1px solid #E6F1FB !important;
            height: 70px;
            @include transition(all, 0.2s ease-out);
            a {
                @include grid-column(12);
                padding: 5px !important;
                background: none !important;
                box-shadow: none !important;
                .search-result__thumb {
                    @include grid-column(3);
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    .search-result__thumb__img {
                        height: auto;
                        padding: 0;
                    }
                }
                .search-result__name {
                    @include grid-column(9);
                    margin: 0;
                }
            }
            .search-result__name__inner {
                color: $global-link-color !important;
                margin: 0;
                font-family: $body-font-bold;
                font-size: 13px !important;
                text-transform: uppercase;
                text-align: left;
                padding: 0 ($site-margin / 2) !important;
            }
        }
    }
}
