.game-review {
    font-size: 1rem;
    @include grid-column(12);
    background: $luckyvip--firefly;
    @include clearfix;
    margin-bottom: $site-margin;
    margin-top: $site-margin;

    .game-review__content{

    }

    .game-review__content__title {
        font-family: $heading-font-bold;
        text-transform: uppercase;
        color: #FFF;
        font-size: 1.1em;
        line-height: 1.2em;
        border-bottom: 1px solid $luckyvip--picton-blue;
        margin-bottom: $site-margin;
        margin-top: $site-margin;

        > a {
            color: $white;
        }
    }
    .game-review__content__image {
        padding: 0px;
        margin: 0px $site-margin $site-margin 0px;
        float: left;
        @media #{$small-only} {
            @include grid-column(12);
            margin-bottom: $site-margin;
            padding: 0px;
        }
    }
    .game-review__content__body{
        > p {
            font-size: 0.9em;
        }

        a {
            color: $white;
            text-decoration: underline;

            &:hover,
            &:active {
                color: $luckyvip--dodger-blue;
            }
        }
    }
    .game-review__publisher{
        font-size:0.8em;

    }
}