.games-filter-menu, .ui-game-filter-menu-home-above {
    // position: absolute;
    // top: 5px;
    // right: 25px;
    @media #{$large-up} {
        // top: 6px;
        // right: 18px;
    }
    // @include CTA-button(4px, 0.7em, 2px, lighten(#232323, 2%), lighten(#1a1a1a, 2%));
    // @include box-shadow(0 0 3px 1px black);
    //TEXT STYLE
    color: #23195D;
    font-family: $heading-font-bold;
    .game-filter-btn__wrapper {
        // float: right;
        // margin-top: 10px !important;
        text-align: center;
        // font-size: 12px;
        // margin-right: 0.5em;
        color: $white;
        font-family: $heading-font-bold;
        // @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.35));
        // width: 90px;
        // height: 26px;
        // line-height: 25px;
        // border: 1px solid #7d0353;
        // @include border-radius(3px 3px 0px 0px);
        // @include background-clip(padding-box);
        // background-color: #7d0353;
        &:hover {
            // background-color: lighten(#7d0353, 6%);
        }
        @media #{$large-up} {
            // margin-right: 5px;
        }
        .game-filter-btn {
            color: $white;
            background: darken(#59c4e7, 10%);
            padding: 0.2em;
            padding-left: 0.4em;
            padding-right: 0.4em;
            // border-radius: 1px;
            &:hover {
                border-bottom: none;
                background: #59C4E7;
            }
        }
    }
    .game-filter-btn {
        color: $white;
        &:hover {
            // cursor: pointer;
            // background-color: lighten(#7d0353, 6%);
        }
    }
    span {
        position: relative;

    }
    .nub {
        height: 9px;
        width: 15px;
        display: block;
        // background: url("../_images/common/magic-menu-nub.png") no-repeat;
        text-align: center;
        position: absolute;
        left: 140px;
        top: -9px;
    }
}

.games-filter-menu.selected {
    // @include CTA-button(4px, 0.7em, 2px, darken(#232323, 2%), darken(#1a1a1a, 2%));
    // &:hover {
    //     cursor: pointer;
    //     color: $navigation-text-color !important;
    //     @include CTA-button(4px, 0.7em, 2px, darken(#232323, 2%), darken(#1a1a1a, 2%));
    // }
    // a {
    //     color: $navigation-text-color;
    // }
}

.games-filter-menu__popover-wrap {
    position: relative;
    margin-top: 5px;
    @media #{$large-up} {
        margin-top: 16px;
        margin-left: 7px;
    }
}

.games-filter-menu__popover {
    position: absolute;
    display: none;
    z-index: 999;
    height: auto;
    width: 340px;
    background-color: $luckyvip--midnight;
    top: -15px;
    left: -8px;
    // @include opacity(1);
    // border: 1px solid #7d0353;
    border-top: none;
    text-transform: uppercase;

    @media #{$small-only} {
            width: 310px;
        }
    .tabs {
        @include grid-column(12, $collapse: true);
    }
    > dl > dd a,
    .tabs .tab-title a {
        background-color: $luckyvip--san-marino;
        color: $white;
        // @include background-image(linear-gradient(to top, $global-link-color 0%, darken($global-link-color, 9%) 100%));
        border-left: 1px solid darken($global-link-color, 90%);
        &:hover {
            // background-color: transparent;
            // @include opacity(0.8);
            color: $global-bg-color;
            // text-decoration: underline;
        }
    }
    > dl > dd.active a,
    .tabs .tab-title.active a {
        background-image: none;
        background-color: $luckyvip--midnight;
        color: $white !important;
        border-left: none;
        &:hover {
            text-decoration: none;
        }
    }
    > dl > dd {
        @include grid-column(3, $collapse: true);
        text-align: center;
        height: 44px;
        color: $navigation-text-color;
        &:active {
            padding-bottom: 4px;
            a {
                font-family: $ui-font-bold;
                font-size: 0.8em;
            }
        }
        a {
            font-family: $ui-font-bold;
            padding: 1px;
            height: 44px;
            @include vert-align(44px);
            font-size: 0.7em;
            &:hover {}
        }
    }
    .tabs-content {
        @include grid-column(12, $collapse: true);
        margin-bottom: 0px;
        color: $navigation-text-color;
        padding-left: 0.6em;
        margin-top: $site-margin;
        .content {
            padding-bottom: 0.4em;
        }
        .content ul {
            padding-left: 0em;
            padding-right: 0;
            padding-top: 0em;
            padding-bottom: 0em;
            height: auto;
            @include clearfix;
            li {
                font-family: $ui-font-semibold;
                font-size: 0.6em;
                font-weight: bold;
                padding-right: 1em !important;
                height: 44px;
                @include grid-column(4, $collapse: true);
                margin-bottom: 1em;
                a {
                    display: block;
                    text-transform: uppercase;
                    // border: 1px solid $navigation-text-color;
                    // border-radius: 3px;
                    @include background-image(linear-gradient(to top, #989db0 2%, white 100%));
                    color: #011558;
                    height: 44px !important;
                    line-height: 13px;
                    font-size: 1.1em;
                    text-align: center;
                    padding-top: 8px;

                    // &:hover {
                    //     background: $luckyvip--mercury !important;
                    // }
                }
                a:hover,
                a:focus {
                    background: $luckyvip--mercury;
                    padding-top: 8px;
                }
            }
        }
        .content-active {
            padding-bottom: 0px;
        }
    }
}

//Features
#ui-jackpot-slots {
    padding-top: 14px;
}

//Themes
#ui-food-and-fruit,
#ui-animals-nature,
#ui-egyptian {

    padding-top: 14px;
        @media #{$small-only} {
        padding-top: 14px !important;
    }
}

#ui-magic-myth,
#ui-animals-nature,
#ui-food-and-fruit,
#ui-hungry-for-slots,
#ui-movie-adventure {
    @media #{$medium-only} {
        padding-top: 14px;
    }
}

#ui-egyptian,
#ui-exclusive,
#ui-new,
#ui-featured {
    @media #{$small-only} {
        padding-top: 5px;
    }
}

//Publisher
#ui-novomatic,
#ui-eyecon,
#ui-igt,
#ui-netent,
#ui-microgaming,
#ui-play-and-go {
    padding-top: 14px !important;
    @media #{$small-only} {
        padding-top: 14px;
    }
}

#ui-daub,
#ui-scientific,
#ui-realistic {
    @media #{$small-only} {
        padding-top: 5px;
    }
}