.my-messages-mobile-content {
    .section-left__title {
        position: relative;

        // &:after {
        //     bottom: 100%;
        //     right: 134px;
        //     border: solid transparent;
        //     content: " ";
        //     height: 0;
        //     width: 0;
        //     position: fixed;
        //     top: 40px;
        //     pointer-events: none;
        //     border-left: 10px solid transparent;
        //     border-right: 10px solid transparent;
        //     border-bottom: 10px solid $bgcolor;
        //     z-index: 999;

        //     @media #{$medium-only} {
        //         right: 80px;
        //     }
        // }
    }

    .my-messages-mobile-content__container {
        @include grid-column(12);

        padding: $site-margin;
        background-color: $white;
        min-height: 450px;

        .lobby-wrap__content-box {
            background: none;

            .lobby-wrap__content-box__header {
                background: none;
                padding: 0;

                .title__icon {}
            }

            .lobby-wrap__content-box__content {
                padding: 0;
                background: none;
            }
        }
    }

    .title__icon, .title__text {
        display: none !important;
    }

    .recent-messages__switch {
        background: $brand-color-light !important;

        span {
            font-size: 1rem !important;
            font-family: $body-font-medium !important;
            color: $brand-color !important;
        }
    }

    .dropdown.button.tiny, button.dropdown.tiny {
        font-size: 1rem !important;
        font-family: $body-font-medium !important;
        color: $global-link-color !important;
        background: none !important;
        padding: 0;
        padding-right: $site-margin * 2;
        float: right;

        &:after {
            border-color: $global-link-color transparent transparent transparent;
        }
    }

    .title__message-inbox {
        @include hide-for-large-up;

        width: 40px;
        float: right;
        text-align: right;

        .title__message-inbox__icon {
            float: left;
            width: 30px;
            height: 20px;
            background: url(../_images/balance-area/icon-message-inbox.svg) no-repeat 0 0;
        }

        .title__message-inbox__value {
            background: #FF00AA;
            position: absolute;
            margin-top: -5px;
            margin-left: -20px;
            height: 20px;
            width: 20px;
            float: right;
            border-radius: 20px;
            text-align: center;
            color: white;
        }
    }

    .recent-messages .recent-messages__message {
        background: $brand-color-light !important;
    }

    .select-all-messages {
        padding-right: 0;
        margin: 0;
        text-align: center;
    }

    .f-dropdown li a {
        color: $brand-color;
        text-align: center;
        padding: ($site-margin / 2) 0;
    }

    .title__option-link {
        @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: right, $mcols: 12, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: left);

        a {
            font-size: 11px;
            text-align: center;
        }
    }
}