.section-left__title {
        h4{
            @include grid-column(7);
            display: inline-block;
        }
        .cashier__secure-payment{
            @include grid-column(5);
            display: inline-block;
            position: relative !important;
            text-align: right;
        }
        padding: 0 $site-margin;
        margin-left: 0;
        padding-top: 20px;
    }
.cashier-content {
    margin-bottom: -15px;

    .cashierholder {
        @include grid-column(12);

        padding: 0;

        .cashier {
            margin-top: 0;
            float: left;
        }
    }
}

.cashier__section__description {
    ul {
        li {
          list-style: square;
        }
    }
}

.cashier__cta--alone {
    text-align:center;
}
/*
.cashier__secure-payment {
    float: right !important;
    position: relative !important;


    @media #{$small-only} {
        float: right !important;
        width: 30% !important;
    }


}
*/

.cashier__grid__cell__content {
    height: 70px;
}

.cashier__grid__cell .cashier__grid__cell__content {
    padding: 1.2em 2em 0.5em 3em !important;

    @media #{$small-only} {
        padding: 0.8em 2em 0.5em 3em !important;
    }
}

