/***************************
****************************
Promo details progress bar
****************************
***************************/

// .promotion-eng__title__wrapper
// .promotion-eng__freebie
.promotion-eng__freebie__content {
    width: 100%;
    float: left;
    font-size: rem-calc(13px);
    line-height: rem-calc(15px);
}

.promotion-eng__freebie__progress--title {
    width: 60%;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: rem-calc(14px);
}

.promotion-eng__freebie__progress--value {
    width: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    float: left;
    background: $satin-linen;
    text-align: center;
}

.promotion-eng__freebie__progress--wrap {
    width: 100%;
    float: left;
    background: $satin-linen;
    // border: 1px solid darken($satin-linen, 10%);
}

.promotion-eng__freebie__progress--bar {
    background: $flame-pea;
    overflow: hidden;
    white-space: nowrap;
    animation: progress-bar 3s;

}

@keyframes progress-bar {
    0% {
        width: 0;
    }
}