.promotion {
    font-size: 1rem;
    @include grid-column($columns: 3, $collapse: true);
    padding-left: 0px;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0.4em;
    padding-bottom: 0.4em;
    @media #{$small-only} {
        @include grid-column($columns: 12, $collapse: true);
        margin-bottom: $site-margin;
    }
    .promotion__wrapper {
        cursor: pointer;
        @include grid-column(12, $collapse: true);
        @include box;
        @media #{$large-up} {
            min-height: 300px;
        }
        @media #{$medium-only} {
            min-height: 229px;
        }
        @media #{$small-only} {
            @include grid-column($columns: 12, $collapse: true);
        }
    }
    .promotion__title {
        @include grid-column($columns: 12, $collapse: true);
        font-size: 0.95em;
        font-family: "kirobold", Helvetica, Arial, sans-serif;
        display: block;
        height: 23px;
        overflow: hidden;
        // text-transform: uppercase;
        color: $brand-color;
        margin: 0em;
        margin-top: 0.4em;
        padding-left: 0.7em;
        padding-right: 0.7em;
        @media #{$small-only} {
            @include grid-column($columns: 12, $collapse: true);
            font-size: 1.2em;
            float: left;
            padding-left: 0.4em;
            padding-right: 0.4em;
        }
    }
    .promotion__content__wrapper {
        @include grid-column($columns: 6, $collapse: true);
        color: $content-text;
        padding: rem-calc(7px) rem-calc(7px);
        @media #{$small-only} {
            @include grid-column($columns: 12, $collapse: true);
            @include vert-align(1em);
            float: left;
            padding: 0px 5px;
            padding-top: 0px;
            p {
                font-size: 0.7em;
            }
        }
    }
    .promotion__image {
        @include grid-column($columns: 12, $collapse: true);
        > img {
            width: 100%;
        }
        @media #{$small-only} {
            @include grid-column($columns: 12, $collapse: true);
            float: left;
        }
    }
    .promotion__content {
        font-family: helvetica, arial, sans-serif;
        @include grid-column($columns: 12, $collapse: true);
        font-size: 0.9em;
        height: 74px;
        overflow: hidden;
        padding-left: 0.8em;
        padding-right: 0.8em;
        margin-top: 0.4em;
        @media #{$small-only} {
            @include grid-column($columns: 12, $collapse: true);
        }
        @media #{$large-up} {
            height: 74px;
            -webkit-mask-image: -webkit-gradient(linear, left 60%, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
        }
        @media #{$medium-only} {
            height: 61px;
            line-height: 16px;
            font-size: 1em;
            padding-bottom: 77px;
            -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
        }
        @media #{$small-only} {
            @include grid-column($columns: 12, $collapse: true);
            font-size: 1em;
            padding: 0.4em;
            height: 100%;
            p:after {
                content: ' ...';
                color: $lighter-text-color;
                font-weight: bold;
            }
        }
        a,
        p,
        span,
        div,
        label {
            font-family: $body-font-regular;
            font-size: 0.9em;
            line-height: 1.2em;
            @media #{$small-only} {
                font-size: 1em;
                padding-bottom: 10px;
                margin-bottom: 0px;
            }
        }
    }
}

.promotion--featured {
    @include grid-column(12);
    padding-left: 0;
    padding-right: 0.4em;
    // max-height: 392px;
    // overflow: hidden;
    @media #{$small-only} {
        @include grid-column($columns: 12, $collapse: true);
        margin-bottom: $site-margin;
    }
    .promotion__wrapper {
        cursor: pointer;
        @include grid-column($columns: 12, $collapse: true);
        height: 100%;
        @include box;
        margin-bottom: $site-margin;
        @media #{$large-up} {}
        @media #{$medium-only} {}
        @media #{$small-only} {
            @include grid-column($columns: 12, $collapse: true);
        }
        .promotion__image {
            @include grid-column($columns: 4, $collapse: true);
            @media #{$medium-only} {
                @include grid-column($columns: 5, $collapse: true);
            }
            @media #{$small-only} {
                @include grid-column($columns: 12, $collapse: true);
                float: left;
            }
        }
        .promotion__content__wrapper {
            @include grid-column($columns: 8, $collapse: true);
            p {
                color: $lighter-text-color;
            }
            padding: 0px 8px;
            @media #{$medium-only} {
                @include grid-column($columns: 7, $collapse: true);
            }
            @media #{$small-only} {
                @include grid-column($columns: 12, $collapse: true);
                background-color: $content-background-color;
                float: left;
                padding: 0px 5px;
            }
        }
        .promotion__title {
            @include grid-column($columns: 7, $collapse: true);
            padding-left: 0.4em;
            padding-right: 0.4em;
            float: left;
            color: $brand-color;
            font-size: 1.5em;
            padding: 0.4em;
            @media #{$medium-only} {
                @include grid-column($columns: 7, $collapse: true);
                padding-left: 0.4em;
                padding-right: 0.4em;
            }
            @media #{$small-only} {
                @include grid-column($columns: 12, $collapse: true);
                font-size: 1.4em;
                float: left;
                color: $brand-color;
                padding-left: 0.4em;
                padding-right: 0.4em;
            }
        }
        .promotion__content {
            @include grid-column($columns: 8, $collapse: true);
            font-size: 1em;
            padding: 0.6em;
            @media #{$medium-only} {
                @include grid-column($columns: 7, $collapse: true);
                font-size: 0.8em;
                padding-left: 0.6em;
                padding-right: 0.6em;
            }
            @media #{$small-only} {
                @include grid-column($columns: 12, $collapse: true);
                font-size: 1em;
                line-height: 18px;
                padding-left: 0.6em;
                padding-right: 0.6em;
            }
            a,
            p,
            span,
            div,
            label {
                font-family: $body-font-regular;
                font-size: 1em;
                line-height: 1.6em;
            }
        }
    }
}

.promotions {
    .content {
        @media #{$small-only} {
            padding-top: 0;
            .section__title {
                text-align: center;
            }
        }
    }
    .section .section__header,
    .games-list .section__header {
        @include grid-column(4, $float: left);
        @media #{$medium-only} {
            @include grid-column(12, $float: left);
            display: block;
        }
    }
    .tabs {
        @include grid-column(8, $float: right);
        background-color: $wrap-background-color;
        margin-top: $site-margin;
        margin-right: 7px;
        padding: 0 0;
        padding-top: 4px;
        padding-left: 4px;
        @media #{$medium-only} {
            @include grid-column(12, $float: left);
            float: none;
            padding-top: $site-margin;
            margin-top: 25px;
            float: none;
            padding: 0;
        }
        @media #{$small-only} {
            @include grid-column(12, $float: left);
            float: none;
            padding-top: 0;
            margin-top: 25px;
            float: none;
            padding-left: 0;
            padding-right: 0;
        }
        dd {
            margin: 0 0;
            margin-left: 7px;
            border-style: none;
            float: right;
            @media #{$small-only} {
                margin-bottom: 12px;
                border-top: none;
                border-bottom: none;
                @include list-inline;
                margin-left: 7px;
            }
            a {
                font-family: $body-font-regular;
                padding: 3px 10px;
                font-size: 12px;
                font-weight: bold;
                background: $content-background-color;
                color: $main-highlight-color;
                text-align: center;
                @include border-radius(2px 2px 0px 0px);
                &:hover {
                    color: $main-highlight-color;
                    background: #F8F8F8;
                }
                @media #{$small-only} {
                    margin: 0 0;
                    padding: 0px;
                    text-align: center;
                    border: none;
                    @include border-radius(3px);
                    margin-bottom: 12px;
                    font-size: 11px;
                    height: 44px;
                    line-height: 28px;
                    padding-top: 7px;
                    &.active {
                        a,
                        a:hover {
                            font-size: 11px;
                            font-weight: bold;
                            cursor: default;
                            color: #6f6e6e;
                            background: $content-background-color;
                        }
                    }
                }
            }
            &.active {
                a,
                a:hover {
                    font-size: 12px;
                    font-weight: bold;
                    cursor: default;
                    background: $content-background-color;
                    color: #6f6e6e;
                }
            }
            &.first {
                a {}
            }
            &.last {
                margin-right: 0px;
                a {}
            }
        }
    }
}

// optin button and more info
.promotion__optin {
    display: block;
    float: left;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    text-align: center;
    line-height: 23px;
    height: 23px;
    border-radius: 2px;
    background-clip: padding-box;
    box-sizing: content-box;
    background-color: #179a94;
    color: #FFF;
    font-family: "kirobold", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 10px;
    &:hover {
        color: #FFF;
        background-color: lighten(#179a94, 3%);
    }
}

.promotion__more-info {
    display: block;
    float: right;
    padding: 0.4em;
    text-align: center;
    line-height: 23px;
    border-radius: 2px;
    background-clip: padding-box;
    box-sizing: content-box;
    background-color: transparent;
    color: #d75137;
    font-family: "kiroregular", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 10px;
    &:hover {
        color: #d75137;
        text-decoration: underline;
    }
}

.promotions-detail {
    .promotion__content__wrapper {
        @media #{$medium-only} {
            @include grid-column($columns: 12);
        }
        @media #{$small-only} {
            @include grid-column($columns: 12);
        }
        padding: 1em !important;
    }
    .promotion__image,
    .promotion__content__wrapper,
    .promotion__content {
        width: 100% !important;
        @media #{$medium-only} {
            width: 100% !important;
        }
        @media #{$small-only} {
            width: 100% !important;
        }
    }
}

// COMPETITION ENGINE CUSTOM STYLE PROMO
.promotion-eng {
    .promotion-eng__wrapper {
        @media #{$medium-up} {
            height: 700px !important;
            overflow: hidden;
        }
    }
    .tabs {
        dd {
            a {
                &:hover {}
            }
            &.active {
                a {
                    &:hover {}
                }
            }
        }
    }
    .promotion-eng__content {
        .promotion-eng__title {
            a {}
        }
    }
    .promotion-eng__footer {
        .promotion-eng__terms {}
        .promotion-eng__read-more {}
        .promotion-eng__optin {
            height: 27px;
            &.active {
                height: 27px;
                padding: 0px !important;
            }
        }
        .promotion-eng__play-now {
            // display: block !important;
        }
    }
    ul.promotion-eng__comp-info {
        li {
            .title {}
            span {}
        }
    }
}

.promotion-eng__wrapper {
    border: 1px solid $sidecar;
}

.promotion__text_terms-wrapper {
    background: $grey-light-bg;
    .promotion__text_terms {}
    .promotion-eng__terms {
        font-weight: 800;
        color: $jungle-green;
    }
}
