.promotions__header {
    @include vert-align(1em);

    border-bottom: 1px solid $brand-color;
    padding: 0px;
    margin-bottom: $site-margin;
    height: 50px;

    .promotions__title {
        float: left;
        color: $pagetitle;
        font-size: 2em;
        padding: 0px;

        @media #{$small-only} {
            padding-left: 8px;
        }

        @media #{$medium-only} {
            padding-left: 8px;
        }
    }
}

.promotions-detail {
    font-size: 1rem;

    @include grid-column($columns: 12, $collapse: true);

    @media #{$small-only} {
        @include grid-column($columns: 12, $collapse: true);
    }

    .promotion--featured {
        @include grid-column($columns: 8, $collapse: true);

        padding-right: $site-margin;

        @media #{$small-only} {
            @include grid-column($columns: 12, $collapse: true);
        }

        @media #{$medium-only} {
            @include grid-column($columns: 8, $collapse: true);

            padding-right: $site-margin;
            padding-left: $site-margin;
        }

        .promotion__wrapper {
            @media #{$small-only} {
                @include grid-column($columns: 12, $collapse: true);

                background-color: $white;
                border: none;
            }
        }

        .promotion__content__wrapper {
            @include grid-column($columns: 12, $collapse: true);

            @media #{$small-only} {
                @include grid-column($columns: 12, $collapse: true);

                width: 100%;
            }
        }

        .promotion__image {
            @include grid-column($columns: 12, $collapse: true);

            > img {
                width: 100%;
            }

            @media #{$small-only} {
                > img {
                    @include grid-column($columns: 12, $collapse: true);

                    width: 100%;
                }
            }
        }

        .promotion__content {
            @include grid-column($columns: 12, $collapse: true);

            padding: $site-margin;
            position: relative;
            display: block;

            @media #{$small-only} {
                @include grid-column($columns: 12, $collapse: true);

                padding: $site-margin;
                font-size: 0.9em;
                color: $content-text;
                line-height: 1.3em;
            }

            a, p, span, div, label, li, em {
                font-family: $body-font-regular;
                font-size: 1em;
                font-style: normal;

                // line-height: 1.4em;
           
            }

            p {
                margin-bottom: 0px;
            }
        }
    }

    ul {
        display: block;
        list-style-type: disc;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
    }
}

  .footer-nav__container {
        @include grid-column(12);

        @include hide-for-medium-up;

        position: fixed;
        bottom: 0;
        left: 0;
        padding: 10px;
        background: $grey-light-bg;
        z-index: 2;

        .cta-opt-in {
            width: 30%;
            background: #d75137;
            color: #FFF;
            text-align: center;
            padding: 6px 15px;
            font-size: 14px;
            margin-right: $site-margin / 2;
            text-shadow: none;

            &.cta-full-width {
                @include grid-column(6);
            }

            @media screen and (min-width: 320px) {
                font-size: 0.9em;
            }
        }

        .cta-join {
            width: 30%;
            background: #179a94;
            color: #FFF;
            padding: 6px 15px;
            font-size: 14px;
            text-shadow: none;
            margin: 0;

            @media screen and (min-width: 320px) {
                font-size: 0.9em;
            }
        }

        .cta-next-promo {
            position: relative;
            float: right;
            text-align: right;
            color: $global-link-color;
            font-family: $body-font-bold;
            font-size: 13px;
        }
    }

.promotion__terms-conditions {
    clear: both;
    padding: $site-margin;
    line-height: 1.4em;

    p, li, em {
        font-size: 0.8em;
    }

    @media #{$small-only} {
        font-size: 0.9em;
        line-height: 1.3em;
    }
}

#related--promos {
    @include grid-column($columns: 4, $collapse: true);

    float: right;
    position: relative;
    background-color: $content-background-color;
    padding: $site-margin $site-margin 0px $site-margin;
    border: 1px solid $content-border-color;

    @media #{$small-only} {
        display: none;
    }

    @media #{$medium-only} {
        @include grid-column($columns: 4, $collapse: true);

        padding: $site-margin $site-margin 0px $site-margin;
    }

    .promotion {
        @include grid-column($columns: 12, $collapse: true);
    }

    .promotion__wrapper {
        margin-bottom: $site-margin;
        background-color: #FDFCF5;
    }

    .promotion__image {
        @include grid-column($columns: 12, $collapse: true);

        width: 100%;
    }

    .promotion__content__wrapper {
        @include grid-column($columns: 12, $collapse: true);

        padding: 0px 8px;
    }

    .promotion__title {
        font-size: 1.2em;
    }

    .promotion__content {
        height: 60px;
    }
}

.promo__container__row {
    @include grid-column(12);

    padding: 0;
    margin: $site-margin 0;
    text-align: center;
}

.promo__cta {
    @include grid-column(6, $center: true, $collapse: true);

    @media #{$small-only} {
        @include grid-column(12, $center: true, $collapse: true);
    }

    border-radius: 2px;
    margin: 0 3px;
    margin-bottom: $site-margin;
    width: 47%;
    font-family: $button-font;
    text-align: center;
    display: inline-block;
    line-height: 1.8;
    font-size: 20px !important;

    &.opt-in {
        @include OPT-IN-button;
    }

    &.play-now {
        @include PLAY-button;
    }

    &.join-now {
        @include PLAY-button;
    }
}

.promotion__wrapper {
     .promotion__text_terms-wrapper {
            padding: $site-margin;
            float: left;
            line-height: 100%;
            width: 100%;
            .promotion__text_terms, .promotion-eng__terms {
                font-size:rem-calc(11);
            }
        }
}