.archive-content {
    @include grid-column($collapse: true, $columns: 12);
    margin-top: $site-margin;
    margin-bottom: $site-margin;
    .archive-content__box {
        @include grid-column($collapse: true, $columns: 6);
        height: 240px;
        padding-right: $site-margin;
        margin-bottom: $site-margin;
        @media #{$small-only} {
            @include grid-column($collapse: true, $columns: 12);
            margin-bottom: $site-margin;
        }
    }
    .archive-content__box__content {
        height: 240px;
        background: url("../_images/placeholders/archive_graphic_state1.svg");
        background-size: 30%;
        background-repeat: no-repeat; 
        background-position: center 40px;
        background-color: $regalwins--module-background;
        border: 1px solid $regalwins--module-background;
        h4 {
            color: $white;
            text-transform: lowercase;
            font-size: $rw-header-secondary-size;
            line-height: $rw-header-secondary-line-height;
            &:first-letter {
                text-transform: uppercase;
            }
            text-align: center;
            margin-top: 200px;
        }
        @media #{$medium-only} {
            h4 {
                margin-top: 160px;
                line-height: 22px;
            }
        }
        &:hover {
            background: url("../_images/placeholders/archive_graphic.svg");
            background-size: 30%;
            background-repeat: no-repeat;
            background-position: center 40px;
            background-color: $regalwins--module-background;
            border: 1px solid $regalwins--module-background;
            h4 {
                color: $white;
                text-align: center;
                margin-top: 200px;
            }
            @media #{$medium-only} {
                h4 {
                    margin-top: 160px;
                    line-height: 22px;
                }
            }
            @media #{$small-only} {
                h4 {
                    margin-top: 190px;
                }
            } 
        }
        .archive-content__box__content__graphic {
            text-align: center;
            display: block;
            
            img {
                height: 100px;
                width: 100%;
                max-width: 80px;
            }
            @media #{$medium-only} {
                img {
                    height: 100px;
                    width: 100%;
                    max-width: 100px;
                }
            }
            @media #{$small-only} {
                img {
                    height: 30px;
                    width: 100%;
                    max-width: 30px;
                }
            }
        }
    }
}

.archive-content__box-last {
    @include grid-column($collapse: true, $columns: 4);
    float: right;
    height: 240px;
    background-color: $white;

    &:hover {
        background-color: #2b9d8e;
    }

    @media #{$small-only} {
        @include grid-column($collapse: true, $columns: 12);
        margin-bottom: $site-margin;
        h4 {
            margin-top: 200px;
        }
    }
}