.text-partial {
    font-size: 1rem;
    @include grid-column(12, $float: none);
    @include clearfix;
    background-color: $regalwins--gray;
    // border: 1px solid lighten($grey, 35%);
    padding-top:0;
    padding-bottom:$site-margin;
    padding-right:$site-margin;
    padding-left:$site-margin;
    margin-bottom: $site-margin;

    &-content {
        padding: 20px 0;
    }

    @media #{$small-only} {
        @include grid-column(12);
    }
    a,
    p,
    span,
    div,
    label {
        font-family: $body-font-regular !important;
    }
    a {
        color: $white;
        text-decoration: underline;
        font-size: rem-calc(14px);
        line-height: rem-calc(28px);
        &:hover {
            color: $white;
            text-decoration: underline;
        }
    }
    > h1 {
        font-family: $heading-font-bold;
        text-transform: uppercase;
        color: $white;
        font-size: 1.1em;
        // border-bottom: 1px solid $brand-color;
        line-height: 1.2em;
        margin-bottom: $site-margin;
        margin-top: 0px;
        @media #{$small-only} {
            margin-top: 0px;
            font-size: 13px;
            line-height: 13px;
        }
    }
    > p {
        @include grid-column(12);
        font-size: 0.9em;
        color: $white;
        padding: 0px;
        @media #{$small-only} {
            font-size: rem-calc(14px);
            line-height: rem-calc(28px);
        }
    }
    ul {
        list-style: square;
        margin-left: $site-margin;
        @include clearfix;
        
    }

    @media #{$small-only} {
        ul, ol {
            margin-left: $site-margin * 2;
            @include clearfix;
            padding-right: 20px;

            li {
                margin-bottom: 1rem;
                font-size: rem-calc(14px);
                line-height: rem-calc(28px);
            }
        }
        
        ul { list-style: square; }
        ol { 
            margin-left: $site-margin;

            li {
                padding-left: 0.5rem;
            }
        }
    }
    
    h2, h3, h5 {
        font-size: $rw-header-secondary-size;
        line-height: $rw-header-secondary-line-height;
        font-weight: bold;
        text-transform: lowercase;
        margin-bottom: 1rem;

        &:first-letter {
            text-transform: uppercase;
        }
    }
}


/* text-image-left */

.text-image-left-partial {
    font-size: 1rem;
    @include grid-column(12);
    background-color: lighten($grey, 45%);
    border: 1px solid lighten($grey, 35%);
    @include clearfix;
    padding-bottom: $site-margin;
    margin-bottom: $site-margin;
    @media #{$small-only} {
        padding-top: $site-margin;
    }
    a,
    p,
    span,
    div,
    label {
        font-size: 0.9em !important;
        font-family: $body-font-regular !important;
    }
    > h1 {
        font-family: $heading-font-bold;
        text-transform: uppercase;
        color: $pagetitle;
        font-size: 1em;
        // background-color: $brand-color;
        border-bottom: 1px solid $brand-color;
        @include vert-align(32px);
        margin-bottom: rem-calc(7px);
        // padding-left: rem-calc(7px);
        margin-top: 0px;
        @media #{$small-only} {
            font-size: 13px;
            line-height: 13px;
        }
    }
    > p {
        font-size: 0.9em;
        color: $white;
    }
    ul {
        list-style: square;
        margin-left: $site-margin;
    }
}

.text-image-left-partial__content__img {
    padding: 0px;
    padding: 0.5em;
    float: left;
    @media #{$small-only} {
        @include grid-column(12);
        margin-bottom: $site-margin;
        padding: 0px;
    }
}


/* END text-image-left */


/* text-image-right */

.text-image-right-partial {
    font-size: 1rem;
    @include grid-column(12);
    background-color: lighten($grey, 45%);
    border: 1px solid lighten($grey, 35%);
    @include clearfix;
    margin-bottom: $site-margin;
    a,
    p,
    span,
    div,
    label {
        font-size: 0.9em !important;
        font-family: $body-font-regular !important;
    }
    > h1 {
        font-family: $heading-font-bold;
        text-transform: uppercase;
        color: $pagetitle;
        font-size: 1em;
        // background-color: $brand-color;
        border-bottom: 1px solid $brand-color;
        @include vert-align(32px);
        margin-bottom: rem-calc(7px);
        // padding-left: rem-calc(7px);
        margin-top: 0px;
        @media #{$small-only} {
            margin-top: 0px;
        }
    }
    > p {
        font-size: 0.9em;
        color: $white;
    }
    ul {
        list-style: square;
        margin-left: $site-margin;
    }
}

.text-image-right-partial__content__img {
    padding: 0px;
    margin: 0px 0px $site-margin $site-margin;
    float: right;
    @media #{$small-only} {
        @include grid-column(12);
        margin: 0px 0px $site-margin 0px;
        padding: 0px;
        float: left;
    }
}


/* END text-image-right */


/*image top*/

// .text-image-top-partial {
//     font-size: 1rem;
//     @include grid-column(12);
//     background-color: $regalwins--gray;
//     border: 1px solid $regalwins--gray;
//     @include clearfix;
//     padding-bottom: $site-margin;
//     margin-bottom: $site-margin;
//     @media #{$small-only} {
//         padding-top: $site-margin;
//     }
//     a,
//     p,
//     span,
//     div,
//     label {
//         font-size: 0.9em !important;
//         font-family: $body-font-regular !important;
//     }
//     > h1 {
//         font-family: $heading-font-bold;
//         text-transform: uppercase;
//         color: $pagetitle;
//         font-size: 1em;
//         // background-color: $brand-color;
//         // border-bottom: 1px solid $brand-color;
//         @include vert-align(32px);
//         margin-bottom: rem-calc(7px);
//         // padding-left: rem-calc(7px);
//         margin-top: rem-calc(7px);
//         @media #{$small-only} {
//             font-size: 13px;
//             line-height: 13px;
//         }
//     }
//     > p {
//         font-size: 0.9em;
//         color: $white;
//     }
//     ul {
//         list-style: square;
//         margin-left: $site-margin;
//     }
//     a {
//         color: $regalwins--login;
//         &:hover {
//             color: $white;
//             text-decoration: underline;
//         }
//     }
// }

.text-image-top-partial {
    @extend .text-partial;

    ol {
        margin-left: 20px;
    }
}

.text-image-top-partial__content__img {
    @include grid-column(12);
    margin-bottom: $site-margin;
    padding: 0px;
}


/* end image top*/
