/*=============================================
=           MY Account        =
=============================================*/
#playerdetails {
    @include clearfix;
    .button {
        background-color: $base-red;
        font-family: $body-font-bold;
        color: $white;
        font-size: 1.2em;
        float: left;
        margin-top: 3px;
        padding: 10px;
        text-decoration: none;
        text-shadow: none;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid $base-red-dark;
        font-weight: normal;
        // line-height: 2.5rem;
        border-radius: 1px;
        width: 100%;
    }
}

.balanceboxes {
    @media #{$small-only} {
        margin: 12px;
        @include grid-column(12, $float: left);
    }
    @media #{$medium-only} {
        margin: 12px;
        @include grid-column(12, $float: left);
    }
    @media #{$large-up} {
        @include grid-column(6, $float: left);
        padding: 18px !important;
        border: 2px solid rgb(222, 237, 243);
    }
    position: relative;
    list-style: none;
    margin: 0;
    display: block;
    color: $white;
    text-align: center;
    .balancebar {
        color: $base-blue;
        font-family: $title1-font;
        font-size: 15px;
        display: block;
        border: 2px solid rgb(222, 237, 243);
        @include border-radius(8px);
        background-color: #F5FBFF;
        margin-bottom: 12px;
        padding-left: 12px;
        padding-top: 0px;
        padding-right: 0px;
        text-align: left;
        @media #{$medium-up} {
            height: 40px;
            @include vert-align(40px);
        }
        @media #{$small-only} {
            width: 100%;
            text-align: center;
            display: block;
            float: left;
            padding: 0;
            height: auto;
            @include border-radius(0px);
            margin-bottom: 12px;
        }
        span {
            @media #{$medium-up} {
                display: inline;
                float: right;
            }
            @media #{$small-only} {
                width: 100%;
                text-align: center;
                display: block;
                @include border-radius(0px);
            }
            color: darken($base-blue, 3%);
            font-family: sans-serif;
            font-size: 18px;
            font-weight: bold;
            float: right;
            display: inline;
            background-color: #fff;
            height: 36px;
            @include vert-align(36px);
            padding-left: 12px;
            padding-right: 12px;
            @include border-right-radius(6px);
            min-width: 80px;
        }
        .freespinslink {
            @include button-generate(green, 2);
        }
    }
    a {
        display: block;
        width: 100%;
    }
    #button_cashier {
        @include grid-column(5);
        @include button-generate($bondi-blue, 12);
        margin-bottom: 12px;
        font-family: $body-font-bold;
        text-transform: uppercase;
    }
    #playoverview {
        @include grid-column(5, $float: right);
        @include button-generate($green, 12);
        font-family: $body-font-bold;
        text-transform: uppercase;
    }
    .convertpointsbtn {
        @include button-generate(palette(green, base), 2);
        margin-bottom: $site-margin;
        display: inline;
        margin-left: 1em;
    }
    .convertpointsbtn__info {
        @include button-generate(palette(gray, base), 2);
        margin-bottom: $site-margin;
        display: inline;
        margin-left: 1em;
        width: 20px;
    }
    .balancesbtn {
        @include button-generate(palette(gray, base), 12);
        margin-top: $site-margin;
        display: block;
        font-family: $body-font-regular;
        text-transform: uppercase;
    }
}

.convertpanel {
    @include grid-column(12);
    position: absolute;
    top: 0;
    left: 0;
    background: #222;
    height: 100%;
    @media #{$small-only} {
        height: 440px;
    }
    z-index: 100;
    padding-top: 1.3125rem;
    padding-bottom: 1.3125rem;
    padding-left: 1.3125rem;
    padding-right: 1.3125rem;
    span {
        margin-bottom: 10px;
        display: block;
    }
    .convertpointsbtn {
        @include button-generate(palette(green, base), 12);
        margin-top: 12px;
        margin-left: 0px !important;
        display: block;
    }
}

#myaccount-2, #myaccount-3 {
    font-family: $title1-font;
    label {
        color: $base-blue;
    }
    input, select {
        color: $base-light-blue;
        border: 1px solid $base-light-blue;
        &:focus, &:hover {
            border-color: $base-blue;
            background-color: $yellow-light-bg;
        }
        &.error {
            border: 3px solid red;
        }
    }
    input[type="text"]:disabled, select:disabled {
        background: $grey-light;
        border-color: $grey-light;
        color: lighten(gray, 5%);
    }
}

.myaccount-details__column {
    @media #{$small-only} {
        @include grid-column(12);
    }
    @media #{$medium-up} {
        @include grid-column(4);
        float: left;
    }
    button {
        background-color: #67749B;
    }
}

.myaccount-limits{
     font-family: $title1-font;
    label {
        color: $base-blue;
    }
    padding-top: 20px;
          &__title {
                   @include grid-column(2);

                    @media #{$small-only} {
                    @include grid-column(12);
                    }
                    @media #{$medium-only} {
                    @include grid-column(3);
                    }
            }

         &__radiobtn-container {
            @include grid-column(6);

             @media #{$small-only} {
                @include grid-column(12);
            }
             @media #{$medium-only} {
                    @include grid-column(9);
                    }

            &__radiobtn {
                    @include grid-column(3);

                    @media #{$small-only} {
                    @include grid-column(12);
                    }
            }
        }


        &__expandbox {
           @include grid-column(4);

            @media #{$small-only} {
            @include grid-column(12);
            }

             @media #{$medium-only} {
            @include grid-column(12);
            }
         }

        &__details {
         @include grid-column(4);

         @media #{$small-only} {
            @include grid-column(12);
            }
        }

        &__note {
             @include grid-column(12);
        }
}


/*-----  End ofMy Account  ------*/

//*=============================================
//  My account tabbed content
// =============================================================================

.myaccount-content .tabs {
    @include grid-column(12);
    background-color: $base-light-blue;
    border-radius: 2px 2px 0px 0px;
    margin-top: 4.18rem;
    padding: 0 0;
    padding-top: 4px;
    padding-left: 4px;
    float: none;
    font-family: $title1-font;
    @media #{$small-only} {
        padding-top: $site-margin;
        margin-top: 0px;
    }
    @media #{$medium-only} {
        margin-top: 0px;
        @include grid-column(12, $collapse: true);
    }
    dd {
        @media #{$small-only} {
            @include grid-column(4);
        }
        margin: 0 0;
        margin-right: 4px;
        a {
            font-family: $title1-font;
            padding: 10px 10px;
            font-size: 14px;
            background: #F8F8F8;
            color: $grey;
            text-align: center;
            @include border-radius(2px 2px 0px 0px);
            &:hover {
                color: $base-blue;
                background: #F8F8F8;
            }
            @media #{$small-only} {
                margin: 0 0;
                padding: 10px 10px;
                text-align: left;
                border: none;
                @include border-radius(3px);
                margin-bottom: 12px;
            }
        }
        &.active {
            a, a:hover {
                font-size: 14px;
                cursor: default;
                background: $white;
                color: $base-blue;
            }
        }
        &.first {
            a {
                border-left: none;
            }
        }
        &.last {
            margin-right: 0px;
            a {
                border-right: none;
            }
        }
        @media #{$small-only} {
            @include grid-column(12);
            margin-bottom: 12px;
            border-top: none;
            border-bottom: none;
        }
    }
}

.myaccount-content .tabs-content {
    @include grid-column(12);
    font-family: $body-font-regular;
    border: 4px solid $base-light-blue;
    background-color: $white;
    border-top: none;
    padding-bottom: $site-margin;
    .current {
        text-decoration: underline;
        color: $base-light-blue;
    }
    .balanceboxes {
        margin: 0px;
        li {
            display: block;
            float: none;
            a {
                color: $base-red;
                text-decoration: underline;
                border-bottom: none;
            }
        }
    }
    .convertpointsbtn {
        color: $white !important;
        text-decoration: none !important;
        font-family: $body-font-regular;
        background-color: $base-red;
        border-radius: 1px;
        border: none;
        margin-left: 0;
        margin-right: 4px;
    }
    .convertpointsbtn__info {
        color: $white !important;
        text-decoration: none !important;
        font-family: $body-font-regular;
        background-color: $base-red;
        border: none;
        margin-left: 0;
    }
}

// my account promotion banners
.myaccount-promotions {
    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
    }
    @media #{$medium-only} {
        @include grid-column(12, $collapse: true);
        padding-left: 18px;
    }
    @media #{$large-up} {
        @include grid-column(6, $float: left);
        padding-left: 18px;
    }
    .promotion {
        height: auto;
        @include clearfix;
        @include grid-column(6);
        @media #{$medium-only} {
            @include grid-column(12);
            @include clearfix;
            height: auto;
        }
        @media #{$small-only} {
            @include grid-column(12);
            @include clearfix;
            height: auto;
        }
        .promotion__title {
            // @include grid-column(12);
            // font-size: 1em;
            // margin-top: 0px;
            // padding-left: 1em;
            // padding-right: 1em;
            // @media #{$medium-only} {
            //     @include grid-column(12);
            // }
            // @media #{$small-only} {
            //     @include grid-column(12);
            // }
            display: none;
        }
        .promotion__content {
            @include grid-column(12);
            @include clearfix;
            p {
                font-size: 13px !important;
            }
            @media #{$medium-only} {
                @include grid-column(12);
            }
            @media #{$small-only} {
                @include grid-column(12);
            }
        }
        .promotion__image {
            @include grid-column(12, $collapse: true);
            margin-top: 10px;
            @media #{$medium-only} {
                @include grid-column(12, $collapse: true);
                padding-top: 0;
            }
            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
                padding-top: 0;
            }
            box-shadow: none;
        }
        .promotion__wrapper {
            @media #{$large-up} {
                height: 400px;
            }
        }
        .promotion__content__wrapper {
            @include clearfix;
            @media #{$medium-only} {
                @include grid-column(12, $collapse: true);
                height: auto;
            }
            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
                height: auto;
            }
        }
    }
}

.myaccount__loyalty {
    @include grid-column(3, $collapse: true, $float: right);
    @media #{$medium-only} {
        margin-right: $site-margin;
    }
    @media #{$small-only} {
        @include grid-column(12, $float: left);
        margin-left: $site-margin / 2;
    }
}

// Weekly filtering for Game and Banking Activity
.myaccount-transactions {
    .myaccount-date-filter {

        .date-selector_left {
            width: 300px;
            float: left;
            margin-right: 30px;

            @media #{$small-only} {
                width: 100%;
            }
        }

        .date-selector_right {
            width: 300px;
            float: left;
            

            @media #{$small-only} {
                width: 100%;
            }
        }

    }
    
    .info-results {
        background-color: #004C64;
        height: 23px;
        border-radius: 0;

        @media #{$small-only} {
            height: 110px;
        }

        .activity-results {
        width: 100%;

            li {
                float: left;
                width: 30%;
                text-align: left; 
                font-weight: normal;
                font-size: 14px;
                list-style: none;
                color: #fff;

                @media #{$small-only} {
                    width: 100%;
                    padding-top: 10px;
                }

                span {
                    font-weight: bold;
                    padding-left: 10px;
                }
            }

            .banking-net-total {
                float: right;
                width: 30%;

                @media #{$small-only} {
                    float: left;
                    width: 100%;
                }

                @media #{$medium-only} {
                    float: right;
                }
            }

            .banking-totals {
                width: 33%;
                
                @media #{$small-only} {
                    float: left;
                    width: 100%;
                }

            }

        }
    }

    .disclaimer-results {
        height: 100px;
        margin-top: 10px;
        float: left;
        width: 100%;
        font-size: 12px;
        font-weight: bold;
        color: #000;
    }
    
} 

.trusted-partners {
     width: 100%; 
     float: left; 
     /*margin-top: 20px;*/

    .info {
        @include grid-column(4, $float: left);
        width:50%;
        margin-top: -30px;
        
        @media #{$small-only} {
            width: 100%;
            margin-top: 20px;
        }

        @media #{$medium-only} {
            margin-top: -40px;
        }

        span {
            a {
                color: #000;
                text-decoration: underline;
            }
        }

         .edit-point {
            &:last-of-type {
                margin-left:130px;
            }
        }
    }
    .checkboxes-list {
        @include grid-column(4, $float: left);
        margin-top: 30px;
        .indent {
            float: left;
            margin-left: 25px;

            @media #{$small-only} {
                float: none;
            }

            @media #{$medium-only} {
                float: none;
            }
        }
        
         @media #{$small-only} {
            width: 100%;
            margin-top: 0;
        }

          @media #{$medium-only} {
            margin-top: 0;
        }

    }

    .update-personal--details {
        @include grid-column(4, $float: right);

         @media #{$small-only} {
            width: 100%;
        }
    }
   
}

.indent {
    margin-left: 25px;
}

// Weekly filtering for Game and Banking Activity

.receive-bonus {
    @media #{$small-only} {
        margin-top: 20px;

        h4 {
            margin-bottom: 10px;
        }

        span {
            p{
                margin-bottom: 0;
            }
        }
    }

     .edit-point {
        &:last-of-type {
            margin-left:130px;
        }
    }
}

.daub-preferences {
    @media #{$small-only} {
        margin-bottom: 20px;
    }
}

