.myaccount-transactions {
    font-family:$title1-font;
        strong, b {
    font-weight: normal;
    }

    a {
        color:$base-blue;
    }
    >ul{
        @include list-inline();
        list-style-type: none;
        a, p{
            color:$grey;
            font-family:$title1-font;
        }
    }

    table td {
        font-weight: normal;
        font-family:$body-font-regular;
         color:$black;
    }

    .progress.alert .meter  {
          background: $base-blue;
    }

    .green-cta {
        width: 100px;
        padding: 0.3em;
        margin-bottom: 1em;
    }
    .myaccount-transactions__promotions__item {
        @include grid-row;
        border: 2px solid #deedf3;
            border-radius: 8px;
            background-color: #F5FBFF;
            list-style: none;
            margin-left: none;

        margin-bottom: 0.5em;
        padding: 0.5em;
        .PromoDescription {
            @include grid-column(6);
        }
        .myaccount-transactions__promotions__item__content {
            font-size: 0.8em;
            line-height: 1.2em;
            a {
                @include grid-column(3, $collapse: true);
                text-decoration: underline;
                float: right;
                text-decoration: none;
                display: block;
                &.expandarrow {
                    text-align: right;
                    font-size: 11px;
                }
                &.voidbonus {
                    @include grid-column(3, $collapse: true);
                    max-width: 117px;
                    @extend .green-cta;
                    background-color: red;
                    border-radius: 4px;
                    text-align: center;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 2px;
                    color: white !important;
                }
            }
        }
        .myaccount-transactions__promotions__item__details {
            font-size: 0.8em;
            margin-top: 30px;
            .panel {
                padding-top: 10px;
            }
        }
    }
    > ul {
        list-style: none;
        margin: 0;
      
    }

    small {
        font-size: 12px;
    }

    //Net worth deposit BANKING Tab START
    .second-tabs {
        border-top: 2px solid #DEEDF3;
        color: #fff;
        margin-left: 10px;
        margin-right: 10px;
        li {
            margin-top: rem-calc(20px);

            a {
                color: #1D4775 !important;
                font-weight: bold;
                cursor: pointer !important;
            }

            .active {
                text-decoration: underline;
            }
        }
    }

   .my-net-deposits {

    margin-left: 20px;

    @media #{$small-only} {
        text-align: center;
        margin-left: 0;
    }
        p.view-net-deposit {
            margin-top: 35px;
            font-size: 16px;
            color: #303030;
            font-weight: bold !important;

            @media #{$small-only} {
                font-size: 15px;
            }

        }

        a.button {
            width: 300px;
            height: 45px;
            background-color: #C11258;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 12px;
            font-size: 15px;

            @media #{$small-only} {
                width: 90%;
                font-size: 13px;
                padding-left: 16px;
                padding-right: 16px;
            }
        }

        a.btn-reveal__deposit {
            background-color: #F5FBFF !important;
            border: 2px solid #DEEDF3;
            line-height: 7px;
            font-size: 18px;
            font-weight: bold;
            color: #0D4660;

            @media #{$small-only} {
                width: 90%;
            }
        }

        .inactiveLink {
           pointer-events: none;
           cursor: default;
        }

        p.my-net-deposit__info {
            font-size: 14px;
            margin-bottom: 70px;
            
            @media #{$small-only} {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
   }
   //Net worth deposit BANKING tab END



}
