.user-nav {
    width: 395px;
    height: 73px !important;
    padding: 6px 0px;
    margin-top: 0;
    height: auto;
    clear: both;
    float: left;
    position: absolute;
    right: 190px;

    // background-image: linear-gradient(0deg, #e9dded 2%, #ffffff 100%);
    background: #F4F2F6;
    border-radius: 4px;

    .user-nav-left {
        @include grid-column(6);

        float: left;
        font-size: 0.85rem !important;
        text-transform: uppercase;
        line-height: 20px;
        margin: 0;

        p {
            float: left;
            margin: 0;
            margin-right: 10px;
            width: 60px;
            color: $nav-main-color;
            font-family: $body-font-bold;
            font-size: 13px;
            line-height: 21px;
        }

        .user-nav__alias {
            @include grid-column(12);

            font-family: $body-font-bold;
            float: left;

            img {
                margin-right: 2px;
                width: 20px;
                height: 20px;
            }

            > a {
                font-weight: 600;
                font-family: $body-font-regular;
                color: $nav-active-color;
            }
        }

        .user-nav__balance {
            @include grid-column(12);

            font-family: $body-font-bold;
            float: left;

            > a {
                font-weight: 600;
                font-family: $body-font-regular;
                color: $nav-active-color;
            }
        }

        .user-nav__slots {
            @include grid-column(12);

            font-family: $body-font-bold;
            float: left;

            > a {
                font-weight: 600;
                font-family: $body-font-regular;
                color: $nav-active-color;
            }
        }
    }

    .user-nav-right {
        @include grid-column(6);

        .user-nav__message-inbox {
            position: absolute;
            right: 120px;
            text-align: right;
            font-size: 0.85em;
            font-weight: 600;
            padding: 5px 10px;
            height: 32px;

            img {
                width: auto;
                height: 20px;
            }

            .user-nav__message-inbox__value {
                // display: block !important;
                position: absolute;
                background: #FF00AA;
                border-radius: 50%;
                right: 0;
                width: 20px;
                height: 20px;
                top: 0;
                float: left;
                color: white;
                text-align: center;
                font-family: $body-font-bold;
            }
        }

        .user-nav__cashier {
            @include CTA-button(1px, 1em, 4px, #B4EC51, #67B030, #429321, #417505, #7ED321);

            width: 100px;
            text-align: center;
            border-radius: 4px;
            line-height: 25px;
            position: absolute;
            margin: 7px;
            top: 0;
            right: 0;

            > a {
                color: $white;
                display: block;
            }

            > a.current {
                color: $white;
            }
        }

        .user-nav__logout {
            @include CTA-button(1px, 0.85em, 4px, #F2F2F2, #D4D4D4, #d6d6d6, #999, #D4D4D4);

            width: 100px;
            font-family: $body-font-bold;
            text-transform: uppercase;
            line-height: 25px;
            text-align: center;
            position: absolute;
            margin: 7px;
            bottom: 0;
            right: 0;
            box-shadow: none;

            > a {
                color: $nav-main-color;
                display: block;
                text-shadow: none;
            }

            &:hover {
                background: #fff;
                box-shadow: inset 0px 1px 2px 0px rgba(169, 169, 169, 0.8);
            }
        }

        .user-nav__my-account {
            font-family: $body-font-bold;
            color: $white;
            text-transform: uppercase;
            font-size: 1em;
            letter-spacing: -0.09em;
            float: left;
            text-align: center;
            border-radius: 4px;

            > a {
                color: $white;
                display: block;
                width: 100%;
            }

            > a:hover {
                background-color: lighten($ctacolor, 5%);
            }

            > a.current {
                color: $main-highlight-color;
            }
        }
    }
}