@font-face {
    font-family: 'kirobold';
    src: url('flash-msg/fonts/kiro_bold-webfont.woff2') format('woff2'),
    	 url('flash-msg/fonts/kiro_bold-webfont.otf') format('otf'),
         url('flash-msg/fonts/kiro_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
	background: rgb(247,239,183); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(247,239,183,1) 18%, rgba(75,209,160,1) 96%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(247,239,183,1) 18%,rgba(75,209,160,1) 96%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(247,239,183,1) 18%,rgba(75,209,160,1) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7efb7', endColorstr='#4bd1a0',GradientType=0 ); /* IE6-9 */
	text-align: center;
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 1.1rem;
	color: #636262;

}


main {
	background: url('flash-msg/images/bkg-clouds.png') top center no-repeat;
}

.box {
	max-width: 800px;
	max-height: 600px;

	margin-right: auto;
    margin-left: auto;
}

.text-box {
    position: fixed;
	margin-top: 297px;
	width: 700px;
	padding: 40px;
	padding-top: 20px;
	background-color: #fff;
	-webkit-box-shadow: -1px 3px 6px 0px rgba(105,104,105,0.3);
	-moz-box-shadow: -1px 3px 6px 0px rgba(105,104,105,0.3);
	box-shadow: -1px 3px 6px 0px rgba(120,120,120,0.3);
	border: 5px solid #d2ecc3;
	z-index: 999;
}

#pig2{
    left: 311px;
    position: fixed;
    top: 116px;
    width: 319px;
}

.dialog{
	/*border: #999 solid 2px;*/
	border-radius: 8px;
	box-shadow: 0px 0px 5px 1px rgba(120,120,120,0.4);
	margin: 0 0 25px;
}

p {
	line-height: 0.6;
	margin: 3% 0;
	letter-spacing: 1px;
}

.title{
	font-family: 'kirobold', Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	color: #fc6901;
}

.main-cta{
	background: #fc6901;
	padding: 20px;
	text-decoration: none;
	color: white;
	border-radius: 12px;
	    margin-top: 0px;
    display: block;
    max-width: 339px;
    margin: 0 auto;
}

.small-txt{
	font-size: 1.2rem;
	line-height: 0.5;
	color: #fc6901;
	font-style: italic;
}

a {
	color: #0F79D5;
	font-size: 1.6rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

a:hover {
	opacity: 0.9;
}
.more-info	{
	display: block;
    margin-top: 30px;
    color: grey;
    font-size: 0.8rem;
    font-weight: initial;
    text-align: left;
    margin-bottom: 20px;
}

.more-info:focus ~ .info-expander{
	display: block;

}

.info-expander{
	display: none;
}


.info-expander h1{

text-align: left;
    font-size: 1rem;
  
    margin-bottom: 0px;
	
    }

    .info-expander p{

text-align: left;
    margin-top: 5px;
    font-size: 0.8rem;
   
    line-height: 16px;
	
    }

    .text-area{
    	    float: left;
    width: 72%;
    }
    .


