// welcome page post reg modal

.welcome-post-reg__modal {
     position: fixed;
     left: 0;
     top: 0;
     z-index: 999999999;
     overflow-y: scroll;
     height: 100%;
     width: 100%;

     .header-wrap {
          background-color: $Anakiwa;
          width: 100%;
          height: 50px;
          max-height: 52px;

          @media #{$small-only} {
               height: 62px;
          }

          .header-container {
               @include grid-column(12);
               position: relative;
               max-width: 800px;

               @include grid-column(12, $center: true);


               .header-username {
                    position: absolute;
                    right: 0;
                    padding-right: 50px;
                    font-size: 1rem;
                    padding: 13px;
                    padding-right: 50px;
                    font-family: $body-font-medium;
                    z-index: 2;
               }

               .close {
                    position: absolute;
                    right: 0px;
                    margin: 10px;
               }
          }
     }

     .logo {
          @include grid-column(3);

          height: 41px;
          margin-left: 5px;
          margin-top: 5px;
          float: left;
          background: transparent url(../_images/logo/kittyBingo-final-horiz.png) left center no-repeat;
          background-size: contain;

          @media #{$small-only} {
               @include grid-column(2);

               background: transparent url(../_images/logo/kb-apple-touch-icon.png) no-repeat center center;
               background-size: contain;
               height: 52px;
               margin-top: 0;
          }
     }

     .inline_logo {
          width: 100px;
          height: 100px;
          background-color: white;
     }

     .welcome-post-reg__content {
          @include grid-column(12, $center: true);

          margin-bottom: $site-margin;
          margin-top: $site-margin;
          background: none;
          max-width: 800px;

          @media #{$small-only} {
               margin-top: $site-margin;
               padding: 0;
          }

          section {
               @include grid-column(12);

               padding: 0;

               h2 {
                    color: $white;
                    text-align: center;
                    font-family: $body-font-extra-bold;
                    font-size: 1.3rem;
                    line-height: 1.2;
                    margin-bottom: $site-margin;


                    @media #{$large-up} {
                         // margin-top: $site-margin * 2;
                    }

                    @media #{$small-only} {
                         padding: 0 ($site-margin / 2);
                         font-size: 1.2rem;
                    }
               }

               ul {
                    @include grid-column(12, $center: true);

                    margin: 0;
                    li {
                         @include border-radius(6px);
                         @include grid-column(6);
                         width:  48%;
                         margin: 1%;
                         float: left;
                         // background: $white;
                         box-shadow: 0px 2px 0px 0px #0882B1;
                         height: 250px;
                         min-height: 250px;
                         overflow: hidden !important;
                         margin-bottom: 20px !important;
                         padding: 0;

                         &:only-of-type {
                              padding: 0;
                              width: 98%;
                              padding-left: 0;
                              padding-right: 0;
                         }

                         @media #{$small-only} {
                              @include grid-column(12);
                              padding: 0;
                              width: 96%;
                              margin: 2%;
                              height: 150px;
                              min-height: 150px;
                              overflow: hidden !important;
                              &:only-of-type {
                                   width: 96%;
                              }
                         }

                         .claim-wrap {
                              @include grid-column(8);

                              padding: $site-margin;
                              height: 100%;
                              text-align: center;
                              overflow: hidden;
                              background: $white;

                              .claim-container {
                                   @include grid-column(11, $center: true);

                                   min-height: 60%;
                                   height: 60%;
                                   text-align: center;
                                   width: auto;
                                   width: initial;
                                   max-width: 100%;
                                   zoom: 1;

                                   @media #{$small-only} {
                                        min-height: 65%;
                                        height: 65%;
                                   }

                                   span {
                                        height: 100%;
                                        color: $radical-red;
                                        font-family: $body-font-bold;
                                        font-size: 26px;
                                        text-transform: uppercase;
                                        line-height: 1;
                                        align-items: center;

                                        @media #{$small-only} {
                                             font-size: 22px;
                                        }
                                   }
                              }

                              .play-cta {
                                   @include CTA-button(5px 15px, 18px, 4px, #FF8FD7, #FF7BD0, #FF00AA, #C70064, #FFC5EA);

                                   @include grid-column(12, $center: true);

                                   @media #{$medium-up} {
                                        @include grid-column(10, $center: true);
                                   }

                                   display: inline-block;
                              }

                              .deposit-cta {
                                   @include CTA-button(5px 15px, 18px, 4px, #B4EC51, #67B030, #429321, #417505, #7ED321);

                                   @include grid-column(12, $center: true);

                                   @media #{$medium-up} {
                                        @include grid-column(11, $center: true);
                                   }

                                   display: inline-block;
                              }
                         }

                         .icon {
                              @include grid-column(4);

                              padding: 0;
                              height: 100%;
                              text-align: center;
                              position: relative;

                              span {
                                   @include grid-column(12);

                                   padding: 0;
                                   height: 100%;
                                   position: absolute;
                                   top: 0;
                                   background: url("/_images/welcome/clouds.png") no-repeat right bottom;
                                   display: flex;
                                   justify-content: center;
                                   align-items: center;
                                   img {
                                        max-height: 100%;
                                        padding-top: 20px;
                                   }
                              }
                         }
                    }
               }

               &.bonus {
                    h2 {
                         text-transform: uppercase;
                         -webkit-font-smoothing: antialiased;
                    }
                    .icon {
                         background: #14b1eb url("../_images/common/icons/side_panel_backg.png") no-repeat;
                         background-position: center 15px;
                         background-size: 30%;

                         @media #{$medium-up} {
                              background-size: 35%;
                         }
                    }
               }

               &.deposit {
                    h2 {
                         text-transform: uppercase;
                         -webkit-font-smoothing: antialiased;
                    }
                    .icon {
                         background: #F7E2CA url("../_images/common/icons/welcome-bonus.svg") no-repeat;
                         background-position: center 15px;
                    }
               }

               &.lock {
                    opacity: 0.25;

                    li {
                         box-shadow: none;
                    }

                    .claim-wrap .claim-container {
                         min-height: 100% !important;
                         height: 100% !important;
                    }

                    .icon {
                         background: #7A64CC url("../_images/common/icons/welcome-lock.svg") no-repeat;
                         background-position: center 15px;
                    }
               }
          }

          .no-bonus-link {
               @include grid-column(12);

               color: $white;
               font-size: 14px;
               font-weight: 600;

               // font-family: $body-font-medium;
               text-align: center;
               margin-top: $site-margin * 2;
               padding: 0 ($site-margin / 2);

               span {
                    text-decoration: underline;
               }
          }
     }

     .welcome-post-reg__modal__continue {
          color: $white;
          text-align: center;
          display: block;
          span {
               text-decoration: underline;
          }
     }

     // Styling for only one offer modal

}

.welcome-post-reg__modal__wrap {
     position: fixed;
     height: 100%;
     width: 100%;
     background: url("../_images/common/backgrounds/clouds.png"), -webkit-linear-gradient(#018EC2, #73DBFF);
     background: url("../_images/common/backgrounds/clouds.png"), -o-linear-gradient(#018EC2, #73DBFF);
     background: url("../_images/common/backgrounds/clouds.png"), linear-gradient(#018EC2, #73DBFF);
     z-index: 999;
     z-index: 9999;
     top: 0;
     left: 0;
}
