.game-review {
    font-size: 1rem;
    @include grid-column(12, $collapse: true);
    background-color: whitesmoke;
    @include clearfix;
    margin-bottom: $site-margin;
 
    .game-review__content{
        
    }

    .game-review__content__title {
        margin-top: $site-margin;
        font-family: $heading-font-bold;
        font-size: 1em;
        border-bottom: 1px solid #bb075c;
        padding-left: 0px;
        margin-bottom: $site-margin;
        >a{
            color: $title;
        }
    }
    .game-review__content__image {
        padding: 0px;
        margin: 0px $site-margin $site-margin 0px;
        float: left;
        @media #{$small-only} {
            @include grid-column(12);
            margin-bottom: $site-margin;
            padding: 0px;
        }
    }
    .game-review__content__body{ 
        >p{
            
            font-size: 0.9em;
            
        }
    }
    .game-review__publisher{
        font-size:0.8em;
      
    }
}