// =============================================================================
// Game Details - SEO Page
// =============================================================================

.game-details-page {
     @include grid-column(12);
     padding-top: $site-margin;
     height: auto;
     font-family: $body-font-regular;
     background-color: white;
     border: 1px solid #edebe8;
     margin-bottom: $site-margin;
     @media #{$small-only} {
           @include grid-column(12, $collapse: true);
          padding-top: 0;
          margin-top: 0;
          border: none;
     }

     .game-detail-wrap__title-bar {
          @include grid-column(12, $collapse: true);
          font-family: $heading-font-bold;
          width: 100%;
          text-transform: uppercase;
          color: $white;
          font-size: rem-calc(24px);
          background-color: $brand-color;
          @include vert-align(38px);
          margin-bottom: $site-margin;
          padding-left: $site-margin;
          @media #{$small-only} {
               margin-top: 0;
               margin-bottom: 0;
          }
     }

     .game-detail-content {
          @include grid-row;
          margin-bottom: $site-margin;

          .game-detail-content__right {
               @include grid-column(5, $collapse: true);
               padding-right: 0;
               @media #{$medium-only} {
                     @include grid-column(6);
               }
               @media #{$small-only} {
                     @include grid-column(12, $collapse: true);
               }

               img {
                    width: 100%;
                    margin-bottom: $site-margin;
               }

               > article.login-box > h1 {
                    font-size: 1em;
               }
          }

          .game-detail-content__left {
               @include grid-column(7, $collapse: true, $float: left);
               @media #{$medium-only} {
                     @include grid-column(6);
               }
               @media #{$small-only} {
                     @include grid-column(12, $collapse: true);
                    margin-top: 0;
                    margin-bottom: -25px;
               }
               position: relative;

               .play-now-button {
                    position: relative;
                    top: 30%;
                    width: 135px;

                    @media #{$small-only} {
                      width: 110px;
                      top: 22%;
                    }
               }

               .overlay-holder {
                    position: relative;
               }

               .overlay {
                    position: absolute;
                    height: 100%;
                    @include grid-column(12, $collapse: true, $float: left);
                    @media #{$medium-only} {
                          @include grid-column(12, $collapse: true);
                    }
                    @media #{$small-only} {
                          @include grid-column(12, $collapse: true);
                    }
                    height: 100%;
                    background-color: #000;
                    @include opacity(0.8);
                    z-index: 9;
                    text-align: center;
               }

               img {
                    width: 100%;
                    height: auto;
                    @include opacity(1);
               }

               .game-detail-content__left__thumbnail {
                    @include grid-column(6, $collapse: true);
                    @media #{$small-only} {
                          @include grid-column(6, $collapse: true);
                    }
                    padding-top: $site-margin;
               }
          }
     }

     .game-detail__wrap {
          @include grid-column(12, $last_column: true);
          line-height: 22px;

          p {
               font-family: $body-font-regular;
               font-size: rem-calc(12px);
               color: #555;
               margin-bottom: 18px;
          }

          h3 {
               color: #555;
               font-family: $body-font-regular;
               text-transform: uppercase;
               font-size: 14px;
               font-weight: bold;
               margin-top: 0;
               border-bottom: 1px solid $brand-color;
          }

          a {
               color: $brand-color;
          }
     }

     .game-icon-wrap {
          @include grid-column(5);
          @extend .hide-for-medium;
          @extend .hide-for-small;
          @media #{$medium-only} {
                @include grid-column(6);
          }
          @media #{$small-only} {
                @include grid-column(12, $collapse: true);
          }

          img {
               width: 100%;
               margin-bottom: $site-margin;
          }
     }

     .game-detail-content__right__game-table {
          font-size: 15px;
          color: #555;

          ul {
               list-style: none !important;
               margin: 0 !important;
          }

          > li {
               font-size: rem-calc(12px);
               border-bottom: 1px solid $grey;
               height: auto;
               padding: 0.75em 0;

               .game-detail-content__right__game-table__title {
                    width: 100px;
                    padding-right: $site-margin;
                    display: inline-block;
                    color: $brand-color;
               }

               .game-detail-content__right__game-table__provider {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 60%;
               }
          }
          @media #{$medium-only} {
                @include grid-column(12, $collapse: true);
          }
     }
}

.game-description {
     @include grid-column(12, $float: right, $last_column: true);
     margin-right: 0;
     @media #{$medium-only} {
           @include grid-column(6);
     }
     @media #{$small-only} {
           @include grid-column(12, $collapse: true);
     }

     > h1 {
          @include grid-column(12, $collapse: true);
          width: 100%;
          font-family: $body-font-demi;
          color: $white;
          font-size: rem-calc(24px);
          background-color: $brand-color;
          @include vert-align(38px);
          margin-bottom: $site-margin;
          padding-left: $site-margin;
     }

     > p {}
}

.games-detail-page__bottom {
     .banner {
          margin-bottom: 1em;
     }
}

.game-detail-content__aquisition__cta {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    @media #{$small-only} {
        margin-top: 20px;
    }

    .cta-login {
        @include grid-column(5, $float: left);

          width: 47%;
          margin-right: 10px;
          margin-top: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          background: none;
          cursor: pointer;
          border: 1px solid #FED500;
          border-radius: 50px;

        @media #{$small-only} {
            @include grid-column(5);
            margin-left: 15px;
        }

        a {
            color: #FED500;
        }
    }

    .cta-join {
        @include grid-column(5, $float: right);

        width: 47%;
        margin-top: 10px;
        background-color: #FED500;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
        border-radius: 50px;

        @media #{$small-only} {
            @include grid-column(5);
            float: right;
            margin-right: 15px;
        }

        a {
            color: #7638A1;
        }
    }
}

.game-detail-content__right__readMore {
     font-size: 14px;
     text-decoration: underline;

     &:hover {
          text-decoration: underline;
     }
}