$game-filter-bcg: #4E2375;

.games-filter-menu {
    color: #23195D;

    span {
        position: relative;
    }
    .nub {
        height: 9px;
        width: 15px;
        display: block;
        text-align: center;
        position: absolute;
        left: 140px;
        top: -9px;
    }
}

.games-filter-menu__popover-wrap {
    position: relative;
    margin-top: 5px;
    @media #{$large-up} {
        margin-top: 16px;
        margin-left: 7px;
    }
}

.games-filter-menu__popover {
    position: absolute;
    display: none;
    z-index: 999;
    height: auto;
    width: 380px;
    background: $game-filter-bcg;
    top: 4px;
    left: -7px;
    border-top: none;

    .tabs {
        padding: 2px 0;
    }

    .tab {
        float: left;
        color: $navigation-text-color;
        text-align: center;
        height: 44px;
        padding: 0 2px 0 0;
        width: 25%;

        &:first-child {
            padding-left: 2px;
        }

        &__item {
            background: $royal-purple;
            color: $white;
            font-family: $ui-font-bold;
            height: 44px;
            @include vert-align(44px);
            font-size: 0.875em;
            font-weight: 500;
            padding: 0;
            text-decoration: none;
            text-transform: capitalize;

            &:hover {
                background: $royal-purple;
                color: $gold;
            }
        }

        &.active {
            .tab__item {
                background: $game-filter-bcg;
                color: $gold;
                border-left: none;
                &:hover {
                    text-decoration: none;
                }
            }
        }

        &:active {
            padding-bottom: 4px;
            a {
                font-family: $ui-font-bold;
                font-size: 0.8em;
            }
        }
    }

    > .tabs .tab-title a {
        background-color: $global-link-color;
        color: $white;
        @include background-image(linear-gradient(to top, $global-link-color 0%, darken($global-link-color, 9%) 100%));
        border-left: 1px solid darken($global-link-color, 90%);
        &:hover {
            background-color: transparent;
            color: $global-bg-color;
            // text-decoration: underline;
        }
    }
    > .tabs .tab-title.active a {
        background-image: none;
        background-color: $global-bg-color;
        color: $white !important;
        border-left: none;
        &:hover {
            text-decoration: none;
        }
    }

    .tabs-content {
        margin: 0px;

        .content {
            padding: 10px;

            ul {
                padding: 0;
                margin: 0;

                // float clearfix
                &:after {
                    content: '';
                    display: table;
                    clear: both;
                }

                li {
                    float: left;
                    width: 33.3333333333%;
                    height: 44px;
                    margin: 0 0 8px 0;
                    padding: 0 4px;

                    a {
                        display: block;
                        width: 100%;
                        height: 44px;
                        background: $royal-purple;
                        border: 1px solid $royal-purple;
                        color: white;
                        font-size: 0.8125rem;
                        font-weight: 300;
                        line-height: 16px;
                        text-align: center;
                        text-transform: capitalize;
                        padding: 5px 0;
                        position: relative;

                        span {
                            padding: 0 10px;
                            position: absolute;
                            width: 100%;
                            left: 0;
                            top: 50%;
                            -webkit-transform: translateY(-50%);
                            -moz-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                        }

                        &.active {
                            background: $game-filter-bcg;
                            color: $gold;
                        }

                        &:hover,
                        &:focus {
                            color: $gold;
                        }
                    }
                }
            }
        }

        .content-active {
            padding-bottom: 0px;
        }
    }
}