@font-face {
    font-family: 'todayshop-bold-webfont';
    src: url('flash-msg/fonts/todayshop-bold-webfont.woff2') format('woff2'),
    	 url('flash-msg/fonts/todayshop-bold-webfont.otf') format('otf'),
         url('flash-msg/fonts/todayshop-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #e570e7; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #e570e7 0%, #ac5ec4 47%, #5e4399 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #e570e7 0%,#ac5ec4 47%,#5e4399 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #e570e7 0%,#ac5ec4 47%,#5e4399 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#5e4399',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	text-align: center;
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 1.1rem;
	color: #636262;

}


main {
	background: url('flash-msg/images/bkg-clouds.png') top center no-repeat;
}

.box {
	max-width: 800px;
	max-height: 600px;

	margin-right: auto;
    margin-left: auto;
}

.text-box {
    position: fixed;
	margin-top: 297px;
	width: 700px;
	padding: 40px;
	padding-top: 20px;
	background-color: #fff;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	-webkit-box-shadow: -1px 3px 6px 0px rgba(105,104,105,1);
	-moz-box-shadow: -1px 3px 6px 0px rgba(105,104,105,1);
	box-shadow: -1px 3px 6px 0px rgba(120,120,120,1);
	border: 0px solid #000000;
	z-index: 999;
}

#luke2{
    left: 258px;
    position: fixed;
    top: 116px;
    width: 319px;
}

.dialog{
	/*border: #999 solid 2px;*/
	border-radius: 8px;
	box-shadow: 0px 0px 5px 1px rgba(120,120,120,0.4);
	margin: 0 0 25px;
}

p {
	line-height: 0.6;
	margin: 3% 0;
	letter-spacing: 1px;
}

.title{
	font-family: 'todayshop-bold-webfont', Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	color: #5820A9;;
}

.main-cta{
	background: #62B00C;
	padding: 20px;
	text-decoration: none;
	color: white;
	border-radius: 12px;
	    margin-top: 0px;
    display: block;
    max-width: 339px;
    margin: 0 auto;
}

.small-txt{
	font-size: 1.2rem;
	line-height: 0.5;
	color: #8f47da;
	font-style: italic;
}

a {
	color: #0F79D5;
	font-size: 1.6rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

a:hover {
	opacity: 0.9;
}
.more-info	{
	display: block;
    margin-top: 30px;
    color: grey;
    font-size: 0.8rem;
    font-weight: initial;
    text-align: left;
    margin-bottom: 20px;
}

.more-info:focus ~ .info-expander{
	display: block;

}

.info-expander{
	display: none;
}


.info-expander h1{

text-align: left;
    font-size: 1rem;
  
    margin-bottom: 0px;
	
    }

    .info-expander p{

text-align: left;
    margin-top: 5px;
    font-size: 0.8rem;
   
    line-height: 16px;
	
    }

    .text-area{
    	    float: left;
    width: 72%;
    }
    .


