.search-input {
    position: relative;
    font-family: $body-font-regular;
    font-size: 1rem;
    > input[type=text], input[type=password] {
        font-size: 0.9em;
        /* Size and position */
        width: 100%;
        padding: 8px 8px 8px 8px;
        /* Styles */
        border: 1px solid #22895E;
        /* Remove the default border */
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 3px 2px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        background: $white;
        color: $black;
        transition: color 0.3s ease-out;
        height: 29px;
    }
    input[type=text] {
        margin-bottom: 0px;
    }
    .search-input__icon {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 32px;
        height: 16px;
        background: url("../_images/common/icons/search.png") center;
        height: 100%;
        background-repeat: no-repeat;

      
    }
}
