@charset "UTF-8";
// Default Variables
$slick-font-path: "../_fonts/slick/" !important;
$slick-font-family: "slick" !default;
$slick-loader-path: "../_images/common/" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "←" !default;
$slick-next-character: "→" !default;
$slick-dot-character: "•" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;
@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url, false, false);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}




/* Slider */

.slick-container {}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
    .slick-loading & {
        background: white url("../_images/common/ajax-loader.gif") center center no-repeat;
    }
    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {}
    &.slick-loading img {
        display: none;
    }
    display: none;
    &.dragging img {
        pointer-events: none;
    }
    .slick-initialized & {
        display: block;
    }
    .slick-loading & {
        visibility: hidden;
    }
    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}




/* Icons */

@if $slick-font-family=="slick" {
    @font-face {
        font-family: "slick";
        src: url("../_fonts/slick/slick.eot");
        src: url("../_fonts/slick/slick.eot?#iefix") format("embedded-opentype"), url("../_fonts/slick/slick.woff") format("woff"), url("../_fonts/slick/slick.ttf") format("truetype"), url("../_fonts/slick/slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}




/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
    &:hover,
    &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
}

.slick-prev:before,
.slick-next:before {
    font-family: $slick-font-family;
    font-size: 30px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: -25px;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}




/* Dots */

.slick-slider {
    margin-bottom: 30px;
    @media #{$small-only} {
        margin-bottom: 0px;
    }
    @media #{$medium-only} {
        margin-bottom: 0px;
    }
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 30px;
        width: 30px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 30px;
            width: 30px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover,
            &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 30px;
                height: 30px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 30px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}

.home-games div.section__header>h1 {

    @media #{$small-only} {
        margin-top: 5px !important;
    }
}


// end slick slide code
// slick custom styling
.slick-slide {
    >a img {
        width: 60%;
        max-width: 812px;
        margin: 0 20%;
        @media #{$small-only} {
            width: 100% !important;
        }
        @media #{$medium-only} {
            width: 80% !important;
        }
    }
}

.slick-next {
    top: 210px;
    right: 5% !important;
    z-index: 999 !important;
    position: absolute;
    @media #{$small-only} {
        top: 120px;
    }
    @media #{$large-up} {
        right: 15% !important;
    }
}

.slick-prev {
    top: 210px;
    left: 5% !important;
    z-index: 999 !important;
    position: absolute;
    @media #{$small-only} {
        top: 120px;
    }
    @media #{$large-up} {
        left: 15% !important;
    }
}

.top-slider {
    top: 60px;
    color: #fff;
    width: 100%;
    overflow: visible;
    height: 100%; // max-height: 408px;
}

.slick-slider {
    height: 100%;
    max-height: 408px;
    @media #{$small-only} {
        .hidemobile {
            visibility: hidden;
            margin: 0; // display: none;
        }
    }
    a {}
    // Custom sass Loop to generate styles for classes slide1 through to slide8.
    @for $i from 1 through 8 {
        .slide#{$i} {
            // $folder: "background";
            $sliderpath: "../_images/slider/background/desktop/slide#{$i}.jpg";
            $mobilesliderpath: "../_images/slider/foreground/mobile/slide#{$i}.jpg";
            background: url($sliderpath);
            background-position: center !important;
            background-repeat: no-repeat !important;
            max-width: 2560px;
            height: 100%;

            @media #{$medium-only} {
                background-size: 260% !important;
            }
            @media #{$small-only} {
                background-size: 100% !important;
                background: url($mobilesliderpath);
                background-position: top center !important;
            }

            a {
                display: block;
            }
        }
    }
    .slide1 {
        @media #{$large-up} {
            background: transparent;
        }
        @media #{$medium-only} {
            background-position: top !important;
        }
    }
}

.slick-container {
    margin-top: -1px;
    @media #{$small-only} {
        margin-top: -3px !important;
    }
}

.slider-text-link {

    transform: translateX(0);
    top: auto;
    right: auto;
    left: auto;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    padding: 2px;
    border-radius: 3px;
    font-size: rem-calc(10px);
    color: $white;
    text-align: center;
    width: 62.5rem;
    //margin: -5% 1% 0 1%;

    @media #{$medium-only} {
        width: 100%;
        @media #{$landscape} {
            margin: -7% 1% 0 1%;
        }
    }

    @media #{$small-only} {
        width: 100%;
        margin-top: -20px;
    }

    @media #{$large-up} {
        //margin: 0 27.5%;
        margin: 0 auto;
        bottom: 60px;
    }

    @media only screen and (min-width:64.0625em) and (max-width:84.375em) {
        bottom: 43px;
    }
    .slider-text-link-copyright {
        margin: 0;
        padding: 0;
        font-size: rem-calc(10px);
        line-height: 1.2;
    }
    a {
        margin: 0;
        color: $white; // float: left;
        line-height: 1.2;
        font-size: rem-calc(11px);
        &:hover {
            text-decoration: underline;
        }
        &.edit-point {
            position: absolute;
            width: 110px;
            height: auto;
            margin-top: -50px;
        }
    }
}