table {
    border: 1px solid #DDD !important;
    overflow: visible !important;

    .responsive {
        border: 1px solid #DDD !important;

        tr {
            td {
                color: $black !important;
            }
        }

        tbody td, thead td {
            @media #{$medium-up} {
                text-align: center;
            }
        }
    }

    &.responsive td:before {
        color: #222222 !important;
    }

    thead {
        tr {
            td {
                background: $ui-table-header;

                a {}
            }

            th {
                p {}
            }
        }
    }

    tr {
        td {
            color: $black !important;

            @media #{$medium-up} {
                text-align: center !important;
            }
        }
    }
}