.accordion-wrap {
    @include grid-column(12);
    padding: 0;
    margin: 0 !important;
    .accordion-navigation {
        @include grid-column(12);
        @include border-radius(4px);
        @include transition(all, 0.2s ease-out);
        overflow: hidden;
        margin: 0 !important;
        margin-bottom: ($site-margin / 2) !important;
        padding: 0;
        background-color: $white;
        color:$black !important;
        &:hover {
            background-color: #e5deea;
            color: $black;
        }
        &:last-child {
            margin-bottom: 0 !important;
        }
        .ui-accordion {
            @include grid-column(12);
            padding: 10px 10px;
            background: url(/_images/common/accordion-down-arrow.png) no-repeat center right 12px;
            background-size: 20px 20px;
            &:hover {
                box-shadow: inset 0px 1px 2px 0px rgba(169, 169, 169, 0.5);
                background: url(/_images/common/accordion-down-arrow.png) no-repeat center right 12px;
                background-size: 20px 20px;
                background-color: $white;
                h1 {
                    color: $black !important;
                }
            }
            &.active {
                background: url(/_images/common/accordion-up-arrow.png) no-repeat center right 12px;
                background-color: $regalwins--gray;
                background-size: 20px 20px;
                h1 {
                    color: $black !important;
                }
            }
            h1 {
                @include grid-column(10);
                margin: 0;
                padding: 5px !important;
                padding-left: 15px;
                color: $black !important;
                font-size: 18px;
                font-family: $body-font-bold;
                line-height: 20px;
                text-align: left;
                text-transform: none;
            }
        }
        img {
            @include grid-column(1, $center: true);
            max-height: 30px;
            height: 30px;
        }
        .content {
            @include grid-column(12);
            @include transition(all, 0.2s ease-out);
            width: 100% !important;
            margin: 0;
            background: $regalwins--gray;
            color: $white;
            padding: $site-margin * 2;
            font-size: 0.85rem;
            li {
                list-style: inherit;
                margin-bottom: $site-margin / 2;
            }
        }
    }
    #panel1a {
        display: block !important;
    }
}

#home {
    .accordion-navigation {
        a {
            color: #BEA349;
        }
    }
}
