.error-page {
    font-size: 1rem;
    text-align: center;
    @include grid-row;
    // @include border-radius(0px);
    // background-color: lighten($lynch, 40%);
    background-color: $regalwins--gray-darkest;
    height: 400px;
    .error-page__image {
        text-align: left;
        height: 100%;
        img {
            width: auto;
            max-height: 100%;
            height:auto;
        }
    }
    .error-page__text {
        position: absolute;
        padding: 1em;
        text-align: center;
        background:rgba( $regalwins--gray, 0.8 );
        @media #{$small-only} {
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
        }
        @media #{$medium-up} {
            top: 10%;
            left: 45%;
            width: 50%;
        }
    }
    .error-page__error {
        @include grid-column(12, $collapse: true);
        color: $white;
        font-family: $heading-font-bold;
        margin-bottom: 1rem;
        @media #{$small-only} {
            font-size: 2em;
        }
        @media #{$medium-only} {
            font-size: 4em;
        }
        @media #{$large-up} {
            font-size: 5em;
        }
    }
    .error-page__msg {
        @include grid-column(12);
        color: $white;
        @media #{$small-only} {
            font-size: 1.5em;
            line-height: 1.2em;
        }
        @media #{$medium-up} {
            font-size: 2em;
        }
    }
    .error-page__suggestion {
        @include grid-column(12);
        font-size: 1em;
        color: $black;
        text-align: center;
        a {
            text-decoration: underline;
            color: $white;
            &:hover {
                text-decoration: underline;
                color:$white;
            }
        }
    }
    p {
        line-height: 100%;
    }
    .join-now-button {
        padding: 0.5em;
        font-size: 1em;
            color: $white;
    font-family: $heading-font-bold;

    @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.35));
    @include border-radius(3px);
background-color: #5d8d32; // layer fill content
@include background-image(linear-gradient(bottom, #00971c 0%, #44e100 100%)); // gradient overlay
    &:hover {
        color: $white;
background-color: #5d8d32; // layer fill content
@include background-image(linear-gradient(bottom, lighten(#00971c, 6%) 0%, #44e100 100%)); // gradient overlay
    }
    }
}