.section {
    font-size: 1rem;
    padding-bottom: $site-margin;
    position: relative;

    .section__title {
        @include grid-column(12, $float: none);

        text-transform: uppercase;
        width: 100%;
        font-family: $heading-font-bold;
        color: $black;
        font-size: rem-calc(17px);
        font-weight: 600;
        background-color: $brand-color;

        @media #{$medium-up} {
            @include vert-align(34px);
        }

        padding-left: $site-margin;

        a {
            color: $regalwins--copy-colour;
        }
    }

    .section__header {
        border-bottom: none;
    }

    .section__banner {
        margin-bottom: 1em;
    }
}

section {
    float:left;
    width: 100%;
}

// generic content area styling e.g. /about-us/
.middle-content__box {
    margin-bottom: 0;
    padding-right: 0;
    background-color: $regalwins--gray-darkest;
    padding: 0;

    .section {
         background: $regalwins--gray-darkest;
         padding-bottom: 0;
         padding: 0;

         .section__title {
            padding: 20px 20px 0 20px;
            background: transparent;
            color: $white;
            font-size: $rw-header-size;
            line-height: $rw-header-line-height;
            text-transform: lowercase;

            &:first-letter {
                text-transform: capitalize;
            }
         }

        .content-template {
            padding: 20px;
            
            .text-partial {
                margin-bottom: 0;
                background: $regalwins--gray-darkest;
                padding: 0;

                // target the first header of the content block
                &:first-of-type {
                    h1 {
                        margin-top: 1rem;
                        text-transform: none;
                    }
                }

                h1 {
                    background: $regalwins--gray-darkest;
                    color: $white;
                    text-transform: none;
                    font-size: $rw-header-secondary-size;
                    line-height: $rw-header-secondary-line-height;
                    padding-top: 0.5rem;
                    margin-top: 0;
                    text-transform: lowercase;
                    font-weight: bold;

                    &:first-letter {
                        text-transform: capitalize;
                    }
                }

                .text-partial-content {
                    margin-bottom: 0;
                    background: $regalwins--gray-darkest;
                    padding: 0;

                    p {
                        font-size: $rw-body-font-size;
                        line-height: $rw-body-line-height;

                        // Force links in paragraphs to wrap
                        a {
                            word-break: break-word;
                        }
                    }

                    a {
                        color: $white;
                        text-decoration: underline;
                    }
                }
           }
        }
    }
}

#cashier {
    .middle-content__box .section .content-template {
        @media #{$small-only} {
            padding: 0;
        }
    }
}

// exceptions
#archive, #forgot-password {
    .content-template {
        padding: 0;
    }
}