html {
    overflow-y: scroll;
    height: 100%;
}

html, a {
    @include antialiasing;

    color: $brand-color;

    &:hover {
        color: lighten($brand-color, 2%);
    }
}

body {
    @media #{$small-only} {
        padding-top: 38px !important;
        background-color: #DEF1F7;
    }

    @media #{$medium-only} {
        padding-top: 40px !important;
        background-color: $wrap-background-color;
    }

    padding-top: 60px !important; 
    font-family: $body-font-regular;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: $content-text;

    @media #{$small-up} {
        background-color: #C4E4E1;
    }

    @media #{$large-up} {
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
    }

    &.modal-open {
        overflow: hidden;
    }
}

// margin fixes

body#home .content-wrapper--logged-in .main-content {
    @media #{$large-up} {
        margin-top: -170px;
    }

    @media #{$medium-only} {}

    .breadcrumbs__row {
        margin-bottom: 0px;
    }
}

.content-wrapper--logged-in {
    .middle-content__box.games {
        margin-top: 0px;
    }
}

.main-wrap {
    padding-top: 50px;

    @media #{$small-only} {
        padding-top: 0px;
    }

    @media #{$medium-only} {
        padding-top: 0px;
    }
}

body#home {
    //slider is here so dont add top padding to move down nav
    .main-wrap {
        padding-top: 0px;
    }

    .main-wrap {
        .content-wrapper--logged-in {
            padding-top: 0px;

            #ajax-wrapper {
                margin-top: 50px;

                @media #{$small-only} {
                    margin-top: 0px;
                }

                @media #{$medium-only} {
                    margin-top: 0px;
                }
            }
        }
    }
}

/* body.cookie-policy-active {
     #ajax-wrapper {
          margin-top: 114px !important;
          @media only screen and (min-width: 1025px) and (max-width: 1360px) {
               margin-top: 135px !important;
          }
     }
} */
// end margin fixes

#aboutus, #welcome, #cashier {
    background-color: #edecee;
    color: $black;
    font-family: $body-font-regular;
}

#cashier.no-background {
    background-color: transparent;
}

dialog .close-reveal-modal, .reveal-modal .close-reveal-modal {
    width: 100%;
    text-align: right;
    max-width: 1000px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    top: 0;
    padding-right: 0.3em;
}

.reveal-modal {
    z-index: 99999;
    height: auto !important;
    top: 50% !important;
    position: fixed !important;
    left: 50% !important;
    z-index: 99999;
    transform: translate(-50%, -50%) !important;
    -webkit-overflow-scrolling: touch;
    max-height: 100%;
    overflow-y: scroll;

    @media #{$small-only} {
        height: 100%;
    }

    @media #{$medium-only} {
        height: 100%;
    }
}

.reveal-modal-bg {
    z-index: 9999;
}

.reveal-modal, .dialog {
    background-color: $white;
    z-index: 99999;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    font-family: $body-font-demi;
}

h2 {
    font-family: $body-font-demi;
}

h3 {
    font-family: $body-font-demi;
}

h4 {
    font-family: $body-font-demi;
}

h5 {
    font-family: $body-font-demi;
}

h6 {
    font-family: $body-font-demi;
}

ul {
    list-style: none;
    margin: 0;
}

.reveal-modal-bg {
    z-index: 9997; 
}

.reveal-modal {
    z-index: 9998 !important;
    height: auto !important;
    top: 50% !important;
    position: fixed !important;
    left: 50% !important;
    z-index: 99999;
    transform: translate(-50%, -50%) !important;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    max-height: 100% !important;

    @media #{$small-only} {
        height: 100%;
    }

    @media #{$medium-only} {
        height: 100%;
        width: 95%;
    }
}

dialog {
    z-index: 99999999999;

    @media #{$medium-up} {
        position: absolute;
        width: 100%;
    }

    @media #{$small-only} {
        position: absolute;
        padding: $site-margin;
        width: 100%;
        -webkit-overflow-scrolling: touch;
    }
}

// style all foundation buttons as defulat brand style
input.button, a.button, span.button {
    text-transform: uppercase;

    @include CTA-button(1.1em, 1.1em, 2px, $main-highlight-color, $main-highlight-color);

    color: $white;
    border-radius: 3px;

    &:hover {
        color: $white !important;
    }
}

// Avoiding zoom in forms by setting at least 16px font-size for mobile
@media #{$small-only} {
    input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        background-color: #FFFFFF;
        font-family: inherit;
        border: 1px solid #cccccc;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.75);
        display: block;
        font-size: 1rem;
        margin: 0 0 1rem 0;
        padding: 0.5rem;
        height: 2.3125rem;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
    }
}
::-webkit-input-placeholder {
    color: darken(#cccccc, 50%);
}

:-moz-placeholder {
    /* Firefox 18- */
    color: darken(#cccccc, 50%);
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: darken(#cccccc, 50%);
}

:-ms-input-placeholder {
    color: darken(#cccccc, 50%);
}

.label {
    white-space: normal !important;
}


.error {
    
    a {
        color: #008CBA;

        &:hover {
            text-decoration:underline;
        }
    }
}