
/*=============================================
=       Kiro Family         =
=============================================*/



@font-face {
    font-family: 'kiroextra_light_italic';
    src: url('../_fonts/kiro/kiro_extra_light_italic-webfont.eot');
    src: url('../_fonts/kiro/kiro_extra_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kiro/kiro_extra_light_italic-webfont.woff2') format('woff2'),
         url('../_fonts/kiro/kiro_extra_light_italic-webfont.woff') format('woff'),
         url('../_fonts/kiro/kiro_extra_light_italic-webfont.ttf') format('truetype'),
         url('../_fonts/kiro/kiro_extra_light_italic-webfont.svg#kiroextra_light_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kiroextra_bold';
    src: url('../_fonts/kiro/kiro_extra_bold-webfont.eot');
    src: url('../_fonts/kiro/kiro_extra_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kiro/kiro_extra_bold-webfont.woff2') format('woff2'),
         url('../_fonts/kiro/kiro_extra_bold-webfont.woff') format('woff'),
         url('../_fonts/kiro/kiro_extra_bold-webfont.ttf') format('truetype'),
         url('../_fonts/kiro/kiro_extra_bold-webfont.svg#kiroextra_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kiroextra_bold_italic';
    src: url('../_fonts/kiro/kiro_extra_bold_italic-webfont.eot');
    src: url('../_fonts/kiro/kiro_extra_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kiro/kiro_extra_bold_italic-webfont.woff2') format('woff2'),
         url('../_fonts/kiro/kiro_extra_bold_italic-webfont.woff') format('woff'),
         url('../_fonts/kiro/kiro_extra_bold_italic-webfont.ttf') format('truetype'),
         url('../_fonts/kiro/kiro_extra_bold_italic-webfont.svg#kiroextra_bold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kirobold';
    src: url('../_fonts/kiro/kiro_bold-webfont.eot');
    src: url('../_fonts/kiro/kiro_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kiro/kiro_bold-webfont.woff2') format('woff2'),
         url('../_fonts/kiro/kiro_bold-webfont.woff') format('woff'),
         url('../_fonts/kiro/kiro_bold-webfont.ttf') format('truetype'),
         url('../_fonts/kiro/kiro_bold-webfont.svg#kirobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kirobold_italic';
    src: url('../_fonts/kiro/kiro_bold_italic-webfont.eot');
    src: url('../_fonts/kiro/kiro_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kiro/kiro_bold_italic-webfont.woff2') format('woff2'),
         url('../_fonts/kiro/kiro_bold_italic-webfont.woff') format('woff'),
         url('../_fonts/kiro/kiro_bold_italic-webfont.ttf') format('truetype'),
         url('../_fonts/kiro/kiro_bold_italic-webfont.svg#kirobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kirothin';
    src: url('../_fonts/kiro/kiro_thin-webfont.eot');
    src: url('../_fonts/kiro/kiro_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kiro/kiro_thin-webfont.woff2') format('woff2'),
         url('../_fonts/kiro/kiro_thin-webfont.woff') format('woff'),
         url('../_fonts/kiro/kiro_thin-webfont.ttf') format('truetype'),
         url('../_fonts/kiro/kiro_thin-webfont.svg#kirothin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kirothin_italic';
    src: url('../_fonts/kiro/kiro_thin_italic-webfont.eot');
    src: url('../_fonts/kiro/kiro_thin_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kiro/kiro_thin_italic-webfont.woff2') format('woff2'),
         url('../_fonts/kiro/kiro_thin_italic-webfont.woff') format('woff'),
         url('../_fonts/kiro/kiro_thin_italic-webfont.ttf') format('truetype'),
         url('../_fonts/kiro/kiro_thin_italic-webfont.svg#kirothin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kirolight';
    src: url('../_fonts/kiro/kiro_light-webfont.eot');
    src: url('../_fonts/kiro/kiro_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kiro/kiro_light-webfont.woff2') format('woff2'),
         url('../_fonts/kiro/kiro_light-webfont.woff') format('woff'),
         url('../_fonts/kiro/kiro_light-webfont.ttf') format('truetype'),
         url('../_fonts/kiro/kiro_light-webfont.svg#kirolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kiroitalic';
    src: url('../_fonts/kiro/kiro_italic-webfont.eot');
    src: url('../_fonts/kiro/kiro_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kiro/kiro_italic-webfont.woff2') format('woff2'),
         url('../_fonts/kiro/kiro_italic-webfont.woff') format('woff'),
         url('../_fonts/kiro/kiro_italic-webfont.ttf') format('truetype'),
         url('../_fonts/kiro/kiro_italic-webfont.svg#kiroitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kirolight_italic';
    src: url('../_fonts/kiro/kiro_light_italic-webfont.eot');
    src: url('../_fonts/kiro/kiro_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kiro/kiro_light_italic-webfont.woff2') format('woff2'),
         url('../_fonts/kiro/kiro_light_italic-webfont.woff') format('woff'),
         url('../_fonts/kiro/kiro_light_italic-webfont.ttf') format('truetype'),
         url('../_fonts/kiro/kiro_light_italic-webfont.svg#kirolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kiroextra_light';
    src: url('../_fonts/kiro/kiro_extra_light-webfont.eot');
    src: url('../_fonts/kiro/kiro_extra_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kiro/kiro_extra_light-webfont.woff2') format('woff2'),
         url('../_fonts/kiro/kiro_extra_light-webfont.woff') format('woff'),
         url('../_fonts/kiro/kiro_extra_light-webfont.ttf') format('truetype'),
         url('../_fonts/kiro/kiro_extra_light-webfont.svg#kiroextra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kiroregular';
    src: url('../_fonts/kiro/kiro_regular-webfont.eot');
    src: url('../_fonts/kiro/kiro_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kiro/kiro_regular-webfont.woff2') format('woff2'),
         url('../_fonts/kiro/kiro_regular-webfont.woff') format('woff'),
         url('../_fonts/kiro/kiro_regular-webfont.ttf') format('truetype'),
         url('../_fonts/kiro/kiro_regular-webfont.svg#kiroregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*=============================================
=       Grota Family         =
=============================================*/


@font-face {
    font-family: 'grotathin';
    src: url('../_fonts/grota/grota-thin-webfont.eot');
    src: url('../_fonts/grota/grota-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/grota/grota-thin-webfont.woff2') format('woff2'),
         url('../_fonts/grota/grota-thin-webfont.woff') format('woff'),
         url('../_fonts/grota/grota-thin-webfont.ttf') format('truetype'),
         url('../_fonts/grota/grota-thin-webfont.svg#grotathin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'grotaregular';
    src: url('../_fonts/grota/grota-reg-webfont.eot');
    src: url('../_fonts/grota/grota-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/grota/grota-reg-webfont.woff2') format('woff2'),
         url('../_fonts/grota/grota-reg-webfont.woff') format('woff'),
         url('../_fonts/grota/grota-reg-webfont.ttf') format('truetype'),
         url('../_fonts/grota/grota-reg-webfont.svg#grotaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'grotalight';
    src: url('../_fonts/grota/grota-light-webfont.eot');
    src: url('../_fonts/grota/grota-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/grota/grota-light-webfont.woff2') format('woff2'),
         url('../_fonts/grota/grota-light-webfont.woff') format('woff'),
         url('../_fonts/grota/grota-light-webfont.ttf') format('truetype'),
         url('../_fonts/grota/grota-light-webfont.svg#grotalight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'grotaextrabold';
    src: url('../_fonts/grota/grota-extrabold-webfont.eot');
    src: url('../_fonts/grota/grota-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/grota/grota-extrabold-webfont.woff2') format('woff2'),
         url('../_fonts/grota/grota-extrabold-webfont.woff') format('woff'),
         url('../_fonts/grota/grota-extrabold-webfont.ttf') format('truetype'),
         url('../_fonts/grota/grota-extrabold-webfont.svg#grotaextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'grotabold';
    src: url('../_fonts/grota/grota-bold-webfont.eot');
    src: url('../_fonts/grota/grota-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/grota/grota-bold-webfont.woff2') format('woff2'),
         url('../_fonts/grota/grota-bold-webfont.woff') format('woff'),
         url('../_fonts/grota/grota-bold-webfont.ttf') format('truetype'),
         url('../_fonts/grota/grota-bold-webfont.svg#grotabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*=============================================
=      Gotham Narroww Family         =
=============================================*/


@font-face {
    font-family: 'Gotham Narrow Black';
    src: url('../_fonts/gotham-narrow/GothamNarrow-Black.eot');
    src: url('../_fonts/gotham-narrow/GothamNarrow-Black.eot?#iefix') format('embedded-opentype'),
        url('../_fonts/gotham-narrow/GothamNarrow-Black.woff2') format('woff2'),
        url('../_fonts/gotham-narrow/GothamNarrow-Black.woff') format('woff'),
        url('../_fonts/gotham-narrow/GothamNarrow-Black.ttf') format('truetype'),
        url('../_fonts/gotham-narrow/GothamNarrow-Black.svg#GothamNarrow-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow Bold';
    src: url('../_fonts/gotham-narrow/GothamNarrow-Bold.eot');
    src: url('../_fonts/gotham-narrow/GothamNarrow-Bold.eot?#iefix') format('embedded-opentype'),
        url('../_fonts/gotham-narrow/GothamNarrow-Bold.woff2') format('woff2'),
        url('../_fonts/gotham-narrow/GothamNarrow-Bold.woff') format('woff'),
        url('../_fonts/gotham-narrow/GothamNarrow-Bold.ttf') format('truetype'),
        url('../_fonts/gotham-narrow/GothamNarrow-Bold.svg#GothamNarrow-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow Medium';
    src: url('../_fonts/gotham-narrow/GothamNarrow-Medium.eot');
    src: url('../_fonts/gotham-narrow/GothamNarrow-Medium.eot?#iefix') format('embedded-opentype'),
        url('../_fonts/gotham-narrow/GothamNarrow-Medium.woff2') format('woff2'),
        url('../_fonts/gotham-narrow/GothamNarrow-Medium.woff') format('woff'),
        url('../_fonts/gotham-narrow/GothamNarrow-Medium.ttf') format('truetype'),
        url('../_fonts/gotham-narrow/GothamNarrow-Medium.svg#GothamNarrow-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow Ultra';
    src: url('../_fonts/gotham-narrow/GothamNarrow-Ultra.eot');
    src: url('../_fonts/gotham-narrow/GothamNarrow-Ultra.eot?#iefix') format('embedded-opentype'),
        url('../_fonts/gotham-narrow/GothamNarrow-Ultra.woff2') format('woff2'),
        url('../_fonts/gotham-narrow/GothamNarrow-Ultra.woff') format('woff'),
        url('../_fonts/gotham-narrow/GothamNarrow-Ultra.ttf') format('truetype'),
        url('../_fonts/gotham-narrow/GothamNarrow-Ultra.svg#GothamNarrow-Ultra') format('svg');
    font-weight: normal;
    font-style: normal;
}




