// Main place holders
.content-wrapper {
    width: 100%;

    @media #{$small-only} {
        background-color: $wrap-background-color;
    }

    @media #{$medium-only} {
        background-color: $wrap-background-color;
    }

    .cookie-policy-active & {
          @media #{$large-up} {
               margin-top: 60px;
          }
          @media #{$medium-only} {
               margin-top: 140px;
          }
          @media #{$small-only} {
               margin-top: 205px;
          }

          @media only screen and (min-width: 360px ) and ( max-width: 468px ) {
               margin-top: 180px;
          }

          @media only screen and (min-width: 469px ) and ( max-width: 640px ) {
               margin-top: 155px;
          }
    }
}

.content-wrapper--home {
    @media #{$large-up} {}
}

.content-template {
    height: 100%;
}

.main-content {
    @include grid-row;

    height: auto;
    background-color: $wrap-background-color;
    padding: $site-margin;
    padding-top: 20px;

    @media #{$large-up} {
        margin-top: -60px;
    }

    z-index: 888;
    position: relative;

    // left: 0;
    // right: 0;
    overflow: visible;

    @media #{$small-only} {
        padding-top: 0px;
        padding: 3px;
        margin-top: 0px;
    }

    @media #{$medium-only} {
        padding-top: 0px;
        padding: 3px;
        margin-top: 0px;
    }
}

.middle-content {
    @include grid-row;
}

.middle-content__box {
    @include grid-row;

    @include box;

    height: auto;
    overflow: visible;
    border: none;
    background-color: $wrap-background-color;
    position: relative;
    padding: $site-margin;
    padding-top: 0;

    @media #{$small-only} {
        padding: 0;
        max-width: 100%;
    }

    @media #{$medium-only} {
        padding: 0;
        max-width: 100%;
    }

    &.games {}
}

.bottom-content {
    @include grid-row;

    max-width: 1000px;
}

// --------------------------
// ----- LAYOUT Templates
// --------------------------

.three-columns-container {
    .three-columns-container__left, .three-columns-container__right {
        float: left;

        @media #{$small-only} {
            display: none;
        }

        @media #{$medium-up} {
            @include grid-column(3);
        }
    }

    .three-columns-container__centre {
        float: left;

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0px;
        }

        @media #{$medium-up} {
            @include grid-column(6);
        }
    }
}

.three-equal-columns-container {
    height: 100%;

    @include grid-column(12, $collapse: true);

    .three-equal-columns-container__left {
        height: 100%;

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0px;
        }

        @media #{$medium-up} {
            @include grid-column(4, $collapse: true);

            padding-right: 0.9em;
            padding-left: 0em;
        }
    }

    .three-equal-columns-container__right {
        height: 100%;

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0px;
        }

        @media #{$medium-up} {
            @include grid-column(4, $collapse: true);

            // padding-right:1em;
            padding-right: 0em;
            padding-left: 0.4em;
        }
    }

    .three-equal-columns-container__centre {
        @media #{$small-only} {
            @include grid-column(12);

            padding: 0px;
        }

        @media #{$medium-up} {
            @include grid-column(4, $collapse: true);

            padding-right: 0.4em;
            padding-left: 0em;
        }
    }
}

.two-columns-layout {
    .two-columns-layout__left, .two-columns-layout__right {
        float: left;
    }

    @media #{$small-only} {
        .two-columns-layout__left, .two-columns-layout__right {
            @include grid-column(12);

            padding: 0px;
        }
    }

    @media #{$medium-up} {
        .two-columns-layout__left {
            @include grid-column(9);

            padding-left: 0px;
        }

        .two-columns-layout__right {
            @include grid-column(3);

            padding-right: 0px;
            padding-left: 0px;
        }
    }
}

.two-equal-columns-layout {
    .two-equal-columns-layout__left, .two-equal-columns-layout__right {
        float: left;
    }

    @media #{$small-only} {
        .two-equal-columns-layout__left, .two-equal-columns-layout__right {
            @include grid-column(12);

            padding: 0px;
        }
    }

    @media #{$medium-up} {
        .two-equal-columns-layout__left {
            @include grid-column(6);

            padding-left: 0px;
            padding-right: 0px;
        }

        .two-equal-columns-layout__right {
            @include grid-column(6);

            padding-right: 0px;
            padding-left: 0px;
        }
    }
}

.two-columns-layout-reverse {
    .two-columns-layout-reverse__left, .two-columns-layout-reverse__right {
        float: left;
    }

    @media #{$small-only} {
        .two-columns-layout-reverse__left, .two-columns-layout-reverse__right {
            @include grid-column(12);

            padding: 0px;
        }
    }

    @media #{$medium-up} {
        .two-columns-layout-reverse__left {
            @include grid-column(3);

            padding-left: 0px;
            padding-right: 0px;
        }

        .two-columns-layout-reverse__right {
            @include grid-column(9);

            padding-right: 0px;
        }
    }
}

.home-games {
    background-color: transparent;
    border: none;
    position: absolute;
}

.home-seo {
    margin: 0px;
    padding-bottom: 0px;
    margin-top: $site-margin !important;
}

.home-games div.section__header > h1 {
    background-color: transparent;
    color: $flame-pea;
    font-family: $heading-font-extrabold;
    font-size: 20px;
    background-position-y: -10px;
    background-position-x: -40px;
    background-repeat: no-repeat;
    height: 28px;
    padding-left: 0px;
}


.banner-holder {

    max-height:409px;
    margin-bottom:30px;

    @media only screen and (max-width: 40em) {
        margin-bottom:0px;
    }

     @media #{$medium-only} {
        margin-bottom:0px;
    }

    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px)
    and (-webkit-min-device-pixel-ratio: 2) {
        max-height: 420px;
        margin-bottom:27px;
    }


    .banner-home {

        @media only screen and (max-width: 40em) {
            background:url(../_images/slider/foreground/mobile/slide1.jpg);
            background-size:100%!important;
            background-position:top center!important;
            background-repeat:no-repeat;
            margin-top: 12px;
        }

         @media #{$medium-only} {
            background:url(../_images/slider/foreground/mobile/slide1.jpg);
            background-size:100%!important;
            background-position:top center!important;
            background-repeat:no-repeat;   
        }

        a {
            display:block;
            text-align:center;
        }

        img {

            width:60%;
            max-width:812px;
            margin: 0 20%;

            @media only screen and (max-width: 40em) {
                width: 85%;
                visibility: hidden;
                margin: 0;
            }

             @media #{$medium-only} {
                width: 80%;
                visibility: hidden;
                margin: 0;
            }
        }

        .slider-text-link {

            @media only screen and (max-width: 40em) {
                height: auto !important;
                margin-top:5px !important;
            }

            @media #{$medium-only} {
                height: auto !important;

            }

            height:17px !important;

            a {
                display:block;
            }
        }     
    }
}

.float-right {
    width:auto;
    float:right;
}

