//Site UI Variable dont use these use the ones below

$ecru-white: darken(#F5F3EC, 10%);
$cream: #F9F9F9;
$spring-wood: #F5F3EC;
$ecru-white: #fcfbf7;
$satin-linen: #e5e0d5;
$flame-pea: #d75137;
$jungle-green: #179a94;
$blue-chill: #16918b;
$scorpian: #5e5e5e;
$dusty-grey: #989898;
$orange: orange; 
$sidecar:#f4e8be;

// Site UI Colors (use these)
// =============================================================================

// only use white and black if absolutely neccessary
$black: #000000;
$white: #ffffff;

//Container Colors
$wrap-background-color: $spring-wood;

//main wrap background color
$content-background-color: $white;

//inner container background color
$content-border-color: darken($spring-wood, 5%);

//inner container border color

//Font Colors
$main-highlight-color: $jungle-green;

// use header backgrounds and H1's and links
$body-text-color: $scorpian;

// use on  body text
$lighter-text-color: $dusty-grey;

// use on lighter body text to highlight
$navigation-highlight-color: $orange;

$global-link-color: $jungle-green;

$brand-color: $flame-pea;

$nav-active-color: $flame-pea;

//cashier
$grey: #898989;
$grey-dark: #5b5b5b;
$grey-light: #BFBFBF;
$grey-light-bg: #F5F3EC;

//used in promo bg
$lighter-bg: #ECEBE4;

$lima: #70B71D;
$torchred: #FF0041;
$carnation: #FB5368;

//Registration
$bg-color: #F5F3ED;
$white-lilac: #F5F7FC;
$mountain-meadow: #179a94;
$blue-chill: #16918b;
$wedgewood: #489894;
$prussian-blue: #00214B;
$concrete: #f2f2f2;
$green-vogue: #042E64;
$silver-chalice: #aaaaaa;
$emperor: #505050;
$lima: #70B71D;
$amethyst-smoke: #968ba9;
$grey: #828282;




// Layout Variables
// =============================================================================

// the websites default margin width
$site-margin: 14px;
// the spacing between game icons
$grid-spacing: 0.033em;

// END NEW SPIN AND WIN THEMES

//color of click circle effect on menu links
$inkbgcolor: hsl(180, 40%, 80%);

/// OLD THEMES FOR VEGAS

// ----------
// BASE COLOURS
// ----------
$white: #FFF;

//used for white
$black: #000;

//used for black
$lipstick: #d75137;

//used as main brand pink color
$fesheggplant: #d75137;

// main brand color - pinky red color
$linen: #e8e6e3;

//used for various, text etc
$orange: #cf6e0e;

//used in cashier and my account convert points
$pale-sky: #646F83;

// used in cashier
$alice-blue: #F5FBFF;

// used in cashier
$lynch: #66769E;

// used in states cashier and quick links widget
$lucky-point: #1D1F67;

// used in blue palette
$scarpa-Flow: #585562;

// used in purple palette
$off-white: #fcfafa;

// used in various background locations
$double-spanish-white: #EADBBF;

// used in tables
$ui-table-even: $cream;
$ui-table-header: $cream;

// used in navigation sand type color

// ----------
// PALETTE OF COLOURS
// ----------
// Map Object with all the coluours and the variations
$palettes: (black: (), white: (), grey: (base: $grey, light: lighten($grey, 20%), dark: darken($grey, 20%)), orange: (base: $orange, light: lighten($orange, 10%), dark: darken($orange, 10%)), pink: (base: $lipstick, light: lighten($lipstick, 10%), dark: darken($lipstick, 10%)), green: (base: #208d12, light: lighten(#208d12, 10%), dark: darken(#208d12, 10%)), purple: (base: $scarpa-Flow, light: lighten($scarpa-Flow, 10%), dark: darken($scarpa-Flow, 10%)), blue: (base: $lucky-point, light: lighten($lucky-point, 10%), dark: darken($lucky-point, 10%)));

// semantic names

$bgcolor: $linen;

$ctacolor: $brand-color;
$title: $scarpa-Flow;
$content-text: darken($grey, 18%);
$pagetitle: darken($grey, 20%);
$account-blue: $alice-blue;
$account-highlited-blue: $lynch;
$navigation-text-color: $double-spanish-white;

//textarea
$body-font-color: $black;
$body-font-color-light: lighten($body-font-color, 10%);

// -------------------
// Font size
// -------------------
$headline: 1.5em;
$subheadline: 1.125em;

/*=============================================
=            fonts            =
=============================================*/

$body-font-light: "kirolight", Helvetica, Arial, sans-serif;
$body-font-regular: "kiroregular", Helvetica, Arial, sans-serif;
$body-font-medium: "kiroregular", Helvetica, Arial, sans-serif;
$body-font-demi: "kiroregular", Helvetica, Arial, sans-serif;
$body-font-bold: "kirobold", Helvetica, Arial, sans-serif;
$body-font-extrabold: "kiroextra_bold", Helvetica, Arial, sans-serif;

$heading-font-bold: "grotabold", Helvetica, Arial, sans-serif;
$heading-font-extrabold: "grotaextrabold", Helvetica, Arial, sans-serif;

$button-font: "kirobold", Helvetica, Arial, sans-serif;

/*=============================================
=  default site margin / gutter / padding / spacing           =
=============================================*/
$site-margin: rem-calc(14px);

// ----------
// BASE COLOURS
// ----------
$white: #FFF;

//used for white
$black: #000;

//used for black
$lipstick: #e90088;

//used as main brand pink color
$fesheggplant: #A3015D;

// main brand color - pinky red color
$linen: #e8e6e3;

//used for various, text etc
$orange: #cf6e0e;

//used in cashier and my account convert points
$pale-sky: #646F83;

// used in cashier
$alice-blue: #F5FBFF;

// used in cashier
$lynch: #66769E;

// used in states cashier and quick links widget
$lucky-point: #1D1F67;

// used in blue palette
$scarpa-Flow: #585562;

// used in purple palette
$off-white: #fcfafa;

// used in various background locations
$double-spanish-white: #EADBBF;

// used in navigation sand type color

//utils
$pictonblue: #51C6EE;

//used to underline the current nav element



/*=============================================
=  permanent variable to ensure Category carousel           =
=============================================*/
$category-carousel-h1:$heading-font-extrabold;
$category-carousel-title-link:$body-font-regular;

$category-carousel-font-family:$body-font-regular;
$category-carousel-font-family-bold:$body-font-bold;

$category-carousel-background:transparent;

// title and its background
$category-carousel-main-highlight-color: $flame-pea;
$category-carousel-main-highlight-background-color: transparent;

// view all link (right)
$category-carousel-view-all-link:$title;

$nav-main-color:#000;

//used on promo modal
$radical-red:#FD276F;
/*=============================================
=  Claim prize promotion tabs                 =
=============================================*/
$claimed-prize-amount-highligted: $radical-red;
$claimed-prize-headers-background: $nav-active-color;
$claimed-prize-headers-color: $white;
$claimed-prize-button-start-color: $nav-active-color;
$claimed-prize-button-end-color: $nav-active-color;
$font-color: $white;
$claimed-prize-close-reveal: #AAAAAA;
$claim-prize-confirmation-background: $lighter-bg;

//3 STEP REGISTRATION HEADER
$theme--color--primarypurple: $black;

//3 STEP REGISTRATION GLOBAL VARIABLES 

//fonts
$registration-3step-font-light: $body-font-regular;
$registration-3step-font-regular: $body-font-regular;
$registration-3step-font-bold: Helvetica, Arial, sans-serif;

// background
$registration-3step-bg--base: $white; 
$registration-3step-bg--main: $black;

// banner#1C0344
$registration-3step-banner-bg: $black;

// 3 step steps
$registration-3step-title: $white;
$registration-3step-title--border: #489894;
$registration-3step-border--bottom: #C4C2BD;

// title (Mr Mrs Miss Ms)
$registration-3step-button--bg: $white;
$registration-3step-button-color--selected: $white;
$registration-3step-button-color: $white;

// input
$registration-3step-input--label: $black;
$registration-3step-input--border: $white;
$registration-3step-input--content: $black;

//select
$registration-3step-select-text: $white;

//date
$registration-3step-date-border: $silver;
$registration-3step-date-text: $silver;

//find address CTA
$registration-3step-address-bg: #489894;
$registration-3step-address-text: $white;

// validations and requirements
$registration-3step-requirements: #626262;
$registration-3step-input--success: $lima;
$registration-3step-input--error: $carnation;

//CTAS
$registration-3step-cta: $black;
$registration-3step-cta--text: $white;
$registration-3step-cta--dropshadow: $black;
$registration-3step-tick-border: $black;
$registration-3step-tick-text: $black;

// terms & conditions
$registration-3step-terms: $black;


/*=============================================
COOKIE POLICY VARIABLES
=============================================*/

$cookie-block-bg: $white;
$cookie-message-color: $black;
$cookie-link-color: $black;
$cookie-cta-bg: $jungle-green;
$cookie-cta-color: $white;
$cookie-cta-hover: $blue-chill;
$cashier-welcome-font: "grotaextrabold", Helvetica, Arial, sans-serif;
$cashier-welcome-size: 22px;
$cashier-widget-header: #d75137;

/*=============================================
PRIZE WHEEL
=============================================*/
$prize-wheel-icon: url("../_images/prize-wheel/sw.svg");
$prize-wheel-font: Helvetica, Arial, Verdana, sans-serif;