.forgot--password {
	
		.middle-content__box {
	    	padding: 150px 20px;

	    	@media #{$small-only} {
	    		padding: 130px 20px;
	    	}
		}

		.forgot--password_title {
		font-family: $font-header2;
	    font-size: 1.375rem;
	    text-transform: uppercase;
	    text-align: center;
	    margin-bottom: 0.75rem;
	}

		.forgotpass__wrapper{
		font-size:1rem;
		@media #{$medium-up} {
		@include grid-column(12, $collapse:true,  $center:true);
		margin-left:auto;
		margin-right:auto;
		}
		p{
			font-family: $font-copy;
			font-size: (16px);
		}
	}

	.forgotpass__input{
		@media #{$medium-up} {
		@include grid-column(6, $collapse:true,  $center:true);
		margin-left:auto;
		margin-right:auto;
		}
	}

	input[type="button"] {
		border-radius: 50px;
		color: $black;
		font-family: $font-button;
		letter-spacing: 0.6px;
	}

}

#forgot-password {
	.bottom-content {
		display: none;
	}
}


