.forgotpass__wrapper{
	font-size:1rem;
	@media #{$medium-up} {
	@include grid-column(12, $collapse:true,  $center:true);
	margin-left:auto;
	margin-right:auto;
	}
	p{
		font-size: 0.9em;
	}
}

.forgotpass__input{
	@media #{$medium-up} {
	@include grid-column(6, $collapse:true,  $center:true);
	margin-left:auto;
	margin-right:auto;
	}
}
