.games-filter-menu {
    position: absolute;
    color: #23195D;
    font-family: $body-font-demi;

    .game-filter-btn__wrapper {
        text-align: center;
        color: $white;
        font-family: $heading-font-bold;

        @media #{$large-up} {
            margin-top: 5px;
            margin-right: 0px;
        }
        .game-filter-btn {
            color: $white;
            background: darken(#59c4e7, 10%);
            padding: 0.2em;
            padding-left: 0.4em;
            padding-right: 0.4em;
            border-radius: 1px;
            &:hover {
                border-bottom: none;
                background: #59C4E7;
            }
        }
    }
    .game-filter-btn {
        color: $white;
    }
    span {
        position: relative;
    }
    .nub {
        height: 9px;
        width: 15px;
        display: block;
        text-align: center;
        position: absolute;
        left: 140px;
        top: -9px;
    }
}

.games-filter-menu__popover-wrap {
    position: relative;
    margin-top: 5px;
    @media #{$large-up} {
        margin-top: 16px;
        margin-left: 7px;
    }
}

.games-filter-menu__popover {
    position: absolute;
    display: none;
    z-index: 999;
    height: auto;
    width: 340px;
    background-color: $global-bg-color;
    top: -8px;
    left: -3px;
    @include opacity(0.98);
    // border: 1px solid #7d0353;
    border-top: none;
    text-transform: uppercase;

    .tabs {
        @include grid-column(12, $collapse: true);
        dd a {
            padding-left: 0;
            text-shadow: none;
        }
    }
    > dl > dd a, .tabs .tab-title a {
        background-color: $global-link-color;
        color: $white;
        @include background-image(linear-gradient(to top, $global-link-color 0%, darken($global-link-color, 9%) 100%));
        border-left: 1px solid darken($global-link-color, 90%);
        &:hover {
            background-color: transparent;
            color: $global-bg-color;
        }
    }
    > dl > dd.active a, .tabs .tab-title.active a {
        background-image: none;
        background-color: $global-bg-color;
        color: $white !important;
        border-left: none;
        &:hover {
            text-decoration: none;
        }
    }
    > dl > dd {
        @include grid-column(3, $collapse: true);
        text-align: center;
        height: 44px;
        color: $navigation-text-color;
        &:active {
            padding-bottom: 4px;
            a {
                font-family: $ui-font-bold;
                font-size: 0.8em;
            }
        }
        a {
            font-family: $ui-font-bold;
            padding: 1px;
            height: 44px;
            @include vert-align(44px);
            font-size: 0.7em;
            &:hover {}
        }
    }
    .tabs-content {
        @include grid-column(12, $collapse: true);
        margin-bottom: 0px;
        color: $navigation-text-color;
        padding-left: 0.6em;
        margin-top: $site-margin;
        .content {
            padding-bottom: 0.4em;
        }
        .content ul {
            padding: 0;
            margin: 0;
            height: auto;
            @include clearfix;
            li {
                font-family: helvetica,arial,sans-serif;
                font-size: 0.6em;
                font-weight: bold;
                padding-right: 1em !important;
                height: 44px;
                @include grid-column(4, $collapse: true);
                margin-bottom: 1em;
                a {
                    display: block;
                    text-transform: uppercase;
                    text-shadow: none;
                    // border: 1px solid $navigation-text-color;
                    border-radius: 3px;
                    @include background-image(linear-gradient(to top, $global-link-color 0%, #c2f9fd 100%));
                    color: #011558;
                    height: 44px !important;
                    line-height: 13px;
                    font-size: 1.1em;
                    text-align: center;
                    padding-top: 8px;
                    padding-left: 8px;
                    padding-right: 8px;
                }
                a:hover, a:focus {
                    @include background-image(linear-gradient(to top, lighten($global-link-color, 10%) 0%,lighten(#c2f9fd,7%) 100%));
                    padding-top: 8px;
                }
            }
        }
        .content-active {
            padding-bottom: 0px;
        }
    }
}

//Themes
#ui-magic-myth,
#ui-food-and-fruit {

    padding-top: 14px;
        @media #{$small-only} {
        padding-top: 14px;
    }
}

#ui-magic-myth,
#ui-animals-nature,
#ui-food-and-fruit {
    @media #{$medium-only} {
        padding-top: 14px;
    }
}

#ui-egyptian,
#ui-exclusive,
#ui-new,
#ui-featured {
    @media #{$small-only} {
        padding-top: 5px;
    }
}

//Publisher
#ui-novomatic,
#ui-eyecon,
#ui-igt,
#ui-netent,
#ui-microgaming,
#ui-play-and-go {
    padding-top: 14px !important;
    @media #{$small-only} {
        padding-top: 14px;
    }
}

#ui-daub,
#ui-scientific,
#ui-realistic {
    @media #{$small-only} {
        padding-top: 5px;
    }
}