.games-list {
    font-size: 1rem;
    padding: 14px 7px 7px 7px !important;
    margin-bottom: 24px !important;

    .section__header {
        margin-left: 7px;
        margin-right: 7px;
    }

    .section__title {
        margin-bottom: 7px !important;
    }

    margin-bottom: 7px;
    padding-bottom: 0px !important;
    @extend .section;

    .games-list__filter {
        float: left;

        @media #{$small-only} {
            @include grid-column(8); // padding: 0px;
        }

        @media #{$medium-up} {
            @include grid-column(4);
            padding: 0px;
        }

        .games-list__filter__button {
            @include button($button-med, $primary-color, false, true, false, false);
            @include dropdown-button;
            @extend .expand !optional;
        }

        .button {
            font-size: 0.8em;
        }
    }

    .games-list__search {
        float: left;

        @media #{$small-only} {
            display: none;
        }

        @media #{$medium-up} {
            @include grid-column(6);
        }
    }

    .games-list__search-wrapper {
        float: left;
        @include grid-column(12);
    }

    .games-list__search-wrapper__left {
        float: left;
        @include grid-column(8);
    }

    .games-list__search-wrapper__right {
        float: left;
        @include grid-column(4);
        >span {
            // @extend .postfix;
            @include button($button-med, $grey, $global-radius, false, false, false);
            @extend .secondary !optional;
        }
    }

    .games-list__display-mode {
        float: left;
        @media #{$small-only} {
            padding-right: 0px;
            @include grid-column(4);
        }
        @media #{$medium-up} {
            @include grid-column(2);
        }
        >div {
            float: left;
            @include grid-column(6);
            padding: 0px;
            >a {
                @include button($button-med, $primary-color, false, true, false, false);
            }
        }
    }

    .games-list__grid {
        @include grid-column(12, $collapse: true);
        padding: 1px !important;
        margin-bottom: $site-margin;
    }

    .games-list__grid__child {
        padding: 7px !important;
        @media #{$small-only} {
            @include grid-column(6, $collapse: true);
        }
        @media #{$medium-only} {
            @include grid-column(3, $collapse: true);
        }
        @media #{$large-up} {
            @include grid-column(3, $collapse: true);
        }
    }

    .games-list__popular-games {
        .slick-slide {
            padding: 0.5em !important;
        }
    }
}

.home-games {
    padding-bottom: 14px !important;
    margin-bottom: 34px;
}

.section {
    .games-list {
        .section__title {
            width: 100% !important;
        }
    }
    &__action {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-top: 4px;

        &__item {
            float: left;
            margin-right: 0;

            &:last-child {
                margin-right: 0;
            }
        }

        &__viewall {
            display: block;
            font-size: 0.8rem;
            margin: 4px 5px 0 0;
            text-transform: uppercase;

            a:hover {
                text-decoration: underline;
            }
        }

        &__toggle {
            display: block;
            width: 20px;
            height: 20px;
            margin-top: 3px;
            opacity: 0.5;
            cursor: pointer;

            svg {
                fill: $white;
            }

            &.toggle-grid-view {
                width: 16px;
                height: 16px;
            }

            &:hover {
                opacity: 0.8;
            }

            &.active {
                opacity: 1;
                cursor: default;
            }

            @media #{$small-only} {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 641px) {
    .section {
        &__action {
            &__item {
                margin-right: 12px;
            }
        }
    }
}