.game-icon {
    .game-icon__image {
        img {}
    }

    .game-icon__play-bar {
        .game-icon__play-bar__title-wrapper {}

        h1 {
            a {}

            &:hover {}
        }

        .game-icon__play-bar__fav-bar {
            img {}
        }
    }

    .game-icon__favourite {
        .game-icon__favourite__icon {}
    }

    .game-icon__favourite__content {}

    .game-icon__favourite__content__description {
        h1 {}

        > a {}

        @media #{$small-only} {}

        @media #{$medium-up} {}
    }

    .game-icon__favourite__content__img {
        > img {}
    }

    .game-icon__overlay {
        > h1 {}

        a, a:hover {}

        &:hover {}

        .play-icon {
            img {}
        }
    }

    .game-icon__bottom {
        .game-icon__title {
            font-family: $ui-font-semibold;
            color: $brand-color;
        }
    }
}