.top-games-hub {
       @media #{$medium-only} {
        background-color: transparent;
        padding: 0;
        margin: 0;
       }
              @media #{$small-only} {
        background-color: transparent;
        padding: 0;
        margin: 0;
       }
  .hub-grid__col {
  
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0px;
            display: none;
        }
        @media #{$medium-up} {
            @include grid-column(6);
            padding: 0px;
                display: none;
        }
        @media #{$large-up} {
            @include grid-column(4);
            padding: 0px;
            display: block;
        }
    }



      .hub-grid__col-2x {
        @media #{$small-only} {
            padding: 0px;
            display: block !important;
            width: 100% !important;
        }
        @media #{$medium-up} {
 
            padding: 0px;
              display: block !important;
                 width: 50% !important;
        }
        @media #{$large-up} {

            padding: 0px;
            display: block !important;
            width: 33.33% !important
        }
    }
}