.alertbox {
    min-width: 436px;
    min-height: 115px;
    max-width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    @include box-shadow(0 3px 0 rgba(0, 0, 0, 0.35));
    background-color: #ffffff;
    color: #011558;
    @include border-radius(3px);
    z-index: 9999999999;
    text-align: center;

     @media #{$small-only} {
           min-width: 90%;
        }

    a {
    color:#582B80;

     &:hover {
        color: #00DCF3;
     }
    }
    
    /*
    a:hover{
        color: #00DCF3;
        border: 2px solid  #00DCF3;
    }*/
    

    h3 {
        font-weight: bold;
        text-transform: uppercase;
        color: #011558;
        @media #{$small-only} {
           font-size: 1em;
        }  
    }

    p {
        color: #011558;
        @media #{$small-only} {
        font-size: 0.9em;
        }  
    }

    .ok-cta {
        margin-bottom: 1em;
        color: #011558;
        text-align: center;
        border: 2px solid  #011558;
        border-radius: 3px;
        text-transform: uppercase;
        padding: 0.8em 1.93em; 
    }

    .cancel-cta {
        margin-bottom: 1em;
        margin-top: 1em;
        color: #011558;
        border: 2px solid  #011558;
        border-radius: 3px;
        text-transform: uppercase;
        padding: 0.8em; 
        margin-right: 20px;
    }
    .alertbox__cta {
        margin-top: 2em;
        margin-bottom: 1em;
    }
}

.alert-background {
    height: 100%;
    overflow: auto;
    overflow-y: scroll;
    background-color: transparentize(black, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999999;
}