.account-menu-mobile__reveal-modal-bg {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(25, 25, 76, 0.75);

    &.active {
        display: block;
    }
}

.balance-display-mobile__reveal-modal-bg {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(25, 25, 76, 0.75);

    &.active {
        display: block;
    }
}

.alertbox {
    min-width: 436px;
    min-height: 115px;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    @include box-shadow(0 3px 0 rgba(0, 0, 0, 0.35));
    background-color: $luckyvip--midnight;
    color: $white;
    z-index: 9999999999;
    text-align: center;

     @media #{$small-only} {
           min-width: 90%;
        }

    a {
        color:#4CAEF8;

        &:hover {
            color:#fff;
            text-decoration:underline;
        }
    }

        /*
    a:hover{
        color: $luckyvip--darknavy;
        background:$luckyvip--mercury;
        border: 2px solid  $luckyvip--mercury;
    }*/
    

    h3 {
        font-weight: bold;
        text-transform: uppercase;
        color: $white;
        @media #{$small-only} {
           font-size: 1em;
        }  
    }

    p {
        color: $white;
        @media #{$small-only} {
        font-size: 0.9em;
        }  
    }

    .ok-cta {
        margin-bottom: 1em;
        color: $white;
        text-align: center;
        border: 1px solid  $white;
        border-radius: 0px;
        text-transform: uppercase;
        padding: 0.8em 1.93em; 
    }

    .cancel-cta {
        margin-bottom: 1em;
        margin-top: 1em;
        color: $white;
        border: 2px solid  $white;
        border-radius: 3px;
        text-transform: uppercase;
        padding: 0.8em; 
        margin-right: 20px;
    }
    .alertbox__cta {
        margin-top: 2em;
        margin-bottom: 1em;
    }
}

.alert-background {
    height: 100%;
    overflow: auto;
    overflow-y: scroll;
    background-color: transparentize(black, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999999;
}
