.cookie-policy {
    .container {
        width: 60rem;
        margin: 0 auto;
        position: relative;

        .cookie-policy__button {
            margin-top: 8px;
        }
    }
}

.responsible-gaming-modal {
	.responsible-gaming-popup {
		background-color: #00193a !important;

		.title {

			h1 {
				color:#fff !important;
			}
		}

		.copy {

			p {
				color:#fff !important;
			}
		}

		.terms {
			p {
				color: #fff !important;

				a {
					color: #fff !important;
				}
			}
		}
	}
}

