main {
    @include grid-column(12);

    padding: 0;

    /*background-image: linear-gradient(0deg, $portage 0%, #482C9D 100%);*/
    background: $violet;

    .section {
        @media #{$small-only} {
            margin: 0;
            padding: 0;
        }
    }
}

.container {
    max-width: 1440px;
}

.homepage__hero--terms {
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 98%;
    margin: 5px 1% 15px 1%;
    padding: 3px;
    z-index: 10000000;
    float: left;

    @media #{$large-up} {
        width: 80%;
        margin: -17px 0px 0 10%;
    }

    @media #{$medium-only} {
        margin: -16px 0% 15px 1%;
    }


    a {
        color: $white;
        &:hover {
            color: $white;
        text-decoration: underline;
        }
    }
}

.homepage__hero--terms,
.slider-text-link-copyright {
    font-size: rem-calc(10px);
    color: $white;
    line-height: 1em;

    position: relative;
    z-index: 1;

    @media #{$large-up} {
        font-size: rem-calc(11px);
    }
}

.slider-text-link-copyright {
    padding: 0;
    margin: 0;
}


//Terms and Conditions link
.tcs {
    @include grid-column(12);

    font-size: 0.690em;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    bottom: 25px;
    left: 0;
    z-index: 2;

    font-size: 0.690em;
    bottom: 6%;

    @media #{$small-only} {
        bottom: 11%;
    }

    &:hover {
        color: rgba(255, 255, 255, 1);
    }
}




.offer {
    margin-top: -100px;
    @media #{$small-only} {
        margin-bottom: 20px;
    }

    &__image {
        display: block;
        width: 100%;
        @media #{$small-only} {
            display: none;
        }
        img {
            display: block;
            width: 100%;
            height: auto;
        }
        &--mobile {
            display: none;
            @media #{$small-only} {
                display: block;
            }
        }
    }
}




.categories-slots-wrap {
    @include grid-column(12);

    @include show-for-medium-up;

    padding: 0;
    margin-bottom: $site-margin * 4;

    li {
        @include grid-column(4);

        width: 20%;
        margin: 0;
        padding: 0;

        a img {
            opacity: 1;
            width: 100%;
            float: left;

            &:hover {
                opacity: 0.85;
            }
        }
    }
}


/* FEATURE SLOTS SECTION */

.feature-slots {
    // @include grid-box-1440;
    margin: 0 auto;
    padding: ($site-margin * 3) ($site-margin * 2);

    @media #{$small-only} {
        padding: 0;
    }

    ul {
        @include grid-column(12);

        padding: 0;
        margin: 0;
    }

    li {
        @include grid-column(12);

        padding: ($site-margin * 2) $site-margin;
        padding-bottom: 0;

        @media #{$medium-up} {
            @include grid-column(4);

            padding: 30px 10px;
        }

        @media (min-width: 453px) and (max-width: 740px) {
            @include grid-column(12);
        }

        @media #{$large-up} {
            padding: 40px 20px;
        }

        nav {
            @include grid-column(12);

            padding: 0;
            margin-bottom: 10px;
            position: relative;
        }

        &.vegas-favourites h3 {
            background: url("../_images/common/icons/slots-we-love.svg") no-repeat left center;
            background-size: 20px;
        }

        &.new-on-the-strip h3 {
            background: url("../_images/common/icons/hot-icon.png") no-repeat left center;
            background-size: 15px;
        }

        &.rocking-slots h3 {
            background: url("../_images/common/icons/guitar-icon.png") no-repeat left center;
            background-size: 15px;
        }

        h3 {
            @include grid-column(12);

            font-size: 1rem;
            text-transform: none;
            color: $white;
            padding-left: 25px;
            font-weight: 500;

            @media #{$medium-only} {
                font-size: 0.70rem;
            }

            @media #{$small-only} {
                font-size: 0.75rem;
            }
        }
    }

    a.view-all {
        font-size: 1rem;
        font-weight: 500;
        color: $global-link-color;
        text-decoration: none;
        line-height: 1.6;
        background: url("../_images/common/icons/link-arrow.svg") no-repeat right -9px center;
        padding-right: 20px;
        background-size: 32px 30px;
        position: absolute;
        right: 0;

        @media #{$medium-only} {
            font-size: 0.70rem;
        }

        @media #{$small-only} {
            font-size: 0.75rem;
        }
    }
}


/*category carousel*/

.slots-carousel {
    margin: 0;
    padding: 0;
    float: left;
}

.slots-carousel li {
    @include grid-column(12);

    margin: 0;
    padding: 0;

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .game-overlay {
        opacity: 0;
        transition: all 0.4s ease-in-out;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        @media #{$small-only} {
            display: none;
        }

        @media #{$medium-only} {
            display: none;
        }

        &:hover {
            opacity: 1;
        }

        .game-overlay__inner {
            //@include center-child;
            text-align: center;
            margin-top: 30%;

            a {
                margin: 0;

                &.more-info {
                    margin-top: 10px;
                    float: left;
                    color: $gold;
                    text-align: center;
                    width: 100%;
                    z-index: 5;
                }

                &.play-now {
                    border-radius: 20px;
                    text-align: center;
                    line-height: 2.3;
                    color: $violet;
                    font-size: 16px;
                    font-weight: 800;
                    background-image: linear-gradient(-180deg, $gold 0%, $gold 100%);
                    text-transform: uppercase;
                    text-shadow: none;
                    text-decoration: none;
                    padding: 10px 15px;

                    &:hover {
                        box-shadow: none;
                        background-image: linear-gradient(-180deg, $white 0%, $white 92%);
                    }
                }
            }
        }
    }

    .game-overlay-small-up a {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        @media #{$large-up} {
            display: none;
        }
    }
}

.slots-carousel .owl-pagination {
    position: relative;
    width: 100%;
    bottom: 0px;
}

.slots-carousel .owl-buttons {
    position: absolute;
    width: 100%;
    top: 36%;

    @media #{$medium-only} {
        top: 30%;
    }
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}



.owl-theme .owl-controls .owl-buttons div {
    font-family: $body-font-regular;
    font-size: 18px !important;
    color: $white;
    line-height: 1.3;
    opacity: 1 !important;
    border-radius: 20px;
    height: 30px;
    width: 30px;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.3) url("../_images/common/icons/prev-next-arrow.svg") no-repeat center center;
    transform: rotate(180deg);
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.3) url("../_images/common/icons/prev-next-arrow.svg") no-repeat center center;
}

.slots-carousel.owl-theme .owl-controls .owl-page span {
    background: $white !important;
    opacity: 1 !important;
    width: 8px;
    height: 8px;
}

.slots-carousel.owl-theme .owl-controls .owl-page.active span {
    background: $aqua !important;
    opacity: 1 !important;
}

.background-video {
    background-position: top center;
    min-height: 450px;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    overflow: hidden;
    right: 0;
    top: 0;
}


/* SEO SECTION */

.seo {
    margin: 0 3%;
}

.seo h1 {
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: rem-calc(25);
    line-height: 1.3;
    text-align: left;
    text-transform: none;
}

/*
.seo p {
    color: $white;
    font-size: rem-calc(14);
    font-weight: 400;
    line-height: 1.6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    margin: 1em 0;
    text-align: left;
}*/


.seo-content .seo-copy {
    color: $white;
    font-size: rem-calc(14);
    font-weight: 400;
    line-height: 1.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    text-align: left;
    margin-bottom: 1.25rem;
}

/*
Commented styles used to make the readmore functionality before 
Moved to a partial as a preemptive move for reusability-> widgets/_read-more.scss
- CT20181012

.seo p.open {
    white-space: normal;
    overflow: visible;
}

.seo-content .seo-copy.open {
    white-space: normal;
    overflow: visible;
}
.seo p:after {
    content: 'Read more';
    cursor: pointer;
    position: relative;
    font-size: 0.8333rem;
    float: left;
    color: $global-link-color;
    width: 100%;
    line-height: 3;
}

.seo-content .seo-copy:after {
    content: 'Read more';
    cursor: pointer;
    position: relative;
    font-size: 0.8333rem;
    float: left;
    color: $global-link-color;
    width: 100%;
    line-height: 3;
}
.seo p.open:after {
    content: 'Close';
}
.seo-content .seo-copy.open:after {
    content: 'Close';
}
*/


// Glow Animation on the Mobile Join Now CTA
@keyframes glow {
    from {
        box-shadow: 0px 0px 10px 0px #1ae4ff;
    }

    50% {
        box-shadow: 0px 0px 0px 0px #00a6bb;
    }

    to {
        box-shadow: 0px 0px 10px 0px #1ae4ff;
    }
}


//Animate (video slider text)
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

//NO DEPOSIT FadeInDown
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

//20 FREE SPINS FadeInUp
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}