.home-mobile {
    //@include hide-for-large-up;
    .banner {}
    .home-mobile-carousels {
        &.logged-in {
            // padding-bottom: 50px;
        }
    }
    .footer-bar-mobile {
        @media #{$medium-only} {}
        .cta-join {}
        .cta-cashier {}
        &.on-scroll {}
    }
    .lobby-wrap__content-box__content {}
}

.holder-mobile {
    background: #fcfafa !important;
    .title-mobile {
        .title-link {
            color: #fcfafa !important;
        }
    }
    .content-holder-mobile {
        ul {
            li {}
            &.bxslider-promo-carousel-s li {}
        }
    }
}
