.header {
    @include grid-row;
    font-size: 1rem;
    @extend .hide-for-medium-down;
    height: initial;
    .header__left {
        @include grid-column($collapse: true, $columns: 2);
        @include vert-align(60px);
        // h1 {
        //      .cookie-policy-active &  {
        //           margin-top: calc( 64px - 99px - 26px);
        //      }
        // }
    }
    .header__middle {
        @include grid-column($collapse: true, $columns: 6);
        height: 100%;
        padding-top: 9px;
        text-align: center;
    }
    .header__right {
        @include grid-column($collapse: true, $float: right, $columns: 4);
        text-align: right;
        height: 100%;
    }
}

.header--logged-in {

    height: 60px;
    .header_middle {
        padding-top: 10px;
        img {
            width: 50%;
        }
    }
}

//Remove default styling (Logo)
.seo-logo {
    margin: 0;
    padding: 0;
}
//Support icon positioning 
.support-icon {
    float: left;
    width: 30px;
}