.site-logo {
     max-width: 180px;
     @media #{$small-only} {
          background-repeat: no-repeat;
          background-size: 80%;
          position: absolute;
          left: 32%;
          top: 0;
     }
     @media #{$medium-only} {
          background-repeat: no-repeat;
          position: absolute;
          left: 41%;
          top: 0;
     }
     @media #{$large-up} {
          background: url("../_images/logo/logo-desktop.png") left no-repeat;
          @include grid-column(2);
          text-indent: -11988px;
          background-size: 80px auto;
     }

     .cookie-policy-active & {
          @media #{$medium-only} {
               top: 130px;
          }

          @media #{$small-only} {
               top: 160px;
          }

          @media screen and (min-width: 360px ) {
               top: 148px;
          }

          @media screen and (min-width: 469px ) {
               top: 130px;
          }
          @media screen and (min-width: 650px ) {
               top: 130px;
          }
     }
}

