body {
    #ajax-wrapper {
        .browser-not-supported {
            font-family: $font-copy-bold;
            padding: 190px 20px !important;

            a {
            	color: $linkgrey;

            	&:hover {
            		color: #D3DBE5
            	}
            }
        }
    }
}