.progressive-jackpots__wrapper {
    width: 100%;
    position: relative;
    img.hub-shape-holder {
        // fix for stopping scale issue by using an html image element
        top: 0px;
        left: 0px;
        position: absolute;
        z-index: -1;
    }
    .progressive-jackpots {
        position: relative;
        .progressive-jackpots__title {
            h1 {
                height: 25px;
                text-align: center;
                background-color: $main-highlight-color;
                background-image: none;
                color: $white;
                font-family: $body-font-bold;
                font-size: 14px;
                margin-top: 0px;
                padding: 3px;
                padding-left: 7px;
                text-transform: uppercase !important;
                margin-bottom: 0px;
            }
        }
        .progressive-jackpots__progressive {
            height: 100%;
            @include clearfix;
            height: auto;
            background-color: #fff;
            @include box-shadow(inset 0 0 0 1px white);
            @include background-image(linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%));
            padding: $site-margin / 2;
            .progressive-jackpots__progressive__icon {
                cursor: pointer;
            }
            .progressive-jackpots__progressive__title {
                text-align: center;
                line-height: 100%;
                height: 20%;
                overflow: hidden;
                > span {
                    //text style
                    font-family: $body-font-bold;
                    height: 100%;
                    font-size: 67%;
                    > a {
                        color: #5b5b5b;
                    }
                }
            }
            .progressive-jackpots__progressive__amount {
                text-align: center;
                height: 18%;
                > span {
                    //text style
                    font-family: $body-font-bold;
                    font-size: 120%;
                    height: 100%;
                    > a {
                        color: $white;
                    }
                }
            }
            .progressive-jackpots__progressive__cta {
                cursor: pointer;
                text-align: center;
                height: 20%;
                > span {
                    height: 100%;
                    font-family: $button-font;
                    font-size: 11px;
                    line-height: 21px;
                    height: 18px;
                    margin-top: 3px;
                    text-transform: uppercase;
                    background-color: $green;
                    padding: 0px;
                    padding-left: 8px;
                    padding-right: 8px;
                    color: $white;
                    text-align: center;
                    border-radius: 3px;
                    > a {
                        color: $white;
                    }
                }
            }
        }
    }
}

//banner in the right sidebar
.two-columns-content-wrap__right {
    .banner {
        margin-bottom: $site-margin;
    }
    article {
        margin-bottom: $site-margin;
    }
}

// adjust widths for sidebar version of widget only use this below for colum widths no other styles
.progressive-jackpots__progressive {
    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
        /* Portrait small phone make 1 per line */
        @media only screen and (min-device-width: 100px) and (max-device-width: 380px) and (orientation: portrait) {
            @include grid-column(12, $collapse: true);
        }
    }
    .progressive-jackpots__progressive__icon {
        @include grid-column(5, $collapse: true);
    }
    .progressive-jackpots__progressive__title {
        @include grid-column(7, $collapse: true);
        span {
            @include grid-column(12, $collapse: true, $center: true);
        }
    }
    .progressive-jackpots__progressive__amount {
        @include grid-column(7, $collapse: true);
        span {
            @include grid-column(12, $collapse: true, $center: true);
        }
    }
    .progressive-jackpots__progressive__cta {
        @include grid-column(7, $collapse: true, $float: right);
        span {
            //button style
            @include grid-column(3, $collapse: true, $center: true);
        }
    }
}