.share-button {
    @extend .show-for-large-up;
    position: absolute;
    top: 0px;
    right: 0px;
    display: none !important;
    z-index: 1;
    font-family:$body-font-regular;
}

.share-button.right.sharer-0{
    @extend .show-for-large-up;

	label {
	    background: transparent !important;
	    padding: 0px !important;
	    line-height: 1.3rem !important;
	}

}