.social-wrap {
    @include grid-row();
    @include be-box($base-blue, dotted, $base-blue, 0);
    height: auto;
    width:auto;
    padding-right: auto;
    margin-bottom:10px; 
    .social-feed__fb {
        @include grid-column(6, $collapse: true);
                > h2 {
	 	@include grid-column(12, $collapse: true);
	 	padding-left:15px;
	 	padding-top:5px;
	 }

        .social-feed__fb__avatar {
            @include grid-column(3, $collapse: true, $float: left);
            padding: 0 10px 10px 10px;
        }
        .social-feed__fb__content {
            @include grid-column(9, $collapse: true);
        }

   }
    .social-feed__tw {
        @include grid-column(6, $collapse: true);

                > h2 {
	 	@include grid-column(12, $collapse: true);
	 	padding-left:15px;
	 	padding-top:5px;
	 }
        .social-feed__tw__avatar {
            @include grid-column(3, $collapse: true, $float: left);
            padding: 0 10px 10px 10px;
        }
        .social-feed__tw__content {
            @include grid-column(9, $collapse: true);
        }

    }
}