@media #{$large-up} {
    .main-content {
        &.registration {
            padding-top: 0;
        }
    }
}
.header--register3step {
    .nav-for-mobile {
        display: none !important;
    }
    .footer {
        display: none;
    }
}
.registration-3step {
    @include grid-column(12);
    padding: 0;
    z-index: 999999;
    top: 0;
    height: 100%;
    background: $registration-3step-bg--base;
    overflow: hidden;

    .banner {
        a.edit-point {
            margin: 35px 15px !important;
        }
    }
}

.header-register {
        @include grid-column(12);
        background: $royal-purple;
        padding: 0;
        top: 0;
        min-height: 0;
        height: 70px;
        text-align: center;
        display: block !important;
        z-index: 2;
        position: fixed;

        .wrapper {

            @media #{$large-up} {
                position: relative;
                width: 33.5rem;
                margin: 0 auto;
            }

            @media #{$medium-only} {
                position: relative;
                width: 33.5rem;
                margin: 0 auto;
            }

            h1 {
                display: inline-block;
                color: $white;
                line-height: 2.8;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: normal;
                padding-top: 10px;

                @media #{$large-up} {
                    font-size: 22px;
                    padding-top: 5px;
                }
            }
            .register-logo {
                background: url("/_images/logo/logo_onesizefitsall.svg") no-repeat center center;
                background-size: 100%;
                position: absolute;
                left: 5px;
                top: 8px;
                width: 100px;
                height: 55px;
                cursor: pointer;

                @media #{$large-up} {
                    width: 120px;
                    height: 50px;
                    top: 10px;
                }
            }

            .register-login-cta {
                display: inline-block;
                position: absolute;
                border: 1px solid $gold;
                color: $gold;
                //width: 70px;
                height: 35px;
                top: 18px;
                right: 10px;
                border-radius: 50px;
                font-family: "kirobold", Helvetica, Arial, sans-serif;
                font-size: 16px;
                padding: 5px 20px;

                &:hover {
                    background: $supernova;
                    color: $royal-purple;
                }
            }
        }
    }

.registration-3step .content .banner {
    @media #{$medium-only} {
        padding-top: 0 !important;
    }
}

.registration-3step .content .banner img {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: -5px !important;
}

#join-now {

    .banner {
        a.edit-point {
            @media #{$small-only} {
                margin: 0 !important;
            }

            
            
        }
    }


    .registration-3step .content .banner img {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-top: -5px !important;
    }
}
