.site-logo {
    float: left;
    width: 100%;
    @media #{$small-only} {
        background-repeat: no-repeat;
        background-size: 89%;
        background-position-y: middle;
        width: 170px;
    }
    @media #{$medium-only} {
        background-repeat: no-repeat;
        background-position-y: 2px;
        background-size: 89%;
        width: 300px;
    }
    @media #{$large-up} {
        background: url("../_images/common/magical-vegas-logo.png") left no-repeat;
        @include grid-column(2);
        text-indent: -11988px;
        background-size: 95px auto;
    }

    @media only screen 
      and (min-device-width: 740px) 
      and (max-device-width: 1024px) 
      and (-webkit-min-device-pixel-ratio: 1) {
      float:none;
      display:inline-block;
    }

     @media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2) {
      float:none;
      display:inline-block;
    }
}