.search-screen {
        // font-family: $ui-font-semibold;
    // skin css
    background: $white;
    padding: 3px;
    z-index: 100;

    .search-inner__last-played {
        // font-family: $ui-font-semibold !important;
        text-align: center;
        display: block;
        height: 20px;
        border-top: 1px solid #424242;
        padding: 5px;
        padding-top: 18px;
        text-transform: uppercase;
        margin-top: 20px;
    }


 ::-webkit-input-placeholder {
     /* Chrome/Opera/Safari */
     color: $heather;
 }

 ::-moz-placeholder {
     /* Firefox 19+ */
     color: $heather;
 }

 :-ms-input-placeholder {
     /* IE 10+ */
     color: $heather;
 }

 :-moz-placeholder {
     /* Firefox 18- */
     color: $heather;
 }
}

.search-results {
    .search-result {
        border-bottom: 1px solid #CDD9E9;
        .search-result__name__inner {
            color: $white;
            // font-family: $ui-font-semibold;
            font-size: 16px;
            line-height: 16px;
        }
        .search-result__cta {
            &:hover {
                -webkit-filter: invert(100%);
            }
        }
    }
}

.search-input input:focus, .search-input input {
    font-size: 16px !important;
    height: 44px;
}

    .search-screen-mobile__header {
        @include grid-column(12);

        @include transition(all, 0.2s ease-out);

        height:rem-calc(70px) !important;

        padding-left:rem-calc(17px);
        background: $mineshaft url(../_images/common/icons/close-search-aspers.svg);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: right 16px center;
        position: fixed;
        display: block;
        height: auto;
        z-index: 1;
        cursor: pointer;
        -webkit-overflow-scrolling: auto;
        overflow-y: scroll;


        h3 {
            line-height:rem-calc(60px);
            font-size:rem-calc(15px);
            color: $white;
            text-transform: uppercase;
            font-family: $font-header2;
        }
    }
