/* Reality Check Modal */

.reality-check__container {
    background: rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999999999999;
}

.reality-check__container .reality-check__content {
    top: 50%;
    border-radius: 4px;
    position: fixed;
    border: none;
    left: 50%;
    min-width: 750px;
    height: auto;
    margin: 0;
    padding: 3.5rem;
    background: rgba(0, 0, 0, 0.8);
    font-family: sans-serif;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.reality-check__container .reality-check__content h2 {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    width: 100%;
    float: left;
    margin: 0;
    text-align: center;
    font-weight: normal;
    color: #FFF;
    line-height: 1;
    font-size: 30px;
}

.reality-check__container .reality-check__content .reality-check__buttons {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    width: 100%;
    float: left;
    padding: 0;
    margin: 0.875rem 0;
}

.reality-check__container .reality-check__content .reality-check__buttons button {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    width: 33.33333%;
    float: left;
    -webkit-transition: all, ease-out 0.1s;
    transition: all, ease-out 0.1s;
    width: 46%;
    margin: 2%;
    color: #179f2d;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0;
    line-height: 1.2;
    min-height: 75px;
    text-shadow: none;
}

.reality-check__container .reality-check__content .reality-check__buttons button.continue-cta {
    color: #FFF;
    background: none;
    border: 2px solid #FFF;
}

.reality-check__container .reality-check__content .reality-check__buttons button.continue-cta:hover {
    background: none;
    color: #FFF;
    border: 2px solid rgba(255, 255, 255, 0.55);
}

.reality-check__container .reality-check__content .reality-check__buttons button.stop-cta {
    color: #4AFF68;
    background: none;
    border: 2px solid #179f2d;
}

.reality-check__container .reality-check__content .reality-check__buttons button.stop-cta:hover {
    background: #179f2d;
    color: white;
    border: 2px solid #179f2d;
}

.reality-check__container .reality-check__content p {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    width: 100%;
    float: left;
    margin: 0;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    line-height: 1.4;
}

.reality-check__container .reality-check__content a {
    color: #fff;
    text-decoration: underline;
}

.reality-check__container .home-cta {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    width: 100%;
    float: left;
    text-align: center;
    color: #FFF;
    text-decoration: underline;
    background: none;
    cursor: pointer;
    position: relative;
    margin-top: 2.625rem;
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
    .reality-check__container {
        background: rgba(0, 0, 0, 0.8) !important;
    }

    .reality-check__container .reality-check__content {
        background: rgba(0, 0, 0, 0);
        width: 90%;
        min-width: auto;
        padding: 1.75rem;
        max-height: 100%;
        overflow-y: auto;
    }

    .reality-check__container .reality-check__content .reality-check__buttons button {
        margin: 2% 0;
    }

    .reality-check__container .reality-check__content .reality-check__buttons button.continue-cta,
    .reality-check__container .reality-check__content .reality-check__buttons button.stop-cta {
        width: 100%;
    }

    .reality-check__container .reality-check__content h2 {
        margin-top: 1em;
    }

    .reality-check__container .reality-check__content a.home-cta {
        margin-bottom: 1em;
    }
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .reality-check__container .reality-check__content {
        min-width: 650px;
        max-height: 100%;
        overflow-y: auto;
    }

    
}