/***************************
****************************
Promo details progress bar
****************************
***************************/

// .promotion-eng__title__wrapper
// .promotion-eng__freebie
.promotion-eng__freebie__content {
    width: 100%;
    float: left;
    font-size: rem-calc(13px);
    line-height: rem-calc(15px);
}

.promotion-eng__freebie__progress--title {
    width: 60%;
    margin-top: 15px;
    margin-bottom: 25px;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: rem-calc(14px);
}

.promotion-eng__freebie__progress--value {
    width: 40%;
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: bold;
    float: left;
    background: #f0e8f6;
    text-align: center;
    border-radius:10px;
}

.promotion-eng__freebie__progress--wrap {
    width: 100%;
    float: left;
    background: #f0e8f6;
    border-radius:4px;
    line-height: rem-calc(27px);
}

.promotion-eng__freebie__progress--bar {
    background: linear-gradient(0deg, #FF9D22 6%, #FFC13D 100%);
    overflow: hidden;
    white-space: nowrap;
    animation: progress-bar 3s;
    border-radius: 4px;
}

@keyframes progress-bar {
    0% {
        width: 0;
    }
}