.promotions-content {
// =============================================================================
// Promos Slider
// =============================================================================

.promos-slider {
    @include grid-column(12);
    list-style: none;
    margin: 0;
    padding: $site-margin;
    .bx-wrapper {
        @include grid-column(12);
        padding: 0;
        margin-bottom: 0;
//            margin-bottom: $site-margin * 3;
max-width: 100% !important;
@media #{$medium-only} {
    margin-bottom: 0;
}
@media #{$small-only} {
    margin-bottom: 0;
}
.bx-pager {
    bottom: -45px !important;
    display: none;
    @media #{$small-only} {
        bottom: -45px !important;
        display: none;
    }
}
.bx-controls-direction {
    a {
        opacity: 1 !important;
    }
    @media #{$medium-only} {
        opacity: 1;
    }
    @media #{$small-only} {
        opacity: 1;
    }
}
}
// .bx-viewport {
//     height: auto !important;
//     @media #{$small-only} {
//         height: 230px;
//     }
// }
ul {
    margin-left: 0 !important;
}
}
.bx-controls-direction {
    opacity: 1 !important;
    a {
// background: rgba(0, 0, 0, 0.5) !important;
margin-top: 0;
}
.bx-default-pager {
    a {
        background: #999 !important;
    }
}
}
article {
    @include grid-column(12);
    padding: $site-margin;
    border-radius: 4px;
    padding: 0;
    h1 {
        padding: 0;
//width: 100% !important;

}
} 

 
.tab-content{

} 



//grid fix =====
.promotion-eng:nth-of-type(3n+3) {

@media #{$large} {

padding-right:0 !important;
 
}

}

.content-holder__title {
    @include margin--bottom--14;
    @include grid-column(12);
    @extend  %content-holder--section--header;

   h1{@extend  %content-holder--desktop--title--h1; }

    // @media #{$medium-only} {
    //     @include grid-column(12);
    // }

    // @media #{$small-only} {
    //     @include grid-column(12);
       
    // }
}


.promotions {
//single post main content
.promo-content-wrap {
    @include grid-row;
}
.main-content__top__left {
    @media #{$medium-only} {
        @include grid-column(12);
    }
    @media #{$small-only} {
        @include grid-column(12);
    }
}
.main-content__top__right {
    @include show-for-large-up;
    @include grid-column(3);
    background-color: $mine-shaft;
    padding: 0px 10px 10px 10px;
    height: auto;
    h1 {
        font-family: $title1-font;
        font-size: 1.3em;
        margin-top: 0.4em;
    }
}
.promotion {
    @include grid-column(4);
    cursor: pointer;
    padding-right: 10px;
    @media #{$medium-only} {
        @include grid-column(6);
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    @media #{$small-only} {
        @include grid-column(12);
        padding: 10px 10px 0px 10px;
        height: auto;
    }
}
// PROMOTIONS CATEGORY MENU / MOBILE
.mobile-tabs-menu__wrap {
    @include grid-column(12);
    padding: 0;
    margin-bottom: $site-margin * 2;
    @include show-for-small-only;
    background-image: linear-gradient(0deg, #decee2 20%, #fff 160%);
    border-radius: 4px;
    .f-dropdown {
        background: none !important;
        &:before {
            border: none;
        }
    }
    .tabs {
        background: none;
        margin: 0 !important;
    }
}
.mobile-tabs-menu__top {
    @include grid-column(12);
    margin: 0;
    border-radius: 4px;
    color: $nav-main-color;
    background: none !important;
/* top gradient content */
font-family: $body-font-bold;
font-size: 18px;
text-transform: uppercase;
// margin-bottom: $site-margin;
&:after {
    border: none;
    background-image: url(../_images/common/dropdown-arrow-white.svg);
    height: 14px;
    width: 24px;
    position: absolute;
    float: right;
    border: none;
    right: 20px;
    top: 25px;
}
}
.mobile-tabs-menu__dropdown {
    @include grid-column(12);
    @include transition(all, 0.2s ease-out);
    color: $nav-main-color !important;
    background: none !important;
    border-radius: 4px;
    border: none;
    width: 100% !important;
    float: left;
    padding: 0;
    left: 0 !important;
    margin: 0;
    position: relative !important;
    top: -5px !important;
    margin-bottom: 3px;
    margin-top: 0;
    &:after {
        border: none;
    }
    dd {
        border: none;
        a {
            padding: 2px 0px;
            margin-bottom: 3px;
            border-radius: 4px;
            background: #f0e9f5;
            .active & {
                color: $nav-active-color !important;
                background: none !important;
            }
        }
    }
// position: relative !important;

}
.promotional-tcs {
    @include grid-column(12);
    text-align: center;
    color: $global-link-color;
    font-family: $body-font-medium;
    margin: $site-margin 0;
}
}
}
// ******** FEATURED PROMO ONLY ******** //
// .promotion-featured {
//     .promotion__optin {
//         right: 0 !important;
//         top: 0 !important;
//     }
//     .promotion {
//         @include grid-column(12);
//         padding-right: 10px;
//         height: 228px;
//         @media #{$medium-only} {
//             height: auto;
//             padding-top: 10px;
//             padding-left: 10px;
//         }
//         @media #{$small-only} {
//             padding: 10px;
//             height: auto;
//             padding-bottom: 0px;
//         }
//         .promotion__wrapper {
//             @include grid-column(12);
//             @include be-box($white, solid, $border, 10px);
//             padding: 10px 10px 10px 10px;
//             height: auto;
//             min-height: 220px;
//             cursor: pointer;
//             @media #{$small-only} {
//                 @include grid-column(12);
//                 padding: 0px;
//                 margin-bottom: 10px;
//                 height: auto;
//             }
//             .promotion__title__wrapper {
//                 float: left;
//                 @media #{$small-only} {
//                     // width: 100%;
//                 }
//             }
//             .promotion__title {
//                 @media #{$small-only} {
//                     // position: relative;
//                 }
//             }
//             .promotion__content {
//                 @include grid-column(6);
//                 padding-top: 40px;
//                 padding-left: 10px;
//                 max-height: 220px;
//                 overflow: hidden;
//                 @media #{$medium-only} {
//                     @include grid-column(7);
//                     padding-left: 10px;
//                 }
//                 @media #{$small-only} {
//                     height: 150px;
//                     max-height: 150px;
//                     @include grid-column(12);
//                     padding: 10px;
//                 }
//             }
//             .promotion__image {
//                 width: 35.5%;
//                 // @include grid-column(5, $collapse: true);
//                 margin-top: 0px;
//                 @media #{$medium-only} {
//                     @include grid-column(4);
//                 }
//                 @media #{$small-only} {
//                     @include grid-column(12);
//                     padding: 10px;
//                 }
//             }
//             .promotion__more-info {
//                 width: 50%;
//                 right: 0px;
//                 font-size: 1em;
//                 padding-right: 20px;
//                 bottom: 10px;
//                 @media #{$small-only} {
//                     bottom: 5px;
//                     font-size: 0.9em;
//                     height: 5%;
//                     width: 100%;
//                 }
//             }
//         }
//         h1 {
//             font-size: 1.2em;
//             @media #{$small-only} {
//                 font-size: 1em;
//             }
//         }
//         p {
//             font-size: 1em;
//             @media #{$small-only} {
//                 font-size: 0.9em;
//             }
//         }
//         .promotion__title__wrapper {
//             @include grid-column(6);
//             float: right;
//             padding-left: 10px;
//             @media #{$small-only} {
//                 padding-left: 0px;
//             }
//         }
//     }
//     .promotion__optin {
//         right: 0px !important;
//         top: 0;
//         width: 40px;
//     }
// }
// ******** // FEATURED PROMO ONLY******** //