  <!-- BODY -->
  <table bgcolor="#e2d6ea" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #e2d6ea; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
          <tr>
            <td>
              <a href="http://www.luckypantsbingo.com"><img src="http://mailers.communicatormail.com/luckypants/images/responsive/birthday-LP.jpg" style="max-width: 100%;" border="0"/></a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding: 15px; font-size:14px; line-height:1.6;">

<strong>Happy Birthday %%Firstname%%!</strong><br />
Username: %%Alias%%<br/>
<a href="https://www.luckypantsbingo.com/forgot-password" style="color: #6c3485; font-size:13px;">Forgotten Password</a>

<p align="left" style="margin-bottom:1.5em !important;">At Lucky Pants Bingo we love celebrating birthdays. And a little bird told us it&rsquo;s yours today!</p>

<p align="left" style="margin-bottom:1.5em !important;">We understand a birthday without a gift isn&acute;t a birthday so we have the great pleasure of offering you a <strong>GBP10 bonus gift*</strong> which is waiting for you in your account. </p>

<p align="left" style="margin-bottom:1.5em !important;">Be sure to <a style="font-weight: bold; font-size: 12px; font-family: Arial,Helvetica,sans-serif; color:#6c3485; text-decoration:none;" href="https://www.luckypantsbingo.com/">login</a> to your account today to enjoy this special gift!</p>

<p align="left" style="margin-bottom:1.5em !important;"> The whole Lucky Pants Bingo Team also wishes you many happy returns and lovely moments for the coming year.</p>

<p align="left" style="margin-bottom:1.5em !important;">Now let the party begin!</p>

<p style="font-size:10px;"><a style="font-family: Arial,Helvetica,sans-serif; color:#6c3485; text-decoration:none;" href="https://www.luckypantsbingo.com/promotions/happy-birthday">*Terms &amp; Conditions apply to Birthday Bonus </a></p>


<p align="center" style="margin-top:30px;"><a href="https://www.luckypantsbingo.com/promotions/><img src="http://mailers.communicatormail.com/luckypants/images/templates/button-msg-freebie.png" alt="Claim now!" width="240" height="50" border="0" style="max-width: 100%;" /></a></p>

            </td>
          </tr>