<!-- BODY -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="max-width: 680px;" width="100%">
    <tbody>
        <tr>
            <td>
                <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" style="padding:0px 0px 0px 0px;"><a href="https://www.luckypantsbingo.com/promotions/" id="main_image" name="main_image" target="_blank" xt="SPCLICK"><img alt="main-image" aria-hidden="true" border="0" class="fluid g-img" height="auto" id="image_2" name="image_2" src="http://mailers.communicatormail.com/luckypants/images/your-birthday-gift-mailer.jpg" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" width="680" /></a></td>
                        </tr>
                    </tbody>
                </table>
                <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" style="padding:40px 40px 20px 40px;">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:32px;line-height:38px;color:#600a98; font-weight:bold;">Celebrate you birthday with us, %%Username%%</td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">From everyone at Lucky Pants Bingo, we wish you many happy returns on your special day! To help you celebrate your special day, we&#39;re giving you <strong>&pound;100 worth of slot bonus </strong><strong>...Yippeee!</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table bgcolor="#ececec" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" style="padding:40px 40px 20px 40px;">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:22px;line-height:28px;color:#600a98; font-weight:bold;">HOW TO CLAIM</td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#600a98; font-weight:bold;" valign="top">1.</td>
                                                            <td align="left" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:24px;color:#333333;" valign="top">Log into your account at luckypantsbingo.com</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#600a98; font-weight:bold;" valign="top">2.</td>
                                                            <td align="left" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:24px;color:#333333;" valign="top">Go to the &quot;My Account&quot; section on your start page and select &quot;Claim Code&quot;</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#600a98; font-weight:bold;" valign="top">3.</td>
                                                            <td align="left" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:24px;color:#333333;" valign="top">Enter in your free spins code: <strong>BDAY</strong><strong> </strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#600a98; font-weight:bold;" valign="top">4.</td>
                                                            <td align="left" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:24px;color:#333333;" valign="top">You will be credited right away with &pound;100 bonus to play on any slots</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding:0px 0px 20px 0px;">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin: auto;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" style="padding:0px 0px 0px 0px;" valign="top">
                                                                <table border="0" cellpadding="0" cellspacing="0" class="wrapcta">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="color:#ffffff;border-radius:3px; background:#ff4bbd; text-align: center;font-family:arial, sans-serif;font-size:18px;line-height:21px;padding:10px 20px 10px 20px;font-weight:bold;"><a href="https://www.luckypantsbingo.com/login/" id="secondary_cta" name="secondary_cta" style="color:#ffffff; display: block; text-decoration: none;" target="_blank" xt="SPCLICK">CLAIM NOW</a></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" style="padding:40px 40px 20px 40px;">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="left" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">Wishing you a fantastic birthday and lots of luck on Lucky Pants Bingo!</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" height="100%" style="padding: 30px 0px 10px 0px;" valign="top" width="100%">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="padding:0px 10px 0px 10px;" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" style="font-size:0;" valign="top">
                                                                <div class="wrapto100pc" style="max-width:220px; vertical-align:top; display:inline-block;">
                                                                    <table border="0" cellpadding="0" cellspacing="0" class="wrapto100pc" role="presentation" width="220">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center" style="padding: 0px 10px 20px 10px;"><a href="https://www.luckypantsbingo.com/slots/game/cash-diner/" id="cross_sell_image_1" name="cross_sell_image_1" target="_blank" xt="SPCLICK"><img alt="offer" border="0" class="wrapto100pcmax" id="image_3" name="image_3" src="https://www.luckypantsbingo.com/_global-library/_upload-images/games/list-icons-224/cash-diner-slots-game.jpg" style="display:block;height:auto;" width="200" /></a></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <!--[if (gte mso 9)|(IE)]></td><td align="center" valign="top" style="font-size:0;"><![endif]-->
                                                                <div class="wrapto100pc" style="max-width:440px; vertical-align:top; display:inline-block;">
                                                                    <table border="0" cellpadding="0" cellspacing="0" class="wrapto100pc" role="presentation" width="440">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" style="padding:0px 10px 10px 10px;" valign="top">
                                                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td align="left" style="padding:0px 0px 10px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:22px;line-height:28px;color:#600a98; font-weight:bold;">Order Up: A Tasty Exclusive Game</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="left" style="padding:0px 0px 10px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">Don&rsquo;t fancy cooking tonight? Head to the Cash Diner on your mobile and munch your way to tasty wins on this American diner themed slot. Tuck into your burger and chips while choosing refreshing free spins and multipliers!</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="left" style="padding:10px 0px 10px 0px;">
                                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin: auto;">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td align="center" style="padding:0px 0px 0px 0px;" valign="top">
                                                                                                                    <table border="0" cellpadding="0" cellspacing="0" class="center-on-narrow" role="presentation" style="float:left;">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td class="button-third-td" style="text-align: center;"><a class="button-third-a" href="https://www.luckypantsbingo.com/slots/game/cash-diner/" id="cross_sell_text_1" name="cross_sell_text_1" style="font-family:arial, sans-serif; font-size:18px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius:3px; font-weight: bold;" target="_blank" xt="SPCLICK"><span class="button-link button-third-a" style="color:#ff4bbd;">Play Now</span></a></td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="max-width: 680px; background: #ececec;" width="100%">
    <tr>
        <td style="padding: 20px 20px 20px 20px; text-align: left; font-family:arial, sans-serif; font-size: 12px; line-height: 20px; color: #A3A3A3;">- Claim code will be valid on your birthday only, once claimed bonus will be valid for 24 Hours
            <br /> - Spins will be playable on Exclusive Games only (except progressives)
            <br /> - The maximum amount that can be convertible to real funds is &pound;1000
            <br /> - You must be 18 or over to participate.
            <br /> - For full T&amp;Cs, please <a href="https://www.luckypantsbingo.com/terms-and-conditions/general-promotional-terms-and-conditions/" id="link_1" name="link_1" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK">click here</a>.</td>
    </tr>
</table>