<!-- BODY -->

<table bgcolor="#e2d6ea" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #e2d6ea; margin: 0; padding: 0;">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td style="max-width: 600px; display:block; margin:auto;">
			<table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
				<tbody>
					<tr>
						<td><a href="http://www.luckypantsbingo.com" name="www_luckypantsbingo_com" xt="SPCLICK"><img border="0" height="150" name="Cont_2" src="http://mailers.communicatormail.com/luckypants/images/responsive/birthday-LP.jpg" style="max-width: 100%;" width="600" /></a></td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 15px; padding-right:15px; font-size:14px; line-height:1.6;">
						<p style="font-size: 11px;">Username: %%Username%% | <a href="https://www.luckypantsbingo.com/forgot-password" name="www_luckypantsbingo_com_forgot" style="color: #f6258b; text-decoration: none;" xt="SPCLICK">Forgot password</a>?</p>

						<h3 style="color: rgb(96, 10, 152); line-height: 1.1; font-weight: bold; font-size: 20px; margin: 10px 0px 15px; text-align: center;">Happy Birthday, %%Firstname%%!</h3>

						<p style="text-align: center;"><br />
						From everyone at Lucky Pants Bingo, we wish you many happy returns on your very special day!<br />
						<br />
						Whatever you&#39;re up to, we hope you have a fantastic day. You deserve it!&nbsp;</p>

						<p align="center" style="margin-top:30px;"><a href="http://www.luckypantsbingo.com" name="www_luckypantsbingo_com_promot" xt="SPCLICK"><img alt="Claim now!" border="0" height="50" name="Cont_3" src="http://mailers.communicatormail.com/luckypants/images/templates/button-msg-play.png" style="max-width: 100%;" title="Claim now!" width="240" /></a></p>
						</td>
					</tr>
					