<!-- BODY -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="max-width: 680px;" width="100%">
    <tbody>
        <tr>
            <td>
                <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" style="padding:0px 0px 0px 0px;"><a href="https://www.luckypantsbingo.com/promotions/" id="main_image" name="main_image" target="_blank" xt="SPCLICK"><img alt="Your Cashback is waiting!" aria-hidden="true" border="0" class="fluid g-img" height="auto" id="image_2" name="image_2" src="http://mailers.communicatormail.com/luckypants/images/weekly-cashback-mailer.jpg" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" width="680" /></a></td>
                        </tr>
                    </tbody>
                </table>
                <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" style="padding:40px 40px 20px 40px;">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:32px;line-height:38px;color:#600a98; font-weight:bold;">Unwrap your cashback, %%Username%%!</td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">As a valued VIP of Lucky Pants Bingo, you get access to some exclusive benefits including weekly cashback.
                                                <br />
                                                <br /> We are happy to let you know that this week&#39;s cashback payment of <strong>%%CurrencySymbol%%%%Amount%%</strong> is waiting, ready to be claimed.
                                                <br />
                                                <br /> Simply log in at <a href="https://www.luckypantsbingo.com/" id="link_1" name="link_1" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK"><strong>LuckyPantsBingo.com</strong></a> and hit the <strong>Claim Now</strong> button in <strong>My Account</strong>.</td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding:0px 0px 20px 0px;">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin: auto;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" style="padding:0px 0px 0px 0px;" valign="top">
                                                                <table border="0" cellpadding="0" cellspacing="0" class="wrapcta">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="color:#ffffff;border-radius:3px; background:#ff4bbd; text-align: center;font-family:arial, sans-serif;font-size:18px;line-height:21px;padding:10px 20px 10px 20px;font-weight:bold;"><a href="https://www.luckypantsbingo.com/login/" id="primary_cta" name="primary_cta" style="color:#ffffff; display: block; text-decoration: none;" target="_blank" xt="SPCLICK">Login Now</a></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" style="padding:40px 40px 20px 40px;">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:32px;line-height:38px;color:#600a98; font-weight:bold;">Ready for a new adventure?</td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">Keep an eye out on our latest and greatest games, we&#39;re regularly adding new games for you to explore.</td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding:0px 0px 20px 0px;">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin: auto;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" style="padding:0px 0px 0px 0px;" valign="top">
                                                                <table border="0" cellpadding="0" cellspacing="0" class="wrapcta">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="color:#ff4bbd; border-radius:3px; border: 2px solid #ff4bbd; background:#ffffff; text-align: center;font-family:arial, sans-serif; font-size:18px; line-height:21px; padding:10px 20px 10px 20px; font-weight:bold;"><a href="https://www.luckypantsbingo.com/slots/new/" id="primary_cta1" name="primary_cta1" style="color:#ff4bbd; display: block; text-decoration: none;" target="_blank" xt="SPCLICK">Show Me New Games</a></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="max-width: 680px; background: #ececec;" width="100%">
    <tr>
        <td style="padding: 20px 20px 20px 20px; text-align: left; font-family:arial, sans-serif; font-size: 12px; line-height: 20px; color: #A3A3A3;">- Cashback for Ruby &amp; Emerald VIP players only,
            <br /> - Cashback carries no wager requirements, must be greater than &pound;1 and will be capped at &pound;250 per Ruby player or &pound;1,000 per Emerald player.
            <br /> - To see our T&amp;Cs, please <a href="https://www.luckypantsbingo.com/terms-and-conditions/general-promotional-terms-and-conditions/" id="link_2" name="link_2" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK">click here</a>.</td>
    </tr>
</table>