
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">
            <tr>
              <td>
                    <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                      <tr>
                        <td align="center" style="padding:0px 0px 0px 0px;">
                            <a target="_blank" xt="SPCLICK" href="https://www.luckypantsbingo.com/promotions/" name="main_image" id="main_image"><img src="http://mailers.communicatormail.com/luckypants/images/chain-offer-1-mailer.jpg" aria-hidden="true" width="680" height="auto" alt="main-image" border="0" class="fluid g-img" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" /></a></td>
                      </tr>
                    </table>
                  
                    <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                      <tr>
                        <td align="center" style="padding:40px 40px 20px 40px;"><table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:32px;line-height:38px;color:#600a98; font-weight:bold;">
                                  We've given you a little somethin, %%Alias%% ...
                                </td>
                            </tr>

                            <tr>
                              <td align="center" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">
                                  We want to get you in the mood, %%Firstname%% . So we've added an exclusive <strong>%%DisplayDescription%%</strong><strong> </strong>to your account, it's ready to play! <br /><br />Plus, when you're ready to boost your balance, head to the cashier and select your <strong>%%ChainDisplayDescription%%</strong> to boost your next deposit.<br /><br />
                                </td>
                            </tr>
                            
                          </table></td>
                      </tr>
                    </table>
                  
                    <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ececec" style="min-width:100%;" class="email-container">
                      <tr>
                        <td align="center" style="padding:40px 40px 20px 40px;"><table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:22px;line-height:28px;color:#600a98; font-weight:bold;">
                                  HOW TO CLAIM YOUR OFFER
                                </td>
                            </tr>
                            <tr>
                              <td align="center">

                                  <table border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td valign="top" style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#600a98; font-weight:bold;">

                                      1.
</td>
                                    <td align="left" valign="top" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:24px;color:#333333;">
                                        Head to the cashier at LuckyPantsBingo.com <br />
                                      </td>
                                  </tr>
                                  <tr>
                                    <td valign="top" style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#600a98; font-weight:bold;">

                                      2.
</td>
                                    <td align="left" valign="top" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:24px;color:#333333;">
                                        Select your exclusive <strong>%%ChainDisplayDescription%%</strong> offer
                                      </td>
                                  </tr>
                                  <tr>
                                    <td valign="top" style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#600a98; font-weight:bold;">

                                      3.
</td>
                                    <td align="left" valign="top" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:24px;color:#333333;">
                                        Make a deposit of £10 or more and your will be credited automatically
                                      </td>
                                  </tr>
                                  
                                  
                                  
                                </table>
</td>
                            </tr>
                            <tr>
                              <td align="center" style="padding:0px 0px 20px 0px;"><table role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;" align="center">
                                  <tr>
                                    <td align="center" valign="top" style="padding:0px 0px 0px 0px;">
                                        <table border="0" cellspacing="0" cellpadding="0" class="wrapcta">
                                          <tr>
                                            <td style="color:#ff4bbd; border-radius:3px; border: 2px solid #ff4bbd; background:#ececec; text-align: center;font-family:arial, sans-serif; font-size:18px; line-height:21px; padding:10px 20px 10px 20px; font-weight:bold;"><a target="_blank" href="https://www.luckypantsbingo.com" xt="SPCLICK" name="secondary_cta" style="color:#ff4bbd; display: block; text-decoration: none;" id="secondary_cta">
                                              Play Now
                                              </a></td>
                                          </tr>
                                        </table>
                                        
                                      </td>
                                  </tr>
                                </table></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table>
                  
                    <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                      <tr>
                        <td align="center" style="padding:40px 40px 20px 40px;"><table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:32px;line-height:38px;color:#600a98; font-weight:bold;">
                                  Ready for a new adventure?
                                </td>
                            </tr>

                            <tr>
                              <td align="left" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">
                                  Keep an eye out on our latest and greatest games, we're regularly adding new games for you to explore.
                                </td>
                            </tr>
                            <tr>
                              <td align="center" style="padding:0px 0px 20px 0px;"><table role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;" align="center">
                                  <tr>
                                    <td align="center" valign="top" style="padding:0px 0px 0px 0px;">
                                        <table border="0" cellspacing="0" cellpadding="0" class="wrapcta">
                                          <tr>
                                            <td style="color:#ff4bbd; border-radius:3px; border: 2px solid #ff4bbd; background:#ffffff; text-align: center;font-family:arial, sans-serif; font-size:18px; line-height:21px; padding:10px 20px 10px 20px; font-weight:bold;"><a target="_blank" href="https://www.luckypantsbingo.com/slots/new/" xt="SPCLICK" name="primary_cta" style="color:#ff4bbd; display: block; text-decoration: none;" id="primary_cta">
                                              WHAT'S NEW
                                              </a></td>
                                          </tr>
                                        </table>
                                        
                                      </td>
                                  </tr>
                                </table></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table>
                  </td>
            </tr>
          </table>

