<!-- BODY -->

<table bgcolor="#e2d6ea" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #e2d6ea; margin: 0; padding: 0;">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">
      <table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
        <tbody>
          <tr>
            <td><a href="http://www.luckypantsbingo.com" name="www_luckypantsbingo_com" xt="SPCLICK"><img border="0" height="150" name="Cont_2" src="http://mailers.communicatormail.com/luckypants/images/responsive/welcome-emerald.png" style="max-width: 100%;" width="600" /></a></td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 15px; padding-right:15px; font-size:14px; line-height:1.6;">
            <p style="font-size: 11px;">Username: %%Username%% | <a href="https://www.luckypantsbingo.com/forgot-password" name="www_luckypantsbingo_com_forgot" style="color: #f6258b; text-decoration: none;" xt="SPCLICK">Forgot password</a>?</p>

            <h3 style="color: rgb(96, 10, 152); line-height: 1.1; font-weight: bold; font-size: 20px; margin: 10px 0px 15px; text-align: center;">&nbsp;</h3>

            <p>Hi, %%Firstname%% - it&#39;s Malcolm here,&nbsp;you&#39;re VIP account manager!<br />
            <br />
            Great news, I have reviewed your account and based on your gameplay, I have decided to upgrade you to Emerald VIP level.<br />
            <br />
            As an Emerald&nbsp;VIP you can enjoy the following great benefits:</p>

            <ul>
              <li>&pound;50&nbsp;Upgrade Bonus&nbsp;</li>
              <li>Personalised VIP customer service</li>
              <li>Reduced withdrawal pending period times</li>
              <li>Frequent cash drop offers</li>
              <li>Double bonus days</li>
              <li>Dedicated VIP Manager</li>
            </ul>

            <p><br />
            I would personally thank you for choosing to play with Lucky Pants Bingo&nbsp;and look forward to giving you the star treatment! Please feel free to call me during office hours. My details are: Mobile: +44 (0) 7585229120.<br />
            <br />
            <span style="font-size:10px;">Terms &amp; Conditions: Entry into and downgrades from the VIP levels are subject to the discretion of management. Please visit&nbsp;the VIP page for&nbsp;more details.&nbsp;Upgrade bonus will expire 7 days after being credited. 15xWR. 10x rate convertible to real. Not available on progressive jackpots.</span></p>

            <p align="center" style="margin-top:30px;"><a href="http://www.luckypantsbingo.com" name="www_luckypantsbingo_com_promot" xt="SPCLICK"><img alt="Claim now!" border="0" height="50" name="Cont_3" src="http://mailers.communicatormail.com/luckypants/images/templates/button-msg-claim.png" style="max-width: 100%;" title="Claim now!" width="240" /></a></p>
            </td>
          </tr>
          