  <!-- BODY -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="max-width: 680px;" width="100%">
        <tbody>
          <tr>
            <td>
            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
              <tbody>
                <tr>
                  <td align="center" style="padding:0px 0px 0px 0px;"><a href="https://www.luckypantsbingo.com/promotions/" id="main_image" name="main_image" target="_blank" xt="SPCLICK"><img alt="Reset your Password." aria-hidden="true" border="0" class="fluid g-img" height="auto" id="image_2" name="image_2" src="http://mailers.communicatormail.com/luckypants/images/reset-password-mailer.jpg" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" width="680" /></a></td>
                </tr>
              </tbody>
            </table>

            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
              <tbody>
                <tr>
                  <td align="center" style="padding:40px 40px 20px 40px;">
                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:32px;line-height:38px;color:#600a98; font-weight:bold;">Let&#39;s reset your password, %%Alias%%!</td>
                      </tr>
                      <tr>
                        <td align="center" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">So you forgot your password? That&#39;s OK, we are here to help you reset it.<br />
                        <br />
                        To reset your password please click on the link below which will take you to a page where you will be able to securely and safely reset your password.<br />
                        &nbsp;</td>
                      </tr>
                      <tr>
                        <td align="center" style="padding:0px 0px 20px 0px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin: auto;">
                          <tbody>
                            <tr>
                              <td align="center" style="padding:0px 0px 0px 0px;" valign="top">
                              <table border="0" cellpadding="0" cellspacing="0" class="wrapcta">
                                <tbody>
                                  <tr>
                                    <td style="color:#ffffff;border-radius:3px; background:#ff4bbd; text-align: center;font-family:arial, sans-serif;font-size:18px;line-height:21px;padding:10px 20px 10px 20px;font-weight:bold;"><a href="https://www.luckypantsbingo.com/forgot-password?PlayerID=%%PlayerID%%&GUID=%%GUID%%" id="primary_cta" name="primary_cta" style="color:#ffffff; display: block; text-decoration: none;" target="_blank" xt="SPCLICK">Reset Password</a></td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>

            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
              <tbody>
                <tr>
                  <td align="center" style="padding:40px 40px 20px 40px;">
                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">Once you have retrieved your password we recommend you make a note of your login details and be sure to keep them safe.<br />
                        <br />
                        Should you require any additional help, feel free to contact our friendly Support Team on <strong>support@luckypantsbingo.com</strong></td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>