

	<!-- BODY -->
	<table bgcolor="#e2d6ea" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #e2d6ea; margin: 0; padding: 0;">
		<tr>
			<td>&nbsp;</td>
			<td style="max-width: 600px; display:block; margin:auto;">

				<table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
					<tr>
						<td>
							<a href="http://www.LuckyPantsbingo.com"><img src="http://mailers.communicatormail.com/luckypants/images/200-100-600x300.jpg" style="max-width: 100%;" border="0"/></a>
						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 15px; padding-right: 15px; font-size:14px; line-height:1.6;">
							<p align="left" style="font-size: 11px; margin-bottom:1.5em !important;">Username: %%Alias%% | <a href="https://www.luckypantsbingo.com/forgot-password" style="color: #f6258b; text-decoration: none;">Forgot password</a>?</p>
							<!-- <p style="margin-bottom:1em;">Welcome %%Firstname%%,</p> -->
							<h3 style="color: #600a98; line-height: 1.1; font-weight: bold; font-size: 20px; margin: 0 0 5px 0; padding-bottom: 10px; text-align: center;">Thanks for choosing Lucky Pants Bingo!</h3>
							<p style="margin-bottom:1em;">Start your lucky game play and select which Welcome Offer works best for you:</p>
							<p style="margin-bottom:1em;"><strong><font color="#600a98">200% Bingo Bonus</font></strong> for those Lucky bingo lovers who just want to chill.</p>
							<p style="text-align: center; margin-bottom:1em;">OR</p>
							<p style="margin-bottom:1em;"><strong><font color="#600a98">100% Slot Bonus</font></strong> for those who want to have a little bit more pace to their play.</p>
							<!-- <p style="margin-bottom:1em;"><font color="#600a98">Luke's Slots Bonus - 100%</font></p> -->
							<p style="margin-bottom:1em;">And if that didn’t get your Lucky Pants on, no matter which offer you choose, you get <strong><font color="#600a98">100 FREE SPINS</font></strong> on our exclusive games!</p>
							<p style="margin-bottom:1em;">Let's get playing!</p>
							<p align="center" style="margin-top:30px;"><a href="www.luckypantsbingo.com/login"><img src="http://mailers.communicatormail.com/luckypants/images/templates/button-msg-claim.png" alt="Claim now!" width="240" height="50" border="0" style="max-width: 100%;" /></a></p>
						</td>
					</tr>

					