
  <!-- BODY -->
  <table bgcolor="#fff2d5" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; background: #fff2d5; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; margin: 0; padding: 0;">
          <tr>
            <td>
              <a href="http://www.bingoextra.com"><img src="http://mailers.communicatormail.com/bingoextra/images/Generic-BE2.jpg" border="0" style="max-width: 100%;" alt="Cash Dash" /></a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; margin: 0; padding: 15px; font-size:14px; line-height:1.6;">

              
Hi <strong>%%Firstname%%</strong>!<br />
Username: <strong>%%Alias%%</strong><br /><br />

<p align="left" style="margin-bottom:1.5em !important;">Congratulations on your new <strong>Sapphire VIP</strong> status! WELCOME to the club!<br /><br />
To celebrate your new VIP upgrade we have credited your account with a <strong>%%CurrencySymbol%%50 bonus</strong>.</p>

<p align="left" style="margin-bottom:1.5em !important;">As a Sapphire VIP player you are now entitled to a range of Extraordinary new benefits to enjoy!
</p>

<p align="left" style="margin-bottom:1.5em !important;"><strong>SAPPHIRE REWARDS</strong></p>

<ul>
<li><strong>12%</strong> Weekly Cashback</li>
<li><strong>%%CurrencySymbol%%25</strong> Birthday Bonus</li>
<li>Monthly cash drops</li>
<li>Increased deposit offers</li>
<li>Slot bonuses</li>
<li>Bonus Holidays</li>
</ul>

<p align="left" style="margin-bottom:1.5em !important;">The next VIP level is Emerald! With Emerald VIP membership comes increased cashback, personalised levels of service, tailored promotional offers to suit your style of play and so much more! Hope to see you there!</p>

<p align="center" style="margin-top:30px;"><a href="http://www.bingoextra.com/promotions/><img src="http://mailers.communicatormail.com/bingoextra/images/templates/button-msg-freebie.png" alt="Claim now!" width="240" height="60" border="0" style="max-width: 100%;" /></a></p>

            </td>
          </tr>