<!-- BODY -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="max-width: 680px;" width="100%">
    <tbody>
        <tr>
            <td>
                <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" style="padding:0px 0px 0px 0px;"><a href="https://www.luckypantsbingo.com/promotions/" id="main_image" name="main_image" target="_blank" xt="SPCLICK"><img alt="Reset your Password." aria-hidden="true" border="0" class="fluid g-img" height="auto" id="image_2" name="image_2" src="http://mailers.communicatormail.com/luckypants/images/reset-password-mailer.jpg" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" width="680" /></a></td>
                        </tr>
                    </tbody>
                </table>
                <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" style="padding:40px 40px 20px 40px;">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:32px;line-height:38px;color:#600a98; font-weight:bold;">Your account has been locked
                                                <br /> - let us help!</td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">Your LuckyPantsBingo account has been temporarily locked due to consecutive failed log-in attempts.
                                                <br />
                                                <br /> Please contact the Live Help to re-activate you account:.
                                                <br /> &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding:0px 0px 20px 0px;">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin: auto;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" style="padding:0px 0px 0px 0px;" valign="top">
                                                                <table border="0" cellpadding="0" cellspacing="0" class="wrapcta">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="color:#ffffff;border-radius:3px; background:#ff4bbd; text-align: center;font-family:arial, sans-serif;font-size:18px;line-height:21px;padding:10px 20px 10px 20px;font-weight:bold;"><a href="https://daub.ehosts.net/netagent/cimlogin.aspx?questid=D34C69EE-C1C5-4924-97D1-068D05200603&portid=5A77A302-2B9E-4159-9BEE-4211136DED96" id="primary_cta" name="primary_cta" style="color:#ffffff; display: block; text-decoration: none;" target="_blank" xt="SPCLICK">Contact Support</a></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" style="padding:40px 40px 20px 40px;">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">If you&rsquo;ve forgotten your password, please use the &#39;<a href="https://www.luckypantsbingo.com/forgot-password/" id="link_1" name="link_1" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK"><strong>Forgotten Password</strong></a>&#39; link below or contact our awesome Support Team who are here to help you.
                                                <br />
                                                <br /> They are available on Live Help or by phone anytime day and night, should you need any additional help, you can even email them at <strong>support@luckypantsbingo.com</strong> if that is more convienient.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>