<!-- BODY -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="max-width: 680px;" width="100%">
    <tbody>
        <tr>
            <td>
                <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" style="padding:0px 0px 0px 0px;"><a href="https://www.luckypantsbingo.com" id="main_image" name="main_image" target="_blank" xt="SPCLICK"><img alt="Welcome to Gold" aria-hidden="true" border="0" class="fluid g-img" height="auto" id="image_2" name="image_2" src="http://mailers.communicatormail.com/luckypants/images/lp-vip-gold-mailer.jpg" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" width="680" /></a></td>
                        </tr>
                    </tbody>
                </table>
                <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" style="padding:40px 40px 20px 40px;">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:32px;line-height:38px;color:#600a98; font-weight:bold;">Welcome to Gold VIP Level!</td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">Great news, %%Firstname%%!
                                                <br />
                                                <br /> We have reviewed your account and based on your gameplay, we have upgraded you to Gold VIP level.
                                                <br />
                                                <br /> To celebrate, we&#39;ve credited you with a very special upgrade bonus, log in now &amp; play!
                                                <br />
                                                <br />
                                                <strong>As a Gold VIP you can enjoy the following great benefits: </strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" style="padding:40px 40px 20px 40px;">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center">
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#600a98; font-weight:bold;" valign="top">&bull;</td>
                                                            <td align="left" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:24px;color:#333333;" valign="top"><strong>5% BonusBack </strong>&ndash; yes, get a bonus back on your net loss! Claim it in your account each week</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#600a98; font-weight:bold;" valign="top">&bull;</td>
                                                            <td align="left" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:24px;color:#333333;" valign="top"><strong>&pound;500 Free Bingo each month</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#600a98; font-weight:bold;" valign="top">&bull;</td>
                                                            <td align="left" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:24px;color:#333333;" valign="top"><strong>3 Daily Free Spins </strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#600a98; font-weight:bold;" valign="top">&bull;</td>
                                                            <td align="left" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:24px;color:#333333;" valign="top"><strong>3 Daily Free Cards</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#600a98; font-weight:bold;" valign="top">&bull;</td>
                                                            <td align="left" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:24px;color:#333333;" valign="top"><strong>&pound;10 Upgrade bonus, NOW available on ALL games, excluding progressive jackpots - Log in now and find it waiting!</strong></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" style="padding:40px 40px 20px 40px;">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="left" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">Thanks for choosing to play with Lucky Pants Bingo and we look forward to giving you the star treatment!
                                                <br /> &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding:0px 0px 20px 0px;">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin: auto;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" style="padding:0px 0px 0px 0px;" valign="top">
                                                                <table border="0" cellpadding="0" cellspacing="0" class="wrapcta">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="color:#ffffff;border-radius:3px; background:#ff4bbd; text-align: center;font-family:arial, sans-serif;font-size:18px;line-height:21px;padding:10px 20px 10px 20px;font-weight:bold;"><a href="https://www.luckypantsbingo.com" id="primary_cta" name="primary_cta" style="color:#ffffff; display: block; text-decoration: none;" target="_blank" xt="SPCLICK">Play Now</a></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="max-width: 680px; background: #ececec;" width="100%">
    <tr>
        <td style="padding: 20px 20px 20px 20px; text-align: left; font-family:arial, sans-serif; font-size: 12px; line-height: 20px; color: #A3A3A3;">Reviews of account VIP levels are at the discretion of management. Please visit the <a href="https://www.luckypantsbingo.com/lucky-club/" id="link_1" name="link_1" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK">VIP page for more details</a>. Upgrade bonus valid for 7 days after being credited and carries 25x wagering with a 5x convertible to real rate, bonus not valid progressive jackpots. BonusBack is paid in bonus funds, amount must be greater than &pound;1 and is capped at &pound;300 per week and carries 10x wagering requirement. Players must deposit and wager a minimum of &pound;10 during the last 7 days to qualify for free entry into &pound;100 &amp; &pound;500 free bingo rooms. Players must deposit and wager a minimum of &pound;10 on that day for free spins and cards. Free spins can only be played on selected games as listed in the standard T&amp;Cs and will expire after 24 hours. Maximum convertible amount is &pound;5. For full T&amp;Cs, <a href="https://www.luckypantsbingo.com/terms-and-conditions/general-promotional-terms-and-conditions/" id="link_2" name="link_2" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK">click here</a>.</td>
    </tr>