.promotions-content {
    .promotions {
        //single post main content
        @include grid-column(12);

        padding: 0;
        margin-bottom: $site-margin;

        .promo-content-wrap {
            @include grid-row;
        }

        .main-content__top__left {
            @media #{$medium-only} {
                @include grid-column(12);
            }

            @media #{$small-only} {
                @include grid-column(12);
            }
        }

        .main-content__top__right {
            @include show-for-large-up;

            @include grid-column(3);

            background-color: $mine-shaft;
            padding: 0px 10px 10px 10px;
            height: auto;

            h1 {
                font-family: $title1-font;
                font-size: 1.3em;
                margin-top: 0.4em;
            }
        }

        .promotion {
            @include grid-column(4);

            cursor: pointer;
            padding-right: 10px;

            @media #{$medium-only} {
                @include grid-column(6);

                padding-right: 10px;
                padding-left: 10px;
                padding-bottom: 10px;
            }

            @media #{$small-only} {
                @include grid-column(12);

                padding: 10px 10px 0px 10px;
                height: auto;
            }
        }

        .promotional-tcs {
            @include grid-column(12);

            text-align: center;
            color: $global-link-color;
            font-family: $body-font-medium;
            margin: $site-margin 0;
        }
    }

    // =============================================================================
    // Promos Slider
    // =============================================================================

    .promos-slider {
        @include grid-column(12);

        list-style: none;
        margin: 0;
        padding: $site-margin;

        .bx-wrapper {
            @include grid-column(12);

            padding: 0;
            margin-bottom: 0;

            //            margin-bottom: $site-margin * 3;
            max-width: 100% !important;

            @media #{$medium-only} {
                margin-bottom: 0;
            }

            @media #{$small-only} {
                margin-bottom: 0;
            }

            .bx-pager {
                bottom: -45px !important;
                display: none;

                @media #{$small-only} {
                    bottom: -45px !important;
                    display: none;
                }
            }

            .bx-controls-direction {
                a {
                    opacity: 1 !important;
                }

                @media #{$medium-only} {
                    opacity: 1;
                }

                @media #{$small-only} {
                    opacity: 1;
                }
            }
        }

        // .bx-viewport {
        //     height: auto !important;

        //     @media #{$small-only} {
        //         height: 230px;
        //     }
        // }

        ul {
            margin-left: 0 !important;
        }
    }

    .bx-controls-direction {
        opacity: 1 !important;

        a {
            // background: rgba(0, 0, 0, 0.5) !important;
            margin-top: 0;
        }

        .bx-default-pager {
            a {
                background: #999 !important;
            }
        }
    }

    article {
        @include grid-column(12);

        padding: $site-margin;
        border-radius: 4px;
        padding: 0;

        h1 {
            padding: 0;

            //width: 100% !important;
       
        }
    }

    .section__title {
        color: $nav-main-color;

        /* top gradient content */
        background-image: linear-gradient(0deg, #E9DDED 2%, #FFFFFF 100%);
        margin: 0;
        padding: 5px;
        padding-left: $site-margin !important;
        font-size: 15px;

        @include grid-column(12);

        @media #{$medium-only} {
            @include grid-column(12);
        }

        @media #{$small-only} {
            @include grid-column(12);

            text-align: center;
        }
    }
}

// ******** FEATURED PROMO ONLY ******** //

// .promotion-featured {
//     .promotion__optin {
//         right: 0 !important;
//         top: 0 !important;
//     }

//     .promotion {
//         @include grid-column(12);

//         padding-right: 10px;
//         height: 228px;

//         @media #{$medium-only} {
//             height: auto;
//             padding-top: 10px;
//             padding-left: 10px;
//         }

//         @media #{$small-only} {
//             padding: 10px;
//             height: auto;
//             padding-bottom: 0px;
//         }

//         .promotion__wrapper {
//             @include grid-column(12);

//             @include be-box($white, solid, $border, 10px);

//             padding: 10px 10px 10px 10px;
//             height: auto;
//             min-height: 220px;
//             cursor: pointer;

//             @media #{$small-only} {
//                 @include grid-column(12);

//                 padding: 0px;
//                 margin-bottom: 10px;
//                 height: auto;
//             }

//             .promotion__title__wrapper {
//                 float: left;

//                 @media #{$small-only} {
//                     // width: 100%;
//                 }
//             }

//             .promotion__title {
//                 @media #{$small-only} {
//                     // position: relative;
//                 }
//             }

//             .promotion__content {
//                 @include grid-column(6);

//                 padding-top: 40px;
//                 padding-left: 10px;
//                 max-height: 220px;
//                 overflow: hidden;

//                 @media #{$medium-only} {
//                     @include grid-column(7);

//                     padding-left: 10px;
//                 }

//                 @media #{$small-only} {
//                     height: 150px;
//                     max-height: 150px;

//                     @include grid-column(12);

//                     padding: 10px;
//                 }
//             }

//             .promotion__image {
//                 width: 35.5%;

//                 // @include grid-column(5, $collapse: true);
//                 margin-top: 0px;

//                 @media #{$medium-only} {
//                     @include grid-column(4);
//                 }

//                 @media #{$small-only} {
//                     @include grid-column(12);

//                     padding: 10px;
//                 }
//             }

//             .promotion__more-info {
//                 width: 50%;
//                 right: 0px;
//                 font-size: 1em;
//                 padding-right: 20px;
//                 bottom: 10px;

//                 @media #{$small-only} {
//                     bottom: 5px;
//                     font-size: 0.9em;
//                     height: 5%;
//                     width: 100%;
//                 }
//             }
//         }

//         h1 {
//             font-size: 1.2em;

//             @media #{$small-only} {
//                 font-size: 1em;
//             }
//         }

//         p {
//             font-size: 1em;

//             @media #{$small-only} {
//                 font-size: 0.9em;
//             }
//         }

//         .promotion__title__wrapper {
//             @include grid-column(6);

//             float: right;
//             padding-left: 10px;

//             @media #{$small-only} {
//                 padding-left: 0px;
//             }
//         }
//     }

//     .promotion__optin {
//         right: 0px !important;
//         top: 0;
//         width: 40px;
//     }
// }

// ******** // FEATURED PROMO ONLY******** //