.promotion {
    color: $grey-dark;
    font-size: 1rem;
    @include grid-column(12);
    // padding: $site-margin / 2;
    margin-bottom: 1em;
    @media #{$medium-only} {
        margin-bottom: 0px;
    }
    @media #{$small-only} {
        @include grid-column(12);
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
        margin-bottom: $site-margin;
    }
    .promotion__wrapper {
        @include grid-column(12);
        @include be-box($white, solid, $border, 10px);
        @include border-radius(4px);
        padding: 0;
        padding-bottom: $site-margin;
        height: auto;
        position: relative;
        @media #{$small-only} {
            @include grid-column($collapse: true, $columns: 12);
            padding: 0px;
            padding-bottom: $site-margin;
            margin-bottom: 10px;
            height: auto;
        }
    }
    .promotion__title {
        @include grid-column(6);
        font-size: 0.9em;
        font-family: $body-font-bold;
        text-transform: uppercase;
        width: 100%;
        padding: 5px $site-margin 10px $site-margin;
        @media #{$small-only} {
            position: relative;
            padding: $site-margin;
        }
        a {
            //height: 20px !important;
            overflow: hidden;
            display: block;
            color: $nav-active-color;
            line-height: 1em;
        }
    }
    .promotion__image {
        @include grid-column(12);
        padding: 0;
        > img {
            width: 100%;
            margin-bottom: 0;
        }
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0;
            float: left;
            border: none !important;
            box-shadow: none;
            margin-top: 0px;
        }
    }
    .promotion__title__wrapper {
        float: left;
    }
    .promotion__content {
        @include grid-column(12);
        overflow: visible;
        padding: 0 $site-margin;
        margin: 0;
        margin-bottom: $site-margin;
        height: auto;
        min-height: 170px;
        overflow: hidden;
        font-size: 0.85em;
        ul {
            margin: 0;
            li {
                list-style: inherit;
                font-size: 0.8em;
                line-height: 1.4em;
            }
        }
        a,
        p,
        span,
        div,
        label {
            font-family: $body-font-regular;
            line-height: 1.4em;
            margin-bottom: 0px;
        }
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0 $site-margin;
            min-height: auto;
            p:after {
                font-size: 0.9em;
                content: '...';
                font-weight: bold;
            }
        }
        .promotion__terms {
            @include grid-column(12);
            padding: 0;
            font-family: $body-font-bold;
            color: $global-link-color;
            margin: $site-margin 0 0;
        }
    }
    .promotion__optin {
        @include grid-column(4);
        @include CTA-button(2px, 0.8em, 4px, #B4EC51, #67B030, #429321, #417505, #7ED321);
        font-family: "proximanova-extrabold", Helvetica, Arial, sans-serif !important;
        width: 28%;
        text-shadow: none;
        margin-left: 3% !important;
        @media #{$medium-only} {
            font-size: 0.75em;
        }
    }
    .promotion__more-info {
        @include grid-column(4);
        @include CTA-button(2px, 0.8em, 4px, #4BA4F0, #2082D8, #0E60A8, #0E4372, #8BC5F7);
        width: 30%;
        margin-left: 3% !important;
        text-shadow: none;
        @media #{$medium-only} {
            font-size: 0.75em;
        }
    }
    .promotion__play-now {
        @include grid-column(4);
        @include CTA-button(2px, 0.8em, 4px, #FF8FD7, #FF7BD0, #FF00AA, #C70064, #FFC5EA);
        width: 30%;
        margin-left: 3% !important;
        text-shadow: none;
        @media #{$medium-only} {
            font-size: 0.75em;
        }
    }
}

// COMPETITION ENGINE CUSTOM STYLE PROMO
.promotion-eng {
    padding-left: 0 !important;
    padding-right: ($site-margin / 2) !important;
    padding-bottom: ($site-margin / 2) !important;
    @media #{$large-only} {
        &:nth-child(3n+3) {
            //padding-right: 0 !important;
        }
    }
    @media #{$small-only} {
        padding: 0 !important;
    }
    .promotion-eng__wrapper {
        @media screen and (min-width: 426px) and (max-width: 768px) {
            height: 625px;
            overflow: hidden;
        }
        @media screen and (min-width: 769px) and (max-width: 1024px) {
            height: 640px;
            overflow: hidden;
        }
     /*   @media #{$large-up} {
            height: 540px !important;
            overflow: hidden;
        } */
        dl {
            background: $base-blue-light;
        }
    }
    .tabs {
        dd {
            a {
                background: $Anakiwa;
                padding: 0.5em 0.2em 0.5em 0.2em;
                font-size: 10px !important;
                &:hover {}
            }
            &.active {
                a {
                    background: $base-blue-light;
                    padding: 0.5em 0.2em 0.5em 0.2em;
                    font-size: 10px !important;
                    &:hover {}
                }
            }
        }
    }
    .promotion-eng__content {
        background: $brand-color-light !important;
        padding: 15px !important;
        height: 325px !important;
        .promotion-eng__title {
            a {
                color: $brand-color !important;
            }
        }
        ul {
            @include grid-column(12);
            background: lighten($brand-color-light, 5%);
            border-radius: 2px;
            padding: $site-margin / 2;
            margin-bottom: ($site-margin / 2) !important;
            list-style-image: url(../_images/common/icons/cat-head.svg);
            ul {
                padding: 0;
            }
        }
    }
    .promotion-eng__footer {
        background: $brand-color-light !important;
        padding: $site-margin / 2;
        .promotion-eng__terms {
            font-size: 12px !important;
            color: $brand-color !important;
        }
        .promotion-eng__read-more {
            font-size: 12px !important;
            text-decoration: none !important;
        }
        a.promotion-eng__optin {
            font-family: "proximanova-extrabold", Helvetica, Arial, sans-serif !important;
            line-height: 1.8 !important;
            background-color: $trinidad !important;
            color:$white !important;
            padding: 1px !important;
            box-shadow: 0px 2px 0px 0px $grenadier !important;
            font-size: 17px !important;
            &.active {
                background-color: $trinidad !important;
                color: $white;
                box-shadow: 0px 2px 0px 0px darken( $trinidad, 10% ) !important;
                border:0px;
            }
        }
        .promotion-eng__play-now {
            font-family: $body-font-extra-bold !important;
            font-size: 15px !important;
            line-height: 1.9 !important;
            &.cta-full-width {
                width: 100% !important;
                margin: 0 !important;
                margin-top: ($site-margin / 2) !important;
            }
        }
    }
    ul.promotion-eng__comp-info {
        background: $mabel;
        li {
            .title {}
            span {
                background: $alice-blue !important;
                border-radius: 0 !important;
            }
        }
    }
}

.content-holder__inner {
    .promotion-eng {
        .tabs {
            dd {
                margin-right: 0.3% !important;
                a {
                    padding: 0.4em;
                    background: darken( $mabel, 10%) !important;
                    box-shadow: none;
                    font-size: 10px !important;
                }
                @media only screen and (min-device-width: 320px) and (max-device-width: 375px) and (orientation: portrait) {
                    a {
                        font-size: 9px !important;
                    }
                }
            }
            .tab-title {
             
                a { 
                    // width: 33%;
                    text-align: center;
                }
                &.active {
                    a {
                        background: $mabel !important;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.promotion-eng .promotion-eng__content .promotion-eng__comp-leader-table li:nth-child(even) {
    background-color: #DBF6FF !important;
    
}

.promotion-eng .promotion-eng__content .promotion-eng__comp-leader-table li .ui-leader-position {
    background: #1d4775 !important;
    color: $white !important;
}

.promotion-eng .promotion-eng__content .promotion-eng__comp-leader-table li.ui-leader-position__user {
    background: #a8e9ff !important;
    color: #1d4775 !important;
}

.promotion-eng .promotion-eng__footer {
    position: absolute !important;
}


.promotion__text_terms-wrapper {
    background: $oinahau;
    padding: 10px 15px !important;
    .promotion__text_terms {}
    .promotion-eng__terms {
        font-weight: 800;
        color: $Denim;
    }

}
