.promotion--featured {
    @extend .promotion;
}

.promotion {
    font-size: 1rem;

    @include grid-column(3);

    padding-left: 0;
    padding-right: 0.4em;
    padding-bottom: 0.4em;

    @media #{$small-only} {
        @include grid-column(12);

        padding: 0;
        margin-bottom: $site-margin;
    }

    .promotion__wrapper {
        cursor: pointer;

        @include grid-column(12);

        padding: 0;
        border: none !important;

        @media #{$large-up} {
            min-height: 300px;
        }

        @media #{$medium-only} {
            min-height: 229px;
        }

        @media #{$small-only} {
            @include grid-column(12);
        }

        img {
            width: 100% !important;
        }
    }

    .promotion__title {
        @include grid-column(12);

        padding: 0;
        font-size: 0.95em;
        font-family: $body-font-regular;
        display: block;
        overflow: hidden;

        // text-transform: uppercase;
        color: $nav-active-color;
        margin: 0em;
        margin-top: 0.8em;
        padding-left: 0.7em;
        padding-right: 0.7em;

        a {
            color: $nav-active-color;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0;
            margin-top: 0;
            font-size: 1.4em !important;
            float: left;
            padding-left: 0.4em;
            padding-right: 0.4em;
        }
    }

    .promotion__content__wrapper {
        @include grid-column(6);

        padding: 0;
        color: $content-text;
        padding: rem-calc(7px) rem-calc(7px);

        @media #{$small-only} {
            @include grid-column(12);

            float: left;
            padding: 0px 5px;
            padding-top: 0px;

            p {
                font-size: 0.7em;
            }
        }
    }

    .promotion__image {
        @include grid-column(12);

        padding: 0;

        > img {
            width: 100%;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0;
            float: left;
        }
    }

    .promotion__content {
        font-family: helvetica,arial,sans-serif;

        @include grid-column(12);

        padding: 0;
        font-size: 0.9em !important;
        overflow: hidden;
        padding-left: 0.8em;
        padding-right: 0.8em;
        margin-top: 0.4em;

        ul {
            li {
                list-style: none !important;
                margin-right: 5px;

                strong {
                    color: $nav-active-color !important;
                }

                &:before {
                    color: $nav-active-color !important;
                    content: "\2022";
                    font-size: 20px;
                    position: relative;
                    top: 3px;
                    margin-right: 5px;
                }
            }
        }

        a, p, span, div, label {
            font-family: $body-font-regular;
            font-size: 0.9em;
            line-height: 1.2em;

            @media #{$small-only} {
                font-size: 1em;
                padding-bottom: 10px;
                margin-bottom: 0px;
            }
        }
    }
}

// .promotion--featured {
//     @include grid-column(12);

//     padding: 0;
//     padding-left: 0;
//     padding-right: 0.4em;
//     margin-bottom: $site-margin * 2;
//     margin-top: $site-margin;
//     background: $white;
//     overflow: hidden;

//     // max-height: 392px;
//     // overflow: hidden;
//     @media #{$small-only} {
//         @include grid-column(12);

//         padding: 0;
//         margin-bottom: $site-margin;
//     }

//     .promotion__wrapper {
//         cursor: pointer;

//         @include grid-column(12);

//         padding: 0;
//         height: 100%;

//         @media #{$large-up} {}

//         @media #{$medium-only} {}

//         @media #{$small-only} {
//             @include grid-column(12);

//             padding: 0;
//         }

//         .promotion__image {
//             @include grid-column(4);

//             padding: 0;

//             @media #{$medium-only} {
//                 @include grid-column(5);

//                 padding: 0;

//                 img {
//                     width: 100%;
//                 }
//             }

//             @media #{$small-only} {
//                 @include grid-column(12);

//                 padding: 0;
//                 float: left;

//                 img {
//                     width: 100%;
//                 }
//             }
//         }

//         .promotion__content__wrapper {
//             @include grid-column(8);

//             padding: 0;

//             p {}

//             padding: 0px 8px;

//             @media #{$medium-only} {
//                 @include grid-column(12);
//             }

//             @media #{$small-only} {
//                 @include grid-column(12);

//                 float: left;
//                 padding: 0px 5px;
//             }
//         }

//         .promotion__title {
//             @include grid-column(7);

//             float: left;
//             color: $nav-active-color;
//             font-size: 1.5em;
//             padding: 0 $site-margin;
//             margin-top: $site-margin;

//             a {
//                 color: $nav-active-color;
//             }

//             @media #{$medium-only} {
//                 @include grid-column(7);

//                 padding: 0 $site-margin;
//             }

//             @media #{$small-only} {
//                 @include grid-column(12);

//                 padding: 0 $site-margin;
//                 font-size: 1.4em;
//                 float: left;
//             }
//         }

//         .promotion__content {
//             @include grid-column(8);

//             padding: 5px $site-margin;
//             font-size: 1em;

//             @media #{$medium-only} {
//                 @include grid-column(7);

//                 font-size: 0.8em;
//                 padding: 0 $site-margin;
//             }

//             @media #{$small-only} {
//                 @include grid-column(12);

//                 font-size: 1em;
//                 line-height: 18px;
//                 padding: 0 $site-margin;
//             }

//             a, p, span, div, label {
//                 font-family: $body-font-regular;
//                 font-size: 1em;
//                 line-height: 1.6em;
//             }
//         }

//         .promotion__more-info {
//             padding: 0 $site-margin;
//             font-family: $body-font-medium;
//             font-size: 1em;
//             color: $global-link-color;

//             @media #{$small-only} {
//                 margin: $site-margin;
//                 padding: 0;
//             }

//             &:hover {
//                 color: $brand-color;
//             }
//         }

//         .promotion__play-now {
//             @include CTA-button(5px 10px, 1.2em, 2px, #FF8FD7, #FF7BD0, #FF00AA, #C70064, #FFC5EA);

//             position: relative;
//             right: 0;
//             float: right;
//             bottom: 15px;
//             text-align: center;
//             width: auto !important;
//             margin: $site-margin;
//             display: block !important;

//             @media #{$medium-only} {
//                 @include grid-column(7);

//                 float: right;
//             }

//             @media #{$small-only} {
//                 @include grid-column(12);

//                 float: right;
//             }
//         }
//     }
// }

.promotions {
    .content {
        padding: 0;
        margin: 0;

        .section__title {
            color: $nav-main-color;

            /* top gradient content */
            background-image: linear-gradient(0deg, #E9DDED 2%, #FFFFFF 100%);
            margin: 0;
            padding: 5px;
            padding-left: $site-margin !important;
            font-size: 15px;

            @include grid-column(12);

            @media #{$medium-only} {
                @include grid-column(12);
            }

            @media #{$small-only} {
                @include grid-column(12);

                text-align: center;
            }
        }

        .content-holder__inner {
            padding: $site-margin;
            padding-right: 10px;
        }
    }

    .section .section__header, .games-list .section__header {
        @include grid-column(4);

        padding: 0;
        margin-bottom: $site-margin;

        @media #{$medium-only} {
            @include grid-column(12);

            padding: 0;
            float: left;
            display: block;
        }
    }

    .tabs {
        @include grid-column(12);

        @include show-for-medium-up;

        margin: 0;
        padding: $site-margin / 2;
        margin-bottom: ($site-margin / 2) !important;
        background: $white;

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0;
        }

        dd {
            width: 15.78%;
            margin: 0 0;
            margin-right: 1.06% !important;
            padding: $site-margin 0;
            list-style-type: none;
            border-left: 0;

            &:last-child {
                margin-right: 0 !important;
            }

            @include list-inline;

            @media #{$small-only} {
                @include grid-column(12);

                background: none;
                box-shadow: none;
            }

            &.first {
                border-left: none;
            }

            // &.no-newbie {
            //     width: 33.3%
            // }

            a {
                @include transition(all, 0.2s ease-out);

                @include games-button-ui;

                font-family: $body-font-bold;
                padding: 4px 4px 3px 4px;
                font-size: 0.95rem;
                color: $white;

                @media #{$medium-only} {
                    font-size: 0.88rem;
                }

                @media #{$small-only} {
                    padding: 3px;
                    font-family: $body-font-extra-bold;
                    color: $brand-color;
                    text-align: left;
                }
            }

            &.active {
                a, a:hover {
                    font-weight: bold;
                    cursor: default;
                    color: $brand-color;
                    background: $grey-light-bg !important;
                    box-shadow: none;
                }
            }

            &.first {
                a {}
            }

            &.last {
                margin-right: 0px;

                a {}
            }
        }

        .promotion {
            padding-right: 5px !important;
        }
    }
}

.promotions-detail {
    @include linear-gradient;

    @include border-radius(4px 4px 4px 4px);

    overflow: hidden;

    .promotion__content__wrapper {
        @media #{$medium-only} {
            @include grid-column(12);
        }

        // padding: 1em !important;
   
    }

    .promotion__image, .promotion__content__wrapper, .promotion__content {
        width: 100% !important;

        @media #{$medium-only} {
            width: 100% !important;
        }

        @media #{$small-only} {
            width: 100% !important;
            padding: 0;

            img {
                width: 100% !important;
                padding: 0;
            }
        }

        img {
            width: 100% !important;
            padding: 0;
        }
    }
}