/***************************
****************************
Promo details progress bar
****************************
***************************/


.promotion-eng__freebie__content {
    width: 100%;
    float: left;
    font-size: rem-calc(13px);
    line-height: rem-calc(15px);
}

.promotion-eng__freebie__progress--title {
    width: 60%;
    margin-top: 15px;
    margin-bottom: 25px;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: rem-calc(14px);
}

.promotion-eng__freebie__progress--value {
    width: 40%;
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: bold;
    float: left;
    background: $alice-blue;
    text-align: center;
    border-radius:4px;
}

.promotion-eng__freebie__progress--wrap {
    width: 100%;
    float: left;
    background: $alice-blue;
    border-radius:4px;
    line-height: rem-calc(27px);
}

.promotion-eng__freebie__progress--bar {
    background: linear-gradient(-180deg, $Denim 0%, $Denim 100%);
    overflow: hidden;
    white-space: nowrap;
    animation: progress-bar 3s;
    border-radius:4px;
}

@keyframes progress-bar {
    0% {
        width: 0;
    }
}