.promotions-detail {
    @include grid-column(12);
    padding: 0;
    > article > div > div.promotion__content__wrapper > table > thead > tr > td {
        color: white;
        background-color: $nav-main-color !important;
        padding: 10px;
    }
    > article > div > div.promotion__content__wrapper > table {
        border: none;
        border-bottom: solid 1px #DDDDDD;
        @media #{$medium-only} {
            @include grid-column(12);
            min-width: 100%;
        }
        @media #{$small-only} {
            @include grid-column(12);
            min-width: 100%;
        }
    }
    .section-left__title {
        /* top gradient content */
        background-image: linear-gradient(0deg, #E9DDED 2%, #FFFFFF 100%);
        margin: 0;
        padding: 5px;
        padding-left: $site-margin !important;
        color: $nav-main-color;
        font-size: 15px !important;
        text-align: left !important;
        text-transform: uppercase !important;
        float: left;
        margin-bottom: $site-margin;
    }
    .two-columns-content-wrap__left {
        @include grid-column(8);
        margin-bottom: $site-margin * 2;
        @media #{$medium-only} {
            @include grid-column(12);
        }
        @media #{$small-only} {
            @include grid-column(12);
        }
    }
    .two-columns-content-wrap__right {
        @include grid-column(4);
        @include show-for-large-up;
        width: 32%;
        border-radius: 4px;
        padding: $site-margin;
        background: $white;
    }
    .promotion--featured {
        @include grid-column(12);
        padding: 0;
        margin: 0;
        background: none;
        // @include be-box($white, solid, $border, 0px);
        @include clearfix;
        .promotion__content__wrapper {
            @include grid-column(12);
            padding: 20px;
            background: $white;
            width: 98% !important;
            border-radius: 4px;
            margin: 0 1% !important;
            overflow: hidden;
            padding: 0;
            @media #{$small-only} {
                width: 96% !important;
                margin: 0 2% !important;
            }
            h1.section__title {
                color: $main-highlight-color;
                @media #{$small-only} {
                    font-size: 1.6em;
                }
            }
            p {
                font-family: $body-font-regular;
                margin-bottom: 10px;
                font-size: 0.9em;
                line-height: 1.6em;
                padding: 0;
                strong {
                    color: $nav-active-color !important;
                }
            }
            ul {
                font-size: 0.9em;
                display: block;
                list-style-type: disc;
                margin: 0;
                padding: 0;
                // -webkit-margin-before: 1em;
                // -webkit-margin-after: 1em;
                // -webkit-margin-start: 0px;
                // -webkit-margin-end: 0px;
                // -webkit-padding-start: 40px;
                li:before {
                    // position: absolute;
                    content: "\2022";
                    color: $nav-active-color !important;
                    margin-right: $site-margin;
                }
            }
        }
    }
}

.footer-nav__container {
    @include grid-column(12);
    @include show-for-small-only;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: $grey-light-bg;
    z-index: 2;
    height: 52px;
    .cta-opt-in {
        width: 30%;
        padding: 6px;
        font-size: 14px;
        margin-right: $site-margin / 2;
        text-shadow: none;
        &.cta-full-width {
            @include grid-column(6);
        }
        @media screen and (min-width: 320px) {
            font-size: 0.8em;
            font-weight:700;
        }

        &:hover {
            color: $white;
        }
    }

    .cta-join {
        width: 30%;
        padding: 6px;
        font-size: 14px;
        text-shadow: none;
        margin: 0;
        @media screen and (min-width: 320px) {
            font-size: 0.8em;
            font-weight:700;
        }
    }
    .cta-next-promo {
        position: relative;
        float: right;
        text-align: right;
        color: $global-link-color;
        font-family: $body-font-bold;
        font-size: 13px;
        top: 7px;
    }
}

.promotion__content__img__wrapper {
    @include grid-column(12);
    padding: 0;
    overflow: hidden;
    background: $white;
    @media #{$small-only} {
        margin-bottom: 0;
    }
    img {
        @include grid-column(12);
        padding: 1.25rem;

        @media #{$large-up} {
            border-radius: 4px 4px 0 0;
        }
    }
}

.promotion__terms-conditions {
    font-size: 1em;
    color: $grey-dark;
    float: left;
    width: 96%;
    margin: 2%;
    text-align: left;
    margin-top: -20px;
    .accordion-navigation__toggle {
        text-align: center;
        padding: $site-margin !important;
    }
    .content {
        &.active {
            font-size: 1em;
            font-family: $body-font-regular;
            background: none !important;
            padding: 0 ($site-margin * 2) 0 0 !important;
        }
    }
    a {
        font-family: $title1-font !important;
        color: $global-link-color !important;
        background: none !important;
        text-decoration: underline;
    }
    a:hover {
        color: darken($global-link-color, 5%);
    }
    @media #{$small-only} {
        font-size: 1em;
        line-height: 1.3em;
    }
    ol {
        font-family: $body-font-regular;
        font-size: 0.9em;
        font-style: normal;
        line-height: 1.5em;
    }
    li {
        list-style: inherit;
    }
}
.related-promos {
    @include grid-column(12);
    padding: 0;
    background: $white;
    padding: 1.25rem;
    margin-top: 1.25rem;
    .section-left__title {
        /* top gradient content */
        background-color: $alabaster;
        margin: 0;
        margin-bottom: $site-margin;
        padding: 5px;
        padding-left: $site-margin !important;
        color: $nav-main-color;
        font-size: 15px !important;
        text-align: left !important;
        text-transform: uppercase !important;
    }
    .three-columns-equal {
        padding: $site-margin;
    }
    .related-promos__wrap {
        @include grid-column(12);
        @include show-for-large-up;
        padding: 0;
        .tabs dd a {
            text-transform: uppercase;
        }
    }
    .related-promos__thumb {
        @include grid-column(4);
        @include show-for-large-up;
        padding: 0;
        @media #{$medium-only} {
            @include grid-column(6);
            padding: 0;
        }
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0;
        }
    }
    .promotion__wrapper {
        @include border-radius(4px);
        padding-bottom: $site-margin !important;
        //height: 355px;
        @media #{$medium-only} {
            @include grid-column(12);
            height: auto;
            padding: 0;
            max-height: 100%;
        }
        @media #{$small-only} {
            @include grid-column(12);
            height: auto;
            padding: 0;
            max-height: 100%;
        }
    }
    .promotion__play-now,
    .promotion__optin {
        bottom: 15px;
        margin-left: 0;
    }
    .promos-slider {
        @include grid-column(12);
        @include hide-for-large-up;
        ul {
            margin: 0;
        }
    }
}

.promo__container__content {
    @include grid-column(12);
    background-color: $white;
    padding: $site-margin;
    @media #{$large-up} {
        padding: $site-margin * 2;
    }
    @media #{$small-only} {
        padding: $site-margin;
    }
    h2 {
        line-height: 1.1;
    }

    table {
        &.responsive {
            th {
                color:$Blumine;
            }
        }
    }
}

.promo__container__row {
    @include grid-column(12);
    @include hide-for-small-only;
    background: $white;
    // padding: $site-margin;
    text-align: center;
    .cta-opt-in {
   
        @include grid-column(6, $center: true);
        margin: 0 3px;
        width: 47%;
        display: inline-block;
        font-family: "proximanova-extrabold", Helvetica, Arial, sans-serif !important;
        font-size: 1.3em;
        float: left;
        background: $trinidad;
        color:$white;
        box-shadow: 0px 2px 0px 0px $trinidad;
        height:40px;
        padding: 10px;

        &:hover {
            background-color: $grenadier;
        }
    }
}

.promo__container__button {
    @include grid-column(6, $center: true);
    margin: 0 3px;
    width: 47%;
    display: inline-block;
    font-size: 1.3em;
    //margin-top: $site-margin;
    @media #{$small-only} {
        width: 98%;
        margin-top: $site-margin;
    }
}

.promotions-detail-content {
    .section__header {
        &.section-full-width__title {
            background: $white;
            padding:1.25rem 1.25rem 0rem 1.25rem;
        }
        .section-left__title {
            background-color: $alabaster;
            padding: 5px;
            color:$Metallic-Bronze;
            font-size: 15px;
            text-align: left;
            text-transform:uppercase;
            padding-left:1.25rem;
            text-transform:uppercase !important;
        }
    }
}

.promotion-eng .promotion-eng__footer .promotion-eng__optin.active {
    background-color: $white;
    border: 1px solid $trinidad;
    font-weight: 600;
    
}

.promotion__wrapper {
     .promotion__text_terms-wrapper {
            padding: $site-margin;
            float: left;
            line-height: 100%;
            width: 100%;
            .promotion__text_terms, .promotion-eng__terms {
                font-size:rem-calc(11);
            }
        }
}
