// =============================================================================
// Promo / Bingo Rooms Slider
// =============================================================================

.promo-slider {
    @include grid-column(12);

    width: 100% !important;
    list-style: none;
    margin: 0;
    padding: $site-margin;
}

.bx-controls-direction {
    a {
        // background: rgba(0, 0, 0, 0.5) !important;
   
    }

    .bx-default-pager {
        a {
            background: #999 !important;
        }
    }
}

.promo__wrapper {
    @include grid-column(4);

    @include transition(all, 0.2s ease-out);

    float: left !important;
    display: inline !important;
    position: relative !important;
    margin-bottom: $site-margin / 2;

    @media #{$small-only} {
        @include grid-column(12);
    }

    &:hover {
        opacity: 0.75;
    }

    .promo__image {
        @include grid-column(12);

        padding: 0;
    }

    .promo__content-wrap {
        @include grid-column(12);

        background: $white;
        padding: $site-margin;

        .promo__title {
            @include grid-column(12);

            color: $global-link-color;
            font-family: $body-font-bold;
            font-size: 15px;
        }

        .promo__content {
            @include grid-column(12);

            color: $grey-dark !important;
            font-family: $body-font-regular !important;
            font-size: 13px !important;

            @media #{$small-only} {
                min-height: auto;
            }

            @media #{$small-only} {
                min-height: 50px;
            }

            min-height: 100px;
        }

        .promo__more-info {
            @include grid-column(12);

            font-family: $body-font-bold;
            font-size: 13px !important;
            margin-bottom: $site-margin;
        }
    }
}

.promos-slider-mobile {
    @include grid-column(12);

    padding: ($site-margin / 2) 0 ($site-margin / 2) 0;
}