// =============================================================================
// Game Details - SEO Page
// =============================================================================

.bingo-details-page {
    .editor-buttons {
        display: none !important;
    }

    padding: 0;
    margin-bottom: $site-margin;

    @media #{$small-only} {
        @include grid-column(12, $collapse: true);

        padding-top: 0px;
        margin-top: 0px;
        border: none;
    }

    .section__title {
        @include grid-column(12);

        /* top gradient content */
        background-image: linear-gradient(0deg, #E9DDED 2%, #FFFFFF 100%);
        margin: 0;
        padding: 5px;
        padding-left: $site-margin !important;
        color: $nav-main-color;
        font-size: 15px;
        text-align: left;
        margin-bottom: $site-margin;
        border-radius: 4px;
    }

    .two-columns-content-wrap {
        @include grid-row;

        float: none !important;
        padding: 0 ($site-margin / 2);
        padding-bottom: $site-margin / 2;

        @include linear-gradient;

        border-radius: 4px;

        @media #{$small-only} {
            padding: 0 ($site-margin / 2);
        }

        .two-columns-content-wrap__left {
            padding: 0 !important;
            margin-right: $site-margin;
            background: $white;

            @media #{$large-up} {
                width: 66%;
            }

            @include border-radius(4px);

            @media #{$medium-only} {
                padding-right: 0;
            }

            @media #{$small-only} {
                padding-right: 0;
            }

            .two-columns-content-wrap__left__inner {
                background: $white;

                @include border-radius(4px);

                overflow: hidden;
                margin-bottom: $site-margin;
            }
        }

        .two-columns-content-wrap__right {
            padding: $site-margin;
            background: $white;
            border-radius: 4px;
            width: 32%;
        }
    }

    .bingo-detail-wrap__title-bar {
        @include grid-column(12, $collapse: true);

        width: 100%;
        font-family: $body-font-regular;
        text-transform: uppercase;
        color: $white;
        font-size: rem-calc(24px);
        background-color: black;

        @include vert-align(38px);

        margin-bottom: $site-margin;
        padding-left: $site-margin;

        @media #{$small-only} {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .bingo-detail-content__bingo-schedule {
        @include grid-column(12);

        @include linear-gradient;

        padding: $site-margin;

        .bingo-schedule {
            height: auto;
            max-height: 347px;
        }

        .content-holder__title {
            @extend %title--background--styling;
            @include grid-column(12);
            h1 {
               @extend %content-holder--desktop--title--h1;
            }
            .content-holder__title__link {
                float: right;
            }
        }
    }

    .bingo-detail-content {
        @include grid-row;

        @include border-radius(4px);

        background: $white;

        //margin-bottom: $site-margin;

        .bingo-detail-content__img {
            @include border-radius(4px 4px 0 0);

            max-height: auto;
            overflow: hidden;

            // @include vert-mid-align;

            img {
                @include grid-column(12);

                padding: 0;
            }
        }

        .bingo-detail-content__acquisition {
            padding: 0 20px !important;
        }

        .lobby-wrap__content-box {
            @include grid-column(12);

            // width: 94%;
            // border-radius: 4px;
            // margin: 0 3%;
            padding: 15px;
            padding-bottom: 20px;
            padding-top: 5px;
            margin-bottom: $site-margin * 2;
            background: #f0e9f5;
         


            .lobby-wrap__content-box__header {
                padding: $site-margin 0;
                background-image: linear-gradient(-180deg, $theme--ui--pink1 3%,$theme--ui--pink4 100%);
            color: $theme--ui--white;



            @media #{$medium-only} {
             padding-left:0;
             padding-right:0;
            }

            @media #{$small-only} {
             
             padding-left:0;
             padding-right:0;

            }






            }

            // .content-holder__title h1 {
            //     font-size: 15px;
            //     color: $nav-main-color;
            // }

            .lobby-wrap__content-box__content {
                padding: 0;
            }
        }

        .bingo-detail-content__seo {
            @include grid-column(12);

            padding: $site-margin * 2;
        }

        .bingo-detail-content__right {
            @include grid-column(5, $collapse: true);

            width: 32% !important;
            padding-right: 0px;
            background-color: white;

            @media #{$medium-only} {
                @include grid-column(6);
            }

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
            }

            img {
                width: 100%;
                margin-bottom: $site-margin;
            }

            > article.login-box > h1 {
                font-size: 1em;
            }
        }

        .bingo-detail-content__left {
            @include grid-column(7, $collapse: true, $float: left);

            width: 68% !important;

            @media #{$medium-only} {
                @include grid-column(6);
            }

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);

                margin-top: 0px;
                margin-bottom: $site-margin;
            }

            position: relative;

            .play-now-button {
                position: relative;
                top: 22%;
                width: 135px;
                height: 150px;
            }

            .overlay-holder {
                position: relative;
            }

            .overlay {
                position: absolute;
                height: 100%;

                @include grid-column(12, $collapse: true, $float: left);

                @media #{$medium-only} {
                    @include grid-column(12, $collapse: true);
                }

                @media #{$small-only} {
                    @include grid-column(12, $collapse: true);
                }

                height: 100%;
                background-color: #000;

                @include opacity(0.6);

                z-index: 888;
                text-align: center;
            }

            img {
                width: 100%;
                height: auto;

                @include opacity(1);

                padding-right: 10px;
            }

            .bingo-detail-content__left__thumbnail {
                @include grid-column(6, $collapse: true);

                @media #{$small-only} {
                    @include grid-column(6, $collapse: true);
                }

                padding-top: $site-margin;
            }
        }

        .bingo-detail-content__progressive-icons {
            @include block-grid(4);

            margin: 0px;
            margin-top: 10px;
        }

        .bingo-detail-content__acquisition {
            @include grid-column(12, $collapse: true);

            margin-top: 1em;
            margin-bottom: 1em;
            border: 0px;

            .text-partial {
                background-color: transparent;
                padding: 25px 5px 5px 5px;
                border: 1px dashed $brand-color-light !important;
                margin-bottom: 15px;

                p {}

                > h1 {
                    font-size: 1.6em;
                    color: #E44B0C;
                    font-family: $title1-font;
                    text-transform: capitalize;
                    border: none;
                    margin-bottom: 0px;
                    padding: 8px;
                    text-align: center;
                    line-height: 18px;

                    @media #{$small-only} {
                        font-size: 1em;
                    }
                }
            }
        }

        .bingo-detail-content__acquisition__cta {
            > div {
                @include grid-column(6);

                @media #{$small-only} {
                    @include grid-column(12);
                }
            }
        }
    }

    .bingo-detail__wrap {
        @include grid-column(12, $last_column: true);

        line-height: 22px;

        p {
            font-family: $body-font-regular;
            font-size: rem-calc(12px);
            color: $grey-dark;
            margin-bottom: 18px;
        }

        h3 {
            color: $brand-color;
            font-family: $title1-font;
            font-size: 1.2em;
            padding: 5px;
            margin-top: 0px;

            // background-color: $brand-color;
            text-transform: uppercase;
            font-style: initial;
            border-bottom: 1px solid $black;
        }

        a {
            color: $brand-color;
        }
    }

    .games-detail-page__rooms {
        @include grid-column(12);

        padding: 20px 10px;
        margin: 0;
        background: #f0e9f5;

        li {
            @include grid-column(3);

            @include border-radius(4px);

            @include transition(all, 0.2s ease-out);

            overflow: hidden;
            width: 23%;
            margin: 1%;
            background-image: linear-gradient(-180deg, #ff8fd7 0%, #ff7bd0 46%, #ff00aa 100%);
            box-shadow: 0px 3px 0px 0px #C70064, inset 0px 1px 0px 0px #FFC5EA;
            padding: 0px;
            float: left;
            text-align: center;

            &:hover {
                box-shadow: 0px 3px 0px 0px #ff00aa, inset 0px 1px 0px 0px #ff00aa;
                opacity: 0.85;
            }

            @media #{$small-only} {
                @include grid-column(6, $collapse: true);

                width: 48%;
            }

            img {
                @include grid-column(12);

                padding: 0;
                margin: 0;
            }

            a {
                @include grid-column(12);

                background: none;
                box-shadow: none;
                margin: 0;
                padding: 0;
                font-size: 20px;
            }
        }
    }

    .game-icon-wrap {
        @include grid-column(4);
        &.first-child{
            margin-left:0;
        }

        @include hide-for-medium-only;

        @include hide-for-small-only;

        @media #{$medium-only} {
            @include grid-column(6);
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }

        img {
            width: 100%;
            margin-bottom: $site-margin;
        }
    }

    .bingo-detail-content__right__game-table {
        font-size: 15px;
        color: $grey-dark;
        font-family: $body-font-regular;
        margin-left: 0px !important;
        padding-left: 10px;
        padding-right: 10px;

        ul {
            list-style: none !important;
        }

        > li {
            list-style: none;
            font-size: rem-calc(12px);
            border-bottom: 1px solid $grey;

            @include vert-align(27px);

            @media #{$medium-only} {
                @include vert-align(34px);
            }

            @media #{$small-only} {
                font-size: rem-calc(14px);

                @include vert-align(36px);
            }

            .bingo-detail-content__right__game-table__title {
                width: 120px;
                padding-right: $site-margin;
                display: inline-block;
                color: $brand-color;

                @media #{$small-only} {
                    width: 50%;
                }
            }
        }

        @media #{$medium-only} {
            @include grid-column(12, $collapse: true);
        }
    }

    .cta-login {
        @include grid-column(5, $float: left);

        width: 48%;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 25px;

        @media #{$small-only} {
            @include grid-column(12);
        }
    }

    .cta-join {
        @include grid-column(5, $float: right);

        width: 48%;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 25px;

        @media #{$small-only} {
            @include grid-column(12);
        }
    }

    .cta-play {
        @include grid-column(12);

        margin-top: 10px;
        font-size: 25px;
    }
}

.game-description {
    @include grid-column(12, $float: right, $last_column: true);

    margin-right: 0px;

    @media #{$medium-only} {
        @include grid-column(6);
    }

    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
    }

    > h1 {
        @include grid-column(12, $collapse: true);

        width: 100%;
        font-family: $body-font-regular;
        color: $white;
        font-size: rem-calc(24px);
        background-color: $brand-color;

        @include vert-align(38px);

        margin-bottom: $site-margin;
        padding-left: $site-margin;
    }

    > p {}
}

.games-detail-page__bottom {
    @include grid-column(12);

    padding: 0;

    .banner {
        margin-bottom: 1em;
    }

    ._author-block {
        @include grid-column(12);

        // padding: 20px;
        margin: 0;

        ._author-block__avatar {
            width: auto;
        }
    }

    .game-review__content__title, .game-review__content__date {
        a {
            color: $nav-main-color !important;
        }
    }
}