.bingo-schedule-mobile {
    @include grid-column(12);

    padding: 0 !important;
    width: 100% !important;
    margin: $site-margin / 2;
    margin-bottom: 0;
    overflow: hidden !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch !important;

    @media #{$medium-only} {
        width: 100% !important;
    }

    @media #{$large-only} {
        width: 100% !important;
    }

    ul {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow: initial !important;

        li {
           @extend %schedule--card--item;

 
            &:last-child {
                margin-right: 0 !important;
            }

            .name {
               @extend %schedule--card--title;
               
            }

            .price {
               @extend %schedule--card--price;

              
            }

            .room-name {
              @extend %schedule--card--roomname;
            }

            .jackpot {
              @extend %schedule--card--jackpot;
            }

            .starts {
                @include grid-column(6);

                width: 80px !important;
                padding: 2px 0;
                padding-left: 25px;
                 color: $theme--ui--white;
                background: url(../_images/common/mobile-bingo-schedule/clock.svg) no-repeat left center;
                background-size: 16px 16px;
                background-position: 4px 4px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .cta-play {
                @include grid-column(6);
                
                float: right;
                width: 36%;
                margin-right: 4px;
                line-height: 1.5;
                padding: 0;
                font-size: 13px;
                text-shadow: none;
            }




              .cta-play-time{
            
           @extend %bingoschedule--play--button;
             
              .cta-play-text{  
            @extend %bingoschedule--play--text;
              
                          }
                    }


        
                


            &.funded {
                opacity: 0.5;

                .name, .price, .room-name, .jackpot, .starts {
                    color: $theme--ui--black;
                }



                .cta-play {
                    background: lighten($nav-active-color, 15%);
                    box-shadow: none;
                    color: $white;
                }
            }
        }
    }
}