.bingo-schedule {
    @include grid-column(12);

    padding: 0;
    height: auto;
    height: 347px;
    margin-bottom: $site-margin / 2;
    overflow: hidden;

    &:after {
        clear: both;
    }

    .tabs-content {
        margin-bottom: 0;
    }

    // Homepage Bingo Schedule Height
    .bingo-schedule-content & {
        height: auto !important;
        padding: $site-margin;
    }

    // Bingo Schedule Category Tabs
    .bingo-schedule__tabs {
        @include show-for-medium-up;

        @include grid-column(12);

        height: 25px;
        margin-bottom: $site-margin / 1.8;
        padding: 0;

        dl.tabs {
            height: 25px;

            @include grid-column(12);

            padding: 0;

            dd {
                @include grid-column(2);

                //override column width to 20% so that 5 tabs fit in the tab bar
                width: 20%;
                height: 25px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }

        
                a {
                     @extend %tab--items;

                    &:hover {
                        
                            @extend %tab--items--hover;
                    }
                }

                &.active {
                    a { 

                    @extend %tab--items--active;

                    }
                }
            }
        }
    }

    // bingo schedule features header
    .bingo-schedule__header {
        @include grid-column(12);

        @include hide-for-small-only;

        background: $theme--ui--lightblue3;
        height: 20px;
        list-style: none;
        margin: 0;
        border-radius: 3px;
        margin-bottom: 4px;

        .bingo-schedule__header__title {
            padding: 0.4em;
            padding-top: 0;
            padding-bottom: 0;
            font-family: $title1-font;
            font-size: 12px;
            text-transform: uppercase;
            height: 20px;
            line-height: 22px;
            color:$theme--ui--white;
            text-align: left;
        }
    }

    // bingo schedule rows and single row
    .bingo-schedule__rows {
        @include grid-column(12);

        padding: 0;
        list-style: none;
        margin: 0;
        height: auto;

        @media #{$large-up} {
            // max-height: 288px;
            overflow-y: hidden;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .bingo-schedule__row__items {
            // background-color: $white;
            // border: solid darken(#f3eff4, 4%) 1px;
            // border-bottom: solid darken(#f3eff4, 5%) 2px;
            
            // todo skin notes


            // background-color: darken($nav-ui-alt-bg, 4%);
            // border: solid darken($nav-ui-alt-bg, 5%) 1px;
            // border-bottom: solid darken($nav-ui-alt-bg, 7%) 2px;



            @include transition(all, 0.2s ease-out);

            &.alt {
                 // todo skin notes


                // background-color: darken($nav-ui-alt-bg, 4%);
                // border: solid darken($nav-ui-alt-bg, 5%) 1px;
                // border-bottom: solid darken($nav-ui-alt-bg, 7%) 2px;
                background:$theme--ui--lightblue4;
            }

            &.active {
                 // todo skin notes


                // background-image: linear-gradient(0deg, lighten(#EFFED5, 1%) 0%, #FFFFFF 100%);
                // border: solid lighten(#93DC42, 19%) 1px;
                // border-bottom: 2px solid lighten(#93DC42, 19%);
            }

            &:hover {
                background-image: linear-gradient(-180deg, lighten(#4BA4F0, 2%) 0%, lighten(#2082D8, 2%) 51%, #0E60A8 100%);
                color: $white ;

                .room-name-col .icon {
                    background-color: $white;
                    color: $global-link-color;

                    .funded & {
                        color: $white;
                    }
                }

                .bingo-schedule__row__items_play {
                    // background-image: linear-gradient(-180deg, #4BA4F0 0%, #2082D8 51%, #0E60A8 100%);
                    // box-shadow: 0px 1px 1px 1px #0E4372, inset 0px 1px 0px 0px #8BC5F7;
                    //     border:none;
               
                }
            }

            @include grid-column(12);

            list-style: none;
            margin: 0;
            height: auto;
            margin-top: 5px;
            clear: both;
            border-radius: 5px;

            &.funded {
                opacity: 0.4;
                cursor: default;
                margin-right: 8px;

                &:hover {
                    background: $nav-ui-bg;
                }
            }

            @media #{$small-only} {
                // background-color: #f7f2e6;
                padding: 10px;
                margin-bottom: 14px;
                border: 1px solid #f2ede3;
                border-radius: 4px;
            }

            &:after {
                clear: both;
            }

            > .bingo-schedule__row__item {
                cursor: pointer;
                padding: 4px;
                padding-top: 0;
                padding-bottom: 0;
                padding-right: 0;
                text-align: left !important;
                font-size: 13px;

                @include vert-align(40px);

                @media #{$small-only} {
                    height: auto;
                    line-height: 16px;
                    text-align: center !important;
                }

                font-family: $body-font-regular;
                font-weight: bold;
                text-align: center;

                &:after {
                    clear: both;
                }

                &.funded {
                    cursor: default;

                    .bingo-schedule__row__items_play {
                        background: darken($nav-ui-bg, 10%);
                        border: none;
                        line-height: 20px;
                        height: 25px;
                        margin-top: 8px;
                        text-transform: uppercase;
                        cursor: default;
                    }

                    .bingo-schedule__row__items_play--small {
                        background: darken($nav-ui-bg, 10%);
                        border: none;
                        text-shadow: 1px 1px 0px #676767;
                    }
                }
            }
        }
    }

    // schedule columns
    .room-name-col {
        @include grid-column(4);

        font-size: 14px;

        @media #{$small-only} {
            @include grid-column(12);

            font-size: 16px !important;
            margin-bottom: 8px;
            text-transform: uppercase;
        }

        text-align: left !important;
    }

    .room-name-col .icon {
        background-color:$theme--ui--pink2;
        padding: 4px;
        padding-left: 5px;
        padding-right: 4px;
        border-radius: 100%;
        color: $white;
        font-size: 10px;
        font-family: $body-font-bold;
        font-weight: normal;
        margin-right: 5px;
        text-align: center;

        @media #{$small-only} {
            padding: 6px;
            padding-left: 7px;
            padding-right: 7px;
            text-align: center;
        }

        &.ninety {
            background-color: #7E0C3A;
        }

        &.seventy-five {
            background-color: #7E0C3A;
        }

        &.five-l {
            background-color: #7E0C3A;
        }

        &.prebuy {
            background-color: #7E0C3A;
        }
    }

    .feature-col {
        @include show-for-medium-up;

        @include grid-column(1);

        text-align: left;

        img {
            margin-top: -2px;
            min-height: 26px;
            min-width: 25px;
            max-height: 26px;
            max-width: 25px;
        }
    }

    .jackpot-col {
        @include grid-column(2);

        @media #{$small-only} {
            @include grid-column(12, $collapse: false, $float: left);

            font-size: 16px !important;
            background-color: #ffffff;
            border: 1px solid #EAEAEA;
            padding: 5px !important;
            margin-bottom: 7px;
            color: #C11258;
            border-radius: 4px;
        }

        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .price-col {
        @include show-for-medium-up;

        @include grid-column(1);

        text-align: left;
    }

    .starts-col {
        @include grid-column(3);

        text-align: left !important;
        font-size: 11px;

        @media #{$medium-only} {
            width: 26%;
        }

        @media #{$small-only} {
            @include grid-column(12);

            text-align: center !important;
            font-size: 16px !important;
            margin-bottom: 7px;
        }

        .starts-for-mobile {
            @include show-for-small-only;
        }
    }

    .play-col {
        @include grid-column(2, $collapse: true, $float: right);

        text-align: right;

        @media #{$medium-only} {
            @include grid-column(2);

            width: 15.5%;
        }

        @media #{$small-only} {
            @include grid-column(6, $center: true);
        }

        .bingo-schedule__row__items_play {
            @include show-for-medium-up;

            font-family: $button-font;
            font-size: 12px;
            font-weight: normal;
            height: 27px;
            overflow: hidden;
            padding: 2px;
            color: $white;
            text-align: center;
            line-height: 22px;
            margin-top: 6px;
            margin-right: 8px;
            text-transform: uppercase;
            cursor: pointer;
           
background-image: linear-gradient(-179deg, $theme--ui--pink3 0%, $theme--ui--pink4 100%);
box-shadow: 1px 1px 2px 0px rgba(4,42,76,0.51), inset -1px -1px 0px 0px $theme--ui--pink-boxshadow;
border-radius: 4px;


            @media #{$medium-up} {
                // max-width: 45px;
            }
        }

        .bingo-schedule__row__items_play--small {
            @include show-for-small-only;

            @include grid-column(12);

            font-size: 18px;
            text-transform: uppercase;
            background-color: $go-button;
            text-align: center;
            padding: 10px;
            color: $white;
            font-family: $button-font;
            border-radius: 2px;
            text-shadow: 1px 1px 0px darken($go-button, 8%);
            border-radius: 3px;
        }
    }
}

.mobile-bingo-menu {
    @include show-for-small-only;

    .button.dropdown {
        font-size: 13px;
        font-family: $title1-font !important;
        width: 135px;
        margin: 0;
        padding: 0;
        background-color: transparent;
        color: $global-link-color;

        &:focus {
            outline: 0;
        }
    }

    button.dropdown::after {
        border-color: $global-link-color transparent transparent transparent;
    }

    #drop1 > li > a {
        text-align: center;
        font-family: $title1-font !important;
    }
}

.dektop-bingo-link {
    @include show-for-medium-up;

    @include hide-for-small-only;
}

.home .mobile-hide-bingo, .lobby-wrap .mobile-hide-bingo {
    @include show-for-large-up;
}

.home .mobile-show-bingo, .lobby-wrap .mobile-show-bingo {
    @include hide-for-small-up;

    background-color: $white;
    padding: $site-margin / 2;
    padding-top: 10px;
    margin-bottom: 32px;

    h1 {
        font-family: $title1-font;
        font-size: 13px;
        line-height: 15px;
        color: $black;
        padding-left: 0;
    }
}

.desktop-bingo-link {
    // @include show-for-large-up;

    display: none !important;
    font-family: $title1-font;
    color: $global-link-color;
    font-size: 14px;
    padding: 0px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    text-align: right;
    height: 0px;
}

// this hides the bingo schedule tabs only within start oage when logged in as requested in DEV-4021
.lobby-wrap__content-box .bingo-schedule .bingo-schedule__tabs {
    display: none !important;
}

.content-wrapper--bingoschedule .bingo-content .bingo-schedule-holder {
    display: block;
}

.bingo-schedule-content {
    display: block !important;

    .bingo-schedule-holder {
        display: block !important;

        .content-holder__title {
            h1 {
                width: auto;
            }
        }

        .content-holder__title__link {
            width: auto;
        }
    }
}

.bingo-schedule-holder {
    @include show-for-medium-up;

    display: block !important;
}

// adds padding on bing-schedule url
.bingo-content .bingo-schedule-holder .bingo-schedule {
    // padding: $site-margin;
}