.search-input {
    position: relative;
    font-size: 1rem;
    > input[type=text], input[type=password] {
        font-size: 0.8em;
        width: 100%;
        padding: 8px 8px 8px 8px;
        border-radius: 3px;
        // box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1), inset 2px 2px 2px rgba(0, 0, 0, 0.2);
        background: $white;
        color: $black;
        transition: color 0.3s ease-out;
        height: 50px !important;
        margin-top: 6px;
    }
    input[type=text] {
        margin-bottom: 0px;
    }
    .search-input__icon {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 32px;
        height: 16px;
        background: url("../_images/common/icons/search.png") center;
        height: 100%;
        background-repeat: no-repeat;
    }
}

.desktop-search-results-container {
    top: 26px;
    border-radius: 7px;
    > li:first-child {
        &:hover {
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
        }
    }
    > li:last-child {
        border-bottom: none;
        &:hover {
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
        }
    }
}