.search-nav {
    @include list-inline;
    @include grid-column(3);
}

.search-nav input {
    background-color: #000;
    border: 1px solid #a1a1a1;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    margin: 2px;
    padding: 0.5rem;
    height: 30px;
}