//
// Regal Wins: Minor UI Enhancement for AB test (Desktop Only)
//
@mixin transition($property: all, $duration: 0.3s, $ease: ease-out) {
    -webkit-transition: $property $duration $ease;
    -moz-transition: $property $duration $ease;
    -o-transition: $property $duration $ease;
    transition: $property $duration $ease;
}


@media #{$medium-up} {

    #home .header,
    #home .header--logged-in {
        position: fixed !important;
    }

    #ajax-wrapper {
        padding-top: 120px;
    }

    .header,
    .header--logged-in {
        height: 120px;

        #home & {
            border: none;
        }

        .header-inner {
            height: 120px;
        }
    }

    .header .header-inner__left__top,
    .header .header-inner__right__top,
    .header--logged-in .header-inner__left__top,
    .header--logged-in .header-inner__right__top {
        margin-top: 15px;
    }

    .header .header-inner__middle,
    .header--logged-in .header-inner__middle {
        margin-top: 15px;
    }

    .header-inner__right__bottom,
    .header-inner__left__bottom {
        margin-top: 15px;
    }

    .header .header-inner__left__bottom,
    .header--logged-in .header-inner__left__bottom {
        margin-top: 15px;
    }

    .header .cat-search-bar .cat-search-bar__games-search input,
    .header--logged-in .cat-search-bar .cat-search-bar__games-search input {
        height: 36px;
        background: #202020;
        border-radius: 2px;
        border: none;
        color: white;
        font-size: 14px;
        text-transform: initial;

        &::-webkit-input-placeholder {
            color: #C9C9C9;
        }
        &:-moz-placeholder {
            color: #C9C9C9;
        }
        &::-moz-placeholder {
            color: #C9C9C9;
        }
        &:-ms-input-placeholder {
            color: #C9C9C9;
        }
    }

    .header .cat-search-bar .cat-search-bar__games-search .cat-search-bar__games-search__icon,
    .header--logged-in .cat-search-bar .cat-search-bar__games-search .cat-search-bar__games-search__icon {
        position: absolute;
        right: 9px;
        top: 5px;
    }

    .buttons-bar__login,
    .nav-for-mobile>a.login-button--nav-for-mobile.menu-link {
        background: none !important;
        margin-right: 15px;
        height: 36px !important;
        line-height: 2.6!important;
        border: 1px solid rgba(223, 194, 94, 0.50) !important;
        border-radius: 2px !important;

        &:hover {
            @include transition;

            color: #ffffff;
            border: 1px solid rgba(255, 255, 255, 1) !important;
        }


        a {
            color: #BEA349 !important;
            line-height: 2.6!important;
            font-weight: 600;

            &:hover {
                @include transition;
                color: #ffffff!important;
            }
        }
    }


    .header .cat-search-bar .cat-search-bar__categories,
    .header--logged-in .cat-search-bar .cat-search-bar__categories {

        background: none;
        width: 131px;
        height: 36px;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.30);
        border-radius: 2px;

        &:hover {
            @include transition;
            border: 1px solid rgba(255, 255, 255, 1);
            background: none !important;
        }


        .games-filter-menu span,
        .ui-game-filter-menu-home-above span {
            position: relative;
            color: white;
            font-weight: 600;
            line-height: 2.9;
        }
    }

    .header .cat-search-bar .cat-search-bar__categories .game-filter-btn__wrapper:hover,
    .header--logged-in .cat-search-bar .cat-search-bar__categories .game-filter-btn__wrapper:hover {

        background: none !important;
    }

    .header .desktop-nav>li,
    .header--logged-in .desktop-nav>li {

        background: none;
    }

    .games-filters .games-menu__container .games-menu__games-nav #allslots a,
    .games-filters .games-menu__container .games-menu__games-nav #table-card a,
    .games-filters .games-menu__container .games-menu__games-nav #scratchcards a {
        border-radius: 2px;
        padding: 10px 15px;
    }

    .games-filters .games-menu__container .games-menu__games-nav .ui-game-filter-btn-home-above {
        background: none;
        width: 131px;
        height: 36px;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 2px;
        color: white;
        font-weight: 600;
    }

    .games-filters .games-menu__container .games-menu__games-nav {
        font-weight: 600;
    }

    .games-filters .games-menu__container .games-menu__games-nav #allslots a.active,
    .games-filters .games-menu__container .games-menu__games-nav #table-card a.active,
    .games-filters .games-menu__container .games-menu__games-nav #scratchcards a.active {
        color: #000;
        background: #ffffff;
        box-shadow: none;
    }

    .header .desktop-nav>li a,
    .header--logged-in .desktop-nav>li a {

        &:hover {
            @include transition;
            color: #BEA349 !important;
            text-decoration: none;
        }
    }

    .cta--button--join,
    .header-inner__right__bottom .buttons-bar .buttons-bar__join,
    .cta--button--join {
        @include transition;
        background: -webkit-linear-gradient(to bottom, #04e613 -35%, #005d0d 150%);
        background: -o-linear-gradient(to bottom, #04e613 -35%, #005d0d 150%);
        background: linear-gradient(to bottom, #04e613 -35%, #005d0d 150%);
        box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.50);
        border-radius: 2px;
        height: 36px !important;


        &:hover {
            @include transition;

            background: -webkit-linear-gradient(to bottom, #04e613 -35%, #005d0d 150%);
            background: -o-linear-gradient(to bottom, #04e613 -35%, #005d0d 150%);
            background: linear-gradient(to bottom, #04e613 -35%, #005d0d 150%);
            box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.50) !important;
        }

        a {
            @include transition;
            color: #ffffff !important;
            line-height: 2.6!important;
            font-weight: 600;

            &:hover {
                @include transition;

                background: #00ab0b;
                box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.50) !important;
            }
        }
    }

    .header .desktop-nav>li,
    .header--logged-in .desktop-nav>li {
        padding-left: 0;
    }

    .header .desktop-nav>li a,
    .header--logged-in .desktop-nav>li a {
        font-weight: 600;
        letter-spacing: -0.1px;
    }

    .header .desktop-nav.loggedout-right,
    .header--logged-in .desktop-nav.loggedout-right {
        margin: 0 auto;
        text-align: center;
    }

    .header .desktop-nav li,
    .header--logged-in .desktop-nav li {
        float: none;
        position: relative;
        display: inline-block;
    }

    .games-filters .games-menu__container .games-menu__games-nav {
        @include transition;
        height: auto;
        margin-bottom: 5px;
        padding-top: 20px;
        padding-left: 15px;
        background-color: #353535;
        margin-bottom: 10px;
        padding-bottom: 3px;
    }

    .middle-content__box.games-list {
        padding: 0 !important;       
    }

    .games-filters .games-menu__container .games-menu__games-nav .ui-game-filter-btn-home-above {
        padding: 10px 15px;
        &:hover {
            @include transition;
            background: none;
            color: white;
            border: 1px solid white;
        }
    }

    .game-icon {
        padding: 10px 5px;
        .game-icon__bottom {
            background-color: #353535;
            .game-icon__title {
                text-transform: initial;
                font-weight: 600;
            }
        }
    }

    .footer__row {
        max-width: 100%;
        padding: 1em;
    }



    .footer__row__payments,
    .footer__row__legal {
        max-width: 62.5rem;
        margin: 0 auto;
    }

    .footer__row:nth-child(3) {
        margin-bottom: 0;
    }


    #home .text-partial>h1 {
        color: #fff !important;
        background: none;
        padding: 0;
    }

    .text-partial {
        padding: 0 !important;
        background: none;
    }
}