.accordion-wrap {
    // background-image: linear-gradient(-180deg, lighten($grey-light, 10%) 0%, darken($grey-light, 2%) 46%, darken($grey-light, 4%) 100%);
    // box-shadow: 0px 1px 1px 1px $grey-light, inset 0px 1px 0px 0px darken($grey-light, 5%);

    @include grid-column(12);

    padding: 0;
    margin: 0 !important;

    .accordion-navigation {
        @include grid-column(12);

        @include border-radius(4px);

        @include transition(all, 0.2s ease-out);

        overflow: hidden;
        margin: 0 !important;
        margin-bottom: ($site-margin / 2) !important;
        padding: 0;
        background-color: #fff;

        &:hover {
            background-color: #fff;
        }

        &:last-child {
            margin-bottom: 0 !important;
        }

        .ui-accordion {
            @include grid-column(12);

            padding: 10px 10px;
            background: url(/_images/common/accordion-down-arrow.png) no-repeat center right 12px;
            background-size: 20px 20px;

            &:hover {
                box-shadow: inset 0px 1px 2px 0px rgba(169, 169, 169, 0.5);
                background: url(/_images/common/accordion-down-arrow.png) no-repeat center right 12px;
                background-size: 20px 20px;
                background-color: #fff;

                h1 {
                    color: $global-link-color;
                }
            }

            &.active {
                background: url(/_images/common/accordion-up-arrow.png) no-repeat center right 12px;
                background-color: #fff;
                background-size: 20px 20px;

                h1 {
                    color: $global-link-color;
                }
            }

            h1 {
                @include grid-column(10);

                margin: 0;
                padding: 5px !important;
                padding-left: 15px;
                font-size: 18px;
                color: $global-link-color;
                font-family: $body-font-bold;
                line-height: 20px;
                text-align: left;
                text-transform: none;
            }
        }

        img {
            @include grid-column(1, $center: true);

            max-height: 30px;
            height: 30px;
        }

        .content {
            @include grid-column(12);

            @include transition(all, 0.2s ease-out);

            width: 100% !important;
            margin: 0;
            background: #fff;
            padding: $site-margin * 2;
            font-size: 0.85rem;

            li {
                list-style: inherit;
                margin-bottom: $site-margin / 2;
            }
        }
    }

    #panel1a {
        display: block !important;
    }
}