.error-page {
    font-size: 1rem;
    text-align: center;
    @include grid-row;
    padding: $site-margin;
    // background-color: lighten($lynch, 40%);
    @include box;
    height: 400px;
    .error-page__image {
        text-align: left;
        height: 100%;
        img {
            width: auto;
            height: 100%;
        }
    }
    .error-page__text {
        font-family: $heading-font-bold;
        position: absolute;
        padding: 0.8em;
        text-align: center;
        background: url("../_images/common/white-85-opacity.png");
        @include border-radius(4px);
        @media #{$small-only} {
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
        }
        @media #{$medium-up} {
            top: 10%;
            left: 45%;
            width: 50%;
        }
    }
    .error-page__error {
        @include grid-column(12, $collapse: true);
        color: $ctacolor;
        font-family: $body-font-bold;
        @media #{$small-only} {
            font-size: 2em;
        }
        @media #{$medium-only} {
            font-size: 4em;
        }
        @media #{$large-up} {
            font-size: 6em;
        }
    }
    .error-page__msg {
        font-family: $body-font-bold;
        @include grid-column(12);
        font-weight: bold;
        @media #{$small-only} {
            font-size: 1.5em;
        }
        @media #{$medium-up} {
            font-size: 1.2em;
        }
    }
    .error-page__suggestion {
        @include grid-column(12);
        font-size: 1em;
        text-align: center;
        a {
            text-decoration: underline;
        }
    }
    p {
        line-height: 100%;
    }
    .join-now-button {
        padding: 0.5em;
        font-size: 1em;
        background-color: orange;
    }
}