.section {
    font-size: 1rem;
    padding-bottom: $site-margin;
    margin: $site-margin;
    position: relative;

    .section__title {
        // @include grid-column(12,$float:none);
        // text-transform: uppercase;
        // width: 100%;
        // font-family: $body-font-demi;
        // color: $white;
        // font-size: rem-calc(17px);
        // background-color: $jungle-green;
        // @include vert-align(34px);
        // margin-bottom: $site-margin;
        // padding-left: $site-margin;
        background-color: transparent;
        color: $flame-pea;
        font-family: $heading-font-extrabold;
        text-transform: uppercase;
        font-size: 20px;
        background-position-y: -10px;
        background-position-x: -9px;
        background-repeat: no-repeat;
        height: 28px;
        margin-top: 7px;
        padding-left: 0;

        a {
            color: $flame-pea;
        }

        @media #{$medium-only} {
            margin-top: 20px;
            padding-top: 0;
            padding-left: 0;
        }

        @media #{$small-only} {
            margin-top: 10px;
            padding-top: 0;
            padding-left: 0;
            font-size: 16px;
        }
    }

    .section__header {
        border-bottom: none;
        margin-top: $site-margin;

        @media #{$small-only} {
            margin-top: 0;
        }
    }

    .section__banner {
        margin-bottom: 1em;
        text-align: center;
    }
}

div.promotions.section > div.section__header {
    padding-left: $site-margin !important;
}