/* Reality Check Modal */

.reality-check__container {
    background: rgba(0, 0, 0, 0.85);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999999999999;
}

.reality-check__container .reality-check__content {
    top: 50%;
    border-radius: 4px;
    position: fixed;
    border: none;
    left: 50%;
    width: 650px;
    height: auto;
    margin: 0;
    padding: 1.75rem;
    background: none;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.reality-check__container .reality-check__content h2 {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    width: 100%;
    float: left;
    margin: 0;
    text-align: center;
    font-weight: normal;
    color: #FFF;
    line-height: 1;
    font-size: 30px;
}
.reality-check__container .reality-check__content .reality-check__buttons {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    width: 100%;
    float: left;
    padding: 0;
    margin: 0.875rem 0;
}

.reality-check__container .reality-check__content .reality-check__buttons button {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    width: 33.33333%;
    float: left;
    -webkit-transition: all, ease-out 0.1s;
    transition: all, ease-out 0.1s;
    width: 45%;
    margin: 2%;
    color: #179f2d;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
        font-size: 16px;
    text-transform: uppercase;
    padding: 0;
    line-height: 1.2;
    min-height: 75px;
    text-shadow: none;
}

.reality-check__container .reality-check__content .reality-check__buttons button.continue-cta {
    color: #FFF;
    background: none;
    border: 2px solid #FFF;
}

.reality-check__container .reality-check__content .reality-check__buttons button.continue-cta:hover {
    background: none;
    color: #FFF;
    border: 2px solid rgba(255, 255, 255, 0.55);
}

.reality-check__container .reality-check__content .reality-check__buttons button.stop-cta {
    color: #4AFF68;
    background: none;
    border: 2px solid #179f2d;
}

.reality-check__container .reality-check__content .reality-check__buttons button.stop-cta:hover {
  background: #179f2d;
  color: white;
  border: 2px solid #179f2d;
}

.reality-check__container .reality-check__content p {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    width: 100%;
    float: left;
    margin: 0;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    line-height: 1.4;
}
.reality-check__container .reality-check__content a {
    color: #fff;
    text-decoration: underline;
}
.reality-check__container .home-cta {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    width: 100%;
    float: left;
    text-align: center;
    color: #FFF;
    text-decoration: underline;
    background: none;
    cursor: pointer;
    position: relative;
    top: 2.625rem;
}