.search-screen {
    background: $luckyvip--midnight !important;
    padding-bottom: ($site-margin * 2) !important;
    padding-top: 65px !important;
    // bottom: 0 !important;

    .search-inner {
        padding: 0 $site-margin !important;

        .search-input {
            @include grid-column(12);

            position: relative;
            padding: 0;
            right: 0;
            color: #303030;
            height: auto;
            line-height: 1.5;
            margin-bottom: $site-margin / 2;

            input[type=text] {
                background-color: #F4F2F6;
                height: 45px;
                padding: $site-margin !important;
                border-radius: 4px !important;
                border-color: #DACCE0 !important;
                font-size: 18px !important;
            }
        }

        h4 {
            width: auto;
            color: $white!important;
            text-align: left;
            font-size: 16px;
            text-transform: none;
            margin-bottom: $site-margin / 2;
            z-index: 1;
        }
    }

    .search-results {
        @include grid-column(12);

        margin: 0 !important;
        padding: 0 !important;

        .search-result {
            border-top: 1px solid $luckyvip--san-juan !important;
            padding: ($site-margin / 2) 0 !important;

            &:last-child {
                border-bottom: 1px solid $luckyvip--san-juan !important;
            }

            a {
                height: auto;
            }
        }

        .search-result__thumb {
            width: 33.33333% !important;
            margin: 0 !important;

            .search-result__thumb__img {
                margin: 0 !important;
            }
        }

        .search-result__cta {
            margin: 0 !important;
            display: none !important;
        }

        .search-result__name {
            padding: 0 $site-margin !important;
            margin: 0 !important;
            height:82px !important;
        }

        .search-result__name__inner {
            color: $white !important;
            font-family: $body-font-bold !important;
            font-size: 15px !important;
            line-height: 16px !important;
            text-align: left !important;
            text-transform: uppercase !important;
            margin: 0 !important;
        }

        .search-result__cta {
            height: 60px !important;

            &:hover {
                -webkit-filter: invert(100%) !important;
            }
        }
    }

    .search-screen-mobile__header {
        @include grid-column(12);

        @include transition(all, 0.2s ease-out);

        padding: 0;
        position: fixed;
        top: -50px;
        right: 0;
        color: $luckyvip--darknavy;
        font-size: 18px;
        font-family: $body-font-medium;
        text-align: center;
        text-transform: uppercase;
        padding: $site-margin;
        background: $luckyvip--picton-blue url(../_images/common/mobile-menu-icons-svg/close-icon.svg) no-repeat right 15px center !important;
        background-size: 23px !important;

        // box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
        display: block;
        height: auto;
        z-index: 1;

        &.close {
            top: 0px;
        }
    }
}