.start-convert-points-content {
    @include grid-column(12);

    padding-left: 0;
    padding-right: 0;

    .start-convert-points-content__header {
        @include show-for-large-up;

        @include grid-column(12);

        font-family: $nav-font-bold;
        font-weight: normal;
        color: $nav-main-color;

        /* top gradient content */
        background-image: linear-gradient(0deg, #E9DDED 2%, #FFFFFF 100%);
        margin: 0;
        margin-bottom: $site-margin;
        padding: $site-margin / 2;
        font-size: 15px;
        text-transform: uppercase;
    }

    .start-convert-points-content__wrap {
        @include grid-column(6, $center: true);

        padding: 18px;
        text-align: center;

        @media #{$medium-only} {
            @include grid-column(8);

            width: 60%;
            margin: 0 20%;
            padding-top: 0;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding-top: 0;
        }

        .start-convert-points-content__text {
            @include grid-column(12);

            font-family: $body-font-bold;
            float: left;
            line-height: 1.2em;
            font-size: 1.8em;
            margin-top: $site-margin;
        }

        .start-convert-points-content__field {
            @include grid-column(12);

            // border-color: gray;
            border-radius: 4px;
            color: $global-link-color;
            // background: $input-ui-bg !important;
            font-family: $body-font-medium;
            font-size: 2em;
            text-align: center;
            border: 0;
            padding: 0px 25px;
            height: 50px;
            margin-bottom: $site-margin;

            @include box-shadow(grey 0px -1px 1px 0px);
        }

        .start-convert-points-content__button {
            @include grid-column(12);

            @include CTA-button(10px 0px, 4px, 4px, #4BA4F0, #2082D8, #0E60A8, #0E4372, #8BC5F7);

            font-size: 20px;
            line-height: 24px;
        }

        .start-convert-points-content__error {
            @include grid-column(12);

            float: left;
            margin-top: $site-margin;
            color: red;
        }
    }
}