.vip-level-area {
    //float: left;

    @media #{$medium-up} {
        float: right;
    }

    font-family: $body-font-bold;
    color: $main-highlight-color;
    font-size: 20px;
    padding-top: 10px;
    padding: 0;
    text-align: center;

    .vip-text {
        @media #{$medium-only} {
            display: block;
            margin-bottom: 10px;
            font-size: 14px;
        }
    }

    .vip-shape {
        text-align: center;
        height: 70px;
        width: 50%;
        float: right;
        text-indent: -9000px;

        @media #{$small-only} {
            height: 70px;
        }

        .mobile-menu-top-area__vip-level & {
            position: absolute !important;
            right: 0;
            text-align: center;
            height: 60px;
            width: 80px;
            float: right;
        }
    }

    // newbie
    .level-0 {
        //background-image: linear-gradient(-180deg, #00d0e8 40%, #018c9b 98%);
        background: url("../_images/myaccount-loyalty/0.png") no-repeat top center;
        background-size: contain;
    }

    // bronze
    .level-1 {
        //background-image: linear-gradient(-180deg, #d38a65 40%, #ba5734 98%);
        background: url("../_images/myaccount-loyalty/1.png") no-repeat top center;
        background-size: contain;
    }

    // silver
    .level-2 {
        //background-image: linear-gradient(-180deg, #546464 40%, #b8c8c8 98%);
        background: url("../_images/myaccount-loyalty/2.png") no-repeat top center;
        background-size: contain;
    }

    // gold
    .level-3 {
        //background-image: linear-gradient(-180deg, #c1a655 40%, #b59555 98%);
        background: url("../_images/myaccount-loyalty/3.png") no-repeat top center;
        background-size: contain;
    }

    // ruby
    .level-4 {
        //background-image: linear-gradient(-180deg, #e0175b 40%, #ff679c 98%);
        background: url("../_images/myaccount-loyalty/4.png") no-repeat top center;
        background-size: contain;
    }

    //emerald
    .level-5 {
        //background-image: linear-gradient(-180deg, #148938 40%, #76e99b 98%);
        background: url("../_images/myaccount-loyalty/5.png") no-repeat top center;
        background-size: contain;
    }

    // elite
    .level-6 {
        //background-image: linear-gradient(-180deg, #62517d 40%, #cbbae7 98%);
        background: url("../_images/myaccount-loyalty/6.png") no-repeat top center;
        background-size: contain;
    }
}