@media #{$small-only} {
    .content-holder__inner, .middle-content__box {
        .promotion-eng {
            padding: 0;
            margin-bottom: $site-margin;
        }
    }
}

.promotion-eng {
    @include grid-column(4);

    padding-left: 0;
    padding-right: $site-margin;
    padding-bottom: $site-margin;

    @media screen and (min-width: 426px) and (max-width: 768px) {
        @include grid-column(6);

        padding: $site-margin / 2;
        padding-bottom: 0;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        @include grid-column(4);

        padding: $site-margin / 2;
        padding-bottom: 0;
    }

    @media #{$small-only} {
        @include grid-column(12);

        padding: $site-margin;
        padding-bottom: 0;
    }

    .promotion-eng__wrapper {
        @include grid-column(12);

        @include border-radius(4px);

        @include be-box;

        overflow: hidden;
        padding: 0;
        background: $white;
        position: relative;

        @media screen and (min-width: 426px) and (max-width: 768px) {
            height: 600px;
            overflow: hidden;
        }

        @media screen and (min-width: 769px) and (max-width: 1024px) {
            height: 560px;
            overflow: hidden;
        }

        @media #{$large-up} {
            height: 560px;
            overflow: hidden;
        }
    }

    .promotion-eng__image {
        @include grid-column(12);

        padding: 0;
        cursor: pointer;

        @media #{$large-up} {
            max-height: 235px;
            overflow: hidden;
        }

        > img {
            width: 100%;
            margin-bottom: 0;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0;
            float: left;
            border: none !important;
            box-shadow: none;
            margin-top: 0px;
        }
    }

    .tabs {
        @include grid-column(12);

        padding: 0;
        background: none;
        margin: 0 !important;
        display: block;
        background: darken($lighter-bg, 2%);
        padding-top: $site-margin / 2;

        &.tab-full-width {
            display: block !important;

            dd {
                width: 100% !important;
                display: none;

                &:first-child {
                    display: block;
                }

                a {
                    width: 100% !important;
                    text-align: left;
                    margin: 0;
                }
            }
        }

        dd {
            width: auto !important;
            border: none;
            padding: 0;
            margin: 0;
            margin-right: 5px;
            float: left;

            a {
                margin: 0;
                padding: ($site-margin / 2) $site-margin;
                color: $grey-dark;
                background: darken($lighter-bg, 10%);
                font-weight: normal;
                font-size: 14px !important;
                font-family: $button-font;

                &:hover {
                    background: $white;
                    font-weight: normal;
                    color: $global-link-color;
                }
            }

            &.active {
                a {
                    background: $white;
                    color: $grey-dark;
                    font-weight: normal;
                    float: left !important;

                    &:hover {
                        background: $white;
                        color: $grey-dark !important;
                        font-weight: normal;
                    }
                }
            }
        }
    }

    .promotion-eng__content {
        @include grid-column(12);

        padding: $site-margin;
        background: $white;
        margin: 0;
        padding-bottom: 0;
        height: 260px;

        @media #{$small-only} {
            min-height: auto;
            height: auto;
            padding-bottom: $site-margin;
        }

        .promotion-eng__title__wrapper {
            @include grid-column(12);

            padding: 0;
            position: relative;
        }

        .promotion-eng__title {
            @include grid-column(12);

            padding: 0;
            margin: 0;
            line-height: 1;

            a {
                float: left;
                font-size: 15px;
                text-transform: uppercase;
                color: $nav-active-color;
                font-family: $button-font;
                margin-bottom: $site-margin / 2;
            }
        }

        .promotion-eng__intro {
            font-size: 13px;
            font-family: $body-font-regular;
            margin-bottom: $site-margin / 2;
        }

        .tabs-content {
            margin: 0;

            .content {
                padding: 0;
            }
        }

        p {
            font-size: 13px;
            margin-bottom: $site-margin / 2;
        }

        ul {
            font-size: 13px;
            margin: 0;

            li {
                list-style: inherit;
            }
        }
    }

    .promotion-eng__footer {
        @include grid-column(12);

        padding: $site-margin;
        padding-top: $site-margin / 2;
        bottom: 0;
        background: darken($lighter-bg, 2%);
        min-height: 80px;
        position: relative;

        @media #{$medium-up} {
            position: absolute;
        }

        .promotion-eng__terms {
            @include grid-column(6);

            padding: 0;
            text-align: left;
            font-size: 12px;
            font-weight: 600;
            color: $grey;
        }

        .promotion-eng__read-more {
            @include grid-column(6);

            padding: 0;
            text-align: right;
            text-transform: uppercase;
            font-family: $button-font;
            color: $global-link-color;
            text-decoration: underline;
            font-size: 13px;
            cursor: pointer;
        }

        .promotion-eng__optin {
            @include grid-column(12);

            @include OPT-IN-button;

            font-family: $button-font;
            cursor: pointer;
            width: 47%;
            float: left;
            margin: 0;
            margin-top: ($site-margin / 2) !important;
            padding: 0;
            text-align: center;
            line-height: 1.6;
            font-size: 17px !important;

            // display: block !important;

            &.cta-full-width {
                @include grid-column(12);

                padding: 0;
                width: 70%;
                margin: 0 15%;

                @media #{$medium-only} {
                    @include grid-column(12);

                    margin: 0;
                }

                @media #{$small-only} {
                    @include grid-column(12);

                    margin: 0;
                }
            }

            &.active {
                background: $white;
                color: $nav-active-color;
                box-shadow: 0px 0px 0px 0px darken($lighter-bg, 5%), inset 0px 0px 3px 0px darken($lighter-bg, 5%);
                text-shadow: none;
                text-transform: uppercase;
                padding: 2px;
            }
        }

        .promotion-eng__play-now {
            @include grid-column(12);

            @include PLAY-button;

            font-family: $button-font;
            cursor: pointer;
            width: 47%;
            float: right;
            margin: 0;
            margin-top: ($site-margin / 2) !important;
            padding: 0;
            text-align: center;
            line-height: 1.6;
            font-size: 17px !important;
            text-transform: uppercase;

            &.cta-full-width {
                @include grid-column(12);

                padding: 0;
                width: 60%;
                margin: 0 20%;

                @media #{$medium-only} {
                    @include grid-column(12);

                    padding: 0;
                    margin: 0;
                }

                @media #{$small-only} {
                    @include grid-column(12);

                    padding: 0;
                    margin: 0;
                }
            }

            // display: block !important;
       
        }
    }

    ul.promotion-eng__comp-info {
        @include grid-column(12);

        padding: 0;
        margin: 0;
        margin-bottom: $site-margin;

        li {
            @include grid-column(12);

            padding: 0;
            list-style: none;
            margin-bottom: $site-margin / 2;

            .title {
                @include grid-column(6);

                float: left;
                padding: 0;
                font-family: $button-font;
                font-size: 14px;
                line-height: 1.6;
                text-transform: uppercase;
            }

            span {
                @include grid-column(5);

                @include border-radius(20px);

                float: right;
                padding: 0;
                background: darken($lighter-bg, 2%);
                font-family: $button-font;
                font-size: 14px;
                line-height: 1.6;
                text-transform: uppercase;
                text-align: center;
            }

            &:before {
                content: ' ';
            }
        }
    }
}