// recent messages area
.recent-messages {
    &.collapsed {
        height: auto;
        overflow: hidden;
        margin: 0;
    }

    &.expanded {
        height: auto;
        overflow: visible;
        margin: 0;
    }

    .recent-messages__message {
        @include transition(all, 0.2s ease-out);

        margin-bottom: 2px;

        &.active {
            background-color: darken($white, 3%);
            margin-bottom: 0px;

            .recent-messages__message__preview,
            .recent-messages__message__date,
            .recent-messages__message__time {
                color: lighten($nav-main-color, 50%);
            }

            &:hover span {
                color: $nav-main-color !important;
            }

            &:hover {
                background-color: darken($white, 5%);

                // color: $nav-main-color !important;
           
            }
        }

        // this styles the unread message as bold and white background
        &.unread {
            .recent-messages__message__preview {
                font-family: $body-font-regular;
                background: none;
            }
        }

        .recent-messages__message__preview {
            text-transform: capitalize;

            @include transition(all, 0.2s ease-out);

            // &:hover {
            //     color: $global-link-color;
            // }
       
        }

        &:hover {
            background-color: darken($white, 8%) !important;
        }
    }

    .recent-messages__message.unread {
        background: #FFFFFF;
        list-style: none;
    }

    .recent-messages__message__select {
        margin-right: 5px;
    }

    .recent-messages__modal {
        background: darken($white, 1%) !important;

        @include transition(all, 0.2s ease-out);

        .lobby-wrap__content-box {
            background-color: darken($white, 1%);
            margin: 0;
        }
    }

    .recent-messages__switch & {
        background: none !important;
        color: $global-link-color !important;
    }
}

// options dropdow position
#msg-actions {
    top: auto !important;
    right: 18px !important;
    left: auto !important;
    max-width: 200px !important;

    &:before {
        top: -12px !important;
        left: 107px;
    }

    &:after {
        top: -14px !important;
        left: 106px;
    }
}