.search-screen {
    // background: $regalwins--black !important;
    // padding-bottom: ($site-margin * 2) !important;
    // padding-top: 65px !important;
    // bottom: 0 !important;
    position: relative;
	padding: 15px 15px 0 15px;
	font-size: 1rem;
	padding-top: 0 !important;
	background: $black url('/_images/revamp/common/backgrounds/card-pattern-dark.png');
    background-size: 100%;
    background-repeat: no-repeat;

    .search-inner {
        padding: 135px 20px 0 20px !important;
        margin: 0;
        max-width: none; // was 350px

        @media #{$medium-up} {
            max-width: 75vw;
        }
        @media #{$large-up} {
            max-width: 50vw;
        }

        // form styles

        .search-input {
            @include grid-column(12);

            position: relative;
            padding: 0;
            right: 0;
            color: #303030;
            height: auto;
            line-height: 1.5;
            margin-bottom: $site-margin / 2;

            input[type=text] {
                -webkit-appearance: none;
                -webkit-border-radius: 0px;
                background-color: transparent;
                font-family: inherit;
                border: 1px solid $white;
                @include border-radius(3px);
                // box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
                color: rgba(0, 0, 0, 0.9);
                display: block;
                font-size: 1rem;
                margin: 0 0 0.6rem 0;
                padding: 0.4rem 0.5rem 0.6rem 1.5rem !important;
                height: 55px;
                width: 100%;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
            }
        }

        h4 {
            width: auto;
            margin-bottom: $site-margin;
            line-height: 12px;
            z-index: 1;
            font-size: 16px;
            color: $white!important;
            text-align: left;
            text-transform: none;
        }
    }

    .search-results {
        @include grid-column(12);

        margin: 0 !important;
        padding: 0 !important;

        .search-result {
            padding: 5px 0 !important;

            a {
                height: auto;
            }
        }

        .search-result__thumb {
            width: 33.33333% !important;
            margin: 0 !important;

            .search-result__thumb__img {
                margin: 0 !important;
            }
        }

        .search-result__cta {
            margin: 0 !important;
            display: none !important;
        }

        .search-result__name {
            padding: 0 $site-margin !important;
            margin: 0 !important;
            height:82px !important;
        }

        .search-result__name__inner {
            color: $white !important;
            font-family: $body-font-bold !important;
            font-size: 14px !important;
            line-height: 16px !important;
            text-align: left !important;
            margin: 0 !important;
        }

        .search-result__cta {
            height: 60px !important;

            &:hover {
                -webkit-filter: invert(100%) !important;
            }
        }
    }

    .search-screen-mobile__header {
        color: $white;
        position: absolute;
        font-size: 2.5rem;
        line-height: 1;
        top: 1rem;
        right: 0.3em;

        @media #{$medium-up} {
            @include transition(all, 0.2s ease-out);

            padding: 0;
            position: fixed;
            display: inline-block;
            top: -50px;
            right: 0.3em;
            color: $white;
            font-size: 2.5rem;
            font-family: $body-font-medium;
            text-transform: uppercase;
            padding: $site-margin;
            background: url(../_images/common/mobile-menu-icons-svg/close-icon.svg) no-repeat right 15px center !important;
            background-size: 23px !important;
            height: auto;
            z-index: 1;
        }

        &.close {
            top: 0px;
        }
    }
}

@media #{$medium-up} {
    .desktop-search-results-container {
        top: 53px !important;
    }
}
