<!-- BODY -->

<table bgcolor="#dff2f8" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #dff2f8; margin: 0; padding: 0;">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td style="max-width: 600px; display:block; margin:auto;">
			<table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
				<tbody>
					<tr>
						<td><a href="http://www.kittybingo.com" name="www_kittybingo_com" xt="SPCLICK"><img border="0" height="151" name="Cont_2" src="http://mailers.communicatormail.com/kittybingo/images/responsive/Birthday-KB.jpg" style="max-width: 100%;" width="601" /></a></td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 15px; padding-right: 15px; font-size: 14px; line-height: 1.6;">
						<p style="font-size: 11px;">Username: %%Username%% | <a href="https://www.kittybingo.com/forgot-password" name="www_kittybingo_com_forgot_pass" style="color: #2977b9; text-decoration: none;" xt="SPCLICK">Forgot password</a>?</p>

						<h3 style="color: rgb(249, 79, 134); line-height: 1.1; font-weight: bold; font-size: 20px; margin: 10px 0px 15px; text-align: center;">Happy Birthday, %%Firstname%%!</h3>

						<p style="text-align: center;">From everyone at Kitty Bingo, we wish you many happy returns on your special day!<br />
						<br />
						Whatever you&#39;re up to, we hope you have a fantastic day. You deserve it!&nbsp;</p>

						<p align="center" style="margin-top:30px;"><a href="http://www.kittybingo.com" name="www_kittybingo_com_promotions" xt="SPCLICK"><img alt="Claim now!" border="0" height="50" name="Cont_3" src="http://mailers.communicatormail.com/kittybingo/images/templates/button-msg-play.png" style="max-width: 100%;" title="Claim now!" width="240" /></a></p>
						</td>
					</tr>
					