  <!-- BODY -->
  <table bgcolor="#dff2f8" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #dff2f8; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
          <tr>
               <td>
              <a href="http://www.kittybingo.com"><img src="http://mailers.communicatormail.com/kittybingo/images/responsive/Birthday-KB.jpg" border="0" style="max-width: 100%;" /></a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 10px; padding-right: 10px; font-size:11px; line-height:1.6;">
<p align="left" style="margin-bottom:1.5em !important; font-size:11px;">Username: %%Alias%% | <a href="https://www.kittybingo.com/forgot-password" style="color: #2977b9; text-decoration: none;">Forgot password</a>?</p>

<p align="left" style="margin-bottom:1.5em !important;">HAPPY BIRTHDAY <strong>%%Firstname%%</strong></p>

<p align="left" style="margin-bottom:1.5em !important;">From everyone at Kitty Bingo, we wish you many happy returns on your special day! As a gift to you, we have added a <strong>%%CurrencySymbol%%50</strong> bonus gift to your balance!</p>

<p align="left" style="margin-bottom:1.5em !important;">Bonus will expire after 72 hours so log in now and make sure you don't miss out!
Now let the party begin...
</p>

<a style="font-size: 0.8em; color: #008CBA;" href="https://www.kittybingo.com/promotions/happy-birthday/"> *Terms &amp; Conditions apply to Birthday Bonus </a>

              <p align="center" style="margin-top:30px;"><a href="http://www.kittybingo.com/promotions/><img src="http://mailers.communicatormail.com/kittybingo/images/templates/button-msg-freebie.png" alt="Claim now!" width="240" height="50" border="0" style="max-width: 100%;" /></a></p>
            </td>
          </tr>

          