
  <!-- BODY -->
  <table bgcolor="#fff2d5" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; background: #fff2d5; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; margin: 0; padding: 0;">
          <tr>
            <td>
              <a href="http://www.bingoextra.com"><img src="http://mailers.communicatormail.com/bingoextra/images/welcome-bronze.jpg" border="0" style="max-width: 100%;" alt="Cash Dash" /></a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; margin: 0; padding: 15px; font-size:14px; line-height:1.6;">

              
Dear <strong>%%Alias%%</strong>!<br />


<p align="left" style="margin-bottom:1.5em !important;">We have reviewed your account and based on your gameplay, we have moved you to the Bronze VIP level.</p>

<p align="left" style="margin-bottom:1.5em !important;"><strong>As a Bronze player you can enjoy the following great benefits</strong></p>

<ul>
  <li><strong>25% or 50%</strong> reload bonus</li>
  <li> A special bonus on your second deposit of either 100% up to 50 bingo bonus or 100% up to 20 slots bonus</li>
</ul>


<p align="left" style="margin-bottom:1.5em !important;">We thank you for choosing to play with Bingo Extra and look forward to seeing you on the site.</p>

<p align="left" style="margin-bottom:1.5em !important;">Terms &amp; Conditions: Entry into and downgrades from the VIP levels are subject to the discretion of management. Please visit <a href="https://www.bingoextra.com/extra-club/" target="blank">the VIP page for more details.</a></p>


<p align="center" style="margin-top:30px;"><a href="http://www.bingoextra.com/promotions/><img src="http://mailers.communicatormail.com/bingoextra/images/templates/button-msg-freebie.png" alt="Claim now!" width="240" height="60" border="0" style="max-width: 100%;" /></a></p>

            </td>
          </tr>