  <!-- BODY -->
  <table bgcolor="#dff2f8" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #dff2f8; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
          <tr>
            <td>
              <a href="http://www.kittybingo.com"><img src="http://mailers.communicatormail.com/kittybingo/images/get-bonusback-600x150-kb.jpg" border="0" style="max-width: 100%;" /></a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding: 15px; font-size:14px; line-height:1.6;">

<p align="left" style="margin-bottom:1.5em !important; font-size:11px;">Username: %%Alias%% | <a href="https://www.kittybingo.com/forgot-password" style="color: #2977b9; text-decoration: none;">Forgot password</a>?</p><br>

Congratulations %%Firstname%%,<br>
Username: %%Alias%%<br><br>

<p align="left" style="margin-bottom:1.5em !important;">You've qualified for your %%CurrencySymbol%%%%Amount%% BonusBack!</p>
<p align="left" style="margin-bottom:1.5em !important;"><strong>Grab it now: simply log in to <a href="https://www.kittybingo.com/" style="color: #0000FF; text-decoration: none;">Kittybingo.com</a> and hit the CLAIM button in My Account.</strong></p>
<p align="left" style="margin-bottom:1.5em !important;">Your BonusBack will expire by %%ExpireDate%% so don't hang about and get the day off to a flying start!</p>




<p align="center" style="margin-top:30px;"><a href="http://www.kittybingo.com"><img src="http://mailers.communicatormail.com/kittybingo/images/templates/button-msg-claim.png" alt="Claim now!" width="240" height="50" border="0" style="max-width: 100%;" /></a></p>

            </td>
          </tr>

          