  <!-- BODY -->
  <table bgcolor="#dff2f8" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #dff2f8; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
          <tr>
            <td>
              <a href="http://www.kittybingo.com"><img src="http://mailers.communicatormail.com/kittybingo/images/responsive/Cashback-KB.jpg" border="0" style="max-width: 100%;" /></a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 10px; padding-right: 10px; font-size:11px; line-height:1.6;">
<p align="left" style="margin-bottom:1.5em !important; font-size:11px;">Username: %%Alias%% | <a href="https://www.kittybingo.com/forgot-password" style="color: #2977b9; text-decoration: none;">Forgot password</a>?</p>

Hi <strong>%%Firstname%%</strong>!<br>
Username: <strong>%%Alias%%</strong><br><br>

<p align="left" style="margin-bottom:1.5em !important;"><strong>**CONGRATULATIONS**</strong></p>
<p align="left" style="margin-bottom:1.5em !important;">We have credited your account with your weekly Cashback Bonus.</p><br>

<p align="left" style="margin-bottom:1.5em !important;">You have <strong>%%CurrencySymbol%%%%Amount%% Cashback bonus</strong> waiting on your account.</p>

<p align="left" style="margin-bottom:1.5em !important;">For full details for Cashback Bonus details and Terms and Conditions please <a style="font-family: Arial,Helvetica,sans-serif; color:#33b9ff; text-decoration:underline;" href="https://www.kittybingo.com/promotions/lifelong-cash-back">click here</a></p>


<p align="center" style="margin-top:30px;"><a href="http://www.kittybingo.com/promotions/><img src="http://mailers.communicatormail.com/kittybingo/images/templates/button-msg-claim.png" alt="Claim now!" width="240" height="50" border="0" style="max-width: 100%;" /></a></p>

            </td>
          </tr>

          