  <!-- BODY -->
  <table bgcolor="#dff2f8" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #dff2f8; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
          <tr>
            <td>
              <a href="http://www.kittybingo.com"><img src="http://mailers.communicatormail.com/kittybingo/images/responsive/Cashback-KB.jpg" border="0" style="max-width: 100%;" /></a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 10px; padding-right: 10px; font-size:11px; line-height:1.6;">
<p align="left" style="margin-bottom:1.5em !important; margin-top:1em !important; font-size:11px;">Username: %%Alias%% | <a href="https://www.kittybingo.com/forgot-password" style="color: #2977b9; text-decoration: none;">Forgot password</a>?</p>

           <p align="left" style="font-size: 20px; font-weight: bold;color: #f65287; margin-bottom:1.5em !important;">Collect your free %%CurrencySymbol%%%%Amount%% real cash today - no deposit required!</p>

<p align="left" style="margin-bottom:1.5em !important;">Congratulations, %%Firstname%%!</p>

<p align="left" style="margin-bottom:1.5em !important;">We have credited your account with your weekly cashback and you have banked %%CurrencySymbol%%%%Amount%% real cash!
</p>

<p align="left" style="margin-bottom:1.5em !important;">Cashback is credited in real funds, for you to spend however you like with no restrictions or wagering. Enjoy your bonus and have a great weekend!</p>


<p align="center" style="margin-top:30px;"><a href="http://www.kittybingo.com/promotions/><img src="http://mailers.communicatormail.com/kittybingo/images/templates/button-msg-claim.png" alt="Claim now!" width="240" height="50" border="0" style="max-width: 100%;" /></a></p>
            </td>
          </tr>

       