<!-- BODY -->
	<table bgcolor="#dff2f8" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #dff2f8; margin: 0; padding: 0;">
		<tr>
			<td>&nbsp;</td>
			<td style="max-width: 600px; display:block; margin:auto;">
				<table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
					<tr>
						<td>
							<a href="https://www.kittybingo.com"><img src="http://mailers.communicatormail.com/kittybingo/images/responsive/unlocked-600x150-kb.jpg" border="0" style="max-width: 100%;" /></a>
						</td>
					</tr>
					<tr>
					<td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 10px; padding-right: 10px; font-size:14px; line-height:1.6;">
<p align="left" style="margin-bottom:1.5em !important; font-size:11px;">Username: %%Alias%% | <a href="https://www.kittybingo.com/forgot-password" style="color: #2977b9; text-decoration: none;">Forgot password</a>?</p>

							<p>Hi %%Firstname%%,</p>
							<h3 style="color: #f94f86; line-height: 1.1; font-weight: bold; font-size: 20px; margin: 0 0 5px 0; padding-bottom: 10px;">Your top up offer is ready to claim %%Firstname%%!</h3>

							<p>You've claimed your <strong>%%DisplayDescription%%</strong> and unlocked a <strong>%%ChainDisplayDescription%%</strong> on your next deposit.</p><br/>
							<p><strong>How to claim:</strong></p>
							<ul style="list-style-type:none">
							<li>1. Login to KittyBingo.com with your username: %%Username%% and password</li>
							<li>2. Head to the cashier</li>
							<li>3. Top up and select your exclusive <strong>%%ChainDisplayDescription%%</strong></li>
							</ul>
							<p>We're not kitten, it's as simple as 1,2,3!</p>
							

							<p align="center" style="margin-top:30px;"><a href="https://www.kittybingo.com/"><img src="http://mailers.communicatormail.com/kittybingo/images/cta-primary-claim-kb.png" alt="Claim Now" style="margin-top:30px;" width="240" height="50" border="0" style="max-width: 100%;" /></a></p>
						</td>
					</tr>

					