<!-- BODY -->

<table bgcolor="#dff2f8" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #dff2f8; margin: 0; padding: 0;">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">
      <table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
        <tbody>
          <tr>
            <td><a href="http://www.kittybingo.com" name="www_kittybingo_com" xt="SPCLICK"><img border="0" height="150" name="Cont_2" src="http://mailers.communicatormail.com/kittybingo/images/responsive/welcome-emerald.png" style="max-width: 100%;" width="600" /></a></td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 15px; padding-right: 15px; font-size: 14px; line-height: 1.6;">
            <p style="font-size: 11px;">Username: %%Username%% | <a href="https://www.kittybingo.com/forgot-password" name="www_kittybingo_com_forgot_pass" style="color: #2977b9; text-decoration: none;" xt="SPCLICK">Forgot password</a>?</p>

            <h3 style="color: rgb(249, 79, 134); line-height: 1.1; font-weight: bold; font-size: 20px; margin: 10px 0px 15px; text-align: center;">&nbsp;</h3>

            <p>Hi, %%Firstname%% - it&#39;s Malcolm here, you&#39;re VIP account manager!<br />
            <br />
            Great news, I have reviewed your account and based on your gameplay, I have decided to upgrade you to Emerald VIP level.<br />
            <br />
            As an Emerald&nbsp;VIP you can enjoy the following great benefits:</p>

            <ul>
              <li>&pound;50&nbsp;Upgrade Bonus&nbsp;</li>
              <li>Personalised VIP customer service</li>
              <li>Reduced withdrawal pending period times</li>
              <li>Frequent cash drop offers</li>
              <li>Double bonus days</li>
              <li>Dedicated VIP Manager<strong></strong></li>
            </ul>

            <p><br />
            I would personally thank you for choosing to play with Kitty Bingo and look forward to giving you the star treatment! Please feel free to call me during office hours. My details are: Mobile: +44 (0) 7585229120.<br />
            <br />
            <span style="font-size:11px;">Terms &amp; Conditions: Entry into and downgrades from the VIP levels are subject to the discretion of management. Please visit&nbsp;the VIP page for&nbsp;<a href="https://www.kittybingo.com/kitty-club/" name="Hyperlink_20171003_122605221" target="_blank" xt="SPCLICK">more details</a>.&nbsp;Upgrade bonus will expire 7 days after being credited. 15xWR. 10x rate convertible to real. Not available on progressive jackpots.</span></p>

            <p align="center" style="margin-top:30px;"><a href="http://www.kittybingo.com" name="www_kittybingo_com_promotions" xt="SPCLICK"><img alt="Claim now!" border="0" height="50" name="Cont_3" src="http://mailers.communicatormail.com/kittybingo/images/templates/button-msg-claim.png" style="max-width: 100%;" title="Claim now!" width="240" /></a></p>
            </td>
          </tr>
          