  <!-- BODY -->
  <table bgcolor="#dff2f8" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #dff2f8; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
        <tr>
            <td>
              <a href="http://www.kittybingo.com"><img src="http://mailers.communicatormail.com/kittybingo/images/responsive/Generic-KB2jpg.jpg" border="0" style="max-width: 100%;" /></a>
            </td>
          </tr>
<!--           <tr>
            <td>
              <a href="http://www.kittybingo.com"><img src="http://mailers.communicatormail.com/kittybingo/images/responsive/cashback-real-600x300.gif" border="0" style="max-width: 100%;" /></a>
            </td>
          </tr> -->
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding: 15px; font-size:14px; line-height:1.6;">

            Hi <strong>%%Firstname%%</strong>!<br />Username: <strong>%%Alias%%</strong><br><br>

<p align="left" style="margin-bottom:1.5em !important;">We are following up on your recent request to change your password via the &quot;Forgot Password&quot; link on Kitty Bingo.</p>

<p align="left" style="margin-bottom:1.5em !important;">To reset your password please click on the link below which will take you to a page where you will be able to securely and safely reset your password.</p>

<p align="left" style="margin-bottom:1.5em !important;"><a style="font-family: Arial,Helvetica,sans-serif; color:#33b9ff; text-decoration:underline;" href="https://www.kittybingo.com/forgot-password?PlayerID=%%PlayerID%%&GUID=%%GUID%%">Forgotten Password Page</a></p>


<p align="left" style="margin-bottom:1.5em !important;">Once you have retrieved your password we recommend you make a note of your login details and be sure to keep them safe.</p>

<p align="left" style="margin-bottom:1.5em !important;">Should you require any additional help, feel free to contact our friendly Support Team.</p>

<p align="left" style="margin-bottom:1.5em !important;">We look forward to seeing you soon at Kitty Bingo!</p>


<p align="center" style="margin-top:30px;"><a href="http://www.kittybingo.com/promotions/><img src="http://mailers.communicatormail.com/kittybingo/images/templates/button-msg-play.png" alt="Claim now!" width="240" height="50" border="0" style="max-width: 100%;" /></a></p>
            </td>
          </tr>

      