<!-- BODY -->
<table bgcolor="#dff2f8" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #dff2f8; margin: 0; padding: 0;">
     <tr>
          <td>&nbsp;</td>
          <td style="max-width: 600px; display:block; margin:auto;">

               <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
                    <tr>
                         <td>
                              <a href="%%BrandNameURL%%">
                                   <!-- <img src="http://mailers.communicatormail.com/kittybingo/images/responsive/Help-KB.jpg" border="0" style="max-width: 100%;" /> -->
                                   %%BrandNameURL%%
                              </a>
                         </td>
                    </tr>
                    <tr>
                         <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 10px; padding-right: 10px; font-size:11px; line-height:1.6;">
                              <p  align="left" style="margin-bottom:1.5em !important; font-size:11px;">Hi <strong>%%Firstname%%</strong></p>

                              <p align="left" style="margin-bottom:1.5em !important; font-size:11px;">Username: <strong>%%Alias%%</strong> </p>

                              <p align="left" style="margin-bottom:1em;">Your %%Name%% account has been locked for security purposes. To unlock your account, please contact our dedicated Support team using one of the numbers found on our Help page.</p>

                              <a href="%%URL%%%%supportPage%%">%%URL%%%%supportPage%%</a>

                              <p align="left" style="margin-bottom:1.5em !important;"></p>

                              <p align="left" style="margin-bottom:1.5em !important;">We look forward to hearing from you soon!</p>
                         </td>
                    </tr>
