  <!-- BODY -->
  <table bgcolor="#dff2f8" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #dff2f8; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
        <tr>
            <td>
              <a href="http://www.kittybingo.com"><img src="http://mailers.communicatormail.com/kittybingo/images/responsive/100-bingo-bonus-kb-600x150.jpg" border="0" style="max-width: 100%;" /></a>
            </td>
          </tr>
<!--           <tr>
            <td>
              <a href="http://www.kittybingo.com"><img src="http://mailers.communicatormail.com/kittybingo/images/responsive/cashback-real-600x300.gif" border="0" style="max-width: 100%;" /></a>
            </td>
          </tr> -->
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding: 15px; font-size:14px; line-height:1.6;">
            <p align="left"  style=" font-size: 11px; margin-bottom:1.5em !important;">Username: %%Alias%% | <a href="https://www.kittybingo.com/forgot-password" style="color: #f6258b; text-decoration: none;">Forgot password</a>?</p>

      <p>Hi %%Firstname%%,</p>              
      <h3 style="color: #f94f86; line-height: 1.1; font-weight: bold; font-size: 20px; margin: 10px 0 15px;">Congratulations on your first deposit</h3>
              
              <p>We just wanted to let you know that you have successfully made your first deposit - thanks!</p>
              <h3 style="color: #f94f86; line-height: 1.1; font-weight: bold; font-size: 20px; margin: 10px 0 15px;">Now claim a 100% bingo bonus!</h3>
              <p>Make your next deposit go further with a special 100% match bonus. Select your offer in the cashier when you deposit £10 or more.</p>

              <p align="center" style="margin-top:50px;"><a href="http://www.kittybingo.com/promotions/><img src="http://mailers.communicatormail.com/kittybingo/images/templates/button-msg-bonus.png" alt="Claim now!" width="240" height="50" border="0" style="max-width: 100%;" /></a></p>
            </td>
          </tr>

   