<!-- BODY -->
<table bgcolor="#dff2f8" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #dff2f8; margin: 0; padding: 0;">
    <tr>
        <td>&nbsp;</td>
        <td style="max-width: 600px; display:block; margin:auto;">
            <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
                <tr>
                    <td>
                        <a href="https://www.kittybingo.com/"><img src="http://mailers.communicatormail.com/kittybingo/images/responsive/KB-Successful-Referral.jpg" border="0" style="max-width: 100%;" /></a>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 10px; padding-right: 10px; font-size:11px; line-height:1.6;">
<p align="left" style="margin-bottom:1.5em !important; font-size:11px;">Username: %%Alias%% | <a href="https://www.kittybingo.com/forgot-password" style="color: #2977b9; text-decoration: none;">Forgot password</a>?</p>
                        <h3 style="color: #f94f86; line-height: 1.1; font-weight: bold; font-size: 20px; margin: 0 0 5px 0; padding-bottom: 10px;">You have a new friend at KittyBingo.com</h3>
                        <p style="margin-bottom:1em;"><em>Good news, your friend has signed up to <a href="https://www.kittybingo.com/" style="color: #0000FF; text-decoration: none;">Kitty Bingo</a>!</p>
							<p style="margin-bottom:1em;">This means you could qualify for your Refer a Friend bonus very soon - keep an eye on your Referrals Rewards area to track your progress.</p>
							<p style="margin-bottom:1em;">It also means you now have someone to share your <a href="https://www.kittybingo.com/" style="color: #0000FF; text-decoration: none;">Kitty Bingo</a> experience with, so why not recommend a game or two to your friend to get them started?</p>
							<p style="margin-bottom:1em;">See you soon!</p>
							<p align="center" style="margin-top:30px;"><a href="https://www.kittybingo.com/"><img src="http://mailers.communicatormail.com/kittybingo/images/cta-login-kb.png" alt="Opt in now!" width="240" height="50" border="0" style="max-width: 100%;" /></a></p>
						</td>
					</tr>

