<!-- BODY -->
	<table bgcolor="#dff2f8" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #dff2f8; margin: 0; padding: 0;">
		<tr>
			<td>&nbsp;</td>
			<td style="max-width: 600px; display:block; margin:auto;">

				<table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
					<tr>
						<td>
							<a href="https://www.kittybingo.com/register/%%Alias%%"><img src="http://mailers.communicatormail.com/kittybingo/images/responsive/KB-Pending-invitation.jpg" border="0" style="max-width: 100%;" /></a>
						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding: 10px; font-size:14px; line-height:1.6;">

							<h3 style="color: #f94f86; line-height: 1.1; font-weight: bold; font-size: 20px; margin: 0 0 5px 0; padding-bottom: 10px;">Your friend %%Firstname%% is waiting for you at Kitty Bingo</h3>
							
							<p style="margin-bottom:1em;">Your friend %%Firstname%% loves  <a href="https://www.kittybingo.com/register/%%Alias%%" style="color: #0000FF; text-decoration: none;">Kitty Bingo</a> and thinks you will too! Come and collect your special welcome offer of:</p>
							<p style="margin-bottom:1em;"><ul><li><strong>300% Bingo Bonus + 100 FREE spins</strong></li></ul></p>
							<p style="margin-bottom:1em;">All you have to do is <u>sign up and deposit</u> and the freebies are yours. Then there's nothing left to do but play and win. And thank your friend of course!</p>
							<p style="margin-bottom:1em;">We look forward to seeing you at <a href="https://www.kittybingo.com/register/%%Alias%%" style="color: #0000FF; text-decoration: none;">Kittybingo.com</a> - join now to get your free gifts!</p>
							<p align="center" style="margin-top:30px;"><a href="https://www.kittybingo.com/register/%%Alias%%"><img src="http://mailers.communicatormail.com/kittybingo/images/cta-primary-join-kb.png" alt="Opt in now!" width="240" height="50" border="0" style="max-width: 100%;" /></a></p>
						</td>
					</tr>

					

				