<!-- BODY -->
	<table bgcolor="#dff2f8" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #dff2f8; margin: 0; padding: 0;">
		<tr>
			<td>&nbsp;</td>
			<td style="max-width: 600px; display:block; margin:auto;">
				<table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
					<tr>
						<td>
							<a href="https://www.kittybingo.com"><img src="http://mailers.communicatormail.com/kittybingo/images/responsive/KB-Bond-300-100.jpg" border="0" style="max-width: 100%;" /></a>
						</td>
					</tr>
					<tr>
					<td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 10px; padding-right: 10px; font-size:14px; line-height:1.6;">
<p align="left" style="margin-bottom:1.5em !important; font-size:11px;">Username: %%Alias%% | <a href="https://www.kittybingo.com/forgot-password" style="color: #2977b9; text-decoration: none;">Forgot password</a>?</p>

							<h3 style="color: #f94f86; line-height: 1.1; font-weight: bold; font-size: 20px; margin: 0 0 5px 0; padding-bottom: 10px;">Welcome to Kitty Bingo!</h3>
							<p>%%Firstname%%,</p>
							<p><strong>You've got £10 FREE</strong> - as seen on TV!</p><br />
							<p>Thanks for registering at <a href="https://www.kittybingo.com" style="color: #2977b9; text-decoration: none;">Kitty Bingo</a> - you've now got <strong>£10 free!</strong> Find it in your account now when you log in with your username: %%Username%% and password.</p><br />
							<p><strong>Plus, get £30 EXTRA FREE + 100 spins</strong> - shaken, not purrr-ed...</p>
							<p>Beat the villain again with <strong>300% Bingo Bonus + 100 spins</strong> on your first deposit - <strong>that's £30 free when you spend just £10!</strong></p><br />
							<p><u>Select this offer</u> in the cashier when you top up today, then relax with all your extra moneypennies!</p>

							<p align="center" style="margin-top:30px;"><a href="https://www.kittybingo.com/"><img src="http://mailers.communicatormail.com/kittybingo/images/cta-primary-play-kb.png" alt="Play Now" width="240" height="50" border="0" style="max-width: 100%;" /></a></p>
						</td>
					</tr>

					