<!-- BODY -->
	<table bgcolor="#dff2f8" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #dff2f8; margin: 0; padding: 0;">
		<tr>
			<td style="max-width: 600px; display:block; margin:auto;">

				<table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
					<tr>
						<td>
							<a href="https://www.kittybingo.com"><img src="http://mailers.communicatormail.com/kittybingo/images/responsive/SpecialOffer-mailer-1.jpg" border="0" style="max-width: 100%;" /></a>
						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding: 10px; font-size:14px; line-height:1.6;">

							<h3 style="color: #f94f86; line-height: 1.1; font-weight: bold; font-size: 20px; margin: 0 0 5px 0; padding-bottom: 10px;">Deposit £10 and play with £40 + 100 spins!</h3>
							<p style="margin-bottom:1em; padding-bottom: 30px; "><em>Username: %%Alias%%,</p>
							<p style="margin-bottom:1em; padding-bottom: 30px; ">Welcome to the <a href="https://www.kittybingo.com" style="color: #2977b9; text-decoration: none;"><b>Kitty Bingo</b></a> family! As a 1st day treat, we are giving you a 
                                <span class="style1"> <strong>300% Bingo Bonus + 100 spins</strong></span> on your first deposit!</p>
							<p style="margin-bottom:1em;">Try your luck on <strong>90 ball / 75 ball bingo</strong> where the <strong>progressive jackpots</strong> start from <strong>£10,000 / £8,000</strong> on every game! <em>
                                Plus enjoy our selection of exclusive slots including Lady Luck Deluxe, The Lost Slot of Riches and Cutie Fruits!</em></p>
							<p align="center" style="margin-top:30px;"><a href="https://www.kittybingo.com/"><img src="http://mailers.communicatormail.com/kittybingo/images/templates/button-msg-claim.png" alt="Claim Now" width="240" height="50" border="0" style="max-width: 100%; padding-bottom: 10px; padding-top: 40px;" /></a></p>
						</td>
					</tr>
					