  <!-- BODY -->
  <table bgcolor="#dff2f8" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #dff2f8; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
          <tr>
            <td>
              <a href="http://www.kittybingo.com"><img src="http://mailers.communicatormail.com/kittybingo/images/responsive/welcome-silver.png" border="0" style="max-width: 100%;" /></a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 10px; padding-right: 10px; font-size:11px; line-height:1.6;">
<p align="left" style="margin-bottom:1.5em !important; font-size:11px;">Username: %%Alias%% | <a href="https://www.kittybingo.com/forgot-password" style="color: #2977b9; text-decoration: none;">Forgot password</a>?</p>

<p align="left" style="margin-bottom:1.5em !important;">Dear <strong>%%Alias%%</strong></p>

<p align="left" style="margin-bottom:1.5em !important;">We have reviewed your account and based on your gameplay, we have moved you to the Silver VIP level and would like to offer you a bonus. Log into your account to find out what it is!</p>

<p align="left" style="margin-bottom:1.5em !important;"><strong>As a Silver player you can enjoy the following great benefits</strong></p>

<ul>
<li>Entry into a free £100 Weekly Jackpot</li>
<li>1 Daily Free Spin</li>
<li>7% Weekly Cashback</li>
<li>1 Free Bingo Card Daily</li>
</ul>

<p align="left" style="margin-bottom:1.5em !important;">We thank you for choosing to play with Kitty Bingo and look forward to seeing you on the site. </p>

<p align="left" style="margin-bottom:1.5em !important;">Terms &amp; Conditions: Entry into and downgrades from the VIP levels are subject to the discretion of management.  <a href="https://www.kittybingo.com/kitty-club">Please visit the VIP page for more details.</a> </p>


<p align="center" style="margin-top:30px;"><a href="http://www.kittybingo.com/promotions/><img src="http://mailers.communicatormail.com/kittybingo/images/templates/Button-msg-freebie.png" alt="Claim now!" width="240" height="50" border="0" style="max-width: 100%;" /></a></p>
            </td>
          </tr>

         