  <!-- BODY -->
  <table bgcolor="#dff2f8" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #dff2f8; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
          <tr>
            <td>
              <a href="http://www.kittybingo.com"><img src="http://mailers.communicatormail.com/kittybingo/images/responsive/welcome-bronze.png" border="0" style="max-width: 100%;" /></a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 10px; padding-right: 10px; font-size:11px; line-height:1.6;">
<p align="left" style="margin-bottom:1.5em !important; font-size:11px;">Username: %%Alias%% | <a href="https://www.kittybingo.com/forgot-password" style="color: #2977b9; text-decoration: none;">Forgot password</a>?</p>

Dear <strong>%%Alias%%</strong><br>

<p align="left" style="margin-bottom:1.5em !important;">We have reviewed your account and based on your gameplay, we have moved you to the Bronze VIP level. </p>

<p align="left" style="margin-bottom:1.5em !important;"><strong>As a Bronze player you can enjoy the following great benefits</strong></p>

<ul>
<li>25% or 50% reload bonus</li>
<li>5% Weekly Cashback</li>
</ul>

<p align="left" style="margin-bottom:1.5em !important;">We thank you for choosing to play with Kitty Bingo and look forward to seeing you on the site. </p>

<p align="left" style="margin-bottom:1.5em !important;">The Kitty Bingo Team</p>

<p align="left" style="margin-bottom:1.5em !important;">Terms and conditions: Entry into and downgrades from the VIP levels are subject to the discretion of management.<br>  <a href="https://www.kittybingo.com/kitty-club">Please visit the VIP page for more details.</a> </p>

<p align="center" style="margin-top:30px;"><a href="http://www.kittybingo.com/promotions/><img src="http://mailers.communicatormail.com/kittybingo/images/templates/button-msg-bonus.png" alt="Claim now!" width="240" height="50" border="0" style="max-width: 100%;" /></a></p>

            </td>
          </tr>

          