  <!-- BODY -->
  <table bgcolor="#dff2f8" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #dff2f8; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
        <tr>
            <td>
              <a href="http://www.kittybingo.com"><img src="http://mailers.communicatormail.com/kittybingo/images/responsive/Generic-KB2jpg.jpg" border="0" style="max-width: 100%;" /></a>
            </td>
          </tr>
<!--           <tr>
            <td>
              <a href="http://www.kittybingo.com"><img src="http://mailers.communicatormail.com/kittybingo/images/responsive/cashback-real-600x300.gif" border="0" style="max-width: 100%;" /></a>
            </td>
          </tr> -->
          <tr>
           <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 10px; padding-right: 10px; font-size:11px; line-height:1.6;">
<p align="left" style="margin-bottom:1.5em !important; font-size:11px;">Username: %%Alias%% | <a href="https://www.kittybingo.com/forgot-password" style="color: #2977b9; text-decoration: none;">Forgot password</a>?</p>

<p align="left" style="margin-bottom:1.5em !important;">Transaction reference number: <strong>%%Referencenumber%%</strong></p>

Hi <strong>%%Firstname%%</strong>!<br />Username: <strong>%%Alias%%</strong><br><br>

<p align="left" style="margin-bottom:1.5em !important;">Thank you for playing at Kitty Bingo and congratulations on your recent win!</p>

<p align="left" style="margin-bottom:1.5em !important;">We are pleased to inform you that your withdrawal of <strong>%%CurrencySymbol%%%%Amount%%</strong> is on its way.</p>

<p align="left" style="margin-bottom:1.5em !important;">We have processed funds via: <strong>%%Method%%</strong>*</p>

<p align="left" style="margin-bottom:1.5em !important;">Enjoy your winnings and see you soon!</p>
<br />
<p align="left" style="margin-bottom:1.5em !important;">*Your payment will take up to the following estimated times to reach you. Credit and Debit Cards: 3-5 Business Days, Wire Transfers: 3-5 Business Days, Neteller/Paypal Payments: 1-2 Business Days .</p>


<p align="center" style="margin-top:30px;"><a href="http://www.kittybingo.com/promotions/><img src="http://mailers.communicatormail.com/kittybingo/images/templates/button-msg-play.png" alt="Claim now!" width="240" height="50" border="0" style="max-width: 100%;" /></a></p>
            </td>
          </tr>

           