// Footer Content Wrap
.footer {
    @include grid-column(12, $collapse: true);
    margin-bottom: 14px;
    min-height: 300px;
    height: auto;
    position: relative;
}

.footer-bottom {
    @include grid-column(12, $collapse: true);
    position: absolute;
    top: 10%;
    left: 0;
    height: 100%;
    background-color: $yellow-dark;
    @media #{$small-only} {
        background-color: transparent;
    }
}

.footer-wrap {
    @include grid-row;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.footer-container {
    @include grid-row;
    overflow: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
}

.support-online {
    @extend .show-for-large-up;
    width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.support-online-title {
    @extend .show-for-large-up;
    width: 276px;
    position: absolute;
    right: 35px;
    height: auto;
    top: -7px;
}

.footer {
    @media #{$small-up} {
        @include grid-column(12, $collapse: true);
        height: auto;
    }
    @media #{$large-up} {
        @include grid-column(12, $collapse: true);
    }
    .footer__inner {
        @extend .hide-for-small;
        @include grid-column(12, $collapse: true);
        margin-bottom: 20px;
        @include be-box(white, solid, darken($yellow-dark, 5%), 0);
        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }
        @media #{$medium-up} {
            @include grid-column(12, $collapse: true);
        }
        .follow-us {
            @include grid-column(8, $collapse: true);
            float: left;
            margin: 5px 0px 5px 25px;
            h4 {
                color: $base-red;
                font-size: 1.3em;
                margin-bottom: 0px;
            }
            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
                text-align: center;
                margin-bottom: 20px;
                margin-left: 0px;
            }
        }
        .live-chat {
            @extend .show-for-medium-up;
            @include grid-column(2, $collapse: true);
            float: right;
            margin: 55px 25px 25px 0px;
            @media #{$medium-only} {
                @include grid-column(2, $collapse: true);
                margin: 20px 0px 8px 0px;
                float: right;
            }
        }
    }
    .footer-legal {
        @include grid-column(12, $collapse: true, $center:true);
        font-family: $body-font-regular;
        font-size: 0.9em;
        color: $brown-dark;
        line-height: 1.5em;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        @media #{$small-up} {
            @include grid-column(12, $collapse: true);
            width: auto;
        }
        @media #{$small-only} {
            margin-top: 0px;
        }
           .footer__row__payments {
                margin-bottom: 20px !important;
                @media #{$small-only} {
                    @include grid-column(12, $center: true, $collapse: true);
                    @include list-inline;
                    margin-left: auto;
                    margin-right: auto;
                    padding:2em 0 0 1em;
                    >li {
                        height: 50px;
                        width: 32%;
                        padding-right: 1em;
                        margin-bottom:1em;
                        margin-right: 0 !important;

                        img {
                            width:100%;
                            height:40px;
                        }
                    }
                }
                @media #{$medium-up} {
                    @include grid-column(12, $center: true, $collapse: true);
                    @include list-inline;
                    margin-left: auto;
                    margin-right: auto;
                    padding-left: rem-calc(40px);
                    >li {
                        width: 7.5%;
                        padding-right: 0.3em;
                        padding-bottom: 2px;
                        text-align: center;
                        margin-right: 7px;

                        img {
                            width:100%;
                            height:40px;
                        }
                    }
                }
            }

        .footer-terms {
            @include grid-column(12, $collapse: true);
        }
    }
}

//******************* Follow Us Icons *******************

.hi-icon {
    display: inline-block;
    cursor: pointer;
    margin: 5px 5px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
    img {
        width: 25px;
        margin-top: 6px;
    }
}

// .hi-icon:after {
//     pointer-events: none;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//     content: '';
//     -webkit-box-sizing: content-box;
//     -moz-box-sizing: content-box;
//     box-sizing: content-box;
// }

// .hi-icon:before {
//     speak: none;
//     line-height: 48px;
//     display: block;
//     -webkit-font-smoothing: antialiased;
// }

// /* Effect 4 */
// .hi-icon-effect-4 .hi-icon {
//     width: 28px;
//     height: 28px;
//     box-shadow: 0 0 0 2px rgba(11, 133, 155, 1);
// }

// .hi-icon-effect-4a .hi-icon {
//     -webkit-transition: box-shadow 0.2s;
//     -moz-transition: box-shadow 0.2s;
//     transition: box-shadow 0.2s;
// }

.hi-icon-effect-4 .hi-icon:after {
    top: -2px;
    left: -2px;
    padding: 0;
    z-index: 5;
    border: 2px dashed $base-light-blue;
}

.hi-icon-effect-4 .hi-icon:hover {
    box-shadow: 0 0 0 0 rgba(11, 133, 155, 1);
    color: $base-light-blue;
}

.footer-breadcrumbs {
    max-width: 62.5rem;
    margin: 0 auto;
}