.footer-nav-wrap {
    @extend .show-for-large-up;
    @include grid-row;
    margin-bottom: 30px;
    margin-top:50px;
    max-width: 53.5rem;
}

.footer-nav {
    @include grid-column(12);
    @include list-inline;
    font-family: $title2-font-light;
    color: $base-light-blue;
    float: none;
    margin-left: auto;
    margin-right: auto;

    .star-sml {
    	width:10px;
    	height:auto;
        margin-right: 5px;
        margin-left: 5px;
    }

    ul {
        font-size:1em;
        margin:0px;
    }

    li {
        text-align: center;
        margin-right: 0px;
    }
}


.footer-nav li {
    a {
        font-size:12px !important;
    }
}