.welcome-page {
    .middle-content__box {
        margin-top: $site-margin;
    }
    .two-columns-layout__left {
        padding-top: 1em;
        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }
        @media #{$medium-up} {
            padding-right: 0;
            padding-left: 0;
            @include grid-column(3, $push: 9);
        }
    }
    .two-columns-layout__right {
        padding-bottom: 1em;
        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }
        @media #{$medium-up} {
            padding-left: 0;
            @include grid-column(9, $pull: 3);
        }
    }
    .welcome__intro-text {
        color: $body-font-color;
        border: 1px $off-white solid;
        background-color: $off-white;
        @include grid-column(12);
        > span {
            font-weight: bold;
        }
    }
    .welcome-title {
        margin-bottom: 5px;
    }
    .welcome {
        border: 1px $off-white solid;
        -webkit-border-top-left-radius: 0;
        -moz-border-radius-topleft: 0;
        border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -moz-border-radius-topright: 0;
        border-top-right-radius: 0;
        background-color: $off-white;
        @include grid-column(12, $collapse: true);
        .cashier__section {
            background-color: transparent;
        }
        .cashier__content-wrapper {
            width: 100%;
        }
    }
    .welcome__side-content {
        padding: .9375rem;
        border: 1px $off-white solid;
        background-color: $off-white;
        @include grid-column(12);
        @media #{$medium-up} {
            min-height: 400px;
        }
        img {
            margin-bottom: 14px;
        }
    }
    .cashier__section {
        margin-bottom: 0;
    }
    .text-partial {
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        > h1 {
            display: none;
        }
    }
}