// welcome page post reg modal
.welcome-post-reg__modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999999;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    background: $white;
    .header-wrap {
        background-color: $black;
        width: 100%;
        height: 60px;
        max-height: 52px;
        @media #{$small-only} {
            height: 62px;
        }
        .header-container {
            @include grid-column(12);
            position: relative;
            @include grid-column(12, $center: true);
            max-width: 700px;
            .header-username {
                position: absolute;
                right: 0;
                color: #000;
                padding-right: 50px;
                font-size: 13px;
                line-height: 52px;
                // padding: 13px;
                padding-right: 50px;
                font-family: $font-button;
                text-transform: uppercase;
                z-index: 2;
                color: $white;
                @media #{$medium-up} {
                    background: url(../_images/common/header/close-icon.svg) no-repeat right $site-margin center;
                    padding-right: 55px;
                }
                @media #{$small-only} {
                    @include grid-column(10);
                    text-align: right;
                    padding-right: 50px;
                    background: url(../_images/common/header/close-icon.svg) no-repeat right $site-margin center;
                    // padding: 16px;
                    font-size: 12px;
                }
            }
        }
    }
    .logo {
        @include grid-column(4);
        height: 41px;
        margin-left: 5px;
        margin-top: 5px;
        float: left;
        background: transparent url(../_images/common/header/aspers-online-casino-logo.svg) left center no-repeat;
        background-size: contain;
        @media #{$small-only} {
            @include grid-column(2);
            background: transparent url(../_images/common/header/aspers-online-casino-logo.svg) no-repeat center center;
            background-size: contain;
            height: 42px;
            margin: 5 0;
        }
    }
    .inline_logo {
        width: 100px;
        height: 100px;
        background-color: white;
    }
    .welcome-post-reg__content {
        @include grid-column(12, $center: true);
        max-width: 700px;
        margin-bottom: $site-margin * 3;
        margin-top: $site-margin * 3;
        @media #{$small-only} {
            margin-top: $site-margin;
        }
        section {
            @include grid-column(12);
            padding: 0;
            h2 {
                color: $black;
                text-align: center;
                text-transform: uppercase;
                font-family: $font-copy-bold;
                font-size: 22px;
                line-height: 1;
                //            text-shadow: 0px 1px 1px #715EBB;
                margin-top: $site-margin;
                margin-bottom: 0;
                @media #{$large-up} {
                    margin-top: $site-margin * 2;
                }
                @media #{$small-only} {
                    padding: 0 ($site-margin / 2);
                    margin-bottom: $site-margin;
                    font-size: 17px;
                }
            }
            ul {
                @include grid-column(12, $center: true);
                margin: 0;
                li {
                    width: 48%;
                    margin: 1%;
                    float: left;
                    background: $aqua-haze;
                    border-bottom: 2px solid $alto;
                    height: 180px;
                    min-height: 180px;
                    overflow: hidden !important;
                    list-style: none;
                    margin-top: rem-calc(18px);
                    &:only-of-type {
                        padding: 0;
                        width: 98%;
                        padding-left: 0;
                        padding-right: 0;
                    }
                    @media #{$small-only} {
                        @include grid-column(12);
                        padding: 0;
                        margin: 2% 0;
                        height: 150px;
                        min-height: 150px;
                        overflow: hidden !important;
                    }
                    .claim-wrap {
                        @include grid-column(8);
                        padding: $site-margin;
                        height: 100%;
                        text-align: center;
                        overflow: hidden;
                        .claim-container {
                            @include grid-column(11, $center: true);
                            min-height: 70%;
                            height: 70%;
                            text-align: center;
                            display: inline-block;
                            width: auto;
                            width: initial;
                            max-width: 100%;
                            zoom: 1;
                            width:100%;
                            @media #{$small-only} {
                                min-height: 60%;
                                height: 60%;
                            }
                            span {
                                height: 100%;
                                color: $pearl-black;
                                font-family: $font-header1;
                                font-size: 22px;
                                text-transform: uppercase;
                                line-height: 1;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                @media #{$small-only} {
                                    font-size: 15px;
                                }
                            }
                        }
                        .play-cta {
                            @include border-radius(100px);
                            background: $button--bg;
                            font-family: $font-button;
                            width: rem-calc(120px);
                            height: rem-calc(39px);
                            line-height: rem-calc(39px);
                            text-align: center;
                            text-transform: uppercase;
                            display: block;
                            color: $button--text;

                            &:hover {
                                background: $button--bg-hover;
                                color: $button--text;
                            }
                            @media #{$medium-up} {
                                @include grid-column(10, $center: true);
                            }
                            display: inline-block;
                        }
                        .deposit-cta {
                            @include border-radius(100px);
                            background: $button--bg;
                            font-family: $font-button;
                            width: rem-calc(135px);
                            height: rem-calc(39px);
                            line-height: rem-calc(39px);
                            text-align: center;
                            text-transform: uppercase;
                            display: block;
                            color: $button--text;
                            &:hover {
                                background: $button--bg-hover;
                                color: $button--text;
                            }
                            @media #{$medium-up} {
                                @include grid-column(11, $center: true);
                            }
                            display: inline-block;
                        }
                    }
                    .icon {
                        @include grid-column(4);
                        padding: 0;
                        height: 100%;
                        text-align: center;
                        position: relative;
                        overflow: hidden;
                        span {
                            @include grid-column(12);
                            padding: 0;
                            position: absolute;
                            bottom: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            @media #{$medium-up} {
                                height: 55%;
                            }
                            img {
                                @include grid-column(12);
                                position: relative;
                                bottom: $site-margin;
                                padding: 0 ($site-margin / 2);
                                position: relative;
                                width: auto;
                                max-width: 100px;
                                max-height: 100px;
                            }
                            .bingo img {
                                height: 90px;
                            }
                            .spinata img {
                                height: 90px;
                            }
                        }
                    }
                }
            }
            &.bonus {
                .icon {
                    background-size: 100%;
                    // box-shadow: 1px 0px 8px 0px #386b1f inset;
                    background-image: url(../_images/common/icons/tick-icon.svg), linear-gradient($yellow, $yellow);
                    background-repeat: no-repeat;
                    background-position: center 30px, top;
                    background-size: 35px 26.7px, cover;
                }
                .tick-icon {
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    background-color: #3d7a24;
                    position: relative;
                    margin-top: 10px;
                    margin-left: 35px;
                    padding-top: 27px;
                    box-shadow: 0px 1px 2px 0px #244c14 inset;
                }
            }
            &.deposit {
                .icon {
                    background-size: 100%;
                    // box-shadow: 1px 0px 8px 0px #af4f1e inset;
                    background-image: url(../_images/common/icons/time-left-icon.svg), linear-gradient($green, $green);
                    background-repeat: no-repeat;
                    background-position: center 30px, top;
                    background-size: 38px 38px, cover;
                }
                // .clock-icon {
                //     border-radius: 50%;
                //     width: 40px;
                //     height: 40px;
                //     background-color: #f6853b;
                //     position: relative;
                //     margin-top: 10px;
                //     margin-left: 35px;
                //     padding-top: 27px;
                //     box-shadow: 0px 1px 2px 0px #993e0c inset;
                // }
            }
            &.lock {
                opacity: 0.25;
                li {
                    box-shadow: none;
                }
                .claim-wrap .claim-container {
                    min-height: 100% !important;
                    height: 100% !important;
                }
                // .icon {
                //     background: #7A64CC url("../_images/common/icons/welcome-lock.svg") no-repeat;
                //     background-position: center 15px;
                // }
            }
        }
        .no-bonus-link {
            @include grid-column(12);
            font-size: 12px;
            font-weight: 600;
            color: $palesky;
            font-family: $font-copy;
            text-align: center;
            margin-top: $site-margin * 2;
            padding: 0 ($site-margin / 2);
            span {
                text-decoration: underline;
                text-transform: capitalize;
            }
        }
    }
}
