
// from theme
#my-favourites {
    .middle-content__box {
        .games-nav {
            @media #{$large-up} {
                padding-bottom: 20px;
            }
        }

        .section__title {
            font-size: $rw-header-secondary-size;

            @media #{$large-up} {
                padding-top: 5px;
                padding-left: 3px;
                margin-bottom: 2px;
            }
        }
    }
}

.favourites {
    padding: 20px;
    padding-top: 10px;

    @media #{$small-only} {
        margin-top: 0;
    }

    @media #{$large-up} {
        padding-left: 0;
        padding-right: 0;
    }

    .favourites__placeholder {
  @include grid-column(2, $collapse: true);
        // padding-right: $site-margin / 2;
        // padding-bottom: $site-margin / 2;
        border: 3px solid $regalwins--gray-darkest;
        @media #{$medium-only} {
            @include grid-column(4, $collapse: true);
            // padding-right: $site-margin / 2;
            // padding-bottom: $site-margin / 2;
            border: 1px solid $regalwins--black;
        }
        @media #{$small-only} {
            @include grid-column(6, $collapse: true);
            // padding-right: $site-margin / 2;
            // padding-bottom: $site-margin / 2;
            border: 0;
            background: $regalwins--gray-darkest;
            padding-right: 3px;
            padding-bottom: 6px;
    
            // right-hand column
            &:nth-of-type(2n+2) {
                .game-icon {
                    padding-left: 3px;
                    padding-right: 0;
                }
            }
        }
    }

    .game-icon {
        .game-icon__bottom {
            height: 30px;
            background: $regalwins--gray-dark;
    
            .game-icon__title {
                text-transform: lowercase;
                font-size: rem-calc(12px);
                line-height: 8px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &:first-letter {
                    text-transform: uppercase;
                }
            }

            .game-icon__favourite {
                .game-icon__favourite__icon.icons-star--off {
                    height: 30px;
                    width: 30px;
                    background-size: 17px 17px;
                    background-position: right 6px;
                }
                .game-icon__favourite__icon.icons-star--on {
                    height: 30px;
                    width: 30px;
                    background-size: 17px 17px;
                    background-position: right 6px;
                }
            }
        }
    }
}

// special case padding for the favourites page
.section.middle-content__box.footer-padding {
    padding-bottom: 20px;
}
