// =============================================================================
// Game Details - SEO Page
// =============================================================================

.game-details-page {
    @include grid-column(12);

    padding-top: $site-margin;
    height: auto;
    font-family: $body-font-regular;
    background-color: $regalwins--gray-darkest;
    margin-top: 0;
    margin-bottom: 0;

    @media #{$small-only} {
        @include grid-column(12, $collapse: true);

        padding-top: 0px;
        margin-top: 0px;
        border: none;
    }

    .game-detail-wrap__title-bar {
        @include grid-column(12, $collapse: true);

        width: 100%;
        text-transform: none;
        color: $white;
        font-size: $rw-header-size;
        line-height: $rw-header-line-height;
        background-color: $regalwins--gray-darkest;

        @include vert-align(38px);

        margin-bottom: $site-margin;
        padding-left: 0;

        @media #{$small-only} {
            display: none;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .game-detail-content {
        @include grid-row;

        margin-bottom: $site-margin;

        .game-detail-content__right {
            @include grid-column(5, $collapse: true);

            padding-right: 0px;

            @media #{$medium-only} {
                @include grid-column(6);
            }

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
            }

            img {
                width: 100%;
                margin-bottom: $site-margin;
            }

            > article.login-box > h1 {
                font-size: 1em;
            }
        }

        .game-detail-content__left {
            @include grid-column(7, $collapse: true, $float: left);

            @media #{$medium-only} {
                @include grid-column(6);
            }

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);

                margin-top: 0px;
                margin-bottom: $site-margin;
            }

            position: relative;

            .play-now-button {
                position: relative;
                top: 30%;
                width: 135px;
                height: 150px;

                  @media #{$small-only} {
                    top: 23%;
                }

                @media #{$medium-only} {
                    top: 23%;
                }
            }

            .overlay-holder {
                position: relative;
            }

            .overlay {
                position: absolute;
                height: 100%;

                @include grid-column(12, $collapse: true, $float: left);

                @media #{$medium-only} {
                    @include grid-column(12, $collapse: true);
                }

                @media #{$small-only} {
                    @include grid-column(12, $collapse: true);
                }

                height: 100%;
                background-color: #000;

                @include opacity(0.8);

                z-index: 9;
                text-align: center;
            }

            img {
                width: 100%;
                height: auto;

                @include opacity(1);
            }

            .game-detail-content__left__thumbnail {
                @include grid-column(6, $collapse: true);

                @media #{$small-only} {
                    @include grid-column(6, $collapse: true);
                }

                padding-top: $site-margin;
            }
        }
    }

    .game-detail__wrap {
        @include grid-column(12, $last_column: true);
        background-color: $regalwins--gray-darkest;
        line-height: 22px;
        padding: 0 20px;

        p {
            font-family: $body-font-regular;
            font-size: rem-calc(12px);
            color: #555;
            margin-bottom: 18px;
        }

        h3 {
            color: $white;
            text-transform: none;
            font-size: $rw-header-secondary-size;
            line-height: $rw-header-secondary-line-height;
            font-weight: bold;
            margin-bottom: 10px;
            margin-top: 0px;
        }

        a {
            color: $brand-color;
        }
    }

    .game-icon-wrap {
        @include grid-column(5);

        @extend .hide-for-medium;

        @extend .hide-for-small;

        @media #{$medium-only} {
            @include grid-column(6);
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }

        img {
            width: 100%;
            margin-bottom: $site-margin;
        }
    }

    .game-detail-content__right__game-table {
        font-size: 15px;
        color: #555;

        ul {
            list-style: none !important;
            margin: 0  !important;
        }

        > li {
            font-size: rem-calc(12px);
            border-bottom: 1px solid $regalwins--border;
            line-height: rem-calc(30px);
            height: auto;
            min-height: 36px;
            max-height: 36px;
            color: $white;

            &:first-of-type {
                line-height: rem-calc(30px);
                padding: 0;
                margin: 0;
            }

            &:last-of-type {
                border-bottom: none;
            }

            .game-detail-content__right__game-table__title {
                width: 100px;
                padding-right: $site-margin;
                display: inline-block;
                float: left;
                color: $white;
                font-weight: bold;

                @media #{$small-only} {
                    //width: 30%;
                }
            }

            .game-detail-content__right__game-table__provider {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 60%;
                display: inline-block;
                color: $white;
            }
        }

        @media #{$medium-only} {
            @include grid-column(12, $collapse: true);
        }
    }
}

.game-description {
    @include grid-column(12, $float: right, $last_column: true);

    margin-right: 0px;

    @media #{$medium-only} {
        @include grid-column(6);
    }

    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
    }

    > h1 {
        @include grid-column(12, $collapse: true);

        width: 100%;
        font-family: $body-font-demi;
        color: $white;
        font-size: rem-calc(24px);
        background-color: $brand-color;

        @include vert-align(38px);

        margin-bottom: $site-margin;
        padding-left: $site-margin;
    }

    > p {}
}

.games-detail-page__bottom {
    .text-partial {
        margin-bottom: 0;
        background: $regalwins--gray-darkest;
        padding: 0 20px 20px 20px;
    }

    h1 {
        color: $white;
        text-transform: lowercase;  // needed as game names in this area are being UPPERCASED in the content
        font-size: $rw-header-secondary-size;
        line-height: $rw-header-secondary-line-height;
        font-weight: bold;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    .text-partial-content {
        padding-top: 0;

        p {
            font-size: rem-calc(14px);
            line-height: rem-calc(28px);

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .banner {
        margin-bottom: 1em;
    }

    img {
        color: $white;
    }
}

.game-detail-content__aquisition__cta {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    @media #{$small-only} {
        margin-top: 15px;
        display: none;
    }

    .cta-login {
        @include grid-column(5, $float: left);
        @include regalwins-button-gradient('true','green');

        width: 47%;

        @media #{$small-only} {
            @include grid-column(5);
            margin-left: 15px;
        }

        a {
            color: $white;
            display: block;
        }
    }

    .cta-join {
        @include grid-column(5, $float: right);

        width: 47%;

        @include regalwins-button-gradient();

        @media #{$small-only} {
            @include grid-column(5);
            float: right;
            margin-right: 15px;
        }

        a {
            color: #fff;
        }
    }
}