
.games-filters {
    @include grid-column(12);
    position: relative;
    z-index: 1;
    padding: 0px;

    @media #{$medium-up} {
        .games-filter-menu.games-filter-menu__slots-by-type {
            float: left !important;
            
            @media #{$medium-only} {
                padding-right: 20px;

                @media screen and (orientation: portrait) {
                    padding-left: 20px;
                }
            }
            
            .games-filter-menu__popover {
                position: absolute;
                margin-left: 2px;
                margin-top: -5px;
                left: -8px !important;

                @media screen and (orientation: portrait) {
                    left: -2px !important;
                    margin-top: -9px;
                }

                @media #{$landscape} {
                    margin-top: -9px;
                    left: 19px !important;
                }
            }
        }
    }

    @media #{$large-up} {
        .games-filter-menu.games-filter-menu__slots-by-type {
            .games-filter-menu__popover {
                left: -8px !important;
                margin-top: -5px;
            }
        }
    }

    .games-menu__container {
        @include grid-column(12);
        padding: 0;
        position: relative;
        background-color: $regalwins--gray-darkest;

        @media #{$medium-up} {
            padding-bottom: 20px;
        }

        .games-menu__games-nav {
            @include grid-row;
            @include list-inline;

            @media #{$small-only} {
                padding: 10px 20px 0 20px;
            }

            @media #{$medium-up} {
                height: 50px;
                padding-top: 25px;
            }

            margin: 0 auto;
            width: 100%;
            position: relative;
            background-color: $regalwins--gray-darkest;

            li {
                border: none;
                text-align: center;
                font-family: $ui-font-bold;
                font-size: $theme--ui----desktop--fontsize13;
                list-style: none;

                @media #{$small-only} {
                    float: none;
                    text-align: left;
                }

                &.quicklinks {
                    font-family: $body-font-bold;
                    font-weight: normal;
                    margin-left: 0px;
                    width: 10%;
                    border-left: none;
                    background: none;
                }
            }

            #allslots,
            #table-card,
            #scratchcards {
                margin-right: 10px;
                a {
                    @include regalwins-button-border;
                    
                    color: $white;
                    border: 1px solid $white;
                    font-size: $rw-body-small-font-size;
                    margin-top: 0;
                    margin-bottom: 20px;
                    padding: 0.5rem 2rem 0.7rem 2rem;

                    &:active, &:focus, &:hover {
                        color: $regalwins--highlight-gold;
                        background: transparent;
                        text-decoration: underline;
                    }
    
                    &.active {
                        color: $regalwins--highlight-gold;
                        text-decoration: underline;
                        border: 1px solid $regalwins--highlight-gold;

                        &:active, &:focus, &:hover {
                            color: $regalwins--highlight-gold;
                            background: transparent;
                            text-decoration: underline;
                            border: 1px solid $regalwins--highlight-gold;
                        }
                    }
                }
            }

            #allslots {
                @include hide-for-small-only;
                @include hide-for-medium-only;
            }
            // Games menu above main content slots by type. #magicalMenu

            .games-filter-menu {
                position: relative;
            }

            .ui-game-filter-btn-home-above {
                @media #{$small-only} {
                    display: block;
                    position: relative;
                    font-size: $theme--ui----desktop--fontsize13;
                    text-transform: none;
                    background-color: $black !important;
                    text-align: left;
                    padding: 14px 0;
                    @include border-radius(4px);
                    border:1px solid $white;
                    
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        width: 30px;
                        height: 30px;
                        background: url("/_images/revamp/common/icons/arrow-down-white.svg") no-repeat center center;
                    }
                    &:hover{
                       background:$regalwins--hover;
                    }
                    & span {
                        display: inline-block;
                        padding-left: 20px;
                        width: 105px;
                        height: 18px;
                        overflow: hidden;
                    }
                }
            }

            .game-filter-btn__wrapper  {
                background: transparent;

                @media #{$medium-up} {
                    width: 160px;
                    max-width: 170px;
                    border: 1px solid $regalwins--border;
                    @include border-radius(3px);
                    display: block;
                    font-size: 1rem;
                    margin: 0 0 0.6rem 0;
                    padding: 0.2rem 0.5rem 0.6rem 0.5rem !important;
                    height: 37px;
                    box-sizing: border-box;
                    background: $black;
                }

                @media #{$landscape} and (min-width: 667px) and (max-width: 1024px) {
                    padding-left: 1rem;
                    margin-left: 20px;
                }

                .ui-game-filter-btn-home-above {  
                    @media #{$medium-up} {
                        background: transparent;
                        font-size: rem-calc(13px);
                        font-weight: bold;
                        text-transform: uppercase;
                        text-align: center;
                        line-height: 6px;
                        color: $white;
                        padding: 5px 12px;
                    }
                }
            }
            
            

            .ui-game-filter-menu-home-above {
                @media #{$small-up} {
                    left: -141px;
                    top: 0px;
                }
                @media #{$medium-up} {
                    left: -187px;
                    top: 0px;
                }
                @media #{$large-up} {
                    left: -147px;
                    top: -10px;
                }
            }
            .games-menu__games-nav__search {
                @include hide-for-small-only;
                @include hide-for-medium-only;
                width: auto !important;
                float: right;
            }
            @media #{$medium-only} {
                background-image: none;
                background-color: $regalwins--gray-darkest;
            }
            @media #{$small-only} {
                background-image: none;
                background-color: $regalwins--gray-darkest;
            }
        }
        #table-card,
        #scratchcards {
            @include hide-for-small-only;
            @include hide-for-medium-only;
        }
        //        #allslots {
        //            @include hide-for-small-only;
        //        }
    }
    .search-input {
        font-size: 1.1em;
        @media #{$medium-up} {
            @include grid-column(4);
            right: 0;
        }
        @media #{$small-only} {
            @include grid-column(6);
        }
        input[type=text] {
            font-size: 1em !important;
        }
    }
    .desktop-search-results-container {
        margin: 0 !important;
        width: 97% !important;
        margin-top: 2px !important;
        border-radius: 4px;
        box-shadow: 0px 3px 0 0px rgba(0, 0, 0, 0.14);
        li {
            border-bottom: 1px solid #E6F1FB !important;
            height: 70px;
            @include transition(all, 0.2s ease-out);
            a {
                @include grid-column(12);
                padding: 5px !important;
                background: none !important;
                box-shadow: none !important;
                .search-result__thumb {
                    @include grid-column(3);
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    .search-result__thumb__img {
                        height: auto;
                        padding: 0;
                    }
                }
                .search-result__name {
                    @include grid-column(9);
                    margin: 0;
                }
            }
            .search-result__name__inner {
                color: $global-link-color !important;
                margin: 0;
                font-family: $body-font-bold;
                font-size: 13px !important;
                text-transform: uppercase;
                text-align: left;
                padding: 0 ($site-margin / 2) !important;
            }
        }
    }
}

// active state handling
@mixin games-menu-item-active {
    a {
        border-color: $white;
        color: $white;
        text-decoration: underline;
    }
}


body#games .games-menu__games-nav #games           { @include games-menu-item-active }
body#table-card .games-menu__games-nav #table-card { @include games-menu-item-active }
body#slots .games-menu__games-nav #slots           { @include games-menu-item-active }

