// =============================================================================
// Game Details - SEO Page
// =============================================================================

#games-info {
    padding: 1px;
    @include regal-background-gradient;
    border: 0 !important;

    &.reveal-modal {
        @media #{$small-only} {
            min-height: 100% !important;
            padding: 0;
            height: 100% !important;
            width: 100% !important;
            min-height: 100% !important;
            max-width: 100%;
            transform: none !important;
            top: 0 !important;
            position: absolute;
            left: 0 !important;
            margin: 0 auto !important;
            border: none;
        }

        .close-reveal-modal, dialog .close-reveal-modal {
            @media #{$small-only} {
                top: 0 !important;
                right: -8px !important;
            }
        }
    }
}

.game-detail-modal {
    @include grid-column(12);

    background: $regalwins--gray-darkest;
    padding-top: $site-margin;
    height: auto;
    font-family: $body-font-regular;
    padding-left: 20px;

    @media #{$small-only} {
        padding: 20px;
        border-radius: 0;
        background: $black url('/_images/revamp/common/backgrounds/card-pattern-dark.png');
        background-size: 100%;
        background-repeat: no-repeat;
        padding-top: 6rem;
        margin: 0;
    }

    > .game-detail-wrap__title-bar h1 {
        @include grid-column(12, $collapse: true);

        width: 100%;
        font-family: $heading-font-bold;
        color: $white;
        font-size: rem-calc(20px);
        font-weight: bold;
        margin-bottom: $site-margin;
        padding-left: 0;

        @media #{$small-only} {
            margin-bottom: 5px;
            padding-left: 0;
            text-transform: none;
            font-size: $rw-header-secondary-size;
            line-height: rem-calc(22px);
        }
    }

    .game-detail-content {
        @include grid-row;

        margin-bottom: 0;

        .game-detail-content__right {
            @include grid-column(4, $collapse: true, $float: right, $last-column: true);

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
            }

            .login-box{
                margin-top: 0;
            }

            img {
                width: 100%;
            }

            > article.login-box > h1 {
                color: $white;
                font-size: 1em;
                margin-top: $site-margin / 2;
                margin-bottom: $site-margin / 2;
                font-family: $heading-font-bold;
            }

            &__readMore {
                display: inline-block;
                color: $white;
                font-size: 11px;
                position: relative;
                margin: 0 0 10px 0;
                font-size: $rw-body-font-size;
                line-height: $rw-body-line-height;
                font-weight: bold;

                &:hover,
                &:active {
                    color: $white;
                    text-decoration: underline;
                }
            }
        }

        .game-detail-content__left {
            @include grid-column(8, $collapse: true, $float: left);

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);

                margin-top: 5px;
            }

            position: relative;

            .play-now-button {
                width: 130px;
                height: 150px;
                top: 50% !important;
                left: 50% !important;
                margin-left: -65px;
                margin-top: -75px;
                z-index: 99999;
                position: absolute !important;
            }

            .overlay {
                position: absolute;

                @include grid-column(12, $collapse: true, $float: left);

                height: 100%;
                background-color: #000;

                @include opacity(0.6);

                z-index: 9999;
                text-align: center;
            }

            img {
                width: 100%;

                // height: 100%;
                @include opacity(1);
            }

            .game-detail-content__left__thumbnails {
                @include grid-column(4, $collapse: true);

                @media #{$small-only} {
                    @include grid-column(6, $collapse: true);
                }

                padding-left: $site-margin;
                padding-top: $site-margin;
            }
        }
    }

    .game-detail__description {
        @include grid-column(12, $last-column: true);

        @media #{$small-only} {
            margin: $site-margin 0;
            padding: 0;
        }

        line-height: 22px;

        p {
            font-size: $rw-body-small-font-size;
            line-height: rem-calc(23px);
            color: $white;
            margin-bottom: $site-margin / 2;
        }

        h3 {
            color: $white;
            font-size: rem-calc(14px);
            line-height: rem-calc(24px);
            text-transform: lowercase;
            font-weight: bold;
            margin-bottom: 10px;
            margin-top: 0px;

            &:first-letter {
                text-transform: uppercase;
            }

            @media #{$medium-up} {
                font-size: $rw-header-secondary-size;
            }
        }

        a {
            font-size: rem-calc(14px);
            line-height: rem-calc(18px);
            color: $brand-color;
        }

        @media #{$small-only} {
            .game-detail-content__right__readMore {
                font-size: rem-calc(12px);
                line-height: rem-calc(18px);
                font-weight: normal;
            }
        }
    }

    .game-detail-content__right__game-table {
        font-size: 15px;
        color: #555;

        ul {
            list-style: none !important;
            margin: 0  !important;
        }

        > li {
            font-size: rem-calc(12px);
            border-bottom: 1px solid $grey;

            @include vert-align(44px);

            @media #{$medium-only} {
                @include vert-align(34px);
            }

            > span {
                padding-right: $site-margin;
                width: 95px;
                display: inline-block;
                color: $black;
            }
        }
    }
}