

#slots {
    .games-list.middle-content__box {
        padding-bottom: 0 !important;
    }
}

#games {
    .games-list.middle-content__box .section__title {
        display: none;
    }
}

.games-list.middle-content__box .section__title {
    background: $regalwins--gray-darkest;
    padding: 0;
    color: $white;
    text-transform: none;
    text-transform: lowercase !important;
    font-weight: bold !important;

    &:first-letter {
        text-transform: uppercase;
    }

    & > a {
        @media #{small-only} {
            width: 220px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        display: inline-block;
        font-size: $rw-header-secondary-size;
        text-transform: lowercase !important;
        font-weight: bold;
        color: $white;

        &:first-letter {
            text-transform: uppercase;
        }
    }

    span {
        margin-right: 0;

        a {
            color: $white;
            font-size: $rw-body-small-font-size;
            text-transform: lowercase;
            text-decoration: underline;
        }
    }
}

// live dealer specific
.middle-content {
    .games-pages {
        .live-casino-list {
            .middle-content__box.games-list {
                padding: 0 !important;

                .section__title {
                    padding-left: 0;
                    padding-top: 0;
                }
            }
        }
    }
}

.games-list {
    font-size: 1rem;
    padding: 15px !important;
    margin-bottom: 24px !important;

    // icons to change between table and grid layout
    .section__action {
        padding-right: 0;
        padding-top: 2px;

        .section__action__item {
            .st0, .st1 {
                fill: $white;
            }

            a {
                &:active, &:focus, &:visited {
                    color: $white;
                }
            }
        }
    }

    .nonresponsive.ui-text-only-table {
        thead td {
            background: $black !important;
        }

        tbody {
            td {
                .cta-more-info {
                    @include regalwins-button-gradient('false', 'green');
                    color: $white;
                    font-size: rem-calc(11px);
                }
                .cta-play {
                    @include regalwins-button-gradient('false', 'orange');
                    color: $white;
                    font-size: rem-calc(11px);
                }
            }

            tr {
                background: $black !important;
    
                &:nth-of-type(2n+1) {
                    background: #222222 !important;
                }
            }
        }
    }

    &.live-casino-list {
        .section__title {
            width: 100% !important;
        }
    }
    margin-bottom: 7px;
    padding-bottom: 0px !important;
    @extend .section;

    .section__header.hideme {
        .section__title {
            position: relative;
            font-size: $rw-header-secondary-size;
            margin-left: 0;
            margin-bottom: 5px;
            font-weight: bold;
        }
    }

    &.middle-content__box {
        margin-bottom: 0 !important;
        background-color: $regalwins--gray-darkest;
        padding: 20px !important;

        @media #{$large-up} {
            padding: 0 !important;
        }

        .section__title {
            position: relative;
            font-size: $rw-header-secondary-size;
            margin-left: 0;
            font-weight: bold;
        }

        .section__header__viewall {
            a {
                position: relative;
                top: 4px;
                right: 0;
                font-weight: normal;
                @include capitalize;
            }
        }
    }

    .games-list__grid__child {
        .game-icon {
            background: $regalwins--gray-darkest;
            padding-right: 3px;
            padding-bottom: 6px;
        }

        @media #{$small-only} {
            // right-hand column portrait
            &:nth-of-type(2n+2) {
                .game-icon {
                    padding-left: 3px;
                    padding-right: 0;
                }
            }
        }
        @media #{$medium-only} {
            .game-icon {
                padding-left: 3px;
                padding-right: 0;
            }
        }

        @media #{$large-up} {
            .game-icon {
                padding-left: 0;
                padding-right: 6px;
            }
        }

    }


    .games-list__filter {
        float: left;
        @media #{$small-only} {
            @include grid-column(8); // padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(4);
            padding: 0px;
        }
        .games-list__filter__button {
            @include button($button-med, $primary-color, false, true, false, false);
            @include dropdown-button;
            @extend .expand !optional;
        }
        .button {
            font-size: 0.8em;
        }
    }
    .games-list__search {
        float: left;
        @media #{$small-only} {
            display: none;
        }
        @media #{$medium-up} {
            @include grid-column(6);
        }
    }
    .games-list__search-wrapper {
        float: left;
        @include grid-column(12);
    }
    .games-list__search-wrapper__left {
        float: left;
        @include grid-column(8);
    }
    .games-list__search-wrapper__right {
        float: left;
        @include grid-column(4);
        >span {
            // @extend .postfix;
            @include button($button-med, $grey, $global-radius, false, false, false);
            @extend .secondary !optional;
        }
    }
    .games-list__display-mode {
        float: left;
        @media #{$small-only} {
            padding-right: 0px;
            @include grid-column(4);
        }
        @media #{$medium-up} {
            @include grid-column(2);
        }
        >div {
            float: left;
            @include grid-column(6);
            padding: 0px;
            >a {
                @include button($button-med, $primary-color, false, true, false, false);
            }
        }
    }
    .games-list__grid {
        @include grid-column(12, $collapse: true);
        padding: 1px !important;
        margin-bottom: $site-margin;

        .game-icon__bottom {
            height: 40px;
            background: linear-gradient(228.74deg, #191919 0%, #2E2D2E 100%);

            .game-icon__title {
                text-transform: none;
                font-size: rem-calc(12px);
                line-height: 20px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .game-icon__favourite {
                z-index: 0;
                
                .game-icon__favourite__icon.icons-star--off {
                    height: 30px;
                    width: 30px;
                    background-size: 20px 20px;
                    background-position: right 10px;
                }
                .game-icon__favourite__icon.icons-star--on {
                    height: 30px;
                    width: 30px;
                    background-size: 20px 20px;
                    background-position: right 10px;
                }
            }
        }

    }
    .games-list__grid__child {
        // padding: 7px !important;
        @media #{$small-only} {
            @include grid-column(6, $collapse: true);
        }
        @media #{$medium-only} {
            @include grid-column(3, $collapse: true);
        }
        @media #{$large-up} {
            @include grid-column(3, $collapse: true);
        }
    }
    .games-list__popular-games {
        .slick-slide {
            padding: 0.5em !important;
        }
    }
}

.home-games {
    padding-bottom: 14px !important;
    margin-bottom: 34px;
    position: relative;
}


.section {
    .games-list {
        .section__title {
            width: 100% !important;
        }
    }
    &__action {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-top: 5px;

        &__item {
            float: left;
            margin-right: 0;
        }

        &__viewall {
            display: block;
            font-size: 0.95rem;
            margin: 0;
            margin-right: 5px;
            text-transform: uppercase;

            a {
                color: $regalwins--copy-colour;
                font-family: $heading-font-bold;
                font-size: $theme--ui----mobile--fontsize;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__toggle {
            display: block;
            width: 20px;
            height: 20px;
            margin-top: 2px;
            opacity: 0.5;
            cursor: pointer;

            svg {
                fill: $regalwins--copy-colour;
            }

            &.toggle-grid-view {
                width: 16px;
                height: 16px;
                margin-top: 1px;
            }

            &:hover {
                opacity: 0.8;
            }

            &.active {
                opacity: 1;
                cursor: default;
            }

            @media #{$small-only} {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 641px) {
    .section {
        &__action {
            &__item {
                margin-right: 12px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.games-content__banner {
    img.banner {
        width: 100%;
    }
    
    .edit-point {
        margin-top: 50px;
        z-index: 3;
    }
}