.game-review {
    font-size: 1rem;
    @include grid-column(12);
    background-color: $mine-shaft;
    @include clearfix;
    margin-bottom: $site-margin;

    .game-review__content{

    }

    .game-review__content__title {
        margin-top: .875rem;
        font-family: $heading-font-bold;
        font-size: 1em;
        border-bottom: 1px solid $roti;
        padding-left: 0;
        margin-bottom: .875rem;

        > a {
            color: $white;
            font-weight: bold;
        }
    }
    .game-review__content__image {
        padding: 0px;
        margin: 0px $site-margin $site-margin 0px;
        float: left;
        @media #{$small-only} {
            @include grid-column(12);
            margin-bottom: $site-margin;
            padding: 0px;
        }
    }
    .game-review__content__body{
        > p {
            font-size: 0.9em;
        }

        a {
            color: $white;
            text-decoration: underline;

            &:hover,
            &:active {
                color: $roti;
            }
        }
    }
    .game-review__publisher{
        font-size:0.8em;

    }
}