

.content-wrapper--logged-in {
    .games-nav {
        li { display: inline-block !important; }
    }    
}

.games-nav {
    width: 100%;
    max-width: 300%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    background: $regalwins--gray-darkest;
    text-align: center;

    // iphone 5 landscape specific
    @media screen and (width: 568px) and (orientation: landscape) { overflow: hidden; }

    @media #{$medium-up} { overflow-x: hidden; }

    ul {
        margin: 20px 0 10px 15px;
        list-style-type: none;
        width: 100%;
        max-width: 300%;

        @media #{$medium-up} {
            margin-left: 0;
            margin-top: 2rem;
        }

        @media #{$large-up} {
            margin-left: 0;
            padding-left: 20px;
            margin-top: 2rem;
        }

        @media #{$landscape} {
            margin: 0 auto;
            padding-top: 20px;
            padding-bottom: 5px;
        }

        li {
            width: 16.5vw;  // using vw always ensures half of the last icon is visible
            display: inline-block;
            text-align: center;
            max-width: 90px;

            &:last-of-type {
                margin-right: 15px;
            }

            @media #{$medium-up} {
                width: 11vw;

                &:last-of-type {
                    margin-right: 0;
                }
            }

            @media #{$landscape} {
                width: 11vw;
                height: auto;

                &:last-of-type {
                    margin-right: 0;
                }
            }

            // ipad pro portrait
            @media screen and (min-width: 1024px) { width: 8.5vw; }

            // desktop and ipad pro landscape
            @media #{$large-up} and (orientation: landscape) { width: 6vw; }

            // Galaxy S5 and iphone 5 portrait specific
            @media screen and (max-width: 360px) { width: 20vw; }

            // iphone 5 landscape specific
            @media screen and (width: 568px) and (orientation: landscape) { width: 11.5vw; }

            &.hidden {
                display: none;
            }
        }

        a {
            display: block;
            color: $white;
            font-size: rem-calc(10px);
            white-space: normal;
            text-align: center;
            -webkit-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;

            @media #{$medium-up} {
                padding-left: 3px;
                padding-right: 3px;
                font-size: rem-calc(11px);
            }
            
            &.active, &:hover, &:focus, &:active {
                color: $regalwins--highlight-gold;

                svg path { 
                    fill: $regalwins--highlight-gold; 
                    -webkit-transition: fill .3s ease-in-out;
                    -o-transition: fill .3s ease-in-out;
                    transition: fill .3s ease-in-out;
                }
            }

            &:hover {
                -webkit-transition: -webkit-transform .3s ease-in-out;
                transition: -webkit-transform .3s ease-in-out;
                -o-transition: transform .3s ease-in-out;
                transition: transform .3s ease-in-out;
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            }

            svg {
                display: block;
                margin: 0 auto;
                margin-bottom: 5px;
                width: 100%;
                height: auto;

                @media #{$small-only} {
                    width: 53px;
                    height: auto;
                }
            }

            & svg path {
                fill: $white;
            }
        }
    }
}
