.games-filter-menu,
.ui-game-filter-menu-home-above {
    @media #{$large-up} {}
    color: #23195D;
    font-family: $heading-font-bold;
    .game-filter-btn__wrapper {
        text-align: center;
        color: $white;
        font-family: $heading-font-bold;
        &:hover {}
        @media #{$large-up} {}
        .game-filter-btn {
            color: $white;
            background: darken(#59c4e7, 10%);
            padding: 0.2em;
            padding-left: 0.4em;
            padding-right: 0.4em;
            &:hover {
                border-bottom: none;
                background: #59C4E7;
            }
        }
    }
    .game-filter-btn {
        color: $white;
        &:hover {}
    }
    span {
        position: relative;
    }
    .nub {
        height: 9px;
        width: 15px;
        display: block;
        text-align: center;
        position: absolute;
        left: 140px;
        top: -9px;
    }
}

.games-filter-menu.selected {}

.games-filter-menu__popover-wrap {
    position: relative;
    margin-top: 5px;
    
    @media #{$large-up} {
        margin-top: 16px;
        margin-left: 7px;
    }
}

.games-filter-menu__popover {
    position: absolute;
    display: none;
    z-index: 999;
    height: auto;
    width: 340px;
    background-color: $regalwins--black;
    top: -15px;
    left: -8px;
    border-top: none;
    text-transform: uppercase;

    @media #{$small-only} {
        width: 310px;
        left: -15px !important;
    }

    @media only screen and (min-width: 321px) {
        width: 100%;
        left: 0 !important;
    }

    @media #{$medium-up} {
        width: 340px;
        left: -7px !important;
    }

    .tabs {
        @include grid-column(12, $collapse: true);
        z-index: 3;
    }
    > dl > dd a,
    .tabs .tab-title a {
        background-color: $regalwins--san-marino;
        color: $white;
        border: none;
        font-weight: bold;
        border-top: 1px solid $regalwins--gray-lightest;

        &:hover {
            color: $global-bg-color;
        }
    }

    > dl > dd {
        a {
            line-height: 30px !important;
        }

        &:first-of-type {
            a { 
                border-left: 1px solid $regalwins--gray-lightest;
                border-top-left-radius: 4px;
            }
        }
        &:last-of-type {
            a { 
                border-right: 1px solid $regalwins--gray-lightest;
                border-top-right-radius: 4px;
            }
        }
    }
    
    > dl > dd.active a,
    .tabs .tab-title.active a {
        background-image: none;
        background-color: $black !important;
        color: $regalwins--highlight-gold !important;
        border-top: 1px solid $regalwins--gray-lightest;
        margin-top: 0;

        &:hover {
            background-color: $black !important;
            text-decoration: none;
            color: $regalwins--highlight-gold !important;
        }
    }
    > dl > dd {
        @include grid-column(3, $collapse: true);
        text-align: center;
        height: 34px;
        color: $navigation-text-color;
        &:active {
            padding-bottom: 4px;
            a {
                font-family: $ui-font-bold;
                font-size: 0.8em;
            }
        }
        a {
            font-family: $ui-font-bold;
            padding: 1px;
            height: 34px;
            @include vert-align(34px);
            font-size: 0.7em;
            &:hover {}
        }
    }
    .tabs-content {
        @include grid-column(12, $collapse: true);
        margin-bottom: 0px;
        color: $navigation-text-color;
        padding-left: 0.6em;
        padding-top: 0;
        background: $black;
        border: 1px solid $regalwins--gray-lightest;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        .content {
            padding-bottom: 0;
        }
        .content ul {
            padding-left: 0em;
            padding-right: 0;
            padding-top: 0em;
            padding-bottom: 0em;
            height: auto;
            @include clearfix;
            li {
                font-family: $ui-font-semibold;
                font-size: 0.6em;
                font-weight: bold;
                padding-right: 1em !important;
                height: 34px;
                @include grid-column(4, $collapse: true);
                margin-bottom: 1em;

                // iphone 5
                @media screen and (max-width: 320px) {
                    padding-right: 0.75em !important;
                }

                a {
                    display: block;
                    text-transform: none;
                    // @include background-image(linear-gradient(to top, $white 2%, white 100%));
                    color: $white;
                    height: 34px !important;
                    line-height: 13px;
                    font-size: 1.1em;
                    text-align: left;
                    padding: 3px 2px 0px 8px;

                    // iphone 5
                    @media screen and (max-width: 320px) {
                        padding-left: 0;
                        font-size: 1em;
                        font-weight: normal;
                    }

                    // convert line breaks in name to spaces
                    br {
                        content: " ";

                        &:after {
                            content: " ";
                        }
                    }
                }
                a:hover,
                a:focus {
                    background: $black;
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
        .content-active {
            padding-bottom: 0px;
        }
    }
}

