//Color variables
$icon-border-top: #dc4086;
.zoomin,
.zoomout {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomOut {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, -40%, 0);
    }
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 1;
        transform: translate3d(0, -40%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.bottom-last-played {
    background-color: $regalwins--gray;
    @include box-shadow(0 -3px 0 rgba(5, 5, 5, 0.07));
    height: 26px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999999999;
}

.last-played {
    margin-left: 90px;
}

#ui-last-played-container {
    padding: 4px;
    margin-bottom: -100px;
}

.last-played-game {
    @include grid-column(1, $collapse: true);
    position: relative;
    bottom: 50px;
    background-color: rgba(23, 22, 22, 0.63);
    @include box-shadow(0 -4px 0 rgba(5, 5, 5, 0.07));
    border-top: 3px solid $regalwins--highlight-gold;

    img {
        opacity: 0.5 !important;
        transition: opacity 1.2s;
    }

    &:hover {
        filter: brightness(120%);
        bottom: 75px;

        img {
            opacity: 1 !important;
        }
    }
}

.zoomout {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
}

.zoomin {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.last-played-container-title {
    margin-left: 8px;
    color: $white;
    font-size: 0.8em;
    font-family: $ui-font-regular;
}

.last-played-title {
    color: #FFFFFF;
    font-size: 0.8em;
}

.last-played-toggle {
    @extend .show-for-large-up;
    color: $white;
    font-size: $rw-body-small-font-size;
    position: fixed;
    bottom: 0px;
    right: 14px;
    z-index: 99999999999;
    text-decoration: none;
    &:hover {
        color: $white;
        text-decoration: underline;
    }
    &.minimized {
        @include box-shadow(0 -3px 0 rgba(5, 5, 5, 0.07));
        background-color: $regalwins--header-gold;
        color: $black;
        height: 26px;
        padding: 1px 16px;
        right: 0;
        border-top-left-radius: 4px;
    }
}
