.games-list__grid {
    table {
        .sortable {
            cursor: pointer;
        }
        a.cta-more-info {
            border: none;
            display: block;
            padding: 0px;
            text-align: center;
            @include vert-align(25px);
            line-height: 26px;
            //width: 54px;
            @include border-radius(1px);
            background-color: #b1d6ed;
            color: $black;
            font-family: $heading-font-bold;
            font-size: 0.6em;
            &:hover {
                @include background-image(linear-gradient(bottom, darken(#e1f1fd, 3%) 16%, #eff8ff 84%));
                color: $black;
            }
        }
        a.cta-play {
            @extend .green-cta;
            border: none;
            display: block;
            padding: 0px;
            text-align: center;
            @include vert-align(25px);
            line-height: 26px;
            @include border-radius(1px);
            font-size: 0.8em;
        }
    }
}