.search-screen {
    // skin css
    background: rgba(0, 0, 0, 0.9);
    z-index: 3 !important;
}

.search-results {
    .search-result {
        border-bottom: 1px solid #484848;
        .search-result__name__inner {
            color: $white;
            font-family: $body-font-bold;
            font-size: 16px;
            line-height: 16px;
        }
        .search-result__cta {
            &:hover {
                -webkit-filter: invert(100%);
            }
        }
    }
}
