
.footer {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0px;
    @include grid-column(12);
    padding: 0;
    font-family: $body-font-regular;
    border-top: 1px solid $regalwins--gray-light;

    .footer__row {
        @include grid-row;
        padding: rem-calc(20px);
        background-color: $regalwins--gray;
        max-width: 100%;
        overflow: hidden;

        p {
            text-align: left;
            font-size: $rw-body-small-font-size;
            line-height: $rw-body-small-line-height;
        }

        // overrule theme
        a { display: inline; }

        .link-support {
            display: block;
            font-size: rem-calc(14px);
            color: $regalwins--gray-light;
            text-align: center;
        }
    }

    // hide about / support etc links on mobile
    .footer__row:nth-child(1) {
        display: none;
        
        @media #{$large-up} {
            display: block;
        }
    }

    .footer__row:nth-child(2) {
        background-color: $regalwins--gray;
    }

    .footer__row:nth-child(3) {
        position: relative;
        margin-bottom: 0;
        padding-bottom: 50px;
        background-color: $white;

        @media #{$medium-up} {
            padding-bottom: 30px;
            
            &:before, &:after {
                width: 25vw;
                height: 108px;
                top: 0;
                background-color: $white;
                position: absolute;
                z-index: 0;
            }
    
            &:before { left: -25vw; }
            &:after { right: -25vw; }
        }
    }
}

.footer__row__left {
@extend .show-for-large-up;
    @media #{$large-up} {
        @include grid-column(11, $collapse: true);
        height: 45px;
        width: 100%;
        text-align:center;

    }
}

.footer__row__right {
@extend .show-for-large-up;
    @media #{$large-up} {
        @include grid-column(1, $collapse: true);
        width: 12%;
        height: 45px;
        padding-top: 5px;
    }
}

.footer__nav {
    @extend .hide-for-small;

    display:inline-block !important;

    @media #{$medium-only} {
        @include list-inline;
        @include vert-align(45px);

        >li {
            /*padding-right: 0.2em;*/
            font-size: 0.9em;
            color: $brand-color;
            >a {
                color: $brand-color;
                display: block;
                font-size: 0.9em;
            }
            >a:hover {
                text-decoration: underline;
            }
        }
    }
    @media #{$large-up} {
        @include list-inline;
        @include vert-align(45px);
        >li {
            /*padding-right: 0.3em;*/
            font-size: 0.8em;
            color: $brand-color;
            margin: 0 0.5em 0 0.5em;
            >a {
                color: $brand-color;
                display: block;
            }
            >a:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer__row__legal {
    color: $white;
    text-align: center;
    line-height: 1.2em;
    max-width: 960px;
    margin: 0 auto;

    & h1 {
        margin-bottom: 0.75rem;
        font-size: $rw-header-secondary-size;
        text-align: left;
        text-transform: none;
        font-weight: bold;
    }
}

.footer__reasons {
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    p {
        color: $grey;
        font-size: 0.9em;
        margin-bottom: 0px;
    }
    border-bottom: 1px solid $brand-color;
}

.footer__social--wrapper {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    @media #{$large-up} {
        width: rem-calc(850px);
        margin-top: rem-calc(0px);
        margin-bottom: 0;
        padding:rem-calc(40px) rem-calc(0px) 0 rem-calc(0px);
    }

    @media #{$small-only} {
        // margin-bottom: rem-calc(120px);
    }
    @media #{$medium-only} {
        margin-bottom: 0;
    }
}

.footer__social {
    display: table;
    margin: 0 auto;
    .footer__social--icons {
        float: left;
        padding: rem-calc(0 10px 10px 10px);
        list-style: none;
        a {
            display: block;
            &:hover {
                #footer-social {
                    // fill: $footer-menu--hover;
                }
            }
        }
    }
}

.footer__row__gamblingaware, .footer__row__payments {
    text-align: center;

    li { 
        display: inline-block;
        vertical-align: middle;
        padding: 10px 10px 0 10px;

        a {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.footer__row__payments {
    li {
        padding: 10px 15px;
    }
}
