.social-share-links {
    @include list-inline;
    >li {
        padding-right: 0.3em;
        img{width:24px;}
    }
}

.social-share-links--top-content {
    .social-share-links {
    	text-align: center;
		width: 100px;
		margin: 0 auto;
		@include vert-align(35px);
        >li {

            padding-right: 0.3em;
            text-align: center;
            img {
                width: 24px;
            }
        }
    }
}