.home-bingo-progressives-holder {
    @include grid-column(12);

    padding: 0;
    background: $cotton-candy;
    height: 54px;
    margin-top: $site-margin / 2;

    @media #{$medium-only} {
        height: 80px;
        border-radius: 0;
        margin-bottom: $site-margin / 2;
    }

    @media #{$small-only} {
        height: 80px;
        border-radius: 0;
        margin-bottom: $site-margin / 2;
    }

    .content-holder__title {
        width: 17%;
        height: 100%;
        background: transparent !important;
        position: relative;
        z-index: 1;
        padding: 0;
        border-radius: 0;

        @media #{$medium-only} {
            @include grid-column(12);

            padding: 0;
            margin-bottom: 0;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0;
            margin-bottom: 0;
        }
    }

    .content-holder__title h1 {
        width: auto;
        background-color: $brink-pink;
        line-height: 1;
        padding: 11px 30px;
        color: white;

        @media #{$medium-only} {
            @include grid-column(12);

            line-height: 1;
            padding: $site-margin / 2;
            font-size: 14px;
        }

        @media #{$small-only} {
            @include grid-column(12);

            line-height: 1;
            padding: $site-margin / 2;
            font-size: 14px;
        }
    }

    .content-holder__ticker {
        // background: lighten($radical-red, 15%);
        float: left;
        width: 83%;
        margin: 0;
        line-height: 3.5;
        padding: 0;
        height: 100%;
        overflow: visible !important;

        @media #{$medium-only} {
            @include grid-column(12);

            padding: 0;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0;
        }

        ul {
            float: left;
            width: 2000px;
            margin: 0;
            background: none;
            height: 54px;
            padding: 12px 8px;
            overflow: visible !important;

            @media #{$medium-only} {
                padding: 0;
                padding-top: 10px;
            }

            @media #{$small-only} {
                padding: 0;
                padding-top: 10px;
            }

            li {
                background: lighten($radical-red, 12%);
                height: 30px;
                float: left;
                border-radius: 20px;
                margin-right: $site-margin / 2;
                line-height: 2.7;
                overflow: hidden;
                width: auto !important;
                cursor: pointer;

                .ticker-avatar {
                    float: left;
                    text-align: center;
                    margin-left: 10px;
                    height: 100%;
                    line-height: 2;

                    img {
                        display: inline !important;
                    }
                }

                .ticker-info {
                    float: left;
                    font-size: 12px;
                    color: white;
                    margin: 0 10px;

                    .ticker-slot {
                        float: left;
                        clear: both;
                        margin: 0;
                        line-height: 2.4;
                        font-family: $body-font-extra-bold;
                        font-size: 13px;
                    }
                }

                .ticker-amount {
                    float: right;
                    text-align: center;
                    font-family: $body-font-extra-bold;
                    background: $white;
                    line-height: 2.3;
                    font-size: 14px;
                    color: $Metallic-Bronze;
                    border-radius: 20px;
                    padding: 0 15px;
                    height: 100%;
                }
            }
        }
    }

    .bx-wrapper {
        .bx-viewport {
            height: 55px !important;

            @media #{$large-up} {
                padding-left: 10px;
                padding-right: 10px;
                right: 5px;
            }
        }

        .bx-prev {
            @include show-for-large-up;

            top: 42%;
            left: -163px;
            background: url(../_images/common/bxslider/bx-left-arrow.svg) no-repeat;
            background-position: left center;
            background-size: contain;
            width: 30px !important;
            height: 40px !important;
            opacity: 1;

            @media #{$medium-only} {
               display: none;
            }

            @media #{$small-only} {
                display: none;
            }
        }

        .bx-next {
            @include show-for-large-up;

            top: 42%;
            right: -1px;
            background: url(../_images/common/bxslider/bx-right-arrow.svg) no-repeat;
            background-position: right center;
            background-size: contain;
            width: 30px !important;
            height: 40px !important;
            opacity: 1;

            @media #{$medium-only} {
                display: none;
            }

            @media #{$small-only} {
                display: none;
            }
        }

        .bx-controls-direction a.disabled {
            @media #{$large-up} {
                display: block;
            }
        }
    }
}