.bingo-schedule-holder, .home-featured-games-holder {
    // @include show-for-large-up;
    padding: 0;

    @media #{$medium-only} {
        .content-holder__content_left {
            width: 100% !important;
            padding: 0 !important;
            height: auto;
        }
    }

    @media #{$small-only} {
        .content-holder__content_left {
            width: 100% !important;
            padding: 0 !important;
            margin-top: 0 !important;
            height: auto;
        }
    }

    .content-holder__content_right {
        @include show-for-large-up;
    }
}