.promo-banner {
    @include show-for-large-up;

    // @include be-box($white, solid, darken($black,5%), 0);
    @include grid-column(4, $collapse: true);

    height: 300px;
    width: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.promo-banner__image {
    height: 300px;

    @include grid-column(12, $collapse: true);
}

.home-main-promo {
    img {
        width: 100%;
    }
}

.home-footer-promo {
    display: block;
    position: relative;
    width: 100%;
    height: auto;

    .home-footer-fence {
        width: 100%;
        height: 134px;
        background: url(../_images/common/footer-fence.png) repeat-x center bottom;
        position: absolute;
        bottom: 0;
    }

    img {
        @include show-for-large-up;

        width: 100%;
    }

    .promo-banner__inner {
        @include grid-row;

        max-width: 1000px;
        margin: 0 auto;

        img {
            width: 100%;
            max-width: 1000px;
            position: relative;
        }

        .promo-banner__offer {
            @include grid-column(4);

            margin: 0;
            margin-top: $site-margin * 6;
            padding: 0;
            padding-left: $site-margin;
            position: absolute;
            z-index: 1;

            h1 {
                color: $offer;
                text-transform: uppercase;
                font-family: $body-font-bold;
                font-size: 6em;
                line-height: 0.7;

                //text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
           
            }

            p {
                color: $white;
                font-family: $body-font-bold;
                text-transform: uppercase;
                line-height: 1;
                font-size: 2em;
            }
        }

        .button {
            width: 250px;
            height: 60px;
            z-index: 1;
            position: absolute;
            margin-left: 690px;
            margin-top: 140px;
            padding-top: 13px;
            font-size: 30px;
        }
    }
}