.home-featured-games {
    @include grid-column(12, $collapse: true, $float: left);

    height: auto;

    &:after {
        clear: both;
    }

    .tabs-content {
        margin-bottom: 0;

        @media #{$small-up} {
            height: auto;
        }

        @media #{$large-up} {
            height: 165px;
        }

        overflow: hidden;
    }

    // Bingo Schedule Category Tabs
    .home-featured-games__tabs {
        @include show-for-medium-up;

        @include grid-column(12, $collapse: true, $float: left);

        height: 25px;
        margin-bottom: $site-margin / 1.8;

        dl.tabs {
            height: 25px;

            @include grid-column(12, $collapse: true, $float: left);

            dd {
                @include grid-column(2, $collapse: false, $float: left);

                //override column width to 20% so that 5 tabs fit in the tab bar
                width: 20%;
                height: 25px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }

                a {
                    background-color: $global-link-color;

                    /* Rectangle 113 Copy 5: */
                    background-image: linear-gradient(-180deg, #4BA4F0 0%, #2082D8 51%, #0E60A8 100%);
                    box-shadow: 0px 1px 1px 1px #0E4372, inset 0px 1px 0px 0px #8BC5F7;
                    border-radius: 4px;
                    font-family: $title1-font;
                    font-size: 14px;
                    color: $white;
                    padding: 0;
                    padding-left: 0.4em;
                    padding-right: 0.4em;
                    height: 25px;
                    line-height: 28px;
                    text-align: center;
                    border-radius: 3px;
                    text-transform: uppercase;
                    overflow: hidden;

                    &:hover {
                        background-color: $global-link-color;
                        background-image: none;
                    }
                }

                &.active {
                    a {
                        background: #FCFAFC;
                        box-shadow: inset 0px 1px 2px 0px rgba(169, 169, 169, 0.5);
                        border-radius: 4px 0px 4px 4px 4px;
                        color: $nav-active-color;
                    }
                }
            }
        }
    }

    // featured games section with tabbed contents and game icons
    // tabs
    .featured-games > .tabs dd {
        @include show-for-large-up;

        @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: left, $mcols: 1, $mcollapse: true, $mfloat: left, $lcols: 1, $lcollapse: true, $lfloat: left);

        &:hover {
            background-image: linear-gradient(-180deg, darken(#4BA4F0, 3%) 0%, #2082D8 51%, darken(#0E60A8, 3%) 100%);
        }

        &.active {}

        margin-right: $site-margin;
        min-width: 83px;
        max-width: 83px;

        > a, .tabs .tab-title > a {
            background-color: transparent;

            @include vert-align(24px);

            padding: 2px;
            padding-top: 1px;
            font-family: $body-font-bold;
            color: $white;
            font-size: 14px;
            color: #FFFFFF;
            text-shadow: 0px 1px 0px #312741;
            text-align: center;
            background-image: linear-gradient(-180deg, #4BA4F0 0%, #2082D8 51%, #0E60A8 100%);
            box-shadow: 0px 1px 1px 1px #0E4372, inset 0px 1px 0px 0px #8BC5F7;
            border-radius: 4px;
        }
    }

    .featured-games-categories {
        @include hide-for-medium-up;

        -webkit-appearance: initial;
        -moz-appearance: initial;

        @include foundation-breaks($scols: 4, $scollapse: true, $sfloat: right, $mcols: 3, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: right);

        font-size: 12px;
        color: #AFAFAF;
        height: 24px;
        line-height: 10px;
        padding: 0px;
        border: none;
        background-color: transparent;
        max-width: 90px;
        margin-right: 5px;
    }

    .title__viewall--featured-games {
        @include hide-for-small-only;
    }
}

.home-featured-games-holder {
    .lobby-wrap__content-box {
        margin-bottom: 0 !important;
    }
}

.home-featured-games .content-holder__content .content-holder__content_left .content-holder__inner {
    padding-bottom: 0 !important;
}