.home {
    .section__title {
        font-size: 1em;
    }
    // Features Visible on Desktop Only
    .home-featured-games-holder, .home-community-holder, .home-seo {
        @include show-for-large-up;
    }
    .three-columns-equal {
        > div {
            padding-left: 7px;
            padding-right: 7px;
            padding-bottom: 20px;
        }
    }
    .community-boxes {
        @include hide-for-small-only;

        @include hide-for-medium-only;
    }

    .main-content-seo-one, .main-content-seo-two {
        @include hide-for-small-only;
    }

    .section-full-width__title {
        @include grid-column(12, $collapse: true);

        font-family: $title-section !important;

        @media #{$large-up} {
            width: 65%;
            margin-left: 173px;
            margin-right: 173px;
        }
    }

    .hub-grid .hub-grid__col-2x {
        @media #{$medium-only} {
            @include grid-column(3, $collapse: true);
        }

        @media #{$small-only} {
        }
    }

    .home-seo-inner .text-image-left-partial__content__img {
        @include grid-column(3, $collapse: true);
    }

    .home-seo-inner .text-image-left-partial {
        width: 98%;
        margin: 1%;
    }

    .text-partial {
        padding: 0 !important;
        margin: 0;
    }

    .category-carousel-lobby-wrap__content-box__header {
        .title__icon {
            display: none;
        }

        .title__text {
            color: $nav-main-color !important;
            font-size: 1rem !important;
            margin: 0 !important;
            font-family: $body-font-extra-bold !important;
        }
    }
}

#home {
    .edit-point {
        z-index: 11111;
    }
}
