@media #{$small-only} {
    .content-holder__inner {
        float: left;
        width: 100%;
        height: auto;
        overflow-x: scroll;
    }
    .my-promotions {
        float: left;
        width: 720px;
        overflow-x: scroll;
        .my-promotions__promotion {
            width: 180px !important;
        }
    }
}

.home-community-holder {
    .content-holder__title__link {
        @media #{$small-only} {
            width: 38%;
        }
    }
    .content-holder__content_full-width {
        @media #{$small-only} {
            padding: 0.625rem !important;
        }
    }
    .article .article__content {
        @include border-radius(4px);
        padding: 0;
        background: #DBF6FF;
        @media (max-width: 320px) {
            height: 247px;
        }
        @media #{$small-only} {
            height: 260px;
        }
        @media #{$medium-only} {
            height: 320px;
        }
    }
    .article .article__content .article__content__title {
        padding: 0 ($site-margin / 2);
        width: 100%;
        display: block;
        line-height: 1.2;
        float: left;
        position: relative;
        top: -11px;
        margin-bottom: 0;
        @media #{$medium-only} {
            top: -5px;
        }
    }
    .my-promotions .my-promotions__promotion {
        .article {
            padding: 0;
            margin: 0;
        }
        @media #{$large-up} {
            @include grid-column(3, $collapse: false);
        }
        @media #{$medium-only} {
            @include grid-column(3, $collapse: false);
        }
        @media #{$small-only} {
            @include grid-column(12, $collapse: false);
        }
    }
    .article__content__date {
        display: none;
    }
    .article .article__content .article__content__title > a {
        font-size: 1em;
        line-height: 2px;
        color: #1D4775 !important;
    }
    .article .article__content {
        padding: 0;
        @media #{$small-only} {}
        @media #{$large-up} {
            max-height: 370px;
            min-height: 370px;
        }
    }
    .article .article__content__image {
        @media #{$medium-only} {
            @include grid-column(12, $collapse: true);
        }
        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
            width: 100%;
            margin: 0;
            margin-bottom: 14px;
            img {
                @include grid-column(12, $collapse: true);
            }
        }
    }
    .article__content__body {
        padding: 0 ($site-margin / 2);
        @media #{$medium-only} {
            overflow: hidden;
            height: 57px;
            width: 100%;
        }
        @media #{$small-only} {
            font-size: 16px;
            overflow: hidden;
            height: 57px;
            width: 100%;
        }
    }
}
