.home-winners-holder {
    @include grid-column(12);

    margin-top: $site-margin / 2;
    background: lighten($Sea-Buckthorn, 18%);
    padding: 0;
    height: 54px;

    // overflow: hidden !important;

    @media #{$medium-only} {
        height: 85px;
        border-radius: 0;
        margin-bottom: $site-margin / 2;
    }

    @media #{$small-only} {
        height: 85px;
        border-radius: 0;
        margin-bottom: $site-margin / 2;
    }

    .content-holder__ticker {
        // background: $Sea-Buckthorn;
        float: left;
        width: 88%;
        margin: 0;
        line-height: 3.5;
        padding: 0;
        height: 100%;
        overflow: visible !important;

        @media #{$medium-only} {
            @include grid-column(12);

            padding: 0;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0;
        }
    }

    .content-holder__title {
        width: 12%;
        height: 100%;
        padding: 0;
        position: relative;
        z-index: 1;
        height: 100%;
        background:transparent !important;

        @media #{$medium-only} {
            @include grid-column(12);

            padding: 0;
            margin-bottom: 0;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0;
            margin-bottom: 0;
        }
    }

    .content-holder__title h1 {
        width: 90%;
        background-color: #FCAC2F;
        line-height: 2.3;
        padding: ($site-margin / 2) 22px !important;
        color: $white;

        @media #{$medium-only} {
            @include grid-column(12);

            padding: ($site-margin / 2) !important;
            line-height: 1;

            // background: $Sea-Buckthorn;
            font-size: 14px;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding: ($site-margin / 2) !important;
            line-height: 1;

            // background: $Sea-Buckthorn;
            font-size: 14px;
        }
    }

    .content-holder__ticker ul {
        @include grid-column(12);

        width: 2000px;
        overflow-x: scroll;
        right: 15px;
        margin: 0;
        background: none;
        height: 54px;
        padding: 12px 8px;
        overflow: hidden !important;

        @media #{$medium-only} {
            padding: 0;
            padding-top: 10px;
        }

        @media #{$small-only} {
            padding: 0;
            padding-top: 10px;
        }

        li {
            background: lighten($Sea-Buckthorn, 1%);
            height: 30px;
            float: left;
            border-radius: 20px;
            margin-right: $site-margin / 2;
            line-height: 2.7;
            overflow: hidden;
            width: auto !important;
            cursor: pointer;

            .ticker-avatar {
                float: left;
                text-align: center;
                margin-left: 10px;
                height: 100%;
                line-height: 2.5;

                img {
                    display: inline !important;
                }
            }

            .ticker-info {
                float: left;
                font-size: 12px;
                color: white;
                padding-top: 5px;
                margin: 0 12px;
            }

            .ticker-info .ticker-slot {
                float: left;
                clear: both;
                margin: 0;
                line-height: 1.4;
                font-family: $body-font-extra-bold;
                font-size: 13px;

                .ticker-alias {
                    font-family: $body-font-bold;
                    margin-left: 5px;
                }
            }

            .ticker-amount {
                font-family: $body-font-extra-bold;
                float: right;
                text-align: center;
                background: white;
                line-height: 2.3;
                font-size: 14px;
                color: $Metallic-Bronze;
                border-radius: 20px;
                padding: 0 15px;
                height: 30px !important;
            }
        }
    }

    .bx-wrapper {
        .bx-viewport {
            height: 55px !important;

            @media #{$large-up} {
                padding-left: 10px;
                padding-right: 10px;
                right: 5px;
            }
        }

        .bx-prev {
            @include show-for-large-up;

            top: 42%;
            left: -115px;
            background: url(../_images/common/bxslider/bx-left-arrow.svg) no-repeat;
            background-position: left center;
            background-size: contain;
            width: 30px !important;
            height: 40px !important;
            opacity: 1;

            @media #{$medium-only} {
                display: none;
            }

            @media #{$small-only} {
                display: none;
            }
        }

        .bx-next {
            @include show-for-large-up;

            top: 42%;
            right: -1px;
            background: url(../_images/common/bxslider/bx-right-arrow.svg) no-repeat;
            background-position: right center;
            background-size: contain;
            width: 30px !important;
            height: 40px !important;
            opacity: 1;

            @media #{$medium-only} {
                top: 37%;
            }

            @media #{$small-only} {
                top: 37%;
            }
        }
    }
}