.home-main-slider {
    @include border-radius(4px);
    cursor: pointer;
    ul {
        list-style: none;
        margin: 0;
        margin-left: 0rem;
        position: relative;
        li {
            img {
                width: 100%;
            }
        }
    }
    max-width: 1100px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    @media #{$small-up} {
        background-color: #dad2f9;
    }
    @media #{$large-up} {
        background-color: transparent;
    }
    .desktop-slider & {
        @include show-for-large-up;
    }
    .mobile-slider & {
        @include show-for-small-only;
        @include show-for-medium-only;
    }
}

.slider-text-link {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    font-size: 11px;

    line-height: 1em;
    font-weight: bold;

    text-align: center;
    padding: 2px;
    width: 90%;
    left: 0px;
    bottom: 0px;
    width: 100%;
    margin: 0;
    position: relative;
    a {
        color: $white;
        &:hover {
            text-decoration: underline;
        }
    }

    .edit-point {
        margin-top: -45px;
    }
    @media #{$medium-only} {
    }
    @media #{$large-up} {
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
    }
    .slider-text-link-copyright {
        font-size: 11px;
        color: $white;
        line-height: 1em;
        font-weight: 700;
        margin-bottom: 0;
        text-align: center;
    }
}

.home-main-slider.desktop-mobile.ui-scheduled-content-container {
    @media #{$small-only} {
        margin-top: 60px;
    }
}
