.home-mobile {
    @include hide-for-large-up;
    margin-top: 50px;

    @media #{$medium-only} {
        margin-top: 40px;
    }

    .banner {
        @include grid-column(12);

        padding: 0 !important;
        min-width: 100%;


    }

    .home-mobile-carousels {
        @include grid-column(12);

        padding: 0;
    }

    .lobby-wrap__content-box__content {
        padding-top: ($site-margin / 2) !important;
        height: 175px !important;
    }
}

.holder-mobile {
    @include grid-column(12);

    overflow: hidden;
    margin: 0 !important;
    height: auto;

    // margin-top: $site-margin / 2;
    padding: $site-margin / 2 !important;

    @media #{$large-up} {
        padding: 0 !important;
        margin-top: ($site-margin / 2) !important;
    }

    .title-mobile {
        @include grid-column(12);

        @include hide-for-large-up;

        background: $white;
        padding: ($site-margin / 3) ($site-margin / 2);
        margin: 0;
        color: $nav-active-color;
        font-family: $body-font-extra-bold !important;
        font-size: 14px !important;
        line-height: 1;

        @media #{$medium-only} {
            padding: 0 !important;
            margin-bottom: ($site-margin / 2) !important;
        }

        @media #{$small-only} {
            padding: 0 !important;
            margin-bottom: ($site-margin / 2) !important;
        }

        .title-link {
            @include grid-column(4);

            font-size: 15px;
            text-align: right;
            float: right;
            text-transform: uppercase !important;
            color: $global-link-color;
        }
    }

    .content-holder-mobile {
        @include grid-column(12);

        padding: 0 !important;
        overflow: hidden;
        max-height: initial !important;
        position: relative;

        @media #{$medium-only} {
            padding: 0 !important;
            left: -10px;
            padding-left: 10px !important;
            width: 105% !important;
        }

        @media #{$small-only} {
            padding: 0 !important;
            left: -10px;
            padding-left: 10px !important;
            width: 105% !important;
        }

        ul {
            @include grid-column(12);

            margin: 0;
            padding: 0;
            overflow: hidden;

            li {
                @include grid-column(12);

                @include border-radius(4px);

                max-width: 135px;
                max-height: 145px;
                height: auto;
                margin-right: $site-margin / 2;
                padding: 0;
                color: $white;
                font-family: $mobile-font-bold;
            }

            &.bxslider-promo-carousel-s li {
                max-width: none !important;
                max-height: none !important;
                background: none !important;
            }
        }
    }

    // category caroussel skin style
    .category-carousel-lobby-wrap__content-box__header {
        margin-top: $site-margin / 2;
    }
}