.balance-area {
    font-size: 1rem;
    @include grid-row;

    float:left;
    width: 100%;
    
    background-repeat: no-repeat;
    text-align: left;
    .balance-area__left {
        @include grid-column($collapse: true, $columns: 5);
        text-align: center;
        padding: 10px;
        .cashier-button {
            @include CTA-button(8px, 16px, 2px, #179f2d, #7bb726);
            font-family: $body-font-demi;
        }
    }
    > .balance-area__right {
        @include grid-column($collapse: true, $columns: 12);
        
        .balance-area__title {
            font-size: 0.8em;
            width: 240px;
            float: right;
            display: block;
            
            text-align: center;
            color: $white;
            border-bottom:1px solid $grey;
            line-height: 0.8em;
            padding-top: 0.5em;
            padding-bottom:0.2em;
            display: none;
        }
        >ul {
            font-size: 0.9rem;
            @include list-inline;
            text-align: center;
            position: relative;
            overflow: visible;
            display: inline-block;
            float: right;
            background: url('../_images/common/black-30-opacity.png');
            padding:0.2em;
            width:100%;
            > li {
                text-align: center;
                // margin-right: 1.2em;
                line-height: 26px;
                width: 25%;
                text-align: center;
                > a {
                    font-size: 11px;
                    color: $white;
                    font-family: helvetica,arial,sans-serif;
                    font-weight: bold;
                    &:hover {
                        padding-bottom: 2px;
                        border-bottom: 2px #51c6ee solid;
                    }
                }
                a.current {
                    padding-bottom: 2px;
                    border-bottom: 2px #f1008a solid;
                }
                // &.user-nav__balance{
                //     @include grid-column(6,$collapse:true);
                // }
                i {
                    padding-top:0.2em;
                }
            }
            >li:first-child{
                border-right: 1px solid $grey;
            }
            >li:last-child{
                border-left: 1px solid $grey;
            }

            .balance-area__title__user-name{
                img{height: 17px; margin-right:0.2em;}
                span{color:$white;}

            }
        }
    }
    .balance-area__user-name {
        display: block;
        width: 100%;
        padding-right: 0.5em;
        padding-bottom: 0.5em;
        padding-top: 0px;
        padding-left: 50px;
        background: url("../_images/balance-area/user.png") no-repeat;
        background-position: 25px 5px;
        margin-bottom: 1em;
        color: white;
        text-decoration: underline;
        text-align: left;
        font-size: 0.8em;
    }
}