.header, .header--logged-in {
    font-family: $ui-font-bold;

    @extend .hide-for-medium-down;

    @media #{$large-up} {
        width: 100%;
        height: 107px;
        overflow: hidden;
        z-index: 9999;
        background: url(../_images/common/header/header-transparent.png) top center;
        overflow: visible;
        position: relative;
    }

    .header-inner {
        @include grid-row;

        max-width: 1040px;
        height: 107px;
    }

    .header-inner__left, .header-inner__right {
        @include grid-column(5, $collapse: true);

        width: 41%;
        height: 20px;
    }

    .header-inner__right {
        float: right;
    }

    .header-inner__middle {
        @include grid-column(2, $collapse: true);

        padding-right: 0;
        width: 18%;
        float: left;
        height: 97px;
        padding-left: 7px;
        margin-top: 2px;
    }

    .header-inner__left__top, .header-inner__right__top {
        margin-top: 10px;
    }

    .desktop-nav {
        &.loggedout-left {
            margin-left: 26px;
        }

        &.loggedin-left {}

        &.loggedout-right {
            margin-left: 77px;
        }

        &.loggedin-right {
            margin-left: 12px;
        }

        @include list-inline;

        > li {
            padding-left: 5px;
            padding-right: 6px;
            height: 14px;
            background: url(../_images/common/header/header-nav-divider.png) center right no-repeat;

            &:last-child {
                background: none;
            }
        }

        > li a {
            text-shadow: 0.5px 0.9px 0 #000;
            font-size: 11px;
            line-height: 14px;
            display: block;
            color: $content-text;
            text-rendering: optimizeLegibility;
            text-rendering: geometricPrecision;
            font-smooth: always;
            color: $white !important;

            &:hover {
                color: $global-link-color;
                text-decoration: underline;
            }
        }
    }

    .header-inner__left__bottom {
        margin-top: 11px;
    }

    .cat-search-bar {
        position: relative;
        width: 315px;

        // @include rounded-rectangle($radius: 50px, $height: 28px, $width: 310px, $color: $white, $opacity: 0.2);
        margin: 0 auto;
        padding: 3px;

        .cat-search-bar__categories {
            @include grid-column(6, $collapse: true);

            @include rounded-rectangle($radius: 50px, $height: 22px, $width: 119px, $color: $white, $opacity: 0.4);

            background-color: #FFF;

            @include background-image(linear-gradient(to top, #c6aeeb 0%, white 100%));

            // border-top-right-radius: 0;
            // border-bottom-right-radius: 0;
            cursor: pointer;

            &:hover {
                background: $global-link-color;
            }

            .games-filter-menu {
                height: 22px;
            }

            .game-filter-btn__wrapper {
                background: none;
                margin-top: -2px;
            }

            .game-filter-btn {
                background: none;
                color: #011558;
                font-size: 11px;
                font-family: $ui-font-bold;
                text-align: center;
                line-height: 22px;
                text-transform: uppercase;
                padding-left: 10px;
                margin-left: 6px;
            }

            .filter-slots {
                position: relative;
                padding-left: 14px;
                text-align: center;
                font-size: 11px;
                color: #011558;
                background-color: transparent;

                a {
                    display: block;
                    font-family: $ui-font-bold;
                    position: relative;
                    background-color: transparent;
                    color: #011558;
                }

                &:hover {
                    color: $global-link-color;
                }
            }
        }

        .cat-arrow {
            height: 8px;
            width: 14px;
            position: absolute;
            left: 93px;
            top: 8px;
            background: url(../_images/common/header/down-arrow.png) left top no-repeat;
        }

        .cat-search-bar__games-search {
            position: absolute;
            right: 3px;
            width: 181px;

            input {
                position: relative;

                @include grid-column(12, $collapse: true);

                background: $white;

                @include rounded-rectangle($radius: 46px, $height: 22px, $width: 100%, $color: $white, $opacity: 1);

                // border-top-left-radius: 0;
                // border-bottom-left-radius: 0;
                padding: 3px;
            }

            .cat-search-bar__games-search__icon {
                position: absolute;
                right: 8px;
                top: -1px;
            }
        }
    }
}

.header-inner__right__bottom {
    @include grid-column(12, $collapse: true, $center: true);

    margin-top: 11px;
    height: 28px;

    .buttons-bar {
        @include grid-column(6, $collapse: true);

        @include rounded-rectangle($radius: 50px, $height: 28px, $width: 100%, $color: $white, $opacity: 0.2);

        width: 202px;
        margin: 0 auto;
        padding: 3px;
        float: none;

        .buttons-bar__login {
            @include grid-column(6, $collapse: true);

            a {
                color: #011558;
                font-size: 13px;
                font-family: $ui-font-bold;
                text-align: center;
                line-height: 22px;

                @include rounded-rectangle($radius: 50px, $height: 22px, $width: 100%, $color: $white, $opacity: 0.4);

                @include grid-column(12, $collapse: true);

                background-color: #FFF;

                @include background-image(linear-gradient(to top, #c6aeeb 0%, white 100%));

                border-top-right-radius: 0;
                border-bottom-right-radius: 0;

                &:hover {
                    background: $global-link-color;
                }
            }

            padding-right: 3px;
        }

        .buttons-bar__join {
            @include grid-column(6, $collapse: true);

            a {
                color: #011558;
                font-size: 13px;
                font-family: $ui-font-bold;
                text-align: center;
                line-height: 22px;

                @include rounded-rectangle($radius: 50px, $height: 22px, $width: 100%, $color: $white, $opacity: 0.4);

                @include grid-column(12, $collapse: true);

                background-color: #FFF;

                @include background-image(linear-gradient(to top, $global-link-color 0%, #c2f9fd 100%));

                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                &:hover {
                    background-image: none;
                    background: $global-link-color;
                }
            }
        }
    }

    .balance-bar {
        @include grid-column(12, $collapse: true);

        @include rounded-rectangle($radius: 50px, $height: 28px, $width: 100%, $color: $white, $opacity: 0.2);

        width: 80%;
        margin: 0 auto;
        padding: 3px;
        float: none;

        .balances-bar__link {
            @include list-inline;

            @include grid-column(3, $collapse: true, $float: left);

            background: url(../_images/common/header/balance-divider.png) no-repeat center right;

            &:last-child, :nth-last-child(2) {
                background: none;
            }

            a {
                font-family: $ui-font-bold;
                text-shadow: 0.5px 0.9px 0 #000;
                color: $white;
                font-size: 12px;
                font-weight: bold;
                line-height: 22px;
                display: block;
                text-align: center;
                text-transform: uppercase;

                &:hover {
                    color: $global-link-color;
                }

                .active {}
            }
        }

        .message-inbox {
            @include list-inline;

            width: 15%;

            > .balances-bar__link__inner {
                > .balances-bar__message-inbox__icon {
                    float: left;
                    width: 34px;
                    height: 24px;
                    background: url(../_images/balance-area/icon-magical-message-inbox.png) no-repeat 8px 3px;
                }

                > .balances-bar__message-inbox__value {
                    background: lighten($main-highlight-color, 10%);
                    font-size: 0.8rem;
                    text-shadow: none !important;
                    position: absolute;
                    margin-top: -5px;
                    margin-left: -20px;
                    height: 20px;
                    display: inline-block;
                    width: 20px;
                    float: left;
                    border-radius: 20px;
                }
            }
        }

        .account-balance {
            width: 25%;

            .balances-bar__link__inner {
                font-size: 13px;
                text-decoration: underline;
            }
        }

        .tickets-balance {
            width: 20%;

            > .balances-bar__link__inner {
                > .balances-bar__link__icon {
                    float: left;
                    width: 22px;
                    height: 24px;
                    background: url(../_images/balance-area/icon-magical-tickets.png) no-repeat 2px 0px;
                }
            }
        }

        .moolah-balance {
            width: 30%;

            > .balances-bar__link__inner {
                > .balances-bar__link__icon {
                    float: left;
                    width: 27px;
                    height: 24px;
                    background: url(../_images/balance-area/icon-moolah-coin.png) no-repeat 5px 0px;
                }
            }
        }

        .deposit-cta {
            width: 30%;

            > .balances-bar__link__inner {
                width: 79px;
                line-height: 22px;
                font-size: 13px;

                @include rounded-rectangle($radius: 50px, $height: 22px, $width: 100%, $color: $white, $opacity: 0.2);

                @include background-image(linear-gradient(to top, #009c0c 0%, #009e10 50%, #2caa37 51%, #86c28c 100%));

                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                &:hover {
                    color: $white;

                    @include background-image(linear-gradient(to top, $global-link-color 0%, #c2f9fd 100%));
                }
            }
        }
    }
}

.header, .header--logged-in {
    .desktop-nav > li > a.current {
        color: $global-link-color;
    }
}
