.site-logo {
    float: left;
    width: 100%;
    @media #{$small-up} {
        background: url("../_images/common/header/aspers-online-casino-logo.svg") no-repeat;
        background-position: center center;
        text-indent: -11988px;
        background-size: 60% 85%;
        width: rem-calc(70px);
        height: rem-calc(70px);
    }

    @media #{$medium-up} {
        background-size: 85% 85%;
    }
    // @media #{$medium-only} {
    //     background: url("../_images/common/header/aspers-online-casino-logo.svg") no-repeat;
    //     text-indent: -11988px;

    //      background-size: contain;
    //            width: 340px;
    // }
    // @media #{$large-up} {
    //     background: url("../_images/common/magical-vegas-logo.png") left no-repeat;
    //     @include grid-column(2);
    //     text-indent: -11988px;
    //     background-size: 95px auto;
    // }
}