
.lobby-wrap__left {
    .lobby-wrap__content-box__content {
        background: $regalwins--gray-darkest;
        padding: 10px 20px;

        @media #{$medium-up} {
            margin-top: 1rem;
        }
    }

    .lobby-play-button a {
        @include regalwins-button-gradient('true', 'green');
        margin-bottom: 0;

        @media #{$medium-only} {
            max-width: 30%;
            margin: 0 auto;
        }
        @media #{$large-up} {
            max-width: 30%;
            margin: 0 auto;
        }


        &:hover {
            text-decoration: underline;
        }
    }
}

.small-play-wrap > div > a,
.small-deposit-wrap > div > a {
    color: $regalwins--copy-colour;
}
