
.mobile-cashback {
    margin: 20px 0 10px 0;
}

.lobby-claim-cashback {
    background-color: $black;
    padding: 10px 20px 10px 20px;
    margin-bottom: $site-margin;
    border: 1px solid $regalwins--border;
    min-width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;

    @media #{$medium-up} {
        min-height: 100%;
        margin-left: 10px;
    }

    h3 {
        font-size: $rw-header-secondary-size;
        text-transform: none;
        font-weight: bold;
        text-align: center;
    }

    &.alert-box.secondary {
        position: relative;
        background: $black;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-top: 1.45rem;
        margin-bottom: 0.9375rem;
        width: 280px;
        height: 155px;
        border: 1px solid $regalwins--border;
        
        .close {
            float: right;
            display: block !important;
            background-size: 14px !important;
        }
        h1 {
            font-family: $ui-font-bold;
            font-size: $rw-header-secondary-size;
            color: #fff !important;
            text-align: center;
            margin-bottom: 10px;
            text-transform: none;
            margin-top: 15px;

            span {
                color: $regalwins--highlight-gold;
                font-weight: bold;
            }
        }
        p {
            font-family: $ui-font-bold;
            font-size: $rw-header-secondary-size;
            color: #fff;
            text-align: center;
            line-height: 16px;
        }
    }

    .upgrade-title-text {
        text-align: center;
        color: $white;
        font-size: $rw-header-secondary-size;
        font-weight: bold;
    }

    .upgrade-info {
        text-align: center;
        margin-bottom: 0;
        color: #fff;

        a {
            font-size: $rw-body-small-font-size;
            color: #fff;
            text-decoration: underline;
        }
    }
    .upgrade-expiry {
        text-align: center;
        color: #fff;
    }

    .upgrade-text {
        font-size: rem-calc(12px);
        color: $white;
        text-align: center;
        margin: 8px 0;

        & span:not(:last-of-type) {
            color: $regalwins--highlight-gold;
            font-weight: bold;
            font-size: rem-calc(13px);
        }
    }

    .lobby-claim-cashback-button {
        @include regalwins-button-gradient('true', 'green');
        margin: 0 auto;
        width: 230px;
    }
    &.alert-box .close {
        top: 0.57em;
        right: 0;
        opacity: 1;
        color: #fff;
    }
}
