
.vip-level-area {
    display: block;
    float: none;
    color: $white;
    padding-top: 10px;
    font-size: 14px;

    @media #{$small-only} {
        span, a:not(.btn-lobby-deposit) {
            margin-bottom: 20px;
        }
    }

    a span {
        display: inline-block;
        @include capitalize;
        margin-left: 0.75rem;
        color: $regalwins--highlight-gold;
        text-transform: none;
        font-weight: bold;
        background: none !important;    // temporary until decided what to do with the levels (icons etc)
    }

    .btn-lobby-deposit {
        @include regalwins-button-gradient('true', 'green');
        max-width: 230px;
        padding: 0.9rem 1rem 1.1rem 1rem;

        @media #{$small-only} {
            width: auto;
            float: none;
            max-width: 230px;
            margin-top: 20px;
            margin: 0 auto;
        }
    }

    // newbie
    .level-0 {
        background-image: linear-gradient(-180deg, #00d0e8 40%, #018c9b 98%);
    }
    // bronze
    .level-1 {
        background-image: linear-gradient(-180deg, #d38a65 40%, #ba5734 98%);
    }
    // silver
    .level-2 {
        background-image: linear-gradient(-180deg, #546464 40%, #b8c8c8 98%);
    }
    // gold
    .level-3 {
        background-image: linear-gradient(-180deg, #c1a655 40%, #b59555 98%);
    }
    // ruby
    .level-4 {
        background-image: linear-gradient(-180deg, #e0175b 40%, #ff679c 98%);
    }
    //emerald
    .level-5 {
        background: linear-gradient(-180deg, #148938 40%, #76e99b 98%);
    }
    // elite
    .level-6 {
        background-image: linear-gradient(-180deg, #62517d 40%, #cbbae7 98%);
    }
}