.lobby-wrap {
    background-color: $regalwins--gray-darkest;
    padding-bottom: 15px;

    @media #{$large-up} {
        @include grid-row;
        @media #{$large-up} {
            padding-top: 0;
            padding-left: 0;
        }
    }

    // lobby left column
    .lobby-wrap__left {
        @include foundation-breaks($scols: 8, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);
        height: auto;
        padding-right: $site-margin;

        @media #{$small-only} {
            padding: 0 !important;
        }

        .start-header-banner {
            padding: 0 !important;
        }

        .lobby-wrap__content-box {
            border: 0;
        }

        .lobby-wrap__content-box__header {
            padding: 0;
            font-size: $rw-header-size;

            .title {
                position: relative;
            }

            // deposit button displays after claim bonus and loyalty rewards
            .btn-lobby-deposit-nobonus {
                @include regalwins-button-gradient('true', 'green');
                max-width: 240px;
                margin-top: 0;
                float: right;

                // ipad and above portrait
                @media only screen and (orientation: portrait) and (min-device-width : 768px) {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }

                @media #{$landscape} {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }

                @media #{$small-only} {
                    float: none;
                    margin: 0 auto;
                    margin-bottom: 10px;
                }
            }

            .start-welcome {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                        flex-direction: row;

                @media #{$small-only} {
                    -ms-flex-direction: column;
                        flex-direction: column;
                }

                .intro-wrapper {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                            flex-direction: column;
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 auto;
                            flex: 1 0 auto;
                }

                .claim-wrapper {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                            flex-direction: row;
                    -webkit-box-flex: 1;
                    -ms-flex: 1 1 auto;
                            flex: 1 1 auto;
                    -webkit-box-pack: end;
                    -ms-flex-pack: end;
                            justify-content: flex-end;
                    -ms-flex-wrap: wrap;
                        flex-wrap: wrap;

                    @media #{$small-only} {
                        -webkit-box-flex: 1;
                        -ms-flex: 1 0 auto;
                        flex: 1 0 auto;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                                flex-direction: column;
                        -ms-flex-wrap: nowrap;
                            flex-wrap: nowrap;
                        margin-top: 20px;
                    }
                }
            }

            .title__text.username-welcome {
                // username
                span {
                    @include capitalize;
                }
            }
            
            .recent-messages .recent-messages__message {
                border-bottom: 1px solid $regalwins--border-light;

                @media #{$medium-up} {
                    height: 50px;
                    line-height: 45px;
                }
            }

            .title {
                height: auto;
                float: none;
                padding: 15px 20px;
            }

            .title__text {
                width: auto;
                position: relative;
                float: none;

                &.username-welcome {
                    display: block;
                    width: 100%;
                    font-weight: bold;
                    color: $white;
                }
            }

            .recent-messages__message {
                background: $regalwins--gray-darkest;
                color: $white;

                .recent-messages__message__select {
                    padding-top: 5px;
        
                    input {
                        width: 20px;
                        height: 20px;
                    }
                }

                &.unread {
                    background: $regalwins--gray-dark;
                }
            }

            .message-inbox-wrapper {
                position: relative;
                float: none;
                width: 100%;
                padding: 4px 20px 5px 60px;
                line-height: 1;
                border-top: 1px solid $regalwins--border;
                border-bottom: 1px solid $regalwins--border;
                background: linear-gradient(133.8deg, #242424 0%, #262323 100%);

                span {
                    font-size: rem-calc(14px);
                    line-height: 2.1;
                    float: left; 
                }

                .title__message-inbox__icon {
                    position: absolute;
                    top: 10px;
                    left: 0;
                    width: 50px;
                    height: 24px;
                    background: url(../_images/balance-area/icon-magical-message-inbox.png) no-repeat 15px 3px;
                }

                .button {
                    position: absolute;
                    top: 7px;
                    right: 20px;
                    background: $regalwins--gray-darkest;
                    border: 1px solid $regalwins--highlight-gold;
                    color: $regalwins--highlight-gold;
                    @include border-radius(4px);
                    font-size: rem-calc(14px);
                    line-height: 18px;
                    padding: 2px 10px 8px 10px;
                    font-weight: bold;
    
                    &:after {
                        border-top-color: $regalwins--highlight-gold;
                    }
                }

                .title__message-inbox {
                    width: 100%;
                    color: $white;
                    display: block;
                    padding-bottom: 13px;
    
                    .title__message-inbox__value {
                        background: $torchred;
                        font-size: rem-calc(14px);
                        font-weight: bold;
                        position: absolute;
                        top: 12px;
                        line-height: 16px;
                        left: 160px;
                        height: 20px;
                        width: 20px;
                        border-radius: 20px;
                        text-align: center;
                        color: $white;
                    }
                }
            }
        }

        .small-deposit-wrap {
            @include grid-column(6, $float: right);
            @extend .show-for-small;
            .lobby-deposit-button {
                @include grid-column(12, $collapse: true);
                margin-bottom: $site-margin;
                font-size: 20px;
                overflow: hidden;
                padding-left: 5px;
                padding-right: 5px;
                a {
                    color: $regalwins--white;
                }
            }
        }
        @media #{$small-only} {
            .promotion-eng, 
            .my-promotions__promotion {
                padding-left:rem-calc(7.5) !important;
                padding-right:rem-calc(7.5) !important;
            }

        // 3 tab promotion items on start page - fix for smaller mobile devices
        @media only screen and (min-device-width : 320px) and (max-device-width : 375px) {
            .promotion-eng, 
            .my-promotions__promotion {
                padding-left:rem-calc(2) !important;
                padding-right:rem-calc(2) !important;

                dd {
                    margin-right:rem-calc(2);
                    a {
                        padding:0.2rem 0.2rem 0.2rem 0.2rem;
                        font-size:rem-calc(11) !important;
                    }
                }
            }
        }
        // 3 tab promotion items on start page - fix for smaller mobile devices

            @include grid-column(12);
            @media #{$landscape} {
                @include grid-column(12);
            }
        }
        @media #{$medium-only} { 
            .promotion-eng, 
            .my-promotions__promotion {
                padding:0.1em;
            }
        }
        
    }
    // lobby right columns
    .lobby-wrap__right {
        @include foundation-breaks($scols: 3, $scollapse: false, $sfloat: left, $mcols: 4, $mcollapse: false, $mfloat: left, $lcols: 3, $lcollapse: false, $lfloat: left);
        @media #{$small-only} {
            display: none;
        }
        @media #{$medium-only} {
            margin-top: $site-margin;
        }
        @media #{$large-up} {
            padding-right: 0px;
        }
        height: auto;
    }
    .progressive-jackpots__wrapper.slider,
    .yesterdays-win__wrapper,
    .latest-winners__wrapper.slider {
        clear: both;
    }
    .progressive-jackpots__wrapper.slider {
        @media #{$medium-only} {
            height: auto;
        }
    }
    .yesterdays-win__wrapper {
        margin-top: -33px;
        @media #{$medium-only} {
            margin-top: 0px;
        }
    }
}

.lobby-wrap .two-columns-content-wrap__right {
    padding-top: 0;
    padding-bottom: $site-margin;
    padding-left: 0;
    @media #{$medium-only} {
        padding-right: 0;
        padding-top: 0;
    }
    width: 100%;
}
