/* Lobby Content Container  */

.lobby-wrap__content-box {
    @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);
    background: $regalwins--module-background;
    @media #{$large-up} {
        border: 1px solid $regalwins--module-background;
        margin-bottom: $site-margin;
    }
}
/* Lobby Content Container Header Area */
.middle-content {
    .lobby-wrap__content-box__header {
        @include grid-column(12, $collapse: true);
        font-family: $ui-font-bold;
        font-size: 14px;
        color: $black;
        // height: $thumb-friendly-space;
        
        padding: 0;
        //padding-right: 7px; // adjustment for no visible padding on right-hand side
        padding-bottom: 0;
        background: $regalwins--gray-darkest;
        // padding-left: 20 px here
        
        .category-carousel-lobby-wrap__content-box__header {
            position: relative;
            background: $regalwins--gray-darkest;
            padding: 3px 3px 3px 15px;
            margin: 0 0 0.5rem 0;

            @media #{$large-up} {
                padding-left: 0;
            }
        }

        .category-carousel-holder-mobile {
            background: $regalwins--gray-darkest;
        }

        .content-holder-mobile.ui-carousel-container {
            margin: 0;
            padding-left: 20px;

            ul {
                padding-left: 20px;

                @media #{$large-up} {
                    padding-left: 0;
                }
                
                li {
                    margin-right: 2px !important;   // used to overrule !important usage in global

                    &:last-of-type {
                        margin-right: 9px !important;
                    }
                }
            }

            .game-icon {
                .game-icon__bottom {
                    background-color: $gray-dark;
                    max-height: 30px;
                    overflow: hidden;

                    .game-icon__favourite {
                        width: 30px;
                        height: 30px;
                    }

                    .game-icon__title {
                        width: 102px;
                        max-width: 102px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: rem-calc(10px);
                        text-transform: none !important;
                    }
                }
            }
        }


        /* Lobby Content Container Header Area Title */
        .title {

            @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);
            display: inline-block;
            height: 20px;
            line-height: 20px;

            @media #{$medium-up} {
                margin-bottom: 0.5rem;
            }

            // elements in header bar (with icon)
            &.hasicon {
                .title__icon {
                    display: none;
                }
                // Text for in the header bar
                .title__text {
                    @include foundation-breaks($scols: 6, $scollapse: true, $sfloat: left, $mcols: 6, $mcollapse: true, $mfloat: left, $lcols: 6, $lcollapse: true, $lfloat: left);
                    width: auto !important;

                    &.messages-section {
                        @include foundation-breaks($scols: 5, $scollapse: true, $sfloat: left, $mcols: 3, $mcollapse: true, $mfloat: left, $lcols: 3, $lcollapse: true, $lfloat: left);
                    }
                    font-size: 18px;
                    margin-left: 0.35rem;
                    font-weight: bold;
                    @include capitalize;

                    @media #{$medium-up} {
                        font-size: 22px;
                        line-height: 22px;
                        margin-left:0;
                    }

                    @media #{$small-only} {
                        line-height: 28px;
                    }
                }
                .title__link {
                    @include foundation-breaks($scols: 3, $scollapse: true, $sfloat: right, $mcols: 2, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: right);
                    text-align: right;
                    a {
                        color: $regalwins--copy-colour;
                        &:hover {
                            text-decoration: underline;
                        }
                        .title__link__arrow {
                            font-size: 16px;
                        }
                    }
                }
                .title__option-links {
                    @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: right, $mcols: 1, $mcollapse: true, $mfloat: right, $lcols: 1, $lcollapse: true, $lfloat: right);
                    text-align: right;
                    padding-left: $site-margin;
                    a {
                        color: #AFAFAF;
                        font-family: $ui-font-regular;
                        font-size: 11px;
                        &:hover {
                            text-decoration: underline;
                        }
                        .title__link__arrow {
                            font-size: 16px;
                        }
                    }
                }
                .title__option-link {
                    @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: right, $mcols: 12, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: left);
                    a {
                        font-size: 11px;
                        text-align: center;
                    }
                }
                .content-holder__title__link {
                    padding-right: 0.35rem;
                  
                    span { display: none; }

                    & a {
                        color: $white;
                        text-decoration: underline;
                        line-height: 32px;

                        @include capitalize;
                    }
                }
            }
            // elements in header bar (without icon)
            .title__text {
                @include foundation-breaks($scols: 8, $scollapse: true, $sfloat: left, $mcols: 8, $mcollapse: true, $mfloat: left, $lcols: 8, $lcollapse: true, $lfloat: left);
            }
            /* Lobby Content Container Header Area Link */
            // .title__link {
            //     @include foundation-breaks($scols: 3, $scollapse: true, $sfloat: right, $mcols: 3, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: right);
            //     text-align: right;
            //     a {
            //         color: $white;
            //         text-decoration: none;
            //         color: #B1B1B1;
            //         &:hover {
            //             text-decoration: underline;
            //         }
            //         .title__link__arrow {
            //             font-size: 16px;
            //         }
            //     }
            // }
            /* Lobby Content Container Header Area Message Inbox */
            .title__message-inbox {
                @extend .hide-for-large-up;
                width: 50px;

                .title__message-inbox__icon {
                    border:2px solid blue;
                    width: 50px;
                    height: 24px;
                    background: url(../_images/balance-area/icon-magical-message-inbox.png) no-repeat 15px 3px;
                }
                .title__message-inbox__value {
                    background: lighten($main-highlight-color, 10%);
                    font-size: 0.8rem;
                    position: absolute;
                    margin-top: -5px;
                    margin-left: -20px;
                    height: 20px;
                    width: 20px;
                    float: right;
                    border-radius: 20px;
                    text-align: center;
                    color: white;
                }
            }
        }
        .button.dropdown {
            float: right;
            font-size: 12px;
            font-family: $ui-font-bold !important;
            padding: 0.2em;
            width: 113px;
            margin: 0;
            background-color: transparent;
            color: $black;
            text-align: left;
            text-indent: 10px;
        }
        button.dropdown::after {
            right: 10px;
        }
        #drop1 > li > a {
            text-align: center;
        }
    }
}

/* End of Lobby Content Container Header Area */

// Lobby Content Container Content Area
.lobby-wrap__content-box__content {
    @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 12, $mcollapse: false, $mfloat: left, $lcols: 12, $lcollapse: false, $lfloat: left);
    padding-top: $site-margin;
    padding-bottom: $site-margin;
    background: $regalwins--gold;
    // inner wrap to hold content no fill or border
    .lobby-wrap__content-box__content__innerwrap {
        @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 12, $mcollapse: false, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);
    }
    // inner wrap to hold content fill and border
    .lobby-wrap__content-box__content__innerwrap--border {
        @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);
        background: $regalwins--module-background;
        border: 1px solid $regalwins--module-background;
    }
}
