.my-promotions {
    .my-promotions__promotion {
        @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 6, $mcollapse: false, $mfloat: left, $lcols: 4, $lcollapse: false, $lfloat: left);
    }
}

// Global padding promotions start page overide
#home {
    .lobby-wrap__left {
        .my-promotions__promotion {
            padding-left: 0.3rem;
            padding-right: 0.3rem;
        }
        .promotion-eng {
            padding-left: 0px;
            padding-right: 0px;
        }
        .lobby-wrap__content-box__content {
            &.my-promotions {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
    .reveal-modal {
        h4 {
            color:$white;
        }
        li {
            a {
                color:$regalwins--gold;
                &:hover {
                    text-decoration: underline;
                    color:$white;
                }
            }
        }
    }
}