// =============================================================================
// Fonts
// =============================================================================

// Mikado Family
// =============================================================================

@font-face {
    font-family: 'Mikado-Regular';
    src: url('../_fonts/Mikado/mikadoregular-webfont.eot');
    src: url('../_fonts/Mikado/mikadoregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/Mikado/mikadoregular-webfont.woff2') format('woff2'),
         url('../_fonts/Mikado/mikadoregular-webfont.woff') format('woff'),
         url('../_fonts/Mikado/mikadoregular-webfont.ttf') format('truetype'),
         url('../_fonts/Mikado/mikadoregular-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Mikado-Regular';
    src: url('../_fonts/Mikado/mikadomedium-webfont.eot');
    src: url('../_fonts/Mikado/mikadomedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/Mikado/mikadomedium-webfont.woff2') format('woff2'),
         url('../_fonts/Mikado/mikadomedium-webfont.woff') format('woff'),
         url('../_fonts/Mikado/mikadomedium-webfont.ttf') format('truetype'),
         url('../_fonts/Mikado/mikadomedium-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Mikado-Medium';
    src: url('../_fonts/Mikado/mikadomedium-webfont.eot');
    src: url('../_fonts/Mikado/mikadomedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/Mikado/mikadomedium-webfont.woff2') format('woff2'),
         url('../_fonts/Mikado/mikadomedium-webfont.woff') format('woff'),
         url('../_fonts/Mikado/mikadomedium-webfont.ttf') format('truetype'),
         url('../_fonts/Mikado/mikadomedium-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Mikado-Italic';
    src: url('../_fonts/Mikado/mikadomedium-italic-webfont.eot');
    src: url('../_fonts/Mikado/mikadomedium-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/Mikado/mikadomedium-italic-webfont.woff2') format('woff2'),
         url('../_fonts/Mikado/mikadomedium-italic-webfont.woff') format('woff'),
         url('../_fonts/Mikado/mikadomedium-italic-webfont.ttf') format('truetype'),
         url('../_fonts/Mikado/mikadomedium-italic-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Kansas Family
// =============================================================================

@font-face {
    font-family: 'Kansas-Light';
    src: url('../_fonts/kansas/kansascasual-regular-webfont.eot');
    src: url('../_fonts/kansas/kansascasual-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kansas/kansascasual-regular-webfont.woff2') format('woff2'),
         url('../_fonts/kansas/kansascasual-regular-webfont.woff') format('woff'),
         url('../_fonts/kansas/kansascasual-regular-webfont.ttf') format('truetype'),
         url('../_fonts/kansas/kansascasual-regular-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Kansas-Medium';
    src: url('../_fonts/kansas/kansascasual-regular-webfont.eot');
    src: url('../_fonts/kansas/kansascasual-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kansas/kansascasual-regular-webfont.woff2') format('woff2'),
         url('../_fonts/kansas/kansascasual-regular-webfont.woff') format('woff'),
         url('../_fonts/kansas/kansascasual-regular-webfont.ttf') format('truetype'),
         url('../_fonts/kansas/kansascasual-regular-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Kansas-Semibold';
    src: url('../_fonts/kansas/kansascasual-regular-webfont.eot');
    src: url('../_fonts/kansas/kansascasual-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kansas/kansascasual-regular-webfont.woff2') format('woff2'),
         url('../_fonts/kansas/kansascasual-regular-webfont.woff') format('woff'),
         url('../_fonts/kansas/kansascasual-regular-webfont.ttf') format('truetype'),
         url('../_fonts/kansas/kansascasual-regular-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
// Expo Sans Pro
// =============================================================================

@font-face {
    font-family: 'expo-sans-pro-regular';
    src: url('../_fonts/expo-sans-pro/expo-sans-pro-regular-webfont.eot');
    src: url('../_fonts/expo-sans-pro/expo-sans-pro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-regular-webfont.woff2') format('woff2'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-regular-webfont.woff') format('woff'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-regular-webfont.ttf') format('truetype'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-regular-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'expo-sans-pro-italic';
    src: url('../_fonts/expo-sans-pro/expo-sans-pro-italic-webfont.eot');
    src: url('../_fonts/expo-sans-pro/expo-sans-pro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-italic-webfont.woff2') format('woff2'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-italic-webfont.woff') format('woff'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-italic-webfont.ttf') format('truetype'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-italic-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'expo-sans-pro-bold';
    src: url('../_fonts/expo-sans-pro/expo-sans-pro-bold-webfont.eot');
    src: url('../_fonts/expo-sans-pro/expo-sans-pro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-bold-webfont.woff2') format('woff2'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-bold-webfont.woff') format('woff'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-bold-webfont.ttf') format('truetype'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-bold-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
// Chowderhead Family
// =============================================================================


@font-face {
    font-family: 'Chowderhead';
    src: url('../_fonts/chowderhead/chowderhead-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

// Sauberscript Family
// =============================================================================

@font-face {
    font-family: 'Sauberscript';
    src: url('../_fonts/sauberscript/sauberscript-webfont.eot');
    src: url('../_fonts/sauberscript/sauberscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/sauberscript/sauberscript-webfont.woff2') format('woff2'),
         url('../_fonts/sauberscript/sauberscript-webfont.woff') format('woff'),
         url('../_fonts/sauberscript/sauberscript-webfont.ttf') format('truetype'),
         url('../_fonts/sauberscript/sauberscript-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
// TodayShop
// =============================================================================

@font-face {
    font-family: 'todayshop-bold';
    src: url('../_fonts/todayshop/todayshop-bold-webfont.eot');
    src: url('../_fonts/todayshop/todayshop-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/todayshop/todayshop-bold-webfont.woff2') format('woff2'),
         url('../_fonts/todayshop/todayshop-bold-webfont.woff') format('woff'),
         url('../_fonts/todayshop/todayshop-bold-webfont.ttf') format('truetype'),
         url('../_fonts/todayshop/todayshop-bold-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'todayshop-medium';
    src: url('../_fonts/todayshop/todayshop-medium-webfont.eot');
    src: url('../_fonts/todayshop/todayshop-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/todayshop/todayshop-medium-webfont.woff2') format('woff2'),
         url('../_fonts/todayshop/todayshop-medium-webfont.woff') format('woff'),
         url('../_fonts/todayshop/todayshop-medium-webfont.ttf') format('truetype'),
         url('../_fonts/todayshop/todayshop-medium-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'todayshop-ultra';
    src: url('../_fonts/todayshop/todayshop-ultra-webfont.eot');
    src: url('../_fonts/todayshop/todayshop-ultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/todayshop/todayshop-ultra-webfont.woff2') format('woff2'),
         url('../_fonts/todayshop/todayshop-ultra-webfont.woff') format('woff'),
         url('../_fonts/todayshop/todayshop-ultra-webfont.ttf') format('truetype'),
         url('../_fonts/todayshop/todayshop-ultra-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'todayshop-light';
    src: url('../_fonts/todayshop/todayshop-light-webfont.eot');
    src: url('../_fonts/todayshop/todayshop-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/todayshop/todayshop-light-webfont.woff2') format('woff2'),
         url('../_fonts/todayshop/todayshop-light-webfont.woff') format('woff'),
         url('../_fonts/todayshop/todayshop-light-webfont.ttf') format('truetype'),
         url('../_fonts/todayshop/todayshop-light-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Helvetica Neue Condensed Black
// =============================================================================


@font-face {
    font-family: 'helvetica-neue-cn-black';
    src: url('../_fonts/helvetica-neue-cn/helvetica-neue-ltstd-blkcn-webfont.eot');
    src: url('../_fonts/helvetica-neue-cn/helvetica-neue-ltstd-blkcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/helvetica-neue-cn/helvetica-neue-ltstd-blkcn-webfont.woff2') format('woff2'),
         url('../_fonts/helvetica-neue-cn/helvetica-neue-ltstd-blkcn-webfont.woff') format('woff'),
         url('../_fonts/helvetica-neue-cn/helvetica-neue-ltstd-blkcn-webfont.ttf') format('truetype'),
         url('../_fonts/helvetica-neue-cn/helvetica-neue-ltstd-blkcn-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*=============================================
=            fonts            =
=============================================*/

$body-font-regular: Helvetica, Arial, sans-serif;
$body-font-bold: "todayshop-bold", Helvetica, Arial, sans-serif;
$body-font-medium: "todayshop-medium", Helvetica, Arial, sans-serif;
$body-font-light: "todayshop-light", Helvetica, Arial, sans-serif;
$nav-font-medium: "todayshop-medium", Helvetica, Arial, sans-serif;
$nav-font-bold: "todayshop-bold", Helvetica, Arial, sans-serif;
$button-font: "todayshop-bold", Helvetica, Arial, sans-serif;
$title-section: "todayshop-bold", Helvetica, Arial, sans-serif;
$title1-font: "todayshop-bold", Helvetica, Arial, sans-serif;
$mobile-font-bold: "helvetica-neue-cn-black", Helvetica, Arial, sans-serif;