// ----------
// Colors (Dont use these in your sass use the semantic name below this block)
// ----------

//check these to see if in use

$base-blue: #1C6EB5;
$base-blue-light: lighten(#1C6EB5, 6%);
$blue-background: rgba(222, 229, 229, 0.36);
$linen: #e8e6e3;
$login-blue: #00829B;
$green: #08A600;
$grey: #949494;
$grey-dark: #303030;
$grey-light: #e8e8e8;
$grey-light-bg: #f5eff9;
$grey-lighter-bg: #F7F7F7;

$base-red: #C11258;
$alice-blue: #F5FBFF;
$mine-shaft: #303030;
$bondi-blue: #02ACB2;
$white-lilac:#F6F1FA;

//Luckypants UI Colors being used
$white: #FFF;
$black: #000;
$mine-shaft: #201F1F;
$studio: #8240AE;
$studio-light: #8F86D9;
$studio-dark: #6A43AC;
$prim: #FCFAFC;
$fun-blue: #0F79D5;
$whisper: #EFE7F1;
$mauve: #E6C3FD;
$victoria: #583C7B;
$white-pointer: #FDF9FF;
$feta: #E7FBE9;
$hot-pink: #FF5AC6;
$hot-pink-dark: #ff00aa;
$melrose: #C9BBFF;
$mpurple-light: #e7e2fe;
$moon-raker: #DAD2F9;
$mpurple: #5820A9;

// used on myaccount
$bond-blue: #0398B2;
$blue-chill: #0b859b;
$pale-sky: #00fff3;

// used in cashier
$lynch: #66769E;

// used in offer
$banana-yellow: #FBE843;
$sad-yellow: #FFF8A1;

// used in tables
$sad-mpurple: #F9F9F9;
$dark-mpurple: #8C93C3;

//used in promo bg
$lighter-bg: #f5eff9;

//used on promo modal
$radical-red:#FD276F;

//Registration validation error
$carnation: #FB5368;

// ----------
// semantic color names: Use only these in your sass)
// ----------

//Luckypants Semanticly named UI Colors being used
$ui-light-color: $moon-raker;
$nav-main-color: $mine-shaft;
$nav-active-color: $mpurple;
$nav-active-bg-color: $prim;
$global-link-color: $fun-blue;
$border: $whisper;
$nav-ui-bg: $mauve;
$nav-ui-font: $victoria;
$nav-ui-alt-bg: $white-pointer;
$nav-ui-alt-bg-active: $feta;
$main-highlight-color: $studio;
$main-highlight-color-nav: $studio-dark;
$main-highlight-color-light: $studio-light;
$ui-highlight: $hot-pink;
$ui-highlight-dark: $hot-pink-dark;
$bg-mobile: $melrose;
$bg-mobile-light: $mpurple-light;
$bg-reveal-modal: $mpurple-light;
$offer: $banana-yellow;
$ui-bingo-schedule: $sad-yellow;
$input-ui-bg: $grey-lighter-bg;
$ui-table-even: $sad-mpurple;
$ui-table-header: $dark-mpurple;

//variable for color of mobile menu micro interaction touch / click circle effect on menu links
$inkbgcolor: hsl(220, 100%, 80%);

// other colours (we need to check if these are all used)
$bgcolor: $linen;
$main-highlight-color-dark: darken($base-red, 6%);
$brand-color: $base-blue;
$brand-color-light: $base-blue-light;
$login-button: $login-blue;
$go-button: $green;
$cashier-button: $bondi-blue;
$account-highlited-blue: $lynch;
$global-bg-color: $black;
$body-font-color: $black;
$body-font-color-light: lighten($body-font-color, 10%);
$ctacolor: $bond-blue;
$content-text: $mine-shaft;
$title: $blue-chill;
$pagetitle: $blue-chill;
$pagetitle: darken($grey, 30%);
$account-blue: $alice-blue;
$ctacolor-hover: lighten($bondi-blue, 5%);




/*=============================================
=  permanent variable to ensure Category carousel           =
=============================================*/
$category-carousel-h1:"todayshop-bold", Helvetica, Arial, sans-serif;
$category-carousel-p:"todayshop-light", Helvetica, Arial, sans-serif;
$category-carousel-title-link:#000; //$main-highlight-color;
$category-carousel-font-family:"arial"; //$category-carousel-font-family
$category-carousel-font-family-bold:"arial bold"; //$mobile-font-bold
$category-carousel-background:transparent;

// title and its background
$category-carousel-main-highlight-color: $studio;
$category-carousel-main-highlight-background-color: $white;

// view all link (right)
$category-carousel-view-all-link:$global-link-color;

/*=============================================
=  Claim prize promotion tabs                 =
=============================================*/
$claimed-prize-amount-highligted: $radical-red;
$claimed-prize-headers-background: $nav-active-color;
$claimed-prize-headers-color: $white;
$claimed-prize-button-start-color: #179f2d;
$claimed-prize-button-end-color: #7bb726;
$font-color: $white;
$claimed-prize-close-reveal: #AAAAAA;
$claim-prize-confirmation-background: $lighter-bg;

//3 STEP REGISTRATION HEADER
$theme--color--primarypurple: $black;

//3 STEP REGISTRATION GLOBAL VARIABLES 

//fonts
$registration-3step-font-light: $body-font-regular;
$registration-3step-font-regular: $body-font-regular;
$registration-3step-font-bold: $button-font;

// background
$registration-3step-bg--base: $white; 
$registration-3step-bg--main: $white;

// banner#1C0344
$registration-3step-banner-bg: $black;

// 3 step steps
$registration-3step-title: $white;
$registration-3step-title--border: $white;
$registration-3step-border--bottom: #CBC9C2;

// title (Mr Mrs Miss Ms)
$registration-3step-button--bg: $white;
$registration-3step-button-color--selected: $white;
$registration-3step-button-color: $white;

// input
$registration-3step-input--label: $white;
$registration-3step-input--border: $white;
$registration-3step-input--content: $black;

//select
$registration-3step-select-text: $black;

//date
$registration-3step-date-border: $silver;
$registration-3step-date-text: $silver;

//find address CTA
$registration-3step-address-bg: $black;
$registration-3step-address-text: $white;

// validations and requirements
$registration-3step-requirements: $white;
$registration-3step-input--success: $green;
$registration-3step-input--error: $carnation;

//CTAS
$registration-3step-cta: $black;
$registration-3step-cta--text: $white;
$registration-3step-cta--dropshadow: $black;
$registration-3step-tick-border: $black;
$registration-3step-tick-text: $black;

// terms & conditions
$registration-3step-terms: $black;

/*=============================================
COOKIE POLICY VARIABLES
=============================================*/

$cookie-block-bg: $white;
$cookie-message-color: $black;
$cookie-link-color: $black;
$cookie-cta-bg: $hot-pink-dark;
$cookie-cta-color: $white;
$cookie-cta-hover: $hot-pink-dark; 
// Styles used for cashier widget
$cashier-welcome-font: "todayshop-bold", Helvetica, Arial, sans-serif;
$cashier-welcome-size: 22px;
$cashier-widget-header: #fff;

/*=============================================
PRIZE WHEEL
=============================================*/
$prize-wheel-icon: url("../_images/prize-wheel/lp.svg");
$prize-wheel-font: Helvetica, Arial, Verdana, sans-serif;