.start-convert-points {
    padding: 0 rem-calc(30px);
    @media #{$medium-only} {
        width: rem-calc(450px);
        margin: 0 auto;
        text-align:center;
    }

    h3 {
        font-family: $font-header2;
        text-transform: uppercase;
        font-size:rem-calc(22px);
    }

    p {
        font-family: $font-copy;
    }

    input {
        width:rem-calc(227px);
        height: rem-calc(40px);
        box-shadow:none;
        border: 1px solid $palesky;
        font-family: $font-copy;
        font-color:$black;
        @include placeholder($palesky);
        @media #{$small-only} {
            width:100%;
            margin-right:0;
        }
        @media #{$medium-only} {
            margin: 0 auto rem-calc(23px) auto;
        }
    }
    .convert-points-info {
    	@media #{$large-up} {
    		width: 227px;
    	text-align: center;
    	}

        margin-top: 1em;
        font-family: $font-button;
        font-size:rem-calc(14px);
        @media #{$small-only} {
            font-size:rem-calc(12px);
            margin-bottom:0;
            text-align: center;
        }

        a {
		    color: #72767D;
		    letter-spacing: 0.46px;
		    line-height: 2rem;
		    text-decoration: underline;
		    text-transform: uppercase;

		    &:hover {
		    	color: #d1c800;
		    }
        }
    }

    .convert-button {
        @include button-generate($yellow, $yellow-hover, $black, 7, 100);
        max-width: rem-calc(227px);
        @media #{$small-only} {
            width:100%;
            max-width: 100%;
        }
    }
}

.convert-points-tab {
      @media #{$small-only} {
        min-height: 63px !important;
    }
}


