/*=============================================
=           MY Account        =
=============================================*/
#playerdetails {
    @include clearfix;
}

.balanceboxes {
    @media #{$small-only} {
        margin: 12px;
    }
    @media #{$medium-up} {
        @include grid-column(6, $float: left);
        padding: 18px !important;
        border: 2px solid rgb(222, 237, 243);
    }
    position: relative;
    list-style: none;
    margin: 0;
    display: block;
    color:$white;
    text-align: center;
    .balancebar {
        color: #222;
        font-family: $body-font-demi;
        font-size: 15px;
        display: block;
        border: 2px solid rgb(222, 237, 243);
        @include border-radius(8px);
        background-color: #F5FBFF;
        margin-bottom: 12px;
        padding-left: 12px;
        text-align: left;
        @media #{$medium-up} {
            height: 40px;
            @include vert-align(40px);
        }
        @media #{$small-only} {
            width: 100%;
            text-align: center;
            display: block;
            float: left;
            padding: 0;
            height: auto;
            @include border-radius(0px);
            margin-bottom: 12px;
        }
        span {
            @media #{$medium-up} {
                display: inline;
                float: right;
            }
            @media #{$small-only} {
                width: 100%;
                text-align: center;
                display: block;
                @include border-radius(0px);
            }
            color: #000;
            font-family: sans-serif;
            font-size: 18px;
            font-weight: bold;
            float: right;
            display: inline;
            background-color: #fff;
            height: 36px;
            @include vert-align(36px);
            padding-left: 12px;
            padding-right: 12px;
            @include border-right-radius(6px);
            min-width: 80px;
        }
        .freespinslink {
            @include button-generate(green, 2);
        }
    }
    a {
        display: block;
        width: 100%;
    }
    #button_cashier {
        @include grid-column(5);
        @include button-generate($ctacolor, 12);
        margin-bottom: 12px;
        font-family: $body-font-demi;
        text-transform: uppercase;
    }
    #playoverview {
        @include grid-column(5, $float: right);
        @include button-generate(#208d12, 12);
        font-family: $body-font-demi;
        text-transform: uppercase;
    }
    .convertpointsbtn {
        @include button-generate(palette(green,base), 2);
        margin-bottom: $site-margin;
        display: inline;
        margin-left: 1em;
    }
    .convertpointsbtn__info{
        @include button-generate(palette(grey,base), 2);
        margin-bottom: $site-margin;
        display: inline;
        margin-left: 1em;
        width:20px;
    }
    .balancesbtn {
        @include button-generate(palette(grey,base), 12);
        margin-top: $site-margin;
        display: block;
        font-family: $body-font-demi;
        text-transform: uppercase;
    }
}

.convertpanel {
    @include grid-column(12);
    position: absolute;
    top: 0;
    left: 0;
    background: #222;
    height: 100%;
    @media #{$small-only} {
        height: 440px;
    }
    z-index: 100;
    padding-top: 1.3125rem;
    padding-bottom: 1.3125rem;
    padding-left: 1.3125rem;
    padding-right: 1.3125rem;
    span {
        margin-bottom: 10px;
        display: block;
    }
    .convertpointsbtn {
        @include button-generate(palette(green,base), 12);
        margin-top: 12px;
        margin-left: 0px !important;
        display: block;
    }
}

#myaccount-2, #myaccount-3 {
    label {
        color: #67749B;
    }
    input, select {
        color: #67749B;
        border: 1px solid #67749B;
        &:focus, &:hover {
            border-color: grey;
            background-color: #EAF4F8;
        }
        &.error {
            border: 3px solid red;
        }
    }
    input[type="text"]:disabled, select:disabled {
        background: #dddddd;
        border-color: #dddddd;
        color: lighten(gray, 5%);
    }
}

.myaccount-details__column {
    @media #{$small-only} {
        @include grid-column(12);
    }
    @media #{$medium-up} {
        @include grid-column(4);
        float: left;
    }
    button {
        background-color: #67749B;
    }
}

.myaccount-limits{
     font-family: $ui-font-semibold;
    label {
        color: $grey;
    }
    padding-top: 20px;
          &__title {
                   @include grid-column(2);

                    @media #{$small-only} {
                    @include grid-column(12);
                    }
                    @media #{$medium-only} {
                    @include grid-column(3);
                    }
            }

         &__radiobtn-container {
            @include grid-column(6);

             @media #{$small-only} {
                @include grid-column(12);
            }
             @media #{$medium-only} {
                    @include grid-column(9);
                    }

            &__radiobtn {
                    @include grid-column(4);

                    @media #{$small-only} {
                    @include grid-column(12);
                    }
            }
        }


        &__expandbox {
           @include grid-column(4);

            @media #{$small-only} {
            @include grid-column(12);
            }

             @media #{$medium-only} {
            @include grid-column(12);
            }
         }

        &__details {
         @include grid-column(4);

         @media #{$small-only} {
            @include grid-column(12);
            }
        }

        &__note {
             @include grid-column(12);
        }
}




// .myaccount-details__column {
//     @media #{$small-only} {
//         @include grid-column(12);
//     }
//     @media #{$medium-up} {
//         @include grid-column(4);
//         float: left;
//     }
//     button {
//         background-color: #67749B;
//     }
// }

/*-----  End ofMy Account  ------*/

//*=============================================
//  My account tabbed content
// =============================================================================

.myaccount-content .tabs {
    @include grid-column(12);
    background-color: $brand-color;
    margin-top: $site-margin;
    padding: 0 0;
    padding-top: 4px;
    padding-left: 4px;
    float: none;
    @media #{$small-only} {
        padding-top: $site-margin;
        margin-top: 0px;
    }
    @media #{$medium-only} {
        margin-top: 0px;
    }
    dd {
        @media #{$small-only} {
            @include grid-column(4);
        }
        margin: 0 0;
        margin-right: 4px;
        border-style: none;
        a {
            font-family: $body-font-regular;
            padding: 10px 10px;
            font-size: 12px;
            font-weight: bold;
            background: #F8F8F8;
            color: #A0A0A2;
            text-align: center;
            @include border-radius(2px 2px 0px 0px);
            &:hover {
                color: $black;
                background: #F8F8F8;
            }
            @media #{$small-only} {
                margin: 0 0;
                padding: 10px 10px;
                text-align: left;
                border: none;
                @include border-radius(3px);
                margin-bottom: 12px;
            }
        }
        &.active {
            a, a:hover {
                font-size: 12px;
                font-weight: bold;
                cursor: default;
                background: $white;
                color: $black;
            }
        }
        &.first {
            a {
                border-left: none;
            }
        }
        &.last {
            margin-right: 0px;
            a {
                border-right: none;
            }
        }
        @media #{$small-only} {
            @include grid-column(12);
            margin-bottom: 12px;
            border-top: none;
            border-bottom: none;
        }
    }
}

.myaccount-content .tabs-content {
    @include grid-column(12);
    border: 4px solid $brand-color;
    background-color: $white;
    border-top: none;
    padding-bottom: $site-margin;
    .current {
        text-decoration: underline;
    }
}

// my account promotion banners
.myaccount-promotions {
    @media #{$small-only} {
        @include grid-column(12);
    }
    @media #{$medium-up} {
        @include grid-column(6, $float: left);
        padding-left: 18px;
    }
    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
    }
    > .promotion {
        height: auto;
        @include clearfix;
        @media #{$small-only} {
            @include grid-column(12);
            @include clearfix;
            height: auto;
        }
        .promotion__title {
            @include grid-column(12);
            font-size: 1em;
            margin-top: 0px;
            @media #{$medium-only} {
                @include grid-column(12, $collapse: true);
                margin-top: 12px;
            }
            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
                margin-top: 12px;
            }
        }
        .promotion__content {
            @include grid-column(12);
            @include clearfix;
            p {
                font-size: 13px !important;
            }
            @media #{$medium-only} {
                @include grid-column(12, $collapse: true);
            }
            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
            }
        }
        .promotion__image {
            @include grid-column(6);
            @media #{$medium-only} {
                @include grid-column(12, $collapse: true);
            }
            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
            }
        }
        .promotion__content__wrapper {
            @include clearfix;
            @media #{$medium-only} {
                @include grid-column(12, $collapse: true);
                height: auto;
            }
            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
                height: auto;
            }
        }
    }
}