.myaccount-transactions {
    .green-cta {
        width: 100px;
        padding: 0.3em;
        margin-bottom: 1em;
    }
    .myaccount-transactions__promotions {
        margin: 2em 0;
        ul {
            margin: 0;
        }
    }
    .myaccount-transactions__promotions__item {
        @include grid-row;
        background-color: $mystic;
        margin-bottom: 0.5em;
        padding: 0.5em;
        list-style-type: none;
        .PromoDescription {
            @include grid-column(6);
            padding-left: 10px;

            @media #{$medium-only} {
                @include grid-column(4);
                padding-left: 5px;
            }

            @media #{$small-only} {
                @include grid-column(6);
                padding-left: 10px;
            }
        }
        .panel {
            background-color: $white;
        }
        .myaccount-transactions__promotions__item__content {
            font-size: 0.8em;
            line-height: 2em;
            a {
                width:auto;
                margin-right:1em;
                text-decoration: underline;
                float: right;
                text-decoration: none;
                display: block;
                &.expandarrow {
                    text-align: right;
                    font-size: 11px;

                }
                &.voidbonus {
                    max-width: 117px;
                    background-color: #DB1F35;
                    border-radius: rem-calc(100px);
                    text-align: center;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 3px 15px;
                    color: $white;
                    float: left;

                      @media #{$medium-only} {
                        font-size: 10px;
                        padding: 0 10px;
                    }

                    @media #{$small-only} {
                        margin-top: 15px;
                        margin-left: 5px;
                        font-size: 10px;
                        padding: 0 10px;
                    }
                    &:hover {
                        background-color: darken(#DB1F35, 20%) !important;
                        transition: background-color 0.2s;
                    }
                }
            }
        }
        .myaccount-transactions__promotions__item__details {
            font-size: 0.8em;
            margin-top: 40px;
            .panel{
                padding-top: 10px;
            }
        }
    }
//ACCOUNT ACTIVITY - Responsive Tables

$breakpoint-alpha: 480px;

// adjust to your needs

table.responsive {
    thead > tr > td {
        color: $white;
        background: $graychateau;
    }

    @include border-radius(4px);

    width: 100% !important;
    font-family: $font-copy;

    //border-collapse: collapse;
    border: none;
    margin: 1em 0;
    border-spacing: 2px;

    //min-width: 280px !important;

    // adjust to your needs

    tr {
        //border-bottom: 1px solid white;

        th {
            color: white;
            //background: $ui-table-header;
            font-weight: bold;

            p {
                font-size: 0.875rem;
                border: none;
                font-weight: bold;
                margin-bottom: 0;
            }
        }
    }

    td {
        display: none;

        // for accessibility, use a visually hidden method here instead! Thanks, reddit!
   
    }

    td {
        display: block;

        &:first-child {
            padding-top: .5em;
        }

        &:last-child {
            padding-bottom: .5em;
        }

        &:before {
            content: attr(data-th) ": ";

            // who knew you could do this? The internet, that's who.
            font-weight: bold;

            // optional stuff to make it look nicer
            width: 7em;

            // magic number :( adjust according to your own content
            display: inline-block;

            // end options

            @media (min-width: $breakpoint-alpha) {
                display: none;
            }
        }

         @media #{$small-only} {
                font-size: 0.74rem !important;
            }
    }

    tbody td, thead td {
        text-align: left;

        // @media (max-width: $breakpoint-alpha) {
        //     text-align: left !important;
        // }

        @media (min-width: $breakpoint-alpha) {
            display: table-cell;
            padding: .25em .5em;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.table-hide-small {
    @media (max-width: $breakpoint-alpha) {
        border-spacing: 0px;
        display: none !important;
    }

    @media (min-width: 481px) {
        //background: $ui-table-header !important;

        width: 100%;
    }
}

table.responsive {
    tr:nth-of-type(odd) {
        background: none;
        background-color: $white;
        width: 100%;
    }

    tr:nth-of-type(even) {
        background: $mystic;
    }

    background: $white;
    color: #fff !important;
    border-radius: .4em;
    overflow: hidden;
    width: 100%;

    th, td {
        margin: .5em 1em;

        @media #{$small-only} {
            margin: 0;
            padding: ($site-margin / 2) !important;
        }

        @media (min-width: $breakpoint-alpha) {
            padding: 1em 0.5em !important;
        }
    }

    th, td:before {
        width: auto;
    }
}

table.responsive {
    margin: 1em 0;

    //min-width: 300px;

    // adjust to your needs

    @media (max-width: $breakpoint-alpha) {
        overflow: visible;
        border: 1px solid $mystic;
    }

    tr {
        //border-top: 1px solid #ddd;
        //border-bottom: 1px solid #ddd;

        @media (max-width: $breakpoint-alpha) {
            @include grid-column(12);

            border-top: none;
            padding: ($site-margin / 2) 0;
        }
    }

    thead td {
        display: none;

        // for accessibility, use a visually hidden method here instead! Thanks, reddit!
   
    }

    td {
        display: block;
        border: none;

        &:first-child {
            padding-top: .5em;
        }

        &:last-child {
            padding-bottom: .5em;
        }

        &:before {
            content: attr(data-th) ": ";

            @media (max-width: $breakpoint-alpha) {
                min-height: 20px;
                float: left;
            }

            // who knew you could do this? The internet, that's who.
            font-weight: bold;
            color: $ui-table-header;

            // optional stuff to make it look nicer
            // width: 6.5em;
            width: 50%;
            margin-right: 0.5em;

            @media #{$small-only} {
                width: 40%;
            }

            // magic number :( adjust according to your own content
            display: inline-block;

            // end options

            @media (min-width: $breakpoint-alpha) {
                display: none;
            }
        }
    }

    tbody td, thead td {
        //text-align: left !important;

        @media (max-width: $breakpoint-alpha) {
            border: none;
        }

        @media (min-width: $breakpoint-alpha) {
            display: table-cell;
            padding: .25em .5em;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}
    
}

.myaccount-transactions {
     //Net worth deposit BANKING Tab START
    .second-tabs {
        border-top: 1px solid #000;
        color: #72767D;
        li {
            margin-top: rem-calc(20px);

            .active {
                text-decoration: underline;
            }
        }
    }

   .my-net-deposits {

    @media #{$small-only} {
        text-align: center;
    }
        p.view-net-deposit {
            margin-top: 35px;
            font-size: 16px;
            color: #000000;
            font-weight: bold !important;

            @media #{$small-only} {
                font-size: 14px;
            }

        }

        a.button {
            width: 300px;
            height: 45px;
            border-radius: 50px;
            background-color: #F3E900;
            color: #000;
            text-transform: uppercase;
            font-family: "oswald_regularregular", Helvetica, Arial, Verdana, sans-serif !important;
            font-weight: bold;
            line-height: 12px;
            font-size: 18px;
            letter-spacing: 0.5px;

            @media #{$small-only} {
                width: 90%;
                font-size: 13px;
                padding-left: 16px;
                padding-right: 16px;
            }
        }

        a.btn-reveal__deposit {
            background-color: transparent;
            border: 2px solid #000;
            border-radius: 50px;
            line-height: 7px;
            font-size: 18px;
            font-weight: bold;
            color: #000;

            @media #{$small-only} {
                width: 90%;
            }
        }
        
        .inactiveLink {
           pointer-events: none;
           cursor: default;
        }

        p.my-net-deposit__info {
            font-family: "fira_sansregular", Helvetica, Arial, Verdana, sans-serif;
            font-size: 14px;
            margin-bottom: 70px;
            color: #9CA7AF;
            font-weight: normal;
        }
   }
   //Net worth deposit BANKING tab END
}

