// welcome page post reg modal
.welcome-post-reg__modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999999;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    background-color: #FDF2D4;

    .header-wrap {
        background-color: #FFD979;
        width: 100%;
        height: 50px;
        max-height: 52px;

        @media #{$small-only} {
            height: 62px;
        }

        .header-container {
            @include grid-column(12);

            position: relative;

            @include grid-column(12, $center: true);

            max-width: 700px;

            .header-username {
                position: absolute;
                right: 0;
                color: #000;
                padding-right: 50px;
                font-size: 13px;
                padding: 13px;
                padding-right: 50px;
                font-family: $body-font-regular;
                z-index: 2;

                @media #{$medium-up} {
                    background: url(../_images/common/icons/welcome-close.svg) no-repeat right $site-margin center;

                    // background-size: 13%;
                    padding-right: 55px;
                }

                @media #{$small-only} {
                    @include grid-column(10);

                    background: url(../_images/common/icons/welcome-close.svg) no-repeat right $site-margin center;
                    padding: 16px;
                    font-size: 14px;
                }
            }
        }
    }

    .logo {
        @include grid-column(3);

        height: 41px;
        margin-left: 5px;
        margin-top: 5px;
        float: left;
        background: transparent url(../_images/logo/be-logo-oneline.png) left center no-repeat;
        background-size: contain;

        @media #{$small-only} {
            @include grid-column(2);

            background: transparent url(../_images/logo/logo-sml.png) no-repeat center center;
            background-size: contain;
            height: 52px;
            margin-top: 0;
        }
    }

    .inline_logo {
        width: 100px;
        height: 100px;
        background-color: white;
    }

    .welcome-post-reg__content {
        @include grid-column(12, $center: true);

        max-width: 700px;
        margin-bottom: $site-margin * 3;
        margin-top: $site-margin * 3;

        @media #{$small-only} {
            margin-top: $site-margin;
        }

        section {
            @include grid-column(12);

            padding: 0;

            h2 {
                color: $base-red;
                text-align: center;
                font-family: $body-font-bold;
                font-size: 22px;
                line-height: 1;

                //            text-shadow: 0px 1px 1px #715EBB;
                margin-top: $site-margin;
                margin-bottom: 25px;

                @media #{$large-up} {
                    margin-top: $site-margin * 2;
                }

                @media #{$small-only} {
                    padding: 0 ($site-margin / 2);
                    font-size: 17px;
                }
            }

            ul {
                @include grid-column(12, $center: true);

                margin: 0;

                li {
                    @include border-radius(6px);

                    width: 48%;
                    margin: 1%;
                    float: left;
                    background: #fff;
                    box-shadow: 0px 1px 2px 0px #9f9e9b;
                    height: 180px;
                    min-height: 180px;
                    overflow: hidden !important;
                    list-style: none;

                    @media #{$small-only} {
                        @include grid-column(12);

                        padding: 0;
                        margin: 2% 0;
                        height: 150px;
                        min-height: 150px;
                        overflow: hidden !important;
                    }

                    .claim-wrap {
                        @include grid-column(8);

                        padding: $site-margin;
                        height: 100%;
                        text-align: center;
                        overflow: hidden;

                        .claim-container {
                            @include grid-column(11, $center: true);

                            min-height: 70%;
                            height: 70%;
                            text-align: center;
                            display: inline-block;
                            width: auto;
                            width: initial;
                            max-width: 100%;
                            zoom: 1;

                            @media #{$small-only} {
                                min-height: 65%;
                                height: 65%;
                            }

                            span {
                                height: 100%;
                                color: $nav-active-color;
                                font-family: $body-font-bold;
                                font-size: 26px;
                                text-transform: uppercase;
                                line-height: 1;
                                display: flex;
                                align-items: center;

                                @media #{$small-only} {
                                    font-size: 22px;
                                }
                            }
                        }

                        .play-cta {
                            //                            @include CTA-button(5px 15px, 18px, 4px, #FF8FD7, #FF7BD0);
                            @include grid-column(12, $center: true);

                            width: 155px;
                            height: 50px;
                            background: #fff url("../_images/welcome/button.svg") no-repeat;
                            font-family: $body-font-bold;
                            color: #fff;
                            padding-top: 15px;
                            text-transform: uppercase;
                            text-align: center;

                            @media #{$medium-up} {
                                @include grid-column(10, $center: true);
                            }

                            display: inline-block;
                        }

                        .deposit-cta {
                            //                            @include CTA-button(5px 15px, 18px, 4px, #FF8FD7, #FF7BD0);
                            @include grid-column(12, $center: true);

                            width: 155px;
                            height: 50px;
                            background: #fff url("../_images/welcome/button.svg") no-repeat;
                            font-family: $body-font-bold;
                            color: #fff;
                            padding-top: 15px;
                            text-transform: uppercase;
                            font-size: 14px;
                            text-align: center;

                            @media #{$medium-up} {
                                @include grid-column(10, $center: true);
                            }

                            display: inline-block;
                        }
                    }

                    .icon {
                        @include grid-column(4);

                        padding: 0;
                        height: 100%;
                        text-align: center;
                        position: relative;
                        overflow: hidden;

                        span {
                            @include grid-column(12);

                            padding: 0;
                            height: 60%;
                            position: absolute;
                            bottom: 0;

                            //        background: url("/_images/welcome/clouds.png") no-repeat right top;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            @media #{$medium-up} {
                                height: 55%;
                            }

                            img {
                                @include grid-column(12);

                                position: relative;
                                bottom: $site-margin;
                                padding: 0 ($site-margin / 2);
                                position: relative;
                                height: 80px;
                                width: auto;
                            }

                            .bingo img {
                                height: 90px;
                            }

                            .spinata img {
                                height: 90px;
                            }
                        }
                    }
                }
            }

            &.bonus {
                .icon {
                    background-image: url(../_images/common/icons/welcome-tick.svg), linear-gradient(#fedb76, #fff);
                    background-repeat: no-repeat;
                    background-position: center 10px, top;
                    background-size: 30px 30px, cover;

                    @media #{$medium-up} {
                        //                        background-size: 35%;
                    }
                }

                .tick-icon {
                    width: 50px;
                    height: 50px;
                    position: relative;
                    margin-top: 10px;
                    margin-left: 35px;
                    padding-top: 27px;
                }
            }

            &.deposit {
                .icon {
//                    background: #f7f2e4 url("../_images/common/icons/welcome-bonus.svg") no-repeat;
                    background-position: center 15px;

                       background-image: url(../_images/common/icons/welcome-bonus.svg), linear-gradient(#fedb76, #fff);
    background-repeat: no-repeat;
    background-position: center 10px, top;
    background-size: 30px 30px, cover;
                }
            }

            &.lock {
                opacity: 0.25;

                li {
                    box-shadow: none;
                }

                .claim-wrap .claim-container {
                    min-height: 100% !important;
                    height: 100% !important;
                }

                .icon {
                    background: #7A64CC url("../_images/common/icons/welcome-lock.svg") no-repeat;
                    background-position: center 15px;
                }
            }
        }

        .no-bonus-link {
            @include grid-column(12);

            color: $black;
            font-size: 12px;
            font-weight: 600;

            // font-family: $body-font-medium;
            text-align: center;
            margin-top: $site-margin * 2;
            padding: 0 ($site-margin / 2);

            span {
                text-decoration: underline;
            }
        }
    }
}