.balance-area {
    font-size: 1rem;

    @include grid-row;

    float: left;
    width: 100%;
    background-repeat: no-repeat;
    text-align: left;

    .balance-area__left {
        @include grid-column($collapse: true, $columns: 5);

        text-align: center;
        padding: 10px;

        .cashier-button {
            @include CTA-button(8px, 16px, 2px, #179f2d, #7bb726);

            font-family: $body-font-demi;
        }
    }

    > .balance-area__right {
        @include grid-column($collapse: true, $columns: 12);

        // > ul {
        //     > li {
        //         font-weight: bold;
        //         color: $navigation-text-color;
        //         float:left;
        //         line-height: 30px;
        //         font-size: 0.9em;
        //         > i {
        //             margin-right: 0.4em;
        //             width: 18px;
        //             height: 15px;
        //             display: block;
        //         }
        //         .balance-area__title {
        //             color: $lipstick;
        //             margin-right: 0.2em;
        //             width: 96px;
        //             display: inline-block;
        //             font-size: 0.8em;
        //         }
        //     }
        // }
        .balance-area__title {
            font-size: 0.8em;
            width: 240px;
            float: right;
            display: block;
            text-align: center;
            color: $white;
            border-bottom: 1px solid $grey;
            line-height: 0.8em;
            padding-top: 0.5em;
            padding-bottom: 0.2em;
            display: none;
        }

        > ul {
            font-size: 1rem;

            @include list-inline;

            text-align: center;
            position: relative;
            overflow: visible;
            display: inline-block;
            float: right;
            // padding: 0.2em;
            padding-right: 0;
            width: 100%;
            border-radius: 3px;
            border-top-right-radius: 0px;

            > li {
                text-align: center;

                // margin-right: 1.2em;
                line-height: 26px;
                text-align: center;
                background-color: #F0EEE9;
                margin-right: 5px;

                > a {
                    font-size: 1em;
                    color: #4d4d4d;
                    font-family: inherit;

                    &:hover {
                        padding-bottom: 2px;
                        text-decoration: underline;
                    }
                }

                a.current {
                    padding-bottom: 2px;
                    border-bottom: 2px #f1008a solid;
                }

                // &.user-nav__balance{
                //     @include grid-column(6,$collapse:true);
                // }
                i {
                    padding-top: 0.2em;
                }

                &.balance-area__right_balance {
                    width: 30%;
                }

                &.balance-area__right_points {
                    width: 22%;
                }

                &.balance-area__right__message-inbox {
                    width: 15%;

                    .balances-area__message-inbox__icon {
                        float: left;
                        width: 34px;
                        height: 24px;
                        background: url(../_images/balance-area/icon-message-inbox.png) no-repeat 8px 3px;
                    }

                    .balances-area__message-inbox__value {
                        background: #ea240d;
                        color: white;
                        position: absolute;
                        line-height: 20px;
                        margin-top: -5px;
                        margin-left: -20px;
                        height: 20px;
                        display: inline-block;
                        width: 20px;
                        float: left;
                        border-radius: 20px;
                        font-size: 0.9rem;
                    }
                }

                &#cashier {
                    margin-right: 0;
                    width: 28%;
                    background-color: #FC6901;

                    @include background-image(linear-gradient(to top, #ea240d 0%, #fc9900 100%));

                    a {
                        color: $white;
                        font-weight: normal;

                        &:hover {
                            border-bottom: none;
                        }
                    }
                }
            }

            > li:first-child {}

            > li:last-child {}

            .balance-area__title__user-name {
                img {
                    height: 17px;
                    margin-right: 0.2em;
                }

                span {
                    color: $white;
                }
            }
        }
    }

    .balance-area__user-name {
        display: block;
        width: 100%;
        padding-right: 0.5em;
        padding-bottom: 0.5em;
        padding-top: 0px;
        padding-left: 50px;
        background: url("../_images/balance-area/user.png") no-repeat;
        background-position: 25px 5px;
        margin-bottom: 1em;
        color: white;
        text-decoration: underline;
        text-align: left;
        font-size: 0.8em;
    }
}