.header {
    @include grid-row;
    @extend .hide-for-medium-down;
    background-color: $royal-purple;
    max-width: 100%;
    min-height: 120px;
    padding: 0 20px;
    font-size: 1rem;
    position: fixed;
    z-index: 3;

    &__inner {
        display: flex;
        max-width: 82.5rem;
        height: 120px;
        margin: 0 auto;
    }

    &__row {
        display: flex;
        justify-content: flex-start;
        margin: 20px 0 0 0;
    }

    &__left {
        flex: 1;
        display: flex;
        align-items: center;
        padding-right: 40px;
    }

    &__middle {
        flex: 4;
        display: flex;
        flex-direction: column;
    }

    &__right {
        flex: 4;
        display: flex;
        flex-direction: column;

        .header__row {
            display: flex;
            justify-content: flex-end;
        }
    }

    &--logged-in {
        height: 60px;

        .header_middle {
            padding-top: 10px;
            img {
                width: 50%;
            }
        }
    }
}