.site-logo {
    max-width: 180px;


    @media #{$small-only} {
        background: url("../_images/logo/logo_onesizefitsall.svg") left no-repeat;
        background-size: 80%;
        position: absolute;
        left: 32%;
        top: 0px;
    }
    @media #{$medium-only} {
        background: url("../_images/logo/logo_onesizefitsall.svg") left no-repeat;
        position: absolute;
        left: 41%;
        top: 0px;
    }
    @media #{$large-up} {
        background: url("../_images/logo/logo_onesizefitsall.svg") left no-repeat;
        @include grid-column(2);
        text-indent: -11988px;
        background-size: 80px auto;
    }
}