.edit-point {
    z-index: 999;
    position: absolute;
    display: block;
    background-color: #000;
    line-height: 20px;
    opacity: .8;
    color: #FFF !important;
    box-shadow: 0px 0px 2px 0px #333;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
    border-radius: 5px;
    margin-left: 20px;
    text-transform: capitalize;
    width: 120px;
    border: none;

    &:hover {
        background-color: #000;
        color: #fff !important;
        text-decoration: underline;
        opacity: 0.8;
    }
}

.editor-buttons {
    .options-menu {
        z-index: 999;
        position: absolute;
        display: block;
        background: url("/_images/common/icons/drop-down-icon.svg") no-repeat right center #000;
        background-size: 40px 8px;
        line-height: 20px;
        opacity: .8;
        color: #FFF !important;
        font-family: sans-serif !important;
        font-weight: 700 !important;
        font-size: 13px !important;
        margin-left: 6px;
        border-radius: 5px;
        width: 120px;
        text-transform: capitalize;
        margin-top: 20px;
        border: none;
    }

    .options-menu__buttons {
        background-color: black;
        color: white;
        border-radius: 5px;
        display: inline-block;
    }

    .f-dropdown {
        display: inline;
        left: -9999px;
        list-style: none;
        margin-left: 0;
        position: absolute;
        background: #FFFFFF;
        opacity: .8;
        font-size: 0.875rem;
        height: auto;
        max-height: none;
        width: 220px;
        z-index: 89;
        margin-top: 5px;
        max-width: 230px;
        border-radius: 5px;

        > *:first-child {
            margin-top: 5px;
            margin-left: 5px;
        }
    }

    .f-dropdown li {
        cursor: pointer;
        font-size: 0.875rem;
        line-height: 1.125rem;
        margin-left: 5px;
        margin-bottom: 5px;
        width: 100px;
    }

    .f-dropdown li input {
        background: none;
        border: none;
        display: block;
        padding: 0.5rem;
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        width: 100%;
        cursor: pointer;
    }

    .f-dropdown li:hover, .f-dropdown li:focus {
        background: #f72671;
    }
}