// COMPETITION ENGINE CUSTOM STYLE PROMO
.promotion-eng {
    .tabs {
        dd {
            a {
                &:hover {}
            }
            &.active {
                a {
                    &:hover {}
                }
            }
        }
    }
    .promotion-eng__content {
        .promotion-eng__title {
            a {}
        }
        .promotion-eng__comp-leader-table {
            li {
                &:nth-child(odd) {}
                &:nth-child(even) {
                    background: darken($lighter-bg, 2%);
                }
                &.ui-leader-position__user {
                    background: $global-bg-color !important;
                    .ui-leader-position {
                        color: $global-bg-color !important;
                        // background: $white !important;
                    }
                    .ui-leader-name {
                        color: $white !important;
                    }
                    .ui-leader-points {
                        color: $white !important;
                    }
                }
                .ui-leader-position {
                    background: $global-bg-color !important;
                }
                .ui-leader-name {}
                .ui-leader-points {}
            }
        }
    }
    .promotion-eng__footer {
        .promotion-eng__terms {}
        .promotion-eng__read-more {}
        .promotion-eng__optin {
            background-color: $white !important;
            color: #011A39;
            &:hover {
                background-color: #011A39 !important;
                color: $white !important;
            }
        }
        .promotion-eng__play-now {
            // display: block !important;
            color: $global-bg-color !important;
            font-family: $ui-font-bold !important;
            font-weight: normal !important;
        }
    }
    ul.promotion-eng__comp-info {
        li {
            .title {}
            span {}
        }
    }
}


.promotion__text_terms-wrapper {
    background:$luckyvip--terms-bg;
    .promotion__text_terms {}
    .promotion-eng__terms {
        color:$luckyvip--picton-blue;
    }
}

.promotion-eng .promotion-eng__content p a {
    color: $luckyvip--picton-blue;
}
