.promotions__header {
    @include vert-align(1em);
    border-bottom: 1px solid $brand-color;
    padding: 0px;
    margin-bottom: $site-margin;
    height: 50px;
    .promotions__title {
        float: left;
        color: $pagetitle;
        font-size: 2em;
        padding: 0px;
        @media #{$small-only} {
            padding-left: 8px;
        }
        @media #{$medium-only} {
            padding-left: 8px;
        }
    }
}

.promotions-detail {
    .promotion {
        width: 100%;
    }
    font-size: 1rem;
    @include grid-column(12);
    @media #{$small-only} {
        @include grid-column($columns: 12, $collapse: true);
    }
    .promotion--featured {
        @include grid-column($columns: 12, $collapse: true);
        padding: $site-margin;
        @media #{$small-only} {
            @include grid-column($columns: 12, $collapse: true);
        }
        @media #{$medium-only} {
            @include grid-column($columns: 12, $collapse: true);
            // padding-right: $site-margin;
            // padding-left: $site-margin;
        }
        .promotion__wrapper {
            @media #{$small-only} {
                @include grid-column($columns: 12, $collapse: true);
                background-color: $white;
                border: none;
            }
        }
        .promotion__content__wrapper {
            background-color: $luckyvip--contentbg--navy;
            border: 0px;
            @include grid-column($columns: 12, $collapse: true);
            @media #{$small-only} {
                @include grid-column($columns: 12, $collapse: true);
                width: 100%;
            }
        }
        .promotion__image {
            @include grid-column($columns: 12, $collapse: true);
            > img {
                width: 100%;
            }
            @media #{$small-only} {
                > img {
                    @include grid-column($columns: 12, $collapse: true);
                    width: 100%;
                }
            }
        }
        .promotion__title {
            color: $brand-color;
        }
        .promotion__content {
            @include grid-column($columns: 12, $collapse: true);
            padding: $site-margin;
            position: relative;
            display: block;
            color: $brand-color;
            @media #{$small-only} {
                @include grid-column($columns: 12, $collapse: true);
                padding: $site-margin;
                font-size: 0.9em;
                color: $brand-color;
                line-height: 1.3em;
            }
            a,
            p,
            span,
            div,
            label,
            li,
            em {
                font-family: $body-font-regular;
                font-size: 1em;
                font-style: normal;
                // line-height: 1.4em;
            }
            p {
                margin-bottom: 0px;
            }
            > ul > li {
                color: $brand-color;
                &:hover {
                    text-decoration: underline;
                    color: $white;
                }
            }
        }
    }
    .promotion {
        .promotion__title {
            padding-left: $site-margin / 2;
            padding-top: $site-margin / 2;
            a {
                color: $white;
            }
        }
        .promotion__content {
            padding: $site-margin / 2;
        }
        .button {
            padding: 4px;
            width: 87px;
            margin-right: 8px;
            margin-top: 8px;
            float: right;
        }
    }
    ul {
        display: block;
        list-style-type: disc;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
    }
    .promotion__image,
    .promotion__content__wrapper,
    .promotion__content {
        // width: 100% !important;
        @media #{$medium-only} {
            // width: 100% !important;
        }
        @media #{$small-only} {
            // width: 100% !important;
        }
    }
}

.footer-nav__container {
        @include grid-column(12);

        @include hide-for-medium-up;

        position: fixed;
        bottom: 0;
        left: 0;
        padding: 10px;
        background: $grey-light-bg;
        z-index: 2;

        .cta-opt-in {
            width: 30%;
            background: $white !important;
            padding: 6px;
            font-size: 14px;
            margin-right: $site-margin / 2;
            text-shadow: none;

            &.cta-full-width {
                @include grid-column(6);
            }

            @media screen and (min-width: 320px) {
                font-size: 0.9em;
            }
        }

        .cta-join {
            width: 30%;
            background-color: $luckyvip--dodger-blue;
            padding: 0.4em;
            text-shadow: none;
            margin: 0;
            color: $luckyvip--darknavy;
            font-family: "museo_sans900", Helvetica, Arial, Verdana, sans-serif !important;
            font-size: 0.7em;
            font-weight: 900;
            text-transform: uppercase;

            @media screen and (min-width: 320px) {
                font-size: 0.9em;
            }
        }

        .cta-next-promo {
            position: relative;
            float: right;
            text-align: right;
            color: $luckyvip--darknavy;
            font-family: $body-font-bold;
            font-size: 13px;
        }
    }

.promotion__terms-conditions {
    padding: $site-margin;
    line-height: 1.4em;
    p,
    li,
    em {
        font-size: 0.8em;
    }
    .promotion__terms-conditions__link {
        text-decoration: underline;
    }
    @media #{$small-only} {
        font-size: 0.9em;
        line-height: 1.3em;
    }
}

#related--promos {
    @include grid-column($columns: 4, $collapse: true);
    float: right;
    position: relative;
    background-color: $luckyvip--blue-zodiac;
    padding: $site-margin $site-margin 0px $site-margin;
    border: 1px solid $luckyvip--blue-zodiac;
    @media #{$small-only} {
        display: none;
    }
    @media #{$medium-only} {
        @include grid-column($columns: 4, $collapse: true);
        padding: $site-margin $site-margin 0px $site-margin;
    }
    .promotion__wrapper {
        margin-bottom: $site-margin;
    }
    .promotion__image {
        @include grid-column($columns: 12, $collapse: true);
        width: 100%;
    }
    .promotion__content__wrapper {
        @include grid-column($columns: 12, $collapse: true);
        padding: 0px 8px;
    }
    .promotion__content {
        color: $white;
    }
}

.promo__container__row {
    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
    }
    @media #{$medium-up} {
        @include grid-column(12, $collapse: true);
        margin-bottom: 2em;
    }
}

.promo__container__button {
    @media #{$small-only} {
        @include grid-column(6, $center: true, $collapse: true);
    }
    @media #{$medium-up} {
        @include grid-column(3, $center: true, $collapse: true);
    }
    margin-left: auto;
    margin-right: auto;
}

.promo__container__button__opt-in {
    a {
        background-color: #FFF;
        @include background-image(linear-gradient(to top, #c6aeeb 0%, white 100%));
        color: #011558;
        &:hover {
            background-image: none;
            background: #67e4f3;
            color: $black;
        }
    }
    @media #{$small-only} {
        @include grid-column(4, $collapse: true);
        float: right;
    }
    @media #{$medium-up} {
        @include grid-column(5, $collapse: true);
        float: right;
    }
    .button {
        padding: 4px;
        width: 87px;
        margin-right: 8px;
        margin-top: 8px;
        float: right;
    }
}

.promo__cta {
    font-size: 1em;
    padding-left: 2.2em;
    padding-right: 2.2em;
    float: left;
    @extend .green-cta;
    color: $white;
}

.promotion__content__wrapper {
    @media #{$medium-only} {
        @include grid-column($columns: 12);
    }
    @media #{$small-only} {
        @include grid-column($columns: 12);
    }
    padding: 1em !important;
}

.promo__container__cta {
    @include grid-column(12);
    padding:0px;
    margin: $site-margin 0;
    text-align: center;
    a {
        @include grid-column(4, $center: true, $collapse: true);
        @media #{$small-only} {
            @include grid-column(11, $center: true, $collapse: true);
        }
        padding: 0;
        border-radius: 1px;
        margin: 0 3px;
        width: 100%;
        height: auto;
        margin-bottom: $site-margin;
        font-family: $button-font;
        text-align: center;
        display: inline-block;
        line-height: 2;
        font-size: 18px !important;
        &.cta-opt-in {
            @include OPT-IN-button;
        }
        &.cta-join {
            padding: 0.4em;
            font-family: "museo_sans900", Helvetica, Arial, Verdana, sans-serif !important;
            font-size: 0.7em;
            color: $luckyvip--darknavy;
            font-weight: 900;
            background: $luckyvip--dodger-blue;
            text-transform: uppercase;

            &:hover {
                background-color: $white;
            }
        }
    }
}
