//*=============================================
//  Content on my account page
// =============================================================================

.myaccount-content-view {
    .section-left__title h4 {
        margin-bottom: 0 !important;
    }

    .lobby-wrap__left {
        width: 100% !important;
        margin-top: $site-margin / 2;

        .progressive-jackpots__wrapper {
            display: none !important;
        }
    }

    .lobby-wrap__right {
        width: 100% !important;
        margin-top: ($site-margin / 2) !important;
        min-height: auto !important;
        background: $white !important;

        @media #{$small-only} {
            margin: 0px !important;
        }

        @media #{$medium-only} {
            margin: 0px !important;
        }
    }

    .lobby-wrap__content-box {
        border: none;
    }

    .tabs {
        @include grid-column(12);

        padding: 0;
        padding-left: $site-margin / 2;
        float: none;
        font-family: $title1-font;
        margin-top: 0;
        display: block !important;

        @media #{$medium-up} {
            margin-top: 0px;

            @include grid-column(12);

            padding: 0;
            padding-left: $site-margin;
        }

        @media #{$small-only} {
            margin-top: 0px;
            padding: 0;
        }

        dd {
            @include grid-column(12);

            margin: 0 0;
            padding: 0;
            padding-right: $site-margin / 2;

            a {
                @include grid-column(12, $collapse: true);

                @include border-radius(6px);

                color: $brand-color;
                font-family: $body-font-bold;
                text-align: left;
                font-size: 1rem;
                margin-bottom: 3px;
                text-transform: initial;
                background: $base-blue-light !important;
                padding: 0 ($site-margin / 2);
                line-height: 2.2;
            }

            &.active {
                a, a:hover {
                    color: $brand-color;
                }
            }

            // &.first {
            //     a {
            //         border-left: none;
            //     }
            // }

            // &.last {
            //     margin-right: 0px;

            //     a {
            //         border-right: none;
            //     }
            // }

            @media #{$small-only} {
                @include grid-column(12);

                padding: 0 !important;
                margin-bottom: 12px;
                border-top: none;
                border-bottom: none;
            }
        }
    }

    .tabs-content {
        @include grid-column(12);

        padding: 0;
        font-family: $body-font-regular;
        border-top: none;
        padding-bottom: $site-margin;

        // tabs title removed

        h3 {
            display: none !important;
        }

        .current {
            text-decoration: none;
            color: $brand-color-light;
            cursor: default;
            text-decoration: none;
        }

        .myaccount-balances__header {
            @include grid-column(12);

            font-family: $nav-font-bold;
            font-weight: normal;
            color: $nav-main-color;
            text-transform: uppercase;

            /* top gradient content */
            background-image: linear-gradient(0deg, #E9DDED 2%, $white 100%);
            margin: 0;
            margin-bottom: $site-margin;
            padding: $site-margin / 2;
            font-size: 15px;
        }

        .balanceboxes {
            @include grid-column(12);

            padding: 0;
            margin: 0px;

            @media #{$medium-only} {
                @include grid-column(8, $center: true);

                padding: 0;
            }

            @media only screen and (max-width: 1024px) {
                margin-bottom: $site-margin * 2;
            }

            li {
                display: block;
                float: none;

                @include border-radius(20px);

                background: $brand-color-light;

                a {
                    color: $global-link-color;
                    text-decoration: underline;
                    border-bottom: none;
                }

                .convertpointsbtn {
                    line-height: 28px;

                    @media only screen and (max-width: 1024px) {
                        @include border-radius(20px);

                        background-color: $global-link-color;
                        position: absolute;
                        font-size: 0.8em;
                        padding: 0;
                        left: 0px;
                        margin-top: 50px;
                    }
                }
            }
        }

        .convertpointsbtn {
            @include border-radius(4px);

            color: $white !important;
            text-decoration: none !important;
            font-family: $body-font-regular;
            background-color: $global-link-color;
            border-radius: 0px;
            border: none;
            margin-left: 0;
            margin-right: 4px;
            line-height: 20px;

            @media only screen and (max-width: 1024px) {
                font-size: 1em;
                padding: 0;
                line-height: 36px;
                border: none;
                box-shadow: none;
            }
        }

        .convertpointsbtn__info {
            color: $white !important;
            text-decoration: none !important;
            font-family: $body-font-regular;
            background-color: $global-link-color;
            border: none;
            margin-left: 0;
        }
    }

    .start-convert-points-content {
        .start-convert-points-content__header {
            display: none !important;
        }
    }
}

.trusted-partners {
     width: 100%; 
     float: left; 
     /*margin-top: 20px;*/

    .info {
        @include grid-column(12, $float: left);
        width:100%;

        @media #{$small-only} {
            width: 100%;
        }

        h4 {
            margin-top: 15px;
        }

         .edit-point {
            &:last-of-type {
                margin-left:130px;
            }
        }

        span {
            a {
                color: #000;
                text-decoration: underline;
            }
        }
    }
    .checkboxes-list {
        @include grid-column(12, $float: left);
        .indent {
            margin-left: 25px;

            @media #{$small-only} {
                float: none;
            }

            @media #{$medium-only} {
                float: none;
            }
        }
        
         @media #{$small-only} {
            width: 100%;
            margin-top: 0;
        }

          @media #{$medium-only} {
            margin-top: 0;
        }

    }

    .update-personal--details {
        @include grid-column(12, $float: right);

         @media #{$small-only} {
            width: 100%;
        }
    }
   
}

.indent {
    margin-left: 25px;

    @media #{$small-only} {
        margin-left: 0;
    }
}

.receive-bonus {
    margin-top: 15px;

    span {
        p {
            margin-bottom: -5px !important;
        }
    }
    .edit-point {
        &:last-of-type {
            margin-left:130px;
        }
    }
}


.daub-preferences {
    #playerdetails label {
        float: initial;
    }
}


.start-trusted-offer {
    .trusted-partners {
        .info {
            width:100%;
        }
    }
}
