.myaccount-transactions {
	//Net worth deposit BANKING Tab START
    .second-tabs {
        li {
            margin-top: rem-calc(20px);

        	a {
        		text-transform: uppercase;
        		color: #1D4775 !important;
        		font-weight: bold;
                cursor: pointer !important;
        	}

            .active {
                text-decoration: underline;
            }
          
        }
    }

   .my-net-deposits {

   		margin-top: 10%;

   		text-align: center;
        p.view-net-deposit {
            margin-top: 20px;
            font-weight: bold !important;
            color: #1E4879;
            font-size: 16px;

            @media #{$small-only} {
                font-size: 15px;
            }
        }

        a.button {
            width: 300px;
            height: 45px;
            background-color: #1D4775;
            color: #ffffff;
            font-size: 15px;
            font-weight: bold;
            line-height: 12px;
            text-decoration: none;
            border-radius: 5px;
            text-transform: uppercase;

            @media #{$small-only} {
                width: 90%;
                font-size: 12px;
                padding-left: 16px;
                padding-right: 16px;
            }
        }

        a.btn-reveal__deposit {
            background-color: #ffffff;
            font-size: 18px;
            font-weight: bold;
            color: #011A39;
            text-decoration: none;

             @media #{$small-only} {
                width: 90%;
            }
        }

        .inactiveLink {
           pointer-events: none;
           cursor: default;
        }

        p.my-net-deposit__info {
        	width: 70%;
    		margin: 0 auto;
    		line-height: 30px;
            text-align: center;
            font-size: 15px;
            margin-bottom: 70px;
            color: #1E4879;

            @media #{$small-only} {
            	width: 100%;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
   }
}