.user-nav {
    font-size: 0.9rem;
    @include list-inline;
    text-align: center;
    position: relative;
    overflow: visible;
    display: inline-block;
    width:308px;

    > li {
        text-align: center;
        margin-right: 1.2em;
        line-height: 26px;
        float:right;
        > a {
            font-size: 11px;
            color: $white;
              font-family: helvetica,arial,sans-serif;
              font-weight: bold;
            &:hover {
                padding-bottom: 2px;
                border-bottom: 2px #51c6ee solid;
            }
        }
        a.current {
            padding-bottom: 2px;
            border-bottom: 2px #f1008a solid;
        }
        &#balance .balance-area__value {
            font-size: 12px;
        }
        // &.user-nav__balance{
        //     @include grid-column(6,$collapse:true);
        // }
   
    }
    .user-nav__list {
        font-size: 0.8em;
        @include list-inline;
        @include vert-align(26px);
        line-height: 15px;
        i, span {
            float: left;
        }
        span {
            padding: 0.2em;
        }
    }
    .balance {
        color: $white;
    }
    #logout-button {
        // position: absolute;
        // right: 0px;
        // margin-top: -40px;
        // z-index: 1000;
        // font-size: 0.7em;
        // a {
        //     color: #008CBA;
        // }
    }

}

.user-nav__balance {
    margin-right: 0px !important;
}