// New Mobile Menu Spin Skin April 2015 Author: Marcus Chadwick /*====================
@mixin vertical-center-parent {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@mixin vertical-center-child {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer__nav--wrapper {
    @media #{$small-only} {
        display:none;
    }
    @media #{$medium-only} {
        display:none;
    }
}

//variable for color of micrclick circle effect on menu links
$inkbgcolor: hsl(220, 100%, 80%);
.mobile-menu {
    /* skin specific non-critical appearance styles */
    font-size: 1.25rem;
    text-transform: uppercase;
    // needs to be same as slot categories hidden slide down panel background colour
    background-color: transparent;
    float:left;
}

.nav-for-mobile {
    @extend .show-for-medium-down;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    @include opacity(1);
    // height: rem-calc(70px);
    background-color: $header--background;
    .small--balances {
        @include grid-column(2);
        margin-top: 4px;
    }
}

.mobile-menu-lists {
    /* cross skin critical sizing and position styles */
    overflow: scroll;
    height: 100%;
}

.mobile-menu-list {
    /* cross skin critical sizing and position styles */
    width: 100%;
    position: relative;
    height: 100%;
}

.mobile-menu-top-area {
    /* skin specific non-critical appearance styles */
    background-color: $black;
    .search-input > input[type=text],
    .search-input {
        border: none;
        box-shadow: none;
        height: 41px;
        font-size: 20px;
        text-transform: uppercase;
        
    }
}

.search-input--copy {
    font-family: $font-copy-bold;
    font-size: rem-calc(13px);
}

.mobile-menu-top-area__row {
    /* cross skin critical sizing and position styles */
    display: block;
    width: 100%;
    @include grid-row;
    height: 48px;
    margin-bottom: 5px;
}

.mobile-menu-top-area__join {
    a {
        /* skin specific non-critical appearance styles */
        @include border-radius(2px);
        background-color: $global-link-color;
        font-family: $ui-font-bold;
        font-size: 20px;
        font-weight: bold;
        color: $white;
    }
}

.mobile-menu-top-area__balance {
    /* cross skin critical sizing and position styles */
    @include grid-column(8, $collapse: true);
    color: $white;
    .inner {
        height: 42px;
        line-height: 42px;
        @include background-clip(padding-box);
        margin-right: 10px;
        span {
            font-family: $ui-font-bold;
            font-size: 20px;
        }
    }
}

.mobile-menu-top-area__vip-level {
    .inner {
        /* skin specific non-critical appearance styles */
        background-color: $black;
        @include border-radius(2px);
        //font style
        color: $white;
        font-family: $body-font-demi;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
}

.mobile-menu-item {
    /* skin specific non-critical appearance styles */
    //font styles
    color: #fff;
    font-size: 16px;
    @include text-shadow(1px 1px 0 rgba(0, 0, 0, 0.6));
    //bar styles
    border-bottom: 1px solid $black;
    &.active {
        background-color: lighten($main-highlight-color, 10%);
        border: none;
        a {
            color: $white;
        }
    }
    a {
        color: $white;
        font-family: $ui-font-bold;
        &.active {
            color: $portage-lilac;
        }
    }
    
    &__submenu {
        background: $black;
        transition: 500ms;
        
        &-toggle {
            position: static;
            top: 8px;
            right: 0;
            background: $global-link-color;
            font-family: $ui-font-bold;
            color: white;
            text-shadow: none;
            font-size: 14px;
            line-height: 35px;
            padding: 0 10px;
            cursor: pointer;
            float: right;
            
            .chevron-icon {
                opacity: 0.6;
                fill: $white;
            }
        }
        
        &__content {
            opacity: 0;
            transition: 500ms;
        }
    }
    
    &.is-active {
        .mobile-menu-item {
            &__submenu {
                
                &__content {
                    opacity: 1;
                }
            }
        }
    }
    
    // Slots Categories Button
    .slots-categories {
        /* skin specific non-critical appearance styles */
        background: $global-link-color;
        font-family: $ui-font-bold;
        color: white;
        text-shadow: none;
        font-size: 14px;
        .chevron-icon {
            opacity: 0.6;
            fill: $white;
        }
    }
}

.mobile-menu .mobile-menu-item a {
    padding-left: 0 !important;
}

.mobile-menu-section-title {
    /* skin specific non-critical appearance styles */
    //font styles
    color: #fff;
    font-family: $ui-font-semibold;
    font-size: 13px;
    font-weight: bold;
    @include text-shadow(0 0 1px #565552);
    // bar styles
    background-color: darken($minsk-blue, 10%);
}

// Mobile Menu Slots Categories Hidden Slide Down Panel
.mobile-menu {
    font-family: $ui-font-semibold;
    
    /* Override the global */
    .mobile-menu-item {
        .games-filter-menu__popover-wrap {
            opacity: 1;
            height: auto;
        }
    }
    
    .games-filter-menu__popover-wrap {
        font-family: $ui-font-semibold;
        .games-filter-menu__popover {
            font-family: $ui-font-semibold;
        }
        .games-filter-menu__popover .tabs-content .content ul li a {
            font-family: $ui-font-semibold;
        }
        .tab-title.active a {
            text-decoration: underline;
        }
        // css3 animation for sliding down categories panel
        // -webkit-animation: slidedown 1s forwards;
        // animation: slidedown 1s forwards;
        // -webkit-animation-delay: 3s;
        // animation-delay: 3s;
        // @-webkit-keyframes slidedown {
            //     100% {
                //         height: 246px;
                //         opacity: 1;
                //     }
                // }
                // @keyframes slidedown {
                    //     100% {
                        //         height: 246px;
                        //         opacity: 1;
                        //     }
                        // }
                    }
                }
                
                //svg background images
                .mobile-menu {
                    // mobile header login button
                    .mobile-menu-item {
                        span.menu-link {
                            padding-left: 15px;
                            
                            svg {
                                margin-bottom: 3px;
                            }
                        }
                    }
                    .mobile-menu-item.logout-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/logout.svg);
                        background-position: 9px 14px;
                    }
                    .mobile-menu-item.gamelimits-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/gamelimits.svg);
                    }
                    .mobile-menu-item.responsiblegaming-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/responsiblegaming.svg);
                    }
                    .mobile-menu-item.privacy-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/privacy.svg);
                    }
                    .mobile-menu-item.about-us-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/aboutus.svg);
                    }
                    .mobile-menu-item.terms-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/terms.svg);
                    }
                    .mobile-menu-item.faq-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/faq.svg);
                    }
                    .mobile-menu-item.support-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/support.svg);
                        background-size: 6%;
                    }
                    .mobile-menu-item.community-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/community.svg);
                        background-size: 7%;
                        background-position: 7px 17px;
                    }
                    .mobile-menu-item.deposit-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/deposit.svg);
                    }
                    .mobile-menu-item.cashier-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/cashier.svg);
                        background-position: 11px 13px;
                    }
                    .mobile-menu-item.myaccount-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/myaccount.svg);
                    }
                    .mobile-menu-item.loyalty-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/loyalty.svg);
                    }
                    .mobile-menu-item.promotions-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/promotions.svg);
                    }
                    .mobile-menu-item.allgames-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/allgames.svg);
                    }
                    .mobile-menu-item.roulette-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/roulette.svg);
                    }
                    .mobile-menu-item.scratch-and-arcade-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/scratch.svg);
                    }
                    .mobile-menu-item.tablecard-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/tablecard.svg);
                    }
                    .mobile-menu-item.live-casino {
                        background-image: url(../_images/common/mobile-menu-icons-svg/poker-chip-icon.svg);
                    }
                    .mobile-menu-item.slots-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/slots.svg);
                        background-size: 6%;
                    }
                    .mobile-menu-item.favourites-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/favourites.svg);
                    }
                    .mobile-menu-item.newgames-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/newgames.svg);
                        background-size: 4%;
                        background-position: 12px 14px;
                    }
                    .mobile-menu-item.gamesearch-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/search.svg);
                        background-size: 5%;
                        background-position: 8px 12px;
                    }
                    .mobile-menu-item.settings-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/settings.svg);
                    }
                    .mobile-menu-item.complaints-disputes-link {
                        background-image: url(../_images/common/mobile-menu-icons-svg/complaints.svg);
                    }
                    @for $i from 1 through 25 {
                        #ui-id-#{$i} {
                            /* skin specific non-critical appearance styles */
                            //font styles
                            color: $global-link-color;
                            font-family: $ui-font-semibold;
                            font-size: 14px;
                            //bar styles
                            border-top: 1px solid darken($global-link-color, 80%);
                            border-bottom: none;
                            background-image: none;
                            background-color: $white;
                        }
                    }
                    .ui-state-focus {
                        background: $global-link-color !important;
                        background-image: none;
                        color: $white !important;
                        box-shadow: none !important;
                    }
                }
                
                
                // nav toggle menu with animation into cross shape
                .menu-toggle-wrap {
                    
                    @media #{$small-only} {
                        width: 45px;
                    }
                    cursor: pointer;
                    .burger {
                        background: $mobilemenu-burger;
                        &:before {
                            background: $mobilemenu-burger;
                        }
                        &:after {
                            background: $mobilemenu-burger;
                        }
                    }
                    .burger.active {
                        border: 4px solid $mobilemenu-burger;
                    }
                }
                
                a.login-button--nav-for-mobile.menu-link {
                    color: $login--color;
                    font-family: $font-menu;
                    text-transform: uppercase;
                    font-size: rem-calc(18px);
                    line-height: rem-calc(18px);
                    letter-spacing: 0px;
                    float: left;
                    margin-top: rem-calc(26px);
                    &:hover {
                        color: $login--hover;
                    }
                }
                
                .search--icon--loggedout,
                .search--icon--loggedin {
                    float: left;
                    height: rem-calc(19px);
                    width: rem-calc(19px);
                    svg {
                        width: 100%;
                    }
                    &:hover {
                        a {
                            color: $header--link--hover;
                        }
                        #search {
                            fill: $header--link--hover;
                        }
                    }
                }
                
                .search--icon--loggedout {
                    margin-top: rem-calc(20px);
                    margin-left: rem-calc(18px);
                    margin-right: rem-calc(18px);
                }
                
                .search--icon--loggedin {
                    margin-top: rem-calc(18px);
                    padding-top: rem-calc(2px);
                    margin-right: rem-calc(10px);
                    @media only screen and (min-width: 320px) and (max-width: 374px) {
                        margin-right: rem-calc(4px);
                    }
                }
                
                .search--link {
                    display: block;
                    width: 100%;
                    height: rem-calc(19px);
                }
                
                .wrapper--logo {
                    width: 20%;
                }
                
                .wrapper--menu {
                    width: 70%;
                    height: rem-calc(70px);
                }
                
                .wrapper--menuinner {
                    width: 19%;
                    height: rem-calc(70px);
                }
                
                .wrapper--burger {
                    width: 10%;
                    float: left;
                }
                
                .mobilemenu {
                    width: 100%;
                    height: initial;
                }
                
                .mobilemenu--logo {
                    width: 20%;
                    background-color: black;
                    float: left;
                }
                
                .mobilemenu--menu {
                    width: 80%;
                    background-color: black;
                    float: left;
                }
                
                .mobilemenu--inner {
                    width: rem-calc(200px);
                    height: rem-calc(70px);
                    float: right;
                }
                
                .mobilemenu--inner--loggedin {
                    width: auto;
                    height: rem-calc(70px);
                    float: right;
                }
                
                .mobilemenu--burger {
                    // width:15%;
                    height: rem-calc(70px);
                    // background:pink;
                    float: right;
                }
                
                .nav-for-mobile {
                    .menu-toggle-wrap {
                        height: rem-calc(70px);
                        padding-top: 10px;
                        padding-right: 10px;
                        
                        @media #{$small-only} {
                            padding-right: 5px;
                            padding-right: 0;
                            @media only screen and (min-width: 320px) and (max-width: 374px) {
                                padding-right: 0;
                            }
                            
                            @media only screen and (min-width: 320px) and (max-width: 374px) {
                                padding-right: 3px;
                            }
                            .burger {
                                border-radius: 0px;
                                &:before,
                                &:after {
                                    border-radius: 0px;
                                }
                            }
                        }
                    }
                }
                
                
                /*=============================================
                Apsers New Menu Style
                =============================================*/
                
                .menu__top {
                    height: rem-calc(60px);
                    background: $mineshaft;
                }
                
                .menu__top--header {
                    margin: 0 0 0 17px;
                    font-family: $font-header2;
                    font-size: rem-calc(16px);
                    color: $mobilemenu-fontcolor;
                    line-height: rem-calc(60px);
                }
                
                // Placeholder for menu items styling
                %menu--list {
                    font-family: $font-menu;
                    font-size: rem-calc(16px);
                    letter-spacing: rem-calc(0.5px);
                    // line-height: rem-calc(40px);
                    a {
                        color: $mobilemenu-fontcolor;
                        &:hover {
                            color: $mobilemenu-fontcolor--hover;
                        }
                    }
                }
                
                .menu__top--home {
                    @extend %menu--list;
                    margin: 0;
                    text-align: center;
                    height: rem-calc(70px);
                    line-height: rem-calc(70px);
                    border-bottom: 1px solid $mobilemenu-bottom-border;
                }
                
                .menu__list {
                    margin: 0;
                    text-align: center;
                    border-bottom: 1px solid $mobilemenu-bottom-border;
                    padding-bottom: rem-calc(30px);
                    @extend %menu--list;
                    
                    &.aspers__chinese{
                        
                        padding: 15px 0px;
                        
                        img {
                            width:18px;
                            margin-right:10px;
                            vertical-align:-3px;
                        }
                    }
                }
                
                .menu__list--item {
                    @extend %menu--list;
                    line-height: rem-calc(40px);
                }
                
                .mobile-menu-lists {
                    background: $mobilemenu-background;
                }
                
                .menu__header {
                    font-family: $font-copy;
                    font-size: rem-calc(12px);
                    color: $mobilemenu-list-header;
                    letter-spacing: 0.38px;
                    text-align: center;
                    margin-top: rem-calc(30px);
                }
                
                .mobilemenu__balance {
                    a {
                        font-family: $font-menu;
                        font-size: 12px;
                        color: $overlay--mybalance-font-color;
                        letter-spacing: 0.5px;
                        line-height: 70px;
                        svg {
                            @media only screen and (min-width: 320px) and (max-width: 374px) {
                                margin-left: rem-calc(2px);
                                width: rem-calc(10px);
                                height: rem-calc(5px);
                            }
                            width: rem-calc(15px);
                            height: rem-calc(7px);
                            margin-bottom: rem-calc(1px);
                            margin-left: rem-calc(5px);
                        }
                        &:hover {
                            color: $yellow-hover;
                            #dropdown-arrow,
                            #my-account {
                                stroke: $yellow-hover;
                            }
                        }
                        
                        @media #{$small-only} {
                            font-size: 11px;
                        }
                    }
                    
                    
                }
                
                .mobilemenu__cashier {
                    height: 29px;
                    width: 50px;
                    background: $button-cashier-bg;
                    border-radius: 20px;
                    text-align: center;
                    line-height: 29px;
                    margin-top: 20.5px;
                    margin-bottom: 20.5px;
                    &:hover {
                        background: lighten($button-cashier-bg, 10%);
                    }
                    
                    @media #{$small-only} {
                        width: 50px;
                    }
                }
                
                .mobilemenu__cashier--copy {
                    display: inline-block;
                    font-family: $font-menu;
                    font-size: 12px;
                    letter-spacing: 0;
                    text-transform: uppercase;
                    color: $button-cashier-color;
                    &:hover {
                        color: $button-cashier-color;
                    }
                    
                    @media #{$small-only} {
                        font-size: 12px;
                    }
                    
                }
                .mobilemenu__dailyplay {
                    .dice-icon {
                        float: left;
                        padding-left: 8px;
                        margin-top: 2px;
                        .bounce-dice {
                            width: 23px;
                            margin-top: 15px;
                            margin-right: 5px;
                            animation-duration: 2s;
                            animation-iteration-count: infinite;
                            animation-name: bounce;
                            animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
                            
                            @keyframes bounce {
                                0%   { transform: scale(1,1)      translateY(0); }
                                10%  { transform: scale(1.1,.9)   translateY(0); }
                                30%  { transform: scale(.9,1.1)   translateY(-9px); }
                                50%  { transform: scale(1.05,.95) translateY(0); }
                                57%  { transform: scale(1,1)      translateY(-7px); }
                                64%  { transform: scale(1,1)      translateY(0); }
                                100% { transform: scale(1,1)      translateY(0); }
                            }
                        }
                        
                        svg {
                            position: absolute;
                            width: 35px;
                            height: 50px;
                            bottom: 10px;
                            .st1 {
                                transform: translate(12px, -65px);
                                animation-name: blink;
                                animation-duration: 2s; 
                                animation-timing-function: ease-out; 
                                animation-delay: 0s;
                                animation-direction: alternate;
                                animation-iteration-count: infinite;
                                animation-fill-mode: none;
                                animation-play-state: running;  
                            }
                            
                            .st2 {
                                transform: translate(-3px, -82px);
                                animation-name: blink;
                                animation-duration: 2s; 
                                animation-timing-function: ease-out; 
                                animation-delay: 0.5s;
                                animation-direction: alternate;
                                animation-iteration-count: infinite;
                                animation-fill-mode: none;
                                animation-play-state: running; 
                            }
                            
                            .st3{
                                transform: translate(-6px, -104px);
                                animation-name: blink;
                                animation-duration: 2s; 
                                animation-timing-function: ease-out; 
                                animation-delay: 1s;
                                animation-direction: alternate;
                                animation-iteration-count: infinite;
                                animation-fill-mode: none;
                                animation-play-state: running; 
                            }
                            
                            
                            @keyframes blink {
                                0% {
                                    opacity: 0;
                                    fill: $white;
                                }
                                50%{
                                    opacity: 1;
                                    fill: $white;
                                }
                                70% {
                                    opacity: 0;
                                    fill: $white;
                                }
                                100% {
                                    opacity: 0;
                                    fill: $white;
                                }
                            }
                        }
                    }
                }
                
                .mobilemenu__myaccount {
                    line-height: 70px;
                    padding-top: rem-calc(3px);
                    position:relative;
                    
                    svg {
                        width: 19px;
                        height: 19px;
                        &:hover {
                            #my-account {
                                stroke: $yellow-hover;
                            }
                        }
                    }
                    span {
                        font-size: 0.6rem;
                        color: white;
                        display: block;
                        position: absolute;
                        background-color: red;
                        width: 2em;
                        height: 2em;
                        line-height: 2em;
                        border-radius: 2em;
                        text-align: -webkit-center;
                        top: 13%;
                        right: 13%;
                    }
                }
                .daily-play--item {
                    .bouncing-dice {
                        animation-duration: 2s;
                        animation-iteration-count: infinite;
                        animation-name: bounce;
                        animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
                        margin-left: -20px;
                        
                        @keyframes bounce {
                            0%   { transform: scale(1,1)      translateY(0); }
                            10%  { transform: scale(1.1,.9)   translateY(0); }
                            30%  { transform: scale(.9,1.1)   translateY(-9px); }
                            50%  { transform: scale(1.05,.95) translateY(0); }
                            57%  { transform: scale(1,1)      translateY(-7px); }
                            64%  { transform: scale(1,1)      translateY(0); }
                            100% { transform: scale(1,1)      translateY(0); }
                        }
                    }
                    
                    .dice-svg {
                        position: relative;
                        width: 5px;
                        height: 5px;
                        overflow: visible;
                        right: 125px;
                        top: -24px;
                        
                        .st1 {
                            transform: translate(28px, -64px);
                            animation-name: blinking;
                            animation-duration: 1.5s; 
                            animation-timing-function: ease-out; 
                            animation-delay: 0s;
                            animation-direction: alternate;
                            animation-iteration-count: infinite;
                            animation-fill-mode: none;
                            animation-play-state: running;
                        }
                        
                        .st2 {
                            transform: translate(7px, -64px);
                            animation-name: blinking;
                            animation-duration: 1.5s; 
                            animation-timing-function: ease-out; 
                            animation-delay: 0.5s;
                            animation-direction: alternate;
                            animation-iteration-count: infinite;
                            animation-fill-mode: none;
                            animation-play-state: running;
                        }
                        
                        .st3 {
                            transform: translate(9px, -104px);
                            animation-name: blinking;
                            animation-duration: 1.5s; 
                            animation-timing-function: ease-out; 
                            animation-delay: 1s;
                            animation-direction: alternate;
                            animation-iteration-count: infinite;
                            animation-fill-mode: none;
                            animation-play-state: running; 
                        }
                        
                        @keyframes blinking {
                            0% {
                                opacity: 0;
                                fill: $white;
                            }
                            50%{
                                opacity: 1;
                                fill: $white;
                            }
                            100% {
                                opacity: 0;
                                fill: $white;
                            }
                        }
                    }
                }
                
                .mobilemenu--item {
                    float: left;
                    height: 70px;
                    padding-right: 10px;
                    @media only screen and (min-width: 320px) and (max-width: 374px) {
                        padding-right: 4px;
                    }
                }
                
                
                .search-field {
                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        font-family: $font-copy;
                    }
                    &::-moz-placeholder { /* Firefox 19+ */
                        font-family: $font-copy;
                    }
                    &:-ms-input-placeholder { /* IE 10+ */
                        font-family: $font-copy;
                    }
                    &:-moz-placeholder { /* Firefox 18- */
                        font-family: $font-copy;
                    }
                    
                }
                
                .menu-open {
                    overflow:hidden;
                }
                
                .mobile-menu {
                    padding: 0 !important;
                    margin-top: 70px;
                    right: -414px;
                    transition: all 0.6s;
                    overflow: scroll;
                    &.open {
                        opacity: 1;
                        visibility: visible;
                        right: 0px;
                        height: initial;
                    }
                }
                
                .cookie-policy-active {
                    & .mobile-menu {
                        margin-top: 255px;
                        @media screen and ( orientation: landscape ) {
                            margin-top: 200px;
                        }
                    }
                }
                
                body.burger-menu-active {
                    position: fixed;
                    overflow: hidden;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
