// Buttons Login Box
// =============================================================================
.welcome-sign {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    font: normal (45px / normal) $title-section !important;
    color: $white;
    text-decoration: normal;
    text-align: center;
    padding-left: 32px;
    padding-top: 15px;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.join-now-sign:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px cyan, 0 0 50px cyan, 0 0 60px cyan, 0 0 80px cyan;
}

.welcome-sign-text {
    color: $white !important;
}

.button--login {
    @include transition(all, 0.2s ease-out);

    font-family: $button-font;
    float: left;
    text-align: center;
    font-size: rem-calc(23px);
    width: 133px;
    height: 50px;
    border: none;
    padding: 9px 10px 10px 35px;
    text-decoration: none;
    background-image: linear-gradient(-180deg, #4BA4F0 0%, #2082D8 51%, #0E60A8 100%);
    box-shadow: 0px 1px 1px 1px #0E4372, inset 0px 1px 0px 0px #8BC5F7;
    border-radius: 4px;
    text-transform: uppercase;
    margin-right: 20px;

    &:hover {
        background-image: linear-gradient(-180deg, darken(#4BA4F0, 3%) 0%, #2082D8 51%, darken(#0E60A8, 3%) 100%);
    }

    > a {
        color: $white;
        text-shadow: 0px 2px 0px rgba(81, 81, 81, 0.48);
    }
}

.button--join {
    @include transition(all, 0.2s ease-out);

    font-family: $button-font !important;
    text-align: center;
    float: left;
    font-size: rem-calc(23px);
    width: 136px;
    height: 50px;
    border: none;
    padding: 9px 10px 10px 16px;
    text-decoration: none;
    background-image: linear-gradient(-180deg, #FF8FD7 0%, #FF7BD0 46%, #FF00AA 100%);

    //box-shadow: 0px 1px 1px 1px #C70064, inset 0px 1px 0px 0px #FFC5EA;
    box-shadow: 0px 2px 0px 0px #C70064, inset 0px 1px 0px 0px #FFC5EA;
    border-radius: 4px;
    text-transform: uppercase;
    margin-right: 20px;
    color: $white !important;
    text-shadow: 0px 2px 0px rgba(81, 81, 81, 0.48);

    &:hover {
        background-image: linear-gradient(-180deg, darken(#FF8FD7, 3%) 0%, darken(#FF7BD0, 3%) 46%, darken(#FF00AA, 3%) 100%);
        text-decoration: none !important;
        text-shadow: none;
        box-shadow: none;
    }

    > a {
        color: $white;
        text-shadow: 0px 2px 0px rgba(81, 81, 81, 0.48);
    }
}

// Button login and opt-in
// =============================================================================
.cta-join {
    @include transition(all, 0.2s ease-out);

    @include CTA-button(8px, 1.2em, 4px, #1D4775, #1D4775, #1D4775, #183b61, #183b61);

    &:hover {
        color: $white;
    }
}

 .cta-opt-in {
   
        @include grid-column(6, $center: true);
        margin: 0 3px;
        width: 47%;
        display: inline-block;
        border-radius: 4px;
        background: $trinidad;
        color:$white;
        box-shadow: 0px 2px 0px 0px $trinidad;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.3em;
        font-weight: 600;
        float: left;
        font-family: $body-font-extra-bold;

        &:hover {
            background-color: $grenadier;
        }
    }

// secondary cta
// =============================================================================
.cta-secondary {
    @include transition(all, 0.2s ease-out);

    @include CTA-button(8px, 1.2em, 4px, #1D4775, #1D4775, #1D4775, #183b61, #183b61);
}

// Button Play
// =============================================================================
.cta-play {
    @include transition(all, 0.2s ease-out);

    @include CTA-button(4px, 1em, 4px, #FF8FD7, #FF7BD0, #FF00AA, #C70064, #FFC5EA);
}

// Button Category Filter
// =============================================================================
.cta-filter {
    @include transition(all, 0.2s ease-out);

    background-image: linear-gradient(-180deg, $banana-yellow 0%, $sad-yellow 100%);
    box-shadow: 0px 1px 0px 0px #846D06;
    border-radius: 4px;
    color: $main-highlight-color-nav;
    font-family: $body-font-bold;
    text-transform: uppercase;
}

// Button Confirm
// =============================================================================
.cta-confirm {
    @include CTA-button(8px, 1.2em, 4px, #5fc72a, #009e00, #009e00, #009e00, #009e00);
}

// Button Register 
// =============================================================================

.registercta {
    // @include button-generate($main-highlight-color, 7px, 3px);
    @include CTA-button(8px, 1.2em, 4px);
    float: left; 
    margin-top: $site-margin /2;
    width: 100%;
    height: auto;


    > a {
        color: $white;

        &:link, &:visited, &:hover, &:active {
            color: $white;
        }
    }
}

.registercta:hover {
    font-family: $button-font;
    color: $white;
    background-color: darken($go-button, 5%);
}

// Button Find address
// =============================================================================

.findaddress {
    @include button-generate(lighten($grey, 8%), 7px, 3px);

    font-family: $button-font;
    color: $white;
    font-size: 1.0em;
    float: left;
    margin-top: 3px;
    padding: 10px;
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    border: 1px solid $grey;
    margin-bottom: 10px;
    font-weight: normal;
    line-height: 2.5rem;
    border-radius: 1px;

    > a {
        color: $white;
        width: 80px;
        height: 39px;
        padding-left: 13px;
    }
}

.findaddress:hover {
    background-color: $grey;
    font-family: $button-font;
}

.promotion__more-info {
    font-family: $body-font-bold;
    font-size: 0.8em;
    color: $grey;
    display: block !important;
    float: left;
    text-decoration: underline;
    text-shadow: none;
    text-transform: lowercase;
    text-align: right;
    font-weight: normal;
    bottom: 0px;
}

//  ******* CASHIER THANK YOU PAGE ******* //
#cashier {
    .green-cta {
        @include CTA-button(0.4em, 1em, 1px, $login-button, $login-button);

        font-family: $button-font;
        color: $white;
        width: auto;
        height: 35px;
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;

        > a {
            color: $white;
        }

        @include grid-column(5, $float: left);

        width: 47%;
        margin-right: 10px;
        margin-top: 10px;

        @media #{$small-only} {
            @include grid-column(12);
        }
    }
}

.cta-cashier {
    @include secondary-button-ui;
}