
.claim-code {
    padding: 0 5px;

    .start-claim-code {
        h3 {
            text-transform: none;
            font-size: rem-calc(14px);
            margin-bottom: 5px;
        }

        br { display: none; }

        .claim-button {
            @include regalwins-button-gradient('true', 'green');
        }

        .claim-desposit-code-info {
            font-size: rem-calc(12px);
        }
    }

    span.error {
        display: block;
        width: 100%;
        font-size: $rw-body-small-font-size;
        font-style: normal;
        font-weight: 600;
        color: $registration-3step-input--error;
        position: relative;
        margin: 0;
        margin-top: 10px;
        padding: 4px;
        height: auto;
        border-radius: 2px;
        line-height: 12px;
        min-height: initial !important;
        background: transparent;
    }
}