.myaccount-details__column.convert-points {
    padding: 0;
    width: auto;

    .start-convert-points {
        h3 {
            text-transform: none;
            font-size: $rw-header-secondary-size;
        }

        p {
            font-size: $rw-body-font-size;
            margin-top: 20px;
            margin-bottom: 5px;
        }

        input {
            background: transparent;
            color: $white;
        }

        .error {
            display: block;
            position: relative;
            width: 100%;
            font-size: $rw-body-small-font-size;
            font-weight: bold;
            color: $registration-3step-input--error;
            margin: 0;
            margin-top: 10px;
            margin-bottom: 0px;
            padding: 4px;
            line-height: 12px;
            background: transparent;
        }

        .button {
            @include regalwins-button-gradient('true', 'green');
            color: $white;
        }

        .convert-points-info {
            a {
                display: block;
                font-size: $rw-body-font-size;
                color: $white;
                text-align: center;
                margin-bottom: 1rem;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
