/*=============================================
=           MY Account        =
=============================================*/

// My accounts shared checkbox styles (was previously styled in two separate places)
@mixin checkbox-styles {
    .checkboxes {
        position: relative;

        input {
            width: 20px;
            height: 20px;
            margin: 1rem 0 0 0;
        }
        label {
            font-size: $rw-body-small-font-size;
            display: inline-block;
            position: absolute;
            top: 15px;
            left: 25px;
        }
    }
}

.middle-content.myaccount-content.middle-content__box {
    // overrule bottom margin
    margin-bottom: 0;
}

#playerdetails {
    @include clearfix;

    @media #{$medium-up} {
        margin-top: 10px;
    }
}

.balanceboxes {
    @media #{$small-only} {
        margin: 12px;
    }
    @media #{$medium-up} {
        @include grid-column(6, $float: left);
        padding: 18px !important;
        border: 2px solid $black;
    }
    position: relative;
    list-style: none;
    margin: 0;
    display: block;
    color:$white;
    text-align: center;
    .balancebar {
        color: $white;
        font-family: $body-font-demi;
        font-size: 15px;
        display: block;
        border: 2px solid $regalwins--gold;
        background-color: $black;
        margin-bottom: 12px;
        padding-left: 12px;
        text-align: left;
        @media #{$medium-up} {
            height: 40px;
            @include vert-align(40px);
        }
        @media #{$small-only} {
            width: 100%;
            text-align: center;
            display: block;
            float: left;
            padding: 0;
            height: auto;
            @include border-radius(0px);
            margin-bottom: 12px;
        }
        span {
            @media #{$medium-up} {
                display: inline;
                float: right;
            }
            @media #{$small-only} {
                width: 100%;
                text-align: center;
                display: block;
                @include border-radius(0px);
            }
            color: $white;
            font-family: sans-serif;
            font-size: 18px;
            font-weight: bold;
            float: right;
            display: inline;
            background-color: $regalwins--gray;
            height: 36px;
            @include vert-align(36px);
            padding-left: 12px;
            padding-right: 12px;
            min-width: 80px;
        }
        .freespinslink {
            @include button-generate(green, 2);
        }
        a.convertpointsbtn__info {
            color: $white;
        }
        a {
            color: $white;
            text-decoration: underline;
            border-bottom: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
    a {
        display: block;
        width: 100%;
    }
    #button_cashier {
        @include grid-column(5);
        @include button-generate($ctacolor, 12);
        margin-bottom: 12px;
        font-family: $body-font-demi;
        text-transform: uppercase;
    }
    #playoverview {
        @include grid-column(5, $float: right);
        @include button-generate(#208d12, 12);
        font-family: $body-font-demi;
        text-transform: uppercase;
    }
    .convertpointsbtn {
        @include button-generate(palette(green, base), 2);
        margin-bottom: $site-margin;
        display: inline;
        margin-left: 1em;
    }
    .convertpointsbtn__info {
        @include button-generate(palette(grey, base), 2);
        margin-bottom: $site-margin;
        display: inline;
        margin-left: 1em;
        width: 20px;
    }
    .balancesbtn {
        @include button-generate(palette(grey, base), 12);
        margin-top: $site-margin;
        display: block;
        font-family: $body-font-demi;
        text-transform: uppercase;
    }
}

.convertpanel {
    @include grid-column(12);
    position: absolute;
    top: 0;
    left: 0;
    background: #222;
    height: 100%;
    @media #{$small-only} {
        height: 440px;
    }
    z-index: 100;
    padding-top: 1.3125rem;
    padding-bottom: 1.3125rem;
    padding-left: 1.3125rem;
    padding-right: 1.3125rem;
    span {
        margin-bottom: 10px;
        display: block;
    }
    .convertpointsbtn {
        @include button-generate(palette(green, base), 12);
        margin-top: 12px;
        margin-left: 0px !important;
        display: block;
    }
}

#my-account {
    .share-button {
        right: 132px;
    }
}

#myaccount-2,
#myaccount-3 {
    label {
        color: $white;
        margin-bottom: 5px;
    }
    input,
    select {
        padding: 0.4rem 0.5rem 0.6rem 1.5rem;
        color: $white;
        border: 1px solid $white;
        font-size: rem-calc(14px);
        &:focus,
        &:hover {
            border-color: $white;
            background-color: $regalwins--gray-darkest;
        }
        &.error {
            border: 3px solid red;
        }
    }
    input[type="text"]:disabled,
    select:disabled {
        background: $regalwins--gray-darkest;
        border-color: $white;
        color: $white;
        opacity: 0.3;
    }
    li {
        a {
            color: $white;
        }
    }
    span.error {
        display: block;
        width: 100%;
        font-size: $rw-body-small-font-size;
        font-style: normal;
        font-weight: 600;
        color: $registration-3step-input--error;
        position: relative;
        margin: 0;
        padding: 10px 0 15px 0;
        padding-top: 0;
        height: auto;
        border-radius: 2px;
        line-height: 12px;
        min-height: initial !important;
        background: transparent;
    }
}

#playerdetails {
    .myaccount-details__column {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.myaccount-details__column {
    padding-left: 0;
    padding-right: 0;

    h3 {
        color: $white;
        font-size: 1.2em;
    }
    @media #{$small-only} {
        @include grid-column(12);
    }
    @media #{$medium-up} {
        @include grid-column(4);
        float: left;
    }
    button {
        background-color: #67749B;
    }

    .iti-arrow {
        right: 2px !important;
        top: 8px !important;
        border-top-color: $white !important;
    }
    .selected-flag {
        .iti-flag {
            top: 16px !important;
            left: 15px;
        }
    }

    // See top of this page for info & code
    @include checkbox-styles;

    .receive-bonus {
        span {
            a {
                text-decoration: underline;
                color: #fff !important;
                font-weight: bold;
            }
        }
    }
}

.myaccount-limits {
    font-family: $ui-font-semibold;
    label {
        color: $grey;
    }
    padding-top: 20px;
    &__title {
        @include grid-column(2);
        @media #{$small-only} {
            @include grid-column(12);
        }
        @media #{$medium-only} {
            @include grid-column(3);
        }
    }
    &__radiobtn-container {
        @include grid-column(6);
        @media #{$small-only} {
            @include grid-column(12);
        }
        @media #{$medium-only} {
            @include grid-column(9);
        }
        &__radiobtn {
            @include grid-column(4);
            @media #{$small-only} {
                @include grid-column(12);
            }
        }
    }
    &__expandbox {
        @include grid-column(4);
        @media #{$small-only} {
            @include grid-column(12);
        }
        @media #{$medium-only} {
            @include grid-column(12);
        }
    }
    &__details {
        @include grid-column(4);
        @media #{$small-only} {
            @include grid-column(12);
        }
    }
    &__note {
        @include grid-column(12);
    }
}

// .myaccount-details__column {
//     @media #{$small-only} {
//         @include grid-column(12);
//     }
//     @media #{$medium-up} {
//         @include grid-column(4);
//         float: left;
//     }
//     button {
//         background-color: #67749B;
//     }
// }

/*-----  End ofMy Account  ------*/

//*=============================================
//  My account tabbed content
// =============================================================================

.myaccount-details__column {
    .expand {
        background: $regalwins--dodger-blue;
        color: $regalwins--copy-colour;
        font-family: $heading-font-bold;
        text-transform: uppercase;
        @extend %my-account-button;
        @extend %hover-state-colours;
    }
}

// used to overrule without important
#my-account .myaccount-content {
    .tabs a, .tabs .tab-title a {
        opacity: 1;
    }

    .tabs {
        background: none;

        @media #{$small-only} {
            width: 100%;
            display: -webkit-box;        
            display: -ms-flexbox;        
            display: flex;
            padding-bottom: 20px;
        }
   
        @media #{$medium-up} {
            padding-left: 5px;
            width: 100%;
            display: -webkit-box;        
            display: -ms-flexbox;        
            display: flex;
        }
    
        dd {
            margin: 0 0;
            margin-right: 4px;
            display: inline-block;
            width: auto !important;
            padding: 0 !important;
            margin: 0;
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
            display: -webkit-box;        
            display: -ms-flexbox;        
                display: flex;
   
            &.active {
                a {
                    border: none;
                    border-bottom: 3px solid $white;
                    color: $white;
                    font-weight: bold;
                }
                &:hover, &:active, &:focus {
                    background: $regalwins--gray-darkest;
                    font-size: 12px;
                    font-weight: bold;
                    cursor: default;
    
                    @media #{$small-only} {
                        // border: 1px solid $regalwins--gray;
                    }
                }
            }

            a {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-flex: 1;
                -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                        justify-content: center;
                margin: 0 !important;
                padding: 15px 10px;
                font-family: $body-font-regular;
                color: $regalwins--highlight-gold;
                font-size: 12px;
                font-weight: normal;
                text-align: center;
                border-bottom: 3px solid $regalwins--gray-darkest;
                text-align: center !important;
                background: $regalwins--gray-darkest;

                @media #{$large-up} {
                    font-size: $rw-body-font-size;
                }

                &:hover {
                    color: $regalwins--white;

                    @media #{$large-up} {
                        text-decoration: underline;
                    }
                }

            }

        }
    }
    
    .tabs-content {
        @include grid-column(12);
        background-color: $regalwins--gray-darkest;
        padding-bottom: $site-margin;
        margin-top: -1px;
    
        @media #{$small-only} {
            border: none;
            margin-bottom: 0;
        }
    
        @media #{$large-up} {
            padding-left: 0;
            padding-right: 0
        }
    
        .current {
            text-decoration: underline;
        }
    }
}



// my account promotion banners
.myaccount-promotions {
    @media #{$small-only} {
        @include grid-column(12);
    }
    @media #{$medium-up} {
        @include grid-column(6, $float: left);
        padding-left: 18px;
    }
    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
    }
    > .promotion {
        height: auto;
        @include clearfix;
        @media #{$small-only} {
            @include grid-column(12);
            @include clearfix;
            height: auto;
        }
        .promotion__title {
            @include grid-column(12);
            font-size: 1em;
            margin-top: 0px;
            @media #{$medium-only} {
                @include grid-column(12, $collapse: true);
                margin-top: 12px;
            }
            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
                margin-top: 12px;
            }
        }
        .promotion__content {
            @include grid-column(12);
            @include clearfix;
            p {
                font-size: 13px !important;
            }
            @media #{$medium-only} {
                @include grid-column(12, $collapse: true);
            }
            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
            }
        }
        .promotion__image {
            @include grid-column(6);
            @media #{$medium-only} {
                @include grid-column(12, $collapse: true);
            }
            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
            }
        }
        .promotion__content__wrapper {
            @include clearfix;
            @media #{$medium-only} {
                @include grid-column(12, $collapse: true);
                height: auto;
            }
            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
                height: auto;
            }
        }
    }
}

.myaccount-transactions {
    #activity_options {
        border-bottom: 1px solid $regalwins--highlight-gold;
    }

    #details-container p strong {
        font-weight: normal;
        display: block;
        
        &:first-of-type {
            margin-bottom: 5px;
            margin-top: 0.2rem;
        }
    }
}

.myaccount-transactions {
    #details-container #activity_options {
        margin: 0;
        padding-top: 0;
    }

   #details-container {
       //margin-top: 1rem;
       margin: 0.5rem -0.625rem;

        .green-cta {
            display: none;
        }

        .second-tabs {
            border: none;
            padding-top: 0;
            margin-top: 0;

            li {
                margin-top: 0;
                padding: 0 1rem 1rem 0;
            }
        }
    }
}

// Weekly filtering for Game and Banking Activity
.myaccount-transactions {
    .my-net-deposits {
        a.showResults {
            @include regalwins-button-gradient('false', 'green');
            color: $white !important;
            text-transform: none;
        }
    }

    ul li {
        padding: 0 1rem 0.75rem 0;

        a {
            font-size: rem-calc(12px);
        }
    }

    .second-tabs {
        li {
            padding: 0.75rem 1rem 0 0;
            margin-top: 0;
        }
    }

    .myaccount-date-filter {

        p { font-size: $rw-body-font-size; }

        .date-selector_left {
            width: 300px;
            float: left;
            margin-right: 30px;

            @media #{$small-only} {
                width: 100%;
            }
        }

        .date-selector_right {
            width: 300px;
            float: left;
            

            @media #{$small-only} {
                width: 100%;
            }
        }

    }
    
    .info-results {
        background-color: transparent;
        height: 23px;
        border-radius: 5px;

        @media #{$small-only} {
            height: 110px;
        }

        .activity-results {
        width: 100%;

            li {
                float: left;
                width: 30%;
                text-align: left; 
                font-weight: normal;
                font-size: 14px;
                list-style: none;
                color: #fff;

                @media #{$small-only} {
                    width: 100%;
                    padding-top: 10px;
                }

                span {
                    font-weight: bold;
                    padding-left: 10px;
                }
            }

            .banking-net-total {
                float: right;
                width: 30%;

                @media #{$small-only} {
                    float: left;
                    width: 100%;
                }

                @media #{$medium-only} {
                    float: right;
                }
            }

            .banking-totals {
                width: 33%;
                
                @media #{$small-only} {
                    float: left;
                    width: 100%;
                }

            }

        }
    }

    .disclaimer-results {
        height: 100px;
        margin-top: 10px;
        float: left;
        width: 100%;
        font-size: 19px;
        color: #fff;
        font-weight: bold;
    }
    
} 

 .ui-datepicker-calendar {
    thead {
        background: #323232 !important;
    }
 }

  .trusted-partners {
     width: 100%; 
     float: left; 
     margin-top: 20px;

    .checkboxes {
        // See top of this page for info & code
        @include checkbox-styles;
    }


    .info {
        @include grid-column(4, $float: left);
        width:50%;

        @media #{$small-only} {
            width: 100%;
        }

        .edit-point {
            &:last-of-type {
                margin-left:130px;
            }
        }

        h4 {
            margin-bottom: 15px;
            font-size: 18px;
            font-weight: bold;

            @media #{$medium-only} {
                font-size: 16px;
            }

            @media #{$small-only} {
                margin-top: 20px;
            }
        }

        span {
            p {
                font-size: 14px;
                margin-bottom: 10px;
                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }
            
        }
    }

    .checkboxes-list {
        @include grid-column(4, $float: left);
        .indent {
            margin-left: 25px;

            @media #{$small-only} {
                float: none;
            }

            @media #{$medium-only} {
                float: none;
            }
        }
        
         @media #{$small-only} {
            width: 100%;
            margin-top: 0;
        }

          @media #{$medium-only} {
            margin-top: 0;
        }

    }

    .update-personal--details {
        @include grid-column(4, $float: right);

         @media #{$small-only} {
            width: 100%;
        }

        .button {
            @include regalwins-button-gradient('true', 'green');
        }
    }
   
}

.indent {
    margin-left: 25px;

    @media #{$small-only} {
        margin-left: 15px;
    }
}

// Weekly filtering for Game and Banking Activity



.receive-bonus {

    h4 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: bold;

        @media #{$medium-only} {
            font-size: 16px;
        }

    }

    span {
        p {
            font-size: 14px;
            margin-bottom: -15px !important;
        }
    }
    .edit-point {
        &:last-of-type {
            margin-left:130px;
        }
    }
}

.cashier__no-bonus {
    padding-left: 0 !important;
    padding-right: 0 !important;

    @media #{$small-only} {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

#cashier .middle-content__box {
    margin-top: 30px !important;
}

.cashier__section__title .secure-payment-icon {
    top: 5px;
}

.cashier__section .solid-border {
    margin-top: -10px;
}
