.myaccount-transactions {
    .green-cta {
        width: 100px;
        padding: 0.3em;
        margin-bottom: 1em;
    }
    .myaccount-transactions__promotions__item {
        @include grid-row;
        background-color: $black;
        margin-bottom: 0.5em;
        padding: 0.5em;
        .PromoDescription {
            @include grid-column(6);
        }
        .myaccount-transactions__promotions__item__content {
            font-size: 0.8em;
            line-height: 1.2em;
            a {
                @include grid-column(3, $collapse: true);
                text-decoration: underline;
                float: right;
                text-decoration: none;
                display: block;
                &.expandarrow {
                    text-align: right;
                    font-size: 11px;
                }
                &.voidbonus {
                    @include grid-column(3, $collapse: true);
                    max-width: 117px;
                    @extend .red-cta;
                    border-radius: 0px;
                    text-align: center;
                    font-size: 12px;
                    padding: 2px;
                }
            }
        }
        .myaccount-transactions__promotions__item__details {
            font-size: 0.8em;
            margin-top: 30px;
            .panel{
                padding-top: 10px;
                background:$regalwins--gray;
                color:$regalwins--white;
                border:0px;
                @media #{$small-only} {
                    margin-top:3.6em;
                }
            }
        }
    }

    //Net worth deposit BANKING Tab START
    .second-tabs {
        border-top: 1px solid #BEA349;
        color: #fff;
        li {
            margin-top: rem-calc(20px);

            .active {
                text-decoration: underline;
            }
        }
    }

   .my-net-deposits {

        @media #{$small-only} {
            text-align: center;
        }

        p.view-net-deposit {
            margin-top: 35px;
            font-size: 16px;
            font-weight: bold;

            @media #{$small-only} {
                font-size: 14px;
                margin-top: 5px;
                font-weight: normal;
                margin-bottom: 0;

            }

        }

        a.button {
            height: 45px;
            background-color: #BEA349;
            color: #000;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 12px;
            font-size: 15px;

            @media #{$small-only} {
                @include regalwins-button-gradient('true','green');
                display: inline-block;

                @media screen and (max-width: 320px) {
                    // iphone 5 specific
                    padding: 0.9rem 1rem 1.1rem 1rem;
                    font-size: 14px;
                }

            }
        }

        a.btn-reveal__deposit {
            background-color: transparent;
            border: 2px solid #BEA349;
            line-height: 7px;
            font-size: 18px;
            font-weight: bold;
            color: #fff;

            @media #{$small-only} {
                width: 90%;
            }
        }

        .inactiveLink {
           pointer-events: none;
           cursor: default;
        }

        p.my-net-deposit__info {
            font-size: 14px;
            margin-bottom: 1rem;
            line-height: 24px;
        }
   }
   //Net worth deposit BANKING tab END
}
