
  body .hero--terms a {
    line-height: 15px !important;
    display: inline-block;
  }

     .hero {
        display:block;
        background: url('/_images/placeholders/banner-l.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 490px;  
        position: relative;
        background-size: 100%;
        margin-bottom: 20px;
   }
   .hero--html{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin: 0 auto;
   }
   .hero--terms {
        font-size: 12px;
        
     > a{
          color: #fff;
          padding-left: 5px;
          padding-right: 5px;
     }
   }

   @media only screen and (max-width: 64em) and (min-width: 40.0625em) {
        .hero {
          margin-top: 50px;
          min-height: 320px;  
            background: url('/_images/placeholders/banner-m.png');
             background-size: cover;
             background-repeat: no-repeat;
             background-position: center center;
             .slider-text-link {    
                  position: relative;
               top: 40px;
             }
        }
   }
   @media only screen and (max-width: 40em) {
        .hero {
          margin-top: 50px;
          min-height: 180px;
            background: url('/_images/placeholders/banner-s.png');
             background-size: 100% auto;
             background-repeat: no-repeat;
             background-position: center center;
             .slider-text-link{    
                  position: relative;
               top: 50px;
             }
        }
   }