.scroll-icon{
	position:absolute;
	text-align: center;
	width:10%;
	.scroll-icon__img{
		width:100%;
	}
	a{
		color:$white;
		font-size: 1em;
	}
	@media #{$small-only}{
		left:45%;
		top:70%;
	}
	@media #{$medium-up}{
		left:45%;
		top:80%;
	}

	@media #{$xlarge-up}{
		left:45%;
		top:85%;
	}
}