.community {
    .community-detail {
        @include grid-column(12);
        padding-top: $site-margin;
        height: auto;
        .section .section__header {
            // margin-top: $site-margin * 2;
            // margin-bottom: $site-margin;
            margin: 0px;
            margin-top: 0px;
            h1 {
                height: 25px;
                background-color: #2b9d8d;
                background-image: none;
                color: $white;
                font-family: $body-font-bold;
                font-size: 14px;
                margin-top: 0px;
                padding: 3px;
                padding-left: 7px;
            }
        }
        .article__content__date {
            float: right;
        }
        .article__image {
            margin-right: $site-margin;
            margin-bottom: $site-margin;
            @media #{$small-only} {
                width: 100% !important;
                margin-right: 0;
                margin-bottom: 0;
            }
        }
        ._author-block__social-icons {
            width: 100%;
        }
    }
}