#home {
    .promotion {
        @include grid-column(12, $collapse: true);
        height: 100%;
        .promotion__image {
            @include grid-column(12, $collapse: true);
        }
        .promotion__wrapper{
            height:100%;
        }
        .promotion__content__wrapper {
            @include grid-column($columns: 12);
            @media #{$small-only} {
                float: none;
            }
        }
        .promotion__content {
            height: auto;
        }
    }

    .new-games{
        .hub-grid__col-2x{

            @media #{$medium-only}{
                @include grid-column(4,$collapse:true);
            }
        }
    } 
}

.home-promos {
    margin-top: 44px;
}
