.banking-content {
    .text-partial-content {
        padding: $site-margin;

        @media #{$small-only} {
            padding: $site-margin / 2;
        }
    }

    .banking-content__wrap {
        @include grid-column(6);

        width: 48%;
        margin: 1%;
        background: #eae1f1;
        padding: $site-margin;
        border-radius: 4px;

        @media #{$small-only} {
            @include grid-column(12);

            padding: $site-margin;
            margin: 0;
            margin-bottom: $site-margin;
        }

        .banking-content__top {
            @include grid-column(12);

            padding: 0;
            margin-bottom: $site-margin;

            h1 {
                @include grid-column(8);

                margin: 0;
                padding: 0;
                margin-bottom: $site-margin;
                color: $nav-main-color;
                text-transform: none;
            }

            span {
                @include grid-column(4);

                padding: 0;
                float: right;
                max-height: 30px;
                text-align: right;
                position: relative;

                img {
                    &[src*=".svg"] {
                        width: auto;
                        height: 30px;
                        text-align: right;
                    }
                }
            }
        }

        article {
            @include grid-column(12);

            padding: 0;

            ul {
                @include grid-column(12);

                margin: 0;
                padding: $site-margin;

                background: $white;

                li {
                    @include grid-column(12);

                    padding: 0;
                    margin: 4px 0;
                    font-size: 16px;
                    line-height: 1.5em;
                    font-family: $body-font-regular;
                    font-weight: bold;
                    height: 30px;
                    border-bottom: 1px solid #ccc;

                    @media #{$small-only} {
                        font-size: 14px;
                    }

                    .banking-content__article__left {
                        @include grid-column(8);

                        padding: 0;
                    }

                    .banking-content__article__right {
                        @include grid-column(4);

                        padding: 0;
                        float: right;
                        text-align: right;
                        font-weight: normal;
                        height: 30px;

                        img {
                            float: right;
                            height: 20px;
                        }
                    }

                    &:last-child {
                        border-bottom: 0px;
                    }
                }
            }
        }

        p {
            @include grid-column(12);

            padding: 0;
            margin: 0;
            margin-top: $site-margin;
            font-size: 13px;
        }
    }
}