//3 STEP REGISTRATION CUSTOM STYLES

//Label resize and font weight
.registration__title {
	label {
		font-size: 13px !important;
		font-weight: bold;
	}

	button {
		text-transform: uppercase;
	}
}

//Mobile Nav
.registration-3step .content nav {
	background: $aqua-haze !important;
	z-index: 1 !important;

	a {
		background-color: $aqua-haze !important;
	}

	a.active {
		background-color: $aqua-haze !important;
	}
}

//input fix for the country code position
input#ui-phone {
	height: 48px;
}

.intl-tel-input .flag-container {
	padding: 3px;
}

.intl-tel-input .selected-flag .iti-arrow {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid $emperor;
}

.intl-tel-input.separate-dial-code .selected-dial-code {
    font-size: 15px;
}

//Code to Turn Off Number Input Spinners

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0;
} 

//Terms and Conditions and Privacy Policy styling
a.register-3step-tc {
	color: black;
}

#ui-registration-terms-toggle{
    text-decoration: underline;
    cursor: pointer;
    margin-left: $site-margin;
    margin-bottom: $site-margin;
    margin-top: 40px;
    margin-bottom: 20px;
    color: $dustygray;
    text-transform: uppercase;
    font-family: $font-button;
}

.resitration-terms-section{
    @include grid-column(12);
    font-family: $font-copy !important;
}

#ui-registration-terms-display {

	.text-partial h1 {
		font-size: 1rem;
	}

    article {
        max-width: rem-calc(1000px) !important;
        margin: 0 auto !important;
    }
}

//Find address CTA
.registration-3step .findaddress {
	text-transform:uppercase;
	letter-spacing:0.4px;
}

.enter-address-manually {
    width: 170px;
    text-decoration: underline; 
    cursor: pointer;
    color: $black;
}

.registration-3step .findaddress:hover {
	background-color: $yellow-hover;
}

//IE - Hide clear (X) and reveal password default icons
// ::-ms-clear { display: none; }
::-ms-reveal {display: none;}

.registration {
    @mixin placeholder {
        &::-webkit-input-placeholder {
            @content
        }
        &:-moz-placeholder {
            @content
        }
        &::-moz-placeholder {
            @content
        }
        &:-ms-input-placeholder {
            @content
        }
    }

    @media #{$large-up} {
        .main-content {
            &.registration {
                padding-top: 0;
            }
        }
    }

    .header--register3step {
        .nav-for-mobile {
            display: none !important;
        }
        .footer {
            display: none;
        }
    }

    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }

    .registration-3step {
        @include grid-column(12);
        padding: 0;
        z-index: 999999;
        top: 0;
        height: 100%;
        background: $registration-3step-bg--base;
        overflow: hidden;

        .content {
            @include grid-column(12);
            padding: 0;
            background: $white;
            position: relative;
            height: 100%;
            overflow: hidden;
            padding-bottom: $site-margin * 3;
            .banner {
                @include grid-column(12);
                float: none;
                background: transparent !important;
                text-align: center;
                padding: 0;
                margin-top: 110px;
                margin-bottom: 20px;
                @media #{$medium-only} {
                    padding-top: 0;
                }
                @media #{$small-only} {
                    margin-top: 75px;
                }

                .edit-point {
                    z-index: 999;
                    margin-top: -5px;
                }

                img {
                    max-width: 500px;
                    margin-top: 35px;
                    margin-bottom: 0 !important;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                .offer--headline {
                    h2 {
                        margin: 0;
                        line-height: 100%;
                        font-size: rem-calc(20);
                        text-transform: uppercase;
                        @media #{$small-only} {
                            padding-top: 53px;
                        }
                    }
                }
                .offer--terms {
                    p {
                        margin-bottom: 0;
                    }
                }
            }
            .sticky {
                @include transition(all,
                0.2s ease-out);
                &.fixed {
                    position: fixed;
                    top: 48px;
                }
            }

            //Navigation: Personal, Contact and Account
            nav {
                @include grid-column(12);
                padding: 0;
                background: transparent !important;
                position: relative !important;
                margin-bottom: 15px;
                padding-top: 8px;
                z-index: 999;

                    @media #{$large-up} {
                        position: relative;
                        z-index: 2;
                    }

                .naviaton-inner {
                    max-width: 350px;
                    margin-left: auto;
                    margin-right: auto;
                }

                a { //Steps icons - Personal/Contact/Account
                    @include grid-column(4);
                    font-family: Helvetica, Arial, sans-serif;
                    color: $silver-chalice;
                    font-size: 14px;
                    height: 50px;
                    line-height: rem-calc(35);
                    padding: 0;
                    text-align: center;
                    display: inline;
                    position: relative;
                    background-color: transparent !important;
                    padding-top: 20px;

                    span {
                        font-family: Helvetica, Arial, sans-serif;
                        color: $silver-chalice;
                        font-size: 14px;
                    }

                    .dotted_line{
                        border-top: dotted 4px $silver-chalice;
                        position:absolute;
                        width: 40%;
                        top: 20px;
                        right: -25px;

                        @media #{$small-only} {
                            right: -23px;
                        }
                    }
                
                    &:nth-child(1) {
                        background-image: url("../_images/join-now/personal.svg");
                        background-size: 38px;
                        background-repeat: no-repeat;
                        background-position: center top;
                        padding-top: 40px;
                        padding-right: 0;

                        &.active {
                            background-color: $bg-color;
                            background-image: url("../_images/join-now/active-personal.svg");
                            background-size: 38px;
                            background-repeat: no-repeat;
                            background-position: center top;

                            span {
                                color: $black;
                                font-weight: bold;
                            }
                        }
                      
                    }
                    &:nth-child(2) {
                        background-image: url("../_images/join-now/contact.svg");
                        background-size: 38px;
                        background-repeat: no-repeat;
                        background-position: center top;
                        padding-top: 40px;
                        padding-right: 0;

                         &.active {
                            background-color: $bg-color;
                            background-image: url("../_images/join-now/active-contact.svg");
                            background-size: 38px;
                            background-repeat: no-repeat;
                            background-position: center top;

                            span {
                                color: $black;
                                font-weight: bold;
                            }
                        }
                    }
                    &:nth-child(3) {
                        background-image: url("../_images/join-now/account.svg");
                        background-size: 38px;
                        background-repeat: no-repeat;
                        background-position: center top;
                        padding-top: 40px;
                        padding-right: 0;

                         &.active {
                            background-color: $bg-color;
                            background-image: url("../_images/join-now/active-account.svg");
                            background-size: 38px;
                            background-repeat: no-repeat;
                            background-position: center top;

                            span {
                                color: $black;
                                font-weight: bold;
                            }
                        }
                    }

                   &.passed {
                        background-color: $bg-color;
                        background-image: url("../_images/join-now/passed.svg");
                        background-size: 38px;
                        background-repeat: no-repeat;
                        background-position: center top;

                        span {
                            color: $lima;
                        }

                        .dotted_line{
                            border-top: dotted 4px $lima;
                            position:absolute;
                            width: 40%;
                            top: 20px;
                            right: -25px;

                            @media #{$small-only} {
                                right: -23px;
                            }
                        }
                    }
                    &.current {
                        background-repeat: no-repeat;
                        background-position: center top;

                        span {
                            color: $silver-chalice;
                        }
                    }
                }
            } // END Steps icons - Personal/Contact/Account

            .form {
                @include grid-column(12);
                padding: 0;
            }
        }

        .registration-3step-form {
            @include grid-column(12);
            float: none;
            padding: $site-margin;
            padding-top: 0.275rem;
            //font-family: $registration-3step-font-regular;
            margin: 0 auto;
            max-width: 350px;

            @media #{$small-only} {
                margin-top: 70px;
            }

            @media #{$medium-only} {
                margin-top: 70px;
            }

            .registration-3step__mandatory-fields {
                margin-top: $site-margin;
                margin-bottom: 0;
                font-size: 11px;
                font-weight: 600;
                text-align: right;
                top: 1em;
                position: relative;
            }
            span.error,
            small.error {
                display: block;
                width: 100%;
                font-size: rem-calc(13px);
                font-style: normal;
                font-weight: 600;
                color: $registration-3step-input--error;
                position: relative;
                clear: right;
                float: left;
                margin: 0;
                margin-top: 10px;
                margin-bottom: 0px;
                padding: 4px;
                height: auto;
                border-radius: 2px;
                line-height: 12px;
                min-height: initial !important;
                background: transparent;
            }
            input,
            select {
                border: 1px solid $registration-3step-input--border;
                box-shadow: none;
                min-height: 48px;
                margin: 0 0 0.475rem 0;
                padding: 0 10px;
                font-size: 15px;
                background: $registration-3step-bg--base;
                color: $registration-3step-input--content;
                border-radius: 6px;
                &.phone {
                    @include grid-column(12);
                }

                @media #{$small-only} {
                    font-size: 14px;
                }
            }
            input {
                min-height: 25px !important;
            }
            select {
                background: $registration-3step-bg--base url("../_global-library/images/registration-3step/arrow-down.svg") no-repeat center right 10px;
                color: $my-offline-casino;
                font-size: 15px;
            }
            label {
                color: $registration-3step-input--label;
                font-family: Helvetica;
                margin-bottom: 2px;
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 25px;
                float: left;
                background-color: transparent;
                input {
                    min-height: auto;
                }
            }
        }
        .field-wrap {
            @include grid-column(12,
            $collapse: true);
            position: relative;
            background: transparent;
            height: auto;
            margin-bottom: 8px;
            .field-wrap__label {
                @include grid-column(12);
                padding-left: 0rem;
                font-size: 17px;
                color: $registration-3step-input--label;
                line-height: 25px;
            }
            .field-wrap__requirements {
                font-size: 12px;
                color: $black;
                margin: 0px;
                padding: 0px;
            }
            .field-wrap__field {
                @include grid-column(12);
                height: 44px;
                padding-left: 0.4375rem;
                padding-right: 0.4375rem;
                margin: 0;
                border-radius: 2px;
            }
            #icon {
                display: none;
            }
            .telephone-icon {
                margin-top: -30px;
            }
            .border-green-icon {
                display: block!important;
                background-color: transparent;
                color: $registration-3step-tick-border;
                height: 57px;
                position: absolute;
                width: 21px;
                z-index: 1;
                right: -10px;
            }
            .border-red-icon {
                display: block !important;
                background-size: 21px 21px;
                color: $registration-3step-tick-border;
                height: 57px;
                position: absolute;
                width: 21px;
                z-index: 1;
                right: -10px;
            }
            .border-green {
                border: 3px solid $registration-3step-input--success;
            }
            .border-red {
                border: 3px solid $registration-3step-input--error;
            }
            .intl-tel-input {
                @include grid-column(12);
                padding: 0;
                .selected-flag {
                    top: 25px;
                }
            }
        }
        .date {
            height: 44px;
            margin: 0;
            padding: 0;
            input {
                @include grid-column(3);
                width: 33.33%;
                margin: 0px;
                padding: 0;
                text-align: center;
                border-radius: 0px;

                &#dayOfBirth {
                    border-radius: 0px;
                    border-right: 1px solid $registration-3step-date-border;
                    border-radius: 2px 0px 0px 2px;
                    @include placeholder {
                        color: $dove-gray !important;
                        font-family: $registration-3step-font-regular;
                    }
                }
                &#monthOfBirth {
                    border-radius: 0px;
                    @include placeholder {
                        color: $dove-gray !important;
                        font-family: $registration-3step-font-regular;
                    }
                }
                &#yearOfBirth {
                    border-radius: 0px;
                    border-left: 1px solid $registration-3step-date-border;
                    border-radius: 0px 2px 2px 0px;
                    @include placeholder {
                        color: $dove-gray !important;
                        font-family: $registration-3step-font-regular;
                    }
                }
            }
            span {
                float: left;
                position: relative;
                min-height: 44px;
                line-height: 2.8;
            }
        }
        .post-code {
            @include grid-column(6);
            padding: 0;
        }
        .findaddress {
            z-index: 1;
            display: block;
            position: absolute;
            right: 6px;
            background: $yellow;
            color: $black;
            border: none;
            font-family: oswald_regularregular,Helvetica,Arial,Verdana,sans-serif;
            font-size: 15px;
            line-height: 26px;
            border-radius: 50px;
            margin-top: 50px;
            font-weight: bold;
            width: 135px;
            height: 35px;

            @media #{$small-only} {
                width: 115px;
            }
            &.active {
                z-index: 1;
            }
        }
        ul.registration__title {
            @include grid-column(12);
            padding: 0;
            margin-bottom: 0.375rem;
            margin-left: 0;
            li {
                display: inline;
                float: left;
                width: 44px;
                margin-right: 2.5%;
                background: $registration-3step-bg--main;
                border-radius: 50%;
                border: 2px solid $registration-3step-button--bg;
                &.ticked {
                    background: $registration-3step-button--bg;
                    outline:none;
                    button {
                        color: $registration-3step-button-color--selected;
                        border-radius: 50%;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
                button {
                    padding: 0;
                    background: none !important;
                    text-align: center;
                    width: 100%;
                    line-height: 2.7;
                    font-size: 15px;
                    font-weight: bold;
                    margin: 0;
                    color: $registration-3step-button-color;
                    font-family: $registration-3step-font-light;
                    &:focus {
                        outline:none;
                    }
                }
            }
        }
        .registration__password {
            position: relative;
            .show-password {
                position: absolute;
                text-transform: uppercase;
                top: 66px;
                right: 0;
                font-size: 9px;
                font-weight: 600;
                padding: 2px;
                padding-bottom: 0;
                padding-top: 0;
                border-radius: 8px;
                color: transparent;
                min-width: 32px;
                text-align: center;
                &.eye-shut {
                    z-index: 1;
                    background: url("../_global-library/images/registration-3step/password-hide.svg") no-repeat center;
                    width:65px;
                }
                &.eye-open {
                    z-index: 1;
                    background: url("../_global-library/images/registration-3step/password-visible.svg") no-repeat center;
                    width:65px;
                }

                .right {
                    display: none;
                }
            }
        }

    ul.mailing-opt {

        @include grid-column(12);
        margin: 0;
        padding: 0;
        list-style-type: none;
        p {
            color: $registration-3step-input--label;
            font-size: 13px;
            margin-bottom: 15px;
            line-height: 15px;
            float: left;
        }
        label {
            width: 100%;
            min-height: 35px;
            margin-bottom: $site-margin / 3;
            color: $black;
            line-height: 1.5em;
            height: 44px;
            padding: 10px 12px 0 50px;
            background: $registration-3step-bg--base url("../_images/join-now/dark-off.svg") no-repeat center left 10px;
            background-color: transparent;
            background-size: 30px 30px !important;
            border-radius: 6px;
            display: inline;
            height: 44px;
            float: left;
            margin-right: 5px;
            font-size: rem-calc(13);
            &.ticked {
                background: $registration-3step-bg--base url("../_images/join-now/dark-on.svg") no-repeat center left 10px;
                background-color: transparent;
            }
            input {
                padding: 0;
                margin: 0;
                display: none;
            }
        }
        .terms-over18 {
            width: 100%;
        }
    }

    //Preferences - Communication and data
    .communication-channel {

        .preference-support-text {
            font-size: 12px;
            margin-top: 10px;
        }

        .preferences-title {
            color: black;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 17px;
            font-weight: bold;
            line-height: 25px;
            margin-top: 30px;
            margin-bottom: 15px;
        }
        .communications {
            color: black;
            font-size: 17px;
        }

        .text-partial {
            background-color: transparent;
            border: none;
            padding-left: 0;
            margin-top: 15px;

           h1 {
            display: none;
           }

           p {
            color: $black;
            font-size: 15px !important;
            line-height: 24px;
                a {
                    color: $black;
                    text-decoration: underline;
                    font-size: 15px !important;
                    font-weight: bold;
                }
           }

           .text-partial-content {
                @media #{$small-only} {
                    padding: 0;
                }
           }

        }
    }

        ul.mailing-opt-aspers {

        @include grid-column(12);
        margin: 0;
        padding: 0;
        list-style-type: none;
        p {
            color: $registration-3step-input--label;
            font-size: 13px;
            margin-bottom: 5px;
            line-height: 15px;
            float: left;
        }
        label {
            width: 100%;
            min-height: 35px;
            margin-bottom: $site-margin / 3;
            color: $black;
            line-height: 1.5em;
            height: 44px;
            padding: 10px 12px 0 50px;
            background: $registration-3step-bg--base url("../_images/join-now/dark-off.svg") no-repeat center left 10px;
            background-color: transparent;
            background-size: 30px 30px !important;
            border-radius: 6px;
            display: inline;
            height: 44px;
            float: left;
            margin-right: 5px;
            font-size: rem-calc(13);
            &.ticked {
                background: $registration-3step-bg--base url("../_images/join-now/dark-on.svg") no-repeat center left 10px;
                background-color: transparent;
            }
            input {
                padding: 0;
                margin: 0;
                display: none;
            }
        }
        .terms-over18 {
            width: 100%;
        }
    }

    .field-support-text {
        margin-top: 50px;
        margin-bottom: 0 !important;
        color: black;
        font-size: 14px;
    }

    //Trusted Partners
    ul.trusted-partners {
        padding-top: 15px;
            .data {
                color: black;
                font-size: 17px;
            }
            .text-partial {
                background-color: transparent;
                border: none;
                padding-left: 0 !important;
                padding-bottom: 0;
                padding-right: 0;
                margin-top: 15px;

                h1 {
                    display: none;
                }

               p {
                color: $black;
                font-size: 15px !important;
                line-height: 24px;
                    a {
                        color: $black;
                        text-decoration: underline;
                        font-size: 15px !important;
                        font-weight: bold;
                    }
               }

            }

        .trusted-partners--check {
            padding-left: 20px;
        }
    }

.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
    margin: 20px 0 0 0;

    &:first-child {
        margin-top: 0;
    }

    a {
    color: $linkgrey;
    }
}

.centered {
  width: 300px;
  margin: auto;
}

.title {
  text-align: center;
  color: rgb(69, 113, 236);
}

.register-3step-cta,
.registerNextCta {
    @include grid-column(12);
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: oswald_regularregular,Helvetica,Arial,Verdana,sans-serif;
    background: $yellow;
    color: $black;
    font-size: 18px;
    line-height: 2.4;
    min-height: 44px;
    text-transform: uppercase;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 2px 0 0 $yellow;
    text-decoration: none;

        &:hover {
            text-decoration: none;
        }

        &.create-account-cta {
            background-color: $yellow;
            color: $black;
        }
    }

    // Error message: Please resolve the above errors before continuing.
    .step-contains-error {
        width: 100%;
        float: left;
        text-align:center; 
        margin-top: 10px;
        font-family: "fira_sansregular", Helvetica, Arial, Verdana, sans-serif; 
        font-size: 13px;
        font-weight: 600;
        color: #FB5368;

        @media #{$small-only} {
            font-size: 12px;
        }

    }

    .step-previous {
        @include grid-column(12);
        padding: 0;
        font-family: oswald_regularregular,Helvetica,Arial,Verdana,sans-serif;
        color: $white;
        font-size: 18px;
        line-height: 2.4;
        min-height: 44px;
        text-transform: uppercase;
        margin-top: 1rem;
        border: 1px solid rgba(127,127,127,0.5);
        border-radius: 50px;
        text-align: center;
        text-decoration: none;

        a {
            font-size: 18px;
            color: $black;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
    .register-3step-tc {
        font-size: 13px;
        padding: 0;
        text-decoration: underline;
        font-family: $registration-3step-font-regular;
        color: $black;
        letter-spacing: -0.41px;
        font-weight: normal;
    }
    .terms-section {
        @include grid-column(12);
        .terms-toggle {
            cursor: pointer;
            text-decoration: underline;
            color: $registration-3step-terms;
            font-size: 11px;
            text-align: center;
            font-weight: 600;
            margin-bottom: $site-margin * 3;
        }
    }
}

.resitration-terms-section {
    div:first-child {
        text-align: center;
        margin: 1% 0 1% 0;
        font-size: rem-calc(12px);
    }
}

.radio-selection {
    label {
        margin-right: 15px;
        line-height: 32px;

       @media #{$small-only} {
        font-size: 16px;
        margin-right: 5px;
      }
    }

    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent !important;
        border-radius: 100% !important;
        border: 2px solid $black !important;
        display: inline-block;
        min-width: 25px !important;
        min-height: 25px !important;
        transition: 0.2s all linear;
        outline: none;
        margin-right: 5px;
        position: relative;
        top: 14px;

        &:checked {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: $black !important;
                border-radius: 100% !important;
                border: 2px solid $black !important;
                display: inline-block;
                min-width: 25px !important;
                min-height: 25px !important;
                transition: 0.2s all linear;
                outline: none;
                //margin-right: 5px;
                position: relative;
                top: 14px;
        }
    }
}

.join-now-terms-section {
    @include grid-column(12);
    margin-top: 40px;

    .terms__section-tabs {
        max-width: 350px;
        margin: 0 auto;
        margin-bottom: 30px !important;
        text-align: center;
        float: none;
        cursor: pointer;

        .terms__tabs-tcs {
            width: 50%;
            float: left;
            background-color: transparent;
            border-bottom: 1px solid $amethyst-smoke;

                &:focus {
                    border-bottom: 2px solid $white;
                }

                &:active {
                    border-bottom: 2px solid $white;
                }

            @media #{$small-only} {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .terms__tabs-policy {
            width: 50%;
            float: left;
            background-color: transparent;
            border-bottom: 1px solid $amethyst-smoke;

                &:focus {
                    border-bottom: 2px solid $white;
                }

                &:active {
                    border-bottom: 2px solid $white;
                }

            @media #{$small-only} {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .terms-content {
        width: 62.5rem;
        margin: 0 auto;

        //Edit Point position
        .edit-point {
            @media #{$medium-only} {
                margin-top: 20px;
                margin-left: 15px;
            }

            @media #{$small-only} {
                margin-top: 20px;
            }
        }

        @media #{$medium-only} {
            width: 100%;
        }

        @media #{$small-only} {
            width: 100%;
        }

        .text-partial {
            width: 62.5rem;
            margin: 0 auto;
            background: transparent;
            color: $black;
            border: none;

            h1 {
                display: none;
            }

            @media #{$medium-only} {
                width: 100%;
            }

            @media #{$small-only} {
                width: 100%;
            }
        }
    }

}

.tabs dd > a {
    background-color: transparent;
    color: $black;
    font-size: 14px;

    @media #{$small-only} {
        padding: 1rem 1rem;
    }

    &:hover {
        text-decoration: none;
    }
}

.tabs dd.active > a {
    background-color: transparent;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: $black;
    border-bottom: 2px solid $black;
}

    .back-to-top {
        width: 100%;
        margin: 0 auto;
        float: left;

        #myBtn {

            width: 180px;
            margin: 0 auto;
            margin-top: 60px;
            margin-bottom: 20px;
            border-radius: 50px;
            font-family:  "oswald_regularregular", Helvetica, Arial, Verdana, sans-serif;
            text-transform: uppercase;
            color: $black;
            outline: none;
        }
    }
}

.data-aspers {
    ul.mailing-opt-aspers {
        @include grid-column(12);
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            list-style: none;
        }
    }

    .radio-selection {
        label {
            font-size: 13px !important;
        }
    }

    .text-partial-content {
        @media #{$small-only} {
            padding: 0;
        }
    }

    .preference-support-text {
            color: $black;
            font-size: 12px;
    }

    .data-checkbox {

        li {
             list-style: none;
        }
        
        label {
            width: 100%;
            min-height: 35px;
            margin-bottom: $site-margin / 3;
            color: $black;
            line-height: 1.5em;
            height: 44px;
            padding: 10px 12px 0 50px;
            background: $registration-3step-bg--base url("../_images/join-now/dark-off.svg") no-repeat center left 10px;
            background-color: transparent;
            background-size: 30px 30px !important;
            border-radius: 6px;
            display: inline;
            height: 44px;
            float: left;
            margin-right: 5px;
            font-size: rem-calc(13) !important;
                &.ticked {
                        background: $registration-3step-bg--base url("../_images/join-now/dark-on.svg") no-repeat center left 10px;
                        background-color: transparent;
                }
                input {
                    padding: 0;
                    margin: 0;
                    display: none;
                }
        }

        .preference-support-text {
            color: $black;
            font-size: 12px;
        }
    }
}

//Stylind picked up from the join-now.scss file before deleting it
#join-now {

    @mixin placeholder {
        &::-webkit-input-placeholder {
            @content
        }
        &:-moz-placeholder {
            @content
        }
        &::-moz-placeholder {
            @content
        }
        &:-ms-input-placeholder {
            @content
        }
    }

    @media #{$large-up} {
        .main-content {
            &.registration {
                padding-top: 0;
            }
        }
    }
    
    //Options edit point
    .editor-buttons .options-menu {
        margin-top: 120px;
    }

    //Input background colour
    input {
        /* WebKit browsers */
        &:focus::-webkit-input-placeholder { color:transparent; }

        /* Mozilla Firefox 4 to 18 */
        &:focus:-moz-placeholder { color:transparent; }

        /* Mozilla Firefox 19+ */
        &:focus::-moz-placeholder { color:transparent; }

        /* Internet Explorer 10+ */
        &:focus:-ms-input-placeholder { color:transparent; }
    }
    
    //Country dial field
    .iti-mobile {
        .intl-tel-input {
            z-index: 0;
            &.iti-container {
                z-index: 999;
            }
        }
    }

    .intl-tel-input.separate-dial-code .selected-flag {
        background-color: $white;
    }

    .intl-tel-input.separate-dial-code.allow-dropdown .selected-flag {
        padding: 5px !important;
        min-height: 42px;
    }

    .intl-tel-input.separate-dial-code.allow-dropdown .phone {
        padding-left: 95px !important;
    }

    .intl-tel-input .country-list {
        top: 1px !important;
        margin: 0 0 0 0px !important;
    }

    .intl-tel-input .flag-container {
        padding: 3px !important;
    }

    .selected-flag {
        background-color: transparent !important;
        outline: 0;
        top: -3px;
    }

    .selected-dial-code {
        color: $black !important;
    }

    .country-list {
        color: $black !important;
    }
    

    //Terms and Conditions and Privacy policy specific styling
    .text-partial-content {
        font-size: 14px;

        li {
            font-size: 14px;
        }
    }
    
    .terms-content {
        .text-partial-content {
            font-size: 14px;

            @media #{$small-only} {
                padding: 0;
            }

            li {
                font-size: 14px;
            }
        }
    }

    .policy-content {

        .text-partial-content {
            font-size: 14px;

            p {
                font-size: 14px;
            }
        }

    }

    .footer-bar {
	    position: absolute !important;
	    bottom: 0;
	    width: 100%;
	    height: 100px;
	    padding: 14px;
	    padding-top: 5px;
	    background: #fff;
	    line-height: 2;
	    text-align: center;
	    color: $green-vogue;
	    font-size: 30px;
	    font-family: sans-serif;
	    font-weight: bold;
	    box-shadow: 0 0 5px $concrete;

	    @media #{$large-up} {
	        width: 98.5%;
	    }

     	a {
	        background-color: $registration-3step-cta;
	        color: $black;
	        font-size: 14px;
	        padding: 20px;
	        border-radius: 50px;

	        @media #{$small-only} {
	            font-size: 12px;
	        }
    	}
	}

	.modal-content {
	    background: $white;
	    padding: 20px;
	    color: $prussian-blue;
	    font-family: sans-serif;
	    font-weight: bold;
	    font-size: 14px;
	    line-height: 1.8;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    overflow-y: auto;

        p {
            font-size: 14px;

            @media #{$small-only} {
                padding: 0;
            }
    	}

    }

	.reveal-modal {
        border: none;
        box-shadow: none;
        padding: 0;

        .text-partial {
            border: none;
            background-color: $white;
            padding-bottom: 70px;

            h1 {
                border-bottom: none;
                font-size: 20px;

                @media #{$small-only} {
                    padding-left: 20px;
                    margin-top: 20px;
                }
            }

            li {
                font-weight: normal;
            }
        }

        .close-reveal-modal {
            color: $black;
            font-weight: normal;

            &:hover {
                text-decoration: none;
            }
        }
    }

//Back to Top CTA 
    .back-to-top {
        width: 100%;
        margin: 0 auto;
        float: left;

        #myBtn {
            width: 140px;
            margin: 0 auto;
            margin-top: 60px;
            margin-bottom: 20px;
            border-radius: 50px;
            font-size: 14px;
            text-transform: uppercase;
            background: $yellow;
            color: $black;
            outline: none;
        }
    }

//Communication Preferences 
	.communication-channel,
	.trusted-partners {
	    p {
	        font-size: 12px;
	    }
	}

} 