@media #{$large-up} {
    .main-content {
        &.registration {
            padding-top: 0;
        }
    }
}

.header--register3step {
    .nav-for-mobile {
        display: none !important;
    }
    .footer {
        display: none;
    }
}

.registration-3step {
    @include grid-column(12);
    padding: 0;
    z-index: 999999;
    top: 0;
    height: 100%;
    background: $registration-3step-bg--base;
    overflow: hidden;

    nav {
        @media #{$small-only} {
            top: 65px;
        }

        @media #{$medium-only} {
            top: 65px;
        }
    }
}

//Registration Header
   .header-register {
        @include grid-column(12);
        background: $black;
        padding: 0;
        top: 0;
        height: 70px;
        text-align: center;
        display: block !important;
        z-index: 2;
        position: fixed;

        @media #{$large-up} {
            height: 80px;
        }
        
        .wrapper {
            @media #{$large-up} {
                position: relative;
                width: 33.5rem;
                margin: 0 auto;
            }

            @media #{$medium-only} {
                position: relative;
                width: 33.5rem;
                margin: 0 auto;
            }
          
            h1 {
                display: inline-block;
                color: $white;
                line-height: 2.8;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: normal;
                font-family: $font-header2;
                padding-top: 5px;

                @media #{$large-up} {
                    font-size: 22px;
                    padding-top: 6px;
                }
            }
            .register-logo {
                background: url("/_images/registration-3step/new/aspers-online-casino-logo.svg") no-repeat center center;
                position: absolute;
                left: 15px;
                top: 6px;
                width: 45px;
                height: 55px;
                cursor: pointer;

                @media #{$large-up} {
                    width: 65px;
                    height: 60px;
                    top: 8px;
                }
            }

            .register-login-cta {
                display: inline-block;
                position: absolute;
                top: 24px;
                right: 20px;
                font-family: "oswald_regularregular" ,Helvetica,Arial,Verdana,sans-serif;
                font-size: 18px;
                text-transform: uppercase;

                @media #{$large-up} {
                    top: 26px;
                }
            }
        }
    }

//Registration navigation 
.registration-3step .content nav {
    padding-top: 0 !important;
        
    @media #{$small-only} {
        padding-top: 8px !important;
    }

    @media #{$medium-only} {
        padding-top: 8px !important;
    }


    a {
    font-family: $font-header3 !important;
    }
}

#join-now {
    .registration-3step .content nav {
    padding-top: 25px !important;
        
    @media #{$small-only} {
        padding-top: 8px !important;
        margin-top: -60px;
    }

    @media #{$medium-only} {
        padding-top: 8px !important;
        margin-top: -60px;
    }


        a {
        font-family: $font-header3 !important;
        }
    }
}

//Registration Banner
.registration-3step .content .banner img {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: -5px !important;
}

#join-now {
    .registration-3step .content .banner img {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-top: -5px !important;
    }
}