/**
*   Parts of styling taken from _games-filter-menu.css
*/

.filter-tabs {
    &__heading {
        display: table;
        table-layout: fixed;
        margin: 0;
        width: 100%;
        border-top: 1px solid rgb(235, 232, 236);
        padding-top: 3px;

        &__item {
            display: table-cell;
            height: 44px;
            @include vert-align(44px);
            margin: 0;
            border-left: 3px solid #fff;
            text-align: center;
            background-color: #E8E8E8;
            font-family: $body-font-bold;
            color: $global-link-color;

            &:last-child {
                border-right: 3px solid #fff;
            }

            &.active {
                background-image: none;
                background-color: $white;

                .filter-tabs__heading__link {
                    color: $nav-main-color !important;
                }
            }
        }

        .filter-tabs__heading__link {
            font-family: $body-font-bold !important;
            font-size: 0.9em;
            color: $global-link-color;
        }

        &__link {
            padding-left: 0 !important;
            text-shadow: none;
            text-decoration: none;

            &:hover,
            &:active {
                color: $white;
                text-decoration: none;
            }
        }
    }

  &__content {
    padding: 5px 0;

    &__item {
      display: none;

        ul {
            margin: 0;
            padding: 0;

            li {
                float: left;
                width: 33.3333333333%;
                margin: 0 0 10px 0;
                padding: 0 0.3125rem;
            }

            a {
                font-size: 0.81em;
                padding: 0 !important;
            }
      }

      &.active {
        display: block;
      }
    }
  }
}

/* Override */
.filter-tabs .filter-tabs__content__link {
    background-color: #0F79D5 !important;
    background-image: none !important;
    box-shadow: none !important;
    border-radius: 6px !important;
    text-align: center !important;
    height: 50px !important;
    display: block;
    position: relative;

    span {
        display: block;
        color: #FFF !important;
        font-family: "todayshop-bold", Helvetica, Arial, sans-serif;
        line-height: 1.3;
        text-transform: uppercase !important;
        width: 100%;
        position: absolute;
        top: 47%;
        transform: translateY(-50%);
    }
}