.games-list {
    font-size: 1rem;

    // margin-bottom: 24px !important;
    background-color: $white;

    .section__header {
        margin-left: 7px;
        margin-right: 7px;
    }

    .section__title {
        padding: 0;
        margin-bottom: 0px !important;
        width: auto !important;
    }

    margin-bottom: 0px;
    padding-bottom: 0px !important;

    .games-list__filter {
        float: left;

        @media #{$small-only} {
            @include grid-column(8);

            // padding: 0px;
        }

        @media #{$medium-up} {
            @include grid-column(4);

            padding: 0px;
        }

        .games-list__filter__button {
            @include button($button-med, $primary-color, false, true, false, false);

            @include dropdown-button;
        }

        .button {
            font-size: 0.8em;
        }
    }

    .games-list__search {
        float: left;

        @media #{$small-only} {
            display: none;
        }

        @media #{$medium-up} {
            @include grid-column(6);
        }
    }

    .games-list__search-wrapper {
        float: left;

        @include grid-column(12);
    }

    .games-list__search-wrapper__left {
        float: left;

        @include grid-column(8);
    }

    .games-list__search-wrapper__right {
        float: left;

        @include grid-column(4);

        > span {
            @include button($button-med, $grey, $global-radius, false, false, false);
        }
    }

    .games-list__display-mode {
        float: left;

        @media #{$small-only} {
            padding-right: 0px;

            @include grid-column(4);
        }

        @media #{$medium-up} {
            @include grid-column(2);
        }

        > div {
            float: left;

            @include grid-column(6);

            padding: 0px;

            > a {
                @include button($button-med, $brand-color, false, true, false, false);
            }
        }
    }

    .games-list__grid {
        @include grid-column(12, $collapse: true);

        padding: 10px;
        border-radius: 4px;
        margin: 0;

        @media #{$small-only} {
            padding: 5px;
        }

        table.responsive {
            margin: 0;
            background: $white;

            tr {
                @include transition(all, 0.2s ease-out);

                border-bottom: 1px solid #E6F1FB;

                &:hover {
                    background: #E6F1FB;
                }
            }
        }

        .cta-play {
            font-family: $body-font-bold !important;
        }

        .cta-more-info {
            color: $global-link-color;
            text-decoration: underline;
        }
    }

    .games-list__grid__child {
        padding: 7px !important;

        @media #{$small-only} {
            @include grid-column(6, $collapse: true);
        }

        @media #{$medium-only} {
            @include grid-column(3, $collapse: true);
        }

        @media #{$large-up} {
            @include grid-column(2, $collapse: true);
        }
    }

    .games-list__popular-games {
        .slick-slide {
            padding: 0.5em !important;
        }
    }
}

.home-games {
    padding-bottom: 14px !important;
    margin-bottom: 34px;
}


.section {
    .games-list {
        .section__title {
            width: 100% !important;
        }
    }

    &__action {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;

        &__item {
            float: left;
            margin-right: 6px;
        }

        &__viewall {
            display: block;
            font-size: 0.95rem;
            margin: 0;
            margin-right: 5px;
            text-transform: initial;
        }

        &__toggle {
            display: block;
            width: 20px;
            height: 20px;
            margin-top: 2px;
            opacity: 0.5;
            cursor: pointer;

            svg {
                fill: $global-link-color;
            }

            &.toggle-grid-view {
                width: 16px;
                height: 16px;
                margin-top: 4px;
            }

            &:hover {
                opacity: 0.8;
            }

            &.active {
                opacity: 1;
                cursor: default;
            }

            @media #{$small-only} {
                display: none;
            }
        }
    }
}


@media screen and (min-width: 641px) {
    .section {
        &__action {
            &__item {
                margin-right: 12px;
            }
        }
    }
}


@media screen and (min-width: 1024px) {
    .section {
        &__action {
            &__viewall {
                font-size: 0.95rem;
            }
        }
    }
}