.games-menu {
    @include grid-column(12);
    position: relative;
    z-index: 30;
    padding: 0px;
    margin-bottom: $site-margin;
    @media #{$medium-only} {
        margin-bottom: 0px;
        top: 0px;
    }
    @media #{$small-only} {
        margin-bottom: 0px;
        top: 0px;
    }
    .games-filter-menu__popover {
        margin-top: 42px;
        @media #{$small-only} {
            margin-top: 35px;
            margin-left: -173px;
        }
    }
    .games-menu__container {
        @include grid-column(12);
        padding: 0em;
        //        padding-left: 3px;
        position: relative;
        .games-menu__games-nav {
            @include grid-row;
            @include list-inline;
            margin: 0 auto;
            height: 50px;
            width: 100%;
            position: relative;
            padding-top: 8px;
            padding-left: 8px;
            background-color: #e9dded;
            border-radius: 4px;
            background-image: linear-gradient(0deg, #E9DDED 2%, #FFFFFF 100%);
            li {
                border: none;
                text-align: center;
                margin-right: 10px;
                font-family: $title1-font;
                font-size: 1em;
                list-style: none;
                &.quicklinks {
                    font-family: $body-font-bold;
                    font-weight: normal;
                    margin-left: 0px;
                    width: 10%;
                    border-left: none;
                    background: none;
                }
                &.games-filter-menu {
                    float: left;
                    position: relative;
                    @media #{$small-only} {
                        float: right;
                    }
                }
                a {
                    @include CTA-button(0px, 14px, 4px, #4BA4F0, #2082D8, #0E60A8, #0E4372, #8BC5F7);
                    padding: 5px 10px;
                    color: $white;
                    text-shadow: none;
                    &.active {
                        color: $nav-active-color;
                        background: $nav-active-bg-color;
                        box-shadow: inset 0px 1px 2px 0px rgba(169, 169, 169, 0.5);
                    }
                }
                img {
                    padding-right: 5px;
                }
            }
            .games-menu__games-nav__search {
                @include hide-for-small-only;
                @include hide-for-medium-only;
                width: auto !important;
                float: right;
            }
            @media #{$medium-only} {
                background-image: none;
                background-color: #8F86D9;
            }
            @media #{$small-only} {
                background-image: none;
                background-color: #8F86D9;
            }
        }
        #table-card,
        #scratchcards {
            @include hide-for-small-only;
            @include hide-for-medium-only;
        }
        //        #allslots {
        //            @include hide-for-small-only;
        //        }
    }
    .search-input {
        font-size: 1.1em;
        @media #{$medium-up} {
            @include grid-column(4);
            right: 0;
        }
        @media #{$small-only} {
            @include grid-column(6);
        }
        input[type=text] {
            font-size: 1em !important;
        }
    }
    .desktop-search-results-container {
        margin: 0 !important;
        width: 97% !important;
        margin-top: 2px !important;
        border-radius: 4px;
        box-shadow: 0px 3px 0 0px rgba(0, 0, 0, 0.14);
        li {
            border-bottom: 1px solid #E6F1FB !important;
            height: 70px;
            @include transition(all, 0.2s ease-out);
            a {
                @include grid-column(12);
                padding: 5px !important;
                background: none !important;
                box-shadow: none !important;
                .search-result__thumb {
                    @include grid-column(3);
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    .search-result__thumb__img {
                        height: auto;
                        padding: 0;
                    }
                }
                .search-result__name {
                    @include grid-column(9);
                    margin: 0;
                }
            }
            .search-result__name__inner {
                color: $global-link-color !important;
                margin: 0;
                font-family: $body-font-bold;
                font-size: 13px !important;
                text-transform: uppercase;
                text-align: left;
                padding: 0 ($site-margin / 2) !important;
            }
        }
    }
}
