//Color variables

$icon-border-top: #237E9B;

.zoomin, .zoomout {
    //-webkit-animation: in 0.6s;
    //-webkit-animation: out 0.6s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomOut {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    100% {
        opacity: 1;

        //        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        //        transform: scale3d(1.2, 1.2, 1.2);
        transform: translate3d(0, -40%, 0);

        //bottom: 34px;
   
    }
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 1;
        transform: translate3d(0, -40%, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.bottom-last-played {
    background-color: $global-link-color;

    //@include background-image(linear-gradient(to top, #249e8f 0%, #54b1a6 50%, #77cdc3 100%));
    //border-top: 1px solid #9DE9E0;
    @include box-shadow(0 -3px 0 rgba(5, 5, 5, 0.07));

    height: 26px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}

.last-played {
    margin-left: 90px;
}

#ui-last-played-container {
    padding: 4px;
    margin-bottom: -100px;
}

.last-played-game {
    @include grid-column(1, $collapse: true);

    position: relative;
    bottom: 50px;
    background-color: rgba(23, 22, 22, 0.63);

    @include box-shadow(0 -4px 0 rgba(5, 5, 5, 0.07));

    border-top: 3px solid $icon-border-top;

    &:hover {
        filter: brightness(120%);
    }
}

.zoomout {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
}

.zoomin {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

//.last-played-hover {
//    -webkit-animation-name: zoomIn;
//    animation-name: zoomIn;
//}

.last-played-container-title {
    margin-left: 8px;
    margin-top: 2px;
    color: #ffffff;
    font-size: 1em;

    //text-shadow: 0 1px 1px #287b70;
    font-family: $title1-font;
}

.last-played-title {
    color: #FFFFFF;
    font-size: 0.8em;
}

.last-played-toggle {
    @include show-for-large-up;

    color: #FFFFFF;

    //text-shadow: 0 1px 1px #287b70;
    font-family: $title1-font;
    font-size: 0.9em;
    position: fixed;
    bottom: 0px;
    right: 14px;
    z-index: 99999999;
    text-decoration: none;

    &:hover {
        color: #fef594;
    }

    &.minimized {
        background-color: #0E576E;

        //@include background-image(linear-gradient(to top, #249e8f 0%, #54b1a6 50%, #77cdc3 100%));
        //border-top: 1px solid #9DE9E0;
        @include box-shadow(0 -3px 0 rgba(5, 5, 5, 0.07));

        height: 26px;
        padding: 2px 5px;
        right: 0;
    }
}