/**
*   Parts of styling taken from _games-filter-menu.css
*/

.filter-tabs {
    &__heading {
        display: table;
        table-layout: fixed;
        margin: 0;
        width: 100%;
        border-top: 1px solid rgb(235, 232, 236);
        padding-top: 3px;

        &__item {
            display: table-cell;
            height: 44px;
            @include vert-align(44px);
            margin: 0;
            border-left: 3px solid #fff;
            text-align: center;
            background-color: #E8E8E8;
            font-family: $body-font-bold;
            color: $global-link-color;

            &:last-child {
                border-right: 3px solid #fff;
            }

            &.active {
                background-image: none;
                background-color: $white;
            }
        }

        .filter-tabs__heading__link {
            font-family: $body-font-bold;
            font-size: 0.9em;
            color: $brand-color;
            padding-left: 0 !important;

        }

        &__link {
            text-shadow: none;
            text-decoration: none;
            text-transform: uppercase;

            &:hover,
            &:active {
                text-decoration: none;
            }
        }
    }

  &__content {
    padding: 20px 0;

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    &__item {
      display: none;

      ul {
        margin: 0;
        padding: 0;

        li {
            float: left;
            width: 33.3333333333%;
            margin: 0 0 10px 0;
            padding: 0 0.41667rem;
        }

        a {
            font-family: $body-font-bold !important;
            font-size: 0.75em;
            padding: 0 !important;
        }
      }

      &.active {
        display: block;
      }
    }
  }
}

/* Override */
.filter-tabs .filter-tabs__content__link {
    background: #3b78bb;
    background-image: linear-gradient(0deg, #3373ad 0%, #3a8eda 100%);
    background-size: auto !important;
    background-position: 0 !important;
    box-shadow: 0px 2px 0px 0px #24568c;
    border-radius: 6px;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    height: 44px;
    display: block;
    position: relative;

    span {
        display: block;
        width: 100%;
        position: absolute;
        top: 47%;
        transform: translateY(-50%);
    }
}