
@media #{$large-up} {
    .main-content {
        &.registration {
            padding-top: 0;
        }
    }
}

.header--register3step {
    .nav-for-mobile {
        display: none !important;
    }
    .footer {
        display: none;
    }
}

.registration-3step {
    @include grid-column(12);
    padding: 0;
    z-index: 999999;
    top: 0;
    background: $registration-3step-bg--base;
    overflow: hidden;

    nav {
        @media #{$small-only} {
            top: 45px;
        }
        @media #{$medium-only} {
            top: 45px;
        }
    }
    .banner {
        a.edit-point {
            margin: 35px 15px !important;
        }
    }
}


//Registration Header
.header-register {
    @include grid-column(12);
    background-color: $yellow-dark;
    padding: 0;
    top: 0;
    height: 70px;
    text-align: center;
    display: block !important;
    z-index: 2;
    position: fixed;

    @media #{$large-up} {
        height: 80px;
    }

    .wrapper {
        @media #{$large-up} {
            position: relative;
            width: 33.5rem;
            margin: 0 auto;
        }

        @media #{$medium-only} {
            position: relative;
            width: 33.5rem;
            margin: 0 auto;
        }

            h1 {
                display: inline-block;
                color: $black;
                line-height: 2.8;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: normal;
                padding-top: 3px;
                margin-top: 5px;

                @media #{$large-up} {
                    font-size: 25px;
                    padding-top: 2px;
                }
            }

            .register-logo {
                background: url("/_images/logo/logo-sml.png") no-repeat center center;
                background-size: 100%;
                position: absolute;
                left: 10px;
                top: -5px;
                width: 70px;
                height: 80px;
                cursor: pointer;

                 @media #{$large-up} {
                    width: 90px;
                    height: 105px;
                    top: -12px;
                }
            }

            .register-login-cta {
                display: inline-block;
                position: absolute;
                color: $base-blue;
                width: 72px;
                height: 25px;
                top: 25px;
                right: 5px;
                font-family: "Kansas-Semibold", Helvetica, Arial, sans-serif;
                font-size: 20px;
                text-decoration: underline;
                text-transform: uppercase;
                padding-top: 1px;

                 @media #{$large-up} {
                    top: 28px;
                }
            }
        }
    }

//Registration Banner
.registration-3step .content .banner {
    @media #{$medium-only} {
        padding-top: 0 !important;
    }
}

.registration-3step .content .banner img {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: -5px !important;

        @media #{$small-only} {
              margin-top: 25px !important;
        }

        @media #{$medium-only} {
            margin-top: 35px !important;
        }
}

#join-now {
    .banner {
        a.edit-point {
            @media #{$small-only} {
                margin: 0 !important;
            }

            
            
        }
    }

    nav {
        @media #{$small-only} {
            top: 0;
        }
        @media #{$medium-only} {
            top: 0;
        }
    }

    .registration-3step .content .banner img {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-top: -5px !important;

        @media #{$small-only} {
              margin-top: 20px !important;
        }

        @media #{$medium-only} {
            margin-top: 35px !important;
        }
    }
}