.lobby-play-button {
    @extend .show-for-small;
    @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 6, $mcollapse: false, $mfloat: true, $lcols: 6, $lcollapse: true, $lfloat: left);
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    margin-right: 10px;
    a {
        color: $white;
    }
    background-image: linear-gradient(-180deg, #b7a0d6 3%, #805bb8 100%);
    border-radius: 4px;
    height: 57px;
    line-height: 57px;
    font-family: $ui-font-bold;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-shadow: 0px 2px 0px #312741;
    margin-bottom: $site-margin /2;

    @media #{$small-only} {

    height: 50px;
         }
}

.small-play-wrap > div > a, .small-deposit-wrap > div > a {
    color: $white;
    font-size: 14px;
}

.small-play-wrap, .small-deposit-wrap {
    width: 48%;
}





