.lobby-claim-cashback {
    @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 12, $mcollapse: false, $mfloat: left, $lcols: 12, $lcollapse: false, $lfloat: left);
    background: #6F37A1 !important;
    border-radius: 5px;
    float: left;
    clear: both;
    background-image: linear-gradient(-180deg, white 0%, #f5f5f9 100%);
    border: 1px solid #E6E6E2;
    padding: $site-margin;
    margin-bottom: $site-margin;

    h1 {
        font-family: $ui-font-bold;
        font-size: 16px;
        color: $main-highlight-color;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
        text-transform: uppercase;

        @media #{$small-only} {
            padding-top: 15px;
        }
    }

    p {
        font-family: $ui-font-bold;
        font-size: 18px !important;
        color: #5B5B5B;
        text-align: center;
        line-height: 16px;
    }

    .upgrade-info {
        text-align: right;
        margin-bottom: 10px;
        font-size: 80%;

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .lobby-claim-cashback-button {
        @include grid-column(12, $center: true);

        background-image: linear-gradient(-180deg, #b7a0d6 3%, #805bb8 100%);
        border-radius: 4px;
        border: 1px solid #E6E6E2;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        margin: 0 auto;

        a {
            color: $white;
        }

        border-radius: 4px;
        height: 57px;
        line-height: 57px;
        font-family: $ui-font-bold;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
        letter-spacing: 1px;
        text-shadow: 0px 2px 0px #312741;
    }

    &.alert-box .close {
        top: 0.57em;
        right: 0;
        color: #fff;
    }
}

.mobile-cashback {
    @extend .show-for-small-only;

    .lobby-claim-cashback p {
        margin-bottom: 10px !important;
    }

    .alert-box .close {
        right: 0.1rem;
        padding-top: 5px;
    }
}