/* Lobby Content Container  */
.lobby-wrap__content-box {
    @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: false, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);
    background: #FFFFFF;
    padding-left:10px;

    @media #{$large-up} {
        border: 1px solid #C4C2CC;
        margin-bottom: $site-margin;
    }
     @media #{$medium-up} {
       padding-right:0px;
    }
}

/* Lobby Content Container Header Area */
.lobby-wrap__content-box__header {
    @include grid-column(12, $collapse: true);

    font-family: $ui-font-bold;
    font-size: 14px;
    color: #4E4783;

    // height: $thumb-friendly-space;
    padding: $site-margin;

    /* Lobby Content Container Header Area Title */
    .title {
        @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);

        display: inline-block;
        height: 20px;
        line-height: 20px;

        // elements in header bar (with icon)
        &.hasicon {
            .title__icon {
                @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: left, $mcols: 1, $mcollapse: true, $mfloat: left, $lcols: 1, $lcollapse: true, $lfloat: left);

                max-width: 33px;
                min-width: 33px;

                #Desktop, #email_F-Copy, #email_F-Copy-2 {
                    fill: transparent;
                }
                #promotions-icon {
                    margin-top: -3px;
                }
            }

            // Text for in the header bar
            .title__text {
                @include foundation-breaks($scols: 6, $scollapse: true, $sfloat: left, $mcols: 6, $mcollapse: true, $mfloat: left, $lcols: 6, $lcollapse: true, $lfloat: left);

                width: auto !important;

                &.messages-section {
                    @include foundation-breaks($scols: 5, $scollapse: true, $sfloat: left, $mcols: 3, $mcollapse: true, $mfloat: left, $lcols: 3, $lcollapse: true, $lfloat: left);
                }

                text-transform: uppercase;
            }

            .title__link {
                @include foundation-breaks($scols: 3, $scollapse: true, $sfloat: right, $mcols: 2, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: right);

                text-align: right;

                a {
                    color: $global-link-color-text;

                    &:hover {
                        text-decoration: underline;
                    }

                    .title__link__arrow {
                        font-size: 16px;
                    }
                }
            }

            .title__option-links {
                @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: right, $mcols: 1, $mcollapse: true, $mfloat: right, $lcols: 1, $lcollapse: true, $lfloat: right);

                text-align: right;
                padding-left: $site-margin;

                a {
                    color: #AFAFAF;
                    font-family: $ui-font-regular;
                    font-size: 11px;

                    &:hover {
                        text-decoration: underline;
                    }

                    .title__link__arrow {
                        font-size: 16px;
                    }
                }
            }

            .title__option-link {
                @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: right, $mcols: 12, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: left);

                a {
                    font-size: 11px;
                    text-align: center;
                }
            }
        }

        // elements in header bar (without icon)
        .title__text {
            @include foundation-breaks($scols: 8, $scollapse: true, $sfloat: left, $mcols: 8, $mcollapse: true, $mfloat: left, $lcols: 8, $lcollapse: true, $lfloat: left);
        }

        /* Lobby Content Container Header Area Link */
        // .title__link {
        //     @include foundation-breaks($scols: 3, $scollapse: true, $sfloat: right, $mcols: 3, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: right);
        //     text-align: right;
        //     a {
        //         color: $global-link-color-text;
        //         text-decoration: none;
        //         color: #B1B1B1;
        //         &:hover {
        //             text-decoration: underline;
        //         }
        //         .title__link__arrow {
        //             font-size: 16px;
        //         }
        //     }
        // }

        /* Lobby Content Container Header Area Message Inbox */
        .title__message-inbox {
            @extend .hide-for-large-up;

            width: 50px;
            float: right;
            text-align: right;

            .title__message-inbox__icon {
                float: left;
                width: 50px;
                height: 24px;
                background: url(../_images/balance-area/icon-magical-message-inbox-blue.png) no-repeat 15px 3px;
            }

            .title__message-inbox__value {
                background: lighten($main-highlight-color, 10%);
                font-size: 0.8rem;
                position: absolute;
                margin-top: -5px;
                margin-left: -20px;
                height: 20px;
                width: 20px;
                float: right;
                border-radius: 20px;
                text-align: center;
                color: white;
            }
        }
    }

    .button.dropdown {
        float: right;
        font-size: 10px;
        font-family: $ui-font-bold !important;
        padding: 0.2em;
        width: 88px;
        margin: 0;
        margin-right: 10px;
        background-color: transparent;
        color: $global-link-color-text;
    }

    button.dropdown::after {
        border-color: $global-link-color-text transparent transparent transparent !important;
    }

    #drop1 > li > a {
        text-align: center;
    }
}

/* End of Lobby Content Container Header Area */

// Lobby Content Container Content Area
.lobby-wrap__content-box__content {
    @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 12, $mcollapse: false, $mfloat: left, $lcols: 12, $lcollapse: false, $lfloat: left);

    padding-top: $site-margin;
    padding-bottom: $site-margin;
    background: #F5F5F9;
    color: white;

    // inner wrap to hold content no fill or border
    .lobby-wrap__content-box__content__innerwrap {
        @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 12, $mcollapse: false, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);
    }

    // inner wrap to hold content fill and border
    .lobby-wrap__content-box__content__innerwrap--border {
        @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);

        background: #FFFFFF;
        border: 1px solid #E6E6E2;
    }
}

.icon-message-unread, .icon-message-read {
    fill: white !important;
}