.welcome-area {
    .welcome-area__top {
        .welcome-area__top__left {
            @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 7, $mcollapse: false, $mfloat: left, $lcols: 7, $lcollapse: false, $lfloat: left);

            @media #{$small-only} {
                @include grid-column(12, $float: left);

                padding: 0px;
            }

            @media #{$medium-up} {
                position: relative;
                width: 100%;
                padding: 0px;
                float: left;
            }

            padding-top: $site-margin;
            padding-bottom: $site-margin;
            height: auto;

            .welcome-intro {
                font-family: $body-font-regular;
                font-size: 13px;
                color: #5B5B5B;
                line-height: 16px;
            }
        }

        .welcome-area__top__right {
            @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 5, $lcollapse: true, $lfloat: left);

            @media #{$small-only} {
                @include grid-column(12);

                padding: 0px;
                margin-bottom: 10px;
                margin-top: 10px;
            }

            @media #{$medium-up} {
                @include grid-column(12);
                padding:0;
            }

            // padding-top: $site-margin;
            // padding-bottom: $site-margin;

            .vip-level {}

            .welcome-area__bottom {
                .welcome-banner {
                    @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);
                }
            }
        }
    }
}