<!-- BODY -->
        <table style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr>
           
                <td bgcolor="#FFFFFF" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; display: block; max-width: 600px; margin:auto;">
                    <table style="width: 100%;" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>

</td>
</tr>
                        <tr>
<td bgcolor="#f7f3fc" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:20px;">
<h3 style="line-height: 1.1; font-weight: 500; font-size: 22px;">Welcome %%Firstname%%,</h3>


<p>We hope you enjoyed a little taste of the Magical Vegas dream with your 20 free sign-up spins - now hit the strip for real with 100% BONUS - up to &pound;200 FREE!</p><br>




<table width="100%" cellspacing="0" cellpadding="0" >
                                <tr>
                                    <td valign="top" bgcolor="#e1daea" style="width:35%; padding: 5px;" rowspan="2">
                                        <a href="http://www.kittybingo.com"><img style="max-width: 100%;" alt="Share the love" src="https://www.spinandwin.com/_global-library/_upload-images/games/list-icons-224/wired-birds-slots-game.jpg" border="0"></a>
                                    </td>
                                    <td valign="bottom" bgcolor="#e1daea" align="left" style="color: #494949; font-size: 20px; line-height: 18px; text-align: left; font-weight: bold; font-family: 'Helvetica', Helvetica, Arial, sans-serif; padding: 10px 5px 5px;">Share the love!
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="middle" bgcolor="#e1daea" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; font-weight: normal; font-size: 14px; line-height: 1.6;  padding: 0 5px 5px 5px;">
                                        Bingo on #14 between 5 and 9pm any day in February and not only will you collect an extra &pound;5 BBs for yourself, but you'll also claim &pound;2 BBs for a friend!
                                    </td>
                                </tr>
                            </table><br>

                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td valign="bottom" bgcolor="#f7f3fc"feedb3 align="left" style="color: #494949; font-size: 20px; line-height: 18px; text-align: left; font-weight: bold; font-family: 'Helvetica', Helvetica, Arial, sans-serif; padding: 10px 0 0px 10px;">Cupid's Cash Splash</td>
                                    <td valign="top" bgcolor="#f7f3fc" style="padding: 5px; width:35%;" rowspan="2">
                                        <a href="http://www.kittybingo.com"><img style="max-width: 100%;" alt="Cupid's Cash Splash" src="https://www.spinandwin.com/_global-library/_upload-images/games/list-icons-224/energoonz-slots-game.jpg" border="0"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="middle" bgcolor="#f7f3fc" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; font-weight: normal; font-size: 14px; line-height: 1.6; padding: 0 0 5px 10px;">
                                        In the week building up to Valentine's Day we'll be running a special team tournament where you can help spin your team to victory on the slots and claim the top &pound;1,000 cash prize for your team!
                                    </td>
                                </tr>
                            </table><br>
                            
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td valign="top" bgcolor="#e1daea" style="width:35%; padding: 5px;" rowspan="2">
                                        <a href="http://www.kittybingo.com"><img style="max-width: 100%;" alt="Share the love" src="https://www.spinandwin.com/_global-library/_upload-images/games/list-icons-224/wired-birds-slots-game.jpg" border="0"></a>
                                    </td>
                                    <td valign="bottom" bgcolor="#e1daea" align="left" style="color: #494949; font-size: 20px; line-height: 18px; text-align: left; font-weight: bold; font-family: 'Helvetica', Helvetica, Arial, sans-serif; padding: 10px 5px 5px;">Share the love!
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="middle" bgcolor="#e1daea" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; font-weight: normal; font-size: 14px; line-height: 1.6;  padding: 0 5px 5px 5px;">
                                        Bingo on #14 between 5 and 9pm any day in February and not only will you collect an extra &pound;5 BBs for yourself, but you'll also claim &pound;2 BBs for a friend!
                                    </td>
                                </tr>
                            </table><br>

                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td valign="bottom" bgcolor="#f7f3fc" align="left" style="color: #494949; font-size: 20px; line-height: 18px; text-align: left; font-weight: bold; font-family: 'Helvetica', Helvetica, Arial, sans-serif; padding: 10px 0 0px 10px;">Cupid's Cash Splash</td>
                                    <td valign="top" bgcolor="#f7f3fc" style="padding: 5px; width:35%;" rowspan="2">
                                        <a href="http://www.kittybingo.com"><img style="max-width: 100%;" alt="Cupid's Cash Splash" src="https://www.spinandwin.com/_global-library/_upload-images/games/list-icons-224/energoonz-slots-game.jpg" border="0"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="middle" bgcolor="#f7f3fc" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; font-weight: normal; font-size: 14px; line-height: 1.6; padding: 0 0 5px 10px;">
                                        In the week building up to Valentine's Day we'll be running a special team tournament where you can help spin your team to victory on the slots and claim the top &pound;1,000 cash prize for your team!
                                    </td>
                                </tr>
                            </table>   <br> 






  <p align="center" style="margin-top:0px; margin-bottom:0"><a href="https://www.magicalvegas.com/login/play/">
                <img src="http://mailers.communicatormail.com/magicalvegas/images/claim-my-bonus-btn.png" alt="Play now" border="0" style="max-width: 100%;" />
            </a></p>
                        </tr>
                    </table>
                    

                </td>
          
            </tr>

        </table>
        <!-- /BODY -->