<!-- BODY -->
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
      <tr>

        <td bgcolor="#f7f3fc" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:20px;">
<h3 style="line-height: 1.1; font-weight: 500; font-size: 22px;">Hi %%Firstname%%,</h3>
<p style="color: #494949; font-weight: normal; font-size: 17px; line-height: 1.6;">

<p>We are following up on your recent request to change your password via the &quot;Forgot Password&quot; link on Magical Vegas.</p><br />

<p>To reset your password please click on the link below which will take you to a page where you will be able to securely and safely reset your password.</p><br />

<p><a style="font-family: Arial,Helvetica,sans-serif; color:#1E1345; text-decoration:underline;" href="http://www.magicalvegas.com/forgot-password?PlayerID=%%PlayerID%%&GUID=%%GUID%%"><strong>Reset Password</strong></a></p><br />


<p>Once you have retrieved your password we recommend you make a note of your login details and be sure to keep them safe.</p><br />

<p>Should you require any additional help, feel free to contact our friendly Support Team.</p><br />

<p>We look forward to seeing you soon at Magical Vegas!</p>


</td>

</tr>
</table>
<!-- /BODY -->