<!-- BODY -->
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
      <tr>

        <td bgcolor="#f7f3fc" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:20px;">
<h3 style="line-height: 1.1; font-weight: 500; font-size: 22px;">Hi %%Firstname%%,</h3>
<p style="color: #494949; font-weight: normal; font-size: 17px; line-height: 1.6;">

<p>We are following up on your recent request to change your password on Magical Vegas.</p><br />

<p align="left" style="margin-bottom:1.5em !important;">Thanks for letting us know, we&rsquo;ve reset it to the following:</p>
                   
Username: <strong>%%Alias%%</strong><br />
Password: <strong>%%Password%%</strong><br /><br />

<p align="left" style="margin-bottom:1.5em !important;">Login in now to get back to the games - you can change your password for something more memorable in Personal Details tab once you&rsquo;re back in the swing of things!</p>

<p align="left" style="margin-bottom:1.5em !important;">Just remember to make a note of your new login details somewhere safe before you really let your hair down, and we&rsquo;ll see you there!</p>


<p>Once you have retrieved your password we recommend you make a note of your login details and be sure to keep them safe.</p><br />

<p>Should you require any additional help, feel free to contact our friendly Support Team.</p><br />

<p>We look forward to seeing you soon at Magical Vegas!</p>


</td>

</tr>
</table>
<!-- /BODY -->