<!-- BODY -->
<table style="width: 100%;" cellpadding="0" cellspacing="0">
    <tr>
        <td>&nbsp;</td>
        <td bgcolor="#FFFFFF" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; display: block; max-width: 600px; margin:auto;">
            <table style="width: 100%;" cellpadding="0" cellspacing="0">
                <tr>
                            <td>
                                <img src="http://mailers.communicatormail.com/magicalvegas/images/2nd-3rd-deposit-mailer.jpg" style="max-width: 100%;" />
                            </td>
                        </tr>
                <tr>
                    <td bgcolor="#f7f3fc" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:20px;">
                        <p style="color: #494949; font-weight: normal; font-size: 17px; line-height: 20px;">Hi %%Firstname%%,</p>
                        <p style="color: #494949; font-weight: normal; font-size: 17px; line-height: 20px;"><strong>Congratulations on your first deposit.</strong></p>
                        <p>We just wanted to let you know that you have successfully made your first deposit - thanks!</p>
                        <p style="color: #494949; font-weight: normal; font-size: 17px; line-height: 20px;"><strong>Now claim a 50% bonus up to &pound;250!</strong></p>
                        <p>Make your next deposit go further with a special 50% match bonus. Select your offer in the cashier when you deposit &pound;20 or more.</p>
                    </td>
                </tr>
            </table>
            <p align="center" style="margin-top:0px; margin-bottom:0"><a href="http://www.magicalvegas.com">
                <img src="http://mailers.communicatormail.com/magicalvegas/images/template/cta-secondary-180x50.png" alt="Play now" border="0" style="max-width: 100%;" />
            </a></p>
        </tr>
    </table>
</td>
<td>&nbsp;</td>
</tr>
</table>
<!-- /BODY -->