<!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
            <![endif]-->
<!-- BODY -->
        <table style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr>
                <td>&nbsp;</td>
                <td bgcolor="#FFFFFF" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; display: block; max-width: 600px; margin:auto;">
                    <table style="width: 100%;" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>

</td>
</tr>
                        <tr>
<td bgcolor="#f7f3fc" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:20px;">

<img src="http://mailers.communicatormail.com/magicalvegas/images/100-bonus-500-welcome-mailer.jpg" style="max-width: 100%;" />

<h3 style="line-height: 1.1; font-weight: 500; font-size: 22px;">Welcome to Vegas, Baby - Magical Vegas that is!</h3>


<p>Hit our online strip to get that Vegas feeling wherever you are! Magical Vegas is all about the real gaming experience - we have over 500+ thrilling games, an extravagant &pound;1,000 welcome package and amazing prizes to win!</p>

<p>Begin your trip down the strip with a <strong>100% bonus up to &pound;500 on your first deposit:</strong></p>
<ol>
    <li> <a href="https://www.magicalvegas.com/promotions/welcome-offer/"> <u>Log in to your account</u><br />
   </a> </li>
    <li>Select your "100% Welcome Bonus" in the cashier<br />
    </li>
    <li>Make your 1st deposit, we'll match it and you are ready for a spin party in Vegas.</li>    
    </li>
</ol>

<p>The bright lights of Magical Vegas are always open to entertain!</a></p>

  <p align="center" style="margin-top:0px; margin-bottom:0"><a href="https://www.magicalvegas.com/promotions/welcome-offer/">
                <img src="http://mailers.communicatormail.com/magicalvegas/images/cta-secondary-play-mv.png" alt="Play now" border="0" style="max-width: 100%;" />
            </a></p>
                        </tr>
                    </table>
                    

                </td>
                <td>&nbsp;</td>
            </tr>

        </table>
        <!-- /BODY -->
<!-- /BODY -->
