<!-- BODY -->
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
      <tr>
        <td>&nbsp;</td>
        <td bgcolor="#f7f3fc" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:20px;">
<h3 style="line-height: 1.1; font-weight: 500; font-size: 22px;">Hi %%Firstname%%,</h3>

<p style="color: #494949; font-weight: normal; font-size: 17px; line-height: 1.6;"><p>Your Magical Vegas Account is temporarily locked due to three consecutive failed log-in attempts.  Please contact the call center to re-activate you account:</p><br />


<p><a style="font-family: Arial,Helvetica,sans-serif; color:#1E1345; text-decoration:underline;" href="https://www.magicalvegas.com/support/"><strong>Contact Support</strong></a></p><br />

<p>If you have forgotten your password, please use the "forgotten password" link on the homepage or contact our friendly Support Team agents who are here to help you.</p><br />
<p>We look forward to seeing you soon at Magical Vegas!</p><br />

<p>Warm regards,</p><br />

<p><strong>The Magical Vegas Team</strong></p>

</td>
<td>&nbsp;</td>
</tr>
</table>
<!-- /BODY -->