﻿<!-- BODY -->
<table style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr>
                <td>&nbsp;</td>
                <td bgcolor="#FFFFFF" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; display: block; max-width: 600px; margin:auto;">
                    <table style="width: 100%;" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
<img src="https://www.magicalvegas.com/mailers/images/elite-lvl.jpg" style="max-width: 100%;" />
</td>
</tr>
                        <tr>
<td bgcolor="#f7f3fc" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:20px;">
<h3 style="line-height: 1.1; font-weight: 500; font-size: 22px;">

Hi %%Firstname%%,</h3>
<p style="color: #494949; font-weight: normal; font-size: 17px; line-height: 1.6;"> 
 
<p>Your <a href="https://www.magicalvegas.com/">Magical Vegas</a> account has been upgraded to our most prestigious <b>Elite Diamond VIP level!</b></p><br>
 
<p>Log in to claim your <b>mystery upgrade bonus now!</b></p><br>

<p>We have now increased your <b>daily cashback bonus to 15%</b></p><br>
 
<p>Click <a href="https://www.magicalvegas.com/slots/new/"><b>here</b></a> to play all our latest games <b>NOW</b> and bring home the magic at <a href="https://www.magicalvegas.com/"><b>MagicalVegas!</b></a></p><br>
 
 
<p>Best of luck,</p><br>

<p><b>The Magical Vegas team</b></p>
<p><a href="https://www.magicalvegas.com/">www.magicalvegas.com</a></p>

                        </tr>
                    </table>

                </td>
                <td>&nbsp;</td>
            </tr>

        </table>
        <!-- /BODY -->