.header-desktop {
    background-image: url("../_images/common/background-pattern.jpg");
    position: fixed;
    z-index: 3;
    @include grid-column(12, $collapse: true);
    .header__logo {
        @extend .show-for-large-up;
        height: 91px;
        width: 120px;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
    }
    .header__login {
        @extend .show-for-large-up;
        height: auto;

        position: absolute;
        right: 0px;
        margin-top: 3px;
    }
    .header-wrap {
        width: 1000px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
    .header__container {
        @media #{$large-up} {
            @include grid-column(12, $collapse: true);
            background-color: $yellow-dark;
        }
    }
    // *********** Login box Loogged in // ***********
    .header__login--logged-in {
        background-image: url("../_images/common/login-button-in.png");
    }
    .logged-out-buttons {
        margin-top: 10px;
    }
    .cookie-policy {
          @media #{$medium-only} {
              display: none !important;
          }

          @media #{$small-only} {
               display: none !important;
          }
    }
}

//Remove default styling for H1 (SEO)
.seo-logo {
    margin: 0;
    padding: 0;
}
