.user-nav {
    width: 282px;
    margin-top: 0;
    height: auto;
    clear: both;
    float: left;

    .user-nav-left {
        width: 282px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.46);
        border: 1px solid darken($yellow-dark, 5%);
        float: left;
        margin-bottom: 2px;
        padding: 3px;

        .user-nav__logout {
            font-family: $body-font-regular;
            background-color: $yellow-cream;
            font-size: 0.9em;
            margin-bottom: 5px;
            padding-top: 1px;
            height: 22px;
            width: 90px;
            float: left;
            margin-right: 3px;
            text-align: center;
            border-radius: 3px;

            > a {
                color: $grey-dark;
                display: block;
                width: 100%;
            }

            > a:hover {
                color: $base-light-blue;
            }
        }

        .user-nav__logout:hover {
            background-color: darken($yellow-cream, 5%);
        }

        .user-nav__my-account {
            font-family: $body-font-bold;
            color: $white;
            text-transform: uppercase;
            background-color: $ctacolor;
            font-size: 1em;
            margin-bottom: 5px;
            padding-top: 1px;
            letter-spacing: -0.09em;
            height: 22px;
            width: 90px;
            float: left;
            margin-right: 3px;
            text-align: center;
            border-radius: 3px;

            > a {
                color: $white;
                display: block;
                width: 100%;
            }

            > a:hover {
                background-color: lighten($ctacolor, 5%);
            }

            > a.current {
                color: $base-red;
            }
        }

        .user-nav__my-account:hover {
            background-color: darken($yellow-cream, 5%);
        }

        .user-nav__cashier {
            font-family: $body-font-bold;
            color: $white;
            font-size: 1em;
            height: 22px;
            width: 88px;
            text-align: center;
            float: left;
            background-color: $green;
            padding-top: 1px;
            border-radius: 3px;

            // @include button-generate(darken(#01496B, 8%), 1px, 1px);
            > a {
                color: $white;
                display: block;
                width: 100%;
            }

            > a.current {
                color: $white;
            }
        }
    }

    .user-nav__cashier:hover {
        background-color: darken($green, 5%);
    }

    .user-nav-right {
        width: 282px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.46);
        border: 1px solid darken($yellow-dark, 5%);
        float: left;
        margin-right: 5px;
        padding: 3px;

        .user-nav__message-inbox {
            width: 40px;
            margin-left: 4px;
            margin-right: 3px;
            float: left;
            border-right: 1px solid darken($yellow-dark, 5%);
            font-size: 0.85em;
            font-weight: 600;

            img {
                width: auto;
                height: auto;
            }

            .user-nav__message-inbox__value {
                position: absolute;
                background: $base-red;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                margin-top: -5px;
                margin-left: -10px;
                float: left;
                color: white;
                text-align: center;
            }
        }

        .user-nav__alias {
            font-family: $body-font-regular;
            color: $grey-dark;
            border-right: 1px solid darken($yellow-dark, 5%);
            font-size: 0.9em;
            margin-bottom: 5px;
            height: 22px;
            width: 92px;
            float: left;

            img {
                margin-right: 2px;
                width: 20px;
                height: 20px;
            }

            > a {
                color: $grey-dark;
                display: block;
                width: 100%;
            }
        }

        .user-nav__balance {
            font-family: $body-font-regular;
            border-right: 1px solid darken($yellow-dark, 5%);
            color: $grey-dark;
            font-size: 0.9em;
            padding-left: 3px;
            margin-bottom: 5px;
            height: 22px;
            width: 70px;
            float: left;

            img {
                margin-right: 5px;
                width: 18px;
                height: 18px;
            }

            > a {
                color: $grey-dark;
                display: block;
                width: 100%;
            }
        }

        .user-nav__slots {
            font-family: $body-font-regular;
            color: $grey-dark;
            font-size: 0.9em;
            padding-left: 3px;
            margin-bottom: 5px;
            height: 22px;
            width: 65px;
            float: left;

            img {
                margin-right: 5px;
                width: 18px;
                height: 18px;
            }

            > a {
                color: $grey-dark;
                display: block;
                width: 100%;
            }
        }
    }
}