.community {
    .article__content__date {}

    .article {
        margin-bottom: 0;
        border-right: 1px solid #ffffff;

        // @include box-shadow(inset 0 0 0 1px #fff);
        @include box;

        @media #{$large-up} {
            @include grid-column(4, $collapse: false);
        }

        @media #{$medium-only} {
            @include grid-column(6, $collapse: false);
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: false);
        }

        &:last-child {
            margin-bottom: 0;
            border-right: none;
        }

        .article__content {
            position: relative;

            @media #{$large-up} {
                height: 295px;
                overflow: hidden;
            }

            @media #{$medium-only} {
                height: 310px;
            }

            @media #{$small-only} {
                min-height: 176px;
            }
        }

        .article__content__date {
            font-family: $body-font-demi;
            font-size: 14px;
            line-height: 13px;
            color: $main-highlight-color;
            margin-top: 12px;
            margin-bottom: 12px;
        }

        .article__content__image {
            @include grid-column(12, $collapse: true);

            margin-bottom: 10px;
        }

        .article__content__title {
            margin-bottom: 7px;
            border-bottom: none;
        }

        .article__content__title > a {
            font-family: $body-font-bold;
            font-size: 14px;
            text-transform: uppercase;
            color: $brand-color;
        }

        .article__content__body {
            p {
                font-size: .8em;
                line-height: 1.4;
                display: block;
                overflow: hidden;

                @media #{$small-only} {
                    font-size: 1em;
                    clear: both;
                    max-height: none;
                }
            }

            ul {
                font-size: .9em;
                display: inline;
                margin-left: 20px;
                list-style-position: inside;
            }

            img {
                float: left;

                @include grid-column(4, $collapse: true);
            }
        }
    }
}