.article__content__cta-container {
    font-family: $body-font-bold !important;
    font-size: 0.8em;
    display: block !important;
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0px;
    left: 0px;
    padding: 5px 10px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.12) 15%, rgba(255, 255, 255, 0.73) 37%, rgba(255, 255, 255, 1) 83%);

    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(255, 255, 255, 0.12)), color-stop(37%, rgba(255, 255, 255, 0.73)), color-stop(83%, rgba(255, 255, 255, 1)));

    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.12) 15%, rgba(255, 255, 255, 0.73) 37%, rgba(255, 255, 255, 1) 83%);

    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.12) 15%, rgba(255, 255, 255, 0.73) 37%, rgba(255, 255, 255, 1) 83%);

    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.12) 15%, rgba(255, 255, 255, 0.73) 37%, rgba(255, 255, 255, 1) 83%);

    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.12) 15%, rgba(255, 255, 255, 0.73) 37%, rgba(255, 255, 255, 1) 83%);

    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );

    /* IE6-9 */
    > a {
        color: $grey;
    }

    @media #{$medium-only} {
        @include grid-column(3, $collapse: true);

        position: absolute;
        width: 100%;
        right: 0px;
    }

    @media #{$small-only} {
        @include grid-column(3, $collapse: true);

        position: relative;
        right: 0px;
    }
}