/* LOGIN NAV */

.login-nav {
    font-size: 1rem;
    @include list-inline;
    float:right;
    padding-top: 10px;
    
    >li {
        padding-left:1em;
    }

    .login-nav__logout{
    	display:none;
    }
}