#custom-modal {
    &.reveal-modal {
        @media #{$medium-only} {
            width: 90%;
        }

        @media #{$small-only} {
            padding: $site-margin !important;
        }

        .close-reveal-modal {
            position: absolute;
            top: 0;
            right: 0.4rem;
        }
    }
}

.login-box-modal {
    @include grid-column(12);

    padding: 0;
    height: auto;
    font-family: $body-font-regular;

    @media #{$small-only} {
        padding: 0;
    }

    .login-box-modal-wrap__title-bar {
        @include grid-column(12);

        padding: 0;
        margin-bottom: $site-margin / 2;

        @media #{$small-only} {
            background: $white;
            position: fixed;
            top: -1px;
            left: 0;
            padding: $site-margin;
            margin: 0;
        }

        h1 {
            @include grid-column(10);

            font-size: 20px;
            line-height: 25px;
            text-transform: uppercase;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .login-box-modal-content__header-mobile {
        @include grid-column(12);

        // @include hide-for-small-up;

        height: 100%;
        margin: 0;
        padding: 0;
        right: 0;
        z-index: 9999999;
        display: none;
        position: fixed;
        overflow: scroll;
        top: 0px;
    }

    .login-box-modal-content {
        @include grid-column(12);

        margin-bottom: 8px;
        padding: 0;

        @media #{$small-only} {
            padding: 0;
            margin-top: $site-margin * 2;
        }

        .login-box-modal-content__right {
            @include grid-column(5);

            float: right;

            // max-height: 441px;

            @media #{$small-only} {
                @include grid-column(12);

                padding: $site-margin 0;
            }

            .login-box--loginpage {
                @include grid-column(12);

                padding: 0;

                .login-box {
                    @include grid-column(12);

                    padding: 0;

                    .login-box__form-wrapper {
                        h1 {
                            font-size: 1.4em !important;
                            line-height: 25px !important;
                            text-transform: uppercase !important;
                            text-align: center;
                        }

                        .login-box__input-wrapper {
                            @include grid-column(12);

                            padding: 0;
                            height: auto;

                            input {
                                box-shadow: none !important;
                                height: 45px !important;
                            }

                            span.error, small.error {
                                @include grid-column(12);

                                margin: 0;
                                padding: 0;
                                background: none;
                            }
                        }
                    }

                    .login-box__username {
                        height: 50px;
                        margin: 0;
                    }

                    .login-box__password {
                        height: 50px;
                        margin: 0;

                        .login-box__show-password {
                            .right {
                                top: 2px;
                                right: 2px;
                            }
                        }
                    }

                    .login-box__forgot-password {
                        top: 0;
                    }
                }
            }

            .login-box__login, .login-box__register-link {
                margin: 0;
                padding: 0;
                line-height: 2;
                margin-bottom: $site-margin / 2;
                font-size: 1.1em;
                padding: 0;
                line-height: 2;
                height: auto !important;
            }

            .login-box > h1 {
                font-size: 1.4em;
                text-transform: uppercase;
                border-bottom: 0px $global-link-color solid;
                margin-bottom: 24px;
                color: $white;
            }

            .login-box {
                @media #{$small-only} {
                    padding: 0px;
                }
            }
        }

        .login-box-modal-content__left {
            @include grid-column(7);

            float: left;
            padding: 0;
            margin: 0;
            position: relative;

            @media #{$small-only} {
                @include grid-column(12);

                padding: 0px;
            }

            img {
                width: 100%;
            }

            .registercta-wrap {
                @include grid-column(12);

                position: absolute;
                background: rgba(36, 7, 83, 0.7);
                padding: $site-margin;
                bottom: 0;
                text-align: center;

                a {
                    @include grid-column(12, $center: true);

                    width: 98%;
                    margin: 1%;
                    display: inline-block;
                    text-transform: uppercase;
                    color: $blackrock-blue;
                    font-family: $ui-font-bold;
                    font-size: 1.2em;
                    background: $global-link-color;
                    padding: 0;
                    line-height: 2;
                    border-radius: 50px;
                }
            }
        }
    }
}

a.error {
     @extend span.error;
     text-decoration: underline;
}
