    #myaccount-1, #bingo {
    .bingo-schedule-mobile {
        ul {
            li:nth-child(-n+3) {
                max-width: 32.4%;
            }
            // hide list item 4 upwards. Remove once JS removes from DOM.
            li:nth-child(n+4) {
                display: none;
            }
        }
    }
}

.bingo-schedule-mobile {
    @include grid-column(12);
    padding: 0 !important;
    width: 100%;
    margin-top: $site-margin / 2;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch !important;
    @media #{$medium-only} {
        width: 100% !important;
        margin: 0;
        overflow-x: auto !important;
    }
    @media #{$small-only} {
        width: 100% !important;
        margin: 0;
        left: -20px;
        position: relative;
        padding-left: 20px !important;
        width: 115% !important;
        overflow-x: auto !important;
    }
    ul {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow: initial !important;
        // hide list item 4 upwards. Remove once JS removes from DOM.

        li {
            @media #{$small-only} {
                max-height: 125px !important;
            }
        }

        // li:nth-child(n+5) {
        //     display: none;
        // }
        // li:nth-child(-n+4) {
        li {
            @include border-radius(4px);
            max-width: 24.3%;
            height: 125px;
            background: $ui-bingo-schedule-bg !important;
            margin-right: 5px !important;
            padding: 0;
            font-family: $body-font-regular;
            font-size: 0.9rem !important;
            display: inline-block;
            float: none !important;
            line-height: 2;
            @media #{$medium-only} {
                max-width: 170px !important;
                height: 140px !important;
                line-height: 1.8;
            }
            @media #{$small-only} {
                max-width: 166px !important;
                height: 125px !important;
                line-height: 1.8;
            }
            &:last-child {
                margin-right: 0 !important;
            }
            .name {
                @include grid-column(12);
                background: $ui-bingo-schedule-title !important;
                font-family: $body-font-bold;
                color: $white;
                font-size: 12px;
                height: 20px;
                line-height: 1.4;
                @media #{$small-up} {
                    text-align: center !important;
                    padding: 2px 0px !important;
                    height: 25px !important;
                    font-size: 14px !important;
                }
            }
            .price {
                @include grid-column(6);
                padding: 5px 0 0;
                padding-left: 30px;
                color: $ui-bingo-schedule;
                font-family: $body-font-medium;
                background: url(../_images/common/mobile-bingo-schedule/ticket.svg) no-repeat left center;
                background-size: 20px 20px;
                background-position: 5px 7px;
                border-bottom: 1px solid darken($ui-bingo-schedule-bg, 10%);
                border-right: 1px solid darken($ui-bingo-schedule-bg, 10%);
            }
            .room-name {
                @include grid-column(6);
                padding: 5px 0 0;
                padding-left: 30px;
                color: $ui-bingo-schedule;
                font-family: $body-font-medium;
                background: url(../_images/common/mobile-bingo-schedule/bingo-ball.svg) no-repeat left center;
                background-size: 20px;
                background-position: 5px 7px;
                border-bottom: 1px solid darken($ui-bingo-schedule-bg, 10%);
            }
            .jackpot {
                @include grid-column(12);
                padding: 5px 0 0;
                padding-left: 30px;
                color: $ui-bingo-schedule;
                font-family: $body-font-medium;
                background: url(../_images/common/mobile-bingo-schedule/jackpot.svg) no-repeat left center;
                background-size: 20px 20px;
                background-position: 5px 5px;
                margin-bottom: 5px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                border-bottom: 1px solid darken($ui-bingo-schedule-bg, 10%);
            }
            .starts {
                @include grid-column(6);
                width: 100px !important;
                padding: 2px 0;
                padding-left: 30px;
                color: $ui-bingo-schedule;
                font-family: $body-font-medium;
                line-height: 1.2;
                background: url(../_images/common/mobile-bingo-schedule/clock.svg) no-repeat left center;
                background-size: 18px 18px;
                background-position: 6px 2px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                @media #{$small-only} {
                    width: 100px;
                }
            }
                .cta-play {
                    @include grid-column(6);
                    float: right;
                    width: 36%;
                    margin-right: 6px;
                    line-height: 1.6;
                    padding: 0;
                    font-size: 13px;
                    text-shadow: none;
                    &:hover {
                        color: $white;
                    }
                }
                &.funded {
                    opacity: 0.5;
                    .name,
                    .price,
                    .room-name,
                    .jackpot,
                    .starts {
                        color: $white;
                    }
                    .cta-play {
                        background: lighten($nav-active-color, 15%);
                        box-shadow: none;
                        color: $white;
                    }
                }
            }
        }
    }
