// bingo content part 1

.bingo-content {
    h1 {
        @include grid-column(12);

        color: $main-highlight-color;
        padding-left: 0px;
        @extend %title_bg;
    }

    .bingo-schedule-holder {
        // @include hide-for-small-only;
   
    }

    .bingo-content .bingo-schedule-holder {
        display: block;
    }

    .mobile-hide-bingo {
        @include hide-for-small-only;

        // @include hide-for-medium-only;
   
    }

    .mobile-show-bingo {
        @include show-for-small-only;

        h1 {
            padding-left: $site-margin !important;
            color: $nav-main-color;
            font-size: 15px !important;
            text-align: left !important;
            text-transform: uppercase;
            float: left;
        }
    }

    .section__header {
        @include grid-column(12);

        margin: 0;
        padding: 5px;
        padding-left: $site-margin !important;

        &.section-full-width__title {
            color: $nav-main-color;
            font-size: 16px;

            @media #{$small-only} {
                padding-left: 10px;
            }

            a {
                color: $main-highlight-color;
                font-size: 1.1em;
                text-transform: uppercase;

                @media #{$small-only} {
                    font-size: 0.65em;
                }
            }

            a:hover {
                color: #0398b2;
                text-decoration: underline;
            }

            h4 {
                padding: 0 !important;
                margin: 0 !important;

                span {
                    color: $nav-main-color;
                    padding: 0 !important;
                    margin: 0 !important;
                    font-size: 15px !important;
                    font-family: $body-font-bold;
                    text-align: left !important;
                    text-transform: uppercase;
                    float: left;
                }
            }
        }
    }

    // =============================================================================
    // Bingo Rooms Slider
    // =============================================================================

    .bingo-room-slider {
        @include grid-column(12);

        list-style: none;
        margin: 0;
        padding: $site-margin;

        .bx-wrapper {
            @include grid-column(12);

            padding: 0;
            margin-bottom: $site-margin * 3;

            // max-width: 100% !important;

            .bx-pager {
                bottom: -45px !important;
            }
        }

        ul {
            margin-left: 0 !important;
        }
    }

    .bx-controls-direction {
        a {
            // background: rgba(0, 0, 0, 0.5) !important;
            margin-top: 0;
        }

        .bx-default-pager {
            a {
                background: #999 !important;
            }
        }
    }

    .bingo-room__wrapper {
        @include transition(all, 0.2s ease-out);

        @include border-radius(4px);

        overflow: hidden;
        margin-bottom: $site-margin * 2;

        @media #{$large-only} {
            opacity: 0.95;

            &:hover {
                opacity: 1;
            }
        }

        @media #{$small-only} {
            &.bx-clone:last-child {
                width: 2000px!important;
            }
            min-height: 400px;
            background: white;
        }

        .bingo-room__image {
            @include grid-column(12);

            padding: 0;
        }

        .bingo-room__content-wrap {
            @include grid-column(12);

            background: $Lily-White;
            padding: $site-margin / 2;

            .bingo-room__title {
                @include grid-column(12);

                color: $Blumine;
                font-family: $body-font-bold;
                font-size: 15px;
            }

            .bingo-room__content {
                @include grid-column(12);

                color: $grey-dark !important;
                font-family: $body-font-regular !important;
                font-size: 13px !important;
                min-height: 115px;

                p {
                    line-height: 1.4;
                    font-family: $body-font-regular !important;
                    color: $brand-color;
                    margin: 0;
                }

                @media #{$small-only} {
                    min-height: auto;
                }

                @media #{$small-only} {
                    min-height: 50px;
                }
            }

            .bingo-room__more-info {
                @include grid-column(12);

                font-family: $body-font-bold;
                font-size: 13px !important;
                margin-bottom: $site-margin / 2;
                text-transform: uppercase;
                text-decoration: underline;
            }
        }
    }
}