// =============================================================================
// Bingo Details Page - SEO Page
// =============================================================================
//
.bingo-details-content {

    .section__title {
        @extend %title_bg;
        font-size:rem-calc(16px);
        color: $nav-active-color;
    }

    .bingo-detail-content__img {
        @include grid-column(12);

        padding: 0;

        img {
            width: 100%;
        }
    }
    
    .bingo-detail-content__acquisition {
        @include grid-column(12);
        padding: $site-margin;
    }

    .bingo-schedule {
        margin: 0;
    }

    .cta-login {
        @include grid-column(5, $float: left);
        @include secondary-button-ui(7px 20px, 16px, 4px);
        width: 49%;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1.2rem;

        @media #{$small-only} {
            @include grid-column(12);
        }
    }

    .cta-join {
        @include grid-column(5, $float: right);
        width: 49%;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1.2rem;
        @media #{$small-only} {
            @include grid-column(12);
        }
    }

    .text-partial > p {
        padding: 0;
        margin: 0;
    }

    .bingo__rooms {
        @include grid-column(12);
        margin: 0 auto;

        li {
            @include grid-column(3, $float: left);
            width: 22%;

                @media #{$small-only} {
                    @include grid-column(12);
                    width: 100%;
                    margin: 0 auto;
                    padding: $site-margin;
                }

            img {
                border-radius: 5px;
            }

            a.cta-join {
                width: 100%;
            }
        }
    }
}