.edit-point{
	z-index: 999;
position: absolute;
display: block;
background-color: white;
line-height: 20px;
padding: 3px 6px 3px 6px;
opacity: 0.6;
box-shadow: 1px 1px 2px 1px #333;
color: #444 !important;
font-family: sans-serif !important;
font-weight: bold !important;
text-transform: uppercase !important;
font-size: 12px !important;

&:hover{
	background-color: #f3f3f3;
	color: #000 !important;
	text-decoration: underline;
	opacity: 0.8;
}

}