.progressive-jackpots__wrapper {
@extend %progressive-jackpots--content--wrapper;

    img.hub-shape-holder {
        // fix for stopping scale issue by using an html image element
        top: 0px;
        left: 0px;
        position: absolute;
        z-index: -1;
    }

    .progressive-jackpots {
        position: relative;

        .progressive-jackpots__title {
            h1 {
             @extend %progressive-jackpots--content--heading;
            }
        }

        .bx-viewport {
            min-height: 350px;
            overflow: hidden;
        }

        .progressive-jackpots__progressive {
       
       @extend  %progressive-jackpots--content--background;

            .progressive-jackpots__progressive__icon {
                cursor: pointer;

                img {
                    border-radius: 5px;
                }
            }

            .progressive-jackpots__progressive__title {
            @extend %progressive-jackpots--content--title;

                > span {
                    //text style
                    font-family: $body-font-bold;
                    height: 100%;
                    font-size: 100%;

                    > a {
                        color: #5b5b5b;
                    }
                }
            }

            .progressive-jackpots__progressive__amount {
                text-align: center;
                height: 54px;

                > span {
                    //text style
                  @extend %progressive-jackpots--content--cta;
                    > a {
                      @extend %progressive-jackpots--content--cta--color;
                    }
                }
            }

            .progressive-jackpots__progressive__cta {
                cursor: pointer;
                text-align: center;
                height: 25%;

                > span { 
                     @extend %progressive-jackpots--content--cta--button;

                    &:hover {
                       
                    }

                    > a {
                        color: $white;
                    }
                }
            }
        }
    }
}

//banner in the right sidebar
.two-columns-content-wrap__right {
    .banner {
        margin-bottom: $site-margin;
    }

    article {
        margin-bottom: $site-margin;
    }
}

// adjust widths for sidebar version of widget only use this below for colum widths no other styles
.progressive-jackpots__progressive {
    @media #{$small-only} {
        @include grid-column(12, $collapse: true);

        /* Portrait small phone make 1 per line */
        @media only screen and (min-device-width: 100px) and (max-device-width: 380px) and (orientation: portrait) {
            @include grid-column(12, $collapse: true);
        }
    }

    .progressive-jackpots__progressive__icon {
        @include grid-column(5, $collapse: true);
    }

    .progressive-jackpots__progressive__title {
        @include grid-column(7, $collapse: true);

        span {
            @include grid-column(12, $collapse: true, $center: true);
        }
    }

    .progressive-jackpots__progressive__amount {
        @include grid-column(7, $collapse: true);

        span {
            @include grid-column(12, $collapse: true, $center: true);
        }
    }

    .progressive-jackpots__progressive__cta {
        @include grid-column(7, $collapse: true, $float: right);

        span {
            //button style
            @include grid-column(3, $collapse: true, $center: true);
        }
    }
}