.win-feed {
    @include grid-row;
    margin-bottom:10px;

    .win-feed__slots {
        @include grid-column(12);
        background-color: #f0f5f6;
        height:258px;
    }

    h1 {
        font: bold em-calc(14px) "Helvetica Neue";
        text-align: center;

    }

    p {
    	font: em-calc(13px) "Helvetica Neue";
    	margin:0px;
    	padding-bottom:5px;
    }


}

    .win-feed__slots__winner {
     @include grid-column(12);   

          .win-feed__slots__user {
         @include grid-column(3); 
          border-bottom:1px #adbdc9 solid;
          font: em-calc(13px) "Helvetica Neue";
              padding-top:3px;
        padding-bottom:3px;
          
        }
         .win-feed__slots__game {
         @include grid-column(6);  
          border-bottom:1px #adbdc9 solid;
         font: em-calc(13px) "Helvetica Neue";
              padding-top:3px;
        padding-bottom:3px;

        }
        .win-feed__slots__amount {
         @include grid-column(3);    
          border-bottom:1px #adbdc9 solid;
         font: em-calc(13px) "Helvetica Neue";
         text-align:right;
              padding-top:3px;
        padding-bottom:3px;
        }
    }