.nav-for-mobile {
    @include hide-for-large-up;

    @include transition(all, 0.2s ease-out);

    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;

    @include opacity(1);

    height: initial;
  background-image: linear-gradient(-180deg, $theme--ui--pink1 3%,$theme--ui--pink4 100%);



    overflow-scrolling: touch;

    &.sticky {
        top: -50px;
        position: fixed;

        @keyframes sticky {
            from {
                top: -50px;
            }

            to {
                top: 0px;
            }
        }

        animation: sticky 0.2s normal forwards ease-out;
    }

    .site-logo {
        @include show-for-medium-only;

        @include grid-column(4);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-top: 3px;
        margin-left: 15px;
    }

    .site-logo-mobile {
        @include show-for-small-only;

        width: 55px;
        float: left;
        background-repeat: no-repeat;
        background-size: 90%;
        margin: 2px 8px 0 6px;

        @media screen and (max-width: 319px) {
            display: none;
        }
    }

    .site-logo-mobile-logged-out {
      @include show-for-small-only;

      width: 70px;
      float: left;
      background-repeat: no-repeat;
      background-size: 100%;
      margin-left: 3px;

      @media screen and (min-width: 375px) and (max-width: 425px) {
        width: 100px;
        margin-left: 4%;
      }
    }
}

.balance-display {
    border: 2px solid #957cd0;
    border-radius: 4px;
    width: auto;
    float: left;
    padding: 0 24px 0 9px;
    line-height: 2;
    margin: 10px 0;
    background: url("/_images/common/mobile-menu-icons-svg/arrow-icon.svg") no-repeat center right 7px;
    cursor: pointer;

    @media #{$medium-only} {
        float: right;
        margin: 8px 15px;
        line-height: 2.2;
    }

    @media #{$small-only} {
        font-size: 0.8rem;
        background: url("/_images/common/mobile-menu-icons-svg/arrow-icon.svg") no-repeat center right 3px;
    }

    @media screen and (max-width: 319px) {
        margin-left: 10px;
    }

    &.active {}
}

.icons-menu {
    float: right;
    margin-right: 10px;
    margin-left: 5px;
    width: auto;

    .account-icon {
        margin: 0 10px 0 13px;
        padding: 0;
        background: none;
        float: left;

        @media #{$medium-only} {
            margin: 0 15px 0 19px;
        }

        img {
            width: 22px;
            height: 50px;
        }

        &.active {}
    }

    .mail-icon {
        float: left;
        position: relative;

        img {
            width: 27px;
            height: 50px;
        }

        .mail-value {
            // display: block !important;
            position: absolute;
            background: #FF00AA;
            border-radius: 50%;
            right: -10px;
            width: 20px;
            height: 20px;
            line-height: 1.5;
            top: 5px;
            float: left;
            color: white;
            text-align: center;
            font-family: $body-font-bold;
        }
    }

    .search-icon {
        float: left;
        position: relative;
        margin: 0;
        padding: 0;
        background: none;

        img {
            height: 50px;
            width: 23px;
        }
    }
}
