.navigation__container {
    @media #{$large-up} {
        @include grid-column(12);

        padding: 0;
        position: absolute;
        top: 100px;
    }

    .navigation-desktop {
        @include show-for-large-up;

        @include grid-column(12, $center: true);

        // background-image: linear-gradient(0deg, #DBD9D9 0%, #FBFBFB 100%);
        background: $theme--ui--white;

        .navigation-desktop__nav {
            @include grid-row;

            @include list-inline;

            margin: 0 auto;
            height: 49px;
            padding-left: 280px;
            position: relative;
            padding-top: 11px;

            > li {
                margin-right: 10px;
            }

            &__tagline {
                position: absolute;
                top: -70px;
                right: 338px;
                background-image: url("../_images/logo/tagline.png");
                width: 406px;
                height: 51px;
            }
        }

        .navigation-desktop__nav li a {
            @extend %navbar--items--link;

            &.current {
                @extend %navbar--items--current;
            }

            &:hover {
                @extend %navbar--items--hover;
            }
        }

        .nav-social-icons {
            position: absolute;
            right: 0;
            top: 10px;

            li {
                margin: 0;
                margin-left: 3px;

                a {
                    padding: 0;

                    &:hover {
                        padding: 0;
                        opacity: 0.7;
                        background: none;
                        box-shadow: none;
                    }
                }

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}