// games content part 1

.games-content {
    h1 {
        @include grid-column(12);
        color: $main-highlight-color;
        padding-left: 0px;

    }
    .section .section__title {
        @include grid-column(10, $collapse: true);
        font-size: 1.1em;
        font-family: $title1-font;
        color: $main-highlight-color;
        background-color: transparent;
        border: none;
        margin-top: $site-margin;
        text-transform: uppercase;
        @media #{$small-only} {
            padding-left: 10px;
        }
        a {
            color: $main-highlight-color;
            font-size: 1.1em;
            text-transform: uppercase;
            @media #{$small-only} {
                font-size: 0.65em;
            }
        }
        a:hover {
            color: #0398b2;
            text-decoration: underline;
        }
    }
}

.separator {
    @include grid-column(12);
    height: 30px;
}

.games-content__title {
    .games-content__title__title1 {
        @include grid-column(8);
        h1 {
            @include grid-column(2);
            font-family: $title-section !important;
            font-size: 2em;
        }
    }
}

// content games part1

.games-content__part1 {
    @include grid-row;
    height: auto;
    margin-bottom: 30px;
    @media #{$medium-only} {
        margin-bottom: 10px;
    }
    @media #{$small-only} {
        margin-bottom: 7px;
    }
    .games-content__part1__left {
        @include grid-column(4);
        @media #{$small-only} {
            @include grid-column(12);
        }
    }
    .games-content__part1__center {
        @include grid-column(4);
        @media #{$small-only} {
            display: none;
        }
    }
    .games-content__part1__right {
        @include grid-column(4);
        @media #{$small-only} {
            display: none;
        }
    }
}

// games content part 2

.games-content__part2 {
    @include grid-row;
    height: auto;
    margin-bottom: 20px;
    .games-content__part2__left {
        @include grid-column(4);
    }
    .games-content__part2__center {
        @include grid-column(4);
    }
    .games-content__part2__right {
        @include grid-column(4);
    }
}

// content hub bottom

.main-content-hub__bottom {
    @include grid-column(12, $collapse: true);
    height: auto;
}