#magicalMenu {
    display: inline;
    padding: 0;
    @include grid-column(2, $collapse: true);
    @media #{$small-only} {
        @include grid-column(4, $collapse: true);
    }
    margin-left: 5px;
    > a {
        // background-color: darken(#038399,10%);
        @include background-image(linear-gradient(bottom, #fa733e 0%, #f7a300 100%));
        // gradient overlay
        font-size: 14px;
        width: 100%;
        height: 36px;
        margin: 0 auto;
        margin-top: 5px;
        border-radius: 1px;
        border-radius: 2px;
        display: block;

        align-items: center;
        justify-content: center;
        &:hover {
            @include background-image(linear-gradient(bottom, lighten(#fa733e, 10%) 0%, #f7a300 100%));
            color: $white;
        }
    }
}

.games-filter-menu {
    position: relative;
    color: lighten(#e90088, 5%);
    font-family: $body-font-regular;
}

.games-filter-menu__popover {
    display: none;
    position: absolute;
    left: -1px;
    z-index: 99999999;
    height: auto;
    width: 340px;
    background-color: #038399;
    // layer fill content
    @include box-shadow(0 2px 2px $black);
    @include opacity(0.98);
    border-top: none;
    text-transform: uppercase;
    .tabs {
        @include grid-column(12, $collapse: true);
    }
    > dl > dd a, .tabs .tab-title a {
        color: $white;
        display: block;
        background-color: $ctacolor;
        &:hover {
            background-color: transparent;
            text-decoration: underline;
            display: block;
            color: $white;
        }
        &:active {
            text-decoration: underline;
            display: block;
            background-color: darken(#038399, 10%);
            color: $white;
        }
    }
    > dl > dd.active a, .tabs .tab-title.active a {
        background-color: #23BABE;
        color: $white;
        display: block;
        &:hover {
            display: block;
            color: white;
            padding-top: 1px;
            color: $white;
        }
    }
    > dl > dd {
        @include grid-column(4, $collapse: true);
        text-align: center;
        height: 44px;
        color: $white;

        &:active {
            padding-bottom: 4px;
            a {
                font-size: 0.8em;
                color: $white;
                padding-top: 1px;
            }
        }
        a {
            font-family: $body-font-bold;
            padding: 1px;
            height: 44px;
            @include vert-align(44px);
            font-size: 0.8em;
            display: block;
            color: $white;
            padding-left: 0 !important;
            &:hover {
                display: block;
                background-color: darken($ctacolor, 10%);
                color: $white;
                padding-top: 1px;
            }
        }
    }
    .tabs-content {
        @include grid-column(12, $collapse: true);
        margin-bottom: 0px;
        color: $white;
        background: #003E70;
        .content {
            padding-bottom: 0.4em;
        }
        .content ul {
            padding-left: 2px;
            padding-right: 0;
            padding-top: 0em;
            padding-bottom: 0em;
            height: auto;
            @include clearfix;
            li {
                @include grid-column(4, $collapse: true);
                font-family: helvetica,arial,sans-serif;
                font-size: 0.9em;
                font-weight: bold;
                /* padding-right: 1em !important; */
                height: 44px;
                width: 29.8%;
                float: left;
                margin-bottom: 1em;
                background: transparent;
                margin-right: 5px;
                margin-left: 6px;

                @media #{$small-only} {
                    @include grid-column(4, $collapse: true);
                    margin-right: 0;
                    margin-left: 0;
                }
                a {
                    font-family: $body-font-bold;
                    display: block;
                    text-transform: uppercase;
                    border: 1px solid $white;
                    // background-color: #038399;
                    color: $white;
                    height: 44px !important;
                    line-height: 16px;
                    padding: 0.3em;
                    margin: 0.5em;
                    font-size: 0.7em;
                    // vertical align tricks
                    /* older webkit */
                    display: block;
                    align-items: center;
                    justify-content: center;
                    background-color: $ctacolor;
                    &:hover, &:focus {
                        // border: 1px solid $white;
                        background-color: darken($ctacolor, 5%);
                        color: $white;
                    }
                }
            }
        }
        .content-active {
            padding-bottom: 0px;
        }
    }
}

.mobile-menu .games-filter-menu__popover .tabs-content .content ul li {

    @media #{$medium-only} {
        width: 30% !important;
    }

    @media #{$small-only} {
        width: 32.5% !important
    }


}

//Themes
#ui-magic-myth,
#ui-food-and-fruit {
    @media #{$small-only} {
        padding-top: 14px;
    }
}

#ui-magic-myth,
#ui-animals-nature,
#ui-food-and-fruit {
    @media #{$medium-only} {
        padding-top: 14px;
    }
}

#ui-egyptian,
#ui-exclusive,
#ui-new,
#ui-featured {
    @media #{$small-only} {
        padding-top: 5px;
    }
}

//Publisher
#ui-novomatic,
#ui-eyecon,
#ui-igt,
#ui-netent,
#ui-microgaming,
#ui-play-and-go {
    padding-top: 14px;
    @media #{$small-only} {
        padding-top: 14px;
    }
}

#ui-daub,
#ui-scientific,
#ui-realistic {
    @media #{$small-only} {
        padding-top: 5px;
    }
}