.sortable {
    cursor: pointer;
    text-decoration: underline;

    a {
        color: $white;
    }
}

.ui-text-only-table {
    @media #{$large-up} {}

    .cta-play {
        background-color: $green;
        font-style: $body-font-bold;
        text-align: center;
        color: $white;
        text-transform: uppercase;
        padding: 5px;
    }
}