.games-menu {
    @include grid-column(12, $collapse: true);
    margin-bottom: 10px;

    @media #{$medium-only} {
        margin-bottom: 0px;
    }

    

    .games-menu__container {
        // border: 2px dotted $base-light-blue;
        padding: 0em;
        padding-left: 3px;
        position: relative;
    }

    .search-input {
        @media #{$medium-up} {
            @include grid-column(2, $collapse: true);
        }
    }

    &.custom-hide-for-mobile {
        @media #{$medium-only} {
            display: none;
        }

        @media #{$small-only} {
            display: none;
        }
    }
}

.games-menu__games-nav {
    @include grid-column(12, $collapse: true);

    margin-left: 0px;
    margin-bottom: 0px;
    height: 54px;
    padding-top: 4px;

    ul {
        @include grid-column(12, $collapse: true);

        @include list-inline;

        margin-left: 0px;
        padding: 0px;
    }

    li {
        @include grid-column(2, $collapse: true);

        width: 19.66%;
        border: none;
        text-align: center;
        margin-right: 0em;
        font-family: $title1-font;
        color: $yellow-light-bg;
        font-size: 1em;
        text-shadow: none;
        list-style: none;

        &.quicklinks {
            font-family: $body-font-bold;
            font-weight: normal;
            margin-left: 0px;
            width: 10%;
            border-left: none;
            background: none;
            color: $yellow-light-bg;
        }

        > a {
            color: $yellow-light-bg;
            font-weight: normal;
            padding-top: 0.3em;
            padding-bottom: 0.3em;
            display: block;
            font-size: 0.7em;
          
            background-color: $ctacolor;

     

       
            margin: 0.4em;
            border-radius: 3px;

            &.active, &:hover {
                // background-color: darken($base-blue, 5%);
                color: $white;
                display: block;
                background-image: none;
                border: none;
                background: lighten(#038399, 5%);

                @include box-shadow(0 0 0 0 #016c7f);

                // drop shadow
           
            }

            &.active {
                border: none;
            }
        }

        img {
            padding-right: 5px;
        }
    }

    .games-menu__games-nav__search {
        float: right;
    }
}

#allslots, #table-card, #scratchcards {
    @extend .hide-for-small;

    @extend .hide-for-medium;
}