.games-info {
    &.reveal-modal {
        @include grid-column(12);

        padding: $site-margin * 2;
        overflow-y: auto;
        max-height: 100%;
        -webkit-overflow-scrolling: touch;

        @media #{$small-only} {
            min-height: 100% !important;
            margin-top: 0 !important;
            top: 0 !important;
            left: 0 !important;
            transform: none !important;
            overflow: visible;
            overflow-y: scroll;
            height: 100% !important;
            padding: 0;
        }
    }

    .close-reveal-modal {
        top: 0.025rem !important;
        right: 0.325rem !important;
        z-index: 11 !important;

        @media #{$small-only} {
            top: 0em;
            right: 0;
            color: $white;
        }
    }
}

.game-detail-modal {
    @include grid-column(12);

    height: auto;
    font-family: $body-font-regular;
    background: $white;
    padding: 0;

    // background-color: $yellow-banana;

    .game-detail-wrap__title-bar {
        @include grid-column(12);

        background-color: $base-blue;
        position: relative;
        z-index: 10;
        padding: 0;
        overflow: visible;

        h1 {
            @include vert-align(38px);

            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: visible;
            font-family: $title1-font;
            color: $yellow-light-bg;
            font-size: 1.4em;
            text-transform: uppercase;
            padding: 0 $site-margin;
            margin: 0;
            z-index: 5;
            overflow: visible;

            @media #{$small-only} {
                font-size: 1em;
            }
        }
    }

    .game-detail-content {
        @include grid-row;

        @media #{$small-only} {
            margin-top: 37px;
        }

        // margin-bottom: $site-margin;

        .game-detail-content__right {
            @include grid-column(4, $float: right, $last-column: true);

            background-color: white;
            padding: $site-margin;

            @media #{$medium-only} {
                @include grid-column(12);

                padding: $site-margin;
                margin: 0;
            }

            @media #{$small-only} {
                @include grid-column(12);

                padding: $site-margin;
                margin-bottom: $site-margin;
            }

            img {
                width: 100%;
            }

            > article.login-box > h1 {
                font-size: 1em;
                margin-top: $site-margin / 2;
                margin-bottom: $site-margin / 2;
                line-height: 1.9;
            }

            .login-box {
                margin-top: $site-margin;

                .cta-login {
                    font-size: 1.0em;
                    margin-top: 12px;
                    padding: 12px;
                    height: auto;
                }
            }
        }

        .game-detail-content__left {
            @include grid-column(8, $float: left);

            width: 65%;
            margin: 1%;
            margin-right: 0;
            padding: 0;

            @media #{$medium-only} {
                @include grid-column(12);

                padding: 0;
                margin: 0;
            }

            @media #{$small-only} {
                @include grid-column(12);

                padding: 0;
                margin-top: 37px;
                margin: 0;
            }

            position: relative;

            .play-now-button {
                width: 130px;
                height: 150px;
                top: 50% !important;
                left: 50% !important;
                margin-left: -65px;
                margin-top: -75px;
                z-index: 99999;
                position: absolute !important;
            }

            .overlay {
                position: absolute;

                @include grid-column(12, $float: left);

                @include opacity(0.6);

                height: 100%;
                background-color: #000;
                z-index: 2;
                text-align: center;
            }

            img {
                width: 100%;

                // height: 100%;
                @include opacity(1);
            }

            .game-detail-content__left__thumbnails {
                @include grid-column(4);

                @media #{$small-only} {
                    @include grid-column(6);
                }

                padding-left: $site-margin;
                padding-top: $site-margin;
            }
        }
    }

    .game-detail__description {
        @include grid-column(12, $last-column: true);

        line-height: 22px;
        font-family: $title1-font;
        height: auto;
        overflow: hidden;

        p {
            font-family: $body-font-regular;
            font-size: rem-calc(12px);
            color: $grey-dark;
            margin-bottom: $site-margin / 2;
        }

        h3 {
            color: $base-blue;
            font-family: $title1-font;
            font-size: 1.2em;
            margin-bottom: 10px;
            padding: 5px 0;
            margin-top: 0px;

            // background-color: $base-blue;
            text-transform: uppercase;
            font-style: initial;
            border-bottom: 1px solid $yellow-dark;
        }

        a {
            color: $base-red;
        }

        a:hover {
            color: $base-red-dark;
        }
    }

    .game-detail-content__right__game-table {
        font-size: 15px;
        color: $grey-dark;

        ul {
            list-style: none !important;
            margin: 0  !important;
        }

        > li {
            font-size: rem-calc(12px);
            border-bottom: 1px solid $grey;

            @include vert-align(44px);

            @media #{$medium-only} {
                @include vert-align(34px);
            }

            > span {
                padding-right: $site-margin;
                width: 95px;
                display: inline-block;
                color: $black;
            }
        }
    }
}