//single post main content

.content-wrap {
    @include grid-row;
}

.wrap-left {
    @include grid-column(8, $collapse: true);
    height: auto;
    margin-bottom: 10px;
    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
    }
}

.game-wrap {
    @include be-box($white, solid, darken($yellow-dark, 5%), 10px);
    @include clearfix;
    padding:10px;
    .game-top {
        @include grid-column(12, $collapse: true);
        h1 {
            @include grid-column(12, $collapse: true);
            padding:5px;
            font-size:1.5em;
            margin-bottom:10px;
        }
        .game-demo {
            @include grid-column(7, $collapse: true);
            @include be-image();
            float: right;
            width:56%;
            margin-right:10px;
        }
    }
    .game-top__info {
        @include grid-column(5, $collapse: true);
        font-family:$body-font-regular;
        padding: 0 0 0 10px;
        margin-bottom:0px;
        .game-top__img {
            @include grid-column(12, $collapse: true);
            @include be-image();
            width:90%;
            }
        .game-top__details {
            @include grid-column(12, $collapse: true);
            margin-left:0px;
            margin-top:5px;
            margin-bottom:0px;
            letter-spacing: 0px;
            list-style-type: none;
         li span{
            font-family:$body-font-bold;
            color:$base-light-blue;
            padding-right:5px;
            display: inline-block;
         }    
            li {
            border-bottom: 1px solid #aac8cd;
            height: 19px;
            line-height: 19px;
            width:90%;
        }
    }

    }
    .game-bottom {
        @include grid-column(12, $collapse: true);
        padding: 10px;
    }
}

.wrap-right {
    @extend .show-for-medium-up;
    @include grid-column(4, $collapse: true);
    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
    }
    .promo-banner {
        @include grid-column(12, $collapse: true);
        .promo-banner__img {
            height: auto;
        }
        > h2 {
            @include grid-column(12);
            font: bold em-calc(14px) "Helvetica Neue";
            padding-top: 10px;
        }
    }
    .games-container {
        @include grid-column(12, $collapse: true);
        padding-bottom: 15px;
        > h2 {
            @include grid-column(12);
            font: bold em-calc(14px) "Helvetica Neue";
            padding-top: 10px;
        }
        .games-container__double {
            @include block-grid($base_style: true, $per_row: 2, $spacing: 5px);
            height: auto;
            overflow: visible;
        }
    }
    .new-offer-container {
        @include grid-column(12, $collapse: true);
    }
}