.games-list {
    font-size: 1rem;
    margin-bottom: 24px !important;
    @include grid-column(12, $collapse: false, $float: left);
    padding: $site-margin * 1.2;
    background: #FFFCF5;
    border: 1px solid #F4E7C0;
    font-size: 1rem;
    width: 100%;
    height: auto;
    padding: $site-margin * 1.2;
    padding-top: $site-margin;
    padding-bottom: 0px !important;
    margin-bottom: $site-margin;

    .section__header {
        margin-left: 7px;
        margin-right: 7px;
    }
    .section__title {
        margin-bottom: 7px !important;
        width: 100% !important;
    }

    .games-list__filter {
        float: left;
        @media #{$small-only} {
            @include grid-column(8);
            // padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(4);
            padding: 0px;
        }
        .games-list__filter__button {
            @include button($button-med, $primary-color, false, true, false, false);
            @include dropdown-button;
            @extend .expand!optional;
        }
        .button {
            font-size: 0.8em;
        }
    }
    .games-list__search {
        float: left;
        @media #{$small-only} {
            display: none;
        }
        @media #{$medium-up} {
            @include grid-column(6);
        }
    }
    .games-list__search-wrapper {
        float: left;
        @include grid-column(12);
    }
    .games-list__search-wrapper__left {
        float: left;
        @include grid-column(8);
    }
    .games-list__search-wrapper__right {
        float: left;
        @include grid-column(4);
        >span {
            // @extend .postfix;
            @include button($button-med, $grey, $global-radius, false, false, false);
            @extend .secondary!optional;
        }
    }
    .games-list__display-mode {
        float: left;
        @media #{$small-only} {
            padding-right: 0px;
            @include grid-column(4);
        }
        @media #{$medium-up} {
            @include grid-column(2);
        }
        >div {
            float: left;
            @include grid-column(6);
            padding: 0px;
            >a {
                @include button($button-med, $base-blue, false, true, false, false);
            }
        }
    }
    .games-list__grid {
        @include grid-column(12, $collapse: true);
        padding: 1px !important;
        margin-bottom: $site-margin;
    }
    .games-list__grid__child {
        padding: 7px !important;
        @media #{$small-only} {
            @include grid-column(6, $collapse: true);
        }
        @media #{$medium-only} {
            @include grid-column(3, $collapse: true);
        }
        @media #{$large-up} {
            @include grid-column(3, $collapse: true);
        }
    }
    .games-list__popular-games {
        .slick-slide {
            padding: 0.5em !important;
        }
    }
}

.home-games {
    padding-bottom: 14px !important;
    margin-bottom: 34px;
}

.section {
    &__action {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-top: 1px;

        &__item {
            float: left;
            margin-right: 0;
        }

        &__viewall {
            display: block;
            font-size: 0.8rem;
            margin-top: 2px;
            margin-right: 5px;
            color: $main-highlight-color;
        }

        &__toggle {
            display: block;
            width: 20px;
            height: 20px;
            margin-top: 3px;
            opacity: 0.3;
            cursor: pointer;

            svg {
                fill: $main-highlight-color;
            }

            &.toggle-grid-view {
                width: 16px;
                height: 16px;
                margin-top: 2px;
            }

            &:hover {
                opacity: 0.8;
            }

            &.active {
                opacity: 1;
                cursor: default;
            }

            @media #{$small-only} {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 641px) {
    .section {
        &__action {
            &__item {
                margin-right: 12px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}