// =============================================================================
// Game Details - SEO Page
// =============================================================================
.game-details-page {
    // @include grid-column(12);
    padding-top: $site-margin;
    height: auto;
    font-family: $body-font-regular;
    margin-bottom: $site-margin;

    @media #{$small-only} {
        @include grid-column(12, $collapse: true);

        padding-top: 0px;
        margin-top: 0px;
        border: none;
        margin-bottom: 0px;
    }

    .section__title {
        background-color: $main-highlight-color;
        font-size: 1.8em;
        color: $yellow-light-bg;
        padding: 1px 0px 1px 15px;
        margin-top: 0rem;
    }
    .two-columns-content-wrap__left {
        padding-right: $site-margin / 2;

        @media #{$medium-only} {
            padding-right: 0px;
        }

        @media #{$small-only} {
            padding-right: 0px;
        }
        height: auto!important;
    }

    .two-columns-content-wrap__right {
        padding-left: $site-margin / 2;
    }

    .game-detail-wrap__title-bar {
        @include grid-column(12, $collapse: true);

        width: 100%;
        font-family: $body-font-regular;
        text-transform: uppercase;
        color: $white;
        font-size: rem-calc(24px);
        background-color: black;

        @include vert-align(38px);

        margin-bottom: $site-margin;
        padding-left: $site-margin;

        @media #{$small-only} {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .game-details-content__wrapper {
        height: 100%;
    }

    .game-detail-content {
        @include grid-row;

        margin-bottom: $site-margin;
        padding: 10px;
        background-color: white;

        @media #{$small-only} {
            padding: 10px;
        }

        .game-detail-content__right {
            @include grid-column(5, $collapse: true);

            padding-right: 0px;
            background-color: white;

            @media #{$medium-only} {
                @include grid-column(6);
            }

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
            }

            img {
                width: 100%;
                margin-bottom: $site-margin;
            }

            > article.login-box > h1 {
                font-size: 1em;
            }

            > .cta-login {
                width: 45%;
                margin-bottom: 25px;
                float: left;
                margin-left: 10px;
            }

            > .cta-join {
                margin-bottom: 25px;
                width: 45%;
                float: left;
                margin-left: 7px;
            }
        }

        .game-detail-content__left {
            @include grid-column(7, $collapse: true, $float: left);

            @media #{$medium-only} {
                @include grid-column(6);
            }

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);

                width: 100%;
                margin-top: 0px;
                margin-bottom: $site-margin;

                img {
                    padding: 0px;
                }
            }

            position: relative;

            .play-now-button {
                position: relative;
                top: 22%;
                width: 135px;
                height: 150px;
            }

            .overlay-holder {
                position: relative;
            }

            .overlay {
                position: absolute;
                height: 100%;

                @include grid-column(12, $collapse: true, $float: left);

                @media #{$medium-only} {
                    @include grid-column(12, $collapse: true);
                }

                @media #{$small-only} {
                    @include grid-column(12, $collapse: true);
                }

                height: 100%;
                background-color: #000;

                @include opacity(0.8);

                z-index: 0;
                text-align: center;
            }

            img {
                width: 100%;
                height: auto;

                @include opacity(1);

                // padding-right: 10px;
           
            }

            .game-detail-content__left__thumbnail {
                @include grid-column(6, $collapse: true);

                @media #{$small-only} {
                    @include grid-column(6, $collapse: true);
                }

                padding-top: $site-margin;
            }
        }
    }

    .game-detail__wrap {
        @include grid-column(12, $last_column: true);

        line-height: 22px;

        p {
            font-family: $body-font-regular;
            font-size: rem-calc(12px);
            color: $grey-dark;
            margin-bottom: 18px;
        }

        h3 {
            color: $main-highlight-color;
            font-family: $title1-font;
            font-size: 1.2em;
            padding: 5px;
            margin-top: 0px;

            // background-color: $base-blue;
            text-transform: uppercase;
            font-style: initial;
            border-bottom: 1px solid $yellow-dark;
        }

        a {
            color: $brand-color;
        }
    }

    .game-icon-wrap {
        @include grid-column(4);

        @extend .hide-for-medium;

        @extend .hide-for-small;

        @media #{$medium-only} {
            @include grid-column(6);
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }

        img {
            width: 100%;
            margin-bottom: $site-margin;
        }
    }

    .game-detail-content__right__game-table {
        font-size: 15px;
        color: $grey-dark;
        font-family: $body-font-regular;
        margin-left: 0px !important;
        padding-left: 10px;
        padding-right: 10px;

        > ul {
            list-style: none !important;
        }

        > li {
            list-style: none;
            font-size: rem-calc(12px);
            border-bottom: 1px solid $grey;

            @include vert-align(30px);

            overflow: hidden;

            @media #{$medium-only} {
                @include vert-align(34px);
            }

            @media #{$small-only} {
                font-size: rem-calc(13px);

                @include vert-align(36px);
            }

            .game-detail-content__right__game-table__title {
                width: 90px;
                padding-right: $site-margin;
                display: inline-block;
                float: left;
                color: $main-highlight-color;

                @media #{$small-only} {
                    //width: 30%;
                }
            }

            .game-detail-content__right__game-table__provider {
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 60%;
                float: left;
            }
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);

            padding: 0;
        }
    }
}

.game-description {
    @include grid-column(12, $float: right, $last_column: true);

    margin-right: 0px;

    @media #{$medium-only} {
        @include grid-column(6);
    }

    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
    }

    p {
        font-family: $body-font-regular;
    }
}

.games-detail-page__bottom {
    .banner {
        margin-bottom: 1em;
    }
}

.game-review {
    background-color: $yellow-light-bg;

    .game-review__content {
        background-color: $white;
        padding: 10px 10px;

        p {
            font-family: $body-font-regular;
            font-size: 1em;
            padding-left: 5px;
            color: $grey-dark;
        }

        ._author-block {
            display: none;
        }
    }

    .game-review__content__title {
        @include grid-column(12, $collapse: true);

        background-color: $blue-background;
        line-height: 20px;
        padding: 10px;

        h1 {
            line-height: 0.4em;
            padding-top: 10px;
        }

        h1 small {
            font-family: $body-font-em;
        }

        > a {
            @include grid-column(8, $collapse: true);

            color: $base-blue;
            font-size: 0.38em;
            text-transform: uppercase;
        }

        .game-review__content__date {
            @include grid-column(4, $collapse: true);

            font-family: $title1-font;
            font-size: 0.32em;
            color: $main-highlight-color;
            text-align: right;
            margin-top: 10px;
        }
    }
}

.game-detail-content__aquisition {
    .text-partial {
        @include grid-column(12, $collapse: true);

        margin-top: 1.2em;
        border: 0px;
        background-color: transparent;
        text-align: center;
        padding: 8px 5px 8px 5px;
        border: 1px dashed $base-light-blue !important;
        margin-bottom: 0px;

        > h1 {
            font-size: 1.6em;
            color: #E44B0C;
            font-family: $title1-font;
            text-transform: capitalize;
            border: none;
            margin-bottom: 0px;
            padding: 8px;
            line-height: 18px;

            @media #{$small-only} {
                font-size: 1em;
            }
        }
    }

    .cta-login {
        @include grid-column(5, $float: left);

        width: 47%;
        margin-right: 10px;
        margin-top: 10px;

        @media #{$small-only} {
            @include grid-column(12);
        }
    }

    .cta-join {
        @include grid-column(5, $float: right);

        width: 47%;
        margin-top: 10px;

        @media #{$small-only} {
            @include grid-column(12);
        }
    }
}