.new-game-container {
    @extend .show-for-medium-up;
    @include grid-column(12, $collapse: true);
    @include be-box($white, solid, darken($yellow-dark, 5%), 0);
    height: auto;
    padding: 10px;
    h2 {
        @include grid-column(12);
        padding-bottom: 10px;
    }

    .cta-button {
        @include grid-column(5);
        float: right;
        margin: 15px 28px 10px 20px;
        @include CTA-button;
        @media #{$medium-only} {
            @include grid-column(12, $collapse: true);
            margin:0px;
        }
    }

    .new-game {
        @include grid-row;
        overflow: inherit;
        .game-img {
            @include grid-column(5);
            @media #{$medium-only} {
                @include grid-column(12, $collapse: true);
                width: auto;
                padding: 0px;
            }
            img {
                height: 140px;
                @include be-image;
                display: block;
                @media #{$medium-only} {
                    height: auto;
                    margin-bottom: 5px;
                }
            }
        }
        .game-info {
            @extend .show-for-large-up;
            @include grid-column(7);
        }
    }
    
}