/**
*   Parts of styling taken from _games-filter-menu.css
*/

.filter-tabs {
    padding: 2px 0;

    &__heading {
        display: table;
        table-layout: fixed;
        margin: 0;
        width: 100%;

        &__item {
            display: table-cell;
            height: 44px;
            @include vert-align(44px);
            margin: 0;
            background: #6F37A1;
            border-right: 2px solid #4E2375;
            color: $white;
            font-family: $ui-font-bold;
            font-size: 0.7em;
            text-align: center;

            &:first-child {
                border-left: 2px solid #4E2375;
            }

            &:hover {
                background: #6F37A1;
                color: $white;
            }

            &.active {
                background: none;
                color: $white;
            }
        }

        &__link {
            padding-left: 0 !important;
            text-shadow: none;
            text-decoration: none;

            &:hover,
            &:active {
                color: $white;
                text-decoration: none;
            }
        }
    }

  &__content {
    padding: 10px 0;

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    &__item {
      display: none;

        &:after {
            content: '';
            display: table;
            clear: both;
        }

      ul {
        margin: 0;
        padding: 0;

        li {
            float: left;
            width: 33.3333333333%;
            height: 50px;
            margin: 0 0 8px;
            padding: 0 5px;
        }

        a {
            padding: 0 !important;
        }
      }

      &.active {
        display: block;
      }
    }
  }
}

/* Override */
.filter-tabs .filter-tabs__content__link {
    height: 44px !important;
    font-size: 0.8125em !important;
    line-height: 13px;
    text-transform: capitalize;
    text-shadow: none;
    text-align: center;
    padding: 0 8px;
    background: #6F37A1;
    border: 1px solid #6F37A1;
    color: #fff;
    display: block;
    position: relative;

    span {
        display: block;
        width: 100%;
        position: absolute;
        top: 47%;
        transform: translateY(-50%);
        text-align: center;
    }
}

.filter-tabs .filter-tabs__heading .filter-tabs__heading__link {
    text-align: center;
    font-size: 1.25em;
}

.filter-tabs .filter-tabs__heading__item.active .filter-tabs__heading__link {
    color: #FED500;
}