@media #{$large-up} {
    .main-content {
        &.registration {
            padding-top: 0;
        }
    }
}
.header--register3step {
    .nav-for-mobile {
        display: none !important;
    }
    .footer {
        display: none;
    }
}
.registration-3step {
    @include grid-column(12);
    padding: 0;
    z-index: 999999;
    top: 0;
    height: 100%;
    background: $registration-3step-bg--base;
    overflow: hidden;


    .banner {
        a.edit-point {
            margin: 35px 15px !important;
        }
    }
}

   .header-register {
        @include grid-column(12);
        background: $lucky-point;
        padding: 0;
        top: 0;
        height: 75px;
        text-align: center;
        display: block !important;
        z-index: 2;
        position: fixed;

        .wrapper {

            @media #{$large-up} {
                position: relative;
                width: 33.5rem;
                margin: 0 auto;
            }

            @media #{$medium-only} {
                position: relative;
                width: 33.5rem;
                margin: 0 auto;
            }
    
            h1 {
                display: inline-block;
                color: $white;
                line-height: 2.8;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: normal;
                padding-top: 14px;

                @media #{$large-up} {
                    font-size: 22px;
                    padding-top: 5px;
                }
            }
            .register-logo {
                background: url("/_images/common/header/header-logo.png") no-repeat center center;
                background-size: 100%;
                position: absolute;
                left: 8px;
                top: 10px;
                width: 90px;
                height: 58px;
                cursor: pointer;

                @media #{$large-up} {
                    top: 8px;
                    width: 110px;
                    height: 60px;
                }
            }

            .register-login-cta {
                display: inline-block;
                position: absolute;
                background-image: linear-gradient(to top, $biloba-flower 0%, white 100%);
                color: $gulf-blue;
                width: 80px;
                height: 24px;
                top: 27px;
                right: 10px;
                border-radius: 50px;
                font-family: uni_sans_bold,Helvetica,Arial,Verdana,sans-serif;
                font-size: 13px;
                text-transform: uppercase;

                &:hover {
                    background: $bright-turquoise;
                }
            }
        }
    }

.registration-3step .content .banner {
    @media #{$medium-only} {
        padding-top: 0 !important;
    }
}

.registration-3step .content .banner img {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: -5px !important;
}

#join-now {

    .banner {
        a.edit-point {
            @media #{$small-only} {
                margin: 0 !important;
            }

            
            
        }
    }

  
    .registration-3step .content .banner img {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-top: -5px !important;
    }
}
