.forgotpass__wrapper{
	font-size:1rem;
	@media #{$medium-up} {
	@include grid-column(12, $collapse:true,  $center:true);
	margin-left:auto;
	margin-right:auto;
	margin-top:3em;
	}
	p{
		font-size: 0.9em;
	}
}

.forgotpass__input{
	@media #{$medium-up} {
	@include grid-column(6, $collapse:true,  $center:true);
	margin-left:auto;
	margin-right:auto;
	}
}


// Forgotten password button.
#btn_submit_forgotpass {
    color:$luckyvip--darknavy;
    background:$luckyvip--dodger-blue;
    font-family: $ui-font-bold;
    font-size: $theme--ui----desktop--fontsize;
    &:hover {
        background:$luckyvip--mercury;
    }
}