.player--verification {
	margin-bottom: rem-calc(80px);

		article:nth-child(1) > h1 {
		display: none;
	}

	.player--verification_title {
			@media #{$medium-only} {
		    	text-align: left;
		    	padding-left: rem-calc(20px);
		    }

		    @media #{$small-only} {
		    	font-size: rem-calc(25px);
		    }
		}
}

