.loyalty {
    a {
        border-bottom: solid 1px $main-highlight-color;
        padding-bottom: 2px;
    }

    .even {
        background-color: white;

        td {
            font-weight: bold;

            a {
                color: $main-highlight-color;
            }
        }
    }
}

.odd td {
    border-bottom: 1px solid #f0efef;
    border-top: 1px solid #f0efef;
    font-weight: bold;

    a {
        color: $main-highlight-color;
    }
}

.loyalty__col {
    text-align: center;
}

.left-col-captions,
.loyalty__col-heading {
    text-align: right;
}

.loyalty-top {
    @include grid-row;

    background: white;
    padding: 0;
    margin-bottom: $site-margin;

    .loyalty-left {
        @include grid-column(12, $collapse: true, $float: left); // margin-bottom: $site-margin;
        @include clearfix;

        @media #{$medium-only} {
            @include grid-column(12, $collapse: true, $float: left);
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true, $float: left);

            margin-bottom: 0;
        }

        .text-partial {
            margin-bottom: 0;

            p {
                @media #{$medium-only} {
                    margin-bottom: 0;
                }
            }

            .text-partial-content {
                @media #{$medium-only} {
                    padding: 20px 20px 8px 20px;
                }
            }
        }
    }

    .loyalty-right {
        @include grid-column(3, $collapse: true, $float: right); // margin-bottom: $site-margin;
        padding-left: $site-margin / 2;

        @include clearfix;

        @media #{$medium-only} {
            @include grid-column(4, $collapse: true, $float: left);

            padding-left: $site-margin / 2;
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true, $float: left);
        }
    }
}

table.loyalty {
    width: 100% !important;

    @include grid-column(12, $collapse: true);

    th {}

    td {}
}

.loyalty-vip-wrap {
    @include grid-column(12);
    max-height: 262px;
    padding: 0;
    margin-bottom: $site-margin;
    background-color: #EEF1F5;
    list-style: none;
    border-image-slice: 1;

    @media #{$medium-only} {
        // @include grid-column(6);
        padding: 0;
        width: 45.5%;
        float: left;
        min-height: 662px;
    }

    @media #{$small-only} {
        width: 90% !important;
        height: auto;
        margin: 18px;
        max-height: none;
    }

    .loyalty-vip-img {
        // @include grid-column(5, $collapse:true);
        // width: 40%;
        // padding: 0;
        width: 34.9%;
        float: left;

        @media #{$medium-only} {
            width: 100%;
            padding: 0;
        }

        @media #{$small-only} {
            @include grid-column(12);
            padding: 0;
        }
    }

    .loyalty-vip-content {
        // @include grid-column(7);
        width: 65.1%;
        float: left;
        padding: rem-calc(30px);
        overflow: hidden;
        max-height: 262px;


        @media #{$small-only} {
            @include grid-column(12);
            padding: 0;
            overflow: visible;
            max-height: none;
        }

        @media #{$medium-only} {
            @include grid-column(12);
            width: 100%;
            padding: 0;
        }

        .text-partial {
            margin: 0;
            background: none;
            border: none;
        }
    }
}

.loyalty__terms-conditions {
    @include grid-column(12);

    padding: 0;
    margin-bottom: $site-margin;
    font-size: rem-calc(14px);

    .accordion-navigation {

        a {
            background: #e3e3e3;
            font-family: $font-copy;
            color: #3d3d3d;

            &:hover {
                background: darken(#e3e3e3, 5%);
            }
        }

        &.active {
            background-color: #ffffff !important;
        }

        .content.active {
            background: $white !important;
        }
    }
}

#loyalty {
    .middle-content__box h1 {
        padding-top: 0;
        @media #{$medium-only} {
            padding-bottom:0;
        }
        @media #{$small-only} {
            text-align: left;
            padding-left: rem-calc(20px);
        }
    }

    .content-template {
        h4 {
            text-transform: uppercase;
            width: 100% !important;
            font-family: $font-header2;
            font-size: rem-calc(18px);
            padding-top: 0
        }

        .text-partial-content {
            @media #{$small-only} {
                padding: 0 20px 0 20px;
            }
        }
    }

    .loyalty-vip-wrap {
        @media #{$medium-only} {
            margin-left: 20px;
            margin-bottom: 40px;
        }

        h1 {
            text-transform: uppercase;
            width: 100% !important;
            font-family: $font-header2;
            font-size: rem-calc(18px);
            padding-bottom: 0.5rem;

            @media #{$small-only} {
                padding-top: 20px;
            }

            @media #{$medium-only} {
                padding-top: 29px;
                padding-bottom: 23px;
            }
        }

        .text-partial-content {

            @media #{$small-only} {
                padding: 0 20px 20px 20px;
                font-size: 15px;
            }
            @media #{$medium-only} {
                padding: 0 20px 20px 20px;
            }
        }
    }

    .tablet-align {
        @media #{$medium-only} {
            float: right;
            margin-right: 20px;
        }
    }

    .contact-us {
        em {
            float: left;

            &:nth-child(2) {
                padding-bottom: 10px;
            }
        }

        p:nth-child(2) {
            float: left;
        }
    }

    .tc-header {
        text-decoration: underline;
        text-align: center;
        text-transform: uppercase;
        background: white !important;
        color: #969696 !important;
        font-family: $font-button !important;
        font-size: 0.8125rem !important;
        padding-top: rem-calc(50px);

        @media #{$medium-only} {
            padding-top: rem-calc(11px);
        }

        &:active {
            background: none;
        }
    }

    #panelTC {
        font-family: $font-copy !important;
        li a {
            background: none;
            color: #92A7C0;

            &:hover {
                color: #d3dbe5;
            }
        }
    }

    img.banner {
        margin-top: 0;
    }
}