.loyalty {
    a {
        border-bottom: solid 1px $main-highlight-color;
        padding-bottom: 2px;
    }

    .even {
        background-color: white;

        td {
            font-weight: bold;

            a {
                color: $main-highlight-color;
            }
        }
    }
}

.odd td {
    border-bottom: 1px solid #f0efef;
    border-top: 1px solid #f0efef;
    font-weight: bold;

    a {
        color: $main-highlight-color;
    }
}

.loyalty__col {
    text-align: center;
}

.left-col-captions, .loyalty__col-heading {
    text-align: right;
}

.loyalty-top {
    @include grid-row;

    background: $regalwins--gray-darkest;
    padding: 0;
    margin-bottom: $site-margin;

    .loyalty-left {
        @include grid-column(9, $collapse: true, $float: left);
        background: $regalwins--gray-darkest;
        // margin-bottom: $site-margin;

        @include clearfix;

        @media #{$medium-only} {
            @include grid-column(8, $collapse: true, $float: left);
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true, $float: left);

            margin-bottom: 0;
        }

        .text-partial {
            margin-bottom: 0;
        }
    }

    .loyalty-right {
        @include grid-column(3, $collapse: true, $float: right);

        // margin-bottom: $site-margin;
        padding-left: $site-margin / 2;

        @include clearfix;

        @media #{$medium-only} {
            @include grid-column(4, $collapse: true, $float: left);

            padding-left: $site-margin / 2;
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true, $float: left);

            .banner {
                width: 100%;
                height: auto;
            }
        }
    }
}

table.loyalty {
    width: 100% !important;

    @include grid-column(12, $collapse: true);

    th {}

    td {}
}

.loyalty-vip-wrap {
    @include grid-column(12);

    padding: 0;
    margin-bottom: $site-margin;
    background-color: $regalwins--gray-darkest;
    border: none;
    list-style: none;
    
    @media #{$small-only} {
        border-left: 1px;
        border-right: 1px;
    }

    .loyalty-vip-img {
        @include grid-column(4);
        background: $regalwins--gray-darkest;

        padding: $site-margin;

        @media #{$medium-only} {
            padding-top: 30px;
        }

        @media #{$small-only} {
            @include grid-column(12);
            
            .banner {
                width: 100%;
                height: auto;
            }
        }
    }

    .loyalty-vip-content {
        @include grid-column(8);
        padding: $site-margin 0;
        background: $regalwins--gray-darkest;

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0;
        }

        .text-partial {
            margin: 0;
            background: none;
            border: none;

            h1 {
                font-size: $rw-header-secondary-size;
                line-height: $rw-header-secondary-line-height;
                text-transform: none;
                font-weight: bold;
                margin-top: 0;
                margin-bottom: 0
            }

            .text-partial-content {
                padding-bottom: 0;
            }

            p {
                line-height: $rw-body-line-height;
                font-size: $rw-body-font-size;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.loyalty__terms-conditions {
    @include grid-column(12);

    background:$regalwins--module-background;
    padding: 0;
    margin-bottom: 0;

    .accordion-navigation {
        a {
            display: none;
            background:$regalwins--module-background;
            font-family: $body-font-demi;
            color: #3d3d3d;
            padding: ($site-margin / 2) $site-margin;

            &:hover {
                background: darken(#e3e3e3, 5%);
            }
        }

        .text-partial {
            background: $white;
            margin-bottom: 0;
        }

        h1 { 
            color: $black !important;    // overrule body id usage in theme
            text-transform: none;
            font-size: $rw-header-secondary-size;
            line-height: $rw-header-secondary-line-height;
            font-weight: bold;
            margin-bottom: 0;
        }

        &.active {
            background: $regalwins--module-background;
        }

        .content.active {
            background: $white;
        }
    }
}


#loyalty {
    .two-equal-columns-layout__left {
        @media #{$small-only} {
            margin-bottom: 1rem;
        }
    }

    .text-image-top-partial {
        padding: 0;
        background: $regalwins--gray-darkest;
        border: 0;

        .text-image-top-partial__content__img {
            @media #{$medium-up} {
                margin-bottom: 1.5rem;
                float: none;
            }
        }

        a {
            color: $regalwins--highlight-gold;
            font-weight: bold;
            font-size: $rw-header-secondary-size;
            text-decoration: none;

            &:active, &:focus, &:hover {
                text-decoration: underline;
            }

            &:first-of-type {
                color: $white;
                text-decoration: none;
                font-size: $rw-body-font-size;
            }
        }

        p {
            font-size: $rw-body-font-size;
            margin-top: 1rem;
            margin-bottom: 0;

            &:last-of-type {
                margin-bottom: 1.5rem;
            }
        }
        
        table.responsive p {
            margin-top: 0;
        }

        h1 {
            font-size: $rw-header-secondary-size;
            line-height: $rw-header-secondary-line-height;
            text-transform: none;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 0.5rem;
        }
    }
    .section__title {
        display: none;
    }

    .loyalty__container__row {
        text-align: center;
    }

    .loyalty__container__button {
        float: none;
        margin: 0 auto;

        a {
            @include regalwins-button-gradient('true', 'green');
            width: unset;
            min-width: 200px;
            max-width: 375px;
            float: none;
            display: inline-block;
            margin: 0 auto;
        }
    }
}

#loyalty .middle-content__box.loyalty-wrapper {
    @media #{$medium-up} {
        padding-bottom: 2rem;
    }

    @media #{$large-up} {
        .content-template {
            padding: 0;
            margin-top: 0.5rem;
        }
    }

    .section {
        .loyalty-banner {
            width: 100%;
            height: auto;
        }
        
        .two-equal-columns-layout__left, .two-equal-columns-layout__right {
            .content-template {
                padding: 0;
                float: left;

                .text-image-top-partial__content__img {
                    @media #{$medium-up} {
                        max-width: unset;
                        margin-bottom: 0;
                        float: none;
                    }
                }

                .text-image-top-partial {
                    padding: 0;
                    border: 0;
                    background: transparent;

                    h1 {
                        font-size: $rw-header-secondary-size;
                        line-height: $rw-header-secondary-line-height;
                        text-transform: none;
                        font-weight: bold;
                        margin-top: 0;
                    }
                }
            }
        }

        .two-equal-columns-layout__left {
            @media #{$medium-up} {
                padding-right: 1rem;
            }
        }
        .two-equal-columns-layout__right {
            @media #{$medium-up} {
                padding-left: 1rem;
            }
        }
    }
}

