.login-box--loginpage {
    @include grid-row;

    background: $white;
    font-size: 1rem;
    padding: $site-margin !important;
    margin-top: 0 !important;
    float: left;

    > h1 {
        font-size: 1em;
    }

    > h4 {
        width: 100%;
        float: left;
        color: #513721;
        font-size: 16px !important;
        text-align: left !important;
        text-transform: uppercase !important;
        float: left;
    }

    > .login-box {
        @include grid-column(6);

        float: left;
        background-color: #E3F5FB;
        padding: $site-margin;

        @media #{$small-only} {
            @include grid-column(12);

            padding: 10px;
            width: 100%;
        }
    }

    > .login-box p {
        font-size: 12px;
        position: relative;
        color: #FF1CB2;
        top: 18px;
    }

    > .login-banner {
        @include grid-column(6);

        float: right;
        padding-left: $site-margin;


        @media #{$medium-only} {
            @include grid-column(6);

            padding-right: $site-margin;
        }

        @media #{$small-only} {
            @include grid-column(12);

            margin-top: $site-margin;
            width: 100%;
            padding-right: 0;
            padding-left: 0;
        }
    }

    > .forgot-password {
        a {
            color: white;
            text-decoration: underline;
        }

        margin-bottom: 0.5em;
    }

    .join-now-box {
        p {
            display: none;
        }
    }

    @include grid-column(12, $center: true);

    margin-top: $site-margin;
}

.login-box__input-wrapper input {
    @include input-box;

    border: none;
    padding-left: 35px !important;
    line-height: normal;
    height: 40px !important;
    float: left;
    margin: 0;
}

.cta-login {
    margin-bottom: $site-margin;
}

.login-box__username {
    height: 45px;
    position: relative;
    margin: 0;

    // margin-bottom: $site-margin / 2;

    img {
        position: absolute;
        top: 14px;
        left: 10px;
    }
}

.login-box__password {
    position: relative !important;
    margin: 0;

    img {
        position: absolute;
        top: 13px;
        left: 10px;
    }

    .login-box__show-password {
        position: absolute;
        top: 5px;
        right: 5px;

        .right {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 11px;
            color: $white;
            text-align: center;
            line-height: 2.1;
            padding: 1px;
            background-color: $ui-light-color;
            width: 49px;
            height: 25px;
            border-radius: 4px;
            text-transform: uppercase;

            &:hover {
                opacity: 0.8;
            }

            @media #{$small-only} {
                top: -6px;
            }
        }
    }

}

.cta-login-header {
    @include secondary-button-ui;

    @include grid-column(12);

    line-height: 1.2;
    font-size: 1.2rem;
    float: left;
}

.login-box__forgot-password {
    @include grid-column(12);

    padding: 0;
    position: relative;
    top: 0;
    text-align: center;
    font-size: 14px;
    margin-bottom: $site-margin / 2;
}

span.error, small.error {
    background: none;
    color: #f04124;
    font-style: normal;
    margin-bottom: $site-margin / 2;
}
a.error {
     text-decoration: underline;
     @extend span.error;
     
}

.login-box--in-page__register {
    @include grid-column(12);
}

.login-box__new-player {
    font-family: $body-font-medium;
    text-align: center;
    margin-top: 10px;
    float: left;
    width: 100%;
    color: #1D4775;
    font-size: 13px;
}
