#login-modal, #login-modal-more-info, #login-modal-deposit {
     //position: fixed !important;
     top: 50% !important;
     left: 50% !important;
     width: 370px !important;
     height: auto;
     margin: 0;
     padding: 6px !important;
     box-shadow: none !important;
     background: none;
     border: none;
     min-height: 0 !important;
     overflow: hidden;

     @media #{$small-only} {
          overflow: hidden;
          overflow-y: scroll;
     }

     //    @media #{$small-only} {
     //        @include grid-column(12);

     //        margin-top: 0 !important;
     //        border-radius: 0;
     //        width: 100% !important;
     //    }

     //    @media #{$medium-only} {
     //        @include grid-column(6);
     //    }

     //    @media #{$large-up} {
     //        @include grid-column(4);
     //    }

     .close-reveal-modal {
          color: #5820A9;
          cursor: pointer;
          font-size: 2.5rem;
          text-indent: 5000px;
          line-height: 1;
          position: absolute;
          top: 0px;
          right: 30px;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          padding-left: 11px;
          background: $white url(/_images/common/icons/login-close2.svg) no-repeat center center !important;
          z-index: 3;

          @media #{$small-only} {
               width: 40px;
               height: 40px;
               top: 0;
               right: 60px;
          }
     }

     .cta-login {
          width: 50%;
          float: right;
          font-size: 16px;
          text-shadow: none;
     }

     // @media #{$small-only} {
     //     width: 300px !important;
     // }

     .login-box__form-wrapper {
          .registercta {
               @include grid-column(6, $center: true);

               margin-top: $site-margin;
          }
     }

     .login-box {
          @include grid-column(12);

          float: left;

          .login-box__form-wrapper {
               @include grid-column(12, $center: true);

               z-index: 2;
               padding-top: 90px;
               position: relative;
               top: 10px;
               background: url(/_images/common/login-box/login-bground.svg) no-repeat bottom center;
               background-size: 350px;
               height: 340px;
               width: auto;

               @media #{$small-only} {
                    padding-top: 80px;
                    background-size: 280px;
                    height: 270px;
               }

               h1 {
                    font-size: 1.5em;
                    line-height: 1.8em;
                    font-family: $body-font-bold;
                    text-transform: uppercase;
                    color: $Blumine;
                    text-align: center;
                    margin-top: 0;
                    margin-bottom: 0;

                    @media #{$small-only} {
                         font-size: 1.1em;
                         line-height: 1.4em;
                    }
               }

               h2 {
                    font-size: 1.6em;
                    text-transform: uppercase;
                    color: $white;
                    text-align: center;
                    margin-top: 0;
                    margin: 0;
                    font-weight: normal;
                    text-transform: none;
               }

               form {
                    @include grid-column(9, $center: true);

                    input {
                         padding-left: 35px;
                         height: 2.8rem;
                         margin-bottom: 0.85em;

                         @media screen and (max-width: 340px) {
                              height: 2.5rem;
                         }

                         @media #{$small-only} {
                              margin-bottom: 0.45em;
                         }

                         // &[placeholder="User Name"] {
                         //     background: #FFF url(/_images/common/icons/login-username.svg) no-repeat 10px center !important;
                         // }

                         // &[placeholder="Password"] {
                         //     background: #FFF url(/_images/common/icons/login-password.svg) no-repeat 10px center !important;
                         // }

                         // .login-box__username img & {
                         //     position: absolute;
                         //     top: 0;
                         //     left: 0;
                         // }

                         // .login-box__password img & {
                         //     position: absolute;
                         //     top: 0;
                         //     left: 0;
                         // }

                    }

                    img {
                         position: absolute;
                         top: 15px;
                         left: 8px;

                         @media screen and (max-width: 340px) {
                              top: 12px;
                         }
                    }

                    input, select {
                         border-radius: 4px !important;
                         border-color: #999 !important;
                         border: none;

                         @include input-placeholder {
                              color: #999 !important;
                         }
                    }

                    span.error {
                         border-radius: 4px;
                         font-size: 11px;
                         line-height: 1;
                         text-align: center;
                         font-weight: bold;
                         position: relative;
                         color: $radical-red;
                         font-family: $body-font-medium;
                         background: none;
                         width: 100%;
                         top: -7px;
                         z-index: -1;
                         padding: 0;
                         margin: 0;
                         float: left;

                         &[data-bind="visible: LoginBox.invalidUsername"] {}

                         &[data-bind="visible: LoginBox.invalidPassword"] {}
                    }
                    a.error {
                         @extend span.error;
                         text-decoration: underline;
                         display: block;
                         color: $white;
                    }
               }
          }

          .cta-login-header {
               @include secondary-button-ui;

               @include grid-column(6);

               line-height: 0.6;
               font-size: 1.2rem;
               float: left;
               margin-left: 25%;
               margin-right: 25%;

               @media #{$small-only} {
                    font-size: 1rem;
                    // margin-top: -5px;
               }
          }

          .account-locked {
               font-size: 1em;
               color: #D8D8D8;
               margin-bottom: 0px;
               text-align: center;
               padding: 1em;
               line-height: 2;

               a {
                    font-weight: bold;
                    font-size: 1.2em;
                    color: #D8D8D8;
                    margin-bottom: 0px;
                    text-decoration: underline;
                    line-height: 1;
               }
          }

          .ribbon-left {
               background: url(/_images/common/login-box/ribbon-left.svg) no-repeat center center;
               width: 44px;
               height: 44px;
               position: absolute;
               top: 240px;
               left: 16px;
               z-index: 3;

               @media screen and (max-width: 340px) {
                    top: 200px;
                    left: 30px;
               }
          }

          .ribbon-right {
               background: url(/_images/common/login-box/ribbon-right.svg) no-repeat center center;
               width: 44px;
               height: 44px;
               position: absolute;
               top: 240px;
               right: 20px;
               z-index: 3;

               @media screen and (max-width: 340px) {
                    top: 200px;
                    right: 30px;
               }
          }

          // @media #{$medium-up} {
          //     @include grid-column(12);

          //     font-size: 1rem;
          //     margin-top: 0em;
          //     padding: $site-margin * 2;

          //     > h1 {
          //         font-size: 1.4em;
          //         family-font: $title-section !important;
          //         text-transform: uppercase;
          //         color: white;
          //         text-align: center;
          //         margin-top: 22px;
          //     }
          // }

          // @media #{$small-only} {
          //     @include grid-column(12);

          //     height: 300px !important;
          //     font-size: 1rem;

          //     > h1 {
          //         font-size: 1.3em;
          //         family-font: $title-section !important;
          //         text-transform: uppercase;
          //     }
          // }

          .login-banner {
               @include grid-column(7);

               padding: $site-margin;
               float: right;

               @media #{$small-only} {
                    @include grid-column(12);
               }

               img {
                    width: 100%;
               }
          }

          .login-box--loginpage {
               margin: 0;

               @media #{$medium-only} {
                    @include grid-column(5);

                    padding: 0;
               }

               @media #{$large-up} {
                    @include grid-column(5);

                    padding: 0;
               }
          }

          .login-box__input-wrapper {
               position: relative;

               input {
                    padding-left: 30px;
                    box-shadow: none !important;
               }

               .login-box__username {

                    @media #{$small-only} {
                         width: 200px;
                         margin: 0 auto;
                    }
               }

               .login-box__password {

                    @media #{$small-only} {
                         width: 200px;
                         margin: 0 auto;
                    }

                    img {
                         top: 20px;
                    }
               }

               .cta-login {
                    width: 50% !important;
                    text-shadow: none !important;
                    font-size: 16px;
               }
          }

          .login-box__show-password {
               top: 17px;
          }

          .login-box__forgot-password {
               position: relative;
               font-size: 12px;
               margin: 0;
               color: $global-link-color;
               font-family: $body-font-medium;
               text-align: center;
               width: 100%;
               float: left;
               line-height: 1;
               display: block;
               padding:  1em;

               @media #{$small-only} {
                    margin-top: 0;
               }
          }

          .login-box__forgot-password a {
               color: lighten($grey, 20%);
               margin-bottom: 1em;
               text-decoration: underline !important;
               display: block;
          }

          .join-now-box {
               @include grid-column(10);

               background-color: $white;
               color: $brand-color;
               font-weight: bold;
               padding: $site-margin / 2;
               border-radius: 5px;
               text-align: center;
               margin: 0 ($site-margin * 2);
               z-index: 0;
               position: relative;
               float: left;
               left: -35px;
               font-size: 16px;
               width: 100%;

               @media #{$small-only} {
                    border-radius: 5px;
                    text-align: center;
                    font-size: 16px;
                    margin-left: 61px;
                    width: 85%;
               }

               p {
                    margin: $site-margin / 2;
               }

               span {
                    @include grid-column(12);

                    p {
                         font-weight: bold;
                         line-height: inherit;
                         margin: 0;
                    }
               }

               .registercta {
                    @include grid-column(6);

                    margin: 0.4375rem 25%;
               }
          }
     }
}

// LOGIN MODAL DEPOSIT

#login-modal-deposit {
     width: 364px !important;

     @media screen and (max-width: 340px) {
          width: 320px !important;

          .close-reveal-modal {
               top: 0.625rem;
               right: 2.375rem;
          }

          .ribbon-left {
               left: 5px !important;
          }

          .ribbon-right {
               right: 5px !important;
          }
     }

     .login-box__last-login {
          text-align: center;
          color: $grey;
          font-size: 12px;
     }

     .login-password-img {
          top: 20px;
     }

     .login-box__balance {
          @include grid-column(10, $center: true);

          @include border-radius(4px);

          display: block;
          text-align: center;
          color: $white;
          font-size: 20px;
          font-family: $body-font-bold;
          margin-top: $site-margin;
          margin-bottom: $site-margin / 2;
          padding: $site-margin 0;
          background: #421682;

          @media screen and (max-width: 340px) {
               margin-top: $site-margin;
          }

          .cta-cashier {
               @include grid-column(8, $center: true);

               margin-top: $site-margin / 2;
               display: block;
               font-size: 20px;
          }
     }

     .login-box__continue {
          text-align: center;
          color: $white;
          font-size: 18px;
          font-family: $body-font-bold !important;
          margin-top: $site-margin;

          .close-reveal-modal {
               color: $white;
               background: none !important;
               font-weight: normal;
               font-size: inherit;
               text-decoration: underline;
               display: inline;
               position: relative;
               width: auto;
               top: 0;
               right: 0;
               padding: 0;
               height: auto;
          }
     }
}

.login-terms {
     @include grid-column(12);

     .text-partial {
          border: none;
     }

     .text-partial-content {
          background-color: white;
          padding-left: 0px;
     }

     .accordion-navigation > a {
          font-family: "todayshop-bold", Helvetica, Arial, sans-serif !important;
          color: #0F79D5 !important;
          padding: 0.875rem !important;
          background: none !important;
          text-decoration: underline;
     }

     h1 {
          display: none;
     }
}

// CLAIM MODAL
.claimcode_modal {
     @include grid-column(12, $center: true);

     p {
          margin-bottom: $site-margin / 2;
          font-size: 1.2em;
          color: $white;
          text-align: center;
          font-family: $body-font-light;
     }

     a {
          text-transform: uppercase;
          font-family: $body-font-bold;
          color: $white;
          font-size: 1.3em;
          text-align: center;
          display: block;
          text-decoration: underline;
     }

     .claimcode_box {
          @include grid-column(10, $center: true);

          line-height: 1.1;
          text-align: center;
          padding: $site-margin;
          background-color: #42197e;
          border-radius: 5px;
          font-family: $body-font-medium;
          font-size: 1.3em;
          font-weight: bold;
          margin-bottom: $site-margin;
          margin-top: $site-margin;
          color: $white;

          .terms {
               font-size: 11px;
               line-height: 12px;
               display: block;
               margin-top: 9px;
          }
     }

     .claim-code_cta {
          @include grid-column(12, $center: true);

          @include CTA-button(2px, 0.8em, 4px, #B4EC51, #67B030, #429321, #417505, #7ED321);

          float: none;
          font-size: 1rem;
          width: 100%;
          padding: ($site-margin / 2) $site-margin;
          display: block;
          margin-top: $site-margin / 2;
     }

     .claim_startPlaying_cta {
          @include grid-column(12, $center: true);

          @include CTA-button(2px, 0.8em, 4px, #B4EC51, #67B030, #429321, #417505, #7ED321);

          float: none;
          font-size: 1.2rem;
          width: 90%;
          padding: ($site-margin / 2) $site-margin;
          display: block;
          margin-top: $site-margin / 2;
     }

     .back_button {
          margin-right: $site-margin;
          position: relative;
     }

     &.deposit-now_noCTA {
          margin-top: 20px;
     }
}

// REDEEM CLAIM MODAL

.start-claim-code {
     input {
          border-radius: 4px;
          color: $global-link-color;
          background: $white;
          font-family: $body-font-medium;
          text-decoration: uppercase;
          font-size: 1em;
          text-align: center;
          border: 0;
          padding: 0px 25px;
          height: 45px;
          margin-top: $site-margin / 2;
          margin-bottom: $site-margin / 2;

          @include box-shadow(grey 0px -1px 1px 0px);

          @media #{$small-only} {
               background: $white;
          }
     }
}
