@mixin sbm-multiline-ellipsis($lineHeight, $lineCount, $control-colors){
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount; 
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    &.open{
        white-space: normal;
        overflow: visible; 
        max-height: initial;
        &.open:before {
            content: '';
        }
        &.open:after {
            content: 'Close';
            color: $control-colors;
            text-decoration: underline;
            bottom: 1rem;
            left:14%;
            position: absolute;
        }
        @media screen and (min-width:1025px){
            &.open:after {
                left:11%;
            }
        }
    }
    &:before {
        content: 'Read more';
        position: absolute;
        text-decoration: underline;
        color: $control-colors;
        left: 14%;
        bottom: 0rem;
    }
    @media screen and (min-width:1025px){
        &:before {
            left:11%;
        }
    }
    &:after {
        content: '';
    }
}
.seo-copy {
    $link-color:#fff;
    @include sbm-multiline-ellipsis(1.45rem, 10, $link-color);  
    margin-bottom: 3rem;
    a{
        color:$white;
    }
    h1{
        border:none;
    }
    .text-partial{
        color:$white;
        background: none;
        border:none;
    }
    strong{
        color:$white;
    }
}