/**
*   Parts of styling taken from _games-filter-menu.css
*/

.filter-tabs {
    &__heading {
        display: table;
        table-layout: fixed;
        margin: 0;
        width: 100%;

        &__item {
            display: table-cell;
            height: 44px;
            @include vert-align(44px);
            margin: 0;
            border-left: 1px solid darken($global-link-color, 90%);
            background-color: $global-link-color;
            @include background-image(linear-gradient(to top, $global-link-color 0%, darken($global-link-color, 9%) 100%));
            color: $white;
            font-family: $ui-font-bold;
            font-size: 0.7em;
            text-align: center;

            &:hover {
                background-color: transparent;
                color: $global-bg-color;
            }

            &.active {
                background-image: none;
                background-color: $global-bg-color;
                color: $white;
            }
        }

        &__link {
            padding-left: 0 !important;
            text-shadow: none;
            text-decoration: none;

            &:hover,
            &:active {
                color: $white;
                text-decoration: none;
            }
        }
    }

  &__content {
    padding: 20px 0;

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    &__item {
      display: none;

      ul {
        margin: 0;
        padding: 0 5px;

        li {
            float: left;
            width: 33.3333333333%;
            margin: 0 0 10px 0;
            padding: 0 5px;
        }

        a {
          padding: 0 !important;
        }
      }

      &.active {
        display: block;
      }
    }
  }
}

/* Override */
.filter-tabs .filter-tabs__content__link {
    height: 44px !important;
    @include background-image(linear-gradient(to top, $global-link-color 0%, #c2f9fd 100%));
    color: #011558;
    font-family: $ui-font-semibold;
    font-size: 0.7em;
    line-height: 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-shadow: none;
    text-align: center;
    padding: 0 8px;
    display: block;
    position: relative;

    span {
        display: block;
        width: 100%;
        position: absolute;
        top: 47%;
        transform: translateY(-50%);
    }
}