.loyalty {
    a {
        border-bottom: solid 1px $main-highlight-color;
        padding-bottom: 2px;
    }

    .even {
        background-color: white;

        td {
            font-weight: bold;

            a {
                color: $main-highlight-color;
            }
        }
    }
}

.odd td {
    border-bottom: 1px solid #f0efef;
    border-top: 1px solid #f0efef;
    font-weight: bold;

    a {
        color: $main-highlight-color;
    }
}

.loyalty__col {
    text-align: center;
}

.left-col-captions, .loyalty__col-heading {
    text-align: right;
}

.loyalty-top {
    @include grid-row;

    background: white;
    padding: 0;
    margin-bottom: $site-margin;

    .loyalty-left {
        @include grid-column(9, $collapse: true, $float: left);

        // margin-bottom: $site-margin;

        @include clearfix;

        @media #{$medium-only} {
            @include grid-column(8, $collapse: true, $float: left);
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true, $float: left);

            margin-bottom: 0;
        }

        .text-partial {
            margin-bottom: 0;
        }
    }

    .loyalty-right {
        @include grid-column(3, $collapse: true, $float: right);

        // margin-bottom: $site-margin;
        padding-left: $site-margin / 2;

        @include clearfix;

        @media #{$medium-only} {
            @include grid-column(4, $collapse: true, $float: left);

            padding-left: $site-margin / 2;
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true, $float: left);
        }
    }
}

table.loyalty {
    width: 100% !important;

    @include grid-column(12, $collapse: true);

    th {}

    td {}
}

.loyalty-vip-wrap {
    @include grid-column(12);

    padding: 0;
    margin-bottom: $site-margin;
    background-color: #faf9f7;
    border: 1px solid transparent;
    list-style: none;

    // border-image: linear-gradient(to bottom right, #f3dea1 0%, #c7ae90 100%);
    border-image: linear-gradient(135deg, #af8626 0%, #c6ba77 18%, #e5dea5 28%, #efeba0 40%, #b19a64 61%, #dbd6ab 79%, #b19a64 89%, #7f6c31 100%);
    border-image-slice: 1;

    @media #{$small-only} {
        border-left: 1px;
        border-right: 1px;
    }

    .loyalty-vip-img {
        @include grid-column(4);

        padding: $site-margin;

        @media #{$medium-only} {
            padding-top: 30px;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding: $site-margin $site-margin 0;
        }
    }

    .loyalty-vip-content {
        @include grid-column(6);

        padding: $site-margin 0;

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0;
        }

        .text-partial {
            margin: 0;
            background: none;
            border: none;
        }
    }

    .loyalty-vip-icon {
        @include grid-column(2);

        text-align: right;
        top: 10px;
        right: 10px;

        @extend .hide-for-small;

        @media #{$medium-only} {
            @include grid-column(2);

            padding: 0;
        }

        padding: 0;
        top: 10px;
        position: relative;
    }
}

.loyalty__terms-conditions {
    @include grid-column(12);

    padding: 0;
    margin-bottom: $site-margin;

    .accordion-navigation {
        a {
            background: #e3e3e3;
            font-family: $body-font-demi;
            color: #3d3d3d;
            padding: ($site-margin / 2) $site-margin;

            &:hover {
                background: darken(#e3e3e3, 5%);
            }
        }

        &.active {
            background: #e3e3e3;
        }

        .content.active {
            background: $white;
        }
    }
}