// Buttons Login Box
// =============================================================================
.welcome-sign {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    font: normal (45px / normal) $title-section !important;
    color: $white;
    text-decoration: normal;
    text-align: center;
    padding-left: 32px;
    padding-top: 15px;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.join-now-sign:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px cyan, 0 0 50px cyan, 0 0 60px cyan, 0 0 80px cyan;
}

.welcome-sign-text {
    color: $white !important;
}

.button--login {
    font-family: $kansas-font;
    float: left;
    border: none;
    font-size: 18px;
    color: $ctacolor;
    text-decoration: underline;
    margin-top: 16px;

    > a {
        color: $ctacolor;
    }
}

.button--login:hover {
    text-decoration: none;
       > a {
        color: darken($ctacolor, 5%);
    }
}

.button--join {
     font-family: $kansas-font;
    color: $white;
    font-size: 1.2em;
    margin-left: 27px;
    float: left;
    width: 115px;
    height: 47px;
    border: none;
    padding: 13px 10px 10px 20px;
    text-decoration: none;
    background-image: url("../_images/common/join-btn-bg.png");
    text-shadow: 0 2px 0 0 darken($green, 10%);

    > a {
        color: $white;
    }
    &:hover{
        background-image: none;
    }
}

.button--join:hover {
    text-decoration: none;
    background-image: url("../_images/common/join-btn-bg-hover.png");
}

// Button login and opt-in
// =============================================================================
.cta-join, .cta-opt-in {
    font-family: $button-font;

    @include CTA-button(0.4em, 1em, 1px, $green, $green);

    color: $white;
    width: auto;
    height: 35px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;

    > a {
        color: $white !important;
    }
}

.cta-opt-in {
    @include CTA-button(0.4em, 1em, 1px, #008CBA, #008CBA);
}

.registration {
    .registercta {
        padding-top: 0px;
    }
}

// Button Join
// =============================================================================
.cta-login {
    // @include button-generate($login-blue, 10px, $radius: 1px);
    @include CTA-button(0.4em, 1em, 1px, $login-blue, $login-blue);

    font-family: $button-font;
    color: $white;
    width: auto;
    height: 35px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;

    > a {
        color: $white;
    }
}

// Button Register 
// =============================================================================

.registercta {
    // @include button-generate($base-red, 7px, 3px);
    background-color: $green;
    font-family: $button-font;
    color: $white;
    font-size: 1.0em;
    float: left;
    margin-top: 12px;
    padding: 10px;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid darken($green, 3%);
    font-weight: normal;
    border-radius: 1px;
    width: 100%;

    > a {
        color: $white;

        &:link, &:visited, &:hover, &:active {
            color: $white;
        }
    }
}

.registercta:hover {
    font-family: $button-font;
    color: $white;
    background-color: darken($green, 5%);
}

// Button Find address
// =============================================================================

.findaddress {
    @include button-generate(lighten($grey, 8%), 7px, 3px);

    font-family: $button-font;
    color: $white;
    font-size: 1.0em;
    float: left;
    margin-top: 3px;
    padding: 10px;
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    border: 1px solid $grey;
    margin-bottom: 10px;
    font-weight: normal;
    line-height: 2.5rem;
    border-radius: 1px;

    > a {
        color: $white;
        width: 80px;
        height: 39px;
        padding-left: 13px;
    }
}

.findaddress:hover {
    background-color: $grey;
    font-family: $button-font;
}

// Mobile nav, login and join now buttons
// =============================================================================

// .login-button--nav-for-mobile {
//     // @include CTA-button(1.2em, 12px, 2px, $brand-color, $brand-color);
//     //@include border-radius(2px);
//     font-size: 0.9em;
//     color: $white;
//     display: block;
//     width: 95%;
//     text-align: center;
//     height: 30px;
//     line-height: 30px;
//     margin-top: 7px;
//     background-color: $login-blue;
//     font-family: $button-font;
//     &:hover {
//         background-color: lighten($login-blue, 5%);
//         color: $white;
//     }

//        @media #{$small-only} {
//         font-size: 0.8em;
//             }
// }

// .join-now-button--nav-for-mobile {
//     background-color: $green;
//     font-family: $button-font;
//     color: $white;
//     font-size: 0.9em;
//     display: block;
//     width: 95%;
//     text-align: center;
//     height: 30px;
//     line-height: 30px;
//     margin-top: 7px;
//     &:hover {
//         background-color: lighten($green, 5%);
//         color: $white;
//     }

//      @media #{$small-only} {
//         font-size: 0.8em;
//             }
// }

//  ******* More Info Button on promotions ******* //

.promotion__more-info {
    font-family: $body-font-bold;
    font-size: 0.8em;
    color: $ctacolor;
    display: block !important;
    float: right;
    // text-decoration: underline;
    text-shadow: none;
    text-transform: lowercase;
    text-align: right;
    font-weight: normal;
    width: 90%;
    height: 10%;
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.12) 15%, rgba(255, 255, 255, 0.73) 37%, rgba(255, 255, 255, 1) 83%);

    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(255, 255, 255, 0.12)), color-stop(37%, rgba(255, 255, 255, 0.73)), color-stop(83%, rgba(255, 255, 255, 1)));

    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.12) 15%, rgba(255, 255, 255, 0.73) 37%, rgba(255, 255, 255, 1) 83%);

    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.12) 15%, rgba(255, 255, 255, 0.73) 37%, rgba(255, 255, 255, 1) 83%);

    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.12) 15%, rgba(255, 255, 255, 0.73) 37%, rgba(255, 255, 255, 1) 83%);

    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.12) 15%, rgba(255, 255, 255, 0.73) 37%, rgba(255, 255, 255, 1) 83%);

    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fffffff', endColorstr='#ffffff',GradientType=0 );

    /* IE6-9 */


    &:hover{
        text-decoration: underline;
    }
}

//  ******* CASHIER THANK YOU PAGE ******* //
#cashier {
    .green-cta {
        @extend .cta-login;
    }
}