@media #{$large-up} {
    .main-content {
        &.registration {
            padding-top: 0;
        }
    }
}
.header--register3step {
    .nav-for-mobile {
        display: none !important;
    }
    .footer {
        display: none;
    }
}
.registration-3step {
    @include grid-column(12);
    padding: 0;
    z-index: 999999;
    top: 0;
    height: 100%;
    background: $registration-3step-bg--base;
    overflow: hidden;

    .banner {
        a.edit-point {
            margin: 35px 15px !important;
        }
    }
}

   .header-register {
        @include grid-column(12);
        background-image: linear-gradient(-180deg, #3B147D 2%, #A67FE8 60%);
        padding: 0;
        top: 0;
        height: 70px;
        text-align: center;
        display: block !important;
        z-index: 2;
        position: fixed;

        @media #{$large-up} {
            height: 80px;
        }

        .wrapper {

            @media #{$large-up} {
                position: relative;
                width: 33.5rem;
                margin: 0 auto;
            }

            @media #{$medium-only} {
                position: relative;
                width: 33.5rem;
                margin: 0 auto;
            }

            h1 {
                display: inline-block;
                color: #fff;
                line-height: 2.8;
                text-transform: uppercase;
                font-size: 22px;
                font-weight: normal;
                padding-top: 5px;

                @media #{$large-up} {
                    font-size: 25px;
                    padding-top: 3px;
                }
            }
            .register-logo {
                background: url("/_images/logo/logo-sml.png") no-repeat center center;
                background-size: 100%;
                position: absolute;
                left: 10px;
                top: 0;
                width: 70px;
                height: 70px;
                cursor: pointer;

                @media #{$large-up} {
                    width: 90px;
                    height: 90px;
                    top: -5px;
                }
            }

            .register-login-cta {
                display: inline-block;
                position: absolute;
                background-image: linear-gradient(-180deg, #4BA4F0 0%, #2082D8 46%, #0E60A8 100%);
                width: 96px;
                height: 28px;
                border-radius: 4px;
                top: 24px;
                right: 15px;
                font-family: todayshop-bold,Helvetica,Arial,sans-serif;
                color: #FFF;
                text-shadow: 0 2px 0 rgba(81,81,81,.48);
                font-size: 16px;
                text-transform: uppercase;
                padding-top: 3px;

                @media #{$small-only} {
                    width: 80px;
                }
                
                @media #{$medium-only} {
                    top: 22px;
                }

            }
        }
    }

.registration-3step .content .banner {
    @media #{$medium-only} {
        padding-top: 0 !important;
    }
}

.registration-3step .content .banner img {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: -5px !important;

        @media #{$small-only} {
              margin-top: 25px !important;
        }

        @media #{$medium-only} {
            margin-top: 35px !important;
        }
}

#join-now {

    .banner {
        a.edit-point {
            @media #{$small-only} {
                margin: 0 !important;
            }

            
            
        }
    }

    // nav {
    //     @media #{$small-only} {
    //         top: 0;
    //     }
    //     @media #{$medium-only} {
    //         top: 0;
    //     }
    // }

    .registration-3step .content .banner img {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-top: -5px !important;
    }
}
