//*=============================================
//  Content on my account page
// =============================================================================

.myaccount-content-view {
    .section-left__title h4 {
        margin-bottom: 0 !important;
    }

    .lobby-wrap__left {
        width: 100% !important;

        .mobile-tabs-menu__top {
            display: block !important;
        }

        .progressive-jackpots__wrapper {
            display: none !important;
        }
    }

    .lobby-wrap__right {
        width: 100% !important;
        margin-top: ($site-margin / 2) !important;
        min-height: auto !important;
    }

    .lobby-wrap__content-box {
        border: none;
    }

    .tabs {
        @include grid-column(12);

        padding: 0;
        padding-left: $site-margin / 2;
        float: none;
        font-family: $title1-font;
        margin-top: 0;
        display: block !important;

        @media #{$medium-up} {
            margin-top: 0px;

            @include grid-column(12);

            padding: 0;
            padding-left: $site-margin;
        }

        @media #{$small-only} {
            margin-top: 0px;
            padding: 0;
        }

        dd {
            @include grid-column(12);

            margin: 0 0;
            padding: 0;
            padding-right: $site-margin / 2;

            a {
                @include CTA-button(4px, 0.95em, 4px, #4BA4F0, #2082D8, #0E60A8, #0E4372, #8BC5F7);

                @include grid-column(12, $collapse: true);

                margin-bottom: 8px;
            }

            &.active {
                padding-right: 0;

                @media #{$small-only} {
                    @include grid-column(12);

                    padding: 0;
                }

                a, a:hover {
                    transition: none !important;
                    text-shadow: none;
                    box-shadow: none;
                    cursor: default;
                    background: #F4F2F6;
                    border: 6px solid #F4F2F6;
                    background-image: linear-gradient(0deg, #D2D2D2 2%, #ffffff 100%);
                    color: $nav-main-color;
                    border-radius: 4px 0 0 4px;
                    padding-top: 4px;
                    padding-bottom: 4px;

                    @media #{$small-only} {
                        @include grid-column(12);

                        padding: 4px 0px;
                        border-radius: 4px;
                    }
                }
            }

            // &.first {
            //     a {
            //         border-left: none;
            //     }
            // }

            // &.last {
            //     margin-right: 0px;

            //     a {
            //         border-right: none;
            //     }
            // }

            @media #{$small-only} {
                @include grid-column(12);

                padding: 0 !important;
                margin-bottom: 12px;
                border-top: none;
                border-bottom: none;
            }
        }
    }

    .tabs-content {
        @include grid-column(12);

        padding: 0;
        font-family: $body-font-regular;
        border-top: none;
        padding-bottom: $site-margin;

        // tabs title removed

        h3 {
            display: none !important;
        }

        .current {
            text-decoration: none;
            color: $brand-color-light;
            cursor: default;
            text-decoration: none;
        }

        .myaccount-balances__header {
            @include grid-column(12);

            font-family: $nav-font-bold;
            font-weight: normal;
            color: $nav-main-color;
            text-transform: uppercase;

            /* top gradient content */
            background-image: linear-gradient(0deg, #E9DDED 2%, #FFFFFF 100%);
            margin: 0;
            margin-bottom: $site-margin;
            padding: $site-margin / 2;
            font-size: 15px;
        }

        .balanceboxes {
            @include grid-column(12);

            padding: 0;
            margin: 0px;

            @media #{$medium-only} {
                @include grid-column(8, $center: true);

                padding: 0;
            }

            @media only screen and (max-width: 1024px) {
                margin-bottom: $site-margin * 2;
            }

            li {
                display: block;
                float: none;

                a {
                    color: $global-link-color;
                    text-decoration: underline;
                    border-bottom: none;
                }

                .convertpointsbtn {
                    line-height: 28px;

                    @media only screen and (max-width: 1024px) {
                        @include border-radius(4px);

                        background-color: $global-link-color;
                        position: absolute;
                        font-size: 0.8em;
                        padding: 0;
                        left: 0px;
                        margin-top: 50px;
                    }
                }
            }
        }

        .convertpointsbtn {
            @include border-radius(4px);

            color: $white !important;
            text-decoration: none !important;
            font-family: $body-font-regular;
            background-color: $global-link-color;
            border-radius: 0px;
            border: none;
            margin-left: 0;
            margin-right: 4px;
            line-height: 20px;

            @media only screen and (max-width: 1024px) {
                font-size: 1em;
                padding: 0;
                line-height: 36px;
                border: none;
                box-shadow: none;
            }
        }

        .convertpointsbtn__info {
            color: $white !important;
            text-decoration: none !important;
            font-family: $body-font-regular;
            background-color: $global-link-color;
            border: none;
            margin-left: 0;
        }
    }

    .start-convert-points-content {
        .start-convert-points-content__header {
            display: none !important;
        }
    }
}

// Weekly filtering for Game and Banking Activity
.myaccount-transactions {
    .myaccount-date-filter {

        .date-selector_left {
            width: 300px;
            float: left;
            margin-right: 30px;

            @media #{$small-only} {
                width: 100%;
            }
        }

        .date-selector_right {
            width: 300px;
            float: left;
            

            @media #{$small-only} {
                width: 100%;
            }
        }

    }
    
    .info-results {
        background-color: #8C93C3;
        height: 23px;
        border-radius: 0;

        @media #{$small-only} {
            height: 110px;
        }

        .activity-results {
        width: 100%;

            li {
                float: left;
                width: 30%;
                text-align: left; 
                font-weight: normal;
                font-size: 14px;
                list-style: none;
                color: #fff;

                @media #{$small-only} {
                    width: 100%;
                    padding-top: 10px;
                }

                span {
                    font-weight: bold;
                    padding-left: 10px;
                }
            }

            .banking-net-total {
                float: right;
                width: 30%;

                @media #{$small-only} {
                    float: left;
                    width: 100%;
                }

                @media #{$medium-only} {
                    float: right;
                }
            }

            .banking-totals {
                width: 33%;
                
                @media #{$small-only} {
                    float: left;
                    width: 100%;
                }

            }

        }
    }

    .disclaimer-results {
        height: 100px;
        margin-top: 10px;
        float: left;
        width: 100%;
        font-size: 12px;
        font-weight: bold;
        color: #000;
    }
    
} 

.trusted-partners {
     width: 100%; 
     float: left; 
     /*margin-top: 20px;*/

    .info {
        @include grid-column(12, $float: left);
        width:50%;

        @media #{$small-only} {
            width: 100%;
        }

        h4 {
            font-family: "todayshop-bold", Helvetica, Arial, sans-serif;
            font-size: 18px;
            text-transform: uppercase;
            margin-top: 20px;
        }

        .edit-point {
            &:last-of-type {
                margin-left:130px;
            }
        }

        span {
            a {
                color: #000;
                text-decoration: underline;
            }
        }
    }
    .checkboxes-list {
        @include grid-column(12, $float: left);
        .indent {
            margin-left: 25px;

            @media #{$small-only} {
                float: none;
            }

            @media #{$medium-only} {
                float: none;
            }
        }
        
         @media #{$small-only} {
            width: 100%;
            margin-top: 0;
        }

          @media #{$medium-only} {
            margin-top: 0;
        }

    }

    .update-personal--details {
        @include grid-column(12, $float: right);

         @media #{$small-only} {
            width: 100%;
        }
    }
   
}

.indent {
    margin-left: 25px;
}

.receive-bonus {
    margin-top: 30px;

    h4 {
        margin-top: -10px;
        font-family: "todayshop-bold", Helvetica, Arial, sans-serif;
        font-size: 18px;
        text-transform: uppercase;
    }

    a {
        color: #000;
        text-decoration: underline;
    }
}

// Weekly filtering for Game and Banking Activity


// edit points in personal details section
.receive-bonus {
    span {
        p {
            margin-bottom:-5px !important;
        }
    }
    .edit-point {
        &:last-of-type {
            margin-left:130px;
        }
    }
}


.start-trusted-offer {
    .trusted-partners {
        .info {
            width:100%;
            }
    }
}

