.myaccount-transactions {
	//Net worth deposit BANKING Tab START
    .second-tabs {
        li {
            margin-top: rem-calc(20px);
            
        	a {
                font-family: "todayshop-bold", Helvetica, Arial, sans-serif;
                font-size: 14px;
        		text-transform: uppercase;
        		color: #5820A9 !important;
        	}

            .active {
                text-decoration: underline;     
            }
        }
    }

   .my-net-deposits {

   		margin-top: 10%;

   		text-align: center;
        p.view-net-deposit {
            font-family: "todayshop-bold", Helvetica, Arial, sans-serif;
            margin-top: 20px;
            color: #303030;
            font-size: 18px;

            @media #{$small-only} {
                font-size: 15px;
            }
        }

        a.button {
            width: 300px;
            height: 45px;
            background: linear-gradient(180deg, #51A7F0 0%, #1260A8 100%);
            box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.17), 0 1px 0 0 #0F4679;
            color: #ffffff;
            font-family: "todayshop-bold", Helvetica, Arial, sans-serif;
            font-size: 18px;
            line-height: 12px;
            text-decoration: none;
            border-radius: 5px;
            text-transform: uppercase;

            @media #{$small-only} {
                width: 80%;
                font-size: 13px;
                padding-left: 16px;
                padding-right: 16px;
            }
        }

        a.btn-reveal__deposit {
            background: #F4F2F6;
            box-shadow: none;
            font-size: 20px;
            color: #201F1F;
            text-decoration: none;

             @media #{$small-only} {
                width: 80%;
            }
        }

        .inactiveLink {
           pointer-events: none;
           cursor: default;
        }

        p.my-net-deposit__info {
        	width: 70%;
    		margin: 0 auto;
    		line-height: 30px;
            text-align: center;
            font-size: 14px;
            margin-bottom: 70px;
            color: #303030;

            @media #{$small-only} {
            	width: 100%;
            }
        }
   }
}