html {
    overflow-y: scroll;
}

body {
    font-family: $body-font-regular !important;
    color: $base-blue !important;
    font-size: em-calc(16px);

    /* bg: */
    background-image: -webkit-linear-gradient(#018EC2 0%, #0BB2F1 20%, #17B1E9 51%, #73DBFF 88%);
    background-image: -o-linear-gradient(#018EC2 0%, #0BB2F1 20%, #17B1E9 51%, #73DBFF 88%);
    background-image: linear-gradient(#018EC2 0%, #0BB2F1 20%, #17B1E9 51%, #73DBFF 88%);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;

    @media #{$medium-only} {
        background: $bgcolor;
    }

    @media #{$small-only} {
        background: $bgcolor;
    }

    height: 100%;
    line-height: 1.5em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;

    &:before {}

    &.modal-open {
        overflow: hidden;
    }
}

ul,
ol,
dl {
    list-style-position: inside;
    font-size: 0.9rem;
}

h1 {
    font-family: $body-font-extra-bold;
    color: $brand-color;
    font-size: 1.7em;
    text-transform: uppercase;
}

h2 {
    font-family: $body-font-bold;
    color: $brand-color;
    font-size: 1.5em;
}

h3 {
    font-family: $body-font-bold;
    color: $brand-color;
    font-size: 1.5em;
    margin: 0;
}

h4 {
    font-family: $title-section;
    color: $brand-color;
    font-size: 1.4em;
}

h5 {
    font-family: $title-section;
    color: $brand-color;
    font-size: 1.3em;
}

h6 {
    font-family: $title-section;
    color: $brand-color;
    font-size: 1.2em;
}

p {
    margin-bottom: 1.25rem;
    font-size: 1em;
}

a {
    @include transition(all, 0.2s ease-out);

    color: $global-link-color;

    &:hover {}
}

li {
    list-style: none;

    ol & {
        list-style: inherit;
        margin-bottom: $site-margin / 2;
    }
}

input {
    box-shadow: grey 0px -1px 1px 0px !important;
}

/*=============================================
=  default site margin / gutter / padding / spacing           =
=============================================*/
$site-margin: rem-calc(20px);





.test-popup-checkout {
   backgroun-color:red;
}








