// Proxima Nova Family
// =============================================================================

// @include font-face("proximanova-light", font-files("proxima-nova/proximanova-light-webfont.woff", "proxima-nova/proximanova-light-webfont.woff2", "proxima-nova/proximanova-light-webfont.otf"));

// @include font-face("proxima_nova_rgregular", font-files("proxima-nova/proximanova-regular-webfont.woff", "proxima-nova/proximanova-regular-webfont.woff2",  "proxima-nova/proximanova-regular-webfont.ttf"));

// @include font-face("proximanova-semibold", font-files("proxima-nova/proximanova-semibold-webfont.woff", "proxima-nova/proximanova-semibold-webfont.woff2", "proxima-nova/proximanova-semibold-webfont.otf", "proxima-nova/proximanova-semibold-webfont.ttf"));

// @include font-face("ProximaNova-Bold", font-files("proxima-nova/proximanova-bold-webfont.woff", "proxima-nova/proximanova-bold-webfont.woff2", "proxima-nova/proximanova-bold-webfont.otf"));

// @include font-face("proximanova-black", font-files("proxima-nova/proximanova-black-webfont.woff", "proxima-nova/proximanova-black-webfont.woff2", "proxima-nova/proximanova-black-webfont.otf"));

// @include font-face("proximanova-extrabold", font-files("proxima-nova/proximanova-extrabold-webfont.woff", "proxima-nova/proximanova-extrabold-webfont.woff2", "proxima-nova/proximanova-extrabold-webfont.otf"));

@font-face {
    font-family: 'proximanova-light';
    src: url("../_fonts/proxima-nova/proximanova-light-webfont.eot");
    src: url("../_fonts/proxima-nova/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../_fonts/proxima-nova/proximanova-light-webfont.woff2") format("woff2"), url("../_fonts/proxima-nova/proximanova-light-webfont.woff") format("woff"), url("../_fonts/proxima-nova/proximanova-light-webfont.ttf") format("truetype"), url("../_fonts/proxima-nova/proximanova-light-webfont.svg#intro_bold_capsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url("../_fonts/proxima-nova/proximanova-regular-webfont.eot");
    src: url("../_fonts/proxima-nova/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../_fonts/proxima-nova/proximanova-regular-webfont.woff2") format("woff2"), url("../_fonts/proxima-nova/proximanova-regular-webfont.woff") format("woff"), url("../_fonts/proxima-nova/proximanova-regular-webfont.ttf") format("truetype"), url("../_fonts/proxima-nova/proximanova-regular-webfont.svg#intro_bold_capsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-semibold';
    src: url("../_fonts/proxima-nova/proximanova-bold-webfont.eot");
    src: url("../_fonts/proxima-nova/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../_fonts/proxima-nova/proximanova-bold-webfont.woff2") format("woff2"), url("../_fonts/proxima-nova/proximanova-bold-webfont.woff") format("woff"), url("../_fonts/proxima-nova/proximanova-bold-webfont.ttf") format("truetype"), url("../_fonts/proxima-nova/proximanova-bold-webfont.svg#intro_bold_capsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url("../_fonts/proxima-nova/proximanova-bold-webfont.eot");
    src: url("../_fonts/proxima-nova/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../_fonts/proxima-nova/proximanova-bold-webfont.woff2") format("woff2"), url("../_fonts/proxima-nova/proximanova-bold-webfont.woff") format("woff"), url("../_fonts/proxima-nova/proximanova-bold-webfont.ttf") format("truetype"), url("../_fonts/proxima-nova/proximanova-bold-webfont.svg#intro_bold_capsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-black';
    src: url("../_fonts/proxima-nova/proximanova-black-webfont.eot");
    src: url("../_fonts/proxima-nova/proximanova-black-webfont.eot?#iefix") format("embedded-opentype"), url("../_fonts/proxima-nova/proximanova-black-webfont.woff2") format("woff2"), url("../_fonts/proxima-nova/proximanova-black-webfont.woff") format("woff"), url("../_fonts/proxima-nova/proximanova-black-webfont.ttf") format("truetype"), url("../_fonts/proxima-nova/proximanova-black-webfont.svg#intro_bold_capsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-extrabold';
    src: url("../_fonts/proxima-nova/proximanova-extrabold-webfont.eot");
    src: url("../_fonts/proxima-nova/proximanova-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../_fonts/proxima-nova/proximanova-extrabold-webfont.woff2") format("woff2"), url("../_fonts/proxima-nova/proximanova-extrabold-webfont.woff") format("woff"), url("../_fonts/proxima-nova/proximanova-extrabold-webfont.ttf") format("truetype"), url("../_fonts/proxima-nova/proximanova-extrabold-webfont.svg#intro_bold_capsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*============================================= 
=            fonts            =
=============================================*/

$body-font-light: "proximanova-light", Helvetica, Arial, sans-serif;
$body-font-regular: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
$body-font-medium: "proximanova-semibold", Helvetica, Arial, sans-serif;
$body-font-bold: "ProximaNova-Bold", Helvetica, Arial, sans-serif;
$body-font-extra-bold: "proximanova-extrabold", Helvetica, Arial, sans-serif;

$nav-font-medium: "ProximaNova-Bold", Helvetica, Arial, sans-serif;
$nav-font-bold: "proximanova-extrabold", Helvetica, Arial, sans-serif;

$button-font: "ProximaNova-Bold", Helvetica, Arial, sans-serif;

$title-section: "ProximaNova-Bold", Helvetica, Arial, sans-serif;
$title1-font: "ProximaNova-Bold", Helvetica, Arial, sans-serif;

$mobile-font-bold: "ProximaNova-Bold", Helvetica, Arial, sans-serif;