// content main homepage
.main-content {
    @include grid-row;
    background: $bgcolor;
    padding: $site-margin;
    border-radius: 0 0 2px 2px;
    margin-bottom: 40px;
    @media #{$medium-only} {
        padding: $site-margin / 2;
        padding-top: 50px;
        padding-bottom: 15px;
        border-radius: 0;
    }
    @media #{$small-only} {
        margin-top: 15px !important;
    }
    &.registration {
        @media #{$medium-only} {
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
            max-width: 100%;
        }
    }
    @media #{$small-only} {
        padding: 0;
        padding-top: 50px;
        padding-bottom: 15px;
        border-radius: 0;
    }
    .content-holder {
        .content-holder__inner {
            @include grid-column(12);
            padding: $site-margin;
        }
    }
}

.main-content__top {
    @include grid-column(12);
    clear: both;
    height: auto;
    padding: 0 !important;
    margin-top: 0 !important;
    background: none !important;
    .content-holder__content_left {
        padding: 0 !important;
        padding-right: $site-margin !important;
    }
    .content-holder__content_right {
        padding: 0 !important;
        margin-top: ($site-margin / 3) !important;
    }
}

.main-content__bottom {
    @include grid-column(12);
    height: auto;
    padding: 0px;
    @media #{$large-up} {
        width: 1000px;
    }
    margin: 0 auto;
    float: none;
}

.one-column-content-wrap {
    @include grid-row;
    padding: $site-margin;
    background: $pearl-lust;
    border-radius: 4px;
    @media #{$medium-only} {
        padding: 0;
        padding-top: 50px;
        border-radius: 0;
    }
    @media #{$small-only} {
        padding: 0;
        padding-top: 50px;
        border-radius: 0;
    }
}

.two-columns-content-wrap {
    @include grid-row;
    padding: $site-margin;
    background: $pearl-lust;
    border-radius: 0 0 2px 2px;
    @media #{$medium-only} {
        padding: $site-margin / 2;
        padding-top: 50px;
        border-radius: 0;
    }
    @media #{$small-only} {
        padding: 0;
        padding-top: 50px;
        border-radius: 0;
    }
    .content-holder {
        margin-bottom: $site-margin;
        .content-holder__title {
            margin: 0;
            margin-bottom: $site-margin;
            font-size: 16px !important;
            font-family: $body-font-extra-bold, Helvetica, Arial, sans-serif !important;
            color: $nav-active-color !important;
        }
    }
    .two-columns-content-wrap__left__title {}
    .two-columns-content-wrap__left {
        @include grid-column(9);
        @include border-radius(4px);
        padding: 0;
        padding-right: $site-margin / 2;
        width: 705px;
        @media #{$medium-only} {
            padding-right: 0;
            @include grid-column(12);
            padding: 0;
        }
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0;
        }
        .two-columns-content-wrap__left__inner {
            @include grid-column(12);
            @include border-radius(4px);
            padding: $site-margin * 2;
            background: $white;
            @media #{$small-only} {
                padding: $site-margin;
            }
        }
    }
    .two-columns-content-wrap__right {
        @include show-for-large-up;
        @include grid-column(3);
        @include border-radius(4px);
        width: 255px;
        padding: $site-margin / 2;
        background: $white;
        h1 {
            font-size: 16px;
            color: $nav-active-color;
            text-align: center;
            @extend %title_bg;
        }
        img {
            // @include be-box;
            margin-bottom: 20px;
        }
        .content-holder {
            min-height: 50px;
        }
    }
}

.three-columns-equal {
    > div {
        @include grid-column(4);
    }
    > article {
        @include grid-column(4);
    }
}

.middle-content__box {
    height: auto;
    padding: 0;
    border-radius: 5px;
    background-color: $white;
    margin-bottom: $site-margin;
    // margin-top: $site-margin;
    @include border-radius(4px);
    overflow: hidden;
    @media #{$medium-only} {
        padding: 0;
        @include border-radius(0px 0px 0px 0px);
    }
    @media #{$small-only} {
        padding: 0;
        @include border-radius(0px 0px 0px 0px);
        margin-bottom: 24px;
        .section {
            float: none;
        }
    }
    table {
        margin-bottom: 15px;
        thead > tr > td {
            color: white;
            background-color: $global-link-color;
        }
    }
    // Mobile Overlay Page Layout
    .mobile-main-content__modal {
        @include hide-for-large-up;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999999999;
        overflow-y: scroll;
        padding: 0 ($site-margin / 2);
        height: 100%;
        width: 100%;
        background-color: $white;
        display: block;
        // display: none;
        // &.active {
        //     display: block;
        // }
        .playerdetails__header {
            display: none !important;
        }
        .mobile-main-content__header {
            @include grid-column(12);
            display: block;
            position: fixed;
            color: $nav-active-color;
            font-size: 18px;
            text-transform: uppercase;
            padding: $site-margin;
            margin: 0;
            font-family: $body-font-medium;
            background: $bg-mobile-light url(../_images/common/icons/welcome-close.svg) no-repeat right $site-margin center;
            top: 0;
            z-index: 2;
            left: 0;
        }
        .mobile-main-content__content {
            @include grid-column(12, $center: true);
            //max-width: 700px;
            margin-bottom: $site-margin * 3;
            margin-top: $site-margin * 4;
            section {
                @include grid-column(12);
                padding: 0;
                h2 {
                    color: $white;
                    text-align: center;
                    font-family: $body-font-bold;
                    font-size: 28px;
                    line-height: 1;
                    text-shadow: 0px 1px 1px #715EBB;
                    margin-top: $site-margin * 2;
                    @media #{$small-only} {
                        padding: 0 $site-margin;
                    }
                }
            }
        }
    }
}

.middle-content__box {
    @include grid-row;
    height: auto;
    padding: 0;
    // @include linear-gradient;
    @include border-radius(4px 4px 4px 4px);
    overflow: hidden;
    @media #{$medium-only} {
        padding: 0;
        @include border-radius(0px 0px 0px 0px);
    }
    @media #{$small-only} {
        padding: 0;
        @include border-radius(0px 0px 0px 0px);
    }
    margin-bottom: 24px;
    .section {
        float: none;
    }
}

.content-holder {
    @include grid-column(12);
    @include border-radius(5px);
    padding: 0;
    background: $white;
    position: relative;
    .home & {
        margin-top: $site-margin;
    }
    @media #{$small-only} {
        border-radius: 0;
        padding: 0;
    }
    .content-holder__title {
        @include grid-column(12);
        @extend %title_bg;
        padding: 0;
        margin-bottom: $site-margin / 2;
        h1 {
            @include grid-column(6);
            margin: 0;
            padding: 0;
            font-size: 16px;
            font-family: $body-font-extra-bold;
            color: $nav-main-color;
            @media #{$small-only} {
                @include grid-column(7);
                padding: 0;
            }
        }
    }
    .content-holder__title__link {
        @include grid-column(4, $collapse: true, $float: right);
        @media #{$small-only} {
            @include grid-column(2, $collapse: false, $float: right);
        }
        font-family: $title1-font;
        text-transform: uppercase;
        font-size: 14px;
        text-align: right;
        color: $global-link-color;
        a {
            &:hover {
                text-decoration: underline;
                color: $global-link-color;
            }
        }
    }
    .content-holder__content {
        @include grid-column(12);
        padding: 0;
        height: auto;
        .content-holder__content_full-width {
            @include grid-column(12);
            padding: $site-margin;
            height: auto;
            .bingo-schedule-holder & {
                padding: 0 !important;
            }
            .content-holder__inner {
                padding: 0;
            }
        }
        .content-holder__content_left {
            @include grid-column(9);
            width: 705px;
            padding: 0 1.25rem 1.25rem 1.25rem;
            height: auto;

            @media #{$large-up} {
                padding: 0 1.25rem 0.50rem 1.25rem
            }

            .main-content__top & {
                padding: 0 !important;
                padding-right: $site-margin !important;
            }
            .content-holder__inner {
                @include grid-column(12, $float: left);
                padding: 0;
            }
        }
        .content-holder__content_right {
            @include grid-column(3, $collapse: true, $float: right);
            padding: 0;
            width: 255px;
            .content-holder__title {
                @include grid-column(12);
                h1 {
                    @include grid-column(12);
                    text-align: left !important;
                    font-size: 16px;
                }
            }
            .content-holder__inner {
                @include grid-column(12);
                padding: 0;
                height: auto;
                clear: both;
                overflow: hidden;
            }
            .latest-offer-promo {
                padding: 0 15px 20px 10px !important;
                height:100%;
                position:absolute;
                img {
                    /* width:92.035%; // 158.75px height */
                    width:24%;
                    padding-top:32px;
                }


            }
            .progressive-jackpot-wrap {}
        }
    }
}

.reveal-modal {
    z-index: 999999999 !important;
    width: 100% !important;
    max-height: 100%;
    background-image: linear-gradient(to top, #e9dded 2%, #ffffff 100%);
    top: 50% !important;
    position: fixed !important;
    left: 50% !important;
    z-index: 99999;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    @media #{$small-only} {
        height: 100%;
        min-height: 100% !important;
        padding: $site-margin * 2;
    }
    li {
        list-style: inherit;
    }
    ol {
        margin: 0;
        padding: 0;
    }
}

// Clouds BG
.bg-clouds {
    @include show-for-large-up;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("../_images/common/backgrounds/clouds.png");
    background-position: top center;
}

// Header styling
%title_bg {
    padding: 0.3em;
}

.cookie-policy-active {
     #ajax-wrapper {
          @media #{$medium-only} {
            margin-top: 126px;
        }
         @media #{$small-only} {
            margin-top: 210px;
        }
        @media only screen and (min-width: 320px) and ( max-width: 360px ){
             margin-top: 257px;
        }
     }
}

#home {
    .cookie-policy {
        &.active {
             @media #{$small-only} {
                margin-top: 0px !important;
            }
        }
    }
}

.txt-align {
    width:60px;
}

.icon-align {
    margin-top:10px !important;
}

.float-right {
    float:right;
}

/* THANK YOU page header styling */
#cashier {
    .cashier__thank-you--header {
        border-radius: 0px !important;

        @media #{$medium-only} {
            margin-top: 65px;
        }

        @media #{$small-only} {
            margin-top: 65px;
        }
    }

    .section .section__title {
        padding-left: 8px;
        padding-top: 5px;
        width: 30%;

        border-bottom: none;
    }

    .cashier__secure-payment {
        position: relative;
        float: right;
        padding-top: 5px;

        @media #{$medium-only} {
            padding-top: 12px;
        }

        @media #{$small-only} {
            width: 35%;
            padding-top: 12px;
            right: 5px;
        }
    }
}