// ----------
// Colors (Dont use these in your sass use the semantic name below this block)
// ----------
//check these to see if in use

$base-blue: #1D4775;
$base-blue-light: #DBF6FF;
$base-blue-medium: #1F73BE;
$blue-background: rgba(222, 229, 229, 0.36);
$linen: #e8e6e3;
$login-blue: #00829B;
$green: #009900;
$japanese-laurel:#079100;

$base-red: #C11258;
$alice-blue: #F5FBFF;
$mine-shaft: #303030;
$bondi-blue: #02ACB2;

//KITTY BINGO UI Colors being used (check with joao)
$white: #FFF;
$black: #000;
$Buttermilk: #ffeeb7;
$Sea-Buckthorn: #FCAA2A;
$Anakiwa: #8AE0FE;
$Blumine: #1D4775;
$grey-light-bg: #F2F2F2;
$grey: #949494;
$supernova: #FDCE00;
$grey-dark: #303030;
$grey-light: #d8d8d8;
$grey-lighter-bg: #F2F2F2;
$pearl-lust: #FCF5DE;
$Metallic-Bronze: #513721;
$Lily-White: #E6F8FF;
$hampton: #E2C7AB;
$Denim: #1D6FBA;
$half-baked: #81B8CF;
$alabaster: #fbfbfb;
$onahau:#D1F4FF;
$mabel:#DBF6FF;
$pattens-blue: #DFF7FF;
$blue-zodiac: #132e4c;

$camarone: #006200;
$stark-white:#E6DDBE;
$dusty-gray:#979797;
$dusty-gray2:#969696;
$dustyg-gray3:#9A9A9A;
$dove-grey: #626262;
$mercury: #e7e7e7;
$sliver:#C7C7C7;
$oinahau:#C8F1FF;

//Kitty Bingo UI colours being used
$nav-main-color: $Blumine;
$nav-hover-background: $Buttermilk;
$breadcrumbs-background: $supernova;
$main-highlight-color-nav: $Metallic-Bronze;
$login-box-header: $Anakiwa;
$cta-header: $Blumine;
$radical-red: #FD276F;
$mandy: #e5526a;

//KB Bingo Schedule
$ui-bingo-schedule: $base-blue;
$ui-bingo-schedule-bg: $base-blue-light;
$ui-bingo-schedule-title: $base-blue-medium;

//Luckypants UI Colors being used

$mine-shaft: #201F1F;
$studio: #8240AE;
$studio-light: #8F86D9;
$studio-dark: #6A43AC;
$prim: #FCFAFC;
$whisper: #EFE7F1;
$mauve: #E6C3FD;
$victoria: #583C7B;
$white-pointer: #FDF9FF;
$feta: #E7FBE9;
$hot-pink: #FF5AC6;
$cotton-candy: #FEB4CD;
$brink-pink: #FE6497;
$hot-pink-dark: #ff00aa;
$melrose: #C9BBFF;
$mpurple-light: #e7e2fe;
$moon-raker: #DAD2F9;
$mpurple: #5820A9;

// used on myaccount
$bond-blue: #0398B2;
$blue-chill: #0b859b;
$pale-sky: #00fff3;

// used in cashier
$lynch: #66769E;

// used in offer
$banana-yellow: #FAE897;
$sad-yellow: #FDCE02;

// used in tables
$sad-mpurple: #F9F9F9;
$dark-mpurple: #8C93C3;

// used in tables on recent winners
$glade-green: #5e8d58;
$sprout:#A6CF9F;
$fern-green:#3F7138;
$affair:#87498C;
$bouquet:#A672A0;
$eminence:#6C3172;
$terracotta:#E1794F;
$hit-pink:#FDA47F;
$tuscany:#D05E32;
$trinidad: #E84C00;
$grenadier: #D24804;

//used in promo bg
$lighter-bg: #f5eff9;

//used in form validation
$lima: #70B71D;
$torchred: #FF0041;
$carnation: #FB5368;

//Registration
$prussian-blue: #00214B;
$concrete: #f2f2f2;
$green-vogue: #042E64;
$silver-chalice: #aaaaaa;
$blumine: #1D4775;
$violet: #100527;
$dusty-gray: #999;
$silver-chalice: #A4A4A4;
$bg-color: $pearl-lust;

// ----------
// semantic color names: Use only these in your sass)
// ----------

//KB Semanticly named UI Colors being used
$ui-light-color: $Anakiwa;


$nav-main-color: $Metallic-Bronze;
$nav-active-color: $Metallic-Bronze;


$nav-active-bg-color: $prim;
$global-link-color: $Denim;
$border: $whisper;
$nav-ui-bg: $mauve;
$nav-ui-font: $victoria;
$nav-ui-alt-bg: $white-pointer;
$nav-ui-alt-bg-active: $feta;
$main-highlight-color: $Metallic-Bronze;
$main-highlight-color-nav: $Metallic-Bronze;
$main-highlight-color-light: $Metallic-Bronze;
$ui-highlight: $hot-pink;
$ui-highlight-dark: $hot-pink-dark;
$bg-mobile: $melrose;
$bg-mobile-light: $mpurple-light;
$bg-reveal-modal: $mpurple-light;
$offer: $banana-yellow;
$input-ui-bg: $grey-lighter-bg;
$ui-table-even: lighten($ui-light-color, 20%);
$ui-table-header: $ui-light-color;

//variable for color of mobile menu micro interaction touch / click circle effect on menu links
$inkbgcolor: hsl(220, 100%, 80%);

// other colours (we need to check if these are all used)
$bgcolor: $pearl-lust;
$bgcolor-dark: $hampton;
$main-highlight-color-dark: darken($base-red, 6%);
$brand-color: $base-blue;
$brand-color-light: $base-blue-light;
$login-button: $login-blue;
$go-button: $green;
$cashier-button: $bondi-blue;
$account-highlited-blue: $lynch;
$global-bg-color: $Blumine;
$body-font-color: $Blumine;
$body-font-color-light: lighten($body-font-color, 10%);
$ctacolor: $bond-blue;
$content-text: $mine-shaft;
$title: $blue-chill;
$pagetitle: $blue-chill;
$pagetitle: darken($grey, 30%);
$account-blue: $alice-blue;
$ctacolor-hover: lighten($bondi-blue, 5%);

/*=============================================
=  permanent variable to ensure Category carousel  =
=============================================*/
$category-carousel-h1: $body-font-extra-bold;
$category-carousel-title-link: $body-font-bold;

//$main-highlight-color;
$category-carousel-font-family: $body-font-bold;

//$category-carousel-font-family
$category-carousel-font-family-bold: $body-font-extra-bold;

//$mobile-font-bold
$category-carousel-background: $white;

// title and its background
$category-carousel-main-highlight-color: $nav-main-color;
$category-carousel-main-highlight-background-color: $white;

// view all link (right)
$category-carousel-view-all-link: $global-link-color;


//used on promo modal
$radical-red:#FD276F;
/*=============================================
=  Claim prize promotion tabs                 =
=============================================*/
$claimed-prize-amount-highligted: $radical-red;
$claimed-prize-headers-background: $nav-active-color;
$claimed-prize-headers-color: $white;
$claimed-prize-button-start-color: $nav-active-color;
$claimed-prize-button-end-color: $nav-active-color;
$font-color: $white;
$claimed-prize-close-reveal: #AAAAAA;
$claim-prize-confirmation-background: $lighter-bg;

//3 STEP REGISTRATION GLOBAL VARIABLES 

//fonts
$registration-3step-font-light: $body-font-light;
$registration-3step-font-regular: $body-font-regular;
$registration-3step-font-bold: $body-font-bold;

// background
$registration-3step-bg--base: $white; 
$registration-3step-bg--main: $pearl-lust;

// banner
$registration-3step-banner-bg: $pearl-lust;

// 3 step steps
$registration-3step-title: $Metallic-Bronze;
$registration-3step-title--border: #43962A;
$registration-3step-border--bottom: $stark-white;

// title (Mr Mrs Miss Ms)
$registration-3step-button--bg: $Metallic-Bronze;
$registration-3step-button-color--selected: $white;
$registration-3step-button-color: $black;

// input
$registration-3step-input--label: $black;
$registration-3step-input--border: $dusty-gray;
$registration-3step-input--content: $Blumine;

//select
$registration-3step-select-text: $dove-grey;

//date
$registration-3step-date-border: $mercury;
$registration-3step-date-text: $sliver;

//find address CTA
$registration-3step-address-bg: $Metallic-Bronze;
$registration-3step-address-text: $white;

// validations and requirements
$registration-3step-requirements: $black;
$registration-3step-input--success: $lima;
$registration-3step-input--error: $carnation;

//CTAS
$registration-3step-cta: $japanese-laurel;
$registration-3step-cta--text: $white;
$registration-3step-cta--dropshadow: $camarone;
$registration-3step-tick-border: $black;
$registration-3step-tick-text: $black;

$cashier-3radical-cta: $japanese-laurel;
// terms & conditions
$registration-3step-terms: $Denim;

/*=============================================
COOKIE POLICY VARIABLES
=============================================*/

$cookie-block-bg: $white;
$cookie-message-color: $black;
$cookie-link-color: $black;
$cookie-cta-bg: $Blumine;
$cookie-cta-color: $white;
$cookie-cta-hover: $blue-zodiac;
//Cashier widget
$cashier-welcome-font: "proximanova-extrabold", Helvetica, Arial, sans-serif;
$cashier-welcome-size: 22px;
$cashier-widget-header: #fff;


/*=============================================
PRIZE WHEEL
=============================================*/
$prize-wheel-icon: url("../_images/prize-wheel/prize-wheel-kb.svg");
$prize-wheel-font: Helvetica, Arial, Verdana, sans-serif;