.search-screen {
        font-family: $ui-font-semibold;
    // skin css
    background: rgba(0, 0, 0, 0.9);
    padding: 3px;
    z-index: 3 !important;
    .search-inner__last-played {
        font-family: $ui-font-semibold !important;
        text-align: center;
        display: block;
        height: 20px;
        border-top: 1px solid #424242;
        padding: 5px;
        padding-top: 18px;
        text-transform: uppercase;
        margin-top: 20px;
    }
    .search-inner {
        padding: $site-margin;

    }
}

.search-results {
    .search-result {
        border-bottom: 1px solid #484848;
        .search-result__name__inner {
            color: $white;
            font-family: $ui-font-semibold;
            font-size: 16px;
            line-height: 16px;
        }
        .search-result__cta {
            &:hover {
                -webkit-filter: invert(100%);
            }
        }
    }
}

.search-input input:focus, .search-input input {
    font-size: 16px !important;
    height: 44px;
}
