.icons__balance {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url('../_images/common/icons/balance.png') no-repeat;
}

.icons__deposit {
    display: inline-block;
    width: 26px;
    height: 26px;
    // background: url('../_images/common/icons/deposit-white.png') no-repeat;
}

.icons__balance-white {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url('../_images/common/icons/balance-white.png') no-repeat;
}

.icons__down-arrow {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url('../_images/common/icons/down-arrow.png') no-repeat;
    background-position-y: -3px;
}

.forward-arrow {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url('../_images/common/icons/forward-arrow.png') no-repeat;
    background-position: center;
}

.icons-star--off {
    display: inline-block;
    background: url('../_images/common/icons/fav-icon-of.svg')no-repeat center center;
    background-size: 100%;
}

.icons-star--on {
    display: inline-block;
    background: url('../_images/common/icons/fav-icon-on.svg') no-repeat center center;
    background-size: 100%;
}
