
.progressive-jackpots__wrapper {
    width: 100%;
    position: relative;
    padding-left: 15px;
    padding-top: 0;

    @media #{$large-up} {
        padding-left: 0;
        padding-bottom: 0;
    }

    padding-bottom: 15px;
    background: $regalwins--gray-darkest;

    &.slider {
        @media #{$medium-up} {
            height: auto;
            float: left;
            padding-bottom: 0;
        }
        @media #{$large-up} {
            margin-top: 0;
        }
    }

    img.hub-shape-holder {
        // fix for stopping scale issue by using an html image element
        top: 0px;
        left: 0px;
        position: absolute;
        z-index: -1;
    }

    .progressive-jackpots {
        position: relative;

        @media #{$medium-up} {
            margin-bottom: 1rem;
        }
        @media #{$large-up} {
            margin-top: 1.5rem;
        }

        .bx-viewport {
            height: auto !important;    // necessary to overrule fixed 125px height
        }

        .progressive-jackpots__title {
            @media #{$large-up} {
                padding-bottom: 1px;
            }

            h1 {
                height: 25px;
                margin: 0 0 0.2rem 0;
                padding: 3px;
                color: $white;
                text-transform: none;
                font-size: $rw-header-secondary-size;
                font-weight: bold;

                @media #{$medium-up} {
                    font-size: $rw-header-size;
                    margin: 0 0 0.75rem 0;
                }
            }
        }

        // 'view all' link
		.progressive-jackpots__link {
            position: absolute;
            width: auto;
            height: 30px;
            top: 5px;
            right: 15px;

            > a {
                color: $white;
                font-size: 13px;
                text-decoration: underline;
            }
        }

        // if a favourite icon is needed, place absolutely
        .game-icon__favourite__icon {
            display: none;
            position: absolute;
            z-index: 2;
            bottom: 10px;
            right: 0;
            width: 20px;
            height: 20px;
        }

        .progressive-jackpots__progressive.slide {
            width: 277px !important;

            @media #{$medium-up} {
                width: 330px !important;
            }
        }

        // only a wrapper for game title and progressive amount
        .progressive-jackpots__progressive--wrapper {
            width: 109px;
            height: 60px;
            float: left;
            padding: 10px 0 0 10px;
        }

        // per-slide container
        .progressive-jackpots__progressive {
            height: 100%;
            position: relative;
            @include clearfix;
            background-color: $regalwins--gray-darkest;
            padding: 7px;
            margin-top: 0.5rem;
            margin-right: 5px;
            border: 1px solid $regalwins--gray-dark;
            border-radius: 5px;
            background: url('/_images/revamp/common/backgrounds/grey-highlight.jpg');
            background-size: cover;

            .progressive-jackpots__progressive__icon {
                width: 151px !important;

                @media #{$medium-up} {
                    width: 175px !important;
                }
            }

            .progressive-jackpots__progressive__title {
                width: 94px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                text-align: center;
                font-size: rem-calc(9px);

                @media #{$medium-up} {
                    width: 125px;
                    font-size: rem-calc(12px);
                }

                > span {
                    display: inline-block;
                    width: 100%;
                }
            }
            .progressive-jackpots__progressive__amount {
                width: 94px;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                
                @media #{$medium-up} {
                    width: 125px;
                }

                > span {
                    display: inline-block;
                    width: 100%;
                    font-size: rem-calc(14px);
                    font-weight: bold;
                    color: $regalwins--button-gold;

                    @media #{$medium-up} {
                        font-size: rem-calc(20px);
                        margin-top: 5px;
                    }
                }
            }

            .progressive-jackpots__progressive__cta {
                width: 94px;
                display: inline-block;
                margin-left: 10px;
                text-align: center;
                padding: 0;
                margin-top: 8px;

                @media #{$medium-up} {
                    width: 125px;
                    margin-top: 20px;
                }

                > span {
                    //button style
                    @include background-clip(padding-box);
                    @include border-radius(2px);
                    @include regalwins-button-gradient('false', 'green');

                    display: inline;
                    padding: 3px 15px 5px 15px;
                    color: $white;
                    font-size: 10px !important;
                    font-weight: bold;
                    text-transform: uppercase;
                    cursor: pointer;

                    @media #{$medium-up} {
                        padding: 10px 25px 12px 25px;
                    }
                }
            }
        }
    }
}

// adjust widths for sidebar version of widget only use this below for colum widths no other styles

    .progressive-jackpots__progressive {
        @media #{$small-only} {
            @include grid-column(6, $collapse: true);
            /* Portrait small phone make 1 per line */
            @media only screen and (min-device-width: 100px) and (max-device-width: 380px) and (orientation: portrait) {
                @include grid-column(12, $collapse: true);
            }
        }
        .progressive-jackpots__progressive__icon {
            @include grid-column(5, $collapse: true);
        }
        .progressive-jackpots__progressive__title {
            @include grid-column(7, $collapse: true);
            span {
                @include grid-column(12, $collapse: true, $center: true);
            }
        }
        .progressive-jackpots__progressive__amount {
            @include grid-column(7, $collapse: true);
            span {
                @include grid-column(12, $collapse: true, $center: true);
            }
        }
        .progressive-jackpots__progressive__cta {
            @include grid-column(7, $collapse: true);
            span {
                //button style
                @include grid-column(3, $collapse: true, $center: true);
            }
        }
    }
