.quick-links-widget {

    font-size: 1.1rem;
    padding: 0px;
    text-align: center;
    font-family: $heading-font-bold;
    background-color: $blackrock-blue;
    height: 100%;
    list-style: inside;
    list-style-image: url("../_images/common/icons/diamond.png");
    // margin-left: 12px;
    .quick-links-widget__title {
        font-size: 0.8em;
        background-color: $brand-color;
        text-align: center;
        //        border-bottom: 1px solid $ctacolor;
        color: $white;
        margin-bottom: 0.5em;
        padding-left: 0.5em;
    }
    > li {
        margin: 0px;
        padding: 0px;
        padding-left: 10px;
        padding-bottom: 1px;
        border-bottom: solid 1px lighten($brand-color, 5%);
        //        border-bottom: 1px solid $account-blue;
        @include background-image(linear-gradient(bottom, #0f0027 0%, darken(#1c0148, 10%) 100%));
        text-align: left;
        a {
            padding: 0.6em !important;
            font-size: 0.7em;
            //overriding foundation styles
            line-height: 0;
            color: $navigation-text-color !important;
            &:hover {
                color: $white !important;
            }
        }
    }

}

.hub-grid__col-2x.quick-links {
    background-color: #0c001f;
    @media #{$small-only} {
        @include grid-column(6);
        padding: 0px;
    }
    @media #{$medium-up} {
        @include grid-column(6);
        padding: 0px;
    }
    @media #{$large-up} {
        @include grid-column(4);
        padding: 0px;
    }
}   

