.loyaltycrumbs {
    @include grid-row();
    position: relative;
    .share-button {
        right: 0px;
        @extend .hide-for-medium-down;
    }
}

.share-button {
    @extend .hide-for-medium-down;
    position: absolute;
    top: 2px;
    right: 3px;
    z-index: 1;
    border-radius: 1px;
    color: lighten($regalwins--indigo, 50%) !important;
    @media #{$small-only} {
        z-index: 999;
        position: absolute;
        display: block;
        background-color: white;
        line-height: 20px;
        padding: 3px 6px 3px 6px;
        opacity: 0.6;
        box-shadow: 1px 1px 2px 1px #333;
        border-radius: 1px;
        color: lighten($regalwins--indigo, 50%) !important;
        font-family: sans-serif !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
        font-size: 12px !important;
        &:hover {
            background-color: #f3f3f3;
            color: #000 !important;
            text-decoration: underline;
            opacity: 0.8;
        }
    }
}

.share-button.right.sharer-0 {
    @media #{$small-only} {
        height: 30px !important;
        display: none !important;
    }
    @media #{$medium-only} {
        display: none;
    }
    label {
        background: transparent !important;
        padding: 0px !important;
        line-height: 1.3rem !important;
        color: lighten($regalwins--indigo, 50%) !important;
        font-family: $heading-font-bold;
        font-size: 1em;
        margin-top: 2px;
    }
}
