.account-menu-mobile {
    @include hide-for-large-up;

    @include grid-column(12);

    margin: 0;
    padding: 0;
    right: 0;
    z-index: 9999999;
    background: $white;
    display: none;
    position: fixed;
    top: 50px;
    &:after {
        bottom: 100%;
        right: 97px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $ui-light-color;

        @media #{$medium-only} {
            right: 80px;
        }
    }

    &.active {
        display: block;
    }

    @media #{$medium-only} {
        max-width: 300px;
        margin-right: $site-margin;
    }

    .account-menu-mobile__header {
        @include grid-column(12);

        font-size: 1.1rem;
        padding: 14px 12px;
        font-family: $body-font-bold;
        background: $ui-light-color url(../_images/common/icons/popover-close.svg) no-repeat right ($site-margin / 2) center;
    }

    ul {
        @include grid-column(12);

        color: $brand-color;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        text-transform: uppercase;

        @media #{$medium-only} {
            max-width: 300px;
        }

        li {
            @include grid-column(12);

            font-family: $body-font-medium;
            position: relative;
            border-bottom: 1px solid $ui-light-color;
            padding: 12px;
            padding-bottom: 10px;
            line-height: 1.3;
            font-size: 1rem;

            @media #{$medium-only} {
                max-width: 300px;
            }

            .account-cashier {}

            .account-my-start-page {}

            .account-my-favourite-games {}

            .account-claim-code {}

            .account-personal-details {}

            .account-account-activity {}

            &:last-child {
                border: none;
            }

            &.logout {
                @include grid-column(12);

                padding: 0;
                margin: 0;

                a {
                    border-radius: 4px;
                    overflow: hidden;
                    background: $brand-color;
                    font-family: $body-font-bold;
                    color: $white;
                    padding: $site-margin / 2;
                    width: 80%;
                    float: left;
                    margin: $site-margin 10%;
                    text-align: center;
                    text-transform: uppercase;
                }
            }

            a {
                color: $global-link-color;
                padding-left: $site-margin * 2;
                text-transform: none;
                font-size: 19px;

                svg {
                    fill: $global-link-color;
                    width: 23px;
                    height: 23px;
                    position: absolute;
                    left: 10px;
                    top: 13px;

                    path, polyline, g, polygon {
                        fill: $global-link-color;
                    }
                }
            }
        }
    }
}