.balance-display-mobile {
    @include hide-for-large-up;

    @include grid-column(12);

    // width: 98%;
    // margin: 0 1%;
    margin: 0;
    padding: 0;
    left: 0;
    z-index: 9999999;
    background: $white;
    display: none;
    top: 50px;
    position: fixed;

    @media #{$medium-only} {
        max-width: 300px;
        margin-right: $site-margin;
        left: auto;
        right: 0;
    }

    &:after {
        bottom: 100%;
        left: 60px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $ui-light-color;

        @media #{$medium-only} {
            left: 85px;
        }

        @media #{$small-only} {
            left: 90px;
        }

        @media screen and (max-width: 350px) {
            left: 30px;
        }
    }

    &.active {
        display: block;
    }

    .balance-display-mobile__header {
        @include grid-column(12);

        font-size: 1.1rem;
        padding: 14px 12px;
        font-family: $body-font-bold;
        background: $ui-light-color url(../_images/common/icons/popover-close.svg) no-repeat right ($site-margin / 2) center;
    }

    ul {
        @include grid-column(12);

        color: $brand-color;
        margin: 0;
        padding: 10px;
        font-size: 1rem;
        text-transform: uppercase;
        padding-bottom: $site-margin;

        li {
            @include grid-column(12);

            @include border-radius(20px);

            margin-bottom: $site-margin / 3;
            font-family: $body-font-bold;
            position: relative;
            padding-left: 10px;
            padding-right: 0;
            line-height: 2.2;
            font-size: 0.9rem;
            max-height: 40px;
            background: $base-blue-light;

            &.balance {
                &.active {
                    .slider {
                        background-color: $white;
                    }
                }

                .slider {
                    background-color: $white;
                }
            }

            &:last-child {
                border: none;
            }

            div {
                display: inline;
            }

            span {
                @include border-radius(20px);

                float: right;
                font-family: $body-font-bold;
                padding: 0 11px;
                background: $nav-main-color;
                color: $white;
                display: inline;
                height: 31px;
            }

            a {
                color: $mandy;
                padding-left: 0px;
                text-decoration: underline;
            }

            &#ui-balance-switch {
                height: 40px;
                font-family: $body-font-regular;
                background: none;
                line-height: 2.5;
                padding: 0;
                overflow: visible;
                border-radius: 0;

                span.balance-text {
                    float: left;
                    font-size: 1.1rem;
                    line-height: 2.2;
                    color: $global-link-color;
                    font-family: $body-font-medium;
                    text-transform: none;
                    background: none;
                    overflow: visible;
                    border-radius: 0;
                }
            }

            /* The switch - the box around the slider */
            .switch {
                display: inline-block;
                width: 65px;
                height: 34px;
                top: 0;
                right: 0px;
                position: absolute;
            }

            /* Hide default HTML checkbox */
            .switch input {
                display: none;
            }

            /* The slider */
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $ui-light-color;
                -webkit-transition: .4s;
                transition: .4s;
            }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 2px;
                bottom: 2px;
                background-color: $white;
                -webkit-transition: .4s;
                transition: .4s;
            }

            /* Rounded sliders */
            .slider.round {
                border-radius: 34px;
                background: $white;
                border: 2px solid $ui-light-color;
            }

            .slider.round:before {
                border-radius: 50%;
                background: $ui-light-color;
            }

            .slider.active {
                background-color: $white;
            }

            .slider.active:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
                background: $japanese-laurel;
                left: 6px;
            }
        }
    }
}