.mobile-menu {
    /* skin specific non-critical appearance styles */
    font-size: 1.25rem;
    text-transform: capitalize;

    // needs to be same as slot categories hidden slide down panel background colour
    background-color: $white;
    z-index: 99999999 !important;
    padding: 0px 0 0 !important;
}

.mobile-menu-top {
    /* skin specific non-critical appearance styles */
    // box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.6);
    padding: 0;
    height: 50px;
    margin: 0;

    //top: 0;
    max-width: 414px;
    width: 100%;
    position: fixed;
    z-index: 1;

    .back-link {
        @include grid-column(12);

        background: url(../_images/common/mobile-menu-icons-svg/close-icon.svg) no-repeat center right 15px #ffce4c;
        background-size: 23px !important;
        background-position: right 15px center !important;
        border: none !important;
        box-shadow: none;
        color: $main-highlight-color-nav;
        font-size: 18px;
        padding: 0;
        text-align: center;
        border: none;
        height: 50px;
        display: block;
        z-index: 1;
    }

    .search-input > input[type=text], .search-input {
        border: none;
        box-shadow: none;
        height: 40px;
        font-size: 20px;
        text-transform: uppercase;
    }
}

.mobile-menu-lists {
    /* cross skin critical sizing and position styles */
    overflow: scroll;
    height: 100%;

    // margin-top: 50px;
}

.mobile-menu-list {
    /* cross skin critical sizing and position styles */
    width: 100%;
    position: relative;
    height: 100%;
    list-style-type: none;
    margin-left: 0;
    padding-top: 50px;
    z-index: 0;
}

.mobile-menu-top-area__row {
    /* cross skin critical sizing and position styles */
    display: block;
    width: 100%;

    @include grid-row;

    height: 48px;
    margin-bottom: 5px;
}

.mobile-menu-top-area__join {
    a {
        /* skin specific non-critical appearance styles */
        @include border-radius(4px);

        @include CTA-button;

        font-family: $body-font-bold;
        font-size: 20px;
        font-weight: bold;
        color: $white;
        line-height: 22px !important;
    }
}

.mobile-menu-top-area__balance {
    /* cross skin critical sizing and position styles */
    @include grid-column(10);

    color: lighten($black, 30%);
    font-family: $body-font-bold;
    text-align: left;
    width: 80% !important;

    .inner {
        height: 42px !important;
        line-height: 55px !important;
        font-size: 18px !important;

        // background-color: #f8e4bb;

        @include background-clip(padding-box);

        span {
            margin-right: 10px !important;
            color: $black;
            font-family: $body-font-bold;
        }
    }
}

.mobile-menu-top-area__vip-level {
    @include grid-column(2);

    width: 20% !important;

    .inner {
        /* skin specific non-critical appearance styles */
        background-color: #f8e4bb;

        @include border-radius(2px);

        //font style
        color: lighten($black, 30%);
        font-family: $body-font-bold;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }
}

.mobile-menu-item {
    /* skin specific non-critical appearance styles */
    //font styles
    color: $nav-active-color;
    font-family: $body-font-medium;
    font-size: 19px;
    line-height: 50px;
    border: none;
    transition: 600ms;

    // @include text-shadow(1px 1px 0 rgba(0, 0, 0, 0.6));
    //bar styles
    // border-bottom: 1px solid $black;
    &.active {
        border: none;
        color: $nav-active-color;

        a {
            color: $global-link-color;
        }
    }

    a {
        color: $Denim;
        font-family: $body-font-medium !important;
        padding-left: 50px !important;
        background-repeat: no-repeat;

        svg {
            fill: $global-link-color;
            width: 23px;
            height: 23px;
            position: absolute;
            left: 8px;
            top: 13px;

            path, polyline, g, polygon {
                fill: $global-link-color;
            }
        }

        &.active {
            border: none;
            color: $nav-active-color;

            svg {
                fill: $nav-active-color;

                path, polyline, g, polygon {
                    fill: $nav-active-color;
                }
            }
        }
    }

    // Slots Categories Button
    .slots-categories {
        @include games-button-ui;

        padding-right: 20px;
        width: auto !important;
        font-family: $body-font-bold;
        color: $white;
        text-shadow: none;
        font-size: 14px;
        padding-left: 10px;
        border-radius: 4px;
        text-transform: uppercase;
        line-height: 22px !important;

        &:after {
            content: " ";
            width: 13px;
            height: 18px;
            background: url(../_images/common/icons/arrow-down.png) center center no-repeat;
            position: relative;
            top: 2px;
            right: -10px;
            float: right;
        }

        // .chevron-icon {
        //     opacity: 0.8;
        //     fill: $white;
        // }

    }

    .menu-link {
        @include grid-column(12);

        padding: 0;
        height: 50px;
        line-height: 2.8;

        // color: $Denim;

    }

    &__submenu {
        // background: $minsk-blue;
        transition: 500ms;

        &__content {
            opacity: 0;
            visibility: hidden;
            transition: 500ms;
        }
    }

    &.is-active {
        .mobile-menu-item {
            &__submenu {

                &-toggle {

                }

                &__content {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.mobile-menu-section-title {
    /* skin specific non-critical appearance styles */
    //font styles
    color: $brand-color;
    font-family: $body-font-medium;
    font-size: 13px;
    line-height: 23px !important;
    padding-left: 10px !important;
    text-transform: uppercase;

    // bar styles
    background-color: $ui-light-color;
}

// Mobile Menu Slots Categories Hidden Slide Down Panel

.mobile-menu {
    .games-filter-menu__popover .tabs-content .content ul li {
        width: 33.33%;
    }
}

//svg background images

.mobile-menu {
    // mobile header login button
    .mobile-menu-item {
        border-bottom: 1px solid $ui-light-color;

        a {
            background-size: 5%;
            background-position: 11px 11px;
        }

        a:before {}
    }

    .mobile-menu-item.logout-link {
        @include grid-column(12);

        margin-bottom: $site-margin;
        height: auto;
        padding: 0 !important;
        border-bottom: none;
        text-transform: uppercase;

        // background-image: url(../_images/common/mobile-menu-icons-svg/logout.svg);
        // background-position: 9px 14px;

        a {
            @include border-radius(4px);

            background-color: $brand-color;
            box-shadow: 0px 2px 0px 0px #183b61;
            font-family: $body-font-bold !important;
            line-height: 2.3;
            height: auto;
            color: white;
            padding: 0 !important;
            width: 80%;
            float: left;
            margin: $site-margin 10%;
            text-align: center;
        }
    }

    .mobile-menu-item.back-link {}

    .mobile-menu-item.home-link {
        a {}
    }

    .mobile-menu-item.start-link {
        a {}
    }

    .mobile-menu-item.gamelimits-link {
        a {}
    }

    .mobile-menu-item.responsiblegaming-link {
        a {}
    }

    .mobile-menu-item.privacy-link {
        a {}
    }

    .mobile-menu-item.about-us-link {
        a {}
    }

    .mobile-menu-item.terms-link {
        a {}
    }

    .mobile-menu-item.faq-link {
        a {}
    }

    .mobile-menu-item.banking-link {
        a {}
    }

    .mobile-menu-item.support-link {
        a {}
    }

    .mobile-menu-item.community-link {
        a {}
    }

    .mobile-menu-item.deposit-link {
        a {}
    }

    .mobile-menu-item.cashier-link {
        a {}
    }

    .mobile-menu-item.myaccount-link {
        a {}
    }

    .mobile-menu-item.loyalty-link {
        a {}
    }

    .mobile-menu-item.promotions-link {
        a {}
    }

    .mobile-menu-item.allgames-link {
        a {}
    }

    .mobile-menu-item.roulette-link {
        a {}
    }

    .mobile-menu-item.scratchcards-link {
        a {}
    }

    .mobile-menu-item.tablecard-link {
        a {}
    }

    .mobile-menu-item.slots-link {
        a {}
    }

    .mobile-menu-item.favourites-link {
        a {}
    }

    .mobile-menu-item.newgames-link {
        a {}
    }

    .mobile-menu-item.gamesearch-link {
        a {}
    }

    .mobile-menu-item.bingo-link {
        a {}
    }

    .mobile-menu-item.settings-link {
        a {}
    }

    .mobile-menu-item.extras-link {
        a {
            .dice-svg {
                position: absolute;
                width: 100px;
                height: 120px;
                bottom: 17%;
                top: auto;
                left: 0px;

                    .st1 {
                        fill: #ff0062;
                        transform: translate(20px, 11px);
                        animation-name: blinking;
                        animation-duration: 1.5s; 
                        animation-timing-function: ease-out; 
                        animation-delay: 0s;
                        animation-direction: alternate;
                        animation-iteration-count: infinite;
                        animation-fill-mode: none;
                        animation-play-state: running;
                    }

                    .st2 {
                        fill: #ff0062;
                        transform: translate(-1px, 0px);
                        animation-name: blinking;
                        animation-duration: 1.5s; 
                        animation-timing-function: ease-out; 
                        animation-delay: 0.5s;
                        animation-direction: alternate;
                        animation-iteration-count: infinite;
                        animation-fill-mode: none;
                        animation-play-state: running;
                    }

                    .st3 {
                        fill: #ff0062;
                        transform: translate(2px, -22px);
                        animation-name: blinking;
                        animation-duration: 1.5s; 
                        animation-timing-function: ease-out; 
                        animation-delay: 1s;
                        animation-direction: alternate;
                        animation-iteration-count: infinite;
                        animation-fill-mode: none;
                        animation-play-state: running; 
                    }

                    @keyframes blinking {
                        0% {
                            opacity: 0;
                            fill: #ff0062;
                        }
                        50%{
                          opacity: 1;
                          fill: #ff0062;
                        }
                        100% {
                            opacity: 0;
                            fill: #f14a88;
                        }
                    }
            }

            .bouncing-dice {
                
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-name: bounce;
                animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
                    

                     @keyframes bounce {
                        0%   { transform: scale(1,1)      translateY(0); }
                        10%  { transform: scale(1.1,.9)   translateY(0); }
                        30%  { transform: scale(.9,1.1)   translateY(-9px); }
                        50%  { transform: scale(1.05,.95) translateY(0); }
                        57%  { transform: scale(1,1)      translateY(-7px); }
                        64%  { transform: scale(1,1)      translateY(0); }
                        100% { transform: scale(1,1)      translateY(0); }
                    }
            }

        }
    }
    .mobile-menu-item.complaints-disputes-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/complaints.svg);
        background-size: 7%;
        background-position: 7px 17px;
    }

    .mobile-menu-item.archive-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/archive.svg);
        background-size: 6%;
        background-position: 7px 17px;
    }
}

@for $i from 1 through 25 {
    #ui-id-#{$i} {
        /* skin specific non-critical appearance styles */
        //font styles
        color: $global-link-color;
        font-family: $body-font-bold;
        font-size: 14px;

        //bar styles
        border-top: 1px solid darken($global-link-color, 80%);
        border-bottom: none;
        background-image: none;
        background-color: $white;
    }
}

.ui-state-focus {
    background: $global-link-color !important;
    background-image: none;
    color: $white !important;
    box-shadow: none  !important;
}

// auto complete search

.ui-auto-complete {}

// nav toggle menu with animation into cross shape

.menu-toggle-wrap {
    cursor: pointer;

    @media #{$small-only} {
        margin-top: 7px;
    }

    .burger {
        background: $nav-main-color;
        height: 4px !important;
        top: 23px !important;
        right: 4px !important;

        &:before {
            background: $nav-main-color;
            height: 4px !important;
            top: -10px !important;
        }

        &:after {
            background: $nav-main-color;
            height: 4px !important;
            top: 6px !important;
        }
    }

    .burger.active {
        border: 0px solid $nav-main-color;
        top: 6px !important;
        padding-left: 7px !important;
        transform: scale(1.2) !important;

        &:before {
            transform: rotate(45deg) scale(0.9) !important;
        }

        &:after {
            transform-origin: 0% 10% !important;
            transform: rotate(-45deg) scale(0.9) !important;
            left: 4px !important;
            padding: 0;
        }
    }
}

.nav-for-mobile__ctas {
    float: left;
    margin-top: 9px;

    @media #{$medium-only} {
        float: right;
        margin-right: $site-margin;
    }

    @media #{$small-only} {
        position: absolute;
        left: 75px;
        margin-top: 17px;
    }

    @media screen and (max-width: 350px) {
        left: $site-margin / 2;
    }

    .login-button--nav-for-mobile {
        @include secondary-button-ui;

        color: $white;
        float: left;
        display: inherit;
        height: 30px;
        padding: 0 10px;
        line-height: 1.9;
        font-size: 1rem;

        @media #{$small-only} {
            padding: 0 10px;
            font-size: 0.9rem;
            line-height: 2.3;
        }
    }

    .join-button--nav-for-mobile {
        @include CTA-button(1px, 1em, 4px, #FF6BCA, #FF78CF, #FF00A8, #9F0050, #FFC5EA);

        color: $white;
        margin-left: $site-margin / 2;
        float: left;
        display: inherit;
        height: 30px;
        padding: 0 10px;
        line-height: 1.9;
        font-size: 1rem;

        @media #{$small-only} {
            margin-left: $site-margin / 3;
            padding: 0 10px;
            font-size: 0.9rem;
            line-height: 2.3;
        }
    }
}

.games-filter-menu__popover ul {
    margin-left: 0;
    list-style-type: none;
}