.mybalances-mobile {
    @include hide-for-large-up;

    @include grid-column(12);

    width: 98%;
    margin: 0 1%;
    padding: 0;
    right: 0;
    z-index: 99999;
    max-width: 450px;
    background: $white;
    display: none;
    top: 50px;
    position: fixed;

    &.active {
        display: block;
    }

    .mybalances-mobile__header {
        @include grid-column(12);

        color: $nav-active-color;
        font-size: 18px;
        text-transform: uppercase;
        padding: $site-margin;
        font-family: $body-font-medium;
        background: #e7e2fe url(../_images/common/icons/welcome-close.svg) no-repeat right $site-margin center;
    }

    ul {
        @include grid-column(12);

        color: $nav-active-color;
        margin: 0;
        padding: $site-margin;
        font-size: 19px;
        text-transform: uppercase;

        li {
            @include grid-column(12);

            padding: 0;
            font-family: $body-font-light;

            span {
                float: right;
                font-family: $body-font-medium;
            }

            a {
                @include grid-column(12);
            }
        }
    }
}