.navigation__container {
    @include grid-row;

    @media #{$large-up} {
        @include grid-column(12);

        padding: 0;
        position: absolute;
        top: 127px;
    }

    .navigation-desktop {
        @include grid-row;

        @include show-for-large-up;

        padding: 0;

        .navigation-desktop__nav {
            @include list-inline;

            margin: 0 auto;
            height: 49px;
            padding-left: 15px;
            position: relative;
            padding-top: 10px;
            position: relative;
            background-image: linear-gradient(0deg, #ffd342 0%, #ffce4c 38%, #ffb222 100%);
            box-shadow: 0px 2px 0px 0px #D9AC38, 0px 0px 0px 0px #BF8307;


        }

        .navigation-desktop__nav li {
            margin-right: 0px;


            &.radical-dice {
                a { 

                    &:hover {
                        background: #ffeeb7;
                    }

                    img {
                        width:28px;
                        margin-right:4px;

                        animation-duration: 4.5s;
                        animation-iteration-count: infinite;

                        &.bounce-dice {
                            animation-name: bounce;
                            animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
                        }

                         @keyframes bounce {
                            0%   { transform: scale(1,1)      translateY(0); }
                            10%  { transform: scale(1.1,.9)   translateY(0); }
                            30%  { transform: scale(.9,1.1)   translateY(-15px); }
                            50%  { transform: scale(1.05,.95) translateY(0); }
                            57%  { transform: scale(1,1)      translateY(-7px); }
                            64%  { transform: scale(1,1)      translateY(0); }
                            100% { transform: scale(1,1)      translateY(0); }
                        }
                    }
                }

                svg {
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    bottom: 0%;
                    margin-left: 90px;
                    .st1 {
                        fill: #ff0062;
                        transform: translate(28px, -65px);
                        animation-name: blink;
                        animation-duration: 2s; 
                        animation-timing-function: ease-out; 
                        animation-delay: 0s;
                        animation-direction: alternate;
                        animation-iteration-count: infinite;
                        animation-fill-mode: none;
                        animation-play-state: running; 
                    }

                    .st2 {
                        fill: #ff0062;
                        transform: translate(0px, -73px);
                        animation-name: blink;
                        animation-duration: 2s; 
                        animation-timing-function: ease-out; 
                        animation-delay: 0.5s;
                        animation-direction: alternate;
                        animation-iteration-count: infinite;
                        animation-fill-mode: none;
                        animation-play-state: running; 
                    }

                    .st3{
                        fill: #ff0062;
                        transform: translate(8px, -98px);
                        animation-name: blink;
                        animation-duration: 2s; 
                        animation-timing-function: ease-out; 
                        animation-delay: 1s;
                        animation-direction: alternate;
                        animation-iteration-count: infinite;
                        animation-fill-mode: none;
                        animation-play-state: running; 
                    }


                    @keyframes blink {
                        0% {
                            opacity: 0;
                            fill: #ff0062;
                        }
                        50%{
                          opacity: 1;
                          fill: #ff0062;
                        }
                        70% {
                            opacity: 0;
                            fill: #f14a88;
                        }
                        100% {
                            opacity: 0;
                            fill: #f14a88;
                        }
                    }
                }
            }

            a {
                @include transition(all, 0.2s ease-out);

                display: block;
                padding: 3px 6px 2px 6px;
                text-transform: uppercase;
                font-family: $nav-font-bold;
                -webkit-font-smoothing: antialiased;
                font-size: 1.03rem;
                border-radius: 4px;
                color: $nav-main-color;

                &.current {
                    repeat: no-repeat;
                    border-radius: 4px;
                    background: #ffeeb7;
                }

                &:hover {
                    repeat: no-repeat;
                    background: #ffeeb7;
                    width: auto;
                }
            }
        }

        .nav-social-icons {
            position: absolute;
            right: 0;
            top: 8px;
            margin-right: 10px;
            margin-bottom: 0px;

            li {
                margin: 0;
                margin-left: 3px;

                a {
                    padding: 0;

                    &:hover {
                        padding: 0;
                        opacity: 0.7;
                        background: none;
                        box-shadow: none;
                    }
                }

                img {
                    margin-right: 5px;
                }

                &:first-child {
                    img {
                        width: 35px;
                    }
                }
            }
        }

        .navigation-desktop__left-ribon {
            position: absolute;
            top: 20px;
            left: -32px;
            z-index: -1;
        }

        .navigation-desktop__right-ribbon {
            position: absolute;
            top: 20px;
            right: -32px;
            z-index: -1;
        }
    }
}


.tooltip-info {
  position: relative;
  display: inline-block;
  background: transparent;
}

//Tooltip box styling
.tooltip-info .tooltip-content {
  visibility: hidden;
  width: 68px;
  height: 30px;
  line-height: 30px;
  top: -100%;
  left: 50%;
  margin-left: -38px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 13px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

//Adding an arrow to the bottom of tooltip box
.tooltip-info .tooltip-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

//Make it visible when hover 
.tooltip-info:hover .tooltip-content {
  visibility: visible;
}