.nav-for-mobile {
    @include hide-for-large-up;

    @include transition(all, 0.2s ease-out);

    @include nav-bg;

    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: initial;
    overflow-scrolling: touch;

    /*
    &.sticky {
        top: -50px;
        position: fixed;

        @keyframes sticky {
            from {
                top: -50px;
            }

            to {
                top: 0px;
            }
        }

        animation: sticky 0.2s normal forwards ease-out;
    }*/

    .site-logo {
        @include show-for-medium-only;

        @include grid-column(5);
        background-repeat: no-repeat;
        // background-size: 100% 100%;
        margin-top: 2px;
        margin-left: 10px;
    }

    .site-logo-mobile {
        @include show-for-small-only;

        width: 50px;
        float: left;
        background-repeat: no-repeat center center;
        background-size: 90%;
        margin: 4px 4px 0 4px;

        @media screen and (max-width: 350px) {
            display: none;
        }
    }
}

.balance-display {
    border: 2px solid rgba(81, 54, 32, 0.3);
    color: $main-highlight-color-nav;
    font-family: $body-font-medium;
    border-radius: 4px;
    width: auto;
    float: left;
    padding: 0 24px 0 9px;
    line-height: 1.9;
    margin: 10px 0;
    background: url("/_images/common/mobile-menu-icons-svg/arrow-icon.svg") no-repeat center right 7px;
    cursor: pointer;

    @media #{$medium-only} {
        float: right;
        margin: 8px 15px;
    }

    @media #{$small-only} {
        font-size: 0.8rem;
        line-height: 2;
        padding: 0px 23px 0px 5px;
        margin-top:17px;
        margin-left:5px;
    }

    @media screen and (max-width: 350px) {
        margin-left: $site-margin / 2;
    }

    &.active {}
}

.icons-menu {
    float: right;
    margin-right: 5px;
    margin-left: 5px;
    width: auto;

    svg {
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: 8%;
        right: -45%;

        .st1 {
            transform: translate(29px, -64px);
            animation-name: blink;
            animation-duration: 1.5s; 
            animation-timing-function: ease-out; 
            animation-delay: 0s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-fill-mode: none;
            animation-play-state: running;
        }

        .st2 {
            transform: translate(30px, -78px);
            animation-name: blink;
            animation-duration: 1.5s; 
            animation-timing-function: ease-out; 
            animation-delay: 0.5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-fill-mode: none;
            animation-play-state: running;
        }

        .st3 {
            transform: translate(-29px, -85px);
            animation-name: blink;
            animation-duration: 1.5s; 
            animation-timing-function: ease-out; 
            animation-delay: 1s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-fill-mode: none;
            animation-play-state: running; 
        }
    }

    @media #{$small-only} {
       margin-top:7px;
    }


    .account-icon {
        margin: 0 15px 0 15px;
        padding: 0;
        background: none;
        float: left;
        outline:none;

        img {
            width: 21px;
            height: 50px;
        }

        @media #{$small-only} {
            margin: 0 13px 0 13px;
        }

        &.active {}
    }

    .mail-icon {
        float: left;
        position: relative;

        img {
            width: 28px;
            height: 50px;
        }

        .mail-value {
            // display: block !important;
            position: absolute;
            background: #FF00AA;
            border-radius: 50%;
            right: -10px;
            width: 20px;
            height: 20px;
            line-height: 1.5;
            top: 5px;
            float: left;
            color: white;
            text-align: center;
            font-family: $body-font-bold;
        }
    }

    .search-icon {
        float: left;
        position: relative;
        margin: 0;
        padding: 0;
        background: none;
        outline:none;

        img {
            width: 23px;
            height: 52px;
        }
    }

    .dice-icon {
        float: left;
        position: relative;
        padding: 0;
        background: none;
        outline:none;
        margin:0 15px 0 0;

        img {
            width: 26px;
            height: 52px;

            animation-duration: 2s;
            animation-iteration-count: infinite;

            &.bounce-dice {
                animation-name: bounce;
                animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
            }

             @keyframes bounce {
                0%   { transform: scale(1,1)      translateY(0); }
                10%  { transform: scale(1.1,.9)   translateY(0); }
                30%  { transform: scale(.9,1.1)   translateY(-9px); }
                50%  { transform: scale(1.05,.95) translateY(0); }
                57%  { transform: scale(1,1)      translateY(-7px); }
                64%  { transform: scale(1,1)      translateY(0); }
                100% { transform: scale(1,1)      translateY(0); }
            }
        }
    }
}

.footer-bar-mobile {
    @include grid-column(12);

    @include transition(all, 0.3s ease);

    @include hide-for-large-up;

    box-shadow: 0 -2px 0 0 rgba(217, 172, 56, 0.2);
    transform: translateY(0);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px !important;
    background: #ffd342;
    z-index: 2;
    height: 52px;
    line-height: 1;

    @media #{$medium-only} {
        padding: 8px 25% !important;
        height: 52px;
        line-height: 0.9;
        font-size: 0.95rem;
    }

    .cta-play {
        @include grid-column(6);

        width: 48%;
        text-shadow: none;
        font-size: 1rem;
        padding: 0.5em;

        &:hover {
            color: $white;
        }
    }

    .cta-cashier {
        @include grid-column(6);

        float: right;
        width: 48%;
        text-shadow: none;
        font-size: 1rem;
        padding: 0.5em;

        &:hover {
            color: $white;
        }
    }

    &.on-scroll {
        @include transition(all, 0.4s ease-in-out);

        transform: translateY(40px);
    }
}