.account-menu-mobile {
    @include hide-for-large-up;

    @include grid-column(12);

    margin: 0;
    padding: 0;
    right: 0;
    z-index: 9999999;
    background: $white;
    display: none;
    position: fixed;
    top: 50px;

    &:after {
        bottom: 100%;
        right: 95px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #e7e2fe;

        @media #{$medium-only} {
            right: 85px;
        }
    }

    &.active {
        display: block;
    }

    @media #{$medium-only} {
        max-width: 300px;
        margin-right: $site-margin;
    }

    .account-links {
        padding-left: 35px;
        color: $nav-active-color;
    }

    .account-cashier {
        background-repeat: no-repeat;
        background-image: url(../_images/common/mobile-menu-icons-svg/cashier-icon.svg);
        background-position: 11px 10px;
        background-size: 22px;
    }

    .account-my-start-page {
        background-repeat: no-repeat;
        background-image: url(../_images/common/mobile-menu-icons-svg/start-page-icon.svg);
        background-position: 11px 10px;
        background-size: 22px;
    }

    .account-my-favourite-games {
        background-repeat: no-repeat;
        background-image: url(../_images/common/mobile-menu-icons-svg/favourites-icon.svg);
        background-position: 11px 10px;
        background-size: 22px;
    }

    .account-claim-code {
        background-repeat: no-repeat;
        background-image: url(../_images/common/mobile-menu-icons-svg/claim-code-icon.svg);
        background-position: 11px 10px;
        background-size: 22px;
    }

    .account-personal-details {
        background-repeat: no-repeat;
        background-image: url(../_images/common/mobile-menu-icons-svg/personal-details-icon.svg);
        background-position: 11px 10px;
        background-size: 22px;
    }

    .account-account-activity {
        background-repeat: no-repeat;
        background-image: url(../_images/common/mobile-menu-icons-svg/account-activity-icon.svg);
        background-position: 11px 10px;
        background-size: 22px;
    }

    .account-menu-mobile__header {
        @include grid-column(12);

        color: $nav-active-color;
        font-size: 18px;

        //text-transform: uppercase;
        padding: $site-margin;
        font-family: $body-font-medium;
        background: #e7e2fe url(../_images/common/icons/welcome-close.svg) no-repeat right $site-margin center;

        // box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
        display: block;
        position: fixed;
        height: auto;
        z-index: 1;
        max-width: 100%;

        @media #{$medium-only} {
            max-width: 300px;
        }
    }

    ul {
        @include grid-column(12);

        color: $nav-active-color;
        margin: 0;
        padding: 50px 0;
        font-size: 19px;
        background: white;
        position: fixed;
        overflow-y: auto;
        max-height: 100%;
        padding-bottom: 0px;

        @media #{$medium-only} {
            max-width: 300px;
        }

        li {
            @include grid-column(12);

            padding: ($site-margin / 2) $site-margin;
            padding-top: $site-margin;
            font-family: $body-font-light;
            text-transform: uppercase;
            border-bottom: 1px solid #EFECFC;
            line-height: 1;

            @media #{$medium-only} {
                max-width: 300px;
            }

            &:last-child {
                border: none;
            }

            &.logout {
                @include grid-column(12);

                padding: 0;
                margin: 0;

                a {
                    border-radius: 4px;
                    overflow: hidden;
                    background: $nav-active-color;
                    font-family: $body-font-bold;
                    color: $white;
                    padding: $site-margin / 2;
                    width: 80%;
                    float: left;
                    margin: $site-margin 10%;
                    text-align: center;
                    text-transform: uppercase;
                }
            }

            //            a {
            //                color: $nav-active-color;
            //            }
       
        }
    }
}