.balance-display-mobile {
    @include hide-for-large-up;

    @include grid-column(12);

    // width: 98%;
    // margin: 0 1%;
    margin: 0;
    padding: 0;
    left: 0;
    z-index: 9999999;
    background: $white;
    display: none;
    top: 50px;
    position: fixed;

    @media #{$medium-only} {
        max-width: 300px;
        margin-right: $site-margin;
        left: auto;
        right: 0;
    }

    &:after {
        bottom: 100%;
        left: 60px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #e7e2fe;

        @media #{$medium-only} {
            left: 85px;
        }
    }

    &.active {
        display: block;
    }

    .balance-display-mobile__header {
        @include grid-column(12);

        color: $nav-active-color;
        font-size: 18px;

        // text-transform: uppercase;
        padding: $site-margin;
        font-family: $body-font-medium;
        background: #e7e2fe url(../_images/common/icons/welcome-close.svg) no-repeat right $site-margin center;
    }

    ul {
        @include grid-column(12);

        color: $nav-active-color;
        margin: 0;
        padding: 0;
        font-size: 16px;
        text-transform: uppercase;
        padding: $site-margin;

        li {
            @include grid-column(12);

            @include border-radius(6px);

            padding: 9px;
            padding-bottom: 6px;
            margin-bottom: 10px;
            font-family: $body-font-medium;
            position: relative;
            line-height: 1.1;
            background: #e7e2fe;

            &.balance {
                color: $nav-active-color;
                background: none;
                padding: 0;
                padding-bottom: $site-margin / 2;
                line-height: 1.4;
                font-size: 20px;
                font-family: $body-font-light;
                overflow: visible;

                span {}

                &.active {
                    color: $nav-active-color;

                    .slider {
                        background-color: $nav-active-color;
                    }
                }

                .slider {
                    background-color: #CFC0F2;
                }
            }

            &:last-child {
                border: none;
            }

            div {
                display: inline;
            }

            span {
                font-family: $body-font-bold;
                line-height: 1.1;
                color: $white;
                background: $nav-active-color;
                position: absolute;
                padding: 9px;
                padding-bottom: 6px;
                right: 0;
                top: 0;
            }

            span.balance-text {
                float: left;
                font-family: "todayshop-light", Helvetica, Arial, sans-serif;
            }

            a {
                @include grid-column(10);

                padding-left: 0px;
                text-decoration: underline;
            }

            /* The switch - the box around the slider */
            .switch {
                display: inline-block;
                width: 60px;
                height: 34px;
                top: -5px;
                right: 0px;
                position: absolute;
                margin-right: 0;
                margin: 0;
            }

            /* Hide default HTML checkbox */
            .switch input {
                display: none;
            }

            /* The slider */
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #5820A8;
                -webkit-transition: .4s;
                transition: .4s;
            }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: #fff;
                -webkit-transition: .4s;
                transition: .4s;
            }

            /* Rounded sliders */
            .slider.round {
                border-radius: 34px;
            }

            .slider.round:before {
                border-radius: 50%;
                background: #fff;
            }

            .slider.active {
                background-color: #5820A8;
            }

            .slider.active:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
                background: #ff00aa;
            }
        }
    }
}