.breadcrumbs {
    @include show-for-large-up;

    @include grid-row;

    background: none;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 0px;
    color: $white;
    font-family: $body-font-regular;
    border: none;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 4px;

    a {
        color: $white;
    }
}

.breadcrumbs > li:first-child a {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url("../_images/common/homeicon.svg") no-repeat;
    width: 14px;
    display: block;
}

.breadcrumbs > *:before {
    margin: 0 4px;
    color: lighten($main-highlight-color-nav, 15%) !important;
}

.breadcrumbs__row {
    position: relative;

    @include grid-column(12);

    padding: 0;
    margin-top: $site-margin * 2;
}

.share-button.right.sharer-0 label span {
    font-family: $body-font-bold;
    color: $white;
}

.share-button.right.sharer-0 .social.networks-3.middle.left {
    margin-left: -130px !important;
}

.share-button.right.sharer-0 .social ul {
    position: relative;
    left: 0;
    right: 0;
    height: 40px;
    color: #fff;
    margin: auto;
    padding: 0;
    list-style: none;
}

.share-button.right.sharer-0 .social ul li {
    font-size: 18px !important;
    line-height: 1.7;
    cursor: pointer;
    width: 30px !important;
    height: 30px !important;
    top: 10px;
    background: blue;
    margin: 0;
    padding: 0px !important;
    text-align: center;
    float: left;
    display: none;
    position: relative;
    z-index: 2;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.share-button.right.sharer-0 .social li {
    //background: $white !important;
    margin-right: 5px !important;
}

.footer-breadcrumbs {
    @include show-for-large-up;

    // it removes the margin top on the homepage
    #home & {
        @media #{$large-up} {
            margin-top: 0px !important;
        }
    }

    background: $main-highlight-color-nav;
    margin-top: $site-margin * 8;
    padding: $site-margin 0;

    .breadcrumbs__row {
        @include grid-column(12, $center: true);

        max-width: 62.5rem;
        padding: 0;
        margin: 0 auto;

        .breadcrumbs {
            @include grid-column(12);

            margin: 0;
            background: none !important;

            > li {
                font-weight: bold;

                a {
                    color: lighten($main-highlight-color-nav, 15%);
                }

                &*:before {
                    content: "/";
                    color: lighten($main-highlight-color-nav, 15%) !important;
                }

                &:first-child a {
                    background: none;
                    text-indent: initial;
                    width: auto;
                    overflow: visible;
                    display: inline;
                    margin-left: 4px;
                }

                &:last-child a {
                    color: $white !important;
                }
            }
        }

        .share-button.right.sharer-0 {
            width: auto !important;

            span {
                display: none !important;
            }

            &:before {
                content: initial !important;
            }

            .entypo-export {
                @include show-for-large-up;

                //float: right;
                background: none !important;
                color: $white !important;
                padding: 0 !important;
                line-height: 1.3;

                &:before {
                    content: "SHARE THIS PAGE" !important;
                    font-size: 13px;
                    margin-right: 10px;
                    font-weight: bold;
                    line-height: 1.8;
                }

                &:after {
                    content: " " !important;
                    float: right;
                    content: none;
                    background: url(/_images/common/icons/share-icon.svg) no-repeat;
                    height: 22px;
                    width: 22px;
                }
            }

            .social.networks-3 ul {
                width: 120px !important;
                top: -3px !important;
            }
        }
    }
}