.navigation__container {
    @media #{$large-up} {
        @include grid-column(12);

        padding: 0;
        position: absolute;
        top: 100px;
    }

    .navigation-desktop {
        @include show-for-large-up;

        @include grid-column(12, $center: true);

        background-image: linear-gradient(0deg, #DBD9D9 0%, #FBFBFB 100%);

        .navigation-desktop__nav {
            @include grid-row;

            @include list-inline;

            margin: 0 auto;
            height: 49px;
            position: relative;
            padding-top: 11px;

            li {
                margin-right: 1px;

            &.radical-dice {
                a { 
                    &:hover {
                        background: #FCFAFC;
                    }
                    img {
                        width:28px;
                        margin-right:4px;

                        animation-duration: 4.5s;
                        animation-iteration-count: infinite;

                        &.bounce-dice {
                            animation-name: bounce;
                            animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
                        }

                         @keyframes bounce {
                            0%   { transform: scale(1,1)      translateY(0); }
                            10%  { transform: scale(1.1,.9)   translateY(0); }
                            30%  { transform: scale(.9,1.1)   translateY(-15px); }
                            50%  { transform: scale(1.05,.95) translateY(0); }
                            57%  { transform: scale(1,1)      translateY(-7px); }
                            64%  { transform: scale(1,1)      translateY(0); }
                            100% { transform: scale(1,1)      translateY(0); }
                        }
                    }
                }

                svg {
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    bottom: 0%;
                    margin-left: 77px;
                    .st1 {
                        transform: translate(28px, -65px);
                        animation-name: blink;
                        animation-duration: 2s; 
                        animation-timing-function: ease-out; 
                        animation-delay: 0s;
                        animation-direction: alternate;
                        animation-iteration-count: infinite;
                        animation-fill-mode: none;
                        animation-play-state: running; 
                    }

                    .st2 {
                        transform: translate(0px, -73px);
                        animation-name: blink;
                        animation-duration: 2s; 
                        animation-timing-function: ease-out; 
                        animation-delay: 0.5s;
                        animation-direction: alternate;
                        animation-iteration-count: infinite;
                        animation-fill-mode: none;
                        animation-play-state: running; 
                    }

                    .st3{
                        transform: translate(8px, -98px);
                        animation-name: blink;
                        animation-duration: 2s; 
                        animation-timing-function: ease-out; 
                        animation-delay: 1s;
                        animation-direction: alternate;
                        animation-iteration-count: infinite;
                        animation-fill-mode: none;
                        animation-play-state: running; 
                    }


                    @keyframes blink {
                        0% {
                            opacity: 0;
                            fill: #C70064;
                        }
                        50%{
                          opacity: 1;
                          fill: #C70064;
                        }
                        70% {
                            opacity: 0;
                            fill: #C70064;
                        }
                        100% {
                            opacity: 0;
                            fill: #C70064;
                        }
                    }
                }
            }
            }
        }

        .navigation-desktop__nav li a {
            @include transition(all, 0.2s ease-out);

            display: block;
            padding: 3px 4px 0px 4px;
            text-transform: uppercase;
            font-family: $nav-font-bold;
            -webkit-font-smoothing: antialiased;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
            font-size: 1.03rem;
            border-radius: 4px;
            color: $nav-main-color;

            &.current {
                repeat: no-repeat;
                color: $nav-active-color;
                background: $nav-active-bg-color;
                box-shadow: inset 0px 1px 2px 0px rgba(169, 169, 169, 0.5);
                border-radius: 4px;
            }

            &:hover {
                repeat: no-repeat;
                text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.001);
                background: $nav-active-bg-color;
                box-shadow: inset 0px 1px 2px 0px rgba(169, 169, 169, 0.5);
                width: auto;
                color: $global-link-color;
            }
        }

        .nav-social-icons {
            position: absolute;
            right: 0;
            top: 10px;

            li {
                margin: 0;
                margin-left: 3px;

                a {
                    padding: 0;

                    &:hover {
                        padding: 0;
                        opacity: 0.7;
                        background: none;
                        box-shadow: none;
                    }
                }

                img {
                    width: 25px;
                    height: 30px;
                }

                &:first-child {
                    img {
                        width: 58px;
                    }
                }
            }
        }
    }
}