.nav-for-mobile {
    @include hide-for-large-up;
    @include transition(all, 0.2s ease-out);
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    @include opacity(1);
    height: initial;
    background: $nav-active-color;
    overflow-scrolling: touch;
    &.sticky {
        top: -50px;
        position: fixed;
        @keyframes sticky {
            from {
                top: -50px;
            }
            to {
                top: 0px;
            }
        }
        animation: sticky 0.2s normal forwards ease-out;
    }
    .site-logo {
        @include show-for-medium-only;
        @include grid-column(4);
        background-size: 100% 100%;
        margin-top: 3px;
        margin-left: 15px;
    }
    .site-logo-mobile {
        @include show-for-small-only;
        width: 30px;
        float: left;
        background-size: 100%;
        margin: 4px 8px 0 6px;
        @media screen and (max-width: 319px) {
            display: none;
        }
    }

         svg {
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: 8%;
        right: -45%;

        .st1 {
            transform: translate(29px, -64px);
            animation-name: blinking;
            animation-duration: 1.5s; 
            animation-timing-function: ease-out; 
            animation-delay: 0s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-fill-mode: none;
            animation-play-state: running;
        }

        .st2 {
            transform: translate(30px, -78px);
            animation-name: blinking;
            animation-duration: 1.5s; 
            animation-timing-function: ease-out; 
            animation-delay: 0.5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-fill-mode: none;
            animation-play-state: running;
        }

        .st3 {
            transform: translate(-22px, -85px);
            animation-name: blinking;
            animation-duration: 1.5s; 
            animation-timing-function: ease-out; 
            animation-delay: 1s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-fill-mode: none;
            animation-play-state: running; 
        }

        @keyframes blinking {
            0% {
                opacity: 0;
                fill: #fff;
            }
            50%{
              opacity: 1;
              fill: #fff;
            }
            100% {
                opacity: 0;
                fill: #fff;
            }
        }
    }
}

.balance-display {
    border: 2px solid #957cd0;
    border-radius: 4px;
    width: auto;
    float: left;
    padding: 0 22px 0 6px;
    line-height: 2;
    margin: 10px 0;
    background: url("/_images/common/mobile-menu-icons-svg/arrow-icon.svg") no-repeat center right 7px;
    cursor: pointer;
    @media #{$medium-only} {
        float: right;
        margin: 8px 15px;
        line-height: 2.2;
    }
    @media #{$small-only} {
        font-size: 0.8rem;
        margin-top: 12px;
    }
    @media screen and (max-width: 319px) {
        margin-left: 10px;
    }
    &.active {}
}

.icons-menu {
    float: right;
    margin-right: 0;
    margin-left: 5px;
    width: auto;
    .account-icon {
        margin: 0 10px 0 13px;
        padding: 0;
        background: none;
        float: left;
        @media #{$medium-only} {
            margin: 0 15px 0 19px;
        }
        img {
            width: 20px;
            height: 50px;
            &:focus {
                outline: none;
            }
        }
        &.active {}
        &:focus {
            outline: none;
        }
    }
    .mail-icon {
        float: left;
        position: relative;
        img {
            width: 22px;
            height: 50px;
        }
        .mail-value {
            // display: block !important;
            position: absolute;
            background: #FF00AA;
            border-radius: 50%;
            right: -10px;
            width: 20px;
            height: 20px;
            line-height: 1.5;
            top: 5px;
            float: left;
            color: white;
            text-align: center;
            font-family: $body-font-bold;
        }
    }
    .search-icon {
        float: left;
        position: relative;
        margin: 0;
        padding: 0;
        background: none;
        img {
            height: 50px;
            width: 20px;
            &:focus {
                outline: none;
            }
        }
        &:focus {
            outline: none;
        }
    }
    
    .dice-icon {
        float: left;
        position: relative;
        padding: 0;
        background: none;
        outline:none;
        margin:0 15px 0 0;

        img {
            width: 22px;
            height: 52px;

            animation-duration: 2s;
            animation-iteration-count: infinite;

            &.bounce-dice {
                animation-name: bounce;
                animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
            }

             @keyframes bounce {
                0%   { transform: scale(1,1)      translateY(0); }
                10%  { transform: scale(1.1,.9)   translateY(0); }
                30%  { transform: scale(.9,1.1)   translateY(-9px); }
                50%  { transform: scale(1.05,.95) translateY(0); }
                57%  { transform: scale(1,1)      translateY(-7px); }
                64%  { transform: scale(1,1)      translateY(0); }
                100% { transform: scale(1,1)      translateY(0); }
            }
        }
    }

}
