.community-article {
    .article {
        @include be-box($white, solid, $border, 0px);

        background: none;
        padding: 0;
        border: none;
    }

    .article .article__content {
        padding: 20px;
        background: white;
        margin: 10px;
        border-radius: 4px;

        // float: left;

        .article__content__title {
            @include grid-column(12, $collapse: true);

            position: relative;
            font-size: 1.4em;
            top: 0px;
            margin-bottom: $site-margin;

            a {
                color: $nav-main-color;

                @media #{$medium-only} {
                    font-size: 1.5em;
                    line-height: 1;
                }

                @media #{$small-only} {
                    font-size: 2em;
                    line-height: 1;
                }
            }

            @media #{$medium-only} {
                font-size: 1.2em;
                margin-bottom: $site-margin;
            }

            @media #{$small-only} {
                font-size: 1em;
                margin-bottom: $site-margin;
            }
        }
    }

    .article__content {
        .article__content__date {
            font-family: $body-font-medium;
            position: relative;
            float: right;

            @media #{$medium-only} {
                font-size: 1em;
            }

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);

                font-size: 1em;
                float: none;
                text-align: left;
            }
        }
    }

    .article__content__body {
        ul {
            margin-left: 20px;
            list-style-position: inside;

            li {
                list-style: inherit;
                margin-bottom: $site-margin / 2;

                ol & {
                    margin-bottom: $site-margin / 2;
                }
            }
        }

        img {
            @include grid-column(4, $collapse: true);

            float: left;
            padding-right: 20px;
            padding-bottom: 20px;

            @media #{$medium-only} {
                @include grid-column(5, $collapse: true);
            }

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);

                margin-bottom: 10px;
            }
        }

        p {
            @media #{$small-only} {
                font-size: 1em;
            }
        }
    }

    .article__content__winnergame {
        padding: 10px;
        background: #F9F7F4;
        overflow: auto;

        p {
            line-height: 1.3;
            font-size: 0.75em;
            margin-right: 10px;

            @media #{$small-only} {
                font-size: 1em;
            }
        }

        h4 {
            font-family: "expo-sans-pro-bold", Helvetica, Arial, sans-serif;
            font-size: 0.8em;

            span {
                color: #333333;
            }
        }

        .article__content__winnergame__left {
            @include grid-column(10, $collapse: true);

            float: left;
        }

        .article__content__winnergame__right {
            @include grid-column(2, $collapse: true);

            background-color: #000000;
        }
    }
}