.community-nav__container {
    @include grid-column(12);

    // background-color: $nav-active-color;
    padding: 0em;
    position: relative;
    margin-bottom: $site-margin * 1.5;
}

.community-nav {
    @include grid-column(12);

    background-image: linear-gradient(0deg, #decee2 20%, #fff 160%);
    padding: 0;
    margin-left: 0px;
    margin-bottom: 0px;

    ul {
        @include grid-column(12);

        @include list-inline;

        margin-left: 0px;
        margin: 0;
        padding: 0px;
        list-style: none;
    }

    li {
        &:first-child {
            // display: none;

            @media #{$large-up} {
                display: block;
            }

            // a {
            //     @media #{$large-up} {
            //         padding: 0;
            //         padding-bottom: 7px;
            //         padding-top: 3px;

            //         &:hover {
            //             background-color: transparent;
            //         }
            //     }

            //     font-family: "Sauberscript", Helvetica, Arial, sans-serif;
            //     font-size: 26px;
            // }
       
        }

        list-style: none;

        @include grid-column(3);

        padding: 0;

        @media #{$large-up} {
            width: 25%;
        }

        margin-right: 0em;

        &:first-child a {
            border-left: 0px;
            text-transform: uppercase;
            line-height: 1.9;

            @media #{$small-only} {
                line-height: 1.1;
            }
        }

        @media #{$small-only} {
            font-size: 0.7em;

            @include grid-column(3);

            padding: 0;
        }

        a {
            @include button-generate(darken($global-link-color, 8%), 0px, 0px);

            background: none !important;

            &.active, &:hover {
                background: $grey-light-bg !important;
                color: $nav-active-color;
                display: block;
            }

            border: none;
            border-left: 1px solid #A693AB;
            color: $mine-shaft;
            font-weight: normal;
            font-family: $title1-font;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            font-size: 1em;
            text-shadow: none;
            display: block;
        }
    }

    img {
        @media #{$small-only} {
            display: block;
            margin: 0 auto;
        }
    }
}

.games-menu__games-nav {}