.community-tv {
    .two-columns-content-wrap {
        max-width: 100% !important;
        padding: 0 $site-margin;
    }

    .two-columns-content-wrap__left {
        padding: 0;
        padding-right: $site-margin;
    }

    .two-columns-content-wrap__right {
        padding: 0 $site-margin;
        padding-top: 15px;
        border-radius: 4px;
        background: white;
    }

    .community-wrap-content {
        @include grid-column(12);

        padding: 0;
        padding-left: 10px;

        .post-wrapper {
            @include grid-column(4);

            @media #{$medium-only} {
                @include grid-column(6);
            }

            @media #{$small-only} {
                @include grid-column(12);
            }

            .post-wrapper__post {
                margin-right: 10px;
                margin-bottom: 10px;
                background-color: $white;
                height: 250px;
            }
        }
    }

    .article {
        cursor: pointer;
    }

    .community__title {
        font-family: $title-section !important;
        font-size: 2.5em;
    }

    .article {
        .article__content {
            padding: 10px;
        }

        .article__content__title {
            @include grid-column(12, $collapse: true);

            border-bottom: 1px dotted $black;
            font-size: 1em;
            position: relative;
            top: 0px;
            float: left;

            @media #{$medium-only} {
                @include grid-column(12, $collapse: true);
            }

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
            }
        }

        .article__publisher {
            display: none;
        }

        .article__content__image {
            @include grid-column(4, $collapse: true);

            float: left;
            margin-bottom: 10px;
            border: none;
            box-shadow: none;

            @media #{$medium-only} {
                @include grid-column(3, $collapse: true);
            }

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
            }
        }

        .article__content__body {
            @include grid-column(8, $collapse: true);

            font-size: 1.2em;
            padding-left: 10px;
            margin-top: 5px;

            @media #{$medium-only} {
                @include grid-column(8, $collapse: true);

                margin-right: 10px;
                font-size: 1em;
            }

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);

                margin-right: 10px;
                width: 95%;
            }
        }

        .article__content__date {
            display: none;
        }
    }
}