


.loading-first {
    padding-top: 20%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #65C5CB;
    text-align: center;
    background: -webkit-linear-gradient(45deg, hsla(261, 100%, 75%, 1) 0%, hsla(261, 100%, 75%, 0) 70%), -webkit-linear-gradient(315deg, hsla(167, 100%, 53%, 1) 10%, hsla(167, 100%, 53%, 0) 80%), -webkit-linear-gradient(225deg, hsla(188, 100%, 100%, 1) 10%, hsla(188, 100%, 100%, 0) 80%), -webkit-linear-gradient(135deg, hsla(261, 95%, 79%, 1) 100%, hsla(261, 95%, 79%, 0) 70%);
    background: linear-gradient(45deg, hsla(261, 100%, 75%, 1) 0%, hsla(261, 100%, 75%, 0) 70%), linear-gradient(135deg, hsla(167, 100%, 53%, 1) 10%, hsla(167, 100%, 53%, 0) 80%), linear-gradient(225deg, hsla(188, 100%, 100%, 1) 10%, hsla(188, 100%, 100%, 0) 80%), linear-gradient(315deg, hsla(261, 95%, 79%, 1) 100%, hsla(261, 95%, 79%, 0) 70%);
    .spinner {
        margin-top: 40px;
    }
}

// secondary loader without ful page background

.loading {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 999999;
    @include border-radius(10px);
    @include vert-align(50px);
    text-align: center;
    background-color: #000;
    opacity: 0.7;
    padding-left: 0.4em;
    padding-right: 0.4em;
}