.section {
    font-size: 1rem;
    padding-bottom: $site-margin;
    position: relative;

    .section__title {
        @include grid-column(12, $float: none);

        text-transform: uppercase;
        width: 100%;
        font-family: $heading-font-bold;
        color: $white;
        font-size: rem-calc(17px);
        background-color: $brand-color;

        @include vert-align(34px);

        margin-bottom: $site-margin;
        padding-left: $site-margin;

        a {
            color: white;
        }
    }

    .section__header {
        border-bottom: none;
    }

    .section__banner {
        margin-bottom: 1em;
    }
}