
     .hero {
        background: url('/_images/placeholders/banner-l.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
   }

   @media only screen and (max-width: 64em) and (min-width: 40.0625em) {
        .hero {
        background: url('/_images/placeholders/banner-m.png');
             background-size: cover;
             background-repeat: no-repeat;
             background-position: center center;
        }
   }
   @media only screen and (max-width: 40em) {
        .hero {
            background: url('/_images/placeholders/banner-s.png');
             background-size: cover;
             background-repeat: no-repeat;
             background-position: center center;
        }
   }