.cookie-policy {
    .container {
        width: 62.5rem;
        margin: 0 auto;
        position: relative;

        .cookie-policy__button {
            margin-top: 8px;
        }
    }
}

.responsible-gaming-modal {
    .responsible-gaming-popup {
        background-color: #FAFAFC !important;

        .title {

            h1 {
                color:#0398b2 !important;
            }
        }

        .copy {

            p {
                color:#0398b2 !important;
            }
        }

        .terms {
            p {
                color: #0398b2 !important;

                a {
                    color: #0398b2 !important;
                }
            }
        }
    }
}

