// =============================================================================
// Bingo Room Detail - SEO Page
// =============================================================================
.room-detail-modal {
    @include grid-column(12);
    padding: 20px;
    height: auto;
    font-family: $body-font-regular;
    background-color: $yellow-banana;
    > h1.room-detail__title-bar {
        @include grid-column(12, $collapse: true);
        width: 100%;
        font-family: $title1-font;
        color: $yellow-light-bg;
        font-size: 1.4em;
        text-transform: uppercase;
        background-color: $base-blue;
        @include vert-align(38px);
        margin-bottom: $site-margin;
        padding-left: $site-margin;

        @media #{$small-only} {
              margin-bottom: 0px;
            }

         @media #{$medium-only} {
              margin-bottom: 0px;
            }

    }
    .room-detail-content {
        @include grid-row;
        margin-bottom: $site-margin;

        .room-detail-content__right {
            @include grid-column(4, $collapse: true, $float: right, $last_column: true);
            background-color: white;
            padding: 10px;
            padding-bottom: 22px;
            @media #{$medium-only} {
               padding:10px;
            }

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
                padding:10px;

            }

            h3.room-detail-content__right__title {
                    color: #0E576E;
                    font-family: "Chowderhead", Helvetica, Arial, sans-serif;
                    font-size: 1.2em;
                    margin-bottom: 0px;
                    padding: 5px;
                    margin-top: 0px;
                    text-transform: uppercase;
                    font-style: initial;
                    border-bottom: 1px solid #ffbd20;
            }

            .room-detail-content__right__game-table {
                font-size: 15px;
                color: $grey-dark;
                font-family: $body-font-regular;
                margin-left: 0px !important;
                padding-left: 10px;
                padding-right: 10px;
                ul {
                    list-style: none !important;
                }
                > li {
                    list-style: none;
                    font-size: rem-calc(12px);
                    border-bottom: 1px solid $grey;
                    @include vert-align(27px);
                    @media #{$medium-only} {
                        @include vert-align(34px);
                    }
                    @media #{$small-only} {
                        font-size: rem-calc(14px);
                        @include vert-align(36px);
                    }
                }
            span.room-detail-content__game-table__title {
                width: 120px;
                padding-right: 0.875rem;
                display: inline-block;
                color: #0E576E;
                }

                .room-detail-content__progressive-icons {
                @include block-grid(4);
                margin: 0px;
                margin-top: 10px;
            }
            }

            @media #{$medium-only} {
            @include grid-column(12, $collapse: true);
            }
            
            
            > article.login-box > h1 {
                font-size: 1em;
                margin-top: $site-margin / 2;
                margin-bottom: 0.3em;
            }
          
        }
        .room-detail-content__left {
            @include grid-column(8, $collapse: true, $float: left);
            padding-right: 10px;
            @media #{$medium-only} {
                @include grid-column(12, $collapse: true);
                margin-top: $site-margin;
                padding-right: 0px;
                margin-bottom:10px;
            }

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
                margin-top: $site-margin;
                padding-right: 0px;
                margin-bottom:10px;
            }
            position: relative;
            .play-now-button {
                margin-top: 125px;
                @media #{$small-only} {
                    margin-top: 50px;
                }
                width: 135px;
                height: 150px;
            }
            img {
                width: 100%;
                // height: 100%;
                @include opacity(1);
            }
        }
    }


}