.footer {
    font-size: 1rem;
    margin: 1em 0px 1em 0px;

    @include grid-row;

    padding: 0px;
    font-family: $body-font-regular;
    background-color: $main-highlight-color;
}

.footer__row {
    @include grid-row;
    padding: 0.625em;

}

.footer__row-bg {
    background-color: $white;
}

.footer__row__left {
    @extend .show-for-large-up;

    @media #{$large-up} {
        @include grid-column(11, $collapse: true);

        height: 45px;
        width: 100%;
        padding-left: 10px;
        background-color: #15847f;
    }
}

.footer__row__right {
    @media #{$small-only} {
        @include grid-column(12);

        margin-left: auto;
        margin-right: auto;
    }

    @extend .hide-for-medium;

    @media #{$large-up} {
        @include grid-column(1, $collapse: true);

        height: 45px;
        padding-top: 5px;
        width: 10%;
        background-color: #15847f;
    }
}

.footer__nav {
    @extend .hide-for-small;
    
    @media #{$medium-only} {
        @include list-inline;

        @include vert-align(45px);

        text-align: center;

        > li {
            padding-right: 0.2em;
            font-size: 0.8em;
            color: $white;

            > a {
                color: $white;
                display: block;
                font-size: 13.5px;
            }
            
            > a:hover {
                text-decoration: underline;
            }
        }
    }

    @media #{$large-up} {
        @include list-inline;

        @include vert-align(45px);

        > li {
            padding-right: 0.3em;
            font-size: 13.5px;
            color: $white;

            > a {
                color: $white;
                display: block;
                font-size: 13.5px;
            }

            > a:hover {
                text-decoration: underline;
            }
        }
    }
}
  .footer__row__payments {

        @media #{$small-only} {
            @include grid-column(12, $center: true, $collapse: true);
            @include list-inline;
            margin-left: auto;
            margin-right: auto;
            padding:2em 0 0 1em;
            >li {
                height: 50px;
                width: 32%;
                padding-right: 1em;
                margin-bottom:1em;
                margin-right: 0 !important;

                img {
                    height:100%;
                    width:100%;
                }
            }
        }
        @media #{$medium-up} {
            @include grid-column(12, $center: true, $collapse: true);
            @include list-inline;
            margin-left: auto;
            margin-right: auto;
            padding-left: rem-calc(30px);
            >li {
                width: 7.5%;
                padding-right: 0.3em;
                padding-bottom: 2px;
                text-align: center;
                margin-right: 7px;

                img {
                    width:100%;
                    height:40px;
                }
            }
        }
    }

.footer__row__social {
    @media #{$small-only} {
        // @include grid-column(3.6, $collapse:true, $center:true);
        display: none;
    }

    @media #{$medium-only} {
        float: right;
    }

    @media #{$large-up} {
        float: right;
    }
}

.footer__row__legal {
    text-align: center;
    line-height: 1.2em;
    color: $grey;

    > p {
        font-size: 0.8em;
        color: $white;
    }

    a {
        color: $white;

        &hover {
            text-decoration: underline;
        }
    }
}

.footer__reasons {
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;

    p {
        color: $white;
        font-size: 0.9em;
        margin-bottom: 0px;
    }

    border-bottom: 1px solid $brand-color;
}