.social-share-links {
    @include list-inline;

    position: absolute;
    top: 3px;
    right: 11px;

    >li {
        padding-right: 0.3em;
        img{width:24px;}
    }
}

.social-share-links--copy {
    position: absolute;
    top: 8px;
    right: 110px;
    text-transform:uppercase;
    font-size: rem-calc(12);
    font-weight:bold;
    margin-bottom:0;
}

.social-share-links--top-content {
    .social-share-links {
    	text-align: center;
		width: 100px;
		margin: 0 auto;
		@include vert-align(35px);
        >li {

            padding-right: 0.3em;
            text-align: center;
            img {
                width: 24px;
            }
        }
    }
}