.my-promotions {
    .my-promotions__promotion {
        @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 6, $mcollapse: false, $mfloat: left, $lcols: 4, $lcollapse: false, $lfloat: left);
        @media #{$small-only} {
            padding: 0 !important;
        }
    }
}

// Global padding promotions start page overide
#home {
    .lobby-wrap__left {
        .my-promotions {
            @media #{$small-only} {
                padding-top: 0px;
            }
        }
        .promotion-eng__wrapper {
            border-radius: 0px;
        }
        .my-promotions__promotion {
            padding-left: 0.3rem;
            padding-right: 0.3rem;
            // @media #{$medium-only} {
            //     padding:0;
            // }
        }
        .promotion-eng {
            padding-left: 0px;
            padding-right: 0px;
        }
        .lobby-wrap__content-box__content {
            &.my-promotions {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
}


.promotion-eng .promotion-eng__content {
    p,
    ul {
        font-family: $font-copy;
    }
}
