.lobby-claim-cashback {
    @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 12, $mcollapse: false, $mfloat: left, $lcols: 12, $lcollapse: false, $lfloat: left);
    border-radius: 4px;
    float: left;
    clear: both; // background-image: linear-gradient(-180deg, white 0%, #f5f5f9 100%);
    border: 1px solid #DADDE1;
    padding: $site-margin;
    margin-bottom: $site-margin;
    height: rem-calc(200px);

    @media #{$small-only} {
        margin-top: 15px;
    }

    @media #{$medium-only} {
        margin-top: 15px;
    }

    h1 {
        font-family: $font-copy;
        color: $green;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 60px;
        font-size: rem-calc(20px);
        line-height: rem-calc(30px);
        &:after {
            content: ".  Good luck!" // shamefull css do not repeat - only in place as cannot edit global.
        }
    }

    p {
        font-family: $font-copy-bold;
        font-size:  rem-calc(16px);
        color: $black;
        text-align: center;
        line-height:  rem-calc(18.5px);
        margin-top: 25px;
        @media #{$small-only} {
            font-size:  rem-calc(12px);
        }
    }

    a {
        @include grid-column(4, $collapse: true);
        width: 100%;
        margin-top:rem-calc(22px);
    }

    p:nth-child(1) {
        @include grid-column(8, $collapse: true);
        float: left;
        font-family: $font-copy-bold;
        margin-bottom: rem-calc(5px);
        line-height: rem-calc(42px);
          @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }
    }
    // p:nth-child(2) {
    //     @include grid-column(8, $collapse: true);
    //     float: left;
    //     font-family: $font-copy;
    //       @media #{$small-only} {
    //         @include grid-column(9, $collapse: true);
    //     }
    //}

    .upgrade-info {
        text-align: right;
        margin-bottom: 10px;

        a {
            float: none;
            margin: 0;
            font-family: "fira_sansbold", Helvetica, Arial, Verdana, sans-serif;
            color: #000;
            text-decoration: underline;
        }
    }

    .upgrade-expiry {
        padding-top: 0;
    }

    a {
        &:hover {
            text-decoration:none;
        }
    }

    .lobby-claim-cashback-button {

        @include border-radius(100px);
        background: $button--bg;
        font-family: $font-button;
        width: rem-calc(149px);
        height: rem-calc(40px);
        margin: 0 auto;
        line-height: rem-calc(40px);
        text-align: center;
        text-transform: uppercase;
        margin-top: rem-calc(-21px);
        font-size: rem-calc(18px); // margin-top: -4.675rem;
        display: block;
        color: $button--text;
        margin-top: -20px;

        @media #{$small-only} {
            margin: 0 auto;
            height: rem-calc(30px);
            font-size: rem-calc(12px);
            line-height: rem-calc(30px);
            margin-top: rem-calc(-16px);
        }

        &:hover {
            color: $button--text;
        } // @media #{$medium-only} {
        //     margin-right: rem-calc(60px);
        // }
        &:hover {
            background: $button--bg-hover;
        } // @media #{$small-only} {
        //     float: none;
        //     margin: 0 auto;
        // }
    } // .lobby-claim-cashback-button {
    //     @include grid-column(12, $center: true);
    //     background-image: linear-gradient(-180deg, #b7a0d6 3%, #805bb8 100%);
    //     border-radius: 4px;
    //     border: 1px solid #E6E6E2;
    //     padding-left: 5px;
    //     padding-right: 5px;
    //     overflow: hidden;
    //     margin: 0 auto;
    //     a {
    //         color: $white;
    //     }
    //     border-radius: 4px;
    //     height: 57px;
    //     line-height: 57px;
    //     font-family: $font-copy-bold;
    //     font-size: 18px;
    //     text-align: center;
    //     color: #FFFFFF;
    //     letter-spacing: 1px;
    //     text-shadow: 0px 2px 0px #312741;
    // }
    &.alert-box .close {
        top: 0.20em;
        right: 0;
    }
}



.lobby-claim-cashback.alert-box.secondary {
    background:$white;
    border: 1px solid $green;
    border-radius: 4px;

    h3 {
        @include grid-column(11, $collapse: true);
        font-size: rem-calc(16px);
        line-height: rem-calc(42px);
        text-transform: none;
        color: $green;
        margin: 0;
        font-family: $font-copy;
        text-align: center;
         // &:after {
         //    content: ".\00a0";
         // }
    }
/*     p {
        @include grid-column(11, $collapse: true);
        float:left;
        font-size: rem-calc(16px);
        line-height: rem-calc(16px);
        color: $green;
        margin-top: 0;
    } */
    .close {
        @include grid-column(1, $collapse: true);
        text-align:right;
        color: $tundora;
        cursor: pointer;
        font-size: rem-calc(36px);
        font-weight: bold;
        line-height: rem-calc(42px);

        right: rem-calc(5px);
        padding-bottom:0;

        @media #{$small-only} {
            margin-top: -25px;
        }

        @media #{$medium-only} {
            margin-top: -25px;
        }

    }
}


.mobile-cashback {
    @extend .show-for-small-only;

    .lobby-claim-cashback p {
        margin-bottom: 10px !important;
    }

    .alert-box .close {
        top: 50%;
        right: 0.1rem;


    }
}