.lobby-wrap {
    background-color: $start-background;

    @media #{$large-up} {
        @include grid-row;
        max-width: rem-calc(1000px);

        @media #{$large-up} {
            padding: $site-margin 0 $site-margin 0;
        }

        padding-bottom: 0px !important;
    }
    // lobby left column
    .lobby-wrap__left {
        @include foundation-breaks($scols: 9, $scollapse: true, $sfloat: left, $mcols: 8, $mcollapse: true, $mfloat: left, $lcols: 8, $lcollapse: true, $lfloat: left);
        height: auto;
        padding-right: $site-margin;
        background:$white;

         @media #{$medium-only} {
            padding: rem-calc(0px) rem-calc(20px) rem-calc(0px) rem-calc(20px) !important;
         }
         @media #{$small-only} {
            padding: rem-calc(0px) rem-calc(10px) rem-calc(10px) rem-calc(10px)  !important;
         }

        .small-deposit-wrap {
            @include grid-column(6, $float: right);

            @extend .show-for-small;

            .lobby-deposit-button {
                @include grid-column(12, $collapse: true);

                margin-bottom: $site-margin;
                font-size: 20px;
                overflow: hidden;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        @media #{$small-only} {
            @include grid-column(12);
            @media #{$landscape} {
                @include grid-column(12);
            }
        }
        @media #{$medium-only} {
            @include grid-column(12);
            @media #{$landscape} {
                @include grid-column(12);
            }
        }
    }

    // lobby right columns
    .lobby-wrap__right {
        @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 12, $mcollapse: false, $mfloat: left, $lcols: 4, $lcollapse: false, $lfloat: left);

        @media #{$small-only} {
           padding-left:rem-calc(10px);
           padding-right:rem-calc(10px);
        }

        @media #{$medium-only} {
            padding-top: $site-margin;
            background: $white;
            padding-left:rem-calc(20px);
           padding-right:rem-calc(20px);
        }

        @media #{$large-up} {
            padding-right: 0px;
        }

        height: auto;
    }

    .progressive-jackpots
    {
        -ms-overflow-style:none // IE fix hide scrollbars
    }


    .progressive-jackpots__wrapper.slider, .yesterdays-win__wrapper, .latest-winners__wrapper.slider {
        clear: both;

        @media #{$small-only} {
            padding-right: 0;
        }

        @media #{$medium-only} {
            padding-right: 0;
        }
    }

    .progressive-jackpots__wrapper.slider {
        @media #{$medium-only} {
            height: 300px;
        }
    }

    .yesterdays-win__wrapper {
        margin-top: -33px;

        @media #{$medium-only} {
            margin-top: 0px;
        }
    }
}

.lobby-wrap .two-columns-content-wrap__right {
    padding-top: 0;
    padding-bottom: $site-margin;
    padding-left: 0;

    @media #{$medium-only} {
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    width: 100%;
}

.start-page {
  a.game-icon__title {
    width: 90px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}

