// featured games section with tabbed contents and game icons
// tabs
.tabs .featured-games>.tabs dd {
    @extend .show-for-large-up;
    @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: left, $mcols: 1, $mcollapse: true, $mfloat: left, $lcols: 2, $lcollapse: true, $lfloat: left);
    >a,
    .tabs .tab-title>a {
        font-family: $start-filterbuttons;
        font-size: rem-calc(13px);
        text-align: center;
        line-height: rem-calc(20px);
        text-transform: uppercase;
    }
}

.featured-games {
    dd {
        width: 25%;
        text-align: center;
        
        &:nth-child(1) a {
            // background: $white;
            border-radius: 5px 0 0 5px;
            border: 1px solid $iron;
             @media #{$small-only} {
                border-radius: 5px 0 0 5px;
                border: 1px 1px 0px 0px solid $iron;
             }
        }
        &:nth-child(2) a {
            // background: $white;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            border-color: $iron;
            @media #{$small-only} {
                border-radius: 0px 0px 0px 0px;
                border-width: 1px 1px 1px 0px;
             }
        }
        &:nth-child(3) a {
            // background: $white;
            border-width: 1px 0px 1px 0px; // border-radius: 0px 5px 5px 0px;
            border-style: solid;
            border-color: $iron;
            @media #{$large-up} {
                border-width: 1px 0px 1px 0px;
                border-radius: 0px;
            }
            @media #{$small-only} {
                border-width: 1px 1px 1px 0px;
                border-radius: 0px 0px 0px 0px;
            }
        }
        &:nth-child(4) a {
            border-radius: 0px 5px 5px 0px;
            border: 1px solid $iron;
            @media #{$small-only} {
                border-width: 1px 1px 1px 0px;
                border-radius: 0px 5px 5px 0px;
            }
        }
        @media #{$small-only} {
            width: 25%;
            margin-top: rem-calc(5px);
        }
    }
    .tabs dd>a,
    {
        padding: rem-calc(9px) rem-calc(18px);
        font-size: rem-calc(13px);
        line-height: rem-calc(20px);
        text-transform: uppercase;
        background: $white;
        font-family: $start-filterbuttons !important;
        &:hover {
            background: lighten( $iron, 10%)
        }
        @media #{$small-only} {
            text-align: center;
            padding: rem-calc(9.5px) rem-calc(0px);
            font-size: rem-calc(12.5px);
        }
    }
    .tabs dd.active a,
    .tabs .tab-title.active>a {
        background: $iron;
        font-family: $start-filterbuttons-bold !important;
    }
}

// #lobbypanel1 .lobby-game {
//     @media #{$small-up} {
//         width: 33.3%;
//     }
// }
// Game icons within each tab
.lobby-game {
    @include foundation-breaks($scols: 6, $scollapse: true, $sfloat: left, $mcols: 6, $mcollapse: true, $mfloat: left, $lcols: 3, $lcollapse: true, $lfloat: left);
    .game-icon {
        padding: 0.15em;
    }
    @media #{$small-up} {
        padding-bottom: 0.15em;
    }
    @media #{$large-up} {
        padding-bottom: 0;
    }
    &:first-child {
        padding-right: 0;
    }
    &:last-child {
        padding-left: 0;
    }

    @media #{$medium-only} {
        width: 25%;
    }
}

.featured-games-categories {
    @extend .hide-for-large-up;
    -webkit-appearance: initial;
    -moz-appearance: initial;
    @include foundation-breaks($scols: 4, $scollapse: true, $sfloat: right, $mcols: 3, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: right);
    font-size: 12px;
    color: #AFAFAF;
    height: 24px;
    line-height: 10px;
    padding: 0px;
    border: none;
    background-color: transparent;
    max-width: 90px;
    margin-right: 5px;
}

.title__viewall--featured-games {
    @extend .hide-for-medium-down;
}

.f-dropdown {
    &:before {
        @media #{$medium-only} {
            left: 130px !important;
        }
    }
    &:after {
        @media #{$medium-only} {
            left: 129px !important;
        }
    }
}

.f-dropdown.open {
    z-index: 999;
    a {
        text-transform: uppercase;
        font-family: $font-button;
    }
}

button {
    &.featured-category-dd {
        display: none !important; 
    }
}
.featured-category-dd {

    @extend .hide-for-large-up;
    -webkit-appearance: initial;
    -moz-appearance: initial;
    @include foundation-breaks($scols: 4, $scollapse: true, $sfloat: right, $mcols: 3, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: right);
    font-size: 12px;
    color: $palesky;
    font-family: $font-button;
    text-transform: uppercase;
    height: 24px;
    line-height: 10px;
    padding: 0px;
    border: none;
    background-color: transparent;
    max-width: 90px;
    margin-right: 5px;
    text-decoration:none !important;
    @media #{$small-only} {
        width: auto;
        font-size:rem-calc(14px);
        text-decoration: underline !important;
        color: $palesky;
        padding-top: 6px;
        &:focus,
        &:hover {
            background: $white;
            color: $black;
        }
    }
}

#hub-star {
    width: 24.4px;
    height: 22px;
    display: block !important;
}