/* Lobby Content Container  */

.lobby-wrap__content-box {
    @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);
    background: #FFFFFF;
    @media #{$large-up} {
        // border: 1px solid #C4C2CC;
        margin-bottom: $site-margin;
    }
    #asper-mail-icon {
        display: block !important;
        width: rem-calc(25px);
        height: rem-calc(15px);
    }
    #aspers-promotions {
        display: block !important;
        width: 21px;
        height: 24px;
        margin-top: -29px;
    }
    #Desktop {
        display: none !important;
    }
}

#lobbypanel1 {
    .game-icon__bottom {
        a {
            @media #{$small-only} {
                padding: rem-calc(5px);
            }
        }
    }
}


/* Lobby Content Container Header Area */

.lobby-wrap__content-box__header {

    #hub-star {
    margin-top:-28px;
    }
    @include grid-column(12, $collapse: true);
    font-family: $font-header2;
    font-size: rem-calc(16px);
    color: $start-header;
    // height: $thumb-friendly-space;
    padding: rem-calc(20px) rem-calc(20px) rem-calc(0px) rem-calc(20px);
    /* Lobby Content Container Header Area Title */
    @media #{$large-up} {
        padding: $site-margin;
    }
    @media #{$medium-only} {
        padding: 0px;
    }
    @media #{$small-only} {
        padding: rem-calc(20px) rem-calc(0px) rem-calc(10px) rem-calc(0px);
    }
    .title {
        @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);
        display: inline-block;
        height: 20px;
        line-height: 20px;

        @media #{$small-only} {
        padding-top: rem-calc(15px);
    }
        // elements in header bar (with icon)
        &.hasicon {
            .title__icon {

                


                #mailicon {
                    width: 35px;
                    height: 17px;
                }
                @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: left, $mcols: 1, $mcollapse: true, $mfloat: left, $lcols: 1, $lcollapse: true, $lfloat: left);
                max-width: 33px;
                min-width: 33px;
                #Desktop,
                #email_F-Copy,
                #email_F-Copy-2 {
                    fill: #4E4783;
                }
            }
            // Text for in the header bar
            .title__text {
                @include foundation-breaks($scols: 6, $scollapse: true, $sfloat: left, $mcols: 6, $mcollapse: true, $mfloat: left, $lcols: 6, $lcollapse: true, $lfloat: left);
                width: auto !important;
                line-height: rem-calc(25px);
                &.messages-section {
                    @include foundation-breaks($scols: 5, $scollapse: true, $sfloat: left, $mcols: 3, $mcollapse: true, $mfloat: left, $lcols: 3, $lcollapse: true, $lfloat: left);
                    line-height: rem-calc(15px);
                }
                text-transform: uppercase;
            }
            .title__link {
                @include foundation-breaks($scols: 3, $scollapse: true, $sfloat: right, $mcols: 2, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: right);
                text-align: right;
                font-family: $start-viewall-font;
                font-size: rem-calc(14px);
                letter-spacing: 0.44px;
                text-transform: uppercase;
                a {
                    color: $start-viewall;
                    text-decoration: underline;
                    &:hover {
                        text-decoration: underline;
                        color: $yellow-hover;
                    }
                    .title__link__arrow {
                        font-size: 16px;
                        display: none;
                    }
                }
            }
            .title__option-links {
                @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: right, $mcols: 1, $mcollapse: true, $mfloat: right, $lcols: 1, $lcollapse: true, $lfloat: right);
                text-align: right;
                padding-left: $site-margin;
                a {
                    color: #AFAFAF;
                    font-family: $ui-font-regular;
                    font-size: 11px;
                    &:hover {
                        text-decoration: underline;
                    }
                    .title__link__arrow {
                        font-size: 16px;
                    }
                }
            }
            .title__option-link {
                @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: right, $mcols: 12, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: left);
                a {
                    font-size: 11px;
                    text-align: center;
                }
            }
        }
        // elements in header bar (without icon)
        .title__text {
            @include foundation-breaks($scols: 8, $scollapse: true, $sfloat: left, $mcols: 8, $mcollapse: true, $mfloat: left, $lcols: 8, $lcollapse: true, $lfloat: left);
        }
        /* Lobby Content Container Header Area Link */
        // .title__link {
        //     @include foundation-breaks($scols: 3, $scollapse: true, $sfloat: right, $mcols: 3, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: right);
        //     text-align: right;
        //     a {
        //         color: $global-link-color-text;
        //         text-decoration: none;
        //         color: #B1B1B1;
        //         &:hover {
        //             text-decoration: underline;
        //         }
        //         .title__link__arrow {
        //             font-size: 16px;
        //         }
        //     }
        // }
        /* Lobby Content Container Header Area Message Inbox */
        .title__message-inbox {
            @extend .hide-for-large-up;
            width: 50px;
            float: right;
            text-align: right;
            .title__message-inbox__icon {
                float: left;
                width: 50px;
                height: 24px;
                background: url(../_images/balance-area/icon-magical-message-inbox-blue.png) no-repeat 15px 3px;
            }
            .title__message-inbox__value {
                background: lighten($main-highlight-color, 10%);
                font-size: 0.8rem;
                position: absolute;
                margin-top: -5px;
                margin-left: -20px;
                height: 20px;
                width: 20px;
                float: right;
                border-radius: 20px;
                text-align: center;
                color: white;
            }
        }
    }
    .button.dropdown {
        float: right;
        font-family: $font-button;
        padding: 0.2em;
        width: 113px;
        margin: 0;
        background-color: transparent;
        font-size: rem-calc(13px);
        color: $black;
        text-transform: uppercase;
    }
    button.dropdown::after {
        border-color: $heather transparent transparent transparent !important;
        margin-top: rem-calc(-3px) !important;
    }
    #drop1 > li > a {
        text-align: center;
    }
}


/* End of Lobby Content Container Header Area */

// Lobby Content Container Content Area
.lobby-wrap__content-box__content {
    @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);
    padding-top: $site-margin;
    padding-bottom: $site-margin;
    @media #{$medium-only} {
        padding-bottom: 0;
    }
        @media #{$small-only} {
        padding-bottom: 0;
    }

    .tabs-content {
        @media #{$small-only} {
        margin-bottom: 0;
    }
    }

    // inner wrap to hold content no fill or border
    .lobby-wrap__content-box__content__innerwrap {
        @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 12, $mcollapse: false, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);
    }
    // inner wrap to hold content fill and border
    .lobby-wrap__content-box__content__innerwrap--border {
        @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);
        background: #FFFFFF;
        // border: 1px solid #E6E6E2;
    }
}

#msg-actions {
    li {
        font-family: $font-button;
        text-transform: uppercase;
    }
}

.featured-category-dd {
    font-family: $font-button;
    font-size: rem-calc(14px);
    color: $palesky;
}
