html {
    overflow-y: scroll;
    
} 

body {
    font-family: $body-font-regular !important;
    color: $grey-dark;
    font-size: em-calc(14px);
    // background: #8172FF url("../_images/common/backgrounds/page-bg.jpg");
    background: $theme--ui--lighttone1 ;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;

    @media #{$small-only} {
        background: none;
        background-image: none;
        background: $theme--ui--lighttone1 ;
    }

    @media #{$medium-only} {
        background: none;
        background-image: none;
        background:  $theme--ui--lighttone1 ;
    }


    height: 100%;
    line-height: 1.5em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;

    &:before {}

    &.modal-open {
        overflow: hidden;
    }
}

ul,
ol,
dl {
    list-style-position: inside;
    font-size: 0.9rem;
}

h1 {
    font-family: $title1-font;
    color: $brand-color;
    font-size: 1.7em;
    text-transform: uppercase;
}

h2 {
    font-family: $body-font-bold;
    color: $main-highlight-color;
    letter-spacing: 0.03em;
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-family: $body-font-regular;
    font-size: 1.5em;
    font-weight: bold;
}

h4 {
    font-family: $title-section;
    font-size: 1.4em;
}

h5 {
    font-family: $title-section;
    font-size: 1.3em;
    font-weight: bold;
}

h6 {
    font-family: $title-section;
    font-size: 1.2em;
    font-weight: bold;
}

p {
    margin-bottom: 1.25rem;
    font-size: 1em;
}

a {
    color: $global-link-color;
}

li {
    list-style: none;

    ol & {
        list-style: inherit;
        margin-bottom: $site-margin / 2;
    }
}

input {
    box-shadow: grey 0px -1px 1px 0px !important;
}

/*=============================================
=  default site margin / gutter / padding / spacing           =
=============================================*/
$site-margin: rem-calc(14px);