#ajax-wrapper {
    @include transition(all, 0.2s ease-out);

    .cookie-policy-active > & {
         @media #{$large-up} {
            margin-top: calc( 149px + 64px );
         }

         @media only screen and ( max-width: 1220px ) {
              margin-top: calc( 149px + 81px );
         }


    }

    @media #{$large-up} {
        margin-top: 149px;
    }

    @media #{$medium-only} {
        margin-top: 50px;
    }

    @media #{$small-only} {
        margin-top: 50px;
    }
}

// content main homepage
.main-content {
    @include grid-row;
}

.main-content__top {
    @include grid-column(12);

    clear: both;
    height: auto;
    padding: 0;

    @media #{$small-only} {
        padding-bottom: 0;
    }

    @media #{$medium-only} {
        background-color: $nav-active-color;
    }

    .main-content__top__left {
        > div > a > img {
            @include grid-column(12);
        }

        @media #{$small-up} {
            @include grid-column(12);
        }

        @media #{$large-up} {
            @include grid-column(8);

            height: auto;

            .main-content__top__left__inner {
                padding-right: $site-margin;
            }
        }
    }

    .main-content__top__right {
        > div > a > img {
            @include grid-column(12);
        }

        @include show-for-large-up;

        @include grid-column(4);

        height: 300px;

        .main-content__top__right__inner {
            padding: 0px;
        }
    }
}

.main-content__bottom {
    @include grid-column(12);

    height: auto;
    padding: 0px;

    @media #{$large-up} {
        width: 1000px;
    }

    margin: 0 auto;
    float: none;
}

.one-column-content-wrap {
    @include grid-column(12);

    padding: $site-margin;

    @media #{$medium-only} {
        padding: $site-margin;
    }

    @media #{$small-only} {
        padding: $site-margin;
    }
}

.two-columns-content-wrap,
.two-columns-content-wrap__left__title {
    @include grid-row;

    padding: 0;

    // @media #{$small-only} {
    //     max-width: 468px !important;
    // }

    // @media #{$medium-only} {
    //     max-width: 768px !important;
    // }

    // @media #{$large-up} {
    //     max-width: 1000px !important;
    // }

  @extend %background--lighttone1;

    border-radius: 4px;

    @media #{$medium-only} {
        padding: 0;
    }

    @media #{$small-only} {
        padding: 0;
    }

    .two-columns-content-wrap__left {
        @include grid-column(9);

        @include border-radius(4px);

        height: auto;
        padding-right: $site-margin !important;
        padding: 0;

        @media #{$medium-only} {
            padding-right: 0 !important;

            @include grid-column(12);

            padding: 0 !important;
        }

        @media #{$small-only} {
            padding-right: 0 !important;

            @include grid-column(12);

            padding: 0 !important;
        }

        .two-columns-content-wrap__left__inner {
            @include grid-column(12);

            @include border-radius(4px);

            padding: $site-margin * 2;
            background: $white;

            @media #{$small-only} {
                padding: $site-margin;
            }
        }
    }

    .two-columns-content-wrap__right {
        @include show-for-large-up;

        @include grid-column(3);

        @include border-radius(4px);

        padding: $site-margin / 2;
        background: $white;
        min-height: 65px;

        h1 {
            font-family: $title-section !important;
            font-size: 16px;
            color: $nav-active-color;
            text-align: center;
        }

        img {
            // @include be-box;
            margin-bottom: 20px;
        }
    }
}

// Two Columns with Big Left Page Title
.two-columns-content-wrap__left__title {
    @include grid-column(12);

    padding: $site-margin;
    margin-bottom: $site-margin;

    @media #{$medium-only} {
        @include grid-column(12);

        padding: $site-margin / 2;
    }

    @media #{$small-only} {
        @include grid-column(12);

        padding: $site-margin / 2;
    }
}

.three-columns-equal {
    > div {
        @include grid-column(4);
    }

    > article {
        @include grid-column(4);
    }
}

.middle-content__box {

@extend %slots--middle-content-box--wrapper;

    @media #{$medium-only} {
        padding: 0;

        @include border-radius(0px 0px 0px 0px);
    }

    @media #{$small-only} {
        padding: 0;

        @include border-radius(0px 0px 0px 0px);
    }

    margin-bottom: 24px;

    .section {
        float: none;
    }
}

// .promotions-content .middle-content__box{
//       margin-bottom: 0px;
// }

table {
    margin-bottom: 15px;

    thead > tr > td {
        color: white;
        background-color: $global-link-color;
    }
}

.reveal-modal {
    z-index: 999999999 !important;
    width: 100% !important;
    max-height: 100%;
    background-image: -o-linear-gradient(bottom, #e9dded 2%, #ffffff 100%);
    background-image: linear-gradient(to top, #e9dded 2%, #ffffff 100%);
    top: 50% !important;
    position: fixed !important;
    left: 50% !important;
    z-index: 99999;
    transform: translate(-50%, -50%) !important;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    @media #{$small-only} {
        height: 100%;
        min-height: 100% !important;
        padding: $site-margin * 2;
    }

    li {
        list-style: inherit;
    }

    ol {
        margin: 0;
        padding: 0;
    }
}

// Mobile Overlay Page Layout

.mobile-main-content__modal {
    @include hide-for-large-up;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999999;
    overflow-y: scroll;
    padding: 0 ($site-margin / 2);
    height: 100%;
    width: 100%;
    background-color: $white;
    display: block;

    // display: none;

    // &.active {
    //     display: block;
    // }

    .playerdetails__header {
        display: none !important;
    }

    .mobile-main-content__header {
        @include grid-column(12);

        display: block;
        position: fixed;
        color: $nav-active-color;
        font-size: 18px;
        text-transform: uppercase;
        padding: $site-margin;
        margin: 0;
        font-family: $body-font-medium;
        background: $bg-mobile-light url(../_images/common/icons/welcome-close.svg) no-repeat right $site-margin center;
        top: 0;
        z-index: 2;
        left: 0;
    }

    .mobile-main-content__content {
        @include grid-column(12, $center: true);

        //max-width: 700px;
        margin-bottom: $site-margin * 3;
        margin-top: $site-margin * 4;

        section {
            @include grid-column(12);

            padding: 0;

            h2 {
                color: $white;
                text-align: center;
                font-family: $body-font-bold;
                font-size: 28px;
                line-height: 1;
                text-shadow: 0px 1px 1px #715EBB;
                margin-top: $site-margin * 2;

                @media #{$small-only} {
                    padding: 0 $site-margin;
                }
            }
        }
    }
}

.txt-align {
    width:60px;
}

.icon-align {
    margin-top:7px !important;
}

.float-right {
    float:right;
}

/* THANK YOU page header styling */
#cashier {
    .cashier__thank-you--header {
        border-radius: 0px !important;

        @media #{$medium-only} {
            margin-top: 65px;
        }

        @media #{$small-only} {
            margin-top: 0;
        }
    }

    .section .section__title {
        padding-left: 8px;
        padding-top: 5px;
        width: 30% !important;
        border-bottom: none;

        @media #{$medium-only} {
            font-size: 1.5em;
        }
    }

    .cashier__secure-payment {
        position: relative;
        float: right;
        padding-top: 10px;

        @media #{$medium-only} {
            padding-top: 5px;
        }

        @media #{$small-only} {
            width: 35%;
            padding-top: 10px;
            right: 0 !important;
        }
    }
}