// ==========================
//  header content
// ==========================
.tab-bar.nav-for-mobile{
  @include display--position--relative;
// @include margin--bottom--20px;
}
// ==========================
//  body content
// ==========================
#ajax-wrapper{
  @media #{$medium-only} {
    @include display--position--relative;
    @include margin--top--0px;
  }
  @media #{$small-only} {
    @include display--position--relative;
    @include margin--top--0px;
  }
}
// Container border + Container background &  Header Text  ///
.section__header .content-holder__title,
.section__header .content-holder__title,
.lucky-club-content .section .middle-content__box .section__title,
.lucky-club-content .content-holder__content_left, .content-holder__title,
.bingo-content .section__header.section-full-width__title {
  @extend %title--background--styling;
  @extend %font--size--set;
  @include margin--top--0px;
  @extend %theme--ui--border--radiustop--on;
  h1 {
    @extend %content-holder--desktop--title--h1;
    @extend %font--size--set;
    @include margin--top--0px;
  }
  #home .content-holder__title__link {
    @include text--decoration--uppercase;
    @extend %font--size--set;
    @extend %mobile--lineheight--set; }
  }
//===================================
///desktop menu ///
// ==================================
.navigation__container .navigation-desktop .navigation-desktop__nav{
  padding-left: 260px;
}
.header-desktop .header__logo{
  width:262px;
}
//===================================
///mobile menu ///
// ==================================
.nav-for-mobile__ctas{
  a.login-button--nav-for-mobile.menu-link.ui-scroll-top{
    @extend %cta--button--optin;
    @extend %font--color--white;
  }
}


a.join-button--nav-for-mobile.menu-link{
  @extend %cta--button--playnow;
  @extend %font--color--white;
}
.mobile-menu-lists {
  .mobile-menu-top .back-link{
    @extend %theme--background--color;
  }
  .mobile-menu-section-title { @extend %theme--background--color;}
  .mobile-menu-item a { @extend %font--color--blue;}
  .mobile-menu .mobile-menu-item{
//border here
}
}
//user account menu
.account-menu-mobile {
  &:after{ @extend %border--bottom--color--white;  }
  .account-menu-mobile__header{
    @extend %theme--background--color;
    @extend %font--color--white;
  }
  ul li{ a { @extend %font--color--blue;}}
  ul li.logout a{@extend %cta--button--playnow;}
}
.mobile-menu .mobile-menu-item.logout-link a{
  @extend %cta--button--playnow;
}
//user my balance menu
 
.balance-display-mobile{
  &:after{ @extend %border--bottom--color--white;  }
ul li { a { @extend %font--color--blue; } }
ul li { @extend %font--color--blue;}
 
   }

  .balance-display-mobile__header{
    @extend %theme--background--color;
    @extend %font--color--white; 


  }

  
  // my balance slider
  .balance-display-mobile ul li.balance.active .slider{
  @extend %theme--background--color;
    &:before{

    @extend %background--lightblue1;
    }
  }


//user my search menu
.search-screen .search-screen-mobile__header{
  @extend %theme--background--color;

}
.my-messages-mobile-content{ .section-left__title h4 span {@extend %font--color--black;} }

.balance-display{
   @extend %border--color--white;

  @extend %font--size--set;
  @media #{$small-only} {
    @include padding--reset--0px;
    @include padding--left--5px;
    @include set--width--88px;

  }
}


//===================================
/// home page mobile carousel ///
// ==================================
#home .category-carousel-lobby-wrap__content-box__header{
  @extend %title--background--styling;
  @extend %font--size--set;
}

#home .category-carousel-lobby-wrap__content-box__header .title.hasicon .title__text {
  @include text--decoration--uppercase;
  @extend %font--color--white;
  @extend %mobile--lineheight--set;
   

  a{
    @include text--decoration--uppercase;
    @extend %font--color--white;
    @extend %mobile--lineheight--set;
  }
}
// featured games 
.category-carousel-lobby-wrap__content-box__header .title.hasicon .title__text{
  @include margin--left--0px;
}

.room-detail-modal .room-detail-wrap__title-bar{
   @media #{$small-only} {  position: inherit; }
}



 // mobile and tablet padding
.category-carousel-lobby-wrap__content-box__header{
@include padding--left-right--reset--0px;
}

#home .category-carousel-lobby-wrap__content-box__header .title.hasicon .content-holder__title__link {
  @extend %font--size--set;
  @extend  %font--color--white;
  a{
    @include text--decoration--uppercase;
    @include padding--right--10px;
    @extend %font--size--set;
    @extend %font--color--white;
    @extend %theme--mobile--viewall;
  }
}
.content-holder .content-holder__title__link{
  @extend %font--size--set;
  @extend  %font--color--white;
  @extend %theme--mobile--viewall;

}

.home-seo-inner .text-partial div{
  border:0;
}
// ==========================
// Bingo page ///
// ==========================
.bingo-hub .bingo-room-slider,
.bingo-content__part1 .middle-content__box,
.bingo-content .text-partial,
.bingo-content .text-partial .text-partial-content,
.border--styling--wrap .middle-content__box.tabs-content,
.text-partial-content {
  @extend %border--styling--wrap;
  @extend %font--size--set;
}
article.text-partial{
  h1{
    @extend %font--size--set;
    @extend %title--background--styling;
  }
}
.bingo-content .section__header.section-full-width__title a{
  @extend %font--size--set;
  @extend  %font--color--white;
  @include margin--top--0px;
}
.section-full-width__title h4{
  @include margin--top--0px;
  @include padding--none;
}
.main-content.bingo-content .hub{
  @extend %border--styling--wrap;
}
.bingo-content .section__header.section-full-width__title h4 span{
  @extend %font--size--set;
  @extend  %font--color--white;
}
.main-content.bingo-content .section.middle-content__box.bingo-section{
  @extend %border--styling--wrap;
}
.bingo-content .mobile-show-bingo h1{

  @extend %title--background--styling;
  @extend %font--size--set;
}
// bingo games set to grid of 4 with this over ride  from _hub.scss
.main-content.bingo-content .hub .hub-grid .hub-grid__col-2x{
  @extend %set--grid--4x;

}
// bing info icon
.bingo-icon .bingo-icon__content .bingo-icon__content__container .icons-info{
}
// bingo room modal
.room-detail-modal .room-detail-content{
  @include margin--top--20px ;
  @extend %theme--ui--background--color;
}
.room-detail-modal .room-detail-content__details{
  @extend %font--color--black;
  @extend %theme--ui--background--color;
}
.room-detail-modal .room-detail-content__right__game-table li span,
.room-detail-modal .room-detail__description h3 {
  @extend %font--color--black;
}
// hide bingo info and room icon
.bingo-icon .bingo-icon__content .bingo-icon__content__container .icons-info,
.bingo-icon .bingo-icon__content .bingo-icon__content__container .icons-type {
  display: none;
}
//bingo game  overlay expand to 100%
.bingo-icon .bingo-icon__overlay{
  height:100%;
}
.login-box--loginpage .login-box__password .login-box__show-password .right{
  @extend %theme--ui--background--color--pink;

}
// ==========================
// promotions page ///
// ==========================
.promo__container__row .cta-join,
.room-detail-modal .room-detail-content .room-detail-content__left .game-cta a.join-now-full{
  @extend %cta--button--playnow; }

  .games-list{
    @extend %theme--ui--border--radiustop--on;
  }
  .border--styling--wrap .middle-content__box{
    @extend %theme--ui--border--radiustop--on;
  }
  .games-content .section__header .section__title {
    @extend %font--size--set;
    @include margin--top--0px;
  }
//mobile css support
.category-carousel-lobby-wrap__content-box__header .title{
  @extend %title--background--styling;
  @extend %font--size--set;
}
.related-promos__wrap{
  @extend %border--styling--wrap;
}
.promotions-detail .promotion--featured .promotion__content__wrapper {
  @include mobile--fullwidth--only;
}
.promotions-detail{
  @extend %theme--ui--border--radiustop--on;
}
.promotions-detail .two-columns-content-wrap{
  @extend %background--lighttone1;
}
.promotions-detail .footer-nav__container .cta-join{
  @extend %cta--button--playnow;
}
//set horizontal scrolling
.lobby-wrap__content-box__content.my-promotions{
  @extend %set--horizontal--scrolling;
}

.home-community-holder .my-promotions .my-promotions__promotion .article{
  @extend %set--minwidth--200px;
  @extend %set--minheight--260px;
}
.hub-grid{
  @extend %set--horizontal--scrolling;
}
.hub-grid .hub-grid__child{
  @extend %set--minwidth--200px;
}
// ==========================
// slots page ///
// ==========================

// featured games table
.games-list .games-list__grid .cta-play{
   @extend %cta--button--playnow;

}



//fetured game date
.game-review .game-review__content__title .game-review__content__date{
  @extend %font--color--pink;
}

// feature games nav
.games-menu .games-menu__container .games-menu__games-nav{
  @include margin--bottom--20px;
}

a.games-text-switcher.games-sort-icon-tiled,
a.games-text-switcher.games-sort-icon-list {
  @extend %hide--for--mobile--only;
}
.game-icon__bottom{
  @extend %bingo--carousel--item--info;
}
.category-carousel-lobby-wrap__content-box__header .title.hasicon .content-holder__title__link a{
  @extend %font--size--set;
  @extend  %font--color--white;
  @include text--decoration--uppercase;
}
// games details
.game-details-page .game-detail__wrap h3{
  @extend %font--size--set;
  @extend %font--color--black;
}
.game-details-page .game-detail-content .play-now-button--desktop,
.game-details-page .game-detail-content .play-now-button--mobile{
  @extend %cta--button--playnow;
}

.games-menu .games-menu__container .games-menu__games-nav li {
  @extend %font--size--set;

}
// ==========================
// Lucky VIP ///
// ==========================
.main-content.lucky-club-content {
  @extend %content-holder--desktop;
  @extend %font--size--set;
  float:none;
  h1 {   @extend %font--size--set; }
}

// ==========================
// community page
// ==========================

// facebookfeed
 .social-side-bar {
  @media #{$medium-only} {display: none;  }

@media #{$small-only} {display: none ;}
}

// backdrop set to transparent
.community-blog .two-columns-content-wrap{
  @extend %background--transparent;
}
.middle-content__box .two-columns-content-wrap{
  @include responsive--padding--none;
}
.content-wrapper.content-wrapper--community .main-content.community .middle-content__box .two-columns-content-wrap__left{
  @extend %theme--ui--border--radiustop--on;
}
.community__section .section-left__title__community{
  h4 {
    @extend %font--size--set;
    @extend %title--background--styling;
    @include margin--bottom--none;
    &:first-child{
      margin-top:0;
    }
    span { @include text--decoration--uppercase; }
    a {
      @extend %theme--ui--global--link;
      @include text--decoration--uppercase;
      @include display--position--absolute;
      @include position--right--10px;
    } } }
    .two-columns-content-wrap__left .latest-winners-slider {
      @extend %border--styling--wrap;
      @extend %font--size--set;
      @include text--responsive--decoration--underline;
    }
    .two-columns-content-wrap__left .theme--content--container {
      @extend %theme--ui--float-l--100pc;
      @extend %border--styling--wrap;
    }
// right pannel
.two-columns-content-wrap__right,
.two-columns-content-wrap__left.theme--content--container{
  @include display--position--relative;
  @extend %border--styling--wrap;
  .theme--content--header{
    @extend %theme--ui--border--radiustop--on;
    @include display--position--absolute;
    @extend %font--size--set;
    @extend %theme--ui--float-l--100pc;
    @extend %title--background--styling;
    h1 {@extend  %font--color--white;}
    @include position--left--0px;
    @include position--top--0px;
  }
  .theme--content--container{
    @include margin--top--30px;
  }
}
.theme--content--header{
  @extend %font--size--set;
  @extend %theme--ui--float-l--100pc;
  h1 {@extend  %font--color--white; @extend %font--size--set;
    @include margin--reset--0px;}
  }
// blog archive
.community-blog .two-columns-content-wrap__left{
  @extend %theme--ui--border--radiustop--on;
}
.archive-content .archive-content__box__content{
    @media #{$small-only} {
background-size:30%!important;

    }
}

// community posts horizontal scroll
.main-content.community .two-columns-content-wrap__left .theme--content--container{
  @extend %set--horizontal--scrolling;
}

.community-blog .article .article__content,
.community__section__post .article .article__content,
.community-boxes .article .article__content{
  @extend %set--minwidth--mobile--300px--tablet--300px;
  @extend %set--minheight--200px;
}
.content-template .middle-content__box .article .theme--content--header{
  h1{
    @extend %font--size--set;
    @include margin--reset--0px;
    @extend  %font--color--white;
  }
} 

.community-article .theme--content--container{
  @extend %border--styling--wrap;
  @include margin--reset--0px;
  @extend %theme--ui--border--radiustop--off;
}

._author-block h4, ._author-block h4 span {
   @extend %font--color--pink;
 }

// ==========================
// start page
// ==========================
 
.start-content {
@extend %box--shadow--default;
}

.holder-mobile .content-holder-mobile{
@include padding--none;
}

#home .header-desktop .header__login a.button--join{
@extend %cta--button--playnow;
}

//header nav logo top left
.nav-for-mobile .site-logo{
@include set--width--290px;
}


a.edit-point{
// display:  none !important;
}
// start featured games title
#home .category-carousel-lobby-wrap__content-box__header{
  .title.hasicon{
    @include padding--reset--0px;
    @include margin--reset--0px;
  }
  .title__text{
    @include padding--reset--0px;
    @include margin--reset--0px;
  }
}
.home-mobile .footer-bar-mobile .cta-join{
  @extend %cta--button--playnow;
}
.home-mobile .footer-bar-mobile .cta-cashier{
  @extend  %font--color--white;
  &:hover{
    @extend  %font--color--white;
  }
}
.home-mobile .footer-bar-mobile{
  @extend %background--lightpink4;
}
.start-content .lobby-wrap{
  @extend %background--white;
}
.start-content__top-left{ @extend %font--color--black;}

.holder-mobile .title-mobile {
  @extend %font--size--set;
}
.holder-mobile .title-mobile .title-link {
  a {@extend %font--size--set;}
}
 
.start-content .start-content__top .start-content__top-right li.button--bingo a,
.start-convert-points-content .start-convert-points-content__wrap .start-convert-points-content__button,
.start-content .start-content__top .start-content__top-right li.button--bingo a,
#playerdetails .button.expand,
.claim-code.myaccount-details__column .start-claim-code .claim-button {

  @extend %cta--button--playnow;
} 

// diferentiate start
.start-content .start-content__top .start-content__top-right li.button--slots a {
@extend %cta--button--optin;
}

.lobby-wrap__content-box__header .button.dropdown{
  @include display--position--relative;
  @include position--top--5px;
  @extend  %font--color--white;
}
.select-all-messages{ input{   @extend %select--all--check;  }}
.myaccount-content{
  .select-all-messages input {
    @include display--position--relative;
    @include position--top--8px;
  }}

//login stats
.lobby-wrap .lobby-wrap__right .lobby-wrap__content-box__header .title__last-login,
{
  @extend  %font--color--white;
  @include display--position--relative;
  @include position--top--10px;
  @include position--right--10px;
  @include center--mobile-copy;
}
// hide thumbs up icon
.lobby-wrap__content-box__header .title.hasicon .title__icon,
.category-carousel-lobby-wrap__content-box__header .title.hasicon .title__icon,
.category-carousel-lobby-wrap__content-box__header .title.hasicon .title__icon #Desktop, .category-carousel-lobby-wrap__content-box__header .title.hasicon .title__icon #email_F-Copy, .category-carousel-lobby-wrap__content-box__header .title.hasicon .title__icon #email_F-Copy-2
{
  display:   none;
}
.start-content .start-content__top{
  @extend %background--lightpink4;
}
.lobby-wrap__content-box__header .title.hasicon .title__text.messages-section{
  @extend  %font--color--white;
  @extend %font--size--set;
  @include margin--reset--0px;
}
.myaccount-content .lobby-wrap__content-box{
  @extend %border--styling--wrap;
  @extend %theme--ui--border--radiustop--on;
}
.lobby-wrap .lobby-wrap__right,
.lobby-wrap__left {
  @extend %background--white;
}
//////////////////////
//// menu tabs
///////////////////////
.myaccount-content .tabs{
  @include margin-top--15px;
}
.tabs dd {
  background:transparent;
}
.myaccount-content .tabs dd a{
  color: #ffffff;
  background-color: #148af7;
  background-image: linear-gradient(0deg, #148af7 0%, #61b0fa 79%);
  border-radius: 4px;
  padding: 8px ;
  position: relative;
  top: 5px;
  text-shadow: none;
  &:hover{
    background-color: #DAEDFF;
    color: #3E9FF9;
    box-shadow: none;
    background-image: none;
  }
}
.myaccount-content .tabs dd.active a{
  color: #E43675;
  background: #FFF0F6;
  border-radius: 4px;
  background-image: none;
  border:0;
  padding: 8px ;
  &:hover{
    color: #E43675 ;
    background: #FFF0F6;
    border-radius: 4px;
    background-image: none;
    border:0;
    padding: 8px ;
  }
}
.lobby-wrap .lobby-wrap__left .progressive-jackpots__wrapper .progressive-jackpots .progressive-jackpots__title h1 {
  @extend %title--background--styling;
  @extend %font--size--set;
}
// right content section  headers
.myaccount-content .tabs-content .myaccount-balances__header,
.start-convert-points-content .start-convert-points-content__header, .claim-code h3,
.playerdetails__header,
.myaccount-transactions__header {
  @extend %title--background--styling;
  @extend %font--size--set;
  @include margin--reset--0px;
}
.claim-code.myaccount-details__column{
  @include padding--reset--0px;
}
.myaccount-content .tabs-content .balanceboxes,
.claim-code.myaccount-details__column {
  @extend %theme--ui--border--radiustop--on;
  @extend %border--styling--wrap;
}
.start-convert-points-content{
  @extend %theme--ui--border--radiustop--on;
  @extend %border--styling--wrap;
  @include padding--bottom--20px;
}
.lobby-wrap__content-box__header .title.hasicon .title__text{
  @include margin--reset--0px;
  @extend %font--color--white;
}
.lobby-wrap .progressive-jackpots__wrapper.slider{ }
#myaccount-5 {
  @include padding--reset--0px;
  @extend %theme--ui--border--radiustop--on;
  @extend %border--styling--wrap;
  @include padding--bottom--20px;
}
.myaccount-transactions__header {
  @extend %title--background--styling;
  @extend %font--size--set;
  @include margin--reset--0px;
  @include margin--bottom--25;
}
#myaccount-6{
  .myaccount-transactions{
    @include padding--reset--0px;
    @extend %theme--ui--border--radiustop--on;
    @extend %border--styling--wrap;
    @include padding--bottom--20px;
  }
}

.myaccount-transactions > ul{
  @include margin--top--20px;
}

// ==========================
// game details
// ==========================
.game-details-page .game-detail-wrap__title-bar{
  @extend %title--background--styling;
  @extend %font--size--set;
}
.game-details-page .game-detail-content{
  @extend %theme--ui--border--radiustop--on;
  @extend %border--styling--wrap;
}
.game-details-page .game-detail-content .login-button--desktop{
  @extend %cta--button--optin;
}
.game-details-page .game-detail-content .join-now-button--desktop, .game-details-page .game-detail-content .join-now-button--mobile{
  @extend %cta--button--playnow;
}
// ==========================
//  resistration page
// ==========================

.register-holder .section-full-width__title__aquisition h1{
 span {
    @include margin--reset--0px; 
    @include position--top--0px; 
    @extend %font--color--white;
 }
}
.register-holder .section-full-width__title__aquisition h1{
 @extend %title--background--styling;
  @extend %font--size--set;
  @extend %font--size--promo;
  padding:20px;
  @include display--position--relative;
  height: auto !important;
}
  
 


.registration{
  @extend %border--styling--wrap;
}
.registercta{
  @extend %cta--button--playnow;
}
// ==========================
//  help
// ==========================

.help-content .help-content-password{
@extend %theme--ui--background--color--pink;
}
.main-content.help-content .text-partial-content {
  @extend %theme--ui--border--radiustop--off;
}
.forgot-password-content .text-partial-content{
  @extend %theme--ui--border--radiustop--off;
}
.forgot-password-content .forgot-password-content__wrap #forgotpass input.button{
  @extend %cta--button--playnow;
}
.error-page .error-page__text .error-page__suggestion a{
  @extend %font--color--black;
}
// ==========================
//  alertbox 
// ==========================
.alertbox {h3, p, a  { @extend %font--color--blue;}
.alertbox__cta {
  .ok-cta, .cancel-cta {
    @extend %border--color--blue;
    @extend %font--color--blue;
    &:hover{
    @extend %border--color--pink;
    @extend %font--color--pink;
    }}}}
// ==========================
//  favorites
// ==========================
.one-column-content-wrap.favourites {
  @extend %theme--ui--border--radiustop--off;
  @extend %border--styling--wrap;
}
.main-content.my-favourites .middle-content__box{
  @extend %theme--ui--border--radiustop--off;
}
.main-content .section-left__title h4 span{
  @extend %font--color--black;
}
// ==========================
// quick deposit
// ==========================
.quick-deposit-container__header,
.quick-deposit-container__header .quick-deposit-container__header__card {
  @extend %theme--background--color;
}
.quick-deposit-container__header__card{
  @include border--top--none;
  .select-card{
    @extend %theme--border;
    @extend %theme--border--color--white;
  }
}
// ==========================
// footer
// ==========================


.footer-breadcrumbs .breadcrumbs__row .breadcrumbs{
  @include padding--left--15px; 
}

.content-template .text-partial-content{
  @extend %theme--ui--border--radiustop--off;
}
.section-left__title h4 span{
}
.footer-breadcrumbs {
  @extend %theme--ui--background--color--pink;
}
.footer-breadcrumbs .breadcrumbs__row .breadcrumbs,
.footer-breadcrumbs .breadcrumbs__row .breadcrumbs > li a{
  @extend %font--color--white;
}
// ==========================
//  modal  pop up.games-menu .games-menu__container .games-menu__games-nav li a
// ==========================

// .games-menu .games-menu__container .games-menu__games-nav li a{
//       padding: 12px ;
// }

#magicalMenu > a {
@extend %font--size--set;
@extend %theme--magicalmenu--position;
}

.games-info.reveal-modal, .games-info.dialog{
  @extend %background--white;
}
.game-detail-modal .game-detail-content{
  @extend %background--lightpink4;
}
.game-detail-modal .game-detail-content .game-detail-content__left .game-cta a.join-now,
.login-box--loginpage .cta-login{
  @extend %cta--button--optin;

}
.login-box .login-box__show-password{
  @extend %theme--ui--background--color--pink;
}
.game-detail-modal .game-detail-content .game-detail-content__left .game-cta a.join-now-full{
  @extend %cta--button--playnow;
}
.game-details-page .game-detail-content .game-detail-content__left .overlay .try-now-button{
  @extend %cta--button--playnow;
  @include display--table--center;
  @include set--width--50pc;

}
.promo__container__row .cta-opt-in{
  @extend %cta--button--optin;
}
.promotion-eng .promotion-eng__footer .promotion-eng__optin.active{
  @include padding--reset--0px;
}
// ==========================
// privacy policy
// ==========================
.main-content.privacy-policy-content{
  .two-columns-content-wrap__left__inner{
    @extend %border--styling--wrap;
    @extend %theme--ui--border--radiustop--off;
  }
}
// right column   first banner spacing -- global fix

.two-columns-content-wrap__left__title .two-columns-content-wrap__right  {
  .banner{
    &:first-of-type { @include margin--top--55px;}
  }}
// ==========================
// faq page
// ==========================

.content-wrapper--faq {
  .two-columns-content-wrap__left .two-columns-content-wrap__left__inner{
    @extend %border--styling--wrap;
    @extend %theme--ui--border--radiustop--off;
  }
}

// ==========================
// banking page
// ==========================
.main-content.banking-content .section.middle-content__box .text-partial-content{
  @extend %theme--ui--border--radiustop--off;
}
.banking-content .banking-content__wrap{
  @extend %background--lighttone1;
}
// ==========================
// casher page
// ==========================
.cashier-content .section-left__title h4 span{
  @include display--position--relative;
  @include  position--top--minus10px;
  @include lineheight--1;
  @include margin--reset--0px;
  @media #{$small-only} {
    top: -5px;
  }
}
// ==========================
// archive page
// ==========================
.archive-content .archive-content__box__content{
  &:hover{
    @extend %background--color--hover;
  }
}

// ==========================
// welcome page
// ==========================
.welcome-post-reg__modal{
  @extend %theme--background--color;
}
.welcome-post-reg__modal .logo {
  @extend %theme--logo--background;
}
.welcome-post-reg__modal .header-wrap{
  @extend %background--lighttone1;
  .header-username{
    @extend %font--color--black;
  }
}
.welcome-post-reg__modal .welcome-post-reg__content section ul li .claim-wrap .play-cta{
  @extend %cta--button--playnow;
}

.welcome-post-reg__modal .welcome-post-reg__content section ul li{
  @extend %box--shadow--off;
}

// ==========================
// bingo schedualer
// ==========================
//bing schedualer
.bingo-schedule .tabs-content{
// margin-top: 13px;
@include margin--top--5px ;
}
#home .bingo-schedule{ }
//for bingo page
.bingo-schedule{
  @extend %set--minheight--245px;
}
//for start page
.lobby-wrap .lobby-wrap__right .lobby-wrap__content-box__content__bingo-schedule{
  @extend %set--minheight--220px;
}
.bingo-schedule .bingo-schedule__rows{
  @extend %set--minheight--185px;
}
// bing scheudaler logged in
#myaccount-1 .bingo-schedule {
  .tabs-content{
    @include margin--top--5px;
  }
}
.bingo-schedule .play-col .bingo-schedule__row__items_play{
  @extend %cta--button--playnow;
}
//desktop hover schedualer
.bingo-schedule .bingo-schedule__rows .bingo-schedule__row__items{
  &:hover{
    @extend %theme--ui--background--color;
    @extend %font--color--pink;
  }
}
// ==========================
// home page
// ==========================
 
.content-holder .content-holder__content .content-holder__content_right .latest-offer-promo img{
   @extend %set--maxwidth--320px;
  @include margin--bottom--20px;
}



.header-desktop .logged-out-buttons .button--join{
  &:first-child{@extend %cta--button--optin; }
}
//global modal background
.reveal-modal-bg{
  @extend %background--lighttone1;
  opacity: 0.7;
}
//login modal on header
#login-modal .login-box .login-box__form-wrapper{
  @extend %theme--background--color;

}
#login-modal .cta-login{
  @extend %cta--button--optin;
}
//progressive jackpots
.progressive-jackpots__wrapper .progressive-jackpots .progressive-jackpots__progressive{
  @extend %set--minheight--115px;
}
.progressive-jackpots__wrapper{
  @extend %set--minheight--240px;
}

.lobby-wrap__content-box__header .title.hasicon .title__text{
  @extend %font--size--set;
  @extend %mobile--lineheight--set;
}


.home-mobile .banner{
  @media #{$medium-only} {@include margin--bottom--none;}
  
  @media #{$small-only} {@include margin--bottom--none;}
}

.home-mobile{
  .lobby-wrap__content-box__content {
    @extend %bingo--carousel--container;
    @extend %font--size--set;
  }
  .content-holder__title{
    @extend %title--background--styling;
    @extend %font--size--set;
    @include margin--top--0px;
    h1{  @extend %content-holder--desktop--title--h1;
      @extend %font--size--set;
      @include margin--top--0px;
    }
  }
}
/* Lobby Content Container  */
.lobby-wrap__content-box {
}
/* Lobby Content Container Header Area */
.lobby-wrap__content-box__header {
  @include grid-column(12);
  padding: ($site-margin / 3) ($site-margin / 2);
  margin: 0;
  font-family: $body-font-bold;
  @extend %bingo--contentholder--mobile--container;
/* Lobby Content Container Header Area Title */
.title {
  @media #{$medium-only} {
    height: auto;
  }
// elements in header bar (with icon)
&.hasicon {
  .title__icon {
  }
// Text for in the header bar
.title__text {
  @extend %bingo--contentholder--mobile--text;
  &.messages-section {
  }
}
.title__link__arrow {
  @include foundation-breaks($scols: 2, $scollapse: true, $sfloat: right, $mcols: 2, $mcollapse: true, $mfloat: right, $lcols: 2, $lcollapse: true, $lfloat: right);
  &:hover {
  }
  color: $main-highlight-color;
  @media #{$large-up} {
    color: $global-link-color;
  }
}
span.content-holder__title__link {
  padding-right:10px !important;
  @media #{$small-only} {
  }
  a{
    @extend %content-holder--mobile--title--link--color;
    @extend %font--size--set;
    &:hover {       }
  }
}
}
}
}
.heading--skin{
  .lobby-wrap__content-box__header{
    .hasicon{
      @extend %bingo--contentholder--mobile;
    }
  }
  .heading--skin--title{}
  .heading--skin--link{}
}
////////////////////////////////////////
////////// end hompage additions ///////
/////////////////////////////////////////
////////////////////////////////////////
////////// promotions page additions ///////
/////////////////////////////////////////
// promotiles
.promotion-eng__wrapper{
  h1 {a{color:$theme-ui--black--shade1 !important;}}
  strong{ color:$theme-ui--black--shade1; }
  ul {list-style: none;
    li {margin-bottom: 5px;}}
    .promotion-eng__terms{color:$theme-ui--black--shade1 !important;}
  }


// promotions modal buttons

 
#custom-modal .game-cta{
  position: absolute !important;
}

 

////////////////////////////////////////
////// end promotions page additions ///
////////////////////////////////////////



////////////////////////////////////////
//////responsible gaming ///
////////////////////////////////////////

.reality-check-settings__container{
  
 @media #{$small-only} {
    
    select{  width: 100% !important; 
      @include margin--bottom--20px;
    }}
}