// ----------
// Colors (Dont use these in your sass use the semantic name below this block)
// ----------
//check these to see if in use
$base-blue: #1C6EB5;
$base-blue-light: lighten(#1C6EB5, 6%);
$blue-background: rgba(222, 229, 229, 0.36);
$linen: #e8e6e3;
$login-blue: #00829B;
$green: #08A600;
$grey: #949494;
$grey-dark: #303030;
$grey-light: #e8e8e8;
$grey-light-bg: #f5eff9;
$grey-lighter-bg: #F7F7F7;
$base-red: #C11258;
$alice-blue: #F5FBFF;
$mine-shaft: #303030;
$bondi-blue: #02ACB2;
//Luckypants UI Colors being used
$white: #FFF;
$black: #000;
$mine-shaft: #201F1F;
$studio: #8240AE;
$studio-light: #8F86D9;
$studio-dark: #6A43AC;
$prim: #FCFAFC;
$fun-blue: #0F79D5;
$whisper: #EFE7F1;
$mauve: #E6C3FD;
$victoria: #583C7B;
$white-pointer: #FDF9FF;
$feta: #E7FBE9;
$hot-pink: #FF5AC6;
$hot-pink-dark: #ff00aa;
$melrose: #C9BBFF;
$mpurple-light: #e7e2fe;
$moon-raker: #DAD2F9;
$mpurple: #5820A9;
// used on myaccount
$bond-blue: #0398B2;
$blue-chill: #0b859b;
$pale-sky: #00fff3;
// used in cashier
$lynch: #66769E;
// used in offer
$banana-yellow: #FBE843;
$sad-yellow: #FFF8A1;
// used in tables
$sad-mpurple: #F9F9F9;
$dark-mpurple: #8C93C3;
//used in promo bg
$lighter-bg: #f5eff9;
//
//used as active links
$bright-pink: #e43675;
$tutu: #FFF6FA;

//used in form validation
$lima: #70B71D;
$torchred: #FF0041;
$carnation: #FB5368;

//Registration
$bg-color: #16023F;
$athens-gray: #F4F2F6;
$dusty-gray: #999999;
$half-baked: #81B8CF;
$silver-chalice: #A4A4A4;
$gray-chateau: #A0A7B0;
$dodger-blue: #3e9ff9;
$orange-white: #FEF8ED;
$serenade: #fff8ec;
$dove-gray: #626262;
$amethyst-smoke: #968ba9;
$denim: #0F79D5;
$emperor: #555555;
$green-vogue: #042E64;
$concrete: #f2f2f2;
$prussian-blue: #00214B;





// ----------
// semantic color names: Use only these in your sass)
// ----------
//Luckypants Semanticly named UI Colors being used
$ui-light-color: $moon-raker;
$nav-main-color: $mine-shaft;
$nav-active-color: $bright-pink;
$nav-active-bg-color: $prim;
$global-link-color: $fun-blue;
$border: $whisper;
$nav-ui-bg: $mauve;
$nav-ui-font: $victoria;
$nav-ui-alt-bg: $white-pointer;
$nav-ui-alt-bg-active: $feta;
$main-highlight-color: $studio;
$main-highlight-color-nav: $studio-dark;
$main-highlight-color-light: $studio-light;
$ui-highlight: $hot-pink;
$ui-highlight-dark: $hot-pink-dark;
$bg-mobile: $melrose;
$bg-mobile-light: $mpurple-light;
$bg-reveal-modal: $mpurple-light;
$offer: $banana-yellow;
$ui-bingo-schedule: $sad-yellow;
$input-ui-bg: $grey-lighter-bg;
$ui-table-even: $sad-mpurple;
$ui-table-header: $dark-mpurple;
//variable for color of mobile menu micro interaction touch / click circle effect on menu links
$inkbgcolor: hsl(220, 100%, 80%);
// other colours (we need to check if these are all used)
$bgcolor: $linen;
$main-highlight-color-dark: darken($base-red, 6%);
$brand-color: $base-blue;
$brand-color-light: $base-blue-light;
$login-button: $login-blue;
$go-button: $green;
$cashier-button: $bondi-blue;
$account-highlited-blue: $lynch;
$global-bg-color: $black;
$body-font-color: $black;
$body-font-color-light: lighten($body-font-color, 10%);
$ctacolor: $bond-blue;
$content-text: $mine-shaft;
$title: $blue-chill;
$pagetitle: $blue-chill;
$pagetitle: darken($grey, 30%);
$account-blue: $alice-blue;
$ctacolor-hover: lighten($bondi-blue, 5%);
/*=============================================
=  permanent variable to ensure Category carousel           =
=============================================*/
$category-carousel-h1:"todayshop-bold", Helvetica, Arial, sans-serif;
$category-carousel-p:'todayshop-light', Helvetica, Arial, sans-serif;
$category-carousel-title-link:#000; //$main-highlight-color;
$category-carousel-font-family:"arial"; //$category-carousel-font-family
$category-carousel-font-family-bold:"arial bold"; //$mobile-font-bold
$category-carousel-background:transparent;


// title and its background
$category-carousel-main-highlight-color: $studio;
$category-carousel-main-highlight-background-color: $white;
// view all link (right)
$category-carousel-view-all-link:$global-link-color;
$theme--ui--black: #323232;
$theme--ui--white: #ffffff;
$theme-ui--black--shade1: #201F1F;
// create grads with these and use bg colors at 100%
// gradientset1
$theme--ui--pink1: #f95791;
$theme--ui--pink2: $bright-pink;
$theme--ui--mobilebg--header:#e53776;
//gradientset 2
$theme--ui--pink3: #fa6698;
$theme--ui--pink4: #f01854;
$theme--ui--pink5: #f01955;
$theme--ui--pink-hover: #f44988;
$theme--ui--pink-text: $bright-pink;
$theme--ui--pink-boxshadow: #BD134F;
$theme--ui--pink-textshadow: #EDA008;
$theme--ui--pink-text--footer: #f63d96;
$theme--ui--pink--boxshadow:#991444;
$theme--ui--black--text:#373737;
$theme--ui--black--text:#373737;
$theme--ui--blue--text:#1F80D5;
// gradientset1
$theme--ui--yellow1: #ffe87a;
$theme--ui--yellow2: #facb56;
//gradientset 2
$theme--ui--yellow3: #f9c033;
$theme--ui--yellow4: #facb56;
$theme--ui--yellow--text: #ffd600;
// gradientset1
$theme--ui--lightblue1: #148af7;
$theme--ui--lightblue2: #61b0fa;
// hello moto
$theme--ui--text-shadow: #1E7CE3;
$theme--ui--lightblue3: #3c9ef8;
$theme--ui--lightblue4: #ebf6ff;
$theme--ui--lightblue5: #66B2FA;
$theme--ui--lightblue6: #0B85F7;
$theme--ui--lightblue7: #0f7CC5;
$theme--ui--lighttone1: #fff8ec;
$theme--ui--lighttone2: #fbf3ff;
$theme--ui--lighttone3: #eabfff;
$theme--ui--lightone4: #FFF0F6;
$theme--ui--purple1:#ebc4ff;
$theme--ui--purple2:#fbf3ff;

$theme--ui--button--orange--shade1:#FF9D22;
$theme--ui--button--orange--shade2:#FFC13D;
$theme--ui--button--orange--shade3:#EA9E08;
$theme--ui--button--blue--shade1:#66B2FA;
$theme--ui--button--blue--shade2:#0B85F7;
$theme--ui--button--blue--shade3:#0F7CC5;
// font sizes
$theme--ui--font-size2: 15px;
$theme--ui--font-size--mobile: 12px;
// ===============================
//  ===== navbar items  ==========
// ===============================
//nav font
$theme--ui--nav--font: "todayshop-bold", Helvetica, Arial, sans-serif;
//upstate
$theme--ui--nav--fontcolor: #3E9FF9;
$theme--ui--nav--font-size: 14px;
// current nav
$theme--ui--nav--bg: #FFF0F6;
$theme--ui--nav--fontcolor--current: $bright-pink;
// hover
$theme--ui--nav--fontcolor--hover:#3E9FF9;
$theme--ui--nav--bg--hover: #DAEDFF;
%navbar--items--link{
	@include transition(all, 0.2s ease-out);
	color: $theme--ui--nav--fontcolor;
	font-size: rem-calc($theme--ui--nav--font-size);
	text-transform: uppercase;
	font-family: $theme--ui--nav--font;
	-webkit-font-smoothing: antialiased;
	display: block;
	border-radius: 4px;
	padding: 3px 8px;
}
%navbar--items--current{
	color: $theme--ui--nav--fontcolor--current ;
	background: $theme--ui--nav--bg;
	border-radius: 4px;
	padding: 3px 8px;
}
%navbar--items--hover{
	color: $theme--ui--nav--fontcolor--hover;
	background:  $theme--ui--nav--bg--hover;
	width: auto;
	padding: 3px 8px;
	box-shadow:none;
}
// ===============================
//  ===== End navbar items  ======
// ===============================
// ============================================
// ===============================
// ========== utilities ==========
// ===============================

@mixin section--section-title--mobile{
	font-size: rem-calc($theme--ui--font-size--mobile);
}

@mixin margin--bottom--none{
	margin-bottom:0 !important;
}
@mixin margin--bottom--25{
	margin-bottom:25px !important;
}
@mixin margin--bottom--14{
	margin-bottom: 14px !important;
}
@mixin rounded--corners--top--none{
	border-radius: 0 0 4px 4px !important;
}
@mixin text--decoration--uppercase{
	text-transform: uppercase !important;
}
@mixin margin--top--0px{
	margin-top:0;
}
@mixin padding--none{
	padding:0;
}
@mixin padding--bottom--20px{
	padding-bottom:20px;
}


@mixin padding--left--5px{
	padding-left:5px !important;
}

@mixin padding--top--5px{
	padding-top:5px;
}


@mixin padding--left--15px{
	padding-left:15px !important;
}


@mixin mobile--fullwidth--only{
	@media #{$medium-only} {width:100%;}
	@media #{$small-only} {width:100%; }
}
@mixin lineheight--1 {
line-height: 1;
}

@mixin lineheight--reset {
	@media #{$medium-only} {
		line-height: 0;}
		@media #{$small-only} {
			line-height: 	0; }
		}
		@mixin margin--top--20px{
			margin-top:20px;
		}
		@mixin text--responsive--decoration--underline{
			@media #{$medium-only} {text-decoration: underline;}
			@media #{$small-only} {text-decoration: underline;}

		}
		@mixin responsive--padding--none{

			@media #{$medium-only} {padding:0 !important;}
			@media #{$small-only} {padding:0 !important;}
		}
		
		
		@mixin set--width--88px{

			width:88px;
		}

		@mixin set--width--50pc{

			width:50% !important;
		}
		
		@mixin set--width--290px{
			width:290px;
		}
		%set--grid--4x{
			  width:25%;
   @media #{$small-only} {
    @include grid-column(6, $collapse: true);
        }
    @media #{$medium-only} {
    @include grid-column(3, $collapse: true); }
		}

		%set--horizontal--scrolling{
			@media #{$medium-only}{
				display: flex;
				flex-wrap: nowrap;
				overflow-x: auto;
				-webkit-overflow-scrolling: touch;
				-ms-overflow-style: -ms-autohiding-scrollbar; }
				@media #{$small-only}{
					display: flex;
					flex-wrap: nowrap;
					overflow-x: auto;
					-webkit-overflow-scrolling: touch;
					-ms-overflow-style: -ms-autohiding-scrollbar; }
				}
				
				%set--minheight--115px{
					height:115px !important;

				}

				%set--minheight--185px{

					height:185px !important;
				}

				%set--minheight--220px{

					height:220px !important;


				}	%set--minheight--240px{

					height:240px !important;
				}
				%set--minheight--245px{
						height:245px !important;
					
				}

				%set--maxwidth--320px{
					max-width:320px !important;
				}
				%set--minheight--95px {
					min-height: 95px !important;
					@media #{$medium-only} { min-height: 95px !important; }
					@media #{$small-only} { min-height: auto !important;}

				}

				%set--minheight--200px {
					min-height: 200px;
					@media #{$medium-only} {min-height: 200px !important;}
					@media #{$small-only} {min-height: 200px !important;}
				}
				
				%set--minheight--260px{
					@media #{$medium-only} {min-height: 360px !important;}
					@media #{$small-only} {min-height: 260px !important;}
				}	
				%set--minwidth--200px{
					@media #{$medium-only} {min-width:200px !important;}
					@media #{$small-only} {min-width:180px !important;} //fix for mobile devices so width is smaller eg android.
				}

				%set--minwidth--mobile--200px--tablet--200px {
					@media #{$medium-only} {min-width:200px !important;}
					@media #{$small-only} {min-width:200px !important;}
				}

				%set--minwidth--mobile--300px--tablet--300px {
					@media #{$medium-only} {min-width:300px !important;}
					@media #{$small-only} {min-width:200px !important;}
				}

				%hide--for--mobile--only{
					@media #{$medium-only} {display: none;}
					@media #{$small-only} {display: none;}
				}
				%hide--for--all{
					display: none;
				}
				%theme--ui--background--color--pink{
					background:$theme--ui--pink2 !important;
				}
				%theme--ui--background--color{
					background:$theme--ui--lightone4  !important;
				}
				%theme--ui--border--radiustop--off{
					border-top-right-radius:0!important;
					border-top-left-radius: 0!important;
					@media #{$medium-only} {	border-radius: 0 !important;}
					@media #{$small-only} {border-radius: 0  !important;}
				}


				%theme--ui--border--radiustop--on{
					border-top-right-radius: 4px;
					border-top-left-radius: 4px;
					@media #{$medium-only} {	border-radius: 0 !important;}
					@media #{$small-only} {border-radius: 0  !important;}
				}
				.theme--ui--background--color{
					@extend %theme--ui--background--color;
				}
				%theme--content--header{
					@extend %title--background--styling;
					@extend %theme--ui--border--radiustop--on;
				}
				.theme--content--header{
					@extend %theme--content--header;
					h1{
						@extend %title--background--styling;
						@extend %font--size--set;
					}
				}



				 

			%theme--mobile--viewall{

				@media #{$medium-only}{
				padding: 0 !important;
    			margin-right: 8px;
    				width:70px !important;
    			}

				@media #{$small-only}{
				padding: 0 !important;
				margin-right: 8px;
				width:70px !important;
    						}}

//text align
%text--align--left{
	text-align: left;
}

%box--shadow--default{
   box-shadow: 0 0 0 1px #000000 !important;
      }

%box--shadow--off{
	box-shadow: none !important;
}

// text colors
%font--color--white{
	color:$theme--ui--white !important;
}
%font--color--black{
	color: $theme--ui--black--text!important;
}
%font--color--blue{
	color:$theme--ui--blue--text !important;
}
%font--color--pink {
	 color: $theme--ui--pink4 !important;
}
%background--white{
	background: $theme--ui--white !important;
}

%border--bottom--color--white  {
	border-bottom-color: $theme--ui--white !important;
}
%border--color--blue  {
border-color:$theme--ui--lightblue1;
}
%border--color--pink{
	   border-color:$theme--ui--pink4;
}
%border--color--white{
	   border-color:$theme--ui--white !important;
}

%background--transparent{
	background:transparent;
} 
// this is light pinkbg
%background--lightpink4{
	background:$theme--ui--lightone4 !important;
}
%background--lighttone1{

	background:$theme--ui--lighttone1 !important;
}
@mixin border--top--none {
border-top: 0 !important;
}

 %background--lightblue1 {
 	background:$theme--ui--lightblue1;
}

%background--color--hover{ 
@extend %theme--background--color;
}


.hub{
	.edit-point{
		margin-top:30px;
	}

}
////////////////////////
// cta promo butons////
////////////////////////
%cta--button--optin{
	background-image: linear-gradient(0deg, $theme--ui--button--orange--shade1 6%, $theme--ui--button--orange--shade2 100%) !important;
	box-shadow: 0px 1px 2px 0px rgba(4,42,76,0.51), inset -1px -1px 0px 0px $theme--ui--button--orange--shade3 !important;
	@extend %font--color--white;
	&:hover{

		background-image: linear-gradient(0deg, $theme--ui--button--orange--shade1 70%, $theme--ui--button--orange--shade2 100%) !important;
		@extend %font--color--white;
	}
}

%cta--button--optin--hover{
	background-image: linear-gradient(0deg, $theme--ui--button--orange--shade1 70%, $theme--ui--button--orange--shade2 100%) !important;
	box-shadow: 0px 1px 2px 0px rgba(4,42,76,0.51), inset -1px -1px 0px 0px $theme--ui--button--orange--shade3 ;
}
%cta--button--playnow{
	background-image: linear-gradient(-180deg, $theme--ui--lightblue5 0%, $theme--ui--lightblue6 98%) !important;
	box-shadow: 0px 1px 2px 0px rgba(4,42,76,0.51), inset -1px -1px 0px 0px $theme--ui--lightblue7 !important;
	@extend %font--color--white;
	&:hover{
		background-image: linear-gradient(-180deg, $theme--ui--lightblue5 0%, $theme--ui--lightblue6 46%, $theme--ui--lightblue7 100%) !important;
		text-shadow: none;
		box-shadow: none
;		@extend %font--color--white;
	}
}
%cta--button--playnow--hover{
	background-image: linear-gradient(-180deg, $theme--ui--button--blue--shade1 20%, $theme--ui--button--blue--shade2 100%) !important;
	box-shadow: 0px 1px 2px 0px rgba(4,42,76,0.51), inset -1px -1px 0px 0px $theme--ui--button--blue--shade3 !important;
}
%theme--ui--global--link{
	@extend %font--size--set;
	@extend %font--color--white;
	&:hover{@extend %font--color--white;}
}

%theme--magicalmenu--position {
	 padding: 2px 10px !important;
	 	top: -2px !important;
	 }


%theme--logo--background{
	  background: url(../_images/common/GBB-logo-lrg-long.png) left center no-repeat !important ;
	 background-size: contain !important;
  @media #{$medium-only}{ 
	  background: url(../_images/common/GBB-logo-lrg-long.png) left center no-repeat !important;
  background-size: contain !important;
  	}
     @media #{$small-only}{
 background: url(../_images/common/lb--mobile--logo.png) left center no-repeat !important;
background-size: contain !important;
    }
}

/// spacer utilites
@mixin center--mobile-copy{
	@media #{$medium-only}{   position: relative;
		top: 3px;}
		@media #{$small-only} {   position: relative;
			top: 3px; }
		}

	

		@mixin display--position--relative{
			position: relative;
		}
		@mixin display--position--absolute{
			position: absolute;
		}


		@mixin position--top--5px{
 		top: 5px;
 		@media #{$medium-only}{ 
		top: 3px;}
		@media #{$small-only} {
		top: 3px;}
		
		}


		
		@mixin position--right--10px{
			right:10px;
		}
		@mixin position--right--20px{
			right:20px;
		}
		@mixin position--top--minus5px{
			    top: -5px;
		}	
		@mixin position--top--minus10px{
			    top: -10px;
		}
		@mixin position--left--0px{
			left:0px;
		}
		@mixin position--left--20px{
			left:20px;
		}
		@mixin position--top--0px{
			top:0px;
		}
		@mixin position--top--10px{
			top:10px;
		}
		@mixin position--top--8px{
			top:8px;
		}

		@mixin position--top--55px{
			top: 55px;
		}

		@mixin margin--reset--0px{
			margin:0px;
		}
		
		@mixin display--table--center{
			display: table;
			margin:0 auto;
		}

		@mixin margin--top--0px {
			margin-top:0px !important;
		}
		
		@mixin margin--top--5px {
			margin-top:5px;
		}

		@mixin margin--bottom--10px {
			margin-bottom:10px;
		}
		@mixin margin--bottom--20px {
			margin-bottom:20px;
		}
		@mixin margin--top--30px {
			margin-top:30px !important;
		}

		@mixin margin--top--55px {
			margin-top:55px !important;
		}
		@mixin margin--top--20px {
			margin-top:20px !important;
		}
		@mixin margin-top--15px{
			margin-top: 15px;
		}
		.margin--top--20px{
			@include margin--top--20px;
		}

			@mixin margin--left--0px {
			margin-left:0px !important;
		}


		@mixin margin--left--5px {
			margin-left:5px !important;
		}

		
		@mixin margin--left--10px {
			margin-left:10px !important;
		}


		@mixin margin--right--5px {
			margin-right:5px !important;
		}	

		@mixin margin--right--10px {
			margin-right:10px !important;
		}

		@mixin padding--right--10px{
			padding-right:10px;
		}

		@mixin padding--right--20px{
			padding-right:20px;
		}

		@mixin padding--reset--0px{
			padding:0 !important;
		}


@mixin padding--left-right--reset--0px{

	@media #{$medium-only} {padding-left:0 !important;
							padding-right:0 !important;}
	@media #{$small-only} {padding-left:0 !important;
							padding-right:0 !important;}
}

// floats
%content--float--right{	 float:right;}
%theme--ui--float-l--100pc{	float:left;	width: 100%; }
%select--all--check{
	position: relative;
	top: 10px;
 		@media #{$medium-only}{ 
		top: 6px;}
		@media #{$small-only} {
		top: 6px;}
		
		}

 
// ===============================
// ========== end utilites =======
// ===============================

// ===============================
//  ===== border styling  ======
%border--styling--wrap{

	border: 2px solid $theme--ui--pink4;
// border-radius:  0 !important;
border-top:0;
// margin-bottom: 20px !important;
background-color: $theme--ui--white;
// margin-top:20px !important;
@media #{$medium-only}{ border: none;}
@media #{$small-only} { border: none; }
}
.border--styling--wrap {
	@extend %border--styling--wrap;
}
%font--size--set{
	font-size:rem-calc($theme--ui--font-size2);
	line-height: 1.5;
	@media #{$medium-only} {
		font-size: rem-calc($theme--ui--font-size--mobile) !important;
		line-height:2.2!important;  }
		@media #{$small-only} {
			font-size: rem-calc($theme--ui--font-size--mobile) !important;}
			line-height:2.2!important;}
			%mobile--lineheight--set{
				@media #{$medium-only} {line-height:2.2 !important}
				@media #{$small-only} {line-height:2.2 !important}
			}

		%font--size--promo{
			  font-size:28px  !important;
			  	@media #{$medium-only} {   font-size:28px  !important;}
			  	@media #{$small-only} {  font-size:20px  !important;}
		}
			%title--background--styling{
				background-image: linear-gradient(-180deg, $theme--ui--pink1 3%,$theme--ui--pink4 100%) !important;
				@extend %theme--ui--border--radiustop--on;
				color: $theme--ui--white !important;
				padding:0 !important;
				padding-left: 10px !important;
				padding-right: 0.3125rem;
				margin-top:0 !important;
				height: 32px;
				@media #{$medium-only} {
					background-image: none;
					height:26px !important;
					background: $theme--ui--mobilebg--header !important;
					border-radius: 0;
					border:none;
				}
				@media #{$small-only} {
					height:26px !important;
					background: $theme--ui--mobilebg--header !important;
					border:none;
					border-radius: 0 ;
				}
			}
			.title--background--styling{
				@extend %title--background--styling;
			}
			%theme--background--color{
				background-color:$theme--ui--mobilebg--header !important;
			}
			%theme--border{
			border:1px solid;
			}
			%theme--border--color--white{
			 border-color:  $theme--ui--white;
			}
// ===============================
/////// end border styling ///////
// ============================================
// ===============================
//  ===== Tab Items ==========
// ===============================
$theme--ui--tab--fontcolor: #3E9FF9;
$theme--ui--tab--font-size: 14px;
$theme--ui--tab--fontfamily:"todayshop-bold", Helvetica, Arial, sans-serif;
// current nav
$theme--ui--tab--bg: #FFF0F6;
$theme--ui--tab--fontcolor--current: $bright-pink;
// hover
$theme--ui--tab--fontcolor--hover:#3E9FF9;
$theme--ui--tab--bg--hover: #DAEDFF;
// use mixin versions
%tab--items{
	color:$theme--ui--white;
	background-color: $theme--ui--lightblue1;
	background-image: linear-gradient(0deg, $theme--ui--lightblue1 0%, $theme--ui--lightblue2 79%);
	box-shadow: inset -1px -1px 0px 0px $theme--ui--text-shadow;
	font-family: $theme--ui--tab--fontfamily;
	font-size: rem-calc($theme--ui--tab--font-size);
	border-radius: 4px;
	padding: 0;
	padding-left: 0.4em;
	padding-right: 0.4em;
	height: 25px;
	line-height: 28px;
	text-align: center;
	border-radius: 3px;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: 0.23px;
}
%tab--items--hover{
	background-color: $theme--ui--tab--bg--hover;
	color: $theme--ui--tab--fontcolor--hover;
	box-shadow: none;
	background-image:none;
}
%tab--items--active{
	color:  $theme--ui--tab--fontcolor--current;
	background:$theme--ui--tab--bg ;
	border-radius: 4px ;
	box-shadow: none;
	background-image:none;
}
// ===============================
//  ===== End  Tab Items =========
// ===============================
// ===============================
// ===== Bingo Schedule Card s====
// ===============================
$schedule--card--item--font: "arial bold";

$schedule--card--item--border: #fce17d;
%schedule--card--item {
	@include border-radius(4px);
	background: $theme--ui--lighttone1 !important ;
	font-family: $schedule--card--item--font;
	max-width: 140px;
	max-height: 104px;
	height: auto;
	margin-right: 5px !important;
	padding: 0;
	color:$theme--ui--white !important;
	font-size: 0.82rem !important;
	display: inline-block;
	float: none !important;
}
%schedule--card--title{
	@include grid-column(12);
	padding: 3px 0px 1px 6px;
	text-transform: uppercase;
	background:$theme--ui--pink2;
	text-align: left;
	font-size: 11px;
	height: 20px;
	text-align: center;
}
%schedule--card--price{
	@include grid-column(6);
	padding: 5px 0 0;
	padding-left: 25px;
	color: $theme--ui--black--text;
	background: url(../_images/common/mobile-bingo-schedule/ticket--color.svg) no-repeat left center;
	background-size: 16px 16px;
	background-position: 5px 5px;
	border-bottom: 1px solid $schedule--card--item--border;
	border-right: 1px solid  $schedule--card--item--border;
}
%schedule--card--roomname{
	@include grid-column(6);
	padding: 5px 0 0;
	padding-left: 25px;
	color: $theme--ui--black--text;
	background: url(../_images/common/mobile-bingo-schedule/bingo-ball--color.svg) no-repeat left center;
	background-size: 16px;
	background-position: 5px 4px;
	border-bottom: 1px solid  $schedule--card--item--border;
}
%schedule--card--jackpot{
	@include grid-column(12);
	padding: 5px 0 0;
	padding-left: 25px;
	margin-bottom: 5px;
	color: $theme--ui--black--text;
	background: url(../_images/common/mobile-bingo-schedule/jackpot--color.svg) no-repeat left center;
	background-size: 16px 16px;
	background-position: 5px 5px;
	border-bottom: 0px ;
	max-width: 130px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
//  ===== Bingo Schedule Play Button =========
// ===========================================
%bingoschedule--play--button {
	color:$theme--ui--white;
	background-color: $theme--ui--lightblue1;
	background-image: linear-gradient(0deg, $theme--ui--lightblue1 0%, $theme--ui--lightblue2 79%);
	box-shadow: inset -1px -1px 0px 0px $theme--ui--text-shadow;
	border-radius: 4px;
	width:128px;
	padding:2px!important;
	display: table;
	margin:0 auto;
	margin-bottom: 5px;
}
%bingoschedule--play--text {
	color:$theme--ui--white;
	position: relative;
	top: 2px;
}
// ===============================
// ===== End Bingo Schedule Cards=====
// ===============================

//  =====  carousel sliders   =========
// ===========================================
$theme--ui--carousel--background: #FFF0F6;

%bingo--carousel--container {
	@extend %border--styling--wrap;
}
%bingo--carousel--item--info {
	background:$theme--ui--carousel--background;
	box-shadow: 0px 2px 0px 0px $theme--ui--purple1;
	border-radius: 2px;
}
//  =====  End carousel sliders   =========
// ===========================================
//  =====  content holders   =========
// ===========================================
$content-holder--desktop--title--font:"todayshop-bold", Helvetica;
// mobile content holders and
%bingo--contentholder--mobile {
	@include grid-column(12);
	background: $theme--ui--white !important;
	padding: 0;
	margin: 0;
	height: auto;
	border: 2px solid $theme--ui--pink4;
	border-top:0;
	margin-bottom:20px !important;
	@extend %theme--ui--border--radiustop--on;
	@media #{$medium-only} {border:none; }
	@media #{$small-only} { border:none;}
}
%bingo--contentholder--mobile--container{
	@extend %title--background--styling;
}

%bingo--contentholder--mobile--headerlink{
	@include grid-column(4);
	font-size: rem-calc($theme--ui--font-size2);
	text-align: right;
	float: right;
	color:  $theme--ui--white;
	text-transform: capitalize;
}
%bingo--contentholder--mobile--text{
	color: $theme--ui--white;
	position: relative;
	top: 2px;
}
@mixin content-holder--mobile--title--h1{
	@include grid-column(7, $collapse: false, $float: left);
	font-size: $theme--ui--font-size--mobile !important;

}
%content-holder--mobile--title--link{
	@include grid-column(4, $collapse: true, $float: right);
	@include text--decoration--uppercase;
	font-family: $content-holder--desktop--title--font;
	font-size: rem-calc($theme--ui--font-size2);

	text-align: right;
	color:inherit;
	text-transform: inherit;
	padding-right: $site-margin;
}
%content-holder--mobile--title--link--color{
	@extend %content-holder--section--title;
}
// ============================================
//////// desktop content holders //////////////
// ============================================
%content-holder--desktop {
	@include grid-column(12, $collapse: true, $float: left);
	background: $theme--ui--white;
	border: 2px solid $theme--ui--pink4;
	border-top:0;
	margin-bottom: $site-margin * 2;
	height: auto;
	@include border-radius(4px 4px 4px 4px);

	@media #{$medium-only} {border:none; }
	@media #{$small-only} { border:none;}
}
%content-holder--desktop--title {
	@include grid-column(12, $collapse: true, $float: left);
	height: 32px;
	margin-bottom: 0;
	padding-left: 0;
	background-image: linear-gradient(-180deg, $theme--ui--pink1 3%, $theme--ui--pink2 100%);
	padding-top: 5px;
	@media #{$medium-only} {
		background-image: none;
		height:26px;
		background: $theme--ui--mobilebg--header;
	}
	@media #{$small-only} {
		height:26px;
		background: $theme--ui--mobilebg--header;
	}
}
%content-holder--section--header{
	@include grid-column(12);
	padding: 0;
	margin: 0;
/* top gradient content */
background-image: linear-gradient(-180deg, $theme--ui--pink1 3%,$theme--ui--pink4 100%) ;
margin: 0;
padding: 5px;
padding-left: $site-margin !important;
}
%content-holder--section--title {
	color: $theme--ui--white;
	@media #{$medium-only} {
		position: relative;
		.games-sort-icon-tiled,
		.games-sort-icon-list{
			margin-top:0;
		}
	}
	@media #{$small-only} {
		position: relative;
		.games-sort-icon-tiled,
		.games-sort-icon-list{
			margin-top:0;
		}
	}
}
%content-holder--desktop--title--h1 {
	@include grid-column(7, $collapse: false, $float: left);
	font-family: $content-holder--desktop--title--font;
	color: $theme--ui--white!important;
	padding:0;  //hotfix
	@extend %font--size--set;
	 

}
//////// End desktop content holders //////////////
// ===========================================////
// ========= End content holders   ===========////
// ===========================================////

// ===========================================
//     ===== progressive jackpots  --- ui   ==
// ===========================================
%progressive-jackpots--content--wrapper {
	width: 100%;
	position: relative;
	max-height: 350px;
	overflow: hidden;
}
%progressive-jackpots--content--heading {
	height: 25px;
	text-align: center;
	background-color: $main-highlight-color;
	background-image: none;
	color:$theme--ui--white;
	font-family:$theme--ui--nav--font;
	font-size: 14px;
	margin-top: 0px;
	padding: 3px;
	padding-left: 7px;
	text-transform: uppercase !important;
	margin-bottom: 0px;
}
%progressive-jackpots--content--background {
	height: 100%;
	@include clearfix;
	height: auto;
	background-color:$theme--ui--lightone4;
	padding: $site-margin / 2;
	margin-bottom: 10px;
	border-bottom: 2px solid $theme--ui--pink2;
	border-radius: 4px;
// margin-bottom: 6px;
}
%progressive-jackpots--content--title {
	text-align: center;
	line-height: 100%;
	height: 25%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 5px;
// todo skin notes
position: relative;
top: 2px;
}
%progressive-jackpots--content--cta{
	font-family: $content-holder--desktop--title--font;
	font-size: 150%;
	line-height: 50px;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 4px;
	color:$theme--ui--pink2;
}
%progressive-jackpots--content--cta--color {
	color: $theme--ui--white;
}
%progressive-jackpots--content--cta--button {
	height: 100%;
	margin-top: 3px;
	text-transform: uppercase;
	padding:4px  6px;
	text-align: center;
	color:$theme--ui--white;
	font-family: $content-holder--desktop--title--font;
	background-color: $theme--ui--lightblue1;
	background-image: linear-gradient(0deg, $theme--ui--lightblue1 0%, $theme--ui--lightblue2 79%);
	box-shadow: inset -1px -1px 0px 0px $theme--ui--text-shadow;
	font-family: $theme--ui--tab--fontfamily;
	font-size: rem-calc($theme--ui--tab--font-size);
	border-radius: 4px;
	position: relative;
	top:-10px;
}
//     ===== end progressive jackpots --- ui  ====
// ===========================================
//     ===== SLOTS - gamelist   =========
// ===========================================
%slots--middle-content-box--wrapper {
	@include grid-row;
	height: auto;
	padding: 0;
	background:transparent;
	@include border-radius(4px 4px 4px 4px);
	overflow: hidden;
}
%desktop--featured--slots--gameslist{
	font-size: 1rem;
	border: 2px solid $theme--ui--pink4;
	border-radius: 4px 4px 0px 0px ;
	border-top:0;
	margin-bottom: 20px !important;
	background-color: $theme--ui--white;
// margin-top:20px !important;
@media #{$medium-only} {border:none;}
@media #{$small-only} {border:none; }
}
%slots--gameslist--gridview {
	@include grid-column(12, $collapse: true);
	padding: 10px;
	border-radius: 4px;
	margin: 0;
	background:$theme--ui--white;
}
%slots--filter--button{
	@include button($button-med, $primary-color, false, true, false, false);
	@include dropdown-button;
}
%slots--sectiontitle{
	padding: 0;
	margin-bottom: 0px !important;
	width: 100% !important;
	color: $theme--ui--white  !important;
}
%games--gamesmenu--tabs{
	@include grid-row;
	@include list-inline;
	margin: 0 auto;
	height: 50px;
	width: 100%;
	position: relative;
	padding-top: 8px;
	padding-left: 8px;
	border-radius: 4px;
	background-image: linear-gradient(-180deg, $theme--ui--pink1 3%,$theme--ui--pink4 100%) ;
}
%games--gamesmenu--tabs--listitem{
	border: none;
	text-align: center;
	margin-right: 10px;
	font-family: $title1-font;
	font-size: 1em;
	list-style: none;
}
%games--gamesmenu--tabs--listitem--quicklinks{
	font-family: $body-font-bold;
	font-weight: normal;
	margin-left: 0px;
	width: 10%;
	border-left: none;
	background: none;
}
%games--gamesmenu--tabs--listitem--link{
	color: $theme--ui--white;
	background-color: $theme--ui--lightblue1;
	background-image: linear-gradient(0deg, $theme--ui--lightblue1 0%, $theme--ui--lightblue2 79%);
	border-radius: 4px ;
	padding: 8px 10px;
	position: relative;
	top: 0px;
	text-shadow: none;
}
%games--gamesmenu--tabs--listitem--hover{
	background-color: $theme--ui--tab--bg--hover;
	color: $theme--ui--tab--fontcolor--hover !important;
	border-radius: 4px ;
	box-shadow: none;
	background-image:none;
}
%games--gamesmenu--tabs--listitem--linkactive{
	color:  $theme--ui--tab--fontcolor--current;
	background:$theme--ui--tab--bg ;
	border-radius: 4px ;
}
//////////////////////////
// content heading link color
%slots--section--header--viewall{
	@extend %content-holder--section--title;

}
// ===============================
/////// Promotions text styling ///
// ===============================
// ===============================
/////// end Promotions text styling ///
// ===============================

//used on promo modal
$radical-red:#FD276F;
/*=============================================
=  Claim prize promotion tabs                 =
=============================================*/
$claimed-prize-amount-highligted: $radical-red;
$claimed-prize-headers-background: $nav-active-color;
$claimed-prize-headers-color: $white;
$claimed-prize-button-start-color: $nav-active-color;
$claimed-prize-button-end-color: $nav-active-color;
$font-color: $white;
$claimed-prize-close-reveal: #AAAAAA;
$claim-prize-confirmation-background: $lighter-bg;

//3 STEP REGISTRATION HEADER
$theme--color--primarypurple: $black;

//3 STEP REGISTRATION GLOBAL VARIABLES 

//fonts
$registration-3step-font-light: $body-font-regular;
$registration-3step-font-regular: $body-font-regular;
$registration-3step-font-bold: $button-font;

// background
$registration-3step-bg--base: $white; 
$registration-3step-bg--main: $black;

// banner#1C0344
$registration-3step-banner-bg: $black;

// 3 step steps
$registration-3step-title: $white;
$registration-3step-title--border: $white;
$registration-3step-border--bottom: #f3ead7;

// title (Mr Mrs Miss Ms)
$registration-3step-button--bg: $white;
$registration-3step-button-color--selected: $white;
$registration-3step-button-color: $white;

// input
$registration-3step-input--label: $white;
$registration-3step-input--border: $white;
$registration-3step-input--content: $black;

//select
$registration-3step-select-text: $black;

//date
$registration-3step-date-border: $silver;
$registration-3step-date-text: $silver;

//find address CTA
$registration-3step-address-bg: $black;
$registration-3step-address-text: $white;

// validations and requirements
$registration-3step-requirements: $white;
$registration-3step-input--success: $lima;
$registration-3step-input--error: $carnation;

//CTAS
$registration-3step-cta: $black;
$registration-3step-cta--text: $white;
$registration-3step-cta--dropshadow: $black;
$registration-3step-tick-border: $black;
$registration-3step-tick-text: $black;

// terms & conditions
$registration-3step-terms: $black;

/*=============================================
COOKIE POLICY VARIABLES
=============================================*/

$cookie-block-bg: $white;
$cookie-message-color: $black;
$cookie-link-color: $black;
$cookie-cta-bg: $brand-color-light;
$cookie-cta-color: $white;
$cookie-cta-hover: $brand-color;
//Cashier widget
$cashier-welcome-font: "todayshop-bold", Helvetica, Arial, sans-serif;
$cashier-welcome-size: 22px;
$cashier-widget-header: #fff;

#welcome-cashier {
   text-shadow: 0px 1px 1px #715EBB;
   font-weight: bold;
   letter-spacing: 0.03em;
}

/*=============================================
PRIZE WHEEL
=============================================*/
$prize-wheel-icon: url("../_images/prize-wheel/gbb.svg");
$prize-wheel-font: Helvetica, Arial, Verdana, sans-serif;
