html {
    overflow-y: scroll;
}

body {
    font-family: $body-font-regular !important;
    color: $grey-dark;
    font-size: em-calc(14px);
    background-color: #fdf7e7;

    // background-image:url("../_images/common/background-pattern.jpg");
    background-repeat: repeat;
    line-height: 1.5em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    &.modal-open {
        overflow: hidden;
    }
}

ul,
ol,
dl {
    list-style-position: inside;
}

h1 {
    font-family: $title1-font;
    color: $base-blue;
    font-size: 1.7em;
    text-transform: uppercase;

    // letter-spacing: 0em;
}

// h1:first-letter {
//      text-transform:uppercase;   
// }

h2 {
    font-family: $title2-font;
    color: $red-title;
    letter-spacing: 0.03em;
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-family: $body-font-regular;
    color:  $main-highlight-color;
    font-size: 1.5em;
    font-weight: bold;
}

h4 {
    font-family: $title-section;
    color:   $main-highlight-color;
    font-size: 1.4em;
    font-weight: bold;
}

h5 {
    font-family: $title-section;
    color:    $main-highlight-color;
    font-size: 1.3em;
    font-weight: bold;
}

h6 {
    font-family: $title-section;
    color:   $main-highlight-color;
    font-size: 1.2em;
    font-weight: bold;
}

p {
    margin-bottom: 1.25rem;
}

.reveal-modal-bg {
    z-index: 9997;
}

.reveal-modal {
    z-index: 9998 !important;
    height: auto !important;
    top: 50% !important;
    position: fixed !important;
    left: 50% !important;
    z-index: 99999;
    transform: translate(-50%, -50%) !important;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    max-height: 100% !important;

    @media #{$small-only} {
        height: 100%;
    }

    @media #{$medium-only} {
        height: 100%;
    }
}

dialog {
    z-index: 99999999999;

    @media #{$medium-up} {
        position: absolute;
        width: 100%;
    }

    @media #{$small-only} {
        position: absolute;
        padding: $site-margin;
        width: 100%;
        -webkit-overflow-scrolling: touch;
    }
}