// =============================================================================
// Fonts
// =============================================================================

// Mikado Family
// =============================================================================

@font-face {
    font-family: 'Mikado-Regular';
    src: url('../_fonts/Mikado/mikadoregular-webfont.eot');
    src: url('../_fonts/Mikado/mikadoregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/Mikado/mikadoregular-webfont.woff2') format('woff2'),
         url('../_fonts/Mikado/mikadoregular-webfont.woff') format('woff'),
         url('../_fonts/Mikado/mikadoregular-webfont.ttf') format('truetype'),
         url('../_fonts/Mikado/mikadoregular-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Mikado-Regular';
    src: url('../_fonts/Mikado/mikadomedium-webfont.eot');
    src: url('../_fonts/Mikado/mikadomedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/Mikado/mikadomedium-webfont.woff2') format('woff2'),
         url('../_fonts/Mikado/mikadomedium-webfont.woff') format('woff'),
         url('../_fonts/Mikado/mikadomedium-webfont.ttf') format('truetype'),
         url('../_fonts/Mikado/mikadomedium-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Mikado-Medium';
    src: url('../_fonts/Mikado/mikadomedium-webfont.eot');
    src: url('../_fonts/Mikado/mikadomedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/Mikado/mikadomedium-webfont.woff2') format('woff2'),
         url('../_fonts/Mikado/mikadomedium-webfont.woff') format('woff'),
         url('../_fonts/Mikado/mikadomedium-webfont.ttf') format('truetype'),
         url('../_fonts/Mikado/mikadomedium-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Mikado-Italic';
    src: url('../_fonts/Mikado/mikadomedium-italic-webfont.eot');
    src: url('../_fonts/Mikado/mikadomedium-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/Mikado/mikadomedium-italic-webfont.woff2') format('woff2'),
         url('../_fonts/Mikado/mikadomedium-italic-webfont.woff') format('woff'),
         url('../_fonts/Mikado/mikadomedium-italic-webfont.ttf') format('truetype'),
         url('../_fonts/Mikado/mikadomedium-italic-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Kansas Family
// =============================================================================

@font-face {
    font-family: 'Kansas-Light';
    src: url('../_fonts/kansas/kansascasual-regular-webfont.eot');
    src: url('../_fonts/kansas/kansascasual-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kansas/kansascasual-regular-webfont.woff2') format('woff2'),
         url('../_fonts/kansas/kansascasual-regular-webfont.woff') format('woff'),
         url('../_fonts/kansas/kansascasual-regular-webfont.ttf') format('truetype'),
         url('../_fonts/kansas/kansascasual-regular-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Kansas-Medium';
    src: url('../_fonts/kansas/kansascasual-regular-webfont.eot');
    src: url('../_fonts/kansas/kansascasual-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kansas/kansascasual-regular-webfont.woff2') format('woff2'),
         url('../_fonts/kansas/kansascasual-regular-webfont.woff') format('woff'),
         url('../_fonts/kansas/kansascasual-regular-webfont.ttf') format('truetype'),
         url('../_fonts/kansas/kansascasual-regular-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Kansas-Semibold';
    src: url('../_fonts/kansas/kansascasual-regular-webfont.eot');
    src: url('../_fonts/kansas/kansascasual-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/kansas/kansascasual-regular-webfont.woff2') format('woff2'),
         url('../_fonts/kansas/kansascasual-regular-webfont.woff') format('woff'),
         url('../_fonts/kansas/kansascasual-regular-webfont.ttf') format('truetype'),
         url('../_fonts/kansas/kansascasual-regular-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
// Expo Sans Pro
// =============================================================================

@font-face {
    font-family: 'expo-sans-pro-regular';
    src: url('../_fonts/expo-sans-pro/expo-sans-pro-regular-webfont.eot');
    src: url('../_fonts/expo-sans-pro/expo-sans-pro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-regular-webfont.woff2') format('woff2'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-regular-webfont.woff') format('woff'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-regular-webfont.ttf') format('truetype'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-regular-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'expo-sans-pro-italic';
    src: url('../_fonts/expo-sans-pro/expo-sans-pro-italic-webfont.eot');
    src: url('../_fonts/expo-sans-pro/expo-sans-pro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-italic-webfont.woff2') format('woff2'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-italic-webfont.woff') format('woff'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-italic-webfont.ttf') format('truetype'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-italic-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'expo-sans-pro-bold';
    src: url('../_fonts/expo-sans-pro/expo-sans-pro-bold-webfont.eot');
    src: url('../_fonts/expo-sans-pro/expo-sans-pro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-bold-webfont.woff2') format('woff2'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-bold-webfont.woff') format('woff'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-bold-webfont.ttf') format('truetype'),
         url('../_fonts/expo-sans-pro/expo-sans-pro-bold-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
// Chowderhead Family
// =============================================================================


@font-face {
    font-family: 'Chowderhead';
    src: url('../_fonts/chowderhead/chowderhead-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

// Sauberscript Family
// =============================================================================

@font-face {
    font-family: 'Sauberscript';
    src: url('../_fonts/sauberscript/sauberscript-webfont.eot');
    src: url('../_fonts/sauberscript/sauberscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/sauberscript/sauberscript-webfont.woff2') format('woff2'),
         url('../_fonts/sauberscript/sauberscript-webfont.woff') format('woff'),
         url('../_fonts/sauberscript/sauberscript-webfont.ttf') format('truetype'),
         url('../_fonts/sauberscript/sauberscript-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
