[class*="entypo"] {
    color: white;

    &:before {
        line-height: 30px;
        font-size: 16px;
    }

    &:hover {
        color: white !important;

        &:before {
            opacity: 0.8;
        }
    }
}


.entypo-export {
    &:before {
        font-size: 80%;
        margin-right: 3px;
    }
    &:hover {
        color: inherit !important;
    }
}


.entypo-gplus {
    &:before {
        font-size: 120%;
    }
}