#ajax-wrapper {
     .cookie-policy-active > & {
          @media #{$large-up} {
              margin-top: calc( 90px + 85px);
          }

          @media #{$medium-only} {
              margin-top: calc( 50px + 130px);
          }

          @media #{$small-only} {
              margin-top: calc( 50px + 155px);
          }

          @media only screen and (max-width: 470px) {
               margin-top: calc( 50px + 180px);
          }

          @media only screen and (max-width: 360px) {
               margin-top: calc( 50px + 205px);
          }
     }
    @media #{$large-up} {
        margin-top: 90px;
    }

    @media #{$medium-only} {
        margin-top: 50px;
    }

    @media #{$small-only} {
        margin-top: 50px;
    }
}

// content main homepage
.main-content {
    @include grid-row;
}

.main-content__top {
    @include grid-column(12, $collapse: true);
    clear: both;
    height: auto;
    padding-right: 0;
    padding-bottom: $site-spacing * 2;

    @media #{$small-only} {
        padding-bottom: 0;
    }

    .main-content__top__left {
        > div > a > img {
            @include grid-column(12, $collapse: true);
        }

        @media #{$small-up} {
            @include grid-column(12, $collapse: true);
        }

        @media #{$large-up} {
            @include grid-column(8, $collapse: true);

            height: auto;

            .main-content__top__left__inner {
                padding-right: $site-spacing;
            }
        }
    }

    .main-content__top__right {
        > div > a > img {
            @include grid-column(12, $collapse: true);
        }

        @extend .show-for-large-up;

        @include grid-column(4, $collapse: true);

        height: 300px;

        .main-content__top__right__inner {
            padding: 0px;
        }
    }
}

.main-content__bottom {
    @include grid-column(12, $collapse: true);

    height: auto;
    padding: 0px;

    @media #{$large-up} {
        width: 1000px;
    }

    margin: 0 auto;
    float: none;
}

.two-columns-content-wrap {
    @include grid-row;

    @media #{$small-only} {
        @include grid-column(12, $collapse: true);

        padding: 0;

        //max-width: 468px !important;
    }

    @media #{$medium-only} {
        @include grid-column(12, $collapse: true);
    }

    @media #{$large-up} {
        max-width: 1000px !important;
    }

    .two-columns-content-wrap__left {
        @include grid-column(9, $collapse: true);

        height: auto;

        @media #{$medium-only} {
            @include grid-column(12, $collapse: true);
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }
    }

    .two-columns-content-wrap__right {
        @include grid-column(3, $collapse: true);

        background-color: $yellow-banana;
        padding: $site-spacing;

        h1 {
            font-family: $title-section !important;
            border-bottom: 2px dotted $yellow-dark;
            font-size: 28px;
        }

        img {
            // @include be-box;
            margin-bottom: 20px;
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }
    }
}

.three-columns-equal {
    > div {
        @include grid-column(4, $collapse: true);
    }

    > article {
        @include grid-column(4, $collapse: true);
    }
}

.middle-content__box {
    @include grid-row;

    height: auto;
    padding: $site-margin;

    @media #{$small-only} {
        padding: 0;
    }

    margin-bottom: 24px;

    .section {
        float: none;
    }
}

table {
    margin-bottom: 15px;

    thead > tr > td {
        color: white;
        background-color: #004C64;
    }
}

.float-right {
    width:auto;
    float:right;
}

/* THANK YOU page header styling */
#cashier {
    .cashier__thank-you--header {
        border-radius: 0px !important;

        @media #{$medium-only} {
            margin-top: 65px;
        }

        @media #{$small-only} {
            margin-top: 50px;
        }
    }

    .section .section__title {
        padding-left: 8px;
        padding-top: 5px;
        width: 30%;

        border-bottom: none;
    }

    .cashier__secure-payment {
        position: relative;
        float: right;
        padding-top: 5px;

        @media #{$medium-only} {
            padding-top: 5px;
        }

        @media #{$small-only} {
            width: 35%;
            padding-top: 5px;
            top: 5px;
            right: 5px;
        }
    }
}