// ----------------------------------------------------------
// Mixin to set up all 3 foundation breakpoints for small, medium and large and pass variables for clumn value to each
@mixin foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left) {
    @media #{$small-up} {
        @include grid-column($scols, $collapse: $scollapse, $float: $sfloat);
    }

    @media #{$medium-up} {
        @include grid-column($mcols, $collapse: $mcollapse, $float: $mfloat);
    }

    @media #{$large-up} {
        @include grid-column($lcols, $collapse: $lcollapse, $float: $lfloat);
    }
}
//show-for-small-up
@mixin show-for-small-up {
    display: none;

    @media #{$small-up} {
        display: block;
    }
}

//show-for-small-only
@mixin show-for-small-only {
    display: none;

    @media #{$small-only} {
        display: block;
    }
}

//show-for-medium-up
@mixin show-for-medium-up {
    display: none;

    @media #{$medium-up} {
        display: block;
    }
}

//show-for-medium-only
@mixin show-for-medium-only {
    display: none;

    @media #{$medium-only} {
        display: block;
    }
}

//show-for-large-up
@mixin show-for-large-up {
    display: none;

    @media #{$large-up} {
        display: block;
    }
}

//show-for-large-only
@mixin show-for-large-only {
    display: none;

    @media #{$large-only} {
        display: block;
    }
}

//show-for-xlarge-up
@mixin show-for-xlarge-up {
    display: none;

    @media #{$xlarge-up} {
        display: block;
    }
}

//show-for-xlarge-only
@mixin show-for-xlarge-only {
    display: none;

    @media #{$xlarge-only} {
        display: block;
    }
}

//show-for-xxlarge-up
@mixin show-for-xxlarge-up {
    display: none;

    @media #{$xxlarge-up} {
        display: block;
    }
}

//show-for-xxlarge-only
@mixin show-for-xxlarge-only {
    display: none;

    @media #{$xxlarge-only} {
        display: block;
    }
}

//hide-for-small-up
@mixin hide-for-small-up {
    display: none;

    @media #{$small-up} {
        display: none;
    }
}

//hide-for-small-only
@mixin hide-for-small-only {
    display: block;

    @media #{$small-only} {
        display: none;
    }
}

//hide-for-medium-up
@mixin hide-for-medium-up {
    display: block;

    @media #{$medium-up} {
        display: none;
    }
}

//hide-for-medium-only
@mixin hide-for-medium-only {
    display: block;

    @media #{$medium-only} {
        display: none;
    }
}

//hide-for-large-up
@mixin hide-for-large-up {
    display: block;

    @media #{$large-up} {
        display: none;
    }
}

//hide-for-large-only
@mixin hide-for-large-only {
    display: block;

    @media #{$large-only} {
        display: none;
    }
}

//hide-for-xlarge-up
@mixin hide-for-xlarge-up {
    display: block;

    @media #{$xlarge-up} {
        display: none;
    }
}

//hide-for-xlarge-only
@mixin hide-for-xlarge-only {
    display: block;

    @media #{$xlarge-only} {
        display: none;
    }
}

//hide-for-xxlarge-up
@mixin hide-for-xxlarge-up {
    display: block;

    @media #{$xxlarge-up} {
        display: none;
    }
}

//hide-for-xxlarge-only
@mixin hide-for-xxlarge-only {
    display: block;

    @media #{$xxlarge-only} {
        display: none;
    }
}

// Mixin to get a colour from the palette.
@function palette($palette, $stone: "base") {
    @return map-get(map-get($palettes, $palette), $stone);
}

// mixing to display inline a group of elements

@mixin list-inline {
    @include clearfix;

    margin: 0 0;
    padding: 0 0;
    list-style-type: none;

    li {
        float: left;
        display: block;
    }
}

// Vertical Align
// ==============================================================================

@mixin vert-align($height) {
    height: $height;
    line-height: $height;
}

// align text central but vertical in its parent
// ==============================================================================
@mixin vert-mid-align {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-justify-content: center;

    /* older firefox */
    display: -moz-box;
    -moz-box-align: center;
    -moz-box-pack: center;

    /* IE10*/
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-pack: center;

    /* newer webkit */
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-box-pack: center;

    /* Standard Form - IE 11+, FF 22+, Chrome 29+, Opera 17+ */
    display: flex;
    align-items: center;
    justify-content: center;
}

// Font antialiasin
// ==============================================================================
@mixin antialiasing($type: antialiased) {
    /* antialiased, none, subpixel-antialiased*/
    -webkit-font-smoothing: $type;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: $type;
    font-smooth: always;
}

// Top border radious
// ==============================================================================
@mixin border-top-radius($radius: 10px) {
    -webkit-border-top-left-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-topright: $radius;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}

// border radious
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

/*********************
TOOLS
*********************/

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.image-replacement {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
    font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
    font-style: italic;
}

// Buttons
// =============================================================================

@mixin button-generate($base-color, $button-padding, $radius: 1px) {
    @include button(rem-calc($button-padding), $base-color, $radius, false, false, false);

    border: 1px solid darken($base-color, 10%);
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
    margin: 0 0;

    &:hover {
        background: lighten($base-color, 3%);
    }

    &:active {
        color: #FFF;
        background: darken($base-color, 7%);
        text-shadow: none;
    }
}

@mixin linear-gradient($first-color: white, $second-color: black) {
    @include background-image(linear-gradient($first-color, $second-color));
}

// Buttons
// =============================================================================

@mixin CTA-button($padding: 0.4em, $fontsize: 0.7em, $borderradius: 2px, $startgrad: #179f2d, $endgrad: #7bb726) {
    padding: $padding;
    font-size: $fontsize;
    color: $white;
    font-weight: bold;

    @include border-radius($borderradius);

    @include background-clip(padding-box);

    // prevents bg color from leaking outside the border
    background-color: #fff14f;

    // layer fill content
    @include background-image(linear-gradient(bottom, $startgrad 16%, $endgrad 84%));

    &:hover {
        @include background-image(linear-gradient(bottom, lighten($startgrad, 5%) 0%, lighten($endgrad, 5%) 100%));

        // gradient overlay
        color: $white;
    }
}

// Shadow Generator
// =============================================================================

@mixin shadow-generator($hlength: 5px, $vlength: 5px, $blurradius: 5px, $spreadradius: -7px, $shcolor: $black) {
    -webkit-box-shadow: $hlength $vlength $blurradius $spreadradius $shcolor;
    -moz-box-shadow: $hlength $vlength $blurradius $spreadradius $shcolor;
    box-shadow: $hlength $vlength $blurradius $spreadradius $shcolor;
}

// Containers & Boxes
// ==========================================================

@mixin be-box($bgcolor: $white, $borderstyle: solid, $bordercolor: $border, $marginright: 0px) {
    background-color: $bgcolor;
    border-style: $borderstyle;
    border-color: $bordercolor;
    border-width: 1px;
    border-radius: 2px;
    margin-right: $marginright;
}

@mixin be-box-full-with($bgcolor, $bordercolor) {
    @include grid-column(12, $collapse: true);

    background-color: $bgcolor;
}

@mixin be-box-copy($bgcolor, $borderstyle, $bordercolor, $borderwidth) {
    background-color: $bgcolor;
    border-style: $borderstyle;
    border-color: $bordercolor;
    border-width: $borderwidth;
    border-radius: 1px;
}

@mixin be-image {
    border-style: solid;
    border-color: $white;
    border-width: 1px;
    border-radius: 1px;
    -moz-box-shadow: 0 0 0 1px rgba(255, 189, 32, 0.75);
    -webkit-box-shadow: 0 0 0 1px rgba(255, 189, 32, 0.75);
    box-shadow: 0 0 0 1px rgba(255, 189, 32, 0.75);
}

@mixin be-image-banner {
    border-style: solid;
    border-color: $white;
    border-width: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 0 0 2px rgba(255, 189, 32, 0.75);
    -webkit-box-shadow: 0 0 0 2px rgba(255, 189, 32, 0.75);
    box-shadow: 0 0 0 2px rgba(255, 189, 32, 0.75);
}

// PLAY NOW BUTTON
// ==========================================================

@mixin PLAY-button {
    background: $green;
    color: $white;
}

// OPT-IN BUTTON
// ==========================================================

@mixin OPT-IN-button {
    background: #008CBA;
    color: $white;
}

// Vertical Align
// ==========================================================

@mixin vert-align($height) {
    height: $height;
    line-height: $height;
}

// mixing to display inline a group of elements

@mixin list-inline {
    @include clearfix;

    margin: 0 0;
    padding: 0 0;
    list-style-type: none;

    li {
        float: left;
        display: block;
        margin-right: 10px;
    }
}

// Absolute center
// ==========================================================
@mixin center($width, $height) {
    position: absolute;
    left: 50%;
    top: 50%;
    height: $height;
    width: $width;
    margin-left: -$width / 2;
    margin-top: -$height / 2;
}