// ----------
// Colors
// ----------
$white: #FFF;

//used for white
$black: #000;

//used for black

$base-blue: #0F506D;
$base-light-blue: lighten(#0F506D, 6%);
$blue-background: rgba(222, 229, 229, 0.36);

$bondi-blue: #02ACB2;
$login-blue: #00829B;

$green: #08A600;
$torchred: #FF0041;

$grey: #829da8;
$grey-dark: #303030;
$old-lace:#fdf7e7; 

//used for main content font
$grey-light: #e8e8e8;
$grey-light-bg: #dddddd;
$grey-lighter-bg: #F7F7F7;
$gray: #828282;

//used in promo bg
$lighter-bg: #fbe8b8;

$yellow-light: #f8ecce;
$yellow-light-bg: #FEF3D3;
$yellow-dark: #ffe7aa;

$border: #F4E7C0;

$yellow-banana: #fbe8b8;
$yellow-cream: #F6C762;

$base-red: #C11258;
$base-red-dark: darken(#C11258, 6%);

$red-title: #C11258;

$of-white: #f9f6ec;

$brown-dark: #9f855a;

$orange: #cf6e0e;
$alice-blue: #00fff3;

$sad-yellow-light: #F9F9F9;
$dark-blue: #004C64;

$lipstick: #e90088;

//used as main brand pink color
$fesheggplant: #A3015D;

// main brand color - pinky red color
$linen: #e8e6e3;

//used

//cashier
$pale-sky: #00fff3;

// used in cashier
$lynch: #66769E;

// used in states cashier and quick links widget
$lucky-point: #1D1F67;

// used in blue palette
$scarpa-Flow: #585562;

// used in purple palette
$off-white: #fcfafa;

// used in various background locations
$double-spanish-white: #EADBBF;

// used in navigation sand type color

//utils
$pictonblue: #51C6EE;

//used to underline the current nav element

//Registration


// ----------
// Common Variables
// ----------

$site-margin: 10px;
$title: #0b859b;
$pagetitle: #0b859b;
$content-text: #303030;

//Registration
$carnation: #FB5368;
$lima: #70B71D;
$half-baked: #81B8CF;
$silver-chalice: #A4A4A4;
$gray-chateau: #A0A7B0;
$dove-gray: #6b6b6b;
$boston-blue: #3C8AB5;
$amethyst-smoke: #968ba9;
$denim: #0F79D5;

// ----------
// PALETTE OF COLOURS
// ----------
// Map Object with all the coluours and the variations
$palettes: (black: (), white: (), grey: (base: $grey, light: lighten($grey, 20%), dark: darken($grey, 20%)), orange: (base: $orange, light: lighten($orange, 10%), dark: darken($orange, 10%)), pink: (base: $lipstick, light: lighten($lipstick, 10%), dark: darken($lipstick, 10%)), green: (base: #208d12, light: lighten(#208d12, 10%), dark: darken(#208d12, 10%)), purple: (base: $scarpa-Flow, light: lighten($scarpa-Flow, 10%), dark: darken($scarpa-Flow, 10%)), blue: (base: $lucky-point, light: lighten($lucky-point, 10%), dark: darken($lucky-point, 10%)));

// semantic names

$bgcolor: $linen;
$brand-color: $base-blue;
$ctacolor: $base-blue;
$ctacolor-hover: $base-blue;
$title: $scarpa-Flow;
$content-text: darken($grey, 25%);
$pagetitle: darken($grey, 30%);
$account-blue: #F5FBFF;
$account-highlited-blue: $lynch;
$navigation-text-color: $double-spanish-white;
$main-highlight-color: $base-red;
$ui-table-even: $sad-yellow-light;
$ui-table-header: $dark-blue;
$nav-active-color: $base-blue;

$quarter-pearl-lusta: #FFFCF5;

//textarea
$body-font-color: $black;
$body-font-color-light: lighten($body-font-color, 10%);

// -------------------
// Font size
// -------------------
$headline: 1.5em;
$subheadline: 1.125em;

/*=============================================
=            fonts            =
=============================================*/

// Font used for body copy 
// =============================================================================

$body-font-regular: "expo-sans-pro-regular", Helvetica, Arial, sans-serif;
$body-font-medium: "expo-sans-pro-regular", Helvetica, Arial, sans-serif;
$body-font-bold: "expo-sans-pro-bold", Helvetica, Arial, sans-serif;
$body-font-em: "expo-sans-pro-italic", Helvetica, Arial, sans-serif;

// Font used H4 
// =============================================================================

$title-section: "Kansas-Semibold", Helvetica, Arial, sans-serif;

// Font used H1 
// =============================================================================

$title1-font: "expo-sans-pro-bold", Helvetica, Arial, sans-serif; 

// Font used H2 
// =============================================================================

$button-font: "expo-sans-pro-bold", Helvetica, Arial, sans-serif;

$title2-font: "expo-sans-pro-regular", Helvetica, Arial, sans-serif;
$title2-font-bold: "expo-sans-pro-bold", Helvetica, Arial, sans-serif;
$title2-font-light: "expo-sans-pro-italic", Helvetica, Arial, sans-serif;

$kansas-font: "Kansas-Semibold", Helvetica, Arial, sans-serif;

/*=============================================
=  default site margin / gutter / padding / spacing           =
=============================================*/
$site-margin: rem-calc(14px);

$site-spacing: rem-calc(10px);

$global-bg-color: $yellow-light-bg;
$global-link-color: $base-blue;

//variable for color of micrclick circle effect on menu links
$inkbgcolor: hsl(220, 100%, 80%);







/*=============================================
=  permanent variable to ensure Category carousel           =
=============================================*/
$category-carousel-h1: $title2-font-bold;
$category-carousel-title-link: $lucky-point; 
$category-carousel-font-family:$body-font-regular; 
$category-carousel-font-family-bold:$body-font-bold; 
$category-carousel-background:transparent;

// title and its background
$category-carousel-main-highlight-color: $base-red;
$category-carousel-main-highlight-background-color:$account-blue;

// view all link (right)
$category-carousel-view-all-link:$base-red;

$nav-main-color:#000;


//used on promo modal
$radical-red:#FD276F;
/*=============================================
=  Claim prize promotion tabs                 =
=============================================*/
$claimed-prize-amount-highligted: $radical-red;
$claimed-prize-headers-background: $nav-active-color;
$claimed-prize-headers-color: $white;
$claimed-prize-button-start-color: $nav-active-color;
$claimed-prize-button-end-color: $nav-active-color;
$font-color: $white;
$claimed-prize-close-reveal: #AAAAAA;
$claim-prize-confirmation-background: $lighter-bg;

//3 STEP REGISTRATION HEADER
$theme--color--primarypurple: $black;

//3 STEP REGISTRATION GLOBAL VARIABLES 

//fonts
$registration-3step-font-light: $body-font-regular;
$registration-3step-font-regular: $body-font-regular;
$registration-3step-font-bold: $button-font;

// background
$registration-3step-bg--base: $white; 
$registration-3step-bg--main: $black;

// banner#1C0344
$registration-3step-banner-bg: $black;

// 3 step steps
$registration-3step-title: $white;
$registration-3step-title--border: $white;
$registration-3step-border--bottom: #CBC9C2;

// title (Mr Mrs Miss Ms)
$registration-3step-button--bg: $white;
$registration-3step-button-color--selected: $white;
$registration-3step-button-color: $white;

// input
$registration-3step-input--label: $white;
$registration-3step-input--border: $white;
$registration-3step-input--content: $black;

//select
$registration-3step-select-text: $black;

//date
$registration-3step-date-border: $silver;
$registration-3step-date-text: $silver;

//find address CTA
$registration-3step-address-bg: $black;
$registration-3step-address-text: $white;

// validations and requirements
$registration-3step-requirements: $white;
$registration-3step-input--success: $green;
$registration-3step-input--error: $carnation;

//CTAS
$registration-3step-cta: $black;
$registration-3step-cta--text: $white;
$registration-3step-cta--dropshadow: $black;
$registration-3step-tick-border: $black;
$registration-3step-tick-text: $black;

// terms & conditions
$registration-3step-terms: $black;

$bg-color: #16023F;


/*=============================================
COOKIE POLICY VARIABLES
=============================================*/

$cookie-block-bg: $white;
$cookie-message-color: $black;
$cookie-link-color: $black;
$cookie-cta-bg: $base-light-blue;
$cookie-cta-color: $white;
$cookie-cta-hover: $base-blue;
//Cashier widget
$cashier-welcome-font: "expo-sans-pro-bold", Helvetica, Arial, sans-serif;
$cashier-welcome-size: 22px;
$cashier-widget-header: $base-red;

/*=============================================
PRIZE WHEEL
=============================================*/
$prize-wheel-icon: url("../_images/prize-wheel/be.svg");
$prize-wheel-font: Helvetica, Arial, Verdana, sans-serif;
