

table th {
    font-weight: bold;
    border: none;
}

table td, table th {
    padding: 9px 10px;
    text-align: center !important;
    border: none;
}

@media only screen and (max-width: 767px) {
    table.responsive {
        margin-bottom: 0;
        width: 100% !important;
        margin-left: 35%!important;
    }
    .pinned {
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        width: 35%;
        height: 100%;
        overflow: hidden;
        overflow-x: scroll;
        border-right: 2px dotted #ccc;
        border-left: 1px solid #ccc;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);
        -moz-box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);
        box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);
    }
    .pinned table {
        border-right: none;
        border-left: none;
        width: 100%;
    }
    .pinned table th, .pinned table td {
        white-space: nowrap;
    }
    .pinned td:last-child {
        border-bottom: 0;
    }
    div.table-wrapper {
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
        border-right: 2px dotted #ccc;
    }
    div.table-wrapper div.scrollable table {
        margin-left: 35%;
    }
    div.table-wrapper div.scrollable {
        overflow: scroll;
        overflow-y: hidden;
    }
    table.responsive td, table.responsive th {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
    }
    table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td {
        display: none;
    }
}