table {
    border-radius: 0px !important;
    border: 1px solid #DDD !important;
    border-spacing: 2px;

    thead {
        tr {
            td {
                a {
                    color: $white;

                    &:hover {
                        color: $white;
                    }
                }
            }

            th {
                p {}
            }
        }
    }

    tr {
        &:first-child {
            td {
                color: $bgcolor;
            }
        }

        td {}
    }
}