@media #{$large-up} {
    .main-content {
        &.registration {
            padding-top: 0;
        }
    }
}
.header--register3step {
    .nav-for-mobile {
        display: none !important;
    }
    .footer {
        display: none;
    }
}
.registration-3step {
    @include grid-column(12);
    padding: 0;
    z-index: 999999;
    top: 0;
    height: 100%;
    background: $registration-3step-bg--base;
    overflow: hidden;

    // nav {
    //     @media #{$small-only} {
    //         top: 45px;
    //     }
    //     @media #{$medium-only} {
    //         top: 45px;
    //     }
    // }
    .banner {
        a.edit-point {
            margin: 35px 15px !important;
        }
    }
}

.header-register {
        @include grid-column(12);
        background: #151b2a;
        padding: 0;
        top: 0;
        height: 70px;
        text-align: center;
        display: block !important;
        z-index: 2;
        position: fixed;
        //border-bottom: 1px solid rgba(65,99,153, 0.5);

        .wrapper {

           @media #{$large-up} {
                position: relative;
                width: 33.5rem;
                margin: 0 auto;
                height: 70px;
            }

            @media #{$medium-only} {
                position: relative;
                width: 33.5rem;
                margin: 0 auto;
            }

            h1 {
                display: inline-block;
                color: #fff;
                line-height: 2.8;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: normal;
                padding-top: 10px;

                @media #{$large-up} {
                    font-size: 20px;
                    padding-top: 7px;
                }
            }
            .register-logo {
                background: url("/_images/common/header/header-logo.png") no-repeat center center;
                background-size: 100%;
                position: absolute;
                left: 10px;
                top: 3px;
                width: 80px;
                height: 58px;
                cursor: pointer;

                @media #{$large-up} {
                    top: 5px;
                    width: 100px;
                    height: 60px;
                }
            }

            .register-login-cta {
                display: inline-block;
                position: absolute;
                background: #4CAEF8;
                box-shadow: inset 0 -1px 0 0 #1978c0;
                color: #011A39;
                width: 90px;
                height: 30px;
                top: 20px;
                right: 10px;
                border-radius: 1px;
                font-family: museo_sans900,Helvetica,Arial,Verdana,sans-serif;
                font-size: 15px;
                text-transform: uppercase;
                padding-top: 3px;

                &:hover {
                    background: #e1e1e1;
                }
            }
        }
    }

.registration-3step .content .banner {
    @media #{$medium-only} {
        padding-top: 0 !important;
    }
}

.registration-3step .content .banner img {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: -5px !important;

        @media #{$small-only} {
              margin-top: 25px !important;
        }

        @media #{$medium-only} {
            margin-top: 35px !important;
        }
}

#join-now {

    .banner {
        a.edit-point {
            @media #{$small-only} {
                margin: 0 !important;
            }

            
            
        }
    }

    nav {
        @media #{$small-only} {
            top: 0;
        }
        @media #{$medium-only} {
            top: 0;
        }
    }

    .registration-3step .content .banner img {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-top: -5px !important;
    }
}
