.registration {
    font-size: 1rem;
    @include grid-column(12, $collapse: true);
    padding-top: 1em;
    background-color: $luckyvip--midnight;
    p {
        //padding-left: rem-calc(15);
    }
    label {
        color: $white;
    }
    input[type="checkbox"] {
        margin: 0 0.5em 1rem 0;
    }
    .registration__promo-code {
        text-decoration: underline;
    }
    .registration__password {
        margin-bottom: 1em;
    }
    .registration__switch {
        @media #{$small-only} {
            @include switch($height: $switch-height-med);
            display: block;
            clear: both;
            > label {
                float: left;
                margin-right: 0.5em;
            }
            .registration__switch__text {
                float: left;
            }
        }
        @media #{$medium-only} {
            @include switch($height: $switch-height-med);
            display: block;
            clear: both;
            > label {
                float: left;
                margin-right: 0.5em;
            }
            .registration__switch__text {
                float: left;
            }
        }
        .registration__switch__switcher {
            @media #{$large-up} {
                display: none;
            }
        }
    }
    .registercta {
        border-radius: 1px;
        text-align: center;
        text-transform: uppercase;
        font-family: $ui-font-bold;
        font-weight: 900;
        font-size: $theme--ui----desktop--fontsize;
        color: $luckyvip--darknavy;
        background: $luckyvip--supernova;
        box-shadow: inset -1px -1px 0px 0px $luckyvip--supernova;
        &:hover {
            background: $luckyvip--mercury;
        }
        &:active {}
    }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-color: $white;
    font-family: inherit;
    border: 1px solid $gray;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.9);
    display: block;
    font-size: 1rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    height: 2.5rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

.mailing__opt {
    color: $white;
    line-height: 1em;
}

.registration__account-details,
.registration__personal-details,
.registration__contact-details {
    @media #{$small-only} {
        @include grid-column(12);
    }
    @media #{$medium-up} {
        @include grid-column(4);
        float: left;
    }
}

.registration__dob {
    @include grid-column(4, $collapse: true);
}

.dob_dm {
    padding-right: 0.3em;
}

#ui-registration-terms-toggle {
    text-decoration: underline;
    cursor: pointer;
    margin-left: $site-margin;
    margin-bottom: $site-margin;
    margin-top: $site-margin;
}


.over18 {
    a {
        color: $luckyvip--picton-blue;
        &:hover {
            color: $white;
            text-decoration: underline;
        }
    }
}

input#ui-phone {
    padding-left: 100px !important;
}

//Code to Turn Off Number Input Spinners

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0;
}


.registration {

    @mixin placeholder {
        &::-webkit-input-placeholder {
            @content
        }
        &:-moz-placeholder {
            @content
        }
        &::-moz-placeholder {
            @content
        }
        &:-ms-input-placeholder {
            @content
        }
    }

    @media #{$large-up} {
        .main-content {
            &.registration {
                padding-top: 0;
            }
        }
    }

    .header--register3step {
        .nav-for-mobile {
            display: none !important;
        }
        .footer {
            display: none;
        }
    }

    fieldset {
        // position: absolute;
        border: none;
        padding: 0;
        margin: 0;
    }

    .registration-3step {
        @include grid-column(12);
        padding: 0;
        z-index: 999999;
        top: 0;
        height: 100%;
        background: $registration-3step-bg--base;
        overflow: hidden;

         h1 {
            display: none;
        }
        .steps-title {
            color: $white;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 17px;
            font-weight: bold;
            line-height: 25px;
            margin-top: 40px;
            margin-bottom: 25px;
        }
        .content {
            @include grid-column(12);
            padding: 0;
            background: $bg-color;
            position: relative;
            height: 100%;
            overflow: hidden;
            padding-bottom: $site-margin * 3;
            .banner {
                @include grid-column(12);
                float: none;
                background: transparent !important;
                text-align: center;
                padding: 0;
                margin-top: 100px;
                @media #{$medium-only} {
                    padding-top: 0;
                }
                @media #{$medium-only} {
                    margin-top: 75px;
                }
                @media #{$small-only} {
                    margin-top: 60px;
                }

                .edit-point {
                    z-index: 999;
                }

                img {
                    max-width: 500px;
                    margin-top: 35px;
                    margin-bottom: 0 !important;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                .offer--headline {
                    h2 {
                        margin: 0;
                        line-height: 100%;
                        font-size: rem-calc(20);
                        text-transform: uppercase;
                        @media #{$small-only} {
                            padding-top: 53px;
                        }
                    }
                }
                .offer--terms {
                    p {
                        margin-bottom: 0;
                    }
                }
            }
            .sticky {
                @include transition(all,
                0.2s ease-out);
                &.fixed {
                    position: fixed;
                    top: 48px;
                }
            }

            //Navigation 
            nav {
                @include grid-column(12);
                padding: 0;
                background: transparent !important;
                position: relative !important;
                margin-top: 30px;
                margin-bottom: 15px;
                padding-top: 8px;
                z-index: 1;

                 @media #{$large-up} {
                    position: relative;
                }

                .naviaton-inner {
                    max-width: 350px;
                    margin-left: auto;
                    margin-right: auto;
                }
                a { //Steps icons - Personal/Contact/Account
                    @include grid-column(4);
                    font-family: Helvetica;
                    color: $silver-chalice;
                    font-size: 14px;
                    height: 50px;
                    line-height: rem-calc(35);
                    padding: 0;
                    text-align: center;
                    display: inline;
                    position: relative;
                    background-color: transparent !important;
                    padding-top: 20px;

                    span {
                        color: $silver-chalice;
                    }

                    .dotted_line{
                        border-top: dotted 4px $silver-chalice;
                        position:absolute;
                        width: 40%;
                        top: 20px;
                        right: -25px;

                        @media #{$small-only} {
                            right: -22px;
                        }
                    }
                
                    &:nth-child(1) {
                        background-image: url("../_images/join-now/personal.svg");
                        background-size: 38px;
                        background-repeat: no-repeat;
                        background-position: center top;
                        padding-top: 40px;
                        padding-right: 0;

                        &.active {
                            background-color: $bg-color;
                            background-image: url("../_images/join-now/active-personal-white.svg");
                            background-size: 38px;
                            background-repeat: no-repeat;
                            background-position: center top;

                            span {
                                color: $white;
                                font-weight: bold;
                            }
                        }
                      
                    }
                    &:nth-child(2) {
                        background-image: url("../_images/join-now/contact.svg");
                        background-size: 38px;
                        background-repeat: no-repeat;
                        background-position: center top;
                        padding-top: 40px;
                        padding-right: 0;

                         &.active {
                            background-color: $bg-color;
                            background-image: url("../_images/join-now/active-contact-white.svg");
                            background-size: 38px;
                            background-repeat: no-repeat;
                            background-position: center top;

                            span {
                                color: $white;
                                font-weight: bold;
                            }
                        }
                    }
                    &:nth-child(3) {
                        background-image: url("../_images/join-now/account.svg");
                        background-size: 38px;
                        background-repeat: no-repeat;
                        background-position: center top;
                        padding-top: 40px;
                        padding-right: 0;

                         &.active {
                            background-color: $bg-color;
                            background-image: url("../_images/join-now/active-account-white.svg");
                            background-size: 38px;
                            background-repeat: no-repeat;
                            background-position: center top;

                            span {
                                color: $white;
                                font-weight: bold;
                            }
                        }
                    }

                   &.passed {
                        background-color: $bg-color;
                        background-image: url("../_images/join-now/passed.svg");
                        background-size: 38px;
                        background-repeat: no-repeat;
                        background-position: center top;

                        span {
                            color: $lima;
                            font-weight: bold;
                        }

                        .dotted_line{
                            border-top: dotted 4px $lima;
                            position:absolute;
                            width: 40%;
                            top: 20px;
                            right: -25px;

                            @media #{$small-only} {
                                right: -22px;
                            }
                        }
                    }
                    &.current {
                        background-repeat: no-repeat;
                        background-position: center top;

                        span {
                            color: $silver-chalice;
                        }
                    }
                }
            } // END Steps icons - Personal/Contact/Account
            .form {
                @include grid-column(12);
                padding: 0;
            }
        }
        .registration-3step-form {
            @include grid-column(12);
            float: none;
            padding: $site-margin;
            padding-top: 0.275rem;
            font-family: $registration-3step-font-regular;
            margin: 0 auto;
            max-width: 350px;
            .registration-3step__mandatory-fields {
                margin-top: $site-margin;
                margin-bottom: 0;
                font-size: 11px;
                font-weight: 600;
                text-align: right;
                top: 1em;
                position: relative;
            }
            span.error,
            small.error {
                display: block;
                width: 100%;
                font-size: rem-calc(13px);
                font-style: normal;
                font-weight: 600;
                color: $registration-3step-input--error;
                position: relative;
                clear: right;
                float: left;
                margin: 0;
                margin-top: 10px;
                margin-bottom: 0px;
                padding: 4px;
                height: auto;
                border-radius: 2px;
                line-height: 12px;
                min-height: initial !important;
                background: transparent;
            }
            input,
            select {
                border: 1px solid $registration-3step-input--border;
                box-shadow: none;
                min-height: 48px;
                margin: 0 0 0.475rem 0;
                padding: 0 10px;
                font-size: 14px;
                background: $registration-3step-bg--base;
                color: $registration-3step-input--content;
                border-radius: 6px;
                &.phone {
                    @include grid-column(12);
                }
            }
            select {
                background: $registration-3step-bg--base url("../_global-library/images/registration-3step/arrow-down.svg") no-repeat center right 10px;
                color: $registration-3step-select-text;
                font-size: 15px;
            }
            label {
                color: $registration-3step-input--label;
                font-family: Helvetica, Arial, sans-serif;
                margin-bottom: 2px;
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 25px;
                float: left;
                background-color: transparent;
                input {
                    min-height: auto;
                }
            }
        }
        .field-wrap {
            @include grid-column(12,
            $collapse: true);
            position: relative;
            background: transparent;
            height: auto;
            margin-bottom: 25px;
            .field-wrap__label {
                @include grid-column(12);
                padding-left: 0rem;
                padding-right: 0;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 17px;
                color: $registration-3step-input--label;
                line-height: 25px;
                letter-spacing: 0.3px;
            }
            .field-wrap__requirements {
                font-size: 12px;
                color: $registration-3step-requirements;
                margin: 0px;
                padding: 0px;
            }
            .field-wrap__field {
                @include grid-column(12);
                height: 44px;
                padding-left: 0.4375rem;
                padding-right: 0.4375rem;
                margin: 0;
                border-radius: 2px;
            }
            #icon {
                display: none;
            }
            .telephone-icon {
                margin-top: -30px;
            }
            .border-green-icon {
                display: block!important;
                background-color: transparent;
                color: $registration-3step-tick-border;
                height: 57px;
                position: absolute;
                width: 21px;
                z-index: 1;
                right: -10px;
            }
            .border-red-icon {
                display: block !important;
                background-size: 21px 21px;
                color: $registration-3step-tick-border;
                height: 57px;
                position: absolute;
                width: 21px;
                z-index: 1;
                right: -10px;
            }
            .border-green {
                border: 3px solid $registration-3step-input--success;
            }
            .border-red {
                border: 3px solid $registration-3step-input--error;
            }
            .intl-tel-input {
                @include grid-column(12);
                padding: 0;
                .selected-flag {
                    margin-top: -18px;
                }
            }
        }
        .date {
            height: 44px;
            margin: 0;
            padding: 0;
            input {
                @include grid-column(3);
                width: 33.33%;
                margin: 0px;
                padding: 0;
                text-align: center;
                border-radius: 0px;
                &#dayOfBirth {
                    border-radius: 0px;
                    border-right: 1px solid $registration-3step-date-border;
                    border-radius: 2px 0px 0px 2px;
                    @include placeholder {
                        color: $dove-gray !important;
                        font-family: $registration-3step-font-regular;
                    }
                }
                &#monthOfBirth {
                    border-radius: 0px;
                    @include placeholder {
                        color: $dove-gray !important;
                        font-family: $registration-3step-font-regular;
                    }
                }
                &#yearOfBirth {
                    border-radius: 0px;
                    border-left: 1px solid $registration-3step-date-border;
                    border-radius: 0px 2px 2px 0px;
                    @include placeholder {
                        color: $dove-gray !important;
                        font-family: $registration-3step-font-regular;
                    }
                }
            }
            span {
                float: left;
                position: relative;
                min-height: 44px;
                line-height: 2.8;
            }
        }
        .post-code {
            @include grid-column(6);
            padding: 0;
        }
        .findaddress {
            padding-top: 5px;
            display: block;
            position: absolute;
            right: 6px;
            background: $kashmir-blue;
            border: none;
            font-family: $registration-3step-font-light;
            font-size: 14px;
            line-height: 26px;
            border-radius: 4px;
            margin-top: 32px;
            font-weight: bold;
            width: 135px;
            height: 35px;
            text-transform: uppercase;
            z-index: 1;

            @media #{$small-only} {
                width: 115px;
            } 
            &.active {
                z-index: 1;
            }
        }
        .enter-address-manually {
            width: 170px;
            font-family: Helvetica, Arial, sans-serif;
            text-decoration: underline;
            cursor: pointer;
            color: $white;
        }
        ul.registration__title {
            @include grid-column(12);
            padding: 0;
            margin-bottom: 0.375rem;
            margin-left: 0;
            li {
                display: inline;
                float: left;
                width: 44px;
                margin-right: 2.5%;
                background: $registration-3step-bg--main;
                border-radius: 50%;
                border: 2px solid $registration-3step-button--bg;
                &.ticked {
                    background: $registration-3step-button--bg;
                    outline:none;
                    button {
                        color: $registration-3step-button-color--selected;
                        border-radius: 50%;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
                button {
                    padding: 0;
                    background: none !important;
                    text-align: center;
                    width: 100%;
                    line-height: 2.7;
                    font-size: 15px;
                    font-weight: bold;
                    margin: 0;
                    color: $registration-3step-button-color;
                    font-family: $registration-3step-font-light;
                    &:focus {
                        outline:none;
                    }
                }
            }
        }
        .registration__password {
            position: relative;
            .show-password {
                position: absolute;
                text-transform: uppercase;
                top: 56px;
                right: 0;
                font-size: 9px;
                font-weight: 600;
                padding: 2px;
                padding-bottom: 0;
                padding-top: 0;
                border-radius: 8px;
                color: transparent;
                min-width: 32px;
                text-align: center;
                &.eye-shut {
                    z-index: 1;
                    background: url("../_global-library/images/registration-3step/password-hide.svg") no-repeat center;
                    width:65px;
                    height:24px;
                }
                &.eye-open {
                    z-index: 1;
                    background: url("../_global-library/images/registration-3step/password-visible.svg") no-repeat center;
                    width:65px;
                    height:24px;
                }

                .right {
                    display: none;
                }
            }
        }

    ul.mailing-opt {

        @include grid-column(12);
        margin: 0;
        padding: 0;
        list-style-type: none;

         .preferences-title {
            color: $white;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 17px;
            font-weight: bold;
            line-height: 25px;
            margin-top: 20px;
        }
        p {
            color: $registration-3step-input--label;
            font-size: 13px;
            margin-bottom: $site-margin / 2;
            line-height: 15px;
            float: left;
        }
        label {
            width: 100%;
            min-height: 35px;
            margin-bottom: $site-margin / 3;
            color: $white;
            line-height: 1.5em;
            height: 44px;
            padding: 10px 12px 0 50px;
            background: $registration-3step-bg--base url("../_global-library/images/join-now/checkbox-off.svg") no-repeat center left 10px;
            background-color: $bg-color;
            background-size: 30px 30px !important;
            border-radius: 6px;
            margin-bottom: 10px;
            display: inline;
            height: 44px;
            float: left;
            margin-right: 5px;
            font-size: rem-calc(15);
            &.ticked {
                background: $registration-3step-bg--base url("../_global-library/images/join-now/checkbox-on.svg") no-repeat center left 10px;
                background-color: $bg-color;
            }
            input {
                padding: 0;
                margin: 0;
                display: none;
            }
        }
        .terms-over18 {
            width: 100%;
            font-size: 13px;
        }
    }

    //Communication channel edit point
    .communication-channel {
        .text-partial {
            background-color: transparent;
            border: none;
            padding-left: 0 !important;
            padding: 0;

           h1 {
            display: none;
           }

           p {
            color: $white;
            font-size: 15px !important;
            line-height: 24px;
            margin-bottom: -15px;
            font-family: Helvetica, Arial, sans-serif;
                a {
                    color: $white;
                    text-decoration: underline;
                    font-size: 15px !important;
                    font-weight: bold;
                }
           }

        }

        .preference-support-text {
            line-height: 18px;
        }
    }

        //Trusted Partners
    ul.trusted-partners {
        padding-top: 20px;
             .text-partial {
            background-color: transparent;
            border: none;
            padding-left: 0 !important;
            padding-bottom: 0;
            padding-right: 0;

            h1 {
                display: block;
                font-size: 18px;
                margin-bottom: 10px;
            }

           p {
            font-size: 15px !important;
                a {
                    text-decoration: underline;
                    font-size: 15px !important;
                }
           }

        }

        .trusted-partners--check {
            padding-left: 20px;
        }
    }

// Demo-only styles
// --------------

html {
  background: lightgray;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
    margin: 20px 0 0 0;

    &:first-child {
        margin-top: 0;
    }
}

.centered {
  width: 300px;
  margin: auto;
}

.title {
  text-align: center;
  color: rgb(69, 113, 236);
}

        .register-3step-cta,
        .registerNextCta {
            @include grid-column(12);
            padding: 0;
            font-family: Helvetica, Arial, sans-serif;
            background: $kashmir-blue;
            color: $white;
            font-size: 18px;
            line-height: 3.4;
            min-height: 44px;
            text-transform: uppercase;
            margin-top: 1rem;
            border-radius: 4px;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            margin-top: 30px;

            &:hover {
                text-decoration: none;
            }

            &:active {
                color: $violet;
            }

            &.create-account-cta {
                background-color: $kashmir-blue;
                color: $white;
                font-weight: bold;
                margin-top: 30px;
                margin-bottom: 0;

                &:active {
                    color: $violet;
                }
                &:focus {
                    color: $violet;
                }
            }
        }
        // Error message: Please resolve the above errors before continuing.
        .step-contains-error {
            width: 100%;
            float: left;
            text-align:center; 
            margin-top: 10px;
            font-family: "Avenir LT Std", Helvetica, Arial, Verdana, sans-serif; 
            font-size: 13px;
            font-weight: 600;
            color: #FB5368;

            @media #{$small-only} {
                font-size: 12px;
            }
        }
        .register-3step-tc {
            font-size: 13px;
            padding: 0;
            text-decoration: underline;
            font-family: $registration-3step-font-regular;
            color: $white;
            letter-spacing: -0.41px;
            font-weight: normal;
        }
        .terms-section {
            @include grid-column(12);
            .terms-toggle {
                cursor: pointer;
                text-decoration: underline;
                color: $registration-3step-terms;
                font-size: 11px;
                text-align: center;
                font-weight: 600;
                margin-bottom: $site-margin * 3;
            }
        }
    }

     // Terms and conditions
     .resitration-terms-section {
        div:first-child {
            text-align: center;
            margin: 1% 0 1% 0;
            font-size: rem-calc(12px);
        }
    }

    .radio-selection {
        label {
          margin-right: 15px;
          line-height: 32px;

           @media #{$small-only} {
            font-size: 15px !important;
            margin-right: 5px;
          }
        }

        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent !important;
            border-radius: 100% !important;
            border: 2px solid $white !important;
            display: inline-block;
            min-width: 25px !important;
            min-height: 25px !important;
            transition: 0.2s all linear;
            outline: none;
            margin-right: 5px;
            position: relative;
            top: 14px;

          &:checked {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: $white !important;
                border-radius: 100% !important;
                border: 2px solid $white !important;
                display: inline-block;
                min-width: 25px !important;
                min-height: 25px !important;
                transition: 0.2s all linear;
                outline: none;
                //margin-right: 5px;
                position: relative;
                top: 14px;
            }
        }
    }

     .field-support-text {
        font-family: Helvetica, Arial, sans-serif;
        margin-top: 40px;
        margin-bottom: 10px !important;
        color: $white;
        font-size: 14px;
    }

    .join-now-terms-section {
        @include grid-column(12);
        margin-top: 40px;
        .terms__section-tabs {
            max-width: 350px;
            margin: 0 auto;
            text-align: center;
            float: none;
            cursor: pointer;

            .terms__tabs-tcs {
                width: 50%;
                float: left;
                background-color: transparent;
                border-bottom: 1px solid $amethyst-smoke;

                &:focus {
                    border-bottom: 2px solid $white;
                }

                &:active {
                    border-bottom: 2px solid $white;
                }

                @media #{$small-only} {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            .terms__tabs-policy {
                width: 50%;
                float: left;
                background-color: transparent;
                border-bottom: 1px solid $amethyst-smoke;

                &:focus {
                    border-bottom: 2px solid $white;
                }

                &:active {
                    border-bottom: 2px solid $white;
                }

                @media #{$small-only} {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        .terms-content {
            width: 62.5rem;
            margin: 0 auto;

            //Edit Point position
            .edit-point {
                @media #{$medium-only} {
                    margin-top: 20px;
                    margin-left: 15px;
                }

                @media #{$small-only} {
                    margin-top: 20px;
                }
            }

            @media #{$medium-only} {
                width: 100%;
            }

            @media #{$small-only} {
                width: 100%;
            }


            .text-partial {
                width: 62.5rem;
                margin: 0 auto;
                background: transparent;
                color: $white;
                border: none;

                h1 {
                    display: none;
                }

                @media #{$medium-only} {
                    width: 100%;
                }

                @media #{$small-only} {
                    width: 100%;
                }
            }
        }

    }

    .tabs dd > a {
        background-color: transparent;
        color: $white;
        font-family: Helvetica, Arial, sans-serif;

        @media #{$small-only} {
            padding: 1rem 1rem;
        }

        &:hover {
            text-decoration: none;
        }
    }

    .tabs dd.active > a {
        background-color: transparent;
        color: $white;
        border-bottom: 2px solid $white;
        font-weight: bold;
    }

    .back-to-top {
        width: 100%;
        margin: 0 auto;
        float: left;

        #myBtn {
            background: $kashmir-blue;
            width: 150px;
            margin: 0 auto;
            margin-top: 60px;
            margin-bottom: 20px;
            border-radius: 4px;
            font-size: 13px;
            text-transform: uppercase;
            color: $white;
            outline: none;
        }
    }
}

.terms {

    ol {
        font-family: Helvetica, Arial, sans-serif !important;
        margin-left: 1.125rem;
        font-size: 14px;
    }

    ul {
        font-family: Helvetica, Arial, sans-serif !important;
        margin-left: 1.5rem;
        font-size: 14px;
    }

    p {
        font-family: Helvetica, Arial, sans-serif !important;
        padding-left: 0;
        font-size: 14px;
    }
}

//Custom radio select button 
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body { 
  font-family: 'Open Sans', sans-serif;
}

.title-field_wrap {
    margin-top: 20px;

    .field-wrap__label {
        color: $white;
        font-size: 17px;
    }
}

.stv-radio-tabs-wrapper {
  clear: both;
  display: inline-block;
  width: 100%;
  position: relative;
  background: $white;
  height: 46px;
}

input.stv-radio-tab {
  position: absolute;
  left: -99999em;
  top: -99999em;

    & + label {
        cursor: pointer;
        float: left;
        border: 1px solid $silver-chalice;
        border-bottom: 1px solid $silver-chalice;
        background-color: $white;
        margin-left: 0;
        margin-right: -1px;
        padding: 10px 26px;
        position: relative;
        color: $black !important;
        
     &:hover {
       background-color: $concrete;
     }
    }

    &:checked + label {
        box-shadow: 0 1px 0 -1px $white, inset 0 56px 0 -1px $kashmir-blue;
        background-color: $white;
        z-index: 1;
        color: $white !important;
    }
}

.modal-content {
    table  {
        p {
            strong {
                color: $white;
            }
        }
    }
}

.intl-tel-input.separate-dial-code .selected-dial-code {
    display: table-cell;
    vertical-align: middle;
    padding-left: 25px;
    font-size: 15px;

}

.selected-flag {
    background-color: transparent !important;
    outline: 0;
}

.join-now-terms-section {
    .text-partial  {
        p, ul, ol , a, {
            font-family: Helvetica, Arial, sans-serif !important;
            font-size: 14px !important;
        }

        li {
           font-family: Helvetica, Arial, sans-serif !important; 
        }
    }
}

#join-now {

    //Mixins
    @mixin placeholder {
        &::-webkit-input-placeholder {
            @content
        }
        &:-moz-placeholder {
            @content
        }
        &::-moz-placeholder {
            @content
        }
        &:-ms-input-placeholder {
            @content
        }
    }
    
    //Options edit point
    .editor-buttons .options-menu {
        margin-top: 100px;
    }

    
    //Country dial styling override
    .iti-mobile {
        .intl-tel-input {
            z-index: 0;
            &.iti-container {
                z-index: 999;
            }
        }
    }

    .intl-tel-input.separate-dial-code .selected-flag {
        background-color: $white;
    }

    .intl-tel-input.separate-dial-code.allow-dropdown .selected-flag {
        padding: 9px !important;
        min-height: 42px;
    }

    .intl-tel-input.separate-dial-code.allow-dropdown .phone {
        padding-left: 95px !important;
    }

    .intl-tel-input .country-list {
        top: 1px !important;
        margin: 0 0 0 0px !important;
    }

    .intl-tel-input .flag-container {
        padding: 3px !important;
    }

    input {
        /* WebKit browsers */
        &:focus::-webkit-input-placeholder { color:transparent; }

        /* Mozilla Firefox 4 to 18 */
        &:focus:-moz-placeholder { color:transparent; }

        /* Mozilla Firefox 19+ */
        &:focus::-moz-placeholder { color:transparent; }

        /* Internet Explorer 10+ */
        &:focus:-ms-input-placeholder { color:transparent; }
    }

    .step-previous {
        @include grid-column(12);
        padding: 0;
        font-family: $registration-3step-font-light;
        color: $white;
        font-size: 18px;
        font-weight: bold;
        line-height: 3.2;
        min-height: 44px;
        text-transform: uppercase;
        margin-top: 1rem;
        border: 1px solid $kashmir-blue;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;

        a {
            font-size: 18px;
            font-weight: bold;
            border-radius: 4px;
            color: $white;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    .footer-bar {
        position: absolute !important;
        bottom: 0;
        width: 100%;
        height: 100px;
        padding-top: 14px;
        background: $white;
        line-height: 2;
        text-align: center;
        color: $green-vogue;
        font-size: 30px;
        font-family: sans-serif;
        font-weight: bold;
        box-shadow: 0 0 5px $concrete;

        a {
            background-color: $kashmir-blue;
            color: $white;
            font-size: 15px;
            padding: 20px;
            border-radius: 4px;

            @media #{$small-only} {
                font-size: 12px;
            }
        }

        @media #{$large-up} {
            width: 98.4%;
        }
    }

    .modal-content {
        background: $white;
        padding: 20px;
        color: $prussian-blue;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.8;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }

    .reveal-modal {
        border: none;
        box-shadow: none;
        padding: 0;

        .text-partial {
                border: none;
                background-color: $white;
                padding-bottom: 70px;

                h1 {
                    border-bottom: none;
                    color: $deep-cove;
                    font-size: 20px;

                    @media #{$small-only} {
                        margin-top: -14px !important;
                    }
                }

                li {
                    font-size: 13px !important;
                    font-weight: normal;
                }

                p {
                    color: $black !important;
                    font-size: 13px !important;
                }

                a {
                    font-size: 13px !important;
                }
        }
        .close-reveal-modal {
            color: $black;
            font-weight: normal;

            &:hover {
                text-decoration: none;
            }
        }
    }

    //
    .communication-channel,
    .trusted-partners {
        p {
            font-family: Helvetica, Arial, sans-serif;
            color: $white !important;
            font-size: 14px;
        }

        .text-partial-content {
            p {
                font-family: Helvetica, Arial, sans-serif !important;
            }
        }
    }
    
    //PP table styling - overwritten 
    table {
        border-radius: 0px !important;
        border: 1px solid $luckyvip--midnight !important;
        border-spacing: 2px;
        
        thead {
            tr {
                td {
                    background: $luckyvip--picton-blue;
                    a {
                        color: $white;
                        &:hover {
                            color: $white;
                        }
                    }
                }
                th {
                    p {}
                }
            }
        }
        tr {
            &:first-child {
                td {
                    color: $white;
                }
            }
            td {
                color: $black;
            }
        }
    }

} //END join-now specific styling 

