$hub__grid__gutter: 0.3em;

.hub {
    .winners-summary {
        // padding: 7px;
    }
}

.hub__grid {
    width: 100%;
    background: $black;
    position: relative;
    // padding: 2px 0px 2px 0px;
}

.hub-grid {
    width: 100%;
    background-color: grey;
    img {
        width: 100%;
        height: auto;
    }
    .hub-grid__col {
        @media #{$small-only} {
            @include grid-column(6);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(2);
            padding: 0px;
        }
        @media #{$large-up} {
            @include grid-column(2);
            padding: 0px;
        }
    }
    .hub-grid__col-2x {
  
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(4);
            padding: 0px;
        }
        @media #{$large-up} {
            @include grid-column(4);
            padding: 0px;
        }
    }



    .hub-grid__4columns {
  
        @media #{$small-only} {
            @include grid-column(6);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(3);
            padding: 0px;
        }
        @media #{$large-up} {
            @include grid-column(3);
            padding: 0px;
        }
    }





    .hub-grid__child {
        
        // padding-left: 7px;
        // padding-right: 7px;
        // padding-top: 7px;
        // padding-bottom: 7px;
        position: relative;
        
        @include grid-column(12);
        padding:0;
    }
    .hub-grid__child-1x2 {
        @include grid-column(6);
        // padding-left: 7px;
        // padding-right: 7px;
        // padding-top: 7px;
        // padding-bottom: 7px;
        position: relative;
        padding:0;


    }
    .hub-grid__col-2x__row {
        @include grid-column(12);
        padding: 0px;
    }
}

// revamp
#home .hub-outer-wrapper {
    &:last-of-type {
        margin-bottom: 1rem;
    }
}

// customized hub grid on homepage
.category-widget-wrapper {
    position: relative;
    float: left;
}


.hub-outer-wrapper {
    float: left;
    margin-top: 1rem;

    .hub-title {
        height: 25px;
        margin: 0 0 0.2rem 0;
        padding: 3px;
        color: $white;
        text-transform: none;
        font-size: $rw-header-size;
        font-weight: bold;
    }

    .hub {
        .hub-grid {
            @media #{$medium-up} {
                margin-top: 1rem;
                padding-right: 5px;
                margin-left: 5px;
            }
            @media #{$large-up} {
                padding-right: 0;
                margin-left: 0;
            }

            .hub-grid__col {
                padding-right: 5px;

                @media #{$medium-up} {
                    width: 20%;
                }
                @media #{$large-up} {
                    width: 20%;
                }
            }

            .game-icon {
                background: $regalwins--gray-darkest;
                padding-bottom: 5px;
            }
            .game-icon__bottom {
                background: linear-gradient(228.74deg, #191919 0%, #2E2D2E 100%);
            }
            .game-icon__title {
                text-transform: none;
                line-height: 20px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .game-icon__favourite__icon {
                height: 30px;
                width: 30px;
                background-size: 20px 20px;
                background-position: right 10px;
            }
        }
    }
}


// Promotions in the hub
.hub {
    .promotion {
        margin: 0px;
        .promotion__wrapper {
            position: relative;
        }
        .promotion__image {
            @include grid-column(12, $collapse: true);
        }

        .promotion__title__wrapper {
            position: absolute;
            height: 15%;
            background-color: $white;
            width: 100%;
            top: 85%;
            color: $black;
            overflow: hidden;
            padding: 0px;
        }
        .promotion__title {
            width: 100%;
            height: 100%;
            color: $white;
            font-size: 0.7em;
            display: table;
            float: none;
            vertical-align: middle;
            white-space: nowrap;
            overflow: hidden;
            // padding-left: 0.2em;
            text-align: center;

            &:hover{
                text-decoration: underline;
            }
            >a{
                display: table-cell;
                vertical-align: middle;
            }
            // &:after {
            //     content: 'see more';
            //     padding-left: 1em;
            //     color: $grey;
            //     font-size: 0.6em;
            // }
        }
        .promotion__content {
            display: none;
        }
    }
}