$hub__grid__gutter: 0.3em;
.hub {
    .winners-summary {
        padding: 7px;
    }
}

.hub__grid {
    width: 100%;
    background: $black;
    position: relative;
    padding: 2px 0px 2px 0px;
}

.hub-grid {
    width: 100%;
    background-color: grey;
    img {
        width: 100%;
        height: auto;
    }
    .hub-grid__col {
        @media #{$small-only} {
            @include grid-column(6);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(2);
            padding: 0px;
        }
        @media #{$large-up} {
            @include grid-column(2);
            padding: 0px;
        }
    }
    .hub-grid__col-2x {
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(4);
            padding: 0px;
        }
        @media #{$large-up} {
            @include grid-column(4);
            padding: 0px;
        }
    }
    .hub-grid__child {
        @include grid-column(12);
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
        position: relative;
    }
    .hub-grid__child-1x2 {
        @include grid-column(6);
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
        position: relative;
    }
    .hub-grid__col-2x__row {
        @include grid-column(12);
        padding: 0px;
    }
}

// Promotions in the hub
.hub {
    .promotion {
        margin: 0px;
        .promotion__wrapper {
            position: relative;
        }
        .promotion__image {
            @include grid-column(12, $collapse: true);
        }
        .promotion__title__wrapper {
            position: absolute;
            height: 15%;
            background-color: $white;
            width: 100%;
            top: 85%;
            color: $black;
            overflow: hidden;
            padding: 0px;
        }
        .promotion__title {
            width: 100%;
            height: 100%;
            color: $white;
            font-size: 0.7em;
            display: table;
            float: none;
            vertical-align: middle;
            white-space: nowrap;
            overflow: hidden;
            padding-left: 0.2em;
            text-align: center;
            &:hover {
                text-decoration: underline;
            }
            >a {
                display: table-cell;
                vertical-align: middle;
            }
        }
        .promotion__content {
            display: none;
        }
    }
}
