.favourites {
    @include grid-column(12);

    padding: $site-margin;

    @media #{$small-only} {
        padding: $site-margin / 2;
    }

    .favourites__placeholder {
        @include grid-column(2);

        padding: $site-margin / 2;

        @media #{$medium-only} {
            @include grid-column(3);

            padding: $site-margin / 2;
        }

        @media #{$small-only} {
            @include grid-column(6);

            padding: $site-margin / 2;
        }
    }
}