// games content part 1
.games-content {
    h1 {
        @include grid-column(12);
        color: $main-highlight-color;
        padding-left: 0px;
    }
    .section-full-width__title h4 {
        padding: 0 !important;
        margin: 0 !important;
        color: $nav-main-color !important;
        font-size: 15px !important;
        text-align: left !important;
        text-transform: uppercase;
        span {
            padding: 0;
        }
    }
    .section__header {
        @extend %content-holder--section--header;
        @extend %title--background--styling;
        .section__title {
            @extend %content-holder--section--title;
            @media #{$small-only} {}
            a {
                color: $theme--ui--white;
                @media #{$small-only} {
                    @include section--section-title--mobile;
                }
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}

.separator {
    @include grid-column(12);
    height: 30px;
}

.games-content__title {
    .games-content__title__title1 {
        @include grid-column(8);
        h1 {
            @include grid-column(2);
            font-family: $title-section !important;
            font-size: 2em;
            color: $theme--ui--white !important;
        }
    }
}

.games-content__banner {
    width: 100%;
    margin-bottom: $site-margin;
    margin-top: -18px;
    @media #{$medium-only} {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    @media #{$small-only} {
        margin-bottom: 0px;
        margin-top: 0px;
        background-color: #8F86D9;
    }
}

.banner_img {
    margin: 0px auto;
    display: block;
    border-radius: 5px;
}

// content games part1
.games-content__part1 {
    @include grid-row;
    height: auto;
    margin-bottom: 30px;
    @media #{$medium-only} {
        margin-bottom: 10px;
    }
    @media #{$small-only} {
        margin-bottom: 7px;
    }
    .games-content__part1__left {
        @include grid-column(4);
        @media #{$small-only} {
            @include grid-column(12);
        }
    }
    .games-content__part1__center {
        @include grid-column(4);
        @media #{$small-only} {
            display: none;
        }
    }
    .games-content__part1__right {
        @include grid-column(4);
        @media #{$small-only} {
            display: none;
        }
    }
}

// games content part 2
.games-content__part2 {
    @include grid-row;
    height: auto;
    margin-bottom: 20px;
    .games-content__part2__left {
        @include grid-column(4);
    }
    .games-content__part2__center {
        @include grid-column(4);
    }
    .games-content__part2__right {
        @include grid-column(4);
    }
}

// content hub bottom
.main-content-hub__bottom {
    @include grid-column(12);
    height: auto;
}