// =============================================================================
// Game Details - SEO Page
// =============================================================================
.reveal-modal {
    // overflow-y: scroll;

    // /* has to be scroll, not auto
    // -webkit-overflow-scrolling: touch;
}

.games-info {
    &.reveal-modal, &.dialog {
        background: $bg-reveal-modal;
        z-index: 99999;
        width: 100% !important;
        max-width: 700px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        padding: $site-margin;
        border: none;

        @media #{$small-only} {
            padding: 0;
        }

        @media #{$xlarge-up} {
            max-width: 800px;
        }
    }

    .close-reveal-modal {
        background: url(/_images/common/icons/modal-close.svg) no-repeat center center !important;
        top: 0;
        margin: 10px;
        right: 0;
        width: 25px;
        height: 25px;
        text-indent: -9999px;

        @media #{$small-only} {
            margin: 15px;
        }
    }
}

.game-detail-modal {
    @include grid-column(12);

    padding: 0;
    height: auto;
    font-family: $body-font-regular;

    @media #{$small-only} {
        padding: 0;
    }

    .two-columns-content-wrap__right {
        @include show-for-large-up;
    }

    .game-detail-wrap__title-bar {
        @include grid-column(12);
        cursor: default;
        padding: 0;
        margin-bottom: $site-margin / 2;

        @media #{$small-only} {
            background: $white;
            position: fixed;
            top: -1px;
            left: 0;
            padding: $site-margin;
            margin: 0;
        }

        h1 {
            @include grid-column(10);

            font-family: $nav-font-medium;
            color: $nav-main-color;
            font-size: 20px;
            line-height: 25px;
            text-transform: uppercase;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .game-detail-content__header-mobile {
        @include grid-column(12);

        @include hide-for-small-up;

        height: 100%;
        margin: 0;
        padding: 0;
        right: 0;
        z-index: 9999999;
        background: #e7e2fe;
        display: none;
        position: fixed;
        overflow: scroll;
        top: 0px;
    }

    .game-detail-content {
        @include grid-row;

        @include grid-column(12);

        margin-bottom: 8px;
        background: #c9bbff;
        padding: $site-margin;

        @media #{$small-only} {
            padding: 0;
            margin-top: 53px;
        }

        .game-detail-content__right {
            @include grid-column(6);

            float: right;

            // max-height: 441px;

            @media #{$small-only} {
                @include grid-column(12);

                padding: $site-margin;
            }

            .login-box--loginpage {
                @include grid-column(12);

                padding: 0;

                .login-box {
                    @include grid-column(12);

                    padding: 0;

                    .login-box__form-wrapper {
                        h1 {
                            font-family: $nav-font-bold !important;
                            color: $nav-main-color !important;
                            font-size: 1.4em !important;
                            line-height: 25px !important;
                            text-transform: uppercase !important;
                            text-align: center;
                        }

                        .login-box__input-wrapper {
                            @include grid-column(12);

                            padding: 0;
                            height: auto;

                            input {
                                box-shadow: none !important;
                                height: 45px !important;
                            }

                            span.error, small.error {
                                @include grid-column(12);

                                margin: 0;
                                padding: 0;
                                background: none;
                                color: $nav-main-color;
                            }
                        }
                    }

                    .login-box__username {
                        height: 50px;
                        margin: 0;
                    }

                    .login-box__password {
                        height: 50px;
                        margin: 0;

                        .login-box__show-password {
                            .right {
                                top: 2px;
                                right: 2px;
                            }
                        }
                    }

                    .login-box__forgot-password {
                        top: 0;
                    }

                    .cta-login {}

                    .join-now-box {
                        display: none;
                    }
                }
            }

            // a {
            //     @include grid-column(12);

            //     @include border-radius(4px);

            //     padding: $site-margin;
            //     margin-bottom: $site-margin;
            //     background: $white;
            //     font-family: $body-font-bold;
            //     text-align: center;
            //     text-transform: uppercase;
            //     font-size: 24px;

            //     &.login {
            //         color: $global-link-color;
            //     }

            //     &.join-now {
            //         color: $ui-highlight-dark;
            //     }

            //     &.try-game, &.play-now {
            //         color: $nav-active-color;
            //     }
            // }
       
        }

        .game-detail-content__left {
            @include grid-column(5);

            width: 47%;
            float: left;
            padding: 0;
            margin: 0;
            position: relative;

            .free-spins {
                position: absolute;
                top: 0;
                right: 25px;
                width: 100px;

                @media #{$small-only} {
                    right: 0px;
                }
            }

            .game-cta {
                @include grid-column(12);

                position: absolute;
                background: rgba(36, 7, 83, 0.7);
                padding: $site-margin;
                bottom: 0;
                text-align: center;

                a {
                    @include grid-column(5, $center: true);

                    width: 47%;
                    margin: 1%;
                    display: inline-block;

                    &.try-game {
                        @include CTA-button(9px 13px 7px, 16px, 4px, #FFFFFF, #f3f3f3, #FFFFFF, #FFFFFF, #f3f3f3);

                        float: none;
                        text-shadow: none;
                        color: $nav-active-color;

                        &:hover {
                            color: $nav-active-color;
                        }
                    }

                    &.join-now {
                        @include CTA-button(9px 13px 7px, 16px, 4px, #FF8FD7, #FF7BD0, #FF00AA, #C70064, #FFC5EA);

                        float: none;
                        text-shadow: none;
                    }

                    &.join-now-full {
                        @include CTA-button(9px 13px 7px, 16px, 4px, #FF8FD7, #FF7BD0, #FF00AA, #C70064, #FFC5EA);

                        margin: 0;
                        float: none;
                        text-shadow: none;
                        width: 100%;
                    }
                }
            }

            @media #{$small-only} {
                @include grid-column(12);

                padding: 0px;
            }

            img {
                width: 100%;

                @include opacity(1);
            }
        }
    }

    .game-detail-content__details {
        @include grid-column(12);

        @include show-for-large-up;

        background: lighten($bg-reveal-modal, 3%);
        padding: $site-margin;
        color: $grey-dark;

        // margin-top: $site-margin;

        a {
            @include grid-column(12);

            font-family: $nav-font-medium;
            padding: 0;
            font-size: 16px;
            color: $global-link-color;
            margin-top: $site-margin;
        }

        // @media #{$small-only} {
        //     position: fixed;
        //     bottom: 0;
        //     left: 0;
        // }
   
    }

    .game-detail__description {
        @include grid-column(12);

        line-height: 22px;
        font-family: $title1-font;
        overflow: hidden;

        @media #{$medium-only} {
            height: auto;
            margin-bottom: $site-margin / 2;
        }

        @media #{$small-only} {
            height: auto;
            margin-bottom: $site-margin / 2;
        }

        p {
            font-family: $body-font-regular;
            font-size: rem-calc(12px);
            color: $grey-dark;
            margin: $site-margin 0;
        }

        h3 {
            border: none;
            font-family: $nav-font-medium;
            font-size: 16px;
            color: $nav-main-color;
            margin-bottom: 0;
        }

        a {
            color: $global-link-color;
        }

        a:hover {
            color: $global-link-color;
        }
    }

    .game-detail-content__right__game-table {
        font-size: 15px;
        color: $grey-dark;

        ul {
            list-style: none !important;
            margin: 0  !important;
        }

        > li {
            font-size: rem-calc(12px);
            border-bottom: 1px solid $grey;

            @include vert-align(44px);

            @media #{$medium-only} {
                @include vert-align(34px);
            }

            > span {
                padding-right: $site-margin;
                width: 95px;
                display: inline-block;
                color: $black;
            }
        }
    }
}

.reveal-modal .close-reveal-modal, dialog .close-reveal-modal {
    @media #{$small-only} {
        top: 0em;

        //right: 0;
    }
}