// =============================================================================
// Game Details - SEO Page
// =============================================================================
.game-details-page {
    height: auto;
    font-family: $body-font-regular;
    margin-bottom: $site-margin;

    // Share Button Hidden

    .entypo-export span, .entypo-export:before {
        display: none !important;
    }

    // min-width: 100%;

    @media #{$small-only} {
        @include grid-column(12);

        padding: 0;
        border: none;
        margin-bottom: 0px;
    }

    .game-detail-wrap__title-bar {
        color: $nav-main-color;

        /* top gradient content */
        background-image: linear-gradient(0deg, #E9DDED 2%, #FFFFFF 100%);
        margin: 0;
        padding: 5px;
        padding-left: $site-margin !important;
        font-size: 15px;

        // margin-bottom: $site-margin;

        @include grid-column(12);

        @media #{$small-only} {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .game-details-content__wrapper {
        height: 100%;
    }

    .games-detail__acquisition {
        @include grid-column(12);

        padding: 0;
    }

    .game-detail-content {
        @include grid-row;

        margin-bottom: $site-margin;
        background: $white;

        @media #{$small-only} {
            padding: 10px;
            background: $white;
        }

        @media #{$medium-only} {
            padding: 10px;
            padding-bottom:0px;
            background: $white;
        }

        .game-detail-content__right {
            @include grid-column(4);

            padding: $site-margin 0;

            @media #{$medium-only} {
                @include grid-column(4);
            }

            @media #{$small-only} {
                @include grid-column(12);
            }

            img {
                @include grid-column(4);

                width: 100%;
                margin-bottom: $site-margin;
            }

            > article.login-box > h1 {
                font-size: 1em;
            }
        }

        > .cta-login {
            width: 45%;
            margin-bottom: 25px;
            float: left;
            margin-left: 10px;
        }

        > .cta-join {
            margin-bottom: 25px;
            width: 45%;
            float: left;
            margin-left: 7px;
        }

        .play-now-button--desktop, .play-now-button--mobile {
            @include grid-column(12);

            @include show-for-medium-up;

            position: relative;
            color: $white;
            text-shadow: 0px 2px 0px rgba(81, 81, 81, 0.48);
            font-family: $button-font;
            font-size: rem-calc(20px);
            width: 100%;
            height: 38px;
            text-align: center;
            line-height: 1em;
            border: none;
            padding: 10px 0;
            text-decoration: none;
            background-image: linear-gradient(-180deg, #FF8FD7 0%, #FF7BD0 46%, #FF00AA 100%);
            box-shadow: 0px 1px 1px 1px #C70064, inset 0px 1px 0px 0px #FFC5EA;
            border-radius: 4px;
            text-transform: uppercase;

            // @media #{$small-only} {
            //     @include grid-column($columns: 3, $last-column: true, $center: true, $offset: 0, $push: 3, $pull: 3, $collapse: true, $float: left);
            // }
       
        }

        .play-now-button--mobile {
            @include show-for-small-only;

            margin-top: $site-margin;
        }

        .try-now-button--desktop, .try-now-button--mobile, .login-button--desktop, .login-button--mobile {
            @include grid-column(6);

            position: relative;
            color: $white;
            text-shadow: 0px 2px 0px rgba(81, 81, 81, 0.48);
            font-family: $button-font;
            font-size: rem-calc(20px);
            height: 38px;
            width: 48%;
            text-align: center;
            float: left;
            line-height: 1em;
            border: none;
            padding: 10px 0;
            margin-right: 3%;
            text-decoration: none;
            background-image: linear-gradient(-180deg, #4BA4F0 0%, #2082D8 51%, #0E60A8 100%);
            box-shadow: 0px 1px 1px 1px #0E4372, inset 0px 1px 0px 0px #8BC5F7;
            border-radius: 4px;
            text-transform: uppercase;

            // @media #{$small-only} {
            //     @include grid-column($columns: 3, $last-column: true, $center: true, $offset: 0, $push: 3, $pull: 3, $collapse: true, $float: left);
            // }
       
        }

        .login-button--desktop {
            @include show-for-medium-up;
        }

        .try-now-button--mobile {
            @include grid-column(12);

            @include show-for-small-only;

            margin-top: $site-margin;
            margin-bottom: 0;
        }

        .join-now-button--desktop, .join-now-button--mobile {
            @include grid-column(6);

            @include show-for-medium-up;

            position: relative;
            color: $white;
            text-shadow: 0px 2px 0px rgba(81, 81, 81, 0.48);
            font-family: $button-font;
            font-size: rem-calc(20px);
            height: 38px;
            width: 48%;
            text-align: center;

            // float: right;
            line-height: 1em;
            border: none;
            padding: 10px 0;
            text-decoration: none;
            background-image: linear-gradient(-180deg, #FF8FD7 0%, #FF7BD0 46%, #FF00AA 100%);
            box-shadow: 0px 1px 1px 1px #C70064, inset 0px 1px 0px 0px #FFC5EA;
            border-radius: 4px;
            text-transform: uppercase;

            a {
                color: $white;

                &:hover {
                    color: $white;
                }
            }

            // @media #{$small-only} {
            //     @include grid-column($columns: 3, $last-column: true, $center: true, $offset: 0, $push: 3, $pull: 3, $collapse: true, $float: left);
            // }
       
        }

        .join-now-button--mobile, .login-button--mobile {
            // @include grid-column(12);

            @include show-for-small-only;

            padding: 0;
            margin-top: $site-margin;
            margin-bottom: $site-margin;
            line-height: 2em;
        }

        .game-detail-content__left {
            @include grid-column(4);

            padding: $site-margin;

            @media #{$medium-only} {
                @include grid-column(4);
            }

            @media #{$small-only} {
                @include grid-column(12);

                padding: 0;
                padding-top: 10px;
                margin-top: 0px;
                margin-bottom: 0;

                img {
                    padding: 0px;
                }
            }

            ul.bxslider {
                list-style: none;
                margin: 0;

                li {
                    float: none;
                    position: absolute;
                }
            }

            position: relative;

            .overlay-holder {
                position: relative;

                .free-spins {
                    position: absolute;
                    top: 0;
                    right: 0px;
                    width: 90px;
                    z-index: 1;
                }
            }

            .overlay {
                position: absolute;
                height: 100%;
                display: block !important;

                @include grid-column(12, $float: left);

                @include transition(all, 0.2s ease-out);

                @include show-for-large-up;

                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                z-index: 888;
                text-align: center;
                opacity: 0;

                &:hover {
                    opacity: 1;
                    background: rgba(0, 0, 0, 0.75);
                }

                .play-now-button {
                    position: relative;
                    display: inline;
                    top: 43%;
                    width: 135px;
                    height: 150px;
                    color: $white;
                    text-shadow: 0px 2px 0px rgba(81, 81, 81, 0.48);
                    z-index: 999;
                    font-family: $button-font;
                    font-size: rem-calc(18px);
                    width: 80%;
                    height: 38px;
                    border: none;
                    padding: 9px 10px 10px 16px;
                    text-decoration: none;
                    background-image: linear-gradient(-180deg, #FF8FD7 0%, #FF7BD0 46%, #FF00AA 100%);
                    box-shadow: 0px 1px 1px 1px #C70064, inset 0px 1px 0px 0px #FFC5EA;
                    border-radius: 4px;
                    text-transform: uppercase;
                }

                .try-now-button {
                    position: relative;
                    display: inline;
                    top: 43%;
                    width: 135px;
                    height: 150px;
                    color: $white;
                    text-shadow: 0px 2px 0px rgba(81, 81, 81, 0.48);
                    z-index: 999;
                    font-family: $button-font;
                    font-size: rem-calc(18px);
                    width: 80%;
                    height: 38px;
                    border: none;
                    padding: 9px 10px 10px 16px;
                    text-decoration: none;
                    background-image: linear-gradient(-180deg, #4BA4F0 0%, #2082D8 51%, #0E60A8 100%);
                    box-shadow: 0px 1px 1px 1px #0E4372, inset 0px 1px 0px 0px #8BC5F7;
                    border-radius: 4px;
                    text-transform: uppercase;
                }
            }

            img {
                width: 100%;
                height: auto;

                @include opacity(1);

                // padding-right: 10px;
           
            }

            .game-detail-content__left__thumbnail {
                @include grid-column(6);

                @media #{$small-only} {
                    @include grid-column(6);
                }

                padding-top: $site-margin;
            }
        }
    }

    .game-detail__wrap {
        @include grid-column(12);

        padding: 0;
        float: left;

        // background-color: white;
        line-height: 22px;

        p {
            @include grid-column(12);

            float: left;
            padding: 0;
            font-family: $body-font-regular;
            font-size: rem-calc(12px);
            color: $grey-dark;
            margin-bottom: 18px;
        }

        h3 {
            @include grid-column(12);

            float: left;
            padding: 0;
            color: $main-highlight-color;
            font-family: $title1-font;
            font-size: 1.2em;
            margin-top: 0px;
            border-bottom: 1px solid lighten($main-highlight-color, 40%);
            padding-bottom: 5px;

            // background-color: $brand-color;
            text-transform: uppercase;
            font-style: initial;
        }

        a {
            color: $brand-color;
        }
    }

    .game-detail-content__promo {
        @include grid-column(4);

        padding: $site-margin;
        float: right;

        //        @include hide-for-small-only;

        @media #{$medium-only} {
            @include grid-column(4);

            float: right;
        }

        @media #{$small-only} {
            @include grid-column(12);

            float: right;
            padding: 0;
        }

        img {
            width: 100%;
            margin-bottom: $site-margin;

            @media #{$small-only} {
                margin: 0;
            }
        }
    }

    .game-detail-content__right__game-table {
        @include grid-column(12);

        padding: 0;
        font-size: 15px;
        color: $grey-dark;
        font-family: $body-font-regular;
        margin-left: 0px !important;
        padding: 5px 0;

        > ul {
            list-style: none !important;
            border-top: 1px solid lighten($main-highlight-color, 40%);
        }

        > li {
            list-style: none;
            font-size: rem-calc(12px);

            @media #{$small-only} {
                font-size: rem-calc(12px);
            }

            .game-detail-content__right__game-table__provider {
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 66%;
                display: inline-block;
            }

            .game-detail-content__right__game-table__title {
                width: 95px;
                padding-right: $site-margin;
                display: inline-block;
                color: $main-highlight-color;

                // border-bottom: 1px solid $main-highlight-color;
           
            }
        }

        @media #{$medium-only} {
            @include grid-column(12);
        }
    }
}

.game-description {
    @include grid-column(12, $float: right, $last_column: true);

    margin-right: 0px;

    @media #{$medium-only} {
        @include grid-column(6);
    }

    @media #{$small-only} {
        @include grid-column(12);
    }

    p {
        font-family: $body-font-regular;
    }
}

.games-detail-page__bottom {
    .banner {
        margin-bottom: 1em;
    }
}

.game-review {
    .game-review__content {
        padding: $site-margin * 2;

        @media #{$small-only} {
            padding: $site-margin;
        }

        p {
            font-family: $body-font-regular;
            font-size: 1em;
            padding-left: 5px;
            color: $grey-dark;
        }

        ._author-block {
            display: none;
        }
    }

    .game-review__content__title {
        @include grid-column(12);

        border-bottom: 1px solid lighten($main-highlight-color, 40%);
        line-height: 20px;
        padding: 10px 0;
        font-size: 1.5em;
        font-family: $body-font-medium;

        @media #{$small-only} {
            padding: 20px 0;
        }

        h1 {
            line-height: 0.4em;
            padding-top: 10px;
        }

        h1 small {
            font-family: $body-font-medium;
        }

        > a {
            @include grid-column(8);

            color: $main-highlight-color;
            text-transform: uppercase;

            @media #{$small-only} {
                @include grid-column(12);

                text-align: left;
                padding: 0;
            }
        }

        .game-review__content__date {
            @include grid-column(4);

            font-family: $body-font-medium;
            color: $main-highlight-color;
            text-align: right;
            margin-top: 10px;

            @media #{$small-only} {
                @include grid-column(12);

                text-align: left;
                padding: 0;
            }
        }
    }
}

.game-detail-content__aquisition {
    .text-partial {
        @include grid-column(12);

        margin-top: 1.2em;
        border: 0px;
        text-align: center;
        padding: 8px 5px 8px 5px;
        margin-bottom: 0px;

        > h1 {
            font-size: 1.6em;
            color: #E44B0C;
            font-family: $title1-font;
            text-transform: capitalize;
            border: none;
            margin-bottom: 0px;
            padding: 8px;
            line-height: 18px;

            @media #{$small-only} {
                font-size: 1em;
            }
        }
    }

    .cta-login {
        @include grid-column(5, $float: left);

        width: 47%;
        margin-right: 10px;
        margin-top: 10px;

        @media #{$small-only} {
            @include grid-column(12);
        }
    }

    .cta-join {
        @include grid-column(5, $float: right);

        width: 47%;
        margin-top: 10px;

        @media #{$small-only} {
            @include grid-column(12);
        }
    }

    &:after {
        content: 'PLAY NOW';

        @include transition(all, 0.2s ease-out);

        color: $white;
        text-shadow: 0px 2px 0px rgba(81, 81, 81, 0.48);
        z-index: 999;
        font-family: $button-font;
        font-size: rem-calc(18px);
        width: 80%;
        height: 38px;
        border: none;
        padding: 9px 10px 10px 16px;
        text-decoration: none;
        background-image: linear-gradient(-180deg, #FF8FD7 0%, #FF7BD0 46%, #FF00AA 100%);
        box-shadow: 0px 1px 1px 1px #C70064, inset 0px 1px 0px 0px #FFC5EA;
        border-radius: 4px;
        text-transform: uppercase;
        position: absolute;
        top: 12px;
        left: 0%;
        margin: 10%;
    }
}