.games-sort-icon-tiled {
    background: url(../_images/common/grid-icon-active-color.svg) no-repeat;
    width: 17px;
    background-size: 100%;
    top: 1px;
    margin-top: 4px;
}

.games-sort-icon-list {
    background: url(../_images/common/list-icon-color.svg) no-repeat;
    width: 20px;
    background-size: 100%;
    margin-top: 4px;
}

.sortable {
    cursor: pointer;
    text-decoration: underline;
    a {
        color: $white;
    }
}

.ui-text-only-table {
    @media #{$large-up} {}
    .cta-play {
        width: 100%;
        background-color: $go-button;
        font-style: $body-font-bold;
        text-align: center;
        color: $white;
        text-transform: uppercase;
        padding: 5px;
    }
}