.archive__wrapper__left {
    @include grid-column(2, $collapse: true);

    @include clearfix;

    margin-bottom: $site-margin;

    @media #{$small-only} {
        @include grid-column(12);
    }
}

.archive-accordion {
    background-color: #F7F4FD;
    border: 1px solid #e2e2e2;
    font-family: $heading-font-bold;
    margin-bottom: $site-margin;
    
    .archive-accordion__navigation {
        > a {
            background-color: lighten(gray, 10%);
            color: $white;
            font-family: $body-font-bold;
            display: block;

            @include vert-align(30px);

            padding-left: 7px;
            padding-right: 7px;

            @include border-top-left-radius(3px);

            @include border-top-right-radius(3px);

            &:hover {
                background-color: $white;
                color: $white;
            }

            @media #{$small-only} {
                background-color: $white;
                border: darken($white, 10%) 1px solid;
                color: $white;
                border: darken($white, 10%) 1px solid;

                @include border-radius(3px);
            }
        }

        > a.active {
            background-color: #DADBEC;
            color: $black;
            font-family: $heading-font-bold;
        }

        ul {
            font-family: $heading-font-bold;
            /*
            @media #{$small-only} {
                display: none;
            }
            */

            background-color: transparent;
            margin: 7px;

            li {
                @include vert-align(29px);

                padding-left: 7px;
                padding-right: 7px;

                a {
                    background-color: transparent;
                    color: #807e7d !important;
                    font-size: 16px;
                }

                &:hover {
                    padding-left: 7px;
                    padding-right: 7px;
                    color: $black;

                    a {
                        @include vert-align(27px);

                        background-color: transparent;
                        color: $black !important;
                        font-size: 16px;
                    }
                }
            }

            li.active {
                padding-left: 6px;
                padding-right: 6px;
                border: 1px solid #e0ded9;

                // stroke
                background-color: #1E1345;

                // layer fill content
                color: $white;

                a {
                    @include vert-align(27px);

                    background-color: #1E1345;
                    color: $white !important;
                    font-size: 16px;
                }
            }
        }
    }
}

.archive__wrapper__right {
    @include grid-column(10, $float: right);

    margin-bottom: $site-margin;
    padding-right: 0;

    @media #{$small-only} {
        @include grid-column(12);
    }

    .archive__wrapper__right__inner {
        margin: 0;
        min-height: 500px;
        padding: 0;

        .text-image-left-partial {
            margin: 0 !important;
            margin-top: 20px !important;
            background-color: #F7F4FD;
            border: 1px solid #e2e2e2;
            padding-top: 12px !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            font-size: 14px;
            height: auto;
        }

        .text-image-left-partial > h1 {
            @include grid-column(6, $collapse: true, $float: right);

            color: #1E1345;
            font-size: 1.1em;
            height: auto;
            line-height: 20px;
            font-family: $heading-font-bold;
            text-decoration: none;
            border-bottom: none;
            margin-top: 5px;

            @media #{$small-only} {
                @include grid-column(12, $collapse: false, $float: left);

                margin-bottom: 0;
            }
        }

        .text-image-left-partial > a > img {
            @include grid-column(6, $float: left);

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
            }
        }

        .text-image-left-partial > p {
            @include grid-column(5, $collapse: true);

            @media #{$medium-only} {
                @include grid-column(5, $collapse: true);

                width: 50% !important;
                line-height: 23px;
            }

            @media #{$small-only} {
                @include grid-column(12, $collapse: false);
            }
        }
    }
}

.archive__wrapper__right__title {
    display: block;

    h1 {
        color: #1E1345;
        font-size: 1em;

        @media #{$small-only} {
            font-size: 0.8em;
        }

        font-family: $heading-font-bold;
        text-align: left;

        @include vert-align(30px);

        border-bottom: 1px solid #1E1345;
    }
}

.archive {
    .archive-tabs {
        font-family: $heading-font-bold;

        @include grid-column(8, $float: right);

        margin-top: $site-margin;
        margin-right: 7px;
        padding: 0 0;
        padding-top: 4px;
        padding-left: 4px;

        @media #{$medium-only} {
            @include grid-column(12, $float: left);

            float: none;
            padding-top: $site-margin;
            margin-top: 0px;
            float: none;
            padding: 0;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding-top: $site-margin;
            margin-top: 0px;
        }

        dd {
            margin: 0 0;
            margin-left: 7px;
            border-style: none;
            float: right;

            @media #{$small-only} {
                @include grid-column(3, $float: left, $collapse: true);

                text-align: center;
                height: 30px;
                width: 22%;
            }

            a {
                font-family: $body-font-regular;
                padding: 10px 10px;
                font-size: 12px;
                font-weight: bold;
                background-color: #F7F4FD;
                border: 1px solid #e2e2e2;
                color: $black;
                text-align: center;

                @include border-top-left-radius(3px);

                @include border-top-right-radius(3px);

                &:hover {
                    color: $black;
                    background: #F8F8F8;
                }

                @media #{$small-only} {
                    display: block;
                    margin: 0 0;
                    line-height: 16px;
                    text-align: center;
                    border: none;

                    @include border-radius(3px);

                    font-size: 11px !important;
                    padding: 5px;
                }
            }

            &.active {
                a, a:hover {
                    font-size: 12px;

                    @media #{$small-only} {
                        font-size: 10px !important;
                    }

                    font-weight: bold;
                    cursor: default;
                    background-color: #1E1345;
                    color: $white;
                }
            }

            &.first {
                a {}
            }

            &.last {
                margin-right: 0px;

                a {}
            }

            @media #{$small-only} {
                margin-bottom: 12px;
                border-top: none;
                border-bottom: none;
            }
        }
    }
}