
.survey-monkey-modal {
	background-image: linear-gradient(to top, #5820a9 2%, #5820a9 100%);
	border-color: #4b1d8e;

	p {
		color: #ffffff;
		font-weight: bold;

		@media #{$small-only} {
            font-size: 1em;
            font-weight: bold;
            margin-top: 15px;
        }
	}
}

.survey-monkey-modal iframe {
	min-height: 450px;

}


.survey-monkey-modal iframe body{
	background-image: none;
	background-color: #ededed;
}



.survey-page .question-container p {
	@media #{$small-only} {
        font-size: 13px!important;
        }
}

.survey-page .question-row {
	     
	    @media #{$small-only} {
        margin: 0 0 10px 0;
        }

}

.survey-monkey-modal .close-reveal-modal {

	background-color: rgba(255,255,255, 0.9);
    border-radius: 50px;
    width: 44px;
    height: 44px;
    text-align: center;
    color: #4a4a4a;
}



