  @media #{$large-up} {
    .main-content {
        &.registration {
            padding-top: 0;
        }
    }
}
.header--register3step {
    .nav-for-mobile {
        display: none !important;
    }
    .footer {
        display: none;
    }
}
.registration-3step {
    @include grid-column(12);
    padding: 0;
    z-index: 999999;
    top: 0;
    height: 100%;
    background: $registration-3step-bg--base;
    overflow: hidden;

    .banner {
        a.edit-point {
            margin: 35px 15px !important;
        }
    }
}

//Registration page header
.header-register {
        @include grid-column(12);
        background-image: linear-gradient(-180deg, #f95791 3%, #f01854 100%);
        padding: 0;
        top: 0;
        height: 70px;
        text-align: center;
        display: block !important;
        z-index: 2;
        position: fixed;

        @media #{$large-up} {
            height: 80px;
        }

        .wrapper {

            @media #{$large-up} {
                position: relative;
                width: 33.5rem;
                margin: 0 auto;
            }

            @media #{$medium-only} {
                position: relative;
                width: 33.5rem;
                margin: 0 auto;
            }

            h1 {
                display: inline-block;
                color: #fff;
                line-height: 2.8;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: normal;
                padding-top: 5px;

                @media #{$large-up} {
                    font-size: 25px;
                    padding-top: 0;
                    margin-top: 6px;
                }
            }
            .register-logo {
                background: url("/_images/logo/GBB-logo-web.png") no-repeat center center;
                background-size: 100%;
                position: absolute;
                left: 5px;
                top: 0;
                width: 90px;
                height: 70px;
                cursor: pointer;

                @media #{$medium-only} {
                    width: 110px;
                }

                @media #{$large-up} {
                    width: 120px;
                    height: 60px;
                    top: 10px;
                    left: 15px;
                }
            }

            .register-login-cta {
                display: inline-block;
                position: absolute;
                background-image: linear-gradient(0deg, #FF9D22 6%, #FFC13D 100%) !important;
                box-shadow: 0px 1px 2px 0px rgba(4, 42, 76, 0.51), inset -1px -1px 0px 0px #EA9E08 !important;
                color: #fff;
                width: 85px;
                height: 32px;
                top: 19px;
                right: 10px;
                border-radius: 4px;
                font-family: todayshop-bold,Helvetica,Arial,sans-serif;
                font-size: 18px;
                font-weight: bold;
                text-shadow: 0 2px 0 rgba(81,81,81,.48);
                text-transform: uppercase;
                padding: 6px 12px 10px 16px;

                @media #{$large-up} {
                    top: 25px;
                }
                
            }

        }
    }

// Refgitration page Banner
.registration-3step .content .banner {
    @media #{$medium-only} {
        padding-top: 0 !important;
    }
}

.registration-3step .content .banner img {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: -5px !important;

        @media #{$small-only} {
              margin-top: 25px !important;
        }

        @media #{$medium-only} {
            margin-top: 35px !important;
        }
}

#join-now {

    .banner {
        a.edit-point {
            @media #{$small-only} {
                margin: 0 !important;
            }

            
            
        }
    }

    .registration-3step .content .banner img {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: -5px !important;

        @media #{$small-only} {
              margin-top: 11px !important;
        }

        @media #{$medium-only} {
            margin-top: 35px !important;
        }
    }
}
