$btn-primary-color: #7638A1;
$btn-transition: 200ms;

.btn {
  /* Default button */
  display: inline-block;
  background: none;
  border: 0;
  border-radius: 100px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
  color: $gold;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1;
  height: 35px;
  padding: 9px 20px;
  text-align: center;
  transition: $btn-transition;
  position: relative;

  /* Primary button */
  &--primary {
    background: $gold;
    color: $btn-primary-color;

    &:hover,
    &:active,
    &:focus {
      background: $supernova;
      color: $btn-primary-color;
    }
  }

  /* Secondary button */
  &--secondary {
    border: 1px solid $gold;
    color: $gold;

    &:hover,
    &:active,
    &:focus {
      background: $supernova;
      color: $btn-primary-color;
    }
  }

  /* Dropdown button */
  &--dropdown {
    color: $white;
    border: 1px solid #AB95BF;
    box-shadow: none;
    font-weight: 300;
    padding-right: 35px;

    &__icon {
      position: absolute !important;
      font-size: 1.5rem;
      top: 7px;
      right: 10px;
    }

    // &:hover {
    //   background: white;
    //   border-color: white;
    //   color: $btn-primary-color;
    // }
  }

  /* Button Group */
  &-group {
    &:after {
      content: '';
      display: table;
      clear: both;
    }

    &__item {
      display: inline-block;
      float: left;
      padding-left: 1em;

      &:first-child {
        padding-left: 0;
      }
    }
  }
}