

@font-face {
    font-family: 'intro_bold_capsregular';
    src: url('../_fonts/intro/Intro Bold Caps-webfont.eot');
    src: url('../_fonts/intro/Intro Bold Caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/intro/Intro Bold Caps-webfont.woff2') format('woff2'),
         url('../_fonts/intro/Intro Bold Caps-webfont.woff') format('woff'),
         url('../_fonts/intro/Intro Bold Caps-webfont.ttf') format('truetype'),
         url('../_fonts/intro/Intro Bold Caps-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'uni_sans_bold';
    src: url('../_fonts/uni-sans/uni-sans-bold-webfont.eot');
    src: url('../_fonts/uni-sans/uni-sans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/uni-sans/uni-sans-bold-webfont.woff2') format('woff2'),
         url('../_fonts/uni-sans/uni-sans-bold-webfont.woff') format('woff'),
         url('../_fonts/uni-sans/uni-sans-bold-webfont.ttf') format('truetype'),
         url('../_fonts/uni-sans/uni-sans-bold-webfont.svg#uni_sans_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'uni_sans_book';
    src: url('../_fonts/uni-sans/uni-sans-book-webfont.eot');
    src: url('../_fonts/uni-sans/uni-sans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/uni-sans/uni-sans-book-webfont.woff2') format('woff2'),
         url('../_fonts/uni-sans/uni-sans-book-webfont.woff') format('woff'),
         url('../_fonts/uni-sans/uni-sans-book-webfont.ttf') format('truetype'),
         url('../_fonts/uni-sans/uni-sans-book-webfont.svg#uni_sans_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'uni_sans_regular';
    src: url('../_fonts/uni-sans/uni-sans-regular-webfont.eot');
    src: url('../_fonts/uni-sans/uni-sans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/uni-sans/uni-sans-regular-webfont.woff2') format('woff2'),
         url('../_fonts/uni-sans/uni-sans-regular-webfont.woff') format('woff'),
         url('../_fonts/uni-sans/uni-sans-regular-webfont.ttf') format('truetype'),
         url('../_fonts/uni-sans/uni-sans-regular-webfont.svg#uni_sans_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'uni_sans_semibold';
    src: url('../_fonts/uni-sans/uni-sans-semi-bold-webfont.eot');
    src: url('../_fonts/uni-sans/uni-sans-semi-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/uni-sans/uni-sans-semi-bold-webfont.woff2') format('woff2'),
         url('../_fonts/uni-sans/uni-sans-semi-bold-webfont.woff') format('woff'),
         url('../_fonts/uni-sans/uni-sans-semi-bold-webfont.ttf') format('truetype'),
         url('../_fonts/uni-sans/uni-sans-semi-bold-webfont.svg#uni_sans_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'uni_sansheavy_caps';
 src: url('../_fonts/uni-sans/uni-sans-heavy-caps-webfont.woff2') format('woff2'),
      url('../_fonts/uni-sans/uni-sans-heavy-caps-webfont.woff') format('woff'),
      url('../_fonts/uni-sans/uni-sans-heavy-caps-webfont.eot') format('embedded-opentype'),
      url('../_fonts/uni-sans/uni-sans-heavy-caps-webfont.ttf')  format('truetype'), 
      url('../_fonts/uni-sans/uni-sans-heavy-caps-webfont.svg#uni-sans-heavy-caps') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* ==========================================================================
/* --  Roboto
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/* ==========================================================================
/* --  AmsiPro
   ========================================================================== */

@font-face {
    font-family: 'Conv_AmsiPro-Light';
    src: url('../fonts/amsi-pro/AmsiPro-Light.eot');
    src: local('â˜º'), url('../fonts/amsi-pro/AmsiPro-Light.woff') format('woff'), url('../fonts/amsi-pro/AmsiPro-Light.ttf') format('truetype'), url('../fonts/amsi-pro/AmsiPro-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_AmsiPro-SemiBold';
    src: url('../fonts/amsi-pro/AmsiPro-SemiBold.eot');
    src: local('â˜º'), url('../fonts/amsi-pro/AmsiPro-SemiBold.woff') format('woff'), url('../fonts/amsi-pro/AmsiPro-SemiBold.ttf') format('truetype'), url('../fonts/amsi-pro/AmsiPro-SemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_AmsiPro-Bold';
    src: url('../fonts/amsi-pro/AmsiPro-Bold.eot');
    src: local('â˜º'), url('../fonts/amsi-pro/AmsiPro-Bold.woff') format('woff'), url('../fonts/amsi-pro/AmsiPro-Bold.ttf') format('truetype'), url('../fonts/amsi-pro/AmsiPro-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_AmsiPro-Black';
    src: url('../fonts/amsi-pro/AmsiPro-Black.eot');
    src: local('â˜º'), url('../fonts/amsi-pro/AmsiPro-Black.woff') format('woff'), url('../fonts/amsi-pro/AmsiPro-Black.ttf') format('truetype'), url('../fonts/amsi-pro/AmsiPro-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_AmsiPro-Ultra';
    src: url('../fonts/amsi-pro/AmsiPro-Ultra.eot');
    src: local('â˜º'), url('../fonts/amsi-pro/AmsiPro-Ultra.woff') format('woff'), url('../fonts/amsi-pro/AmsiPro-Ultra.ttf') format('truetype'), url('../fonts/amsi-pro/AmsiPro-Ultra.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/////////// ====================================================================
//////// begin avinir font
///////////// ===================================================================

/* This stylesheet generated by Transfonter (https://transfonter.org) on June 20, 2017 10:23 AM */

 
        
@font-face {
    font-family: 'Avenir LT Std'; //bodycopy 
    src: url('../_fonts/avenir/AvenirLTStd-Roman.eot');
    src: url('../_fonts/avenir/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('../_fonts/avenir/AvenirLTStd-Roman.woff') format('woff'),
        url('../_fonts/avenir/AvenirLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Avenir LT Std'; //cta butons
    src: url('../_fonts/avenir/AvenirLTStd-Heavy.eot');
    src: url('../_fonts/avenir/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../_fonts/avenir/AvenirLTStd-Heavy.woff') format('woff'),
        url('../_fonts/avenir/AvenirLTStd-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std'; //headings
    src: url('../_fonts/avenir/AvenirLTStd-Medium.eot');
    src: url('../_fonts/avenir/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../_fonts/avenir/AvenirLTStd-Medium.woff') format('woff'),
        url('../_fonts/avenir/AvenirLTStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
 

 