// Main place holders
.content-wrapper {
    width: 100%;
    @media #{$small-up} {
        margin-top: 0px;
    }
    @media #{$large-up} {
        margin-top: 0px;
    }
}
.content-wrapper--home{


    // @media #{$large-up} {
    //     margin-top: 147px;
    // }
}

.content-wrapper--logged-in{

    @media #{$large-up} {
        margin-top: 0px;
    }
}

.content-template{
    height:100%
}

// .content-wrapper--cashier, .content-wrapper--welcome{
//     margin-top: 0px;
// }

.top-content {
    margin-top: 0.8em;
    @media #{$small-only} {
        margin-top: 0px;
    }
    @include grid-column(12, $collapse: true);
    .top-content__left {
        @include grid-column(9);
        padding: 0px;
    }
    .top-content__right {
        @include grid-column(3);
        padding: 0px;
    }
}

.middle-content {
    @include grid-row;
}

.middle-content__box {
    @include grid-row;
    background-color: $off-white;
    height: auto;
    padding: $site-margin;
    margin-bottom: 24px;

}
.games-pages {
    padding: 0;
    margin-top: 20px;
}

.bottom-content {
    @include grid-row;

    h1, h2, h3, h4, h5, h6 {
        color: white;
    }

    @media #{$small-only} {
        padding: 0 10px;
    }
}

// --------------------------
// ----- LAYOUT Templates
// --------------------------

.three-columns-container {
    .three-columns-container__left, .three-columns-container__right {
        float: left;
        @media #{$small-only} {
            display: none;
        }
        @media #{$medium-up} {
            @include grid-column(3);
        }
    }
    .three-columns-container__centre {
        float: left;
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(6);
        }
    }
}

.three-equal-columns-container {
    height: 100%;
    @include grid-column(12, $collapse: true);
    .three-equal-columns-container__left {
        height: 100%;
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(4, $collapse: true);
            padding-right: 0.9em;
            padding-left: 0em;
        }
    }
    .three-equal-columns-container__right {
        height: 100%;
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(4, $collapse: true);
            // padding-right:1em;
            padding-right: 0em;
            padding-left: 0.4em;
        }
    }
    .three-equal-columns-container__centre {
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(4, $collapse: true);
            padding-right: 0.4em;
            padding-left: 0em;
        }
    }
}

.two-columns-layout {
    .two-columns-layout__left, .two-columns-layout__right {
        float: left;
    }
    @media #{$small-only} {
        .two-columns-layout__left, .two-columns-layout__right {
            @include grid-column(12);
            padding: 0px;
        }
    }
    @media #{$medium-up} {
        .two-columns-layout__left {
            @include grid-column(9);
            padding-left: 0px;
        }
        .two-columns-layout__right {
            @include grid-column(3);
            padding-right: 0px;
            padding-left: 0px;
        }
    }
}

.two-equal-columns-layout {
    .two-equal-columns-layout__left, .two-equal-columns-layout__right {
        float: left;
    }
    @media #{$small-only} {
        .two-equal-columns-layout__left, .two-equal-columns-layout__right {
            @include grid-column(12);
            padding: 0px;
        }
    }
    @media #{$medium-up} {
        .two-equal-columns-layout__left {
            @include grid-column(6);
            padding-left: 0px;
            padding-right: 0px;
        }
        .two-equal-columns-layout__right {
            @include grid-column(6);
            padding-right: 0px;
            padding-left: 0px;
        }
    }
}

.two-columns-layout-reverse {
    .two-columns-layout-reverse__left, .two-columns-layout-reverse__right {
        float: left;
    }
    @media #{$small-only} {
        .two-columns-layout-reverse__left, .two-columns-layout-reverse__right {
            @include grid-column(12);
            padding: 0px;
        }
    }
    @media #{$medium-up} {
        .two-columns-layout-reverse__left {
            @include grid-column(3);
            padding-left: 0px;
            padding-right: 0px;
        }
        .two-columns-layout-reverse__right {
            @include grid-column(9);
            padding-right: 0px;
        }
    }
}



#home {
    .cookie-policy {
        &.active {
            display: flex;
              @media  screen and ( max-width: 1024px ) {
                    display: block;
                    margin-top:0px !important;
               }
           }
    }
}


.cookie-policy-active .nav-for-mobile > a.login-button--nav-for-mobile.menu-link {
    @media only screen and (max-width: 480px) and (min-width: 320px) {
        top:80% !important;
    }
}

.cookie-policy-active a.site-logo.ui-go-home-logo.menu-link {
    @media only screen and (max-width: 480px) and (min-width: 320px) {
        top:87% !important;
    }
}


.cookie-policy {
    &.active {
        @media screen and (max-width: 1024px) {
            margin-top: 0px !important;
        }
    }
}

.float-right {
    width:auto;
    float:right;
}

.spacing-bottom {
    margin-bottom:50px !important;
}


.banner-edit-point {
    .edit-point {
        margin-left:150px;
    }
}