//////////////////////////////////////////////////
//theme colors
//////////////////////////////////////////////////
$theme--color--primarypurpleTransparent: transparent;
$theme--color--gold: #FED500;
$theme--color--copytext: #ffffff;
$theme--color--primarypurple: #6F37A1;
 $theme--color--secondarypurple: #301158;
$theme--color--primarygreen: #AFD81D;
$theme--color--gradientstart: #8F40A1;
$theme--color--dark-contrast: #582B80;
$theme--color--support: #969696;
$theme--mainbg-color:#411973;


/////////////////////////////////////////////
// override styles porquey mariaaaa
//////////////////////////////////////////////////
// COMPILE WITH ./generateCSS.sh
////////////// font familty set
//   font-weight: normal;
////////////////////////////////////////
// resets and defaults //
.clearfix {
    clear: both;
}

.padding--top--20 {
    padding-top: 20px;
}

%margin--bottom--50 {
    margin-bottom: 50px;
}

%padding--top--0 {
    padding-top: 0;
}


 .promotion-eng .promotion-eng__content .promotion-eng__title,
 .promotion-eng__content .promotion-eng__title a,
 .promotion-eng .promotion-eng__footer .promotion-eng__read-more,
 .promotion-eng__content,
 .tabs-content,
 .promotion-eng__footer,
 .promotion-eng .promotion-eng__content .promotion-eng__title h1,
 .lobby-wrap__content-box__header .title.hasicon .title__text.messages-section,
 .text-partial > h1,
 .logolead h1.section__title,
 .logolead .title__text,
 .lobby-wrap__content-box__header .title.hasicon .title__text {
     @extend %theme-text-capitalise;
 }

 //////////////////////
 //center text///
 /////////////////////
 .login-box h1 {
     text-align: center;
 }

 //////////////////////////////
 // page header
 //////////////////////////////

 .inner-wrap {
     &:before {
         @extend %theme--header-background-fullbleed;
     }
 }

 .site-logo {
     @media #{$small-only} {
        width: 110px;
         max-width: 110px !important;
     }
     @media #{$medium-only} {
        width: 190px;
         max-width: 190px !important;
     }
 }

 // mobile logo size
 a.site-logo.ui-go-home-logo.menu-link {
    background-size: 55%;
    background-position: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 40px;

    .cookie-policy-active & {
        top: 86%;
        @media only screen and (min-width: 320px ) and ( max-width: 480px ){
             top: 90%;
        }
    }

     @media #{$small-only} {
         background-size: 88%;
     }
 }

 ///////////////////////
 // home page slider
 //////////////////////////
 // fspace out  favorite title for slider
 .section,
 .feature-slots li {
     padding-top: 0;
 }

 .offer-container {
     margin-bottom: 20px;
 }

 ul.section.container.feature-slots,
 ul.section.container.feature-slots li {
     @media #{$large-only} {
         padding-top: 0 !important;
     }
 }

 //////////////////////////////
 // registration page
 //////////////////////////////
 .registration,
 .text-partial {
     background-color: transparent;
     color: $theme--color--copytext;
     border: 0;
     label {
         color: $theme--color--copytext;
     }
 }

 /////////////////////////
 ////////stepper /////////
 .registration-3step .content .banner img {
     clear: both;
     display: table;
     text-align: center;
     float: none;
     margin: 20px auto;
 }

 .registration-3step .content {
     width: 100%;
     &:before {
         @extend %theme--header-background-fullbleed;
         height: 45px;
         @media #{$small-only} {
             display: block;
             // top: 46px;
         }
         @media #{$medium-only} {
             display: block;
             // top: 46px;
         }
     }
 }

 .registration-3step .content nav {
     background: $theme--color--primarypurple;
     width: 30%;
     text-align: center;
     margin: 0 auto;
     text-align: center;
     display: table;
     float: none;
     @media #{$small-only} {
         // margin-bottom: 60px;
         width: 90%;

     }
     @media #{$medium-only} {
         // margin-bottom: 60px;
         width: 50%;
     }
 }

 .registration-3step .content .banner {
     @media #{$medium-only} {
         padding-top: 0;
     }
     @media #{$small-only} {
         padding-top: 0;
     }
 }

 .registration-3step .content nav a.passed {
     background-color: $theme--color--primarypurple;
 }

 .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=tel] {
     padding-left: 84px !important;
 }

 // .intl-tel-input.separate-dial-code .selected-dial-code {
 //     height: 48px;
 // }

 //phone number flag positioning
 .registration-3step .field-wrap .intl-tel-input .selected-flag {
     top: 0;
 }

 // nav next button styling
 .registration-3step .register-3step-cta,
 .registration-3step .registerNextCta {
     box-shadow: none;
 }

 // nav position for desktop and mobile
 .registration-3step .content nav {
     @media #{$small-up} {
         position: relative;
     }
 }

 .registration-3step .content nav a.active,
 .registration-3step .content nav a.current,
 .registration-3step .content nav a {
     border-color: $theme--color--gold;
     background: $theme--color--primarypurple;
     text-decoration: none;
     span {
         color: $theme--color--copytext;
     }
 }

 .registration-3step .register-3step-cta,
 .registration-3step .registerNextCta {
     background: $theme--color--gold;
     color: $theme--color--primarypurple;
 }

 //////////////////////////////
 // global link color upstate
 //////////////////////////////
 .login-box__forgot-password {
     color: $theme--color--gold;
     &:hover {
         color: $theme--color--gold;
     }
 }

 ///////////////////////////
 ///// game tile styling
 ///////////////////////////
 .favourites .favourites__placeholder {
     border-color: transparent;
 }

 .leadlogo.title.hasicon .title__icon {
     display: block;
     width: 100%;
     float: none;
     text-align: center;
 }

 .lobby-wrap__content-box.lobby-wrap__content-box__header .title.hasicon {
     border: 2px solid red;
 }

 //////////////////////////////////////
 ////// HIDDEN ITEMS AND SECTIONS
 /////////////////////////////////////
 //remove fave logo
 // .breadcrumbs__row .breadcrumbs,
 // .breadcrumbs__row,
 .hideme,
 .footer-nav__container,
 .lounge__intro,
 .promotion-eng .tabs,
 .top-games-hub,
 .vegas-favourites a.view-all,
 .rocking-slots a.view-all,
 .lobby-wrap__content-box__header .title .title__message-inbox .title__message-inbox__icon,
 .lobby-wrap__content-box__header .title .title__message-inbox .title__message-inbox__value,
 .games-navigation.middle-content__box, // .game-detail__wrap, // hide game details
 .tabs .ui-promo-tab-1000-xmas-giveaway,
 .balance-area__right,
 .tabs.ui-promo-tab-welcome-offer,
 .icons-star--on,
 .icons-star--off,
 .lobby-wrap__content-box__header .title.hasicon .title__link,
 .featured-category-dd,
 .categories-slots-wrap,
 .feature-slots li h3,
 ._author-block {
     display: none !important;
 }

 // hide only for mobile
 .game-detail__wrap {
     @media #{$small-only} {
         display: none;
     }
 }

%padding--5--20 {
    padding: 5px 20px;
}

$fs-20px: 20px;
$fs-15px: 15px;
$fs-10px: 10px;
$fs-16px: 16px;
$fs-tcs: 13px;
.seo h1 {
    font-family: $heading-font-bold;
    font-size: rem-calc( $fs-20px);
}


//////////////////////////////////////////////////
//placeholder and mixins
///////////////////////////////////////////
%theme--link--hover {
    color: $theme--color--gold;
    &:hover,
    &:focus {
        color: $theme--color--gold;
        text-decoration: underline;
    }

    .current {
        text-decoration: underline;
    }
}

//primary purple  button  for login/play ect
%theme---button---primary-purple {
    border: 1px solid $theme--color--gold !important;
    background: $theme--color--primarypurpleTransparent;
    border-radius: 100px;
    color: $theme--color--gold !important;
    text-shadow: none;
    padding: 10px 20px;
    text-decoration: none !important;
    line-height: 1.7;
    &:hover {
        color: $theme--color--gold!important;
        background: $theme--color--primarypurpleTransparent;
    }
    a {
        color: $theme--color--gold!important;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: $theme--color--gold;
            background: $theme--color--primarypurpleTransparent;
        }
    }
}

//primary yellow button  for join now
%theme--button--primary-yellow {
    border: 1px solid $theme--color--gold !important;
    background: $theme--color--gold;
    border-radius: 100px;
    color: $theme--color--primarypurple !important;
    text-shadow: none;
    text-decoration: none !important;
    &:hover {
        color: $theme--color--primarypurple!important;
    }
    a {
        color: $theme--color--primarypurple!important;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: $theme--color--primarypurple;
        }
    }
}

// primary green button
%theme--button-primary-green {
    background: $theme--color--primarygreen;
    background-color: $theme--color--primarygreen;
    border-radius: 100px;
    text-shadow: none;
    box-shadow: none;
    color: $theme--color--primarypurple;
    border: 0;
    padding: 10px 20px;
    text-decoration: none;
    line-height: 1.7;
    &:hover {
        color: $theme--color--primarypurple;
        text-decoration: none;
        background-color: $theme--color--primarygreen;
    }
    a {
        color: $theme--color--primarypurple;
        text-decoration: none;
        box-shadow: none;
        &:hover {
            text-decoration: none;
            color: $theme--color--copytext;
            background-color: $theme--color--primarygreen;
        }
    }
}

// secondary green button
%theme--button-secondary-green {
    background: transparent;
    background-color: transparent;
    border-radius: 100px;
    text-shadow: none;
    text-transform: capitalize;
    box-shadow: none;
    color: $theme--color--primarygreen;
    border: 1px solid $theme--color--primarygreen;
    text-decoration: none;
    line-height: 1;
    &:hover {
        color: $theme--color--primarygreen;
        text-decoration: none;
        background-color: transparent;
    }
    a {
        color: $theme--color--primarygreen;
        text-decoration: none;
        box-shadow: none;
        text-transform: capitalize;
        &:hover {
            text-decoration: none;
            color: $theme--color--primarygreen;
            background-color: transparent;
        }
    }
}

%theme--page-background {
    background: $theme--mainbg-color;
}

%theme--background--darkest {
    background-color:   $theme--color--secondarypurple;
    background:   $theme--color--secondarypurple;
}

%theme--background--primarypurple {
    // background-color: $theme--color--primarypurple;
    background:$theme--color--secondarypurple;

}

%theme--background--transparent--textwhite {
    background-color: transparent;
    background: transparent;
    border: 0;
    p {
        color: $theme--color--copytext;
   font-size: 0.875rem;
    }
}

%theme--background--chevron {
    background: url('../_images/common/icons/link-arrow-transform.svg') no-repeat !important;
    background-size: 40px 40px !important;
    background-repeat: no-repeat !important;
    background-position: 90% 50% !important;
}

%theme--background--chevron-open {
    background: url('../_images/common/icons/link-arrow.svg') no-repeat !important;
    background-size: 40px 40px !important;
    background-repeat: no-repeat !important;
    background-position: 90% 50% !important;
}

%theme--mobilemenu--background-item {
    border-bottom: 1px solid $theme--color--primarypurple;
    background-color: $theme--color--dark-contrast;
    box-shadow: none;
    text-align: center;
    text-transform: capitalize;
    background-position: 15%;
}

%theme--header-background-fullbleed {
    &:before {
        content: ' ';
        @media #{$small-only} {
            display: none;
        }
        @media #{$medium-only} {
            display: none;
        }
    }
}

%theme--icon--casheir--button {
    &:before {
        position: absolute;
        content: ' Cashier ';
        display: block;
        color: $theme--color--primarypurple;
        background: $theme--color--primarygreen;
        border-radius: 100px;
        padding: 10px 20px;
        top: 3px;
   right: -14px;
        font-weight: normal;
        line-height: 1; // placeholder this
    }
}

//mini reset
#cashier.no-background {
    padding: 0;
    background-color: none;
    background: none;
}

////////////////////////////////////////
////////////// form placeholder  styling
////////////////////////////////////////
@mixin placeholder {
    ::-webkit-input-placeholder {
        @content
    }
    :-moz-placeholder {
        @content
    }
    ::-moz-placeholder {
        @content
    }
    :-ms-input-placeholder {
        @content
    }
}

@include placeholder {
    color: #9B9B9B;
    padding-left: 10px;
}

a.edit-point {
    //display: none!important;
}

%fullwidth {
    width: 100% !important;
    max-width: 100% !important;
}

.fullwidth {
    @extend %fullwidth;
}

.display--block {
    display: block;
}

//////////////////////////////
//// root global link colors  links gold//
/////////////////////////////
@at-root {
    a,
    a:hover,
    .promotion-eng .promotion-eng__footer .promotion-eng__read-more,
    .feature-slots a.view-all,
    .seo p:after,
    .lobby-wrap__content-box__header .title.hasicon .title__link a,
    .text-partial .text-partial-content p a,
    .error-page .error-page__suggestion a,
    .error-page .error-page__text a,
    a.title__viewall--featured-games {
        @extend %theme--link--hover;
    }
}

////////////////////////////////
/// Buttons /////
///////////////////////////////
///primarry  purple button
.login-button--nav-for-desktop,
.nav-for-mobile > a.login-button--nav-for-mobile.menu-link,
a.button.postfix.registercta,
.lobby-play-button,
.promo__container__cta a.cta-join,
.promotion-eng .promotion-eng__footer .promotion-eng__play-now,
.lobby-wrap__content-box__header .button.dropdown,
a.promo__cta.join-now,
button.cancel-button,
button#btn_submit_forgotpass,
#btn_submit_forgotpass,
.welcome-post-reg__modal .welcome-post-reg__content section ul li .claim-wrap .play-cta,
.welcome-post-reg__modal .welcome-post-reg__content section ul li .claim-wrap .deposit-cta,
.lobby-claim-cashback .lobby-claim-cashback-button,
.winner-game .winner-game__right-btnJoinnow {
    @extend %theme---button---primary-purple;
    @extend %theme-text-capitalise;
}

///primarry yellow button
.join-now-button--top-nav {
    @extend %theme--button--primary-yellow;
    @extend %theme-text-capitalise;
}

.join-now-button--top-nav,
.login-button--nav-for-desktop {
    padding: 10px 20px;
}

/// vertical stacked spacing
.promotion-eng .promotion-eng__footer .promotion-eng__play-now.cta-full-width,
.promotion-eng .promotion-eng__footer .promotion-eng__optin.cta-full-width {
    padding-top: 10px;
    padding-bottom: 10px;
    @extend %theme-text-capitalise;
    width: 100%;
    line-height: 1.7;
}


 .promotion-eng .promotion-eng__footer .promotion-eng__play-now,
 .promotion-eng .promotion-eng__footer .promotion-eng__optin,
 .promotion-eng .promotion-eng__footer .promotion-eng__optin.active {
     width: 48%;
 }
////////////////////////////
/// primary button
/// green button  //  casheir desposit button
///////////////////////////////
.lobby-wrap .lobby-wrap__left .small-deposit-wrap .lobby-deposit-button,
.lobby-deposit-button,
li#cashier.no-background a,
.promo__cta.opt-in.active {
    @extend %theme--button-primary-green;
    @extend %theme-text-capitalise;
}

.small-deposit-wrap.lobby-deposit-button {
    width: 100% !important;
    float: left;
    @extend %theme-text-capitalise;
    color: $theme--color--primarypurpleTransparent;
}

// opt in buttons green
//////////////////////
.promotion-eng .promotion-eng__footer .promotion-eng__optin.active,
.promotion-eng .promotion-eng__footer .promotion-eng__optin.cta-full-width,
.promotion-eng .promotion-eng__footer .promotion-eng__optin,
.promo__container__cta a.cta-opt-in,
.winner-game .winner-game__right-btnPlaynow,
a.promo__cta.opt-in.active {
    @extend %theme--button-secondary-green;
    @extend %theme-text-capitalise;
    line-height: 1.7;
}

.promo__container__cta {}

/////////////////////////
// input styling
/////////////////////
input[type=text],
input[type="password"],
.registration input[type=text],
.registration input[type="password"],
.intl-tel-input.allow-dropdown input,
.registration select,
.registration input[type="email"],
.registration-3step .field-wrap .field-wrap__field {
    background: $theme--color--copytext;
    background-color: $theme--color--copytext;
    border-radius: 5px;
    height: 50px;
}

//rounding corners
.registration-3step .date input[name="dayOfBirth"] {
    border-radius: 50px 0 0 50px;
}

.registration-3step .date input[name="selectedYearOfBirth"] {
    border-radius: 0px 50px 50px 0px
}

.login-box__login {
    @extend %theme---button---primary-purple;
    padding: 15px 20px;
}

.login-box {
    h1 {
        color: $theme--color--copytext;
        border: 0;
    }
}

/////////////////////////////////////////
// background theme gradient for all pages
////////////////////////////////////////
main,
.inner-wrap,
.middle-content__box,
.reveal-modal,
.lobby-wrap,
.loyalty-top,
.recent-messages__switch,
.registration-3step .content,
.registration-3step .content .banner,
.welcome-post-reg__modal {
    @extend %theme--page-background;
    border: 0;
}
 main {
      margin-top: 100px;
}
////////////////////////
/// contrasting darker color
////////////////////////
.recent-messages__switch {
    background: #39245B;
    color: $theme--color--copytext;
}


////////////////////////////////////////
/////////////background wrappers transparent and white text
///////////////////////////////////////
.lobby-wrap__content-box__content .lobby-wrap__content-box__content__innerwrap--border,
.article,
.game-icon,
.promotion--featured .promotion__wrapper .promotion__content__wrapper,
.game-review,
.game-details-page,
.game-details-page .game-detail-wrap__title-bar,
.loyalty-vip-wrap,
.lobby-wrap__content-box,
.lobby-wrap__content-box__content,
.section .section__title,
.games-list .section__title,
.games-list,
.promotions-detail .promotion--featured .promotion__wrapper,
.myaccount-content .tabs,
.myaccount-content .tabs-content,
.balanceboxes,
.promotion-eng .promotion-eng__wrapper,
.promotion__terms-conditions,
.middle-content__box,
.lobby-claim-cashback,
.alert-box.secondary {
    @extend %theme--background--transparent--textwhite;
}

////////////////////////
/// contrasting darker color  varation
////////////////////////
.lobby-wrap__content-box,
.lobby-wrap__content-box__content,
.promotion-eng .promotion-eng__content,
.promotion-eng .promotion-eng__footer,
.progressive-jackpots__wrapper .progressive-jackpots .progressive-jackpots__title h1,
.yesterdays-win__wrapper .yesterdays-win .yesterdays-win__title h1,
.latest-winners__wrapper .latest-winners .latest-winners__title h1 {
    @extend %theme--background--primarypurple;
}

.lobby-wrap__content-box__content {
    @extend %theme--background--darkest;
}

//////////////////////////
////////// white font color
/////////////////////////
.lobby-wrap__content-box__header,
.lobby-wrap__content-box__header .button.dropdown,
.lobby-wrap__content-box__header .dropdown.login-box__login,
.lobby-wrap__content-box__header .dropdown.login-box__register,
.lobby-wrap__content-box__header .dropdown.login-box--in-page__login,
.lobby-wrap__content-box__header .dropdown.login-box--in-page__register,
.text-partial > h1,
.featured-category-dd,
.feature-slots a.view-all,
.vip-level-area,
.game-details-page .game-detail-content__right__game-table,
.game-details-page .game-detail-content__right__game-table > li .game-detail-content__right__game-table__title,
.game-details-page .game-detail__wrap h3,
.game-details-page .game-detail-content__right__game-table > li,
.game-detail-modal .game-detail__description h3,
.game-detail-modal .game-detail__description,
.game-detail-modal .game-detail__description h3,
.game-detail-modal .game-detail__description p,
.game-detail-modal > .game-detail-wrap__title-bar h1,
.community .section .section__header h1,
.community .games-list .section__header h1,
.community .section .section__header h1,
.community .games-list .section__header h1,
h1.community-heading,
.promotion-eng .promotion-eng__content .promotion-eng__title a,
.reveal-modal .close-reveal-modal,
.reveal-modal ol li,
.reveal-modal h4,
.section-left__title h4 span,
.start-claim-code h3,
.lobby-claim-cashback h1 {
    color: $theme--color--copytext;
    border-color: $theme--color--copytext;
    background-color: transparent;
    line-height: 1.4;
    &:hover {
        background: transparent;
        background-color: transparent;
    }
}

.vip-level-area{
   width: 100%;
   svg {
        width: 25px;
        display: inline-block;
        vertical-align: -0.5rem;
   }
   .vip-text {
        display: inline;
   }

}

//////////////////////
//capitalise text///
/////////////////////
%theme-text-capitalise {
    text-transform: capitalize;
    font-weight: bolder;
}

.promotion-eng .promotion-eng__content .promotion-eng__title,
.promotion-eng__content .promotion-eng__title a,
.promotion-eng .promotion-eng__footer .promotion-eng__read-more,
.promotion-eng__content,
.tabs-content,
.promotion-eng__footer,
.promotion-eng .promotion-eng__content .promotion-eng__title h1,
.lobby-wrap__content-box__header .title.hasicon .title__text.messages-section,
.text-partial > h1,
.logolead h1.section__title,
.logolead .title__text,
.lobby-wrap__content-box__header .title.hasicon .title__text {
    @extend %theme-text-capitalise;
}

.tabs-content {
     p {
          text-transform: initial;
     }
}

//////////////////////
//center text///
/////////////////////
.login-box h1 {
    text-align: center;
}

///////////////////////
// home page slider
//////////////////////////
// fspace out  favorite title for slider
.section,
.feature-slots li {
    padding-top: 0;
}


ul.section.container.feature-slots,
ul.section.container.feature-slots li {
    @media #{$large-only} {
        padding-top: 0 !important;
    }
}

//////////////////////////////
// registration page
//////////////////////////////
.registration,
.text-partial {
    background-color: transparent;
    color: $theme--color--copytext;
    border: 0;
    label {
        color: $theme--color--copytext;
    }
}

/////////////////////////
////////stepper /////////
.registration-3step .content .banner img {
    clear: both;
    display: table;
    text-align: center;
    float: none;
    margin: 20px auto;
}

.registration-3step .content {
    width: 100%;
    &:before {
        @extend %theme--header-background-fullbleed;
        height: 45px;
        @media #{$small-only} {
            display: block;
            // top: 46px;
        }
        @media #{$medium-only} {
            display: block;
            // top: 46px;
        }
    }
}

#join-now {
    .registration-3step .content {
    width: 100%;
    &:before {
        display: none;
        @media #{$small-only} {
            display: none;
            // top: 46px;
        }
        @media #{$medium-only} {
            display: none;
            // top: 46px;
        }
    }
}
}

 /////////////////////////////////////////////
 ////////////// svg color and fill ///////////
 ///////////////////////////////////////////
 .lobby-wrap__content-box__header .title.hasicon .title__icon #Desktop {
     fill: $theme--color--copytext;
 }

 /////////////////////////////////////////
 ///////my account
 ////////////////////////////////////////
 #myaccount-1 .balancebar a {
     color: $theme--color--primarygreen;
 }

 #myaccount-2 label,
 #myaccount-3 label {
     color: $theme--color--copytext;
 }

 .myaccount-promotions {
     width: 50%;
     float: right;
     margin-top: 18px;
     padding-right:0;

     @media #{$small-only} {
         width: 100%;
         padding:0;
     }
 }

 #my-account .balanceboxes {
        padding-left: 0!important;
    padding-right: 0 !important;
     width: 100%;
     display: inline-block;
     @media #{$medium-up} {
         width: 50%;
     }
 }

 .tabs-content > .content,
 .tabs-content > .content.active {

     @media #{$medium-up} {
         width: 100%;
         margin: 0 auto;
     }
 }

 .myaccount-details__column {
     @media #{$medium-up} {
         width: 100%;
     }
 }

 .start-claim-code {
     a.button.expand {
         @extend %theme---button---primary-purple;
     }
 }

 // myaccount menue tabs
 .myaccount-content .tabs,
 .start-claim-code {
     text-align: center;
     @media #{$medium-up} {
         // display: table;
         // margin: 0 auto;
         // text-align: center;
         // width: 640px;
     }
 }

 .myaccount-content .tabs dd a:hover {
     background: transparent !important;
     color: $theme--color--gold;
 }

 .myaccount-content .tabs dd {
     a {
         border-radius: 100px;
         border: 1px solid $theme--color--gold;
         background: transparent;
         text-align: center;
         color: $theme--color--gold;
         padding: 10px 10px;
         min-width: 200px;
         width: 100%;
         @media #{$medium-up} {
             min-width: 150px;
         }
     }
     &.active {
         a,
         a:hover {
             background-color: transparent;
             color: $theme--color--primarygreen;
             border: 1px solid $theme--color--primarygreen;
         }
     }
 }

 // my account personal details
 #myaccount-2 {
     input[type="text"]:disabled,
     select:disabled {
         background: transparent;
         border: 0;
         box-shadow: none;
     }
     .myaccount-details__column {
         width: 33.33333%;
         @media #{$small-only} {
             width: 100%;
         }
     }
 }

 #myaccount-5 {
     .myaccount-details__column {
         padding-left: 30%;
         padding-right: 30%;
         @media #{$small-only} {
             padding-left: 0%;
             padding-right: 0%;
         }
     }
 }

 ////////////////////////////////
 /// Buttons /////
 ///////////////////////////////
 ///primarry  purple button
 .login-button--nav-for-desktop,
 .nav-for-mobile > a.login-button--nav-for-mobile.menu-link,
 a.button.postfix.registercta,
 .lobby-play-button,
 .promo__container__cta a.cta-join,
 .promotion-eng .promotion-eng__footer .promotion-eng__play-now,
 .lobby-wrap__content-box__header .button.dropdown,
 a.promo__cta.join-now,
 button.cancel-button,
 button#btn_submit_forgotpass,
 #btn_submit_forgotpass,
 .welcome-post-reg__modal .welcome-post-reg__content section ul li .claim-wrap .play-cta,
 .welcome-post-reg__modal .welcome-post-reg__content section ul li .claim-wrap .deposit-cta,
 .lobby-claim-cashback .lobby-claim-cashback-button,
 .winner-game .winner-game__right-btnJoinnow {
     @extend %theme---button---primary-purple;
     @extend %theme-text-capitalise;
 }

 ///primarry yellow button
 .join-now-button--top-nav {
     @extend %theme--button--primary-yellow;
     @extend %theme-text-capitalise;
 }

 .join-now-button--top-nav,
 .login-button--nav-for-desktop {
     padding: 10px 20px;
 }

 /// vertical stacked spacing
 .promotion-eng .promotion-eng__footer .promotion-eng__play-now,
 .promotion-eng .promotion-eng__footer .promotion-eng__play-now.cta-full-width,
 .promotion-eng .promotion-eng__footer .promotion-eng__optin,
 .promotion-eng .promotion-eng__footer .promotion-eng__optin.active,
 .promotion-eng .promotion-eng__footer .promotion-eng__optin.cta-full-width {
     padding-top: 10px;
     padding-bottom: 10px;
     @extend %theme-text-capitalise;
     width: 100%;
     line-height: 1.7;
 }

 .promotion-eng .promotion-eng__footer .promotion-eng__play-now,
 .promotion-eng .promotion-eng__footer .promotion-eng__optin,
 .promotion-eng .promotion-eng__footer .promotion-eng__optin.active {
     width: 48%;
 }



 ////////////////////////////
 /// primary button
 /// green button  //  casheir desposit button
 ///////////////////////////////
 .lobby-wrap .lobby-wrap__left .small-deposit-wrap .lobby-deposit-button,
 .lobby-deposit-button,
 li#cashier.no-background a,
 .promo__cta.opt-in.active {
     @extend %theme--button-primary-green;
 }

 // my account buttons
 .balanceboxes #button_cashier {
     @extend %theme--button-primary-green;
 }

 .balanceboxes #playoverview {
     @extend %theme---button---primary-purple;
     line-height: 1.5;
 }

 .myaccount-transactions .green-cta {
     @extend %theme---button---primary-purple;
 }

 #playerdetails .button.expand {
     @extend %theme---button---primary-purple;
 }

 /////////////////////////////////////////
 //////// my messages
 //////////////////////////////////////////
 .lobby-wrap__content-box__header .button.dropdown {
     line-height: 1;
     position: relative;
     top: -7px;
     padding-left: 0;
 }

 .lobby-claim-cashback .lobby-claim-cashback-button,
 .lobby-deposit-button {
     height: auto;
     font-size: 14px;
 }

 /////////////////////////////////////////
 //////// start vip page  loyalty page
 //////////////////////////////////////////
 .lobby-claim-cashback.alert-box.secondary {
     background: $theme--color--primarypurple;
     border-radius: 5px;
     a.alert-box.close {
         color: white;
     }
 }

 li.loyalty-vip-wrap {
     @extend %theme--background--darkest;
     border-radius:5px;
 }

 .loyalty-vip-wrap .loyalty-vip-content .text-partial {
     @media #{$small-only} {
         margin-top: 30px;
         padding:10px;
         h1 {
             border-bottom: 0;
         }
     }
 }

 .loyalty-vip-wrap .loyalty-vip-img {
     position: relative;
     @media #{$small-only} {
         padding: 0;
         &:after {
             position: absolute;
             content: ' ';
             background: url('../_images/logo/vip-badge2.png') no-repeat;
             height: 80px;
             width: 80px;
             display: block;
             top: 85%;
             left: 40%;
             background-position: center;
             background-size: 80%;
         }
     }
 }

 .loyalty__terms-conditions .accordion-navigation.active,
 .loyalty__terms-conditions .accordion-navigation .content.active {
     @extend %theme--background--transparent--textwhite;
     color: $theme--color--copytext;
     .loyalty__terms-conditions .accordion {
         @extend %theme--background--transparent--textwhite;
         .accordion .accordion-navigation.active > a,
         .accordion dd.active > a {
             @extend %theme--background--transparent--textwhite;
         }
     }
 }

 /////////////////////////////////////////
 //////// footer
 //////////////////////////////////////////
 .footer {
     background: $theme--color--copytext;
 }

 .footer__row__left {
     text-align: left !important;
 }

 .footer__nav.social-share-links {
     float: right;
 }

 //////////////////////////
 ////// 404 page
 ///////////////////////////
 .error-page {
     @extend %theme--background--transparent--textwhite;
 }

 .error-page .error-page__text {
     top: 10%;
     left: 0;
     width: 50%;
     float: left;
     background: none;
     color: $theme--color--copytext;
     @media #{$small-only} {
         position: relative;
         width: 100%;
     }
     p,
     h1 {
         text-align: left;
         color: $theme--color--copytext;
         @media #{$small-only} {
             text-align: center;
         }
     }
     a {
         @extend %theme--link--hover;
     }
 }

 .error-page .error-page__msg {
     font-size: rem-calc($fs-15px);
 }

 .error-page .error-page__image {
      float: right;
      @media #{$small-only} {
           max-height: 190px;
           width: 100%;
      }
      img {
           @media #{$small-only} {
                width: 60%;
                height: 80%;
                margin-left: 20%;
                margin-top: 10%;
           }
           @media #{$medium-only} {
                width: 50%;
                text-align: center;
                margin: 0 auto;
                text-align: center;
                display: table;
                float: none;
                @media #{$small-only} {
                     // margin-bottom: 60px;
                }
                @media #{$medium-only} {
                     // margin-bottom: 60px;
                }
           }
      }
}

.registration-3step .content .banner {
    @media #{$medium-only} {
        padding-top: 0;
    }
    @media #{$small-only} {
        padding-top: 0;
    }
}

.registration-3step .content nav a.passed {
    background-color: $theme--color--primarypurple;
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=tel] {
    padding-left: 84px !important;
}

.intl-tel-input.separate-dial-code .selected-dial-code {
    // height: 48px;
    color: $black;
}

.country-name {
     color: $black;
}

.registration-3step {
     .findaddress {
         margin-top: 45px;
         background-color: $theme--color--primarypurple;
         color: $theme--color--gold;
     }
}

//phone number flag positioning
.registration-3step .field-wrap .intl-tel-input .selected-flag {
    top: 0;
}

// nav next button styling
.registration-3step .register-3step-cta,
.registration-3step .registerNextCta {
    box-shadow: none;
}

.button.register-3step-cta {
     opacity: 0;
     animation: 1s linear forwards show;
}

@keyframes show {
     0% {
          opacity: 0;
     }
     99% {
          opacity: 0;
     }
     100% {
          opacity: 1;
     }
}

// nav position for desktop and mobile
.registration-3step .content nav {
    z-index: 1;
    @media #{$small-up} {
        position: relative;
    }
}

.registration-3step .content nav a.active,
.registration-3step .content nav a.current,
.registration-3step .content nav a {
    border-color: $theme--color--gold;
    background: $theme--color--primarypurple;
    text-decoration: none;
    span {
        color: $theme--color--copytext;
    }
}

.registration-3step .register-3step-cta,
.registration-3step .registerNextCta {
    background: $theme--color--gold;
    color: $theme--color--primarypurple;
}

.registration-3step .register-3step-cta.create-account-cta,
.registration-3step .registerNextCta.create-account-cta {
     background: $theme--color--gold;
     color: $theme--color--primarypurple;
}

//////////////////////////////
// global link color upstate
//////////////////////////////
.login-box__forgot-password {
    color: $theme--color--gold;
    &:hover {
        color: $theme--color--gold;
    }
}

///////////////////////////
///// game tile styling
///////////////////////////
.favourites .favourites__placeholder {
    border-color: transparent;
}

.leadlogo.title.hasicon .title__icon {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
}

.lobby-wrap__content-box.lobby-wrap__content-box__header .title.hasicon {
    border: 2px solid red;
}

//////////////////////////////////////
////// HIDDEN ITEMS AND SECTIONS
/////////////////////////////////////
//remove fave logo
.hideme,
.footer-nav__container,
.lounge__intro,
.promotion-eng .tabs,
.top-games-hub,
.vegas-favourites a.view-all,
.rocking-slots a.view-all,
.lobby-wrap__content-box__header .title .title__message-inbox .title__message-inbox__icon,
.lobby-wrap__content-box__header .title .title__message-inbox .title__message-inbox__value,
.games-navigation.middle-content__box, // .game-detail__wrap, // hide game details
.tabs .ui-promo-tab-1000-xmas-giveaway,
.balance-area__right,
.tabs.ui-promo-tab-welcome-offer,
.icons-star--on,
.icons-star--off,
.lobby-wrap__content-box__header .title.hasicon .title__link,
.featured-category-dd,
.categories-slots-wrap,
.feature-slots li h3,
._author-block {
    display: none !important;
}

// hide only for mobile
.game-detail__wrap {
    @media #{$small-only} {
        display: none;
    }
}



///////////////////////////
// game detail
///////////////////////////
// hide game title
.game-detail-wrap__title-bar {
    display: none;
}

a.back-to-games {
    text-decoration: underline;
}

.game-details-page .game-detail-content {
    @media #{$small-only} {
        margin-top: 20px;
    }
}

.game-review .game-review__content__title {
    border-bottom: none;
    a,
    small {
        color: $theme--color--copytext;
    }
}

//game tiles
.game-icon__bottom {
    background: #63318F;
    border-radius: 0 0 5px 5px;
}

.games-list .games-list__grid__child {
    padding-bottom: 10px;
    //set tile width to be 95% so natural spacing comes through
}

/////////////////////
//nav and mobile nav
/////////////////////
// mobile nave icons
.mobile-menu-item a.active {
    color: $theme--color--gold;
}

.dash-link {
    background-image: url('../_images/common/mobile-menu-icons-svg/dashboard.png') !important;
}

.banking-link {
    background-image: url('../_images/common/mobile-menu-icons-svg/bank.png') !important;
}

.home-link {
    background-image: url('../_images/common/mobile-menu-icons-svg/home.svg');
}

.loyalty-link {
    background-image: url('../_images/common/mobile-menu-icons-svg/loyalty.png') !important;
}

.community-link {
    background-image: url('../_images/common/mobile-menu-icons-svg/winner.png') !important;
}

.feature-slots a.view-all {
    background: none;
    padding: 0;
    text-decoration: underline;
}

.footer--design--viewall {
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: underline;
    clear: both;
    margin-top: 20px;
   margin-bottom: 20px;
}

.menu-toggle-wrap .burger.active {
    border: 0;
}

// bread crumb
.nav-page-active {
    border-bottom: 2px solid $theme--color--gold;
}

.nav-for-mobile {
    background: $theme--color--primarypurple;
    z-index: 3;
}

.icons__deposit {
    position: relative;
    @extend %theme--icon--casheir--button;
}

//mobile nav login button position right:
.nav-for-mobile > a.login-button--nav-for-mobile.menu-link {
position: absolute;
   right: 10px;
   padding: 10px 20px;
   margin: 0;
   display: block;
   line-height: 0.6;
   top: 9px;
   text-transform: capitalize;
}

.cookie-policy-active {
     .nav-for-mobile > a.login-button--nav-for-mobile.menu-link {
          top: 79%;
          @media only screen and (min-width: 320px) and (max-width: 480px) {
               top: 85%;
          }
     }
}

// burger
.menu-toggle-wrap {
    float: none!important;
}

.mobile-menu,
.mobile-menu-top-area {
    //eft: 0;
}

// menu item hover styles
.mobile-menu .mobile-menu-item a {
    padding-left: 100px;
    text-align: left;
    font-size: rem-calc($fs-15px); // placer holder here
    font-weight: normal; // placer holder here
    &:hover {
        color: $theme--color--gold;
    }
}

.mobile-menu .mobile-menu-item .tabs .tab__item {
    padding-left: 0;
    text-align: center;
}

///nested accordian
.nestedmenu-item-expand--parent {
    .accordion .accordion-navigation > a,
    .accordion .accordion-navigation.active > a {
        color: $theme--color--copytext;
        background: transparent;
        height: 50px;
        padding: 1rem;
        position: relative;
        text-align: center;
        line-height: 1.0;
    }
    .accordion .accordion-navigation > .content.active,
    .accordion dd > .content.active {
        padding: 0;
    }
    //accordian menue popout
    .content {
        background: transparent;
        padding: 0;
        ol {
            margin-left: 0;
        }
    }
}

///nested accordian background
.nestedmenu-item-expand--parent .accordion .accordion-navigation.active > a {
    padding-left: 100px; // mobile menu standard
    text-align: left;
    font-weight: normal; // placer holder here
    text-decoration: none!important;
    // font-family: $set_ff_global;
    text-transform: capitalize;
    color: $theme--color--copytext;
    // font-family: $set_ff_global;
    font-size: rem-calc($fs-15px); // placer holder here
    @extend %theme--background--chevron;
}

///nested accordian background
.nestedmenu-item-expand--parent .accordion .accordion-navigation {
    position: relative;
    &:before {
        content: ' ';
        height: 50px;
        width: 50px;
        position: absolute;
        left: 42px;
        top: 0;
        display: block;
        background-image: url('../_images/common/mobile-menu-icons-svg/info.svg') !important;
        background: no-repeat;
        background-position: center;
        background-size: 40%;
    }
}

.nestedmenu-item-expand--parent .accordion .accordion-navigation > a {
    padding-left: 100px; // mobile menu standard
    text-decoration: none;
    text-align: left;
    font-weight: normal;
    // font-family: $set_ff_global;
    text-transform: capitalize;
    color: $theme--color--copytext;
    // font-family: $set_ff_global;
    font-size: rem-calc($fs-15px);
    @extend %theme--background--chevron-open;
}

.icons__deposit {
    right: 20px;
    position: absolute;
}

.cashier-buttonstyle {
    background: $theme--color--primarygreen;
    border-radius: 100px;
    width: 120px;
    padding: 0;
    text-align: center;
    box-shadow: none;
    float: right;
    text-transform: capitalize;
    a {
        color: $theme--color--copytext;
        &:hover {
            color: $theme--color--copytext;
        }
    }
}

.cashier__section__description,
.cashier__section {
    p,
    ul {
         color: #4C4C4C;
                 font-size: rem-calc($fs-15px);
    }
}

.mobile-menu-top-area__balance {
    margin: 0 auto;
    text-align: center;
    float: none;
    width: 100%;
    background: #4C256E;
    color: $theme--color--copytext;
    padding: 5px;
    text-align: center;
}

.mobile-menu .mobile-menu-item.moreinfo-menu {
    text-align: center;
    color: $theme--color--copytext;
    min-height: auto;
    padding: 0;
    text-transform: capitalize;
    .moreinfo-menu-link {
        color: $theme--color--copytext;
        // font-family: $set_ff_global;
        font-size: 20px;
    }
}

.mobile-menu .mobile-menu-item.moreinfo-menu .moreinfo-menu-link {
    background: $theme--color--dark-contrast;
}

.mobile-menu {
    background-color: $theme--color--dark-contrast;
    padding: 40px 0 50px 0;
    z-index: 2;
}

.menu-toggle-wrap .burger,
.menu-toggle-wrap .burger:before,
.menu-toggle-wrap .burger:after {
    background: $theme--color--copytext;
}

// balance color background: #4B236F ;
.mobile-menu .mobile-menu-item {
    @extend %theme--mobilemenu--background-item;
}

//embeded information list properties
#panelTC li.mobile-menu-item {
    height: auto !important;
}

.mobile-menu-top-area__balance .inner span {
    margin-left: 10px;
    font-size: 16px;
}

.mobile-menu-top-area__balance .inner.balance-bg {
   margin-top: 10px;
   /* margin-left: -24px; */
   font-size: 0.9375rem;
   height: inherit;
   /* line-height: 3; */
   text-transform: capitalize;
//    background-image: url(../_images/common/icons/deposit-white.png);
//    background-repeat: no-repeat;
//    background-position: 14%;
}

.mobile-menu-list {
    margin-top: 20px;
}

.mobile-menu-lists {
    overflow-x: hidden;
}

///////////////////////////////
// mobile menu join now button
////////////////////////////////
.cta-bottom-wrap {
    .cta-bottom {
        padding: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 414px;
        width: 100%;
        height: auto;
        z-index: 1;
        background: none;
        .mobile-menu-top-area__join a {
            @extend %theme--button--primary-yellow;
            border-radius: 0;
            text-transform: capitalize;
            height: 60px;
            padding-top: 7px;
            text-decoration: none;
        }
    }
    .fullwidth {
        position: fixed;
        @media #{$large-up} {
            display: none;
        }
    }
}

//Join now for mobile (top Burger menu)
.cta-top-wrap {
    .cta-top {
        padding: 0;
        position: relative;
        left: 0;
        margin-top: -10px;
        max-width: 414px;
        width: 100%;
        height: auto;
        z-index: 1;
        background: none;
        .mobile-menu-top-area__join a {
            @extend %theme--button--primary-yellow;
            border-radius: 0;
            text-transform: capitalize;
            height: 60px;
            padding-top: 7px;
            text-decoration: none;
        }
    }
    .fullwidth {
        position: fixed;
        @media #{$large-up} {
            display: none;
        }
    }
}

/////////////////////////////////////
//// mobile nav vip level
////////////////////////////////////
.mobile-menu-top-area__vip-level {
    width: 100%;
    float: none;
    position: relative;
}

.vip--level--wrapper {
    padding-left: 45px; // mobile menu standard
    background: #4C256E;
    color: $theme--color--copytext;
    display: block;
    border-radius: 0;
    margin: 0;
    padding-left: 0;
    text-align: center;
    padding: 15px 0;
    width: auto;
    padding-left: 10px;
    text-decoration: none;
    position: relative;
    &:before {
        content: ' ';
        position: absolute;
        top: 14px;
        left: 14%;
        display: block;
        width: 50px;
        height: 50px;
        background: url('../_images/logo/kingJack-Icon.svg') no-repeat;
        background-size: 60%;
    }
    * {
        text-decoration: none;
        font-family: $body-font-regular;
        font-weight: normal;
        font-size: 1rem;
        text-transform: capitalize;
    }
}

// end mobile nave level
/////////////////////////////
.welcome-area__top__right {
    .vip-level-area .level-1,
    .vip-level-area .level-0,
    .vip-level-area .level-2,
    .vip-level-area .level-3,
    .vip-level-area .level-4,
    .vip-level-area .level-5 {
        background-image: none;
        display: inline-block;
        font-size: $fs-15px;
        text-align: right;
        position: relative;
        padding: 0;

        &:before {
            content: ' ';
            position: absolute;
            bottom: 0;
            left: 30px;
            // display: block;
            // width: 30px;
            // height: 30px;
            // background: url('../_images/logo/kingJack-Icon.svg') no-repeat;
            // background-size: 100%;
            // background-position: center;
            @media #{$small-only} {
               left: 0px;
            }
            @media #{$medium-only} {
               left: 0px;
            }
        }
    }
}

.lobby-claim-cashback,
.alert-box.secondary {
    @extend %theme--background--transparent--textwhite;
}

.lobby-wrap .tabs-content > .content {
    width: 100%;
}

////////////////////////////////
// mobile nav lout out
////////////////////////////////
.mobile-menu .mobile-menu-item.logout-link {
    padding-bottom: 120px;
    background-position: 15% 15%;
}

//////////////////////
///////// start page
//////////////////////
// right column
.lobby-wrap .lobby-wrap__right {
    @media #{$large-only} {
        // margin-top: 75px;
    }
}

// play and desposit button top of page
.lobby-wrap .lobby-wrap__left .small-deposit-wrap .lobby-deposit-button,
.lobby-wrap .lobby-wrap__left .small-deposit-wrap .lobby-play-button {
    line-height: 1.7 !important;
    margin: 0;
    width: 100%;
}

.lobby-wrap .lobby-wrap__left .small-deposit-wrap {
    padding-left: 0;
    padding-right: 0;
    width: 48%;
}

.lobby-wrap .lobby-wrap__left .small-deposit-wrap .lobby-deposit-button a,
.lobby-deposit-button a,
li#cashier.no-background a a,
.promo__cta.opt-in.active a,
.balanceboxes #button_cashier a {
    font-weight: bold;
    color: $theme--color--primarypurple;
}

.dropdown.button.tiny::after,
.dropdown.tiny.login-box__login::after,
.dropdown.tiny.login-box__register::after,
.dropdown.tiny.login-box--in-page__login::after,
.dropdown.tiny.login-box--in-page__register::after,
button.dropdown.tiny::after {
    border-color: $theme--color--gold transparent transparent transparent !important;
}

.featured-games > .tabs dd {
    background-image: none;
    box-shadow: none;
    margin-right: 0.875rem;
}

// last played
a.last-played-toggle:hover,
.bottom-last-played,
.last-played-toggle.minimized {
    background-image: none;
    background: $theme--color--gold;
    .last-played-container-title {
        text-shadow: none;
        color: #000000;
    }
}

a.last-played-toggle {
    color: #000000;
    text-shadow: none;
    font-family: $heading-font-bold;
    background: $theme--color--gold;
    right: 0;
    padding: 1px 45px;
    &:hover {
        color: #000000;
        text-decoration: none;
    }
}

.lobby-wrap__content-box__header,
.lobby-wrap__content-box__header:hover {
    background: $theme--color--primarypurple;
}

.lobby-wrap__content-box__content {
    background: #582B80 !important;
}

//promotion tiles full width for copy
.promotion-eng .promotion-eng__content .tabs-content .content {
    margin: 0;
    width: 100%;
}

.promotion--featured .promotion__content__wrapper {
    @extend %padding--top--0;
}

//////////////
//community winners
////////////////////////
.winner-game {
    background: transparent;
    border: 1px solid $theme--color--gold;
    h4,
    span,
    h4 span {
        color: $theme--color--copytext;
    }
    .button.winner-game__right-btnJoinnow,
    .button.winner-game__right-btnPlaynow {
        display: block;
        width: 100%;
        line-height: 0;
        padding: 10px 10px;
    }
    .button.winner-game__right-btnJoinnow {
        margin-top: 10px;
    }
}

.community-nav__container dd,
.community .section .section__header h1 {
    display: none;
}

.community .section .section__header h1[itemprop="name"] {
    display: block;
}

// community page wrap
.community .two-columns-content-wrap__left {
    background: transparent;
    border: 0;

    article.article {
        @extend %theme--background--primarypurple;
        background-image: none;
        border: 0;
        border-radius: 5px;
        @media #{$small-only} {
            margin-bottom: 10px;
        }
    }
    //set winner titles to white
    .article .article__content__title > a,
    .article .article__content__date {
        color: $theme--color--copytext;
            padding-top: 10px;
   padding-bottom: 10px;
       margin-left: 10px;
    }
}

////////////////////////
//login page
////////////////////////
.login-box-modal .login-box-modal-content .login-box-modal-content__right .login-box > h1 {
    color: $theme--color--copytext;
    border-bottom: 0;
    @extend %theme-text-capitalise;
}

.login-box-modal {
     padding-left: .9375rem;
     padding-right: .9375rem;
     width: 100%;
     float: left;
     padding: 0;
     height: auto;
     &-content {
          padding-left: .9375rem;
          padding-right: .9375rem;
          width: 100%;
          float: left;
          margin-bottom: 8px;
          padding: 0;
          &__left {
               padding-left: .9375rem;
               padding-right: .9375rem;
               width: 58.33333%;
               float: left;
               padding: 0;
               margin: 0;
               position: relative;
          }
          &__right {
               padding-left: .9375rem;
               padding-right: .9375rem;
               width: 41.66667%;
               float: right;
          }
     }
}

.alertbox .cancel-cta,
.alertbox .ok-cta {
    border-radius: 100px;
    &:hover {
        color: $theme--color--primarypurple;
        border-color: $theme--color--primarypurple;
    }
}

.login-box__login {
    border-bottom: 1px solid $theme--color--gold;
    color: $theme--color--gold;
}

.login-box__register-link {
    display: none;
}

.login-box__show-password {
    border-radius: 10px;
        right: 10px;
   font-size: 12px;
padding: 5px 10px 5px 10px;
}

.text-partial h1 {
    &:before {
        display: none;
    }
}

.alertbox {
    background-color: #582B80 !important;
    top: 50%;
/*
    Will keep this documented in case something breaks
    @media #{$small-only} {
        top: 7%;
    }

      @media #{$medium-only} {
        top: 15%;
    }
    */

    h3 {
        color: #fed600;
    }

    p {
        color: #fff;
    }

    .ok-cta {
        color: #fed600;
        border: 2px solid #fed600;
    }
}

.lobby-wrap__content-box.copytitle {
    background: transparent !important;
    background-color: transparent !important;
    margin-bottom: 20px;
    position: relative;
    @media #{$small-only} {
        transform: translate(0, 0);
    }
}

//////////////////////////////
////logo  crown titles
//////////////////////////////
.logolead {
    margin-top: 20px;
    .title__icon {
        display: none;
    }
    h1.section__title,
    .title__text {
       text-transform: uppercase;
        color: $theme--color--copytext;
        position: relative;
        top: 5px;
        padding-top: 10px;
        text-align: center;
        float: none !important;
        font-size: rem-calc($fs-15px);
        &:before {
            content: ' ';
            position: absolute;
            top: 0px;
            left: 50%;
            display: block;
            width: 30px;
            height: 30px;
            background: url('../_images/logo/kingJack-Icon.svg') no-repeat;
            background-size: 100%;
            background-position: center;
            transform: translate(-50%, -50%);
        }
    }
    h1.section__title {
         padding-top: 20px;
         padding-bottom: 60px;
    }
    .text-partial h1:before {
        display: none;
    }
}

// game detail and dashboard start page fix
.lobby-wrap__content-box.copytitle .logolead .title__text,
.games-navigation .logolead .title__text {
    line-height: 2.5;
}

////////////////////////////
/// vertical rythem spacing
////////////////////////////
.login-box__form-wrapper {
    margin-top: 20px;
}

/////////////////////////
//////t&Cs styling
//////////////////////////
.promotion__terms-conditions {
    background: $theme--color--copytext;
}

.promotion__text_terms-wrapper {
    background: #1d0b2d;
    span,
    .promotion__text_terms {
        color: $theme--color--copytext;
    }
}


/////////////////////////////////
// promotions page
//////////////////////////////////
.promotion-eng {
    .promotion-eng__content {
        @media #{$large-only} {
            height: 200px;
        }
    }
    .promotion-eng__footer {
        bottom: 0;
        @media #{$large-only} {
            bottom: 90px;
        }
        border-radius: 0 0px 8px 8px;
    }
    .promotion-eng__footer .promotion-eng__read-more {
        text-align: left;
    }
    .promotion-eng__footer .promotion-eng__optin.cta-full-width,
    .promotion-eng__footer .promotion-eng__play-now.cta-full-width {
        width: 100%;
        margin: 0;
        line-height: 1.7;
    }
}

//promotions detail  list style
.promotions-detail ul {
    color: $theme--color--copytext;
}

//tablet view of promotion detail
.three-columns-equal.related-promos .promotion-eng {
     clear:right;
     float: right;
    @media #{$small-only} {
        display: none;
    }
    @media #{$medium-only} {
         float: right;
         width: 40%;
    }
}

// promotion detail padding:
.promotion--featured .promotion__wrapper .promotion__content__wrapper {
    @media #{$small-only} {
        padding: 0 10px;
    }
    @media #{$medium-only} {
        padding: 0 10px;
    }
}

/////////////////////////////////
// ts and c's promotion details
//////////////////////////////////
.promotions-detail {
    float: none; //testthis
}

.tcs--skin--wrap {
    .accordion-navigation,
    .promo__container__row,
    .promotion__terms-conditions,
    .accordion .accordion-navigation.active > a,
    .accordion dd.active > a,
    .accordion .accordion-navigation > .content.active,
    .accordion dd > .content.active,
    .promotion__terms-conditions .accordion,
    .promo__container__cta {
        background: transparent;
        background-color: transparent;
        color: $theme--color--copytext;
        padding: 0;
    }
    dd.accordion-navigation .active,
    dd.accordion-navigation {
        width: 100%;
        margin: 0;
        text-align: left;
        padding: 0;
    }
    a.tcs--skin--title {
        display: inline;
        text-align: left;
        padding: 0;
        background: transparent;
        color: $theme--color--copytext;
        &:hover {
             background: transparent;
             color: $theme--color--copytext;
        }
    }
    ol li a {
        display: inline;
        width: 100%;
        color: $theme--color--gold;
        font-size: rem-calc($fs-tcs)!important;
    }
}

.tcs:hover,
a.promotion-eng__terms {
    color: $theme--color--gold;
    &:hover,
    &:focus {
        color: $theme--color--gold;
    }
}

#disclaimer p {
    color: #4C4C4C!important;
}

/////////////////////////////////////////////
////////////// svg color and fill ///////////
///////////////////////////////////////////
.lobby-wrap__content-box__header .title.hasicon .title__icon #Desktop {
    fill: $theme--color--copytext;
}

/////////////////////////////////////////
///////my account
////////////////////////////////////////
#myaccount-1 .balancebar a {
    color: $theme--color--primarygreen;
}

#myaccount-2 label,
#myaccount-3 label {
    color: $theme--color--copytext;
}

.myaccount-promotions {
    width: 49%;
    float: right;
}

// <<<<<<< HEAD
//          }
 //         @media #{$large-up} {
 //             width: 70%;
 //             height: auto;
 //             text-align: center;
 //             margin: 0 auto;
 //             display: table;
 //                 margin-right: 10%;
 //    margin-top: 10%;
 //         }
 //     }
 // }

 .error-page .error-page__image img {
    width: 70%;
height: auto;
text-align: center;
margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
display: table;
margin-right: 15% !important;
margin-top: 15%!important;

 }

 //////////////////////////
 //////welcome page
 ///////////////////////////
 .welcome-post-reg__modal .welcome-post-reg__content section ul li .claim-wrap a.play-cta,
 .welcome-post-reg__modal .welcome-post-reg__content section ul li .claim-wrap a.deposit-cta {
     padding: 0 20px;
     border-color: $theme--color--primarypurple !important;
     color: $theme--color--primarypurple !important;
     font-size: rem-calc( $fs-16px);
     // text-transform: lowercase;
     &:hover {
         color: $theme--color--primarypurple !important;
     }
 }

 // welcome yellow
 .welcome-post-reg__modal .welcome-post-reg__content section.deposit .icon {
     background-image: url(../_images/common/icons/welcome-bonus.svg), linear-gradient(#FED500, #FED500)
 }

 // welcome green
 .welcome-post-reg__modal .welcome-post-reg__content section.bonus .icon {
     background-image: url(../_images/common/icons/welcome-tick.svg), linear-gradient(#7ed321, #7ed321)
 }

 .welcome-post-reg__modal .welcome-post-reg__content section ul li .claim-wrap .claim-container span {
     font-weight: bold;
 }

 .welcome-post-reg__modal .welcome-post-reg__content section ul li .claim-wrap .play-cta {
     color: $theme--color--primarypurple !important;
     border-color: $theme--color--primarypurple !important;
 }

 .welcome-post-reg__modal .header-wrap {
     background: $theme--mainbg-color;
 }

 .welcome-post-reg__modal .header-wrap .header-container .header-username {
     span {
         color: $theme--color--gold;
     }
     @media #{$small-only} {
         // padding: 60px 0;
         font-size: 14px;
         margin: 0;
         // width: 100%;
         display: block;
         text-align: center;
         background-position: 96% 10px;
         overflow: visible;
     }
 }

 .welcome-post-reg__modal .welcome-post-reg__content section h2 {
     margin-top: 30px;
 }

 // logo
 .welcome-post-reg__modal .logo {
     background: transparent url('../_images/logo/logo_onesizefitsall.svg') left center no-repeat;
     background-size: 50%;
     @media #{$small-only} {
         width: 130px;
         background-size: 70%;
     }
 }

 // welcome bg color
 .welcome-post-reg__modal .welcome-post-reg__content section.bonus .icon {
     background-image: $theme--color--primarypurple url('../_images/common/icons/welcome-tick.svg');
 }

 // welcome title text
 .welcome-post-reg__modal .welcome-post-reg__content section ul li .claim-wrap .claim-container span {
     color: $theme--color--primarypurple;
 }

 .welcome-post-reg__modal .welcome-post-reg__content section ul li .claim-wrap .play-cta {}

 //////////////////////////
 //////qucik deposit
 ///////////////////////////
 .quick-deposit-container {
     background-color: $theme--color--primarypurple;
     background: $theme--color--primarypurple;
 }

 .quick-deposit-container h1 {
     font-weight: normal;
     margin-top: 10px;
 }

 .quick-deposit-container_error {
     padding: 5px;
     color: $theme--color--copytext;
     a,
     a:focus,
     a:hover {
         color: $theme--color--gold;
     }
 }

 .quick-deposit-container__slider .qd-range-slider__wrapper .range-slider__slider #ui-withdrawal-slider .ui-slider-handle {
     background-color: $theme--color--gold;
 }

 .quick-deposit-container__bonustext .quick-deposit-container__bonustext__container {
     background-color: transparent;
 }

 .quick-deposit-container__slider .quick-deposit-container__slider__limits,
 .quick-deposit-container__bonustext .quick-deposit-container__bonustext__container span {
     color: $theme--color--copytext;
 }

 .quick-deposit-container__header .quick-deposit-container__header__card
 {
     background-color: $theme--color--primarypurple;
     border-top: 1px solid $theme--color--primarypurple;
 }

 .select-card {
     background-color: $theme--color--dark-contrast;
 }

 button.cancel-button.radius {
     padding: 0 20px;
 }

 .quick-deposit-container__header {
     background-color: $theme--color--primarypurpleTransparent;
     background: $theme--color--primarypurpleTransparent;
     border: 0;
 }

 .progressive-jackpots__wrapper .progressive-jackpots .progressive-jackpots__progressive .progressive-jackpots__progressive__cta > span {
     box-shadow: none;
     @extend %theme--button--primary-yellow;
     @extend %theme-text-capitalise;
     @extend %padding--5--20;
 }

 .progressive-jackpots__wrapper .progressive-jackpots .progressive-jackpots__progressive .progressive-jackpots__progressive__amount > span {
     font-weight: bold;
 }

 .lobby-wrap__content-box__content .featured-games {
     .tabs {
         display: none;
     }
 }

 .lobby-wrap__content-box__content .featured-games,
 .featured-games > .tabs dd > a {
     display: none;
 }

 .lobby-wrap .two-columns-content-wrap__right {
     @media #{$medium-up} {
     //     margin-top: 75px;
     }
 }
#my-account .tabs {
    margin-top: 20px;
    @media #{$medium-only} {
        margin-left: 15%;
    }
    @media #{$large-up} {
        margin-left: 10%;
    }
}

#my-account .balanceboxes {
    width: 100%;
    display: inline-block;
    @media #{$medium-up} {
        width: 50%;
    }
}

.tabs-content > .content,
.tabs-content > .content.active {
    @media #{$medium-up} {
        width: 100%;
        margin: 0 auto;
    }
}

.myaccount-details__column {
    @media #{$medium-up} {
        width: 100%;
    }
}

.start-claim-code {
    a.button.expand {
        @extend %theme---button---primary-purple;
    }
}

// myaccount menue tabs
.myaccount-content .tabs,
.start-claim-code {
    text-align: center;
    @media #{$medium-up} {
        // display: table;
        // margin: 0 auto;
        // text-align: center;
        // width: 640px;
    }
}

.myaccount-content .tabs dd a:hover {
    background: transparent !important;
    color: $theme--color--gold;
}

.myaccount-content .tabs dd {
    a {
        border-radius: 100px;
        border: 1px solid $theme--color--gold;
        background: transparent;
        text-align: center;
        color: $theme--color--gold;
        padding: 10px 10px;
        min-width: 200px;
        width: 100%;
        @media #{$medium-up} {
            min-width: 150px;
        }
    }
    &.active {
        a,
        a:hover {
            background-color: transparent;
            color: $theme--color--primarygreen;
            border: 1px solid $theme--color--primarygreen;
        }
    }
}

// my account personal details
#myaccount-2 {
    input[type="text"]:disabled,
    select:disabled {
        background: transparent;
        border: 0;
        box-shadow: none;
    }
    .myaccount-details__column {
        width: 33.33333%;
        @media #{$small-only} {
            width: 100%;
        }
    }
}

#myaccount-5 {
    .myaccount-details__column {
        padding-left: 30%;
        padding-right: 30%;
        @media #{$small-only} {
            padding-left: 0%;
            padding-right: 0%;
        }
    }
}

// my account buttons
.balanceboxes #button_cashier {
    @extend %theme--button-primary-green;
}

.balanceboxes #playoverview {
    @extend %theme---button---primary-purple;
    line-height: 1.5;
}

.myaccount-transactions .green-cta {
    @extend %theme---button---primary-purple;
}

#playerdetails .button.expand {
    @extend %theme---button---primary-purple;
}

/////////////////////////////////////////
//////// my messages
//////////////////////////////////////////
.lobby-wrap__content-box__header .button.dropdown {
    line-height: 1;
    position: relative;
    top: -7px;
    padding-left: 0;
}

.lobby-claim-cashback .lobby-claim-cashback-button,
.lobby-deposit-button {
    height: auto;
    font-size: 14px;
}

/////////////////////////////////////////
//////// start vip page  loyalty page
//////////////////////////////////////////
.lobby-claim-cashback.alert-box.secondary {
    background: $theme--color--primarypurple;
    border-radius: 5px;
    a.alert-box.close {
        color: white;
    }
}

li.loyalty-vip-wrap {
    @extend %theme--background--darkest;
    border-radius:5px;
}

.loyalty-vip-wrap .loyalty-vip-content .text-partial {
    @media #{$small-only} {
        margin-top: 30px;
        padding:10px;
        h1 {
            border-bottom: 0;
        }
    }
}

.loyalty-vip-wrap .loyalty-vip-img {
    position: relative;
    @media #{$small-only} {
        padding: 0;
        &:after {
            position: absolute;
            content: ' ';
            background: url('../_images/logo/vip-badge2.png') no-repeat;
            height: 80px;
            width: 80px;
            display: block;
            top: 85%;
            left: 40%;
            background-position: center;
            background-size: 80%;
        }
    }
}

.loyalty__terms-conditions .accordion-navigation.active,
.loyalty__terms-conditions .accordion-navigation .content.active {
    @extend %theme--background--transparent--textwhite;
    color: $theme--color--copytext;
    .loyalty__terms-conditions .accordion {
        @extend %theme--background--transparent--textwhite;
        .accordion .accordion-navigation.active > a,
        .accordion dd.active > a {
            @extend %theme--background--transparent--textwhite;
        }
    }
}

.loyalty__terms-conditions{
     &.accordion {
          padding-left: .9375rem;
          padding-right: .9375rem;
          width: 100%;
          float: left;
          padding: 0;
          margin-bottom: .875rem;
     }
     .accordion-navigation a {
          background-color: transparent;
          color: $theme--color--copytext;
          &:hover {
               background-color: transparent;
               color: $theme--color--copytext;
          }
     }
}


/////////////////////////////////////////
//////// footer
//////////////////////////////////////////
.footer {
    background: $theme--color--copytext;
}

.footer__row__left {
    text-align: left !important;
}

.footer__nav.social-share-links {
    float: right;
}

//////////////////////////
////// 404 page
///////////////////////////
.error-page {
    @extend %theme--background--transparent--textwhite;
}

.error-page .error-page__text {
    top: 10%;
    left: 0;
    width: 50%;
    float: left;
    background: none;
    color: $theme--color--copytext;
    @media #{$small-only} {
        position: relative;
        width: 100%;
    }
    p,
    h1 {
        text-align: left;
        color: $theme--color--copytext;
        @media #{$small-only} {
            text-align: center;
        }
    }
    a {
        @extend %theme--link--hover;
    }
}

.error-page .error-page__msg {
    font-size: rem-calc($fs-15px);
}

.error-page .error-page__image {
    float: right;
    @media #{$small-only} {
        max-height: 190px;
        width: 100%;
    }
    img {
        @media #{$small-only} {
               width: 60%;
   height: 80%;
   margin-left: 20%;
   margin-top: 10%;
        }
        @media #{$medium-only} {
   width: 50%;
   height: 53%;
   text-align: center;
   float: right;
   margin-top: 90px;
   margin-right: 40px;
   display: table;

        }
        @media #{$large-up} {
            width: 70%;
            height: auto;
            text-align: center;
            margin: 0 auto;
            display: table;
               margin-right: 30%;
   margin-top: 15%;
        }
    }
}

.error-page .error-page__image img {}

//////////////////////////
//////welcome page
///////////////////////////
.welcome-post-reg__modal .welcome-post-reg__content section ul li .claim-wrap a.play-cta,
.welcome-post-reg__modal .welcome-post-reg__content section ul li .claim-wrap a.deposit-cta {
    padding: 0.3125rem;
    border-color: $theme--color--primarypurple !important;
    color: $theme--color--primarypurple !important;
    font-size: .875rem;
    text-transform: uppercase;
    &:hover {
        color: $theme--color--primarypurple !important;
    }
}

// welcome yellow
.welcome-post-reg__modal .welcome-post-reg__content section.deposit .icon {
    background-image: url(../_images/common/icons/welcome-bonus.svg), linear-gradient(#FED500, #FED500)
}

// welcome green
.welcome-post-reg__modal .welcome-post-reg__content section.bonus .icon {
    background-image: url(../_images/common/icons/welcome-tick.svg), linear-gradient(#7ed321, #7ed321)
}

.welcome-post-reg__modal .welcome-post-reg__content section ul li .claim-wrap .claim-container span {
    font-weight: bold;
}

.welcome-post-reg__modal .welcome-post-reg__content section ul li .claim-wrap .play-cta {
    color: $theme--color--primarypurple !important;
    border-color: $theme--color--primarypurple !important;
}

.welcome-post-reg__modal .header-wrap {
    background: $theme--mainbg-color;
}

.welcome-post-reg__modal .header-wrap .header-container .header-username {
    span {
        color: $theme--color--gold;
    }
    @media #{$small-only} {
        // padding: 60px 0;
        font-size: 14px;
        margin: 0;
        // width: 100%;
        display: block;
        text-align: center;
        background-position: 96% 10px;
        overflow: visible;
    }
}

.welcome-post-reg__modal .welcome-post-reg__content section h2 {
    margin-top: 30px;
}

// logo
.welcome-post-reg__modal .logo {
    background: transparent url('../_images/logo/logo_onesizefitsall.svg') left center no-repeat;
    background-size: 50%;
    @media #{$small-only} {
        width: 130px;
        background-size: 70%;
    }
}

// welcome bg color
.welcome-post-reg__modal .welcome-post-reg__content section.bonus .icon {
    background-image: $theme--color--primarypurple url('../_images/common/icons/welcome-tick.svg');
}

// welcome title text
.welcome-post-reg__modal .welcome-post-reg__content section ul li .claim-wrap .claim-container span {
    color: $theme--color--primarypurple;
}

.welcome-post-reg__modal .welcome-post-reg__content section ul li .claim-wrap .play-cta {}

//////////////////////////
//////qucik deposit
///////////////////////////
.quick-deposit-container {
    background-color: $theme--color--primarypurple;
    background: $theme--color--primarypurple;
}

.quick-deposit-container h1 {
    font-weight: normal;
}

.quick-deposit-container_error {
    padding: 15px;
    color: $theme--color--copytext;
    a,
    a:focus,
    a:hover {
        color: $theme--color--gold;
    }
}

.quick-deposit-container__slider .qd-range-slider__wrapper .range-slider__slider #ui-withdrawal-slider .ui-slider-handle {
    background-color: $theme--color--gold;
}

.quick-deposit-container__bonustext .quick-deposit-container__bonustext__container {
    background-color: transparent;
}

.quick-deposit-container__slider .quick-deposit-container__slider__limits,
.quick-deposit-container__bonustext .quick-deposit-container__bonustext__container span {
    color: $theme--color--copytext;
}

.quick-deposit-container__header .quick-deposit-container__header__card
{
    background-color: $theme--color--primarypurple;
    border-top: 1px solid $theme--color--primarypurple;
}

.select-card {
    background-color: $theme--color--dark-contrast;
}

button.cancel-button.radius {
    padding: 0 20px;
}

.quick-deposit-container__header {
    background-color: $theme--color--primarypurpleTransparent;
    background: $theme--color--primarypurpleTransparent;
    border: 0;
}

.progressive-jackpots__wrapper .progressive-jackpots .progressive-jackpots__progressive .progressive-jackpots__progressive__cta > span {
    box-shadow: none;
    @extend %theme--button--primary-yellow;
    @extend %theme-text-capitalise;
    @extend %padding--5--20;
}

.progressive-jackpots__wrapper .progressive-jackpots .progressive-jackpots__progressive .progressive-jackpots__progressive__amount > span {
    font-weight: bold;
}

.lobby-wrap__content-box__content .featured-games {
    .tabs {
        display: none;
    }
}

.lobby-wrap__content-box__content .featured-games,
.featured-games > .tabs dd > a {
    display: none;
}

.lobby-wrap .two-columns-content-wrap__right {
    @media #{$medium-up} {
     //    margin-top: 75px;
    }
}


.game-icon .game-icon__bottom .game-icon__title {
     color: $theme--color--copytext;
     width: 94%;
     padding-left: 3%;
     padding-right: 3%;
     font-size: 10px;
     line-height: inherit;
}


.game-icon .game-icon__bottom .game-icon__favourite{
   display: none !important;
}

.browser-not-supported {
    color: white;
}


.recent-messages__message.unread {
    background: transparent !important; //exclusive from the branch overwriting general, it should be done by global variable instead TODO
    color: #FED500;
}

.lobby-wrap .lobby-wrap__left .small-deposit-wrap .lobby-deposit-button,
.lobby-play-button {
     padding: 1em 0;
     line-height: 1 !important;
     font-size: 1rem;
}
.search-result__cta:hover {
      -webkit-filter: initial !important;
}

.icon.play-icon {
     path {
          fill: $theme--color--gold;
     }
     &:hover {
          path {
               fill: white;
          }
     }
}

.responsible-limits-box p {
    color: black;
}

.main-content.welcome-post-reg__content {
     .text-partial > h1 {
           @media #{$small-only} {
                display: block !important;
           }
     }
}

.game-lauch-fav {
     display: none !important;
}

//SLOTS PAGE

#slots {
    .games-pages {
        .slots-banner {
            border-radius: rem-calc(2px);

            @media #{$small-only} {
                padding: 0 10px;
            }

            @media #{$medium-only} {
                padding: 0 20px;
            }
        }
    }

    .games-list {
        .section__header {
            display: block !important;

            h1 {
                font-size: rem-calc(18px);
                text-transform: none;
            }
        }

        .section__header__viewall a {
            font-size: rem-calc(18px);
            font-weight: normal;
            text-decoration: underline;
        }
    }
}

//Games Search for desktop
.header-inner__searchbox {
    position: relative;
    float: left;

    span {
        background-image: url(../_images/common/header/search_desktop.svg);
        position: absolute;
        width: rem-calc(20px);
        height: rem-calc(20px);
        top: rem-calc(19px);
        left: rem-calc(10px);
    }

    input {
        height: rem-calc(38px);
        width: rem-calc(183px);
        margin-top: rem-calc(10px);
        border: 1px solid $gold !important;
        border-radius: 6px;
        background-color: transparent !important;
        color: $white;
        padding-left: rem-calc(35px);
        padding-top: rem-calc(10px);

            &::placeholder {
                color: $supernova;
                opacity: 0.5;
                font-size: rem-calc(15px);
                padding-left: 0;
            }

             &:focus {
                &::placeholder {
                   color:transparent;
                }
            }

            &::-ms-clear {
                display: none;
            }


    }

    .desktop-search-results-container {
        width: rem-calc(183px);
        margin-left: 0;
        margin-top: rem-calc(25px);
    }
}

.logolead h1.section__title {
     @media #{$small-only} {
        padding-bottom:15px;
     }
}

.cashier__section--limits {
    p {
        color: #4C4C4C;
    }

    table thead td {
        color: $white;
    }
}

