@font-face {
	font-family: 'fontdiner';
	src: url('fonts/fontdiner.woff2') format('woff2'), url('fonts/fontdiner.woff') format('woff'), url('fonts/fontdiner.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: -moz-radial-gradient(center, ellipse cover, #a6e5fe 0%, #03b1f0 100%);
	/* ff3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #a6e5fe), color-stop(100%, #03b1f0));
	/* safari4+,chrome */
	background: -webkit-radial-gradient(center, ellipse cover, #a6e5fe 0%, #03b1f0 100%);
	/* safari5.1+,chrome10+ */
	background: -o-radial-gradient(center, ellipse cover, #a6e5fe 0%, #03b1f0 100%);
	/* opera 11.10+ */
	background: -ms-radial-gradient(center, ellipse cover, #a6e5fe 0%, #03b1f0 100%);
	/* ie10+ */
	background: radial-gradient(ellipse at center, #a6e5fe 0%, #03b1f0 100%);
	/* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e5fe', endColorstr='#03b1f0', GradientType=0);
	/* ie6-9 */
	text-align: center;
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 1.1rem;
	color: #636262;
}

main {
	background: url('images/bkg-clouds.png') top center;
}

.box {
	width: 760px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.text-box {
	padding: 40px;
	padding-top: 20px;
	background-color: #fff;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	-webkit-box-shadow: -1px 3px 6px 0px rgba(105, 104, 105, 1);
	-moz-box-shadow: -1px 3px 6px 0px rgba(105, 104, 105, 1);
	box-shadow: -1px 3px 6px 0px rgba(120, 120, 120, 1);
	border: 0px solid #000000;
	z-index: 999;
}

#supercat2 {
	width: 320px;
}

.dialog {
	/*border: #999 solid 2px;*/
	border-radius: 8px;
	box-shadow: 0px 0px 5px 1px rgba(120, 120, 120, 0.4);
	margin: 0 0 25px;
}

p {
	line-height: 0.6;
	margin: 3% 0;
	letter-spacing: 1px;
}

.title {
	font-family: 'fontdiner', Arial, Helvetica, sans-serif;
	font-size: 1.8rem;
	color: #ff42b2;
}

.main-cta {
	background: #62B00C;
	padding: 20px;
	text-decoration: none;
	color: white;
	border-radius: 12px;
	margin-top: 0px;
	display: block;
	max-width: 339px;
	margin: 0 auto;
}

.small-txt {
	font-size: 1.2rem;
	line-height: 0.5;
	color: #f52cb6;
	font-style: italic;
}

a {
	color: #0F79D5;
	font-size: 1.6rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

a:hover {
	opacity: 0.9;
}

.more-info {
	display: block;
	margin-top: 30px;
	color: grey;
	font-size: 0.8rem;
	font-weight: initial;
	text-align: left;
	margin-bottom: 20px;
}

.more-info:focus~.info-expander {
	display: block;
}

.info-expander {
	display: none;
}

.info-expander h1 {
	text-align: left;
	font-size: 1rem;
	margin-bottom: 0px;
}

.info-expander p {
	text-align: left;
	margin-top: 5px;
	font-size: 0.8rem;
	line-height: 16px;
}

.text-area {
	float: left;
	width: 72%;
}