.cookie-policy {
    .container {
        width: 60rem;
        margin: 0 auto;
        position: relative;

        .cookie-policy__button {
            margin-top: 8px;
        }
    }

   &.active {
     	@media  screen and ( max-width: 1024px ) {
    		margin-top:0px !important;
    	}
    }
}

#register {
	.cookie-policy {
		&.active {
			  @media  screen and ( max-width: 1024px ) {
				margin-top:90px !important;
			}
		}
	}
}

.cookie-active {
	.registration {
		padding-top:0px;
	}
}


.responsible-gaming-modal {
	.responsible-gaming-popup {
		background-color: #fafafc !important;

		.title {

			h1 {
				color:#230f66 !important;
			}
		}

		.copy {

			p {
				color:#230f66 !important;
			}
		}

		.terms {
			p {
				color: #230f66 !important;

				a {
					color: #230f66 !important;
				}
			}
		}
	}
}

