$btn-primary-color: #7638A1;

//Games Search for desktop
.searchbox {
  position: relative;
  width: 190px;

  &__mask {
    width: 100%;
    height: 35px;
    background: #592C81;
    border-radius: 100px;
  }

  &__icon {
    width: 17px;
    height: 18px;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 15px;

    svg {
      fill: white;
    }
  }

  .searchbox__input {
    width: 155px;
    height: 35px;
    color: rgba(255,255,255,0.8);
    font-size: 1rem;
    background: none;
    border: 0;
    margin: 0;

    &::placeholder {
      color: rgba(255,255,255,0.8);
      font-size: 0.9375rem;
      font-weight: 300;
      letter-spacing: 0.5px;
      line-height: 1.25rem;
    }

    &:focus {
      background: none;

      &::placeholder {
        color: transparent;
      }
    }

    &::-ms-clear {
      display: none;
    }
  }

  .desktop-search-results-container {
      width: rem-calc(183px);
      margin-left: 0;
      margin-top: rem-calc(25px);
  }
}