.welcome-area {
    .welcome-area__top {
        .welcome-area__top__left {
            @media #{$large-up} {
                @include grid-column(7);
            }

            @include grid-column(8);

            padding-top: $site-margin / 2;
            padding-bottom: $site-margin / 2;
            height: auto;

            .welcome-intro {
                font-family: $body-font-regular;
                line-height: 16px;

                p {
                    color: $brand-color;
                    margin-bottom: $site-margin / 2;
                }
            }
        }

        .welcome-area__top__right {
            @media #{$large-up} {
                @include grid-column(5);
            }

            @include grid-column(4);

            padding: 0;

            .text-partial {
                background: $white;
            }

            .vip-level-area {
                @include grid-column(12);

                text-align: center;
            }
        }

        .welcome-area__top__bottom {
            @include grid-column(12);

            padding: 0;
            padding-top: 35px;

            img {
                width: 100%;
                min-width: 100%;

                // margin-top: $site-margin;

                .banner {
                    width: 100%;
                    min-width: 100%;
                }
            }
        }
    }
}