.start-convert-points-content {
    @include grid-column(12);

    padding-left: 0;
    padding-right: 0;

    .start-convert-points-content__header {
        @include show-for-large-up;

        @include myaccount-balances__header;
    }

    .start-convert-points-content__wrap {
        @include grid-column(6, $center: true);

        padding: 18px;
        text-align: center;

        @media #{$medium-only} {
            @include grid-column(8);

            width: 60%;
            margin: 0 20%;
            padding-top: 0;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding-top: 0;
        }

        .start-convert-points-content__text {
            @include grid-column(12);

            font-family: $body-font-bold;
            line-height: 1.2em;
            font-size: 1.4em;
        }

        .start-convert-points-content__field {
            @include input-box(0, 25px);

            text-align: center;
        }

        .start-convert-points-content__button {
            @include grid-column(12);

            @include secondary-button-ui(10px 20px, 16px, 6px);

            line-height: 24px;
        }

        .start-convert-points-content__error {
            @include grid-column(12);

            float: left;
            margin-top: $site-margin;
            color: red;
        }
    }
}