.claim-code {
    h3 {
        @include show-for-large-up;

        @include myaccount-balances__header;
    }
}

.claim-code.myaccount-details__column {
    @include grid-column(12);

    .start-claim-code {
        @include grid-column(6, $center: true);

        @media #{$medium-only} {
            @include grid-column(8, $center: true);
        }

        @media #{$small-only} {
            @include grid-column(12, $center: true);
        }

        h2 {
            margin-top: $site-margin * 4;
            margin-bottom: $site-margin;
            font-family: $body-font-bold;
            color: $brand-color;
            text-transform: none;
            text-align: center;
            line-height: 1.2em;
            font-size: 1.4em;
            margin-top: 1.25rem;

            @media #{$medium-only} {
                margin-top: $site-margin / 2;
            }

            @media #{$small-only} {
                margin-top: $site-margin / 2;
            }
        }

        p {
            font-size: 0.875rem;
            text-align: center;
        }

        input {
            @include input-box(0, 25px);

            font-family: $body-font-medium;
            margin-bottom: $site-margin / 2;
            text-align: center;
            min-height: 60px;

            @media #{$small-only} {
                background: $white;
            }
        }

        .claim-button {
            @include grid-column(12);

            @include secondary-button-ui(10px 20px, 16px, 6px);

            line-height: 24px;
        }

        .claim-desposit-code-info {
            @include grid-column(12);
        }

        span.error {
            float: left;
            height: 31px;
            margin-top: 1px;
            margin-left: 10px;

            @media #{$small-only} {
                @include grid-column(12);

                margin-top: 0px;
                margin-left: 0px;
            }
        }
    }
}