.myaccount-transactions__header {
    display: none;

    @media #{$large-up} {
        display: block !important;
    }

    @include grid-column(12);

    @include myaccount-balances__header;
}

.myaccount-transactions {
    font-family: $body-font-regular;
    padding: 0;

    strong, b {
        font-weight: normal;
    }

    a {
        color: $brand-color;
    }

    input {
        @include input-box(0, 16px);

        text-align: center;
        min-height: 40px;

        @include input-placeholder {
            color: #b7b7b7;
        }
    }

    #details-container {
        background: $brand-color-light;
        padding: 20px;
        min-height: 480px;

        @media #{$small-only} {
            min-height: auto;
            padding: 10px;
            margin-bottom: $site-margin;
        }
    }

    > ul {
        @include list-inline;

        list-style-type: none;

        a, p {
            color: $brand-color;
            font-family: $title1-font;
        }

        a {
            color: $global-link-color;
        }

        a:hover {
            text-decoration: underline;
        }

        li {
            float: left;
            margin: 0;
            padding: 0;

            @media #{$small-only} {
                @include grid-column(12);

                padding: 0;
                margin: 0;
                margin-bottom: $site-margin / 2;
            }

            a {
                @include transition(all, 0.2s ease-out);

                background: darken($brand-color-light, 10%);
                color: $brand-color;
                cursor: default;
                font-size: 1.125rem;
                display: block;
                text-transform: uppercase;
                margin: 0;
                border-radius: 4px 4px 0px 0px;
                margin-right: 5px;
                padding: 5px 15px;
                text-decoration: none;
                cursor: pointer;
                text-decoration: none !important;

                @media #{$small-only} {
                    margin: 0;
                }

                &:hover {
                    background: $brand-color-light !important;
                    color: $brand-color !important;
                    text-decoration: none !important;
                }

                &.current {
                    background: $brand-color-light !important;
                    color: $brand-color !important;
                }
            }
        }
    }

    tbody {
        background: $white !important;

        td {
            font-weight: normal;
        }
    }

    .progress.alert .meter {
        background: $ui-highlight;
    }

    .green-cta {
        @include show-for-large-up;

        position: absolute;
        right: 0;
        top: 5px;
        text-align: right;
        text-decoration: underline;
        font-family: $nav-font-medium;
        line-height: 22px;

        // @include CTA-button(0.3em, 0.9em, 4px, #4BA4F0, #2082D8, #0E60A8, #0E4372, #8BC5F7);

        &:before {
            content: " ";
            background: url("../_images/common/icons/refresh.svg") no-repeat center center;
            float: right;
            position: relative;
            height: 20px;
            width: 30px;
        }

        color: $global-link-color;

        &:hover {
            text-decoration: underline;
        }
    }

    .myaccount-transactions__promotions {
        ul {
            margin: 0;
            padding: 0;
        }
    }

    .myaccount-transactions__promotions__item {
        @include grid-row;

        // border: 2px solid #deedf3;
        border-radius: 8px;
        background-color: $white;
        list-style: none;
        margin-left: none;
        margin-bottom: 0.5em;
        padding: 0.5em;

        .PromoDescription {
            @include grid-column(6);

            font-family: $body-font-bold;
            margin-top: 5px;
        }

        .myaccount-transactions__promotions__item__content {
            font-size: 1.1em;
            line-height: 1.2em;

            a {
                @include grid-column(3, $collapse: true);

                text-decoration: underline;
                float: right;
                text-decoration: none;
                display: block;

                &.expandarrow {
                    font-family: $body-font-bold;
                    color: $global-link-color;
                    text-align: right;
                    font-size: 13px;
                    margin-top: 5px;
                }

                &.voidbonus {
                    @include grid-column(3, $collapse: true);

                    @include secondary-button-ui(0.4em, 0.9em, 4px);
                    background:$mandy;
                    box-shadow: 0px 2px 0px 0px darken($mandy, 20%);

                    @media #{$small-only} {
                        font-size: 0.8em;
                        line-height: 1em;
                    }

                    border: none;
                    font-family: $button-font;
                    color: $white;
                    display: block;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: normal;

                    > a {
                        border: none;
                        color: $white;
                    }

                    text-align: center;

                    &:hover {
                    background:darken($mandy, 20%);
                    box-shadow: 0px 2px 0px 0px darken($mandy, 40%);
                    }
                }
            }
        }

        .myaccount-transactions__promotions__item__details {
            // font-size: 0.85em;
            margin-top: 40px;

            .panel {
                padding-top: 10px;
                background: $white;
                border: none;
            }

            .cta-join {
                text-decoration: none;
                display: block;
                float: none;
                color: white;
                margin: 10px 25%;
            }
        }
    }

    > ul {
        list-style: none;
        margin: 0;
    }

    small {
        font-size: 12px;
    }
}

// Weekly filtering for Game and Banking Activity
.myaccount-transactions {
    .myaccount-date-filter {

        .date-selector_left {
            width: 300px;
            float: left;
            margin-right: 30px;

            @media #{$small-only} {
                width: 100%;
            }
        }

        .date-selector_right {
            width: 300px;
            float: left;
            

            @media #{$small-only} {
                width: 100%;
            }
        }

    }
    
    .info-results {
        background-color: #8AE0FE;
        height: 23px;
        border-radius: 5px;

        @media #{$small-only} {
            height: 110px;
        }

        .activity-results {
        width: 100%;

            li {
                float: left;
                width: 30%;
                text-align: left; 
                font-weight: normal;
                font-size: 14px;
                list-style: none;
                color: #1D4775;

                @media #{$small-only} {
                    width: 100%;
                    padding-top: 10px;
                }

                span {
                    font-weight: bold;
                    padding-left: 10px;
                }
            }

            .banking-net-total {
                float: right;
                width: 30%;

                @media #{$small-only} {
                    float: left;
                    width: 100%;
                }

                @media #{$medium-only} {
                    float: right;
                }
            }

            .banking-totals {
                width: 33%;
                
                @media #{$small-only} {
                    float: left;
                    width: 100%;
                }

            }

        }
    }

    .disclaimer-results {
        height: 100px;
        margin-top: 10px;
        float: left;
        width: 100%;
        font-size: 12px;
        color: #1D4775;
        font-weight: bold;
    }
    
} 

// Weekly filtering for Game and Banking Activity
