.start {
    @include show-for-large-up;

    padding: 0;
    background: $bgcolor-dark;
}

#start {
    .promotion-eng-banner__container {
        .banner img {
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
            padding-right: 0;

            @media #{$medium-only} {
                width: 100% !important;
                max-width: none;
            }
        }
    }
}

.start-content {
    @media #{$medium-only} {
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
        top: 0;
    }

    @media #{$small-only} {
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
        top: 0;
    }

    .lobby-wrap__content-box {
        @include border-radius(5px);

        @media #{$large-up} {
            margin-bottom: $site-margin / 2;
        }
    }

    .content-holder {
        @media #{$large-up} {
            margin-bottom: $site-margin / 2;
        }
    }

    // .tabs-content {
    //     .content {
    //         @include grid-column(12);

    //         padding: $site-margin;
    //         background: $white;
    //     }
    // }

    .start-content__top {
        @include grid-column(12);

        padding: $site-margin / 2;

        @media #{$small-only} {
            @include grid-column(12);

            padding: $site-margin / 2;
            margin-bottom: $site-margin;
        }

        .start-content__top-left {
            float: left;
            margin-left: 30px;
            margin-bottom: 0;
            line-height: 2;
            font-family: $body-font-extra-bold;
            font-size: 1.2em;
            color: $brand-color;

            @media #{$small-only} {
                @include grid-column(12);

                margin: 15px 0;
                text-align: center;
            }
        }

        .start-content__top-right {
            text-align: right;
            float: right;
            width: auto;
            margin: 0;

            @media #{$small-only} {
                @include grid-column(12);

                background: rgba(255, 255, 255, 0.35);
                border-radius: 4px;
                padding: 7px 3px;
                margin: 0;
            }

            li {
                float: left;
                margin-left: $site-margin / 2;

                @media #{$small-only} {
                    @include grid-column(4);

                    margin: 0;
                }

                &.button--bingo {
                    a {
                        @include CTA-button(7px 20px, 16px, 6px, #FF8FD7, #FF7BD0, #FF00AA, #C70064, #FFC5EA);

                        float: left;
                        line-height: 1.5;
                        color: $white;
                        width: auto !important;

                        @media #{$small-only} {
                            @include grid-column(4);

                            font-size: 12px;
                            width: 100% !important;
                        }
                    }
                }

                &.button--slots {
                    a {
                        @include games-button-ui(7px 20px, 16px, 6px);

                        float: left;
                        line-height: 1.5;
                        color: $white;
                        width: auto !important;

                        @media #{$small-only} {
                            @include grid-column(4);

                            font-size: 12px;
                            width: 100% !important;
                        }
                    }
                }

                &.button--deposit {
                    position: relative;

                    a {
                        @include secondary-button-ui(7px 20px, 16px, 6px);
                        overflow:visible;

                        float: left;
                        line-height: 1.5;
                        color: $white;
                        width: auto !important;
                        padding-right: 50px;
                        position: relative;

                        @media #{$small-only} {
                            @include grid-column(4);

                            font-size: 12px;
                            width: 100% !important;
                        }
                    }

                    .cashier-graphic {
                        position: absolute;
                        top: -4px;
                        right: 9px;
                    }
                }
            }
        }
    }

    .featured-category-dd {
        color: $global-link-color;
    }
}

.lobby-wrap {
    background-color: transparent;

    @include grid-column(12);

    padding: 0;

    // lobby left column
    .lobby-wrap__left {
        @include grid-column(3);

        @media #{$medium-only} {
            @include grid-column(12);
        }

        @media #{$small-only} {
            @include grid-column(12);
        }

        height: auto;
        padding-right: $site-margin;
        float: left;
        padding: 0;

        &__terms {
            padding-left: 0.625rem;
            padding-right: 0.625rem;
        }

        .f-dropdown {
            max-width: none;
        }

        .mobile-tabs-menu__top {
            @include hide-for-large-up;

            @include grid-column(12);

            &:after {
                border: none;
                background: url(../_images/common/dropdown-arrow.svg) no-repeat;
                height: 14px;
                width: 17px;
                position: relative;
                float: right;
                border: none;
                right: 5px;
                top: 6px;
            }

            &.open {
                &:after {
                    background: url(../_images/common/dropdown-arrow-up.svg) no-repeat;
                }
            }
        }

        .balanceboxes__wrapper {
            @include grid-column(12);

            margin: $site-margin 0;
            padding: 0 ($site-margin / 2);

            @media #{$medium-only} {
                padding-left: $site-margin;
            }

            @media #{$small-only} {
                padding: 0;
                margin-top: 0;
                margin-bottom: 0;
            }

            li {
                @include grid-column(12);

                padding-right: 0;
                padding-left: $site-margin / 2;
                background: $nav-main-color;
                border-radius: 20px;
                margin-bottom: 5px;
                display: inline;
                float: left;
                color: $white;
                font-family: $body-font-bold;

                p {
                    float: left;
                    margin: 0;
                    padding: 0;
                }

                span {
                    float: right;
                    border-radius: 20px;
                    padding: 0 10px;
                    color: $white;
                    font-family: $body-font-bold;
                }

                &.free-cards {
                    span {
                        background: #EC7531;
                    }
                }

                &.free-spins {
                    span {
                        background: #8BAB55;
                    }
                }

                &.loyalty-bonus {
                    span {
                        background: #E84680;
                    }
                }

                &.my-cashback {
                    span {
                        background: #64C4F1;
                    }
                }
            }
        }

        .ui-start-left-banner {
            @include grid-column(12);

            padding: 0 ($site-margin / 2);

            .bx-viewport {
                min-height: 210px;
            }
        }

        .progressive-jackpots__wrapper {
            @include grid-column(12);

            @include show-for-large-up;

            .hub-shape-holder {
                display: none;
            }

            .progressive-jackpots {
                .progressive-jackpots__title {
                    h1 {
                        color: $nav-main-color;

                        /* top gradient content */
                        background-image: linear-gradient(0deg, #E9DDED 2%, #FFFFFF 100%);
                        margin: 0;
                        font-size: 15px;
                    }
                }

                .progressive-jackpots__progressive__amount {
                    height: auto;
                }

                .progressive-jackpots__progressive {
                    @include clearfix;

                    margin: 0;
                    border-radius: 0;

                    span {
                        font-size: 120%;
                        line-height: 30px;
                    }

                    .progressive-jackpots__progressive__cta {
                        span {
                            font-size: 100%;
                        }
                    }
                }
            }
        }

        .small-deposit-wrap {
            @include show-for-small-only;

            @include grid-column(6);

            .lobby-deposit-button {
                @include grid-column(12);

                margin-bottom: $site-margin;
                font-size: 20px;
                overflow: hidden;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    // lobby right columns
    .lobby-wrap__right {
        @include grid-column(9);

        background: $bgcolor;
        border-radius: 0px 0px 0px 0px;
        padding: $site-margin;
        margin: 0;
        float: right;
        height: auto;

        // min-height: 716px;

        @media #{$medium-only} {
            @include grid-column(12);

            border-radius: 0;
            margin-bottom: $site-margin;
            margin-top: $site-margin / 2;
            min-height: auto;
            padding: $site-margin;
        }

        @media #{$small-only} {
            @include grid-column(12);

            border-radius: 0;
            margin-bottom: $site-margin;
            margin-top: $site-margin / 2;
            min-height: auto;
            padding: $site-margin;
        }

        .lobby-wrap__content-box__header {
            @include grid-column(12);

            color: $nav-main-color;
            margin: 0;
            padding: 0;
            font-size: 15px;

            .title__icon {
                top: -3px;
                float: left;
                position: relative;
            }

            .title__last-login {
                @include show-for-large-up;

                float: right;
                font-family: $body-font-regular;
                font-size: 11px;
            }
        }

        .recent-messages__switch span {
            font-size: 1rem !important;
            color: $brand-color !important;
        }

        .recent-messages__message__icon {
            text-align: center;
            margin-right: 15px;
        }

        .lobby-wrap__content-box__content__bingo-schedule {
            padding: 0;

            .tabs-content {
                > .content {
                    padding: 0 !important;
                }
            }

            .bingo-schedule {
                height: auto;
                max-height: 360px;
            }
        }
    }

    .progressive-jackpots__wrapper.slider, .yesterdays-win__wrapper, .latest-winners__wrapper.slider {
        clear: both;
    }

    .progressive-jackpots__wrapper.slider {
        @media #{$medium-only} {
            height: 300px;
        }
    }

    .yesterdays-win__wrapper {
        margin-top: -33px;

        @media #{$medium-only} {
            margin-top: 0px;
        }
    }
}

.lobby-wrap .two-columns-content-wrap__right {
    @include show-for-large-up;

    padding-top: 0;
    padding-bottom: $site-margin;
    padding-left: $site-margin;

    @media #{$medium-only} {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    width: 100%;

    .latest-winners__wrapper, .progressive-jackpots__wrapper, .yesterdays-win__wrapper {
        .hub-shape-holder {
            display: none;
        }
    }
}