.mobile-cashback {
    @include hide-for-large-up;

    @include grid-column(12);

    background: #EADBCA;

    &.alert-box {
        @include grid-column(12);

        padding: 0;
        position: relative;
        top: 0;
        border: none;
        margin-bottom: 0;

        .close {
            background: url(../_images/common/icons/welcome-close.svg) no-repeat right 0.875rem center;
            text-indent: -9000px;
            opacity: 1;
            float: left;
            height: 60px;
            width: 50px;
            position: absolute;
            top: 0;
            z-index: 1;
            right: 0;
            margin: 0;
            padding: 0;
        }
    }

    .lobby-claim-cashback {
        @include grid-column(12);

        padding: $site-margin;
        position: relative;
        margin-bottom: 0;
        background: #EADBCA;
        border: none !important;
        border-radius: 0 !important;
        min-height: 60px;

        @media #{$medium-up} {
            @include grid-column(12, $center: true);
        }

        &.alert-box.secondary {
            @include grid-column(12);

            position: relative;
            border: none;
            background: #EADBCA !important;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;

            @media #{$medium-only} {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            @media #{$small-only} {
                padding-top: 35px;
                padding-bottom: 25px;
            }

            .close {
                top: 0px !important;
                right: 0px !important;
                display: block !important;
            }

            p {
                @include grid-column(12);
            }

            h1 {
                @include grid-column(12);

                display: block;
                line-height: 1 !important;
                margin-top: 15px !important;
            }
        }

        h1 {
            @include grid-column(12);

            display: none;
            font-family: $body-font-bold;
            color: $nav-active-color;
            text-align: center;
            font-size: 1.4em;
            line-height: 1.5;
            margin: 0;
        }

        p {
            @include grid-column(12);

            font-family: $body-font-bold;
            font-size: 14px;
            line-height: 1.2;
            color: $nav-main-color;
            margin-bottom: 0;
            text-align: center;
            padding: 0;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .lobby-claim-cashback-button {
            @include CTA-button(4px, 0.95em, 4px, #B4EC51, #67B030, #429321, #417505, #7ED321);

            @include grid-column(7, $center: true);

            width: 37%;
            line-height: 22px;
            font-size: 16px;
            text-shadow: 0px 2px 0px rgba(81, 81, 81, 0.48);
            margin-right: 45px;
            margin-bottom: 0;

            @media #{$small-only} {
                width: 50%;
                margin: 0 auto;
            }

            @media #{$medium-only} {
                margin: 0 auto;
            }

            a {
                color: $white;
                margin-bottom: $site-margin / 2;
            }
        }

        &.alert-box .close {}
    }

    .mobile-cashback__reveal-modal-bg {
        position: fixed;
        top: 50px;
        z-index: 99;
        background: rgba(36, 7, 83, 0.75);
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}