/* Lobby Content Container  */

.start-content {
    .lobby-wrap__content-box {
        @include grid-column(12);
        background: #C9BBFF;

        @media #{$large-up} {
            margin-bottom: $site-margin;
            background: $white;
            padding: $site-margin;
        }

          @media #{$medium-only} {
            height: 185px !important;
        }

         @media #{$medium-only} {
            height: 175px !important;
        }

        &.welcome-area-wrap {
            border: none;
            background: none !important;
            //padding: 0 !important;
        }
    }

    /* Lobby Content Container Header Area */
    .lobby-wrap__content-box__header {
        @include grid-column(12, $collapse: true);

        /* Lobby Content Container Header Area Title */
        .title {
            @include grid-column(12);
            @extend %title_bg;
            // padding: 0;

            // elements in header bar (with icon)
            &.hasicon {
                .title__icon {
                    display: none;

                    @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: left, $mcols: 1, $mcollapse: true, $mfloat: left, $lcols: 1, $lcollapse: true, $lfloat: left);
                   
                    max-width: 33px;
                    min-width: 33px;

                    #Desktop, #email_F-Copy, #email_F-Copy-2 {
                        fill: $main-highlight-color;
                    }

                    & > svg {
                        @media #{$large-up} {
                            display: inline-block;
                        }

                        @media #{$medium-only} {
                            display: none;
                        }

                        @media #{$small-only} {
                            display: none;
                        }
                    }
                }

                // Text for in the header bar
                .title__text {
                    @include grid-column(6);

                    margin: 0;
                    margin-left: 0 !important;
                    padding: 0;
                    font-size: 16px;
                    font-family: $body-font-extra-bold;
                    color: $nav-main-color;

                    &.messages-section {
                        @include foundation-breaks($scols: 5, $scollapse: true, $sfloat: left, $mcols: 3, $mcollapse: true, $mfloat: left, $lcols: 3, $lcollapse: true, $lfloat: left);
                    }

                    text-transform: uppercase;
                }

                .title__link__arrow {
                    @include foundation-breaks($scols: 2, $scollapse: true, $sfloat: right, $mcols: 2, $mcollapse: true, $mfloat: right, $lcols: 2, $lcollapse: true, $lfloat: right);

                    font-size: 12px;
                    padding-left: $site-margin;

                    &:hover {
                        text-decoration: underline;
                    }

                    color: $main-highlight-color;

                    @media #{$large-up} {
                        color: $global-link-color;
                    }
                }

                .content-holder__title__link {
                    @include grid-column(4, $collapse: true, $float: right);

                    @media #{$small-only} {
                        @include grid-column(5, $collapse: false, $float: right);

                        font-size: 13px;
                    }

                    font-family: $title1-font;
                    font-size: 15px;
                    text-align: right;
                    color: $brand-color;
                    float: right;

                    &:hover {
                        text-decoration: underline;
                        color: $brand-color;
                    }
                }

                .title__option-links {
                    @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: right, $mcols: 1, $mcollapse: true, $mfloat: right, $lcols: 1, $lcollapse: true, $lfloat: right);

                    text-align: right;
                    padding-left: $site-margin;

                    a {
                        color: #AFAFAF;
                        font-family: $body-font-regular;
                        font-size: 11px;

                        &:hover {
                            text-decoration: underline;
                        }

                        .title__link__arrow {
                            font-size: 16px;
                        }
                    }
                }

                .title__message-inbox {
                    @include hide-for-large-up;

                    width: 40px;
                    float: right;
                    text-align: right;

                    .title__message-inbox__icon {
                        float: left;
                        width: 30px;
                        height: 20px;
                        background: url(../_images/balance-area/icon-message-inbox.svg) no-repeat 0 0;
                    }

                    .title__message-inbox__value {
                        background: #FF00AA;
                        position: absolute;
                        margin-top: -5px;
                        margin-left: -20px;
                        height: 20px;
                        width: 20px;
                        float: right;
                        border-radius: 20px;
                        text-align: center;
                        color: white;
                    }
                }

                .title__option-link {
                    @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: right, $mcols: 12, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: left);

                    a {
                        font-size: 11px;
                        text-align: center;
                    }
                }
            }

            // elements in header bar (without icon)
            .title__text {
                @include foundation-breaks($scols: 8, $scollapse: true, $sfloat: left, $mcols: 8, $mcollapse: true, $mfloat: left, $lcols: 8, $lcollapse: true, $lfloat: left);
            }

            /* Lobby Content Container Header Area Link */
            .title__link {
                @include foundation-breaks($scols: 3, $scollapse: true, $sfloat: right, $mcols: 3, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: right);

                text-align: right;

                a {
                    // color: $main-highlight-color;
                    text-decoration: none;

                    // color: #B1B1B1;

                    &:hover {
                        text-decoration: underline;
                    }

                    .title__link__arrow {
                        font-size: 16px;
                    }
                }
            }
        }

        .button.dropdown {
            float: right;
            font-size: 12px;
            font-family: $body-font-regular !important;
            padding: 0.2em;
            width: 113px;
            margin: 0;
            background-color: transparent;
            color: $global-link-color;

            &:focus {
                outline: 0;
            }
        }

        button.dropdown::after {
            border-color: $global-link-color transparent transparent transparent !important;
        }

        #drop1 > li > a {
            text-align: center;
        }
    }

    /* End of Lobby Content Container Header Area */

    // Lobby Content Container Content Area
    .lobby-wrap__content-box__content {
        @include grid-column(12);

        padding: 0 !important;
        padding-top: ($site-margin / 2) !important;

        // inner wrap to hold content no fill or border
        .lobby-wrap__content-box__content__innerwrap {
            @include grid-column(12);
        }
    }
}

