.playerdetails__header {
    @include grid-column(12);

    @include show-for-large-up;

    @include myaccount-balances__header;
}

#playerdetails {
    // @include grid-column(12);

    padding: 0;

    @media #{$medium-up} {
        @include grid-column(8, $center: true);

        padding: 0;
    }

    @media #{$small-only} {
        padding: 0;
    }

    padding: $site-margin / 2;
    position: relative;

    input, select {
        @include input-box(0 0.8rem, 0.995rem);

        background: $white;
        font-family: $body-font-regular !important;
        margin-bottom: 15px;
        line-height: 2.7;

        @include input-placeholder {
            color: #C5C3C3;
        }


        &[disabled="disabled"] {
            background: none;
            color: #4D4D4D;
            box-shadow: none !important;
            border: none;
            padding-left: 0;
            font-size: 15px;
            font-weight: 600;
        }
    }

    select {
        padding: 0 0.8rem;
        background: $white url("../_images/common/icons/arrow-down.svg") no-repeat calc(100% - 11px) calc(1em + 2px);
        z-index: 0;
        cursor: pointer;
    }

    input {
        min-height: 40px;
    }

    input[type="checkbox"] {
        min-height: 14px !important;
    }

    label {
        color: $Blumine;
        font-family: $body-font-medium;
        font-size: 0.9rem;
        width: auto;
        float: initial;
    }

    .button {
        &.expand {
            @include secondary-button-ui;

            font-size: 1rem;
        }
    }

    // .myaccount-details__column__contact-details {
    //     @include grid-column(5);

    //     input {
    //         box-shadow: grey 0px -1px 1px 0px;
    //         padding: 0 0 0 15px;
    //         height: 45px;
    //     }

    //     @media #{$medium-only} {
    //         @include grid-column(12);

    //         overflow: hidden;
    //         padding: $site-margin;
    //     }

    //     @media #{$small-only} {
    //         @include grid-column(12);

    //         overflow: hidden;
    //         padding: $site-margin;
    //     }

    //     padding: $site-margin;

    //     button {
    //         background-color: #67749B;
    //     }

    //     .contact-details__header {
    //         margin-bottom: $site-margin;
    //         color: $white;
    //         font-size: 1rem;
    //         font-family: $body-font-bold;
    //         text-transform: uppercase;
    //     }

    //     .contact-details__phone {
    //         .landline {
    //             @include grid-column(7);

    //             content: " ";
    //             background: $white url("../_images/common/icons/phone.svg") no-repeat 10px 13px;
    //             padding-left: 35px;
    //         }

    //         .extention {
    //             @include grid-column(4);

    //             padding: 0;
    //             padding-left: 15px;
    //             float: right;
    //         }
    //     }

    //     .mobile {
    //         content: " ";
    //         background: $white url("../_images/common/icons/mobile.svg") no-repeat 10px 13px;
    //         padding-left: 35px;
    //     }

    //     .password {
    //         content: " ";
    //         background: $white url("../_images/common/icons/lock.svg") no-repeat 10px 13px;
    //         padding-left: 35px;
    //     }

    //     .contact-details__current-password {
    //         @include grid-column(12);

    //         background: #9EB4CE;
    //         border-radius: 4px;
    //         padding: 15px;

    //         input {
    //             margin-bottom: 10px !important;
    //             padding: 0;
    //             padding-left: 15px;
    //         }

    //         .button {
    //             @include CTA-button(15px, 1.2em, 4px, #B4EC51, #67B030, #429321, #417505, #7ED321);

    //             border: none !important;
    //             margin: 0 !important;
    //         }
    //     }
    // }

    .myaccount-details__column__registered-details {
        @include grid-column(12);

        padding: $site-margin;
        background: $white;

        //float: right;

        // -webkit-filter: blur(5px);
        // overflow: hidden;
        // transform: scale(1.03);

        &.blur {
            -webkit-filter: blur(2px);
            filter: blur(2px);
        }

        input, select {
            padding: 0;
            margin: 0;
            width: auto;
            font-size: 14px !important;
            box-shadow: none !important;
            background: none;

            @include input-placeholder {
                color: #535151 !important;
            }
        }

        button {
            background-color: #67749B;
        }

        .registered-details__header {
            @include grid-column(12);

            border-bottom: 1px solid $grey-light;
            padding: 0;
            font-size: 15px;
            line-height: 1.2;

            .title {
                float: left;
                margin: 0;
                font-family: $body-font-bold;
                text-transform: uppercase;
            }

            .warning {
                float: right;
                margin: 0;
                color: #8EA1B7;
                font-size: 11px;
                line-height: 2.8em;

                @media #{$small-only} {
                    @include grid-column(12);

                    float: left;
                }
            }
        }

        .registered-details__personal-details {
            @include grid-column(10, $center: true);

            padding: $site-margin 0px;
            font-size: 14px;
            margin-bottom: $site-margin;

            @media #{$small-only} {
                @include grid-column(12);

                padding: 0;
            }

            .registered-details__field {
                @include grid-column(12);

                padding: 0;
            }

            .registered-details__password {
                @include grid-column(12);

                background: url("../_images/common/icons/pencil.svg") no-repeat right 10px center;
                border-bottom: 1px solid #e8e8e8;
                cursor: pointer;
                margin: $site-margin 0;
                padding: 0;
            }

            .registered-details__username,
            .registered-details__title,
            .registered-details__first-name,
            .registered-details__last-name {
                @include grid-column(6);

                padding: 0;

                @media #{$small-only} {
                    @include grid-column(12);

                    padding: 0;
                }
            }

            .registered-details__extention,
            .registered-details__landline,
            .registered-details__mobile {
                @include grid-column(6);

                background: url("../_images/common/icons/pencil.svg") no-repeat right 10px center;
                border-bottom: 1px solid #e8e8e8;
                cursor: pointer;
                padding: 0;

                input {
                    cursor: pointer;
                }

                @media #{$small-only} {
                    @include grid-column(12);

                    padding: 0;
                }
            }

            .registered-details__email {
                @include grid-column(12);

                padding: 0;
                margin-bottom: $site-margin;

                label {
                    @media only screen and (max-width: 400px) {
                        width: 100%;
                        line-height: 1.5;
                        margin-top: 10px;
                    }
                }

                input {
                    width: 70%;

                    @media only screen and (max-width: 400px) {
                        width: 100%;
                        line-height: 1;
                        padding: 0 !important;
                    }
                }
            }

            label {
                padding: 0 !important;
                clear: both !important;
                line-height: 2.8;
            }

            input {
                float: left;
                padding: 0 !important;
                padding-left: ($site-margin / 2) !important;
                margin: 0 !important;
                color: #535151;
                font-weight: 600;
                line-height: 2.8;
            }

            .opt-in {
                @include grid-column(12);

                @include transition(all, 0.2s ease-out);

                padding: ($site-margin / 2) 10px !important;
                margin-bottom: 15px;
                line-height: 1.7;
                border-radius: 4px;
                border: 1px solid #DAD1FA;
                font-weight: 600;

                @media #{$small-only} {
                    font-size: 12px;
                }

                &:hover {
                    background: lighten($grey-light-bg, 10%);
                }

                input {
                    float: right;
                    padding: 0;
                    margin: 0;
                }

                span {
                    position: relative;
                    float: right;
                    height: 24px;
                    width: 39px;

                    &.active {
                        background: url("../_images/common/icons/opt-in-active.svg") no-repeat center center;
                    }

                    &.inactive {
                        background: url("../_images/common/icons/opt-in-inactive.svg") no-repeat center center;
                    }
                }
            }

            .registered-details__address {
                .registered-details__street {
                    @include grid-column(12);

                    padding: 0;

                    input {
                        width: 100% !important;
                        clear: both !important;
                        float: left;
                        padding: 0 !important;
                        margin-bottom: 5px !important;
                        line-height: 1.5;
                        color: #535151;
                    }

                    label {
                        margin-top: 5px;
                        width: 100% !important;
                        clear: both !important;
                        line-height: 1.5;
                        padding: 0;
                    }
                }
            }
        }

        .registered-details__support {
            @include grid-column(12);

            @include border-radius(3px);

            margin-top: $site-margin;
            border: 1px solid #DAD1FA;
            padding: $site-margin;
            font-size: 12px;
            color: #949494;

            p {
                font-style: italic;
            }

            span {
                @include grid-column(12);

                .chat a {
                    text-decoration: underline !important;
                }

                a {}
            }
        }
    }

    .myaccount-details__edit-password,
    .myaccount-details__edit-extention,
    .myaccount-details__edit-landline,
    .myaccount-details__edit-mobile {
        @include grid-column(12);

        z-index: 1;
        display: none;
        padding: 0;
        padding-top: 48px;
        position: fixed;
        left: 0;
        top: 0;
        min-height: 100%;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;

        @media #{$large-up} {
            position: absolute;
            max-width: 722px;
            padding: 0;
            top: 60px;
            height: auto;
            min-height: auto;
        }

        @media #{$medium-only} {
            top: 0 !important;
        }

        @media #{$small-only} {
            top: 0 !important;
        }

        &.active {
            display: block;
        }

        .edit-wrap {
            @include grid-column(12);

            background: $white;
            padding: $site-margin * 2;

            label {
                color: #949494;
                font-size: 14px;
                width: auto;
                float: left;
            }

            .edit-wrap__inner {
                @include grid-column(8, $center: true);

                @media #{$small-only} {
                    @include grid-column(12);

                    padding: 0;
                }
            }

            .edit-row {
                @include grid-column(12);

                position: relative;
                padding: 0;

                input {
                    @include grid-column(12);

                    @include transition(all, 0.2s ease-out);

                    @include border-radius(2px);

                    content: " ";
                    background: $white url("../_images/common/icons/lock-grey.svg") no-repeat 8px 11px;
                    font-size: 0.995rem;
                    box-shadow: none !important;
                    box-shadow: none;
                    border: none;
                    border-bottom: 1px solid $grey-light;
                    font-family: $body-font-regular !important;
                    font-size: 15px;
                    margin-bottom: 15px;
                    height: 45px;
                    padding: 0;
                    padding-left: 35px;

                    @include input-placeholder {
                        color: #C5C3C3;
                    }


                    &[placeholder="Create a new password"] {
                        // margin-bottom: 5px;
                   
                    }

                    &:focus {
                        background-color: lighten($grey-light, 5%);
                        border: 1px solid $bg-mobile;
                    }
                }

                .show-password {
                    @include border-radius(4px);

                    overflow: hidden;
                    position: absolute;
                    top: 12px;
                    right: 15px;
                    font-size: 11px;
                    text-decoration: underline !important;
                    text-transform: uppercase;
                    display: block;
                    height: auto;
                    padding: 0px 6px;
                    line-height: 22px;
                    background: $bg-mobile;
                    text-align: center;

                    a {
                        color: $white;
                        font-weight: 600;
                    }
                }

                .error {
                    color: $grey;
                    font-style: normal;
                    background: none;
                    float: left;
                }

                .button {
                    padding: $site-margin / 2;
                    border-radius: 4px;
                    font-size: 13px;
                    background: $grey;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin: 0;

                    &.confirm {
                        width: 48%;
                        float: left;
                    }

                    &.cancel {
                        width: 48%;
                        float: right;
                    }
                }
            }

            .edit-row-field {
                @include grid-column(12);

                background: url("../_images/common/icons/pencil.svg") no-repeat right 10px center;
                position: relative;
                margin: 0;
                margin-bottom: $site-margin;
                border-bottom: 1px solid $bg-mobile;

                label {
                    line-height: 2.8;
                    margin-right: 10px;
                }

                input {
                    border: none;
                    font-weight: bold;
                    box-shadow: none !important;
                    float: left;
                    width: auto;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }

    .myaccount-details__edit-password-bg,
    .myaccount-details__edit-extention-bg,
    .myaccount-details__edit-landline-bg,
    .myaccount-details__edit-mobile-bg {
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
        display: none;

        &.active {
            display: block;
        }

        @media #{$medium-only} {
            position: fixed;
            left: 0;
            top: 0;
        }

        @media #{$small-only} {
            position: fixed;
            left: 0;
            top: 0;
        }
    }
}

/* 
Codrops Dropdown List Plugin
http://tympanus.net/Development/SimpleDropDownEffects/
//////////////////////////////////////////////////////
Common CSS 
*/

.cd-dropdown,
.cd-select {
    position: relative;
    width: 100%;
    height: 45px;
    line-height: 28px;
    margin-bottom: 5px;
    display: block;
    float: left;
}

.cd-dropdown > span {
    width: 100%;

    /*color: #999;*/
    font-size: 14px;
    background: #fff;
    display: block;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    height: 45px;
    overflow: visible;
    background: $white url("../_images/common/icons/arrow-down.svg") no-repeat center right 10px;

    .cd-active & {
        background: $white url("../_images/common/icons/arrow-up.svg") no-repeat center right 10px;
    }
}

.cd-dropdown.cd-active > span {
    background: $white url("../_images/common/icons/arrow-up.svg") no-repeat center right 10px;
}

.cd-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;

    @include box-shadow(0px 10px 0px -7px rgba(0, 0, 0, 0.25), inset);
}

.cd-dropdown ul li {
    display: block;
}

.cd-dropdown ul li span {
    width: 100%;
    display: block;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    height: 45px;
}

.cd-dropdown > span,
.cd-dropdown ul li span {
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px;
}

/* Select fallback styling */
.cd-select {
    border: 1px solid #ddd;
}

.cd-dropdown ul {
    position: absolute;
    top: 0px;
    width: 100%;
}

.cd-dropdown ul li {
    position: absolute;
    width: 100%;
    pointer-events: none;
}

.cd-active.cd-dropdown > span {
    color: #1C6EB5;
}

.cd-active.cd-dropdown ul li {
    pointer-events: auto;
}

.cd-active.cd-dropdown ul li span {
    @include transition(all, 0.2s ease-out);
}

.cd-active.cd-dropdown ul li span:hover {
    background: $white !important;
}

.cd-dropdown ul {
    position: absolute;
    top: 0px;
    width: 100%;
}

.cd-dropdown ul li {
    position: absolute;
    width: 100%;
    pointer-events: none;
}

.cd-active.cd-dropdown > span {
    color: #1C6EB5;
}

.cd-active.cd-dropdown ul li {
    pointer-events: auto;
}

.cd-active.cd-dropdown ul li span {
    @include transition(all, 0.2s ease-out);
}

.cd-active.cd-dropdown ul li span:hover {
    background: #1C6EB5;
}

/* 
Codrops Dropdown List Plugin
http://tympanus.net/Development/SimpleDropDownEffects/
//////////////////////////////////////////////////////
Style CSS 
*/

.cd-dropdown ul {
    position: absolute;
    top: -5px;
    width: 100% !important;
}

.cd-dropdown ul li {
    position: absolute;
    width: 100% !important;
    pointer-events: none;
    background: #F4F2F6;
}

.cd-active.cd-dropdown > span {
    color: #1C6EB5;
}

.cd-active.cd-dropdown ul li {
    pointer-events: auto;
}

.cd-active.cd-dropdown ul li span {
    @include transition(all, 0.2s ease-out);

    background: url(" ") no-repeat calc(100% - 11px) calc(1em - 4px);

    &.ticked {
        background: $white url("../_images/common/icons/selected.svg") no-repeat calc(100% - 11px) calc(1em - 1px);
    }

    &:hover {
        background: $white url("../_images/common/icons/selected.svg") no-repeat calc(100% - 11px) calc(1em - 1px);
    }
}