#lobby {
    .new-games {
        .hub-grid__col-2x {
            @media #{$medium-only} {
                @include grid-column(4, $collapse: true);
            }
        }
    }
}

.lobby-content {
    .section,
    .games-list {
        margin: 0 auto !important;
        padding: $site-margin;
    }
}


/*=============================================
=          Start Welcome      =
=============================================*/

#playerdetails {
    @include clearfix;
    // .button {
    //     background-color: $main-highlight-color;
    //     font-family: $body-font-bold;
    //     color: $white;
    //     font-size: 1.2em;
    //     float: left;
    //     margin-top: 3px;
    //     padding: 10px;
    //     text-decoration: none;
    //     text-shadow: none;
    //     text-transform: uppercase;
    //     text-align: center;
    //     border: 1px solid $main-highlight-color-dark;
    //     font-weight: normal;
    //     // line-height: 2.5rem;
    //     border-radius: 1px;
    //     width: 100%;
    // }
}

.balanceboxes {
    @media #{$small-only} {
        margin: 12px;
        @include grid-column(12, $float: left);
    }
    @media #{$medium-only} {
        margin: 12px;
        @include grid-column(12, $float: left);
    }
    @media #{$large-up} {
        @include grid-column(6, $float: left);
        padding: 18px !important;
        //border: 2px solid rgb(222, 237, 243);
    }
    position: relative;
    list-style: none;
    margin: 0;
    display: block;
    color: $white;
    text-align: center;
    border: none;
    .balancebar {
        color: $brand-color;
        font-family: $body-font-extra-bold;
        font-size: 1em;
        text-transform: uppercase;
        display: block;
        // border: 2px solid rgb(222, 237, 243);
        @include border-radius(4px);
        background-color: $white;
        margin-bottom: 12px;
        padding-left: $site-margin;
        text-align: left;
     //    &:nth-child(4) {
     //        display: none !important;
     //    }
        a {
            color: $global-link-color;
        }
        height: 36px;
        @include vert-align(36px);
        // @media #{$small-only} {
        //     width: 100%;
        //     text-align: center;
        //     display: block;
        //     float: left;
        //     padding: 0;
        //     height: auto;
        //     @include border-radius(0px);
        //     margin-bottom: 12px;
        // }
        span {
            @media #{$medium-up} {
                display: inline;
                text-align: center;
            }
            color: $white;
            font-family: sans-serif;
            font-size: 16px;
            font-weight: bold;
            float: right;
            display: inline;
            background-color: $nav-main-color;
            height: 36px;
            @include vert-align(36px);
            padding-left: 15px;
            padding-right: 15px;
            @include border-radius(20px);
            // &.bonuswins_amount {
            //     background-color: $global-link-color;
            // }
        }
        .freespinslink {
            @include button-generate(green, 2);
        }
        // Bonus Wins hidden just for KB Start Page
    }
    a {
        display: block;
        width: 100%;
    }
    #button_cashier {
        @include grid-column(5);
        @include button-generate($cashier-button, 12);
        margin-bottom: 12px;
        font-family: $body-font-bold;
        text-transform: uppercase;
        display: none;
    }
    #playoverview {
        @include grid-column(5, $float: right);
        @include button-generate($go-button, 12);
        font-family: $body-font-bold;
        text-transform: uppercase;
        display: none;
    }
    .convertpointsbtn {
        @include button-generate(green, 2);
        margin-bottom: $site-margin;
        display: inline;
        margin-left: 1em;
    }
    .convertpointsbtn__info {
        @include button-generate(green, 2);
        margin-bottom: $site-margin;
        display: inline;
        margin-left: 1em;
        width: 20px;
    }
    .balancesbtn {
        @include border-radius(4px);
        border: none;
        float: left;
        margin-top: $site-margin;
        color: $global-link-color;
        text-decoration: underline;
        display: block;
        font-family: $body-font-medium;
        text-transform: uppercase;
        @media only screen and (max-width: 1024px) {
            display: none;
            font-size: 1em;
            padding: 0;
            line-height: 36px;
            border: none;
            box-shadow: none;
        }
    }
}

.convertpanel {
    @include grid-column(12);
    position: absolute;
    top: 0;
    left: 0;
    background: #F4F2F6;
    height: 100%;
    @media only screen and (max-width: 1024px) {
        height: 100%;
        position: fixed;
        z-index: 9999;
        background: #F4F2F6;
        padding-top: 80px;
    }
    z-index: 100;
    padding-top: 1.3125rem;
    padding-bottom: 1.3125rem;
    padding-left: 1.3125rem;
    padding-right: 1.3125rem;
    .convertpanel__header {
        @include grid-column(12);
        @include hide-for-large-only;
        @media only screen and (max-width: 1024px) {
            display: block !important;
            position: absolute;
            left: 0;
            top: 0;
            color: $nav-active-color;
            font-size: 18px;
            padding: $site-margin;
            font-family: $body-font-medium;
            background: #e7e2fe url(../_images/common/icons/welcome-close.svg) no-repeat right $site-margin center;
            display: block;
            height: 50px;
            z-index: 1;
            max-width: 100%;
        }
        span {
            @include grid-column(12);
            padding: 0;
            text-align: left;
            color: $nav-active-color;
            font-size: 16px;
            font-family: $body-font-medium;
        }
    }
    .convertpanel__content {
        @include grid-column(6, $center: true);
        @media #{$medium-only} {
            @include grid-column(6, $center: true);
        }
        @media #{$small-only} {
            @include grid-column(12, $center: true);
        }
        .convertpointsbtn {
            @include CTA-button(10px 0px, 4px, 4px, #4BA4F0, #2082D8, #0E60A8, #0E4372, #8BC5F7);
            @include border-radius(4px);
            font-weight: normal !important;
            font-size: 20px !important;
            line-height: 36px;
            margin: 0;
            font-family: $body-font-bold !important;
            font-weight: normal;
            font-size: 20px !important;
            box-shadow: none;
            &:hover {
                background:darken($Denim, 10%);
            }
        }
    }
    span {
        margin-bottom: 20px;
        display: block;
        color: $nav-main-color;
        font-family: $body-font-bold;
        line-height: 1.2em;
        font-size: 1.8em;
        &.error {
            color: red;
            padding: 0;
            font-family: $body-font-regular;
            line-height: 1.2em;
            background: none;
            font-size: small;
        }
    }
    .convertpointsbtn {
        @include button-generate(green, 12);
        @include border-radius(4px);
        margin-top: 12px;
        margin-left: 0px !important;
        display: block;
        text-transform: uppercase;
        border: none;
    }
    input {
        @include border-radius(4px);
        font-family: $body-font-medium;
        border: none;
        font-size: 2em;
        text-align: center;
        height: auto;
    }
}

.myaccount-limits {
    font-family: $title1-font;
    label {
        color: $brand-color;
    }
    padding-top: 20px;
    &__title {
        @include grid-column(2);
        @media #{$small-only} {
            @include grid-column(12);
        }
        @media #{$medium-only} {
            @include grid-column(3);
        }
    }
    &__radiobtn-container {
        @include grid-column(6);
        @media #{$small-only} {
            @include grid-column(12);
        }
        @media #{$medium-only} {
            @include grid-column(9);
        }
        &__radiobtn {
            @include grid-column(3);
            @media #{$small-only} {
                @include grid-column(12);
            }
        }
    }
    &__expandbox {
        @include grid-column(4);
        @media #{$small-only} {
            @include grid-column(12);
        }
        @media #{$medium-only} {
            @include grid-column(12);
        }
    }
    &__details {
        @include grid-column(4);
        @media #{$small-only} {
            @include grid-column(12);
        }
    }
    &__note {
        @include grid-column(12);
    }
}


/*-----  End ofMy Account  ------*/

//*=============================================
//  My account menu left tabbed content on start page
// =============================================================================
.myaccount-content .tabs {
    @include grid-column(12);
    padding: 0;
    padding-left: $site-margin / 2;
    float: none;
    font-family: $title1-font;
    margin-top: 0;
    @media #{$medium-only} {
        margin-top: 0px;
        @include grid-column(12);
        padding: 0;
        padding-left: $site-margin;
    }
    @media #{$small-only} {
        margin-top: 0px;
        padding: 0;
        display: none;
    }
    dd {
        @include grid-column(12);
        margin: 0 0;
        padding: 0;
        padding-right: $site-margin / 2;
        a {
            @include grid-column(12);
            @include secondary-button-ui(5px, 13px, 6px);
            transition: none !important;
            color: $white;
            margin-bottom: 8px;
        }
        &.active {
            padding-right: 0;
            @media #{$small-only} {
                @include grid-column(12);
                padding: 0;
            }
            a,
            a:hover {
                transition: none !important;
                text-shadow: none;
                box-shadow: none;
                cursor: default;
                border-radius: 6px 0px 0px 6px;
                background: $bgcolor;
                color: $brand-color;
                padding-right: $site-margin;
                @media #{$small-only} {
                    @include grid-column(12);
                    padding: 4px 0px;
                    border-radius: 6px;
                }
            }
        }
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0 !important;
            margin-bottom: 12px;
            border-top: none;
            border-bottom: none;
        }
    }
}

.myaccount-content .tabs-content {
    @include grid-column(12);
    padding: 0;
    font-family: $body-font-regular;
    border-top: none;
    padding-bottom: $site-margin;
    .current {
        text-decoration: none;
        color: $brand-color-light;
        cursor: default;
        text-decoration: none;
    }
    .content {
        min-height: 500px;
        @include border-radius(2px);
        padding: 0;
        &.active {
            @include grid-column(12);
            padding: $site-margin !important;
            background: none;
            &#myaccount-1 {
                background: none;
                padding: 0 !important;
            }
        }
    }
    .myaccount-balances__header {
        @include grid-column(12);
        @extend %title_bg;
        @include myaccount-balances__header;
        @media #{$large-up} {
            display: block !important;
        }
    }
    .balanceboxes {
        @include grid-column(12, $center: true);
        padding: 0;
        @media #{$medium-only} {
            @include grid-column(8, $center: true);
            padding: 0;
        }
        @media only screen and (max-width: 1024px) {
            margin-bottom: $site-margin * 2;
        }
        li {
            display: block;
            float: none;
            @include border-radius(20px);
            background: $white;
            a {
                color: $global-link-color;
                text-decoration: underline;
                border-bottom: none;
            }
            .convertpointsbtn {
                line-height: 28px;
                @media only screen and (max-width: 1024px) {
                    @include border-radius(4px);
                    background-color: $global-link-color;
                    position: absolute;
                    font-size: 0.8em;
                    padding: 0;
                    left: 0px;
                    margin-top: 50px;
                }
            }
        }
    }
    .convertpointsbtn {
        @include border-radius(30px);
        color: $white !important;
        text-decoration: none !important;
        font-family: $body-font-bold;
        text-decoration: underline;
        background-color: $global-link-color;
        border: none;
        margin-left: 0;
        margin-right: 4px;
        line-height: 20px;
        padding: 5px 10px;
        @media only screen and (max-width: 1024px) {
            font-size: 1em;
            padding: 0;
            line-height: 36px;
            border: none;
            box-shadow: none;
        }
    }
    .convertpointsbtn__info {
        @include border-radius(30px);
        color: $white !important;
        text-decoration: none !important;
        font-family: $body-font-bold;
        text-decoration: underline;
        background-color: $global-link-color;
        border: none;
        margin-left: 0;
        margin-right: 4px;
        line-height: 20px;
        padding: 5px 10px;
    }
}

// my account promotion banners
.myaccount-promotions {
    display: none;
    @media #{$small-only} {
        @include grid-column(12);
    }
    @media #{$medium-only} {
        @include grid-column(12);
        padding-left: 18px;
    }
    @media #{$large-up} {
        @include grid-column(6, $float: left);
        padding-left: 18px;
    }
    .promotion {
        height: auto;
        @include clearfix;
        @include grid-column(6);
        @media #{$medium-only} {
            @include grid-column(12);
            @include clearfix;
            height: auto;
        }
        @media #{$small-only} {
            @include grid-column(12);
            @include clearfix;
            height: auto;
        }
        .promotion__title {
            // @include grid-column(12);
            // font-size: 1em;
            // margin-top: 0px;
            // padding-left: 1em;
            // padding-right: 1em;
            // @media #{$medium-only} {
            //     @include grid-column(12);
            // }
            // @media #{$small-only} {
            //     @include grid-column(12);
            // }
            display: none;
        }
        .promotion__content {
            @include grid-column(12);
            @include clearfix;
            p {
                font-size: 13px !important;
            }
            @media #{$medium-only} {
                @include grid-column(12);
            }
            @media #{$small-only} {
                @include grid-column(12);
            }
        }
        .promotion__image {
            @include grid-column(12);
            margin-top: 10px;
            @media #{$medium-only} {
                @include grid-column(12);
                padding-top: 0;
            }
            @media #{$small-only} {
                @include grid-column(12);
                padding-top: 0;
            }
            box-shadow: none;
        }
        .promotion__wrapper {
            @media #{$large-up} {
                height: 400px;
            }
        }
        .promotion__content__wrapper {
            @include clearfix;
            @media #{$medium-only} {
                @include grid-column(12);
                height: auto;
            }
            @media #{$small-only} {
                @include grid-column(12);
                height: auto;
            }
        }
    }
}

.myaccount__loyalty {
    @include grid-column(3, $float: right);
    @media #{$medium-only} {
        margin-right: $site-margin;
    }
    @media #{$small-only} {
        @include grid-column(12, $float: left);
        margin-left: $site-margin / 2;
    }
}
