.vip-level__progress-bar-outer {
    @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);

    // background-color: #D8D8D8;
    background-color: #fff;
    width: 100%;
    margin: 5px 0;
    border-radius: 4px;
    overflow: hidden;

    .vip-level__progress-bar-inner {
        height: 40px;

        &.newbie {
            background-image: linear-gradient(-90deg, #9ad8e3 40%, #66c7d8 200%);
        }

        &.bronze {
            background-image: linear-gradient(-90deg, #cc906c 40%, #cc7a52 200%);
        }

        &.silver {
            background-image: linear-gradient(-90deg, #d6e5e0 40%, #c7d7d2 200%);
        }

        &.gold {
            background-image: linear-gradient(-90deg, #d5ba6b 40%, #c7a647 200%);
        }

        &.ruby {
            background-image: linear-gradient(-90deg, #e69bc2 40%, #df7eb0 200%);
        }

        &.emerald {
            background-image: linear-gradient(-90deg, #86bc8a 40%, #5fb465 200%);
        }

        &.elite {
            background-image: linear-gradient(-90deg, #b9aad6 40%, #9985c9 200%);
        }
    }
}

.vip-level__current {
    @include grid-column(6);

    padding: 0;
    font-family: $body-font-bold;
    text-transform: uppercase;
    color: $brand-color;
    text-align: center;
    font-size: 15px;
    padding-left: 50px;
    padding-top: 13px;
    line-height: 1;

    & span {
        font-family: $body-font-bold;

        @media #{$medium-only} {
            line-height: 2px;
        }
    }
}

.vip-level__next {
    @include grid-column(12);

    padding: 0;
    font-family: $body-font-medium;
    font-size: 13px;
    text-transform: uppercase;
    color: $nav-main-color;
    text-align: center;
    margin-top: $site-margin / 2;

    span {
        font-family: $body-font-medium;

        @media #{$medium-only} {
            line-height: 2px;
        }
    }
}