.header,
.header--logged-in {
    font-family: $ui-font-semibold;
    @extend .hide-for-medium-down;
    @media #{$large-up} {
        width: 100%;
        height: initial;
        overflow: hidden;
        position: relative;
        z-index: 3;
        background:$luckyvip--mirage-opacity;


        // opacity: 0.85;
        overflow: visible;
    }
    .header-inner {
        @include grid-row;
        max-width: 1040px;
        height: initial;
    }
    .header-inner__left,
    .header-inner__right {
        @include grid-column(5, $collapse: true);
        width: 43%;
        height: 24px;
    }
    .header-inner__right {
        float: right;
        
    }
    .header-inner__middle {
        @include grid-column(2, $collapse: true);
        width: 14%;
        float: left;
        height: 88px;
        padding: 10px 2px 0 2px;
        margin-top: 2px;
    }
    .header-inner__left__top,
    .header-inner__right__top {
        margin-top: 10px;
    }
    .desktop-nav {
        &.loggedout-left {
            margin-left: 17px;
        }
        &.loggedin-left {}
        &.loggedout-right {
            margin-left: 116px;
        }
        &.loggedin-right {
            margin-left: 24px;
        }
        @include list-inline;
        > li {
            padding-left: 4px;
            padding-right: 8px;
            height: 14px;
            background: url(../_images/common/header/header-nav-divider.png) no-repeat;
            background-position-y: 3px;
            background-position-x: right;
            &:last-child {
                background: none;
            }
        }
        > li a {
            text-shadow: 0.5px 0.9px 0 #000;
            font-size: 10.5px;
            line-height: 14px;
            display: block;
            color: $content-text;
            text-rendering: optimizeLegibility;
            text-rendering: geometricPrecision;
            font-smooth: always;
            color: $white !important;
            &:hover {
                color: $global-link-color;
                text-decoration: underline;
            }
        }
    }
    .header-inner__left__bottom {
        margin-top: 22px;
    }
    .cat-search-bar {
        position: relative;
        width: 339px;
        // @include rounded-rectangle($radius: 50px, $height: 28px, $width: 310px, $color: $white, $opacity: 0.2);
        margin: 0 auto;
        // padding: 10px 0 0 0;
        .cat-search-bar__categories {
            @include grid-column(6, $collapse: true);
            // @extend %cta--button--type;
            @include background-image(linear-gradient(to top, #989db0 2%, $white 100%));
            @include rounded-rectangle($radius: 0px, $height: 30px, $width: 131px, $color: $white, $opacity: 1);
            // border-top-right-radius: 0;
            //border-bottom-right-radius: 0;
            cursor: pointer;
            &:hover {

                // opacity: 0.8;
            }
            .games-filter-menu {
                height: 30px;
            }
            .game-filter-btn__wrapper {
                background: none;
                // margin-top: -2px;
                width: 131px;
                &:hover{
                   background:$luckyvip--mercury;
                }
            }
            .game-filter-btn {
                background: none;
                color: $luckyvip--mirage;
                font-size: 12px;
                font-family: $ui-font-bold;
                font-weight: 900;
                text-transform: uppercase;
                text-align: center;
                line-height: 30px;
                // padding-left: 10px;
                // margin-left: 6px;

            }
            .filter-slots {
                position: relative;
                padding-left: 14px;
                text-align: center;
                font-size: 11px;
                color: #011558;
                background-color: transparent;
                a {
                    display: block;
                    font-family: $ui-font-bold;
                    position: relative;
                    background-color: transparent;
                    color: #011558;
                }
                &:hover {
                    color: $global-link-color;
                }
            }
        }
        .cat-arrow {
            height: 8px;
            width: 14px;
            position: absolute;
            left: 93px;
            top: 8px;
            background: url(../_images/common/header/down-arrow.png) left top no-repeat;
        }
        .cat-search-bar__games-search {
            position: absolute;
            right: 3px;
            width: 192px;
            input {
                position: relative;
                margin: 0px;
                @include grid-column(12, $collapse: true);
                background: $white;
                text-transform: uppercase;
                font-size: 12px;
                color: $luckyvip--dusty-gray;
                letter-spacing: 0px;
                // @include rounded-rectangle($radius: 46px, $height: 22px, $width: 100%, $color: $white, $opacity: 1);
                // border-top-left-radius: 0;
                // border-bottom-left-radius: 0;
                padding: 10px;
                // height:rem-calc(24px);
                height: 30px;
            }
            .cat-search-bar__games-search__icon {
                position: absolute;
                right: 5px;
                top: 1px;
            }
        }
    }
}

.header-inner__right__bottom {
    @include grid-column(12, $collapse: true, $center: true);
    margin-top: 24px;
    margin-bottom: 14px;
    height: 28px;
    .buttons-bar {
        @include grid-column(6, $collapse: true);
        // @include rounded-rectangle($radius: 50px, $height: 28px, $width: 100%, $color: $white, $opacity: 0.2);
        width: 329px;
        margin: 0 auto;
        // padding: 3px;
        float: none;
        .buttons-bar__login {
            @include grid-column(6, $collapse: true);
            @extend .cta--button--login;
            a {
                @include grid-column(12, $collapse: true);
                &:hover {}
            }
        }
        .buttons-bar__join {
            @include grid-column(6, $collapse: true);
            @extend .cta--button--join;
            a {
                @include grid-column(12, $collapse: true);
                &:hover {}
            }
        }
    }
    .balance-bar {
        @include grid-column(12, $collapse: true);
        @include rounded-rectangle($radius: 0px, $height: 28px, $width: 100%, $color: $white, $opacity: 0.2);
        width: 381px;
        margin: 0 auto;
        padding: 3px;
        float: none;
        .balances-bar__link {
            @include list-inline;
            @include grid-column(3, $collapse: true, $float: left);
            background: url(../_images/common/header/balance-divider.png) no-repeat center right;
            &:last-child,
            :nth-last-child(2) {
                background: none;
            }
            a {
                font-family: $ui-font-bold;
                color: $white;
                font-size: 12px;
                font-weight: bold;
                line-height: 22px;
                display: block;
                text-align: center;
                text-transform: uppercase;
                &:hover {
                    color: $luckyvip--picton-blue;
                }
                .active {}
            }
        }
        .message-inbox {
            @include list-inline;
            width: 15%;
            > .balances-bar__link__inner {
                > .balances-bar__message-inbox__icon {
                    float: left;
                    width: 34px;
                    height: 24px;
                    background: url(../_images/balance-area/icon-magical-message-inbox.png) no-repeat 8px 3px;
                }
                > .balances-bar__message-inbox__value {
                    background: red;
                    font-size: 0.8rem;
                    text-shadow: none !important;
                    position: absolute;
                    margin-top: -5px;
                    margin-left: -20px;
                    height: 20px;
                    display: inline-block;
                    width: 20px;
                    float: left;
                    border-radius: 20px;
                }
            }
        }
        .account-balance {
            width: 30%;
            .balances-bar__link__inner {
                font-size: 13px;
                // text-decoration: underline;
            }
        }
        .moolah-balance {
            width: 25%;
            > .balances-bar__link__inner {
                > .balances-bar__link__icon {
                    float: left;
                    width: 27px;
                    height: 24px;
                    background: url(../_images/balance-area/icon-coin.svg) no-repeat 5px 0px;
                    background-size: 22px 22px;
                }
            }
        }
        .deposit-cta {
            width: 30%;
            > .balances-bar__link__inner {
                width: 79px;
                line-height: 22px;
                font-size: 13px;
                @include rounded-rectangle($radius: 0px, $height: 22px, $width: 100%, $color: $white, $opacity: 0.2);
                // @include background-image(linear-gradient(to top, #009c0c 0%, #009e10 50%, #2caa37 51%, #86c28c 100%));
                background-color:#009c0c;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                &:hover {
                    color: $luckyvip--darknavy;;
                    background-color:$luckyvip--mercury;
                    // @include background-image(linear-gradient(to top, $global-link-color 0%, #c2f9fd 100%));
                }
            }
        }
    }
}

.header,
.header--logged-in {
    .desktop-nav > li > a.current {
        color: $global-link-color;
    }
}

.seo-logo {
    margin: 0;
    padding: 0;
}
