<!-- BODY -->
        <table bgcolor="#000000" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #000000; margin: 0; padding: 0;">
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td style="max-width: 600px; display:block; margin:auto;">
                    <table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;" width="71%">
                        <tbody>
                            <tr>
                                <td><a name="www_regalwins_com_3" style="max-width: 100%;" xt="SPCLICK" href="http://www.regalwins.com" target="_blank"><img alt="Regal Wins" name="Cont_34" src="http://mailers.daub8.com/regalwins/images/system/600x150-RW-HappyBirthday.jpg" style="max-width: 100%;" title="Regal Wins" /></a></td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="margin: 0px; padding-left: 15px; padding-right: 15px; line-height: 1.6;">
                                <p style="font-family: Helvetica, Helvetica, Arial, sans-serif; font-size: 11px; color: rgb(97, 97, 97);">Username: <strong>%%Alias%%</strong> | <a name="www_regalwins_com_forgot_p" style="color: #ae0c0c; text-decoration: none;" xt="SPCLICK" href="https://www.regalwins.com/forgot-password" target="_blank">Forgot password?</a></p>
                                <h3 style="font-family: Helvetica, Helvetica, Arial, sans-serif; font-size: 20px; color: rgb(1, 26, 57); line-height: 1.1; font-weight: bold; margin: 10px 0px 15px;"></h3>
                                <p><span style="font-size: 14px;">Happy Birthday %%Firstname%%!</span></p>
                                <p><span style="font-size: 14px;">We&rsquo;re always thinking of ways to delight you at <a name="Regal_wins_1" xt="SPCLICK" href="http://www.regalwins.com" target="_blank">Regal Wins</a>, so to keep your spirits high on your very special day, we have got some special treats just for you.</span></p>
                                <p><span style="font-size: 14px;">We've added a <strong><span style="color: rgb(153, 51, 0);">&pound;5 bonus gift in your account</span></strong> for you to celebrate your birthday in style!</span></p>
                                <p><span style="font-size: 14px;">The birthday gifts don&rsquo;t stop there either because we have arranged a <strong><span style="color: rgb(153, 51, 0);">special 100% Match Bonus </span></strong>on your next deposit at Regal Wins. Simply use the code <strong><span style="color: rgb(153, 51, 0);">BDAY</span></strong> and then deposit &pound;10 - &pound;50 for your </span><strong><span style="color: rgb(153, 51, 0);"><span style="font-size: 14px;">100% Match Bonus. &nbsp;</span></span></strong><span style="color: rgb(153, 51, 0);"><span style="color: rgb(99, 99, 99);"><span style="font-size: 14px;"><a name="TCs_1" xt="SPCLICK" href="https://www.regalwins.com/terms-and-conditions/general-promotional-terms-and-conditions/" target="_blank">Click here</a> for general terms.</span></span></span></p>
                                <p><span style="color: rgb(99, 99, 99);"><span style="font-size: 14px;">Enjoy and have a great day!</span></span></p>
                                <p><span style="color: rgb(99, 99, 99);"><span style="font-size: 14px;" /></span></p>
                                <div></div>
                                <p align="center" style="font-family: Helvetica, Helvetica, Arial, sans-serif; font-size: 14px; color: rgb(97, 97, 97); margin-top: 30px;"><a name="www_regalwins_com_promoti" style="max-width: 100%;" xt="SPCLICK" href="http://www.regalwins.com" target="_blank"><img alt="Claim now!" border="0" name="Cont_32" src="http://mailers.daub8.com/regalwins/images/retention/button-msg-claim.png" style="max-width: 100%;" title="Claim now!" /></a></p>
                                <p style="font-family: Helvetica, Helvetica, Arial, sans-serif; font-size: 14px; color: rgb(97, 97, 97);"></p>
                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family: Helvetica, Helvetica, Arial, sans-serif; font-size: 14px; color: rgb(97, 97, 97); width: 100%; margin: 0px; padding: 0px;">
                                    <tbody>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td align="center" bgcolor="#bea349" height="15" style="font-size: 1px; line-height: 1px; font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #bea349; margin: 0; padding: 0;" valign="top" width="240">
                                            <table border="0" cellspacing="0" style="width: 100%; margin: 0; padding: 0; border: 0px;" width="240">
                                                <tbody>
                                                    <tr>
                                                        <td align="center" style="text-align: center; padding: 5px;" valign="top" width="240"><a name="www_regalwins_com_4" style="max-width: 100%;" xt="SPCLICK" href="http://www.regalwins.com" target="_blank"><img alt="Starburst" border="0" name="Cont_24" src="https://www.regalwins.com/_global-library/_upload-images/games/list-icons-224/starburst-slots-game.jpg" style="max-width: 100%;" title="Starburst" /></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td align="center" bgcolor="#bea349" valign="top" width="240">
                                            <table border="0" cellspacing="0" style="width: 100%; margin: 0; padding: 0; border: 0px;" width="240">
                                                <tbody>
                                                    <tr>
                                                        <td align="center" style="text-align: center; padding: 5px;" valign="top" width="240"><a name="www_regalwins_com_5" style="max-width: 100%;" xt="SPCLICK" href="http://www.regalwins.com" target="_blank"><img alt="Cleopatra" border="0" name="Cont_28" src="https://www.regalwins.com/_global-library/_upload-images/games/list-icons-224/cleopatra-slots-game.jpg" style="max-width: 100%;" title="Cleopatra" /></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            </td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
                            