<!-- BODY -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">
    <tr>
        <td>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:0px 0px 0px 0px;">
                        <a target="_blank" xt="SPCLICK" href="https://www.regalwins.com" name="main_image" id="main_image"><img src="http://mailers.daub8.com/luckyvip/images/birthday-silver.jpg" aria-hidden="true" width="680" height="auto" alt="main-image" border="0" class="fluid g-img" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" name="image_2" id="image_2" /></a></td>
                </tr>
            </table>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:40px 40px 20px 40px;">
                        <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:32px;line-height:38px;color:#cca83d; font-weight:bold;">
                                    HAPPY BIRTHDAY, %%Username%% !
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">
                                    To help you celebrate on this very special day, I&#x2019;ve wrapped up some special treats especially for you!
                                    <br />
                                    <br />There is <strong>10 Free Spins </strong>waiting to be claimed on your account.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:40px 40px 20px 40px;">
                        <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:22px;line-height:28px;color:#cca83d; font-weight:bold;">
                                    How to claim:
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td valign="top" style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#cca83d; font-weight:bold;">
                                                1.
                                            </td>
                                            <td align="left" valign="top" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:24px;color:#333333;">
                                                Log into your account on RegalWins.com
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#cca83d; font-weight:bold;">
                                                2.
                                            </td>
                                            <td align="left" valign="top" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:24px;color:#333333;">
                                                Head to the Claim Code section in "My Account"
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#cca83d; font-weight:bold;">
                                                3.
                                            </td>
                                            <td align="left" valign="top" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:24px;color:#333333;">
                                                Enter in code: <strong>BDAY </strong>and submit to receive your instant credit
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#cca83d; font-weight:bold;">
                                                4.
                                            </td>
                                            <td align="left" valign="top" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:24px;color:#333333;">
                                                Spend your bonus on your favourite slots!
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px;">
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;" align="center">
                                        <tr>
                                            <td align="center" valign="top" style="padding:0px 0px 0px 0px;">
                                                <table border="0" cellspacing="0" cellpadding="0" class="wrapcta">
                                                    <tr>
                                                        <td style="color:#000000;border-radius:3px; background:#cca83d; text-align: center;font-family:arial, sans-serif;font-size:18px;line-height:21px;padding:10px 20px 10px 20px;font-weight:bold;">
                                                            <a target="_blank" href="https://www.regalwins.com" xt="SPCLICK" name="secondary_cta" style="color:#000000; display: block; text-decoration: none;" id="secondary_cta">CLAIM NOW</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:40px 40px 20px 40px;">
                        <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">
                                    Wishing you a very happy day from Regal Wins!
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px; background: #ececec;">
    <tr>
        <td style="padding: 20px 20px 20px 20px; text-align: left; font-family:arial, sans-serif; font-size: 12px; line-height: 20px; color: #A3A3A3;">&#x2022; <strong>BDAY</strong> will give you 10 Free Spins that are valid for 24 hours
            <br />&#x2022; The maximum wins that can be converted to Bonus is £5 and this bonus carries a 4x wagering requirement.
            <br />&#x2022; Upon completion of the wagering requirement, the initial bonus amount will be deducted from your balance and up to £25 can be converted to Real
            <br />&#x2022; Bonus wins only are convertible to real upon completion
            <br />&#x2022; Bonus expires 7 days after having been claimed
            <br />&#x2022; General and Promotional Terms and Conditions <a href="https://www.luckyvip.com/terms-and-conditions/general-promotional-terms-and-conditions/" name="link_1" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK" id="link_1">apply.</a></td>
    </tr>
</table>