<!-- BODY -->

<table bgcolor="#011a39" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #011a39; margin: 0; padding: 0;">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td style="max-width: 600px; display:block; margin:auto;">
			<table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
				<tbody>
					<tr>
						<td><a href="http://www.regalwins.com" name="www_regalwins_com" xt="SPCLICK"><img alt="Cashback" border="0" name="Cont_2" src="http://mailers.daub8.com/regalwins/images/system/cashback.jpg " style="max-width: 100%;" title="Cashback" /></a></td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="font-family: Helvetica, Helvetica, Arial, sans-serif; margin: 0px; padding-left: 15px; padding-right: 15px; font-size: 14px; line-height: 1.6;">
						<p align="left" style="color: rgb(97, 97, 97); font-size: 11px; margin-bottom: 1.5em !important;">Username: %%Alias%%&nbsp;| <a href="https://www.regalwins.com/forgot-password" name="www_regalwins_com_forgot_pass" style="color: #011a39; text-decoration: none;" xt="SPCLICK">Forgot password</a>?</p>

						<h3 style="color: rgb(1, 26, 57); line-height: 1.1; font-weight: bold; font-size: 20px; margin: 0px 0px 5px; padding-bottom: 10px;">You&#39;re cashback&#39;s waiting!</h3>

						<p style="margin-bottom: 1em;">Hi %%Firstname%%,<br />
						<span style="color:#011a39;"></span><br />
						You&rsquo;ve qualified for your %%CurrencySymbol%%%%Amount%% cashback bonus!<br />
						<br />
						To claim, simply log into your&nbsp;<a href="http://www.regalwins.com" name="Hyperlink_20161108_172325588" target="_blank" xt="SPCLICK"><span style="color:#0000FF;"><strong><span class="Underline" style="text-decoration:underline;">RegalWins.com</span></strong></span></a>&nbsp;account and&nbsp;<strong><span style="color:#011a39;">hit the CLAIM button</span></strong> in your <strong><span style="color:#011a39;">&#39;My Account&#39; section.</span></strong><br />
						<br />
						Your cashback will expire by %%ExpireDate%%, so don&#39;t hang about!<br />
						<br />
						As an extra&nbsp;thank you for playing on Regalwins, we&#39;ve also rustled together a top up&nbsp;code that you can use EVERY Friday!</p>

						<p style="margin-bottom: 1em; text-align: center;"><span style="font-size:14px;"><span style="color:#011a39;"><strong><span style="font-size:15px;">For a 100% bonus</span></strong></span><br />
						Add from &pound;10 with code:<span style="color:#011a39;"><strong> BIGTREAT</strong></span></span></p>

						<p style="color: rgb(97, 97, 97); margin-bottom: 1em; text-align: center;"><a href="www.regalwins.com" name="www_regalwins_com_login" style="background-color: rgb(1, 26, 57);" xt="SPCLICK"><img alt="Claim now!" border="0" height="50" name="Cont_3" src="http://mailers.daub8.com/regalwins/images/system/button-msg-claim.png" style="max-width: 100%;" title="Claim now!" width="240" /></a></p>
						</td>
					</tr>
					<!-- SIGNATURE -->