<!-- BODY -->
        <table bgcolor="#000000" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #000000; margin: 0; padding: 0;">
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td style="max-width: 600px; display:block; margin:auto;">
                    <table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;" width="71%">
                        <tbody>
                            <tr>
                                <td><a name="www_regalwins_com_3" style="max-width: 100%;" xt="SPCLICK" href="http://www.regalwins.com" target="_blank"><img alt="Regal Wins" name="Cont_34" src="http://mailers.daub8.com/regalwins/images/system/600x150-RW-ClaimYourCashback.jpg" style="max-width: 100%;" title="Regal Wins" /></a></td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="margin: 0px; padding-left: 15px; padding-right: 15px; line-height: 1.6;">
                                <p style="font-family: Helvetica, Helvetica, Arial, sans-serif; font-size: 11px; color: rgb(97, 97, 97);">Username: <strong>%%Alias%%</strong> | <a name="www_regalwins_com_forgot_p" style="color: #ae0c0c; text-decoration: none;" xt="SPCLICK" href="https://www.regalwins.com/forgot-password" target="_blank">Forgot password?</a></p>
                                <h3 style="font-family: Helvetica, Helvetica, Arial, sans-serif; font-size: 20px; color: rgb(1, 26, 57); line-height: 1.1; font-weight: bold; margin: 10px 0px 15px;"></h3>
                                <p style="font-family: Helvetica, Helvetica, Arial, sans-serif; font-size: 14px; color: rgb(97, 97, 97);"><span style="background-color: rgb(255, 255, 255);">Hi %%Firstname%%<strong>,</strong></span></p>
                                <p><span style="font-size: 14px;">Congratulations! You have qualified for a %%CurrencySymbol%%%%Amount%% cashback bonus!</span></p>
                                <p><span style="font-size: 14px;">Grab it now! Simply log in to <a name="Regal_wins_1" xt="SPCLICK" href="http://www.regalwins.com" target="_blank">RegalWins.com</a> and hit the <strong><span style="color: rgb(153, 51, 0);">CLAIM button</span></strong> in your 'My Account' section.</span></p>
                                <p><span style="font-size: 14px;">Your cashback will expire by %%ExpireDate%% so don't hang about!</span></p>
                                <p><span style="font-size: 14px;">Plus, as an extra reward at Regal Wins, we&rsquo;ve also giving you a <strong><span style="color: rgb(153, 51, 0);">special 100% match bonus</span></strong> on your next deposit. All you need to do is use code <span style="color: rgb(153, 51, 0);"><strong>BIGTREAT</strong> </span>when you deposit &pound;10 - &pound;50. </span></p>
                                <p><span style="font-size: 14px;"><a name="TCs_1" xt="SPCLICK" href="https://www.regalwins.com/terms-and-conditions/general-promotional-terms-and-conditions/" target="_blank">Click here</a> for general wagering details.</span></p>
                                <p style="font-family: Helvetica, Helvetica, Arial, sans-serif; font-size: 14px; color: rgb(97, 97, 97);"></p>
                                <p align="center" style="font-family: Helvetica, Helvetica, Arial, sans-serif; font-size: 14px; color: rgb(97, 97, 97); margin-top: 30px;"><a name="www_regalwins_com_promoti" style="max-width: 100%;" xt="SPCLICK" href="http://www.regalwins.com" target="_blank"><img alt="Claim now!" border="0" name="Cont_32" src="http://mailers.daub8.com/regalwins/images/retention/button-msg-claim.png" style="max-width: 100%;" title="Claim now!" /></a></p>
                                <p style="font-family: Helvetica, Helvetica, Arial, sans-serif; font-size: 14px; color: rgb(97, 97, 97);"></p>
                                <hr color="#999999" noshade="noshade" size="1px" style="font-family: Helvetica, Helvetica, Arial, sans-serif; font-size: 14px; color: rgb(174, 12, 12); margin: 0px 0px 15px; padding: 0px;" />
                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family: Helvetica, Helvetica, Arial, sans-serif; font-size: 14px; color: rgb(97, 97, 97); width: 100%; margin: 0px; padding: 0px;">
                                    <tbody>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td align="center" bgcolor="#bea349" height="15" style="font-size: 1px; line-height: 1px; font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #bea349; margin: 0; padding: 0;" valign="top" width="240">
                                            <table border="0" cellspacing="0" style="width: 100%; margin: 0; padding: 0; border: 0px;" width="240">
                                                <tbody>
                                                    <tr>
                                                        <td align="center" style="text-align: center; padding: 5px;" valign="top" width="240"><a name="www_regalwins_com_4" style="max-width: 100%;" xt="SPCLICK" href="http://www.regalwins.com" target="_blank"><img alt="Starburst" border="0" name="Cont_24" src="https://www.regalwins.com/_global-library/_upload-images/games/list-icons-224/starburst-slots-game.jpg" style="max-width: 100%;" title="Starburst" /></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td align="center" bgcolor="#bea349" valign="top" width="240">
                                            <table border="0" cellspacing="0" style="width: 100%; margin: 0; padding: 0; border: 0px;" width="240">
                                                <tbody>
                                                    <tr>
                                                        <td align="center" style="text-align: center; padding: 5px;" valign="top" width="240"><a name="www_regalwins_com_5" style="max-width: 100%;" xt="SPCLICK" href="http://www.regalwins.com" target="_blank"><img alt="Cleopatra" border="0" name="Cont_28" src="https://www.regalwins.com/_global-library/_upload-images/games/list-icons-224/cleopatra-slots-game.jpg" style="max-width: 100%;" title="Cleopatra" /></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            </td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
                            