		<!-- BODY -->
		<table style="width: 100%;" cellpadding="0" cellspacing="0">
			<tr>
				
				<td bgcolor="#FFFFFF" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; display: block; max-width: 600px; margin:auto; padding-bottom:10px;">
					<table style="width: 100%;" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<a href="http://www.magicalvegas.com/promotions/"><img src="http://mailers.communicatormail.com/magicalvegas/images/match-bonus-600x150.jpg" style="max-width: 100%;" />
							</td>
						</tr>
						<tr>
							<td style="font-family: 'Helvetica', Arial, sans-serif; color: #5b5b5b; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:0px 20px;">
								<p style="font-size: 14px; line-height: 1.6;">Hi %%Firstname%%,</p>
								<p style="font-size: 14px; line-height: 1.6;">Username: %%Alias%%</p>
								<p style="font-size: 17px; line-height: 1.6;"><center><b>YOUR TOP UP OFFER IS READY TO CLAIM!</b></center></p>
								<p style="font-size: 14px; line-height: 1.6;">You've claimed your %%DisplayDescription%% and unlocked a %%ChainDisplayDescription%% on your next deposit.</p>
								<p style="font-size: 14px; line-height: 1.6;"><b>How to claim:</b></p>
								<ol>
								<li>Log in to MagicalVegas.com with your username and password</li>
								<li>Head to the cashier</li>
								<li>Top up and select your exclusive %%ChainDisplayDescription%%
								</ol>
								<p style="font-size: 14px; line-height: 1.6;">Today could be your lucky day, log in and play now!</p>
								<br>
							</td>
						</tr>
					</table>
						<p align="center" style="margin-top:0px; margin-bottom:0"><a href="http://www.magicalvegas.com/cashier">
									<img src="http://mailers.communicatormail.com/magicalvegas/images/template/cta-secondary-180x50.png" alt="Play now" border="0" style="max-width: 100%;" />
								</a></p>

				</td>
				
			</tr>

		</table>
		<!-- /BODY -->
