<!-- BODY -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">
    <tr>
        <td>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:0px 0px 0px 0px;">
                        <a target="_blank" xt="SPCLICK" href="https://www.regalwins.com" name="main_image" id="main_image"><img src="http://mailers.daub8.com/regalwins/images/500-welcome-mailer.jpg" aria-hidden="true" width="680" height="auto" alt="main-image" border="0" class="fluid g-img" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" name="image_2" id="image_2" /></a></td>
                </tr>
            </table>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:40px 40px 20px 40px;">
                        <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:32px;line-height:38px;color:#cca83d; font-weight:bold;">
                                    Welcome to Regal Wins!
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">
                                    <strong> %%Firstname%%,</strong> start off your reign at Regal Wins Casino with our £500 Welcome Package across your first 3 deposits:
                                    
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ececec" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:40px 40px 20px 40px;">
                        <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:22px;line-height:28px;color:#cca83d; font-weight:bold;">
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td valign="top" style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#cca83d; font-weight:bold;">
                                            </td>
                                            <td align="left" valign="top" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:24px;color:#333333;">
                                                 1. First deposit: 100% match bonus up to &pound;200
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#cca83d; font-weight:bold;">
                                            </td>
                                            <td align="left" valign="top" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:24px;color:#333333;">
                                                2. Second deposit: 40% match bonus up to &pound;200
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#cca83d; font-weight:bold;">
                                            </td>
                                            <td align="left" valign="top" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:24px;color:#333333;">
                                                3. Third deposit: 50% match bonus up to &pound;100
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px;">
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;" align="center">
                                        <tr>
                                            <td align="center" valign="top" style="padding:0px 0px 0px 0px;">
                                                <table border="0" cellspacing="0" cellpadding="0" class="wrapcta">
                                                    <tr>
                                                        <td style="color:#000000;border-radius:3px; background:#cca83d; text-align: center;font-family:arial, sans-serif;font-size:18px;line-height:21px;padding:10px 20px 10px 20px;font-weight:bold;">
                                                            <a target="_blank" href="https://www.regalwins.com" xt="SPCLICK" name="secondary_cta" style="color:#000000; display: block; text-decoration: none;" id="secondary_cta">CLAIM NOW</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:40px 40px 20px 40px;">
                        <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">
                                    <p>Login with your username <strong>%%Alias%%</strong>, head to the cashier and claim your bonus straight away.</p>

                                    <p>Then start spinning over 300 slots: play all-time favourites like Book of Ra, Cleopatra or Starburst and discover brand-new slots such as Narcos or Deal or No Deal.</p>
                                    
                                    <p>Enjoy your game play at Regal Wins.</p>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px; background: #ececec;">
    <tr>
        <td style="padding: 20px 20px 20px 20px; text-align: left; font-family:arial, sans-serif; font-size: 12px; line-height: 20px; color: #A3A3A3;">&#x2022; All registered and verified players on Regal Wins.com can opt in to use the welcome bundle on their first three deposits. 
            <br />&#x2022; Min. deposit for each bonus £10. Max. bonus on 1st dep. £200, on 2nd dep. £200, on 3rd dep. £100. 
            <br />&#x2022; Real funds will be used first before the bonus becomes playable.
            <br />&#x2022; Wagering requirements are 25x the sum of your deposit and bonus and needs to be met prior to requesting a withdrawal. 
            <br />&#x2022; Deposit Bonuses can be played on all games except progressive slots, live casino and table & card games and Unless otherwise stated, Bonuses cannot be played on games listed <a href="https://www.regalwins.com/promotions/excluded/">here</a>. 
            <br />&#x2022; Upon completion of wagering conditions, the system will remove any excess winnings. 
            <br />&#x2022; Wagering requirements of bonus wins need to be met within 7 days. 
            <br />&#x2022;Once wagering requirement is met, both bonus and bonus winnings will be converted into cash up to £1,000 per bonus. 
            <br />&#x2022; Deposit amount can be withdrawn at any time; however, bonus and bonus wins will be forfeited.
            <br />&#x2022; By accepting the bonus, the player automatically accepts the bonus T&Cs. 
            <br />&#x2022; General and Promotional Terms and Conditions <a href="https://www.regalwins.com/terms-and-conditions/general-promotional-terms-and-conditions/" name="link_2" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK" id="link_2">apply.</a></td>
    </tr>
</table>