﻿<!-- BODY -->
<table style="width: 100%;" cellpadding="0" cellspacing="0">
    <tr>
        <td bgcolor="#FFFFFF" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; display: block; max-width: 600px; margin:auto;">
            <table style="width: 100%;" cellpadding="0" cellspacing="0">
                
                <tr>
                    <td>
                        <img src="https://www.magicalvegas.com/mailers/images/ruby-lvl.jpg" style="max-width: 100%;" />
                    </td>
                </tr>

                <tr>
                    <td bgcolor="#f7f3fc" style="font-family: 'Helvetica', Arial, sans-serif; color: #494949; font-weight: normal; font-size: 14px; line-height: 1.6; display: block; max-width: 560px; margin:auto; padding:20px;">
                        <h3 style="line-height: 1.1; font-weight: 500; font-size: 22px;">
                        Hi %%Firstname%%,</h3>
                        <p style="color: #494949; font-weight: normal; font-size: 17px; line-height: 1.6;">
                            
                        <p>Your <a href="https://www.magicalvegas.com/">Magical Vegas</a> account has just been upgraded to our <b>Ruby</b> level!</p><br>
                            
                            
                        <p>You will now also receive a massive <a href="https://www.magicalvegas.com/promotions/fridays-free-chips/">10% cashback bonus</a> every Friday!</p><br>
                            
                        <p>Click <a href="https://www.magicalvegas.com/slot-games/new/"><b>here</b></a> to play all our latest games <b>NOW</b> and bring home the magic at <a href="https://www.magicalvegas.com/"><b>MagicalVegas!</b></a></p><br>
                            
                            
                        <p>Best of luck,</p><br>
                        <p><b>The Magical Vegas team</b></p>
                        <p><a href="https://www.magicalvegas.com/">www.magicalvegas.com</a></p>
                    </td>
                </tr>
                
            </table>
        </td>
    </tr>
</table>
<!-- /BODY -->