﻿<!-- BODY -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">
    <tr>
        <td>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:0px 0px 0px 0px;">
                        <a target="_blank" xt="SPCLICK" href="https://www.regalwins.com" name="main_image" id="main_image"><img src="http://mailers.daub8.com/regalwins/images/mailer-gold.jpg" aria-hidden="true" width="680" height="auto" alt="Welcome to Ruby" border="0" class="fluid g-img" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" name="image_2" id="image_2" /></a></td>
                </tr>
            </table>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:40px 40px 20px 40px;">
                        <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:32px;line-height:38px;color:#cca83d; font-weight:bold;">
                                    Welcome to Gold VIP Level!
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">
                                    Congratulations %%Firstname%%!
                                    <br />
                                    <br />To celebrate your Gold upgrade we have added <strong>£10</strong> bonus into your account!
                                    <br />
                                    <br /><strong>You have now unlocked access to the following great benefits:</strong>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:40px 40px 20px 40px;">
                        <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td valign="top" style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#cca83d; font-weight:bold;">
                                                &#x2022;
                                            </td>
                                            <td align="left" valign="top" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:24px;color:#333333;">
                                                Instant £10 upgrade bonus - Log in now and find it waiting!
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#cca83d; font-weight:bold;">
                                                &#x2022;
                                            </td>
                                            <td align="left" valign="top" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:24px;color:#333333;">
                                                5% BonusBack every Friday
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#cca83d; font-weight:bold;">
                                                &#x2022;
                                            </td>
                                            <td align="left" valign="top" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:24px;color:#333333;">
                                                Exclusive Promotions
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#cca83d; font-weight:bold;">
                                                &#x2022;
                                            </td>
                                            <td align="left" valign="top" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:24px;color:#333333;">
                                                Special Birthday Bonus £20
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="min-width:100%;" class="email-container">
                <tr>
                    <td align="center" style="padding:40px 40px 20px 40px;">
                        <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">
                                    Next step is Ruby VIP Level. Check out our <a href="https://www.regalwins.com/loyalty/" name="link_1" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK" id="link_1">promo page</a> to find out more.
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding:0px 0px 20px 0px;">
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;" align="center">
                                        <tr>
                                            <td align="center" valign="top" style="padding:0px 0px 0px 0px;">
                                                <table border="0" cellspacing="0" cellpadding="0" class="wrapcta">
                                                    <tr>
                                                        <td style="color:#000000;border-radius:3px; background:#cca83d; text-align: center;font-family:arial, sans-serif;font-size:18px;line-height:21px;padding:10px 20px 10px 20px;font-weight:bold;">
                                                            <a target="_blank" href="https://www.regalwins.com" xt="SPCLICK" name="primary_cta" style="color:#000000; display: block; text-decoration: none;" id="primary_cta">PLAY NOW</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px; background: #ececec;">
    <tr>
        <td style="padding: 20px 20px 20px 20px; text-align: left; font-family:arial, sans-serif; font-size: 12px; line-height: 20px; color: #A3A3A3;">&#x2022; Upgrades are at the discretion of management.
            <br />&#x2022; Please visit the <a href="https://www.regalwins.com/" name="link_2" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK" id="link_2">website</a> for more details.
            <br />&#x2022; Upgrade bonus is a slots bonus not available on Table Games and Progressive Jackpots.
            <br />&#x2022; Upgrade bonus carries a 25x wagering and a maximum of £50 can be converted. Bonus is valid for 7 days once credited.
            <br />&#x2022; BonusBack is paid in Bonus Funds as per the BonusBack <a href="https://www.regalwins.com/promotions/weeklybonusback/" name="link_3" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK" id="link_3">T&amp;C's</a> and carries a 20x WR. Upon completion, the initial bonus amount will be taken off and up to a maximum of £500 can be converted to Real Funds
            <br />&#x2022; For full T&amp;Cs, <a href="https://www.regalwins.com/terms-and-conditions/general-promotional-terms-and-conditions/" name="link_4" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK" id="link_4">click here</a>.</td>
    </tr>
</table>