
            <tr>
              <td align="center">
                <img src="%%URL%%/mailers/images/HeaderForgotPassword.png" alt="" width="620" height="151" hspace="0" vspace="0" border="0" usemap="#Map" style="display:block;" />
              </td>
            </tr>
            <tr>
              <td align="center" bgcolor="#fff">
                <!--Content1 Starts-->
                <table width="620" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="white" style="border-collapse:collapse; text-align:left; font-family:Arial, Helvetica, sans-serif; font-weight:normal; font-size:11px; line-height:15pt; color:#8d8d8d; margin:0;">
                  <tr>
                    <td bgcolor="white">
                      <img src="%%URL%%/mailers/images/space.jpg" alt="" width="20" hspace="0" vspace="0" border="0" style="display:block;" />
                    </td>
                    <td bgcolor="white">
                      <br />
                      <p>
                        Dear <strong>%%Firstname%%</strong>
                      </p>
                      <p>Your password has been reset with your new password enclosed in this email. </p>
					 <p>Once you have logged in with your new password it is recommended that 
					you change your password to something more memorable.</p>
					<p>We recommend you go to the Personal Details tab on your My Account section 
					where you will be able to choose a new password of your choice.</p>
					<p>It is important that you do not keep this temporary password!</p>
			    <p>
                        &nbsp;
                      </p>
                    </td>
                    <td width="20" bgcolor="white">
                      <img src="%%URL%%/mailers/images/space.jpg" alt="" width="20" hspace="0" vspace="0" border="0" style="display:block;" />
                    </td>
                    <td width="200" bgcolor="white" valign="middle">
                      <!--details-->
                      <table width="180" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; text-align:left; font-family:Arial, Helvetica, sans-serif; font-weight:normal; font-size:11px; line-height:15pt; color:#8d8d8d; margin:0;">
                        <tr>
                          <td width="180" heigth="14">
                            <img src="%%URL%%/mailers/images/top-curve_180.png" alt="" width="180" heigth="14" hspace="0" vspace="0" border="0" style="display:block;" />
                          </td>
                        </tr>
                        <tr>
                          <td width="180" bgcolor="#DBDBDB" margin="0" padding="0">
                            <h2 style="padding:0; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:17pt; color:#ff6d0b; font-weight:lighter; margin-top:0; margin-bottom:10px !important;">
                              &nbsp;&nbsp;LOGIN DETAILS
                            </h2>
                          </td>
                        </tr>
                        <tr>
                          <td width="170" bgcolor="#DBDBDB" align="center">
                            <!--details in-->
                            <table width="180" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse; border-spacing:0; border-width:0;" margin="0" padding="0">
                              <tr>
                                <td width="10" bgcolor="#DBDBDB">
                                  <img src="%%URL%%/mailers/images/space-grey.jpg" alt="" width="10" hspace="0" vspace="0" border="0" margin="0" padding="0" style="display:block;" />
                                </td>
                                <td width="10" height="10">
                                  <img alt="" height="7" src="%%URL%%/mailers/images/arrow.gif" width="10" border="0" />
                                </td>
                                <td width="180" style="padding:0; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:100%; color:#8d8d8d;" align="left" valign="middle">
                                  User Name: <strong>%%Alias%%</strong>
                                </td>
                              </tr>
                              <tr>
                                <td width="10" style="padding:0" bgcolor="#DBDBDB">
                                  <img src="%%URL%%/mailers/images/space-grey.jpg" alt="" width="10" hspace="0" vspace="0" border="0" style="display:block;" />
                                </td>
                                <td height="10" style="padding:0">
                                  <img alt="" height="7" src="%%URL%%/mailers/images/arrow.gif" width="10" border="0" />
                                </td>
                                <td width="180" height="10" align="left" style="padding:0; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8d8d8d;" valign="middle">Password: <strong>%%Autogeneratedpassword%%</strong></td>
                              </tr>
                            </table><!--details in end-->
                          </td>
                        </tr>
						<tr>
                          <td style="padding:0;margin:0;height:0px;" width="180" valign="top"><img src="%%URL%%/mailers/images/bottom-curve_180.gif" width="180" hspace="0" vspace="0" border="0" style="display:block;padding:0;margin:0" /><br /><br /></td>						  						   
                        </tr>
                      </table><!--end details-->
                    </td>
                    <td width="20" bgcolor="white">
                      <img src="%%URL%%/mailers/images/space.jpg" alt="" width="20" hspace="0" vspace="0" border="0" style="display:block;" />
                    </td>
                  </tr>
                </table><!--Content1Ends-->
              </td>
            </tr>
			 <tr bgcolor="#ffffff">
	              <td align="center" style="padding:0;margin:0;height:0px; font-family:Arial, Helvetica, sans-serif; font-weight:normal; font-size:11px; line-height:15pt; color:#8d8d8d; margin:0;"> 
	              	 <p>Don&acute;t forget it again!</p>
                    <p><span style="font-size:10px;">Note: If you did not request a password reset please contact the <a href="http://www.spinandwin.com/contactus">helpdesk</a> immediately</span></p>  
	              </td>
	            </tr>
            <tr>
              <td align="center" style="padding:0;margin:0;height:0px;">
                <img src="%%URL%%/mailers/images/curve-shadow.png" width="620" height="14" border="0" hspace="0" style="display:block;" bgcolor="white" />
              </td>
            </tr><!--empty-->
