.green-cta {
	padding: 1em;
    width: 100%;
    display: block;
    text-align: center;
        color: #011558;
         font-family: $ui-font-bold;
    font-size: 0.8em;
    @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.35));
    @include border-radius(50px);
        background-color: $global-link-color;
    &:hover {
     background-image: none;
     background-color: transparent;
    background: $global-link-color;
    }
}