.login-box--in-page {    
    background-color:$grey;
    font-size:1rem;
   
    >h1{
        font-size:1em;
    }

    .forgot-password{
        
        a{
            color:white;
            text-decoration:underline;

        }
        margin-bottom:0.5em;
        
    }

   @include grid-column(12);
    @media #{$small-only}{
        
        padding:2em!important;
    }

}
.login-box--in-page__forgot-password{
    a{
        color:white;
        margin-bottom: 1em;
    } 
}
.login-box--in-page__form-wrapper{
  @include grid-column(7);
}
.login-box--in-page__login{
    @extend .button;
    @include grid-column(3);
}
.login-box--in-page__register{
    @extend .button!optional;
    @extend success!optional;
    @include grid-column(3);
    margin-bottom: $site-margin;
}