#login-modal {
    &.reveal-modal {
        margin: 0;
        transform: none;
        max-width: 500px;

        @media #{$small-only} {
            @include grid-column(12);

            height: 100% !important;
            width: 100% !important;
            min-height: 100% !important;
            max-width: 100%;
            transform: none !important;
            top: 0 !important;
            position: absolute;
            left: 0 !important;
            margin: 0 auto !important;
        }
    }
}

.login-box {
    @media #{$medium-up} {
        @include grid-column(12);

        font-size: 1rem;
        margin-top: 0em;

        > h1 {
            font-size: 1.4em;
            text-transform: uppercase;
            border-bottom: 1px $main-highlight-color solid;
            margin-bottom: 24px;
            color: $main-highlight-color;
        }
    }

    @media #{$small-only} {
        @include grid-column(12);

        font-size: 1rem;

        > h1 {
            font-size: 1.3em;
            text-transform: uppercase;
        }
    }
}

.login-box__form-wrapper {}

.login-box__login {
    @extend .button !optional;

    @include grid-column(12);

    @include border-radius(3px);

    background-color: $brand-color;
    font-family: "kirobold", Helvetica, Arial, sans-serif;
}

.login-box__register {
    @extend .button !optional;

    @extend .success !optional;

    @include grid-column(12);

    @include border-radius(3px);
}

.login-box__register-link {
    color: $white;
    text-align: center;
}

.login-box__input-wrapper {
    position: relative;
}

.login-box__show-password {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 11px;
    text-decoration: underline !important;
    text-transform: uppercase;
    display: block;
    height: auto;
    line-height: 22px;
    padding: 0px 6px;
    background: lighten($grey, 20%);
    text-align: center;

    a {
        font-weight: bold;
        color: white;
    }

    &:hover {
        opacity: 0.5;
    }
}

.login-box__forgot-password {
    position: relative;
    font-size: 11px;
    text-decoration: underline !important;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-top: 1em;
    float: left;
    width: 100%;
}

// login box in-page
.login-box--in-page {
    background-color: $grey;
    font-size: 1rem;

    > h1 {
        font-size: 1em;
        color: $main-highlight-color;
    }

    .forgot-password {
        a {
            color: white;
            text-decoration: underline;
        }

        margin-bottom: 0.5em;
    }

    @include grid-column(12);

    @media #{$small-only} {
        padding: 2em !important;
    }
}

.login-box--in-page__forgot-password {
    a {
        color: white;
        margin-bottom: 1em;
    }
}

.login-box--in-page__login {
    @extend .button;

    @include grid-column(12);
}

.login-box--in-page__register {
    @extend .button !optional;

    @extend success !optional;

    @include grid-column(12);
}

.login-terms {
    @include grid-column(12);

    .text-partial {
        border: none;
    }

    .text-partial-content {
        //        background-color: white;
        padding-left: 0px;
    }

    .accordion-navigation > a {
        font-family: "kiroregular", Helvetica, Arial, sans-serif !important;
        color: #d95840 !important;
        padding: 0.875rem !important;
        background: none !important;
        text-decoration: underline;
    }

    h1 {
        display: none;
    }
}