.login-page {
    @media #{$medium-only} {
        @include grid-column(6, $center: true, $collapse: true);
    }
    @media #{$large-up} {
        @include grid-column(4, $center: true, $collapse: true);
    }
}

.content-wrapper--login {
    #ui-login-form > span.login-box__login {
        @include grid-column(12, $float: left);
        font-family: "kirobold", Helvetica, Arial, sans-serif;
        @media #{$small-only} {
            @include grid-column(12);
        }
    }
    #join-login-box {
        @include grid-column(12, $float: left);
        margin-bottom: $site-margin;
        @media #{$small-only} {
            @include grid-column(12);
        }
    }
    .login-box {
        @include box;
        @include grid-column(5, $float: left);
        padding-top: $site-margin;
        margin-bottom: $site-margin;
        margin-top: $site-margin; 
        @media #{$small-only} {
            @include grid-column(12);
        }
    }
    .login-banner {
        @include grid-column(7, $float: right);
        padding-top: $site-margin;
        margin-bottom: $site-margin;
        @media #{$small-only} {
            @include grid-column(12);
        }
        img {
            width: 100%;
        }
    }
}