.acquisition-banner {
    position:relative;
    background: 0px 0px / 100% 100% no-repeat url('../_images/common/demo-image.png');
    @include grid-column(12);
    height: 100%;
    font-size: 1rem;
    text-align: center;
    >h1 {
            font-size: 1rem;
            text-align:center;
        }

}

.slots-banner {
    min-height: 30px;
}