.responsible--gaming{
		padding-bottom: rem-calc(80px);

	
		article:nth-child(1) > h1 {
			display: none;
		}

		.responsible--gaming_title {
			@media #{$medium-only} {
		    	text-align: left;
		    	padding-left: rem-calc(20px);
		    }
		}

		.text-partial {

		h1 {
			font-size: rem-calc(20px) !important;
		    padding-bottom: rem-calc(20px) !important;
		    padding-top: rem-calc(10px) !important;

		    @media #{$small-only} {
		    	text-align: left;
		    	padding-left: rem-calc(20px);
		    	padding-right: rem-calc(20px);
		    }

		    @media #{$medium-only} {
		    	text-align: left;
		    	padding-left: rem-calc(20px);
		    }
		}

		li span {
			font-family: $font-copy;
			font-size: 0.9rem !important;
		}

		p span {
			font-family: $font-copy;
			font-size: 1rem !important;
		}

		@media #{$small-only} {
			overflow-wrap: break-word;
		}
	}

	select.textField {
		width: 100% !important;
		max-width: rem-calc(240px) !important;
		float: left;
	}

	a.button.expand {
		font-family: $font-button;
		font-size: rem-calc(16px);
		width: 100%;
		max-width: rem-calc(200px);	
		float: left;
	    padding: 7px;
	    margin-left: rem-calc(20px);
	    border-radius: rem-calc(50px);
	    color: black;
	    text-transform: uppercase;

	    &:hover {
	    	background: $yellow-hover;
	    }
	}
}

