
// form parent required to override globals in registration
form {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    input[type="color"],
    textarea,
    select {
        color: $white !important;
        background-color: transparent;
        font-size: 1rem;
        padding: 0.4rem 0.5rem 0.6rem 1.5rem;
    
        &:focus {
            color: $white;
            background-color: transparent;
        }
    }

    span.error {
        background: none;
        font-size: $rw-body-small-font-size;
        font-weight: bold;
        color: red;
        font-style: normal;
        padding: 0 8px;

        a { 
            color: $white;
            text-decoration: underline;
        }
    }
}

// This only appears on the login PAGE (i.e. /login/)
// Need to overrule modal version margins
.login-page--action {
    .login__acquisition-banner {
        margin-top: 0;
    }
    
    .content-template {
        padding: 20px;
    }

    .login-box {
        @media #{$medium-up} {
            margin-top: 20px;
            padding-left: 20px !important;
        }
    
        @media #{$small-only} {
            margin-top: 0;
        }
    }
}

#login-modal {
    background: $black url('/_images/revamp/common/backgrounds/card-pattern-dark.png');
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;

    &.reveal-modal {
        margin: 0;
        transform: none;
        max-width: 500px;
        transition: top 0.5s;
        transition-timing-function: ease-in-out;
        @media #{$small-only} {
            @include grid-column(12);

            height: 100% !important;
            width: 100% !important;
            min-height: 100% !important;
            max-width: 100%;
            transform: none !important;
            top: 0 !important;
            position: absolute;
            left: 0 !important;
            margin: 0 auto !important;
            padding: 20px;
            border: 0;
        }
    }
}

.reveal-modal .close-reveal-modal {
    color: $white;
    font-weight: normal;
    top: 0;
}

.login-box {
    @media #{$medium-up} {
        @include grid-column(12);

        font-size: 1rem;
        margin-top: 0em;

        > h1 {
            color: $white;
            font-weight: bold;
            font-size: 18px;
            text-transform: none;
            margin-bottom: 24px;
        }
    }

    @media #{$small-only} {
        @include grid-column(12);
        margin-top: 4rem;
        padding: 0;
        font-size: 1rem;

        > h1 {
            color: $white;
            font-weight: bold;
            font-size: $rw-header-secondary-size;
            text-transform: none;
            margin-bottom: 10px;
        }
    }
}

.login-box__form-wrapper #ui-login-form > span.login-box__login {
    @include regalwins-button-gradient();

    &:hover {
        text-decoration: underline;
        color: $white;
        cursor: pointer;

        @include regalwins-button-gradient('false', 'orange');
    }
}

.gamble-responsibly {
    padding: 15px 15px 20px 15px;
    margin-top: 2rem;
    text-align: center;

    img {
        width: 169px;
        height: 34px;
    }

    & p {
        margin: 1rem 0 0 0;
        font-size: rem-calc(12px);
        color: $regalwins--gray-lightest;
    }
}

.login-box__register {
    @extend .button !optional;

    @extend .success !optional;

    @include grid-column(12);

    @include border-radius(3px);
}

.login-box__register-link {
    text-align: center;
}

.login-box__input-wrapper {
    position: relative;
    input {
        border-width: 1px !important;
    }
    .show-password {
        position: absolute;
        text-transform: uppercase;
        right: 0px;
        font-size: 9px;
        font-weight: 600;
        padding: 2px;
        padding-bottom: 0;
        padding-top: 0;
        border-radius: 8px;
        color: transparent;
        min-width: 32px;
        text-align: center;
        top: 15px;
        &.eye-shut {
            z-index: 1;
            background: url("/_images/revamp/common/icons/password-hide.svg") no-repeat center;
            background-size: 31px 28px;
            width: 65px;
            height: 24px;
        }
        &.eye-open {
            z-index: 1;
            background: url("/_images/revamp/common/icons/password-visible.svg") no-repeat center;
            background-size: 31px 20px;
            width: 65px;
            height: 24px;
        }
        .right {
            display: none;
        }
    }
}


.login-box__form-wrapper {
    a {
        &:active, &:focus, &:visited { color: $white; }
    }
}

.login-box__show-password {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 11px;
    text-decoration: underline !important;
    text-transform: uppercase;
    display: block;
    height: auto;
    padding: 0px 6px;
    line-height: 22px;
    background: lighten($grey, 20%);
    text-align: center;
    cursor: pointer;
}

.login-box__forgot-password {
    position: relative;
    font-size: 13px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
    float: left;
    width: 100%;
    color: $white;
    
    &:active, &:hover, &:focus {
        text-decoration: underline;
        color: $white !important;
    }
}

.login-box__register-here {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    color: $white;
    text-align: center;
    text-decoration: none;

    &:active, &:hover, &:focus {
        color: $white;
        text-decoration: underline;
    }
}




// login box in-page
.login-box--in-page {
    background-color: $grey;
    font-size: 1rem;

    > h1 {
        font-size: 1em;
    }

    .forgot-password {
        a {
            color: white;
            text-decoration: underline;
        }

        margin-bottom: 0.5em;
    }

    @include grid-column(12);

    @media #{$small-only} {
        padding: 2em !important;
    }
}

.login-box--in-page__forgot-password {
    a {
        color: white;
        margin-bottom: 1em;
    }
}

.login-box--in-page__login {
    @extend .button;

    @include grid-column(12);
}

.login-box--in-page__register {
    @extend .button !optional;

    @extend success !optional;

    @include grid-column(12);
}

.login-terms {
    float: left;
    clear: both;

    .text-partial {
        border: none;
    }

    .text-partial-content {
        padding-left: 0px;

        ol {
            font-size: 0.8rem;
        }
    }

    .accordion-navigation > a {
        background: #EFEFEF;
        color: #222222;
        display: block;
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 1rem;
        padding: 1rem;
    }

    h1 {
        display: none;
    }
}

#ui-login-form > span.login-box__login {

    &:hover {
        color: $regalwins--copy-colour;
        background:$regalwins--hover;
    }
}

#ui-login-form > a.login-box__register-link.green-cta {
    &:hover {
        background:$regalwins--hover;
    }
}