.login-page {
    .login-box {
        @media #{$medium-only} {
            @include grid-column(6, $center: true, $collapse: true);
        }
        @media #{$large-up} {
            @include grid-column(4, $center: true, $collapse: true);
        }
    }
}

.login-page--action {
    .login-box {
        @media #{$small-only} {
            @include grid-column(12,$collapse: true);
            padding-top:1em;
            
        }
        @media #{$medium-only} {
            @include grid-column(6,$collapse: true,$center:true);
            padding-top:1em;
            
        }
        @media #{$large-up} {
            @include grid-column(6,$collapse: true);
        }
    }

    .login__acquisition-banner{
        margin-top: $site-margin;
        @media #{$small-only} {
            @include grid-column(12,$collapse: true);
            margin-top: 0;
            margin-bottom: 0;
            
        }
        @media #{$medium-only} {
            @include grid-column(6,$collapse: true,$center:true);
            
        }
        @media #{$large-up} {
            @include grid-column(6,$collapse: true);
            padding-left:1em;
            padding-top:1.8em;
            
        }

        img{
            width:100%;
        }
    }
}