.banking-content {

    .section-left__title {

        margin: 38px 0 44px 0;

        @media #{$medium-only} {
            margin: 20px 20px 0 20px;
        }

        @media #{$small-only} {
            margin: 20px 20px 0 20px;
        }



        h2 {
            font-family: $font-header1;
            font-size: rem-calc(30px);
            color: $black;
            line-height: 43px;
            text-transform: uppercase;
            margin: 0;
        }
    }

    .banking-content__wrap:nth-of-type(odd) {
        float: left;
    }
    .banking-content__wrap:nth-of-type(even) {
        float: right;
    }
    .banking-content__wrap {
        padding: rem-calc(22px);
        width: 48.3%;
        float: left;
        background: $aqua-haze;
        font-family: $font-copy;
        font-size: rem-calc(12px);
        color: $black;
        letter-spacing: 0;
        line-height: rem-calc(21px);
        margin-bottom: rem-calc(34px);

        @media #{$small-only} {
            width: 100%;
        }

        article {
            width: 100%;
            float: left;
            ul {
                // padding-left: rem-calc(11px);
                // padding-right: 0.3125rem;
                width: 100%;
                float: left;
                margin: 0; // padding: 1.25rem;
                background: $white;
                li {
                    list-style: none;
                    font-family: $font-copy-bold;
                    font-size: rem-calc(13px);
                    line-height: rem-calc(31px);
                    border-bottom: 1px solid $aqua-haze;
                    width: 100%;
                    float: left;

                    &:first-child {
                        color: $green;
                    }

                    &:nth-child(2) {
                        color: $red;
                    }
                }
            }
        }

        p {
            width: 100%;
            float: left;
            margin-top: rem-calc(18px);
        }


        .banking-content__article__left {
            width: 66.67%;
            float: left;
            padding: 0 rem-calc(11px);
        }
        .banking-content__article__right {
            width: 33.33%;
            float: left;
            text-align: right;
            padding: 0 rem-calc(11px);
        }

        .banking-content__top {

            margin-bottom: rem-calc(28px);
            margin-top: rem-calc(13px);
            width: 100%;
            float: left;

            h1 {
                width: 60%;
                float: left;
                padding: 0;
                @media #{$small-only} {
                    text-align: left;
                }
            }

            span {
                width: 40%;
                float: left;
                text-align: right;
            }
            img {
                height: rem-calc(46px);
                max-width: rem-calc(100px);
            }
        }
    }

    article {
        &.text-partial {
            width: 100%;
            float: left;
            margin-top: rem-calc(15px);

            h1 {
                font-family: $font-header1;
                border-top: 1px solid $heather;
                padding-top: rem-calc(29px);
                padding-bottom: 0;

                @media #{$small-only} {
                    text-align: left;
                }
            }
            h1:first-child {
                margin-bottom: rem-calc(43px);
                @media #{$small-only} {
                    margin: 0;
                }

                @media #{$medium-only} {
                    padding-left:0;
                    margin-bottom:0;
                }


            }

            h1:nth-child(2) {
                margin-bottom: rem-calc(35px);
            }

            .text-partial-content {

                @media #{$small-only} {
                    padding: 0px;
                }

                @media #{$medium-only} {
                    padding: 0px;
                }

                h2 {
                    font-family: $font-header2;
                    font-size: rem-calc(20px);
                    color: $black;
                    letter-spacing: 0;
                    text-transform: uppercase;
                }
                p:first-child {
                    margin-bottom: rem-calc(99px);
                    line-height: rem-calc(30px);
                    font-size: rem-calc(18px);

                    @media #{$small-only} {
                        line-height: rem-calc(20px);
                        font-size: rem-calc(16px);
                        margin-bottom: rem-calc(40px);
                    }
                }
            }
        }
    }
    /*
################
Responsive Table Banking
################
*/
    $breakpoint-alpha: 480px; // adjust to your needs
    table.responsive {
        font-family: $font-copy;
        font-size: rem-calc(18px);
        color: $white;
        letter-spacing: 0;

        thead>tr>td {
            color: white;
            background: $graychateau;
            width: 33.33%;
            text-align: center;
        }

        @include border-radius(0px);

        width: 100% !important; //border-collapse: collapse;
        border: none;
        margin: 1em 0;
        border-spacing: 0px; //min-width: 280px !important;
        // adjust to your needs
        tr {
            //border-bottom: 1px solid white;
            th {
                color: white;
                background: $graychateau;
                font-weight: bold;

                p {
                    font-size: 0.875rem;
                    border: none;
                    font-weight: bold;
                    margin-bottom: 0;
                }
            }
        }

        td {
            display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
        }

        td {
            display: block;

            &:first-child {
                padding-top: .5em;
            }

            &:last-child {
                padding-bottom: .5em;
            }

            &:before {
                content: attr(data-th) ": "; // who knew you could do this? The internet, that's who.
                font-weight: bold; // optional stuff to make it look nicer
                width: 7em; // magic number :( adjust according to your own content
                display: inline-block; // end options
                @media (min-width: $breakpoint-alpha) {
                    display: none;
                }
            }
        }

        tbody td,
        thead td {
            text-align: center; // @media (max-width: $breakpoint-alpha) {
            //     text-align: left !important;
            // }
            @media (min-width: $breakpoint-alpha) {
                display: table-cell;
                padding: .25em .5em;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    .table-hide-small {
        @media (max-width: $breakpoint-alpha) {
            border-spacing: 0px;
            display: none !important;
        }

        @media (min-width: 481px) {
            //background: $graychateau !important;
            width: 100%;
        }
    }

    table.responsive {
        tr:nth-of-type(odd) {
            background: none;
            background-color: $aqua-haze;
            width: 100%;
        }

        tr:nth-of-type(even) {
            background: $ui-table-even;
        }

        background: $graychateau;
        color: #fff !important; // border-radius: .4em;
        overflow: hidden;
        width: 100%;

        th,
        td {
            margin: .5em 1em;

            @media #{$small-only} {
                margin: 0;
                padding: ($site-margin / 2) !important;
            }

            @media (min-width: $breakpoint-alpha) {
                padding: 1em 0.5em !important;
            }
        }

        th,
        td:before {
            width: auto;
        }
    }

    table.responsive {
        margin: 1em 0; //min-width: 300px;
        // adjust to your needs
        @media (max-width: $breakpoint-alpha) {
            border-top: 1px solid #DDD;
            border-bottom: 1px solid #DDD;
            overflow: visible;
        }

        tr {
            //border-top: 1px solid #ddd;
            //border-bottom: 1px solid #ddd;
            @media (max-width: $breakpoint-alpha) {
                @include grid-column(12);

                border-top: none;
                padding: ($site-margin / 2) 0;
            }
        }

        thead td {
            display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
        }

        thead tr {
            background: $ui-table-even;
        }

        td {
            display: block;
            border: none;

            &:first-child {
                padding-top: .5em;
            }

            &:last-child {
                padding-bottom: .5em;
            }

            &:before {
                content: attr(data-th) ": ";

                @media (max-width: $breakpoint-alpha) {
                    min-height: 20px;
                    float: left;
                } // who knew you could do this? The internet, that's who.
                font-weight: bold;
                color: $graychateau; // optional stuff to make it look nicer
                // width: 6.5em;
                width: 50%;
                margin-right: 0.5em; // magic number :( adjust according to your own content
                display: inline-block; // end options
                @media (min-width: $breakpoint-alpha) {
                    display: none;
                }
            }
        }

        tbody td,
        thead td {
            //text-align: left !important;
            @media (max-width: $breakpoint-alpha) {
                border: none;
            }

            @media (min-width: $breakpoint-alpha) {
                display: table-cell;
                padding: .25em .5em;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}