.faq--page {

	.middle-content__box {
		margin-bottom: 80px;
	}

	.text-partial {
		padding-bottom: 20px;

	h1 {
		font-size: rem-calc(20px) !important;
	    padding-bottom: 20px !important;
	    padding-top: 10px !important;

	    @media #{$small-only} {
	    	text-align: left;
	    	padding-left: rem-calc(20px);
	    	padding-right: rem-calc(20px);
	    }

	    	@media #{$medium-only} {
	    		text-align: left;
	    		padding-left: rem-calc(20px);
	    	}
		}

	}
} 

#faq {
	.bottom-content {
		display: none;
	}
}                                        