.community-chat-news {
    .two-columns-content-wrap__left {
        padding-right: 10px;

         @media #{$medium-only} {
                 padding-right: 0px;
            }
            @media #{$small-only} {
                padding-right: 0px;
            }
    }
    .community-chat-news__hosts {
        .article {
            @include grid-column(4);
            background-color: transparent;
            border: none;


            @media #{$small-only} {
                @include grid-column(12);
            }
        }
        .article__content {
            float: left;
            background-color: $white;
            padding: $site-margin / 2;
            border-style: solid;
            border-color: $border;
            border-width: 1px;
            border-radius: 2px;
            font-family:$body-font-regular;

        }
        .article__content__title {
            position: relative;
            top:0px;
            width: 100%;
            text-align: center;

             @media #{$small-only} {
                 font-size:1.5em;
                }
        }
        .article__content__image {
            @include grid-column(12, $collapse: true);
            box-shadow: none;
            text-align: center;
            margin-bottom:15px;
        }
        .article__content__body {
            @include grid-column(12, $collapse: true);
            background-color:$blue-background;
            padding: 10px 10px 0px 10px;
            height: 170px;

             @media #{$small-only} {
                 height: auto;
                }

            p {
               font-size:0.8em; 
                margin-bottom: 5px;

              @media #{$small-only} {
                 font-size:1em;
                 height: auto;
                }
            }

            strong {
                color:$base-blue;
            }
        }
        .article__content__date {
            display: none;
        }
        .article__content__cta-container {
            display: block !important;
        }
        .article__content__cta {
            font-family: $body-font-bold;
            font-size:0.8em;
            color:$grey;
            display: none;
            text-align: right;
            text-decoration: underline;
            
                @media #{$small-only} {
                 font-size:1em;
                }

        }
    }
    .text-image-left-partial{
    @media #{$small-only} {
                padding: 10px;
                }
        
        .text-image-left-partial__content__img{
        @include grid-column(4);

        @media #{$small-only} {
                    @include grid-column(12);
                }
                @media #{$medium-only} {
                         @include grid-column(4);
                }

        }

        h1 {
            @include grid-column(12, $collapse: true);
            border-bottom: 1px dotted $yellow-dark;
            padding:0px;
            font-size: 1.4em;
            text-transform: uppercase;

               @media #{$small-only} {
                    padding-bottom:10px;
                } 
        }

        >p{
           @media #{$small-only} {
                    font-size:0.9em;
                    padding:10px;
                } 
        }
    }
    
}