.community-blog, .community__section__post, .community-boxes {
    .article {
        @include grid-column(4);
        border: none;
        background: transparent;
        @include clearfix;
        margin-bottom: $site-margin;
        font-size: 1rem;
        overflow: visible;
        padding-right: 10px;
        cursor: pointer;
        @media #{$medium-only} {
            padding-right: 10px;
        }
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 0.8rem;
        }
        .article__content {
            @include be-box($white, solid, $border, 0px);
            padding: 10px;
            overflow: hidden;
            position: relative;
            height: 300px;
            @media #{$medium-only} {
                padding: 10px 15px;
                height: 270px;
            }
            @media #{$small-only} {
                @include grid-column(12);
                padding: 10px 15px;
                height: auto !important;
            }
            .article__content__title {
                @include grid-column(12, $collapse: true);
                border-bottom: 1px dotted $yellow-dark;
                padding-left: 0px;
                font-size: 0.8em;
                float: left;
                position: absolute;
                top: 195px;
                width: 90%;
                > a {
                    color: $base-blue;
                    text-transform: uppercase;
                    height: 17px !important;
                    overflow: hidden;
                    display: block;
                }
                @media #{$medium-only} {
                    float: left;
                    position: relative;
                    top: 0px;
                    width: 100%;
                   
                    > a {
                        font-size: 1.2em;
                    }
                }
                @media #{$small-only} {
                    @include grid-column(12);
                    float: left;
                    position: relative;
                    top: 0px;
                    width: 100%;
                    > a {
                        font-size: 1.4em;
                    }
                }
            }
        }
        .article__content__date {
            font-size: 0.8em;
            color: $base-light-blue;
            font-family: $title1-font;
            position: relative;
            @media #{$medium-only} {
                display: none;
                @include grid-column(4, $collapse: true);
                font-size: 0.9em;
                color: $base-light-blue;
                background-image: none;
                position: absolute;
                right: 0px;
                text-align: right;
                padding-right: 10px;
            }
            @media #{$small-only} {
                display: none;
                @include grid-column(4, $collapse: true);
                font-size: 0.9em;
                color: $base-light-blue;
                background-image: none;
                position: absolute;
                right: 0px;
                text-align: right;
                padding-right: 10px;
            }
        }
        .article__content__image {
            padding: 0px;
            float: left;
            margin-bottom: 32px;
            @media #{$medium-only} {
                @include grid-column(12, $collapse: true);
                text-align: center;
                margin-bottom: 10px;
            }
            @media #{$small-only} {
                @include grid-column(12);
                // margin: 5px 10px 10px 0px;
                text-align: center;
                padding: 0;
            }
        }
        .article__content__cta-container {
            font-family: $body-font-bold !important;
            font-size: 0.8em;
            display: block !important;
            position: absolute;
            width: 100%;
            height: 10%;
            bottom: 0px;
            left: 0px;
            padding: 5px 10px;
            background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.12) 15%, rgba(255, 255, 255, 0.73) 37%, rgba(255, 255, 255, 1) 83%);
            /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(255, 255, 255, 0.12)), color-stop(37%, rgba(255, 255, 255, 0.73)), color-stop(83%, rgba(255, 255, 255, 1)));
            /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.12) 15%, rgba(255, 255, 255, 0.73) 37%, rgba(255, 255, 255, 1) 83%);
            /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(255, 255, 255, 0.12) 15%, rgba(255, 255, 255, 0.73) 37%, rgba(255, 255, 255, 1) 83%);
            /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.12) 15%, rgba(255, 255, 255, 0.73) 37%, rgba(255, 255, 255, 1) 83%);
            /* IE10+ */
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.12) 15%, rgba(255, 255, 255, 0.73) 37%, rgba(255, 255, 255, 1) 83%);
            /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fffffff', endColorstr='#ffffff',GradientType=0 );
            /* IE6-9 */
            > a {
                color: $grey;
            }
            @media #{$medium-only} {
                @include grid-column(3, $collapse: true);
                position: absolute;
                width:100%;
                right: 0px;
            }
            @media #{$small-only} {
                @include grid-column(3, $collapse: true);
                position: relative;
                right: 0px;
            }
        }
        .article__content__body {
            overflow: visible;
            > p {
                font-family: $body-font-regular;
                font-size: 0.9em;
                line-height: 1.4;
            }
            @media #{$medium-only} {
                margin-top: 20px;
                p {
                    font-size: 1em;
                }
            }
            @media #{$small-only} {
                margin-top: 20px;
                p {
                    font-size: 1em;
                }
            }
        }
        .article__publisher {
            display: none;
        }
    }
}

.community-boxes {
    .article__content {
        height: 400px !important;
    }
    .article .article__content .article__content__title, .community-boxes .article .article__content .article__content__title {
        top: 256px;
    }
}