.winner-game{
            padding:15px;
            background: #F9F7F4;
            overflow: auto;

            p {
            line-height: 1.3;
            font-size: 0.75em;
            margin-right: 10px;
            margin-bottom: 0px;


                @media #{$medium-only} {
                font-size: 0.9em;
                
                }

             @media #{$small-only} {
                font-size: 1em;
                margin-bottom: 10px;
                }
            }


            h4 {
                font-family: "expo-sans-pro-bold", Helvetica, Arial, sans-serif;
                font-size: 0.8em;
                margin-bottom: 0px;

                span {
                    color: #333333;
                    font-size: 1.1em;
                    text-transform: uppercase;
                }
            
                 @media #{$medium-only} {
                font-size: 1.1em;
                }

            @media #{$small-only} {
                font-size: 1.3em;
                }

            }

             .winner-game__left {
                @include grid-column(10, $collapse: true);
                float: left;

                  @media #{$medium-only} {
                       @include grid-column(9, $collapse: true);
                        }

                 @media #{$small-only} {
                        @include grid-column(12, $collapse: true);
                       font-size: 1em;
                        }
                } 

             .winner-game__right {
                @include grid-column(2, $collapse: true);

                img {
                    margin-bottom:3px;
                }

                @media #{$medium-only} {
                       @include grid-column(3, $collapse: true);
                        }

                         @media #{$small-only} {
                        @include grid-column(12, $collapse: true);
                       font-size: 1em;
                        }
 
             }    

             .winner-game__right-btnJoinnow {
                @include grid-column(6 , $collapse: true);
                background-color: $green;
                color: $white;
                font-family: "expo-sans-pro-bold", Helvetica, Arial, sans-serif;
                text-transform: uppercase;
                font-size: 0.6em;
                width: 100%;
                height: 20px;
                float: left;
                padding: 2px;
                margin:0px;

                @media #{$medium-only} {
                @include grid-column(12 , $collapse: true);
                font-size: 0.9em;
                height: 44px;
                padding: 13px;
                }

                @media #{$small-only} {
                font-size: 1em;
                height: 44px;
                padding: 13px;
                
                }

             }

    }