.community-nav__container {
    @include grid-column($columns: 12);
    background-color: $base-blue;
    padding: 0em;
    position: relative;
    margin-bottom: 20px;
}

.community-nav {
    @include grid-column($collapse: true, $columns: 12);
    margin-left: 0px;
    margin-bottom: 0px;
    ul {
        @include grid-column($collapse: true, $columns: 12);
        @include list-inline;
        margin-left: 0px;
        margin: 0;
        padding: 0px;
        list-style: none;
    }
    li {
        &:first-child {
            display: none;
            @media #{$large-up} {
                display: block;
            }
            a {
                @media #{$large-up} {
                    padding: 0;
                    padding-top: 2px;
                    &:hover {
                        padding: 0;
                        padding-top: 2px;
                        background-color: transparent;
                    }
                }
                font-family: "Sauberscript", Helvetica, Arial, sans-serif;
                font-size: 26px;
            }
        }
        list-style: none;
        @include grid-column($collapse: true, $columns: 3);
        @media #{$large-up} {
            width: 20%;
        }
        margin-right: 0em;
        &:first-child a {
            border-left: 0px;
        }
        @media #{$small-only} {
            font-size: 0.7em;
            @include grid-column($collapse: true, $columns: 3);
        }
        a {
            @include button-generate(darken($base-blue, 8%), 0px, 0px);
            border: none;
            border-left: 1px solid darken($base-blue, 8%);
            color: $yellow-light-bg;
            font-weight: normal;
            color: $yellow-light-bg;
            font-family: $title1-font;
            background-color: $base-blue;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            font-size: 1em;
            text-shadow: none;
            display: block;
            &.active, &:hover {
                background-color: darken($base-blue, 5%);
                color: $yellow-dark;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                display: block;
            }
        }
    }
    img {
        @media #{$small-only} {
            display: block;
            margin: 0 auto;
        }
    }
}

.games-menu__games-nav {}