.community {
    @include grid-row;
    .community-wrap-content {
        @include grid-column(12, $collapse: true);
        padding-left: 10px;
        background-color: $yellow-dark;
        .post-wrapper {
            @include grid-column(4, $collapse: true);
            @media #{$medium-only} {
                @include grid-column(6, $collapse: true);
            }
            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
            }
            .post-wrapper__post {
                margin-right: 10px;
                margin-bottom: 10px;
                background-color: $white;
                height: 250px;
            }
        }
    }
    .article {
        cursor: pointer;
    }
    .community__title {
        font-family: $title-section !important;
        font-size: 2.5em;
    }
    // .community__section__chat-news {
    //     @include grid-column(12, $collapse: true);
    // }

    ///////////////////// ** Chat Host Thumb Nails only ** /////////////////////////
    .community__section__chat-thumbs {
                .article__content {
            height: 385px;
            cursor: default;
        }
        .article__content__image {
            @include grid-column(12, $collapse: true);
            text-align: center;
            margin-top: 25px;
            margin-bottom: 10px;


            @media #{$medium-only} {
                margin-top: 0px;
            }
            @media #{$small-only} {
                margin-top: 0px;
            }
        }
        .article__content__date {
            display: none;
        }
        h1.article__content__title {
            top: 10px !important;
            text-align: center;
            @media #{$medium-only} {
                top: 0px !important;
            }
            @media #{$small-only} {
                @include grid-column(12);
                top: 0px !important;
            }
        }
        .article__content__body {
            @include grid-column(12, $collapse: true);
            background-color: rgba(222, 229, 229, 0.36);
            padding: 10px 10px 10px 10px;

            > p {
                margin-bottom:0px;
            }
        }
        .article__content__cta {
            display: none;
        }
    }


     .text-image-left-partial{
        
        .text-image-left-partial__content__img{
        @include grid-column(4);
        }
    }
    ///////////// ** TOP POST ONLY to modify other posts go to Aricle.scss ** /////////////
    .community__top-post {
        padding-right: 10px;
        @media #{$medium-only} {
            padding-left: 5px;
            padding-right: 10px;
        }
        @media #{$small-only} {
            padding-left: 10px;
            padding-right: 10px;
        }
        .article__content__image {
            @include grid-column(4, $collapse: true);
            margin: 5px 10px 10px 0px;
            @media #{$medium-only} {
                @include grid-column(3, $collapse: true);
            }
            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
            }
        }
        .article__content {
            padding: 15px;
            .article__content__date {
                @include grid-column(3, $collapse: true);
                width: 138px;
                line-height: 32px;
                font-family: $title1-font;
                font-size: 0.75em;
                top: 6px;
                padding-left: 18px;
                float: right;
                color: $yellow-light-bg;
                background-image: url("/_images/common/community_arrow.png");
                position: absolute;
                right: -14px;
                @media #{$medium-only} {
                    @include grid-column(3, $collapse: true);
                    font-size: 0.9em;
                    float: right;
                    color: $base-light-blue;
                    background-image: none;
                    line-height: 5px;
                    right: 0px;
                    padding-left: 0px;
                    padding-right: 15px;
                    padding-top: 20px;
                    text-align: right;
                }
                @media #{$small-only} {
                    display: none;
                }
            }
            .article__content__title {
                @include grid-column(12, $collapse: true);
                border-bottom: 0 !important;
                padding-left: 0px;
                font-size: 1.3em;
                margin-bottom: 5px;
                float: none;
                position: relative;
                top: 0px;
                > a {
                    font-size: 0.8em;
                    color: $main-highlight-color;
                    text-transform: uppercase;
                }
            }
            .article__content__body {
                p {
                    font-size: 1em;
                    margin-top: 20px;
                }
            }
        }
    }
    ///////////// ** /TOP POST ONLY ** /////////////
}