.community-article {
    .article .article__content {
        padding: 20px;

        .article__content__title {
            @include grid-column(12, $collapse: true);
            position: relative;
            font-size: 1.4em;
            top: 0px;

             @media #{$medium-only} {
           font-size: 1.2em;
            }

             @media #{$small-only} {
           font-size: 1em;
            }
        }
    }

    .article__content {
         
         .article__content__date {
        font-size: 0.9em;
        color: $base-light-blue;
        font-family: $title1-font;
        position: relative;
        float: right;
             
             @media #{$medium-only} {
           font-size: 1em;
            }

            @media #{$small-only} {
            @include grid-column(12, $collapse: true);
           font-size: 1em;
           float: none;
           text-align: left;
            }

        }
    }

    .article__content__body {
        p {
            line-height: 1.6;
            font-size: 0.9em;
             @media #{$small-only} {
           font-size: 1em;
            }
        }

        ul {
            font-size: 0.9em;
            margin-left:20px;
            display:inline;
            list-style-position:inside;
        }

        img {
            @include grid-column(4, $collapse: true);
            float: left;
            padding-right: 20px;

             @media #{$medium-only} {
                @include grid-column(5, $collapse: true);
                padding-right: 20px;
            }
            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
                margin-bottom:10px;
            }
        }
    }

    .article__content__winnergame{
            padding:10px;
            background: #F9F7F4;
            overflow: auto;

            p {
            line-height: 1.3;
            font-size: 0.75em;
            margin-right: 10px;
             
             @media #{$small-only} {
                font-size: 1em;
                }
            }

            h4 {
                font-family: "expo-sans-pro-bold", Helvetica, Arial, sans-serif;
                font-size: 0.8em;

                span {
                    color: #333333;
                }
            }

             .article__content__winnergame__left {
                @include grid-column(10, $collapse: true);
                float: left;
             } 

             .article__content__winnergame__right {
                @include grid-column(2, $collapse: true);
                background-color: #000000;
 
             }    

    }

}
