// .community-tv {
//              .two-columns-content-wrap__left {
//         padding-right:10px;
//         padding-left:0px;

//             @media #{$medium-only} {
//                padding-right: 10px;
//                padding-left: 10px;

//             }
//             @media #{$small-only} {
//                padding-right: 0px;
//             }
//     }
//     .article {
//         .article__content {
//             padding:10px;
//         }

//         .article__content__title {
//             @include grid-column(12, $collapse: true);
//             border-bottom: 1px dotted $yellow-dark;
//             font-size: 1em;
//             position: relative;
//             top:0px;
//             float: left;
//             @media #{$medium-only} {
//                 @include grid-column(12, $collapse: true);

//             }
//             @media #{$small-only} {
//                 @include grid-column(12, $collapse: true);
//             }
//         }
//         .article__publisher {
//             display: none;
//         }
//         .article__content__image {
//            @include grid-column(4, $collapse: true);
//            float:left;
//            margin-bottom:10px;
//                border:none;
//            box-shadow:none;

//             @media #{$medium-only} {
//                 @include grid-column(3, $collapse: true);
//             }
//             @media #{$small-only} {
//                 @include grid-column(12, $collapse: true);
//             }

//         }

//         .article__content__body {
//             @include grid-column(8, $collapse: true);
//             font-size:1.2em;
//             padding-left:10px;
//             margin-top: 5px;

//             @media #{$medium-only} {
//                 @include grid-column(8, $collapse: true);
//                 margin-right: 10px;
//                 font-size:1em;
//             }
//             @media #{$small-only} {
//                 @include grid-column(12, $collapse: true);
//                   margin-right: 10px;
//                   width:95%;
//             }
//         }

//          .article__content__date {
//             display: none;
//            }
//     }
// }