
.bingo_winner {
    @include grid-column(6);

    float: left;
    margin-top: $site-margin;
    padding: 0px;
    padding-right: $site-margin / 2;


      @media #{$small-only} {
         @include grid-column(12);
         margin-right: 0;
         padding:0;
    }
    .header-tble{
        padding: 0.4em !important;
        padding-left: 15px !important;
    }

    .nonresponsive {
        border-collapse: collapse;
    }

    .bingo_winner-top-table {
        font-size: 14px;
        font-family: $body-font-bold;
        background-color: #faa93b;
        padding: 10px;
        margin-bottom: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: white;
        text-align: center;
    }

    .bingo_winner-head {
        background: #fbb859;
    }

    .odd-row {
        background-color: #f78527;
        color: white !important;
        text-align: left !important;
        line-height: 0;
    }

    .on-row {
        background-color: #f9983e;
        color: white !important;
        text-align: left !important;
        line-height: 0;
        border-top: #fbb859  1px solid;
        border-bottom: #fbb859  1px solid;
    }

    .bottom_table {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #faa93b;
        height: 10px;
        margin-top: -20px;
        display: block;
    }
}

.popular-games {
    @include grid-column(6);

    padding-left: $site-margin / 2;
    float: right;
    margin-top: $site-margin;
    padding: 0px;

     @media #{$small-only} {
         @include grid-column(12);
         margin-right: 0;
         padding:0;
         margin-top: $site-margin /2;
    }
     .header-tble{
        padding: 0.4em !important;
        padding-left: 15px !important;
    }

    .nonresponsive {
        border-collapse: collapse;
    }

    .popular-games-top-table {
        font-size: 14px;
        font-family: $body-font-bold;
        background-color: #da2f5b;
        padding: 10px;
        margin-bottom: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: white;
        text-align: center;
    }

    .popular-games-head {
        background: #f34275;
    }

    .popular-games_odd-row {
        background-color: #a6092a;
        color: white !important;
        text-align: left !important;
        line-height: 0;
    }

    .popular-games_on-row {
        background-color: #c72f4f;
        color: white !important;
        text-align: left !important;
        line-height: 0;
        border-top: #f34275  1px solid;
        border-bottom: #f34275  1px solid;
    }

    .bottom_table {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #da2f5b;
        height: 10px;
        margin-top: -20px;
        display: block;
    }
}

.instant-games {
    @include grid-column(12);

    padding-left: $site-margin / 2;
    float: right;
    padding: 0px;
    margin-top: $site-margin / 2;

    .nonresponsive {
        border-collapse: collapse;
    }
     .header-tble{
        padding: 0.4em !important;
        padding-left: 15px !important;
    }
    .instant-games-top-table {
        font-size: 14px;
        font-family: $body-font-bold;
        background-color: #5b87ad;
        padding: 10px;
        margin-bottom: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: white;
        text-align: center;
    }

    .instant-games-head {
        background: #85accd;
    }

    .instant-games_odd-row {
        background-color: #3c6a92;
        color: white !important;
        text-align: left !important;

    }

    .instant-games_on-row {
        background-color: #4479a7;
        color: white !important;
        text-align: left !important;

        border-top: #76a9d7  1px solid;
        border-bottom: #76a9d7  1px solid;
    }

    .bottom_table {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #5b87ad;
        height: 10px;
        margin-top: -20px;
        display: block;
    }
}