.ninety-ball-winner {
    @include grid-column(3);

    width: 32%;
    background: $glade-green;
    border-radius: 5px;
    padding-left: 0;
    padding-right: 0;

    @media #{$small-only} {
        width: 100%;
    }

    .title {
        @include grid-column(12);

        font-family: $body-font-extra-bold;
        color: $white;
        font-size: 14px;
        text-align: center;
        padding: 5px;
        line-height: 17px;
    }

    .prize {
        @include grid-column(12);

        background: $sprout;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
    }

    .prize_ammount {
        @include grid-column(10);

        font-family: $body-font-extra-bold;
        padding-left: 0.3125rem;
        padding-right: 0.3125rem;
        font-size: 1.1rem;
        padding: 5px;
        float: left;
        background: $fern-green;
        border-radius: 30px;
        color: $white;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }
}

.seventy-five-ball-winner {
    @include grid-column(3);

    width: 33%;
    background: $affair;
    border-radius: 5px;
    padding-left: 0;
    padding-right: 0;
    margin-left: $site-margin / 2;

    @media #{$small-only} {
        width: 100%;
        margin-top: $site-margin / 2;
        margin-left: 0;
    }

    .title {
        @include grid-column(12);

        font-family: $body-font-extra-bold;
        color: $white;
        font-size: 14px;
        text-align: center;
        padding: 5px;
        line-height: 17px;

        @media #{$small-only} {
            font-size: 12px;
            line-height: 1.2;
        }
    }

    .prize {
        @include grid-column(12);

        background: $bouquet;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
    }

    .prize_ammount {
        @include grid-column(10);

        font-family: $body-font-extra-bold;
        padding-left: 0.3125rem;
        padding-right: 0.3125rem;
        font-size: 1.1rem;
        padding: 5px;
        float: left;
        background: $eminence;
        border-radius: 30px;
        color: white;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }
}

.instant-game-winnings {
    @include grid-column(3);

    float: right;
    width: 32%;
    background: $terracotta;
    border-radius: 5px;
    padding-left: 0;
    padding-right: 0;

    @media #{$small-only} {
        width: 100%;
        margin-top: $site-margin / 2;
    }

    .title {
        @include grid-column(12);

        font-family: $body-font-extra-bold;
        color: $white;
        font-size: 14px;
        text-align: center;
        padding: 5px;
        line-height: 17px;

        @media #{$small-only} {
            font-size: 12px;
            line-height: 1.2;
        }
    }

    .prize {
        @include grid-column(12);

        background: $hit-pink;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
    }

    .prize_ammount {
        @include grid-column(10);

        font-family: $body-font-extra-bold;
        padding-left: 0.3125rem;
        padding-right: 0.3125rem;
        font-size: 1.1rem;
        padding: 5px;
        float: left;
        background: $tuscany;
        border-radius: 30px;
        color: $white;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }
}