.winner-stories {
    @include grid-row;

    background: #EFFBFF;
    border-radius: 5px;
    margin-bottom: $site-margin;

    .inner-container {
        padding: $site-margin;
    }

    .title {
        @include grid-column(9);

        font-family: $body-font-extra-bold;
        font-size: 16px;
        color: $base-blue;
        letter-spacing: 0;
        line-height: 16px;
        float: left;
        margin-bottom: $site-margin / 2;

        @media #{$small-only} {
            @include grid-column(12);
        }
    }

    .date {
        @include grid-column(3);

        font-family: $body-font-regular;
        font-size: 14px;
        color: $base-blue;
        letter-spacing: 0;
        line-height: 16px;
        text-align: right;

        @media #{$small-only} {
            @include grid-column(12);

            text-align: left;
            margin-bottom: $site-margin / 2;
        }
    }

    .author {
        @include grid-column(6);

        float: left;
        margin-left: $site-margin / 2;

        @media #{$small-only} {
            @include grid-column(12);
        }

        img {
            width: 6%;

            @media #{$small-only} {
                width: 10%;
            }
        }

        .author-name {
            font-family:$body-font-bold;
            width: 50%;
        }
    }

    img {
        @include grid-column(2);

        float: left;
        clear: both;
        padding: 0;
        border-radius: 5px;

        @media #{$small-only} {
            @include grid-column(12);

            margin-bottom: $site-margin / 2;
        }
    }

    p {
        @include grid-column(9);

        font-family: $body-font-regular;
        font-size: 14px;
        color: $base-blue;
        letter-spacing: 0;
        margin-left: $site-margin / 2;

        @media #{$small-only} {
            @include grid-column(12);

            text-align: left;
            margin-bottom: $site-margin / 2;
        }
    }
}