html {
    -webkit-text-size-adjust: none;
    overflow-y: scroll;
    
}

html, a {
    @include antialiasing;

    color: $luckyvip--darknavy;

    &:hover {
        color: lighten($luckyvip--darknavy, 2%);
    }
}

body {
    font-family: $body-font-regular;

    // background-color: $bgcolor;
    background-color: $luckyvip--midnight;
    // background-image: url("../_images/common/background-image/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: 0 508px;
    color: $white;

    &.modal-open {
        overflow: hidden;
    }
}

#ajax-wrapper {
    @media #{$large-up} {
        margin-top: 0px;
    }

    @media #{$medium-only} {
        margin-top: 0px !important;
    }

    @media #{$small-only} {
        margin-top: 0px !important;
    }
}

#aboutus, #welcome, #cashier {
    color: $black;
    font-family: $body-font-regular;
}

#cashier.no-background {
    //background-color: transparent;
    background-color: #F1008A;
    padding: 0 10px;
}

dialog .close-reveal-modal, .close-reveal-modal {
    width: 100%;
    text-align: right;
    max-width: 1000px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    padding-right: 0.3em;
}

.loginmodal {
    @media #{$medium-up} {
        max-width: 440px !important;
    }

    @media #{$small-only} {
        top: 0px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-bold;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    font-size: 1.1em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

ul {
    list-style: none;
    margin: 0;
}

.reveal-modal-bg {
    z-index: 9997 !important;
}

.reveal-modal {
    z-index: 9998 !important;
    height: auto !important;
    top: 50% !important;
    position: fixed !important;
    left: 50% !important;
    z-index: 99999;
    transform: translate(-50%, -50%) !important;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    max-height: 100% !important;
    background-color:$luckyvip--midnight;

    @media #{$small-only} {
        height: 100%;
        overflow-y: scroll;
    }

    @media #{$medium-only} {
        height: 100%;
        overflow-y: scroll;
    }
}

#promotions .reveal-modal {
    overflow-y: auto;
}

.promotions-detail {
    a {
        color: #4CAEF8;

        &:hover {
            text-decoration:underline;
            color: #fff;
        }
    }
}

dialog {
    z-index: 99999999999;

    @media #{$medium-up} {
        position: absolute;
        width: 100%;
    }

    @media #{$small-only} {
        position: absolute;
        padding: $site-margin;
        width: 100%;
        -webkit-overflow-scrolling: touch;
    }
}

//LOADING MODAL

.loading {
    background-color: black !important;
}

// Avoiding zoom in forms by setting at least 16px font-size for mobile
@media #{$small-only} {
    input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        background-color: #FFFFFF;
        font-family: inherit;
        border: 1px solid #828282;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
        color: rgba(0, 0, 0, 0.9);
        display: block;
        font-size: 1rem;
        margin: 0 0 1rem 0;
        padding: 0.5rem;
        height: 2.3125rem;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
    }
}

// OVERRIDING ACCORDION BACKGROUND BY DEFAULT
.accordion .accordion-navigation > a, .accordion dd > a {
    background-color: transparent !important;
}

.reveal-modal-bg {
    z-index: 99998;
}

.reveal-modal, dialog {
    z-index: 99999;
}

.label {
    white-space: normal !important;
}