

@font-face {
    font-family: 'intro_bold_capsregular';
    src: url('../_fonts/intro/Intro Bold Caps-webfont.eot');
    src: url('../_fonts/intro/Intro Bold Caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/intro/Intro Bold Caps-webfont.woff2') format('woff2'),
         url('../_fonts/intro/Intro Bold Caps-webfont.woff') format('woff'),
         url('../_fonts/intro/Intro Bold Caps-webfont.ttf') format('truetype'),
         url('../_fonts/intro/Intro Bold Caps-webfont.svg#intro_bold_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'uni_sans_bold';
    src: url('../_fonts/uni-sans/uni-sans-bold-webfont.eot');
    src: url('../_fonts/uni-sans/uni-sans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/uni-sans/uni-sans-bold-webfont.woff2') format('woff2'),
         url('../_fonts/uni-sans/uni-sans-bold-webfont.woff') format('woff'),
         url('../_fonts/uni-sans/uni-sans-bold-webfont.ttf') format('truetype'),
         url('../_fonts/uni-sans/uni-sans-bold-webfont.svg#uni_sans_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'uni_sans_book';
    src: url('../_fonts/uni-sans/uni-sans-book-webfont.eot');
    src: url('../_fonts/uni-sans/uni-sans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/uni-sans/uni-sans-book-webfont.woff2') format('woff2'),
         url('../_fonts/uni-sans/uni-sans-book-webfont.woff') format('woff'),
         url('../_fonts/uni-sans/uni-sans-book-webfont.ttf') format('truetype'),
         url('../_fonts/uni-sans/uni-sans-book-webfont.svg#uni_sans_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'uni_sans_regular';
    src: url('../_fonts/uni-sans/uni-sans-regular-webfont.eot');
    src: url('../_fonts/uni-sans/uni-sans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/uni-sans/uni-sans-regular-webfont.woff2') format('woff2'),
         url('../_fonts/uni-sans/uni-sans-regular-webfont.woff') format('woff'),
         url('../_fonts/uni-sans/uni-sans-regular-webfont.ttf') format('truetype'),
         url('../_fonts/uni-sans/uni-sans-regular-webfont.svg#uni_sans_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'uni_sans_semibold';
    src: url('../_fonts/uni-sans/uni-sans-semi-bold-webfont.eot');
    src: url('../_fonts/uni-sans/uni-sans-semi-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/uni-sans/uni-sans-semi-bold-webfont.woff2') format('woff2'),
         url('../_fonts/uni-sans/uni-sans-semi-bold-webfont.woff') format('woff'),
         url('../_fonts/uni-sans/uni-sans-semi-bold-webfont.ttf') format('truetype'),
         url('../_fonts/uni-sans/uni-sans-semi-bold-webfont.svg#uni_sans_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


// ============================================================================================
// ============================================================================================
// ============================================================================================
// ============================================================================================
// ============================================================================================//
// Lucky VIP

@font-face {
    font-family: 'museo_sans900';
    src: url('../_fonts/museo/museosans_900-webfont.eot');
    src: url('../_fonts/museo/museosans_900-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/museo/museosans_900-webfont.woff2') format('woff2'),
         url('../_fonts/museo/museosans_900-webfont.woff') format('woff'),
         url('../_fonts/museo/museosans_900-webfont.ttf') format('truetype'),
         url('../_fonts/museo/museosans_900-webfont.svg#museo_sans900') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans700';
    src: url('../_fonts/museo/museosans_700-webfont.eot');
    src: url('../_fonts/museo/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/museo/museosans_700-webfont.woff2') format('woff2'),
         url('../_fonts/museo/museosans_700-webfont.woff') format('woff'),
         url('../_fonts/museo/museosans_700-webfont.ttf') format('truetype'),
         url('../_fonts/museo/museosans_700-webfont.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans300';
    src: url('../_fonts/museo/museosans-300-webfont.eot');
    src: url('../_fonts/museo/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/museo/museosans-300-webfont.woff2') format('woff2'),
         url('../_fonts/museo/museosans-300-webfont.woff') format('woff'),
         url('../_fonts/museo/museosans-300-webfont.ttf') format('truetype'),
         url('../_fonts/museo/museosans-300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*=============================================
=            fonts            =
=============================================*/

$body-font-regular: Helvetica, Arial, sans-serif;
$body-font-bold: "uni_sans_semibold", Helvetica, Arial, sans-serif;
$body-font-medium: "uni_sans_semibold", Helvetica, Arial, sans-serif;
$body-font-light: "uni_sans_semibold", Helvetica, Arial, sans-serif;
$nav-font-medium: "uni_sans_semibold", Helvetica, Arial, sans-serif;
$nav-font-bold: "uni_sans_semibold", Helvetica, Arial, sans-serif;
$button-font: "uni_sans_semibold", Helvetica, Arial, sans-serif;
$title-section: "uni_sans_semibold", Helvetica, Arial, sans-serif;
$title1-font: "uni_sans_semibold", Helvetica, Arial, sans-serif;

$mobile-font-bold: "uni_sans_semibold", Helvetica, Arial, sans-serif;
