/*=============================================
=            Lucky VIP            =
=============================================*/
// global
$luckyvip--midnight:#00193A;
$theme--ui----mobile--fontsize: rem-calc(12);
$theme--ui----desktop--fontsize13: 13px;
$theme--ui----desktop--fontsize: rem-calc(14);

//header
$luckyvip--mirage-opacity:rgba(24,27,40,0.85);
$luckyvip--storm-gray:#757983;
// login button //
$luckyvip--dodger-blue:#1CAEF8;
$luckyvip--picton-blue:#4CAEF8;
$luckyvip--denim:#1978c0;
//login button font colour
$luckyvip--darknavy:#011A39;
// join now button //
$luckyvip--supernova:#FFC700;
//search input
$luckyvip--dusty-gray:#969696;
// slots by type font colour
$luckyvip--mirage:#181F32;
// themed components
$luckyvip--contentbg--navy:#181B28;
$luckyvip--firefly:#0A1B2C;
// footer / menu background
$luckyvip--blue-zodiac:#142B48;
$luckyvip--alto: #D8D8D8;
// Content buttons
$luckyvip--indigo:#5380C7;
$luckyvip--san-marino:#416399;
$luckyvip--chathams-blue:#15476D;
// Promotions
$luckyvip--tangaroa:#041C39;
$luckyvip--san-juan:#2E4766;
// Select by type gradient 
$luckyvip--santas-gray:#989db0;
// hover button background
$luckyvip--mercury:#e1e1e1;
$luckyvip--japanese-laurel:#009c0c;
$luckyvip--terms-bg:#14243b;

/*=============================================
=            LuckyVIP            
=============================================*/


// ----------
// BASE COLOURS 
// ----------
$white: #FFF;
//used for white
$black: #000;
//used for black
$off-white: #fcfafa;
// used in various background locations
// MAY 2015 NEW BRAND guideline colour palette
$pearl-black: #040422;
$blackrock-blue: #190541;
$minsk-blue: #322b84;
$lucky-point: $luckyvip--picton-blue;
// used in blue palette
$portage-lilac: #ac81ee;
$bright-turquoise: #04cde8;
$razzmatazz-pink: #db1467;
//cashier colours (needs reviewing)
$grey: #898989;
//used for various, text etc
$grey-light: #F9F9F9;
$orange: #cf6e0e;
$grey-dark: #303030;
$grey-light-bg: #EFEFEF;
$grey-lighter-bg: #EFEFEF;

$lima: #70B71D;
$torchred: #FF0041;
//used in promo bg
$lighter-bg: #EFEFEF;
//used in cashier and my account convert points
$pale-sky: #646F83;
// used in cashier
$alice-blue: #F5FBFF;
// used in cashier
$lynch: #66769E;
// used in states cashier and quick links widget
$scarpa-Flow: #585562;

//Registration validation error
$carnation: #FB5368;
// used in purple palette
// semantic names (needs reviewing)
$bgcolor: $blackrock-blue;
$brand-color: $lucky-point;
$main-highlight-color: $razzmatazz-pink;
$ctacolor: $brand-color;
$title: $scarpa-Flow;
$content-text: darken($grey, 25%);
$pagetitle: $white;
$account-blue: $alice-blue;
$account-highlited-blue: $lynch;
$navigation-text-color: $white;
$global-link-color: $bright-turquoise;
$global-link-color-secondary: #CFBBEE;
$global-link-color-text: #6A4A9B;
$global-bg-color: $luckyvip--midnight;
$nav-active-color: $global-link-color;
// ----------
// PALETTE OF COLOURS
// ----------
// Map Object with all the coluours and the variations
$palettes: (black: (), white: (), grey: (base: $grey, light: lighten($grey, 20%), dark: darken($grey, 20%)), orange: (base: $orange, light: lighten($orange, 10%), dark: darken($orange, 10%)), pink: (base: $razzmatazz-pink, light: lighten($razzmatazz-pink, 10%), dark: darken($razzmatazz-pink, 10%)), green: (base: #208d12, light: lighten(#208d12, 10%), dark: darken(#208d12, 10%)), purple: (base: $scarpa-Flow, light: lighten($scarpa-Flow, 10%), dark: darken($scarpa-Flow, 10%)), blue: (base: $lucky-point, light: lighten($lucky-point, 10%), dark: darken($lucky-point, 10%)));
$ui-table-even: $grey-light;
$ui-table-header: $bgcolor;
//textarea
$body-font-color: $black;
$body-font-color-light: lighten($body-font-color, 10%);
// -------------------
// Font size
// -------------------
$headline: 1.5em;
$subheadline: 1.125em;

/*Accordion*/
$nav-main-color: $white;
$nav-active-color: red;
$nav-active-bg-color: $lynch;

//Registration
$bg-color: #051838;
$gray: #828282;
$silver-chalice: #A4A4A4;
$dove-gray: #737373;
$kashmir-blue: #486295;
$violet: #100527;
$amethyst-smoke: #968ba9;
$prussian-blue: #00214B;
$deep-cove: #051838;
$concrete: #f2f2f2;
$green-vogue: #042E64;


/*=============================================
=            fonts            =
=============================================*/

$ui-font-regular: "museo_sans300",
Helvetica,
Arial,
Verdana,
sans-serif;
$ui-font-book: "uni_sans_book",
Helvetica,
Arial,
Verdana,
sans-serif;
$ui-font-semibold: "museo_sans700",
Helvetica,
Arial,
Verdana,
sans-serif;
$ui-font-bold: "museo_sans900",
Helvetica,
Arial,
Verdana,
sans-serif;
$heading-font-bold: "museo_sans900",
Helvetica,
Arial,
Verdana,
sans-serif;
$body-font-regular: "museo_sans300",
Helvetica,
Arial,
Verdana,
sans-serif;
$body-font-medium: "museo_sans700",
Helvetica,
Arial,
Verdana,
sans-serif;
$body-font-demi: Helvetica,
Arial,
sans-serif;
$body-font-bold: "museo_sans700",
Helvetica,
Arial,
sans-serif;
$button-font: "museo_sans900",
Helvetica,
Arial,
Verdana,
sans-serif;



/*=============================================
=  default site margin / gutter / padding / spacing           =
=============================================*/

$site-margin: rem-calc(14px);

/*=============================================
=  permanent variable to ensure Category carousel           =
=============================================*/

$category-carousel-h1:$heading-font-bold;
$category-carousel-title-link:$white;
$category-carousel-font-family:$ui-font-regular;
$category-carousel-font-family-bold:$ui-font-bold;
$category-carousel-background:$off-white;
// title and its background
$category-carousel-main-highlight-color: $white;
$category-carousel-main-highlight-background-color:$lucky-point;
// view all link (right)
$category-carousel-view-all-link:$global-link-color;



// ============================================================================================
// ============================================================================================
// ============================================================================================
// ============================================================================================
// ============================================================================================//



// %font--size--set {
//     // font-size: rem-calc($theme--ui----desktop--fontsize);
//     // line-height: 1.5;
//     // font-family: $theme--ui--font;

//     @media #{$medium-only} {
//         font-size: rem-calc($theme--ui----mobile--fontsize) !important;
//         line-height: 2.2!important;
//     }
//     @media #{$small-only} {
//         font-size: rem-calc($theme--ui----mobile--fontsize) !important;
//     }
//     line-height:2.2!important;
// }

//used on promo modal
$radical-red:#FD276F;
/*=============================================
=  Claim prize promotion tabs                 =
=============================================*/
$claimed-prize-amount-highligted: $white;
$claimed-prize-headers-background: $luckyvip--picton-blue;
$claimed-prize-headers-color: $white;
$claimed-prize-button-start-color: $luckyvip--picton-blue;
$claimed-prize-button-end-color: $luckyvip--picton-blue;
$font-color: $white;
$claimed-prize-close-reveal: $white;
$claim-prize-confirmation-background: $luckyvip--midnight;

//3 STEP REGISTRATION HEADER
$theme--color--primarypurple: $black;

//3 STEP REGISTRATION GLOBAL VARIABLES 

//fonts
$registration-3step-font-light: $body-font-regular;
$registration-3step-font-regular: $body-font-regular;
$registration-3step-font-bold: $button-font;

// background
$registration-3step-bg--base: $white; 
$registration-3step-bg--main: $black;

// banner#1C0344
$registration-3step-banner-bg: $black;

// 3 step steps
$registration-3step-title: $white;
$registration-3step-title--border: #66ACF2;
$registration-3step-border--bottom: #37465F;

// title (Mr Mrs Miss Ms)
$registration-3step-button--bg: $white;
$registration-3step-button-color--selected: $white;
$registration-3step-button-color: $white;

// input
$registration-3step-input--label: $white;
$registration-3step-input--border: $white;
$registration-3step-input--content: $black;

//select
$registration-3step-select-text: $black;

//date
$registration-3step-date-border: $silver;
$registration-3step-date-text: $silver;

//find address CTA
$registration-3step-address-bg: $kashmir-blue;
$registration-3step-address-text: $white;

// validations and requirements
$registration-3step-requirements: $white;
$registration-3step-input--success: $lima;
$registration-3step-input--error: $carnation;

//CTAS
$registration-3step-cta: $black;
$registration-3step-cta--text: $white;
$registration-3step-cta--dropshadow: $black;
$registration-3step-tick-border: $black;
$registration-3step-tick-text: $black;

// terms & conditions
$registration-3step-terms: $white;

/*=============================================
COOKIE POLICY VARIABLES
=============================================*/

$cookie-block-bg: $white;
$cookie-message-color: $black;
$cookie-link-color: $black;
$cookie-cta-bg: $luckyvip--picton-blue;
$cookie-cta-color: $luckyvip--darknavy;
$cookie-cta-hover: $luckyvip--mercury;
//Cashier widget
$cashier-welcome-font: "museo_sans900", Helvetica, Arial, Verdana, sans-serif;
$cashier-welcome-size: 22px;
$cashier-widget-header: #fff;

/*=============================================
PRIZE WHEEL
=============================================*/
$prize-wheel-icon: url("../_images/prize-wheel/lvip.svg");
$prize-wheel-font: Helvetica, Arial, Verdana, sans-serif;