@media #{$large-up} {
    .main-content {
        &.registration {
            //padding-top: 0;
        }
    }
}

.header--register3step {
    .nav-for-mobile {
        display: none !important;
    }
    .footer {
        display: none;
    }
}

.registration-3step {
    @include grid-column(12);
    padding: 0;
    z-index: 999999;
    top: 0;
    height: 100%;
    background: $registration-3step-bg--base;
    overflow: hidden;
}

#join-now {
    .registration-3step {
    @include grid-column(12);
    padding: 0;
    z-index: 999999;
    top: 0;
    height: 100%;
    background: $registration-3step-bg--base;
    overflow: hidden;
    .header {

        @media #{$large-up} {
            display: none !important; // remove header from Desktop view
        }

        background-image: linear-gradient(0deg, #ffd342 0%, #ffce4c 38%, #ffb222 100%);
        box-shadow: 0px 2px 0px 0px #D9AC38,
        0px 0px 0px 0px #BF8307;
        @include grid-column(12);
        // background: $bgcolor;
        padding: 0;
        top: 0;
        height: 65px;
        text-align: center;
        display: block !important;
        z-index: 99999;
        position: fixed;
            h1 {
               display: inline-block;
                color: #513721;
                line-height: 2.8;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: normal;
                padding-top: 8px;
            }
        }
    }
}

.header-register {
        background-image: linear-gradient(0deg, #ffd342 0%, #ffce4c 38%, #ffb222 100%);
        box-shadow: 0px 2px 0px 0px #D9AC38,
        0px 0px 0px 0px #BF8307;
        @include grid-column(12);
        // background: $bgcolor;
        padding: 0;
        top: 0;
        height: 70px;
        text-align: center;
        display: block !important;
        z-index: 2;
        position: fixed;

         @media #{$large-up} {
            height: 80px;
        }

        .wrapper {

            @media #{$large-up} {
                position: relative;
                width: 33.5rem;
                margin: 0 auto;
            }

            @media #{$medium-only} {
                position: relative;
                width: 33.5rem;
                margin: 0 auto;
            }

            h1 {
                color: $Metallic-Bronze;
                line-height: 50px;
                text-transform: capitalize;
                font-size: rem-calc(18);
                font-weight: normal;
                font-family: $body-font-bold;
                text-transform: uppercase;
                font-size: 22px;
                padding-top: 8px;


                @media #{$large-up} {
                    font-size: 25px;
                    padding-top: 12px;
                }

                @media #{$medium-only} {
                    padding-top: 3px;
                }
            }
            .register-logo {
                background: url("../_images/logo/logo-sml.png") no-repeat center center;
                background-size: contain;
                position: absolute;
                left: 4px;
                top: 10px;
                width: 85px;
                height: 55px;
                cursor: pointer;

                @media #{$large-up} {
                    top: 6px;
                    width: 100px;
                    height: 65px;
                }


            }
            .register-login-cta {
                display: inline-block;
                position: absolute;
                background: #1D4775;
                box-shadow: 0px 2px 0px 0px #183b61;
                border-radius: 4px;
                color: #fff;
                width: 96px;
                height: 28px;
                top: 24px;
                right: 10px;
                font-family: "ProximaNova-Bold", Helvetica, Arial, sans-serif;
                font-size: 16px;
                text-transform: uppercase;
                padding-top: 4px;

                @media #{$small-only} {
                    top: 20px;
                    width: 80px;
                }

                @media #{$medium-only} {
                    top: 20px;
                }

                &:hover {
                    background-color: #132e4c;
                }
            }
        }
    }

.banner {
        @include grid-column(12);
        float: none;
        background: $registration-3step-banner-bg;
        text-align: center;
        padding: 0;

        img {
            max-width: 500px;
            margin-top: 35px;
            margin-bottom: 35px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .offer--headline {
            h2 {
                margin: 0;
                line-height: 100%;
                font-size: rem-calc(20);
                text-transform: uppercase;
            }
        }
        .offer--terms {
            p {
                margin-bottom: 0;
            }
        }
    }

#join-now {
    .banner {
        @include grid-column(12);
        float: none;
        background: $registration-3step-banner-bg;
        text-align: center;
        padding: 0;
        margin-top: 80px;

        @media #{$small-only} {
            margin-top: 50px;
        }

        img {
            max-width: 500px;
            margin-top: 35px;
            margin-bottom: 35px;
            padding-left: 20px;
            padding-right: 20px;
        }
       
        .offer--terms {
            p {
                margin-bottom: 0;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}
