#register {
    .text-partial {
        background-color: transparent;
        border: none;
        padding: 0px;

        > h1 {
            border-bottom: none;
            padding: 0px;
        }

        > p {
            display: none;
        }
    }

    .content-holder {
        width: 100%;
        float: left;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        overflow: hidden;
        background: $white;
        position: relative;
    }

    .section-full-width__title {
        display: none;

        @include grid-column(12, $collapse: true);

        padding-left: 0;
        padding-right: 0;
        width: 100%;
        float: left;
        margin-left: 0px;
        font-family: $title1-font !important;
    }
}

  .section__banner {
        margin: 0 auto;
        font-family: "ProximaNova-Bold", Helvetica, Arial, sans-serif !important;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 10px;
        @media #{$small-only} {
            margin-top: 0;
            line-height: 1.1;
        }
        @media #{$medium-only} {
            margin-top: 0;
            line-height: 1.2;
        }
    }

.resitration-terms-section {
    @include grid-column(12, $collapse: true);
    #ui-registration-terms-display {
        @include grid-column(12, $collapse: true);

        padding: $site-margin ($site-margin * 2);
    }

    ol, ul {
        margin-left: 0px;
    }

    li {
        list-style: inherit;
        margin-bottom: 0.85em;
    }
}

.registration {
    .registration__promo-code {
        text-decoration: underline;
    }

    .registration__password {
        margin-bottom: 0.3em;
    }

    label {
        font-family: $title1-font;
        color: $blumine;

        &.over18 {
            line-height: 0;
        }
    }

    p {
        font-size: rem-calc(11);
        margin-left: 0.3125rem;
        color: $dusty-gray;
    }

    .password_tip {
        font-size: 0.6em;
        margin-left: 0.3125rem;
        color: $grey;
        line-height: 1.1;
    }

    input {
        @include input-box;
        font-family: Helvetica, Arial, sans-serif;
        height: 40px;

        @include input-placeholder {
            color: $dusty-gray !important;
        }


        &[type="checkbox"] {
            margin-right: 0.3rem !important;
            height: 15px;
        }
    }

    select {
        @include input-box;
        height: 40px;
        background: url(/_images/common/accordion-down-arrow.svg) no-repeat center right 9px;
        background-size: 15px 15px;

        @media #{$medium-only} {
            font-size: 12px;
        }
    }

    .registration__switch {
        @media #{$small-only} {
            @include switch($height: $switch-height-med);

            display: block;
            clear: both;

            > label {
                float: left;
                margin-right: 0.5em;
            }

            .registration__switch__text {
                float: left;
            }
        }

        @media #{$medium-only} {
            @include switch($height: $switch-height-med);

            display: block;
            clear: both;

            > label {
                float: left;
                margin-right: 0.5em;
            }

            .registration__switch__text {
                float: left;
            }
        }

        .registration__switch__switcher {
            @media #{$large-up} {
                display: none;
            }
        }
    }

    .mailing__opt {
        color: $grey;
        line-height: 1.2em;
        font-size: 0.85rem;
        padding: 0;
        margin-bottom: 10px;

        small {
            font-size: 100%;
        }
    }

    .tc-registration-page {
        font-size: 1em;

        @media #{$large-up} {
            font-size: 1em;
            float: left;
            margin-left: 17px;
            line-height: 0;
            text-decoration: underline;
        }
    }

    .registercta {
        @media #{$medium-only} {
            margin-top: 1rem;
        }
        @media #{$large-up} {
            margin-top: 1.9rem;
        }
    }

    .registration__account-details, .registration__personal-details, .registration__contact-details {
        @media #{$small-only} {
            @include grid-column(12);
        }

        @media #{$medium-up} {
            @include grid-column(4);

            float: left;
        }

        .over18 {
            span.error {
                float: left !important;
                font-family: Helvetica, Arial, sans-serif;
                position: absolute;
                line-height: 1;
                margin-top: 25px;
                width: 300px;
                height: 36px;
            }
        }
    }

    .registration__dob {
        @include grid-column(4, $collapse: true);
    }

    .dob_dm {
        padding-right: 0.3em;
    }

    #ui-registration-terms-toggle {
        text-decoration: underline;
        cursor: pointer;
        float: right;
        width: 100%;
        font-size:13px;
        color: $registration-3step-terms;
        font-family: $body-font-regular;
        text-align: center;
        margin-bottom: $site-margin;
    }
}


.registration {

    @mixin placeholder {
        &::-webkit-input-placeholder {
            @content
        }
        &:-moz-placeholder {
            @content
        }
        &::-moz-placeholder {
            @content
        }
        &:-ms-input-placeholder {
            @content
        }
    }

    @media #{$large-up} {
        .main-content {
            &.registration {
                padding-top: 0;
            }
        }
    }

    .header--register3step {
        .nav-for-mobile {
            display: none !important;
        }
        .footer {
            display: none;
        }
    }

    fieldset {
        // position: absolute;
        border: none;
        padding: 0;
        margin: 0;
    }

    .registration-3step {
        @include grid-column(12);
        padding: 0;
        z-index: 999999;
        top: 0;
        height: 100%;
        background: $registration-3step-bg--base;
        overflow: hidden;

        .content {
            @include grid-column(12);
            padding: 0;
            background: $bg-color;
            position: relative;
            height: 100%;
            overflow: hidden;
            padding-bottom: $site-margin * 3;
            .banner {
                @include grid-column(12);
                float: none;
                background: transparent !important;
                text-align: center;
                padding: 0;
                        @media #{$medium-only} {
                padding-top: 0;
                        }

                .edit-point {
                    z-index: 999;
                }

                img {
                    max-width: 500px;
                    margin-top: 35px;
                    margin-bottom: 0 !important;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                .offer--headline {
                    h2 {
                        line-height: 100%;
                        font-size: rem-calc(20);
                        text-transform: uppercase;
                        margin-top: 20px;
                    }
                }
                .offer--terms {
                    p {
                        margin-bottom: 10px;
                    }
                }
            }
            .sticky {
                @include transition(all,
                0.2s ease-out);
                &.fixed {
                    position: fixed;
                    top: 48px;
                }
            }
            
            nav {
                @include grid-column(12);
                padding: 0;
                background: transparent !important;
                position: relative !important;
                margin-top: 35px;
                margin-bottom: 15px;
                padding-top: 8px;
                z-index: 1;

                 @media #{$large-up} {
                    position: relative;
                }

                .naviaton-inner {
                    max-width: 350px;
                    margin-left: auto;
                    margin-right: auto;
                }
                a { //Steps icons - Personal/Contact/Account
                    @include grid-column(4);
                    font-family: Helvetica, Arial, sans-serif;
                    color: $silver-chalice;
                    font-size: 14px;
                    height: 50px;
                    line-height: rem-calc(35);
                    padding: 0;
                    text-align: center;
                    display: inline;
                    position: relative;
                    background-color: transparent !important;
                    padding-top: 20px;

                    span {
                        color: $silver-chalice;
                    }

                    .dotted_line{
                        border-top: dotted 4px $silver-chalice;
                        position:absolute;
                        width: 40%;
                        top: 20px;
                        right: -25px;

                        @media #{$small-only} {
                            right: -22px;
                        }
                    }
                
                    &:nth-child(1) {
                        background-image: url("../_images/join-now/personal.svg");
                        background-size: 38px;
                        background-repeat: no-repeat;
                        background-position: center top;
                        padding-top: 40px;
                        padding-right: 0;

                        &.active {
                            background-color: $bg-color;
                            background-image: url("../_images/join-now/active-personal.svg");
                            background-size: 38px;
                            background-repeat: no-repeat;
                            background-position: center top;

                            span {
                                color: $black;
                                font-weight: bold;
                            }
                        }
                      
                    }
                    &:nth-child(2) {
                        background-image: url("../_images/join-now/contact.svg");
                        background-size: 38px;
                        background-repeat: no-repeat;
                        background-position: center top;
                        padding-top: 40px;
                        padding-right: 0;

                         &.active {
                            background-color: $bg-color;
                            background-image: url("../_images/join-now/active-contact.svg");
                            background-size: 38px;
                            background-repeat: no-repeat;
                            background-position: center top;

                            span {
                                color: $black;
                                font-weight: bold;
                            }
                        }
                    }
                    &:nth-child(3) {
                        background-image: url("../_images/join-now/account.svg");
                        background-size: 38px;
                        background-repeat: no-repeat;
                        background-position: center top;
                        padding-top: 40px;
                        padding-right: 0;

                         &.active {
                            background-color: $bg-color;
                            background-image: url("../_images/join-now/active-account.svg");
                            background-size: 38px;
                            background-repeat: no-repeat;
                            background-position: center top;

                            span {
                                color: $black;
                                font-weight: bold;
                            }
                        }
                    }

                   &.passed {
                        background-color: $bg-color;
                        background-image: url("../_images/join-now/passed.svg");
                        background-size: 38px;
                        background-repeat: no-repeat;
                        background-position: center top;

                        span {
                            color: $lima;
                            font-weight: bold;
                        }

                        .dotted_line{
                            border-top: dotted 4px $lima;
                            position:absolute;
                            width: 40%;
                            top: 20px;
                            right: -25px;

                            @media #{$small-only} {
                                right: -22px;
                            }
                        }
                    }
                    &.current {
                        background-repeat: no-repeat;
                        background-position: center top;

                        span {
                            color: $silver-chalice;
                        }
                    }
                }
            } // END Steps icons - Personal/Contact/Account
            .form {
                @include grid-column(12);
                padding: 0;
            }
        }
        .registration-3step-form {
            @include grid-column(12);
            float: none;
            padding: $site-margin;
            padding-top: 0.275rem;
            font-family: $registration-3step-font-regular;
            margin: 0 auto;
            max-width: 350px;
            .registration-3step__mandatory-fields {
                margin-top: $site-margin;
                margin-bottom: 0;
                font-size: 11px;
                font-weight: 600;
                text-align: right;
                top: 1em;
                position: relative;
            }
            span.error,
            small.error {
                display: block;
                width: 100%;
                font-size: rem-calc(13px);
                font-style: normal;
                font-weight: 600;
                color: $registration-3step-input--error;
                position: relative;
                clear: right;
                float: left;
                margin: 0;
                margin-top: 10px;
                margin-bottom: 0px;
                padding: 4px;
                height: auto;
                border-radius: 2px;
                line-height: 12px;
                min-height: initial !important;
                background: transparent;
            }
            input,
            select {
                border: 1px solid $registration-3step-input--border;
                box-shadow: none;
                min-height: 48px;
                margin: 0 0 0.475rem 0;
                padding: 0 10px;
                font-size: 14px;
                border-radius: 6px;

                @media #{$small-only} {
                    font-size: 13px;
                }
                &.phone {
                    @include grid-column(12);
                }
            }
            select {
                background: $registration-3step-bg--base url("../_global-library/images/registration-3step/arrow-down.svg") no-repeat center right 10px;
                color: $registration-3step-select-text;
                font-size: 17px;
            }
            label {
                color: $registration-3step-input--label;
                font-family: Helvetica, Arial, sans-serif;
                margin-bottom: 2px;
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 25px;
                float: left;
                background-color: transparent;
                input {
                    min-height: auto;
                }
            }
        }
        .field-wrap {
            @include grid-column(12,
            $collapse: true);
            position: relative;
            background: transparent;
            height: auto;
            margin-bottom: 15px;
            .field-wrap__label {
                @include grid-column(12);
                padding-left: 0rem;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 17px;
                color: $registration-3step-input--label;
                margin-top: 10px;
                line-height: 25px;
                letter-spacing: 0.3px;
            }
            .field-wrap__requirements {
                font-size: 12px;
                color: $registration-3step-requirements;
                margin: 0px;
                padding: 0px;
            }
            .field-wrap__field {
                @include grid-column(12);
                height: 44px;
                padding-left: 0.4375rem;
                padding-right: 0.4375rem;
                margin: 0;
                border-radius: 2px;
            }
            #icon {
                display: none;
            }
            .telephone-icon {
                margin-top: -30px;
            }
            .border-green-icon {
                display: block!important;
                background-color: transparent;
                color: $registration-3step-tick-border;
                height: 57px;
                position: absolute;
                width: 21px;
                z-index: 1;
                right: -10px;
            }
            .border-red-icon {
                display: block !important;
                background-size: 21px 21px;
                color: $registration-3step-tick-border;
                height: 57px;
                position: absolute;
                width: 21px;
                z-index: 1;
                right: -10px;
            }
            .border-green {
                border: 3px solid $registration-3step-input--success;
            }
            .border-red {
                border: 3px solid $registration-3step-input--error;
            }
            .intl-tel-input {
                @include grid-column(12);
                padding: 0;
                .selected-flag {
                    top: 20px;
                }
            }
        }
        .date {
            height: 44px;
            margin: 0;
            padding: 0;
            input {
                @include grid-column(3);
                width: 33.33%;
                margin: 0px;
                padding: 0;
                text-align: center;
                border-radius: 0px;
                &#dayOfBirth {
                    border-radius: 0px;
                    border-right: 1px solid $registration-3step-date-border;
                    border-radius: 2px 0px 0px 2px;
                    @include placeholder {
                        color: $dusty-gray !important;
                        font-family: $registration-3step-font-regular;
                    }
                }
                &#monthOfBirth {
                    border-radius: 0px;
                    @include placeholder {
                        color: $dusty-gray !important;
                        font-family: $registration-3step-font-regular;
                    }
                }
                &#yearOfBirth {
                    border-radius: 0px;
                    border-left: 1px solid $registration-3step-date-border;
                    border-radius: 0px 2px 2px 0px;
                    @include placeholder {
                        color: $dusty-gray !important;
                        font-family: $registration-3step-font-regular;
                    }
                }
            }
            span {
                float: left;
                position: relative;
                min-height: 44px;
                line-height: 2.8;
            }
        }
        .post-code {
            @include grid-column(6);
            padding: 0;
        }
        .findaddress {
            padding-top: 5px;
            display: block;
            position: absolute;
            right: 6px;
            background-color: $japanese-laurel;
            border: none;
            font-family: $registration-3step-font-light;
            font-size: 14px;
            line-height: 26px;
            border-radius: 4px;
            margin-top: 47px;
            font-weight: bold;
            width: 135px;
            height: 35px;
            text-transform: uppercase;
            z-index: 1;

            @media #{$small-only} {
                width: 115px;
            }

            &.active {
                z-index: 1;
            }
        }
        .enter-address-manually {
            width: 170px;
            font-family: Helvetica, Arial, sans-serif;
            text-decoration: underline;
            cursor: pointer;
            color: $black;
        }
        ul.registration__title {
            @include grid-column(12);
            padding: 0;
            margin-bottom: 0.375rem;
            margin-left: 0;
            li {
                display: inline;
                float: left;
                width: 44px;
                margin-right: 2.5%;
                background: $registration-3step-bg--main;
                border-radius: 50%;
                border: 2px solid $registration-3step-button--bg;
                &.ticked {
                    background: $registration-3step-button--bg;
                    outline:none;
                    button {
                        color: $registration-3step-button-color--selected;
                        border-radius: 50%;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
                button {
                    padding: 0;
                    background: none !important;
                    text-align: center;
                    width: 100%;
                    line-height: 2.7;
                    font-size: 15px;
                    font-weight: bold;
                    margin: 0;
                    color: $registration-3step-button-color;
                    font-family: $registration-3step-font-light;
                    &:focus {
                        outline:none;
                    }
                }
            }
        }
        .registration__password {
            position: relative;
            .show-password {
                position: absolute;
                text-transform: uppercase;
                top: 66px;
                right: 0;
                font-size: 9px;
                font-weight: 600;
                padding: 2px;
                padding-bottom: 0;
                padding-top: 0;
                border-radius: 8px;
                color: transparent;
                min-width: 32px;
                text-align: center;
                &.eye-shut {
                    z-index: 1;
                    background: url("../_global-library/images/registration-3step/password-hide.svg") no-repeat center;
                    width:65px;
                    height:33px;
                }
                &.eye-open {
                    z-index: 1;
                    background: url("../_global-library/images/registration-3step/password-visible.svg") no-repeat center;
                    width:65px;
                    height:33px;
                }

                .right {
                    display: none;
                }
            }
        }

    ul.mailing-opt {

        @include grid-column(12);
        margin: 0;
        padding: 0;
        list-style-type: none;

        .preferences-title {
            color: black;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 17px;
            font-weight: bold;
            line-height: 25px;
            margin-top: 30px;
            margin-bottom: -15px;
        }

        p {
            color: $registration-3step-input--label;
            font-size: 13px;
            margin-bottom: $site-margin / 2;
            line-height: 15px;
            float: left;
        }
        label {
            width: 100%;
            min-height: 35px;
            margin-bottom: $site-margin / 3;
            color: $black;
            line-height: 1.5em;
            height: 44px;
            padding: 10px 12px 0 50px;
            background: $registration-3step-bg--base url("../_images/join-now/kb-dark_off.svg") no-repeat center left 10px;
            background-color: $bg-color;
            background-size: 30px 30px !important;
            border-radius: 6px;
            margin-bottom: 10px;
            display: inline;
            height: 44px;
            float: left;
            margin-right: 5px;
            font-size: rem-calc(15);
            &.ticked {
                background: $registration-3step-bg--base url("../_images/join-now/kb-dark_on.svg") no-repeat center left 10px;
                background-color: $bg-color;
            }
            input {
                padding: 0;
                margin: 0;
                display: none;
            }
        }
        .terms-over18 {
            width: 100%;
            font-size: 13px;
        }
    }

    //Communication channel edit point
    .communication-channel {
        .text-partial {
            background-color: transparent;
            border: none;
            padding-left: 0 !important;
            padding-bottom: 0;
            padding-right: 0;

           h1 {
            display: none;
           }

           p {
            font-family: Helvetica, Arial, sans-serif;
            color: $black;
            font-size: 15px !important;
            line-height: 24px;


                a {
                    color: $black;
                    text-decoration: underline;
                    font-size: 15px !important;
                }

                @media #{$small-only} {
                    font-size: 14px !important;

                    a { 
                        font-weight: bold;
                        font-size: 14px !important;
                    }
                }
           }

        }
    }

    //Trusted Partners
    ul.trusted-partners {
             .text-partial {
            background-color: transparent;
            border: none;
            padding-left: 0 !important;
            padding-bottom: 0;
            padding-right: 0;

            h1 {
                margin-bottom: 0;
            }

           p {
            color: $black;
            font-size: 15px !important;
            margin-bottom: 0;
                a {
                    color: $black;
                    text-decoration: underline;
                    font-size: 15px !important;
                }
           }

        }

        .trusted-partners--check {
            padding-left: 20px;
        }
    }

// Demo-only styles
// --------------

html {
  background: lightgray;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
    margin: 20px 0 0 0;
    font-family: Helvetica, Arial, sans-serif !important;

    &:first-child {
        margin-top: 0;
    }
}

.centered {
  width: 300px;
  margin: auto;
}

.title {
  text-align: center;
  color: rgb(69, 113, 236);
}

        .register-3step-cta,
        .registerNextCta {
            @include grid-column(12);
            padding: 0;
            font-family: $registration-3step-font-light;
            background: $registration-3step-cta;
            color: $white;
            font-size: 18px;
            font-weight: bold;
            line-height: 2.4;
            min-height: 44px;
            text-transform: uppercase;
            margin-top: 2rem;
            border-radius: 4px;
            text-align: center;
            box-shadow: 0 2px 0 0 $registration-3step-cta;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }

            &:active {
                color: $violet;
            }

            &.create-account-cta {
                background-color: $registration-3step-cta;
                color: $white;
                font-weight: bold;

                &:active {
                    color: $violet;
                }
                &:focus {
                    color: $violet;
                }
            }
        }
        // Error message: Please resolve the above errors before continuing.
        .step-contains-error {
            width: 100%;
            float: left;
            text-align:center; 
            margin-top: 10px;
            font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif; 
            font-size: 13px;
            font-weight: 600;
            color: #FB5368;

            @media #{$small-only} {
                font-size: 12px;
            }
        }
        .register-3step-tc {
            font-size: 13px;
            padding: 0;
            text-decoration: underline;
            font-family: Helvetica, Arial, sans-serif;
            color: $black;
            letter-spacing: -0.41px;
            font-weight: normal;
        }
        .terms-section {
            @include grid-column(12);
            .terms-toggle {
                cursor: pointer;
                text-decoration: underline;
                color: $registration-3step-terms;
                font-size: 11px;
                text-align: center;
                font-weight: 600;
                margin-bottom: $site-margin * 3;
            }
        }
    }

    // Terms and conditions
    .resitration-terms-section {
        div:first-child {
            text-align: center;
            margin: 1% 0 1% 0;
            font-size: rem-calc(12px);
        }
    }
    .registration-3step .registration-3step-form {
        .radio-selection {
            label {
              line-height: 32px;

                @media #{$small-only} {
                font-size: 15px !important;
              }
            }

            input {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: transparent !important;
                border-radius: 100% !important;
                border: 2px solid $black !important;
                display: inline-block;
                min-width: 25px !important;
                min-height: 25px !important;
                height: 10px;
                transition: 0.2s all linear;
                outline: none;
                margin-right: 5px;
                position: relative;
                top: 14px;

              &:checked {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background-color: $black !important;
                    border-radius: 100% !important;
                    border: 2px solid $black !important;
                    display: inline-block;
                    min-width: 25px !important;
                    min-height: 25px !important;
                    height: 10px;
                    transition: 0.2s all linear;
                    outline: none;
                    //margin-right: 5px;
                    position: relative;
                    top: 14px;
                }
            }
        }
    }

     .field-support-text {
        font-family: Helvetica, Arial, sans-serif;
        margin-top: 50px;
        margin-bottom: 10px !important;
        color: black;
        font-size: 14px;
    }

    .join-now-terms-section {
        @include grid-column(12);
        margin-top: 40px;
        .terms__section-tabs {
            max-width: 350px;
            margin: 0 auto;
            text-align: center;
            float: none;
            cursor: pointer;

            .terms__tabs-tcs {
                width: 50%;
                float: left;
                background-color: transparent;
                border-bottom: 1px solid $black;

                &:focus {
                    border-bottom: 2px solid $black;
                }

                &:active {
                    border-bottom: 2px solid $black;
                }

                @media #{$small-only} {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            .terms__tabs-policy {
                width: 50%;
                float: left;
                background-color: transparent;
                border-bottom: 1px solid $blumine;

                &:focus {
                    border-bottom: 2px solid $blumine;
                }

                &:active {
                    border-bottom: 2px solid $blumine;
                }

                @media #{$small-only} {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        .terms-content {
            margin: 0 auto;

            //Edit Point position
            .edit-point {
                @media #{$medium-only} {
                    margin-top: 20px;
                    margin-left: 15px;
                }

                @media #{$small-only} {
                    margin-top: 20px;
                }
            }

            @media #{$medium-only} {
                width: 100%;
            }

            @media #{$small-only} {
                width: 100%;
            }


            .text-partial {
                margin: 0 auto;
                background: transparent;
                color: $black;
                border: none;
                padding: 0.2rem 1.25rem;
                margin-top: 20px;
                font-size: 14px !important;

                a {
                    color: $black;
                    font-weight: bold;
                    text-decoration: underline;
                }

                h1 {
                    display: none;
                }

                @media #{$medium-only} {
                    width: 100%;
                }

                @media #{$small-only} {
                    width: 100%;
                }
            }

            .text-partial-content {
                font-size: 14px !important;
                ol {
                    margin-left: 0;
                }
               
            }
        }

    }

    .tabs dd > a {
        background-color: transparent;
        color: $black;
        font-weight: bold;
        font-size: 14px;

        @media #{$small-only} {
            font-size: 15px;
            padding: 1rem 1rem;
        }

        &:hover {
            text-decoration: none;
        }
    }

    .tabs dd.active > a {
        background-color: transparent;
        color: $black;
        border-bottom: 2px solid $black;
    }

    .registration-3step .registration-3step-form input, .registration-3step .registration-3step-form select {
        color: $black;
    }

    .back-to-top {
        width: 100%;
        margin: 0 auto;
        float: left;

        #myBtn {
            background: $japanese-laurel;
            width: 180px;
            margin: 0 auto;
            margin-top: 60px;
            margin-bottom: 20px;
            border-radius: 4px;
            font-size: 15px;
            font-weight: bold;
            color: $white;
            outline: none;
        }
    }
}

//Custom radio select button 
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body { 
  font-family: 'Open Sans', sans-serif;
}

.title-field_wrap {
    margin-top: 20px;

    .field-wrap__label {
        color: $black;
        font-size: 17px;
    }
}

.stv-radio-tabs-wrapper {
  clear: both;
  display: inline-block;
  width: 100%;
  position: relative;
  background: $white;
  height: 45px;
}

input.stv-radio-tab {
  position: absolute;
  left: -99999em;
  top: -99999em;

    & + label {
        cursor: pointer;
        float: left;
        border: 1px solid $silver-chalice;
        border-bottom: 1px solid $silver-chalice;
        background-color: $white;
        margin-left: 0;
        margin-right: -1px;
        padding: 10px 25px;
        position: relative;
        
     &:hover {
       background-color: #eee;
     }
    }

    &:checked + label {
        box-shadow: 0 1px 0 -1px $white, inset 0 56px 0 -1px #3C8AB5;
        background-color: $white;
        z-index: 1;
        color: $white !important;
    }
}

//Code to Turn Off Number Input Spinners

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0;
    }

.intl-tel-input .selected-flag .iti-arrow {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555;
}

.intl-tel-input.separate-dial-code .selected-dial-code {
    display: table-cell;
    vertical-align: middle;
    padding-left: 25px;
    font-size: 15px;

}

.selected-flag {
    background-color: transparent !important;
    outline: 0;
}

.join-now-terms-section {
    .text-partial  {
        p, ul, ol , a, {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 14px;
        }

        li {
           font-family: Helvetica, Arial, sans-serif !important; 
        }
    }
}

#join-now {
    @mixin placeholder {
        &::-webkit-input-placeholder {
            @content
        }
        &:-moz-placeholder {
            @content
        }
        &::-moz-placeholder {
            @content
        }
        &:-ms-input-placeholder {
            @content
        }
    }

    @media #{$large-up} {
        .main-content {
            &.registration {
                //padding-top: 0;
            }
        }
    }

     .editor-buttons .options-menu {
        margin-top: 100px;
    }

    
    .iti-mobile {
        .intl-tel-input {
            z-index: 0;
            &.iti-container {
                z-index: 999;
            }
        }
    }

    .intl-tel-input.separate-dial-code .selected-flag {
        background-color: $white;
    }

    .intl-tel-input.separate-dial-code.allow-dropdown .selected-flag {
        padding: 9px !important;
        min-height: 42px;
    }

    .intl-tel-input.separate-dial-code.allow-dropdown .phone {
        padding-left: 95px !important;
    }

    .intl-tel-input .country-list {
        top: 1px !important;
        margin: 0 0 0 0px !important;
    }

    .intl-tel-input .flag-container {
        padding: 3px !important;
    }


    input {
        /* WebKit browsers */
        &:focus::-webkit-input-placeholder { color:transparent; }

        /* Mozilla Firefox 4 to 18 */
        &:focus:-moz-placeholder { color:transparent; }

        /* Mozilla Firefox 19+ */
        &:focus::-moz-placeholder { color:transparent; }

        /* Internet Explorer 10+ */
        &:focus:-ms-input-placeholder { color:transparent; }
    }


    .text-partial-content {
        ont-family: Helvetica, Arial, sans-serif;
        font-size: 14px !important;

        li {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 14px !important;
        }
    }

    .policy-content {
        p {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: $black;
        }
    }

   

    .step-previous {
        @include grid-column(12);
            padding: 0;
            font-family: $registration-3step-font-light;
            color: $white;
            font-size: 18px;
            font-weight: bold;
            line-height: 2.6;
            min-height: 44px;
            text-transform: uppercase;
            margin-top: 1rem;
            border: 1px solid $japanese-laurel;
            border-radius: 4px;
            text-align: center;
            text-decoration: none;

        a {
            font-size: 18px;
            font-weight: bold;
            border-radius: 4px;
            color: $japanese-laurel;
            text-decoration: none;
            text-transform: uppercase;
        }
    }


    .footer-bar {
        position: absolute !important;
        bottom: 0;
        width: 100%;
        height: 100px;
        padding-top: 5px;
        background: $white;
        line-height: 2;
        text-align: center;
        color: $green-vogue;
        font-size: 30px;
        font-family: sans-serif;
        font-weight: normal;
        box-shadow: 0 0 5px $concrete;
        padding: 14px;

        @media #{$large-up} {
            width: 98.4%;
        }

        a {
            background-color: $registration-3step-cta;
            color: $white;
            font-size: 15px;
            padding: 20px;
            border-radius: 4px;

            @media #{$small-only} {
                font-size: 12px;
            }
        }   
    }

    .modal-content {
        background: $white;
        padding: 20px;
        color: $prussian-blue;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.8;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }

    .reveal-modal {
        border: none;
        box-shadow: none;
        padding: 0;
        .text-partial {
                border: none;
                background-color: $white;
                padding-bottom: 70px;

                h1 {
                    border-bottom: none;
                }

                li {
                    font-size: 13px !important;
                    font-weight: normal;
                }

                p {
                    font-size: 13px !important;
                }

                a {
                    font-size: 13px !important;
                }
        }

        .close-reveal-modal {
            color: $black;
            font-weight: normal;

            &:hover {
                text-decoration: none;
            }
        }

    }

    .registration-3step .registration-3step-form input, .registration-3step .registration-3step-form select {
        color: $black;
    }

    .textField {
        font-size: 15px;
    }

    .back-to-top {
        width: 100%;
        margin: 0 auto;
        float: left;

        #myBtn {
            background: $japanese-laurel;
            width: 180px;
            margin: 0 auto;
            margin-top: 60px;
            margin-bottom: 20px;
            border-radius: 4px;
            font-size: 15px;
            font-weight: bold;
            color: $white;
            outline: none;
            text-transform: uppercase;
        }
    }

    .selected-flag {
        top: 0;
    }

    .communication-channel,
    .trusted-partners {
        p {
            margin-bottom: -10px;
            font-size: 14px;
        }
    }

    .communication-channel {
        .preference-support-text {
            margin-bottom: 10px;
        }
    }

} //join-now page END

