.reveal-modal-bg {
    z-index: 999999;
    background: rgba(235, 111, 173, 0.75);
}

.account-menu-mobile__reveal-modal-bg {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(235, 111, 173, 0.75);

    &.active {
        display: block;
    }
}

.balance-display-mobile__reveal-modal-bg {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(235, 111, 173, 0.75);

    &.active {
        display: block;
    }
}

.alertbox {
    min-width: 436px;
    min-height: 160px;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 15px;

    @include box-shadow(0 3px 0 rgba(0, 0, 0, 0.35));

    @include transition(all, 0.2s ease-out);

    background-color: #ffffff;
    color: #8240AE;

    @include border-radius(3px);

    z-index: 9999999999;
    text-align: center;

    @media #{$small-only} {
        min-width: 90%;
    }

    a:hover {
        text-decoration: underline;
    }

    &__cta {
        a:hover {
            color: #1C6EB5;
            border: 2px solid  #1C6EB5;
            text-decoration: none;
        }
    }

    h3 {
        font-weight: bold;
        text-transform: uppercase;
        color: #8240AE;

        @media #{$small-only} {
            font-size: 1em;
        }
    }

    p {
        color: #8240AE;

        @media #{$small-only} {
            font-size: 0.9em;
        }

        a {
            text-decoration: underline;
            color: #0398B2;
        }
    }

    .ok-cta {
        margin-bottom: 1em;
        color: #8240AE;
        text-align: center;
        border: 2px solid  #8240AE;
        border-radius: 3px;
        text-transform: uppercase;
        padding: 0.8em 1.93em;
    }

    .cancel-cta {
        margin-bottom: 1em;
        margin-top: 1em;
        color: #8240AE;
        border: 2px solid  #8240AE;
        border-radius: 3px;
        text-transform: uppercase;
        padding: 0.8em;
        margin-right: 20px;
    }

    .alertbox__cta {
        margin-top: 2em;
        margin-bottom: 1em;
    }
}

.alert-background {
    height: 100%;
    overflow: auto;
    overflow-y: scroll;
    background-color: transparentize(black, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999999;
}