// =============================================================================
// Bingo Room Detail - SEO Page
// =============================================================================

.room-detail-modal {
    @include grid-column(12);

    padding: 0;
    height: auto;
    font-family: $body-font-regular;

    @media #{$small-only} {
        padding: 0;
    }

    .two-columns-content-wrap__right {
        @include show-for-large-up;
    }

    .room-detail-wrap__title-bar {
        @include grid-column(12);

        padding: 0;
        width: 100%;
        font-family: $nav-font-medium;
        color: $nav-main-color;
        font-size: 1.4em;
        line-height: 25px;
        text-transform: uppercase;

        //@include vert-align(38px);

        margin-bottom: $site-margin / 2;

        @media #{$small-only} {
            font-size: 1.5em;
            position: fixed;
            top: -1px;
            left: 0;
            background: $white;
            padding: $site-margin;
            margin: 0;
        }
    }

    .room-detail-content__header-mobile {
        @include grid-column(12);

        @include hide-for-small-up;

        height: 100%;
        margin: 0;
        padding: 0;
        right: 0;
        z-index: 9999999;
        background: #e7e2fe;
        display: none;
        position: fixed;
        overflow: scroll;
        top: 0px;
    }

    .room-detail-content {
        @include grid-row;

        @include grid-column(12);

        margin-bottom: 8px;
        background: #c9bbff;
        padding: $site-margin;

        @media #{$small-only} {
            padding: 0;
            margin-top: 53px;
        }

        .room-detail-content__right {
            @include grid-column(6);

            float: right;

            // max-height: 441px;

            @media #{$small-only} {
                @include grid-column(12);

                padding: $site-margin;
            }

            .login-box--loginpage {
                @include grid-column(12);

                padding: 0;

                .login-box {
                    @include grid-column(12);

                    padding: 0;

                    .login-box__form-wrapper {
                        h1 {
                            font-family: $nav-font-bold !important;
                            color: $nav-main-color !important;
                            font-size: 1.4em !important;
                            line-height: 25px !important;
                            text-transform: uppercase !important;
                            text-align: center;
                        }

                        .login-box__input-wrapper {
                            @include grid-column(12);

                            padding: 0;
                            height: auto;

                            input {
                                box-shadow: none !important;
                                height: 45px !important;
                            }

                            span.error, small.error {
                                @include grid-column(12);

                                margin: 0;
                                padding: 0;
                                background: none;
                                color: $nav-main-color;
                            }
                        }
                    }

                    .login-box__username {
                        height: 50px;
                        margin: 0;
                    }

                    .login-box__password {
                        height: 50px;
                        margin: 0;

                        .login-box__show-password {
                            .right {
                                top: 2px;
                                right: 2px;
                            }
                        }
                    }

                    .login-box__forgot-password {
                        top: 0;
                    }

                    .cta-login {}

                    .join-now-box {
                        display: none;
                    }
                }
            }
        }

        .room-detail-content__left {
            @include grid-column(5);

            width: 47%;
            float: left;
            padding: 0;
            margin: 0;
            position: relative;
            min-height: 212px;

            .free-spins {
                position: absolute;
                top: 0;
                right: 25px;
                width: 100px;

                @media #{$small-only} {
                    right: 0px;
                }
            }

            .game-cta {
                @include grid-column(12);

                position: absolute;
                background: rgba(36, 7, 83, 0.7);
                padding: $site-margin;
                bottom: 0;
                text-align: center;

                a {
                    @include grid-column(5, $center: true);

                    width: 47%;
                    margin: 1%;
                    display: inline-block;

                    &.try-game {
                        @include CTA-button(9px 13px 7px, 16px, 4px, #FFFFFF, #f3f3f3, #FFFFFF, #FFFFFF, #f3f3f3);

                        float: none;
                        text-shadow: none;
                        color: $nav-active-color;
                    }

                    &.join-now {
                        @include CTA-button(9px 13px 7px, 16px, 4px, #FF8FD7, #FF7BD0, #FF00AA, #C70064, #FFC5EA);

                        float: none;
                        text-shadow: none;
                    }

                    &.join-now-full {
                        @include CTA-button(9px 13px 7px, 16px, 4px, #FF8FD7, #FF7BD0, #FF00AA, #C70064, #FFC5EA);

                        margin: 0;
                        float: none;
                        text-shadow: none;
                        width: 100%;
                    }
                }
            }

            @media #{$small-only} {
                @include grid-column(12);

                padding: 0px;
            }

            img {
                width: 100%;

                @include opacity(1);
            }
        }
    }

    .room-detail-content__details {
        @include grid-column(12);

        // @include show-for-large-up;

        background: lighten($bg-reveal-modal, 3%);
        padding: $site-margin;
        color: $grey-dark;

        // margin-top: $site-margin;

        a {
            @include grid-column(12);

            font-family: $nav-font-medium;
            padding: 0;
            font-size: 16px;
            color: $global-link-color;
            margin-top: $site-margin;
        }

        // @media #{$small-only} {
        //     position: fixed;
        //     bottom: 0;
        //     left: 0;
        // }
   
    }

    .room-detail__description {
        @include grid-column(12);

        line-height: 22px;
        overflow: hidden;

        @media #{$medium-only} {
            height: auto;
            margin-bottom: $site-margin / 2;
        }

        @media #{$small-only} {
            height: auto;
            margin-bottom: $site-margin / 2;
        }

        p {
            font-family: $body-font-regular;
            font-size: rem-calc(12px);
            color: $grey-dark;
            margin: $site-margin 0;
        }

        h3 {
            border: none;
            font-family: $nav-font-medium;
            font-size: 16px;
            color: $main-highlight-color;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        a {
            color: $global-link-color;
        }

        a:hover {
            color: $global-link-color;
        }
    }

    .room-detail-content__right__game-table {
        @include grid-column(12);

        font-size: 15px;
        color: $main-highlight-color;
        font-family: $title1-font;
        list-style: none !important;
        margin: 0  !important;
        padding: 0;

        li {
            @include grid-column(12);

            padding: 0;
            font-size: rem-calc(12px);
            border-bottom: 1px solid #e0cded;
            font-family: $body-font-regular;

            @include vert-align(30px);

            @media #{$medium-only} {
                @include vert-align(34px);
            }

            span {
                @include grid-column(9);

                padding: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: $site-margin;
                display: inline-block;
                color: $black;

                @media #{$small-only} {
                    @include grid-column(7);

                    padding: 0;
                }

                &.room-detail-content__game-table__title {
                    @include grid-column(3);

                    padding: 0;
                    color: $main-highlight-color;

                    @media #{$small-only} {
                        @include grid-column(5);

                        padding: 0;
                    }
                }
            }
        }
    }
}