
#more-modal {
    top: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    left: -100%;
    position: fixed;
    z-index: 20;
    padding: 180px 20px 0 20px;  // pushed down from top, push footer down
    background: $black url('/_images/revamp/common/backgrounds/card-pattern-dark.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
    box-sizing: border-box;
    overflow: scroll;
    transition-property: left;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    
    &.active {
        left: 0%;
        transition-property: left;
        transition-duration: 0.8s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

    // Remove background image for landscape
    @media #{$landscape} { background: $black; }

    // iphone 5 landscape specific
    @media screen and (max-width: 568px) and (orientation: landscape) { padding-top: 155px; }

    // ipad portrait
    @media (min-width: 768px) { padding-top: 200px; }

    // ipad landscape / pro portrait
    @media #{$large-up} {
        background: $black;
        padding-top: 200px;
    }

    .more-modal-content {
        display: block;

        .more-links {
            list-style-type: none;
            display: block;
    
            @media #{$landscape} {
                margin-left: 20%;
                margin-top: 5%;
            }
    
            // portrait ipad
            @media screen and (min-width: 768px) and (orientation: portrait) {
                margin-left: 20%;
                margin-top: 5%;
            }
    
            // iphone 5 specific
            @media screen and (max-width: 568px) and (orientation: landscape) {
                width: 75vw;
            }
    
            li {
                display: inline-block;
                font-size: $rw-body-font-size;
                width: 38%;
                padding: 6px 0 6px 0;
    
                &:nth-of-type(2n+2) {
                    width: 55%;
                    padding-left: 10px;
                }
                
                a {
                    color: $white;
                    padding: 0;
                    margin: 0;
    
                    @media screen and (max-width: 320px) {
                        // iphone 5 specific
                        font-size: rem-calc(12px);
                    }
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .logout-cta-container {
        text-align: center;
        width: 100%;
        margin-top: 3rem;
        padding-bottom: 2rem;

        a {
            max-width: 50vw;
            @include regalwins-button-border;
            margin: 0 auto;

            @media #{$medium-up} {
                max-width: 250px;
            }
        }
    }

    .more-container {
        background-position: top left;
        height: auto;
    }

    .games-nav {
        background: rgba(0,0,0,0);
        position: absolute;
        top: 50px;
        z-index: 2;
        left: 0;
        right: 0;
    
        @media #{$large-up} {
            top: 0;
            left: 0;
        }

        @media #{$landscape} {
            top: 30px;
        }
    }

    .close-more-modal {
        position: absolute;
        top: 10px;
        right: 20px;
        left: unset;
        color: $white;
        font-size: 2rem;
        touch-action: manipulation;
    }
}

// .more-container {
//     //margin-top: 64px;   // allow for header
//     padding: 200px 20px 0 20px;  // pushed down from top, push footer down
//     background: $black url('/_images/revamp/common/backgrounds/card-pattern-dark.png');
//     background-size: 100%;
//     background-repeat: no-repeat;
//     background-position: 0 64px;
//     background-attachment: fixed;
//     box-sizing: border-box;
//     position: relative;

//     // iphone 5 portrait specific
//     @media screen and (max-width: 320px) {
//         height: auto;
//     }

//     @media #{$landscape} {
//         width: 12vw;
//         height: auto;
//         background: none;
//     }

//     // iphone 5 landscape specific
//     @media screen and (max-width: 568px) and (orientation: landscape) {
//         padding-top: 155px;
//     }

//     // portrait ipad
//     @media screen and (min-width: 1024px) and (orientation: portrait) {
//         background: none;
//     }

//     // landscape ipad
//     @media screen and (min-width: 1024px) and (orientation: landscape) {
//         background: none;
//     }

//     @media #{$medium-up} {
//         height: auto;
//     }

//     @media #{$large-up} {
//         background: $regalwins--gray-darkest;
//         padding-top: 140px;
//     }
  
//     ul {
//         list-style-type: none;
//         display: block;

//         @media #{$landscape} {
//             width: 50vw;
//             display: inline-block;
//             margin: 0 auto;
//             padding-top: 20px;
//         }

//         // portrait ipad
//         @media screen and (min-width: 768px) and (orientation: portrait) {
//             padding-top: 20px;
//         }

//         @media screen and (max-width: 568px) and (orientation: landscape) {
//             // iphone 5 specific
//             width: 75vw;
//         }

//         li {
//             display: inline-block;
//             font-size: $rw-body-font-size;
//             width: 38%;
//             padding: 8px 0 8px 0;

//             &:nth-of-type(2n+2) {
//                 width: 55%;
//                 padding-left: 10px;
//             }
            
//             a {
//                 color: $white;
//                 padding: 0;
//                 margin: 0;

//                 @media screen and (max-width: 320px) {
//                     // iphone 5 specific
//                     font-size: rem-calc(12px);
//                 }

//                 &:hover {
//                     text-decoration: underline;
//                 }
//             }
//         }
//     }

//     .logout-cta-container {
//         text-align: center;
//         width: 100%;
//         margin-top: 3rem;
//         padding-bottom: 2rem;

//         a {
//             max-width: 50vw;
//             @include regalwins-button-border;
//             margin: 0 auto;

//             @media #{$medium-up} {
//                 max-width: 250px;
//             }
//         }
//     }
// }