.vanilla-template {
    font-size: 1rem;
    background-color: $white;
    @include grid-column(12);
    margin-top: 0.9375rem;
    padding-top: 0.9375rem;
    .vanilla-template__title {
        font-size: 1.5em;
    }
    .vanilla-template__main-image {
        >img {
            width: 100%;
            height: 20em;
        }
    }
    .vanilla-template__content {
        margin-top: 1em;
        .vanilla-template__content__child--featured,.vanilla-template__content__child{
            margin-bottom: 1em;
        }
        .vanilla-template__content__child__title {
            @include grid-column(12);
            font-size: 1.2em;
        }
        .vanilla-template__content__child__img {
            @media #{$small-only} {
                @include grid-column(12);
                width: 100%;
            }
            @media #{$medium-up} {
                @include grid-column(3);
            }
        }
        .vanilla-template__content__child__content {
            color: $black;
            padding-bottom: 1em;
            @media #{$small-only} {}
            @media #{$medium-up} {
                @include grid-column(9);
            }
            >p {
                //line-height: 1em;
                font-size: 0.8em;
            }
        }

        .vanilla-template__content__child--featured {
            .vanilla-template__content__child__img {
                @include grid-column(12);
            }
        }
    }

}
