.forgot-password-content {
    .text-partial-content {
        padding: $site-margin * 3;

        @media #{$small-only} {
            padding: $site-margin 0;
        }
    }

    .forgot-password-content__wrap {
        @include grid-column(7, $center: true);

        @media #{$medium-only} {
            @include grid-column(8, $center: true);
        }

        @media #{$small-only} {
            @include grid-column(12, $center: true);

            text-align: center;
        }

        h1 {
            @include hide-for-small-only;

            color: $nav-main-color;
            text-align: center;
            line-height: 1.2;
        }

        #forgotpass {
            @include grid-column(10, $center: true);

            @media #{$small-only} {
                @include grid-column(12, $center: true);
            }

            padding: 0;
            text-align: left;

            p {
                @include grid-column(12);

                padding: 15px 0px 0 0;
                margin-bottom: 10px;
                line-height: 1.2;

                @media #{$small-only} {
                    text-align: center;
                    margin-bottom: 20px;
                    padding-top: 0;
                }
            }

            input {
                @include input-box;

                margin-bottom: 10px !important;

                &.button {
                    @include secondary-button-ui;

                    font-size: 1em;
                    padding: 0px;
                }
            }

            .button {
                @include CTA-button(8px, 1.2em, 4px, #4BA4F0, #2082D8, #0E60A8, #0E4372, #8BC5F7);
            }
        }
    }

    .entypo-export {
        display: none !important;
    }
}