.red-cta{
    @include CTA-button(1em, 1em, 2px, $razzmatazz-pink, lighten($razzmatazz-pink,10%));
    color:white;
    width:100%;
    display:block;
    text-align: center;
    border-radius: 50px;
    font-size: 0.8em;
}