.header {
    position: relative;
    z-index: 99;

    .tab-bar {
        line-height: 0;
    }
}

.header-desktop {
    // background-image: linear-gradient(-180deg, #3B147D 2%, #A67FE8 60%);
    // todo skin notes
    background-image: linear-gradient(-180deg, $theme--ui--pink1 3%, $theme--ui--pink4 100%);
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;

    .cookie-policy {
         @media #{$medium-only} {
              display: none !important;
         }

         @media #{$small-only} {
             display: none !important;
         }
    }


    @include grid-column(12);

    padding: 0;

    .header__logo {
        @include show-for-large-up;

        height: 131px;
        width: 282px;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: -80px;
        background-size: 100%;
    }

    .header__login {
        @include show-for-large-up;

        height: auto;

        //width: 310px;
        position: absolute;
        right: 0px;
        top: -86px;

        .button--join {

            margin-top: 11px;

            &:hover {
                color: $white;
            }
        }

        .login-box {
            width: 350px;
            height: 75px !important;
            position: absolute;
            float: left;
            top: 0;
            right: 160px;
            padding: 7px;
            margin-top: 0;
            height: auto;
            clear: both;
            float: left;

            // background-image: linear-gradient(0deg, #e9dded 2%, #ffffff 100%);
            background: #F4F2F6;
            border-radius: 4px;

            .join-now-box {
                display: none;
            }

            .login-box__input-wrapper {
                input {
                    @include border-radius(4px);

                    padding: 0 !important;
                    padding-left: 30px !important;
                    margin-bottom: 5px !important;
                    height: 28px !important;
                    width: 235px !important;
                    border: none !important;
                    background-size: 14px 14px !important;
                    background: white !important;

                    // &[placeholder="User Name"] {
                    //     background: $white url(/_images/common/icons/login-username.svg) no-repeat 7px center !important;
                    // }

                    // &[placeholder="Password"] {
                    //     background: $white url(/_images/common/icons/login-password.svg) no-repeat 7px center !important;
                    // }

                }

                .login-box__username img {
                    position: absolute !important;
                    top: 13px;
                    left: 14px;
                }

                .login-box__password img {
                    position: absolute !important;
                    top: 46px;
                    left: 14px;
                }
            }

            .login-box__show-password {
                @include border-radius(4px);

                position: absolute !important;
                bottom: 12px !important;
                right: 112px !important;
                font-size: 10px;
                padding: 0px 5px !important;
                line-height: 19px !important;
                text-align: center;
                text-transform: uppercase;
                background: #C9BBFF;

                a {
                    color: $white;
                    font-weight: bold;
                }
            }

            .login-box__forgot-password {
                position: absolute !important;
                bottom: 11px !important;
                right: 9px !important;
                width: auto !important;
                color: #666 !important;
                font-size: 11px;
                text-decoration: underline;
            }

            .cta-login {
                width: 96px;
                height: 28px;
                position: absolute;
                font-size: 16px;
                top: 5px;
                right: 6px;
                line-height: 1.9;
                padding: 0;
            }

            .registercta, h1, small.error {
                display: none;
            }

            span.error {
                border-radius: 4px !important;
                width: 100% !important;
                left: 0 !important;
                position: absolute !important;
                text-align: center !important;
                font-weight: bold !important;
                background: #f04124 !important;
                margin-top: 4px !important;
                top: 74px;

                &[data-bind="visible: LoginBox.invalidPassword"] {
                    // top: 34px !important;

                }
            }
            a.error {
                 @extend span.error;
                 text-decoration: underline;
            }
        }
    }

    .header-wrap {
        width: 100%;
        position: relative;
        height: 147px;

        @include show-for-large-up;
    }

    // *********** Login box Loogged in // ***********
    .header__login--logged-in {
        background-image: url("../_images/common/login-button-in.png");
    }

    .logged-out-buttons {
        margin-top: 0px;

        @keyframes pulse {
            from {
                transform: scale(1);
            }

            30% {
                transform: scale(0.95);
            }

            33% {
                transform: scale(1);
            }

            34% {
                ransform: scale(1);
            }

            50% {
                transform: scale(0.95);
            }

            53% {
                transform: scale(1);
            }

            99% {
                transform: scale(1);
            }

            to {
                transform: scale(1);
            }
        }

        .button--join {
            margin-top: 11px;
            margin-right: 5px;
            text-align: center;
            color: $white;
            animation: pulse 2s infinite;

            &:hover {
                animation: pulse 0 infinite;
                animation-play-state: paused;
                text-shadow: none;
            }
        }
    }
}

.seo-logo {
    margin: 0;
    padding: 0;
}