.promotions-detail {
    @include grid-column(12);

    padding: 0;

    > article > div > div.promotion__content__wrapper > table > thead > tr > td {
        color: white;
        background-color: $nav-main-color !important;
        padding: 10px;
    }

    > article > div > div.promotion__content__wrapper > table {
        border: none;
        border-bottom: solid 1px #DDDDDD;

        @media #{$medium-only} {
            @include grid-column(12);

            min-width: 100%;
        }

        @media #{$small-only} {
            @include grid-column(12);

            min-width: 100%;
        }
    }

    .section-left__title {
        /* top gradient content */
        background-image: linear-gradient(0deg, #E9DDED 2%, #FFFFFF 100%);
        margin: 0;
        padding: 5px;
        padding-left: $site-margin !important;
        color: $nav-main-color;
        font-size: 15px !important;
        text-align: left !important;
        text-transform: uppercase !important;
        float: left;
        margin-bottom: $site-margin;
    }

    .two-columns-content-wrap__left {
        @include grid-column(8);

        margin-bottom: $site-margin * 2;

        @media #{$medium-only} {
            @include grid-column(12);
        }

        @media #{$small-only} {
            @include grid-column(12);
        }
    }

    .two-columns-content-wrap__right {
        @include grid-column(4);

        @include show-for-large-up;

        width: 32%;
        border-radius: 4px;
        padding: $site-margin;
        background: $white;
    }

    .promotion--featured {
        @include grid-column(12);

        padding: 0;
        margin: 0;
        background: none;

        // @include be-box($white, solid, $border, 0px);
        @include clearfix;

        .promotion__content__wrapper {
            @include grid-column(12);

            padding: 20px;
            background: $white;
            width: 98% !important;
            border-radius: 4px;
            margin: 0 1% !important;
            overflow: hidden;
            padding: 0;

            @media #{$small-only} {
                width: 96% !important;
                margin: 0 2% !important;
            }

            h1.section__title {
                color: $main-highlight-color;

                @media #{$small-only} {
                    font-size: 1.6em;
                }
            }

            p {
                font-family: $body-font-regular;
                margin-bottom: 10px;
                font-size: 0.9em;
                line-height: 1.6em;
                padding: 0;

                strong {
                    color: $nav-active-color !important;
                }
            }

            ul {
                font-size: 0.9em;
                display: block;
                list-style-type: disc;
                margin: 0;
                padding: 0;

                // -webkit-margin-before: 1em;
                // -webkit-margin-after: 1em;
                // -webkit-margin-start: 0px;
                // -webkit-margin-end: 0px;
                // -webkit-padding-start: 40px;

                li:before {
                    // position: absolute;
                    content: "\2022";
                    color: $nav-active-color !important;
                    margin-right: $site-margin;
                }
            }

            .promotion__content__img__wrapper {
                @include grid-column(12);

                padding: 0;
                overflow: hidden;
                margin-bottom: $site-margin * 2;

                @media #{$small-only} {
                    margin-bottom: 0;
                }
            }

            > img {
                padding: 0;

                @media #{$small-only} {
                    @include grid-column(12);

                    min-width: 100%;
                }

                @media #{$medium-only} {
                    @include grid-column(6);
                }
            }
        }
    }

    .footer-nav__container {
        @include grid-column(12);

        @include hide-for-medium-up;

        position: fixed;
        bottom: 0;
        left: 0;
        padding: 10px;
        background: $grey-light-bg;
        z-index: 2;

        .cta-opt-in {
            width: 30%;
            padding: 6px;
            font-size: 14px;
            margin-right: $site-margin / 2;
            text-shadow: none;

            &.cta-full-width {
                @include grid-column(6);
            }

            @media screen and (min-width: 320px) {
                font-size: 0.9em;
            }
        }

        .cta-join {
            width: 30%;
            padding: 6px;
            font-size: 14px;
            text-shadow: none;
            margin: 0;

            @media screen and (min-width: 320px) {
                font-size: 0.9em;
            }
        }

        .cta-next-promo {
            position: relative;
            float: right;
            text-align: right;
            color: $global-link-color;
            font-family: $body-font-bold;
            font-size: 13px;
            top: 7px;
        }
    }
}

.promotion__terms-conditions {
    font-size: 1em;
    color: $grey-dark;
    float: left;
    width: 96%;
    margin: 2%;
    text-align: left;
    margin-top: -20px;

    .accordion-navigation__toggle {
        text-align: center;
        padding: $site-margin !important;
    }

    .content {
        &.active {
            font-size: 1em;
            font-family: $body-font-regular;
            background: none !important;
            padding: 0 ($site-margin * 2) 0 0 !important;
        }
    }

    a {
        font-family: $title1-font !important;
        color: $global-link-color !important;
        background: none !important;
        text-decoration: underline;
    }

    a:hover {
        color: darken($global-link-color, 5%);
    }

    @media #{$small-only} {
        font-size: 1em;
        line-height: 1.3em;
    }

    ol {
        font-family: $body-font-regular;
        font-size: 0.9em;
        font-style: normal;
        line-height: 1.5em;
    }

    li {
        list-style: inherit;
    }
}

.related-promos {
    @include grid-column(12);

    padding: 0;

    @media #{$small-only} {
        padding-bottom: 50px;
    }

    .section-left__title {
        /* top gradient content */
        background-image: linear-gradient(0deg, #E9DDED 2%, #FFFFFF 100%);
        margin: 0;
        margin-bottom: $site-margin;
        padding: 5px;
        padding-left: $site-margin !important;
        color: $nav-main-color;
        font-size: 15px !important;
        text-align: left !important;
        text-transform: uppercase !important;
    }

    .three-columns-equal {
        padding: $site-margin;
    }

    .related-promos__wrap {
        @include grid-column(12);

        @include show-for-large-up;

        padding: 0;
        padding-left: $site-margin;

        .tabs dd a {
            text-transform: uppercase;
        }
    }

    .related-promos__thumb {
        @include grid-column(4);

        @include show-for-large-up;

        padding: 0;

        @media #{$medium-only} {
            @include grid-column(6);

            padding: 0;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0;
        }
    }

    .promotion__wrapper {
        @include border-radius(4px);

        padding-bottom: $site-margin !important;

        //height: 355px;

        @media #{$medium-only} {
            @include grid-column(12);

            height: auto;
            padding: 0;
            max-height: 100%;
        }

        @media #{$small-only} {
            @include grid-column(12);

            height: auto;
            padding: 0;
            max-height: 100%;
        }
    }

    .promotion__play-now, .promotion__optin {
        bottom: 15px;
        margin-left: 0;
    }

    .promos-slider {
        @include grid-column(12);

        @include hide-for-large-up;

        ul {
            margin: 0;
        }
    }
}

.promo__container__content {
    @include grid-column(12);

    padding: $site-margin ($site-margin * 2);

    @media #{$small-only} {
        padding: $site-margin;
    }

    h2 {
        line-height: 1.1;
    }
}

.promo__container__row {
    @include grid-column(12, $center: true);

    @include hide-for-small-only;

    padding: $site-margin;
    text-align: center;

    .cta-opt-in {
        @include CTA-button(8px, 1.2em, 2px, #B4EC51, #67B030, #429321, #417505, #7ED321);

        @include grid-column(6, $center: true);

        margin: 0 3px;
        width: 47%;
        display: inline-block;
        font-size: 1.3em;
    }
}

.promo__container__button {
    @include grid-column(6, $center: true);

    margin: 0 3px;
    width: 47%;
    display: inline-block;
    font-size: 1.3em;

    @media #{$small-only} {
        width: 98%;
        margin-top: $site-margin;
    }
}

.promotion__wrapper {
     .promotion__text_terms-wrapper {
            padding: $site-margin;
            float: left;
            line-height: 100%;
            width: 100%;
            .promotion__text_terms, .promotion-eng__terms {
                font-size:rem-calc(11);
            }
        }
}