.promotion {
    color: $grey-dark;
    font-size: 1rem;
    @include grid-column(12);
    // padding: $site-margin / 2;
    margin-bottom: 1em;
    @media #{$medium-only} {
        margin-bottom: 0px;
    }
    @media #{$small-only} {
        @include grid-column(12);
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
        margin-bottom: $site-margin;
    }
    .promotion__wrapper {
        @include grid-column(12);
        @include be-box($white, solid, $border, 10px);
        @include border-radius(4px);
        padding: 0;
        padding-bottom: $site-margin;
        height: auto;
        position: relative;
        @media #{$small-only} {
            @include grid-column($collapse: true, $columns: 12);
            padding: 0px;
            padding-bottom: $site-margin;
            margin-bottom: 10px;
            height: auto;
        }
    }
    .promotion__title {
        @include grid-column(6);
        font-size: 0.9em;
        font-family: $body-font-bold;
        text-transform: uppercase;
        width: 100%;
        padding: 5px $site-margin 10px $site-margin;
        @media #{$small-only} {
            position: relative;
            padding: $site-margin;
        }
        a {
            //height: 20px !important;
            overflow: hidden;
            display: block;
            color: $nav-active-color;
            line-height: 1em;
        }
    }
    .promotion__image {
        @include grid-column(12);
        padding: 0;
        > img {
            width: 100%;
            margin-bottom: 0;
        }
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0;
            float: left;
            border: none !important;
            box-shadow: none;
            margin-top: 0px;
        }
    }
    .promotion__title__wrapper {
        float: left;
    }
    .promotion__content {
        @include grid-column(12);
        overflow: visible;
        padding: 0 $site-margin;
        margin: 0;
        margin-bottom: $site-margin;
        height: auto;
        min-height: 170px;
        overflow: hidden;
        font-size: 0.85em;
        ul {
            margin: 0;
            li {
                list-style: inherit;
                font-size: 0.8em;
                line-height: 1.4em;
            }
        }
        a,
        p,
        span,
        div,
        label {
            font-family: $body-font-regular;
            line-height: 1.4em;
            margin-bottom: 0px;
        }
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0 $site-margin;
            min-height: auto;
            p:after {
                font-size: 0.9em;
                content: '...';
                font-weight: bold;
            }
        }
        .promotion__terms {
            @include grid-column(12);
            padding: 0;
            font-family: $body-font-bold;
            color: $global-link-color;
            margin: $site-margin 0 0;
        }
    }
    .promotion__optin {
        @include grid-column(4);
        @include CTA-button(2px, 0.8em, 4px, #B4EC51, #67B030, #429321, #417505, #7ED321);
        width: 28%;
        text-shadow: none;
        margin-left: 3% !important;
        @media #{$medium-only} {
            font-size: 0.75em;
        }
    }
    .promotion__more-info {
        @include grid-column(4);
        @include CTA-button(2px, 0.8em, 4px, #4BA4F0, #2082D8, #0E60A8, #0E4372, #8BC5F7);
        width: 30%;
        margin-left: 3% !important;
        text-shadow: none;
        @media #{$medium-only} {
            font-size: 0.75em;
        }
    }
    .promotion__play-now {
        @include grid-column(4);
        @include CTA-button(2px, 0.8em, 4px, #FF8FD7, #FF7BD0, #FF00AA, #C70064, #FFC5EA);
        width: 30%;
        margin-left: 3% !important;
        text-shadow: none;
        @media #{$medium-only} {
            font-size: 0.75em;
        }
    }
}

.related-promos__thumb {
    .promotion__wrapper {
        // min-height: 393px;
    }
}


// COMPETITION ENGINE CUSTOM STYLE PROMO
.promotion-eng {
    .promotion-eng__wrapper {
        @media screen and (min-width: 426px) and (max-width: 768px) {
            height: 600px !important;
            overflow: hidden;
        }
        @media screen and (min-width: 769px) and (max-width: 1024px) {
            height: 600px !important;
            overflow: hidden;
        }
        @media #{$large-up} {
            height: 600px !important;
            overflow: hidden;
        }
    }
    .tabs {
        dd {
            a {
                &:hover {}
            }
            &.active {
                a {
                    &:hover {}
                }
            }
        }
    }
    .promotion-eng__content {
        %ui-promo {
            background: darken($lighter-bg, 2%);
            font-family: $button-font;
            text-transform: uppercase;
            font-size: rem-calc(18);
            @include border-radius(20px);
            padding: rem-calc(10) rem-calc(10) rem-calc(10) rem-calc(80);
            background-repeat: no-repeat;
            background-position-y: 50%;
            background-position-x: 10%;
        }
    }
    .promotion-eng__footer {
        background: darken($lighter-bg, 8%) !important;
        .promotion-eng__terms {}
        .promotion-eng__read-more {}
        .promotion-eng__optin {}
        .promotion-eng__play-now {
            // display: block !important;
        }
    }
    ul.promotion-eng__comp-info {
        li {
            .title {}
            span {}
        }
    }
}

.promotion__text_terms-wrapper {
    background: $white-lilac;
    // padding:15px !important;
    .promotion__text_terms {}
    .promotion-eng__terms {
        font-weight: 800;
        color: $fun-blue;
    }
}
