#claimed-prize-modal{
    .reveal-modal {
        &.open {
            padding: 0;
            .login-box {
                .login-box__form-wrapper {
                    h2 {
                        height: rem-calc(70);
                        text-transform: uppdercase;
                        padding: 0;
                        margin: 0;
                        color: $claimed-prize-headers-color;
                        text-align: center;
                        line-height: rem-calc(70);
                        font-size: rem-calc(28);
                        background: $claimed-prize-headers-background;
                        background-image: url('../_images/common/backgrounds/promo-modal.png');
                        @media #{$small-only} {
                            font-size: rem-calc(18);
                        }
                    }
                    .competition-wrapper {
                        text-align: center;
                        .cta-my-account {
                            @include CTA-button(15px 25px 15px 25px, 1.4em, 4px, #afe74e, #76bc37, #4a9926, #417506, #417506);                            
                            float: none;
                            margin: 2em 0 2em 0;
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                            width: 29%;
                            @media #{$small-only} {
                                width:100%;
                            }
                            &:hover {
                                color: $claimed-prize-headers-color;
                            }
                        }
                        .competition-copy {
                            padding-top: rem-calc(35);
                            padding-left: rem-calc(60);
                            padding-right: rem-calc(60);
                            padding-bottom: rem-calc(35);
                            @media #{$small-only} {
                                padding-top: rem-calc(15);
                                padding-left: rem-calc(40);
                                padding-right: rem-calc(40);
                                padding-bottom: rem-calc(15);
                            }
                            text-align: center;
                            h3 {
                                font-family: $body-font-bold;
                                color: $claimed-prize-headers-background;
                                font-size: rem-calc(24);
                                @media #{$small-only} {
                                    font-size: rem-calc(18);
                                }
                            }
                            p {
                                font-family: $body-font-medium;
                            }
                            .competition-amount {
                                font-size: rem-calc(32);
                                color: $claimed-prize-amount-highligted;
                                text-transform: uppercase;
                                @media #{$small-only} {
                                    font-size: rem-calc(26);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}