.myaccount-transactions {
    .green-cta {
        width: 100px;
        padding: 0.3em;
        margin-bottom: 1em;
    }
    .myaccount-transactions__promotions__item {
        @include grid-row;
        background-color: $account-blue;
        margin-bottom: 0.5em;
        padding: 0.5em;
        .PromoDescription {
            @include grid-column(6);
        }
        .myaccount-transactions__promotions__item__content {
            font-size: 0.8em;
            line-height: 1.2em;
            a {
                @include grid-column(3, $collapse: true);
                text-decoration: underline;
                float: right;
                text-decoration: none;
                display: block;
                &.expandarrow {
                    text-align: right;
                    font-size: 11px;
                }
                &.voidbonus {
                    @include grid-column(3, $collapse: true);
                    max-width: 117px;
                    @extend .red-cta;
                    background-color: red;
                    border-radius: 4px;
                    text-align: center;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 2px;
                }
            }
        }
        .myaccount-transactions__promotions__item__details {
            font-size: 0.8em;
            margin-top: 30px;
            .panel{
                padding-top: 10px;
            }
        }
    }

    //Net worth deposit BANKING Tab START
    .second-tabs {
        border-top: 1px solid #DEEDF3;
        color: #fff;
        li {
            margin-top: rem-calc(20px);

            .active {
                text-decoration: underline;
            }
        }
    }

   .my-net-deposits {

    @media #{$small-only} {
        text-align: center;
    }
        p.view-net-deposit {
            color: #494949;
            margin-top: 35px;
            font-size: 18px;
            font-weight: bold !important;

            @media #{$small-only} {
                font-size: 15px;
            }

        }

        a.button {
            width: 300px;
            height: 45px;
            background-color: #179A94;
            background-image: none;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 12px;
            font-size: 15px;

            @media #{$small-only} {
                width: 90%;
                font-size: 13px;
                padding-left: 16px;
                padding-right: 16px;
            }
        }

        a.btn-reveal__deposit {
            background-color: #F5FBFF !important;
            border: 2px solid #DEEDF3;
            line-height: 0;
            font-size: 18px;
            font-weight: bold;
            color: #201F1F;

            @media #{$small-only} {
                width: 90%;
            }
        }

        .inactiveLink {
           pointer-events: none;
           cursor: default;
        }

        p.my-net-deposit__info {
            color: #494949;
            font-size: 14px;
            margin-bottom: 70px;
        }
   }
   //Net worth deposit BANKING tab END
}