.ui-adaptive-banner{
    font-size: 11px;
    @media #{$small-only} {
        background: rgba(0, 0, 0, 0.6);    
        padding: 0;
        text-align: center;
        .ui-adaptive-text{
            padding: 0;
            margin-bottom:0;
            color: #fff;
        }
    }
    @media #{$medium-only} {
        background: rgba(0, 0, 0, 0.6);
        padding: 0;
        text-align: center;
        .ui-adaptive-text{
            padding: 0;
            margin-bottom:0;
            color: #fff;
        }
    }
}