/* Styles for loading animations (rectangles)*/
.rad__loader-rectangle {
  margin: 30px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  div {
    background-color: #1d4775;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.6s infinite ease-in-out;
    animation: sk-stretchdelay 1.6s infinite ease-in-out;
  }

  .bar2 {
    -webkit-animation-delay: -1.4s;
    animation-delay: -1.4s;
  }

  .bar3 {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
  }

  .bar4 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }

  .bar5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
      -webkit-transform: scaleY(0.5);
    }
    20% {
      -webkit-transform: scaleY(1.2);
    }
  }

  @keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
      transform: scaleY(0.5);
      -webkit-transform: scaleY(0.5);
    }
    20% {
      transform: scaleY(1.2);
      -webkit-transform: scaleY(1.2);
    }
  }
}

.alertbox--white {
  // WE NEED TO REFACTOR THIS
  background: #fff !important;
  border-radius: 5px;

  ul {
    text-align: left;
    margin: 1rem;
    color: #116;
    li {
      list-style-type: circle;
    }
  }
  .alertbox--white__title {
    color: #444;
    margin-bottom: 1.25rem;
    font-size: 1.5em;
  }
  .alertbox--white__message {
    color: #116;
    margin-bottom: 1.25rem;
    p {
      color: #116;
    }
  }
  .alertbox--icon {
    width: 48px;
    height: 48px;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    padding: 0;
    position: relative;
    box-sizing: content-box;
    margin: 20px auto;
    border-radius: 50%;
    font-size: 3em;
    font-weight: bold;
    border-color: #116;
    .alertbox--icon--warning-icon {
      position: relative;
      top: 10px;
      color: #116;
    }
    .alertbox--icon--failed-icon {
      color: #700;
      top: 10px;
      position: relative;
    }
    .alertbox--icon--success-icon {
      color: #070;
      top: 10px;
      position: relative;
    }
  }
  .alertbox--icon__warning {
    border-color: #116;
  }
  .alertbox--icon__danger {
    border-color: #700;
  }
  .alertbox--icon__success {
    border-color: #070;
  }
  p {
    margin-bottom: 0.75rem;
  }
  small {
    font-size: 0.8rem;
  }
  .ok-cta {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background: #005;
    color: #fff;
    text-align: center;
    border: 2px solid #006;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 0.8em 1.93em;
    font-weight: bold;
    width: 12rem;
    line-height: 1.2rem;
    display: inline-block;
    max-width: 80%;

    &:hover {
      background: #006;
      color: #fff;
      text-align: center;
      border: 2px solid #006;
    }
  }
  .cancel-cta {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    background: #e5526a;
    color: #fff;
    border: 2px solid #de2644;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.8em;
    font-weight: bold;
    width: 12rem;
    max-width: 80%;
    display: inline-block;
    line-height: 1.2rem;
    &:hover {
      background: #d9213f;
    }
  }
}
