.article {
    font-size: 1rem;
    @include grid-column(12);
    background-color: whitesmoke;
    @include clearfix;
    margin-bottom: $site-margin;

    .article__content{
        
    }

    .article__content__title {
        font-size: 1em;
        border-bottom: 1px solid #bb075c;
        padding-left: 0px;
        margin-bottom: $site-margin;
        >a{
            color: $title;
        }
    }
    .article__content__image {
        padding: 0px;
        margin: 0px $site-margin $site-margin 0px;
        float: left;
        @media #{$small-only} {
            @include grid-column(12);
            margin-bottom: $site-margin;
            padding: 0px;
        }
    }
    .article__content__body{
        >p{
            
            font-size: 0.9em;
            
        }
    }
    .article__publisher{
        font-size:0.8em;
 
    }
}