.card-form {
    text-align: left;
    @include grid-column(12);
    >div {
        @media #{$small-only} {
            width: 100%;
        }
        @media #{$medium-up} {
            width: 50%;
            margin-left: 25%;
        }
    }
}

.card-form__cvn{
    >label{
        float:left;
    }
    >img{padding-left:0.5em;margin-bottom:0.1em;}
}

.card-form__expiry-date {
    >div {
        width: 50%;
        float: left;
    }
}