/***************************
    CASHIER styling 
***************************/

//Cashier temp styling 
//Global variables for the cashier:

$font-general: "Helvetica", "Arial", sans-serif;
$white: #ffffff;
$black: #000000;
$cashier__prussian-blue: #001C4A;
$cashier__blue-zodiac: #122A4A;
$cashier__tundora: #4C4C4C;
$cashier__tropical-blue: #DBEAF9;
$cashier__catskill-white: #F7F9FB;
$cashier__mercury: #E7E7E7;
$cashier__alice-blue: #F5FBFF;
$cashier__sail: #a6d0fb;
$cashier_polo-blue: #8cb1d8;
$cashier__french-blue: #BBE0FF;
$cashier__onahau: #C2E7FF;
$cashier__link-water: #D9E7F5;
$cashier__chestnut-rose: #D25A5A;
$cashier__malibu: #8DB7FD;
$cashier__apple: #4AA53E;
$cashier__chateau-green: #43AC6A;
$cashier__moss-green: #A1D5B4;
$cashier__chaltans-blue: #1C4275;
$cashier__mandy: #E2574C;

//cashier widget
$account-blue: #F5FBFF !default;
$site-margin: 1em !default;
$cashier-widget-header: inherit !default;


//Coudn't find what this styling (pixel-tracker) is for
.pixel-tracker {
    max-width: 1 !important;
    height: 1 !important;
    display: none;
    display: none;
}

.cashierholder {
    .content-template {
        @include grid-column(12);
        padding: 0;

        @media #{$small-only} {
            margin-top: -5px;
        }
    }
}

.cashier {
    margin-top: 0 !important;
    font-family: $font-general;

    @media #{$small-only} {
        min-height: calc(100vh - 60px) !important;
        height: 100%;
        position: relative;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $font-general;
        font-weight: bold;
        color: $cashier__prussian-blue;
    }

    p {
        font-family: $font-general;
        color: $cashier__tundora;
        font-size: 0.9rem;
        font-weight: normal;
        line-height: 1.4;
    }

    .panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6 {
        color: $cashier__prussian-blue;
    }
}

.cashier-content {
    @media #{$small-only} {
        margin-bottom: -40px;
    }

    @media #{$medium-only} {
        margin-bottom: -40px;
        padding-left: 0;
        padding-right: 0;
    }


}

.panel a {
    color: $cashier__tundora;
    text-decoration: underline;
}

.panel.callout {
    background-color: $cashier__tropical-blue;
}

.cashier, .welcome, .thank-you {
    overflow: hidden;

    @include grid-row;

    font-size: 1rem;
    margin-top: 1em;
    color: black;
    background-color: $cashier__catskill-white;


    @media #{$medium-up} {
        @include border-radius(3px);
    }

    // ----
    // -- MAIN NAV
    // ----
    .cashier__main-nav {
        padding: 0px;
        background-color: $cashier__tropical-blue;
        min-height: 600px;

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);

            height: auto !important;
            min-height: initial !important;
        }

        @media #{$medium-up} {
            @include grid-column(3, $collapse: true);

            height: auto;
        }

        > ul {
            padding: 0px;
            margin: 0px;

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);

                list-style: none;

                > li {
                    @include grid-column(3);

                    text-align: center;
                    font-size: 0.8em;
                    padding: 0.4em;

                    @media #{$small-only} {
                        font-size: 0.6em;
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid $cashier__alice-blue;

                        @media #{$small-only} {
                            border-right: 1px solid $cashier__alice-blue;
                        }
                    }
                }
            }

            @media #{$medium-up} {
                @include block-grid(1);

                min-height: 600px;
                margin: 0;
                float: right;
                width: 100%;

                > li {
                    text-align: left;
                    padding: 0.5em 0em 0.5em 0.5em;
                    border-radius: 3px;

                    .cashier__main-nav__deposit {
                        background: url("../_global-library/images/cashier/deposit.png") no-repeat;
                        background-position: 0px center;
                        padding-left: 35px;
                    }

                    .cashier__main-nav__withdraw {
                        background: url("../_global-library/images/cashier/withdraw.png") no-repeat;
                        background-position: 0px center;
                        padding-left: 35px;
                    }

                    .cashier__main-nav__reverse {
                        background: url("../_global-library/images/cashier/reverse.png") no-repeat;
                        background-position: 0px center;
                        padding-left: 35px;
                    }

                    .cashier__main-nav__account-verification {
                        background: url("../_global-library/images/cashier/account-verification/icon-security-notification.svg") no-repeat;
                        background-position: 0px center;
                        padding-left: 35px;
                    }

                    .cashier__main-nav__playerlimits {
                        background: url("../_global-library/images/cashier/limit.png") no-repeat;
                        background-position: 0px center;
                        padding-left: 35px;
                    }

                    .cashier__main-nav__details {
                        background: url("../_global-library/images/cashier/details.png") no-repeat;
                        background-position: 0px center;
                        padding-left: 35px;
                    }
                }
            }

            > li {
                cursor: pointer;
                padding-left: 0.5em;

                @media #{$medium-up} {
                    margin-top: 7px;
                    background-color: $cashier__sail;
                    box-shadow: 0px 1px 0px 0px $cashier_polo-blue;
                    border-radius: 6px;
                    width: 94%;
                    margin-left: 3%;
                }

                @media #{$small-only} {
                    display: table;
                }

                > a {
                    display: block;
                    color: $cashier__prussian-blue;
                    font-weight: bold;

                    @media #{$small-only} {
                        padding: 0.5em 0em 0.5em;
                        line-height: 11px;
                        height: 31px;
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 1.3em;
                    }

                    @media #{$medium-up} {
                        padding: 0.5em 35px 0.5em;
                    }
                }

                &:hover {
                    cursor: pointer;
                    background-color: $cashier__french-blue;
                    padding-left: 0.5em;

                    > a {
                        display: block;
                        color: $black;

                        @media #{$small-only} {
                            padding: 0.5em 0em 0.5em;
                        }

                        @media #{$medium-up} {
                            padding: 0.5em 35px 0.5em;
                        }
                    }
                }

                &.current {
                    cursor: default;
                    padding-left: 0.5em;
                    background-color: $cashier__catskill-white;

                    @media #{$medium-up} {
                        width: 100%;
                        border-radius: 0px;
                        margin-left: 0;
                        padding-left: 7%;
                        box-shadow: none;

                        &:first-child {
                            margin-top: 0;
                        }
                    }

                    @media #{$small-only} {
                        display: table;
                    }

                    > a {
                        display: block;

                        @media #{$small-only} {
                            padding: 0.5em 0em 0.5em;
                            height: 31px;
                            display: table-cell;
                            text-align: center;
                            vertical-align: middle;
                            font-size: 1.4em;
                        }

                        @media #{$medium-up} {
                            padding: 0.5em 35px 0.5em;
                        }
                    }
                }
            }
        }
    }

    // -----
    // -- CONTENT WRAPPER
    // -----
    .cashier__content-wrapper {
        min-height: 600px;

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
            min-height: unset !important;
            margin-bottom: 60px;
        }

        @media #{$medium-up} {
            @include grid-column(9);

            min-height: 15em;
            padding: 0.9375rem;
        }
    }

    .cashier__content-wrapper--alone {
        @media #{$small-only} {
            @include grid-column(12);
        }

        @media #{$medium-up} {
            @include grid-column(9, $center: true, $collapse: true);
        }
    }

    // -----
    // -- CASHIER LIST
    .cashier__list {
        @include grid-column(12, $center: true, $collapse: true);
        margin-top: 40px;

        @media #{$small-only} {
            padding-left: 10px;
            padding-right: 10px;
        }

        > ul {
            list-style: none;
            margin: 0px;

            > li {
                height: 72px;      
                border: 1px solid #D1EDFF;  
                border-radius: 4px; 
                background: linear-gradient(180deg, #EAF7FF 0%, #D1EDFF 100%); 
                background-position: 99% center; 
                box-shadow: 0 1px 0 0 #B1B4B6 !important;
                cursor: pointer;
                

                .cashier__account-arrow {
                    float: right;
                    margin-right: 15px;

                    @media #{$small-only} {
                        margin-right: 10px;
                        margin-top: -1px;
                    }
                }

                @media #{$medium-up} {
                    margin-bottom: 10px;
                }

                @include grid-column(12);

                padding: 0.5em;
                font-size: 0.8em;

                @media #{$small-only} {
                    font-size: 0.6em;
                    margin-top: 10px;
                }

                &:first-child {
                    margin-top: 0px;
                }

                &:hover {
                    background-color: $cashier__alice-blue;
                    border: 1px solid $cashier__onahau;
                }

                &:not(.active-state) {
                    a {
                        color: palette(blue, dark);
                    }
                }

                &.active-state {
                    background-color: $cashier__alice-blue;

                    a {
                        color: $black;
                    }
                }
            }

            .cashier__list__wrapper {

                @include vert-align(40px);

                .payment-icon {
                    width: 90px;
                    height: 45px;
                    margin-top: -4px;
                    margin-left: 15px;

                    @media #{$small-only} {
                        width: 57px;
                        height: 35px;
                        margin-left: 5px;
                    }
                }

                > a {
                    display: block;
                    height: 100%;
                    padding: 0em;
                    color: $white;
                }

                @media #{$small-only} {
                    margin-top: 12px;
                    > img {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            } 

            .cashier__list__wrapper:first-child {
                @media #{$medium-up} {
                    @include grid-column(12);
                    padding: 0px;
                    margin-top: 8px
                }

                @media #{$small-only} {
                    @include grid-column(12);
                    padding: 0px;
                }
            }

            .cashier__list__wrapper.new__methods:first-child {
                @media #{$medium-up} {
                    width: 20%;
                    margin-left: 25px;
                }

                @media #{$small-only} {
                    margin-left: 15px;
                    width: 32%;
                }
            }

            .cashier__list__wrapper:nth-child(2) {
                @media #{$medium-up} {
                    @include grid-column(3);
                    padding: 0px;
                }

                @media #{$small-only} {
                    display: none;
                }
            }

            > a {
                display: block;
                height: 100%;
                padding: 0.5em;
                color: $white;
            }
        }

        .cashier__list__description {
            height: 40px;   
            width: 181px;
            margin-right: 20px;   
            color: #001C4A; 
            font-family: $font-general; 
            font-size: 14px;   
            line-height: 20px;

            @media #{$medium-only} {
                font-size: 12px;
            }

            @media #{$small-only} {
                font-size: 10px;
                margin-right: 5px;
            }

        }

        .cashier__list__expire {
            text-decoration: underline;
            border: 0px 1px 1px 1px solid darken($cashier__alice-blue, 10%);
            font-size: 0.7em;
            padding: 0.2em;
            text-align: left;
            color: $black;
            cursor: pointer;

            @include vert-align(26px);

            > div {
                float: left;
                padding-right: 0.5em;
            }

            @media #{$small-only} {
                font-size: 0.8em;
                padding: 0.2em;
            }
        }

        .cashier__list__expire:hover {
            color: lighten($black, 10%);
        }

        .cashier__list__new {
            @include button($bg: pink);

            margin-top: 1em;
            float: right;
        }

        .limit-reached {
            display: block;
            background-color: $cashier__chestnut-rose;
            color: white;
            font-weight: bold;
            text-align: center;
            height: 11px;
            line-height: 11px;
            font-size: 11px;
            bottom: 0;
            position: absolute;
            width: 97%;
        }
    }

    // -----
    // -----
    // -- PROMO BOXES
    // -----
    .cashier__promo-boxes {}

    .cashier__promo-box {
        text-align: center;
        width: 40%;
        background-color: $grey;
        border: 2px solid darken($grey, 10%);
        margin: 0px 5% 1em 5%;
        height: 5em;
        padding: 0px;
        cursor: pointer;

        > div {
            //@extend .small-12;
            &:first-child {
                margin: 0.5em 0em 1em 0em;
            }
        }

        &:hover {
            background-color: lighten($grey, 10%);
        }
    }

    // -----
    // -- NEW METHOD
    // -----
    .cashier__new-method {}

    .cashier__new-method__nav {
        margin-bottom: 1em;

        > ul {
            @include block-grid(4);

            padding: 0px;

            > li {
                background-color: $white;
                border: 1px solid $grey;
                padding: 0.5em;
                text-align: center;
                cursor: pointer;
            }

            > li:not(:last-child) {
                border-right: none;
            }

            > li:hover {}
        }
    }

    // -----
    // -- CVN
    // -----
    .cvn {
        //@extend .clearfix;
        > input {
            //@extend .small-6, .columns;
            margin-bottom: 0px;
        }
    }

    // -----
    // -- Thank you page: 
    // -----
    .cashier__thank-you {
        > div {
            @include grid-column(12);

            padding: 1em 1em 0px 0px;
        }
    }

    fieldset, .fieldset {
        border: none;
        text-align: left;
        padding: 0px;
    }

    .new__method-title {
        @media #{$small-only} {
            margin-top: 12px;
        }

         @media #{$medium-only} {
            margin-top: 12px;
        }
    }

    .cashier__form-group {
        text-align: left;
        margin-top: 20px;

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);

            padding: 0.5em;
        }

        @media #{$medium-up} {
            @include grid-column(6, $collapse: true);

            padding: 0.5em;
        }

        label {
            height: 23px;
            width: 322px;
            color: #7A7C7E;
            font-family: Helvetica;
            font-size: 14px;
            font-weight: bold;
            line-height: 23px;
            margin-bottom: 6px;
            
            @media #{$small-only} {
                width: 100%;
            }

        }

        input {
            height: 51px;
        }
        input::placeholder {
            color: #9B9B9B; 
            font-family: Helvetica; 
            font-size: 16px;    
            font-weight: bold;
        }

        select {
            height: 51px;
            color: #4C4C4C; 
            font-family: Helvetica; 
            font-size: 16px;    
            font-weight: bold;  
        }
    }

    .neteller-number, .neteller-id {
        margin-top: 20px;

        @media #{$medium-only} {
            width: 310px;
        }

    label {
            height: 23px;
            width: 322px;
            color: #7A7C7E;
            font-family: Helvetica;
            font-size: 14px;
            font-weight: bold;
            line-height: 23px;
            margin-bottom: 6px;
            
            @media #{$small-only} {
                width: 100%;
            }

        }

        input {
            height: 51px;
        }
        input::placeholder {
            color: #9B9B9B; 
            font-family: Helvetica; 
            font-size: 16px;    
            font-weight: bold;
        }
}

.neteller-id {
    margin-top: 40px;
}

    .save__details {
        margin-left: 5px;
    }

    .cashier__form-group__container {
        @include grid-column(6, $collapse: true);

        padding: 0em 0.5em 0em 0em;
    }

    .cashier__text-input-wrapper {
        @include grid-column(6, $center: true, $collapse: true);
    }

    // -----
    // -- Withdraw amount: 
    // -----
    .cashier__section__withdraw-amount {
        @include grid-column(12, $center: true, $collapse: true);

        > label {
            text-align: center;
            font-size: 2em;
        }
    }

    .cashier__amount-wrapper {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    // .cashier__select-button {
    //     @include button-generate($account-highlited-blue, 5px);
    // }

    .cashier__thank-you-cta {
        @media #{$small-only} {
            @include grid-column(12, $center: true);

            text-align: center;
        }

        @media #{$medium-only} {
            @include grid-column(12, $center: true, $collapse: true);

            text-align: center;
        }

        @media #{$large-up} {
            @include grid-column(12, $center: true, $collapse: true);

            text-align: center;
        }

        margin-top: 1em;

        button a {
            color: $white;
            font-weight: bold;
        }
    }
}

// -----
// -- SECURE PAYMENT
// -----

.cashier__secure-payment {
    top: 3px;
    right: 10px;
    position:absolute;
    
    @media #{$small-only} {
        @include grid-column(6, $center: true);
    }
}

// -----
// -- CTA BUTTON
// -----
.cashier__cta-button {
    //@extend .button, .success;
    @include grid-column(12);
}

.cvn {
    float: left;
    padding: 0.5em;

    input {
        width: 100px;
        height: 51px;
        float: left;
    }

    .cvn__info {
        height: 17px;
        width: 233px;
        color: #7A7C7E;
        font-family: Helvetica;
        font-size: 14px;
        line-height: 17px;
    }
}

.cvn__checkbox input {
    width: 25px;
}

.cvn__icon {
    float: left;
    padding-left: 0.5em;

    img {
        margin-top: 8px;
    }
}

.cvn__checkbox {
    //@extend .clearfix;
    @include grid-column(12, $collapse: true);

    input[type="checkbox"] {
        transform: scale(1.5, 1.5);
        margin-right: 3px;
    }
}

// ---------------------------------------------------

.cashier__section {
    @include grid-column(12, $collapse: true);
    padding: 0.5em 0.5em 0.9375rem 0.5em;
    background-color: $cashier__catskill-white;
    position: relative;
    //background: rebeccapurple;

    @media #{$small-only} {
        margin-top: 10px;
    }

    @media #{$medium-only} {
        margin-top: 10px;
    }
}

.cashier__section--limits {
    @include grid-column(12, $collapse: true);

    padding: 0.5em 0.5em 0.9375rem 0.5em;
    background-color: $cashier__catskill-white;
    position: relative;
}

.welcome .cashier__section--limits {
    @include grid-column(9, $collapse: true);

    padding: 0.5em 0.5em 0.9375rem 0.5em;
    background-color: $cashier__catskill-white;
    position: relative;
}

.cashier__section--limits-inner {
    @include grid-column(12, $collapse: true);

    padding: 0.5em 0.5em 0.9375rem 0.5em;
    background-color: $cashier__catskill-white;
    position: relative;
}

.cashier__section__container-amounts {
    margin-top: 20px;
}

.cashier__section__container__title {
    padding-left: 0.9375rem;
}

.cashier__section__title {
    font-size: 16px;
    color: #46484A !important;
    text-align: left;
    text-transform: unset;

    @media #{$small-only} {
        padding-left: 0.5em;
        font-size: 16px;
        padding-left: 5px;
    }


    .secure-payment-icon {
        position: absolute;
        top: 13px;
        right: 0;
        z-index: 1;
        width: 40px;
        height: 40px;
        margin-right: 10px;

        @media #{$small-only} {
            top: 10px;
            right: 5px;
            width: 50px;
            height: 30px;
        }

        @media #{$medium-only} {
            top: 13px;
            width: 45px;
            height: 30px;
        }

        &::after {
            @media #{$large-up} {
                content: 'Secure Payment';
                position: absolute;
                font-size: 10px;
                font-weight: normal;
                color: #009900;
                right: 100%;
                top: 0;
                padding-left: 0.625rem;
                text-align: right;
                line-height: 1;
                padding-right: 5px;
            }
        }

    }
}

.cashier__amounts {
    @media #{$small-only} {
        margin-top: 10px;
    }
}

.cashier__section__title__deposit {
    font-size: 16px;
    margin-bottom: 0em;
    color: #7A7C7E !important;
    text-align: left;
    text-transform: unset;


    @media #{$small-only} {
        padding-left: 0.5em;
        font-size: 16px;
        padding-left: 0px;
    }

  img {
        float: right;
        width: 90px;
        margin-top: -16px;
    }
}

.cashier__section__title__bonus {
    font-size: 16px;
    margin-bottom: 10px;
    color: #7A7C7E !important;
    text-align: left;
    text-transform: unset;
    margin-top: 30px;

    @media #{$small-only} {
        padding-left: 0.3em;
        font-size: 16px;
        margin-top: 5px;
    }

    img {
        float: right;
        width: 90px;
        margin-top: -16px;
    }
}

.cashier__section__title__neteller {
    font-size: 16px;
    margin-bottom: 10px;
    color: #7A7C7E !important;
    text-align: left;
    text-transform: unset;
    margin-top: 30px;

    @media #{$small-only} {
        font-size: 16px;
    }

    img {
        float: right;
        width: 90px;
        margin-top: -16px;
    }
}

.solid-border {
    border-top: solid 1px #B0B2B4;
    position: absolute;
    width: 54%;
    right: 112px;
    margin-top: -19px;

    @media #{$medium-only} {
        display: none;
    }
    
    @media #{$small-only} {
        width: 27%;
        display: none;
    }

}

.solid-border-how-deposit {
    border-top: solid 1px #B0B2B4;
    position: absolute;
    width: 53%;
    right: 125px;
    margin-top: -19px;

    @media #{$medium-only} {
        display: none;
    }
    
    @media #{$small-only} {
        width: 27%;
        display: none;
    }
}

.solid-border-amounts {
    border-top: solid 1px #B0B2B4;
    position: absolute;
    width: 63%;
    right: 122px;
    margin-top: -19px;

    @media #{$medium-only} {
        display: none;
    }
    
    @media #{$small-only} {
        width: 27%;
        display: none;
    }
}

.solid-border-promo {
    border-top: solid 1px #B0B2B4;
    position: absolute;
    width: 60%;
    right: 10px;
    margin-top: -21px;
    
    @media #{$medium-only} {
        display: none;
    }

    @media #{$small-only} {
        display: none;
    }
}

.solid-border-amount-promo {
    border-top: solid 1px #B0B2B4;
    position: absolute;
    width: 97%;
    right: -220px;
    margin-top: -21px;
    
    @media #{$medium-only} {
        display: none;
    }

    @media #{$small-only} {
        display: none;
    }
}

.solid-border-amount-cvn {
    border-top: solid 1px #B0B2B4;
    position: absolute;
    width: 70%;
    right: 16px;
    margin-top: -21px;
    
    @media #{$medium-only} {
        display: none;
    }

    @media #{$small-only} {
        display: none;
    }
}

.cashier__method-description {
    height: 140px;
    width: 200px;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
-moz-box-shadow: 0 0 10px rgba(0,0,0,0.35);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35);
-o-box-shadow: 0 0 10px rgba(0,0,0,0.35);

    @media #{$medium-only} {
        width: 98%;
        height: 70px;
        margin-bottom: 20px;
        float: none;
        margin-left: 4px;
        margin-top: 22px;
        box-shadow: 0 2px 0 0 #BEC6CE

    }

    @media #{$small-only} {
        width: 98%;
        height: 70px;
        margin-bottom: 20px;
        float: none;
        margin-left: 4px;
        margin-top: 22px;
        box-shadow: 0 2px 0 0 #BEC6CE
    }

    div, p {
        color: #1C4275;
        font-family: Helvetica;
        font-size: 11px;
        margin-top: 12px;
        text-align: center;

        @media #{$medium-only} {
            margin-top: -5px;
        }

        @media #{$small-only} {
            margin-top: -5px;
        }
    }

    .cashier__payment-method {
        @media #{$small-only} {
           padding-top: 5px;
        }

        @media #{$medium-only} {
           padding-top: 5px;
        }
    }

    img {
        width: 80px;
        height:40px;
        margin-top: -15px;

        @media #{$medium-only} {
            width: 60px;
            height: 30px;
            margin-top: -5px;
        }
    
        @media #{$small-only} {
            width: 60px;
            height: 30px;
            margin-top: -5px;
        }
    }
    
    span {
        float: left;
        width: 100%;
        margin-top: 15px;

        @media #{$medium-only} {
            float: none;
            margin-top: -4px;
        }

        @media #{$small-only} {
            float: none;
            margin-top: -4px;
        }
    }

    .card-description {
        line-height: 15px;
        
        @media #{$small-only} {
            margin-left: 10px;
        }

          @media #{$medium-only} {
            margin-left: 10px;
        }

    }
}

.cashier__section__notice {
    text-align: center;
    display: block;
}

.deposit-thankyou-msg {
    margin-top: 25px;
    text-align: center;
    display: block;
}

.cashier__section__extra-info {
    position: absolute;
    top: 7px;
    right: 1em;

    img {
        width: 60px;
        height: 30px;
        
         @media #{$small-only} {
            width: 55px;
         }

    }

    @media #{$small-only} {
        text-align: center;
        margin: 0 auto;
        right: 10px;
        top: 17px;
    }
}

.cashier__deposit__offer {
        
        @media #{$small-only} {
            margin-top: 10px;
            font-size: 16px;
        }
    }

.cashier__section__extra-info__lock {
    padding-left: 1em;

    img {
        width: 25px;
    }
}

.cashier__secure-icons {
    @media #{$small-only} {
      top: 20px;
    }
}

.cashier__section__summary {
    @media #{$small-only} {
        @include grid-column($collapse: true, $columns: 12);

        padding: 0.5em;
        text-align: center;
    }

    @media #{$medium-up} {
        @include grid-column($collapse: true, $columns: 6);

        padding: 0.5em;
        text-align: center;
    }
}

.cashier__section__summary--alone {
    text-align: center;

    @media #{$medium-up} {
        @include grid-column($collapse: true, $columns: 12);

        padding: 0.5em;
    }
}

.cashier__section__summary__title {
    background-color: $cashier__alice-blue;
}

.cashier__section__summary__amount {
    font-weight: bold;
    border: 1px solid $cashier__alice-blue;
}

.cashier__section__description {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.cashier__section__form {
    label, div, p {
        text-align: left;
    }
}

.cashier__section__table {
    @include grid-column(12);

    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid darken($cashier__alice-blue, 10%);

    tr:nth-of-type(even) {
        background-color: $cashier__alice-blue;
    }
}

.cashier__ftd_form__buttons {
    @media #{$medium-up} {
        display: none;
    }
}

.cashier__bonus-choices {
    @media #{$small-only} {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.cashier__grid__cell {
    position: relative;
    float: left;
    width: 100%;
    height: 72px; 
    background: linear-gradient(180deg, #EAF7FF 0%, #D1EDFF 100%);
    box-shadow: 0 1px 0 0 #B1B4B6;
    border-radius: 4px;
    margin-top: 10px;
    
    .cashier__grid__cell__content {
        background-image: url("../_global-library/images/cashier/present.svg"), url("../_global-library/images/cashier/arrow-right.svg");
        background-position: 0.5em center, 96% center;
        background-repeat: no-repeat;
        margin-top: 16px;
        cursor: pointer;
        text-align: left;
        font-size: 15px;
        color: $cashier__prussian-blue;


        &.inactive {
            cursor: default;
            opacity: 0.5;

            &:hover {}
        }

        &:first-line {
            font-weight: bold;
        }

        @media #{$small-only} {
            padding: 0.5em 2em 0.5em 2.8em;
            margin-top: 10px;
        }

        @media #{$medium-up} {
            padding: 0.5em 2em 0.5em 3em;
        }
    }

    .tcs-deposit {
        padding: 0.3em 2em 0.5em 5.5em;
        font-size: 11px;
        line-height: 18px;
        letter-spacing: normal;
        color: $cashier__tundora;

        @media #{$small-only} {
            padding: 0.3em 3.5em 0.5em 5.3em;
            margin-bottom: 15px;
        }

        @media #{$medium-up} {
            padding: 0.3em 3.5em 1.5em 5.5em;
        }
    }
    
    a:hover {
        color: #0078a0;
    }
}


.cashier__grid__cell--small {
    float: left;
    position: relative;
    height: 50px;
    margin-bottom: 1em;

    @include grid-column(4);

    @media #{$small-only} {
        padding-left: 0.2em;
        padding-right: 0.2em;
    }

    .cashier__grid__cell__content {
        border-radius: 3px;
        height: 100%;
        width: 100%;

        @include vert-align(50px);

        background-color: lighten(#8db7fd, 0%);
        border: 1px solid darken(#8db7fd, 1%);
        text-align: center;
        cursor: pointer;
        color: $white;
        font-weight: bold;

        &:hover {
            background-color: darken(#8db7fd, 3%);
        }


        &.active-state--main {
            border: darken($cashier__prussian-blue, 10%) 1px solid;
            background-color: $cashier__prussian-blue;
            color: $white;
        }

        &.inactive {
            cursor: default;
            opacity: 0.4;
        }
    }
}

.cashier__free-amount {
    @include grid-column(12);
    padding-left: 0;

    > div {
        > label {
            font-family: "Helvetica", "Arial", sans-serif;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
            color: #7A7C7E !important;
            text-align: left;
            text-transform: unset;
            margin-top: 30px;

            @media #{$small-only} {
                font-size: 16px;
                margin-top: 10px;
            }
        }

        > input {
            float: left;
            width: 205px;
            height: 51px;
            margin: 0px;
        }
    }
}

.cashier__deposit-amount__amount-text {
    @include grid-column(12);

    > h1, h2, h3, h5 {
        float: left;
        font-size: 1em;
    }

    > span {
        float: left;
        font-size: 1.5em;
        padding-left: 0.5em;
    }
}

.cashier__deposit-amount__range {
    @include grid-column(12);

    text-align: center;
    margin-bottom: 0.5em;

    > ul {
        background-color: lighten($grey, 10%);

        @include block-grid(3);

        margin: 0px;

        li {
            font-size: 0.8em;
            padding-bottom: 0.5em;
            padding-top: 0.5em;
        }

        li:first-child {
            width: 15%;
            text-align: right;
        }

        li:nth-child(2) {
            width: 70%;

            input {
                width: 100%;
            }
        }

        li:nth-child(3) {
            width: 15%;
            text-align: left;
        }
    }
}

.cashier__deposit-amount__free-amount {
    @include grid-column(12);
}

.cashier__ftd {
    margin-top: 1em;

    > h1 {
        @include grid-column(12);

        font-size: 1.5em;
    }
}

.cashier__ftd__nav {
    margin-bottom: 1em;

    .cashier__ftd__nav__payment {
        float: left;

        @include grid-column(12);

        margin-bottom: 0.5em;

        > div {
            background-color: $grey;
            border: 2px darken($grey, 10%) solid;
            text-align: center;
            cursor: pointer;
            padding: 1em 0.5em 1em 0.5em;

            &:hover {
                background-color: lighten($grey, 10%);
            }
        }
    }

    .cashier__ftd__nav__msg {
        @include grid-column(12);

        margin-bottom: 0.5em;

        &:nth-child(3) {
            margin-bottom: 1em;
        }
    }
}

.cashier__no-bonus, .cashier__promo-code {
    float: left;
    text-align: left;
    @include grid-column(12);
    padding-left: 0;
}

.cashier__no-bonus {

    @media #{$small-only} {
        padding-left: 10px;
        padding-right: 10px;
    }
    .cashier__grid__cell {
        margin-bottom: 40px;
        background: linear-gradient(180deg, #EAF7FF 0%, #D1EDFF 100%);
        box-shadow: 0 1px 0 0 #93B9E1;

        @media #{$small-only} {
            padding-top: 12px;
        }

        .cashier__grid__cell__content {
            background-image: url("../_global-library/images/cashier/wallet.svg"), url("../_global-library/images/cashier/arrow-right.svg");
            color: #001C4A;
                
                @media #{$small-only} {
                    margin-top: 7px;
                }
                
        }
    }

    input {
        margin-top: 1em;
    }

    label {
        padding-top: 0.5em;
    }
}

.cashier__promo-code {
    margin-top: 20px;
    > input[type=text] {
        width: 205px !important;
        height: 51px;
        float: left;
        font-size: 0.8em;
        text-align: center;
    }

    label {
        float: left;
        padding-top: 0.5em;
    }
}

.cashier__radio-selection {
    width: 100%;
    float: left;
    .cashier__radio {
        margin-left: 5px;
        margin-top: -19px;
    }
    span { 
        display: none;
    }
    label {
        position: relative;
        margin-right: 15px;
        line-height: 32px;
        font-size: 15px;
        color: #46484A;
        @media #{$small-only} {
            margin-right: 6px;
        }
        & input:checked {
            &:after {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #1C4275;
                position: absolute;
                top: 2px;
                left: 2px;
            }
        }
    }
    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent !important;
        border-radius: 100% !important;
        border: 2px solid #CCCCCC !important;
        display: inline-block;
        min-width: 18px !important;
        min-height: 18px !important;
        transition: 0.2s all linear;
        outline: none;
        margin-right: 5px;
        position: relative;
        top: 19px;
        &:checked {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent !important;
            border-radius: 100% !important;
            border: 2px solid #CCCCCC !important;
            display: inline-block;
            min-width: 18px !important;
            min-height: 18px !important;
            transition: 0.2s all linear;
            outline: none;
            //margin-right: 5px;
            position: relative;
            top: 19px;
        }
        &:checked ~ label.radio-label {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 14px;
                left: 0;
                width: 250px;
                height: 250px;
                border-radius: 50%;
                border:5px solid $white;
                display: block;
            }
        }
    }
}

.cashier__promo__input {
    width: 205px !important;
    height: 51px !important;
    margin-top: 20px !important;
    margin-left: 5px !important;
    border: 1px solid #9B9B9B !important;
    background-color: #FFFFFF !important;
    box-shadow: 0 -1px 0 0 #9B9B9A !important;

    @media #{$small-only} {
        width: 150px !important;
        margin-top: 10px !important;
    }

     @media #{$medium-only} {
        margin-top: 10px !important;
        margin-left: 7px !important;
    }
}

.cashier__cvn {
    @include grid-column(12);
    padding-left: 0;

    input {
        height: 51px;   
        width: 100px;   
        border: 1px solid #9B9B9B;  
        background-color: #FFFFFF;
        box-shadow: 0 -1px 0 0 #9B9B9A;
    }

    img {
        margin-top: 10px;
        margin-left: 15px;
    }

    span {
        height: 17px;   
        width: 233px;   
        color: #7A7C7E; 
        font-family: Helvetica; 
        font-size: 14px;    
        line-height: 17px;
    }
}

.cashier__cta {
    @include grid-column(12, $collapse: true);

    margin-top: 30px;
    border-radius: 3px;

    @media #{$small-only} {
        margin-top: 30px;
    }

    button {
        text-align: center;

        &.cashier__cta__primary {
            border-radius: 3px !important;

            @include grid-column(12);

            float: right;

            @include button($button-med, $cashier__apple, false, false, false, false);

            margin-bottom: 0em;
        }

        &.cashier__cta__secondary {
            border-radius: 3px !important;

            @include grid-column(12);

            @include button($button-med, $cashier__mercury, false, false, false, false);

            float: left;
            margin-top: 1em;
        }

        &.cashier__cta__secondary--right {
            border-radius: 3px;

            @include button($button-med, $pale-sky, false, false, false, false);

            float: right;
        }
    }

    .add-method {
        width: 329px;
        background-color: #E2E6EB;
        box-shadow: 0 1px 0 0 #BEC6CE;
        color: #0F2557;
        font-weight: bold;

        &:hover {
            background-color: #E2E6EB;
            color: #0F2557;
        }

        &:focus {
            outline: 0;
        }
            @media #{$medium-only} {
                width: 180px;
                font-size: 14px;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 15px;
                padding-bottom: 15px;
            }

            @media #{$small-only} {
                width: 150px;
                font-size: 14px;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 15px;
                padding-bottom: 15px;
            }
    }

    .cashier__cta__extra-info {
        margin-top: 4px;

        @include grid-column(12, $collapse: true);

        border: 1px solid lighten($cashier__apple, 5%);
        padding: 0.1em;
        font-size: 1em;
        margin-bottom: 1em;
        text-align: center;
    }
}

.cashier__cta--alone {
    border-radius: 3px;
    text-align: center;

    @extend .cashier__cta;

    @media #{$small-only} {
        @include grid-column(12, $center: true, $collapse: true);
    }

    @media #{$medium-up} {
        @include grid-column(6, $center: true, $collapse: true);
    }

    button {
        &.cashier__cta__secondary {
            border-radius: 3px;

            @media #{$medium-up} {
                @include grid-column(12, $collapse: true);

                float: left;
            }
        }

        &.cashier__cta__primary {
            border-radius: 3px;

            @media #{$medium-up} {
                @include grid-column(12, $collapse: true);

                float: right;
            }
        }
    }
}

.cashier__cta--alone--right {
    border-radius: 3px;

    @extend .cashier__cta--alone;

    float: right;
}

//---------------------------
//specific styles for welcome page
//---------------------------
.cashier__cta__wrapper {
    button {
        margin-bottom: $site-margin*4;
        text-align: center;

        @media #{$medium-only} {
            margin-bottom: 2rem;
        }

        @media #{$small-only} {
            margin-bottom: 1rem;
        }

        &.cashier__cta__primary {
            border-radius: 3px !important;

            @include grid-column(12);

            float: right;

            @include button($button-med, $cashier__apple, false, false, false, false);

            margin-bottom: 0em;
        }
    }

    .cashier__next {
        height: 50px;
        width: 205px;
        border: 1px solid #43AC6A;
        float: left;
        margin-left: 5px;
        
        @media #{$small-only} {
            width: 145px;
            margin-left: 5px;
        }

        @media #{$medium-only} {
            margin-left: 5px;
        }

    }
    .secondary {
        height: 50px;
        width: 140px;
        float: left;
        background-color: transparent;
        border: 1px solid #979797;
        border-radius: 4px;

        @media #{$small-only} {
            width: 95%;
            margin-left: 10px;
        }

         @media #{$medium-only} {
            width: 140px;
            margin-left: 5px;
        }
    }
}

.cashier__cta-deposit {
    width: 205px;
    margin-left: 5px;

    @media #{$small-only} {
            width: 95%;
            margin-left: 10px;
        }

         @media #{$medium-only} {
            width: 180px;
            margin-left: 5px;
        }
}

.cta-deposit {
    float: left;
    margin-top: 30px;
}

.cashier__enterpromo-field {
    width: auto;
    float: left;

     @media #{$small-only} {
        width: auto;
        float:left;
     }

      @media #{$medium-only} {
        width: auto;
        float:left;
    }
}


.cashier__enterpromo__cta {
    width: auto;
    float: left;

    @media #{$small-only} {
        width: auto;
        float:left;
    }

     @media #{$medium-only} {
        width: auto;
        float:left;
    }
}

.cashier__validation {
    width: 130px;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 4px;
    background-image: none;
    background-image: none !important;
    background-color: #43AC6A !important;
    border-color: #368a55 !important;
    text-transform: unset !important;
    font-size: 16px !important;
    font-weight: bold;

    @media #{$small-only} {
        float: left;
        width: 123px;
        margin-left: 5px !important;
        margin-top: 9px;
    }

    @media #{$medium-only} {
        margin-top: 9px;
        margin-left: 5px;
    }

    &:hover {
        background-color: #4e4e4e;
    }

}

.cashier-cancel-link {
    float: right;
    margin-top: $site-margin;
    color: darken($cashier__alice-blue, 15%);
    text-decoration: underline;
}

#cbUkgcAcknowledge {
    transform: scale(1.5, 1.5);
    margin-left: 4px;
    margin-bottom: 1px;
    display: inline;
}

div.cashier__cta > div > label {
    display: inline;
    color: black;
    line-height: 21px;
}

.cbUkgcAcknowledge-readmore {
    text-decoration: underline;
}

.cashier fieldset {
    clear: both;
}

.cashier .registercta {
    margin: 0 auto;
    float: none;
    width: 50%;
}

.cashier .registercta a {
    color: white;
}

// post reg welcome page only - cashier layout fixes

.welcome-page .cashier__section {
    width: 76%;
}

@media only screen and (max-width: 40em) {
    .welcome-page .cashier__section {
        width: 100%;
    }
}

.welcome-page .cashier__cta {
    width: 74%;
    float: right;
}

@media only screen and (max-width: 40em) {
    .welcome-page .cashier__cta {
        width: 100%;
        float: right;
    }
}

.cashier-balance-bar {
    font-family: $font-general;
    display: block;
    width: 100%;
    text-align: right;
    clear: both;
    color: $cashier__blue-zodiac;
    background-color: #1C4275;
    margin-bottom: 0px;
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
    padding: 0.4rem;

    span {
        position: relative;
        background-color: #ECF4FF;
        padding: 2px;
        color: #1C4275;
        border-radius: 4px;
        font-size: 0.9em;
        padding-left: 6px;
        padding-right: 6px;
        margin-right: 2px;

        a {
            color: #008CBA;
            text-decoration: underline;
        }
    }

    .cashier-title-left {
        float: left;
        background-color: transparent;
        color: $white;
        font-size: 15px;
        text-transform: uppercase;
    }

    .limit-status {
        color: red;

        a {
            color: red;
        }

        span {
            margin-right: -6px;
            background: transparent;
        }
    }
}

.cashier__footer {
    @include grid-row;
    background: #1C4275;
    border-radius: 0px 0px 3px 3px;

    @media #{$small-only} {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.cashier__footer__inner {
    @include grid-column($columns: 12, $collapse: true);

    text-align: center;
}

.cashier__footer__links {
    @include grid-column($columns: 12, $collapse: true, $center: true);

    @media #{$medium-up} {
        @include grid-column($columns: 8, $collapse: true, $center: true);
    }

    display: inline-block;
    margin-bottom: 20px;
}

.cashier__footer__link {
    display: inline;
}

.cashier__footer__links li + li:before {
    content: " | ";
    color: #99BEE4;
    padding: 0 3px;
}

.cashier__footer__link a {
    text-transform: uppercase;
    color: #99BEE4;
    font-size: 0.7em;
    font-weight: bold;
}

@media only screen and (max-device-width: 350px) {
    .middle-content__box.welcome-page {
        padding: 0;
    }

    .welcome-content .cashierholder .cashier__secure-payment {
        display: none;
    }

    .cashier__footer__link a {
        text-transform: uppercase;
        color: #99BEE4;
        font-size: 0.6em;
    }
}

.promo-is-valid {
    background-color: #35bf75 !important;
}

.promo-is-invalid {
    background-color: #EC9198 !important;
}

.responsible-limits-box {
    h6 {
        color: #333;
    }

    a {
        color: #333;
    }
}

.limits-setup-form {
    @include grid-row;

    .row {
        padding-left: 0.7rem;
        padding-right: 0.7em;
    }

    .enter-amount {
        padding-left: 0;
        padding-right: 0;
    }
}

.limits-setup-form > div > input {
    input[type="text"] {
        @include grid-column(12);

        @media #{$medium-up} {
            @include grid-column(4);
        }

        padding-left: 0;
        padding-right: 0;
    }
}

.limits-password {
    @include grid-column(12, $collapse: true);

    @media #{$medium-up} {
        @include grid-column(4, $collapse: true);
    }

    @include clearfix;

    input {
        height: 44px;
        margin-right: 8px;

        @include clearfix;
    }
}

.limits-password-buttons {
    margin-right: 10px;
}

a .gaming-logo {
    @media #{$small-up} {
        @include grid-column(4);
    }

    @media #{$large-up} {
        @include grid-column(4);
    }
}

//Account Verification
.account-verification {
    .cashier__section__title {
        font-size: 0.9em;
        margin-bottom: 1em;
        padding-left: $site-margin;
        color: $black;
        text-align: left;

        @media #{$small-only} {
            padding-left: 5px;
            font-size: 0.8em;
            margin-top: 20px;
        }
    }

    .cashier__section__description {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    p {
        padding-left: 5px;
        padding-right: 5px;
        a.help-link {
                color: #1C4275; 
                font-weight: bold;
            }
    }



    .cashier__section-main {
        background-color: $white;
        float: left;
        padding: 15px 36px;
        width: 100%;

        @media #{$small-only} {
            padding: 37px 10px;
        }
        
        // Upload documents screen
        .cashier__section-upload {
            width: 100%;

                  .upload-secure {
                    float: right;
                    img {
                        float: right;
                        width: 35px;
                        margin-top: 5px;
                        margin-right: 20px;

                        @media #{$small-only} {
                            margin-top: 10px;
                        }
                    }
                }

            .cashier__section-upload-files {
                @include grid-column(12);     

                p {
                    font-size: 15px;
                    line-height: 22px;

                    @media #{$small-only} {
                        font-size: 15px;
                    }
                }

                @media #{$small-only} {
                    @include grid-column(12);
                }
            }

            .cashier__section-cta {
                @include grid-column(4);
                float: left;
                margin: 0 auto;
                padding-right: 0;
                width: 90% !important;

                @media #{$medium-only} {
                }

                @media #{$small-only} {
                    @include grid-column(12);
                    width: 100% !important;
                }

                label {
                    background-color: #1C4275;
                    float: left;
                    width: 150px;
                    padding: 18px;
                    font-size: 15px;
                    border-radius: 3px;
                    color: white;
                    text-align: center;


                    @media #{$small-only} {
                        width: 100%;
                    }

                    @media #{$medium-only} {
                        width: 150px;
                    }
                }

            } // cashier CTA choose file end

            .uploaded-files-success {
                width: 585px;
                height: 50px;
                float: left;
                border: 1px solid $cashier__moss-green;
                border-radius: 3px;
                margin-bottom: 5px;

                @media #{$small-only} {
                    width: 100%;
                }

                @media #{$medium-only} {
                    width: 100%;
                }

                img {
                    float: left;
                    width: 40px;
                    margin: 4px;
                }

                p {
                    padding: 14px;
                    color: $cashier__chateau-green;
                    font-size: 13px;
                    font-weight: bold;

                          span {

                        @media #{$small-only} {
                             max-width: 170px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: inline-block;
                        }
                       
                    }
                }

                .uploaded_files-delete {
                    float: right;
                    width: 10px;
                    margin-right: 10px;
                    margin-top: 5px;
                    cursor: pointer;
                }
            }

              .uploaded-files-error {
                width: 585px;
                height: 50px;
                float: left;
                border: 1px solid #F0ABA5;
                border-radius: 3px;
                margin-bottom: 5px;

                 @media #{$small-only} {
                    width: 100%;
                }

                 @media #{$medium-only} {
                    width: 100%;
                }

                img {
                    float: left;
                    width: 40px;
                    margin: 4px;
                }

                p {
                    padding: 14px;
                    color: #F0ABA5;
                    font-size: 13px;
                    font-weight: bold;
                }

                .uploaded_files-delete {
                    float: right;
                    width: 10px;
                    margin-right: 10px;
                    margin-top: 5px;
                    cursor: pointer;
                }
            }


    } //upload end
    

        .cashier__section-notes {
        width: 100%;
        float: left;
        margin-top: 10%;
        font-size: 13px;
        color: $cashier__tundora;
        padding: 0 3px;

        @media #{$small-only} {
            padding: 0 0 0 20px;
        }

        .notes-border {
            border-top: 1px dashed $cashier__catskill-white;
            margin-bottom: 20px;
        }

            ul {
                font-size: 13px;
                margin-left: 0 !important;

                li {
                    list-style: disc !important;
                }
            }
    }
    // Upload documents screen END

    // Loading screen
    .cashier__section-loading {
        margin-left: auto;
        margin-right: auto;
        float: none;
        text-align: center;
        padding: 25% 0;

        .loading-icon {
            width: 100%;

            img {
                width: 70px;
                padding-bottom: 10px;
            }
        }

        .sending-message {
                color: $cashier__chaltans-blue;
            }
    } // Loading screen END


    // Upload status screen
    .cashier__section-status {
        margin-left: auto;
        margin-right: auto;
        float: none;
        text-align: center;
        padding: 15% 0;
           
           // Successful screen
          .success-icon {
            width: 100%;

            img {
                width: 70px;
                padding-bottom: 10px;
            }
        }

        .success-heading {
            font-size: 20px;
            font-weight: bold;
            color: $cashier__chateau-green;
        }

        .success-message {
            font-size: 15px;
        }
        // Successful screen END

        // Failed screen
        .failed-icon {
            width: 100%;

            img {
                width: 70px;
                padding-bottom: 10px;
            }
        }

        .failed-heading {
            font-size: 20px;
            font-weight: bold;
            color: $cashier__mandy;
        }

        .failed-message {
            font-size: 15px;
            color: $cashier__tundora;
            text-decoration: underline;
        }
        // Failed screen END

    }
    // Upload status screen END

} // cashier__section-main END


    // Support message
    .cashier__support-team {
        float: right;
        padding-top: 20px;
        color: $cashier__tundora !important;
        

        p {
            font-size: 13px !important;

            a.help-link {
                color: #1C4275; 
                font-weight: bold;
            }
        }

        @media #{$small-only} {
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    // Support message END
} 
// Account Verification END

a.cashier__main-nav__account-verification {
    @media #{$medium-up} {
        padding: 0.5em 26px 0.5em 35px !important;
    }
}



.account-verify-modal {
    //position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5);
    position:fixed;
}

.account-verify-popup {
   position:absolute;
   top:50%;
   left:50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   background-color: $white;
   border-radius:4px;
   height: 367px;  
   width: 500px;
   z-index:3;
   text-align:center;
   position:fixed;

    @media #{$medium-only} {
        height:450px;
        width:100%;
        max-width:330px;
        margin:0 auto;
        top:25%;
        left:50%;
        transform:translate(-50%,-50%);
        position:fixed;
        margin-top:126px;

    }
     @media #{$small-only} {
        height:450px;
        width:100%;
        max-width:330px;
        margin:0 auto;
        top:25%;
        left:50%;
        transform:translate(-50%,-50%);
        position:fixed;
        margin-top:126px;
    }
    @media only screen and (min-width: 320px) and ( max-width: 360px ){
        height:450px;
        width:100%;
        max-width:330px;
        margin:0 auto;
        top:25%;
        left:50%;
        transform:translate(-50%,-50%);
        position:fixed;
        margin-top:126px;
    }

   .title {
        color: $cashier__prussian-blue;
        font-family: $font-general; 
        font-size: 22px;    
        font-weight: bold;  
        line-height: 26px;
   }

   .copy {
        color: $cashier__tundora;  
        font-family: $font-general; 
        font-size: 15px;    
        line-height: 24px;
        padding:0 20px;
   }

   img {
        margin-top:37px;
        margin-bottom:26px;
   }

    .btn-holder{
        height:50px;
        margin-bottom:17px;
        
        @media #{$medium-only} {
            height:auto;
            margin-bottom:10px;
        }
         @media #{$small-only} {
            height:auto;
            margin-bottom:10px;
        }
        @media only screen and (min-width: 320px) and ( max-width: 360px ){
            height:auto;
            margin-bottom:10px;
        }

           .btn-cancel {
                height: 51.36px;    
                width: 210px;   
                border-radius: 3px; 
                background-color: $cashier__mercury;
                float:right;
                position:absolute;
                right:34px;

                @media #{$medium-only} {

                    height: 55px;
                    width: 300px;
                    float:none;
                    position:relative;
                    right:auto;
                    margin:0 auto;
                    padding-top:18px;
                }
                 @media #{$small-only} {
                    height: 55px;
                    width: 300px;
                    float:none;
                    position:relative;
                    right:auto;
                    margin:0 auto;
                    padding-top:18px;
                }
                @media only screen and (min-width: 320px) and ( max-width: 360px ){
                    height: 55px;
                    width: 300px;
                    float:none;
                    position:relative;
                    right:auto;
                    margin:0 auto;
                    padding-top:18px;
                }

                &:hover {
                    cursor:pointer;
                }

                p {
                    color: #595959; 
                    font-family: $font-general; 
                    font-size: 14px;    
                    line-height: 17px;
                    margin-top:18px;

                    @media #{$medium-only} {
                        line-height:normal;
                        margin-top:auto;
                    }
                     @media #{$small-only} {
                        line-height:normal;
                        margin-top:auto;
                    }
                    @media only screen and (min-width: 320px) and ( max-width: 360px ){
                        line-height:normal;
                        margin-top:auto;
                    }
                }
           }

           .btn-continue {

            height: 51.36px;    
            width: 210px;   
            border-radius: 3px; 
            background-color: $cashier__chateau-green;
            margin-right:14px;
            float:left;
            position:absolute;
            left:32px;

            @media #{$medium-only} {
                height: 55px; 
                width: 300px;
                float:none;
                position:relative;
                left:auto;
                margin:0 auto;
                margin-bottom:10px;
                padding-top:15px;
            }
             @media #{$small-only} {
                height: 55px;
                width: 300px;
                float:none;
                position:relative;
                left:auto;
                margin:0 auto;
                margin-bottom:10px;
                padding-top:15px;
            }
            @media only screen and (min-width: 320px) and ( max-width: 360px ){
                height: 55px;
                width: 300px;
                float:none;
                position:relative;
                left:auto;
                margin:0 auto;
                margin-bottom:10px;
                padding-top:15px;
            }

            &:hover {
                cursor:pointer;
            }

                p {
                    color: $white; 
                    font-family: $font-general; 
                    font-size: 15px;    
                    font-weight: bold;  
                    line-height: 18px;
                    margin-top:17px;

                    @media #{$medium-only} {
                        line-height:normal;
                        margin-top:auto;
                    }
                     @media #{$small-only} {
                        line-height:normal;
                        margin-top:auto;
                    }
                    @media only screen and (min-width: 320px) and ( max-width: 360px ){
                        line-height:normal;
                        margin-top:auto;
                    }
                }
           }
    }


   .more-info {
    color: $cashier__prussian-blue; 
    font-family: $font-general; 
    font-size: 14px;    
    line-height: 17px;
    text-decoration:underline;
   }

}

//Stand-alone verification page
.verification {
      h3.sa_verify-title {
        font-family: $font-general;
        color: #000;
        font-size: rem-calc(20px);
        margin: 0;
        text-transform: uppercase !important;
        padding: 5px;
        padding-top: 20px;

        @media #{$small-only} {
            margin-top: 50px;
            padding-left: 10px;
        }

        @media #{$medium-only} {
            margin-top: 50px;
            padding-left: 10px;
        }
    }

    .cashier__section-upload {
        h2 {
          font-size: 20px; 
          text-transform: uppercase; 
          padding: 20px;
          color: $cashier__prussian-blue !important;
          float: left;
          padding-right: 0;

          @media #{$small-only} {
            font-size: 15px;
            text-align: center;
            letter-spacing: 0 !important;
          }
        }

        .cashier__section-upload-files {
            p {
                color: $cashier__tundora !important;
            }

            a {
                color: #1C4275 !important;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
            }
            .find-out-more {
                padding-top: 5px;
                @media #{$small-only} {
                    width: 100%;
                }
            }

            .secure-info {
                margin-top: 30px;

                ul {
                    font-family: $font-general;
                    color: $cashier__tundora !important;
                    font-size: 15px;
                    padding-left: rem-calc(55px);

                    @media #{$small-only} {
                        padding-left: 0;
                    }

                    li {
                        list-style: disc !important;
                    }
                }
            }
        }
        
    }

    .cashier__section__description {
      @media #{$small-only} {
            margin-left: 5px;
        }
    }

    .custom-file-input::before {
            float: right;
            
            @media #{$medium-only} {
                width: 150px !important;
            }
    }

    .cashier__section-cta {
        width: 90% !important;

        @media #{$small-only} {
            width: 100% !important;
        }

            .send-file {
                float: right;
                color: $white;
                width: 150px;
                padding: 22px;
                border-radius: 3px !important;
                margin-top: 20px;
                background-color: $cashier__chateau-green;
                @media #{$medium-only} {
                    width: 150px;
                }
                @media #{$small-only} {
                    width: 100%;
                    margin: 0 auto;
                    margin-top: 20px;
                 }
            }

            .disabled {
                background-color: $cashier__mercury;
            }
    }

    .cashier__section-upload .uploaded-files-success {
        width: 90% !important;

        @media #{$small-only} {
            width: 100% !important;
        }
    }

    .cashier__section-upload .uploaded-files-error {
        width: 90% !important;

        @media #{$small-only} {
            width: 100% !important;
        }
    }

}

#verification {
    .middle-content__box h1 {
        padding-top: 0;
    }
    
    .cashier {
        background-color: transparent;
    }

    article {
        background-color: $white;
        h1 {
            font-size: 20px;
            text-transform: uppercase;
            color: $cashier__prussian-blue !important;
        }

        p {
            color: $cashier__tundora !important;
            font-size: 15px;
        }
    }
}

//3Radical styling - not changing this one
.cashier__3Radical-cta {
    padding: 0;
    background: #E84C00;
    color: $white;
    font-size: 18px;
    font-weight: bold;
    width: auto;
    line-height: 2.4;
    min-height: 44px;
    margin: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-transform: uppercase;
    margin-top: 0;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;

    &:hover {
        background: #C84C00;
        text-decoration: none;
    }

    &:active, &:focus, &:visited {
        background: #FF4C00;
    }
}

//Cashier Widget header styling
.cashier__welcome-wrapper {
    width: 62.5rem !important;
    margin: 0 auto;

    @media #{$small-only} {
        width: 100% !important;
    }
    @media #{$medium-only} {
        width: 100% !important;
    }
    .cashier-widget {
        float: left;
        width:62.5rem !important;
        margin-bottom: 100px;

    @media #{$small-only} {
        width: 100% !important;
    }

    @media #{$medium-only} {
        width: 100% !important;
    }
       #welcome-cashier {
            text-align: center;
            margin-bottom: 25px;
            font-family: $cashier-welcome-font;
            font-size: $cashier-welcome-size;
            text-transform: uppercase;
            color: $cashier-widget-header;
        
            @media #{$small-only} {
                padding: 0 ($site-margin / 2);
                $site-margin:0.5em;
                font-size: 17px;
            }
        
        }

        .cashier-widget--header {
            img {
                float: right;

                @media #{$small-only} {
                    margin-right: 5px;
                }
                @media #{$medium-only} { 
                    margin-right: 5px;
                }
            }
        }

        .cashier-widget--header__text{
            width: 50%;
            line-height: 1em;
            text-align: left;
            display: inline-block;
            font-family: $cashier-welcome-font;
            font-size: 20px;
            text-transform: uppercase;
            color: $cashier-widget-header;
            
            @media #{$small-only} {
                padding: 0 ($site-margin / 2);
                //$site-margin:0.5em;
                font-size: 17px;
            }

        }
    }
}
