.ui-carousel-container {
    @include grid-column(12);

    padding: 0 !important;
    width: 100% !important;
    margin: $site-margin / 2;
    margin-bottom: 0;
    height: 150px;
    overflow: hidden !important;
    overflow-x: visible !important;
    -webkit-overflow-scrolling: touch !important;

    @media #{$medium-only} {
        width: 100% !important;
    }

    @media #{$large-only} {
        width: 99% !important;
    }

    ul {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow: initial !important;
        overflow-scrolling: touch;

        li {
            @include border-radius(4px);

            max-width: 140px;
            max-height: 104px;
            height: auto;
            margin-right: 5px !important;
            padding: 0;
            background: none;
            font-family: $category-carousel-font-family-bold;
            font-size: 0.82rem !important;
            display: inline-block;
            float: none !important;
        }
    }
}

/* Lobby Content Container Header Area */
.category-carousel-lobby-wrap__content-box__header {
    @include grid-column(12, $collapse: true);

    font-family: $category-carousel-h1;
    font-size: 14px;
    color: $category-carousel-main-highlight-color;
    background-color: $category-carousel-main-highlight-background-color;

    @media #{$medium-only} {
        padding-left: 0.3125rem;
        padding-right: 0.3125rem;
        width: 100%;
        float: left;
//        background: #FFF;
//        color: $category-carousel-main-highlight-color;
        font-size: 13px;
    }

    @media #{$small-only} {
        padding-left: 0.3125rem;
        padding-right: 0.3125rem;
        width: 100%;
        float: left;
//        background: #FFF;
//        color: $category-carousel-main-highlight-color;
        font-size: 13px;
        padding:0px;
    }

    /* Lobby Content Container Header Area Title */
    .title {
        @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);

        display: inline-block;
       

        @media #{$medium-only} {
            height: auto;
        }

        // elements in header bar (with icon)
        &.hasicon {
            .title__icon {
                @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: left, $mcols: 1, $mcollapse: true, $mfloat: left, $lcols: 1, $lcollapse: true, $lfloat: left);

                max-width: 33px;
                min-width: 33px;

                #Desktop, #email_F-Copy, #email_F-Copy-2 {
                    fill: $main-highlight-color;
                }

                & > svg {
                    @media #{$large-up} {
                        display: inline-block;
                    }

                    @media #{$medium-only} {
                        display: none;
                    }

                    @media #{$small-only} {
                        display: none;
                    }
                }
            }

            // Text for in the header bar
            .title__text {
                @include foundation-breaks($scols: 6, $scollapse: true, $sfloat: left, $mcols: 6, $mcollapse: true, $mfloat: left, $lcols: 6, $lcollapse: true, $lfloat: left);

                &.messages-section {
                    @include foundation-breaks($scols: 5, $scollapse: true, $sfloat: left, $mcols: 3, $mcollapse: true, $mfloat: left, $lcols: 3, $lcollapse: true, $lfloat: left);
                }

                text-transform: uppercase;
                margin-left: $site-margin;
            }

            .title__link__arrow {
                @include foundation-breaks($scols: 2, $scollapse: true, $sfloat: right, $mcols: 2, $mcollapse: true, $mfloat: right, $lcols: 2, $lcollapse: true, $lfloat: right);

                font-size: 12px;
                padding-left: $site-margin;

                &:hover {
                    text-decoration: underline;
                }

                color: $main-highlight-color; 

                @media #{$large-up} {
                    color: $global-link-color;
                }
            }

            .content-holder__title__link {
                @include grid-column(4, $collapse: true, $float: right); 

                @media #{$small-only} {
                    @include grid-column(5, $collapse: false, $float: right);
                    font-size: 13px;
                }
                a{
                font-family: $category-carousel-title-link;
                font-size: 13px; 
                text-align: right;
                color: $category-carousel-view-all-link; 
                float: right;

                &:hover {
                    text-decoration: underline;
                    color: $category-carousel-view-all-link;
                    }
                }
            }

            .title__option-links {
                @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: right, $mcols: 1, $mcollapse: true, $mfloat: right, $lcols: 1, $lcollapse: true, $lfloat: right);

                text-align: right;
                padding-left: $site-margin;

                a {
                    color: #AFAFAF;
                    font-family: $body-font-regular;
                    font-size: 11px;

                    &:hover {
                        text-decoration: underline;
                    }

                    .title__link__arrow {
                        font-size: 16px;
                    }
                }
            }

            .title__message-inbox {
//                @include hide-for-large-up;

                width: 40px;
                float: right;
                text-align: right;

                .title__message-inbox__icon {
                    float: left;
                    width: 30px;
                    height: 20px;
                    background: url(../_images/balance-area/icon-message-inbox.svg) no-repeat 0 0;
                }

                .title__message-inbox__value {
                    background: #FF00AA;
                    position: absolute;
                    margin-top: -5px;
                    margin-left: -20px;
                    height: 20px;
                    width: 20px;
                    float: right;
                    border-radius: 20px;
                    text-align: center;
                    color: white;
                }
            }

            .title__option-link {
                @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: right, $mcols: 12, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: left);

                a {
                    font-size: 11px;
                    text-align: center;
                }
            }
        }

        // elements in header bar (without icon)
        .title__text {
            @include foundation-breaks($scols: 6, $scollapse: true, $sfloat: left, $mcols: 8, $mcollapse: true, $mfloat: left, $lcols: 8, $lcollapse: true, $lfloat: left);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* Lobby Content Container Header Area Link */
        .title__link {
            @include foundation-breaks($scols: 3, $scollapse: true, $sfloat: right, $mcols: 3, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: right);

            text-align: right;

            a {
                 color: $category-carousel-title-link;
                text-decoration: none;
                 color: #B1B1B1;

                &:hover {
                    text-decoration: underline;
                }

                .title__link__arrow {
                    font-size: 16px;
                }
            }
        }
    }

    .button.dropdown {
        float: right;
        font-size: 12px;
        font-family: $body-font-regular !important;
        padding: 0.2em;
        width: 113px;
        margin: 0;
        background-color: transparent;
        color: $global-link-color;

        &:focus {
            outline: 0;
        }
    }

    button.dropdown::after {
        border-color: $global-link-color transparent transparent transparent !important;
    }

    #drop1 > li > a {
        text-align: center;
    }
}

.category-carousel-holder-mobile {
    @include grid-column(12);

    background:$category-carousel-background;
    padding: 0;
    margin: 0;
    height: auto;

    .title-mobile {
        @include grid-column(12);

        background: $white;
        padding: ($site-margin / 3) ($site-margin / 2);
        margin: 0;
//        color: $nav-active-color;
        font-family: $body-font-bold;
        font-size: 13px;
        line-height: 1;

        .title-link {
            @include grid-column(4);

            font-size: 15px;
            text-align: right;
            float: right;
            text-transform: capitalize;
        }
    }
    
    .content-holder-mobile {
        @include grid-column(12);

        padding: $site-margin / 2;
        overflow: hidden;
        max-height: 150px;

        ul {
            @include grid-column(12);

            margin: 0;
            padding: 0;
            overflow: hidden;

            li {
                @include grid-column(12);

                @include border-radius(4px);

                max-width: 135px;
                max-height: 145px;
                height: auto;

                margin-right: $site-margin / 2;
                padding: 0;
                color: $white;
//                font-family: $mobile-font-bold;
            }

            &.bxslider-promo-carousel-s li {
                max-width: none !important;
                max-height: none !important;
            }
        }
    }
}