$notification-transparency:0.8;
$base: #111;
$info: #17a2b8;
$success: #28a745;
$alert: #dc3545;

.cma-notification--counter{    
    position: relative;
    width: 25px;
    height: 25px;
    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg) rotateZ(-90deg);
    }
    
    svg circle {
        stroke-dasharray: 113px;
        stroke-dashoffset: 0px;
        stroke-linecap: round;
        stroke-width: 2px;
        stroke: white;
        fill: none;
        animation: countdown 10s linear infinite forwards;
    }
    
    @keyframes countdown {
        from {
            stroke-dashoffset: 0px;
        }
        to {
            stroke-dashoffset: 113px;
        }
    }
    
    .countdown {
        position: relative;
        margin: auto;
        margin-top: 100px;
        height: 40px;
        width: 40px;
        text-align: center;
    }
    
    .countdown-number {
        color: #fff;
        line-height: 0.7rem;
        font-size: 1.5rem;
        position: absolute;
        top: 8px;
        left: 7px;
        // transform: translate(-50%, -50%);
    }
}
.cma-notification-container {
    z-index: 999998;
    width: 1px;
}
.cma-notification-container--mobile-upper{
    left: 2.5%;
    top: 2rem;
    position: fixed;
}
.cma-notification-container--upper-right {
    right: 0;
    top: 6%;
    
    @media #{$medium-only}{    
        right: 0;
        top: 6%;
    }
    
    @media #{$large-up}{    
        right: 0;
        top: 7%;
    }
    @media only screen and (min-width: 1441px)  {
        right: 0;
        top: 7%;
    }
    
    position: absolute;
    z-index: 999998;
    display: flex;
    flex-direction: column-reverse;
    
}


.cma-notification-container--lower-left {
    left: 5%;
    bottom: 0.25rem;
    top: initial;
    position: absolute;
    z-index: 999998;
    display: none;
    @media only screen and (min-width: 1441px)  {
        left: 0%;
        bottom: 0.25rem;
    }
}

@keyframes slideOutLeft {
    0%   { left: 0; }
    100% { left: -500000%; }
}
@keyframes slideOutRight {
    0%   { right: 0; }
    100% { right: -500000%; }
}

.cma-notification {
    font-family: 'proxima_nova_rgregular';
    padding: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 95vw;
    z-index: 999999;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: left;
    position: relative;
    font-size: 0.75rem;
    clear: both;
    overflow: hidden;
    background: rgba($base, $notification-transparency);
    color: #fff;
    transform: translate(-100%, 0);
    //border-radius: 0.5rem;
    transition: opacity 0.6s;
    @media #{$medium-only}{
        width: 50vw;
    }
    
    @media #{$large-up}{
        width: 30vw;
    }
    @media only screen and (min-width: 1441px)  {
        width: 20vw;
    }
    .cma-notification--logo{
        width: 25%;
        display: inline-block;
    }
    .cma-notification--mesage{
        width: 65%;
        display: inline-block; 
        font-weight: bold;
    }
    .cma-notification--close{
        width: 25px;
        height: 25px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .cma-notification--controls{
        text-align: right;
        width: 100%;
        color: #ccc;
    }
    .notification--expandable{
        font-size: .7rem;
        .bx-pager{
            text-align: center;
            .bx-pager-item{
                display: inline-block;
                width: 30px;
                text-align: center;
                margin-top: 10px;
                a.bx-pager-link{
                    background-color: #555;
                    width: 10px;
                    height: 10px;
                    display: block;
                    border-radius: 100%;
                    margin: 0 auto;
                    color: rgba(0,0,0, 0);
                    &.active{
                        background-color: #eee;
                    }
                }
            }
        }
    }
    // .cma-notification--expandable{
    //     text-align: left;
    //     margin-top: 0.25rem;
    //     font-size: 0.7rem;
    //     color: $white !important;    
    //     border-top: 1px solid #fff;
    //     .row{
    //         padding-bottom: 0px;
    //         margin-bottom: 0px;
    //     }
    //     .bx-pager{
    //         text-align: center;
    //         display: block;
    //     }
    //     .bx-pager-item{
    //         display: inline-block;
    //     }
    //     .bx-wrapper .bx-pager.bx-default-pager a {
    //         text-indent: -9999px;
    //         width: 12px !important;
    //         height: 12px !important;
    //         margin: 0 4px 0 5px;
    //         outline: 0;
    //         display: block;
    //         -moz-border-radius: 12px !important;
    //         -webkit-border-radius: 12px !important;
    //         border-radius: 12px !important;
            
    //     }
    //     .bx-wrapper{
    //         max-height: 200px !important;
    //         padding-bottom:0;
    //         margin-bottom:0.5rem;
    //         margin-top:0.5rem;
    //         .bx-pager-link{
    //             color: $white;
    //             background: $white;
    //         }
    //         .bx-pager{
    //             margin-bottom: 10px;
    //         }
    //         .bx-pager-item:first-of-type:last-of-type { 
    //             display: none;
    //         }
    //     }
    //     .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a.active{
    //         color: #999;
    //         background: #999 !important;
    //     }
    //     .small-7{
    //         text-align: right;
    //     }
    // }
    .notification--expand-control{
        text-align: right;
        padding-bottom: 0.25rem;
    }
    
    .cma-notification--logo {
        img {
            width: 95%;
        }
    }
    .small-2.columns.cma-notification--close {
        margin-top: -30px;
    }
}

.cma-notification--base {
    background-color: rgba($base, $notification-transparency);
    color: $white;
}

.notification--alert {
    background-color: rgba($alert, $notification-transparency);
    color: $white;
}

.notification--success {
    background-color: rgba($success, $notification-transparency);
    color: $white;
}

.notification--info {
    background-color: rgba($info, $notification-transparency);
    color: $white;
}

.notification--close-btn {
    font-size: 1.5rem;
    line-height: 1.2rem;
    cursor: pointer;
    transition: 0.5s;
}

.ui-game-ifr-iframe-wrapper {
    .cma-notification-container--upper-right {
        right: 0;
        top: 8%;
    }
    .cma-notification--close-icon{
        left: -3px;
        position: relative;
        @media #{$medium-only}{
            left: 1px;
        }
        @media #{$large-up}{
            top: -20px;
            left: -2px;
        }
        @media only screen and (min-width: 1441px)  {
            left: 12px;
        }
        
    }
}