@font-face {
     font-family: 'proxima_nova_rgregular';
     src: url("../_fonts/proxima-nova/proximanova-regular-webfont.eot");
     src: url("../_fonts/proxima-nova/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../_fonts/proxima-nova/proximanova-regular-webfont.woff2") format("woff2"), url("../_fonts/proxima-nova/proximanova-regular-webfont.woff") format("woff"), url("../_fonts/proxima-nova/proximanova-regular-webfont.ttf") format("truetype"), url("../_fonts/proxima-nova/proximanova-regular-webfont.svg#intro_bold_capsregular") format("svg");
     font-weight: normal;
     font-style: normal;
}

.cookie-policy {
     font-family: 'proxima_nova_rgregular';
     background: $cookie-block-bg;
     padding: 1rem;
     display: none;
     align-items: baseline;
     box-shadow: 0 8px 6px -10px black;
     

     &__message {
          margin: 0 auto;
          color: $cookie-message-color;
          float: left;
          width: 80%;

          a {
               color: $cookie-link-color;
               text-decoration: underline;
          }
          @media  screen and ( max-width: 1024px ) {
               width: 100%;
               margin-bottom: 1em;
               float: none;
               text-align: center;
          }

          @media #{$small-only} {
               line-height: 1em;
          }
     }

     &__button {
          padding: 0.5em 1em;
          margin: 0;
          background: $cookie-cta-bg; //#F3E900
          color: $cookie-cta-color;
          border-radius: 4px;
          font-family: 'proxima_nova_rgregular';
          font-size: 15px;
          font-weight: bold;
          text-align: center;
          float: right;
          @media  screen and ( max-width: 1024px ) {
               display: block;
               margin: 0 auto;
               float: none;
          }

          &:hover {
               background-color: $cookie-cta-hover;
               color: $cookie-cta-color;
          }
     }
     
     &.active {
          display: flex;
          @media  screen and ( max-width: 1024px ) {
                display: block;
                margin-top:50px;
           }
     }

//Reset resize for tablet and mobile
     @media  screen and ( max-width: 1024px ) {
               .container {
                    width: 100%;
               }
          }
}


.responsible-gaming-modal {
 /*  display: none;  */
    position: fixed; /* Stay in place */
    z-index: 99999999999 !important; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5);

    .responsible-gaming-popup {
     
          position:absolute;
          top:50%;
          left:50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          background-color: #FAFAFC;
          border-radius:3px;
          height: 432px;
          width: 750px;
          z-index:3;
          text-align:center;
          box-shadow: 0 3px 0 0 rgba(0,0,0,0.35);
          
           @media #{$medium-only} {
             height:100%;
             width:100%;
             max-width:365px;
             margin:0 auto;
             top:50%;
             left:50%;
             position:fixed;
             overflow:auto;
             max-height:600px;
         }

          @media #{$small-only} {
             height:100%;
             width:100%;
             max-width:365px;
             margin:0 auto;
             top:50%;
             left:50%;
             position:fixed;
             overflow:auto;
             max-height:600px;
         }

         @media only screen and (min-width: 320px) and ( max-width: 360px ){
             height:100%;
             width:100%;
             max-width:365px;
             margin:0 auto;
             top:50%;
             left:50%;
             position:fixed;
             overflow:auto;
             max-height:600px;
         }

          .title {

               h1 {
                    /*height: 32.43px;
                    width: 750px;*/
                    margin-top:31px;
                    color: #230F65;
                    font-size: 25px;
                    font-weight: bold;
                    line-height: 25px;
                    text-align: center;
                    text-transform:uppercase;
               }
          }

          .copy {
               p {
                    color: #011558;         
                    font-size: 16px;    
                    line-height: 24px;
                    text-align:left;
                    margin-top:18px;
                    margin-left:44px;
                    margin-right:38px;
               }
          }

          .box-holder {

               margin-top:18px;

               .box-review {

                    display:inline-block;
                    height: 180px; 
                    width: 210px;  
                    border-radius: 2px; 
                    background-color: #FFFFFF;    
                    box-shadow: 0 2px 0 0 rgba(122,122,134,0.3);
                    margin-right:14px;
                    text-align: center;

                    @media #{$medium-only} {
                        width: 313px;
                         height:70px;
                         margin:20px 0 10px 0;
                   }

                    @media #{$small-only} {
                       width: 313px;
                         height:70px;
                         margin:20px 0 10px 0;
                   }

                   @media only screen and (min-width: 320px) and ( max-width: 360px ){
                         width: 313px;
                         height:70px;
                         margin:20px 0 10px 0;
                   }

                   img {
                    margin-top:30px;
                    margin-bottom:20px;

                    @media #{$medium-only} {
                              float: left;
                              margin:11px 0 0px 19px;
                              width:15%;
                        }

                         @media #{$small-only} {
                              float: left;
                              margin:11px 0 0px 19px;
                              width:15%;
                        }
                        
                        @media only screen and (min-width: 320px) and ( max-width: 360px ){
                              float: left;
                              margin:11px 0 0px 19px;
                              width:15%;
                        }
                   }

                    h3 {
                         line-height: 18px;
                         text-transform:uppercase;
                         font-weight: bold;  
                         font-size: 14px !important;   
                         color: #757575 !important;
                         margin-bottom:5px;  

                         @media #{$medium-only} {
                              margin:14px 12px 6px 0;
                              text-align:right;
                        }

                         @media #{$small-only} {
                              margin:14px 12px 6px 0;
                              text-align:right;
                        }
                        
                        @media only screen and (min-width: 320px) and ( max-width: 360px ){
                              margin:14px 12px 6px 0;
                              text-align:right;
                        }

                    }

                    p {
                         line-height: 20px;
                         font-size: 14px !important;   
                         color: #757575 !important;

                         @media #{$medium-only} {
                              margin-right:12px;
                              text-align:right;
                        }

                         @media #{$small-only} {
                              margin-right:12px;
                              text-align:right;
                        }
                        
                        @media only screen and (min-width: 320px) and ( max-width: 360px ){
                              margin-right:12px;
                              text-align:right;
                        }

                    }
               }

               .box-support {
                    display:inline-block;
                    height: 180px; 
                    width: 210px;  
                    border-radius: 2px; 
                    background-color: #FFFFFF;    
                    box-shadow: 0 2px 0 0 rgba(122,122,134,0.3);
                    margin-right:14px;
                    text-align: center;

                    @media #{$medium-only} {
                        width: 313px;
                         height:70px;
                         margin:0 0 10px 0;
                   }

                    @media #{$small-only} {
                       width: 313px;
                         height:70px;
                         margin:0 0 10px 0;
                   }
                   
                   @media only screen and (min-width: 320px) and ( max-width: 360px ){
                         width: 313px;
                         height:70px;
                         margin:0 0 10px 0;
                   }

                   img {
                    margin-top:30px;
                    margin-bottom:20px;

                    @media #{$medium-only} {
                              float: left;
                              margin:11px 0 0px 19px;
                              width:15%;
                        }

                         @media #{$small-only} {
                              float: left;
                              margin:11px 0 0px 19px;
                              width:15%;
                        }
                        
                        @media only screen and (min-width: 320px) and ( max-width: 360px ){
                              float: left;
                              margin:11px 0 0px 19px;
                              width:15%;
                        }
                   }

                    h3 {
                         line-height: 18px;
                         text-transform:uppercase;
                         font-weight: bold;  
                         font-size: 14px !important;   
                         color: #F08A24 !important;
                         margin-bottom:5px;

                         @media #{$medium-only} {
                              margin:14px 12px 6px 0;
                              text-align:right;
                        }

                         @media #{$small-only} {
                              margin:14px 12px 6px 0;
                              text-align:right;
                        }
                        
                        @media only screen and (min-width: 320px) and ( max-width: 360px ){
                              margin:14px 12px 6px 0;
                              text-align:right;
                        }     
                    }

                    p {
                         line-height: 20px;
                         font-size: 14px !important;   
                         color: #F08A24 !important;

                         @media #{$medium-only} {
                              margin-right:12px;
                              text-align:right;
                        }

                         @media #{$small-only} {
                              margin-right:12px;
                              text-align:right;
                        }
                        
                        @media only screen and (min-width: 320px) and ( max-width: 360px ){
                              margin-right:12px;
                              text-align:right;
                        }

                    }
               }

               .box-happy {
                    display:inline-block;
                    height: 180px; 
                    width: 260px;  
                    border-radius: 2px; 
                    background-color: #FFFFFF;    
                    box-shadow: 0 2px 0 0 rgba(122,122,134,0.3);
                    text-align: center;

                    @media #{$medium-only} {
                        width: 313px;
                         height:70px;
                         margin:0 0 20px 0;
                   }

                    @media #{$small-only} {
                       width: 313px;
                         height:70px;
                         margin:0 0 20px 0;
                   }
                   
                   @media only screen and (min-width: 320px) and ( max-width: 360px ){
                         width: 313px;
                         height:70px;
                         margin:0 0 20px 0;
                   }

                   img {
                    margin-top:30px;
                    margin-bottom:20px;

                    @media #{$medium-only} {
                              float: left;
                              margin:11px 0 0px 19px;
                              width:15%;
                        }

                         @media #{$small-only} {
                              float: left;
                              margin:11px 0 0px 19px;
                              width:15%;
                        }
                        
                        @media only screen and (min-width: 320px) and ( max-width: 360px ){
                              float: left;
                              margin:11px 0 0px 19px;
                              width:15%;
                        }
                   }
                    
                    h3 {
                         line-height: 18px;
                         text-transform:uppercase;
                         font-weight: bold;  
                         font-size: 14px !important;   
                         color: #009900 !important;
                         margin-bottom:5px;

                         @media #{$medium-only} {
                              margin:14px 12px 6px 0;
                              text-align:right;
                        }

                         @media #{$small-only} {
                              margin:14px 12px 6px 0;
                              text-align:right;
                        }
                        
                        @media only screen and (min-width: 320px) and ( max-width: 360px ){
                              margin:14px 12px 6px 0;
                              text-align:right;
                        }
                    }

                    p {
                         line-height: 20px;
                         font-size: 14px !important;   
                         color: #009900 !important;

                         @media #{$medium-only} {
                              margin-right:12px;
                              text-align:right;
                        }

                         @media #{$small-only} {
                              margin-right:12px;
                              text-align:right;
                        }
                        
                        @media only screen and (min-width: 320px) and ( max-width: 360px ){
                              margin-right:12px;
                              text-align:right;
                        }

                    }
               }
          }
          
          .terms {

               margin-top:27px;

               @media #{$medium-only} {
                   margin:0px;
              }

               @media #{$small-only} {
                  margin:0px;
              }

              @media only screen and (min-width: 320px) and ( max-width: 360px ){
                    margin:0px;
              }

               p {
                    color: #011558;    
                    font-size: 12px;    
                    line-height: 23px;  
                    text-align: center;

                    a {
                         font-weight:bold;
                         text-decoration:none;
                         color: #011558;

                         &:hover {
                              text-decoration:underline;
                         }
                    }
               }
          }
    }
}