.selected-dial-code {
	color: #000000 !important;
}

.country-name {
	color: #000000 !important;
}

.intl-tel-input.separate-dial-code .selected-flag {
    background-color: $white;
}

.intl-tel-input.separate-dial-code.allow-dropdown .selected-flag {
    padding: 6px !important;
    min-height: 32px;    
}

.intl-tel-input .country-list {
    top: 1px !important;
    margin: 0 0 0 0px !important;
}

.intl-tel-input .flag-container {
    padding: 2px !important;
}



