
.desktop-search-results-container {
    z-index: 9999;
    position: absolute;

    @include grid-column(12, $collapse: true);

    width: 98%;
    margin-left: 1%; 
    background-color: $white;
    overflow-y: auto;

 

    max-height: 443px;

    .search-result {
        @include grid-row;

        height: 63px;
        border-bottom: 1px #eaeaea solid;

        &:hover {
            background-color: lighten(#C3E0F9, 0%);
            border-bottom: 1px lighten(#C3E0F9, 0%) solid;
        }

        a {
            @include grid-column(12, $collapse: true);

            display: block;
            height: 100%;
            padding: $site-margin / 2;
            padding-top: 7px;
            background: none;
            border: none;
            box-shadow: none;

            &:hover {
                background-color: transparent;
            }
        }

        .search-result__thumb {
            @include grid-column(5, $collapse: true);

            margin-right: $site-margin / 2;
        }

        .search-result__name {
            font-family: helvetica,arial,sans-serif;

            @include grid-column(6, $collapse: true);

            width: 50%;
            height: 100%;
            overflow: hidden;
            display: table;

            .search-result__name__inner {
                display: table-cell;
                vertical-align: middle;
                height: 100%;
                font-size: 11px;
                line-height: 14px;
                color: #555;
            }
        }
    }
}