.edit-point {
    z-index: 1;
    position: absolute;
    display: block;
    background-color: #000;
    line-height: 20px;
    padding: $site-margin / 2;
    opacity: .8;
    color: $white !important;
    box-shadow: 0px 0px 2px 0px #333;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    text-align: center;
    font-size: 12px !important;
    border-radius: 5px;
    margin: 5px;
    text-transform: capitalize !important;
    width: 110px;
    border: none;

    &:after {
        text-indent: 0;
        float: left;
        color: $white !important;
        font-size: 12px !important;
        font-weight: 700 !important;
        width: 100%;
        text-align: center;
    }

    &:hover {
        background-color: #000;
        color: $white;
        text-decoration: underline;
        opacity: 0.8;
    }
}

.editor-buttons {
    .options-menu {
        z-index: 999;
        position: absolute;
        display: block;
        background: #000 url("/_images/common/icons/drop-down-icon.svg") no-repeat right center;
        background-size: 40px 8px;
        padding: $site-margin / 2;
        line-height: 20px;
        opacity: .8;
        color: $white !important;
        font-family: sans-serif !important;
        font-weight: 700 !important;
        font-size: 12px !important;
        margin-left: 6px;
        border-radius: 5px;
        width: 120px;
        text-align: center;
        padding-right: 30px;
        text-transform: capitalize;
        margin-top: 40px;
        border: none;
    }

    .options-menu__buttons {
        background-color: black;
        color: white;
        border-radius: 5px;
        display: inline-block;
    }

    .f-dropdown {
        display: inline;
        left: -9999px;
        list-style: none;
        margin-left: 0;
        position: absolute;
        background: $white;
        opacity: .8;
        font-size: 0.875rem;
        height: auto;
        max-height: none;
        width: 220px;
        z-index: 89;
        margin-top: 5px;
        max-width: 230px;
        border-radius: 5px;

        > *:first-child {
            margin-top: 5px;
            margin-left: 5px;
        }
    }

    .f-dropdown li {
        cursor: pointer;
        font-size: 0.875rem;
        line-height: 1.125rem;
        margin-left: 5px;
        margin-bottom: 5px;
        width: 100px;
    }

    .f-dropdown li input {
        background: none;
        border: none;
        display: block;
        padding: 0.5rem;
        color: $white;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        width: 100%;
        cursor: pointer;
    }

    .f-dropdown li:hover, .f-dropdown li:focus {
        background: #f72671;
    }
}




.edit-versions-modal {
 /*  display: none;  */
    position: fixed; /* Stay in place */
    z-index: 99999999999 !important; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5);

    .edit-draft-screen {
     
          position:absolute;
          top:50%;
          left:50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          background-color: #FAFAFC;
          border-radius:3px;
          height: 432px;
          width: 750px;
          z-index:3;
          text-align:center;
          box-shadow: 0 3px 0 0 rgba(0,0,0,0.35);
          
    }
}



