.recommended-games--side {
    .bx-wrapper {
        position: relative;
        margin: 0 auto 60px;
        padding: 0;
        *zoom: 1;
    }

    .bx-wrapper img {
        max-width: 100%;
        display: block;
    }

    /** THEME
    ===================================*/

    .bx-wrapper .bx-viewport {
        /*fix other elements on the page moving (on Chrome)*/
        -webkit-transform: translatez(0);
        -moz-transform: translatez(0);
        -ms-transform: translatez(0);
        -o-transform: translatez(0);
        transform: translatez(0);
    }

    /* DIRECTION CONTROLS (NEXT / PREV) */

    .bx-wrapper .bx-prev {
        background: url("/_global-library/images/game-launch/slider-controls.png") no-repeat -33px 0;
        width: 31px;
        height: 32px;
        position: absolute;
        bottom: -40px;
        left: 0;

        &:hover {
            background: url("/_global-library/images/game-launch/slider-controls.png") no-repeat -33px -34px;
            width: 31px;
            height: 32px;
        }
    }

    .bx-wrapper .bx-next {
        background: url("/_global-library/images/game-launch/slider-controls.png") no-repeat 0 0;
        width: 31px;
        height: 32px;
        position: absolute;
        bottom: -40px;
        right: 0;

        &:hover {
            background: url("/_global-library/images/game-launch/slider-controls.png") no-repeat 0 -34px;
            width: 31px;
            height: 32px;
        }
    }

    .bx-wrapper .bx-controls-direction a.disabled {
        display: none;
    }

    .bx-wrapper .bx-controls-direction a {
        top: initial;
    }
}

//  Recommended Games Section

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 100%;
}

.flex-item:nth-child(1) {
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
}

.flex-item:nth-child(2) {
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 84%;
    height: 90%;
    padding: 0 10px 10px 10px;
    background-color: #2a2e37;
}

.flex-item:nth-child(3) {
    -webkit-flex: 0 1 16%;
    -ms-flex: 0 1 16%;
    flex: 0 1 16%;
    height: 90%;
}

.game-ifr-container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999999;
    height: 100%;
    width: 100%;

    // background: url("/_images/common/black-70-opacity.png");
    // background: -webkit-linear-gradient(45deg, hsla(261, 100%, 75%, 1) 0%, hsla(261, 100%, 75%, 0) 70%), -webkit-linear-gradient(315deg, hsla(167, 100%, 53%, 1) 10%, hsla(167, 100%, 53%, 0) 80%), -webkit-linear-gradient(225deg, hsla(188, 100%, 100%, 1) 10%, hsla(188, 100%, 100%, 0) 80%), -webkit-linear-gradient(135deg, hsla(261, 95%, 79%, 1) 100%, hsla(261, 95%, 79%, 0) 70%);
    // background: linear-gradient(45deg, hsla(261, 100%, 75%, 1) 0%, hsla(261, 100%, 75%, 0) 70%), linear-gradient(135deg, hsla(167, 100%, 53%, 1) 10%, hsla(167, 100%, 53%, 0) 80%), linear-gradient(225deg, hsla(188, 100%, 100%, 1) 10%, hsla(188, 100%, 100%, 0) 80%), linear-gradient(315deg, hsla(261, 95%, 79%, 1) 100%, hsla(261, 95%, 79%, 0) 70%);
    // background: transparent !important;
    background-color: rgba($black, 1) !important;
    background-size: cover;
}

.games-iframe-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999999;
    background-color: #2A2E37;
    width: 80%;
    height: 80%;
}

.games-iframe-content__iframe {
    #ui-game-ifr {
        left: 0;
        top: 0;
        padding: 0px;
        height: 100%;
        width: 100%;
        border: 5px solid black;
    }

    &.border {
        border: 0px black solid;
    }
}

.last-games-played {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 90%;
    height: 15%;
    left: 5%;
    padding: 1em;
}

.last-games-played__content .game-icon {
    max-width: 100px;
}

.games-iframe-content__close-container {
    background: url("/_global-library/images/game-launch/close.svg") no-repeat;
    right: 0px;
    top: 0.5em;
    float: right;
    margin-right: -70px;
}

.games-iframe-content__btn-container {
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0.75% 0;

    > li {
        display: inline-block;
    }

    .game-close-iframe, .game-fullscreen, .game-fullscreen-exit, .game-quick-deposit-btn, .game-lauch-fav, .game-lauch-fav-active, .game-message-inbox {
        margin-right: 7px;
        width: 18px;
        height: 18px;

        > img {
            width: 18px;
            height: 18px;
            margin-top: 5px;
            margin-right: 7px;
        }
    }

    .game-message-inbox {
        width: 45px;

        img {
            margin-right: 10px;
            width: 22px;
        }

        .game-message-inbox__value {
            width: 20px;
            height: 20px;
            margin-left: -15px;
            line-height: 22px;
            font-size: 12px;
            font-weight: bold;
            top: 0;
            color: white;
            text-align: center;
            position: absolute;
            background: red;
            border-radius: 50%;
        }
    }

    .quick-deposit-button-wrap {
        margin-top: 5px;
    }

    .game-quick-deposit-btn {
        width: 102px;
        height: 23px;

        > img {
            width: 102px;
            height: 23px;
            margin-top: 6px;
        }
    }

     .gfr-responsible-gaming {
        float: left;
        text-transform: uppercase;
        padding-left: 20px;
        padding-top: 4px;

        a {
            font-family: 'Helvetica', Helvetica, Arial, sans-serif;
            color: white;
            font-size: 12px;

            &:hover {
                text-decoration: underline;
            }
            
            img {
                width: 15px;
                margin-right: 5px;
                margin-top: -5px;
            }
        }
    }
}

.games-iframe-content__top-bar {
    width: 100%;
    background-color: #303645;
    @include background-image(linear-gradient(rgb(48, 54, 69) 0%, rgb(27, 31, 39) 100%));
    border-radius: 5px 5px 0 0;
}

.games-iframe-content__right-panel {
    display: none;

    @media #{$large-up} {
        display: block;
    }

    .game-launch-side-slider {
        margin-top: 0px;
    }

    h1 {
        font-family: 'Helvetica', Helvetica, Arial, sans-serif;
        color: white;
        font-weight: bold;
        font-size: 0.6rem;
        line-height: 14px;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 7px;
        display: block;
    }

    .featured-game__title {
        font-family: 'Helvetica', Helvetica, Arial, sans-serif;
        color: white;
        font-weight: bold;
        font-size: 11px;

        &:hover {
            font-family: 'Helvetica', Helvetica, Arial, sans-serif;
            color: #008CBA;
            font-weight: bold;
            font-size: 11px;
        }

        span {
            background-image: url(/_global-library/images/game-launch/expand.png);
            background-repeat: no-repeat;
            right: 19px;
            top: 8px;
            position: absolute;
            height: 25px;
            width: 16px;

            &:hover {
                background-image: url(/_global-library/images/game-launch/expand-hover.png);
                background-repeat: no-repeat;
                right: 19px;
                top: 8px;
                position: absolute;
                height: 25px;
                width: 16px;
            }
        }
    }
}
