.ui-carousel-container {
    @include grid-column(12);

    padding: 0 !important;
    width: 100% !important;
    margin: $site-margin / 2;
    margin-bottom: 0;
    height: 150px;
    overflow: hidden !important;
    overflow-x: visible !important;
    -webkit-overflow-scrolling: touch !important;

    @media #{$medium-only} {
        width: 100% !important;
    }

    @media #{$large-only} {
        width: 99% !important;
    }

    ul {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow: initial !important;
        overflow-scrolling: touch;
           width: 100% !important;

        li {
            @include border-radius(4px);

            max-width: 140px;
            max-height: 104px;
            height: auto;
            margin-right: 5px !important;
            padding: 0;
            background: none;
            font-family: $category-carousel-font-family-bold;
            font-size: 0.82rem !important;
            display: inline-block;
            float: none !important;
        }
    }
}