// recent messages area
.recent-messages {
    @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);

    list-style: none;
    margin: 0;

    &.collapsed {
        height: 114px;
        overflow: hidden;
        margin: 0;
    }

    &.expanded {
        height: auto;
        overflow: visible;
        margin: 0;
    }

    .recent-messages__message {
        @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 12, $mcollapse: false, $mfloat: left, $lcols: 12, $lcollapse: false, $lfloat: left);

        // background-color: $white;
        border-bottom: 1px solid #E6E6E2;
        list-style: none;

        @include vert-align(38px);

        font-size: 13px;
        font-family: $body-font-regular;
        font-weight: normal;
        overflow: hidden;
        cursor: pointer;

        // this styles the unread message as bold and white background
        &.unread {
            .recent-messages__message__preview {
                font-family: $body-font-regular;
                font-weight: bold !important;
            }
        }
    }

    .recent-messages__message__preview {
        font-weight: normal;
    }

    .recent-messages__message.unread {
        background: #FFFFFF;
        list-style: none;
        font-weight: bold;
    }

    .recent-messages__message__icon {
        @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: left, $mcols: 1, $mcollapse: true, $mfloat: left, $lcols: 1, $lcollapse: true, $lfloat: left);

        max-width: 33px;
        min-width: 33px;
        margin-top: 3px;

        @extend .hide-for-small;

        @extend .hide-for-medium;
    }

    .recent-messages__message__date {
        @include foundation-breaks($scols: 2, $scollapse: true, $sfloat: left, $mcols: 2, $mcollapse: true, $mfloat: left, $lcols: 2, $lcollapse: true, $lfloat: left);

        text-align: center;

        @media #{$small-only} {
            width: 15%;
            font-size: 11px;
        }
    }

    .recent-messages__message__preview {
        @include foundation-breaks($scols: 8, $scollapse: true, $sfloat: left, $mcols: 7, $mcollapse: true, $mfloat: left, $lcols: 7, $lcollapse: true, $lfloat: left);

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 5px;
        font-style: normal;

        @media #{$small-up} {
            padding-left: $site-margin;
        }

        @media #{$large-up} {
            padding-left: 0;
        }
    }

    .recent-messages__message__time {
        @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: left, $mcols: 1, $mcollapse: true, $mfloat: left, $lcols: 1, $lcollapse: true, $lfloat: left);

        text-align: right;
        max-width: 44px;
        min-width: 44px;

        @extend .show-for-medium-up;
    }

    .recent-messages__message__select {
        @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: right, $mcols: 1, $mcollapse: true, $mfloat: right, $lcols: 1, $lcollapse: true, $lfloat: right);

        text-align: right;
        max-width: 44px;
        min-width: 44px;

        input[type='checkbox'] {
            margin-right: 7px;
            box-shadow: none !important;
        }

        &:hover, &:active {
            background: transparent;
        }
    }
}

.recent-messages__switch {
    @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 12, $mcollapse: false, $mfloat: left, $lcols: 12, $lcollapse: false, $lfloat: left);

    background: #FFFFFF;
    border-bottom: 0px solid #E6E6E2;

    @include vert-align(38px);

    font-size: 12px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    color: #4E4783;
}

.select-all-messages {
    @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: right, $mcols: 1, $mcollapse: true, $mfloat: right, $lcols: 1, $lcollapse: true, $lfloat: right);

    @media #{$medium-up} {
        padding-right: 27px;
    }

    @media #{$large-up} {
        padding-right: 27px;
    }

    @media #{$small-only} {
        padding-right: 27px;
    }

    input {
        box-shadow: none !important;
    }
}

.mobile-message-actions {
    -webkit-appearance: initial;
    -moz-appearance: initial;

    @include foundation-breaks($scols: 4, $scollapse: true, $sfloat: right, $mcols: 3, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: right);

    font-size: 12px;
    color: #AFAFAF;
    height: 24px;
    line-height: 10px;
    padding: 0px;
    border: none;
    background-color: transparent;
    max-width: 90px;
    margin-right: 5px;

    option {
        color: #AFAFAF;
    }
}

// modal windows for single message

.recent-messages__modal {
    display: block;
    height: 560px;
    width: 100% !important;

    //height: 100%;
    position: relative;
    padding: 6px;
    background: $white;
    margin: 0;
    border: none;
    z-index: 0 !important;

    @include grid-column(12, $collapse: true);

    @include transition(all, 0.2s ease-out);

    //position: fixed;

    //width: auto !important;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 0;

    //height: 100% !important;
    //margin-top: 330px;

    @media #{$small-only} {
        padding-left: 0;
        padding-right: 0;
    }

    h1 {
        font-size: 1em;
    }

    .close {
        right: 6px;
        width: 20px;
        height: 20px;
        position: absolute;
        margin: 5px !important;

        @media #{$small-only} {
            width: 44px;
            height: 44px;
            margin: 5px !important;
        }

        @media #{$medium-only} {
            width: 44px;
            height: 44px;
            margin: 5px !important;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    .close-reveal-modal {
        width: 50px;
        margin: 0;
        position: absolute;
        right: 0 !important;
        top: 0;
        left: initial !important;
    }

    .lobby-wrap__content-box {
        overflow-y: scroll;
        height: 100%;

        //margin-top: $site-margin;
        border: none !important;

        @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 12, $mcollapse: false, $mfloat: left, $lcols: 12, $lcollapse: false, $lfloat: left);

        background: #FFFFFF;
        padding-top: 0;
        padding-bottom: $site-margin;

        @media #{$small-only} {
            border: none;
            padding-top: 0;
        }

        @media #{$medium-up} {
            //max-width: 800px;

            margin-left: auto;
            margin-right: auto;
            float: none;
        }

        /* Lobby Content Container Header Area */
        .lobby-wrap__content-box__header {
            @include grid-column(12, $collapse: true);

            padding-top: $site-margin;
            font-weight: bold;
            font-size: 14px;
            color: #4E4783;
            margin-bottom: $site-margin;

            /* Lobby Content Container Header Area Title */
            .title {
                @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: true, $mfloat: left, $lcols: 12, $lcollapse: true, $lfloat: left);

                display: inline-block;
                height: 20px;
                line-height: 20px;

                // elements in header bar (with icon)
                &.hasicon {
                    position: fixed;
                    width: 100%;
                    max-width: 550px;
                    background-color: $white;
                    height: 45px;
                    margin-top: -14px;
                    padding-top: 15px;

                    .title__icon {
                        @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: left, $mcols: 1, $mcollapse: true, $mfloat: left, $lcols: 1, $lcollapse: true, $lfloat: left);

                        max-width: 33px;
                        min-width: 33px;
                    }

                    // Text for in the header bar
                    .title__text {
                        @include foundation-breaks($scols: 6, $scollapse: true, $sfloat: left, $mcols: 6, $mcollapse: true, $mfloat: left, $lcols: 6, $lcollapse: true, $lfloat: left);

                        &.messages-section {
                            @include foundation-breaks($scols: 5, $scollapse: true, $sfloat: left, $mcols: 5, $mcollapse: true, $mfloat: left, $lcols: 5, $lcollapse: true, $lfloat: left);
                        }
                    }
                }
            }
        }
    }

    .recent-messages__modal__delete {
        color: #AFAFAF;
        border: 1px #AFAFAF solid;
        padding: 5px;
        font-weight: normal;
        font-family: $body-font-regular;
        background-color: $white;
    }

    .single-message-content {
        // iframe styling

        width: 100%;
        height: 600px;
        border: none;
        padding: 0;
        overflow: auto;

        // none iframe styling
        //padding-top: $site-margin * 4;

        // padding: $site-margin;

        // h1 {
        //     width: 100%;
        //     font-family: $body-font-regular;
        //     font-weight: bold;
        //     font-size: 1em;
        //     color: #494949;
        //     margin-bottom: $site-margin;
        // }

        // p {
        //     font-family: $body-font-regular;
        //     font-size: 0.8em;
        //     color: #494949;
        // }

        // td {
        //     //display: inline !important;
        //     border: none !important;
        //     display: inline-block;
        //     height: auto;
        // }

        // img {
        //     //vertical-align: initial !important;

        // }

    }
}

// SINGLE MESSAGE MODAL

// #single-message-modal {
//     @include show-for-large-only;
// }

// .reveal-modal-bg {
//     z-index: 99999 !important;
// }

.single-message-modal {
    height: 100%;
    max-height: 540px;
    height: 540px !important;
    max-width: 630px;
    min-height: auto;
    margin: 0;
    overflow: hidden;

    &.reveal-modal {
        background: $white !important;
        padding: 0;
        overflow-y: hidden;
        z-index: 999999999 !important;
        width: 100% !important;
        top: 50% !important;
        position: fixed !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        -webkit-overflow-scrolling: touch;

        @media #{$small-only} {
            height: 100%;
            min-height: 100% !important;
            top: 0 !important;
            left: 0 !important;
            transform: initial !important;
        }
    }

    .single-message-modal__title-bar {
        @include grid-column(12);

        padding: $site-margin;
        height: 50px;
        background: $white !important;

        //box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.14);

        .icon-message {
            @include grid-column(1);

            padding: 4px 2px;

            @media #{$small-only} {
                @include grid-column(2);
            }
        }

        .subject-message {
            @include grid-column(10);

            font-weight: 600;
            padding: 0;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @media #{$small-only} {
                @include grid-column(9);
            }
        }

        .icon-close {
            @include grid-column(1);

            padding: 0;
            height: 30px;
            width: 30px;
            position: absolute;
            top: 6px;
            right: 13px;
            left: auto;

            //background: #FFF url(/_images/common/icons/login-close.svg) no-repeat center center !important;

        }
    }

    .single-message-modal__content-wrap {
        @include grid-column(12);

        padding: 0;
        height: 100%;
        max-height: 488px;
        padding-bottom: 50px;
        padding-left: 30px;
        padding-right: 30px;

        //background: #F3F3F3;

        @media #{$medium-only} {
            overflow-y: scroll;
        }

        @media #{$small-only} {
            max-height: none;
            overflow-y: scroll;
        }

        .single-message-modal__content {
            @include grid-column(12);

            padding: 0;
            min-height: 100% !important;

            //min-height: 600px;
            border: none;

            > h3 {
                float: left;
                width: 100%;
                margin-top: 20px !important;
            }
        }
    }
}

.inbox-message-main {
    padding-bottom: 0 !important;

    a {
        text-decoration: none !important;

    }
}