// Claimed Prize button
// ==========================================================
@mixin CTA-ClaimedButton($padding: 0.4em, $fontsize: 0.7em, $borderradius: 2px, $startgrad: #179f2d, $endgrad: #7bb726, $font-color: #FFFFFF) {
    padding: $padding;
    font-size: $fontsize;
    color: $font-color;
    text-align: center;
    line-height: 0.1em;
    text-transform: uppercase;
    @include border-radius($borderradius);
    @include background-clip(padding-box);
    // prevents bg color from leaking outside the border
    background-color: #fff14f;
    // layer fill content
    @include background-image(linear-gradient(bottom, $startgrad 16%, $endgrad 84%));
    &:hover {
        @include background-image(linear-gradient(bottom, lighten($startgrad, 5%) 0%, lighten($endgrad, 5%) 100%));
        // gradient overlay
        color: $font-color;
    }
}