table {
    @include border-radius(4px);

    width: 100%;
    border-spacing: 2px;
    border: none;

    thead {
        background: $ui-table-header;
        color: $white;

        tr {
            td {
                background: $ui-table-header;
                padding: $site-margin;
                border: none !important;

                a {
                    word-break: normal !important;
                }
            }

            th {
                color: $white !important;
                font-weight: 600;
                padding: 1em !important;

                p {
                    font-weight: 600;
                    margin-bottom: 0;
                    line-height: 1.3;
                }
            }
        }
    }

    tr {
        td {
            padding: $site-margin;
            border: none;

            @media #{$small-only} {
                padding: $site-margin ($site-margin / 2);
                text-align: left;
            }
        }
    }

    tr:nth-of-type(even) {
        background: $ui-table-even;
    }
}