$use-later-background: #e5526a;
$use-later-border : 2px solid #de2644;
$use-now-background: #009900;
$use-now-border : 2px solid #006600;
// Specificity fix for GBB R10-938
.alertbox a.ok-cta.alertbox__cta__prizeWheel-desktop, 
.alertbox a.ok-cta.alertbox__cta__prizeWheel-mobile,
.alertbox a.cancel-cta.alertbox__cta__prizeWheel-use-later{
    color: #fff !important;
}
.prize-wheel__notification{
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20%;
    width: 80px;
    height: 70px;
    z-index: 9999;
    margin-left: -35px;
    border-radius: 6px;

    @media #{$large-up} {
        top: 30%;
    }

    .prize-wheel__notification__counter{
        background: #EA3628;
        color: #fff;
        border-radius: 50%;
        height: 23px;
        width: 30px;
        font-family: $prize-wheel-font;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: -33px;
        left: 68px;
        z-index: 10001;
        
         @media #{$large-up} {
            height: 23px;
            width: 30px;
            top: -33px;
            left: 65px;
            line-height: 25px;
        }

    }
    .prize-wheel__notification__icon{
        z-index: 10000;
        position: relative;
        left: -5px;
        @media #{$small-only} {
            width: 100%;
        }
    }
     .prize-wheel__icon {
        background-image: $prize-wheel-icon;
        background-repeat: no-repeat;
        background-position: 0px;
        background-size: 58px;
        height: 62px;
        left: -11px;

        @media #{$medium-up} {
            width: 58px;
        }
    }
}

#cashier {
   .prize-wheel__notification {
    display: none;
   } 
}
.alertbox__cta__prizeWheel{
    text-align: center;
    .cancel-cta{
        width: 80%;
        display: block;
        margin: 0 auto;
        border-radius: 3px;
        text-transform: uppercase;
        padding: 0.8em 1.93em;
        background: $use-later-background;
        border: $use-later-border !important;
        color: #fff !important;
        &:hover{
            background: lighten($use-later-background, 5%) !important;
            border: $use-later-border; 
            color: #fff;
        }
        @media only screen and (min-width: 64.063em) {
            width: 40%;
            display: inline-block;
        }
    }
    .ok-cta{
        width: 80%;
        margin: 0.5em auto;
        display: block;
        border-radius: 3px;
        text-transform: uppercase;
        padding: 0.8em 1.93em;
        background: $use-now-background;
        border: $use-now-border !important;
        color: #fff !important;
        &:hover{
            background: lighten($use-now-background, 5%) !important;
            border: $use-now-border; 
            color: #fff;
        }
        @media only screen and (min-width: 64.063em) {
            width: 40%;
            display: inline-block;
        }
    }
    .alertbox__cta__prizeWheel-mobile{
        display: inline-block;
        @media only screen and (min-width: 64.063em) {
            display: none;
        }
    }
    .alertbox__cta__prizeWheel-desktop{
        display: none;
        @media only screen and (min-width: 64.063em) {
            display: inline-block;
        }
    }

}
.cashier__prizeWheel-cta-desktop{
    display: none;
    background: #EA3628 !important;
    @media only screen and (min-width: 64.063em) {
        display: inline-block;
    }
    
}

.cashier__prizeWheel-cta-mobile{
    display: inline-block;
    background: #EA3628  !important;
    @media only screen and (min-width: 64.063em) {
        display: none;
    }

}


@media (orientation: landscape) and (max-width: 720px) {
    .alertbox{
        top: 60%;
        font-size: 0.7em;
    }
}