@media #{$small-only} {
    .content-holder__inner,
    .middle-content__box {
        .promotion-eng {
            padding: 0;
            margin-bottom: $site-margin;
        }
    }
}

.promotion-eng {
    @include grid-column(4);
    padding-left: 0;
    padding-right: $site-margin;
    padding-bottom: $site-margin;
    @media screen and (min-width: 426px) and (max-width: 768px) {
        @include grid-column(6);
        padding: $site-margin / 2;
        padding-bottom: 0;
    }
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        @include grid-column(4);
        padding: $site-margin / 3;
    }
    @media #{$small-only} {
        @include grid-column(12);
        padding: $site-margin;
        padding-bottom: 0;
    }
    .promotion-eng__wrapper {
        @include grid-column(12);
        @include border-radius(4px);
        @include be-box;
        overflow: hidden;
        padding: 0;
        background: $white;
        position: relative;
        @media #{$small-only} {
            height: auto !important;
            overflow: hidden;
        }
        @media #{$medium-only} {
            height: 625px;
        }
        @media screen and (min-width: 769px) and (max-width: 1024px) {
            height: 640px;
            overflow: hidden;
        }
        @media #{$large-up} {
            height: 625px;
            overflow: hidden;
        }
        .promotion__text_terms-wrapper {
            padding: $site-margin;
            float: left;
            line-height: 100%;
            width: 100%;
            .promotion__text_terms, .promotion-eng__terms {
                font-size:rem-calc(11);
            }
        }
    }
    .promotion-eng__image {
        @include grid-column(12);
        padding: 0;
        cursor: pointer;
        @media #{$large-up} {
            max-height: 235px;
            overflow: hidden;
        }
        > img {
            width: 100%;
            margin-bottom: 0;
        }
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0;
            float: left;
            border: none !important;
            box-shadow: none;
            margin-top: 0px;
        }
    }
    .tabs {
        @include grid-column(12);
        padding: 0;
        background: none;
        margin: 0 !important;
        display: block;
        background: darken($lighter-bg, 2%);
        padding-top: $site-margin / 2;
        text-align: center;
        &.tab-without-competition {
            display: none;
            dd {
                width: 100% !important;
                display: none;
                &:first-child {
                    display: block;
                }
                a {
                    width: 100% !important;
                    text-align: left;
                    margin: 0;
                    display: none;
                    // it removes tabs nav on normal promos
                }
            }
        }
        dd {
            width: auto;
            border: none;
            padding: 0;
            margin: 0;
            margin-right: 1px;
            float: left;
            a {
                margin: 0;
                padding: $site-margin / 2;
                color: $grey-dark;
                background: darken($lighter-bg, 10%);
                font-weight: normal;
                font-size: 12px !important;
                letter-spacing: 0;
                font-family: $button-font;
                @media #{$medium-only} {
                    padding: 8px 0.275rem;
                    font-size: 11px !important;
                }
                &:hover {
                    background: $white;
                    font-weight: normal;
                    color: $global-link-color;
                }
            }
            &.active {
                a {
                    background: $white;
                    color: $grey-dark;
                    font-weight: normal;
                    &:hover {
                        background: $white;
                        color: $grey-dark !important;
                        font-weight: normal;
                    }
                }
            }
        }
    }
    .promotion-eng__content {
        @include grid-column(12);
        padding: $site-margin;
        background: $white;
        margin: 0;
        padding-bottom: 0;
        height: 280px;
        @media #{$small-only} {
            min-height: auto;
            height: auto;
            padding-bottom: $site-margin;
        }
        .promotion-eng__title__wrapper {
            @include grid-column(12);
            padding: 0;
            position: relative;
        }
        .promotion-eng__title {
            @include grid-column(12);
            padding: 0;
            margin: 0;
            line-height: 1;
            a {
                text-transform: uppercase;
                float: left;
                font-size: 15px;
                text-transform: uppercase;
                color: $nav-active-color;
                font-family: $button-font;
                margin-bottom: $site-margin / 2;
            }
        }
        .promotion-eng__intro {
            font-size: 13px;
            font-family: $body-font-regular;
            margin-bottom: $site-margin / 2;
        }
        .promotion-eng__comp-leader-table {
            li {
                @include grid-column(12);
                padding: $site-margin / 2;
                list-style: none;
                line-height: 1.7;
                &:nth-child(odd) {}
                &:nth-child(even) {
                    background: darken($lighter-bg, 2%);
                }
                &.ui-leader-position__user {
                    background: $nav-active-color;
                    .ui-leader-position {
                        color: $nav-active-color;
                        background: $white;
                    }
                    .ui-leader-name {
                        color: $white;
                    }
                    .ui-leader-points {
                        color: $white;
                    }
                }
                .ui-leader-position {
                    @include grid-column(2);
                    padding: 0;
                    background: $nav-active-color;
                    font-family: $button-font;
                    color: $white;
                    border-radius: 50%;
                    height: 21px;
                    width: 21px;
                    text-align: center;
                    font-size: 14px;
                    line-height: 1.6;
                }
                .ui-leader-name {
                    @include grid-column(6);
                    width: 50%;
                    font-family: $body-font-medium;
                    padding: 0;
                    padding-left: $site-margin / 2;
                    font-size: 14px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .ui-leader-points {
                    @include grid-column(4);
                    padding-left: 0;
                    padding-right: $site-margin / 2;
                    width: auto !important;
                    float: right;
                    font-family: $button-font;
                    text-align: right;
                    font-size: 14px;
                }
            }
        }
        .tabs-content {
            margin: 0;
            .content {
                padding: 0;
            }
        }
        p {
            font-size: 13px;
            margin-bottom: $site-margin / 2;
        }
        ul {
            font-size: 13px;
            margin: 0;
            li {
                list-style: inherit;
            }
        }
    }
    .promotion-eng__footer {
        @include grid-column(12);
        padding: $site-margin;
        padding-top: $site-margin / 2;
        bottom: 0;
        background: darken($lighter-bg, 2%);
        min-height: 80px;
        position: relative;
        @media #{$medium-up} {
            position: absolute;
        }
        .promotion-eng__terms {
            @include grid-column(6);
            padding: 0;
            text-align: left;
            font-size: 12px;
            font-weight: 600;
            color: $grey;
        }
        .promotion-eng__read-more {
            @include grid-column(12);
            padding: 0;
            text-align: right;
            text-transform: uppercase;
            font-family: $button-font;
            color: $global-link-color;
            text-decoration: underline;
            font-size: 13px;
            cursor: pointer;
            float: right;
        }
        .promotion-eng__optin {
            @include grid-column(12);
            @include OPT-IN-button;
            font-family: $button-font;
            cursor: pointer;
            width: 47%;
            float: left;
            margin: 0;
            margin-top: ($site-margin / 2) !important;
            padding: 0;
            text-align: center;
            line-height: 1.6;
            font-size: 16px !important;
            // display: block !important;
            &.cta-full-width {
                @include grid-column(12);
                padding: 0;
                width: 70%;
                margin: 0 15%;
                @media #{$medium-only} {
                    @include grid-column(12);
                    margin: 0;
                }
                @media #{$small-only} {
                    @include grid-column(12);
                    margin: 0;
                }
            }
            &.active {
                background: $white;
                color: $nav-active-color;
                box-shadow: 0px 0px 0px 0px darken($lighter-bg, 5%), inset 0px 0px 3px 0px darken($lighter-bg, 5%);
                text-shadow: none;
                text-transform: uppercase;
                padding: 2px;
            }
        }
        .promotion-eng__play-now {
            @include grid-column(12);
            @include PLAY-button;
            font-family: $button-font;
            cursor: pointer;
            width: 47%;
            float: right;
            margin: 0;
            margin-top: ($site-margin / 2) !important;
            padding: 0;
            text-align: center;
            line-height: 1.6;
            font-size: 17px !important;
            text-transform: uppercase;
            &.cta-full-width {
                @include grid-column(12);
                padding: 0;
                width: 60%;
                margin: 0 20%;
                @media #{$medium-only} {
                    @include grid-column(12);
                    padding: 0;
                    margin: 0;
                }
                @media #{$small-only} {
                    @include grid-column(12);
                    padding: 0;
                    margin: 0;
                }
            }
            // display: block !important;
        }
    }
    ul.promotion-eng__comp-info {
        @include grid-column(12);
        padding: 0;
        margin: 0;
        margin-bottom: $site-margin;
        li {
            @include grid-column(12);
            padding: 0;
            list-style: none;
            margin-bottom: $site-margin / 2;
            .title {
                @include grid-column(6);
                float: left;
                padding: 0;
                font-family: $button-font;
                font-size: 14px;
                line-height: 1.6;
                text-transform: uppercase;
            }
            span {
                @include grid-column(5);
                @include border-radius(20px);
                float: right;
                padding: 0;
                background: darken($lighter-bg, 2%);
                font-family: $button-font;
                font-size: 14px;
                line-height: 1.6;
                text-transform: uppercase;
                text-align: center;
            }
            &:before {
                content: ' ';
            }
        }
    }
}

// Lobby promotional modules.
.lobby-wrap__left {
    .promotion-eng {
        @include grid-column(12);
    }
    .my-promotions__promotion {
        @include grid-column(6);
    }
}

@media #{$small-only} {
    .lobby-wrap__left .my-promotions__promotion {
        @include grid-column(12);
    }
}

@media #{$medium-only} {
    @media #{$landscape} {
        .lobby-wrap__left .my-promotions__promotion {
            @include grid-column(6);
        }
    }
}



// Claimed prize modal window

#claimed-prize-modal{
    &.reveal-modal {
        overflow-y: hidden;
        padding: 0;
        .close-reveal-modal {
            color: $claimed-prize-close-reveal;
        }        
        .login-box {
            padding-left: 0; 
            padding-right: 0;
            .login-box__form-wrapper {
                overflow: hidden;
                h2 {
                    height: rem-calc(70);
                    text-transform: uppdercase;
                    padding: 0;
                    margin: 0;
                    color: $claimed-prize-headers-color;
                    text-align: center;
                    line-height: rem-calc(70);
                    font-size: rem-calc(28);
                    background: $claimed-prize-headers-background;
                    background-image: url('../_images/common/backgrounds/promo-modal.png');
                    @media #{$small-only} {
                        font-size: rem-calc(18);
                    }
                }
                .competition-wrapper {
                    .cta-my-account {
                        @include CTA-ClaimedButton(15px 25px 15px 25px, 1.4em, 4px, $claimed-prize-button-start-color, $claimed-prize-button-end-color, $font-color);         
                        float: none;
                        margin: 2em 0 2em 0;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 29%;
                        @media #{$small-only} {
                            width:100%;
                        }
                        &:hover {
                            color: $claimed-prize-headers-color;
                        }
                    }
                    .competition-copy {
                        padding-top: rem-calc(35);
                        padding-left: rem-calc(60);
                        padding-right: rem-calc(60);
                        padding-bottom: rem-calc(35);
                        @media #{$small-only} {
                            padding-top: rem-calc(15);
                            padding-left: rem-calc(40);
                            padding-right: rem-calc(40);
                            padding-bottom: rem-calc(15);
                        }
                        text-align: center;
                        h3 {
                            font-family: $body-font-bold;
                            color: $claimed-prize-headers-background;
                            font-size: rem-calc(24);
                            @media #{$small-only} {
                                font-size: rem-calc(18);
                            }
                        }
                        p {
                            font-family: $body-font-medium;
                        }
                        .competition-amount {
                            font-size: rem-calc(32);
                            color: $claimed-prize-amount-highligted;
                            text-transform: uppercase;
                            @media #{$small-only} {
                                font-size: rem-calc(26);
                            }
                        }
                    }
                }
            }
        }
    }
}

.promotion-eng {
    .promotion-eng__content {
        %ui-promo {
            background: darken($claim-prize-confirmation-background, 2%);
            font-family: $button-font;
            text-transform: uppercase;
            font-size: rem-calc(18);
            @include border-radius(20px);
            padding: rem-calc(10) rem-calc(10) rem-calc(10) rem-calc(80);
            background-repeat: no-repeat;
            background-position-y: 50%;
            background-position-x: 10%;
            overflow: hidden;
            top: rem-calc(10); 
            position: relative;            
        }        
        .ui-freebie-confirmation {
            @extend %ui-promo;
            background-image: url('../_global-library/images/promotions/tick.svg');
        }
        .ui-draw-confirmation {
            @extend %ui-promo;
            background-image: url('../_global-library/images/promotions/trophy.svg');
        }
        .ui-tournament-confirmation {
            @extend %ui-promo;
            background-image: url('../_global-library/images/promotions/trophy.svg');
        }
        .promotion-eng__title {
            a {}
        }
    }
}



.countdown__wrapper {
    width: 100%;
    float: left;
    padding: 0.6em;
}

.countdown__inner {
    max-width: 350px;
    margin: 0 auto;
}
.countdown__value,
.countdown__label {
    width: 25%;
    float: left;
    text-align: center;
}
.countdown__label {
    font-weight: normal;
    font-size: calc(100% - 6px);
    text-transform: uppercase;

        @media #{$large-up} {
        font-size: calc(100% - 3px);
    }
}
.countdown__value {
    font-weight: bold;
        @media #{$large-up} {
        font-size: 2em;
    }
}

.black-on-white {
    margin-top: 1em;
    background: rgba(0, 0, 0, 0.05); 
    color: #000;
}

.white-on-black {
    margin-top: 1em;
    background: rgba(255,255,255,0.3);
    color: #FFF;
}