// .promo__jackpot {
//     background: url("http://via.placeholder.com/488x284?text=promo--jackpot");
//     background-image: -webkit-image-set(url('http://via.placeholder.com/488x284?text=promo--jackpot') 1x, url('http://via.placeholder.com/976x568?text=promo--jackpot-retina') 2x); // retina enhancement newer browsers
//     height: rem-calc(285px);
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center center;
//     padding: 0;
//     // border: 1px inset purple; // remove for production
//     @media #{$medium-only} {
//         background: url("http://via.placeholder.com/768x274?text=promo--jackpot");
//         background-image: -webkit-image-set(url('http://via.placeholder.com/768x274?text=promo--jackpot-tablet') 1x, url('http://via.placeholder.com/1536x548?text=promo--jackpot-tablet-retina') 2x); // retina enhancement newer browsers
//         height: 274px;
//         background-size: cover;
//         background-repeat: no-repeat;
//         background-position: center center;
//     }
//     @media #{$small-only} {
//         background: url("http://via.placeholder.com/414x238?text=mobile-hero");
//         background-image: -webkit-image-set(url('http://via.placeholder.com/414x238?text=promo--jackpot-mobile') 1x, url('http://via.placeholder.com/828x476?text=promo--jackpot-mobile-retina') 2x); // retina enhancement newer browsers
//         height: 238px;
//         background-size: cover;
//         background-repeat: no-repeat;
//         background-position: center center;
//     }
// }

// .promo__bottom--firstline {
//     font-family: $font-header1;
//     font-size: rem-calc(50px);
//     color: $home--htmlcopy;
//     letter-spacing: -1.51px;
//     line-height: rem-calc(60px);
//     text-transform: uppercase;
//     @extend %text-shadow;
//     @media #{$small-only} {
//         font-size: rem-calc(40px);
//         letter-spacing: 0;
//         line-height: rem-calc(40px);
//     }
// }

// .promo__bottom--secondline {
//     font-family: $font-header2;
//     font-size: rem-calc(25px);
//     color: $home--htmlcopy;
//     @extend %text-shadow;
//     @media #{$small-only} {
//         font-size: rem-calc(19px);
//     }
// }
