// Reality Check Modal

$breakpoint-alpha: 480px;
$light-green: #4AFF68;
$dark-green: #179f2d;

.reality-check__container {
    background: rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999999999999;

    @media #{$small-only} {
        background: rgba(0, 0, 0, 0.8) !important;
    }

    .reality-check__content {
        top: 50%;
        border-radius: 4px;
        position: fixed;
        border: none;
        left: 50%;
        min-width: 750px;
        height: auto;
        margin: 0;
        padding: $site-margin * 4;
        background: rgba(0, 0, 0, 0.8);

        // box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
        transform: translate(-50%, -50%);

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0 ($site-margin * 2);
            background: none !important;
            min-width: auto;
        }

        h2 {
            @include grid-column(12);

            margin: 0;
            text-align: center;
            font-weight: normal;
            color: $white;
            line-height: 1;
            font-size: 30px;

            @media #{$small-only} {
                font-size: 1.8em;
            }
        }

        p {
            @include grid-column(12);

            margin: 0;
            text-align: center;
            color: $white;
            font-size: 16px;
            line-height: 1.4;

            @media #{$small-only} {
                font-size: 15px;
            }
        }

        a {
            color: #fff;
            text-decoration: underline;
        }

        .reality-check__buttons {
            @include grid-column(12);

            padding: 0;
            margin: $site-margin 0;

            button {
                @include grid-column(4);

                @include transition(all, 0.1s ease-out);

                width: 46%;
                margin: 2%;

                // background: $white;
                color: #179f2d;
                text-align: center;
                font-weight: bold;
                border-radius: 6px;
                text-transform: uppercase;
                padding: 0;
                line-height: 1.2;

                // border: 2px solid $white;
                min-height: 75px;

                &.continue-cta {
                    color: $white;
                    background: none;
                    border: 2px solid $white;

                    @media (max-width: $breakpoint-alpha) {
                        @include grid-column(12);

                        padding: $site-margin ($site-margin * 2);
                        margin: 1% 0;
                        min-height: auto;
                    }

                    &:hover {
                        background: none;
                        color: $white;
                        border: 2px solid rgba(255, 255, 255, 0.55);

                        .reality-check-container & {
                            background: rgba(0, 0, 0, 0.9);
                        }
                    }
                }

                &.stop-cta {
                    color: $light-green;
                    background: none;
                    border: 2px solid $dark-green;

                    @media (max-width: $breakpoint-alpha) {
                        @include grid-column(12);

                        padding: $site-margin ($site-margin * 2);
                        margin: 1% 0;
                        margin-top: 3%;
                        min-height: auto;
                    }

                    &:hover {
                        background: $dark-green;
                        color: $white;
                        border: 2px solid $dark-green;
                    }
                }
            }
        }
    }

    .home-cta {
        @include grid-column(12);

        text-align: center;
        color: $white;
        text-decoration: underline;
        background: none;
        cursor: pointer;
        position: relative;
        margin-top: $site-margin * 3;
    }
}

// Reality Check Settings Dropdown
// Responsible Gaming Page

.reality-check-settings__container {
    @include grid-column(12);

    padding: 0;
    margin-bottom: $site-margin;

    @media #{$large-up} {
        @include grid-column(6);

        padding: 0;
    }

    select {
        width: 48%;
        float: left;
        margin: 0;
        margin-right: 2%;
        margin-bottom: $site-margin / 2;

        @include border-radius(4px);

        border: 2px solid #C9C9C9;
        padding: 0 0.5rem;
        display: inline;
        font-size: 14px;
        font-weight: bold;
        height: 35px;

        @media #{$small-only} {
            @include grid-column(12);
        }
    }

    .button.expand {
        width: auto;
        float: left;

        @include border-radius(4px);

        line-height: 1.5;
        height: 35px;
        margin: 0;
        margin-bottom: $site-margin / 2;
        padding: 0.5rem 1rem;
        font-size: 14px !important;
        font-weight: bold;
        display: inline;
        background: $global-link-color;
        box-shadow: 0px 1px 0px 0px darken($global-link-color, 20%);
        color: $white;

        &:hover {
            background: darken($global-link-color, 5%);
            text-decoration: none;
        }

        @media #{$small-only} {
            @include grid-column(12);
        }
    }
}