$breakpoint-alpha: 480px;

// adjust to your needs

table.responsive {
    thead > tr > td,
    .table-hide-small td {
        color: white;
        background: $ui-table-header;
    }

    @include border-radius(4px);

    width: 100% !important;

    //border-collapse: collapse;
    border: none;
    margin: 1em 0;
    border-spacing: 2px;

    //min-width: 280px !important;

    // adjust to your needs

    tr {
        //border-bottom: 1px solid white;

        th {
            color: white;
            background: $ui-table-header;
            font-weight: bold;

            p {
                font-size: 0.875rem;
                border: none;
                font-weight: bold;
                margin-bottom: 0;
            }
        }
    }

    td {
        display: none;

        // for accessibility, use a visually hidden method here instead! Thanks, reddit!

    }

    td {
        display: block;

        &:first-child {
            padding-top: .5em;
        }

        &:last-child {
            padding-bottom: .5em;
        }

        &:before {
            content: attr(data-th) ": ";

            // who knew you could do this? The internet, that's who.
            font-weight: bold;

            // optional stuff to make it look nicer
            width: 7em;

            // magic number :( adjust according to your own content
            display: inline-block;

            // end options

            @media (min-width: $breakpoint-alpha) {
                display: none;
            }
        }
    }

    tbody td, thead td {
        text-align: left;

        // @media (max-width: $breakpoint-alpha) {
        //     text-align: left !important;
        // }

        @media (min-width: $breakpoint-alpha) {
            display: table-cell;
            padding: .25em .5em;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.table-hide-small {
    @media (max-width: $breakpoint-alpha) {
        border-spacing: 0px;
        display: none !important;
    }

    @media (min-width: 481px) {
        //background: $ui-table-header !important;

        width: 100%;
    }
}

table.responsive {
    tr:nth-of-type(odd) {
        background: none;
        background-color: $white;
        width: 100%;
    }

    tr:nth-of-type(even) {
        background: $ui-table-even;
    }

    background: $white;
    color: #fff !important;
    border-radius: .4em;
    overflow: hidden;
    width: 100%;

    th, td {
        margin: .5em 1em;

        @media #{$small-only} {
            margin: 0;
            padding: ($site-margin / 2) !important;
        }

        @media (min-width: $breakpoint-alpha) {
            padding: 1em 0.5em !important;
        }
    }

    th, td:before {
        width: auto;
    }
}

table.responsive {
    margin: 1em 0;

    //min-width: 300px;

    // adjust to your needs

    @media (max-width: $breakpoint-alpha) {
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        overflow: visible;
    }

    tr {
        //border-top: 1px solid #ddd;
        //border-bottom: 1px solid #ddd;

        @media (max-width: $breakpoint-alpha) {
            @include grid-column(12);

            border-top: none;
            padding: ($site-margin / 2) 0;
        }
    }

    thead td {
        display: none;

        // for accessibility, use a visually hidden method here instead! Thanks, reddit!

    }

    thead tr {
        background: $ui-table-even;
    }

    td {
        display: block;
        border: none;

        @media (max-width: $breakpoint-alpha) {
            &:after {
                content: '';
                display: table;
                clear: both;
            }

            * {
                display: inline-block;
                width: 60%;
                padding-left: 5px;
            }
        }

        &:first-child {
            padding-top: .5em;
        }

        &:last-child {
            padding-bottom: .5em;
        }

        &:before {
            content: attr(data-th) ": ";

            @media (max-width: $breakpoint-alpha) {
                min-height: 20px;
                float: left;
            }

            // who knew you could do this? The internet, that's who.
            font-weight: bold;
            color: $ui-table-header;

            // optional stuff to make it look nicer
            // width: 6.5em;
            width: 40%;
            // margin-right: 0.5em;

            // magic number :( adjust according to your own content
            display: inline-block;

            // end options

            @media (min-width: $breakpoint-alpha) {
                display: none;
            }
        }
    }

    tbody td, thead td {
        //text-align: left !important;

        @media (max-width: $breakpoint-alpha) {
            border: none;
            width: 100%;
        }

        @media (min-width: $breakpoint-alpha) {
            display: table-cell;
            padding: .25em .5em;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}