//when search screen is open you must apply body position fixed
.search-screen-wrap {
    height: 100%;
}

.search-screen {
    @extend .hide-for-large-up;

    visibility: hidden;

    @media #{$large-up} {
        visibility: hidden !important;
    }

    height: 100% !important;
    position: fixed;
    bottom: -100%;
    display: block !important;
    list-style: none;
    padding: 70px 0 0;
    -webkit-overflow-scrolling: touch;

    // max-width: 414px;
    width: 100% !important;
    z-index: 9998;
    overflow: scroll !important;

    @media #{$medium-up} {
        @include box-shadow(0 0 0 3px rgba(0, 0, 0, 0.14));
    }
}

.search-inner {
    opacity: 1;

    @include grid-column(12, $center: true, $collapse: true);

    max-width: 360px;
    height: 100% !important;

    .search-field {
        opacity: 1;
        margin-bottom: 20px;
    }
}

.search-results {
    .search-result {
        cursor: pointer;

        @include grid-row;

        /*prevent text selection*/
        user-select: none;

        /*static positioned elements appear behind absolutely positioned siblings(.ink in this case) hence we will make the links relatively positioned to bring them above .ink*/
        position: relative;
        list-style-type: none;

        /*relative positioning for list items along with overflow hidden to contain the overflowing ripple*/
        position: relative;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;

        a {
            height: 108px;
            display: block;
        }

        &:hover {}

        .search-result__thumb {
            @include grid-column(3, $collapse: true);

            .search-result__thumb__img {
                opacity: 1;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        .search-result__name {
            @include grid-column(8);

            @include vertical-center-parent;

            height: 68px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .search-result__name__inner {
            width: 100%;
            text-align: left;

            @include vertical-center-child;
        }

        .search-result__cta {
            @include grid-column(1, $collapse: true, $float: right);

            @include vertical-center-parent;

            height: 68px;
            margin-top: 20px;
            margin-bottom: 20px;

            &:hover {}

            svg {
                position: absolute;

                @include vertical-center-child;

                width: 100%;
            }
        }
    }
}

.search-result-highlight {
    background-color: #D5D3D3;
}