// featured games section with tabbed contents and game icons
// tabs

.featured-games {
    overflow: hidden;
}

.featured-games > .tabs dd {
//    @include show-for-large-up;

    @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: left, $mcols: 1, $mcollapse: true, $mfloat: left, $lcols: 2, $lcollapse: true, $lfloat: left);

    overflow: hidden;

    &:hover, &.active {}

    &.active {
        background: transparent;
        padding-top: 0;
        overflow: hidden;

        &:hover {}

        a, a:hover {
            border: none;
            color: #8240AE;
            background: #FCFAFC;
            box-shadow: inset 0px 1px 2px 0px rgba(169, 169, 169, 0.5);
            border-radius: 4px;
            height: 26px;
            line-height: 24px;
            padding: 2px;
            padding-top: 1px;
            overflow: hidden;
        }
    }

    margin-right: $site-margin;

    > a, .tabs .tab-title > a {
        background-color: transparent;

        @include vert-align(24px);

        padding: 2px;
        padding-top: 1px;
        font-family: $body-font-bold;
        color: $white;
        font-size: 14px;
        color: #FFFFFF;
        text-shadow: 0px 1px 0px #312741;
        text-align: center;


    }
}

.featured-games {
    .tabs-content {
        margin-bottom: 0;
    }
}
// Game icons within each tab
.lobby-game {
    @include foundation-breaks($scols: 6, $scollapse: true, $sfloat: left, $mcols: 3, $mcollapse: true, $mfloat: left, $lcols: 3, $lcollapse: true, $lfloat: left);

    .game-icon {
        padding: 0.15em;
    }

    @media #{$small-up} {
        padding-bottom: 0.15em;
    }

    @media #{$large-up} {
        padding-bottom: 0;
    }

    &:first-child {
        padding-right: 0;
    }

    &:last-child {
        padding-left: 0;
    }
}

.featured-games-categories {
//    @include hide-for-medium-up;

    -webkit-appearance: initial;
    -moz-appearance: initial;

    @include foundation-breaks($scols: 4, $scollapse: true, $sfloat: right, $mcols: 3, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: right);

    font-size: 12px;
    color: #AFAFAF;
    height: 24px;
    line-height: 10px;
    padding: 0px;
    border: none;
    background-color: transparent;
    max-width: 90px;
    margin-right: 5px;
}

.title__viewall--featured-games {
//    @include show-for-large-up;
}

.f-dropdown.open {
    z-index: 999;
}

.featured-category-dd {
//    @include hide-for-large-up;

    -webkit-appearance: initial;
    -moz-appearance: initial;

    @include foundation-breaks($scols: 4, $scollapse: true, $sfloat: right, $mcols: 3, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: right);

    font-size: 12px;
    color: #C11258;
    height: 24px;
    line-height: 10px;
    padding: 0px;
    border: none;
    background-color: transparent;
    max-width: 90px;
    margin-right: 5px;
    font-family: $body-font-bold;
}

.feature-games-slider {
    @include grid-column(12);

    padding: 0;
    margin: 0;
     margin-bottom: $site-margin;

    .bx-viewport {
        overflow: visible !important;
    }

    .bx-wrapper {
        margin: 0 !important;
        padding-bottom: 8px;
        overflow: hidden;

        ul {
            margin: 0;

            li {
                max-width: 135px;

                .game-icon__title {
                    padding-right: 0;
                }

                .cta-play {
                    width: 100%;
                    margin: 0;
                    margin-top: $site-margin / 4;
                    text-shadow: none;
                }
            }
        }
    }
}