.promotion-eng-banner__container {
    .promotion-eng-banner {
        @include grid-column(12);

        border-radius: 5px; 
        padding: 0px;

        @media #{$medium-only} {
            @include grid-column(12);

            padding: 0px;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0px;
        }

        ul {
            @include grid-column(12);
 
            background-color: #29263E;
            list-style-type: none;
            margin-left: 0px;
            font-size: 12px;
            margin-bottom: 0px;
            padding: 5px;
            padding-left: 10px;

            li {
                margin-right: 5px;
                float: left;

                .title {
                    float: left;
                    margin-right: 5px;
                    color: #fff;
                    margin-top: 3px;

                    @media #{$small-only} {
                        font-size: 12px;
                        float: none;
                        margin-top: 0px;
                    }
                }

                .comp-ends {
                    float: left;
                    margin-right: 10px;
                    color: #303030;
                    font-weight: bolder;
                    border-radius: 20px;
                    background: #fae5ae;
                    font-family: "expo-sans-pro-bold", Helvetica, Arial, sans-serif;
                    font-size: 12px;
                    line-height: 1.6;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 5px;

                    @media #{$small-only} {
                        float: none;
                        font-size: 11px;
                        margin-right: 0px;
                        margin-top: 0px;
                    }
                }

                .comp-entries {
                    float: left;
                    margin-right: 10px;
                    color: #303030;
                    font-weight: bolder;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    background: #fae5ae;
                    font-family: "expo-sans-pro-bold", Helvetica, Arial, sans-serif;
                    font-size: 12px;
                    line-height: 1.6;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 5px;

                    @media #{$small-only} {
                        float: none;
                        font-size: 11px;
                        margin-right: 0px;
                        margin-top: 0px;
                    }
                }
            }
        }
    }

    .get-more-tickets-btton {
        background: #08A600;
        padding: 5px;
        color: #fff;
        font-size: 13px;
        float: right;

        @media #{$small-only} {
            margin-top: 5px;
            margin-right: 5px;
        }

        a {
            color: #fff;
        }
    }
}