//Third Parties Consent Modal
.third-party-consent--modal {
    /*  display: none;  */
    position: fixed; /* Stay in place */
    z-index: 100000 !important !important; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5);

    .third-party-consent--popup {
        position:absolute;
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: 800px;
        height: 100%;
        text-align:center;
        box-shadow: 0 3px 0 0 rgba(0,0,0,0.35);
        padding: 20px 90px;
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;


        @media #{$medium-only} {
            height: 760px;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            top: 50%;
            left: 50%;
            position: fixed;
            overflow: auto;
            padding: 10px 40px;
        }

        @media #{$small-only} {
            height: 680px;
            width: 100%;
            max-width: 365px;
            margin: 0 auto;
            top: 50%;
            left: 50%;
            position: fixed;
            overflow: auto;
            padding: 10px 25px;
        }

        @media only screen and (min-width: 320px) and ( max-width: 360px ){
            height:100%;
            width:100%;
            max-width:320px;
            margin:0 auto;
            top:50%;
            left:50%;
            position:fixed;
            overflow:auto;
            max-height:600px;
        }

        h1 {
            font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
            font-weight: bold;
            color: #030104;
            font-size: 24px;
            line-height: 28px;
            text-transform: none;
            padding-top: 25px;

            @media #{$small-only} {
                padding-top: 10px;
            }
        }


        .title {
            text-align: left;
            font-size: 16px;
            color: #000;

            p {
                padding-top: 25px;
                font-weight: bold;

                @media #{$small-only} {
                    padding-top: 15px;
                    font-size: 14px;
                }
            }
        }

        .copy {
            p {
                font-size: 15px;
                text-align: left;
                color: #000;

                @media #{$small-only} {
                    font-size: 14px;
                }
            }
        }

        .trusted-parties {
            ul {
                text-align: left;
                padding-left: 20px;
                margin-bottom: 0;
                color: #000000;

                li {
                    list-style-type: disc;
                }
            }
        }

        /* The container */
        .checkbox-trusted-parties {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            text-align: left;
        }

        .trusted-parties-list {
            list-style-type: none;
            padding-left: 20px;
        }

        label {
            color: #000;
        }

        /* Hide the browser's default checkbox */
        .checkbox-trusted-parties input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        /* Create a custom checkbox */
        .checkmark-trusted-parties {
            position: absolute;
            top: 0;
            left: 0;
            height: 22px;
            width: 22px;
            border: 1px solid #000;
            border-radius: 4px;
        }

        /* When the checkbox is checked, add a blue background */
        .checkbox-trusted-parties input:checked ~ .checkmark-trusted-parties {
            background-color: #fff;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark-trusted-parties:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .checkbox-trusted-parties input:checked ~ .checkmark-trusted-parties:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .checkbox-trusted-parties .checkmark-trusted-parties:after {
            left: 7px;
            top: 3px;
            width: 6px;
            height: 11px;
            border: solid black;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);

        }

         .info {
            p {
                font-size: 12px;
                text-align: left;
                color: #909297;
                padding-top: 25px;

                strong {
                    color: #000;
                }
            }
        }

        .btn-continue {
            margin: 0 auto;
            padding: 15px;
            margin-top: 50px;
            margin-bottom: 30px;


            a {
                width: 200px;
                background: #3FC27C;
                color: #fff;
                font-weight: bold;
                border-radius: 50px;
                padding: 15px 60px;
            }
        }
    }
}




// Main place holders
.content-wrapper {
    width: 100%;
    position: relative;
    @media #{$small-up} {
        margin-top: 0px;
    }
    @media #{$large-up} {
        margin-top: 0px;
    }
}
.content-wrapper-overlay {
     position:absolute;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     background-color: transparentize(black, 0.5);
     z-index: -10;
     &.is-active {
          z-index: 10;
     }
}

.content-wrapper--logged-in{

    @media #{$large-up} {
        margin-top: 0px;
    }
}

.content-template{
    height:100%
}

.top-content {
    margin-top: 0.8em;
    @media #{$small-only} {
        margin-top: 0px;
    }
    @include grid-column(12, $collapse: true);
    .top-content__left {
        @include grid-column(9);
        padding: 0px;
    }
    .top-content__right {
        @include grid-column(3);
        padding: 0px;
    }
}

.games-pages{
    padding: 0;
}

.bottom-content {
    @include grid-row;
}

// --------------------------
// ----- LAYOUT Templates
// --------------------------

.three-columns-container {
    .three-columns-container__left, .three-columns-container__right {
        float: left;
        @media #{$small-only} {
            display: none;
        }
        @media #{$medium-up} {
            @include grid-column(3);
        }
    }
    .three-columns-container__centre {
        float: left;
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(6);
        }
    }
}

.three-equal-columns-container {
    height: 100%;
    @include grid-column(12, $collapse: true);
    .three-equal-columns-container__left {
        height: 100%;
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(4, $collapse: true);
            padding-right: 0.9em;
            padding-left: 0em;
        }
    }
    .three-equal-columns-container__right {
        height: 100%;
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(4, $collapse: true);
            // padding-right:1em;
            padding-right: 0em;
            padding-left: 0.4em;
        }
    }
    .three-equal-columns-container__centre {
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(4, $collapse: true);
            padding-right: 0.4em;
            padding-left: 0em;
        }
    }
}

.two-columns-layout {
    .two-columns-layout__left, .two-columns-layout__right {
        float: left;
    }
    @media #{$small-only} {
        .two-columns-layout__left, .two-columns-layout__right {
            @include grid-column(12);
            padding: 0px;
        }
    }
    @media #{$medium-up} {
        .two-columns-layout__left {
            @include grid-column(9);
            padding-left: 0px;
        }
        .two-columns-layout__right {
            @include grid-column(3);
            padding-right: 0px;
            padding-left: 0px;
        }
    }
}

.two-equal-columns-layout {
    .two-equal-columns-layout__left, .two-equal-columns-layout__right {
        float: left;
    }
    @media #{$small-only} {
        .two-equal-columns-layout__left, .two-equal-columns-layout__right {
            @include grid-column(12);
            padding: 0px;
        }
    }
    @media #{$medium-up} {
        .two-equal-columns-layout__left {
            @include grid-column(6);
            padding-left: 0px;
            padding-right: 0px;
        }
        .two-equal-columns-layout__right {
            @include grid-column(6);
            padding-right: 0px;
            padding-left: 0px;
        }
    }
}

.two-columns-layout-reverse {
    .two-columns-layout-reverse__left, .two-columns-layout-reverse__right {
        float: left;
    }
    @media #{$small-only} {
        .two-columns-layout-reverse__left, .two-columns-layout-reverse__right {
            @include grid-column(12);
            padding: 0px;
        }
    }
    @media #{$medium-up} {
        .two-columns-layout-reverse__left {
            @include grid-column(3);
            padding-left: 0px;
            padding-right: 0px;
        }
        .two-columns-layout-reverse__right {
            @include grid-column(9);
            padding-right: 0px;
        }
    }
}

.text-left {
    text-align: left !important;
}

.float-right {
    width:10%;
    float:right;
}





.tc-privacy-modal {
 /*  display: none;  */
    position: fixed; /* Stay in place */
    z-index: 1000000000 !important; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5);

    .tc-privacy-popup {

          position:absolute;
          top:50%;
          left:50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          background-color: #FAFAFC;
          color: #000;
          border-radius:3px;
          height: 100%;
          width: 800px;
          z-index:3;
          text-align:center;
          box-shadow: 0 3px 0 0 rgba(0,0,0,0.35);
          margin-bottom: 15px;
          overflow-y: scroll;

           @media #{$medium-only} {
             height:100%;
             width:100%;
             max-width: 700px;
             margin:0 auto;
             top:50%;
             left:50%;
             position:fixed;
             overflow:auto;
             max-height:950px;
         }

          @media #{$small-only} {
             height:100%;
             width:100%;
             max-width:365px;
             margin:0 auto;
             top:50%;
             left:50%;
             position:fixed;
             overflow:auto;
             max-height:600px;
         }

         @media only screen and (min-width: 320px) and ( max-width: 360px ){
             height:100%;
             width:100%;
             max-width:365px;
             margin:0 auto;
             top:50%;
             left:50%;
             position:fixed;
             overflow:auto;
             max-height:600px;
         }

         .checkboxes {

            text-align:left;
            padding-left:64px;
            margin-top:15px;

            @media #{$small-only} {
                padding-left: 20px;
            }

            input[type="checkbox"] {
                 -webkit-appearance:none;
                width:20px;
                height:20px;
                background:white;
                border-radius:5px;
                border:1px solid #000;
                margin:0px;
            }

            input[type="checkbox"] + label {
                vertical-align:4px;
            }
         }
        .step-icons {
            width: 7%;
            margin: 0 auto;
            margin-top: 47px;
            .ovals {
                margin: 0 auto;

                .oval-1 {
                    box-sizing: border-box;
                    height: 15px;
                    width: 15px;
                    border: 1px solid #73767C;
                    border-radius: 50%;
                    float: left;
                    background-color: #73767C;
                    margin-bottom:20px;
                }
                .oval-2 {
                    box-sizing: border-box;
                    height: 15px;
                    width: 15px;
                    border: 1px solid #73767C;
                    border-radius: 50%;
                    float: right;
                    margin-bottom:20px;

                }
            }

        }


          .title {

               h1 {
                    font-size: 22px;
                    font-weight: bold;
                    line-height: 26px;
                    text-align: center;
                    margin-top:37px;
                    color: #000 !important;

                    @media #{$small-only} {
                        font-size: 18px;
                    }
               }
          }

          .copy {
            padding-left:64px;
            padding-right:64px;
            text-align:left;

            @media #{$small-only} {
                padding-left: 20px;
                padding-right: 20px;
            }

               p {
                    font-size: 16px;
                    line-height: 27px;
                    margin-top:37px;

                    @media #{$small-only} {
                        font-size: 14px;
                    }

               }
          }

          .tc-copy, .privacy-copy {

            padding-left:64px;
            padding-right:64px;
            text-align:left;
            margin-top:36px;
            margin-bottom: 30px;

            @media #{$small-only} {
                padding-left: 20px;
                padding-right: 20px;
                margin-bottom: 30px;
            }

                .list-title {
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 18px;
                    margin-bottom:18px;
                }

                a {
                    color: #4A90E2;
                    text-decoration: underline;
                }

                ol {
                    li {
                        font-size: 13px;
                        line-height:24px;
                        margin-bottom:11px;
                    }
                }

                span {
                    font-size:13px;
                    line-height:18px;
                    font-weight:bold;
                }
          }

          .checkbox-holder {
                width: 100%;

                .checkbox-align {
                    text-align: center;
                    label {

                     @media only screen and (min-width: 320px) and ( max-width: 360px ){
                        text-align: left;
                        font-size: 0.72rem;
                     }

                    }
                    @media #{$small-only} {
                        text-align: left;
                        padding-left: 25px;
                    }

                     @media #{$medium-only} {
                        text-align: left;
                        padding-left: 195px;
                    }
                }

                @media #{$large-up} {
                    .checkbox-align:nth-child(2) {
                        padding-left: 9px;
                    }
                }
          }

          .btn-holder {
            margin-top:30px;
            margin-bottom: 30px;

            .btn {
                display: inline-block;
                font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
                font-weight: 400;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                border: 1px solid transparent;
                padding: .375rem .75rem;
                font-size: 12px;
                line-height: 1.5;
                border-radius: 20px;
                width:185px;
                height:45px;


                &.tc-btn {
                   border-color:#8F9297;

                   h5 {
                        color:#8F9297;
                        font-size:16px;
                        margin-top: 5px;
                   }
                }

                &.not-agree {
                    margin-right:25px;

                    @media #{$small-only} {
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                }

                &.next {
                    background-color:#43AC6A;
                    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
                    cursor: pointer;

                   @media #{$small-only} {
                        margin-bottom: 20px;
                    }

                    h5 {
                        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
                        color:#fff;
                        text-transform: none;
                    }
                }
                &.disabled {
                    background-color:#8F9297;
                    cursor: not-allowed;
                }
            }
          }


    }
}

