// Completely hide the element
.u-hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    position: absolute !important;
    left: -99999999px !important;
    z-index: -99999999999 !important;
}

// Fix floating children by adding u-clearfix to the parent container
.u-clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.receive-bonus {
    span {
        p {
            margin-bottom:10px;
        }
    }
    .edit-point {
        &:last-of-type {
            margin-left:130px;
        }
    }
}