.welcome-post-reg__content {
     section {
          ul {
               li {
                    &:only-of-type {
                         padding: 0;
                         width: 98%;
                         padding-left: 0;
                         padding-right: 0;
                    }

                    @media #{$small-only} {
                         @include grid-column(12);
                         padding: 0;
                         width: 100%;
                         margin: 2%;
                         // height: 150px;
                         // min-height: 150px;
                         // overflow: hidden !important;
                         &:only-of-type {
                              width: 100%;
                         }
                    }
               }
          }
     }
}
.welcome-post-reg__modal__continue {
     text-align: center;
}
