.footer {
    background: $footer-background;
    display: block;
    margin: 0 auto;
    padding-bottom: rem-calc(50px);
}

.footer--inner {
    max-width: rem-calc(1440px);
    margin: 0 auto;
}

.footer__row {
    width: 100%;
}

.footer__payments {
        display: table;
    margin: 0 auto;
    text-align: center;
}

.footer__payments--wrapper {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: rem-calc(35px);
    padding-bottom: rem-calc(25px);
    padding-left: rem-calc(5px);
    padding-right: rem-calc(5px);
    @media #{$large-up} {
        width: rem-calc(660px);
        padding-top: rem-calc(50px);
        padding-bottom: rem-calc(50px);
    }
    @media #{$medium-only} {}
}

%svg {
    width: 100%;
    height: rem-calc(35px);
}

.footer__payments--icons {
    display: inline-block;
    float: none;
    list-style: none;
    padding: rem-calc(10px) rem-calc(10px);
    height: 50px;
    vertical-align: middle;
    svg {
        @extend %svg;
    }
    @media #{$large-up} {
        float: left;
        display: block;

    }
    @media #{$medium-only} {}
}

// IE11 bug - SVGs within width and height defined causes an issue, solution is remove the dimensions off the SVG and place in the CSS.
.icons-paypal {
    svg {
        width:111px;
        height:30px;
    }
}

.icons-maestro {
    padding-top:5px;
    svg {
        width:47px;
        height:36px;
    }
}

.icons-mastercard {
    padding-top:5px;
        svg {
        width:47px;
        height:36px;
    }
}

.icons-visa {
        svg {
        width:69px;
        height:30px;
    }
}

.icons-paysafecard {
        svg {
        width:124px;
        height:30px;
    }
}

.icons-neteller {
        svg {
        width:106px;
        height:30px;
    }
}

.footer__row {}

.footer__legal {
    p {
        font-family: $font-copy;
        font-size: rem-calc(14px);
        line-height: rem-calc(23px);
        color: $footer-fontcolor;
        letter-spacing: 0.03px;
        text-align: center;
        padding: rem-calc(0px) rem-calc(20px);
        @media #{$large-up} {

        }
    }
}

.footer__compliance--wrapper {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:rem-calc(40px);
    text-align: center;
    @media #{$large-up} {
        width: rem-calc(850px);

    }
    @media #{$medium-only} {
        padding:0 3em;
    }
}

.footer__compliance {
    display: table;
    margin: 0 auto;
    li {
        padding: rem-calc(10px);
        list-style: none;
        display: inline-block;
        float: none;
        margin-bottom: rem-calc(20px);
        @media #{$large-up} {
            float: left;
            display: block;
                margin-bottom: rem-calc(0px);
        }
        a {
            display: block;
            &:hover {
                #footer__compliance {
                    fill: $footer-menu--hover;
                }
                #footer__compliance--stroke {
                    stroke: $footer-menu--hover;
                }
                .alderney-logo {
                     polygon,
                     path {
                          fill: $footer-menu--hover;
                     }
                     .lion {
                          fill: #000;
                     }
                     .line {
                          stroke: $footer-menu--hover;
                     }
                }
            }
        }
    }

}

.footer__social--wrapper {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: rem-calc(50px);
    // margin-bottom: rem-calc(50px);
    @media #{$large-up} {
        width: rem-calc(850px);
        // height: rem-calc(113px);
        margin-top: rem-calc(0px);
        margin-bottom: rem-calc(0px);
        padding:rem-calc(40px) rem-calc(0px) rem-calc(40px) rem-calc(0px);
    }

    @media #{$small-only} {
        margin-bottom: rem-calc(120px);
    }
    @media #{$medium-only} {
        margin-bottom: rem-calc(120px);
    }
}

.footer__social {
    display: table;
    margin: 0 auto;
    li {
        float: left;
        padding: rem-calc(10px);
        list-style: none;
        a {
            display: block;
            &:hover {
                #footer-social {
                    fill: $footer-menu--hover;
                }
            }
        }
    }
}

.footer__nav--wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: rem-calc(0px) rem-calc(20px) rem-calc(100px) rem-calc(20px);
    width: 100%;
    height: auto;
    @media #{$large-up} {
        width: rem-calc(1250px);
        padding-bottom: 54px;
    }

        @media #{$medium-only} {
       padding: rem-calc(0px) rem-calc(80px) rem-calc(100px) rem-calc(80px);
    }
}

.footer__nav {
    font-family: $font-menu;
    font-size: rem-calc(14px);
    text-transform: uppercase;
    display: table;
    margin: 0 auto;
    @media #{$large-up} {
        display: table;
        margin: 0 auto;
    }
    li {
        display: inline-block;
        float: none;
        padding: rem-calc(5px) rem-calc(5px) rem-calc(5px) rem-calc(0px);
        list-style: none;
        @media #{$large-up} {
            display: block;
            float: left;
            padding: rem-calc(5px) rem-calc(10px) rem-calc(5px) rem-calc(10px);
        }
    }
}

.footer__nav--items {
    color: $footer-menu-color;
    &:hover {
        color: $footer-menu--hover;
    }
}

.affiliates-hide_mobile {
    @media #{$small-only} {
        display:none !important;
    }
}
