            <!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
            <![endif]-->
            <!-- Email Body : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">
    <!-- Hero Image, Flush : BEGIN -->
    <tr>
        <td bgcolor="#ffffff">
            <a target='_blank' href="https://www.kingjackcasino.com" xt="SPCLICK" name="main-image">
                        <img src="http://mailers.communicatormail.com/kingjack/images/birthday-bonus-1360x600.jpg" width="680" height="" alt="main-image" border="0" align="center" class="fluid" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" class="g-img"></a>
        </td>
    </tr>
    <!-- Hero Image, Flush : END -->
                <!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
            <![endif]-->
    <tr style="background-color: #fff;">
        <td style="font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left; word-break: normal; background-color: #fff;">
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">%%Firstname%% it's time to celebrate!</p>
                <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">We hope you are already being treated like a <strong><i>King</i></strong> today, as now it’s time to put on your crown and kick-start your celebrations in style…</p>
                <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">The King has a special birthday gift for you - head over to King Jack Casino where you’ll be rewarded with an exclusive <strong>Birthday bonus,</strong> just simply login and enter claim code <strong>BIRTHDAY</strong>.</p>
                <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">Unwrap it and play all your favourite games!</p>
                <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #5c2a80; text-align: left;"><strong>The King Jack Casino VIP Team</strong></p>
                <br>
            </tr>
        </table>
    </td>
    </tr>
    <tr style="background-color: #fff;">
        <td style="font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left; word-break: normal; background-color: #fff;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px; background: #ececec;">
            <td valign="top" align="center">
                <div style="max-width: 680px; margin: auto;" class="email-container">
                        <td style="padding: 20px 20px 0px 20px; text-align: center; font-family:arial, sans-serif; font-size: 12px; line-height: 20px; color: #737373;">
                            <p style="margin: 0;"><a target='_blank' href="https://www.kingjackcasino.com/terms-and-conditions/general-promotional-terms-and-conditions/" xt="SPCLICK" name="general-promotional-tcs" style="text-decoration:underline; color: #737373;">Click here</a> for the birthday bonus gift T&Cs.</p>
                        </td>
                </div>
            </td>
    </table>
    </td>
    </tr>
</table>
<!-- Email Body : END -->