            <!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
            <![endif]-->
<!-- Email Body : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">
    <!-- Hero Image, Flush : BEGIN -->
    <tr>
        <td bgcolor="#ffffff">
            <a target='_blank' href="https://www.kingjackcasino.com" xt="SPCLICK" name="main-image">
            <img src="http://mailers.communicatormail.com/kingjack/images/forgot-password-1360x600.jpg" width="680" height="" alt="main-image" border="0" align="center" class="fluid" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" class="g-img"></a>
        </td>
    </tr>
    <!-- Hero Image, Flush : END -->
                <!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
            <![endif]-->
    <tr>
        <td bgcolor="#ffffff">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">Hi %%Firstname%%</p>
                    <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">We’re following up on your recent request to change your password on King Jack Casino.</p>
                    <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">To reset your password please click on the link below which will take you to a page where you will be able to securely and safely reset your password.</p>
                    <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;"><strong><a target='_blank' href="https://www.kingjackcasino.com/forgot-password?PlayerID=%%PlayerID%%&GUID=%%GUID%%" xt="SPCLICK" name="reset-password" style="text-decoration:underline; color:#555555;">Reset Password Here</strong></a></p>
                    <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">Once you have retrieved your password, make sure you make a note of your login details and be sure to keep them safe for next time.</p>
                    <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">If you need any more help, feel free to contact our friendly Support Team.</p>
            </table>
        </td>
    </tr>
                <!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
            <![endif]-->
                    <!-- 2 Even Columns : BEGIN -->
                    <tr>
                        <td bgcolor="#ffffff" align="center" height="100%" valign="top" width="100%" style="padding: 10px 0; padding-bottom: 40px;">
                            <!--[if mso]>
                            <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660">
                                <tr>
                                    <td align="center" valign="top" width="660">
                                        <![endif]-->
                                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:660px;">
                                            <tr>
                                                <td align="center" valign="top" style="font-size:0;">
                                                    <!--[if mso]>
                                                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660">
                                                        <tr>
                                                            <td align="left" valign="top" width="220">
                                                                <![endif]-->
                                                                <div style="display:inline-block; margin: 0 -2px; max-width:33.33%; min-width:220px; vertical-align:top; width:100%;" class="stack-column">
                                                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                                        <tr>
                                                                            <td style="padding: 10px 10px;">
                                                                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align: left;">
                                                                                    <td>
                                                                                        <a target='_blank' href="https://www.kingjackcasino.com" xt="SPCLICK" name="cross-sell-image-1">
                                                                                            <img src="http://mailers.communicatormail.com/kingjack/images/lucky-leprechaun-400x400.jpg" width="200" height="" border="0" alt="lucky-leprechaun" class="center-on-narrow" style="width: 100%; max-width: 200px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                                                                                        </a>
                                                                                    </td>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                                <!--[if mso]>
                                                            </td>
                                                            <td align="left" valign="top" width="220">
                                                                <![endif]-->
                                                                <div style="display:inline-block; margin: 0 -2px; max-width:33.33%; min-width:220px; vertical-align:top; width:100%;" class="stack-column">
                                                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                                        <tr>
                                                                            <td style="padding: 10px 10px;">
                                                                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align: left;">
                                                                                    <a target='_blank' href="https://www.kingjackcasino.com" xt="SPCLICK" name="cross-sell-image-2">
                                                                                        <img src="http://mailers.communicatormail.com/kingjack/images/starburst-400x400.jpg" width="200" height="" border="0" alt="starburst" class="center-on-narrow" style="width: 100%; max-width: 200px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                                                                                    </a>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                                <!--[if mso]>
                                                            </td>
                                                            <td align="left" valign="top" width="220">
                                                                <![endif]-->
                                                                <tr>
                                                                    <td>
                                                                        <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">See you in the Casino!</p>
                                                                        <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #5c2a80; text-align: left;"><strong>The King Jack Casino Team</strong></p>
                                                                    </td>
                                                                </tr>
                                                 </td>
                                            </tr>
                                     </table>
                            </td>
                    </tr>
</table>
<!-- Email Body : END -->
