            <!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
            <![endif]-->
<!-- Email Body : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">
    <!-- Hero Image, Flush : BEGIN -->
    <tr>
        <td bgcolor="#ffffff">
            <a target='_blank' href="https://www.kingjackcasino.com" xt="SPCLICK" name="main-image">
            <img src="http://mailers.communicatormail.com/kingjack/images/payment-confirmation-mailer.jpg" width="680" height="" alt="main-image" border="0" align="center" class="fluid" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" class="g-img"></a>
        </td>
    </tr>
    <!-- Hero Image, Flush : END -->
            <!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
            <![endif]-->
    <tr style="background-color: #fff;">
        <td style="padding: 40px 40px 20px; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left; word-break: normal; background-color: #fff;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="background-color: #fff;">
                <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">Hi %%Firstname%%</p>
                <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">Congratulations on making your first deposit! We hope you enjoy the fine selection of royal games.</p>
                <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">Are you ready for more? The King loves to reward his loyal players. With new slots always launching and the wish for never-ending fun, here is another <strong>50% BONUS UP TO &pound;50</strong> for you to enjoy!</p>
                <td style="padding-bottom: 30px;">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="background-color: #ececec;">
                        <td style="padding: 40px 40px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">
                            <h2 style="color: #600a98; font-family: 'Arial Black', sans-serif; font-size: 22px; text-align: center;"><span style="font-family: 'avenir-heavy', 'Arial Black', sans-serif !important;"> How to Claim</h2></span>
                            <ol style="list-style-type: disc; list-style-position: inside; text-indent: -1em;"><strong style="color: #600a98; font-family: 'Arial Black', sans-serif; font-size: 20px;"><span style="font-family: 'avenir-heavy', 'Arial Black', sans-serif !important;">1.</strong> Login to KingJackCasino.com with your username: USERNAME and password</ol></span>
                            <ol style="list-style-type: disc; list-style-position: inside; text-indent: -1em;"><strong style="color: #600a98; font-family:'Arial Black', sans-serif; font-size: 20px;"><span style="font-family: 'avenir-heavy', 'Arial Black', sans-serif !important;">2.</strong> Select your '50% 2nd Deposit Bonus' in the cashier</ol></span>
                            <ol style="list-style-type: disc; list-style-position: inside; text-indent: -1em;"><strong style="color: #600a98; font-family: 'Arial Black', sans-serif; font-size: 20px;"><span style="font-family: 'avenir-heavy', 'Arial Black', sans-serif !important;">3.</strong> Your 50% bonus will show in your account right away - up to &pound;50</ol></span>
                            <ol style="list-style-type: disc; list-style-position: inside; text-indent: -1em;"><strong style="color: #600a98; font-family: 'Arial Black', sans-serif; font-size: 20px;"><span style="font-family: 'avenir-heavy', 'Arial Black', sans-serif !important;">4.</strong> Use your bonus to play our thrilling range of games on any device!</ol></span>
                        
                        <!-- Button : BEGIN -->
                        <table border="0" cellpadding="10" cellspacing="0" width="150"  align="center" >
                            <tr>
                                <td align="center" style="background: #ececec; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; border: 2px solid #fed500; font-family: arial, sans-serif; font-size: 18px; text-align: center; float: left; padding: 10px 20px;" valign="top">
                                    <a target='_blank' href="https://www.kingjackcasino.com" xt="SPCLICK" style="color: #5c2a80; display: block; font-size: 18px; font-weight: bold; text-align: center; text-decoration: none; margin:0 auto; font-family:Arial, Helvetica, sans-serif;">Claim Now</a>
                                </td>
                            </tr>
                        </table>
                        </td>
                        <!-- Button : END -->
                                    <!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
            <![endif]-->
                        <!-- 2 Even Columns : BEGIN -->
                        <tr>
                            <td bgcolor="#ffffff" align="center" height="100%" valign="top" width="100%">
                                <!--[if mso]>
                                <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660">
                                    <tr>
                                        <td align="center" valign="top" width="660">
                                            <![endif]-->
                                            <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:660px;">
                                                <td align="center" valign="top" style="font-size:0; padding-top: 20px;">
                                                    <!--[if mso]>
                                                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660">
                                                        <tr>
                                                            <td align="center" valign="top" width="220">
                                                                <![endif]-->
                                                                <div style="display:inline-block; margin: 0 -2px; max-width:33.33%; min-width:220px; vertical-align:top; width:100%;" class="stack-column">
                                                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                                        <td style="padding: 10px 10px;">
                                                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align: left;">
                                                                                <td>
                                                                                    <a target='_blank' href="https://www.kingjackcasino.com" xt="SPCLICK" name="cross-sell-image-2">
                                                                                        <img src="http://mailers.communicatormail.com/kingjack/images/gonzos-quest-400x400.jpg" width="200" height="" border="0" alt="gonzos-quest" class="center-on-narrow" style="width: 100%; max-width: 200px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                                                                                    </a>
                                                                                </td>
                                                                            </table>
                                                                        </td>
                                                                    </table>
                                                                </div>
                                                                <!--[if mso]>
                                                            </td>
                                                            <td align="center" valign="top" width="220">
                                                                <![endif]-->
                                                                <div style="display:inline-block; margin: 0 -2px; max-width:33.33%; min-width:220px; vertical-align:top; width:100%;" class="stack-column">
                                                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                                        <td style="padding: 10px 10px;">
                                                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align: left;">
                                                                                <td>
                                                                                    <a target='_blank' href="https://www.kingjackcasino.com" xt="SPCLICK" name="cross-sell-image-2">
                                                                                        <img src="http://mailers.communicatormail.com/kingjack/images/lady-luck-deluxe-400x400.jpg" width="200" height="" border="0" alt="lady-luck-deluxe" class="center-on-narrow" style="width: 100%; max-width: 200px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                                                                                    </a>
                                                                                </td>
                                                                            </table>
                                                                        </td>
                                                                    </table>
                                                                </div>
                                                                <!--[if mso]>
                                                            </td>
                                                            <td align="center" valign="top" width="220">
                                                                <![endif]-->
                                                                <tr>
                                                                <td>
                                                                <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">See you in the Casino!</p>
                                                                <p style="padding: 0px 40px 20px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #5c2a80; text-align: left;"><strong>The King Jack Casino Team</strong></p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px; background: #ececec;">
                                                        <tr>
                                                            <td valign="top" align="center">
                                                                <div style="max-width: 680px; margin: auto;" class="email-container">
                                                                    <td style="padding: 20px 20px 0px 20px; text-align: center; font-family:arial, sans-serif; font-size: 12px; line-height: 20px; color: #c9c9c9;">
                                                                        <p style="margin: 0;"><a target='_blank' href="https://www.kingjackcasino.com/terms-and-conditions/general-promotional-terms-and-conditions/" xt="SPCLICK" name="general-promotional-tcs" style="text-decoration:underline; color: #c9c9c9;">Click here</a> 2nd deposit bonus T&C apply.</p>
                                                                    </td>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- Email Body : END -->