            <!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
            <![endif]-->
<!-- Email Body : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">
    <!-- Hero Image, Flush : BEGIN -->
    <tr>
        <td bgcolor="#ffffff">
            <a target='_blank' href="https://www.kingjackcasino.com" xt="SPCLICK" name="main-image">
            <img src="http://mailers.communicatormail.com/kingjack/images/welcome-mailer-30-1360x600.jpg" width="680" height="" alt="main-image" border="0" align="center" class="fluid" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" class="g-img"></a>
        </td>
    </tr>
    <!-- Hero Image, Flush : END -->
            <!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
            <![endif]-->
    <!-- 1 Column Text + Button : BEGIN -->
    <tr>
        <td bgcolor="#ffffff">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">To faithful subject, %%Firstname%% %%Lastname%%
                    <br>Username: %%Alias%%</p>
                    <br>
                    <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">A warm welcome to King Jack Casino! Come on down to Big Bucks Palace and start living like royalty with our prestigious offer:</p>
                </tr>
            </tr>
            <td style="padding: 40px 40px 20px; text-align: center; background-color: #fff;">
                <h1 style="margin: 0; font-family: 'Arial Black', sans-serif ;font-size: 30px; line-height: 1.2; color: #600a98; font-weight: bold;">
                <span style="font-family: 'avenir-heavy', 'Arial Black', sans-serif !important;">Claim Up To 30 Royal Spins On Your First Deposit Now!</h1>
                </td>
            </tr>
            <tr>
                <td style="padding: 0 40px 20px; font-family: arial, sans-serif; font-size: 15px; line-height: 23px; color: #555555; text-align: center; background-color: #fff;">
                    <p style="margin: 0;"><i>No Wagering – Keep Your Winnings!</i></p>
                    <img src="https://pixel.app.returnpath.net/pixel.gif?r=bf64af354f4f813871894b5747cfe999243100b1" width="1" height="1" />
                    <img src="https://pixel.monitor1.returnpath.net/pixel.gif?r=bf64af354f4f813871894b5747cfe999243100b1" width="1" height="1" />
                </td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td bgcolor="#ececec">
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td style="padding: 40px 80px 35px; font-family: arial, sans-serif; font-size: 15px; line-height: 25px; color: #555555; text-align: left; background-color: #fff;">
                    <h2 style="color: #600a98; font-family: 'Arial Black', sans-serif; font-size: 22px; text-align: center;"><span style="font-family: 'avenir-heavy', 'Arial Black', sans-serif !important;"> The more you deposit, the more fair royal spins you are awarded:</h2></span>
                    <li style="line-height: 30px;">Deposit £10 and receive <strong>10 royal spins</strong></li>
                    <li style="line-height: 30px;">Deposit £20 and receive <strong>20 royal spins</strong></li>
                    <li style="line-height: 30px;">Deposit £30 or more and receive <strong>30 royal spins</strong></li>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>

<!-- 1 Column Text + Button : END -->
 <!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
            <![endif]-->
<!-- 1 Column Text + Button : BEGIN -->
<tr>
    <td bgcolor="#ececec">
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td style="padding: 40px 80px 35px; font-family: arial, sans-serif; font-size: 15px; line-height: 25px; color: #555555; text-align: left;">
                    <h2 style="color: #600a98; font-family: 'Arial Black', sans-serif; font-size: 22px; text-align: center;"><span style="font-family: 'avenir-heavy', 'Arial Black', sans-serif !important;"> How to Claim</h2></span>
                    <li style="line-height: 30px;">Go to KingJackCasino.com and login with your username: %%Alias%%</li>
                    <li style="line-height: 30px;">Head over to the cashier, and make your first deposit</li>
                    <li style="line-height: 30px;">That’s it! Enjoy your royal spins on exclusive slots</li>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <tr>
        <td style="padding: 40px 40px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 25px; color: #555555; text-align: left; background-color: #fff;">
            <h2 style="color: #600a98; font-family: 'Arial Black', sans-serif; font-size: 22px; text-align: center;"><span style="font-family: 'avenir-heavy', 'Arial Black', sans-serif !important;">Enjoy your fair spins on royally-appointed games…</h2></span>
            <p>The King himself has selected these household name slots for you %%Firstname%%:</p>
            <p style="text-align: center;"><strong>~  Lady Luck Deluxe    ~    Thunder Cat    ~    Cutie Fruits   ~    Wild Lion  ~   The Lost Slot of Riches   ~
			Rainbow Phoenix   ~    The 3 Panditos   ~   Mighty Zeus   ~</strong>
            </p>
         <!--    <p><i>But madcap Jack wasn’t going to let him get away with just that!</i></p>
            <p>The jester always has a trick up his sleeve, and that’s why you can enjoy your bonus on these exclusive slots too:</p>
            <p><strong>~ Jungle Fever    ~    Mustang Millions    ~    Lady Luck Deluxe   ~    Lucky Leprechaun  ~
            </strong></p> -->
            <p>The cream of the crown awaits you %%Firstname%%… claim your Welcome Offer and play for kingly wins today!</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 40px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; background-color: #fff;">
            <!-- Button : BEGIN -->

            <table border="0" cellpadding="10" cellspacing="0" width="150"  align="center" >
                <tr>
                    <td align="center" style="background: #fff; -moz-border-radius: 5px; -webkit-border-radius: 30px; border-radius: 30px; border: 2px solid #fed500; font-family: arial, sans-serif; font-size: 18px; text-align: center; float: left; padding: 10px 20px;" valign="top">
                        <a target='_blank' href="https://www.kingjackcasino.com" xt="SPCLICK" style="color: #5c2a80; display: block; font-size: 18px; font-weight: bold; text-align: center; text-decoration: none; margin:0 auto; font-family:Arial, Helvetica, sans-serif;">Claim Now</a>
                    </td>
                </tr>
            </table>

            <!-- Button : END -->

        </td>
    </tr>
</tr>
 <!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
            <![endif]-->
<td style="background-color: #fff;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td>
                <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">Best of Luck</p>
                <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #5c2a80; text-align: left;"><strong>The King Jack</strong></p>
            </td>
        </tr>
    </table>
</td>
</tr>
</table>
<!-- Email Body : END -->
