<!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
<![endif]-->
<!-- Email Body : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">
    <tr>
        <td bgcolor="#ffffff">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <p style="padding: 0px 40px; padding-top:20px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">Hi %%Firstname%%</p>

                    <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">Your King Jack Casino account has been temporarily locked due to consecutive failed log-in attempts. Please contact the call center to re-activate you account:</p>
                    <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;"><a target='_blank' href="https://www.kingjackcasino.com/support/" xt="SPCLICK" name="unlock-account" style="text-decoration:underline; color:#555555;"><strong>Contact Support</strong></a></p>

                    <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">Forgotten your password? Please use the “forgotten password” link on the homepage or contact our friendly support team who are happy to help you.</p>
                </tr>
            </table>
        </td>
<!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
<![endif]-->
                    <!-- 2 Even Columns : BEGIN -->
                    <tr>
                        <td bgcolor="#ffffff" align="center" height="100%" valign="top" width="100%" style="padding: 10px 0; padding-bottom: 40px;">
                            <!--[if mso]>
                            <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660">
                                <tr>
                                    <td align="center" valign="top" width="660">
                                        <![endif]-->
                                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:660px;">
                                            <td align="center" valign="top" style="font-size:0;">
                                                <!--[if mso]>
                                                <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660">
                                                    <tr>
                                                        <td align="left" valign="top" width="220">
                                                            <![endif]-->
                                                            <div style="display:inline-block; margin: 0 -2px; max-width:33.33%; min-width:220px; vertical-align:top; width:100%;" class="stack-column">
                                                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                                    <td style="padding: 10px 10px;">
                                                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align: left;">
                                                                            <a target='_blank' href="https://www.kingjackcasino.com" xt="SPCLICK" name="cross-sell-image-1">
                                                                                <img src="http://mailers.communicatormail.com/kingjack/images/jungle-fever-400x400.jpg" width="200" height="" border="0" alt="jungle-fever" class="center-on-narrow" style="width: 100%; max-width: 200px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                                                                            </a>
                                                                        </table>
                                                                    </td>
                                                                </table>
                                                            </div>
                                                        <!--[if mso]>
                                                    </td>
                                                    <td align="left" valign="top" width="220">
                                                        <![endif]-->
                                                        <div style="display:inline-block; margin: 0 -2px; max-width:33.33%; min-width:220px; vertical-align:top; width:100%;" class="stack-column">
                                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                                <tr>
                                                                    <td style="padding: 10px 10px;">
                                                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align: left;">
                                                                            <a target='_blank' href="https://www.kingjackcasino.com" xt="SPCLICK" name="cross-sell-image-2">
                                                                                <img src="http://mailers.communicatormail.com/kingjack/images/fluffy-friends-400x400.jpg" width="200" height="" border="0" alt="fluffy-favourites" class="center-on-narrow" style="width: 100%; max-width: 200px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                                                                            </a>
                                                                        </table>
                                                                     </td>
                                                                 </tr>
                                                            </table>
                                                        </div>
                                                    <!--[if mso]>
                                                </td>
                                                <td align="left" valign="top" width="220">
                                                    <![endif]-->
                                                    <tr>
                                                        <td>
                                                            <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">See you in the Casino!</p>
                                                            <p style="padding: 0px 40px; font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #5c2a80; text-align: left;"><strong>The King Jack Casino Team</strong></p>
                                                        </td>
                                                    </tr>
                                             </td>
                                        </table>
                        </td>
                    </tr>
                                
        </tr>
</table>
                <!-- Email Body : END -->