.pixel-tracker {
    max-width: 1 !important;
    height: 1 !important;
    display: none;
    display: none;
}


.cashierholder {
    .content-template {
        @include grid-column(12);

        padding: 0;
    }
}

.cashier {
    font-family: $font-copy !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-header1 !important;
        font-weight: bold;
        color: #001C4A;
    }

    p {
        font-family: $font-copy !important;
        color: #4C4C4C;
        font-size: 0.9rem;
        font-weight: normal;
        line-height: 1.4;
    }

    .panel.callout h1,
    .panel.callout h2,
    .panel.callout h3,
    .panel.callout h4,
    .panel.callout h5,
    .panel.callout h6 {
        color: #001C4A;
    }
}

.panel a {
    color: #4C4C4C;
    text-decoration: underline;
}

.panel.callout {
    background-color: #DBEAF9;
}

.cashier,
.welcome,
.thank-you {
    overflow: hidden;

    @include grid-row;

    font-size: 1rem;
    margin: 0em auto 2em 0;
    color: black;
    background-color: #F7F9FB;

    @media #{$medium-up} {
        @include border-radius(3px);
    } // ----
    // -- MAIN NAV
    // ----
    .cashier__main-nav {
        padding: 0px;
        background-color: #DBEAF9;
        min-height: 600px;

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);

            height: auto !important;
            min-height: initial !important;
        }

        @media #{$medium-up} {
            @include grid-column(3, $collapse: true);

            height: auto;
        }

        >ul {
            padding: 0px;
            margin: 0px;

            @media #{$small-only} {
                @include grid-column(12, $collapse: true);

                list-style: none;

                >li {
                    @include grid-column(3);

                    text-align: center;
                    font-size: 0.8em;
                    padding: 0.4em;

                    @media #{$small-only} {
                        font-size: 0.6em;
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid $account-blue;

                        @media #{$small-only} {
                            border-right: 1px solid $account-blue;
                        }
                    }
                }
            }

            @media #{$medium-up} {
                @include block-grid(1);

                min-height: 600px;
                margin: 0;
                float: right;
                width: 100%;

                >li {
                    text-align: left;
                    padding: 0.5em 0em 0.5em 0.5em;
                    border-radius: 3px;

                    .cashier__main-nav__deposit {
                        background: url("../_global-library/images/cashier/deposit.png") no-repeat;
                        background-position: 0px center;
                        padding-left: 35px;
                    }

                    .cashier__main-nav__withdraw {
                        background: url("../_global-library/images/cashier/withdraw.png") no-repeat;
                        background-position: 0px center;
                        padding-left: 35px;
                    }

                    .cashier__main-nav__reverse {
                        background: url("../_global-library/images/cashier/reverse.png") no-repeat;
                        background-position: 0px center;
                        padding-left: 35px;
                    }

                    .cashier__main-nav__playerlimits {
                        background: url("../_global-library/images/cashier/limit.png") no-repeat;
                        background-position: 0px center;
                        padding-left: 35px;
                    }

                    .cashier__main-nav__details {
                        background: url("../_global-library/images/cashier/details.png") no-repeat;
                        background-position: 0px center;
                        padding-left: 35px;
                    }
                }
            }

            >li {
                cursor: pointer;
                padding-left: 0.5em;

                @media #{$medium-up} {
                    margin-top: 7px;
                    background-color: #a6d0fb;
                    box-shadow: 0px 1px 0px 0px #8cb1d8;
                    border-radius: 6px;
                    width: 94%;
                    margin-left: 3%;
                }

                @media #{$small-only} {
                    display: table;
                }

                >a {
                    display: block;
                    color: #001C4A;
                    font-weight: bold;

                    @media #{$small-only} {
                        padding: 0.5em 0em 0.5em;
                        line-height: 11px;
                        height: 31px;
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 1.2em;
                    }

                    @media #{$medium-up} {
                        padding: 0.5em 35px 0.5em;
                    }
                }

                &:hover {
                    cursor: pointer;
                    background-color: #BBE0FF;
                    padding-left: 0.5em;

                    >a {
                        display: block;
                        color: $black;

                        @media #{$small-only} {
                            padding: 0.5em 0em 0.5em;
                        }

                        @media #{$medium-up} {
                            padding: 0.5em 35px 0.5em;
                        }
                    }
                }

                &.current {
                    cursor: default;
                    padding-left: 0.5em;
                    background-color: #f7f9fb;

                    @media #{$medium-up} {
                        width: 100%;
                        border-radius: 0px;
                        margin-left: 0;
                        padding-left: 7%;
                        box-shadow: none;

                        &:first-child {
                            margin-top: 0;
                        }
                    }

                    @media #{$small-only} {
                        display: table;
                    }

                    >a {
                        display: block;

                        @media #{$small-only} {
                            padding: 0.5em 0em 0.5em;
                            height: 31px;
                            display: table-cell;
                            text-align: center;
                            vertical-align: middle;
                            font-size: 1.2em;
                        }

                        @media #{$medium-up} {
                            padding: 0.5em 35px 0.5em;
                        }
                    }
                }
            }
        }
    } // -----
    // -- CONTENT WRAPPER
    // -----
    .cashier__content-wrapper {
        min-height: 600px;

        @media #{$small-only} {
            @include grid-column(12,
            $collapse: true);

            min-height: initial !important;
        }

        @media #{$medium-up} {
            @include grid-column(9);

            min-height: 15em;
            padding: 0.9375rem;
        }
    }

    .cashier__content-wrapper--alone {
        @media #{$small-only} {
            @include grid-column(12);
        }

        @media #{$medium-up} {
            @include grid-column(9,
            $center: true, $collapse: true);
        }
    } // -----
    // -- CASHIER LIST
    .cashier__list {
        @include grid-column(12,
        $center: true, $collapse: true);

        >ul {
            list-style: none;
            margin: 0px;

            >li {
                border-radius: 3px;
                border: 1px solid #D9E7F5;
                background: $white url("../_global-library/images/cashier/forward-arrow.png") no-repeat;
                background-position: 99% center;
                margin-top: 0.5em;
                cursor: pointer;
                position: relative;

                @media #{$medium-up} {
                    margin-bottom: 0.5em;
                }

                @include grid-column(12);

                padding: 0.5em;
                font-size: 0.8em;

                @media #{$small-only} {
                    font-size: 0.6em;
                }

                &:first-child {
                    margin-top: 0px;
                }

                &:hover {
                    background-color: $account-blue;
                    border: 1px solid #C2E7FF;
                }

                &:not(.active-state) {
                    a {
                        color: palette(blue, dark);
                    }
                }

                &.active-state {
                    background-color: $account-blue;

                    a {
                        color: $black;
                    }
                }
            }

            .cashier__list__wrapper {
                @include vert-align(40px);

                >a {
                    display: block;
                    height: 100%;
                    padding: 0em;
                    color: $white;
                }

                @media #{$small-only} {
                    >img {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }

            .cashier__list__wrapper:first-child {
                @media #{$medium-up} {
                    @include grid-column(9);
                    padding: 0px;
                }

                @media #{$small-only} {
                    @include grid-column(12);
                    padding: 0px;
                }
            }

            .cashier__list__wrapper.new__methods:first-child {
                @media #{$medium-up} {
                    width: 15%;
                    margin-left: 25px;
                }

                @media #{$small-only} {
                    margin-left: 15px;
                    width: 32%;
                }
            }

            .cashier__list__wrapper:nth-child(2) {
                @media #{$medium-up} {
                    @include grid-column(3);

                    padding: 0px;
                }

                @media #{$small-only} {
                    display: none;
                }
            }

            >a {
                display: block;
                height: 100%;
                padding: 0.5em;
                color: $white;
            }
        }

        .cashier__list__description {
            @media #{$small-only} {
                display: inline-block;
            }
        }

        .cashier__list__expire {
            text-decoration: underline;
            border: 0px 1px 1px 1px solid darken($account-blue, 10%);
            font-size: 0.7em;
            padding: 0.2em;
            text-align: left;
            color: $black;
            cursor: pointer;

            @include vert-align(26px);

            >div {
                float: left;
                padding-right: 0.5em;
            }

            @media #{$small-only} {
                font-size: 0.8em;
                padding: 0.2em;
            }
        }

        .cashier__list__expire:hover {
            // background-color: palette(grey, light);
            color: lighten($black, 10%);
        }

        .cashier__list__new {
            @include button($bg: pink);

            margin-top: 1em;
            float: right;
        }

        .limit-reached {
            display: block;
            background-color: #D25A5A;
            color: white;
            font-weight: bold;
            text-align: center;
            height: 11px;
            line-height: 11px;
            font-size: 11px;
            bottom: 0;
            position: absolute;
            width: 97%;
        }
    } // -----
    // -----
    // -- PROMO BOXES
    // -----
    .cashier__promo-boxes {}

    .cashier__promo-box {
        text-align: center;
        width: 40%;
        background-color: $grey;
        border: 2px solid darken($grey, 10%);
        margin: 0px 5% 1em 5%;
        height: 5em;
        padding: 0px;
        cursor: pointer;

        >div {
            //@extend .small-12;
            &:first-child {
                margin: 0.5em 0em 1em 0em;
            }
        }

        &:hover {
            background-color: lighten($grey, 10%);
        }
    } // -----
    // -- NEW METHOD
    // -----
    .cashier__new-method {}

    .cashier__new-method__nav {
        margin-bottom: 1em;

        >ul {
            @include block-grid(4);

            padding: 0px;

            >li {
                background-color: $white;
                border: 1px solid $grey;
                padding: 0.5em;
                text-align: center;
                cursor: pointer;
            }

            >li:not(:last-child) {
                border-right: none;
            }

            >li:hover {}
        }
    } // -----
    // -- CVN
    // -----
    .cvn {
        //@extend .clearfix;
        >input {
            //@extend .small-6, .columns;
            margin-bottom: 0px;
        }
    } // -----
    // -- Thank you page:
    // -----
    .cashier__thank-you {
        >div {
            @include grid-column(12);

            padding: 1em 1em 0px 0px;
        }
    }

    fieldset,
    .fieldset {
        border: none;
        text-align: left;
        padding: 0px;
    }

    .cashier__form-group {
        text-align: left;

        @media #{$small-only} {
            @include grid-column(12,
            $collapse: true);

            padding: 0.5em;
        }

        @media #{$medium-up} {
            @include grid-column(6,
            $collapse: true);

            padding: 0.5em;
        }
    }

    .cashier__form-group__container {
        @include grid-column(6,
        $collapse: true);

        padding: 0em 0.5em 0em 0em;
    }

    .cashier__text-input-wrapper {
        @include grid-column(6,
        $center: true, $collapse: true);
    } // -----
    // -- Withdraw amount:
    // -----
    .cashier__section__withdraw-amount {
        @include grid-column(12,
        $center: true, $collapse: true);

        >label {
            text-align: center;
            font-size: 2em;
        }
    }

    .cashier__amount-wrapper {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .cashier__select-button {
        // @include button-generate($account-highlited-blue, 5px);
    }

    .cashier__thank-you-cta {
        @media #{$small-only} {
            @include grid-column(12,
            $center: true);

            text-align: center;
        }

        @media #{$medium-only} {
            @include grid-column(12,
            $center: true, $collapse: true);

            text-align: center;
        }

        @media #{$large-up} {
            @include grid-column(12,
            $center: true, $collapse: true);

            text-align: center;
        }

        margin-top: 1em;

        button a {
            color: $white;
            font-weight: bold;
        }
    }
}

// -----
// -- SECURE PAYMENT
// -----
.cashier__secure-payment {
    position: absolute;
    margin-top: 4px;
    margin-left: 10px;
    @media #{$small-only} {
        @include grid-column(6);
        position: relative;
        float: right;
        width: 38%;
        margin-top:20px;
    }
}

// -----
// -- CTA BUTTON
// -----
.cashier__cta-button {
    //@extend .button, .success;
    @include grid-column(12);
}

.cvn {
    float: left;
    padding: 0.5em;

    input {
        width: 100px;
        float: left;
    }
}

.cvn__checkbox input {
    width: 25px;
}

.cvn__icon {
    float: left;
    padding-left: 0.5em;
}

.cvn__checkbox {
    //@extend .clearfix;
    @include grid-column(12,
    $collapse: true);

    input[type="checkbox"] {
        transform: scale(1.5, 1.5);
        margin-right: 3px;
    }
}

// ---------------------------------------------------
.cashier__section {
    @include grid-column(12,
    $collapse: true);

    padding: 0.5em 0.5em 0.9375rem 0.5em;
    background-color: #F7F9FB;
    position: relative;
}

.cashier__section--limits {
    @include grid-column(12,
    $collapse: true);

    padding: 0.5em 0.5em 0.9375rem 0.5em;
    background-color: #F7F9FB;
    position: relative;
}

.welcome .cashier__section--limits {
    @include grid-column(9,
    $collapse: true);

    padding: 0.5em 0.5em 0.9375rem 0.5em;
    background-color: #F7F9FB;
    position: relative;
}

.cashier__section--limits-inner {
    @include grid-column(12,
    $collapse: true);

    padding: 0.5em 0.5em 0.9375rem 0.5em;
    background-color: #F7F9FB;
    position: relative;
}

.cashier__section__container {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
}

.cashier__section__container__title {
    padding-left: 0.9375rem;
}

.cashier__section__title {
    font-size: 0.9em;
    border-bottom: 1px solid darken($account-blue, 7%);
    margin-bottom: 1em;
    padding-left: $site-margin; // @include linear-gradient(lighten($black, 30%), lighten($black, 40%));
    color: $black;
    text-align: left;

    @media #{$small-only} {
        padding-left: 0.5em;
        font-size: 0.8em;
        padding-left: 0px;
    }
}

.cashier__section__notice {
    text-align: center;
    display: block;
}

.deposit-thankyou-msg {
    margin-top: 25px;
    text-align: center;
    display: block;
}

.cashier__section__extra-info {
    position: absolute;
    top: 0.1em;
    right: 1em;

    @media #{$small-only} {
        right: 0px;
    }
}

.cashier__section__extra-info__lock {
    padding-left: 1em;

    @media #{$small-only} {
        display: none;
    }
}

.cashier__section__summary {
    @media #{$small-only} {
        @include grid-column($collapse: true, $columns: 12);

        padding: 0.5em;
        text-align: center;
    }

    @media #{$medium-up} {
        @include grid-column($collapse: true, $columns: 6);

        padding: 0.5em;
        text-align: center;
    }
}

.cashier__section__summary--alone {
    text-align: center;

    @media #{$medium-up} {
        @include grid-column($collapse: true, $columns: 12);

        padding: 0.5em;
    }
}

.cashier__section__summary__title {
    background-color: $account-blue;
}

.cashier__section__summary__amount {
    font-weight: bold;
    border: 1px solid $account-blue;
}

.cashier__section__description {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.cashier__section__form {
    label,
    div,
    p {
        text-align: left;
    }
}

// table tr.even, table tr.alt, table tr:nth-of-type(even) { background: #F9F9F9; }
.cashier__section__table {
    @include grid-column(12);

    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid darken($account-blue, 10%);

    tr:nth-of-type(even) {
        background-color: $account-blue;
    }
}

.cashier__ftd_form__buttons {
    @media #{$medium-up} {
        display: none;
    }
}

.cashier__grid__cell {
   color: $black;
    float: left;
    width: 100%;
    background-color: lighten(#8db7fd, 13%);
    height: 60px;

    //@include grid-row;

    position: relative; // -webkit-border-radius: 5px;
    // -moz-border-radius: 5px;
    .cashier__grid__cell__content {
   // border-radius: 3px;
        // width: 100%;
        //min-height: 50px;
        //margin-bottom: 1em;
        background-color: lighten(#8db7fd, 13%);
        //border: 1px solid desaturate(darken($account-blue, 5%), 10%);
        background-image: url("../_global-library/images/cashier/offer.png"), url("../_global-library/images/cashier/forward-arrow.png");
        background-position: 0.5em center, 96% center;
        background-repeat: no-repeat;
        cursor: pointer;
        text-align: left;
        font-size: 18px;
        color: #001C4A;

        &.active-state--main {
            color: $black;
            background-color: lighten(#8db7fd, 13%);
        }

        &.inactive {
            cursor: default;
            opacity: 0.5;

            &:hover {}
        }

        &:first-line {
            font-weight: bold;
        }

        @media #{$small-only} {
            padding: 0.5em 2em 0.5em 2.8em;
        }

        @media #{$medium-up} {
            padding: 0.5em 2em 0.5em 3em;
        }
    }

     .tcs-deposit {
        padding: 0.3em 2em 0.5em 5.5em;
        font-size: 11px;
        line-height: 18px;
        letter-spacing: normal;
        color: #4C4C4C;

        @media #{$small-only} {
            padding: 0.3em 3.5em 0.5em 5.3em;
            margin-bottom: 15px;
        }

        @media #{$medium-up} {
            padding: 0.3em 3.5em 1.5em 5.5em;
        }
    }
    
    a:hover {
        color: #0078a0;
    }
}

.cashier__grid__cell--small {
    float: left;
    position: relative;
    height: 50px;
    margin-bottom: 1em;

    @include grid-column(4);

    @media #{$small-only} {
        padding-left: 0.2em;
        padding-right: 0.2em;
    }

    .cashier__grid__cell__content {
        border-radius: 3px;
        height: 100%;
        width: 100%;

        @include vert-align(50px);

        background-color: lighten(#8db7fd, 0%);
        border: 1px solid darken(#8db7fd, 1%);
        text-align: center;
        cursor: pointer;
        color: $white;
        font-weight: bold;

        &:hover {
            background-color: darken(#8db7fd, 3%);
        }

        &.active-state--main {
            border: darken(#001C4A, 10%) 1px solid;
            background-color: #001C4A;
            color: $white;
        }

        &.inactive {
            cursor: default;
            opacity: 0.4;
        }
    }
}

.cashier__grid__cell__content {
    height: 70px;
}

.cashier__grid__cell .cashier__grid__cell__content {
    padding: 1.2em 2em 0.5em 3em !important;

    @media #{$small-only} {
        padding: 1.1em 2em 0.5em 3em !important;
    }
}

.cashier__free-amount {
    @include grid-column(12);

    >div {
        border: 1px solid desaturate(darken($account-blue, 5%), 10%);
        padding: 0.5em;

        >label {
            float: left;
            width: 60%;
            padding: 0.5em 0.5em 0em 0em;
            text-align: center;
        }

        >input {
            float: left;
            width: 40%;
            margin: 0px;
        }
    }
}

.cashier__deposit-amount__amount-text {
    @include grid-column(12);

    >h1,
    h2,
    h3,
    h5 {
        float: left;
        font-size: 1em;
    }

    >span {
        float: left;
        font-size: 1.5em;
        padding-left: 0.5em;
    }
}

.cashier__deposit-amount__range {
    @include grid-column(12);

    text-align: center;
    margin-bottom: 0.5em;

    >ul {
        background-color: lighten($grey, 10%);

        @include block-grid(3);

        margin: 0px;

        li {
            font-size: 0.8em;
            padding-bottom: 0.5em;
            padding-top: 0.5em;
        }

        li:first-child {
            width: 15%;
            text-align: right;
        }

        li:nth-child(2) {
            width: 70%;

            input {
                width: 100%;
            }
        }

        li:nth-child(3) {
            width: 15%;
            text-align: left;
        }
    }
}

.cashier__deposit-amount__free-amount {
    @include grid-column(12);
}

.cashier__ftd {
    margin-top: 1em;

    >h1 {
        @include grid-column(12);

        font-size: 1.5em;
    }
}

.cashier__ftd__nav {
    margin-bottom: 1em;

    .cashier__ftd__nav__payment {
        float: left;

        @include grid-column(12);

        margin-bottom: 0.5em;

        >div {
            background-color: $grey;
            border: 2px darken($grey, 10%) solid;
            text-align: center;
            cursor: pointer;
            padding: 1em 0.5em 1em 0.5em;

            &:hover {
                background-color: lighten($grey, 10%);
            }
        }
    }

    .cashier__ftd__nav__msg {
        @include grid-column(12);

        margin-bottom: 0.5em;

        &:nth-child(3) {
            margin-bottom: 1em;
        }
    }
}

.cashier__no-bonus,
.cashier__promo-code {
    float: left;
    text-align: left;

    @include grid-column(12);
}

.cashier__no-bonus {
    input {
        margin-top: 1em;
    }

    label {
        padding-top: 0.5em;
    }
}

.cashier__promo-code {
    >input[type=text] {
        width: 150px;
        float: left;
        font-size: 0.8em;
    }

    label {
        float: left;
        padding-top: 0.5em;
    }

    input[type=checkbox] {
        float: left;
        margin-top: 1em;
    }
}

.cashier__cvn {
    @include grid-column(12);
}

.cashier__cta {
    @include grid-column(12,
    $collapse: true);

    margin-top: 1em;
    border-radius: 3px;

    button {
        text-align: center;

        &.cashier__cta__primary {
            border-radius: 3px !important;

            @include grid-column(12);

            float: right;

            @include button($button-med,
            #4aa53e,
            false,
            false,
            false,
            false);

            margin-bottom: 0em;
        }

        &.cashier__cta__secondary {
            border-radius: 3px !important;

            @include grid-column(12);

            @include button($button-med,
            #e7e7e7,
            false,
            false,
            false,
            false);

            float: left;
            margin-top: 1em;
        }

        &.cashier__cta__secondary--right {
            border-radius: 3px;

            @include button($button-med,
            $pale-sky,
            false,
            false,
            false,
            false);

            float: right;
        }
    }

    .cashier__cta__extra-info {
        margin-top: 4px;

        @include grid-column(12,
        $collapse: true);

        border: 1px solid lighten(#4aa53e, 5%);
        padding: 0.1em;
        font-size: 1em;
        margin-bottom: 1em;
        text-align: center;
    }
}

.cashier__cta--alone {
    border-radius: 3px;

    @extend .cashier__cta;

    @media #{$small-only} {
        @include grid-column(12,
        $center: true, $collapse: true);
    }

    @media #{$medium-up} {
        @include grid-column(6,
        $center: true, $collapse: true);
    }

    button {
        &.cashier__cta__secondary {
            border-radius: 3px;

            @media #{$medium-up} {
                @include grid-column(12,
                $collapse: true);

                float: left;
            }
        }

        &.cashier__cta__primary {
            border-radius: 3px;

            @media #{$medium-up} {
                @include grid-column(12,
                $collapse: true);

                float: right;
            }
        }
    }
}

.cashier__cta--alone--right {
    border-radius: 3px;

    @extend .cashier__cta--alone;

    float: right;
}

//---------------------------
//specific styles for welcome page
//---------------------------
.welcome {
    .cashier__content-wrapper {
        @media #{$small-only} {
            @include grid-column(12);
        }

        @media #{$medium-up} {
            @include grid-column($center: true, $columns: 9);
        }
    }
}

#welcome {
    .text-partial {
        @media #{$small-only} {
            h1 {
                display: none;
            }
        }
    }
}

.cashier__cta__wrapper {
    button {
        margin-bottom: $site-margin;
        text-align: center;

        &.cashier__cta__primary {
            border-radius: 3px !important;

            @include grid-column(12);

            float: right;

            @include button($button-med,
            #4aa53e,
            false,
            false,
            false,
            false);

            margin-bottom: 0em;
        }
    }
}

.cashier-cancel-link {
    float: right;
    margin-top: $site-margin;
    color: darken($account-blue, 15%);
    text-decoration: underline;
}

#cbUkgcAcknowledge {
    transform: scale(1.5, 1.5);
    margin-left: 4px;
    margin-bottom: 1px;
    display: inline;
}

div.cashier__cta>div>label {
    display: inline;
    color: black;
    line-height: 21px;
}

.cbUkgcAcknowledge-readmore {
    text-decoration: underline;
}

.cashier fieldset {
    clear: both;
}

.cashier .registercta {
    margin: 0 auto;
    float: none;
    width: 50%;
}

.cashier .registercta a {
    color: white;
}

// post reg welcome page only - cashier layout fixes
.welcome-page .cashier__section {
    width: 76%;
}

@media only screen and (max-width: 40em) {
    .welcome-page .cashier__section {
        width: 100%;
    }
}

.welcome-page .cashier__cta {
    width: 74%;
    float: right;
}

@media only screen and (max-width: 40em) {
    .welcome-page .cashier__cta {
        width: 100%;
        float: right;
    }
}

.cashier-balance-bar {
    font-family: $font-copy;
    display: block;
    width: 100%;
    text-align: right;
    clear: both;
    color: #122A4A;
    background-color: #1C4275;
    margin-bottom: 0px;
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
    padding: 0.4rem;

    span {
        position: relative;
        background-color: #ECF4FF;
        padding: 2px;
        color: #1C4275;
        border-radius: 4px;
        font-size: 0.9em;
        padding-left: 6px;
        padding-right: 6px;
        margin-right: 2px;

        a {
            color: #008CBA;
            text-decoration: underline;
        }
    }

    .limit-status {
        color: red;

        a {
            color: red;
        }

        span {
            margin-right: -6px;
            background: transparent;
        }
    }
}

.cashier__footer {
    @include grid-row;

    background: #1C4275;
    border-radius: 0px 0px 3px 3px;
}

.cashier__footer__inner {
    @include grid-column($columns: 12, $collapse: true);

    text-align: center;
}

.cashier__footer__links {
    @include grid-column($columns: 12, $collapse: true, $center: true);

    @media #{$medium-up} {
        @include grid-column($columns: 8, $collapse: true, $center: true);
    }

    display: inline-block;
    margin: 0;
}

.cashier__footer__link {
    display: inline;
}

.cashier__footer__links li+li:before {
    content: " | ";
    color: #99BEE4;
    padding: 0 3px;
}

.cashier__footer__link a {
    text-transform: uppercase;
    color: #99BEE4;
    font-size: 0.7em;
    font-weight: bold;
}

@media only screen and (max-device-width: 350px) {
    .middle-content__box.welcome-page {
        padding: 0;
    }

    .welcome-content .cashierholder .cashier__secure-payment {
        display: none;
    }

    .cashier__footer__link a {
        text-transform: uppercase;
        color: #99BEE4;
        font-size: 0.6em;
    }
}

.promo-is-valid {
    background-color: #35bf75 !important;
}

.promo-is-invalid {
    background-color: #EC9198 !important;
}

.responsible-limits-box {
    h6 {
        color: #333;
    }

    a {
        color: #333;
    }
}

.limits-setup-form {
    @include grid-row;

    .row {
        padding-left: 0.7rem;
        padding-right: 0.7em;
    }

    .enter-amount {
        padding-left: 0;
        padding-right: 0;
    }
}

.limits-setup-form>div>input {
    input[type="text"] {
        @include grid-column(12);

        @media #{$medium-up} {
            @include grid-column(4);
        }

        padding-left: 0;
        padding-right: 0;
    }
}

.limits-password {
    @include grid-column(12,
    $collapse: true);

    @media #{$medium-up} {
        @include grid-column(4,
        $collapse: true);
    }

    @include clearfix;

    input {
        height: 44px;
        margin-right: 8px;

        @include clearfix;
    }
}

.limits-password-buttons {
    margin-right: 10px;
}

a .gaming-logo {
    @media #{$small-up} {
        @include grid-column(4);
    }

    @media #{$large-up} {
        @include grid-column(4);
    }
}

#cashierthank-you {
    .cashier {
        background-color: white;
    }

    .cashier__section {
        margin-bottom: 50px;
    }

    h1.section__title {
        background-color: $white !important;
        font-family: $font-header2;
        font-weight: normal;
        color: #000000;
        float: left;

        @media #{$small-only} {
            padding-top: 1.9375rem;
            padding-bottom: 1.9375rem;
            margin-left: 10px;
        }
    }

    h1.cashier__section__title {
        font-size: 1.3rem;
        padding-bottom: 5px;
    }

    .cashier__secure-payment {
        z-index: 2;
        float: right;
        position: relative;
        padding-bottom: 2.1875rem;
        padding-top: 2.1875rem;

        @media #{$small-only} {
            width: 40%;
            padding-top: 0.9375rem;
            padding-bottom: 1.9375rem;
        }

        @media #{$medium-only} {
            margin-right: 20px;
        }
    }
}

#cashier {
    .panel.callout a {
        color: #1D6FBA;

        &:hover {
            color: #0078a0;
        }
    }

    .middle-content__box h1 {
        @media #{$small-only} {
            text-align: left;
            padding-left: 10px;
        }
    }

    h1.section__title {
        @media #{$small-only} {
            width: 40%;
            float: left;
        }
    }
}

h1.cashier__section__title {
    font-size:1.5rem;

    @media #{$small-only} {
        font-size: 1.2rem;
        text-align: center !important;
    }
}

//Account Verification
.account-verification {
    .cashier__section__title {
        font-size: 0.9em;
        margin-bottom: 1em;
        padding-left: $site-margin;
        text-transform: uppercase;
        color: $black;
        text-align: left;

        @media #{$small-only} {
            padding-left: 5px;
            font-size: 0.8em;
            margin-top: 20px;
        }
    }

    .cashier__section__description {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    p {
        padding-left: 5px;
        padding-right: 5px;
        a.help-link {
                color: #1C4275; 
                font-weight: bold;
            }
    }



    .cashier__section-main {
        background-color: #EEF1F5; //Aspers bg color
        float: left;
        padding: 15px 36px;
        width: 100%;


        @media #{$small-only} {
            padding: 37px 10px;
        }
        
        // Upload documents screen
        .cashier__section-upload {
            width: 100%;

               .upload-secure {
                    float: right;
                    img {
                        float: right;
                        width: 35px;
                        margin-top: 5px;
                        margin-right: 20px;

                        @media #{$small-only} {
                            margin-top: 10px;
                        }
                    }
                }

            .cashier__section-upload-files {
                @include grid-column(12);

                p {
                    font-size: 15px;
                    line-height: 22px;

                    @media #{$small-only} {
                        font-size: 15px;
                    }
                }

                @media #{$small-only} {
                    @include grid-column(12);
                }
            }

            .cashier__section-cta {
                @include grid-column(4);
                float: left;
                margin: 0 auto;
                padding-right: 0;
                width: 90% !important;
                @media #{$medium-only} {
                }

                @media #{$small-only} {
                    @include grid-column(12);
                    width: 100% !important;
                }

                label {
                    background-color: #1C4275;
                    float: left;
                    width: 150px;
                    padding: 18px;
                    font-size: 15px;
                    border-radius: 3px;
                    color: white;
                    text-align: center;


                    @media #{$small-only} {
                        width: 100%;
                    }

                    @media #{$medium-only} {
                        width: 150px;
                    }
                }

            } // cashier CTA choose file end

            .uploaded-files-success {
                width: 585px;
                height: 50px;
                float: left;
                border: 1px solid #A1D5B4;
                border-radius: 3px;
                margin-bottom: 5px;

                @media #{$small-only} {
                    width: 100%;
                }

                @media #{$medium-only} {
                    width: 100%;
                }

                img {
                    float: left;
                    width: 40px;
                    margin: 4px;
                }

                p {
                    padding: 14px;
                    color: #43AC6A;
                    font-size: 13px;
                    font-weight: bold;

                    span {

                        @media #{$small-only} {
                            max-width: 170px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: inline-block;
                        }
                       
                    }
                }

                .uploaded_files-delete {
                    float: right;
                    width: 10px;
                    margin-right: 10px;
                    margin-top: 5px;
                    cursor: pointer;
                }
            }

              .uploaded-files-error {
                width: 585px;
                height: 50px;
                float: left;
                border: 1px solid #F0ABA5;
                border-radius: 3px;
                margin-bottom: 5px;

                 @media #{$small-only} {
                    width: 100%;
                }

                 @media #{$medium-only} {
                    width: 100%;
                }

                img {
                    float: left;
                    width: 40px;
                    margin: 4px;
                }

                p {
                    padding: 14px;
                    color: #F0ABA5;
                    font-size: 13px;
                    font-weight: bold;
                }

                .uploaded_files-delete {
                    float: right;
                    width: 10px;
                    margin-right: 10px;
                    margin-top: 5px;
                    cursor: pointer;
                }
            }


    } //upload end
    

        .cashier__section-notes {
        width: 100%;
        float: left;
        margin-top: 5%;
        font-size: 13px;
        color: #4C4C4C;
        padding: 0 3px;

        @media #{$small-only} {
            padding: 0 0 0 20px;
        }

        .notes-border {
            border-top: 1px dashed #F7F9FB;
            margin-bottom: 20px;
        }

            ul {
                font-size: 13px;
                margin-left: 0 !important;
            }
    }
    // Upload documents screen END

    // Loading screen
    .cashier__section-loading {
        margin-left: auto;
        margin-right: auto;
        float: none;
        text-align: center;
        padding: 25% 0;

        .loading-icon {
            width: 100%;

            img {
                width: 70px;
                padding-bottom: 10px;
            }
        }

        .sending-message {
                color: #1C4275;
            }
    } // Loading screen END


    // Upload status screen
    .cashier__section-status {
        margin-left: auto;
        margin-right: auto;
        float: none;
        text-align: center;
        padding: 15% 0;
           
           // Successful screen
          .success-icon {
            width: 100%;

            img {
                width: 70px;
                padding-bottom: 10px;
            }
        }

        .success-heading {
            font-size: 20px;
            font-weight: bold;
            color: #43AC6A;
        }

        .success-message {
            font-size: 15px;
        }
        // Successful screen END

        // Failed screen
        .failed-icon {
            width: 100%;

            img {
                width: 70px;
                padding-bottom: 10px;
            }
        }

        .failed-heading {
            font-size: 20px;
            font-weight: bold;
            color: #E2574C;
        }

        .failed-message {
            font-size: 15px;
            color: #4C4C4C;
            text-decoration: underline;
        }
        // Failed screen END

    }
    // Upload status screen END

} // cashier__section-main END


    // Support message
    .cashier__support-team {
        float: right;
        padding-top: 20px;
        color: #4C4C4C;
        

        p {
            font-size: 13px !important;

            a.help-link {
                color: #1C4275; 
                font-weight: bold;
            }
        }

        @media #{$small-only} {
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    // Support message END
} 
// Account Verification END

//Stand-alone verification page
.verification {
      h3.sa_verify-title {
        font-family: "ProximaNova-Bold", Helvetica, Arial, sans-serif;
        color: #000;
        font-size: rem-calc(20px);
        margin: 0;
        text-transform: uppercase !important;
        padding: 5px;
        padding-top: 20px;

        @media #{$small-only} {
            margin-top: 50px;
            padding-left: 10px;
        }

        @media #{$medium-only} {
            margin-top: 50px;
            padding-left: 10px;
        }
    }

    .cashier__section-upload {
        h2 {
          font-size: 20px; 
          text-transform: uppercase; 
          padding: 20px;
          color: #001C4A !important;
          float: left;
          padding-right: 5px;

          @media #{$small-only} {
            font-size: 15px;
            text-align: center;
            letter-spacing: 0 !important;
          }
        }

        .cashier__section-upload-files {
            p {
                color: #4C4C4C !important;
            }

            a {
                color: #1C4275 !important;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
            }
            .find-out-more {
                padding-top: 5px;
                @media #{$small-only} {
                    width: 100%;
                }
            }

            .secure-info {
                margin-top: 30px;

                ul {
                    font-family: "fira_sansregular", Helvetica, Arial, Verdana, sans-serif !important;
                    color: #4C4C4C !important;
                    font-size: 15px;
                    padding-left: rem-calc(55px);

                    @media #{$small-only} {
                        padding-left: 0;
                    }

                    li {
                        list-style: disc !important;
                    }
                }
            }
        }
        
    }

    .cashier__section__description {
      @media #{$small-only} {
            margin-left: 5px;
        }
    }

    .custom-file-input::before {
            float: right;
            
            @media #{$medium-only} {
                width: 150px !important;
            }
    }

    .cashier__section-cta {
        width: 90% !important;

        @media #{$small-only} {
            width: 100% !important;
        }
            .send-file {
                float: right;
                color: #ffffff;
                width: 150px;
                padding: 22px;
                border-radius: 3px !important;
                margin-top: 20px;
                background-color: #43AC6A;
                @media #{$medium-only} {
                    width: 150px;
                }
                @media #{$small-only} {
                    width: 100%;
                    margin: 0 auto;
                    margin-top: 30px;
                 }
            }

            .disabled {
                background-color: #E7E7E7;
            }
    }

    .cashier__section-upload .uploaded-files-success {
        width: 90% !important;

        @media #{$small-only} {
            width: 100% !important;
        }
    }

    .cashier__section-upload .uploaded-files-error {
        width: 90% !important;

        @media #{$small-only} {
            width: 100% !important;
        }
    }

}

#verification {
    .middle-content__box h1 {
        padding-top: 0;
    }
    .cashier {
        background-color: transparent;
    }

    article {
        background-color: #fff;
        h1 {
            font-size: 20px;
            text-transform: uppercase;
            color: #001C4A !important;
        }

        p {
            color: #4C4C4C !important;
            font-size: 15px;
        }
    }
}

.account-verify-modal {
    //position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5);
    position:fixed;
}

.account-verify-popup {
   position:absolute;
   top:50%;
   left:50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   background-color: #fff;
   border-radius:4px;
   height: 367px;  
   width: 500px;
   z-index:3;
   text-align:center;
   position:fixed;

    @media #{$medium-only} {
        height:450px;
        width:100%;
        max-width:330px;
        margin:0 auto;
        top:25%;
        left:50%;
        transform:translate(-50%,-50%);
        position:fixed;
        margin-top:126px;

    }
     @media #{$small-only} {
        height:450px;
        width:100%;
        max-width:330px;
        margin:0 auto;
        top:25%;
        left:50%;
        transform:translate(-50%,-50%);
        position:fixed;
        margin-top:126px;
    }
    @media only screen and (min-width: 320px) and ( max-width: 360px ){
        height:450px;
        width:100%;
        max-width:330px;
        margin:0 auto;
        top:25%;
        left:50%;
        transform:translate(-50%,-50%);
        position:fixed;
        margin-top:126px;
    }

   .title {
        color: #001C4A;
        font-family: Helvetica; 
        font-size: 22px;    
        font-weight: bold;  
        line-height: 26px;
   }

   .copy {
        color: #4C4C4C;  
        font-family: Helvetica; 
        font-size: 15px;    
        line-height: 24px;
        padding:0 20px;
   }

   img {
        margin-top:37px;
        margin-bottom:26px;
   }

    .btn-holder{

        height:50px;
        margin-bottom:17px;
        
        @media #{$medium-only} {
            height:auto;
            margin-bottom:10px;
        }
         @media #{$small-only} {
            height:auto;
            margin-bottom:10px;
        }
        @media only screen and (min-width: 320px) and ( max-width: 360px ){
            height:auto;
            margin-bottom:10px;
        }

           .btn-cancel {

            height: 51.36px;    
            width: 210px;   
            border-radius: 3px; 
            background-color: #E7E7E7;
            float:right;
            position:absolute;
            right:34px;

            @media #{$medium-only} {

                height: 55px;
                width: 300px;
                float:none;
                position:relative;
                right:auto;
                margin:0 auto;
                padding-top:18px;
            }
             @media #{$small-only} {
                height: 55px;
                width: 300px;
                float:none;
                position:relative;
                right:auto;
                margin:0 auto;
                padding-top:18px;
            }
            @media only screen and (min-width: 320px) and ( max-width: 360px ){
                height: 55px;
                width: 300px;
                float:none;
                position:relative;
                right:auto;
                margin:0 auto;
                padding-top:18px;
            }

            &:hover {
                cursor:pointer;
            }

                p {
                    color: #595959; 
                    font-family: Helvetica; 
                    font-size: 14px;    
                    line-height: 17px;
                    margin-top:18px;

                    @media #{$medium-only} {
                        line-height:normal;
                        margin-top:auto;
                    }
                     @media #{$small-only} {
                        line-height:normal;
                        margin-top:auto;
                    }
                    @media only screen and (min-width: 320px) and ( max-width: 360px ){
                        line-height:normal;
                        margin-top:auto;
                    }
                }
           }

           .btn-continue {

            height: 51.36px;    
            width: 210px;   
            border-radius: 3px; 
            background-color: #43AC6A;
            margin-right:14px;
            float:left;
            position:absolute;
            left:32px;

            @media #{$medium-only} {
                height: 55px; 
                width: 300px;
                float:none;
                position:relative;
                left:auto;
                margin:0 auto;
                margin-bottom:10px;
                padding-top:15px;
            }
             @media #{$small-only} {
                height: 55px;
                width: 300px;
                float:none;
                position:relative;
                left:auto;
                margin:0 auto;
                margin-bottom:10px;
                padding-top:15px;
            }
            @media only screen and (min-width: 320px) and ( max-width: 360px ){
                height: 55px;
                width: 300px;
                float:none;
                position:relative;
                left:auto;
                margin:0 auto;
                margin-bottom:10px;
                padding-top:15px;
            }

            &:hover {
                cursor:pointer;
            }

                p {
                    color: #FFFFFF; 
                    font-family: Helvetica; 
                    font-size: 15px;    
                    font-weight: bold;  
                    line-height: 18px;
                    margin-top:17px;

                    @media #{$medium-only} {
                        line-height:normal;
                        margin-top:auto;
                    }
                     @media #{$small-only} {
                        line-height:normal;
                        margin-top:auto;
                    }
                    @media only screen and (min-width: 320px) and ( max-width: 360px ){
                        line-height:normal;
                        margin-top:auto;
                    }
                }
           }
    }


   .more-info {
    color: #001C4A; 
    font-family: Helvetica; 
    font-size: 14px;    
    line-height: 17px;
    text-decoration:underline;
   }

}
