.loggedin {
    .desktop-search-results-container {
        width: 100%;
        top: 95%;
        left: 17%;
    }
}



.desktop-search-results-container {
    z-index: 9999;
    position: absolute;
    @include grid-column(12, $collapse: true);
    width: 51%;
    margin-left: 1%;
    background-color: $alto;
    overflow-y: auto;
    top: 94%;
    left: 62%;
    border-left: 2px solid #444444;
    border-top: 0px solid #444444;
    border-right: 2px solid #444444;
    border-bottom: 2px solid #444444;
    max-height: 443px;
    .search-result {
        @include grid-column(12, $collapse: true);
        background-color: $black;
        margin-bottom: 10px;
        // max-height: 63px;
        // border-bottom: 1px $alto solid;
        // border-top: 1px $alto solid;
        &:hover {
            // background-color: lighten(#C3E0F9, 0%);
            // border-bottom: 1px lighten(#C3E0F9, 0%) solid;
        }
        a {
            margin: 0;
            padding: 0;
            // @include grid-column(12, $collapse: true);
            // display: block;
            // height: 100%;
            // padding: $site-margin / 2;
            // padding-top: 7px;
            // background: none;
            // border: none;
            // box-shadow: none;
            &:hover {
                // background-color: transparent;
            }
        }
        .search-result__thumb {
            @include grid-column(12, $collapse: true);
            height: 100%;
            // margin-right: $site-margin / 2;
            img {
                width: 100%;
                height: auto;
            }
        }
        .search-result__name {
            @include grid-column(12, $collapse: true);
            // width: 50%;
            height: 100%;
            .search-result__name__inner {
                float: left;
                color: $white;
                text-align: left;
                padding: 10px;
                font-size: rem-calc(14px);
                // height: 100%;
                // font-size: 11px;
                // line-height: 14px;
                // color: #555;
            }
        }
    }
}
