@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('../_fonts/intro/brandon_bld-webfont.woff2') format('woff2'), url('../_fonts/intro/brandon_bld-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesqueblack';
    src: url('../_fonts/intro/brandon_blk-webfont.woff2') format('woff2'), url('../_fonts/intro/brandon_blk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('../_fonts/intro/brandon_reg-webfont.woff2') format('woff2'), url('../_fonts/intro/brandon_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'fira_monoregular';
//     src: url('../_fonts/intro/firamono-regular-webfont.woff2') format('woff2'), url('../_fonts/intro/firamono-regular-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'oswald_regularregular';
    src: url('../_fonts/intro/oswald-regular-webfont.woff2') format('woff2'), url('../_fonts/intro/oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldlight';
    src: url('../_fonts/intro/oswald-light.woff2') format('woff2'),
         url('../_fonts/intro/oswald-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sansregular';
    src: url('../_fonts/intro/firasans-regular.woff2') format('woff2'),
         url('../_fonts/intro/firasans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sansbold';
    src: url('../_fonts/intro/firasans-bold.woff2') format('woff2'),
         url('../_fonts/intro/firasans-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}