.aspersheader__menubottom {
    background: $header--background;
    height: rem-calc(78px);
    z-index: 5;
    display: block;
    bottom: 0px;
    position: fixed;
    max-width: 300%;
    width: 100%;
    overflow-x: auto !important;
    overflow-y: hidden;
    @media #{$large-up} {
        display: none;
    }
    @media #{$medium-only} {
        padding: 0 5%;
        text-align: center;
    }
    @media #{$small-up} {
        @media #{$landscape} {
            padding: 0 5%;
            text-align: center;
        }
    }
}

.aspersheader__menubottom {
    box-shadow: 0px -5px 35px 0px rgba(255, 255, 255, 0.10);
}

.mobilemenu {
    box-shadow: 0px 5px 35px 0px rgba(255, 255, 255, 0.10);
}

.aspersheader__menubottom--wrapper {
    // display: inline-block;
    max-width: 300%;
    width: 100%;
    height: rem-calc(78px);
    white-space: nowrap;
    margin-left: 0;
}

.aspersheader__menubottom--item {
    list-style: none;
    white-space: normal;
    display: inline-block;
    list-style-type: none;
    color: $header--link;
    font-family: $font-menu;
    text-transform: uppercase;
    font-size: rem-calc(13px);
    text-align: center;
    letter-spacing: 0.4px;
    transition: font-size 0.1s;
    height: rem-calc(140px) !important; //overwrite foundation block grid
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 10px; //overwrite foundation block grid
    width: rem-calc(80px);
    float: none;
    svg {
        // margin-bottom: 0px;
    }
}

.aspersheader__menubottom--link {
    color: $header--link; // &:hover {
    //     color: $header--link--hover;
    // }
}

.aspersheader__menubottom--start {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        a {
            color: $header--link--hover;
        }
        #start {
            fill: $header--link--hover;
        }
    }
}

.aspersheader__menubottom--favs {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        a {
            color: $header--link--hover;
        }
        #favs {
            fill: $header--link--hover;
        }
    }
}



.aspersheader__menubottom--allgames {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        #all-games {
            fill: $header--link--hover;
        }
        a {
            color: $header--link--hover;
        }
    }
}

.aspersheader__menubottom--tableandcard {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        a {
            color: $header--link--hover;
        }
        #table-and-card {
            fill: $header--link--hover;
        }
        #table-and-card-line {
            stroke: $header--link--hover;
        }
    }
}

.aspersheader__menubottom--livecasino {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        a {
            color: $header--link--hover;
        }
        #live-casino {
            fill: $header--link--hover;
        }
    }
}

.aspersheader__menubottom--slots {
    svg {
        @extend %svg;
        padding: rem-calc(4px);
    }
    &:hover,
    &:focus {
        a {
            color: $header--link--hover;
        }
        #slots {
            fill: $header--link--hover;
        }
    }
}

.aspersheader__menubottom--roulette {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        a {
            color: $header--link--hover;
        }
        #roulette,
        #roulette-line {
            fill: $header--link--hover;
        }
    }
}

.aspersheader__menubottom--novomatic {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        a {
            color: $header--link--hover;
        }
        #novomatic {
            fill: $header--link--hover;
        }
    }
}

.aspersheader__menubottom--start {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        a {
            color: $header--link--hover;
        }
        #start {
            fill: $header--link--hover;
        }
    }
}

.aspersheader__menubottom--favs {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        a {
            color: $header--link--hover;
        }
        #favs {
            fill: $header--link--hover;
        }
    }
}