// === START Aspers Mixins ===
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
// === ENDs Aspers Mixins ===

/*
* === ENDs Aspers Mixins ===
*/
.aspersheader {
    position: fixed;
}
/*
* === START Hide Asepers Header ===
*/

@media #{$small-up} {
    .aspersheader {
        display: none;
    }
}

@media #{$large-up} {
    .aspersheader {
        position:fixed;
        display: block;
        &.row {
            max-width: 100%;
        }
    }
}
//=== END Hide Asepers Header ===

.aspersbutton {
    @include border-radius(100px);
    background: $button--bg;
    font-family: $font-button;
    width: rem-calc(120px);
    height: rem-calc(39px);
    line-height: 2.2;
    text-align: center;
    text-transform: uppercase;
    &:hover {
        background: $button--bg-hover;
    }
}

.aspersbutton__copy {
    display: block;
    color: $button--text;
    &:hover {
        color: $button--text;
    }
}

.aspersheader__wrapper {
    width: 100%;
    background: $header--background;
}


// Aspers Header
.aspersheader {
    background: $header--background;
    z-index: 3;
}

.aspersheader__menu {
    max-width: rem-calc(1440px);
    margin: 0 auto;
}

.aspersheader__menuleft--link {
    color: $header--link;
}

.aspersheader__menuright--link {
    color: $header--link;
}

.aspersheader__logo {
    padding: rem-calc(10px) rem-calc(10px) rem-calc(10px) rem-calc(20px);
}

.aspersheader__logo--img {
    width: 100px;
    height: 114px;
}

.aspersheader__menuleft--item,
.aspersheader__menuright--item {
    list-style-type: none;
    color: $header--link;
    font-family: $font-menu;
    text-transform: uppercase;
    font-size: rem-calc(15px);
    text-align: center;
    letter-spacing: 0.5px;
    transition: font-size 0.1s;
    @media #{$small-desktop} {
        font-size: rem-calc(11px);
        letter-spacing: 0px;
        transition: font-size 0.3s;
    }
    @media #{$small-desktop2} {
        font-size: rem-calc(13px);
        letter-spacing: 0px;
        transition: font-size 0.3s;
    }
}

.aspersheader__menuleft--item {
    float: left;
    height: rem-calc(140px) !important; //overwrite foundation block grid
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 38px !important; //overwrite foundation block grid
    svg {
        margin-bottom: 15px;
    }
    @media #{$small-desktop} {
        padding: rem-calc(38px) rem-calc(3px) rem-calc(20px) rem-calc(3px) !important; //overwrite foundation block grid
    }
}

.aspersheader__menuleft {
    padding-left: rem-calc(40px); // Adjusts Design as sits outside Grid system.
    transition: padding 0.3s;

    @media #{$small-desktop} {
        padding-left: rem-calc(20px);
        transition: padding 0.3s;
    }

    @media #{$small-desktop2} {
        padding-left: rem-calc(20px);
        transition: padding 0.3s;
    }
}

.aspersheader__menuleft__list {
    margin: 0;
}

.aspersheader__menuleft__icon {
    display: block;
    height: 30px;
    margin-bottom: 20px;

    svg, path {
        fill: white;
    }

    svg {
        width: auto!important;
        height: 30px!important;
    }
}

.aspersheader__menuleft--loggedin {
    .aspersheader__menuleft--link {
        letter-spacing: 0px;
        @media #{$small-desktop} {
            letter-spacing: -0.2px;
        }
    }
    .aspersheader__menuleft--tableandcard {
        padding-left: rem-calc(2px);
        padding-right: rem-calc(2px);
    }
}

//=== Logged in menu ===
.aspersheader__menuright--loggedin {
    .aspersheader__menuright--bottom {
        padding: rem-calc(3px) 0 0 0;
        margin: 0;
    }
    .aspersheader__menuright--top {

        @media #{$small-desktop} {
            padding-left: 0px;
        } // Logged in links, reverse colour scheme
        li {
            .aspersheader__menuright--myaccount,
            .aspersheader__menuright--balance {
                font-size: rem-calc(13px);
                letter-spacing: 0.5px;
                @media #{$small-desktop} {
                    padding: rem-calc(5px);
                    font-size: rem-calc(11px);
                    letter-spacing: 0px;

                    #my-account-svg {
                        display: none;
                    }
                }
                @media #{$small-desktop2} {
                    padding: rem-calc(5px);
                    #my-account-svg {
                        display: none;
                    }
                }
                color: $white;
                @media all and (-ms-high-contrast: none),
                (-ms-high-contrast: active) {
                    letter-spacing: 0px;
                }
                &:hover {
                    color: $yellow-hover;
                }
            }
            .aspersheader__menuright--myaccount {
                #my-account-svg {
                    width: rem-calc(21px);
                    height: rem-calc(21px);
                    margin: 0px;
                    float: left;
                    margin-top: rem-calc(2px);
                }
                span {
                    border-radius: 50%;
                    width: 19px;
                    height: 19px;
                    background: $red;
                    z-index: 2;
                    display: block;
                    position: absolute;
                    top: 1px;
                    left: 25px;
                    font-size: 10px;
                    line-height: 19px;
                }
            }
        }
    }
}
//=== END logged in menu ===


.aspersheader__menuright--item {
    &.aspersheader__menuright--balancewrapper {
        padding: 0.2em 0.0em;
    }
}

.aspersheader__menuright--myaccount,
.aspersheader__menuright--balance {
    svg {
        width: rem-calc(15px);
        height: rem-calc(7px);
        margin-bottom: rem-calc(1px);
        margin-left: rem-calc(5px);
    }
    &:hover {
        #dropdown-arrow,
        #my-account {
            stroke: $yellow-hover;
        }
    }
}

.aspersheader__menuright {
    margin-left: 0;
}

.aspersheader__menuright--top {
    padding-top: rem-calc(23px);
    padding-right: 0;
}

.aspersheader__menuright--bottom {
    padding-top: rem-calc(2px);
    margin-bottom: 0;
}

.aspersheader__menuright--item {
    float: left;
    padding: 0.2em 1em;
}

.aspersheader__menuright--link {
    &:hover {
        color: $header--link--hover;
    }
}

.aspersheader__menuright--login {}

.aspersheader__menuright--loginlink {
    color: $login--color;
    &:hover {
        color: $login--hover;
    }
}

.aspersheader__menuright--landbasedcasinos {}

.aspersheader__menuright--promotions {}

.aspersheader__menuright--loyalty {}

.aspersheader__menuright--community {}

.aspersheader__menuright--vip {}

.aspersheader__menuright--support {}

.aspersheader__menuright--chinese {
    img {
        width:17px;
        margin-right:6px;
        vertical-align:-3px;
    }
}

.aspersheader__menuright--login {
    font-size: rem-calc(18px);
}

.aspersheader__menuright--joinnow {
    font-size: 18px;
    padding: 0 rem-calc(30px) 0 0;
}

.button {
    a {
        color: $button--text;
    }
}

.valign-middle {
    display: table;
    >.columns {
        display: table-cell;
        vertical-align: middle;
    }
    >.columns,
    >[class*="column"]+[class*="column"]:last-child {
        float: none;
    }
}

/*
* === START Aspers Left Menu SVG Links and Hover States ===
*/

%svg {
    width: 100%;
    height: 35%;
}

//IE fix for the SVG's 
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {

    .aspersheader__menuleft__icon {
        width: 40px;
        height: 35%;
    }
}

.aspersheader__menuleft--allgames {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        #all-games {
            fill: $header--link--hover;
        }
        a {
            color: $header--link--hover;
        }
    }
}

.aspersheader__menuleft--tableandcard {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        a {
            color: $header--link--hover;
        }
        #table-and-card {
            fill: $header--link--hover;
        }
        #table-and-card-line {
            stroke: $header--link--hover;
        }
    }
}

.aspersheader__menuleft--livecasino {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        a {
            color: $header--link--hover;
        }
        #live-casino {
            fill: $header--link--hover;
        }
    }
}

.aspersheader__menuleft--slots {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        a {
            color: $header--link--hover;
        }
        #slots {
            fill: $header--link--hover;
        }
    }
}

.aspersheader__menuleft--roulette {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        a {
            color: $header--link--hover;
        }
        #roulette,
        #roulette-line {
            fill: $header--link--hover;
        }
    }
}

.aspersheader__menuleft--novomatic {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        a {
            color: $header--link--hover;
        }
        #novomatic {
            fill: $header--link--hover;
        }
    }
}

.aspersheader__menuleft--start {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        a {
            color: $header--link--hover;
        }
        #start {
            fill: $header--link--hover;
        }
    }
}

.aspersheader__menuleft--favs {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        a {
            color: $header--link--hover;
        }
        #favs {
            fill: $header--link--hover;
        }
    }
}

//Styling for Daily Play dice - Desktop nav
.aspersheader__menuright--dailyplay {

    &.radical-dice {
        a { 
            color: white;
            &:hover {
                color: #F3E900;
            }

            img {
                width:22px;
                margin-right:4px;

                animation-duration: 4.5s;
                animation-iteration-count: infinite;

                &.bounce-dice {
                    margin-left: 5px;
                    animation-name: bounce;
                    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
                }

                 @keyframes bounce {
                    0%   { transform: scale(1,1)      translateY(0); }
                    10%  { transform: scale(1.1,.9)   translateY(0); }
                    30%  { transform: scale(.9,1.1)   translateY(-15px); }
                    50%  { transform: scale(1.05,.95) translateY(0); }
                    57%  { transform: scale(1,1)      translateY(-7px); }
                    64%  { transform: scale(1,1)      translateY(0); }
                    100% { transform: scale(1,1)      translateY(0); }
                }
            }
        }

        svg {
            position: absolute;
            width: 50px;
            height: 50px;
            top: -45%;
            margin-left: 35px;
            @media only screen and (min-width: 1291px) {
                margin-left: 47px;
                top: -25%;
            }
            @media only screen and (min-width: 1441px) {
                margin-left: 60px;
                top: -20%;
            }


            .st1 {
                transform: translate(25px, -62px);
                animation-name: blink;
                animation-duration: 2s; 
                animation-timing-function: ease-out; 
                animation-delay: 0s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-fill-mode: none;
                animation-play-state: running;
            }

            .st2 {
                transform: translate(2px, -75px);
                animation-name: blink;
                animation-duration: 2s; 
                animation-timing-function: ease-out;
                animation-delay: 0.5s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-fill-mode: none;
                animation-play-state: running; 
            }

            .st3{
                transform: translate(6px, -98px);
                animation-name: blink;
                animation-duration: 2s; 
                animation-timing-function: ease-out; 
                animation-delay: 1s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-fill-mode: none;
                animation-play-state: running; 
            }


            @keyframes blink {
                0% {
                    opacity: 0;
                    fill: $white;
                }
                50%{
                  opacity: 1;
                  fill: $white;
                }
                70% {
                    opacity: 0;
                    fill: $white;
                }
                100% {
                    opacity: 0;
                    fill: $white;
                }
            }
        }
    }
}


input.aspersheader__menuright--inputsearch {
    margin: 0;
    width: rem-calc(137px);
    height: rem-calc(40px);
    float: right;
    background: $header--background;
    background-image: url('../_images/common/search.svg');
    background-repeat: no-repeat;
    background-position: 10px;
    border: 1px solid $tundora;
    background-size: 16px;
    color: $palesky;
    font-size: rem-calc(13px);
    padding-left: rem-calc(43px);
    &::-webkit-input-placeholder {
        color: $palesky;
        text-transform: uppercase;
    }
    &::-moz-placeholder {
        color: $palesky;
        text-transform: uppercase;
    }
    &:-ms-input-placeholder {
        color: $palesky;
        text-transform: uppercase;
    }
    &:-moz-placeholder {
        color: $palesky;
        text-transform: uppercase;
    }
    &:hover {

    }
    &:focus {
        &::-webkit-input-placeholder {
            color: transparent;
        }
        &:-moz-placeholder {
            color: transparent;
        }
        &::-moz-placeholder {
            color: transparent;
        }
        &:-ms-input-placeholder {
            color: transparent;
        }
        background-image: url('../_images/common/search-black.svg');
        background-repeat: no-repeat;
        background-position: 10px;
        background-size: 16px;
        color: $tundora;
    }
}



/*
* === END Aspers Left Menu SVG Links and Hover States ===
*/

@media #{$small-desktop} {
    .loggedin {
        .aspersheader__menuright--top {
            .aspersheader__menuright--item:nth-child(2),
            .aspersheader__menuright--item:nth-child(3) {
                padding: 0px;
            }

            .aspersheader__menuright--item:nth-child(3) {
                width: 22%;
            }
            .aspersheader__menuright--item:nth-child(4) {
                padding-left: 0;
            }
            .aspersheader__menuright--myaccount,
            .aspersheader__menuright--balance {
                padding: 0em;
            }
        }
    }
    input.aspersheader__menuright--inputsearch {
        padding-left: rem-calc(35px);
        font-size: rem-calc(12px);
    }
}


.aspersbutton--mobilemenu {
    float: left;
    width: rem-calc(85px);
    height: rem-calc(29px);
    line-height: rem-calc(29px);
    font-size: rem-calc(13px);
    margin-top: rem-calc(20px);
    margin-left: rem-calc(18px);
}

.aspersbutton__cashier {
    @include border-radius(100px);
    width: rem-calc(109px);
    height: rem-calc(39px);
    line-height: rem-calc(39px);
    background: $button-cashier-bg;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;
    &:hover {
        background: lighten($button-cashier-bg, 10%);
    }
}

.aspersbutton__cashier--copy {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: rem-calc(18px);
    color: $button-cashier-color;
    &:hover {
        color: $button-cashier-color;
    }
}

#header_placeholder {
    width: 100%;
    height: 70px;
    // display: none;
    @media #{$large-up} {
        height: 141px;
    }
}

#ui-header-scroll {
    transition: position 0.2s linear;
}

a.aspersheader__menuright--myaccount {
    line-height: 2;
}