/*=============================================
Mixin - center horizonal & vertical
=============================================*/

$smaller-desktop-min: 64.0625em;
$smaller-desktop-max: 112.8125em;

@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin smaller-desktop {
    @media (min-width: #{$smaller-desktop-min}) and (max-width: #{$smaller-desktop-max}) {
        transition: width 0.2s;
        transition: font-size 0.2s;
        @content;
    }
} 

@mixin overlay-modal() {

    @include transition(all, 0.3s, ease-in-out);

    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;


    &.fadeOut {
        visibility: visible;
        opacity: 0.5;
    }

    @media #{$small-only} {
        visibility: hidden;
    }

    &.active {
        opacity: .5;
        visibility: visible;
    }
}

/*=============================================
Layout
=============================================*/

#ajax-wrapper {
    background: $white;
    padding-top:145.188px;


    @media #{$medium-only} {
            padding-top: 70px;
        }

@media #{$small-only} {
            padding-top: 70px;
        }

    &.cookie-active {
        background: $white;
        padding-top: 227px;

        @media #{$medium-only} {
            padding-top: 250px;
        }

        @media #{$small-only} {
            padding-top: 219px;
        }
    }
}

// Hero Banner
.hero {
    height: 460px;
    margin-top: -5.488px; //remove foundation row::before gap
    padding: 0 0 31.94% 0;

    @media #{$medium-only} {
        height: 327px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; // margin-top: 70px;
    }
    @media #{$small-only} {
        height: 364px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; // margin-top: 70px;
    }

    .animated.delay-start-hero {
        -webkit-animation-delay: .1s;
        animation-delay: .1s;
        animation-duration: .5s;
        -webkit-animation-duration: .5s;
    }
}

.hero--image {
    width: 100%;
    height: auto;
    display: block;
}


@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    >.content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.promos--outerwrapper {
    @include aspect-ratio(72,
    37);
    overflow: hidden;
}

.promo--wrapper {}

//Secondary Banner Top
.promo__top {
    min-height: 370px;
    padding: 0;
    padding-top: 38.87%;

    @media #{$medium-only} {
        height: 325px;
    }

    @media #{$small-only} {
        min-height: 250px;
    }
}

.promo__bottom {
    min-height: 370px;
    padding: 0 0 38.87% 0;

    @media #{$medium-only} {
        height: 325px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 0;
    }

    @media #{$small-only} {
        min-height: 250px;
    }
}

.promo__bottom--firstline {
    font-family: $font-header1;
    font-size: rem-calc(50px);
    color: $home--htmlcopy;
    letter-spacing: 1px;
    line-height: rem-calc(60px);
    text-transform: uppercase;

    @extend %text-shadow;

    @media only screen and (min-width: 1805px) and (max-width:2030px) {
        font-size: rem-calc(50px);
        line-height: rem-calc(45px);
    }

    @include smaller-desktop {
        line-height: rem-calc(50px);
    }

    @media #{$small-only} {
        font-size: rem-calc(35px);
        letter-spacing: 1px;
        line-height: rem-calc(30px);
    }

    @media #{$medium-only} {
        font-size: rem-calc(45px);
        letter-spacing: 1px;
        line-height: rem-calc(45px);
    }
}

.promo__bottom--secondline {
    font-family: $font-header2;
    font-size: rem-calc(25px);
    letter-spacing: 1px;
    color: $home--htmlcopy;
    @extend %text-shadow;

    @include smaller-desktop {
    }

    @media #{$small-only} {
        font-size: rem-calc(19px);
        letter-spacing: 1px;
    }
}

.populargames--inner {
    text-align: center;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.populargames--viewall {
    font-family: $font-menu;
    font-size: rem-calc(16px);
    text-transform: uppercase;
    color: $home--mostpopular;
    float: right;
    text-decoration: underline;

    &:hover {
        color: $home--mostpopular--hover;
    }
}

/*=============================================
START PAGE adjustments Progressive Jackpot
=============================================*/

.two-columns-content-wrap__right {
    .promo__jackpot {
        position: relative;
        .promo__jackpot--wrapper {
            top: 50%;
            left: 50%;
            .promo__jackpot--secondline {
                font-size: rem-calc(45px);
            }
        }
    }

    .aspersbutton--promobottom {
        width: rem-calc(106.3px);
        height: rem-calc(33.9px);
        line-height: rem-calc(33.9px);
        font-size: rem-calc(16px);
        margin: rem-calc(15px) auto 0 auto;
    }
}
/*=============================================
HERO
=============================================*/

/*=============================================
 18+ > Responsible gaming(desktop/tablet/mobile)
=============================================*/

.hero {
    .hero--icon-18plus {
        margin: $site-margin*2;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 40px;
        height: 40px;

        @media #{$medium-only} {
            margin: $site-margin;
        }

        @media #{$small-only} {
            margin: $site-margin;
            top: 0;
            width: 30px;
            height: 30px;
        }

        @media #{$medium-only} {
            margin: $site-margin;
            top: 0;
            width: 30px;
            height: 30px;
        }

        &::after {
            @media #{$large-up} {
                content: 'Responsible Gaming';
                position: absolute;
                font-size: 0.8rem;
                color: $white;
                font-family: $font-copy;
                left: 100%;
                top: 5px;
                padding-left: $site-margin/2;
                text-align: left;
                line-height: 1.3;
            }
        }

    }
}

 // Hero Animation Layers
    .hero-animation-container {
        @include transition;

        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 1;

        .overlay-modal {
            @include overlay-modal;
        }

        span {
            position: absolute;
            background-size: cover;
            background-position: center center;

            &.aspers-main-hero-dice {
                background-image: url("../_images/hero/banner/aspers-main-hero-dice.png");
                position: absolute;
                left: 549px;
                bottom: 0;
                width: 1686px;
                height: 449px;                
                z-index: 1;
            }

            &.aspers-main-hero-elephant {
                background-image: url("../_images/hero/banner/aspers-main-hero-elephant.png");
                position: absolute;
                right: 300px;
                bottom: 0px;
                width: 157px;
                height: 261px;
                z-index: 1;
            }

            &.aspers-main-hero-flower-fly {
                background-image: url("../_images/hero/banner/aspers-main-hero-flower-fly.png");
                position: absolute;
                left: 178px;
                bottom: 11px;
                width: 272px;
                height: 364px;
                z-index: 1;
            }

            &.aspers-main-hero-gonzo {
                background-image: url("../_images/hero/banner/aspers-main-hero-gonzo.png");
                position: absolute;
                right: -40px;
                bottom: -40px;
                width: 200px;
                height: 420px;
                z-index: 1;

                @media #{$large-up} {
                    right: 0px;
                    bottom: -50px;
                    width: 225px;
                    height: 500px;
                }
            }

            &.aspers-main-hero-starburst {
                background-image: url("../_images/hero/banner/aspers-main-hero-starburst.png");
                position: absolute;
                right: 209px;
                bottom: -8px;
                width: 158px;
                height: 140px;
                z-index: 1;
            }

            &.aspers-main-hero-tiger {
                background-image: url("../_images/hero/banner/aspers-main-hero-tiger.png");
                position: absolute;
                left: -41px;
                bottom: 0;
                width: 350px;
                height: 400px;
                z-index: 1;

                @media #{$small-only} {
                    display: none;
                }

                @media #{$large-up} {
                    background-image: url("../_images/hero/banner/aspers-main-hero-tiger.png");
                    left: 0px;
                    bottom: 0;
                    width: 1240px;
                    height: 600px;
                    z-index: 1;
                }
            }

            .animated .delay-start-tiger {
                -webkit-animation-duration: 2.2s;
                animation-duration: 2.2s;
                -webkit-animation-delay: 2.3s;
                animation-delay: 2.3s;
            }

            &.aspers-main-hero-twin-spin-normal {
                background-image: url("../_images/hero/banner/aspers-main-hero-twin-spin-normal.png");
                position: absolute;
                left: 10px;
                bottom: 0px;
                width: 1019px;
                height: 213px;
                z-index: 1;
            }
        }
    }

.hero--html {
    width: rem-calc(540px); // margin: 0 auto;
    text-align: center; // padding: 68.5px 0;
    @include centerer;
    z-index: 3;
    @media #{$medium-only} {
        width: 90%;
    }

    @media #{$small-only} {
        width: 95%;
    }
}

%text-shadow {
    text-shadow: $home--copyshadow 0px 0px 15px;
}

.hero--firstline {
    font-size: rem-calc(30px);
    color: $home--htmlcopy;
    font-family: $font-header3;
    text-transform: uppercase;
    @extend %text-shadow;
    @media #{$medium-only} {
        margin: 0;
    }

    @media #{$small-only} {
        margin: 0;
    }
}

.hero--secondline {
    font-family: $font-header1;
    font-size: rem-calc(90px);
    color: $home--htmlcopy;
    letter-spacing: -1.63px;
    line-height: rem-calc(70px);
    text-transform: uppercase;
    @extend %text-shadow;
    @media #{$medium-only} {
        font-size: rem-calc(50px);
        letter-spacing: -1.36px;
        display: inline-block;
    }

    @media #{$small-only} {
        display: block;
        font-size: rem-calc(50px);
        line-height: rem-calc(50px);
    }
}

.hero--thridline {
    font-family: $font-header1;
    font-size: rem-calc(65px);
    color: $home--htmlcopy;
    letter-spacing: -1.63px;
    line-height: rem-calc(70px);
    text-transform: uppercase;
    display: block;
    @extend %text-shadow;
    @media #{$medium-only} {
        font-size: rem-calc(50px);
        letter-spacing: -1.36px;
        display: inline-block;
        padding-left: 1rem;
    }

    @media #{$small-only} {
        display: block;
        font-size: rem-calc(40px);
        line-height: rem-calc(40px);
    }
}

.hero--fourthline {
    font-family: $font-header2;
    font-size: rem-calc(25px);
    color: $home--htmlcopy;
    text-transform: uppercase;
    margin-bottom: rem-calc(18px);
    @extend %text-shadow;
    @media #{$medium-only} {
        margin: 0 0 rem-calc(20px) 0;
    }

    @media #{$small-only} {
        font-size: rem-calc(15px);
        margin: 0 0 rem-calc(15px) 0;
    }
}

//Animation for the hero banner wording content
.animated.delay-06-hero-content { 
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

.animated.delay-08-hero-content {
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.animated.delay-09-hero-content {
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

.animated.delay-10-hero-content {
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}


//Aanimation for the svg's that fade on top of the hero banner
.animated.delay-11-hero-content {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.animated.delay-12-hero-content {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

.animated.delay-13-hero-content {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
}

.hero--terms {
    font-family: $font-copy;
    font-size: rem-calc(10px);
    color: $home--htmlcopy;
    a {
        color: $white;

        &:hover {
            color: $white;
            text-decoration: underline;
        }
    }

    line-height: rem-calc(15px);
    margin: rem-calc(40px) 0 rem-calc(0px) 0;
    @extend %text-shadow;
    @media #{$medium-only} {
        margin: rem-calc(20px) 0 rem-calc(0px) 0;
    }

    @media #{$small-only} {
        margin: rem-calc(15px) auto rem-calc(0px) auto;
        width: 95%;
    }
}

a.terms-homepage {
    font-family: $font-copy-bold;
    color: $white;
}

.aspersbutton--large {
    @include border-radius(100px);
    background: $button--bg;
    font-family: $font-button;
    width: rem-calc(303px);
    height: rem-calc(66px);
    line-height: rem-calc(66px);
    text-align: center;
    text-transform: uppercase;
    font-size: rem-calc(25px);
    margin: 0 auto;
    &:hover {
        background: $button--bg-hover;
    }

    @media #{$medium-only} {
        font-size: rem-calc(18px);
        width: rem-calc(218px);
        height: rem-calc(52px);
        line-height: rem-calc(52px);
    }

    @media #{$small-only} {
        width: rem-calc(200px);
        font-size: rem-calc(18px);
        height: rem-calc(40px);
        line-height: rem-calc(40px);
    }
}

.animated.delay-button {
    -webkit-animation-duration: 5.5s;
    animation-duration: 5.5s;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

/*=============================================
 Divider - title and link 
=============================================*/

.divider-all {
    background: #edf1f5;
    height: 70px;
    
    @media #{$small-only} {
        height: 55px;
    }
}

/*=============================================
 Don't miss - title 
=============================================*/

.divider__dont-miss {
    width: 50%;
    float: left;
    text-align: left;

    h3 {
        margin-top: 25px;
        margin-left: 15%;
        font-family: $font-header2;
        font-size: 1.2rem;
        color: #0a0a0a;
        letter-spacing: 0.46px;
        line-height: rem-calc(32px);
        text-transform: uppercase;

        @media #{$small-only} {
            font-size: 1rem;
            margin-top: 12px;
            margin-left: 10%;
        }

        @media #{$medium-only} {
            margin-left: 10%;
        }

        img {
            margin-right: 8px;
        }
    }
}

.divider__top-picks {
    width: 50%;
    float: left;
    text-align: left;

    h3 {
        margin-top: 25px;
        margin-left: 15%;
        font-family: $font-header2;
        font-size: 1.2rem;
        color: #0a0a0a;
        letter-spacing: 0.46px;
        line-height: rem-calc(32px);
        text-transform: uppercase;

        @media #{$small-only} {
            font-size: 1rem;
            margin-top: 12px;
            margin-left: 10%;
        }

        @media #{$medium-only} {
            margin-left: 10%;
        }

        img {
            margin-right: 8px;
        }
    }
}

/*=============================================
 View All - Promotions
=============================================*/

.divider-view-all {
    float: left;
    width: 50%;
    margin-top: 25px;
    text-align: right;

    @media #{$small-only} {
        margin-top: 11px;
    }

    a {
        margin-right: 20%;
        color: #0a0a0a;
        font-family: $font-button;
        font-size: 0.85rem;
        text-align: right;
        text-transform: uppercase;
        text-decoration: underline;
        letter-spacing: 0.46px;
        line-height: rem-calc(32px);
        padding: 0;

        @media #{$small-only} {
           margin-right: 10%;
        }
    }
}

/*=============================================
 Secondary Banners - Left Banner
=============================================*/

.promo__top--wrapper {
   text-align: center;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 55%;
    
    @media #{$medium-only} {
        left: 50%;
        width: 90%;
    }

    @media #{$small-only} {
        width: 95%;
        top: 50%;
        left: 50%; // @include centerer;
    }


    @include smaller-desktop {
        left: 65%;
        width: 55%;
    } // Desktop responsive tweaks
}

.promo__top--firstline {
    font-family: $font-header1;
    font-size: rem-calc(50px);
    color: $home--htmlcopy;
    letter-spacing: 1px;
    line-height: rem-calc(60px);
    text-transform: uppercase;

    @extend %text-shadow;

    @media only screen and (min-width: 1805px) and (max-width:2030px) {
        font-size: rem-calc(50px);
        line-height: rem-calc(45px);
    }

    @include smaller-desktop {
        line-height: rem-calc(50px);
    }

    @media #{$small-only} {
        font-size: rem-calc(35px);
        letter-spacing: 1px;
        line-height: rem-calc(30px);
    }

    @media #{$medium-only} {
        font-size: rem-calc(45px);
        letter-spacing: 1px;
        line-height: rem-calc(45px);
    }
}

.promo__top--secondline {
    font-family: $font-header2;
    font-size: rem-calc(25px);
    letter-spacing: 1px;
    color: $home--htmlcopy;
    @extend %text-shadow;

    @include smaller-desktop {
    }

    @media #{$small-only} {
        font-size: rem-calc(19px);
        letter-spacing: 1px;
    }
}

.aspersbutton--promotop {
    @include border-radius(100px);
    background: $button--bg;
    font-family: $font-button;
    width: rem-calc(154px);
    height: rem-calc(49px);
    line-height: rem-calc(49px);
    text-align: center;
    text-transform: uppercase;
    font-size: rem-calc(20px);
    margin: rem-calc(25px) auto;
    &:hover {
        background: $button--bg-hover;
    }

    @media #{$medium-only} {
        font-size: rem-calc(18px);
        width: rem-calc(120px);
        height: rem-calc(52px);
        line-height: rem-calc(52px);
    }

    @media #{$small-only} {
        width: rem-calc(100px);
        font-size: rem-calc(18px);
        height: rem-calc(40px);
        line-height: rem-calc(40px);
    }
}

.promo__top--terms {
    margin: 0 auto;
    width: 80%;
    font-family: $font-copy;
    font-size: rem-calc(10px);
    line-height: rem-calc(20px);
    a {
        color: $home--htmlcopy;

        &:hover {
            color: $white;
            text-decoration: underline;
        }
    }

    @include smaller-desktop {
        line-height: rem-calc(15px);
    }

    @extend %text-shadow;
    @media #{$medium-only} {
        margin: rem-calc(20px) auto rem-calc(0px) auto;
        width: 90%;
    }

    @media #{$small-only} {
        margin: rem-calc(5px) auto rem-calc(0px) auto;
        width: 90%;
        line-height: rem-calc(15px);
    }
}
/*=============================================
 Secondary Banner - Right
=============================================*/

.promo__bottom--wrapper {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 55%;
    
    @media #{$medium-only} {
        left: 50%;
        width: 90%;
    }

    @media #{$small-only} {
        width: 95%;
        top: 50%;
        left: 50%; // @include centerer;
    }


    @include smaller-desktop {
        left: 65%;
        width: 55%;
    } // Desktop responsive tweaks
}

.aspersbutton--promobottom {
    @include border-radius(100px);
    background: $button--bg;
    font-family: $font-button;
    width: rem-calc(154px);
    height: rem-calc(49px);
    line-height: rem-calc(49px);
    text-align: center;
    text-transform: uppercase;
    font-size: rem-calc(20px);
    margin: rem-calc(25px) auto;
    &:hover {
        background: $button--bg-hover;
    }

    @media #{$medium-only} {
        font-size: rem-calc(18px);
        width: rem-calc(150px);
        height: rem-calc(52px);
        line-height: rem-calc(52px);
    }

    @media #{$small-only} {
        width: rem-calc(120px);
        font-size: rem-calc(18px);
        height: rem-calc(40px);
        line-height: rem-calc(40px);
    }
}

.promo__bottom--terms {
    font-family: $font-copy;
    font-size: rem-calc(10px);
    line-height: rem-calc(20px); // margin: rem-calc(20px) 0 rem-calc(0px) 0;
    margin:0 auto;
    width: 80%;

    a {
        color: $home--htmlcopy;

        &:hover {
            color: $white;
            text-decoration: underline;
        }
    }

    @include smaller-desktop {
        font-size: rem-calc(10px);
        line-height: rem-calc(15px);
    }

    @extend %text-shadow;
    @media #{$medium-only} {
        margin: rem-calc(20px) auto rem-calc(0px) auto;
    }

    @media #{$small-only} {
        margin: rem-calc(5px) auto rem-calc(0px) auto;
        width: 90%;
        line-height: rem-calc(15px);
    }
}

.animated.secondary-banners {
    animation-duration: 0.8s;
}

/*=============================================
Top Picks - new 
=============================================*/
// body {
//     overflow-x: hidden;
// }

.top-picks {
    width: 100%;
    height: 100%;
    background: #edf1f5;
}

.aspers-grid-wrapper {
    width: 85%;
    margin: 0 auto;
    //border: 6px solid purple;

    @media #{$medium-only} { 
        max-width: 100rem;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-left: 45px;
    }

    @media #{$small-only} { 
        max-width: 1100px;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-left: 20px;
    }
}

.grid {
    display: -ms-grid;
    display: grid;

    &.aspers {
        min-width: 1100px;
        grid-gap: 16px;
        -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        -ms-grid-rows: auto 16px auto 16px auto 16px auto 16px auto;
        grid-template-rows: auto auto auto auto auto;

        @media #{$small-only} { 
            padding-right: 20px;
        }

        @media #{$medium-only} { 
            padding-right: 20px;
        }
    }

    &.aspers > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    &.aspers > *:nth-child(2) {
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
        grid-column: 2 / span 2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        grid-row: 1 / span 2;

        .game-icon .game-icon__bottom {
            margin-top: 15px;
        }
    }

    &.aspers > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 7;
    }

    &.aspers > *:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 9;
    }

    &.aspers > *:nth-child(5) {
        -ms-grid-row: 1;
        -ms-grid-column: 11;
    }

    &.aspers > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    &.aspers > *:nth-child(7) {
        -ms-grid-row: 3;
        -ms-grid-column: 7;
    }

    &.aspers > *:nth-child(8) {
        -ms-grid-row: 3;
        -ms-grid-column: 9;
    }

    &.aspers > *:nth-child(9) {
        -ms-grid-row: 3;
        -ms-grid-column: 11;
    }

    .grid-item {
        width: 100%;
        height: 100%;

        & img {
            width: 100%;
            height: 100%;
        }
        
        .game-icon .game-icon__bottom .game-icon__title {
            line-height: 8.2px;
        }
    }
}


.animated.delay-start {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.animated.delay-05 {
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}

.animated.delay-25 {
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}

.animated.delay-35 {
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}

.animated.delay-45 {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}

.animated.delay-55 {
    -webkit-animation-delay: .55s;
    animation-delay: .55s;
}

    .game-icon__overlay {
        @include transition;
        opacity: 0;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        text-align: center;
        display: block;
        position: absolute;
        height: 88%;
        width: 100%;
        top: 0;
        left: 0;
        
        @media #{$small-only} {
            display: none;
        }

        @media #{$medium-only} {
            display: none;
        }
        .game-icon__overlay__content {
            @include transition;
            transform: translate(-50%, -50%);
            top: 47%;
            left: 50%;
            width: 100%;
            position: absolute;

            h4 {
                font-family: $font-header2;
                @include transition;
                color: $white !important;
                position: relative;
                font-size: 1.2rem;
                text-transform: uppercase;
                margin: 0;
                margin-bottom: $global-padding;
                top: 10px;

                a {
                    color: $white !important;
                }

                @include smaller-desktop {
                    font-size: 1rem;
                }
            }

            .aspersbutton {
                @include transition;
                padding: $global-padding/2 $global-padding;
                font-size: 1rem;
                right: 10px;
                color: $black;

                &:hover {
                    color: $black;
                }
            }
        }

        &:hover {
            @include transition(all, 0.1s, ease-in-out);

            opacity: 1;

            .aspersbutton {
                @include transition;
                right: 0px;
                position: relative;
            }

            h4 {
                @include transition;
                top: 0px;
            }
        }
    }



/*=============================================
Jackpot Promo NEW
=============================================*/
//  Section / Seo
.promos-container {

    overflow: hidden;

    background: linear-gradient(to right, #edf1f5, #edf1f5);

    &.promos {
        @media #{$small-only} {
            padding: $global-padding 0 0 0;
            margin-top: 0;
        }
    }

    @media #{$small-only} {
        padding: 0;

        .section-title {
            padding: 0 $global-padding;
            margin-bottom: 0;
        }
    }

    @media #{$medium-only} {
        padding: 0 !important;

        .section-title {
            padding: 0 $global-padding;
        }
    }

    @media #{$medium-up} {
        .section-title {
            padding: $global-padding*2 $global-padding*2 0 $global-padding*2;
            margin-bottom: 0;
        }
    }

    article {
        // background: none !important;
        min-height: 350px;
        margin-bottom: $global-padding;

        padding: 0 $global-padding*2;

        // border-radius: 3px;
        overflow: hidden;

        @media #{$small-only} {
            min-height: 250px;
            padding: 0 !important;
            margin-bottom: 0;
        }

        @media #{$medium-only} {
            min-height: 300px;
            padding: 0 !important;
            margin-bottom: 0;
        }

        @media #{$large-only} {
            min-height: 300px;
        }

        @media #{$large-up} {
            margin-right: $global-padding;
            min-height: 400px;
            // width: 100%;

            &:last-child {
                margin-right: 0%;
            }
        }

        h1 {
            /* Title: */
            //font-family: $heading-font-extra-bold;
            margin-top: $global-padding / 2;
            font-size: 3rem;
            line-height: 1;
            text-transform: uppercase;
            color: $white; // text-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
            text-shadow: none;
        }

        h2 {
            /* Title: */
            //font-family: $heading-font-extra-bold;
            margin-bottom: $global-padding / 2;
            font-size: 3.2rem;
            line-height: 1;
            text-transform: uppercase;
            color: $white;
            // text-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;

            @media #{$small-only} {
                background-position: -150px center;
                font-size: 2.5rem;
            }
        }

        h4 {
            font-family: $heading-font-bold;
            color: $white;
            font-size: 1.5625rem;
            text-transform: uppercase;
            margin: 0;
            // text-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;

            @media #{$small-only} {
                font-size: 1.2rem;
            }
        }

        p {
            color: $white;
            font-family: 'Fira Sans', sans-serif;
            margin: 0 auto;
        }

        &.promo-offer {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center;

            @media #{$small-only} {
                // background-position: -50px center;
            }

            h2 {
                font-size: 3.125rem;
                // text-shadow: #000 0 0 25px;

                @media #{$small-only} {
                    font-size: 2.2rem;
                }
            }
        }

        &.promo-jackpot {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            min-height: 350px;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 0;

            & .promo__jackpot {
                padding: 0;
                min-height: 350px;

             
            }

            @media #{$small-only} {
                min-height: 250px;
            }

            h2 {
                font-size: 5.5rem;
                text-shadow: rgba(0, 0, 0, 0.50) 0 0 20px;

                @media #{$small-only} {
                    font-size: 2.8rem;
                }
            }

            h4 {
                margin-bottom: $global-padding/2;
                // font-family: $heading-font-extra-bold;
                text-shadow: rgba(0, 0, 0, 0.7) 0 0 10px;
            }

            .aspersbutton--large {
                top: $global-padding;
                position: relative;
                font-size: 1.25rem;

                @media #{$small-only} {
                    width: 7.5rem;
                    height: 2.4375rem;
                    font-size: 1rem;
                }


            }

            .promo-content {
                padding-top: 0;
            }

            .overlay-modal {
                @include overlay-modal;
            }
        }


        &.promo-jaguar {
            background-image: url(_images/offers/win-a-jaguar-promo-mobile.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;


            @media #{$small-only} {

                background-image: url(_images/offers/win-a-jaguar-promo-desktop.png);

                .promo-content {
                    // padding-top: $global-padding*4;
                }
            }

            h2 {
                font-size: 3.125rem;
                // text-shadow: #000 0 0 25px;

                @media #{$small-only} {
                    font-size: 2.2rem;
                }
            }

        }

        .promo-content {
            margin: 0 auto;
            padding-top: $global-padding;
            z-index: 5;
        }

        .aspersbutton {
            line-height: 1.85;
            display: inline-block;
            margin: $global-padding /2 0rem $global-padding 0rem;
            padding: .25rem 1.55rem;
            height: auto;
            width: auto;

            @media #{$medium-up} {
                font-size: 1.25rem;
            }

            &:hover {
                color: $black;
            }
        }
    }
}
/*=============================================
Jackpot Promo
=============================================*/

.promo__jackpot--wrapper {
    text-align: center;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    @media #{$medium-only} {
        top: 55%;
        left: 50%;
        width: 90%;
    }

    @media #{$small-only} {
        width: 95%;
        top: 55%;
        left: 50%; // @include centerer;
    }
}

.promo__jackpot--firstline {
    font-family: $font-header2;
    color: #fefefe;
    font-size: 1.5625rem;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 0.5rem;
    text-shadow: rgba(0, 0, 0, 0.7) 0 0 10px;


    @extend %text-shadow;
    @media #{$small-only} {
        font-size: rem-calc(19px);
        line-height: rem-calc(19px);
    }
}

.promo__jackpot--secondline {
    font-family: $font-header1;
    font-size: 5rem;
    line-height: 5.0625rem;
    color: $home--htmlcopy;
    letter-spacing: 3px;
    text-shadow: rgba(0, 0, 0, 0.7) 0 0 10px;
    @media #{$small-only} {
        font-size: rem-calc(50px);
        line-height: rem-calc(50px);
    }
}

.promo__jackpot--terms {
    font-family: $font-copy;
    font-size: rem-calc(10px);
    color: $home--htmlcopy;
    line-height: rem-calc(20px);
    margin: rem-calc(20px) 0 rem-calc(0px) 0;
    @extend %text-shadow;
    @media #{$medium-only} {
        margin: rem-calc(20px) 0 rem-calc(0px) 0;
    }

    @media #{$small-only} {
        margin: rem-calc(5px) auto rem-calc(0px) auto;
        width: 90%;
    }
}

.aspers--homepage {

    .edit-point {
        z-index: 999999;
    }
    .middle-content__box {
        // resolving styling for accordinan that appears on mobile / tablet
        background: $home--seo--bg;
        padding: rem-calc(55px);
        max-width: rem-calc(1440px);
        margin: 0 auto;
        .ui-accordion {

            .edit-point {
                margin-top: -50px;
            }
            background: $white;
            &:hover {
                background: $white;
            }
            h1 {
                max-width: 100%;
                padding: 0;
                margin: 0;

            .content {}
                &:after {
                    // adding to ensure accordian has read more and close link

                    content: 'Read more';
                    margin: 1em 0;
                    cursor: pointer;
                    position: relative;
                    font-family: $font-menu;
                    font-size: rem-calc(16px);
                    text-transform: uppercase;
                    color: $palesky;
                    float: left;
                    width: 100%;
                    text-decoration: underline;
                }
            }
            &.active {
                h1 {
                    &:after {
                        content: 'Close';
                    }
                }
            }
            
            @media #{$medium-only} {
                .edit-point {
                    z-index: 999999;
                    margin: -10px 5px;
                }
            }
     
        }
        @media #{$small-only} {
            padding: rem-calc(20px);
        }
        @media #{$medium-only} {
            padding: rem-calc(40px);
        }
        h1 {
            // this shouldn't be a h1 within SEO copy, ask to get this removed / changed to a h3
            font-family: $font-header2;
            font-size: rem-calc(22px);
            color: $home--seo--fontcolor;
            text-transform: uppercase;
            padding-bottom: rem-calc(35px);
            margin: 0;
        }
        .text-partial-content,
        .content {
            p {
                font-family: $font-copy;
                font-size: rem-calc(16px);
                color: $home--seo--fontcolor;
                letter-spacing: 0.03px;
                line-height: rem-calc(23px);
            }
        }
    }
}

#register {
    .nav-for-mobile {
        top:110px;
            .mobilemenu--logo {
                display:none;
            }
            .mobilemenu--menu {
                display:none;
            }   
    }
}

.registration-3step {
    .content {
        .banner {
            img {
                margin-top:20px !important;
            }
        }
    }
}

.cookie-policy {
    &.active {
        @media screen and (max-width: 1024px) {
            margin-top: 0px !important;
        }
    }
}
