.hub {
    float: left;
    width: 95%;
    max-width: rem-calc(420px);
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media #{$medium-only} {
        white-space: nowrap;
        max-width: 100% !important;
        overflow-x: auto !important;
        top: 28% !important;
    }
    @media #{$small-only} {
        white-space: nowrap;
        max-width: 100% !important;
        overflow-x: auto !important;
        top: 30% !important;
    }
}

.hub-grid {
    @media #{$medium-only} {
        width: 200% !important;
        white-space: nowrap !important;
        max-width: 200% !important;
    }
    @media #{$small-only} {
        width: 200% !important;
        white-space: nowrap !important;
        max-width: 200% !important;
    }
}

.hub-grid__2columns {
    @media #{$medium-only} {
        width: 30% !important;
    }

    @media #{$medium-only} and (orientation: landscape) {
        width: 25% !important;
    }

    @media #{$small-only} {
        width: 50% !important;
    }

    /* Portrait */
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
        width: 27% !important;
    }
}

// .hub-grid__child  {}
// .ui-parent-game-icon {}
.game-icon {
    background: $black !important;
}

.game-icon__wrapper {
    // &:hover {
    //     .game-icon__overlay {
    //         display: block !important;
    //         position: absolute;
    //         top: 0;
    //         margin: 0;
    //         width: 100%;
    //         height: 84%;
    //         background: red;
    //         &:after {
    //          content: "Try Game";
    //              @include border-radius(100px);
    // background: $button--bg;
    // font-family: $font-button;
    // width: rem-calc(120px);
    // height: rem-calc(39px);
    // line-height: rem-calc(39px);
    // text-align: center;
    // text-transform: uppercase;
    // &:hover {
    //  background: $button--bg-hover;
    // }
    //         }
    //     }
    .playimg {
        display: none;
    }
    h1 {
        display: none;
    } // }
    .game-icon__bottom {
        max-height: rem-calc(28px) !important;
    }
}


// .aspersbutton {
//     @include border-radius(100px);
//     background: $button--bg;
//     font-family: $font-button;
//     width: rem-calc(120px);
//     height: rem-calc(39px);
//     line-height: rem-calc(39px);
//     text-align: center;
//     text-transform: uppercase;
//     &:hover {
//      background: $button--bg-hover;
//     }
// }
// .aspersbutton__copy {
//  display:block;
//     color: $button--text;
//     &:hover {
//         color: $button--text;
//     }
// }
// .game-icon__image {}
// .game-icon__overlay {
//  position:absolute;
// }
// .ui-launch-game {}
// .play-icon {}
// .playimg {}
.game-icon__favourite {
    max-height: rem-calc(20px) !important;
    margin: rem-calc(4px) 0 !important;
    width: 20% !important;
}

// .hub-grid .hub-grid__child {
//     width: 60% !important;
// }
// .game-icon__favourite__icon {}
// .icons-star--off {}
// .game-icon__title {}
.hub-grid__child {
    @media #{$medium-only} {
        display: inline-block !important;
        float: none !important;
        width: 50% !important;
    }
    @media #{$small-only} {
        display: inline-block !important;
        float: none !important;
        width: 50% !important;
    }
}

// .ui-parent-game-icon {}
.game-icon .game-icon__bottom .game-icon__title {
    color: $white !important;
    font-family: $font-button !important;
}