    .playlogin__wrapper {
        width: 100%;
        max-width: rem-calc(300px);
        margin: rem-calc(50px) auto;
        @media #{$large-up} {
            margin: rem-calc(50px) auto rem-calc(110px);
        }
        @media #{$medium-only} {
            margin: rem-calc(50px) auto rem-calc(65px);
        }
        @media #{$small-only} {
            margin: rem-calc(12px) auto;
        }
        .login-box__input-wrapper {
            position: relative;

            .show-password {
                position: absolute;
                text-transform: uppercase;
                right: 0px;
                font-size: 9px;
                font-weight: 600;
                padding: 2px;
                padding-bottom: 0;
                padding-top: 0;
                border-radius: 8px;
                color: transparent;
                min-width: 32px;
                text-align: center;
                &.eye-shut {
                    z-index: 1;
                    background: url("../_global-library/images/registration-3step/password-hide.svg") no-repeat center;
                    width: 65px;
                    height: 24px;
                }
                &.eye-open {
                    z-index: 1;
                    background: url("../_global-library/images/registration-3step/password-visible.svg") no-repeat center;
                    width: 65px;
                    height: 24px;
                }
                .right {
                    display: none;
                }
            }
        }
        .playlogin__input {
            padding-left: rem-calc(35px);
            height: rem-calc(45px);
            border: 1px solid $graychateau;
            font-family: $font-copy;
            border-radius: 2px;
            box-shadow: none;

            &::-webkit-input-placeholder {
                color: $graychateau;
                line-height: 100%;
            }
            &::-moz-placeholder {
                color: $graychateau;
                line-height: rem-calc(27px);
            }
            &:-ms-input-placeholder {
                color: $graychateau;
                line-height: 100%;
            }
            &:focus {
                background-repeat: no-repeat;
                background-position: 10px;
            }
        }
        .playlogin__input--username,
        .registration-3step .content {
            background-image: url('../_images/common/username.svg');
            background-repeat: no-repeat;
            background-position: 10px;
            &:focus {
                background-image: url('../_images/common/username.svg');
            }
        }
        .playlogin__input--password {
            background-image: url('../_images/common/padlock.svg');
            background-repeat: no-repeat;
            background-position: 10px;
            &:focus {
                background-image: url('../_images/common/padlock.svg');
            }
        }


        .aspersbutton {
            width: 100%;
            cursor: pointer;
            margin-bottom: rem-calc(15px);
            .aspersbutton__copy {
                font-size: rem-calc(18px);
            }
        }
        .login-box__show-password {
            position: absolute;
            top: 8px;
            right: 8px;
            font-size: 11px;
            text-decoration: underline !important;
            text-transform: uppercase;
            display: block;
            height: auto;
            padding: 0px 6px;
            line-height: rem-calc(22px);
            background: $graychateau;
            margin-top: 2px;
            text-align: center;
            a {
                font-weight: bold;
                color: white;
            }
            &:hover {
                opacity: 0.5;
            }
        }
        .playlogin {
            font-family: $font-header2;
            font-size: rem-calc(22px);
            text-transform: uppercase;
            text-align: center;
            margin-bottom: rem-calc(12px);
        }
    }

    .login-box__forgot-password {
        font-family: $font-button-light;
        font-size: rem-calc(12px);
        color: $font-login-copy;
        letter-spacing: 0.46px;
        line-height: rem-calc(32px);
        text-transform: uppercase;
        text-decoration: underline;
        float: right;
        width: 50%;
        text-align: left;
    }

    .login-box__register-link {
        font-family: $font-button;
        font-size: rem-calc(12px);
        color: $font-login-copy;
        letter-spacing: 0.46px;
        line-height: rem-calc(32px);
        text-decoration: underline;
        float: right;
        width: 50%;
        text-align: right;
    }

    .playlogin__links--wrapper {
        width: 100%;
        margin: 0;
        @media #{$large-up} {
            margin-top: rem-calc(5px);
            margin-bottom: rem-calc(35px);
        }
        @media #{$small-only} {
            margin-bottom: rem-calc(45px);
        }
    }

    .login-terms {
        width: 100%;
        position: relative;
        max-width: rem-calc(1000px);
        margin: 0 auto;
        h1 {
            display:none; // hide as this title is within the accordian.
            // this shouldn't be a h1 within SEO copy, ask to get this removed / changed to a h3
            font-family: $font-header2;
            font-size: rem-calc(22px);
            color: $home--seo--fontcolor;
            text-transform: uppercase;
            padding-bottom: rem-calc(35px);
            padding-top: 0;
            margin: 0;
            @media #{$small-only} {
                padding-top: rem-calc(0px);
            }
        }
        .text-partial-content {
            p,
            ol,
            ul {
                font-family: $font-copy;
                font-size: rem-calc(16px);
                color: $home--seo--fontcolor;
                letter-spacing: 0.03px;
                line-height: rem-calc(23px);
            }
        }
        .accordion .accordion-navigation>a {
            @media #{$small-only} {
                margin-top: rem-calc(15px);
            }
            @media #{$medium-only} {
                margin-top: rem-calc(15px);
            }
            background: transparent;
            margin-top: rem-calc(50px);
            font-family: $font-button;
            font-size: rem-calc(13px);
            color: $palesky;
            letter-spacing: 0.5px;
            line-height: rem-calc(25px);
            text-transform: uppercase;
            text-align: center;
            text-decoration: underline;
        }
    }

    .accordion_login-terms {
        background: transparent;
        a {
            font-family: $font-button;
            font-size: rem-calc(13px);
            color: $palesky;
            letter-spacing: 0.5px;
            line-height: rem-calc(25px);
        }
        .accordion {
            background: transparent;
        }
    }


    .login-page--action {
        margin-bottom: 1em;
        @media #{$medium-only} {
            margin-bottom: 2em;
        }
        @media #{$large-up} {
            margin-bottom: 3em;
        }
    }