// /*=============================================
// =           MY Account        =
// =============================================*/
#my-account {
    .middle-content {
        @media #{$large-up} {
            margin-top: rem-calc(48px);
        }
        @media #{$medium-only} {
            margin-top: rem-calc(10px);
        }
        &.myaccount-content {
            &.middle-content__box {
                width: 100% !important;
                max-width: rem-calc(1000px) !important;
                padding: 0px !important;
                .tabs dd > a {
                    font-family: $font-button-light;
                    font-size: rem-calc(16px);
                    color: $black;
                    line-height: rem-calc(21px);
                    text-transform: uppercase;
                    background: $white;
                    border-bottom: 1px solid $heather;
                }
                dd.active a {
                    font-family: $font-button !important;
                    font-weight: 700;
                    border-bottom: 2px solid $yellow;
                }
                dd.last {
                    @media #{$medium-only} {
                        width: auto;
                    }
                    @media #{$large-up} {
                        width: 46.8%;
                        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                            width: 46%;
                        }
                    }
                }
            }
            #myaccount-1 {
                @media #{$small-only} {
                    padding: 0;
                }
            }
            .balanceboxes {
                @media #{$small-only} {
                    @include grid-column(12, $float: left);
                    margin: 0;
                }
                @include grid-column(6, $float: left);
                font-family: $font-button-light;
                font-size: rem-calc(15px);
                letter-spacing: 0.47px;
                line-height: rem-calc(52px);
                text-transform: uppercase;
                list-style: none;
                span {
                    float: right;
                    font-family: $font-button;
                }
                .balancebar {
                    border-bottom: 1px solid $heather;
                    a {
                        color: $linkgrey;
                        &:hover {
                            color: darken( $linkgrey, 20%);
                        }
                    }
                }
            }
        }
    }
}

.playerdetails__header {
    margin-bottom: 40px;
    font-family: brandon_grotesquebold,Helvetica,Arial,Verdana,sans-serif;
    text-transform: uppercase;
    font-size: 1.375rem;

    @media #{$small-only} {
        margin-bottom: 20px;
    }
}

.preferences__header {
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: brandon_grotesquebold,Helvetica,Arial,Verdana,sans-serif;
    text-transform: uppercase;
    font-size: 1.375rem;
}

//Communications
.aspers__preferences_comm {
    h1 {
        padding-top: 0;
        padding-bottom: 10px;
        font-family: brandon_grotesque_regularRg,Helvetica,Arial,Verdana,sans-serif;
        font-size: 1.2rem;
    }

    .text-partial {
        @media #{$small-only} {
            h1 {
                text-align: left;
            }
        }   
    }

    .text-partial-content {
        @include grid-column(8);
        padding-left: 0;

        @media #{$small-only} {
            @include grid-column(12);
            padding-left: 0;
        }

        p {
            margin-bottom: 15px;
        }

        a {
            color: #000;
            font-weight: bold;
            text-decoration: underline;
        }
    }

    .communications {
        list-style-type: none;
        margin-left: 0;

        label {
            width: 100%;
            min-height: 35px;
            margin-bottom: $site-margin / 3;
            color: #000;
            line-height: 1.5em;
            height: 44px;
            padding: 10px 12px 0 50px;
            background: $registration-3step-bg--base url("../_images/join-now/dark-off.svg") no-repeat center left 10px;
            background-color: transparent;
            background-size: 30px 30px !important;
            border-radius: 6px;
            display: inline;
            height: 44px;
            float: left;
            margin-left: -10px;
            margin-right: 5px;
            font-size: rem-calc(13);
            &.ticked {
                background: $registration-3step-bg--base url("../_images/join-now/dark-on.svg") no-repeat center left 10px;
                background-color: transparent;
            }
            input {
                padding: 0;
                margin: 0;
                display: none;
            }
        }
    }
}

//Data
.aspers__preferences_data {
    margin-top: 25px;
    
    h1 {
        padding-top: 0;
        padding-bottom: 10px;
        font-family: brandon_grotesque_regularRg,Helvetica,Arial,Verdana,sans-serif;
        font-size: 1.2rem;
    }

    .text-partial {
        @media #{$small-only} {
            h1 {
                text-align: left;
            }
        }   
    }

    .text-partial-content {
        @include grid-column(8);
        padding-left: 0;

        @media #{$small-only} {
            @include grid-column(12);
            padding-left: 0;
        }

        p {
            margin-bottom: 15px;
        }

        a {
            color: #000;
            font-weight: bold;
            text-decoration: underline;
        }
    }

    .communications {
        list-style-type: none;
        margin-left: 0;

        label {
            width: 100%;
            min-height: 35px;
            margin-bottom: $site-margin / 3;
            color: #000;
            line-height: 1.5em;
            height: 44px;
            padding: 10px 12px 0 50px;
            background: $registration-3step-bg--base url("../_images/join-now/dark-off.svg") no-repeat center left 10px;
            background-color: transparent;
            background-size: 30px 30px !important;
            border-radius: 6px;
            display: inline;
            height: 44px;
            float: left;
            margin-left: -10px;
            margin-right: 5px;
            font-size: rem-calc(13);
            &.ticked {
                background: $registration-3step-bg--base url("../_images/join-now/dark-on.svg") no-repeat center left 10px;
                background-color: transparent;
            }
            input {
                padding: 0;
                margin: 0;
                display: none;
            }
        }
    }

    .radio-selection {
        @include grid-column(12);
        padding-left: 0;
        margin-top: -20px;
        margin-bottom: 10px;

        label {
            float: left;
            margin-right: 15px;
            line-height: 32px;

           @media #{$small-only} {
            font-size: 15px !important;
            margin-right: 5px;
          }
        }

        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent !important;
            border-radius: 100% !important;
            border: 2px solid #000 !important;
            display: inline-block;
            min-width: 25px !important;
            min-height: 25px !important;
            transition: 0.2s all linear;
            outline: none;
            margin-right: 5px;
            position: relative;
            top: 22px;

          &:checked {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: #000 !important;
                border-radius: 100% !important;
                border: 2px solid #000 !important;
                display: inline-block;
                min-width: 25px !important;
                min-height: 25px !important;
                transition: 0.2s all linear;
                outline: none;
                //margin-right: 5px;
                position: relative;
                top: 22px;
            }
        }
    }
}

.aspers__email--wrapper,
.aspers__username--wrapper,
.aspers__gender--wrapper,
.aspers__name--wrapper {
    @include grid-column(4);
    float: left;
    margin-bottom: 20px;
    @media #{$small-only} {
        @include grid-column(12, $float: left,  $collapse: true);
        margin-bottom: 10px;
    }
}

#button_cashier {
    width: 48%;
    @include button-generate($button-cashier-bg, $button-cashier-bg, $white, 7);
    margin-top: rem-calc(30px);
}

#playoverview {
    width: 48%;
    float: right;
    @include button-generate($registration-3step-cta, $registration-3step-cta, $black, 7);
    margin-top: rem-calc(30px);
}

#playoverview,
#button_cashier {
    @media #{$small-only} {
        margin-bottom: rem-calc(20px);
    }
    @media #{$medium-only} {
        margin-bottom: rem-calc(20px);
    }
}

.address__fields {
    @include grid-column(4);
    float: left;
    margin-bottom: 20px;
    
    @media #{$small-only} {
        @include grid-column(12);
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 25px;
    }
}

.fields__spacing {
    margin-bottom: 10px;
}


// iOS changes the colour of a disabled input field, this resolves this.
input.aspers__name--input,
input.aspers__email--input,
.aspers__username--input,
.aspers__gender--input,
input.aspers__address1--input,
input.aspers__address2--input,
input.aspers__address3--input,
input.aspers__address4--input,
input.aspers__address5--input,
input.aspers__address6--input {
    -webkit-appearance: none;
    -webkit-opacity:1 !important;
    -webkit-text-fill-color: #8d8d8d;
}


.aspers__title--input {
    background: $white;
    border: 0px;
    font-family: $font-copy;
    font-size: rem-calc(14px);
    color: $graychateau;
    line-height: rem-calc(22px);
    background: $white !important;
    padding: 0px;
    margin: 0;
    height: rem-calc(22px) !important;
}

input.aspers__name--input {
    font-family: $font-header1 !important;
    font-size: rem-calc(28px);
    color: $black;
    line-height: rem-calc(28px);
    background-color: $white !important;
    border: 0 !important;
    box-shadow: none !important;
    margin-top: rem-calc(-22px);
    float: left;
    width: 100% !important;
    text-transform: uppercase;
    margin: 0 0 rem-calc(28px) 0;
    padding: 0;

    @media #{$small-only} {
        font-size: rem-calc(22px);
    }
}

.aspers__name,
.aspers__email,
.aspers__username,
.aspers__gender,
.aspers__address1,
.aspers__address2,
.aspers__address3,
.aspers__address4,
.aspers__address5,
.aspers__address6 {
    //background: $white;
    border: 0px;
    font-family: $font-copy;
    font-size: rem-calc(14px);
    color: $graychateau;
    line-height: rem-calc(22px);
    background: $white !important;
}

.aspers__newpassword,
.aspers__repeatnewpassword,
.aspers__phone,
.aspers__phoneext,
.aspers__mobilephone,
.aspers__passlabel {
    font-family: $font-copy-bold;
    font-size: rem-calc(13px);
    color: $black;
    line-height: rem-calc(20px);
    margin-bottom: rem-calc(5px);
}

.aspers__passlabel {
    margin-top: rem-calc(10px);
    float: left;
    @media #{$medium-up} {
        margin-top: rem-calc(33px);
    }
}

input.aspers__newpassword--input {
    margin-right: rem-calc(15px);
}


.aspers__repeatnewpassword--wrapper,
.aspers__landiline--wrapper {
    @media #{$large-up} {
        margin-left: rem-calc(15px);
    }
}

input.aspers__email--input,
.aspers__username--input,
.aspers__gender--input {
    font-family: $font-copy;
    border: 0 !important;
    box-shadow: none !important;
    padding: 0;
    font-size: rem-calc(16px);
    color: #8d8d8d;
    letter-spacing: 0.03px;
    line-height: rem-calc(23px);
    text-transform: lowercase;
    margin: 0 0 rem-calc(10px) 0;
}

input.aspers__gender--input {
    text-transform: none;
    font-size: rem-calc(16px);
    padding-left: 0;

    @media #{$medium-only} {
        padding-left: 0;
    }

    @media #{$small-only} {
        padding-left: 0;
    }
   
}

input.aspers__title--input,
label.aspers__email,
label.aspers__username,
label.aspers__gender,
select.aspers__title--input,
input.aspers__name--input,
input.aspers__email--input,
.aspers__username--input,
.aspers__gender--input,
input.aspers__address1--input,
input.aspers__address2--input,
input.aspers__address3--input,
input.aspers__address4--input,
input.aspers__address5--input,
input.aspers__address6--input {
   
}

input.aspers__address1--input,
input.aspers__address2--input,
input.aspers__address3--input,
input.aspers__address4--input,
input.aspers__address5--input,
input.aspers__address6--input {
    font-family: $font-copy;
    border: 0 !important;
    box-shadow: none !important;
    font-size: rem-calc(16px);
    letter-spacing: 0.03px;
    line-height: rem-calc(23px);
    text-transform: capitalize;
}

input.aspers__address1--input,
input.aspers__address2--input,
input.aspers__address3--input,
input.aspers__address4--input,
input.aspers__address5--input,
input.aspers__address6--input {
    margin: 0;
    padding: 0;
}

input.aspers__address6--input {
    margin: 0 0 rem-calc(28px) 0;
}

.support__copy {
    width: 100%;
    float: left;
    font-family: $font-copy;
    color: $graychateau;
    font-size: rem-calc(14px);
    padding-bottom: rem-calc(18px);
    border-bottom: 1px solid $heather;
    margin-bottom: rem-calc(26px);

    @media #{$small-only} {
        margin-top: rem-calc(5px);
    }
}

.support__copy--link {
    font-family: $font-copy;
    color: $linkgrey;
    text-transform: uppercase;
    text-decoration: underline;
    &:hover {
        color: lighten( $linkgrey, 20%);
    }
}

.switch__start {
    float: right;
    .switch {
        margin: 0;
    }
}

.switch__start--label {
    font-family: $font-copy;
    font-size: rem-calc(14px);
    color: $black;
    letter-spacing: 0;
    line-height: rem-calc(32px);
    float: left;
    @media #{$medium-up} {
        font-size: rem-calc(16px);
    }
}

.switch #switch__start--allcomms + label,
.switch #switch__start--mailinglist + label,
.switch #switch__start--sms + label,
.switch #switch__start--phone + label,
.switch #switch__start--thirdpartyallcomms + label,
.switch #switch__start--thirdpartyemail + label,
.switch #switch__start--thirdpartysms + label,
.switch #switch__start--thirdpartyphone + label {
    background: $white;
    border: 1px solid $dustygray;
    float: left;
    margin-right: rem-calc(10px);
    &:after {
        top: 3px;
        background: $dustygray;
    }
    &:before {
        content: "";
        display: block;
        background: none;
        font-size: 14px;
        color: $dustygray;
        font-family: $font-copy;
        position: absolute;
        float: left;
        left: -28px;
        top: 5px;
        text-transform: capitalize;
    }
}

.switch #switch__start--allcomms:checked + label,
.switch #switch__start--mailinglist:checked + label,
.switch #switch__start--sms:checked + label,
.switch #switch__start--phone:checked + label,
.switch #switch__start--thirdpartyallcomms:checked + label,
.switch #switch__start--thirdpartyemail:checked + label,
.switch #switch__start--thirdpartysms:checked + label,
.switch #switch__start--thirdpartyphone:checked + label{
    background: $white;
    border: 1px solid $dustygray;
    &:before {
        content: "Yes";
        display: block;
        background: none;
        font-size: 14px;
        color: $dustygray;
        font-family: $font-copy;
        position: absolute;
        float: left;
        left: -54px;
        top: 5px;
        text-transform: capitalize;
    }
    &:after {
        top: 3px;
        background: $yellow;
    }
}

#playerdetails {
    @media #{$small-only} {
        padding: 0 rem-calc(15px);
    }
    .checkboxes {
        @include grid-column(12, $collapse: true);
        margin-bottom: rem-calc(10px);
        @media #{$medium-only} {
            padding-left: rem-calc(15px);
        }
    }
}

input#switch__start--allcomms label,
input#switch__start--mailinglist label,
input#switch__start--sms label,
input#switch__start--phone label,
input#switch__start--thirdpartyallcomms label,
input#switch__start--thirdpartyemail label,
input#switch__start--thirdpartysms label,
input#switch__start--thirdpartyphone label{
    label {
        float: left;
        .switch {
            margin: 0;
        }
    }
}

.switch__start--label2 {
    float: left;
}

.aspersbutton__updatedetails {
    width: rem-calc(227px);
    font-size: rem-calc(18px) !important;
    letter-spacing: 0.6px;
    margin-top: rem-calc(11px) !important;
    padding: rem-calc(11px) !important;
    @include button-generate($registration-3step-cta, $registration-3step-cta, $black, 7);
}

#playerdetails {
    margin: 0 0 rem-calc(25px) 0;
    span.error,
    small.error {
        background: $white !important;
        color: $red !important;
        font-style: normal !important;
        padding: 0;
        margin: -10px 0 20px 0;
    }
    .small-12.columns {
        @media #{$small-only} {
            padding: 0;
            margin-left: 0;
        }
    }
    input[type="text"],
    input[type="password"] {
        font-family: $font-copy;
        box-shadow: none;
        border: 1px solid $palesky;
        padding-left: 10px;

        @media #{$medium-only} {
            font-size: 14px;
        }

        @media #{$small-only} {
            font-size: 14px;
        }
    }
    .aspers__username--input {
        height: rem-calc(40px);
        line-height: rem-calc(40px);

        @media #{$medium-only} {
            font-size: 14px;
        }
    }
}

@media #{$medium-only} {}

.tabs--wrapper {
    @media #{$small-only} {
        white-space: nowrap;
        overflow-x: scroll !important;
        overflow-y: hidden;
    }
    @media #{$medium-only} {
        white-space: nowrap;
        overflow-x: scroll !important;
        overflow-y: hidden;
        padding: 0 rem-calc(40px);
    }
}

#myaccount-2 {
    padding: 0;
    @media #{$large-up} {
        padding: $tabs-content-padding 0;
    }
}

#myaccount-1,
#myaccount-2 {
    @media #{$medium-only} {
        padding: rem-calc(20px) rem-calc(15px);
    }
}

.myaccount-transactions {
    ul {
        li {
            a {
                font-family: $font-button;
                text-transform: uppercase;
                font-size: rem-calc(16px);
                color: $palesky;
                letter-spacing: 0.62px;
                line-height: rem-calc(25px);
            }
            a.current {
                text-decoration: underline;
            }
        }
    }
}

#myaccount-3 {
    .green-cta {
        @include button-generate($mystic, $yellow-hover, $palesky, 7, 100);
        width: rem-calc(133px);
        margin-bottom: 20px;
        &:hover, &:active, &:focus {
            background-color: $yellow-hover;
            color: $black;
        }
    }
    #details-container {
        strong {
            font-family: $font-copy-bold;
            font-size: rem-calc(13px);
            color: $black;
            line-height: rem-calc(20px);
        }
        p:nth-child(1) {
            margin-top: rem-calc(35px);
        }
        input,
        input.textField {
            border: 1px solid $palesky;
            height: rem-calc(40px);
            box-shadow: none;
            // @include placeholder(red);
        }
        .responsive {
            white-space: nowrap;
            overflow-x: scroll !important;
            overflow-y: hidden;

             @media #{$medium-only} {
                white-space: normal;
            }

            @media #{$small-only} {
                white-space: normal;
            }
        }
        font-family: $font-copy-bold;
        background:white;
        padding:0;
        border: 0;
        margin:0;
        tr {
            background: white;
            padding: 0;
            margin: 0;
            td {}
        }
    }
}

.aspers__newpassword--input,
.aspers__repeatnewpassword--input,
.aspers__phone--input,
.aspers__phoneext--input {
    margin-bottom: 10px;
}

.start-claim-code {
    padding: 0 rem-calc(30px);
    @media #{$medium-only} {
        width: rem-calc(450px);
        margin: 0 auto;
        text-align:center;
    }
    h3 {
        font-family: $font-header2;
        text-transform: uppercase;
        font-size:rem-calc(22px);
    }
    input {
        width:rem-calc(227px);
        height: rem-calc(40px);
        box-shadow:none;
        border: 1px solid $palesky;
        font-family: $font-copy;
        font-color:$black;
        @include placeholder($palesky);
        @media #{$small-only} {
            width:100%;
            margin-right:0;
        }
        @media #{$medium-only} {
            margin: 0 auto rem-calc(23px) auto;
        }
    }
    .claim-desposit-code-info {
        margin-top: 1em;
        font-family: $font-copy;
        font-size:rem-calc(14px);
        @media #{$small-only} {
            font-size:rem-calc(12px);
            margin-bottom:0;
        }
    }

    .claim-button {
        @include button-generate($yellow, $yellow-hover, $black, 7, 100);
        max-width: rem-calc(227px);
        @media #{$small-only} {
            width:100%;
            max-width: 100%;
        }
    }
}

.myaccount-details__column {
    float: left;
    width: 100%;
}

.flag-container {
    margin-top: 3px;
}

// .myaccount-details__column {
//     label:nth-child(1) {
//         display: none;
//     }
//     select {
//         background: $white;
//         border: 0px;
//         font-family: $font-copy;
//         font-size: rem-calc(14px);
//         color: $graychateau;
//         line-height: rem-calc(22px);
//     }
//     >input:nth-child(1){
//         background: $white !important;
//         border: 0px;
//         font-family: $font-copy;
//         font-size: rem-calc(14px);
//         color: $graychateau;
//         line-height: rem-calc(22px);
//     }
// }
// #playerdetails > div:nth-child(2) > div:nth-child(2) > input[type="text"] {
//            font-family: $font-header1;
// font-size: 28px;
// color: #000000;
// line-height: 28px;
// background: $white !important;
//         border: 0px;
// }
// #playerdetails > div:nth-child(2) > div:nth-child(2) > input[type="text"]
// #button_cashier {
//     // display: absolute;
//     // display: block;
//     color: $button-cashier-color;
//     &:before {
//         margin-top: rem-calc(30px);
//         content: " ";
//         display: block;
//         @include border-radius(100px);
//         background: $button-cashier-bg;
//         font-family: $font-button;
//         width: rem-calc(240px);
//         height: rem-calc(40px);
//         line-height: rem-calc(39px);
//         text-align: center;
//         text-transform: uppercase;
//         &:hover {
//             background: $button--bg-hover;
//         }
//     }
// }
// .aspersbutton__copy {
//     display: block;
//     color: $button--text;
//     &:hover {
//         color: $button--text;
// #playerdetails {
//     @include clearfix;
// }
// .balanceboxes {
//     @media #{$small-only} {
//         margin: 12px;
//     }
//     @media #{$medium-up} {
//         @include grid-column(6, $float: left);
//         padding: 18px !important;
//         border: 2px solid rgb(222, 237, 243);
//     }
//     position: relative;
//     list-style: none;
//     margin: 0;
//     display: block;
//     color:$white;
//     text-align: center;
//     .balancebar {
//         color: #222;
//         font-family: $body-font-demi;
//         font-size: 15px;
//         display: block;
//         border: 2px solid rgb(222, 237, 243);
//         @include border-radius(8px);
//         background-color: #F5FBFF;
//         margin-bottom: 12px;
//         padding-left: 12px;
//         text-align: left;
//         @media #{$medium-up} {
//             height: 40px;
//             @include vert-align(40px);
//         }
//         @media #{$small-only} {
//             width: 100%;
//             text-align: center;
//             display: block;
//             float: left;
//             padding: 0;
//             height: auto;
//             @include border-radius(0px);
//             margin-bottom: 12px;
//         }
//         span {
//             @media #{$medium-up} {
//                 display: inline;
//                 float: right;
//             }
//             @media #{$small-only} {
//                 width: 100%;
//                 text-align: center;
//                 display: block;
//                 @include border-radius(0px);
//             }
//             color: #000;
//             font-family: sans-serif;
//             font-size: 18px;
//             font-weight: bold;
//             float: right;
//             display: inline;
//             background-color: #fff;
//             height: 36px;
//             @include vert-align(36px);
//             padding-left: 12px;
//             padding-right: 12px;
//             @include border-right-radius(6px);
//             min-width: 80px;
//         }
//         .freespinslink {
//             @include button-generate(green, 2);
//         }
//     }
//     a {
//         display: block;
//         width: 100%;
//     }
// #button_cashier {
//     @include grid-column(5);
//     @include button-generate($ctacolor, 12);
//     margin-bottom: 12px;
//     font-family: $body-font-demi;
//     text-transform: uppercase;
// }
//     #playoverview {
//         @include grid-column(5, $float: right);
//         @include button-generate(#208d12, 12);
//         font-family: $body-font-demi;
//         text-transform: uppercase;
//     }
//     .convertpointsbtn {
//         @include button-generate(palette(green,base), 2);
//         margin-bottom: $site-margin;
//         display: inline;
//         margin-left: 1em;
//     }
//     .convertpointsbtn__info{
//         @include button-generate(palette(grey,base), 2);
//         margin-bottom: $site-margin;
//         display: inline;
//         margin-left: 1em;
//         width:20px;
//     }
//     .balancesbtn {
//         @include button-generate(palette(grey,base), 12);
//         margin-top: $site-margin;
//         display: block;
//         font-family: $body-font-demi;
//         text-transform: uppercase;
//     }
// }
// .convertpanel {
//     @include grid-column(12);
//     position: absolute;
//     top: 0;
//     left: 0;
//     background: #222;
//     height: 100%;
//     @media #{$small-only} {
//         height: 440px;
//     }
//     z-index: 100;
//     padding-top: 1.3125rem;
//     padding-bottom: 1.3125rem;
//     padding-left: 1.3125rem;
//     padding-right: 1.3125rem;
//     span {
//         margin-bottom: 10px;
//         display: block;
//     }
//     .convertpointsbtn {
//         @include button-generate(palette(green,base), 12);
//         margin-top: 12px;
//         margin-left: 0px !important;
//         display: block;
//     }
// }
// #myaccount-2, #myaccount-3 {
//     label {
//         color: #67749B;
//     }
//     input, select {
//         color: #67749B;
//         border: 1px solid #67749B;
//         &:focus, &:hover {
//             border-color: grey;
//             background-color: #EAF4F8;
//         }
//         &.error {
//             border: 3px solid red;
//         }
//     }
//     input[type="text"]:disabled, select:disabled {
//         background: #dddddd;
//         border-color: #dddddd;
//         color: lighten(gray, 5%);
//     }
// }
// .myaccount-details__column {
//     @media #{$small-only} {
//         @include grid-column(12);
//     }
//     @media #{$medium-up} {
//         @include grid-column(4);
//         float: left;
//     }
//     button {
//         background-color: #67749B;
//     }
// }
// .myaccount-limits{
//      font-family: $ui-font-semibold;
//     label {
//         color: $grey;
//     }
//     padding-top: 20px;
//           &__title {
//                    @include grid-column(2);
//                     @media #{$small-only} {
//                     @include grid-column(12);
//                     }
//                     @media #{$medium-only} {
//                     @include grid-column(3);
//                     }
//             }
//          &__radiobtn-container {
//             @include grid-column(6);
//              @media #{$small-only} {
//                 @include grid-column(12);
//             }
//              @media #{$medium-only} {
//                     @include grid-column(9);
//                     }
//             &__radiobtn {
//                     @include grid-column(4);
//                     @media #{$small-only} {
//                     @include grid-column(12);
//                     }
//             }
//         }
//         &__expandbox {
//            @include grid-column(4);
//             @media #{$small-only} {
//             @include grid-column(12);
//             }
//              @media #{$medium-only} {
//             @include grid-column(12);
//             }
//          }
//         &__details {
//          @include grid-column(4);
//          @media #{$small-only} {
//             @include grid-column(12);
//             }
//         }
//         &__note {
//              @include grid-column(12);
//         }
// }
// // .myaccount-details__column {
// //     @media #{$small-only} {
// //         @include grid-column(12);
// //     }
// //     @media #{$medium-up} {
// //         @include grid-column(4);
// //         float: left;
// //     }
// //     button {
// //         background-color: #67749B;
// //     }
// // }
// /*-----  End ofMy Account  ------*/
//*=============================================
//  My account tabbed content
// =============================================================================
.myaccount-content .tabs {
    margin: 0 auto;
    // background-color: $brand-color;
    @media #{$small-only} {
        width: rem-calc(366px);
        padding: 0 0;
        padding-top: rem-calc(6px);
        float: left;
        padding-left: rem-calc(10px);
    }
    @media #{$medium-only} {
        // margin-top: 0px;
    }
    dd {
        @media #{$small-only} {
            width: rem-calc(89px);
        }
        // margin: 0 0;
        // margin-right: 4px;
        // border-style: none;
        a {
            @media #{$small-only} {
                width: rem-calc(89px);
                white-space: pre-wrap;
            }
            // font-family: $body-font-regular;
            // padding: 10px 10px;
            // font-size: 12px;
            // font-weight: bold;
            // background: #F8F8F8;
            // color: #A0A0A2;
            // text-align: center;
            // @include border-radius(2px 2px 0px 0px);
            &:hover {
                // color: $black;
                // background: #F8F8F8;
            }
            @media #{$small-only} {
                margin: 0 0;
                padding: 10px 10px;
                text-align: left;
                border: none;
                margin-bottom: 12px;
            }
        }
        &.active {
            a,
            a:hover {
                //     font-size: 12px;
                //     font-weight: bold;
                //     cursor: default;
                //     background: $white;
                //     color: $black;
            }
        }
        &.first {
            a {
                // border-left: none;
            }
        }
        &.last {
            // margin-right: 0px;
            a {
                // border-right: none;
            }
        }
        @media #{$small-only} {
            // @include grid-column(12);
            // margin-bottom: 12px;
            // border-top: none;
            // border-bottom: none;
        }
    }
}


// Weekly filtering for Game and Banking Activity
.myaccount-transactions {
    .myaccount-date-filter {

        .date-selector_left {
            width: 300px;
            float: left;
            margin-right: 30px;
            margin-top: 0;

            @media #{$small-only} {
                width: 100%;
            }
        }

        .date-selector_right {
            width: 300px;
            float: left;
            margin-top: 35px;
            

            @media #{$small-only} {
                width: 100%;
                margin-top: 0;
            }
        }

    }
    
    .info-results {
        background-color: #A0A7B0;
        height: 23px;
        border-radius: 0;

        @media #{$small-only} {
            height: 110px;
        }

        .activity-results {
        width: 100%;

            li {
                float: left;
                width: 30%;
                text-align: left; 
                font-family: "fira_sansregular", Helvetica, Arial, Verdana, sans-serif;
                font-weight: normal;
                font-size: 14px;
                list-style: none;
                color: #fff;

                @media #{$small-only} {
                    width: 100%;
                    padding-top: 10px;
                }

                span {
                    font-weight: bold !important;
                    padding-left: 10px;
                }
            }

            .banking-net-total {
                float: right;
                width: 30%;

                @media #{$small-only} {
                    float: left;
                    width: 100%;
                }

                @media #{$medium-only} {
                    float: right;
                }
            }

            .banking-totals {
                width: 33%;
                
                @media #{$small-only} {
                    float: left;
                    width: 100%;
                }

            }

        }
    }

    .disclaimer-results {
        height: 100px;
        margin-top: 10px;
        float: left;
        width: 100%;
        font-size: 19px;
        color: #000;
        font-weight: bold;
    }
    
} 


.trusted-partners {
    width: 100%;
    float: left;
    margin-top: 20px;

    h4 {
        font-weight: bold;
    }

    span {
        a {
            color: #000;
            text-decoration: underline;
        }
    }
}

.indent {
        margin-left: 35px;

        @media #{$small-only} {
            margin-left: 0;
        }
}

.receive-bonus {
    margin-top: 30px;
    margin-bottom: 20px;
}

.checkboxes {
    @media #{$small-only} {
        span {
            float: none;
        }
    }
}

// Weekly filtering for Game and Banking Activity


// .myaccount-content .tabs-content {
//     @include grid-column(12);
//     border: 4px solid $brand-color;
//     background-color: $white;
//     border-top: none;
//     padding-bottom: $site-margin;
//     .current {
//         text-decoration: underline;
//     }
// }
// // my account promotion banners
// .myaccount-promotions {
//     @media #{$small-only} {
//         @include grid-column(12);
//     }
//     @media #{$medium-up} {
//         @include grid-column(6, $float: left);
//         padding-left: 18px;
//     }
//     @media #{$small-only} {
//         @include grid-column(12, $collapse: true);
//     }
//     > .promotion {
//         height: auto;
//         @include clearfix;
//         @media #{$small-only} {
//             @include grid-column(12);
//             @include clearfix;
//             height: auto;
//         }
//         .promotion__title {
//             @include grid-column(12);
//             font-size: 1em;
//             margin-top: 0px;
//             @media #{$medium-only} {
//                 @include grid-column(12, $collapse: true);
//                 margin-top: 12px;
//             }
//             @media #{$small-only} {
//                 @include grid-column(12, $collapse: true);
//                 margin-top: 12px;
//             }
//         }
//         .promotion__content {
//             @include grid-column(12);
//             @include clearfix;
//             p {
//                 font-size: 13px !important;
//             }
//             @media #{$medium-only} {
//                 @include grid-column(12, $collapse: true);
//             }
//             @media #{$small-only} {
//                 @include grid-column(12, $collapse: true);
//             }
//         }
//         .promotion__image {
//             @include grid-column(6);
//             @media #{$medium-only} {
//                 @include grid-column(12, $collapse: true);
//             }
//             @media #{$small-only} {
//                 @include grid-column(12, $collapse: true);
//             }
//         }
//         .promotion__content__wrapper {
//             @include clearfix;
//             @media #{$medium-only} {
//                 @include grid-column(12, $collapse: true);
//                 height: auto;
//             }
//             @media #{$small-only} {
//                 @include grid-column(12, $collapse: true);
//                 height: auto;
//             }
//         }
//     }
// }

#cashier {

    .cashier {
        margin-bottom: 30px;
        margin-top: 50px !important;

        @media #{$small-only} {
            margin-bottom: 0;
            margin-top: 0 !important;
        }

         @media #{$medium-only} {
            margin-bottom: 0;
            margin-top: 0 !important;
        }
    }
    .middle-content__box h1 {
        font-size: 16px !important; 
        color: #000000;
        text-transform: none !important; 
        padding-bottom: 0 !important; 
        padding-top: 0 !important;
        margin: 0;

        @media #{$small-only} {
            text-align: left;
            padding-left: 10px;
        }

         @media #{$medium-only} {
            text-align: left;
            padding-left: 10px;
        }
    }

    .section__title:first-child {
            font-size: 22px !important;
            text-transform: uppercase !important;
            margin-top: 20px;
        }

        .cashier__section__title .secure-payment-icon {
            top: 5px;
        }

        .cashier__section .solid-border {
            margin-top: -10px;
        }

        .cashier__section__extra-info {
            @media #{$small-only} {
            top: 7px;
            }
        }


}

.cashier__no-bonus {
    margin-top: 30px;
    padding-left: 0 !important;
    padding-right: 0 !important;

    @media #{$small-only} {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}



