.loggedin {
   .reveal-modal {
       left: 0 !important;
       transform: none !important;
       z-index: 999999;
   }
   .overlay__myaccount {
       width: 100% !important;
       z-index: 199999;
       top: rem-calc(70px) !important;
       min-height: auto !important;
       background: $overlay--myaccount;
       border: $overlay--myaccount-header;
       padding: 0;
       position: fixed;
       overflow: visible; // manual re-positioning of overlay.
       box-shadow: 0px 5px 35px 0px rgba(255, 255, 255, 0.1);

            @media only screen and (min-width: 320px) and (max-width: 1023px) {
                    height: calc(100vh - 70px) !important;
                    overflow: scroll;
            }

            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                width: rem-calc(269px) !important;
                height: rem-calc(413px);
                top: rem-calc(80px) !important;
                margin-right: 2.7% !important;
                overflow: scroll;
            }
            @media only screen and (min-width: 1025px) and (max-width: 1440px) {
                width: rem-calc(269px) !important;
                height: rem-calc(413px);
                top: rem-calc(80px) !important;
                left: 52.7% !important;
            }
            @media only screen and (min-width: 1441px) and (max-width: 1533px) {
                width: rem-calc(269px) !important;
                height: rem-calc(413px);
                top: rem-calc(80px) !important;
                left: 55.7% !important;
            }
            @media only screen and (min-width: 1534px) and (max-width: 1648px) {
                width: rem-calc(269px) !important;
                height: rem-calc(413px);
                top: rem-calc(80px) !important;
                left: 50.7% !important;
            }

       @media only screen and (min-width: 1648px) and (max-width: 1834px) {
           width: rem-calc(269px) !important;
           height: rem-calc(413px);
           top: rem-calc(80px) !important;
           left: 45.7% !important;
       }
       @media only screen and (min-width: 1835px) and (max-width: 2000px) {
           width: rem-calc(269px) !important;
           height: rem-calc(413px);
           top: rem-calc(80px) !important;
           left: 40.7% !important;
       }
       @media only screen and (min-width: 2001px) and (max-width: 2300px) {
           width: rem-calc(269px) !important;
           height: rem-calc(413px);
           top: rem-calc(80px) !important;
           left: 37.7% !important;
       }
       @media only screen and (min-width: 2301px) {
           width: rem-calc(269px) !important;
           height: rem-calc(413px);
           top: rem-calc(80px) !important;
           left: 34.7% !important;
       }
       .close-modal {
           top: 0 !important;
           @include reveal-close;
       }
       &.open {
          display: block;
          opacity: 1;
          visibility: visible;
          top: 80px;
       }
   }

   .overlay__myaccount--arrow {
       position: relative;
       background: $mineshaft;
       top: 0px;
       &:after {
           bottom: 100%;
           left: 50%;
           border: solid transparent;
           content: " ";
           height: 0;
           width: 0;
           position: absolute;
           pointer-events: none;
           border-color: rgba(37, 37, 37, 0);
           border-bottom-color: $mineshaft;
           border-width: 20px;
           margin-left: -20px; // manual re-positioning of arrow.
           @media only screen and (min-width: 320px) and (max-width: 375px) {
               border-width: 10px;
               left: 76%;
           }
           @media only screen and (min-width: 376px) and (max-width: 413px) {
               border-width: 10px;
               left: 75%;
           }
           @media only screen and (min-width: 414px) and (max-width: 436px) {
               border-width: 10px;
               left: 77%;
           }
           @media only screen and (min-width: 437px) and (max-width: 477px) {
               border-width: 10px;
               left: 79%;
           }
           @media only screen and (min-width: 478px) and (max-width: 520px) {
               border-width: 10px;
               left: 81%;
           }
           @media only screen and (min-width: 521px) and (max-width: 550px) {
               border-width: 10px;
               left: 83%;
           }
           @media only screen and (min-width: 551px) and (max-width: 573px) {
               border-width: 10px;
               left: 83%;
           }
           @media only screen and (min-width: 574px) and (max-width: 623px) {
               border-width: 10px;
               left: 84%;
           }
           @media only screen and (min-width: 624px) and (max-width: 659px) {
               border-width: 10px;
               left: 85%;
           }
           @media only screen and (min-width: 660px) and (max-width: 700px) {
               border-width: 10px;
               left: 86%;
           }
           @media only screen and (min-width: 701px) and (max-width: 750px) {
               border-width: 10px;
               left: 87%;
           }
           @media only screen and (min-width: 751px) and (max-width: 767px) {
               border-width: 10px;
               left: 88%;
           }
           @media only screen and (min-width: 768px) and (max-width: 1024px) {
               left: 69%;
           }
           @media only screen and (min-width: 1025px) and (max-width: 1400px) {
               left: 50%;
           }
       }
   }

   .overlay__myaccount--header {
       height: rem-calc(60px);
       background: $overlay--myaccount-header;
       margin: 0;
       h3 {
           span {
               text-transform: capitalize;
           }
       }
   }

   .overlay__myaccount--menuitem {}

   .overlay__myaccount--welcome {
       margin: 0;
       padding: 0;
       font-family: $font-myaccount-welcome;
       font-size: rem-calc(14px);
       color: $overlay--myaccount-font-color;
       letter-spacing: 0;
       line-height: rem-calc(60px);
       height: rem-calc(60px);
       padding-left: rem-calc(10px);
       width: 60%;
       float: left;
       @media #{$large-up} {
           width: 70%;
       }
   }

   .overlay__myaccount--level {
        font-family: $font-myaccount-welcome;
        font-size: rem-calc(10px);
        color: $overlay-myaccount-level;
        width: 20%;
        float: left;
        height: rem-calc(60px);
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center center;
        width: 70px;
        &.bronze {
             background-image: url('../_images/common/status/aspers-bronze.png');
        }

        .overlay__myaccount--menu {
            color: $header--link;
            font-family: $font-menu;
            text-transform: uppercase;
            font-size: rem-calc(15px);
            text-align: center;
            letter-spacing: 0.5px;
            margin-top: rem-calc(20px);
            ul {
                margin-left: 0;
            }
        }

        .overlay__myaccount--menuitem {
            list-style-type: none;
              padding: 0.8em 0;
            a {
                color: $header--link;
                &:hover {
                    color: $header--link--hover;
                }
            }
        }
        &.newbie {
             background-image: url('../_images/common/status/aspers-newbie.png');
        }
        &.bronze {
             background-image: url('../_images/common/status/aspers-bronze.png');
        }
        &.silver {
             background-image: url('../_images/common/status/aspers-silver.png');
        }
        &.gold {
             background-image: url('../_images/common/status/aspers-gold.png');
        }
        &.ruby {
             background-image: url('../_images/common/status/aspers-ruby.png');
        }
        &.emerald {
             background-image: url('../_images/common/status/aspers-emerald.png');
        }
        &.vip {
             background-image: url('../_images/common/status/aspers-vip.png');
        }
        &.elite {
             background-image: url('../_images/common/status/aspers-elite-diamond.png');
        }

   }

   .overlay__myaccount--menu {
       color: $header--link;
       font-family: $font-menu;
       text-transform: uppercase;
       font-size: rem-calc(15px);
       text-align: center;
       letter-spacing: 0.5px;
       margin-top: rem-calc(20px);
       ul {
           margin-left: 0;
       }
   }

   .overlay__myaccount--menuitem {
       list-style-type: none;
       line-height: rem-calc(52px);
       a {
           color: $header--link;
           &:hover {
               color: $header--link--hover;
           }
       }
   }

   .overlay__myaccount--messages {
       span {
           border-radius: 50%;
           width: 19px;
           height: 19px;
           background: $red;
           z-index: 2;
           display: block;
           position: absolute;
           left: calc(50% + 45px);
           font-size: 10px;
           line-height: 19px;
           top: 190px;
           @media #{$small-only} {
               right: 92px;
               // top: 40%;
           }
           // @media #{$medium-only} {
           //     top: 40%;
           // }

           // @media (min-width: 951px) and (max-width: 1023px) {
           //     top: 22%;
           // }
       }
   }
}

.aspers-modal-menu {
     @extend .reveal-modal;
}
