.overlay__mybalance {
     position: fixed;
     overflow: visible;
     background: $overlay--mybalance;
     border: $overlay--mybalance-header;
     padding: 0;
     width: 100%;
     z-index: 199999;
     top: rem-calc(70px) !important;
     min-height: auto !important;
     box-shadow: 0px 5px 35px 0px rgba(255, 255, 255, 0.1);

     @media only screen and (min-width: 320px) and (max-width: 1023px) {
          @media #{$landscape} {
               overflow:scroll;
          }
     } // Adjusting the position of the modal
     @media only screen and (min-width: 768px) and (max-width: 909px) {
          width: rem-calc(375px)!important;
          top: rem-calc(80px) !important;
          right: -33% !important;
     }

     @media only screen and (min-width: 910px) and (max-width: 1024px) {
          width: rem-calc(375px)!important;
          top: rem-calc(80px) !important;
          right: -44% !important;
     }

     @media only screen and (min-width: 910px) and (max-width: 1023px) {
          width: rem-calc(375px)!important;
          top: rem-calc(80px) !important;
          right: -48% !important;
     }

     @media only screen and (min-width: 1024px) and (max-width: 1235px) {
          width: rem-calc(375px);
          height: rem-calc(378px);
          top: rem-calc(85px) !important;
          right: -51% !important;
     }
     @media only screen and (min-width: 1236px) and (max-width: 1329px) {
          width: rem-calc(375px);
          height: rem-calc(378px);
          top: rem-calc(85px) !important;
          right: -56% !important;
     }
     @media only screen and (min-width: 1330px) and (max-width: 1559px) {
          width: rem-calc(375px);
          height: rem-calc(378px);
          top: rem-calc(85px) !important;
          right: -70% !important;
     }
     @media only screen and (min-width: 1560px) and (max-width: 1650px) {
          width: rem-calc(375px);
          height: rem-calc(378px);
          top: rem-calc(85px) !important;
          right: -67% !important;
     }
     @media only screen and (min-width: 1651px) and (max-width: 1800px) {
          width: rem-calc(375px);
          height: rem-calc(378px);
          top: rem-calc(85px) !important;
          right: -60% !important;
     }
     @media only screen and (min-width: 1801px) and (max-width: 1900px) {
          width: rem-calc(375px);
          height: rem-calc(378px);
          top: rem-calc(85px) !important;
          right: -58% !important;
     }
     @media only screen and (min-width: 1901px) and (max-width: 2000px) {
          width: rem-calc(375px);
          height: rem-calc(378px);
          top: rem-calc(85px) !important;
          right: -56% !important;
     }
     @media only screen and (min-width: 2001px) {
          width: rem-calc(375px);
          height: rem-calc(378px);
          top: rem-calc(85px) !important;
          right: -52% !important;
     }

     .close-modal {
          top: 0.325rem;
          @include reveal-close;
     }
     &.open {
          display: block;
          opacity: 1; visibility: visible;
          top: 80px;
     }
}

.switch #switch__mybalance+label {
     background: $black;
     border: 1px solid $dustygray;
     &:after {
          top: 3px;
          background: $dustygray;
     }
     &:before {
          content: "";
          display: block;
          background: none;
          font-size: 14px;
          color: $dustygray;
          font-family: $font-copy;
          position: absolute;
          float: left;
          left: -28px;
          top: 5px;
          text-transform: capitalize;
     }
}

.switch #switch__mybalance:checked+label {
     background: $black;
     border: 1px solid $dustygray;
     &:before {
          content: "Yes";
          display: block;
          background: none;
          font-size: 14px;
          color: $dustygray;
          font-family: $font-copy;
          position: absolute;
          float: left;
          left: -54px;
          top: 5px;
          text-transform: capitalize;
     }
     &:after {
          top: 3px;
          background: $yellow;
     }
}

.overlay__mybalance--arrow {
     position: relative;
     background: #252525;
     top: 0px;
     &:after {
          bottom: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(37, 37, 37, 0);
          border-bottom-color: #252525;
          border-width: 20px;
          margin-left: -20px;


          @media only screen and (min-width: 200px) and (max-width: 374px) {
               border-width: 10px;
               margin-left: -65px;
          }

          @media only screen and (min-width: 375px) and (max-width: 413px) {
               border-width: 10px;
               margin-left: -85px;
          }
          @media only screen and (min-width: 414px) and (max-width: 479px) {
               border-width: 10px;
               margin-left: -55px;
          }
          @media only screen and (min-width: 480px) and (max-width: 579px) {
               border-width: 10px;
               margin-left: -20px;
          }
          @media only screen and (min-width: 580px) and (max-width: 675px) {
               border-width: 10px;
               margin-left: 50px;
          }
          @media only screen and (min-width: 675px) and (max-width: 767px) {
               border-width: 10px;
               margin-left: 80px;
          }

          @media only screen and (min-width: 1025px) and (max-width: 1329px) {
               margin-left: 95px;
          }
     }
}

.overlay__mybalance--header {
     height: rem-calc(60px);
     background: $overlay--mybalance-header;
     margin: 0;
}

.overlay__mybalance--menuitem {
     .overlay__mybalance--logout {
          color: $overlay-mybalance-logout;
     }
}

.overlay__mybalance--hidebalance {
     margin-bottom: rem-calc(25px);
     font-family: $font-mybalance-menu-item;
}

.overlay__mybalance--welcome {
     margin: 0;
     padding: 0;
     font-family: $font-mybalance-welcome;
     font-size: rem-calc(14px);
     color: $overlay--mybalance-font-color;
     letter-spacing: 0;
     line-height: rem-calc(60px);
     height: rem-calc(60px);
     padding-left: rem-calc(17px);
     width: 60%;
     float: left;
     text-transform: uppercase;
}

.overlay__mybalance--level {
     font-family: $font-mybalance-welcome;
     font-size: rem-calc(10px);
     color: $overlay-mybalance-level;
     width: 20%;
     float: left;
     line-height: rem-calc(80px);
     height: rem-calc(60px); // text-align: center;
     padding-top: rem-calc(10px);
     &:before {
          content: " ";
          position: absolute;
          background-image: url('../_images/common/status/vip.png'); // background: $overlay-mybalance-level;
          width: rem-calc(31px);
          height: rem-calc(31px);
     }
}

// vip.png
// silver.png
// ruby.png
// newbie.png
// gold.png
// emerald.png
// elite-diamond.png
// bronze.png

.overlay__mybalance--menu {
     padding: rem-calc(20px);
     font-family: $font-mybalance-menu-item-light;
     font-size: rem-calc(15px);
     color: $header--link;
     text-transform: uppercase;

     @media only screen and (min-width: 320px) and (max-width: 1023px) {
          @media #{$landscape} {
               min-height: rem-calc(370px);
               overflow: scroll;
          }
     }
     ul {
          margin-left: 0;
          list-style: none;
          li:first-of-type {
               margin-bottom: 1.5em;
          }
     }
}

.overlay__mybalance--menuitem {
     list-style-type: none;
     line-height: rem-calc(35px);
     a {
          color: $header--link;
          &:hover {
               color: $header--link--hover;
          }
     }
     &.with-link{
          a {
               color: $header--link--hover;
               text-decoration: underline;
               &:hover {
                    color: $header--link;
               }
          }
     }
}

.overlay__mybalance--value {
     float: right;
     .switch {
          margin: 0;
     }
}

.overlay__mybalance--messages {
     &:after {
          width: rem-calc(28px);
          height: rem-calc(18px);
          content: " ";
          background-image: url('../_images/common/mail-icon.svg');
          position: absolute;
          margin-top: 16px;
          margin-left: 35px;
          background-size: contain;
          background-repeat: no-repeat;
     }
}
