.responsivebanner__left {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @media #{$large-up} {
        padding: 0 rem-calc(50px);
        height: rem-calc(160px);
        flex-direction: column;
        left: 25%;
    }

    @media #{$medium-only} {
        left: 25%;
        margin-top: rem-calc(-10px);
    }

}

.responsivebanner__right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.games-list {
    .responsivebanner {
        @media #{$large-up} {
            margin-top: rem-calc(20px);
        }
    }
}

.responsivebanner--headline {
    h3 {
        text-align: center;
        font-family: $font-header1;
        font-size: rem-calc(32px);
        color: $white;
        letter-spacing: 0px;
        line-height: rem-calc(35px);
        text-transform: uppercase;
        display: block;
        @extend %text-shadow;

        @media #{$medium-only} {
            margin-top: rem-calc(25px);
        }
        @media #{$small-only} {
            margin-top: rem-calc(20px);
        }

        /* 4inch devices ----------- */
        @media #{$smaller-phones} {
            font-size: rem-calc(30px); // unique adjustment for smaller phones
        }
    }
}

.responsivebanner--terms {
    margin-bottom: rem-calc(11px);
    line-height: rem-calc(14px) !important;
    text-align: center;
    @media #{$large-up} {
        margin-bottom: 0;
    }

    a {
        text-align: center;
        font-family: $font-copy;
        font-size: rem-calc(10px);
        color: $home--htmlcopy;
        margin: 0;
        @extend %text-shadow;
    }
}

.terms-acquisition-banner {
    display: initial !important;
    color: $white;
    font-weight: bold;
}

.responsivebanner__cta {
    @include border-radius(100px);
    background: $button--bg;
    font-family: $font-button;
    width: rem-calc(146px);
    height: rem-calc(39px);
    line-height: rem-calc(39px);
    text-align: center;
    text-transform: uppercase;
    margin-top: rem-calc(60px);

    @media #{$medium-only} {
        width: rem-calc(100px);
        margin-top: rem-calc(55px);
    }
    @media #{$small-only} {
        margin-top: rem-calc(10px);
    }
    &:hover {
        background: $button--bg-hover;
    }
}

.responsivebanner__cta--copy {
    display: block;
    color: $button--text;
    &:hover {
        color: $button--text;
    }
}


.login__acquisition-banner {
    .edit-point {
        margin-top: -40px;
    }
}

#games {
    body {
        line-height: none !important;
    }
}

#login {
    .responsivebanner {
        margin-top: 20px;

        @media #{$small-only} {
            margin-top: 0;
        }
    }
}

#loyalty {
    .responsivebanner {
        margin-top: 20px;
    }
}