//when search screen is open you must apply body position fixed
.search-screen-wrap {
    height: 100%;
}

.search-screen {
    h4 {
        font-family: $font-copy;
        color: black !important;
    }
    @extend .hide-for-large-up;
    visibility: hidden;
    font-family: $font-button;


    @media #{$large-up} {
        visibility: hidden !important;
    }
    height: 100% !important;
    position: fixed;
    bottom: -100%;
    display: block !important;
    list-style: none;
    padding:0 !important;
    width: 100% !important;
    z-index: 100000;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: auto;

    @media #{$medium-up} {
        @include box-shadow(0 0 0 3px rgba(0, 0, 0, 0.14));
    }
}

.search-inner {
    opacity: 1;
    @include grid-column(12, $center: true, $collapse: true);
    max-width: 360px;
    height: 100% !important;
    padding-top:100px !important;
    padding-left:rem-calc(10px);
    padding-right:rem-calc(10px);
    .search-field {
        opacity: 1;
        margin-bottom: 20px;
    }
    ul {
        margin-left:0pc;
    }
}

.search-results {
    .search-result {
        cursor: pointer;
        @include grid-row;
        /*prevent text selection*/
        user-select: none;
        /*static positioned elements appear behind absolutely positioned siblings(.ink in this case) hence we will make the links relatively positioned to bring them above .ink*/
        position: relative;
        list-style-type: none;
        /*relative positioning for list items along with overflow hidden to contain the overflowing ripple*/
        position: relative;
        overflow: hidden;
        padding: 20px 20px 20px 0;
        a {
            height: 108px;
            display: block;
        }
        &:hover {}
        .search-result__thumb {

            height: 100%;
            line-height:100%;
            @include grid-column(5, $collapse: true);
            .search-result__thumb__img {
                opacity: 1;

            }
        }
        .search-result__name {
             @include grid-column(6, $collapse: true);
            // @include vertical-center-parent;
            font-family: $font-copy;
            font-size: 16px;
            height: 100%;
            line-height:100%;
                    .search-result__name__inner {
             @include grid-column(12, $collapse: true);
            text-align: left;
            color: black;
            padding-left: 20px;

        }
        }

        .search-result__cta {
            @include grid-column(1, $collapse: true, $float: right);
            // @include vertical-center-parent;
           height: 100%;
           line-height:100%;
           display: none;

            &:hover {}
            svg {

                // @include vertical-center-child;
                width: 100%;
                height:auto;
            }
            .st0 {
                fill: $white;
            }
        }
    }
}

.search-result-highlight {
    background-color: #D5D3D3;
}
