// Aspers THEME
$black: #000000;
$white: #FFFFFF;
$yellow:#F3E900;
$yellow-hover:#FFF738;
$green: #2EAD08;
$red: #DB1F35;
$lima: #70B71D;
// Greys
$mystic: #EEF1F5; //cGrey-bg
$graychateau: #A0A7B0; //cGrey69
$palesky: #72767D; //cGrey49
$heather: #C1C9D4; //cGrey83
$iron: #DADDE1; //cGrey88
$nepal: #95AAC4; //cLink-on-white
$periwinklegray: #CDD9E9; //cLink-on-black
$mineshaft: #252525;
$tundora: #4A4A4A;
$dustygray:#9B9B9B;
$linkgrey:#92A7C0;
$tundora: #444444;
$aqua-haze: #EDF1F5;
$geyser: #E1E7ED;
$alabaster: #F9F9F9;
$alto: #DDDDDD;
//Registration
$carnation: #FB5368;
$emperor: #555555;
$silver-chalice: #A4A4A4;
$dove-gray: #717171;
$amethyst-smoke: #968ba9;
$green-vogue: #042E64;
$concrete: #f2f2f2;
$prussian-blue: #00214B;
$my-offline-casino: #666666;

// UI
//Link Hover
$corn: #d1c800;
// Header
$header--background: $black;
$header--link: $white;
$header--link--hover: $yellow-hover;
// Buttons
$button--bg: $yellow;
$button--text: $black;
$button--bg-hover: $yellow-hover;
// Login
$login--color: $yellow;
$login--hover: $yellow-hover;
// Mobile Menu
$mobilemenu-background: $black;
$mobilemenu-burger: $white;
$mobilemenu-fontcolor: $white;
$mobilemenu-fontcolor--hover: $yellow-hover;
$mobilemenu-bottom-border: $tundora;
$mobilemenu-list-header: $dustygray;
// Footer
$footer-background: $black;
$footer-fontcolor: $white;
$footer-menu-color: $white;
$footer-menu--hover: $yellow-hover;
// Home page
$home--mostpopular:$black;
$home--mostpopular--hover:$yellow-hover;
$home--htmlcopy: $white;
$home--copyshadow: $black;
$home--seo--bg: $white;
$home--seo--fontcolor: $black;
// Overlay: my account:
$overlay--myaccount: $black;
$overlay--myaccount-header: $mineshaft;
$overlay--myaccount-font-color: $white;
$overlay-myaccount-level: $yellow;
$overlay-myaccount-logout: $dustygray;
// Overlay: my balance:
$overlay--mybalance: $black;
$overlay--mybalance-header: $mineshaft;
$overlay--mybalance-font-color: $white;
$overlay-mybalance-level: $yellow;
$overlay-mybalance-logout: $dustygray;
// Button
$button-cashier-bg:$green;
$button-cashier-color: $white;
//login page
$font-login-copy: $palesky;
// Start page
$start-background: $white;
$start-header: $black;
$start-viewall: $palesky;


$bg-color: #16023F;

 
/*=============================================
Apsers Fonts
=============================================*/

$font-header1: "brandon_grotesqueblack",
Helvetica,
Arial,
Verdana,
sans-serif;
$font-header2: "brandon_grotesquebold",
Helvetica,
Arial,
Verdana,
sans-serif;
$font-header3: "brandon_grotesque_regularRg",
Helvetica,
Arial,
Verdana,
sans-serif;
$font-copy: "fira_sansregular",
Helvetica,
Arial,
Verdana,
sans-serif;
$font-copy-bold: "fira_sansbold",
Helvetica,
Arial,
Verdana,
sans-serif;
$font-button: "oswald_regularregular",
Helvetica,
Arial,
Verdana,
sans-serif;
$font-button-light: "oswaldlight",
Helvetica,
Arial,
Verdana,
sans-serif;

$font-cookie-policy: 'proxima_nova_rgregular',
Helvetica,
Arial,
Verdana,
sans-serif;
// Main header menu
$font-menu: $font-button;
$font-form-fields: $font-copy;
$font-placeholder: $font-copy;
// My account overlay
$font-myaccount-welcome: $font-copy;
$font-myaccount-menu-item: $font-button;
// My balance overlay
$font-mybalance-welcome: $font-copy;
$font-mybalance-menu-item: $font-button;
$font-mybalance-menu-item-light: $font-button-light;
// start page
$start-viewall-font: $font-button;
$start-filterbuttons:$font-copy;
$start-filterbuttons-bold: $font-copy-bold;
$start-progesstive-jackpot-bg: $aqua-haze;

/*=============================================
Apsers 3 step registration
=============================================*/

//fonts
$registration-3step-font-light: $font-button;
$registration-3step-font-regular: $font-copy;
$registration-3step-font-bold: $font-button;
// background
$registration-3step-bg--base: $white;
$registration-3step-bg--main: $white;
// banner
$registration-3step-banner-bg: $white;
// 3 step steps
$registration-3step-title: $black;
$registration-3step-title--border: #80B53E;
$registration-3step-border--bottom: $mystic;
// title (Mr Mrs Miss Ms)
$registration-3step-button--bg: $button--bg;
$registration-3step-button-color--selected: $black;
$registration-3step-button-color: $black;
// input
$registration-3step-input--label: $black;
$registration-3step-input--border: $graychateau;
$registration-3step-input--content: $black;
//select
$registration-3step-select-text: $black;
//date
$registration-3step-date-border: $heather;
$registration-3step-date-text: $heather;
//find address CTA
$registration-3step-address-bg: $button--bg;
$registration-3step-address-text: $black;
// validations and requirements
$registration-3step-requirements: #626262;
$registration-3step-input--success: $green;
$registration-3step-input--error: $carnation;
//CTAS
$registration-3step-cta: $button--bg;
$registration-3step-cta--text: $black;
$registration-3step-cta--dropshadow: $button--bg;
$registration-3step-tick-border: $black;
$registration-3step-tick-text: $black;
// terms & conditions
$registration-3step-terms: $black;

/*=============================================
Unique Media Queries for 4inch devices (iPhone 4 >)
=============================================*/

$smaller-phones: "only screen and (min-device-width: 320px) and (max-device-width: 375px)";

/*=============================================
COOKIE POLICY VARIABLES
=============================================*/

$cookie-block-bg: $white;
$cookie-message-color: $black;
$cookie-link-color: $black;
$cookie-cta-bg: $button--bg;
$cookie-cta-color: $black;
$cookie-cta-hover: $button--bg-hover;
// Cashier widget styles
$cashier-welcome-font: "fira_sansbold", Helvetica, Arial, sans-serif;
$cashier-welcome-size: 22px;
$cashier-widget-header: $black;
//used on promo modal
$radical-red:#FD276F;
/*=============================================
=  Claim prize promotion tabs                 =
=============================================*/
$claimed-prize-amount-highligted: $black;
$claimed-prize-headers-background: $black;
$claimed-prize-headers-color: $white;
$claimed-prize-button-start-color: $yellow;
$claimed-prize-button-end-color: $yellow;
$font-color: $black;
$claimed-prize-close-reveal: #white;
$claim-prize-confirmation-background: $white;

/*=============================================
Hide white bounce background when users hits the top
=============================================*/



.modal-open {
   // overflow: hidden;
}
.reveal-modal {
   overflow-y: auto;
   height: 100%;
   position: fixed;
}


html {
    background: $header--background;
    // -ms-overflow-style: none;
}

@-moz-document url-prefix() {
    a {
        padding-top:2px;
    }
}



p {
    a {
        color: $linkgrey;
        &:hover {
            color: lighten( $linkgrey, 20%);
        }
    }
}

span.error {
    font-family: $font-copy;
}

.game-icon__bottom {
    .icons-star--off,
    .icons-star--on {
        background-size: contain;
    }
}

.middle-content__box {
    max-width: rem-calc(1000px);
    margin: 0 auto;
    
    h1 {
        // this shouldn't be a h1 within SEO copy, ask to get this removed / changed to a h3
        font-family: $font-header2;
        font-size: rem-calc(30px);
        color: $black;
        text-transform: uppercase;
        padding-bottom: rem-calc(35px);
        padding-top: rem-calc(35px);
        margin: 0;
        @media #{$small-only} {
            padding-bottom: rem-calc(15px);
        padding-top: rem-calc(15px);
    }
    }
    .text-partial-content {
        p {
            font-family: $font-copy;
            font-size: rem-calc(16px);
            color: $black;
            letter-spacing: 0.03px;
            line-height: rem-calc(23px);
        }
    }
}

.games-iframe-content__btn-container .game-lauch-fav {
    img {
        width:20px !important;
        height:20px !important;
        margin-right:0 !important;

    }

}

/* THANK YOU page header styling */
#cashier {
    .cashier__thank-you--header {
        border-radius: 0px !important;
    }

    .section .section__title {
        padding-left: 8px;
        padding-top: 5px;
        width: 30%;
        border-bottom: none;

        @media #{$small-only} {
            font-size: 1.6em;
        }
    }

    .cashier__secure-payment {
        position: relative;
        float: right;
        padding-top: 0px;
        top: -30px;

        @media #{$medium-only} {
            padding-top: 0;
            top: -30px;
        }

        @media #{$small-only} {
            width: 35%;
            padding-top: 0;
            top: -28px;
            right: 0;
        }
    }
}


/*=============================================
Aspers new Homepage
=============================================*/
$global-padding: 1rem;

/*=============================================
PRIZE WHEEL
=============================================*/
$prize-wheel-icon: url("../_images/prize-wheel/aspers.svg");
$prize-wheel-font: Helvetica, Arial, Verdana, sans-serif;
