<h1 id="foundation-compass-template">Foundation Compass Template</h1>
<p>The easiest way to get started with Foundation + Compass.</p>
<h2 id="requirements">Requirements</h2>
<ul>
<li>Ruby 1.9+</li>
<li><a href="http://nodejs.org">Node.js</a></li>
<li><a href="http://compass-style.org/">compass</a>: <code>gem install compass</code></li>
<li><a href="http://bower.io">bower</a>: <code>npm install bower -g</code></li>
</ul>
<h2 id="quickstart">Quickstart</h2>
<ul>
<li><a href="https://github.com/zurb/foundation-compass-template/archive/master.zip">Download this starter compass project and unzip it</a></li>
<li>Run <code>bower install</code> to install the latest version of Foundation</li>
</ul>
<p>Then when you&#39;re working on your project, just run the following command:</p>
<pre><code class="lang-bash">compass watch
</code></pre>
<h2 id="upgrading">Upgrading</h2>
<p>If you&#39;d like to upgrade to a newer version of Foundation down the road just run:</p>
<pre><code class="lang-bash">bower update
</code></pre>
