// COMPETITION ENGINE CUSTOM STYLE PROMO
.promotion-eng {
    .tabs {
        dd {
            a {
                &:hover {}
            }
            &.active {
                a {
                    &:hover {}
                }
            }
        }
    }
    .promotion-eng__content {
        .promotion-eng__title {
            a {}
        }
        .promotion-eng__comp-leader-table {
            li {
                &:nth-child(odd) {}
                &:nth-child(even) {
                    background: darken($lighter-bg, 2%);
                }
                &.ui-leader-position__user {
                    background: $global-bg-color !important;
                    .ui-leader-position {
                        color: $global-bg-color !important;
                        background: $white !important;
                    }
                    .ui-leader-name {
                        color: $white !important;
                    }
                    .ui-leader-points {
                        color: $white !important;
                    }
                }
                .ui-leader-position {
                    background: $global-bg-color !important;
                }
                .ui-leader-name {}
                .ui-leader-points {}
            }
        }
    }
    .promotion-eng__footer {
        .promotion-eng__terms {}
        .promotion-eng__read-more {}
        .promotion-eng__optin {
            
        }
        .promotion-eng__play-now {
            // display: block !important;
            color: $global-bg-color;
            font-family: $ui-font-bold !important;
            font-weight: normal !important;
        }
    }
    ul.promotion-eng__comp-info {
        li {
            .title {}
            span {}
        }
    }
}