.search-screen {
    background: $white !important;
    padding-bottom: ($site-margin * 2) !important;
    padding-top: 65px !important;
    padding-bottom: 100px !important;
    position: absolute;
    top: 52px;

        // &:after {
        //     bottom: 100%;
        //     right: 63px;
        //     border: solid transparent;
        //     content: " ";
        //     height: 0;
        //     width: 0;
        //     position: absolute;
        //     pointer-events: none;
        //     border-left: 10px solid transparent;
        //     border-right: 10px solid transparent;
        //     border-bottom: 10px solid $ui-light-color;
        //     z-index: 1;

        //     // @media #{$medium-only} {s
        //     //     right: 80px;
        //     // }
        // }


    .search-inner {
        padding: $site-margin /2 !important;

        .search-input {
            @include grid-column(12);

            padding: 0;
            position: relative;
            right: 0;
            left: 0;
            color: #303030;
            height: auto;
            margin-bottom: $site-margin / 2;
            background-size: 52%;

            input[type=text] {
                border-radius: 6px;
                padding-left: 40px;
                overflow: hidden;
                border: 1px solid #1D4775;
                background: #FFF;
                line-height: 1.6;
                font-family: "proximanova-semibold", Helvetica, Arial, sans-serif;
                font-size: 1.2rem;
                color: #1D4775;
                box-shadow: none !important;
                height: auto;
            }
        }

        h4 {
            width: auto;
            color: $Blumine !important;
            text-align: left;
            font-size: 16px;
            text-transform: none;
            margin-bottom: $site-margin / 2;
            margin-left: $site-margin / 2; 
            z-index: 1;
        }
    }

    .search-results { 
        @include grid-column(12);

        margin: 0 !important;
        padding: 0 !important;
        z-index: 9999999999;

        .search-result {
            border-top: 1px solid #E6F1FB !important;
            padding: ($site-margin / 2) 0 !important;

            &:last-child {
                border-bottom: 1px solid #E6F1FB !important;
            }

            a {
                height: auto;
            }
        }

        .search-result__thumb {
            width: 33.33333% !important;
            margin: 0 !important;

            .search-result__thumb__img {
                margin: 0 !important;
            }
        }

        .search-result__cta {
            margin: 0 !important;
            display: none !important;
        }

        .search-result__name {
            padding: 0 $site-margin !important;
            margin: 0 !important;
        }

        .search-result__name__inner {
            color: $brand-color !important;
            font-family: $body-font-bold !important;
            font-size: 15px !important;
            line-height: 16px !important;
            text-align: left !important;
            text-transform: uppercase !important;
            margin: 0 !important;
        }

        .search-result__cta {
            height: 60px !important;

            &:hover {
                -webkit-filter: invert(100%) !important;
            }
        }
    }

    .search-screen-mobile__header {
        @include grid-column(12);

        transition: none;
        top: 52px !important;
        font-size: 1.1rem;
        text-transform: uppercase;
        color: #1D4775 !important;
        padding: 14px 12px;
        font-family: $body-font-bold;
        background: $ui-light-color url(../_images/common/icons/popover-close.svg) no-repeat right ($site-margin / 2) center;
        position: fixed;
        display: block;
        height: auto;
        z-index: 999999;

        &.close {
            top: 0px;
        }

    }
}