.content-holder {
    @include grid-column(12, $collapse: true, $float: left);

    background: $white;

    @include linear-gradient;

    border: 1px solid $border;
    margin-bottom: $site-margin * 2;
    height: auto;

    @include border-radius(4px 4px 4px 4px);

    @media #{$small-only} {
        @include border-radius(0 0 0 0);
    }

    @media #{$medium-only} {
        @include border-radius(0 0 0 0);
    }

    .content-holder__title {
        @include grid-column(12, $collapse: true, $float: left);

        height: 32px;
        margin-bottom: 0;
        padding-left: 0;

        /* top gradient content */
        background-image: linear-gradient(0deg, #E9DDED 2%, #FFFFFF 100%);

        @media #{$small-up} {
            @include border-radius(0px 0px 0px 0px);
        }

        @media #{$large-up} {
            @include border-radius(4px 4px 0px 0px);
        }

        h1 {
            @include grid-column(7, $collapse: false, $float: left);

            font-size: 15px;
            line-height: 27px;

            @media #{$small-only} {
                @include grid-column(7, $collapse: false, $float: left);

                font-size: 13px !important;
                line-height: 27px;
            }

            font-family: $title1-font;

            //line-height: 27px;
            color: $nav-main-color;
            padding-left: $site-margin;
        }
    }

    .content-holder__title__link {
        @include grid-column(4, $collapse: true, $float: right);

        @media #{$small-only} {
            @include grid-column(2, $collapse: false, $float: right);
        }

        font-family: $title1-font;
        font-size: 15px;
        line-height: 31px;
        text-align: right;
        color: $brand-color;
        padding-right: $site-margin;

        &:hover {
            text-decoration: underline;
            color: $brand-color;
        }
    }

    .content-holder__content {
        @include grid-column(12, $collapse: true, $float: left);

        height: auto;

        .content-holder__content_full-width {
            @include grid-column(12, $collapse: true, $float: left);

            height: auto;
        }

        .content-holder__content_left {
            @include grid-column(8, $collapse: true, $float: left);

            padding-right: 0;
            height: auto;

            .content-holder__inner {
                @include grid-column(12, $float: left);

                padding: $site-margin;
                height: auto;
                clear: both;

                @media #{$small-only} {
                    padding: 2px;
                }
            }
        }

        .content-holder__content_right {
            @include grid-column(4, $collapse: true, $float: right);

            padding-left: 0;
            height: auto;

            .content-holder__title {
                @include grid-column(12, $collapse: true, $float: left);

                padding-left: 0;

                h1 {
                    @include grid-column(12, $collapse: false, $float: left);
                }
            }

            .content-holder__inner {
                @include grid-column(12, $collapse: true, $float: left);

                height: auto;
                clear: both;
                overflow: hidden;
            }

            .latest-offer-promo {
                margin-top: $site-margin;

                img {
                    border-radius: 5px;
                }
            }

            .progressive-jackpot-wrap {
                margin-top: $site-margin;
                padding-right: $site-margin;
            }
        }
    }
}

.bingo-schedule-holder, .home-featured-games-holder {
    @include show-for-large-up;

    @media #{$medium-only} {
        .content-holder__content_left {
            width: 100% !important;
            padding-right: 0 !important;
            height: auto;
        }
    }

    @media #{$small-only} {
        .content-holder__content_left {
            width: 100% !important;
            padding-right: 0 !important;
            height: auto;
        }
    }

    .content-holder__content_right {
        @include show-for-large-up;
    }
}