.home-mobile {
    @include hide-for-large-up;

    .banner {
        @include grid-column(12);
        padding: 0;
        min-width: 100%;
    }
    .home-mobile-carousels {
        @include grid-column(12);

        padding: 0;
    }
    .footer-bar-mobile {
        @include hide-for-large-up;
        @include grid-column(12);
        @include transition(all, 0.3s ease);
        transform: translateY(0);
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 10px $site-margin;
        background: darken($nav-active-color, 10%);
        z-index: 2;
        height: 55px;
        line-height: 1;

        @media #{$medium-only} {
            padding: 8px $site-margin;
            height: 52px;
            line-height: 0.9;
            font-size: 0.95rem;
        }
        .cta-join {
            @include grid-column(6);

            width: 48%;
            text-shadow: none;
        }
        .cta-cashier {
            @include grid-column(6);

            float: right;
            width: 48%;
            text-shadow: none;
        }

        &.on-scroll {
            @include transition(all, 0.4s ease-in-out);

            transform: translateY(40px);
        }
    }

    .lobby-wrap__content-box__content {
        padding-top: ($site-margin / 2) !important;
    }
}

.holder-mobile {
    @include grid-column(12);

    background: #c9bbff;
    padding: 0;
    margin: 0;
    height: auto;
    padding-right: 0px;

    .title-mobile {
        @include grid-column(12);

        background: $white;
        padding: ($site-margin / 3) ($site-margin / 2);
        margin: 0;
        color: $nav-active-color;
        font-family: $body-font-bold;
        font-size: 13px;
        line-height: 1;

        .title-link {
            @include grid-column(4);

            font-size: 15px;
            text-align: right;
            float: right;
            text-transform: capitalize;
        }
    }

    .content-holder-mobile {
        @include grid-column(12);

        padding: $site-margin / 2;
        overflow: hidden;
        max-height: 150px;
        width: 100% !important;
        margin-left: 0px !important;


        ul {
            @include grid-column(12);

            margin: 0;
            padding: 0;
            overflow: hidden;
            padding-right: 0px;

            padding-left: 0.3125rem !important;



            li {
                @include grid-column(12);

                @include border-radius(4px);

                max-width: 135px;
                max-height: 145px;
                height: auto; // background: #7D50E8;
                margin-right: $site-margin / 2;
                padding: 0;
                color: $white;
                font-family: $mobile-font-bold;
            }

            &.bxslider-promo-carousel-s li {
                max-width: none !important;
                max-height: none !important;
            }
        }
    }
}