.favourites {
    @include grid-column(12);

    padding: $site-margin;

    @media #{$small-only} {
        padding: 7px !important;
    }

    .favourites__placeholder {
        @include grid-column(3);

        width: 20%;
        padding: 7px !important;

        @media #{$medium-only} {
            @include grid-column(3);
        }

        @media #{$small-only} {
            @include grid-column(6);

            padding: 7px !important;
        }
    }
}