.game-detail-content {
    &.main-content {
        padding: 0;
    }

    .section-left__title h4 {
        margin-bottom: 2px !important;
        margin-top: 20px !important;
    }

    .game-detail-wrap__title-bar {
        color: $nav-main-color;
        margin: 0;
        padding: 5px;
        padding-left: $site-margin !important;

        // margin-bottom: $site-margin;

        @include grid-column(12);

        @media #{$small-only} {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    // game image slider
    .game-detail-content__game {
        @include grid-column(4);

        padding: 0;
        padding-right: $site-margin / 2;

        @media #{$medium-only} {
            @include grid-column(4);

            padding: 0;
            padding-right: $site-margin / 3;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0;
            padding-top: 10px;
            margin-top: 0px;
            margin-bottom: 0;

            img {
                padding: 0px;
            }
        }

        ul.bxslider {
            list-style: none;
            margin: 0;

            li {
                float: none;
                position: absolute;
            }
        }

        position: relative;

        .overlay {
            position: absolute;
            height: 100%;
            display: block !important;

            @include grid-column(12, $float: left);

            @include transition(all, 0.2s ease-out);

            @include show-for-large-up;

            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 888;
            text-align: center;
            opacity: 0;

            &:hover {
                opacity: 1;
                background: rgba(0, 0, 0, 0.75);
            }

            .play-now-button {
                position: relative;
                display: inline;
                top: 43%;
                width: 135px;
                height: 150px;
                color: $white;
                text-shadow: 0px 2px 0px rgba(81, 81, 81, 0.48);
                z-index: 999;
                font-family: $button-font;
                font-size: rem-calc(18px);
                width: 80%;
                height: 38px;
                border: none;
                padding: 9px 10px 10px 16px;
                text-decoration: none;
                background-image: linear-gradient(-180deg, #FF8FD7 0%, #FF7BD0 46%, #FF00AA 100%);
                box-shadow: 0px 1px 1px 1px #C70064, inset 0px 1px 0px 0px #FFC5EA;
                border-radius: 4px;
                text-transform: uppercase;
            }

            .try-now-button {
                @include games-button-ui;

                position: relative;
                display: inline;
                top: 43%;
                width: 135px;
                height: 150px;
                z-index: 999;
                font-size: rem-calc(18px);
                width: 80%;
                height: 38px;
            }
        }

        img {
            width: 100%;
            height: auto;

            @include opacity(1);

            // padding-right: 10px;
       
        }
    }

    // game aquisition banner
    .game-detail-content__promo {
        @include grid-column(4);


        padding: 0;
        //padding-right: $site-margin / 2;

        img {
            @include grid-column(12);

            padding: 0;
        }

        @media #{$medium-only} {
            @include grid-column(4);

            padding: 0;
            padding-left: $site-margin / 3;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0;
        }
    }

    // details table
    .game-detail-content__details-table {
        @include grid-column(4);

        //padding-left: $site-margin / 2;
        margin-top: $site-margin / 2;

        h3 {
            @include grid-column(12);

            margin-bottom: $site-margin / 2;
            margin-top: -20px;
            padding: 0;
            color: $brand-color;
            font-size: 1rem;
            margin: 0;
        }

        @media #{$medium-only} {
            @include grid-column(4);

            padding: 0;
            margin-top: 0;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding: 0;
            margin-top: $site-margin;
        }

        ul {
            @include grid-column(12);

            padding: 0;
            margin: 0;
            font-size: 15px;
            color: $brand-color;
            font-family: $body-font-regular;
            margin-left: 0px !important;
            padding: 5px 0;
            list-style: none !important;

            li {
                list-style: none;
                font-size: 0.75rem;

                @media #{$large-up} {
                    line-height: 2;
                }

                .game-detail-content__details__game-table__title {
                    @include grid-column(4);

                    padding: 0;
                    width: 110px;

                    @media #{$large-up} {
                        @include grid-column(12);

                        padding: 0;
                        width: 80px;
                    }

                    font-family: $body-font-bold;
                    padding: 0;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: inline-block;
                }

              
                .game-detail-content__details__game-table__provider {
                    @include grid-column(6);

                    padding: 0;
                    padding-right: $site-margin;
                    display: inline-block;
                }
            }
        }
    }

    // ctas
    .game-detail-content__ctas {
        @include grid-column(12);

        padding: 0;
        margin-top: $site-margin;

        .cta-play {
            @include grid-column(6, $center: true);

            @media #{$large-up} {
                @include grid-column(12);
            }

            padding: ($site-margin / 2) 0;
            font-size: 1rem;
            line-height: 1;
            margin: 0;
            cursor: pointer;
        }

        .cta-login {
            @include grid-column(6);

            width: 49.5%;

            @include secondary-button-ui;

            padding: 0;
            padding: ($site-margin / 2) 0;
            font-size: 1rem;
            line-height: 1;
        }

        .cta-join {
            @include grid-column(6);

            width: 49.5%;
            float: right;
            padding: 0;
            padding: ($site-margin / 2) 0;
            font-size: 1rem;
            line-height: 1;
        }
    }


  .play-now-button--desktop, .play-now-button--mobile {
            @include grid-column(12);

            position: relative;
            color: $white;
            text-shadow: 0px 2px 0px rgba(81, 81, 81, 0.48);
            font-family: $button-font;
            font-size: rem-calc(20px);
            width: 100%;
            height: 38px;
            text-align: center;
            line-height: 1em;
            border: none;
            padding: 10px 0;
            text-decoration: none;
            background: #009901;
            border-radius: 4px;
            text-transform: uppercase;
            cursor: pointer;

            // @media #{$small-only} {
            //     @include grid-column($columns: 3, $last-column: true, $center: true, $offset: 0, $push: 3, $pull: 3, $collapse: true, $float: left);
            // }
       
        }

        .play-now-button--mobile {
            @include show-for-small-only;

            margin-top: $site-margin;
        }

         .try-now-button--desktop, .try-now-button--mobile, .login-button--desktop, .login-button--mobile {
            @include grid-column(6);

            position: relative;
            color: $white;
            text-shadow: 0px 2px 0px rgba(81, 81, 81, 0.48);
            font-family: $button-font;
            font-size: rem-calc(20px);
            height: 38px;
            width: 48%;
            text-align: center;
            float: left;
            line-height: 1em;
            border: none;
            padding: 10px 0;
            margin-right: 3%;
            text-decoration: none;
            background: #1d4775;
            border-radius: 4px;
            text-transform: uppercase;

            // @media #{$small-only} {
            //     @include grid-column($columns: 3, $last-column: true, $center: true, $offset: 0, $push: 3, $pull: 3, $collapse: true, $float: left);
            // }
       
        }

        .login-button--mobile {
            @include show-for-small-only;
        }

        .join-now-button--mobile {
            @include show-for-small-only;
        }

         .login-button--desktop {
            @include show-for-medium-up;
        }

         .join-now-button--desktop {
            @include show-for-medium-up;
        }

        .try-now-button--mobile {
            @include grid-column(12);

            @include show-for-small-only;

            margin-top: $site-margin;
            margin-bottom: 0;
        }

        .join-now-button--desktop, .join-now-button--mobile {
            @include grid-column(6);

            position: relative;
            color: $white;
            text-shadow: 0px 2px 0px rgba(81, 81, 81, 0.48);
            font-family: $button-font;
            font-size: rem-calc(20px);
            height: 38px;
            width: 48%;
            text-align: center;

            // float: right;
            line-height: 1em;
            border: none;
            padding: 10px 0;
            text-decoration: none;
            background: #009901;
            border-radius: 4px;
            text-transform: uppercase;

            a {
                color: $white;

                &:hover {
                    color: $white;
                }
            }

            // @media #{$small-only} {
            //     @include grid-column($columns: 3, $last-column: true, $center: true, $offset: 0, $push: 3, $pull: 3, $collapse: true, $float: left);
            // }
       
        }

    // full width banner
    .game-detail-content__acquisition {
        @include grid-column(12);

        padding: 0;
        margin: ($site-margin * 2) 0;

        img {
            width: 100%;

            @media #{$small-only} {
                margin: 0;
            }
        }

        @media #{$large-up} {
            .edit-point {
                display: none !important;
            }
        }
    }

    // game review info
    .games-detail-content__game-review {
        @include grid-column(12);
        margin-top: 40px;
        padding: 0;

        @media #{$large-up} {
            padding: 0 ($site-margin / 2);
        }

        .game-review {
            .game-review__content {
                p {
                    font-family: $body-font-regular;
                }

                ._author-block {
                    display: none;
                }
            }

            .game-review__content__title {
                @include grid-column(12);
                padding: 0;
                font-size: 1em;
                font-family: $body-font-medium;

                a {
                    @include grid-column(8);

                    padding: 0;
                    color: $brand-color;
                    text-transform: uppercase;
                }

                .game-review__content__date {
                    @include grid-column(4);

                    @media #{$small-only} {
                        @include grid-column(4);

                        text-align: right;
                        padding: 0;
                        margin-bottom: $site-margin / 2;
                        margin-top: $site-margin;
                        font-size: 12px;
                    }

                    padding: 0;
                    font-family: $body-font-medium;
                    font-size: 1em;
                    color: $ui-light-color;
                    text-align: right;
                    margin-top: 10px;
                }
            }
        }
    }
}

.play-now-button--desktop {
    @media #{$small-only} {
        display: none;
    }
}
