#magicalMenu {
    > a {
        &:hover {
            // @include background-image(linear-gradient(bottom, lighten(#fa733e, 10%) 0%, #f7a300 100%));
            color: $white;
        }

        &:after {
            content: " ";
            width: 18px;
            height: 18px;
            background: url("../_images/common/icons/arrow-down.png") center center no-repeat;
            position: relative;
            top: 2px;
            left: 3px;
            float: right;
        }
    }
}

.games-filter-menu {
    position: relative;
    color: lighten(#e90088, 5%);
    font-family: $body-font-regular;

    @media #{$small-only} {
        position: initial;
    }
}

.games-filter-menu__popover {
    display: none;
    position: absolute;
    left: -1px;
    margin-top: 3px;
    z-index: 890;
    height: auto;
    width: 360px;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: none;
    text-transform: uppercase;

    @media #{$small-only} {
        width: 100%;
    }

    .tabs {
        @include grid-column(12, $collapse: true);
    }

    > dl > dd a, .tabs .tab-title a {
        // color: $white !important;

        display: block !important;
        background-image: none !important;
        box-shadow: none !important;
        border-radius: 0 !important;

        &:hover {
            @include secondary-button-ui;

            padding: 0;
            background-color: #E8E8E8 !important;
            background-image: none !important;
            text-decoration: underline !important;
            display: block !important;
            background-image: none !important;
            box-shadow: none !important;
            border-radius: 0 !important;
        }

        &:active {
            text-decoration: underline !important;
            display: block !important;
            background-color: $white !important;
            background-image: none !important;
            color: $nav-active-bg-color !important;
            background-image: none !important;
            box-shadow: none !important;
            border-radius: 0 !important;
        }
    }

    > dl > dd.active a, .tabs .tab-title.active a {
        background-color: $white !important;
        background-image: none !important;
        display: block !important;

        &:hover {
            display: block !important;
            color: $brand-color !important;
            text-decoration: none !important;
            background-color: $white !important;
            background-image: none !important;
            cursor: pointer !important;
            background-image: none !important;
            box-shadow: none !important;
        }
    }

    > dl > dd {
        @include grid-column(4, $collapse: true);

        padding-right: 3px;
        text-align: center;
        height: 44px;
        color: $white;

        &:active {
            padding-bottom: 4px;

            a {
                font-size: 0.8em;
                color: $brand-color;
                padding-top: 1px;
                cursor: pointer;
                background-image: none;
                box-shadow: none;
            }
        }

        a {
            font-family: $body-font-bold;
            padding: 0px;
            height: 44px;
            //width: 100%;

            @include vert-align(44px);

            font-size: 0.9em !important;
            display: block !important;
            background-color: #E8E8E8  !important;
            color: $brand-color !important;

            @media #{$small-only} {
                font-size: 0.8em !important;
            }

            &:hover {
                display: block !important;
                background-image: none !important;
                text-decoration: underline !important;
            }
        }
    }

    .tabs-content {
        @include grid-column(12, $collapse: true);

        margin-bottom: 0px;
        color: $white;

        .content {
            padding-bottom: 0.4em;
        }

        .content ul {
            padding-left: 2px;
            padding-right: 0;
            padding-top: 0em;
            padding-bottom: 0em;
            height: auto;

            @include clearfix;

            li {
                @include grid-column(4, $collapse: true);

                font-family: helvetica,arial,sans-serif;
                font-size: 0.75em;
                font-weight: bold;
                float: left;
                padding: $site-margin / 3;
                margin: 0;
                background: transparent;

                a {
                    @include grid-column(12);

                    @include games-button-ui;

                    margin-left: 0 !important;
                    font-family: $body-font-bold !important;
                    display: block !important;
                    text-transform: uppercase !important;
                    border-radius: 6px !important;
                    padding-top: 8px !important;
                    text-align: center !important;

                    // background-color: #038399;
                    color: $white !important;
                    height: 44px !important;
                    line-height: 15px !important;
                    font-size: 1em !important;

                    // vertical align tricks
                    /* older webkit */
                    display: block !important;
                    align-items: center !important;
                    justify-content: center !important;

                    @media #{$small-only} {
                        font-size: 0.9em !important;
                    }

                    &:hover, &:focus {
                        // border: 1px solid $white;
                        background-color: darken($brand-color, 3%) !important;
                        color: $white !important;
                    }
                }
            }
        }

        .content-active {
            padding-bottom: 0px;
        }
    }
}

//Themes
#ui-magic-myth,
#ui-food-and-fruit {
    @media #{$medium-only} {
        padding-top: 14px !important;
    }
    @media #{$small-only} {
        padding-top: 14px !important;
    }
}

//Publisher
#ui-novomatic,
#ui-eyecon,
#ui-igt,
#ui-netent,
#ui-microgaming,
#ui-play-and-go {
    padding-top: 14px !important;
    @media #{$small-only} {
        padding-top: 14px;
    }
}

#ui-daub,
#ui-scientific,
#ui-realistic {
    @media #{$small-only} {
        padding-top: 5px;
    }
}