.game-icon {
    @include border-radius(4px);

    @include transition(all, 0.2s ease-out);

    background: $brand-color-light !important;
    box-shadow: 0px 2px 0px 0px darken($brand-color-light, 10%) !important;
    border-radius: 2px !important;
    max-height: 100%;
    position: static !important;

    @media #{$small-only} {
        padding-bottom: 10px;
        min-height: 100% !important; 
    }

    &:hover {
        background: lighten($brand-color-light, 5%);
    }

    .game-icon__image {
        img {}
    }

    .game-icon__bottom {

        @media #{$small-only} {
            max-height: 25px !important;
        }

        .game-icon__title {
            color: $body-font-color !important;
            padding: 12px !important;

            @media #{$small-only} {
                font-size: 10px !important;
                padding: 10px !important;
            }

             @media #{$medium-only} {
                font-size: 10px !important;
                padding: 10px !important;
            }

        }
    }

    .game-icon__play-bar {
        .game-icon__play-bar__title-wrapper {}

        h1 {
            a {}

            &:hover {}
        }

        .game-icon__play-bar__fav-bar {
            img {}
        }
    }

    .game-icon__favourite {
        z-index: 0 !important;

        .game-icon__favourite__icon {}
    }

    .game-icon__favourite__content {}

    .game-icon__favourite__content__description {
        h1 {}

        > a {}

        @media #{$small-only} {}

        @media #{$medium-up} {}
    }

    .game-icon__favourite__content__img {
        > img {}
    }

    .game-icon__overlay {
        > h1 {}

        a, a:hover {}

        &:hover {}

        .play-icon {
            img {}
        }
    }
}

.game-icon__favourite {
    @media #{$small-only} {
        height: 35px !important;
    }
}