// =============================================================================
// Game Details - SEO Page
// =============================================================================
.reveal-modal {
    // overflow-y: scroll;

    // /* has to be scroll, not auto
    // -webkit-overflow-scrolling: touch;
}

.games-info {
    &.reveal-modal, &.dialog {
        background: $white;
        z-index: 99999;
        width: 100% !important;
        max-width: 750px;
        box-shadow: 0 2px 0px rgba(0, 0, 0, 0.4);
        padding: $site-margin;
        border: none;

        @media #{$small-only} {
            padding: 0;
            background-color: $ui-light-color;
            height: 100%;
            min-height: 100% !important;
            height: 100% !important;
            width: 100% !important;
            max-width: 100%;
            -webkit-transform: none !important;
            transform: none !important;
            top: 0 !important;
            position: absolute;
            left: 0 !important;
            margin: 0 auto !important;
            border-radius: 0 !important;
        }

        @media #{$xlarge-up} {
            max-width: 800px;
        }
    }

    .close-reveal-modal {
        background: url(/_images/common/icons/close-modal.svg) no-repeat center center !important;
        top: 0;
        margin: 10px;
        right: 0;
        width: 29px;
        height: 30px;
        text-indent: -9999px;

        @media #{$small-only} {
            margin: 10px;
        }
    }
}

.game-detail-modal {
    @include grid-column(12);

    padding: 0;
    height: auto;
    font-family: $body-font-regular;

    @media #{$small-only} {
        padding: 0;
    }

    .two-columns-content-wrap__right {
        @include show-for-large-up;
    }

    .game-detail-wrap__title-bar {
        @include grid-column(12);

        padding: 0;
        margin-bottom: $site-margin / 2;

        @media #{$small-only} {
            background: $white;
            position: fixed;
            top: 0;
            left: 0;
            padding: $site-margin / 2;
            margin: 0;
        }

        h1 {
            @include grid-column(10);

            font-family: $body-font-extra-bold;
            font-size: 20px;
            line-height: 25px;
            text-transform: uppercase;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .game-detail-content__header-mobile {
        @include grid-column(12);

        @include hide-for-small-up;

        height: 100%;
        margin: 0;
        padding: 0;
        right: 0;
        z-index: 9999999;
        background: #e7e2fe;
        display: none;
        position: fixed;
        overflow: scroll;
        top: 0px;
    }

    .game-detail-content {
        @include grid-row;

        @include grid-column(12);

        margin-bottom: $site-margin;
        background-color: $ui-light-color;
        padding: $site-margin;

        @media #{$small-only} {
            padding: 0;
            margin-top: 53px;
        }

        .game-detail-content__right {
            @include grid-column(6);

            float: right;

            // max-height: 441px;

            @media #{$small-only} {
                @include grid-column(12);

                padding: $site-margin;
            }

            .login-box--loginpage {
                @include grid-column(12);

                padding: 0 !important;
                background: none !important;

                .login-box {
                    @include grid-column(12);

                    background: none !important;
                    padding: 0 !important;

                    .login-box__form-wrapper {
                        h1 {
                            font-family: $nav-font-bold !important;
                            font-size: 1.2em !important;
                            line-height: 25px !important;
                            text-transform: uppercase !important;
                            text-align: center;
                        }

                        .login-box__input-wrapper {
                            @include grid-column(12);

                            padding: 0;
                            height: auto;

                            m0
                            input {
                                box-shadow: none !important;
                                height: 45px !important;
                                border: none !important;
                            }

                            span.error, small.error {
                                @include grid-column(12);

                                margin: 0;
                                padding: 0;
                                background: none;
                            }
                        }
                    }

                    .login-box__username {
                        height: 50px;
                        margin: 0;
                    }

                    .login-box__password {
                        height: 50px;
                        margin: 0;

                        .login-box__show-password {
                            .right {
                                top: 0px;
                                right: 0px;
                            }
                        }
                    }

                    .login-box__forgot-password {
                        top: 20px;
                    }

                    .cta-login {}

                    .join-now-box {
                        display: none;
                    }
                }
            }
        }

        .game-detail-content__left {
            @include grid-column(5);

            width: 47%;
            float: left;
            padding: 0;
            margin: 0;
            position: relative;

            .free-spins {
                position: absolute;
                top: 0;
                right: 25px;
                width: 100px;

                @media #{$small-only} {
                    right: 0px;
                }
            }

            .game-cta {
                @include grid-column(12);

                position: absolute;
                background: rgba(10, 55, 103, 0.8);
                padding: $site-margin / 2;
                bottom: 0;
                text-align: center;

                a {
                    @include grid-column(5, $center: true);

                    width: 50%;
                    margin: 1%;
                    display: inline-block;

                    &.try-game {
                        // overwriting mixin values
                        @include CTA-button(9px 13px 7px, 16px, 4px);
                        background: $white;
                        color: $Blumine;
                        box-shadow: 0px 2px 0px 0px darken($Blumine, 5%);

                        float: none;
                        text-shadow: none;

                        &:hover {
                            color: $Blumine;
                            background: darken( $white, 20% )
                        }
                    }

                    &.join-now {
                        @include CTA-button(9px 13px 7px, 16px, 4px, #FF8FD7, #FF7BD0, #FF00AA, #C70064, #FFC5EA);

                        float: none;
                        text-shadow: none;
                    }

                    &.join-now-full {
                        @include CTA-button(9px 13px 7px, 16px, 4px, #FF8FD7, #FF7BD0, #FF00AA, #C70064, #FFC5EA);

                        margin: 0;
                        float: none;
                        text-shadow: none;
                        width: 100%;
                    }
                }
            }

            @media #{$small-only} {
                @include grid-column(12);

                padding: 0px;
            }

            img {
                width: 100%;

                @include opacity(1);
            }
        }
    }

    .game-detail-content__details {
        @include grid-column(12);

        @include show-for-large-up;

        padding: 0;

        a {
            @include grid-column(12);

            font-family: $nav-font-medium;
            padding: 0;
            font-size: 16px;
            color: $global-link-color;
            margin-top: $site-margin;
        }
    }

    .game-detail__description {
        @include grid-column(12);

        @media #{$medium-only} {
            height: auto;
            margin-bottom: $site-margin / 2;
        }

        @media #{$small-only} {
            height: auto;
            margin-bottom: $site-margin / 2;
        }

        p {
            font-size: rem-calc(14px);
            color: $brand-color;
        }

        h3 {
            border: none;
            font-family: $nav-font-medium;
            font-size: 16px;
            color: $brand-color;
            margin-bottom: 10px;
        }

        a {
            color: $global-link-color;
            font-size: 14px;
        }

        a:hover {
            color: $global-link-color;
        }
    }

    .game-detail-content__right__game-table {
        font-size: 15px;
        color: $grey-dark;

        ul {
            list-style: none !important;
            margin: 0  !important;
        }

        > li {
            font-size: rem-calc(12px);
            border-bottom: 1px solid $grey;

            @include vert-align(44px);

            @media #{$medium-only} {
                @include vert-align(34px);
            }

            > span {
                padding-right: $site-margin;
                width: 95px;
                display: inline-block;
                color: $black;
            }
        }
    }
}

.reveal-modal .close-reveal-modal, dialog .close-reveal-modal {
    @media #{$small-only} {
        top: 0em;

        //right: 0;
    }
}