.games-menu {
    @include grid-column(12);
    position: relative;
    z-index: 30;
    padding: 0px;
    // margin-bottom: $site-margin / 2;
    @media #{$medium-only} {
        margin-bottom: 0px;
        top: 0px;
    }
    @media #{$small-only} {
        margin-bottom: 0px;
        top: 0px;
    }
    .games-filter-menu__popover {
        margin-top: 42px;
    }
    .games-menu__container {
        @include grid-column(12);
        padding: 0;
        .games-menu__games-nav {
            @include grid-column(12);
            //@include show-for-medium-up;
            margin: 0;
            padding: $site-margin / 2;
            // margin-bottom: ($site-margin / 2) !important;
            background: $white;
            @media #{$small-only} {
                @include grid-column(12);
                padding: $site-margin / 2;
            }
            li {
                float: left;
                border: none;
                text-align: center;
                margin-right: 5px;
                font-family: $title1-font;
                font-size: 1em;
                list-style: none;
                &.quicklinks {
                    font-family: $body-font-bold;
                    font-weight: normal;
                    margin-left: 0px;
                    width: 10%;
                    border-left: none;
                    background: none;
                }
                &.games-filter-menu {
                    float: left;
                    @media #{$small-only} {
                        float: right;
                    }
                }
                a {
                    @include grid-column(12);
                    @include transition(all, 0.2s ease-out);
                    @include games-button-ui;
                    font-family: $body-font-bold;
                    padding: 4px 10px 3px 10px;
                    font-size: 0.95rem;
                    color: $white;
                    @media #{$medium-only} {
                        font-size: 0.88rem;
                    }
                    &.active {
                        font-weight: bold;
                        cursor: default;
                        color: $brand-color;
                        background: $grey-light-bg;
                        ;
                        box-shadow: none;
                    }
                }
                img {
                    padding-right: 5px;
                }
            }
            .games-menu__games-nav__search {
                @include hide-for-small-only;
                @include hide-for-medium-only;
                width: auto !important;
                float: right;
            }
        }
        #table-card,
        #scratch-and-arcade {
            @include hide-for-small-only;
            @include hide-for-medium-only;
        }
        //        #allslots {
        //            @include hide-for-small-only;
        //        }
    }
    .search-input {
        @include input-box;
        box-shadow: none !important;
        font-size: 1rem !important;
        @media #{$medium-up} {
            @include grid-column(4);
            right: 6px;
            top: 9px;
        }
        @media #{$small-only} {
            @include grid-column(6);
        }
        input[type=text] {
            font-size: 1rem !important;
            box-shadow: none !important;
        }
    }
    .desktop-search-results-container {
        position: relative;
        margin: 0 !important;
        width: 97% !important;
        margin-top: 2px !important;
        border-radius: 4px;
        box-shadow: 0px 3px 0 0px rgba(0, 0, 0, 0.14);
        li {
            border-bottom: 1px solid #E6F1FB !important;
            height: 70px;
            @include transition(all, 0.2s ease-out);
            a {
                @include grid-column(12);
                padding: 5px !important;
                background: none !important;
                box-shadow: none !important;
                .search-result__thumb {
                    @include grid-column(3);
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    .search-result__thumb__img {
                        height: auto;
                        padding: 0;
                    }
                }
                .search-result__name {
                    @include grid-column(9);
                    margin: 0;
                }
            }
            .search-result__name__inner {
                color: $global-link-color !important;
                margin: 0;
                font-family: $body-font-bold;
                font-size: 13px !important;
                text-transform: uppercase;
                text-align: left;
                padding: 0 ($site-margin / 2) !important;
            }
        }
    }
}

.games-list {
    &.middle-content__box {
        .section__header {
            padding-top: 0 !important;
        }
    }
}
