.jackpots-summary {
    font-size: 1rem;
    >h1 {
        display: none;
    }
    .jackpots-summary__jackpot {
        display: none;
    }
    .jackpots-summary__jackpot {
        //@extends .columns;
   
    }
    @media #{$small-only} {
        >aside {
            @include grid-column(6);
        }
        .jackpots-summary__jackpot:nth-child(2) {
            display: block;
        }
        .jackpots-summary__jackpot:nth-child(3) {
            display: block;
        }
    }
    @media #{$medium-up} {
        .jackpots-summary__jackpot {
            @include grid-column(4);
            display: block;
        }
    }
}

.jackpots-summary__jackpot {
    .jackpot-title,.jackpot-amount {
        @include grid-column(12);
    }
    .jackpots-summary__jackpot__title {
        font-size: 1em;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    .jackpots-summary__jackpot__amount {
        background-color: $grey;
        text-align: center;
        padding: 0.5em;
        margin: 0px;
        >span {
            @include grid-column(12);
            background-color: $grey;
            padding: 0.2em;
            @media #{$medium-up} {
                font-size: 1.2em;
            }
            @media #{$small-only} {
                font-size: 0.8em;
            }
        }
    }
}

.jackpots-summary--in-column {
    .jackpots-summary__jackpot {
        display: block;
    }
    .jackpots-summary {
        padding: 10px 10px 0px 10px;
        @include grid-column(12);
        height: 100%;
        >h1 {
            font-size: 24px;
            text-align: center;
            color: $white;
        }
    }
    
    .jackpots-summary__jackpot {
        @include grid-row;
        margin: 10px 0px 10px 0px;
        background: lighten($grey, 20%);
        // @include border-radius(5px, 5px);
        padding: 5px;
        text-align: center;

    }

    .jackpots-summary__jackpot__title {
        @include grid-column(6);
        font-size: 0.7em;
        text-transform: uppercase;
        padding: 5px;
        margin: 0px;
        @media #{$medium-up} {
            font-size: 0.7em;
        }
    }
    .jackpots-summary__jackpot__amount {
        @include grid-column(6);
        font-size: 14px;
        // @include border-radius(5px, 5px);
        text-transform: uppercase;
        font-weight: bold;
        background: lighten($grey, 10%);
        padding: 5px;
        margin: 0px;
    }

    // @media #{$small-only} {

    //     .jackpots-summary__jackpot:nth-child(2) {
    //         display: block;
    //     }
    //     .jackpots-summary__jackpot:nth-child(3) {
    //         display: none!important;
    //     }
    // }
    
}