.quick-links-widget {
    font-size: 1.1rem;
    @include side-nav($divider_color: red, $font_size: 0.8em, $link_color: $body-font-color, $link_color_hover: lighten($lynch, 35%));
    padding: 0px;
    text-align: center;
    font-family: $body-font-demi;
    background-color: #29021d;
    height: 100%;
    .quick-links-widget__title {
        font-size: 1.1em;
        background-color: #A3015D;
        text-align: center;
//        border-bottom: 1px solid $ctacolor;
        color: white;
        margin-bottom: 0.5em;
        padding-left: 0.5em;
    }
    
    
    >li {
        margin: 0px;
        padding: 0px;
//        border-bottom: 1px solid $account-blue;
        a {
            padding: 0.8em !important;
            //overriding foundation styles
            line-height: 0;
            color: $navigation-text-color !important;
            &:hover{
            	color:$white!important;
            }
        }

    }
}