.share-button {
    position: absolute;
    top: 5px;
    right: 150px;
    z-index: 1;
        @media #{$medium-only} {
            visibility: hidden;
        }
    @media #{$small-only} {
        visibility: hidden;
        width: 0px;
        z-index: 999;
        position: absolute;
        display: block;
        background-color: white;
        line-height: 20px;
        padding: 3px 6px 3px 6px;
        opacity: 0.6;
        box-shadow: 1px 1px 2px 1px #333;
        color: $main-highlight-color !important;
        font-family: sans-serif !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
        &:hover {
            background-color: #f3f3f3;
            color: #000 !important;
            text-decoration: underline;
            opacity: 0.8;
        }
    
    }
}

.share-button.right.sharer-0 {
    @media #{$small-only} {
        height: 30px !important;
    }
    label {
        background: transparent !important;
        padding: 0px !important;
        line-height: 1.3rem !important;
    }
}

.share-button.right.sharer-0 label span {
    font-size: 0.6em !important;
    color: $main-highlight-color;
    @media #{$small-only} {}
}