.winners-summary__wrapper {
    position: relative;
}

.winners-summary {
    font-family: $body-font-bold;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 1rem;
    z-index: 10;
    @include grid-column(12, $collapse: true);
    height: 100%;
    padding: 0px;
    overflow: hidden;
    .winners-summary__title {
        background-color: $main-highlight-color;
        padding: 0em;
        margin: 0px;
        height: 20%;
        display: table;
        width: 100%;
        text-transform: uppercase;
        *:first-child {
            display: table-cell;
            font-size: 100%;
            height: 100%;
            width: 100%;
            vertical-align: middle;
            color: white;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .winners-summary__winners {
        height: 80%;
        .winners-summary__winner {
            background-color: #f3f3f3;
            @include background-image(linear-gradient(bottom, #ededeb 0%, #f5f5f3 100%));
            height: 20%;
            padding-top: 2%;
            text-transform: uppercase;
        }
        // .winners-summary__winner__user {
        //     @include grid-column(4);
        //     text-align: center;
        //     color: white;
        //     height: 100%;
        //     font-size: 100%;
        //     line-height: 0px;
        //     padding: 1%;
        // }
        .winners-summary__winner__title {
            @include grid-column(6);
            text-align: center;
            color: #2b2b2b;
            height: 100%;
            font-size: 95%;
            line-height: 0px;
            padding: 1%;
        }
        .winners-summary__winner__amount {
            @include grid-column(6);
            text-align: center;
            color: #2b2b2b;
            height: 100%;
            font-size: 95%;
            line-height: 0px;
            padding: 1%;
        }
    }
    .winners-summary__winner__title, .winners-summary__winner__user, .winners-summary__winner__amount {
        padding: 0em;
        margin: 0px;
        display: table;
        width: 100%;
        *:first-child {
            display: table-cell;
            font-size: 100%;
            height: 100%;
            vertical-align: middle;
            color: #2b2b2b;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}