.yesterdays-win__wrapper {
    width: 100%;
    position: relative;
    margin-bottom: $site-margin;
    // fix for stopping scale issue by using an html image element in the markup and then applying minus margin to make it go over it
    .hub-shape-holder {
        top: 0px;
        left: 0px;
        position: absolute;
        z-index: -1;
    }
    .yesterdays-win {
          position: relative;
        .yesterdays-win__title {
            h1 {
                height: 25px;
                text-align: center;
                background-color: $main-highlight-color;
                background-image: none;
                color: $white;
                font-family: $body-font-bold;
                font-size: 14px;
                margin-top: 0px;
                padding: 3px;
                padding-left: 7px;
                text-transform: uppercase !important;
            }
        }
        .yesterdays-win__box {
            height: 100%;
            @include clearfix;
            height: auto;
            background-color: #fff;
            @include box-shadow(inset 0 0 0 1px white);
            @include background-image(linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%));
            padding: $site-margin / 2;
            .yesterdays-win__box__amount {
                text-align: center;
                height: 20%;
                > span {
                    //text style
                    font-family: $body-font-extrabold;
                    font-size: 120%;
                    height: 100%;
                    > a {
                        color: $white;
                    }
                }
            }
        }
    }
}

// adjust widths for sidebar version of widget only use this below for colum widths no other styles
.two-columns-content-wrap__right {
    .yesterdays-win__box {
        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
            /* Portrait small phone*/
            @media only screen and (min-device-width: 200px) and (max-device-width: 380px) and (orientation: portrait) {
                @include grid-column(12, $collapse: true);
            }
        }
        .yesterdays-win__box__amount {
            @include grid-column(12, $collapse: true);
            span {
                @include grid-column(12, $collapse: true, $center: true);
            }
        }
    }
}