<!-- BODY -->

<table bgcolor="#011a39" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #fff8ec; margin: 0; padding: 0;">
  
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">
      <table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
        
          <tr>
            <td><a href="http://www.givebackbingo.com" name="www_givebackbingo_com_3" xt="SPCLICK"><img alt="Play great games and help great causes!" border="0" name="Cont_2" src="http://mailers.daub8.com/givebackbingo/images/system/GBB-Birthday-crm-min.jpg" style="max-width: 100%;" title="Play great games and help great causes!" /></a></td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 15px; padding-right: 15px; font-size:14px; line-height:1.6;">
            <p align="left" style="font-size: 11px; margin-bottom:1.5em !important;">Username: %%Alias%% | <a href="https://www.givebackbingo.com/forgot-password" name="www_givebackbingo_com_forgot_passwo" style="color: #e43675; text-decoration: none;" xt="SPCLICK">Forgot password</a>?<br />
            <strong><span style="color:#e43675;"><span style="font-size:16px;"><br />
            Happy Birthday&nbsp;%%Firstname%%!</span></span></strong><br />
            <br />
            <span style="font-size:14px;">To help you celebrate on this very special day,&nbsp;I&rsquo;ve wrapped up some special treats especially&nbsp;for you!<br />
            <br />
            It gives me great pleasure to tell you that I&rsquo;ve popped a <span style="color:#e43675;"><strong>&pound;10&nbsp;bonus gift in your account! </strong></span>Login now and you&rsquo;ll find it waiting :)&nbsp;</span><br />
            <br />
            <span style="font-size:14px;">I&rsquo;ve also rustled together a special birthday bonus to give you even more lucky funds to play with.</span></p>

            <p style="font-size: 11px; margin-bottom: 1.5em !important; text-align: center;"><span style="font-size:14px;"><span style="color:#e43675;"><strong><span style="font-size:16px;">Play with &pound;30</span></strong></span><br />
            Add &pound;10 with code: <span style="color:#e43675;"><strong>BDAY</strong></span></span><br />
            &nbsp;</p>

            <div style="margin-bottom: 1em; text-align: center;"><span style="font-size:14px;"><a href="http://www.givebackbingo.com" name="www_givebackbingo_com_login" xt="SPCLICK"><img alt="Claim now!" border="0" height="50" name="Cont_3" src="http://mailers.daub8.com/givebackbingo/images/system/button-msg-claim.png" style="max-width: 100%;" width="167" /></a></span></div>
            </td>
          </tr>