<!-- BODY -->
      <table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="max-width: 680px;" width="100%">
        <tbody>
          <tr>
            <td>
            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
              <tbody>
                <tr>
                  <td align="center" style="padding:0px 0px 0px 0px;"><a href="https://www.givebackbingo.com/" id="main_image" name="main_image" target="_blank" xt="SPCLICK"><img alt="main-image" aria-hidden="true" border="0" class="fluid g-img" height="auto" id="image_2" name="image_2" src="http://mailers.daub8.com/givebackbingo/images/claim-bonusback-mailer.jpg" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" width="680" /></a></td>
                </tr>
              </tbody>
            </table>

            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
              <tbody>
                <tr>
                  <td align="center" style="padding:40px 40px 20px 40px;">
                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:32px;line-height:38px;color:#e43675; font-weight:bold;">Your BonusBack is waiting, %%Firstname%% !</td>
                      </tr>
                      <tr>
                        <td align="center" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">We have good news for you!<br />
                        <br />
                        You&rsquo;ve qualified for your %%CurrencySymbol%%%%Amount%% BonusBack, ready to play on your favourite games and slots!<br />
                        <br />
                        To claim, simply log into your <a href="http://www.givebackbingo.com/" id="link_1" name="link_1" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK"><strong>GivebackBingo.com</strong></a> account and <strong>hit the CLAIM button</strong> in your <strong>&#39;My Account&#39; section.</strong><br />
                        <br />
                        Your BonusBack will expire by %%ExpireDate%%, so don&#39;t hang about!</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>

            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
              <tbody>
                <tr>
                  <td align="center" style="padding:40px 40px 20px 40px;">
                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                    <tbody>
                      <tr>
                        <td align="center">
                        <table border="0" cellpadding="0" cellspacing="0">
                        </table>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="padding:0px 0px 20px 0px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin: auto;">
                          <tbody>
                            <tr>
                              <td align="center" style="padding:0px 0px 0px 0px;" valign="top">
                              <table border="0" cellpadding="0" cellspacing="0" class="wrapcta">
                                <tbody>
                                  <tr>
                                    <td style="color:#3e9ff9; border-radius:3px; border: 2px solid #3e9ff9; background:#ececec; text-align: center;font-family:arial, sans-serif; font-size:18px; line-height:21px; padding:10px 20px 10px 20px; font-weight:bold;"><a href="https://www.givebackbingo.com/" id="secondary_cta" name="secondary_cta" style="color:#3e9ff9; display: block; text-decoration: none;" target="_blank" xt="SPCLICK">CLAIM NOW</a></td>
                                  </tr>
                                </tbody>
                              </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>

            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
              <tbody>
                <tr>
                  <td align="center" style="padding:40px 40px 20px 40px;">
                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">Good luck from the Give Back Bingo Team!</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>


      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="max-width: 680px; background: #ececec;" width="100%">
        <tbody>
          <tr>
            <td align="center" style="padding:20px 0px 0px 0px;" valign="top">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="max-width: 680px;" width="100%">
              <tbody>
                <tr>
                  <td align="center" valign="top">
                    <div style="max-width: 680px; margin: auto;"><!--[if mso]><table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
                        <tr>
                        <td>
                        <![endif]-->
                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                        <tbody>
                          <tr>
                            <td style="padding: 20px 20px 20px 20px; text-align: left; font-family:arial, sans-serif; font-size: 12px; line-height: 20px; color: #A3A3A3;">&bull; BonusBack will be awarded based on the applicable % of the player&rsquo;s loss on their total deposits on all games for the week.<br />
                            &bull; A BonusBack week runs from Friday 00.01 to Thursday 23.59 GMT.<br />
                            &bull; Promotions are only valid to eligible members.<br />
                            &bull; Players are required to claim their BonusBack by accessing the start page and clicking on the Claim Now tab.<br />
                            &bull; BonusBack will be available to claim for 7 days before it expires.<br />
                            &bull; BonusBack expires every Thursday at midnight.<br />
                            &bull; Maximum BonusBack amount is &pound;250 for Gold, &pound;500 for Ruby and &pound;1,000 for Emerald.<br />
                            &bull; BonusBack Bonus money can be played with on all scratch cards and slot games, excluding progressives.<br />
                            &bull; The bonus is for play purposes only. Bonus and bonus winnings can be converted to &pound;500 for Gold, &pound;1000 for Ruby and &pound;2500 for Emerald depending on the availability of funds at time of wagering completion, unless stated otherwise for specific BonusBack promos.<br />
                            &bull; A BonusBack bonus carries a 20x wagering for Gold and 10x wagering for Ruby &amp; Emerald.<br />
                            &bull; For more information on the promotion, <a href="https://www.givebackbingo.com/vip-club/" id="link_2" name="link_2" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK">click here</a><br />
                            &bull; General and Promotional Terms and Conditions <a href="https://www.givebackbingo.com/terms-and-conditions/general-promotional-terms-and-conditions/" id="link_3" name="link_3" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK">apply.</a></td>
                          </tr>
                          <tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>