<!-- BODY -->

<table bgcolor="#011a39" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #fff8ec; margin: 0; padding: 0;">
  
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">
      <table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
        
          <tr>
            <td><a href="http://www.givebackbingo.com" name="www_givebackbingo_com_3" xt="SPCLICK"><img alt="Claim your cashback!" border="0" height="150" name="Cont_2" src="http://mailers.daub8.com/givebackbingo/images/system/GBB-Cashback-crm-min.jpg" style="max-width: 100%;" title="Claim your cashback!" width="600" /></a></td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 15px; padding-right: 15px; font-size:14px; line-height:1.6;">
            <p align="left" style="font-size: 11px; margin-bottom:1.5em !important;">Username: %%Alias%% | <a href="https://www.givebackbingo.com/forgot-password" name="www_givebackbingo_com_forgot_passwo" style="color: #e43675; text-decoration: none;" xt="SPCLICK">Forgot password</a>?<br />
            <br />
            <span style="font-size:14px;">Hey %%Firstname%%,</span><br />
            <br />
            <strong><span style="color:#e43675;"><span style="font-size:16px;">A big thank you for playing with me this week!</span></span></strong><span style="font-size:14px;"><br />
            <br />
            I&rsquo;m super excited to tell you that you&rsquo;ve qualified for your <span style="color:#e43675;"><strong>%%CurrencySymbol%%%%Amount%% cashback bonus!</strong></span><br />
            <br />
            To claim, simply log into your&nbsp;<a href="http://www.givebackbingo.com" name="Hyperlink_20161107_135910440" target="_blank" xt="SPCLICK"><span style="color:#e43675;"><strong></strong></span></a><a href="http://www.givebackbingo.com" name="Hyperlink_20161107_135945060" target="_blank" xt="SPCLICK"><span style="color:#0000FF;"><strong>Givebackbingo.com</strong></span></a><span style="color:#e43675;"><strong>&nbsp;</strong></span>account and&nbsp;<span style="color:#e43675;"><strong>hit the</strong></span><span style="color:#e43675;"><strong> CLAIM button </strong></span>in you<span style="color:#e43675;"></span>r<span style="color:#e43675;"><strong> &#39;My Account&#39; </strong></span><span style="color:#e43675;"><strong>section.</strong></span><br />
            <br />
            Be&nbsp;quick! Your cashback will expire by %%ExpireDate%%, so don&#39;t hang about!<br />
            <br />
            <br />
            As an extra&nbsp;thank you for choosing to play with me on Give Back Bingo, I&rsquo;ve also rustled together an <span style="color:#e43675;"><strong>extra special code</strong></span> that you can use EVERY Friday!</span></p>

            <p style="font-size: 11px; margin-bottom: 1.5em !important; text-align: center;"><span style="color:#e43675;"><strong><span style="font-size:16px;"><span style="text-align: center; background-color: rgb(255, 248, 236);">To play with &pound;30</span></span></strong></span><span style="font-size:14px;"><br />
            Add &pound;10 with code: <span style="color:#e43675;"><strong>BIGTREAT</strong></span><br />
            <br />
            &nbsp;</span><a href="http://www.givebackbingo.com" name="www_givebackbingo_com_login" xt="SPCLICK"><img alt="Claim now!" border="0" height="50" name="Cont_3" src="http://mailers.daub8.com/givebackbingo/images/system/button-msg-claim.png" style="max-width: 100%;" width="167" /></a></p>
            </td>
          </tr>
  
