
  <!-- BODY -->
  <table bgcolor="#fff2d5" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; background: #fff2d5; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; width: 100%; margin: 0; padding: 0;">
          <tr>
            <td>
              <a href="http://www.bingoextra.com"><img src="http://mailers.communicatormail.com/bingoextra/images/Generic-BE2.jpg" border="0" style="max-width: 100%;" alt="Cash Dash" /></a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #303030; margin: 0; padding: 15px; font-size:14px; line-height:1.6;">

              
Hi <strong>%%Firstname%%</strong><br />
Username: %%Alias%%<br>

<a href="https://www.bingoextra.com/forgot-password" style="color: #0b859b; font-size:13px;">Forgotten Password</a>

<p align="left" style="margin-bottom:1.5em !important;">It’s the weekend and your pocket money is here – your Big Daddy Cashback bonus has just been credited!</p>

<p align="left" style="margin-bottom:1.5em !important;">You have %%CurrencySymbol%%%%Amount%% bonus waiting in your account.</p>

<p align="left" style="margin-bottom:1.5em !important;">Spend it in the Diner, at the Drive In or on any other bingo or slot games - just be sure to be home before curfew so you're allowed out to play again tomorrow!</p>

<p align="left" style="margin-bottom:1.5em !important;">Remember the higher your VIP level climbs the higher your weekly cashback % will be. So, start planning your weekend at Bingo Extra with a few extra coins in your purse! Good Luck! 
</p>



<p align="center" style="margin-top:30px;"><a href="http://www.bingoextra.com/promotions/><img src="http://mailers.communicatormail.com/bingoextra/images/templates/button-msg-claim.png" alt="Claim now!" width="240" height="60" border="0" style="max-width: 100%;" /></a></p>

            </td>
          </tr>