<!-- BODY -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="max-width: 680px;" width="100%">
                <tbody>
                    <tr>
                        <td>
                        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                            <tbody>
                                <tr>
                                    <td align="center" style="padding:0px 0px 0px 0px;"><a href="https://www.givebackbingo.com/" id="main_image" name="main_image" target="_blank" xt="SPCLICK"><img alt="Welcome to Ruby" aria-hidden="true" border="0" class="fluid g-img" height="auto" id="image_2" name="image_2" src="http://mailers.daub8.com/givebackbingo/images/mailer-gold.jpg" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" width="680" /></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                            <tbody>
                                <tr>
                                    <td align="center" style="padding:40px 40px 20px 40px;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:32px;line-height:38px;color:#e43675; font-weight:bold;">Welcome to Gold VIP Level!</td>
                                            </tr>
                                            <tr>
                                                <td align="left" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">Congratulations %%Firstname%%!<br />
                                                <br />
                                                To celebrate your Gold upgrade we have added <strong>&pound;10</strong> bonus into your account!<br />
                                                <br />
                                                <strong>You have now unlocked access to the following great benefits:</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                            <tbody>
                                <tr>
                                    <td align="center" style="padding:40px 40px 20px 40px;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#e43675; font-weight:bold;" valign="top">&bull;</td>
                                                            <td align="left" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:24px;color:#333333;" valign="top">Instant &pound;10 upgrade bonus - Log in now and find it waiting!</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#e43675; font-weight:bold;" valign="top">&bull;</td>
                                                            <td align="left" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:24px;color:#333333;" valign="top">5% BonusBack every Friday</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#e43675; font-weight:bold;" valign="top">&bull;</td>
                                                            <td align="left" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:24px;color:#333333;" valign="top">Exclusive Promotions</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0px 10px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:16px;line-height:22px; color:#e43675; font-weight:bold;" valign="top">&bull;</td>
                                                            <td align="left" style="padding:0px 0px 20px 0px; font-family:Helvetica, Arial, sans-serif; font-size:16px;line-height:24px;color:#333333;" valign="top">Special Birthday Bonus &pound;20</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
                            <tbody>
                                <tr>
                                    <td align="center" style="padding:40px 40px 20px 40px;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="left" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">Next step is Ruby VIP Level. Check out our <a href="https://www.givebackbingo.com/vip-club/" id="link_1" name="link_1" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK">promo page</a> to find out more.</td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="padding:0px 0px 20px 0px;">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin: auto;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" style="padding:0px 0px 0px 0px;" valign="top">
                                                            <table border="0" cellpadding="0" cellspacing="0" class="wrapcta">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="color:#ffffff;border-radius:3px; background:#3e9ff9; text-align: center;font-family:arial, sans-serif;font-size:18px;line-height:21px;padding:10px 20px 10px 20px;font-weight:bold;"><a href="https://www.givebackbingo.com/" id="primary_cta" name="primary_cta" style="color:#ffffff; display: block; text-decoration: none;" target="_blank" xt="SPCLICK">PLAY NOW</a></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>


            
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="max-width: 680px; background: #ececec;" width="100%">
        <tbody>
          <tr>
            <td align="center" style="padding:20px 0px 0px 0px;" valign="top">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="max-width: 680px;" width="100%">
              <tbody>
                <tr>
                  <td align="center" valign="top">
                    <div style="max-width: 680px; margin: auto;"><!--[if mso]><table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
                        <tr>
                        <td>
                        <![endif]-->
                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                        <tbody>
                          <tr>
                            <td style="padding: 20px 20px 20px 20px; text-align: left; font-family:arial, sans-serif; font-size: 12px; line-height: 20px; color: #A3A3A3;">&bull; Upgrades are at the discretion of management.<br />
                                                &bull; Please visit the <a href="https://www.givebackbingo.com/" id="link_2" name="link_2" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK">website</a> for more details.<br />
                                                &bull; Upgrade bonus is a slots bonus not available on Table Games and Progressive Jackpots.<br />
                                                &bull; Upgrade bonus carries a 25x wagering and a maximum of &pound;50 can be converted. Bonus is valid for 7 days once credited.<br />
                                                &bull; BonusBack is paid in Bonus Funds as per the BonusBack <a href="https://www.givebackbingo.com/vip-club/" id="link_3" name="link_3" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK">T&amp;C&#39;s</a> and carries a 20x WR. Upon completion, the initial bonus amount will be taken off and up to a maximum of &pound;500 can be converted to Real Funds<br />
                                                &bull; For full T&amp;Cs, <a href="https://www.givebackbingo.com/terms-and-conditions/general-promotional-terms-and-conditions/" id="link_4" name="link_4" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK">click here</a>.</td>
                          </tr>
                          <tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
  </table>