<!-- BODY -->

<table bgcolor="#011a39" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #fff8ec; margin: 0; padding: 0;">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">
      <table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
        <tbody>
          <tr>
            <td><a href="http://www.givebackbingo.com" name="www_givebackbingo_com_3" xt="SPCLICK"><img alt="Play great games and help great causes!" border="0" name="Cont_2" src="http://mailers.daub8.com/givebackbingo/images/system/GBB-Forgot-Password.gif" style="max-width: 100%;" title="Play great games and help great causes!" /></a></td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 15px; padding-right: 15px; font-size:14px; line-height:1.6;">
            <p align="left" style="font-size: 11px; margin-bottom:1.5em !important;">Username: %%Alias%% | <a href="https://www.givebackbingo.com/forgot-password" name="www_givebackbingo_com_forgot_passwo" style="color: #e43675; text-decoration: none;" xt="SPCLICK">Forgot password</a>?<br />
            <br />
            <span style="font-size:16px;"><span style="font-size:14px;"><span style="color:#e43675;">Hey %%Firstname%%<span style="color:#e43675;"><strong><span style="font-size:16px;"><br />
            <br />
            You&#39;re a fundraising star!</span></strong></span><br />
            <br />
            Thanks so much for making your first deposit, I hope you enjoyed all there is on offer!<br />
            <br />
            <span style="color:#e43675;"><strong><span style="font-size:16px;">Now claim your 2nd offer - 50% Slots!</span></strong></span><br />
            <br />
            1) Head to the cashier<br />
            2) Choose your 50% slots bonus<br />
            3) Play your favourite games for even longer.<br />
            <br />
            Enjoy!<br />
            <br />
            If you&#39;ve got any suggestions or you&#39;d like to get in touch and share your story, contact me on Jenny@givebackbingo.com... I&#39;d love to hear&nbsp;from you!</span></span></span></p>

            <div style="margin-bottom: 1em; text-align: center;"><span style="font-size:14px;"><a href="http://www.givebackbingo.com" name="www_givebackbingo_com_login" xt="SPCLICK"><img alt="Claim now!" border="0" height="50" name="Cont_3" src="http://mailers.daub8.com/givebackbingo/images/system/button-msg-claim.png" style="max-width: 100%;" width="167" /></a></span></div>
            </td>
          </tr>