<!-- BODY -->

<table bgcolor="#011a39" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #f91a8b; margin: 0; padding: 0;">
    <tbody>
        <tr>
            <td>&nbsp;</td>
            <td style="max-width: 600px; display:block; margin:auto;">
            <table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
                <tbody>
                    <tr>
                        <td><a href="http://www.givebackbingo.com" name="www_givebackbingo_com_3" target="_blank" xt="SPCLICK"><img alt="Play great games and help great causes!" border="0" name="Cont_12" src="http://mailers.daub8.com/givebackbingo/images/300bonus-welcomemailer.jpg" style="max-width: 100%;" title="Play great games and help great causes!" /></a></td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="font-family: Helvetica, Helvetica, Arial, sans-serif; margin: 0px; padding-left: 15px; padding-right: 15px; font-size: 14px; line-height: 1.6;">
                        <p align="left" style="color: rgb(97, 97, 97); font-size: 11px; margin-bottom: 1.5em !important;">Username: %%Alias%% | <a href="https://www.givebackbingo.com/forgot-password" name="www_givebackbingo_com_forgot_password" style="color: #e43675; text-decoration: none;" xt="SPCLICK">Forgot password</a>?<br />
                        <strong><span style="color:#e43675;"><span style="font-size:16px;"><br>
                        Welcome to Give Back Bingo %%Firstname%%!</span></span></strong><br><br>
                        <span style="font-size:14px;">We’re so happy to have you as a new addition to the Give Back Bingo Family!<br><br>
                        Have you got your magic numbers ready? It’s time to discover our impressive 90 ball bingo, 75 ball bingo and 5 ball bingo rooms with our generous <span style="color:#e43675;"><strong>150% BINGO BONUS!</strong></span><br><br>
                        Wait, there is more! With your 1st deposit you will also receive <span style="color:#e43675;"><strong>20 FREE SPINS</strong></span> to enjoy on our exclusive slots like Lady Luck Deluxe, Rainbow Phoenix, The Lost Slot of Riches, Lucky Leprechaun, Mighty Zeus, Cutie Fruits and so many more!<br><br>
                        What separates us from the rest? We put the fun in fundraising! At Give Back Bingo with every bingo game you play we donate to a charity of the month, chosen by our members.  
                        </span>
                        <br><br>

                        <span style="font-size:16px;"><span style="color:#e43675;"><strong>Claim your 1st deposit offer:</strong></span></span><br><br>
                        <span style="font-size:14px;">1) Head to the cashier and select your <span style="color:#e43675;"><strong>‘150% Bingo Bonus + 20 free spins’</strong></span><br>
                        2) Make your 1st deposit of £10 or more<br>
                        3) Enjoy our bingo and slot games!<br><br></span><span style="font-size:14px;"><span style="font-size:14px;"><span style="color:#616161;"><span style="font-size: 14px;">P.S. Watch out for our generous promotions, we love to reward our players with some awesome offers!</span></span></span></span></p>

                        <p align="center" style="color: rgb(97, 97, 97); margin-top: 30px;"><a href="http://www.givebackbingo.com" name="www_givebackbingo_com_login" xt="SPCLICK"><img alt="Claim now!" border="0" height="50" name="Cont_3" src="http://mailers.daub8.com/givebackbingo/images/system/button-msg-claim.png" style="max-width: 100%;" width="167" /></a></p>
                        </td>
                    </tr>