<!-- BODY -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="max-width: 680px;" width="100%">
        <tbody>
          <tr>
            <td>
            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
              <tbody>
                <tr>
                  <td align="center" style="padding:0px 0px 0px 0px;"><a href="https://www.givebackbingo.com/" id="main_image" name="main_image" target="_blank" xt="SPCLICK"><img alt="main-image" aria-hidden="true" border="0" class="fluid g-img" height="auto" id="image_2" name="image_2" src="http://mailers.daub8.com/givebackbingo/images/security-mailer.jpg" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" width="680" /></a></td>
                </tr>
              </tbody>
            </table>

            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
              <tbody>
                <tr>
                  <td align="center" style="padding:40px 40px 20px 40px;">
                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="padding:0px 0px 20px 0px; font-family: 'todayshop-bold', 'Arial Black', sans-serif !important; word-break: normal; font-size:32px;line-height:38px;color:#e43675; font-weight:bold;">Your account has been locked - let us help!</td>
                      </tr>
                      <tr>
                        <td align="center" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">Hi %%Firstname%%,<br />
                        <br />
                        Your Give Back Bingo Account has been temporarily locked due to consecutive failed log-in attempts. Please contact the call center to re-activate you account:</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>

            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
              <tbody>
                <tr>
                  <td align="center" style="padding:40px 40px 20px 40px;">
                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:22px;color:#333333;"><a href="https://www.givebackbingo.com/Support/" id="link_1" name="link_1" style="color:#0000FF; text-decoration: underline;" target="_blank" xt="SPCLICK"><strong>Contact Support</strong></a><br />
                        <br />
                        If you&rsquo;ve forgotten your password, please use the &quot;forgotten password&quot; link below or contact our awesome Support Team agents who are here to help you.</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>

            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="min-width:100%;" width="100%">
              <tbody>
                <tr>
                  <td align="center" style="padding:40px 40px 20px 40px;">
                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="padding:0px 0px 20px 0px; font-family:arial, sans-serif; font-size:16px;line-height:22px;color:#333333;">Good luck from the Give Back Bingo Team!</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
        </tbody>
      </table>