<!-- BODY -->

<table bgcolor="#011a39" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #fff8ec; margin: 0; padding: 0;">
    <tbody>
        <tr>
            <td>&nbsp;</td>
            <td style="max-width: 600px; display:block; margin:auto;">
            <table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
                <tbody>
                    <tr>
                        <td><a href="http://www.givebackbingo.com" name="www_givebackbingo_com_3" xt="SPCLICK"><img alt="Play great games and help great causes!" border="0" height="150" name="Cont_2" src="http://mailers.daub8.com/givebackbingo/images/system/GBB-VIPSILVER-crm-min.jpg" style="max-width: 100%;" title="Play great games and help great causes!" width="600" /></a></td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding-left: 15px; padding-right: 15px; font-size:14px; line-height:1.6;">
                        <p align="left" style="font-size: 11px; margin-bottom:1.5em !important;">Username: %%Alias%% | <a href="https://www.givebackbingo.com/forgot-password" name="www_givebackbingo_com_forgot_passwo" style="color: #e43675; text-decoration: none;" xt="SPCLICK">Forgot password</a>?<br />
                        <br />
                        <span style="color:#e43675;"><strong><span style="font-size:16px;">Congratulations -</span></strong></span><span style="font-size:16px;"><span style="font-size:14px;"><span style="color:#e43675;"><strong><span style="font-size:16px;">&nbsp;You&#39;re now&nbsp;earning big rewards!</span></strong></span><br />
                        <br />
                        Hey %%Firstname%%<br />
                        <br />
                        Great news! I&rsquo;ve taken a look at your account and&nbsp;I&rsquo;ve decided to move you up to the Silver VIP level.&nbsp;<br />
                        <br />
                        To celebrate, I&rsquo;ve <span style="color:#e43675;"><strong>credited your account with a special &#39;Congrats Bonus&rsquo;</strong></span>. Log in now and see :)<br />
                        <br />
                        As a Silver player you can enjoy the following great benefits:</span></span><br />
                        <span style="font-size: 14px; background-color: rgb(255, 248, 236);">&nbsp;</span><span style="font-size:14px;"><span style="font-size:14px;"></span></span></p>

                        <ul>
                            <li align="left" style="font-size: 11px; margin-bottom: 1.5em !important;"><span style="font-size:14px;">5% Weekly BonusBack</span></li>
                            <li align="left" style="font-size: 11px; margin-bottom: 1.5em !important;"><span style="font-size:14px;">Entry into the &pound;50 Free Bingo room daily</span></li>
                            <li align="left" style="font-size: 11px; margin-bottom: 1.5em !important;"><span style="font-size:14px;">1 Daily FREE Spin</span></li>
                            <li align="left" style="font-size: 11px; margin-bottom: 1.5em !important;"><span style="font-size:14px;">1 FREE bingo card daily</span></li>
                        </ul>

                        <div style="margin-bottom: 1em; text-align: center;"><span style="font-size:14px;"><a href="http://www.givebackbingo.com" name="www_givebackbingo_com_login" xt="SPCLICK"><img alt="Claim now!" border="0" height="50" name="Cont_3" src="http://mailers.daub8.com/givebackbingo/images/system/button-msg-claim.png" style="max-width: 100%;" width="167" /></a></span></div>
                        </td>
                    </tr>