  <!-- BODY -->
  <table bgcolor="#e2d6ea" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; background: #e2d6ea; margin: 0; padding: 0;">
    <tr>
      <td>&nbsp;</td>
      <td style="max-width: 600px; display:block; margin:auto;">

        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; width: 100%; margin: 0; padding: 0;">
          <tr>
            <td>
              <a href="https://www.luckypantsbingo.com"><img src="http://mailers.communicatormail.com/luckypants/images/responsive/welcome-ruby.png" style="max-width: 100%;" border="0"/></a>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="font-family: 'Helvetica', Helvetica, Arial, sans-serif; color: #616161; margin: 0; padding: 15px; font-size:14px; line-height:1.6;">

Dear <strong>%%USERNAME%%</strong>          

<p align="left" style="margin-bottom:1.5em !important;">We have reviewed your account and based on your gameplay, we have moved you to the Ruby VIP level and would like to offer you a bonus. Log into your account to find out what it is!</p>

<p align="left" style="margin-bottom:1.5em !important;"> Membership into this level is by invite only and you can expect to get the very best treatment from our dedicated VIP Managers. </p>

<p align="left" style="margin-bottom:1.5em !important;"><strong>As a Ruby player you can enjoy the following great benefits</strong></p>

<ul>
<li>Entry into a monthly free iPad game</li>
<li>3 Daily Free Spins</li>
<li>12% Weekly Cashback</li>
<li>3 Free Bingo Cards Daily</li>
<li>24 Hour withdrawal pending period</li>
</ul>

<p align="left" style="margin-bottom:1.5em !important;">We thank you for choosing to play with Lucky Pants Bingo and look forward to giving you the star treatment!</p>

<p align="left" style="margin-bottom:1.5em !important;">Lucky Pants VIP Manager</p>

<p align="left" style="margin-bottom:1.5em !important;">Terms &amp; Conditions: Entry into and downgrades from the VIP levels are subject to the discretion of management. <a href="https://www.luckypantsbingo.com/lucky-club">Please visit the VIP page for more details.</a> </p>


<p align="center" style="margin-top:30px;"><a href="https://www.luckypantsbingo.com/promotions/><img src="http://mailers.communicatormail.com/luckypants/images/templates/button-msg-freebie.png" alt="Claim now!" width="240" height="50" border="0" style="max-width: 100%;" /></a></p>

</td>
</tr>