.account-menu-mobile {
    @include hide-for-large-up;

    @include grid-column(12);

    margin: 0;
    padding: 0;
    right: 0;
    z-index: 9999999;
    background: $white;
    display: none;
    position: fixed;
    top: 50px;

    &:after {
        bottom: 100%;
        right: 95px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $regalwins--dodger-blue;

        @media #{$medium-only} {
            right: 85px;
        }
    }

    &.active {
        display: block;
    }

    @media #{$medium-only} {
        max-width: 300px;
        margin-right: $site-margin;
    }

    .account-menu-mobile__header {
        @include grid-column(12);

        color: $regalwins--copy-colour; 
        font-size: 18px;
        text-transform: uppercase;

        //text-transform: uppercase;
        padding: $site-margin;
        font-family: $body-font-medium;
        background: $regalwins--dodger-blue url(../_images/common/icons/welcome-close.svg) no-repeat right $site-margin center;

        // box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
        display: block;
        position: fixed;
        height: auto;
        z-index: 1;
        max-width: 100%;

        @media #{$medium-only} { 
            max-width: 300px;
        }
    }

    ul {
        @include grid-column(12);

        color: $white;
        margin: 0;
        padding: 50px 0;
        font-size: 19px;
        background: $regalwins--module-background;
        position: fixed;
        overflow-y: auto;
        max-height: 100%;
        padding-bottom: 0px;

        @media #{$medium-only} {
            max-width: 300px;
        }

        li {
            @include grid-column(12);

            padding: ($site-margin / 2) $site-margin;
            padding-top: $site-margin;
            font-family: $ui-font-semibold;
            text-transform: uppercase;
            border-bottom: 1px solid $regalwins--san-juan;
            line-height: 1;

            @media #{$medium-only} {
                max-width: 300px;
            }

            a {
                color:$white;
            }

            &:last-child {
                border: none;
            }

            &.logout {
                @include grid-column(12); 

                padding: 0;
                margin: 0;

                a {
                    overflow: hidden;
                    background: $regalwins--dodger-blue;
                    font-family: $body-font-bold;
                    color: $regalwins--copy-colour;
                    padding: $site-margin / 2;
                    width: 80%;
                    float: left;
                    margin: $site-margin 10%;
                    text-align: center;
                    text-transform: uppercase;

                    &:hover {
                        background:$regalwins--hover;
                        color: $regalwins--copy-colour;
                    }
                }
            }

//            a {
//                color: $nav-active-color;
//            }
        }
    }
}