



.balance-display-mobile {
    @include hide-for-large-up;
    @include absolute-center();
    @include grid-column(12);
    @include border-radius(4px);

    width: 75%;
    position: fixed;
    height: auto;
    padding: 20px;
    z-index: 1000;
    background: $black;
    padding-bottom: 20px;
    border: 1px solid $regalwins--highlight-gold;

    // ensure top of popup is visible in landscape
    @media (orientation: landscape) {
        transform: translate(-50%, -40%);
        max-width: 350px;
    }

    &.active {
        display: block;
    }

    .balance-display-mobile__cta {
        @include regalwins-button-gradient('false', 'green');
        width: 100%;
        padding: 0.5rem 2rem 0.7rem 2rem;
        display: inline-block;
        font-weight: bold !important;
        text-align: center;
        line-height: 30px;
        color: $white !important;
        text-transform: uppercase;
    }

    .balance-display-mobile__header {
        text-transform: uppercase;
        padding: 20px 20px;
        font-family: $body-font-medium;
        background: $black url(../_images/common/icons/welcome-close.svg) no-repeat right 0 top 0;
        background-size: 18px 18px;

        &.ui-close-modals {
            cursor: pointer;
        }
    }

    ul {
        @include grid-column(12);
        color: $white;
        background:$regalwins--module-background;
        margin-bottom: 30px;
        padding: 0;
        font-size: 19px;
        text-transform: uppercase;

        li {
            @include grid-column(12);

            padding: 8px 0 8px 0;
            padding-top: $site-margin;
            font-family: $ui-font-semibold;
            position: relative;
            line-height: 0.85;
            font-size: $rw-body-small-font-size;
            text-transform: none;

            & span {
                color: $white;
                font-weight: bold;
            }

            &.balance {
                color: $white;
                margin-bottom: 30px;

                &.active {
                    color: $white;
                    .slider {
                        background-color: $regalwins--dodger-blue;
                    }
                }
                .slider {
                    background-color: $regalwins--dodger-blue;
                }
            }

            &:last-child {
                border: none;
            }

            .loyalty_points {
            }

            div {
                display: inline;
            }
            span {
                float: right;
                font-family: $body-font-medium;
            }
            span.balance-text {
                font-family: $body-font-medium;
                font-weight: normal;
                padding-top: 5px;
                float: left;
            }

            
            a {
                @include grid-column(10);
                padding-left:0px;
                text-decoration: underline;
                width: 70%;
                color: #fff;
            }

            .overlay__mybalance--value {
                position: relative;
            }

            // The switch - the box around the slider
            .switch {
                display: block;
                width: 46px;
                height: 24px;
                position: relative;
                float: right;
            }

            // Hide default HTML checkbox
            .switch input {
                display: none;
            }

            .switch label {
                background: $black;
                border: 1px solid $regalwins--highlight-gold;
                position: static;
            }

            // inactive (positioned left)
            .switch.round label:after {
                top: 0.25rem;
                left: 0.20rem;
                background: $regalwins--gray-dark;
            }

            // active (positioned right)
            .switch input:checked + label:after {
                top: 0.25rem;
                left: 2.25rem;
                background: $white;
            }
        }
    }
}
