.mobile-game-nav {
    padding: 2px !important;
    margin-bottom: 0px !important;
        background-color: black;
    // background-image: url("../_images/mobile-nav/bg-repeat-grey-to-black.jpg");
    @media #{$large-up} {
        display: none;
    }
    @media #{$small-only} {
        position: fixed;
        z-index: 989;
        top: 45px;
        left: 0;
        width: 100%;
      
    }
    @media #{$medium-only} {
        position: fixed;
        z-index: 989;
        top: 45px;
        left: 0;
        width: 100%;
     
    }
}

.games-menu {
    @extend .hide-for-large-up;
    #magicalMenu {
        display: inline;
        padding: 0;
        @include grid-column(2, $collapse: true);
        @media #{$small-only} {
            @include grid-column(4, $collapse: true);
        }
        margin-left: 5px;
        > a {
            padding: 7px;
            font-size: 12px;
            width: 100%;
            height: 36px;
            margin: 0 auto;
       
            @media #{$medium-only} {
                margin-top: 2px;
            }
            border-radius: 1px;
            color: $white;
            background-color: #A30DA1;
            font-family: $heading-font-bold;
            border-radius: 2px;
            &:hover {
                background-color: lighten(#A30DA1, 10%);
                color: $white;
            }
        }
    }
    .games-filter-menu {
        position: relative;
        color: lighten(#e90088, 5%);
        font-family: $body-font-regular;
    }
    .games-filter-menu__popover {
        display: none;
        position: absolute;
        left: -1px;
        top: 35px;
        margin-top: 3px;
        z-index: 99999999;
        height: auto;
        width: 300px;
        background-color: #1E1345;
        .content ul {
            margin-left: 0.7em;
        }
        .content ul li a {
       
            text-align: center;
        }
        .content ul li a:hover, a:focus {
          
        }
    }
    .search-input > input[type=text] {
        height: 28px;
        @media #{$medium-only} {
            margin-top: 0px;
        }
            @media #{$small-only} {
            margin-top: 0px;
        }
    }
    .search-input {
        @include grid-column(12, $collapse: true);
    }
}

.games-menu__games-nav {
    @include grid-column(12, $collapse: true);
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 4px;
    .games-menu__games-nav__search {
        float: right;
        @extend .hide-for-large-up;
    }
}