%svg {
    width: 100%;
    height: 1.375rem;
}

.mobilemenu-cta {
    @extend .show-for-medium-down;
    position: fixed;
    z-index: 2; // sit above game favourite icon
    width: 100%;
    bottom: 69px;
    height: 50px;
    
    @include regal-background-gradient('orange');

    &.joinnow-hide {
        display: none !important;
    }
    &.joinnow-show {
        display: block !important;
    }

    .mobilemenu-cta--wrapper {
        display: table;
        width: 100%;
        height: 100%;

        a {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            text-transform: uppercase;
            color: $white;
            
            // Placeholders, use font family variable
            font-weight: bold;
            font-size: $font-cta-size;
        }
    }
}

// mobilemenu-cta exclusions
#join-now .mobilemenu-cta       { display: none !important; }
#login .mobilemenu-cta          { display: none !important; }
body.loggedin .mobilemenu-cta   { display: none !important; }

.mobilemenu__menubottom {
    background: $mobilemenu-navbar--background;
    height: rem-calc(60px);
    z-index: 5;
    display: block;
    bottom: 0px;
    position: fixed;
    max-width: 100%;
    width: 100%;
    overflow: hidden;

    @media #{$large-up} {
        display: none;
    }
    @media #{$medium-only} {
        padding: 0 5%;
        text-align: center;
    }
    @media #{$small-up} {
        @media #{$landscape} {
            padding: 0 5%;
            text-align: center;
        }
    }

    &:after {
        content: "";
        height: 1px;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        @include regal-background-gradient;
    }

    &.loaded {
        .mobilemenu__menubottom--item {
            transition-property: opacity;
            transition-duration: 1.5s;
            transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
            opacity: 1;
        }
    }
}

.mobilemenu__menubottom {
    box-shadow: 0px -5px 35px 0px rgba(255, 255, 255, 0.10);
    max-width: 100%;
    overflow-x: hidden;
    height: 4.25em;
}

.mobilemenu__menubottom--wrapper {
    // display: inline-block;
    width: 100%;
    height: rem-calc(60px);
    white-space: nowrap;
    margin-left: 0;
    margin-right: 0;
    margin: 0 !important;
    display: -webkit-box;    
    display: -ms-flexbox;    
        display: flex;
}

.mobilemenu__menubottom--item {
    list-style: none;
    white-space: normal;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
        display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    list-style-type: none;
    color: $white;
    font-family: $body-font-bold;
    text-align: center;
    letter-spacing: 0.4px;
    transition: font-size 0.1s;
    height: rem-calc(60px); //overwrite foundation block grid
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 7px; //overwrite foundation block grid
    width: 15.5%;
    justify-content: center;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    position: relative;

    & .mobilemenu__menubottom--link {
        font-size: rem-calc(9px);
        color: $white;

        // iphone 5 specific
        @media screen and (max-width: 320px) {
            font-size: rem-calc(8px);
        }
    }
}


//Hiding footer menu from rgister and cashier page (tablet and mobile)
#join-now,
#register,
#cashier {
    .mobilemenu__menubottom {
        display: none;
    }
}


@mixin mobilemenu-active-nav {
    color: $mobilemenu-navbar--link;    
    
    & svg {
        path, rect {
            fill: $regalwins--highlight-gold;
        }
    }
}

// Handle the bottom menu active states. Uses id hook provided by ajax on the body tag
#home .mobilemenu__menubottom--home .mobilemenu__menubottom--link             { @include mobilemenu-active-nav; }
#games .mobilemenu__menubottom--games .mobilemenu__menubottom--link           { @include mobilemenu-active-nav; }
#promotions .mobilemenu__menubottom--promotions .mobilemenu__menubottom--link { @include mobilemenu-active-nav; }
#my-account .mobilemenu__menubottom--my-account .mobilemenu__menubottom--link { @include mobilemenu-active-nav; }
#search .mobilemenu__menubottom--search .mobilemenu__menubottom--link         { @include mobilemenu-active-nav; }
#more .mobilemenu__menubottom--more .mobilemenu__menubottom--link             { @include mobilemenu-active-nav; }

.mobilemenu__menubottom--link {
    font-size: rem-calc(8px);
    position: relative;
    display: inline-block;

    &:hover, &:focus {
        color: $white;
    }
}

.mobilemenu__menubottom--home {
    .mobilemenu-messages-icon {
        background: $torchred;
        font-size: rem-calc(14px);
        font-weight: bold;
        font-size: rem-calc(10px);
        position: absolute;
        top: 5px;
        line-height: 12px;
        left: 55%;
        height: 15px;
        width: 15px;
        border-radius: 20px;
        text-align: center;
        color: $white;
        opacity: 1;
        z-index: 5;

        @media #{$landscape} {
            left: 53%;
        }
    }

    margin-left: 2px;
    svg {
        @extend %svg;
    }

    @media #{$medium-up} {
        &:hover,
        &:focus {
            a {
                color: $mobilemenu-navbar--link--hover;
            }
            #start {
                fill: $mobilemenu-navbar--link--hover;
            }
        }
    }
}

.mobilemenu__menubottom--games {
    svg {
        @extend %svg;
        padding: 1px;
    }
    &:hover,
    &:focus {
        #all-games {
            fill: $mobilemenu-navbar--link--hover;
        }
        a {
            color: $mobilemenu-navbar--link--hover;
        }
    }
}

.mobilemenu__menubottom--promotions {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        a {
            color: $white;
        }
        #table-and-card {
            fill: $mobilemenu-navbar--link--hover;
        }
        #table-and-card-line {
            stroke: $mobilemenu-navbar--link--hover;
        }
    }
}

.mobilemenu__menubottom--my-account {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        a {
            color: $white;
        }
        #live-casino {
            fill: $mobilemenu-navbar--link--hover;
        }
    }
}

.mobilemenu__menubottom--search {
    svg {
        @extend %svg;
    }
    &:hover,
    &:focus {
        a {
            color: $white;
        }
        #slots {
            fill: $mobilemenu-navbar--link--hover;
        }
    }
}

.mobilemenu__menubottom--more {
    svg {
        @extend %svg;
        padding: 2px;
    }
    &:hover,
    &:focus {
        a {
            color: $white;
        }
        #roulette,
        #roulette-line {
            fill: $mobilemenu-navbar--link--hover;
        }
    }
}
