.nav-for-mobile {
    @include hide-for-large-up;
    @include transition(all, 0.2s ease-out);
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    @include opacity(1);
    height: initial;
    background: $black;
    overflow-scrolling: touch;
    float: left;
    position: relative;

    @keyframes sticky {
        from {
            top: -50px;
        }
        to {
            top: 0px;
        }
    }
    animation: sticky 0.2s normal forwards ease-out;

    &:after {
        content: "";
        height: 1px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        @include regal-background-gradient
    }
    
    // logged in specific
    &.nav-for-mobile--logged-in {
        background: $black;
        top: 0;
    }

    &.sticky {
        top: -50px;
        position: fixed;
        @keyframes sticky {
            from {
                top: -50px;
            }
            to {
                top: 0px;
            }
        }
        animation: sticky 0.2s normal forwards ease-out;
    }

    .site-logo {
        @include show-for-medium-only;
        @include grid-column(4);
        background-repeat: no-repeat;
        background-size: contain;
        width: 142px;
        margin: 5px 8px 5px 16px;
        background-position: 0px 0px;
    }
    .site-logo-mobile {
        @include show-for-small-only;
        width: 101px;
        float: left;
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 5px 8px 5px 9px;
        @media screen and (max-width: 319px) {
            display: none;
        }
    }
    .site-logo-mobile-loggedin {
        @include show-for-small-only;
        width: 101px;
        float: left;
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 7px 8px 5px 9px;
        @media screen and (max-width: 319px) {
            display: none;
        }
    }
}

.balance-display {
    min-width: 84px;
    float: right;
    padding: 3px 20px 3px 9px;
    margin: 16px 0 11px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    line-height: 2.1;
    font-size: 0.7rem;
    font-weight: bold;
    background: url("/_images/revamp/common/drop_down.svg") no-repeat center right 7px;
    background-size: 8px 4px;
    cursor: pointer;
    
    // iphone 5 specific, hide overflow for large balance
    @media screen and (max-width: 320px) {
        font-size: 9px;
        line-height: 2.3;
        min-width: 74px;
        margin: 18px 0 11px;
        padding: 3px 18px 3px 7px;

        span {
            width: 50px;
            max-width: 50px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    @media #{$medium-only} {
        float: right;
    }
}

.deposit-display {
    float: right;
    margin: 13px 7px 5px 5px;
    font-size: 12px;
    color: $white;
    background: url("/_images/revamp/common/header/deposit.svg") no-repeat top right;
    background-size: contain;
    position: relative;

    // iphone 5 specific, match balance sizing
    @media screen and (max-width: 320px) {
        font-size: 9px;
        margin: 16px 7px 0 3px;
        background: url("/_images/revamp/common/header/deposit.svg") no-repeat top right;
        background-size: 100% 33px;
    }
    
    .deposit-link {
        padding: 8px 41px 9px 8px;
        line-height: 3;
        vertical-align: top;
        color: $regalwins--highlight-gold;
        text-transform: uppercase;
        font-weight: bold;

        // iphone 5 specific, match balance sizing
        @media screen and (max-width: 320px) {
            padding: 8px 39px 9px 10px;
            line-height: 3.4;
        }
    }
}

.icons-menu {
    float: right;
    margin-right: 10px;
    margin-left: 5px;
    width: auto;
    @media #{$small-only} {
        margin-right: 0px;
        margin-left: 0px;
    }
    .account-icon {
        margin: 0 10px 0 13px;
        padding: 0;
        background: none;
        float: left;
        @media #{$medium-only} {
            margin: 0 15px 0 19px;
        }
        img {
            width: 22px;
            height: 50px;
        }
        &.active {}
    }
    .mail-icon {
        float: left;
        position: relative;
        img {
            width: 27px;
            height: 50px;
        }
        .mail-value {
            // display: block !important;
            position: absolute;
            background: #FF00AA;
            border-radius: 50%;
            right: -10px;
            width: 20px;
            height: 20px;
            line-height: 1.5;
            top: 5px;
            float: left;
            color: white;
            text-align: center;
            font-family: $body-font-bold;
        }
    }
    .search-icon {
        float: left;
        position: relative;
        margin: 0;
        padding: 0;
        background: none;
        img {
            height: 50px;
            width: 23px;
        }
    }
}

