.community {
    .article {
        margin-bottom: 0;
        border-right: 1px solid #ffffff;

        // @include box-shadow(inset 0 0 0 1px #fff);
        @include background-image(linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%));

        @media #{$large-up} {
            @include grid-column(4, $collapse: true);

            width: 31.33333%;
            height: 450px;
            margin-right: 10px;
            margin-bottom: 0px;
        }

        @media #{$medium-only} {
            @include grid-column(5, $collapse: true);
            padding-left: 0;
            padding-right: 0;
            width: 46%;
            margin-right: 10px;
            height: 500px;
        }

        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }

        &:last-child {
            margin-bottom: 0;
            border-right: none;
        }

        .article__content__date {
            font-family: $body-font-demi;
            font-size: 14px;
            font-weight: bold;
            color: $main-highlight-color;
        }

        .article__content__image {
            @include grid-column(12, $collapse: true);
        }

        .article__content__title {
            margin-bottom: 7px;
            border-bottom: none;
        }

        .article__content__title > a {
            font-family: $body-font-bold;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            color: $brand-color;
        }

        .article__content__body {
            padding: 10px;
            min-height:300px;

            p {
                font-size: .8em;
                line-height: 1.4;

                @media #{$small-only} {
                    font-size: 0.875rem;
                }
            }

            ul {
                font-size: .9em;
                display: inline;
                margin-left: 20px;
                list-style-position: inside;
            }

            img {
                float: left;

                @include grid-column(4, $collapse: true);
            }
        }
    }
}
