.archive-content {
    @include grid-column($collapse: true, $columns: 12);
    margin-top: $site-margin;
    margin-bottom: $site-margin;
    .archive-content__box {
        @include grid-column($collapse: true, $columns: 4);
        width: 23.8%;
        height: 240px;
        padding-right: $site-margin;
        margin-bottom: $site-margin;
        margin-left: 11px;
         @media #{$medium-only} {
            @include grid-column($collapse: true, $columns: 12);
            width: 45%;
            margin-bottom: $site-margin;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 25px;
            margin-right: 0;
        }
        @media #{$small-only} {
            @include grid-column($collapse: true, $columns: 12);
            margin-bottom: $site-margin;
            margin-left: 0;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .archive-content__box__content {
        height: 240px;
        background: url("../_images/placeholders/archive_graphic_state1.svg");
        background-size: 40%;
        background-repeat: no-repeat; 
        background-position: center 40px;
        background-color: $spring-wood;
        border: 1px solid $content-border-color;
        h4 {
            font-size: 1.2rem;
            color: #2b9d8e;
            text-align: center;
            margin-top: 190px;
        }
        @media #{$medium-only} {
            background-size: 25%;
            h4 {
                margin-top: 160px;
                line-height: 22px;
            }
        }

        @media #{$small-only} {
            background-size: 33%;
        }
        &:hover {
            background: url("../_images/placeholders/archive_graphic.svg");
            background-size: 40%;
            background-repeat: no-repeat;
            background-position: center 40px;
            background-color: #2b9d8e;
            border: 1px solid $main-highlight-color;
            h4 {
                color: #fff;
                text-align: center;
                margin-top: 190px;
            }
            @media #{$medium-only} {
                h4 {
                    margin-top: 160px;
                    line-height: 22px;
                }
            }
            @media #{$small-only} {
                h4 {
                    margin-top: 190px;
                }
            } 
        }
        .archive-content__box__content__graphic {
            text-align: center;
            display: block;
            img {
                height: 100px;
                width: 100%;
                max-width: 80px;
            }
            @media #{$medium-only} {
                img {
                    height: 100px;
                    width: 100%;
                    max-width: 100px;
                }
            }
            @media #{$small-only} {
                img {
                    height: 30px;
                    width: 100%;
                    max-width: 30px;
                }
            }
        }
    }
}

.archive-content__box-last {
    @include grid-column($collapse: true, $columns: 4);
    float: right;
    height: 240px;
    background-color: $spring-wood;

    &:hover {
        background-color: #2b9d8e;
    }

    @media #{$small-only} {
        @include grid-column($collapse: true, $columns: 12);
        margin-bottom: $site-margin;
        h4 {
            margin-top: 200px;
        }
    }
}

@media #{$small-only} {
    .archive-title {
        margin-top: 25px !important;
        margin-left: 15px;
    }
}
