._author-block {
    font-size: 1rem;
    @include grid-row;
    height: auto;
    font-family: $body-font-regular;
    margin-top: $site-margin;
    margin-bottom: $site-margin;
    padding: $site-margin;
    background-color: lighten($content-background-color, 2%);
    border: 1px solid $content-border-color;
    h4 {
        @include grid-column(6, $collapse: true);
        font-family: $body-font-bold;
        font-size: 1em;
        margin-bottom: 0.8em;
    }
    ._author-block__link {
        @include grid-column(6, $collapse: true);
        font-size: 0.8em;
        font-weight: bold;
        text-align: left;
    }
    ._author-block__line {
        @include grid-column(11, $collapse: true);
        margin-bottom: 0.8em;
        height: 1px;
        background-color: $brand-color;
        ._author-block__lineleft {
            @include grid-column(2, $collapse: true, $float: left);
            @media #{$small-only} {
                @include grid-column(4, $collapse: true);
            }
        }
        ._author-block__lineright {
            @include grid-column(10, $collapse: true, $float: right);
            height: 1px;
            background-color: $brand-color;
            @media #{$small-only} {
                @include grid-column(8, $collapse: true);
            }
        }
    }
    ._author-block__avatar {
        @include grid-column(1, $collapse: true);
        @media #{$small-only} {
            @include grid-column(4, $collapse: true);
        }
        @media #{$medium-only} {
            @include grid-column(1, $collapse: true);
        }
    }
    ._author-block__biography {
        @include grid-column(11, $collapse: true);
        font-size: 1em;
        line-height: 1.5em;
        @media #{$medium-only} {
            @include grid-column(11);
        }
    }
    h5 {
        font-family: $body-font-bold;
        font-size: 1em;
    }
    p {
        font-family: $body-font-regular;
        font-size: 0.9em;
        margin-bottom: 0.8em;
    }
}

._author-block__social-icons {
    display: inline-block;
    width: 26px;
}