.icons__balance {
    width: 26px;
    height: 26px;
    background: url("../_images/common/icons/balance.png") no-repeat;
    display: inline-block;
}

.icons__deposit {
    width: 26px;
    height: 26px;
    background: url("../_images/common/icons/deposit-header.svg") no-repeat;
    display: inline-block;
}

.icons__down-arrow {
    width: 26px;
    height: 26px;
    background: url("../_images/common/icons/down-arrow.png") no-repeat;
    background-position-y: -3px;
    display: inline-block;
}

.forward-arrow {
    background: url("../_images/common/icons/forward-arrow.png") no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    background-position: center;
}

.icons-star--off {
    background: url("../_images/common/fav-icon-of.svg") no-repeat center center;
    background-size: 100%;
    display: inline-block;

    @media #{$medium-only} {
        background-size: 80%;
    }
}

.icons-star--on {
    background: url("../_images/common/fav-icon-on.svg") no-repeat center center;
    background-size: 100%;
    display: inline-block;

    @media #{$medium-only} {
        background-size: 80%;
    }
}

.icons-clock {
    background: url("../_images/common/icons/clock.svg") no-repeat center center;
    background-size: 100%;
    display: inline-block;
}

.icons-plus {
    background: url("../_images/common/icons/icon-plus.png") no-repeat center center;
    background-size: 100%;
    display: inline-block;
}

.icons-info {
    background: url("../_images/common/icons/info.svg") no-repeat center center;
    background-size: 100%;
    display: inline-block;
}

%icons-info {
    background: url("../_images/common/icons/info.svg") no-repeat center center;
    background-size: 100%;
    display: inline-block;
}

.icons__balance-white {
    width: 26px;
    height: 26px;
    background: url("../_images/common/icons/account-icon.svg") no-repeat;
    display: inline-block;
}