.banking-content {
    .banking-content__wrap {
        @include grid-column(6);

        width: 48%;
        margin: 1%;
        background: $pattens-blue;
        padding: $site-margin;
        border-radius: 4px;

        @media #{$small-only} {
            @include grid-column(12);
            padding: $site-margin;
            margin: 0;
            margin-bottom: $site-margin;
        }

        .banking-content__top {
            @include grid-column(12);

            padding: 0;

            // margin-bottom: $site-margin;

            h1 {
                @include grid-column(8);

                margin: 0;
                padding: 0;
                margin-bottom: $site-margin;
                color: $Blumine;
                text-transform: none;
            }

            span {
                @include grid-column(4);

                padding: 0;
                float: right;
                text-align: right;
                position: relative;

                img {
                    &[src*=".svg"] {
                        width: 90px;
                        height: 40px;
                        text-align: right;
                    }
                }

            }
        }

        article {
            @include grid-column(12);

            padding: 0;

            ul {
                @include grid-column(12);

                margin: 0;
                padding: $site-margin;
                background: $white;

                li {
                    @include grid-column(12);

                    padding: 0;
                    margin: 4px 0;
                    font-size: 1rem;
                    line-height: 1.5em;
                    font-family: $body-font-medium;
                    height: 30px;
                    border-bottom: 1px solid $pattens-blue;

                    &:first-child {
                        color: #57a601;
                    }

                    &:nth-child(2) {
                        color: #ba1f1f;
                    }

                    @media #{$small-only} {
                        font-size: 14px;
                    }

                    .banking-content__article__left {
                        @include grid-column(8);

                        padding: 0;
                    }

                    .banking-content__article__right {
                        @include grid-column(4);

                        padding: 0;
                        float: right;
                        text-align: right;
                        font-weight: normal;
                        height: 30px;

                        img {
                            float: right;
                            height: 20px;
                        }
                    }

                    &:last-child {
                        border-bottom: 0px;
                    }
                }
            }
        }

        p {
            @include grid-column(12);

            padding: 0;
            margin: 0;
            margin-top: $site-margin;
            font-size: 13px;
        }
    }

    .text-partial {
        padding: $site-margin ($site-margin / 2);
        margin-top: $site-margin;

        h1 {
            background-color: white;
        }
    }

    h2 {
        @include grid-column(12);

        padding: 0;
        font-size: 1.2em;
        line-height: 1;
        margin-top: $site-margin;
    }
}





