.login-box--loginpage {
    @include grid-row;

    font-size: 1rem;
    padding: $site-margin * 2;

    > h1 {
        font-size: 1em;
    }

    > .login-box {
        @include grid-column(6);

        padding-right: 1.3125rem;

        @media #{$small-only} {
            @include grid-column(12);

            padding: 10px;
            width: 100%;
        }
    }

    > .login-box p {
        font-size: 12px;
        position: relative;
        color: #FF1CB2;
        top: 18px;
    }

    > .login-banner {
        @include grid-column(6);

        @media #{$medium-only} {
            @include grid-column(6);

            margin-top: 50px;
        }

        @media #{$small-only} {
            @include grid-column(12);

            padding: 10px;
            width: 100%;
        }
    }

    > .forgot-password {
        a {
            color: white;
            text-decoration: underline;
        }

        margin-bottom: 0.5em;
    }

    .join-now-box {
        p {
            display: none;
        }
    }

    .login-box__input-wrapper input {
        border-radius: 4px;
        overflow: hidden;
        padding: 0 !important;
        padding-left: 35px !important;
        margin-bottom: 5px !important;
        height: 40px !important;
        border: none !important;
        background-size: 14px 14px !important;
        background: white !important;
    }

    .cta-login {
        margin-bottom: $site-margin;
    }

    .login-box__username {
        height: 45px;
        margin-bottom: $site-margin / 2;

        img {
            position: relative;
            top: -37px;
            left: 10px;
        }
    }

    .login-box__password {
        position: relative;

        img {
            position: absolute;
            top: 14px;
            left: 10px;
        }

        .login-box__show-password {
            position: absolute;
            right: 5px;
            top: 5px;

            .right {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 11px;
                color: $white;
                text-align: center;
                line-height: 2.1;
                padding: 4px;
                background-color: #c9bbff;
                width: 49px;
                height: 30px;
                border-radius: 4px;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }

    @media #{$small-only} {
        @include grid-column(12);

        font-size: 1rem;
    }

    .login-box__forgot-password {
        @include grid-column(12);

        padding: 0;
        position: relative;
        top: 0;
        font-size: 12px;
        margin-top: $site-margin / 2;
        margin-bottom: $site-margin / 2;
    }

    span.error, small.error, a.error {
        background: none;
        color: #f04124;
        font-style: normal;
        padding: 0;
        margin-bottom: $site-margin / 2;
    }

    a.error {
         text-decoration: underline;
    }
}

.login-box--in-page__register {
    @include grid-column(12);
}
