#login-modal, #login-modal-more-info, #login-modal-deposit {
    // position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    width: 370px !important;
    height: auto;
    margin: 0;
    padding: 6px !important;
    box-shadow: none !important;
    background: none;
    border: none;
    min-height: 0 !important;
    overflow: hidden;

    @media #{$small-only} {
        overflow: hidden;
        overflow-y: scroll;
    }

    //    @media #{$small-only} {
    //        @include grid-column(12);

    //        margin-top: 0 !important;
    //        border-radius: 0;
    //        width: 100% !important;
    //    }

    //    @media #{$medium-only} {
    //        @include grid-column(6);
    //    }

    //    @media #{$large-up} {
    //        @include grid-column(4);
    //    }

    .close-reveal-modal {
        color: #5820A9;
        cursor: pointer;
        font-size: 2.5rem;
        text-indent: 5000px;
        line-height: 1;
        position: absolute;
        top: 1.225rem;
        right: 3.375rem;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        padding-left: 11px;
        background: $white url(/_images/common/icons/login-close.svg) no-repeat center center !important;
        z-index: 3;
    }

    .cta-login {
        width: 50%;
        float: right;
        font-size: 16px;
        text-shadow: none;
    }

    // @media #{$small-only} {
    //     width: 300px !important;
    // }

    .login-box__form-wrapper {
        .registercta {
            @include grid-column(6, $center: true);

            margin-top: $site-margin;
        }
    }

    .login-box {
        @include grid-column(12);

        float: left;

        .login-box__form-wrapper {
            @include grid-column(12, $center: true);

            z-index: 2;
            padding-top: 35px;
            position: relative;
            background: #5820A9 url(/_images/common/login-box/pants-luke.svg) no-repeat bottom -15px center;
            background-size: 350px;
            border-radius: 50%;
            border: 5px solid $white;
            height: 340px;
            width: 340px;

            @media screen and (max-width: 340px) {
                @include transition(all, 0.2s ease-out);

                padding-top: 20px;
                height: 300px;
                width: 300px;
                position: relative;
            }

            h1 {
                font-size: 2em;
                text-transform: uppercase;
                color: $white;
                text-align: center;
                margin-top: 0;
            }

            h2 {
                font-size: 1.6em;
                text-transform: uppercase;
                color: $white;
                text-align: center;
                margin-top: 0;
                margin: 0;
                font-weight: normal;
                text-transform: none;
            }

            form {
                @include grid-column(10, $center: true);

                input {
                    padding-left: 35px;
                    height: 2.8rem;
                    margin-bottom: 0.85em;

                    @media screen and (max-width: 340px) {
                        height: 2.5rem;
                    }

                    // &[placeholder="User Name"] {
                    //     background: #FFF url(/_images/common/icons/login-username.svg) no-repeat 10px center !important;
                    // }

                    // &[placeholder="Password"] {
                    //     background: #FFF url(/_images/common/icons/login-password.svg) no-repeat 10px center !important;
                    // }

                    // .login-box__username img & {
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    // }

                    // .login-box__password img & {
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    // }

                }

                img {
                    position: absolute;
                    top: 15px;
                    left: 8px;

                    @media screen and (max-width: 340px) {
                        top: 12px;
                    }
                }

                input, select {
                    border-radius: 4px !important;
                    border-color: #999 !important;
                    border: none;

                    @include input-placeholder {
                        color: #999 !important;
                    }
                }

                span.error, a.error {
                    border-radius: 4px;
                    font-size: 11px;
                    line-height: 1;
                    text-align: left;
                    font-weight: bold;
                    position: relative;
                    color: #D8D8D8;
                    background: none;
                    width: 100%;
                    top: -7px;
                    z-index: 2;
                    padding: 0;
                    margin: 0;

                    &[data-bind="visible: LoginBox.invalidUsername"] {}

                    &[data-bind="visible: LoginBox.invalidPassword"] {}
                }
                a.error {
                     text-decoration: underline;
                     display: block;
                }
            }
        }

        .account-locked {
            font-size: 0.9em;
            color: $white;
            margin-bottom: 0px;
            text-align: center;
            padding:1em;
            line-height: 1.6;
            margin-top: -10px;

            a {
                font-weight: bold;
                font-size:1.2em;
                color: #D8D8D8;
                margin-bottom: 0px;
                text-decoration: underline;
                line-height: 1;
            }

            p{
              margin-bottom: 8px;
              line-height:1.2em;
              font-size:1.0em;
            }


        }

        .ribbon-left {
            background: url(/_images/common/login-box/ribbon-left.svg) no-repeat center center;
            width: 44px;
            height: 44px;
            position: absolute;
            top: 240px;
            left: 16px;
            z-index: 3;

            @media screen and (max-width: 340px) {
                top: 200px;
                left: 30px;
            }
        }

        .ribbon-right {
            background: url(/_images/common/login-box/ribbon-right.svg) no-repeat center center;
            width: 44px;
            height: 44px;
            position: absolute;
            top: 240px;
            right: 20px;
            z-index: 3;

            @media screen and (max-width: 340px) {
                top: 200px;
                right: 30px;
            }
        }

        // @media #{$medium-up} {
        //     @include grid-column(12);

        //     font-size: 1rem;
        //     margin-top: 0em;
        //     padding: $site-margin * 2;

        //     > h1 {
        //         font-size: 1.4em;
        //         family-font: $title-section !important;
        //         text-transform: uppercase;
        //         color: white;
        //         text-align: center;
        //         margin-top: 22px;
        //     }
        // }

        // @media #{$small-only} {
        //     @include grid-column(12);

        //     height: 300px !important;
        //     font-size: 1rem;

        //     > h1 {
        //         font-size: 1.3em;
        //         family-font: $title-section !important;
        //         text-transform: uppercase;
        //     }
        // }

        .login-banner {
            @include grid-column(7);

            padding: $site-margin;
            float: right;

            @media #{$small-only} {
                @include grid-column(12);
            }

            img {
                width: 100%;
            }
        }

        .login-box--loginpage {
            @media #{$medium-only} {
                @include grid-column(5);

                padding: 0;
            }

            @media #{$large-up} {
                @include grid-column(5);

                padding: 0;
            }
        }

        .login-box__input-wrapper {
            position: relative;

            input {
                padding-left: 30px;
                box-shadow: none !important;
            }

            .cta-login {
                width: 50% !important;
                text-shadow: none !important;
                font-size: 16px;
            }
        }

        .login-box__show-password {
            @include border-radius(4px);

            position: absolute;
            top: 12px;
            right: 12px;
            font-size: 11px;
            text-decoration: underline !important;
            text-transform: uppercase;
            display: block;
            height: auto;
            padding: 0px 6px;
            line-height: 22px;
            background: $bg-mobile;
            text-align: center;

            @media screen and (max-width: 340px) {
                top: 8px;
            }

            a {
                font-weight: bold;
                color: white;
            }

            &:hover {
                opacity: 0.5;
            }
        }

        .login-box__forgot-password {
            position: relative;
            font-size: 11px;
            text-decoration: underline !important;
            color: #D8D8D8;

            /* display: block; */
            text-align: center;

            /* margin-top: 1em; */
            float: left;

            /* width: 100%; */
        }

        .login-box__forgot-password a {
            color: lighten($grey, 20%);
            margin-bottom: 1em;
            text-decoration: underline !important;
            display: block;
            width: 44px;
        }

        .join-now-box {
            @include grid-column(10);

            background-color: #fff;
            color: #5820A9;
            font-weight: bold;
            padding: 10px;
            padding-top: $site-margin;
            border-radius: 5px;
            text-align: center;
            margin: 0 ($site-margin * 2);
            z-index: 0;
            position: relative;
            top: -20px;
            font-size: 16px;

            p {
                margin: $site-margin / 2;
            }

            span {
                @include grid-column(12);

                p {
                    font-weight: bold;
                    line-height: inherit;
                    margin: 0;
                }
            }

            .registercta {
                @include grid-column(6);

                margin: 0.4375rem 25%;
            }
        }
    }
}

// LOGIN MODAL DEPOSIT

#login-modal-deposit {
    width: 364px !important;

    @media screen and (max-width: 340px) {
        width: 320px !important;

        .close-reveal-modal {
            top: 0.625rem;
            right: 2.375rem;
        }

        .ribbon-left {
            left: 5px !important;
        }

        .ribbon-right {
            right: 5px !important;
        }
    }

    .login-box__last-login {
        text-align: center;
        color: $grey;
        font-size: 12px;
    }

    .login-box__balance {
        @include grid-column(10, $center: true);

        @include border-radius(4px);

        display: block;
        text-align: center;
        color: $white;
        font-size: 20px;
        font-family: $body-font-bold;
        margin-top: $site-margin;
        margin-bottom: $site-margin / 2;
        padding: $site-margin 0;
        background: #421682;

        @media screen and (max-width: 340px) {
            margin-top: $site-margin;
        }

        .cta-cashier {
            @include grid-column(8, $center: true);

            margin-top: $site-margin / 2;
            display: block;
            font-size: 20px;
        }
    }

    .login-box__continue {
        text-align: center;
        color: $white;
        font-size: 18px;
        font-family: $body-font-bold !important;
        margin-top: $site-margin;

        .close-reveal-modal {
            color: $white;
            background: none !important;
            font-weight: normal;
            font-size: inherit;
            text-decoration: underline;
            display: inline;
            position: relative;
            width: auto;
            top: 0;
            right: 0;
            padding: 0;
            height: auto;
        }
    }
}

.login-terms {
    @include grid-column(12);

    .text-partial {
        border: none;
    }

    .text-partial-content {
        background-color: white;
        padding-left: 0px;
    }

    .accordion-navigation > a {
        font-family: "todayshop-bold", Helvetica, Arial, sans-serif !important;
        color: #0F79D5 !important;
        padding: 0.875rem !important;
        background: none !important;
        text-decoration: underline;
    }

    h1 {
        display: none;
    }
}

// CLAIM MODAL
.claimcode_modal {
    @include grid-column(12, $center: true);

    p {
        margin-bottom: $site-margin / 2;
        font-size: 1.2em;
        color: $white;
        text-align: center;
        font-family: $body-font-light;
    }

    a {
        text-transform: uppercase;
        font-family: $body-font-bold;
        color: $white;
        font-size: 1.3em;
        text-align: center;
        display: block;
        text-decoration: underline;
    }

    .claimcode_box {
        @include grid-column(10, $center: true);
        line-height: 1.1;
        text-align: center;
        padding: $site-margin;
        background-color: #42197e;
        border-radius: 5px;
        font-family: $body-font-medium;
        font-size: 1.3em;
        font-weight: bold;
        margin-bottom: $site-margin;
        margin-top: $site-margin;
        color: $white;

        .terms {
            font-size: 11px;
            line-height: 12px;
            display: block;
            margin-top: 9px;
        }


    }


    .claim-code_cta {
        @include grid-column(12, $center: true);

        @include CTA-button(2px, 0.8em, 4px, #B4EC51, #67B030, #429321, #417505, #7ED321);

        float: none;
        font-size: 1rem;
        width: 100%;
        padding: $site-margin /2 $site-margin;
        display: block;
        margin-top: $site-margin / 2;
    }
    .claim_startPlaying_cta{
        @include grid-column(12, $center: true);
        @include CTA-button(2px, 0.8em, 4px, #B4EC51, #67B030, #429321, #417505, #7ED321);

        float: none;
        font-size: 1.2rem;
        width: 90%;
        padding: $site-margin /2 $site-margin;
        display: block;
        margin-top: $site-margin / 2;

    }
    .back_button {
        margin-right: $site-margin;
        position: relative;
    }
    &.deposit-now_noCTA{
            margin-top:20px;
        }
}

// REDEEM CLAIM MODAL

.start-claim-code {

    input {

        border-radius: 4px;
        color: $global-link-color;
        background: $white;
        font-family: $body-font-medium;
        text-decoration: uppercase;
        font-size: 1em;
        text-align: center;
        border: 0;
        padding: 0px 25px;
        height: 45px;
        margin-top: $site-margin / 2;
        margin-bottom: $site-margin / 2;

        @include box-shadow(grey 0px -1px 1px 0px);

        @media #{$small-only} {
            background: $white;
        }
    }
}
