/* Is there a reason this is empty but still imported? If not will move this code somewhere else */
svg#hero-responsible-svg{
    @media #{$small-only} {
    position: absolute;
    transform: scale(0.75);
    overflow: visible;
    width: 30px;
    left: 0.5em;
    top: 3%;
    }
}