// ========== COMPETITION ENGINE CUSTOM STYLE PROMO ==========
.promotion-eng {
    .promotion-eng__wrapper {
        border-radius: 0 !important;
        @media #{$medium-up} {
            height: 700px !important;
            overflow: hidden;
            background: $mystic !important;
            font-family: $font-copy;
            border: 1px solid $mystic !important;
        }
    }
    .tabs {
        dd {
            a {
                font-size: 11px !important;
                &:hover {}
            }
            &.active {
                a {
                    &:hover {}
                }
            }
        }
    }
    .promotion-eng__content {
        .promotion-eng__title {
            a {
                font-family: $font-copy !important;
                color: $black !important;
                font-weight: bold;
            }
        }
        .promotion-eng__comp-leader-table {
            li {
                border-bottom: 1px solid $heather;
                &:nth-child(odd) {}
                &:nth-child(even) {
                    background: none !important;
                }
                &.ui-leader-position__user {
                    background: $white !important;
                    .ui-leader-position {
                        color: $global-bg-color !important;
                        background: $white !important;
                    }
                    .ui-leader-name {
                        color: $black !important;
                        font-family: $font-copy !important;
                    }
                    .ui-leader-points {
                        color: $black !important;
                    }
                }
                .ui-leader-position {
                    background: $white !important;
                    color: $black !important;
                }
                .ui-leader-name {}
                .ui-leader-points {}
            }
        }
    }
    .promotion-eng__footer {
        background: $mystic !important;
        .promotion-eng__terms {}
        .promotion-eng__read-more {
            color: $palesky !important;
            font-family: $font-button !important;
            &:hover {
                color: $corn !important;
            }
            &:focus {
                color: $corn !important;
            }
        }
        .promotion-eng__optin {}
        .promotion-eng__play-now {
            // display: block !important;
            color: $global-bg-color !important;
            font-family: $ui-font-bold !important;
            font-weight: normal !important;
        }
    }
    ul.promotion-eng__comp-info {
        li {
            .title {}
            span {}
        }
    }
}

.promotion__text_terms-wrapper {
    background: $geyser;
    font-family: $font-copy;
    .promotion__text_terms {}
    .promotion-eng__terms {
        color: $palesky;
    }
}

.promotion-eng .promotion-eng__content {
    background: $mystic !important;
}

.promotion-eng .promotion-eng__footer .promotion-eng__read-more {
    text-align: left !important;
    padding-bottom: 15px !important;
}

.promotion-eng .promotion-eng__content ul {
    padding: 15px !important;
}

// ========== OPT IN + PLAY NOW OVERWRITTEN ==========
.promotion-eng .promotion-eng__footer .promotion-eng__play-now {
    padding: 5px !important;
    background: $button--bg !important;
    border: 1px solid $yellow;
    color: $black !important;
    font-family: $font-button !important;
    font-size: rem-calc(12px) !important;
    letter-spacing: 0.6px;
    &:hover {
        background: $yellow-hover !important;
    }
}

.promotion-eng .promotion-eng__footer .promotion-eng__optin {
    padding: 5px !important;
    background: none !important;
    border: 1px solid $black;
    color: $black !important;
    font-family: $font-button !important;
    font-size: 1.125rem !important;
    letter-spacing: 0.6px;
    font-weight: normal !important;
    &:hover {
        background: $yellow-hover !important;
        border: 1px solid $yellow-hover;
    }
}

.promotion-eng .promotion-eng__footer .promotion-eng__optin.active {
    background: $white !important;
    border: none !important;
    padding: 7px !important;
    color: #696969 !important;
    font-family: $font-button !important;
    font-size: 1.125rem !important;
    letter-spacing: 0.6px;
    font-weight: normal !important;
}

// ========== TABS  ========== 
.promotion-eng .tabs {
    background: $mystic !important;
    padding: 0 6px !important;
}

.promotion-eng .tabs dd a {
    background: none !important;
    font-family: $font-button !important;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.48px !important;
    &:hover {
        font-weight: bold !important;
        color: #000000 !important;
    }
    .active {
        font-weight: bold !important;
    }
}

dd.tab-title {
    padding: 0.4375rem 0.52rem !important;
    border-bottom: 1px solid $heather !important;
}

dd.tab-title.active {
    border-bottom: 4px solid $yellow !important;
}

// ========== COMPETITION ==========
.promotion-eng ul.promotion-eng__comp-info li .title {
    font-family: $font-copy !important;
    font-weight: bold !important;
}

.promotion-eng ul.promotion-eng__comp-info span {
    font-family: $font-copy !important;
    font-weight: bold !important;
}

.promotion-eng ul.promotion-eng__comp-info li span {
    background: $white !important;
    color: $black !important;
}

.middle-content__box h1 {
    max-width: rem-calc(1000px);
    margin: 0 auto;

    @media #{$small-only} {
        text-align: center;
    }

    @media #{$medium-only} {
        padding-left: rem-calc(20px);
    }
}

.promotion-eng__freebie__progress--title {
    width: 60%;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .875rem;
}

.promotion-eng__freebie__progress--value {
    width: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    float: left;
    background: $alabaster;
    text-align: center;
    border-radius: 50px;
}

.promotion-eng .promotion-eng__content .promotion-eng__comp-leader-table li .ui-leader-name {
    font-family: $font-copy !important;
    text-transform: uppercase;
}

.promotion-eng .promotion-eng__content .promotion-eng__comp-leader-table li .ui-leader-points {
    font-family: $font-copy !important;
    font-weight: 600 !important;
}

.text-partial-content {
    @media #{$small-only} {
        padding: 20px;
    }
    @media #{$medium-only} {
        padding: 20px;
    }
}

#promotions {
    .promotions {
        margin-bottom: 80px;
    }
    .section__title {
        font-family: $font-header1;
    }
}

.promotion-eng .tabs dd a {
    @media #{$small-only} {
         padding: 0.2rem !important;
    }
}

.start-page {
    .bx-wrapper .bx-viewport {
        @media #{$small-only} {
            height: 225px !important;
        }
    }
}
