
// main messages page styles /my-messages/
#home .lobby-wrap__content-box {
    margin-bottom: 20px;
}

// overrule global theming using this container
@media #{$large-up} {
    .my-messages-mobile-content {
        width: 100%;
        background: $regalwins--gray-darkest;
        max-width: 1000px;
        margin: 0 auto;
    }
}

.my-messages-mobile-content__container {
    .lobby-wrap__content-box {
        background: $regalwins--gray-darkest;

        @media #{$medium-up} {
            margin-bottom: 0;
        }
    }
    
    .lobby-wrap__content-box__content__innerwrap--border {
        border: none;
    }

    .lobby-wrap__content-box__header {
        padding: 15px 20px 28px 20px;
        border-bottom: 1px solid $regalwins--border;

        .title.hasicon {
            background: $regalwins--gray-darkest;
            margin: 0;
            padding: 0;

            .dropdown.button.tiny {
                float: right;
                background: $regalwins--gray-darkest;
                border: 1px solid $regalwins--highlight-gold;
                color: $regalwins--highlight-gold;
                @include border-radius(4px);
                font-size: rem-calc(14px);
                font-weight: bold;

                &:after {
                    content: "";
                    border-top-color: $regalwins--highlight-gold;
                    border-style: solid;
                    display: block;
                    height: 10px;
                    top: 50%;
                    width: 10px;
                }
            }
        }

        .title__icon {
            display: none;
        }
    }
    
    .title__text.messages-section {
        font-size: $rw-header-secondary-size;
        padding-top: 3px;
        font-weight: bold;
        float: left;
        text-transform: lowercase;
        &::first-letter {
            text-transform: uppercase;
        }
    }

    .lobby-wrap__content-box__content {
        padding: 0;
        background: $regalwins--gray-darkest;
    }

    .recent-messages__message {
        &.unread {
            #mail {
                fill: $regalwins--gold;
            }
        }
    }
    
    .recent-messages__switch {
        background: $regalwins--gray-darkest;
        color: $white;
        min-height: 85px;

        span {
            display: inline-block;
            position: relative;
            margin-top: 16px;
            padding: 5px 20px 8px 20px;
            background: $regalwins--gray-darkest;
            border: 1px solid $regalwins--highlight-gold;
            color: $regalwins--highlight-gold;
            @include border-radius(4px);
            font-size: rem-calc(14px);
            font-weight: bold;
        }
    }
    
    .recent-messages .recent-messages__message.unread .recent-messages__message__preview {
        font-weight: normal !important; // overrule global important
    }
    .recent-messages .recent-messages__message.unread .recent-messages__message__date {
        font-weight: normal;
    }
    .recent-messages .recent-messages__message .recent-messages__message__select {
        padding-top: 5px;
        
        input {
            width: 20px;
            height: 20px;
        }
    }
  
    @media #{$medium-up} {
        .recent-messages__message {
            .recent-messages__message__icon {
                padding-left: 1rem;
            }
            .recent-messages__message__preview {
                padding-left: 1rem;
            }
        }
    }

    .recent-messages .recent-messages__message {
        height: 55px;
        font-size: rem-calc(14px);
        line-height: rem-calc(48px);
        background: $regalwins--gray-darkest;
        border-bottom: 1px solid $regalwins--border-light;
        padding-left: 0.5rem;
        
        &.unread {
            background: $regalwins--gray-darkest;
        }
    }
    
    .select-all-messages {
        display: none;
    }

}

// override black colour scheme so iframe content is readable
.single-message-modal {
    &.reveal-modal {
        .single-message-modal__content-wrap {
            background: $white !important;
        }
        .single-message-modal__title-bar {
            background: $black !important;
            color: $white;
            margin-bottom: 20px;
            height: 55px;
            
            .subject-message {
                line-height: 24px;
            }

            .icon-message {
                line-height: 24px;

                svg {
                    .icon-message-read {
                        fill: $white !important;
                    }
                }
            }

            .icon-close.close-reveal-modal {
                svg #close .st0 {
                    stroke: $white !important;
                }
            }
        }
        .single-message-modal__content-wrap {
            background: $black;
            color: $white;
        }
    }
}
