.latest-winners-slider {
    @include grid-column(12);
    margin: 0;
    padding: 0;

    ul.bxslider {
        margin: 0;
        .bx-viewport & {
            @media #{$small-only} {
                min-height: 320px !important;
            }
        }


        @include list-inline;
        li {
            @include grid-column(6);
            @include be-box($white, solid, $border, 0px);
            @include border-radius(4px);
            margin-bottom: $site-margin * 2;
            background-color: #DBF6FF;
            @media #{$small-only} {
                @include grid-column(12);
                padding-bottom: $site-margin;
                min-height: 320px;
                border:1px solid darken( $alabaster, 10% );
            }
            padding: 0 !important;
            img {
                @include grid-column(6);
                @media #{$small-only} {
                    @include grid-column(12);
                    padding: 0;
                }
                padding: 0;
                margin: 0;
            }
            h1 {
                @include grid-column(6);
                @media #{$small-only} {
                    @include grid-column(12);
                }
                color: #1D4775;
                padding: 10px 10px 5px 10px !important;
                margin: 0;
                top: 0;
                font-size: 14px;
                line-height: 1.2;
                position: relative;
            }
            span {
                @include grid-column(6);
                float: right;
                padding: 0 10px !important;
                color: $nav-main-color;
                float: right;
                font-size: 12px;
                line-height: 1;
                margin: 2px 0;
                @media #{$small-only} {
                    @include grid-column(12);
                    float: left;
                }
                &.alias {
                    font-size: 14px;
                    font-family: $body-font-bold;
                    text-transform: uppercase;
                    margin-top: 5px;
                }
                &.game-minimum {
                    font-size: 11px;
                    font-family: $body-font-regular;
                    font-weight: 600;
                    color: $nav-active-color;
                }
            }
            p {
                @include grid-column(6);
                //@include hide-for-medium-up;
                color: #1D4775;
                margin: 5px 0;
                padding: 0 10px !important;
                max-height: 50px;
                overflow: hidden;
                font-size: 0.85em;
                @media #{$medium-only} {
                    max-height: 58px;
                    line-height: 1.3;
                }
                @media #{$small-only} {
                    @include grid-column(12);
                    line-height: 1.3;
                    max-height: none;
                }
            }
        }
    }
    /*div.bx-controls {
        .bx-prev {
            background: url(../_images/common/bxslider/controls.png) 0 2px no-repeat;
        }
        .bx-next {
            background: url(../_images/common/bxslider/controls.png) -45px 2px no-repeat;
        }
    }*/
}


