.community-blog,
.community__section__post,
.community-boxes {
    .two-columns-content-wrap {
        max-width: 100% !important;
        padding: 0 $site-margin;
    }
    .two-columns-content-wrap__left {
        padding: 0;
        padding-right: $site-margin;
        @media #{$small-only} {
            padding-right: 0;
        }
    }
    .two-columns-content-wrap__right {
        padding: 0 ($site-margin / 2);
        padding-top: 15px;
        border-radius: 4px;
        background: white;
    }
    .community__top-post {
        .article__content {
            padding: 0;
        }
    }
    .community-wrap-content {
        @include grid-column(12);
        padding: 0;
        padding-left: 10px;
        .post-wrapper {
            @include grid-column(4);
            @media #{$medium-only} {
                @include grid-column(6);
            }
            @media #{$small-only} {
                @include grid-column(12);
            }
            .post-wrapper__post {
                margin-right: 10px;
                margin-bottom: 10px;
                background-color: $white;
                height: 250px;
            }
        }
    }
    .article {
        cursor: pointer;
    }
    .community__title {
        font-family: $title-section !important;
        font-size: 2.5em;
    }
    .article {
        @include grid-column(4);
        border: none;
        background: transparent;
        @include clearfix;
        margin-bottom: $site-margin;
        margin-top: $site-margin;
        font-size: 1rem;
        overflow: visible;
        cursor: pointer;
        @media #{$medium-only} {
            padding-right: 10px;
        }
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0px;
            font-size: 0.8rem;
        }
        .article__content {
            @include be-box($white, solid, $border, 0px);
            border-radius: 4px;
            padding: 0px;
            position: relative;
            height: 300px;
            .article__content__cmbio {}
            .article__content__title {
                padding: 0 10px;
                font-size: 1rem !important;
                top: 0;
                right: 0;
                padding: 0;
                margin: 0;
                position: absolute;
                width: 66.66667%;
                color: $global-link-color;
                padding-left: $site-margin / 2;
            }
        }
        .article__content__date {
            font-size: 0.8em;
            font-family: $title1-font;
            position: relative;
            padding: 0 10px;
            @media #{$medium-only} {
                display: none;
                @include grid-column(4, $collapse: true);
                background-image: none;
                position: absolute;
                right: 0px;
                text-align: right;
                padding-right: 10px;
            }
            @media #{$small-only} {
                display: none;
                @include grid-column(4, $collapse: true);
                background-image: none;
                position: absolute;
                right: 0px;
                text-align: right;
                padding-right: 10px;
            }
        }
        .article__content__image {
            padding: 0px;
            float: left;
            margin-bottom: 32px;
            img {
                width: 100%;
            }
            @media #{$medium-only} {
                @include grid-column(12, $collapse: true);
                text-align: center;
                margin: 0;
                margin-bottom: 10px;
            }
            @media #{$small-only} {
                @include grid-column(12);
                // margin: 5px 10px 10px 0px;
                text-align: center;
                padding: 0px;
                margin: 0;
                margin-bottom: 10px;
            }
        }
        .article__content__body {
            overflow: visible;
            padding: 0;
            p {
                font-family: $body-font-regular;
                font-size: 14px;
                text-align: left;
                line-height: 1.4;
                margin: 0;
                margin-top: 30px;
                padding: 0;
                padding-left: $site-margin / 2;
            }
        }
        .article__publisher {
            display: none;
        }
    }
}

.community-boxes {
    .article__content {
        height: 300px !important;
    }
    .article .article__content .article__content__title,
    .community-boxes .article .article__content .article__content__title {
        top: 173px !important;
    }
}

.community__section__chat-thumbs {
    img {
        width: auto !important;
    }
}

.community {
    .two-columns-content-wrap__left {
        .article__content {
            overflow: hidden;
        }
        .article__content__cta-container {
            font-family: $body-font-bold !important;
            font-size: 0.8em;
            display: block !important;
            position: absolute;
            width: 100%;
            height: 10%;
            bottom: 0px;
            left: 0px;
            padding: 5px 10px;
            background: -moz-linear-gradient(top, rgba(219, 246, 255, 0.12) 15%, rgba(219, 246, 255, 0.73) 37%, rgba(219, 246, 255, 1) 83%);
            /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(219, 246, 255, 0.12)), color-stop(37%, rgba(219, 246, 255, 0.73)), color-stop(83%, rgba(219, 246, 255, 1)));
            /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(219, 246, 255, 0.12) 15%, rgba(219, 246, 255, 0.73) 37%, rgba(219, 246, 255, 1) 83%);
            /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(219, 246, 255, 0.12) 15%, rgba(219, 246, 255, 0.73) 37%, rgba(219, 246, 255, 1) 83%);
            /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(219, 246, 255, 0.12) 15%, rgba(219, 246, 255, 0.73) 37%, rgba(219, 246, 255, 1) 83%);
            /* IE10+ */
            background: linear-gradient(to bottom, rgba(219, 246, 255, 0.12) 15%, rgba(219, 246, 255, 0.73) 37%, rgba(219, 246, 255, 1) 83%);
            /* IE6-9 */
            > a {
                color: $grey;
            }
            @media #{$medium-only} {
                @include grid-column(3, $collapse: true);
                position: absolute;
                width: 100%;
                right: 0px;
            }
            @media #{$small-only} {
                @include grid-column(3, $collapse: true);
                position: relative;
                right: 0px;
            }
        }
    }
}

.community__section {
    .featured-story--article-image-left {
        .article__content {
            overflow: visible;
            .article__content__cta-container {
                display: none !important;
            }
        }
    }
}
