.community-article-content {
    .article {
        @include grid-column(12);
        background: $white;
        padding: 0;
        border: none;
    }
    .article-content__img__wrapper {
        @include grid-column(12);
        padding: 0;
        overflow: hidden;
        @media #{$small-only} {
            margin-bottom: 0;
        }
        img {
            @include grid-column(12);
            @media #{$large-up} {
                border-radius: 4px 4px 0 0;
            }
            padding: 0;
        }
    }
    .article .article__content {
        @include grid-column(12);
        padding: $site-margin;
        background: white;
        margin: 0;
        border-radius: 4px;
        // float: left;
        .article__content__title {
            @include grid-column(12, $collapse: true);
            position: relative;
            font-size: 1.4rem;
            top: 0px;
            margin-bottom: $site-margin;
            a {
                color: $brand-color;
                font-size: 1.4rem;
            }
        }
    }
    .article__content {
        @include grid-column(12);
        .article__content__date {
            font-family: $body-font-medium;
            color: $ui-light-color;
            position: relative;
            float: right;
            font-size: 0.85rem;
            @media #{$small-only} {
                @include grid-column(12);
                padding: 0;
                text-align: left;
            }
        }
    }
    .article__content__body {
        ul {
            margin-left: 20px;
            list-style-position: inside;
            li {
                list-style: inherit;
                margin-bottom: $site-margin / 2;
                ol & {
                    margin-bottom: $site-margin / 2;
                }
            }
        }
        img {
            @include grid-column(4, $collapse: true);
            float: left;
            padding-right: 20px;
            padding-bottom: 20px;
            @media #{$medium-only} {
                @include grid-column(5, $collapse: true);
            }
            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
                margin-bottom: 10px;
            }
        }
        p {
            font-size: 1rem;
        }
    }
    .article__content__winnergame {
        padding: 10px;
        background: #F9F7F4;
        overflow: auto;
        p {
            line-height: 1.3;
            font-size: 1rem;
            margin-right: 10px;
        }
        h4 {
            font-size: 0.8em;
            span {
                color: #333333;
            }
        }
        .article__content__winnergame__left {
            @include grid-column(10, $collapse: true);
            float: left;
        }
        .article__content__winnergame__right {
            @include grid-column(2, $collapse: true);
            background-color: #000000;
        }
    }
    ._author-block {
        @include grid-column(12, $collapse: true);
        margin: 0;
        padding: $site-margin;
        margin-top: $site-margin;
        color: $brand-color;
        span {
            color: $brand-color;
        }
        p {
            color: $brand-color;
        }
    }
}

.community-article {
    .article__content__title {
        float: none;
        position: relative !important;
        width: 100% !important;
        padding: 0 !important;
        font-size:1.3rem !important;
        .article__url {
            color: $base-blue !important;
            text-transform: none !important;
        }
    }
    .article__content__date {
        display: none;
    }
    .article__content__body {
        img {
            margin-bottom: 1em;
        }
    }
    ._author-block {
        padding-left: 10px;
    }
}
