.community {
    @include grid-row;
    .two-columns-content-wrap {
        @include grid-column(12);
        padding: $site-margin;
        background: $white;
    }
    .two-columns-content-wrap__left {
        @include grid-column(9);
        padding: 0;
        padding-right: $site-margin;
        // width: 570px;
        @media #{$medium-only} {
            @include grid-column(12);
            padding: 0;
        }
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0;
        }
    }
    .two-columns-content-wrap__right {
        @include grid-column(3);
        // @include show-for-large-up;
        padding: 0 ($site-margin / 2);
        padding: 0;
        // width: 350px;
        @media #{$medium-only} {
            display: none;
        }
        @media #{$small-only} {
            display: none;
        }
    }
    .community__top-post {
        .article__content {
            padding: 0;
        }
    }
    .community-wrap-content {
        @include grid-column(12);
        padding: 0;
        padding-left: 10px;
        .post-wrapper {
            @include grid-column(4);
            @media #{$medium-only} {
                @include grid-column(6);
            }
            @media #{$small-only} {
                @include grid-column(12);
            }
            .post-wrapper__post {
                margin-right: 10px;
                margin-bottom: 10px;
                background-color: $white;
                height: 250px;
            }
        }
    }
    .article {
        cursor: pointer;
        .article__content {
            position: relative;
            background-color: #DBF6FF;
            .article__content__date {
                @include grid-column(12, $collapse: true);
                font-style: italic;
                background-color: white;
                font-size: 12px;
            }
            .article__content__image {
                margin-bottom: rem-calc(10);
            }
            .article__content__title {
                position: relative;
                @include grid-column(12, $collapse: true);
                padding: 10px;
                a {
                    color: #1D4775;
                }
            }
            .article__content__body {
                p {
                    @include grid-column(12, $collapse: true);
                    margin-top: 0;
                    padding: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    display: block;
                    padding-top: 5px;
                }
            }
        }
    }
    .community__title {
        font-family: $title-section !important;
        font-size: 2.5em;
        background: $brand-color-light;
    }
    .community__section {
        margin-bottom: $site-margin;
        @include grid-column(12);
        padding: 0;
        &.winner-story {
            @include grid-column(12);
            padding: 0;
            article {
                @include grid-column(12);
                @include border-radius(4px);
                padding: 0;
                position: relative;
                background: $white;
                margin-bottom: $site-margin;
                img {
                    @include grid-column(12);
                    padding: 0;
                }
                .community__section__text {
                    @include grid-column(12);
                    padding: $site-margin;
                    background: $brand-color-light;
                    @media #{$large-up} {
                        padding: $site-margin;
                        position: absolute;
                        bottom: $site-margin / 2;
                        background: $brand-color-light;
                    }
                    a {
                        // color: $brand-color;
                        font-size: 1.2rem;
                        font-family: $body-font-extra-bold;
                        &:hover {
                            color: $global-link-color;
                        }
                    }
                    p {
                        font-size: 14px;
                        color: $brand-color;
                        margin: 0;
                    }
                }
            }
        }
        &.chat-news {
            @include grid-column(12);
            padding: 0;
            article {
                @include grid-column(12);
                @include border-radius(4px);
                padding: 0;
                background: $brand-color-light;
                margin-bottom: $site-margin / 2;
                img {
                    @include grid-column(4);
                    padding: 0;
                    @media #{$small-only} {
                        @include grid-column(12);
                        padding: 0;
                    }
                }
                .community__section__text {
                    @include grid-column(8);
                    padding: $site-margin;
                    @media #{$small-only} {
                        @include grid-column(12);
                        padding: $site-margin;
                    }
                    a {
                        @include grid-column(12);
                        padding: 0;
                        color: $global-link-color;
                        font-size: 1rem;
                        font-family: $body-font-medium;
                        line-height: 1.4;
                        margin-bottom: $site-margin / 2;
                        &:hover {
                            color: $global-link-color;
                        }
                    }
                    p {
                        font-size: 14px;
                        color: $brand-color;
                        margin: 0;
                    }
                }
            }
        }
    }
    ///////////////////// ** Chat Host Thumb Nails only ** /////////////////////////
    .community__section__chat-thumbs {
        @include grid-column(12);
        padding: $site-margin;
        text-align: center;
        .article__content {
            cursor: default;
            height: 385px !important;
        }
        .article__content__image {
            @include grid-column(12);
            margin-bottom: 1em;
            margin-top: 1em;
        }
        .article__content__date {
            display: none;
        }
        .article__content__title {
            @include grid-column(12);
            position: relative !important;
            color: #FD276F !important;
            text-align: center;
        }
        .article__content__body {
            @include grid-column(12);
            padding: 0;
            p {
                margin-top: 0;
                text-align: center !important;
                line-height: 1.5;
                margin-bottom: 1em;
            }
        }
        .article__content__cta {
            display: none;
        }
    }
    ///////////// ** TOP POST ONLY to modify other posts go to Aricle.scss ** /////////////
    .community__top-post {
        // padding-right: 10px;
        @media #{$medium-only} {
            padding-left: 0;
            padding-right: 0;
        }
        @media #{$small-only} {
            padding-left: 0;
            padding-right: 0;
        }
        .article__content__image {
            @include grid-column(4);
            margin: 5px 10px 10px 0px;
            @media #{$medium-only} {
                @include grid-column(3);
                padding: 10px;
                margin: 0;
            }
            @media #{$small-only} {
                @include grid-column(12);
                padding: 0;
                margin: 0;
            }
            img {
                width: 100%;
            }
        }
        .article__content {
            // padding: 15px;
            .article__content__image {
                img {
                    width: 100%;
                }
                @media #{$small-only} {
                    margin: 0px;
                    margin-bottom: $site-margin;
                }
            }
            .article__content__date {
                @include grid-column(3);
                width: 138px;
                line-height: 32px;
                font-family: $title1-font;
                font-size: 0.75em;
                top: 6px;
                padding-left: 18px;
                float: right;
                color: $white;
                background-image: url("/_images/common/community_arrow.png");
                position: absolute;
                right: -14px;
                @media #{$medium-only} {
                    @include grid-column(3);
                    font-size: 0.85em;
                    float: right;
                    color: $brand-color-light;
                    background-image: none;
                    line-height: 5px;
                    right: 0px;
                    padding-right: 15px;
                    padding-top: 20px;
                    text-align: right;
                }
                @media #{$small-only} {
                    display: none;
                }
            }
            .article__content__title {
                @include grid-column(12);
                padding: 0 10px;
                border-bottom: 0 !important;
                font-size: 1rem !important;
                margin-bottom: 5px;
                float: none;
                position: relative;
                top: 15px;
                > a {
                    color: $global-link-color;
                    text-transform: uppercase;
                }
            }
            .article__content__body {
                @media #{$small-only} {
                    @include grid-column(12);
                    padding: 0;
                }
                p {
                    margin-top: 30px;
                    padding: 0 5px;
                }
            }
        }
    }
    // Main Section Title with dotted line for COMMUNITY PAGE
    .section-left__title__community {
        @include grid-column(12,
        $collapse: true);
        padding: 0;
    }
    .section-left__title__community h4 {
        text-align: left;
        color: $main-highlight-color;
        font-family: $body-font-extra-bold;
        font-size: 1rem;
        text-transform: uppercase;
    }
    ///////////// ** /TOP POST ONLY ** /////////////
}

.featured-story--article-image-left {
    .article__content__date,
    .article__content__title {
        display:none;
    }
    .article {
        width:100%;
        margin:0;
    }
}
