.community-chat-news {
    .two-columns-content-wrap {
        max-width: 100% !important;
        padding: 0 $site-margin;
        background: none;
    }

    .two-columns-content-wrap__left {
        padding: 0;
        padding-right: $site-margin;

        @media #{$small-only} {
            padding-right: 0;
        }
    }

    .two-columns-content-wrap__right {
        padding: 0 ($site-margin / 2);
        padding-top: 15px;
        border-radius: 4px;
        background: white;
    }

    .community-wrap-content {
        @include grid-column(12);

        padding: 0;
        padding-left: 10px;

        .post-wrapper {
            @include grid-column(4);

            @media #{$medium-only} {
                @include grid-column(6);
            }

            @media #{$small-only} {
                @include grid-column(12);
            }

            .post-wrapper__post {
                margin-right: 10px;
                margin-bottom: 10px;
                background-color: $white;
                height: 250px;
            }
        }
    }

    //    .article {
    //        cursor: pointer;
    //    }

    .community__title {
        font-family: $title-section !important;
        font-size: 2.5em;
    }

    .community-chat-news__hosts {
        .article {
            @include grid-column(4);

            @include border-radius(4px);

            background-color: transparent;
            border: none;

            //            cursor: pointer;

            @media #{$small-only} {
                @include grid-column(12);
            }
        }

        .article__content {
            float: left;
            background-color: $white;
            padding: $site-margin / 2;
            border-style: solid;
            border-color: $border;
            border-width: 1px;
            border-radius: 2px;
            font-family: $body-font-regular;
            width: 100%;

            @media #{$large-up} {
                min-height: 340px;
            }
        }

        .article__content__title {
            position: relative;
            top: 0px;
            width: 100%;
            text-align: center;
            color: $nav-active-color;

            @media #{$small-only} {
                font-size: 1.5em;
            }
        }

        .article__content__image {
            @include grid-column(12, $collapse: true);

            box-shadow: none;
            text-align: center;
            margin-bottom: 15px;
        }

        .article__content__body {
            @include grid-column(12, $collapse: true);

            // background-color: $grey-light-bg;
            text-align: center;
            padding: 10px 10px 0px 10px;
            height: 160px;

            @media #{$medium-only} {
                height: auto;
            }

            @media #{$small-only} {
                height: auto;
            }

            p {
                font-size: 0.75em;
                margin-bottom: 5px;

                @media #{$small-only} {
                    font-size: 1em;
                    height: auto;
                }
            }

            strong {
                color: $nav-active-color;
            }
        }

        .article__content__date {
            display: none;
        }

        .article__content__cta-container {
            display: block !important;
        }

        .article__content__cta {
            font-family: $body-font-bold;
            font-size: 0.8em;
            color: $grey;
            display: none;
            text-align: right;
            text-decoration: underline;

            @media #{$small-only} {
                font-size: 1em;
            }
        }
    }

    .text-image-left-partial {
        @media #{$small-only} {
            padding: 10px;
        }

        .text-image-left-partial__content__img {
            @include grid-column(4);

            @media #{$small-only} {
                @include grid-column(12);
            }

            @media #{$medium-only} {
                @include grid-column(4);
            }
        }

        h1 {
            @include grid-column(12, $collapse: true);

            font-size: 1.6em;
            font-weight: normal;
            margin-bottom: 10px;
            position: relative;
            text-align: left;
            line-height: 1.4;
            color: $main-highlight-color;
            text-transform: initial;

            @media #{$small-only} {
                padding-bottom: 10px;
            }
        }

        > p {
            @media #{$small-only} {
                padding: 10px;
            }
        }
    }
}