// welcome page post reg modal
.welcome-post-reg__modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999999;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#1c0644, #c019a6);

    .header-wrap {
        background-color: #330066;
        width: 100%;
        height: 50px;
        max-height: 52px;

        @media #{$small-only} {
            height: 62px;
        }

        .header-container {
            @include grid-column(12);

            position: relative;

            @include grid-column(12, $center: true);

            max-width: 700px;

            .header-username {
                position: absolute;
                right: 0;
                color: #000;
                padding-right: 50px;
                font-size: 13px;
                padding: 13px;
                padding-right: 50px;
                font-family: $ui-font-bold;
                z-index: 2;
                color: $white;

                @media #{$medium-up} {
                    // background: url(../_images/common/icons/welcome-close.svg) no-repeat right $site-margin center;

                    // background-size: 13%;
                    padding-right: 55px;
                }

                @media #{$small-only} {
                    @include grid-column(10);

                    // background: url(../_images/common/icons/welcome-close.svg) no-repeat right $site-margin center;
                    padding: 16px;
                    font-size: 14px;
                }
            }
        }
    }

    .logo {
        @include grid-column(4);

        height: 41px;
        margin-left: 5px;
        margin-top: 5px;
        float: left;
        background: transparent url(../_images/logo/big-logo.png) left center no-repeat;
        background-size: contain;

        @media #{$small-only} {
            @include grid-column(2);

            background: transparent url(../_images/logo/logo-sml.png) no-repeat center center;
            background-size: contain;
            height: 52px;
            margin-top: 0;
        }
    }

    .inline_logo {
        width: 100px;
        height: 100px;
        background-color: white;
    }

    .welcome-post-reg__content {
        @include grid-column(12, $center: true);

        max-width: 700px;
        margin-bottom: $site-margin * 3;
        margin-top: $site-margin * 3;

        @media #{$small-only} {
            margin-top: $site-margin;
        }

        section {
            @include grid-column(12);

            padding: 0;

            h2 {
                color: $white;
                text-align: center;
                font-family: $ui-font-bold;
                font-size: 22px;
                line-height: 1;
                text-transform: uppercase;

                //            text-shadow: 0px 1px 1px #715EBB;
                margin-top: $site-margin;
                margin-bottom: 25px;

                @media #{$large-up} {
                    margin-top: $site-margin * 2;
                }

                @media #{$small-only} {
                    padding: 0 ($site-margin / 2);
                    font-size: 17px;
                }
            }

            ul {
                @include grid-column(12, $center: true);

                margin: 0;

                li {
                    @include border-radius(6px);

                    width: 48%;
                    margin: 1%;
                    float: left;
                    background: #fff;
                    box-shadow: 0px 1px 2px 0px #9f9e9b;
                    height: 180px;
                    min-height: 180px;
                    overflow: hidden !important;
                    list-style: none;

                    @media #{$small-only} {
                        @include grid-column(12);

                        padding: 0;
                        margin: 2% 0;
                        height: 150px;
                        min-height: 150px;
                        overflow: hidden !important;
                    }

                    .claim-wrap {
                        @include grid-column(8);

                        padding: $site-margin;
                        height: 100%;
                        text-align: center;
                        overflow: hidden;

                        .claim-container {
                            @include grid-column(11, $center: true);

                            min-height: 70%;
                            height: 70%;
                            text-align: center;
                            display: inline-block;
                            width: auto;
                            width: initial;
                            max-width: 100%;
                            zoom: 1;

                            @media #{$small-only} {
                                min-height: 65%;
                                height: 65%;
                            }

                            span {
                                height: 100%;
                                color: $pearl-black;
                                font-family: $ui-font-bold;
                                font-size: 22px;
                                text-transform: uppercase;
                                line-height: 1;
                                display: flex;
                                align-items: center;

                                @media #{$small-only} {
                                    font-size: 22px;
                                }
                            }
                        }

                        .play-cta {
                            @include PLAY-button(5px 15px, 18px, 4px);
                            @include grid-column(12, $center: true);

                            background-image: linear-gradient(#00e3f6, #0097cb);
                            color: #330066 !important;
                            border-radius: 20px;

                            @media #{$medium-up} {
                                @include grid-column(10, $center: true);
                            }

                            display: inline-block;
                        }

                        .deposit-cta {
                            @include PLAY-button(5px 15px, 18px, 4px);
                            @include grid-column(12, $center: true);

                            background-image: linear-gradient(#00e3f6, #0097cb);
                            color: #330066 !important;

                            border-radius: 20px;
                            font-size: 13px;

                            @media #{$medium-up} {
                                @include grid-column(11, $center: true);
                            }

                            display: inline-block;
                        }
                    }

                    .icon {
                        @include grid-column(4);

                        padding: 0;
                        height: 100%;
                        text-align: center;
                        position: relative;
                        overflow: hidden;

                        span {
                            @include grid-column(12);

                            padding: 0;
                            position: absolute;
                            bottom: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            @media #{$medium-up} {
                                height: 55%;
                            }

                            img {
                                @include grid-column(12);

                                position: relative;
                                bottom: $site-margin;
                                padding: 0 ($site-margin / 2);
                                position: relative;
                                width: auto;
                            }

                            .bingo img {
                                height: 90px;
                            }

                            .spinata img {
                                height: 90px;
                            }
                        }
                    }
                }
            }

            &.bonus {
                .icon {

                    background-size: 100%;
                    box-shadow: 1px 0px 8px 0px #386b1f inset;
                    background-image: url(../_images/common/icons/welcome-tick.svg), linear-gradient(#aae257, #4d982d);
                    background-repeat: no-repeat;
                    background-position: center 10px, top;
                    background-size: 30px 30px, cover;

                }

                .tick-icon {
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    background-color: #3d7a24;
                    position: relative;
                    margin-top: 10px;
                    margin-left: 35px;
                    padding-top: 27px;
                    box-shadow: 0px 1px 2px 0px #244c14 inset;
                }
            }

            &.deposit {
                .icon {
                    background-size: 100%;
                    box-shadow: 1px 0px 8px 0px #af4f1e inset;
                    background-image: url(../_images/common/icons/welcome-bonus.svg), linear-gradient(#f9d167, #f5712f);
                    background-repeat: no-repeat;
                    background-position: center 10px, top;
                    background-size: 30px 30px, cover;
                }

                .clock-icon {
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    background-color: #f6853b;
                    position: relative;
                    margin-top: 10px;
                    margin-left: 35px;
                    padding-top: 27px;
                    box-shadow: 0px 1px 2px 0px #993e0c inset;
                }
            }

            &.lock {
                opacity: 0.25;

                li {
                    box-shadow: none;
                }

                .claim-wrap .claim-container {
                    min-height: 100% !important;
                    height: 100% !important;
                }

                .icon {
                    background: #7A64CC url("../_images/common/icons/welcome-lock.svg") no-repeat;
                    background-position: center 15px;
                }
            }
        }

        .no-bonus-link {
            @include grid-column(12);
            font-size: 12px;
            font-weight: 600;
            color: $white;
            text-align: center;
            margin-top: $site-margin * 2;
            padding: 0 ($site-margin / 2);

            span {
                text-decoration: underline;
            }
        }
    }
}

.welcome-post-reg__modal__continue {
     text-align: center;
     display: block;
     span {
           text-decoration: underline;
     }
}

.welcome-post-reg__modal .header-wrap .header-container .close {
     position: absolute;
     right: 0px;
     margin: 10px;
}

#welcome-cashier {
    @media #{$small-only} {
       padding: 0 ($site-margin / 2);
       font-size: 17px;
   }
}