/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
    position: relative;
    margin: 0 auto 30px;
    padding: 0;
    *zoom: 1;
    background: none;
    ul {
        margin-left: 0;

        li {
            background-color: #DBF6FF;
        }
    }
}

.bx-wrapper img {
    @include transition(all, 0.2s ease-out);
    max-width: 100%;
    display: block;
    @media #{$large-only} {
        opacity: 0.95;
        &:hover {
            opacity: 1;
        }
    }
}


/** THEME
===================================*/

.bx-wrapper .bx-viewport {
    // -moz-box-shadow: 0 0 5px #ccc;
    // -webkit-box-shadow: 0 0 5px #ccc;
    // box-shadow: 0 0 5px #ccc;
    // border:  5px solid #fff;
    // left: -5px;
    // background: #fff;
    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    overflow: hidden !important;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -35px;
    width: 100%;
}


/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: none url(../_images/common/loaders/three-dots.svg) center center no-repeat white;
    height: auto;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

.bx-wrapper .bx-dots-loading {
    background: white url(../_images/common/loaders/three-dots.svg) center no-repeat;
    height: auto;
    width: 30px;
    top: 0;
    left: 0;
}


/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    @include transition(all, 0.2s ease-out);
    background: lighten($global-link-color, 20%);
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: $global-link-color;
}


/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 0;
    background: url(../_images/common/bxslider/bx-prev-half.svg) no-repeat;
    background-size: 100%;

}

.bx-wrapper .bx-next {
    right: 0;
    background: url(../_images/common/bxslider/bx-next-half.svg) no-repeat;
    background-size: 100%;
}

.bx-wrapper .bx-prev:hover {
    opacity: 1;
}

.bx-wrapper .bx-next:hover {
    opacity: 1;
}

.bx-wrapper .bx-controls-direction a {
    @include transition(all, 0.2s ease-out);
    // @include show-for-large-up;
    position: absolute;
    top: 45%;
    margin-top: -16px;
    outline: 0;
    width: 30px;
    height: 60px;
    text-indent: -9999px;
    z-index: 2;
    opacity: 0;
    // @media #{$small-only} {
    //     opacity: 0.85;
    // }
    &:hover {
        opacity: 0.85;
    }
}

.bx-wrapper:hover .bx-controls-direction a {
    // opacity: 0.85;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}


/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(../_images/common/bxslider/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(../_images/common/bxslider/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}


/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}



/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666666 \9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}

.bxslider {
    &__item {
        background: #DBF6FF;
        font-family: $body-font-regular;
        color: $base-blue !important;
        line-height: 1.4;

        &__text {
            padding: 15px 0.625rem;
        }

        &__link {
            font-family: $body-font-medium;
            white-space: nowrap;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    li {
        img {
            width: auto;
            height: 150px;
        }
    }
}

.feature-games-slider {
    .bx-wrapper .bx-prev {
        left: 0;
        background: url(../_images/common/bxslider/bx-next-half.svg) no-repeat;
        background-size: 100%;
        transform: scaleX(-1);
    }
}

//Adding this as coudn't find original fix r10-10
//Change this to solve bug R10-699
.promotion__text_terms-wrapper {
    min-height: 120px;

    @media #{$large-up} {
        min-height: 90px;
    }
    .promotion__text_terms {
        color: $base-blue !important;
        font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif !important;
        font-size: 0.6875rem;
    }
    .promotion-eng__terms {
        font-size: 0.6875rem;
    }
}

