.search-input {
    @include grid-column(2, $collapse: true);

    position: absolute;
    right: 1em;
    width: 100%;

    @media #{$medium-only} {
        @include grid-column(4, $collapse: true);
    }

    @media #{$small-only} {
        @include grid-column(4, $collapse: true);
    }

    > input[type=text], input[type=password] {
        font-size: 1rem;
        font-family: $body-font-regular;
        font-weight: normal;

        /* Size and position */
        width: 100%;
        padding: 8px 8px 8px 36px;

        // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 3px 2px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        background: $white;
        color: $main-highlight-color;
        transition: color 0.3s ease-out;
        height: 32px;
        box-shadow: grey 0px -1px 1px 0px;
        border: none;
    }

    input[type=text] {
        margin-bottom: 0px;
        color: $grey-dark;
    }

    .search-input__icon {
        position: absolute;
        top: 9px;
        left: -3px;
        width: 40px;
        height: 18px;
        background: url(../_images/common/icons/search-icon.svg) center center no-repeat;
    }
}
