table {
    border: 1px solid $ui-light-color !important;
    // overflow: visible !important;
    color: $brand-color;
    font-family: $body-font-bold;
    border-spacing: 0px !important;

    .responsive {
        border: 1px solid $ui-light-color !important;
        border-spacing: 0px !important;

        tbody td, thead td {
            color: $brand-color !important;

            @media #{$medium-up} {
                text-align: center;
            }
        }
    }

    .nonresponsive {
        border-spacing: 0px !important;
        border: 1px solid $brand-color-light !important;

        tbody td, thead td {
            color: $brand-color !important;

            @media #{$medium-up} {
                text-align: center;
            }
        }
    }

    thead {
        tr {
            color: $brand-color !important;
            font-size: 1rem !important;

            td {
                font-size: 1rem !important;

                a {}
            }

            th {
                color: $brand-color !important;

                p {
                    color: $brand-color !important;
                    font-size: 1rem !important;
                }
            }
        }
    }

    tr {
        td {
            color: $brand-color !important;

            @media #{$medium-up} {
                text-align: center !important;
            }
        }
    }
}