// CATEGORY MENU / MOBILE

.mobile-tabs-menu__wrap {
    @include grid-column(12);

    @include show-for-small-only;

    @include input-box;

    @media #{$small-only} {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    // padding: $site-margin !important;
    margin-bottom: $site-margin / 2;
    text-align: left;

    .f-dropdown {
        background: none !important;

        &:before {
            border: none;
        }
    }

    .tabs {
        background: none;
        margin: 0 !important;
    }
}

.mobile-tabs-menu__top {
    @include grid-column(12);

    margin: 0;
    border-radius: 4px;
    color: $brand-color !important;
    background: none !important;
    font-family: $body-font-extra-bold;
    font-size: 1rem;
    text-align: left;

    // margin-bottom: $site-margin;

    &:after {
        border: none;
        background-image: url(../_images/common/dropdown-arrow-white.svg) !important;
        height: 12px !important;
        width: 19px !important;
        position: absolute !important;
        border: none !important;
        right: 8px !important;
        top: 24px !important;

        .open & {
            background-image: url(../_images/common/dropdown-arrow-up.svg) !important;
        }
    }
}

.mobile-tabs-menu__dropdown {
    @include grid-column(12);

    @include transition(all, 0.2s ease-out);

    color: $nav-main-color !important;
    background: none !important;
    border-radius: 4px !important;
    border: none !important;
    width: 100% !important;
    padding: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    position: relative !important;
    top: -5px !important;
    margin-bottom: 3px !important;
    margin-top: 0 !important;

    &:after {
        border: none;
    }

    dd {
        border: none;
        padding: 0 !important;

        a {
            padding: 0px ($site-margin / 2) !important;
            margin-bottom: 3px !important;
            text-transform: initial !important;
            box-shadow: none !important;
            background: $base-blue-light !important;
            border-radius: 6px !important;
            padding: 0 ($site-margin / 2);
            line-height: 2.2 !important;
        }

        &.active {
            a {
                color: $brand-color !important;
                background: $white !important;
            }
        }
    }

    // position: relative !important;
}