.single-message-mobile {
    @include hide-for-large-up;

    @include grid-column(12);

    height: 100%;
    margin: 0;
    padding: 0;
    right: 0;
    z-index: 9999999;
    background: #e7e2fe;
    display: none;
    position: fixed;
    overflow: scroll;
    top: 0px;

    &.active {
        display: block;
    }

    .single-message-mobile__header {
        @include grid-column(12);

        color: $grey-dark;
        font-weight: bold;
        font-size: 13px;

        //text-transform: uppercase;
        padding: $site-margin;
        background: $white url(../_images/common/icons/welcome-close.svg) no-repeat right $site-margin center;

        // box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
        display: block;
        position: fixed;
        height: auto;
        z-index: 1;
        max-width: 100%;
    }

    .single-message-mobile__content {
        @include grid-column(12, $center: true);

        max-width: 600px;
        min-height: 600px;
        background: $white;
        margin-top: 80px;
        overflow: scroll;

        @media #{$small-only} {
            width: 96%;
            margin: 2%;
            margin-top: 80px;
        }
    }
}