.lobby-play-button {
    @extend .show-for-small;
    @include foundation-breaks($scols: 6, $scollapse: true, $sfloat: left, $mcols: 6, $mcollapse: false, $mfloat: true, $lcols: 6, $lcollapse: true, $lfloat: left);
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    a {
        color: $white;
    }
    background-color: #046496;
    height: 60px;
    line-height: 60px;
    font-family: $body-font-bold;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin-bottom: $site-margin;
}

.small-play-wrap > div > a, .small-deposit-wrap > div > a {
    color: $white;
}