.lobby-claim-cashback {
    @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 12, $mcollapse: false, $mfloat: left, $lcols: 12, $lcollapse: false, $lfloat: left);

    float: left;
    clear: both;

    // background-image: linear-gradient(-180deg, white 0%, #f5f5f9 100%);
    background-image: linear-gradient(-180deg, white 0%, #f5f5f9 100%);
    border: 1px solid #E6E6E2;
    padding: $site-margin;
    margin-bottom: $site-margin;

    h1 {
        font-family: $body-font-bold;
        font-size: 18px;
        color: $main-highlight-color;
        text-align: center;
        margin-bottom: 10px;
        text-transform: uppercase;
        margin-top: 15px;
        padding-left: 5px;
        padding-right: 5px;

        @media #{$medium-only} {
            margin-top: 30px;
        }

        @media #{$small-only} {
            margin-top: 30px;
        }
    }

    p {
        padding: 0 5px;
        font-family: $body-font-bold;
        font-size: 16px;
        color: #5B5B5B;
        text-align: center;
        line-height: 16px;
        margin-top: 35px;
    }

    .upgrade-expiry {
        margin-top: 15px;
    }

    .upgrade-info {
        text-align: center;
        margin-bottom: 10px;
        float: right;
        margin-right: 10px;

        &:hover {
            text-decoration: underline;
        }
    }

    .lobby-claim-cashback-button {
        @include grid-column(11, $center: true);

        background-image: linear-gradient(-180deg, #5fc72a 0%, #009e00 100%);
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        margin: 0 auto;

        a {
            color: $white;
        }

        border-radius: 4px;
        height: 57px;
        line-height: 57px;
        font-family: $body-font-bold;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
        letter-spacing: 1px;
        text-shadow: 0px 2px 0px #078d00;
    }

    &.alert-box .close {
        top: 0.3em;
        right: 0;
        font-size: 40px;
    }
}

.mobile-cashback {
   @extend .show-for-small-only;

    .lobby-claim-cashback p {
        margin-bottom: 10px !important;
    }

    .alert-box .close {
        right: 0.1rem;
    }
}