// featured games section with tabbed contents and game icons
// tabs
.featured-games > .tabs dd {
    @extend .show-for-large-up;
    @include foundation-breaks($scols: 1, $scollapse: true, $sfloat: left, $mcols: 1, $mcollapse: true, $mfloat: left, $lcols: 2, $lcollapse: true, $lfloat: left);
    background-color: $ctacolor;
    border-radius: 3px;
    &:hover, &.active {
        background-color: #23BABE;
    }
    margin-right: $site-margin;
    > a, .tabs .tab-title > a {
        background-color: transparent;
        @include vert-align(24px);
      padding: 0px;
      
        font-family: $body-font-bold;
        color: $white;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;

    }
}

.featured-games {
    .tabs-content {
        margin-bottom: 0;
    }
}

// Game icons within each tab
.lobby-game {
    @include foundation-breaks($scols: 6, $scollapse: true, $sfloat: left, $mcols: 3, $mcollapse: true, $mfloat: left, $lcols: 3, $lcollapse: true, $lfloat: left);
    .game-icon {
        padding: 0.15em;
    }
    @media #{$small-up} {
        padding-bottom: 0.15em;
    }
    @media #{$large-up} {
        padding-bottom: 0;
    }
    &:first-child {
        padding-right: 0;
    }
    &:last-child {
        padding-left: 0;
    }
}

.featured-games-categories {
    @extend .hide-for-medium-up;
    -webkit-appearance: initial;
    -moz-appearance: initial;
    @include foundation-breaks($scols: 4, $scollapse: true, $sfloat: right, $mcols: 3, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: right);
    font-size: 12px;
    color: #AFAFAF;
    height: 24px;
    line-height: 10px;
    padding: 0px;
    border: none;
    background-color: transparent;
    max-width: 90px;
    margin-right: 5px;
}

.title__viewall--featured-games {
    @extend .hide-for-medium-down;
}

.f-dropdown.open {
    z-index: 999;
}

.featured-category-dd {
    @extend .hide-for-large-up;
    -webkit-appearance: initial;
    -moz-appearance: initial;
    @include foundation-breaks($scols: 4, $scollapse: true, $sfloat: right, $mcols: 3, $mcollapse: true, $mfloat: right, $lcols: 3, $lcollapse: true, $lfloat: right);
    font-size: 12px;
    color: #C11258;
    height: 24px;
    line-height: 10px;
    padding: 0px;
    border: none;
    background-color: transparent;
    max-width: 90px;
    margin-right: 5px;
    font-family: $body-font-bold;
}