.lobby-deposit-button {
    @extend .hide-for-small;
    @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: false, $mfloat: true, $lcols: 12, $lcollapse: true, $lfloat: left);
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    background-color: $green;
    box-shadow: 0px 2px 0px 0px darken($green, 5%);
    height: 57px;
    margin-top: 0;
    margin-bottom: $site-margin;
    line-height: 57px;
    font-family: $body-font-bold;
    font-size: 23px;
    text-align: center;
    color: $white;
    letter-spacing: 1px;
    text-shadow: 0px 2px 0px darken($green, 5%);
       &:hover {
        color: $white !important;
        background-color: lighten($green, 6%) !important;
    }
    a {
        color: $white;
    }
    a:hover {
        color: $white !important;
        background-color: lighten($green, 6%) !important;
    }
}

.lobby-wrap__content-box__content {
    .lobby-deposit-button {
        @extend .show-for-small;
        @include foundation-breaks($scols: 6, $scollapse: true, $sfloat: left, $mcols: 6, $mcollapse: false, $mfloat: true, $lcols: 6, $lcollapse: true, $lfloat: left);
    }
}