.welcome-page{
	
	.two-columns-layout__left{
		padding-top: 1em;
		@media #{$small-only}{
			@include grid-column(12,$collapse:true);
		}
		@media #{$medium-up}{
			@include grid-column(3,$push:9);
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	.two-columns-layout__right{
		padding-bottom:1em;

		@media #{$small-only}{
			@include grid-column(12,$collapse:true);
		}
		@media #{$medium-up}{
			@include grid-column(9,$pull:3);
			padding-left: 0px;
		}
	}
	.welcome__intro-text{
		@include grid-column(12);
		background-color: $content-background-color;
		border:1px $content-border-color solid;
		color:$body-text-color;
		>span{
			font-weight: bold;
		}
	}
	.welcome{
		
		border:1px $content-border-color solid;
		-webkit-border-top-left-radius: 0px;
		-webkit-border-top-right-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius:0px;
		@include grid-column(12,$collapse:true);
		.cashier__section{
			background-color:transparent;
		}
		.cashier__content-wrapper{
			width: 100%;

		}
	}
	.welcome__side-content{
		background-color: $content-background-color;
		border:1px $content-border-color solid;
		@include grid-column(12);
		padding: 0.9375rem;
		@media #{$medium-up}{
			min-height:400px;

		}
	}

	.cashier__section{
		margin-bottom: 0px;
	}

	.text-partial{
		background-color:transparent;
		border:none;
		margin: 0px;
		padding:0px;
		
		>h1{
			display:none;
		}
	}
}