/* Common CSS Plugin
//////////////////////////////////////////////////////
Codrops Dropdown List
http://tympanus.net/Development/SimpleDropDownEffects/
*/

.cd-dropdown,
.cd-select {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    display: block;
}

.cd-dropdown > span {
    width: 100%;

    /*color: #999;*/
    font-size: 15px;
    background: #fff;
    display: block;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.cd-dropdown > span:after {
    padding: 0.95rem;
    content: " ";
    background: url("../../_images/common/icons/arrow-down.svg") no-repeat calc(100% - 11px) calc(1em - 4px);
    position: absolute;
    right: 0px;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
}

.cd-dropdown.cd-active > span:after {
    background: url("../../_images/common/icons/arrow-up.svg") no-repeat calc(100% - 11px) calc(1em - 4px);
}

.cd-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

.cd-dropdown ul li {
    display: block;
}

.cd-dropdown ul li span {
    width: 100%;
    background: #fff;
    display: block;

    /*color: #bcbcbc;*/
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
}

.cd-dropdown > span,
.cd-dropdown ul li span {
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px;
}

/* Select fallback styling */
.cd-select {
    border: 1px solid #ddd;
}

.cd-dropdown ul {
    position: absolute;
    top: 0px;
    width: 100%;
}

.cd-dropdown ul li {
    position: absolute;
    width: 100%;
    pointer-events: none;
}

.cd-active.cd-dropdown > span {
    color: #1C6EB5;
}

.cd-active.cd-dropdown ul li {
    pointer-events: auto;
}

.cd-active.cd-dropdown ul li span {
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
    background: #1C6EB5;
    color: #fff;
}

.cd-dropdown ul {
    position: absolute;
    top: 0px;
    width: 100%;
}

.cd-dropdown ul li {
    position: absolute;
    width: 100%;
    pointer-events: none;
}

.cd-active.cd-dropdown > span {
    color: #1C6EB5;
}

.cd-active.cd-dropdown ul li {
    pointer-events: auto;
}

.cd-active.cd-dropdown ul li span {
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
    background: #1C6EB5;
    color: #fff;
}

/* Style CSS
//////////////////////////////////////////////////////
*/

.cd-dropdown ul {
    position: absolute;
    top: -5px;
    width: 100% !important;
}

.cd-dropdown ul li {
    position: absolute;
    width: 100% !important;
    pointer-events: none;

    /* padding: 1.4rem 0.8rem;*/
    background: white;
}

.cd-active.cd-dropdown > span {
    color: #1C6EB5;
}

.cd-active.cd-dropdown ul li {
    pointer-events: auto;
}

.cd-active.cd-dropdown ul li span {
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    font-size: 15px;
}

.cd-active.cd-dropdown ul li span:hover {
    background: #F4F2F6;
    color: #1C6EB5;
}