.terms--conditions_accept {
		padding: 30px 20px;
	.section__title {
		text-align: center !important;
		padding-bottom: rem-calc(20px);

		@media #{$small-only} {
			font-size: rem-calc(22px);	
		}
	}

	.accept-tc {
		margin: 0 auto;
		text-align: center;
		@media #{$small-only} {
			width: 100%;
		}

		a {
			font-family: $font-button;
			color: $black;
			font-size: rem-calc(17px);
			border-radius: rem-calc(50px);
			text-transform: uppercase;

			&:hover {
				background: $yellow-hover;
			}
		}
	}

	.content-template {
		h1 {
			font-size: rem-calc(18px);
			padding-bottom: rem-calc(10px);
			padding-top: rem-calc(20px);
		}

		p {
			font-family: $font-copy !important;
			font-size: rem-calc(13px) !important;
		}
	}
}