.terms--conditions {
	padding-bottom: 80px;
	
	.middle-content__box h1 {
		@media #{$medium-only} {
			padding-left: rem-calc(20px);
		}
	}

	.text-partial {
		h1 {
			font-size: rem-calc(20px) !important;
		    padding-bottom: 20px !important;
		    padding-top: 10px !important;

		    @media #{$small-only} {
		    	text-align: left;
		    	padding-left: rem-calc(20px);
		    	padding-right: rem-calc(20px);
		    	word-wrap: break-word;
		    }

		    @media #{$medium-only} {
		    	text-align: left;
		    	padding-left: rem-calc(20px);
		    }
		}
		
		ul li {
			font-family: $font-copy !important;
		}
		
	}

	.middle-content__box .text-partial-content p {
		@media #{$small-only} {
			word-wrap: break-word;
		}
	}
}

.general-terms-conditions {
	article h1 {
		font-size: 1.125rem !important;
	}
	ul {
		li {
			font-family: $font-copy;
		}
	}
}





