$hub__grid__gutter: 0;

.hub {
    .winners-summary {
        padding: $grid-spacing;
    }
}

.hub__grid {
    width: 100%;
    background: $black;
    position: relative;
    padding: 0px 0px 0px 0px;
}

.hub-grid {
    width: 100%;
    background-color: grey;
    img {
        width: 100%;
        height: auto;
    }
    .hub-grid__col {
        @media #{$small-only} {
            @include grid-column(6);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(3);
            padding: 0px;
        }
        @media #{$large-up} {
            @include grid-column(2);
            padding: 0px;
        }
    }
    .hub-grid__col-2x {
        @media #{$small-only} {
            @include grid-column(6);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(4);
            padding: 0px;
        }
        @media #{$large-up} {
            @include grid-column(4);
            padding: 0px;
        }
    }
    .hub-grid__child {
        @include grid-column(12);
        padding-left: $grid-spacing;
        padding-right: $grid-spacing;
        padding-top: $grid-spacing;
        padding-bottom: $grid-spacing;
        position: relative;
        @media #{$small-only} {
            padding: 0.6em;
        }
        @media #{$medium-only} {
            padding: 0.6em;
        }
    }
    .hub-grid__child-1x2 {
        @include grid-column(6);
        padding-left: $grid-spacing;
        padding-right: $grid-spacing;
        padding-top: $grid-spacing;
        padding-bottom: $grid-spacing;
        position: relative;
    }
    .hub-grid__col-2x__row {
        @include grid-column(12);
        padding: 0px;
    }
}