<!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
<![endif]-->
<!-- Email Body : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">
    <!-- Hero Image, Flush : BEGIN -->
    <tr>
        <td style="background-color:#fff"><a target='_blank' href="https://www.aspers.com" xt="SPCLICK" name="main_image"><img src="http://mailers.communicatormail.com/aspers/images/cashback-allocated-1360x600.jpg" width="680" height="" alt="main-image" border="0" align="center" class="fluid" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #000;" class="g-img"></a>
        </td>
    </tr>
    <!-- Hero Image, Flush : END -->
    <!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
<![endif]-->

	 <tr style="background-color: #fff;">
        <td style="padding: 20px 40px 20px; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left; word-break: normal; background-color: #fff;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <p style="font-family: arial, sans-serif; font-size: 12px; line-height: 20px; color: #000; text-align: left;">Username: %%Alias%%Forgot Password?</p>
                    <br><p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">Congratulations %%Firstname%%, <br>Username: %%Alias%%</p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">You've qualified for your %%CurrencySymbol%%%%Amount%% cashback bonus!</p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;"><strong>Grab it now: simply log in to <a target='_blank' href="https://www.aspers.com/cashback-bonus" xt="SPCLICK" name="cashback-bonus" style="text-decoration:underline; color:#000;">aspers.com</a> and hit the CLAIM button in My Account.</strong></p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">Your cashback will expire by %%ExpireDate%% so what are you waiting for!</p>
                    <br><p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">Best of Luck!</p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">The Aspers Online Team</p>
            </table>
        </td>
    </tr>
 </table>

	<!-- Email Body : END -->