<!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
<![endif]-->
<!-- Email Body : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">
    <!-- Hero Image, Flush : BEGIN -->
    <tr>
        <td style="background-color:#fff"><a target='_blank' href="https://www.aspers.com" xt="SPCLICK" name="main_image"><img src="http://mailers.communicatormail.com/aspers/images/forgot-password-1360x600.jpg" width="680" height="" alt="main-image" border="0" align="center" class="fluid" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #000;" class="g-img"></a>
        </td>
    </tr>
    <!-- Hero Image, Flush : END -->
<!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
<![endif]-->
    <tr style="background-color: #fff;">
        <td style="padding: 40px 40px 20px; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left; word-break: normal; background-color: #fff;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <p style="font-family: arial, sans-serif; font-size: 22px; line-height: 20px; color: #000; text-align: left;">Hi %%Firstname%%</p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">We are following up on your recent request to change your password on Aspers Online.</p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">Thanks for letting us know, we’ve reset it to the following:</p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">Username: <strong>%%Alias%%</strong><br>Password: <strong>%%Password%%</strong></p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">Login in now to get back to the games - you can change your password for something more memorable in Personal Details tab once you’re back in the swing of things!</p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">Just remember to make a note of your new login details somewhere safe before you really let your hair down, and we’ll see you there!</p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">Once you have retrieved your password we recommend you make a note of your login details and be sure to keep them safe.</p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">Should you require any additional help, feel free to contact our friendly Support Team</p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">We look forward to seeing you soon at Aspers Online!</p>
            </table>
        </td>
    </tr>
</table>


        <!-- Email Body : END -->