<!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
<![endif]-->
<!-- Email Body : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">
    <!-- Hero Image, Flush : BEGIN -->
    <tr>
        <td style="background-color:#fff"><a target='_blank' href="https://www.aspers.com" xt="SPCLICK" name="main_image"> <img src="http://mailers.communicatormail.com/aspers/images/payment-confirmation-1360x600.jpg" width="680" height="" alt="main-image" border="0" align="center" class="fluid" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #000;" class="g-img"></a>
        </td>
    </tr>
    <!-- Hero Image, Flush : END -->
<!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
<![endif]-->
    <tr style="background-color: #fff;">
        <td style="padding: 40px 40px 20px; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left; word-break: normal; background-color: #fff;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"  class="email-container">
                    <p style="font-family: arial, sans-serif; font-size: 22px; line-height: 20px; color: #000; text-align: left;">Hi %%Firstname%%</p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;"><strong>Congratulations on your first deposit.</strong></p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">We just wanted to let you know that you have successfully made your first deposit - thanks!</p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">Don’t forget you can now claim <strong>50% bonus up to &#163;300 on next your next deposit!</strong></p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">Simply select your 2nd welcome offer in the cashier when you deposit &#163;20 or more.</p>
            </table>
        </td>
    </tr>

<!-- Button : BEGIN -->
            <td style="background-color: #fff; padding-bottom: 40px; padding-top: 20px;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto; padding-top: 20px;">
                <td style=" text-align: center;" class="button-primary-td">
                    <a target='_blank' href="https://www.aspers.com" xt="SPCLICK" name="primary-cta" xt="SPCLICK" style="background: #F3E900; border: 2px solid #F3E900; font-family: arial black, sans-serif; font-size: 1.5rem; line-height: 3rem; text-align: center; text-decoration: none; display: block; border-radius: 30px; min-width: 220px;" class="button-primary-a">
        <span style="font-family: 'oswald-regular', 'Arial Black', sans-serif !important; color:#000;" class="button-link">&nbsp;&nbsp;&nbsp;&nbsp;PLAY NOW&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </a>
                </td>
            </table>
            </td>
            <!-- Button : END -->

</table>

    <!-- Email Body : END -->