 
 <tr>
  <td><!-- start of Full text -->
   
   <table width="100%" bgcolor="#fff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text">
    <tbody>
     <tr>
      <td><table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
         <tr>
          <td width="100%"><table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
            <tbody>
             <!-- Spacing -->
             <tr>
              <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
             </tr>
             <!-- Spacing -->
             <tr>
              <td><table width="580" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
                <tbody>
                 <!-- Title -->
                 <tr>
                  <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #282828; text-align:left; line-height: 20px;">
<p>Hello</p>
                 </tr>
                 <!-- End of Title --> 
                 <!-- spacing -->
                 <tr>
                  <td width="100%" height="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                 </tr>
                 <!-- End of spacing --> 
                 <!-- content -->
                 <tr>
                  <td style="font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #333333; text-align:left; line-height: 20px;">
                   <p> Your friend wants you to help him to become millionaire so you can be friend of a rich and famous person after all.                  </p><br />
                   <p> Click the link below and complete the deposit and wager limits so you can be closer to have another wealthy friend and become yourself one of them.                  </p><br />
                   <p><a href="%%ReferLink%%">%%ReferLink%%</a></p><br />
              <p>Kind Regards,</p>
<p><strong>The Spin and Win Team</strong></p></td>
                 </tr>
                 <!-- End of content --> 
                 <!-- Spacing -->
                 <tr>
                  <td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                 </tr>
                 <!-- Spacing -->
                </tbody>
               </table></td>
             </tr>
            </tbody>
           </table></td>
         </tr>
        </tbody>
       </table></td>
     </tr>
    </tbody>
   </table>
   
   <!-- End of Full Text --></td>
 </tr>
 <tr>
  <td><!-- Start of seperator -->
   
   <table width="100%" bgcolor="#fff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="seperator">
    <tbody>
     <tr>
      <td><table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
        <tbody>
         <tr>
          <td align="center" bgcolor="#fff" height="20">&nbsp;</td>
         </tr>
        </tbody>
       </table></td>
     </tr>
    </tbody>
   </table>
   
   <!-- End of seperator --></td>
 </tr>
