<!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
<![endif]-->
<!-- Email Body : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">

        <!-- Hero Image, Flush : BEGIN -->
    <tr>
        <td style="background-color:#fff"><a target='_blank' href="https://www.aspers.com/promotions/welcome-offer/" xt="SPCLICK" name="main_image"> <img src="http://mailers.communicatormail.com/aspers/images/1000welcome_mailer-v4.jpg" width="680" height="" alt="main-image" border="0" align="center" class="fluid" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555;" class="g-img"></a>
        </td>
    </tr>
    <!-- Hero Image, Flush : END -->

<!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
<![endif]-->

    <!-- 1 Column Text + Button : BEGIN -->
    <tr style="background-color: #fff;">
        <td style="padding: 20px 40px; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left; word-break: normal; background-color: #fff;">

            <p style="margin: 0;"> Hi %%Firstname%%,</p> <br>

            <p style="margin: 0;"> Welcome to Aspers Online! </p>

            <p>Unlock a new dimension of casino with our fantastic three-staged Welcome Bonus up to &pound;1,000.</p>
            <img src="https://pixel.app.returnpath.net/pixel.gif?r=bf64af354f4f813871894b5747cfe999243100b1" width="1" height="1" /> <img src="https://pixel.monitor1.returnpath.net/pixel.gif?r=bf64af354f4f813871894b5747cfe999243100b1" width="1" height="1" />
        </td>
    </tr>
            
    <!-- 1 Column Text + Button : END -->
    <tr style="background-color: #ececec;">
        <td>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" class="fluid">
                <td style="padding: 40px 60px 40px; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">
                    <h2 style="color: #000; font-family: 'Arial Black', sans-serif; font-size: 22px; text-align: center;"><span style="font-family: 'oswald-medium', 'Arial Black', sans-serif !important;"> HOW TO CLAIM</span></h2>
                    <p><strong style="color: #000; font-family: 'Arial Black', sans-serif; font-size: 20px;"><span style="font-family: 'oswald-medium', 'Arial Black', sans-serif !important;">1.</strong> 
                        <a target='_blank' href="https://www.aspers.com/login/" style="color: #666; font-family: arial, arial black, sans-serif; ">Log in</a> to your account with username %%Alias%%</span>
                    </p>
                    <p><strong style="color: #000; font-family:'Arial Black', sans-serif; font-size: 20px;"><span style="font-family: 'oswald-medium', 'Arial Black', sans-serif !important;">2.</strong> Make your 1<sup>st</sup> deposit and we will double it with a 100% bonus up to &pound;500</span>
                    </p>
                    <p><strong style="color: #000; font-family: 'Arial Black', sans-serif; font-size: 20px;"><span style="font-family: 'oswald-medium', 'Arial Black', sans-serif !important;">3.</strong> Enjoy a 50% re-deposit bonus on your 2<sup>nd</sup> and 3<sup>rd</sup> deposit - up to &#163;500! </span>
                    </p>
                </td>
        </td>
    </tr>
    <!-- 1 Column Text + Button : BEGIN -->
    <tr style="background-color: #fff;">
        <td style="padding: 40px 40px 30px; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left; word-break: normal; background-color: #fff;">
            <p style="margin: 0;">Discover weekly promotions, monthly rewards, big progressive jackpots and play exclusive games such as Back to the Wild and Authentic Live Roulette, streamed directly from Aspers Casino Stratford.</p>

        </td>
    </tr>
    <!-- 1 Column Text + Button : END -->
    <tr>
        <td style="padding: 0 40px 40px; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; background-color: #fff;">
            <!-- Button : BEGIN -->
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
                <td style=" text-align: center;" class="button-secondary-td">
                    <a target='_blank' href="https://www.aspers.com/login/" xt="SPCLICK" name="secondary-cta" xt="SPCLICK" style="background: #F3E900; border: 2px solid #F3E900; font-family: arial black, sans-serif; font-size: 1.5rem; line-height: 3rem; text-align: center; text-decoration: none; display: block; border-radius: 30px; min-width: 220px;" class="button-secondary-a">
                        <span style="font-family: 'oswald-regular', 'Arial Black', sans-serif !important; color:#000;" class="button-link">&nbsp;&nbsp;&nbsp;&nbsp;CLAIM NOW&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </a>
                </td>
            </table>
            <!-- Button : END -->
        </td>
    </tr>

    <tr style="background-color: #fff;">
    <td style="padding: 40px 40px 30px; font-family:arial, sans-serif; font-size: 11px; line-height: 16px; color: #666; text-align: left; word-break: normal; background-color: #fff;">
    <p style="margin: 0;">
        All registered and verified players on Aspers.com can opt in to use the Welcome Bonus on their first three deposits. Min. deposit for each bonus &#163;20. Max. bonus on 1st dep. &#163;500, on 2nd dep. &#163;250, on 3rd dep. &#163;250. Real funds will be used first before the bonus becomes playable. Wagering requirements are 25x the sum of your deposit and bonus and needs to be met prior to requesting a withdrawal. Deposit Bonuses can be played on all games except progressive slots, live casino and table & card games and Unless otherwise stated, Bonuses cannot be played on games listed <a target='_blank' href="https://www.aspers.com/promotions/excluded/" style="color: #666; font-family: arial, arial black, sans-serif; ">here.</a>

        Upon completion of wagering conditions, the system will remove any excess winnings. Wagering requirements of bonus wins need to be met within 7 days. Once wagering requirement is met, both bonus and bonus winnings will be converted into cash up to &#163;500 per bonus. Deposit amount can be withdrawn at any time; however, bonus and bonus wins will be forfeited. By accepting the bonus, the player automatically accepts the bonus T&Cs. Full Welcome Bonus T&Cs can be found <a target='_blank' href="https://www.aspers.com/promotions/welcome-bundle/" style="color: #666; font-family: arial, arial black, sans-serif; ">here</a>. <a target='_blank' href="https://www.aspers.com/terms-and-conditions/terms-and-conditions/" style="color: #666; font-family: arial, arial black, sans-serif; ">  General</a> and <a target='_blank' href="https://www.aspers.com/terms-and-conditions/general-promotional-terms-and-conditions/" style="color: #666; font-family: arial, arial black, sans-serif; ">  Promotional</a> Terms and Conditions apply. 
    </p>


    </td>
</tr>
    </table>
    <!-- 2 Column Text + Button : END -->
    <!-- Email Body : END -->