<!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
<![endif]-->
<!-- Email Body : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">
    <!-- Hero Image, Flush : BEGIN -->
    <tr>
        <td style="background-color:#fff"><a target='_blank' href="https://www.aspers.com" xt="SPCLICK" name="main_image"><img src="http://mailers.communicatormail.com/aspers/images/security-1360x600.jpg" width="680" height="" alt="main-image" border="0" align="center" class="fluid" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #000;" class="g-img"></a>
        </td>
    </tr>
    <!-- Hero Image, Flush : END -->
<!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
<![endif]-->
	<tr style="background-color: #fff;">
        <td style="padding: 40px 40px 20px; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left; word-break: normal; background-color: #fff;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <p style="font-family: arial, sans-serif; font-size: 22px; line-height: 20px; color: #000; text-align: left;">Hi %%Firstname%%</p>

                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">Your Aspers Online account is temporarily locked due to three consecutive failed log-in attempts.  Please contact the call center to re-activate you account:</p>
                    
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;"><strong><a target='_blank' href="https://www.aspers.com/Support" xt="SPCLICK" name="unlock-account" style="text-decoration:underline; color:#000;">Contact Support</strong></a></p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">If you have forgotten your password, please use the "forgotten password" link on the homepage or contact our friendly Support Team agents who are here to help you</p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">We look forward to seeing you soon at Aspers Online!</p>
                    <br><p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">Warm regards,</p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">The Aspers Online Team</p>
            </table>
        </td>
    </tr>
 </table>

	<!-- Email Body : END -->