﻿<!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
<![endif]-->
<!-- Email Body : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">
    <!-- Hero Image, Flush : BEGIN -->
    <tr>
        <td style="background-color:#fff"><a target='_blank' href="https://www.aspers.com" xt="SPCLICK" name="main_image"><img src="http://mailers.communicatormail.com/aspers/images/vip-emerald-1360x600.jpg" width="680" height="" alt="main-image" border="0" align="center" class="fluid" style="width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #000;" class="g-img"></a>
        </td>
    </tr>
    <!-- Hero Image, Flush : END -->
<!--[if mso]>
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
<![endif]-->
     <tr style="background-color: #fff;">
        <td style="padding: 40px 40px 20px; font-family:arial, sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left; word-break: normal; background-color: #fff;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <p style="font-family: arial, sans-serif; font-size: 22px; line-height: 20px; color: #000; text-align: left;">Hi %%Firstname%%</p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">Your Aspers Online account has just been upgraded to our Emerald VIP level!
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">Log in to claim your mystery upgrade bonus, and you will now receive a <strong>daily 10% cashback bonus ready and waiting to claim every Friday afternoon! </strong></p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;"><a target='_blank' href="https://www.aspers.com/slots/new/" xt="SPCLICK" name="play-now" style="text-decoration:underline; color:#000;">Click here</a> to play all our latest games NOW and enter the world of winning at Aspers Online <strong>with even more exclusive benefits!</strong></p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">Best of luck,</p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;">The Aspers Online VIP Team</p>
                    <p style="font-family: arial, sans-serif; font-size: 15px; line-height: 20px; color: #000; text-align: left;"><a target='_blank' href="https://www.aspers.com/" xt="SPCLICK" name="signature" style="text-decoration:underline; color:#000;">www.Aspers.com</a></p>
            </table>
        </td>
    </tr>
 </table>

    <!-- Email Body : END -->