.header,
.header--logged-in {
    font-family: $ui-font-semibold;
    @extend .hide-for-medium-down;
    @media #{$large-up} {
        width: 100%;
        height: initial;
        overflow: hidden;
        position: relative;
        z-index: 3;
        background:$regalwins--opacity;
        
        &:after {
            content: "";
            height: 1px;
            width: 100%;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            @include regal-background-gradient
        }


        // opacity: 0.85;
        overflow: visible;
    }
    .header-inner {
        @include grid-row;
        max-width: 1040px;
        height: 117px;
    }
    .header-inner__left,
    .header-inner__right {
        @include grid-column(5, $collapse: true);
        width: 43%;
        height: 24px;
    }
    .header-inner__right {
        float: right;
    }
    .header-inner__middle {
        @include grid-column(2, $collapse: true);
        width: 14%;
        float: left;
        height: 88px;
        padding: 20px 2px 0 2px;
        margin-top: 2px;
    }
    .header-inner__left__top,
    .header-inner__right__top {
        margin-top: 10px;
    }
    .desktop-nav {
        &.loggedout-left {
            // margin-left: 16px;
        }
        &.loggedin-left {
            // padding-left: 18px;
        }
        &.loggedout-right {
            margin-left: 130px;
        }
        &.loggedin-right {
            margin-left: 48px;
        }
        @include list-inline;
        > li {
            padding-left: 4px;
            padding-right: 8px;
            height: 14px;
            // background: url(../_images/common/header/header-nav-divider.png) no-repeat;
            // background-position-y: 4px;
            // background-position-x: right;
            background-size: 3px 12px;
            position: relative;

            // fix shared promotions shared id bug (missing underline on hover)
            &#promotions {
                overflow: visible !important;
            }
        }
        > li a {
            text-shadow: 0.5px 0.9px 0 #000;
            line-height: 14px;
            display: block;
            color: $white;
            text-rendering: optimizeLegibility;
            text-rendering: geometricPrecision;
            font-smooth: always;
            color: $white;
            text-transform: none;
            font-size: rem-calc(13px);

            &:hover {
                color: $regalwins--highlight-gold;
                text-decoration: underline;
            }

            &:active, &:focus {
                text-decoration: underline;
                color: $regalwins--highlight-gold !important;
            }
        }
    }
    .header-inner__left__bottom {
        margin-top: 22px;
    }
    .cat-search-bar {
        position: relative;
        width: 400px;
        // @include rounded-rectangle($radius: 50px, $height: 28px, $width: 310px, $color: $white, $opacity: 0.2);
        margin-left: 15px;
        padding-top: 2px;
        // padding: 10px 0 0 0;
        .cat-search-bar__categories {
            @include grid-column(6, $collapse: true);
            // @extend %cta--button--type;
            // @include background-image(linear-gradient(to top, $regalwins-gradient 2%, $white 100%));
            // @include rounded-rectangle($radius: 0px, $height: 30px, $width: 131px, $color: $white, $opacity: 1);
            // border-top-right-radius: 0;
            //border-bottom-right-radius: 0;
            cursor: pointer;
            
            &:hover {

                // opacity: 0.8;
            }
            .games-filter-menu {
                height: auto;
                width: 100%;
                padding-right: 0;
                padding-left: 5px;
            }
            .game-filter-btn__wrapper {
                @media #{$medium-up} {
                    max-width: 170px;
                    border: 1px solid $regalwins--border;
                    @include border-radius(3px);
                    display: block;
                    font-size: 1rem;
                    margin: 0 0 0.6rem 0;
                    padding: 0.4rem 0.5rem 0.6rem 0.5rem !important;
                    height: 50px;
                    width: 100%;
                    box-sizing: border-box;
                    background: $black;
                }
                
                background: transparent;
                width: 131px;
            }
            .game-filter-btn {
                background: transparent;
                font-size: rem-calc(13px);
                font-weight: bold;
                font-family: $ui-font-bold;
                text-transform: uppercase;
                text-align: center;
                line-height: 32px;
                color: $white;
            }
            .filter-slots {
                position: relative;
                padding-left: 14px;
                text-align: center;
                font-size: 11px;
                color: #011558;
                background-color: transparent;
                a {
                    display: block;
                    font-family: $ui-font-bold;
                    position: relative;
                    background-color: transparent;
                    color: #011558;
                }
                &:hover {
                    color: $global-link-color;
                }
            }
        }
        .cat-arrow {
            height: 8px;
            width: 14px;
            position: absolute;
            left: 93px;
            top: 8px;
            background: url(../_images/common/header/down-arrow.png) left top no-repeat;
        }
        .cat-search-bar__games-search {
            position: absolute;
            right: 23px;
            width: 192px;
            
            input {
                position: relative;
                margin: 0px;
                @include grid-column(12, $collapse: true);
                background: $white;
                text-transform: none;
                font-size: 15px;
                color: $regalwins--gray-alternative;
                letter-spacing: 0px;
                border: 1px solid $regalwins--border;
                background: $black;
                color: $white;
                padding: 0px 10px 0px 20px;
                height: 50px;
                line-height: 50px;
            }
            .cat-search-bar__games-search__icon {
                position: absolute;
                right: 15px;
                top: 10px;

                & img {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }
}

.header-inner__right__bottom {
    @include grid-column(12, $collapse: true, $center: true);
    margin-top: 18px;
    margin-bottom: 14px;
    height: 28px;
    .buttons-bar {
        @include grid-column(6, $collapse: true);
        // @include rounded-rectangle($radius: 50px, $height: 28px, $width: 100%, $color: $white, $opacity: 0.2);
        width: 329px;
        margin: 0 auto;
        // padding: 3px;
        float: none;
        .buttons-bar__login {
            @include grid-column(6, $collapse: true);

            a {
                @include grid-column(12, $collapse: true);
                @include regalwins-button;

                float: left; 
                width: 150px;
                height: 50px;
                padding-top: 15px;
                text-align: center;
                color: $regalwins--highlight-gold;
                font-size: $rw-header-secondary-size;
                line-height: rem-calc(14px);
            }
        }
        .buttons-bar__join {
            @include grid-column(6, $collapse: true);

            a {
                @include regalwins-button-gradient('false', 'orange');
                float: left; 
                width: 150px;
                height: 50px;
                padding-top: 15px;
                text-align: center;
                color: $white;
                border: none;
                font-size: $rw-header-secondary-size;
                font-weight: bold;
                line-height: 1rem;
                text-transform: uppercase;

            }
        }
    }
    // desktop balance bar
    .balance-bar {
        @include grid-column(12, $collapse: true);
        width: 400px;
        margin-right: 10px;
        padding-top: 0;
        float: right;
        overflow: visible;
        
        .balance-display {
            min-width: 180px;
            padding: 9px 40px 12px 29px;
            margin: 5px 0 11px;
            float: right;
            background-size: 10px 12px;
            background-position: 90% center;
            color: $white;
            font-size: $rw-body-small-font-size !important;
            border: 1px solid $regalwins--border;
        }

        .deposit-display {
            float: right;
            margin: 0 7px 0 5px;
            font-size: 12px;
            color: $white;
            background: url("/_images/revamp/common/header/deposit.svg") no-repeat top right;
            background-size: 100% 60px;
            position: relative;
            min-width: 190px;
            min-height: 60px;
            
            .deposit-link {
                position: absolute;
                left: 10px;
                min-width: 170px;
                padding: 1px 46px 0 30px;
                line-height: 4.3;
                vertical-align: middle;
                color: $regalwins--highlight-gold;
                font-size: $rw-body-small-font-size;
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        .balances-bar__link {
            @include list-inline;
            @include grid-column(3, $collapse: true, $float: left);
            background: url(../_images/common/header/balance-divider.png) no-repeat center right;
            &:last-child,
            :nth-last-child(2) {
                background: none;
            }
            a {
                font-family: $ui-font-bold;
                color: $white;
                font-size: 12px;
                font-weight: bold;
                line-height: 22px;
                display: block;
                text-align: center;
                text-transform: uppercase;
                &:hover {
                    color: $regalwins--login;
                }
                .active {}
            }
        }
        .message-inbox {
            @include list-inline;
            width: 15%;
            > .balances-bar__link__inner {
                > .balances-bar__message-inbox__icon {
                    float: left;
                    width: 34px;
                    height: 24px;
                    background: url(../_images/balance-area/icon-magical-message-inbox.png) no-repeat 8px 3px;
                }
                > .balances-bar__message-inbox__value {
                    background: red;
                    font-size: 0.8rem;
                    text-shadow: none !important;
                    position: absolute;
                    margin-top: -5px;
                    margin-left: -20px;
                    height: 20px;
                    display: inline-block;
                    width: 20px;
                    float: left;
                    border-radius: 20px;
                }
            }
        }
        .account-balance {
            width: 30%;
            .balances-bar__link__inner {
                font-size: 13px;
                // text-decoration: underline;
            }
        }
        .moolah-balance {
            width: 25%;
            > .balances-bar__link__inner {
                > .balances-bar__link__icon {
                    float: left;
                    width: 27px;
                    height: 24px;
                    background: url(../_images/balance-area/icon-coin.svg) no-repeat 5px 0px;
                    background-size: 22px 22px;
                }
            }
        }
        .deposit-cta {
            width: 30%;
            > .balances-bar__link__inner {
                width: 79px;
                line-height: 22px;
                font-size: 13px;
                @include rounded-rectangle($radius: 0px, $height: 22px, $width: 100%, $color: $white, $opacity: 0.2);
                // @include background-image(linear-gradient(to top, #009c0c 0%, #009e10 50%, #2caa37 51%, #86c28c 100%));
                background-color:#009c0c;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                &:hover {
                    color: $regalwins--copy-colour;;
                    background-color:$regalwins--hover;
                    // @include background-image(linear-gradient(to top, $global-link-color 0%, #c2f9fd 100%));
                }
            }
        }
    }
}

.header,
.header--logged-in {
    .desktop-nav > li > a.current {
        color: $regalwins--highlight-gold !important;
        text-decoration: underline;

        &:active {
            color: $white;
        }
    }
}

.seo-logo {
    margin: 0;
    padding: 0;
}
