.site-logo {
    float: left;
    width: 100%;
    @media #{$small-only} {
        background: url("../_images/common/regalwins-logo-mobile.svg") left no-repeat;
        text-indent: -11988px;
        background-size: 100%;
        background-position-y: middle;
        width: 137px;
        margin:0 12px 0 12px;
    }
    @media #{$medium-only} {
        background: url("../_images/common/regalwins-logo-mobile.svg") left no-repeat;
        text-indent: -11988px;
        background-position-y: 2px;
         background-size: 89%;
               width: 340px;
    }
    @media #{$large-up} {
        background: url("../_images/common/luckyvip-logo.png") left no-repeat;
        @include grid-column(2);
        text-indent: -11988px;
        background-size: 95px auto;
    }
}