.logout-button--top-nav {
    //@include button-generate(palette(purple, dark), 5px);
    color: $white;
    font-size: 1em;
    // text-decoration: underline;
}

.logout-button--nav-for-mobile {
    @include button-generate(palette(purple, dark), 5px);
    color: $white;
    font-size: 0.8em;
    height: 45px;
    line-height: 45px;
    padding: 0px 0.5em 0px 0.5em;
}