.kitty-club-content {
    .text-partial {
        padding: 0;

        h3 {
            font-family: $body-font-bold;
            color: $brand-color;
            font-weight: normal;
        }
    }

    .kitty-club__intro {
        @include grid-column(12);

        margin-bottom: $site-margin;

        @media #{$medium-up} {
            @include grid-column(9);
        }
    }

    .kitty-club__cta {
        @include grid-column(12);

        padding: 0;
        margin-top: 0;
        margin-bottom: $site-margin;

        @media #{$medium-up} {
            @include grid-column(3);

            padding: 0;
            margin-top: $site-margin;
            margin-bottom: $site-margin * 2;
        }

        a {
            @include grid-column(12);

            @media #{$medium-up} {
                @include grid-column(10);

                float: right;
            }
        }

        .button--join {
            @include grid-column(12);

            position: relative;
            font-size: 1.5em;
            padding: $site-margin;
            height: auto;
            float: right;
            top: 0;
            margin: 0;

            @media #{$medium-up} {
                @include grid-column(10);

                float: right;
            }
        }
    }

    .kitty-club__table-swipe-icon {
        @include hide-for-large-up;

        @include grid-column(12);

        @include transition(all, 0.2s ease-out);

        text-align: center;
        margin-bottom: $site-margin / 2;
        opacity: 0.75;

        img {
            width: 50px;
        }
    }

    .kitty-club__table-arrows-icon {
        @include hide-for-large-up;

        @include grid-column(12);

        margin-bottom: $site-margin / 2;
        display: block;
        position: relative;
        text-align: center;
        opacity: 0.75;

        img {
            width: 40px;
        }
    }

    .kitty-club__table-wrap {
        @include grid-column(12);

        @include border-radius(4px);

        padding: 0;
        margin-bottom: $site-margin;

        @media #{$medium-only} {
            padding: 0;
            overflow-x: scroll;
        }

        @media #{$small-only} {
            padding: 0;
            overflow-x: scroll;
        }

        &:hover {
            .kitty-club__table-touch-icon {
                opacity: 0;
                display: none;
            }
        }

        .kitty-club__table-touch-icon {
            @include hide-for-large-up;

            @include transition(all, 0.2s ease-out);

            display: block;
            position: absolute;
            text-align: center;
            left: 50%;
            transform: translate(-50%, -50%) !important;
            margin-top: 150px;
            opacity: 0.75;
        }

        .kitty-club__table {
            @include grid-column(12);

            @include border-radius(4px);

            border: 1px solid $ui-light-color !important;

            @media #{$small-only} {
                min-width: 750px;
            }

            @media #{$medium-only} {
                min-width: 750px;
            }

            background: $white;
            padding: 0;
            margin: 0;
            display: table;

            h4 {
                font-family: $body-font-regular;
                color: $white;
                background: $ui-light-color;
                padding: 1em !important;
                font-size: 0.875rem;
                font-weight: bold;
                margin: 0;
            }

            .kitty-club__table-row, .kitty-club__table-row__even, .kitty-club__table-row__header {
                @include grid-column(12);

                padding: $site-margin;
                margin: 0;
                display: table-cell;
                vertical-align: middle;

                @media #{$small-only} {
                    padding: ($site-margin / 3) $site-margin;
                }

                .kitty-club__table-row__title {
                    @include grid-column(3);

                    margin: 0;
                    padding: 0;
                    font-family: $body-font-bold;
                    line-height: 1.2;
                    font-size: 1rem;
                }

                .kitty-club__table-row__loyalty {
                    @include grid-column(9);

                    display: table-cell;
                    vertical-align: middle;
                    margin: 0;
                    padding: 0;
                    font-weight: 600;

                    li {
                        @include grid-column(2);

                        text-size-adjust: none;
                        text-align: center;
                        line-height: 1.2;
                        margin: 0;
                        padding: 0;
                        list-style: none;
                    }
                }
            }

            .kitty-club__table-row__header {
                background: $ui-light-color;
                color: $brand-color;
                font-size: 1rem;

                .kitty-club__table-row__title {
                    position: relative;
                    margin-top: 20px;
                }

                img {
                    width: 90%;
                }
            }

            .kitty-club__table-row__even {
                background: lighten($ui-light-color, 20%);
            }
        }
    }

    .kitty-club__terms-conditions {
        font-size: 1em;
        color: $grey-dark;
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;

        .accordion-navigation {
            margin: 0;
            padding: 0;
        }

        .content {
            &.active {
                @include border-radius(4px);

                padding: 0;
                font-size: 1em;
                font-family: $body-font-regular;
                background: $white;
                color: $brand-color;
            }
        }

        a {
            font-family: $title1-font !important;
            color: $global-link-color !important;
            padding: $site-margin !important;
            background: none !important;
            text-decoration: underline;
        }

        a:hover {
            color: darken($global-link-color, 5%);
        }

        @media #{$small-only} {
            font-size: 1em;
            line-height: 1.3em;
        }

        ol {
            font-family: $body-font-regular;
            font-style: normal;
            line-height: 1.5em;
            margin: 0;
            font-weight: bold;
            counter-reset: item;

            li {
                list-style: inherit;
                font-weight: normal;

                // margin-bottom: ($site-margin / 2) !important;
                counter-increment: item;
                list-style-type: none;

                &:before {
                    display: inline-block;
                    width: 1.5em;
                    padding-right: 0.5em;
                    font-weight: bold;
                    text-align: right;
                    content: counter(item) ".";
                }
            }
        }
    }

    table.responsive {
        th {}

        tr {
            border: none;
        }

        td {
            margin: 0 !important;
            padding: ($site-margin / 2) $site-margin;
            width: auto;

            &:before {
                width: auto;
                margin-right: $site-margin / 2;
            }
        }
    }
}