main {
    @include grid-column(12);

    padding: 0;

    /*background-image: linear-gradient(0deg, $portage 0%, #482C9D 100%);*/
    background: $violet;

    .section {
        @media #{$small-only} {
            margin: 0;
            padding: 0;
        }
    }
}
.container {
    max-width: 1440px;
}
.slider-text-link {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    font-size: 11px;

    line-height: 1em;
    font-weight: bold;

    text-align: center;
    padding: 2px;
    left: 0px;
    bottom: 0px;
    width: 98%;
    margin: 1%;
    a {
        color: $white;
        &:hover {
            color: $grey;
        }
    }
    @media #{$medium-only} {
        margin-top: -50px;
        float: left;
        background: rgba(0, 0, 0, 0.3);
    }

    @media #{$large-up} {
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
    }
}

//Terms and Conditions link
.tcs {

    background: rgba(0, 0, 0, 0.2);

    border-radius: 3px;

    padding: 5px;

    width: 98%;
    margin:1% 1% 0 1%;

    font-size: rem-calc(10px);
    line-height: 1em;
    text-decoration: none;
    color: $white;
    position: absolute;
    bottom: 0px;
    z-index: 2;
    font-weight: normal;

    position: relative;
    float: left;
    text-align:center;

    text-shadow: 1px 2px 5px rgba(17, 3, 40, 0.8);

    @media #{$medium-only} {
        font-size: rem-calc(10px);
        line-height: 1em;
        padding: 2px;
        width: 98%;
        margin: 1% 1% 0% 1%;
        bottom: 0px;
    }

    @media #{$large-up} {
        font-size: rem-calc(11px);
        line-height: 1.2em;
        width: 84%;
        
        margin:-2em 8% 0 8%;
    }

    a {
        color: $white;
        font-weight: normal;
        text-decoration: none;
        line-height: 12px;
        &:hover {
            color: $white;
            text-decoration: underline;
        }
    }


    .slider-text-link-copyright {
        font-size: 10px;
        color: $white;
        line-height: 1em;
        font-weight: normal;
        margin-bottom: 0;

        @media #{$medium-only} {
            line-height: 1em;
        }

        @media #{$large-up} {
            font-size: rem-calc(11px);
        }
    }
}

//Video container
.offer-container {
    @include grid-column(12);

    width: 100%;
    padding: 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    //max-height: 400px;
    margin-top: -19px;

    @media #{$small-only} {
        margin-top: 0;
    }

    @media #{$medium-only} {
        margin-top: 0;
    }

    .hero-container {
        background: url("../_images/hp-banner/desktop.jpg") no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 450px;
        padding: 0;


        @media #{$medium-only} {
            background: url("../_images/hp-banner/tablet.jpg") no-repeat;
            background-size: cover;
            min-height: 365px;
            background-position-y: 50%;
        }

        @media #{$small-only} {
            background: url("../_images/hp-banner/mobile.jpg") no-repeat;
            min-height: 320px;
            background-position-y: 50%;
        }

    }

    span {
        &.overlay {
            opacity: 0.3;
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
        }

        &.overlay-pixel {
            opacity: 0.5;
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
            min-height: 600px;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAALElEQVQYV2NkwA18GHHI+TAwMGzBJgmWAGlCl4RLoEuiSCBLYkjAJLFKgCQBNCkGVGnKKTgAAAAASUVORK5CYII=) repeat;
            z-index: 1;
        }
    }
}

.offer {
    @include grid-column(12); // @include center-child;
    padding: 0;
    display: block;
    position: absolute !important;
    width: 100%;
    z-index: 2;
    top: 20%;

    @media #{$medium-only} {
        top: 25%;
    }

    .bonus {

        h1 {
            width: 100%;
            font-size: 90px;
            text-transform: uppercase;
            color: $white;
            letter-spacing: -0.24px;
            line-height: 90px;
            float: left;
            margin-bottom: 10px;
            font-family: $ui-font-heavy;
            font-weight: bold;
            font-size: 75px;
            text-shadow: 1px 4px 5px rgba(17, 3, 40, 0.8);

            @media #{$medium-only} {
                font-size: 60px;
                line-height: 1;
            }

            @media #{$small-only} {
                font-size: 60px;
                line-height: 0.85;
                text-shadow: 1px 4px 2px rgba(17, 3, 40, 0.8);
                padding: 0 20px;
            }
        }

        p {
            width: 100%;
            line-height: 15px;
            font-size: 20px;
            font-weight: 500;
            color: $white;
            float: left;
            margin: 0;
            margin-bottom: 10px;
            text-shadow: 1px 4px 10px rgba(17, 3, 40, 0.8);
            font-family: $ui-font-bold;

            @media #{$small-only} {
                font-size: 15px;
                line-height: 1;
                text-shadow: 1px 3px 2px rgba(17, 3, 40, 0.8);
            }

            @media #{$medium-only} {
                font-size: 25px;
            }

            &.no-deposit {
                color: $white;
                padding: 7px 10px;
                border-radius: 4px;
                font-size: 30px;
                line-height: 0;
                text-transform: uppercase;

                @media #{$small-only} {
                    font-size: 20px;
                }
            }

            &span {
                font-size: 20px;
                font-family: $ui-font-bold;
            }
        }
    }

    .join-now,
    a.join-now {
        font-family: $ui-font-bold;
        font-weight: 800;
        font-size: 25px;
        text-transform: uppercase;
        color: $violet;
        background-image: linear-gradient(-180deg, #B6F6FF 0%, #00F0FF 100%);
        border-radius: 50px;
        line-height: 2.5;
        text-align: center;
        text-decoration: none;
        float: none;
        display: inline-block;
        margin-top: 25px;

        @media #{$small-only} {
            @include grid-column(10, $center: true);

            font-size: 20px;
            animation: glow 1s infinite;
            margin-top: 10px;
        }

        @media #{$medium-only} {
            @include grid-column(3, $center: true);

            margin-top: 20px;
            font-size: 20px;
        }

        @media #{$large-up} {
            @include grid-column(3, $center: true);

            margin-top: 20px;
            font-size: 25px;
        }
    }

    .join-now:hover,
    a.join-now:hover,
    a.join-now-bt:hover,
    a.login-bt:hover {
        box-shadow: none;
        background-image: linear-gradient(-180deg, $white 0%, $white 92%);
    }
}

.categories-slots-wrap {
    @include grid-column(12);

    @include show-for-medium-up;

    padding: 0;
    margin-bottom: $site-margin * 4;

    li {
        @include grid-column(4);

        width: 20%;
        margin: 0;
        padding: 0;

        a img {
            opacity: 1;
            width: 100%;
            float: left;

            &:hover {
                opacity: 0.85;
            }
        }
    }
}



/* FEATURE SLOTS SECTION */

.feature-slots {
    // @include grid-box-1440;
    margin: 0 auto;
    padding: ($site-margin * 3) ($site-margin * 2);

    @media #{$small-only} {
        padding: 0;
    }

    ul {
        @include grid-column(12);

        padding: 0;
        margin: 0;
    }

    li {
        @include grid-column(12);

        padding: ($site-margin * 2) $site-margin;
        padding-bottom: 0;

        @media #{$medium-up} {
            @include grid-column(4);

            padding: 30px 10px;
        }

        @media (min-width: 453px) and (max-width: 740px) {
            @include grid-column(12);
        }

        @media #{$large-up} {
            padding: 40px 20px;
        }

        nav {
            @include grid-column(12);

            padding: 0;
            margin-bottom: 10px;
            position: relative;
        }

        &.vegas-favourites h3 {
            background: url("../_images/common/icons/slots-we-love.svg") no-repeat left center;
            background-size: 20px;
        }

        &.new-on-the-strip h3 {
            background: url("../_images/common/icons/hot-icon.png") no-repeat left center;
            background-size: 15px;
        }

        &.rocking-slots h3 {
            background: url("../_images/common/icons/guitar-icon.png") no-repeat left center;
            background-size: 15px;
        }

        h3 {
            @include grid-column(12);

            font-size: 1rem;
            text-transform: none;
            color: $white;
            padding-left: 25px;
            font-weight: 500;

            @media #{$medium-only} {
                font-size: 0.70rem;
            }

            @media #{$small-only} {
                font-size: 0.75rem;
            }
        }
    }

    a.view-all {
        font-size: 1rem;
        font-weight: 500;
        color: $global-link-color;
        text-decoration: none;
        line-height: 1.6;
        background: url("../_images/common/icons/link-arrow.svg") no-repeat right -9px center;
        padding-right: 20px;
        background-size: 32px 30px;
        position: absolute;
        right: 0;

        @media #{$medium-only} {
            font-size: 0.70rem;
        }

        @media #{$small-only} {
            font-size: 0.75rem;
        }
    }
}



/*category carousel*/

.slots-carousel {
    margin: 0;
    padding: 0;
    float: left;
}

.slots-carousel li {
    @include grid-column(12);

    margin: 0;
    padding: 0;

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .game-overlay {
        opacity: 0;
        transition: all 0.4s ease-in-out;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        @media #{$small-only} {
            display: none;
        }

        @media #{$medium-only} {
            display: none;
        }

        &:hover {
            opacity: 1;
        }

        .game-overlay__inner {
            //@include center-child;
            text-align: center;
            margin-top: 30%;

            a {
                margin: 0;

                &.more-info {
                    margin-top: 10px;
                    float: left;
                    color: $aqua;
                    text-align: center;
                    width: 100%;
                    z-index: 5;
                }

                &.play-now {
                    border-radius: 20px;
                    text-align: center;
                    line-height: 2.3;
                    color: $violet;
                    font-size: 16px;
                    font-weight: 800;
                    background-image: linear-gradient(-180deg, $french-pass 0%, $aqua 100%);
                    text-transform: uppercase;
                    text-shadow: none;
                    text-decoration: none;
                    padding: 10px 15px;

                    &:hover {
                        box-shadow: none;
                        background-image: linear-gradient(-180deg, $white 0%, $white 92%);
                    }
                }
            }
        }
    }

    .game-overlay-small-up a {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        @media #{$large-up} {
            display: none;
        }
    }
}

.slots-carousel .owl-pagination {
    position: relative;
    width: 100%;
    bottom: 0px;
}

.slots-carousel .owl-buttons {
    position: absolute;
    width: 100%;
    top: 36%;

    @media #{$medium-only} {
        top: 30%;
    }
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}



.owl-theme .owl-controls .owl-buttons div {
    font-family: $body-font-regular;
    font-size: 18px !important;
    color: $white;
    line-height: 1.3;
    opacity: 1 !important;
    border-radius: 20px;
    height: 30px;
    width: 30px;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.3) url("../_images/common/icons/prev-next-arrow.svg") no-repeat center center;
    transform: rotate(180deg);
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.3) url("../_images/common/icons/prev-next-arrow.svg") no-repeat center center;
}

.slots-carousel.owl-theme .owl-controls .owl-page span {
    background: $white !important;
    opacity: 1 !important;
    width: 8px;
    height: 8px;
}

.slots-carousel.owl-theme .owl-controls .owl-page.active span {
    background: $aqua !important;
    opacity: 1 !important;
}

.background-video {
    background-position: top center;
    min-height: 450px;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    overflow: hidden;
    right: 0;
    top: 0;
}



/* SEO SECTION */

.seo {
    margin: 0 10%;
}

.seo h1 {
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: rem-calc(25);
    line-height: 1.3;
    text-align: left;
    text-transform: none;
}
/* 
Commented old read more functionality 
Old read more
.seo p {
    color: $white;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    margin: 1em 0;
}

.seo p.open {
    white-space: normal;
    overflow: visible;
}

.seo p:after {
    content: 'Read more';
    cursor: pointer;
    position: relative;
    font-size: 0.8333rem;
    float: left;
    color: $global-link-color;
    width: 100%;
    line-height: 3;
}

.seo p.open:after {
    content: 'Close';
}
*/


// Glow Animation on the Mobile Join Now CTA
@keyframes glow {
    from {
        box-shadow: 0px 0px 10px 0px #1ae4ff;
    }

    50% {
        box-shadow: 0px 0px 0px 0px #00a6bb;
    }

    to {
        box-shadow: 0px 0px 10px 0px #1ae4ff;
    }
}


//Animate (video slider text)
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

//NO DEPOSIT FadeInDown
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

//20 FREE SPINS FadeInUp
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}