.cookie-policy {
    .container {
        width: 62.5rem;
        margin: 0 auto;
        position: relative;
    }
}

.responsible-gaming-modal {
	.responsible-gaming-popup {
		background-color: #fafafc !important;

		.title {

			h1 {
				color:#8240ae !important;
			}
		}

		.copy {

			p {
				color:#8240ae !important;
			}
		}

		.terms {
			p {
				color: #8240ae !important;

				a {
					color: #8240ae !important;
				}
			}
		}
	}
}

