//Modal overlay

#terms-modal {
    @media #{$small-only} {
        min-height: 0 !important;
        padding-top: 0 !important;
    }

    .terms-modal__top-row {
        @include grid-column(12);

        @media #{$small-only} {
            @include grid-column(12);

            display: block;
        }

        h1 {}
    }

    .terms-modal__text-wrapper {
        @include grid-column(12);

        // height: 160px;
        overflow-y: scroll;
        font-size: 12px;
        float: left;

        @media #{$small-only} {
            @include grid-column(12);

            max-height: 200px;
            float: left;
        }
    }

    .terms-modal__bottom-row {
        @include grid-row;

        .terms-cancel {
            @include grid-column(6, $float: left);

            font-family: $body-font-regular;
            color: lighten(black, 60%);
            font-size: 11px;
            margin-top: 60px;
            text-decoration: underline;

            @media #{$small-only} {
                @include grid-column(12, $float: right);

                margin-top: 0 !important;
            }
        }

        .button--join {
            @include grid-column(6, $float: right);

            @include green-cta-color;

            box-shadow: none;
            height: 50px;
            float: right;
            margin-right: 0px;
            margin-top: 30px;
            text-align: center;
            padding-top: 15px;
            font-size: 140%;
            color: white;

            &:hover {
                @include green-cta-color;

                box-shadow: none;
                color: white;
            }

            @media #{$medium-only} {
                @include grid-column(6, $float: right);

                font-size: 120%;
            }

            @media #{$small-only} {
                @include grid-column(12, $float: left);

                font-size: 95%;
                margin-top: 15px;
            }
        }
    }
}

#promo-terms-and-conditions-modal {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    border-radius: 50%;
    width: 355px !important;
    height: auto;
    margin: 0;
    padding: 6px !important;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2) !important;
    overflow: visible;

    //    @media #{$small-only} {
    //        @include grid-column(12);

    //        margin-top: 0 !important;
    //        border-radius: 0;
    //        width: 100% !important;
    //    }

    //    @media #{$medium-only} {
    //        @include grid-column(6);
    //    }

    //    @media #{$large-up} {
    //        @include grid-column(4);
    //    }

    .close-reveal-modal {
        color: #5820A9;
        cursor: pointer;
        font-size: 2.5rem;
        font-weight: normal;
        line-height: 1;
        position: absolute;
        top: 0.625rem;
        right: 3.375rem;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        padding-left: 11px;
        background-color: white;
    }

    .cta-login {
        width: 50%;
        float: right;
    }
}

.accept-terms-content {
    .cta-confirm {
        @media #{$medium-up} {
            @include grid-column(12, $center: true);

            top: $site-margin;
        }

        @include grid-column(10);

        width: 93%;
        margin: 0 3%;
        padding: 12px 20px !important;
        top: 0;
        position: relative;
    }
}