// =============================================================================
// Game Details - SEO Page
// =============================================================================

.bingo-details-page {
    @include grid-column(12);
    padding-top: $site-margin;
    height: auto;
    font-family: $body-font-regular;
    margin-bottom: $site-margin;
    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
        padding-top: 0px;
        margin-top: 0px;
        border: none;
    }
    .section__title {
        background-color: $main-highlight-color;
        font-size: 1.8em;
        color: $yellow-light-bg;
        padding: 5px 0px 5px 10px;
    }
    .two-columns-content-wrap {
        .two-columns-content-wrap__left {
            padding-right: $site-margin / 2;
        }
        .two-columns-content-wrap_right {
            padding-left: $site-margin / 2;
        }
    }
    .bingo-detail-wrap__title-bar {
        @include grid-column(12, $collapse: true);
        width: 100%;
        font-family: $body-font-regular;
        text-transform: uppercase;
        color: $white;
        font-size: rem-calc(24px);
        background-color: black;
        @include vert-align(38px);
        margin-bottom: $site-margin;
        padding-left: $site-margin;
        @media #{$small-only} {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
    .bingo-detail-content {
        @include grid-row;
        margin-bottom: $site-margin;
        background-color: $white;
        padding: 10px;
        .bingo-detail-content__right {
            @include grid-column(5, $collapse: true);
            padding-right: 0px;
            background-color: white;
            @media #{$medium-only} {
                @include grid-column(6);
            }
            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
            }
            img {
                width: 100%;
                margin-bottom: $site-margin;
            }
            > article.login-box > h1 {
                font-size: 1em;
            }
        }
        .bingo-detail-content__left {
            @include grid-column(7, $collapse: true, $float: left);
            @media #{$medium-only} {
                @include grid-column(6);
            }
            @media #{$small-only} {
                @include grid-column(12, $collapse: true);
                margin-top: 0px;
                margin-bottom: $site-margin;
            }
            position: relative;
            .play-now-button {
                position: relative;
                top: 22%;
                width: 135px;
                height: 150px;
            }
            .overlay-holder {
                position: relative;
            }
            .overlay {
                position: absolute;
                height: 100%;
                @include grid-column(12, $collapse: true, $float: left);
                @media #{$medium-only} {
                    @include grid-column(12, $collapse: true);
                }
                @media #{$small-only} {
                    @include grid-column(12, $collapse: true);
                }
                height: 100%;
                background-color: #000;
                @include opacity(0.6);
                z-index: 888;
                text-align: center;
            }
            img {
                width: 100%;
                height: auto;
                @include opacity(1);
                padding-right: 10px;
            }
            .bingo-detail-content__left__thumbnail {
                @include grid-column(6, $collapse: true);
                @media #{$small-only} {
                    @include grid-column(6, $collapse: true);
                }
                padding-top: $site-margin;
            }
        }
        .bingo-detail-content__progressive-icons {
            @include block-grid(4);
            margin: 0px;
            margin-top: 10px;
        }
        .bingo-detail-content__acquisition {
            @include grid-column(12, $collapse: true);
            margin-top: 1em;
            border: 0px;
            .text-partial {
                background-color: transparent;
                padding: 25px 5px 5px 5px;
                border: 1px dashed $base-light-blue !important;
                margin-bottom: 15px;
                p {}
                > h1 {
                    font-size: 1.6em;
                    color: #E44B0C;
                    font-family: $title1-font;
                    font-family: "Chowderhead", Helvetica, Arial, sans-serif;
                    text-transform: capitalize;
                    border: none;
                    margin-bottom: 0px;
                    padding: 8px;
                    text-align: center;
                    line-height:18px;

                    @media #{$small-only} {
                        font-size: 1em;
                    }
                }
            }
        }
        .bingo-detail-content__acquisition__cta {
            > div {
                @include grid-column(6);
                @media #{$small-only} {
                    @include grid-column(12);
                }
            }
        }
    }
    .bingo-detail__wrap {
        @include grid-column(12, $last_column: true);
        line-height: 22px;
        p {
            font-family: $body-font-regular;
            font-size: rem-calc(12px);
            color: $grey-dark;
            margin-bottom: 18px;
        }
        h3 {
               color: $main-highlight-color;
            font-family: $title1-font;
            font-size: 1.2em;
            padding: 5px;
            margin-top: 0px;
            // background-color: $base-blue;
            text-transform: uppercase;
            font-style: initial;
            border-bottom: 1px solid $yellow-dark;
        }
        a {
            color: $brand-color;
        }
    }
    .game-icon-wrap {
        @include grid-column(4);
        @extend .hide-for-medium;
        @extend .hide-for-small;
        @media #{$medium-only} {
            @include grid-column(6);
        }
        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
        }
        img {
            width: 100%;
            margin-bottom: $site-margin;
        }
    }
    .bingo-detail-content__right__game-table {
        font-size: 15px;
        color: $grey-dark;
        font-family: $body-font-regular;
        margin-left: 0px !important;
        padding-left: 10px;
        padding-right: 10px;
        ul {
            list-style: none !important;
        }
        > li {
            list-style: none;
            font-size: rem-calc(12px);
            border-bottom: 1px solid $grey;
            @include vert-align(27px);
            @media #{$medium-only} {
                @include vert-align(34px);
            }
            @media #{$small-only} {
                font-size: rem-calc(14px);
                @include vert-align(36px);
            }
            .bingo-detail-content__right__game-table__title {
                width: 120px;
                padding-right: $site-margin;
                display: inline-block;
                color: $brand-color;
                @media #{$small-only} {
                    width: 50%;
                }
            }
        }
        @media #{$medium-only} {
            @include grid-column(12, $collapse: true);
        }
    }

    .cta-login {
        @include grid-column(5, $float: left);
        width: 47%;
        margin-right: 10px;
        margin-top: 5px;
        @media #{$small-only} {
            @include grid-column(12);
        }
    }
    .cta-join {
        @include grid-column(5, $float: right);
        width: 47%;
        margin-top: 5px;
        @media #{$small-only} {
            @include grid-column(12);
        }
    }
}

.game-description {
    @include grid-column(12, $float: right, $last_column: true);
    margin-right: 0px;
    @media #{$medium-only} {
        @include grid-column(6);
    }
    @media #{$small-only} {
        @include grid-column(12, $collapse: true);
    }
    > h1 {
        @include grid-column(12, $collapse: true);
        width: 100%;
        font-family: $body-font-regular;
        color: $white;
        font-size: rem-calc(24px);
        background-color: $brand-color;
        @include vert-align(38px);
        margin-bottom: $site-margin;
        padding-left: $site-margin;
    }
    > p {}
}

.games-detail-page__bottom {
    .banner {
        margin-bottom: 1em;
    }
}