.bingo-schedule {
    @include grid-column(12, $collapse: true, $float: left);
    height: auto;
    &:after {
        clear: both;
    }
    .tabs-content {
        margin-bottom: 0;
    }
    // Bingo Schedule Category Tabs
    .bingo-schedule__tabs {
        @extend .show-for-medium-up;
        @include grid-column(12, $collapse: true, $float: left);
        height: 25px;
        margin-bottom: $site-margin / 1.8;
        dl.tabs {
            height: 25px;
            @include grid-column(12, $collapse: true, $float: left);
            dd {
                @include grid-column(2, $collapse: false, $float: left);
                //override column width to 20% so that 5 tabs fit in the tab bar
                width: 20%;
                height: 25px;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
                a {
                    background-color: $ctacolor;
                    font-family: $title1-font;
                    font-size: 14px;
                    color: $white;
                    padding: 0;
                    padding-left: 0.4em;
                    padding-right: 0.4em;
                    height: 25px;
                    line-height: 25px;
                    text-align: center;
                    border-radius: 3px;
                    &:hover {
                        background-color: $ctacolor-hover;
                    }
                }
                &.active {
                    a {
                        background-color: #23babe;
                    }
                }
            }
        }
    }
    // bingo schedule features header
    .bingo-schedule__header {
        @include grid-column(12, $collapse: true, $float: left);
        @extend .hide-for-small;
        background: #ffbfd9;
        height: 20px;
        list-style: none;
        margin: 0;
        border-radius: 3px;
        .bingo-schedule__header__title {
            padding: 0.4em;
            padding-top: 0;
            padding-bottom: 0;
            font-family: $title1-font;
            font-size: 12px;
            text-transform: uppercase;
            height: 20px;
            line-height: 20px;
            color: $white;
            text-align: left;
        }
    }
    // bingo schedule rows and single row
    .bingo-schedule__rows {
        @include grid-column(12, $collapse: true, $float: left);
        list-style: none;
        margin: 0;
        height: auto;
        @media #{$large-up} {
            max-height: 185px;
            overflow-y: hidden;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .bingo-schedule__row__items {
            background-color: #F5F5F5;
            &.alt {
                background-color: #E7EFF4;
            }
            &.active {
                background-color: #E5F9E4;
            }
            @include grid-column(12, $collapse: true, $float: left);
            list-style: none;
            margin: 0;
            height: auto;
            margin-top: 5px;
            clear: both;
            &.funded {
                opacity: 0.4;
                cursor: default;
            }
            @media #{$small-only} {
                background-color: #f7f2e6;
                padding: 10px;
                margin-bottom: 14px;
                border: 1px solid #f2ede3;
                border-radius: 4px;
            }
            &:after {
                clear: both;
            }
            > .bingo-schedule__row__item {
                cursor: pointer;
                padding: 1;
                padding-top: 0;
                padding-bottom: 0;
                padding-right: 0;
                text-align: left !important;
                font-size: 13px;
                @include vert-align(25px);
                @media #{$small-only} {
                    height: auto;
                    line-height: 16px;
                    text-align: center !important;
                }
                font-family: $title1-font;
                text-align: center;
                &:after {
                    clear: both;
                }
                &.funded {
                    cursor: default;
                    @media #{$large-up} {
                        width: 10%;
                        max-width: 50px;
                    }
                    @media #{$medium-up} {
                        max-width: 50px;
                        padding-left: 1px;
                        padding-right: 1px;
                    }
                    .bingo-schedule__row__items_play {
                        background-color: #676767;
                        line-height: 11px;
                        height: 25px;
                        margin-top: 0px;
                        text-transform: uppercase;
                        cursor: default;
                        @media #{$large-up} {}
                    }
                    .bingo-schedule__row__items_play--small {
                        background-color: #676767;
                        text-shadow: 1px 1px 0px #676767;
                    }
                }
            }
        }
    }
    // schedule columns
    .room-name-col {
        @include grid-column(3, $collapse: true, $float: left);
        @media #{$small-only} {
            @include grid-column(12, $collapse: true, $float: left);
            font-size: 18px !important;
            margin-bottom: 8px;
            text-transform: uppercase;
        }
        text-align: left !important;
    }
    .room-name-col .icon {
        background-color: $base-red;
        padding: 2px;
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 100%;
        color: $white;
        font-size: 10px;
        font-family: $title1-font;
        margin-right: 5px;
        @media #{$small-only} {
            padding: 6px;
            padding-left: 7px;
            padding-right: 7px;
            text-align: center;
        }
        &.ninety {
            background-color: #7E0C3A;
        }
        &.seventy-five {
            background-color: #7E0C3A;
        }
        &.five-l {
            background-color: #7E0C3A;
        }
        &.prebuy {
            background-color: #7E0C3A;
        }
    }
    .feature-col {
        @extend .show-for-medium-up;
        @include grid-column(1, $collapse: true, $float: left);
        text-align: left;
        img {
            margin-top: -2px;
            min-height: 26px;
            min-width: 25px;
            max-height: 26px;
            max-width: 25px;
        }
    }
    .jackpot-col {
        @include grid-column(3, $collapse: true, $float: left);
        @media #{$small-only} {
            @include grid-column(12, $collapse: false, $float: left);
            font-size: 16px !important;
            background-color: #ffffff;
            border: 1px solid #EAEAEA;
            padding: 5px !important;
            margin-bottom: 7px;
            color: #C11258;
            border-radius: 4px;
        }
        text-align: left;
    }
    .price-col {
        @extend .show-for-medium-up;
        @include grid-column(1, $collapse: true, $float: left);
        text-align: left;
    }
    .starts-col {
        @include grid-column(3, $collapse: true, $float: left);
        text-align: left !important;
        font-size: 11px;
        @media #{$medium-only} {
            width: 26%;
        }
        @media #{$small-only} {
            @include grid-column(12, $collapse: true, $float: left);
            text-align: center !important;
            font-size: 16px !important;
            margin-bottom: 7px;
        }
        .starts-for-mobile {
            @extend .show-for-small;
        }
    }
    .play-col {
        @include grid-column(1, $collapse: true, $float: right);
        text-align: right;
        @media #{$medium-up} {
            max-width: 50px;
        }
        @media #{$medium-only} {
            @include grid-column(2, $collapse: true, $float: left);
            width: 12%;
            max-width: 50px;
        }
        @media #{$small-only} {
            @include grid-column(6, $collapse: true, $float: left, $center: true);
        }
        .bingo-schedule__row__items_play {
            @extend .show-for-medium-up;
            font-family: $button-font;
            font-size: 9px;
            height: 18px;
            background-color: $green;
            padding: 2px;
            color: $white;
            text-align: center;
            line-height: 17px;
            height: 22px;
            margin-top: 2px;
            text-transform: uppercase;
            cursor: pointer;
            border-radius: 3px;
            &:hover {
                color: $white;
                background-color: lighten($green, 6%);
            }
        }
        .bingo-schedule__row__items_play--small {
            @extend .show-for-small;
            @include grid-column(12, $collapse: true, $float: left);
            font-size: 18px;
            text-transform: uppercase;
            background-color: $green;
            text-align: center;
            padding: 10px;
            color: $white;
            font-family: $button-font;
            border-radius: 2px;
            text-shadow: 1px 1px 0px darken($green, 8%);
            border-radius: 3px;
        }
    }
}

.mobile-bingo-menu {
    @extend .show-for-small;
    .button.dropdown {
        font-size: 13px;
        font-family: $title1-font !important;
        padding: 0.2em;
        width: 150px;
        margin: 0;
        background-color: transparent;
        color: $ctacolor;
        &:focus {
            outline: 0;
        }
    }
    button.dropdown::after {
        border-color: $ctacolor transparent transparent transparent;
    }
    #drop1 > li > a {
        text-align: center;
    }
}

.dektop-bingo-link {
    @extend .show-for-medium-up;
    @extend .hide-for-small;
}

.home .mobile-hide-bingo,
.lobby-wrap .mobile-hide-bingo {
    @extend .hide-for-small;
}

.home .mobile-show-bingo,
.lobby-wrap .mobile-show-bingo {
    @extend .hide-for-medium-up;
    background-color: $white;
    padding: $site-margin * 1.5;
    padding-top: 10px;
    h1 {
        font-family: $title1-font;
        font-size: 15px;
        line-height: 15px;
        color: $base-red;
        padding-left: 0;
    }
}

.desktop-bingo-link {
    @extend .show-for-large-up;
    font-size: 14px;
    padding: 0px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: underline;
    cursor: pointer;
    text-align: right;
    height: 0px;
}

// this hides the bingo schedule tabs only within start oage when logged in as requested in DEV-4021
.lobby-wrap__content-box .bingo-schedule .bingo-schedule__tabs {
    display: none !important;
}
