// bingo content part 1

.bingo-content {
    h1 {
        @include grid-column(12);
        color: $main-highlight-color;
        padding-left: 0px;
    }
    .section .section__title {
        @include grid-column(12);
        font-size: 2em;
        font-family: $title1-font;
        color: $yellow-light-bg;
        padding-left: 20px;
        background-color: $base-blue;
        border: none;
        a {
            color: $yellow-light-bg;
            font-size: 1.6em;
        }
        a:hover {
            color: $yellow-dark;
        }
        span {
            @include grid-column(2, $collapse: true right);
            color: $yellow-light-bg;
            float: right;
            text-align: right;
            padding-right: 20px;
            padding-top: 10px;
            font-size: 0.7em !important;
            display: block;
        }
    }
}

.separator {
    @include grid-column(12);
    height: 30px;
}

.bingo-content__title {
    .bingo-content__title__title1 {
        @include grid-column(8);
        h1 {
            @include grid-column(2);
            font-family: $title-section !important;
            font-size: 2em;
        }
    }
}

// content bingo part1

.bingo-content__part1 {
    @include grid-row;
    height: auto;
    margin-bottom: 20px;
    .bingo-content__part1__left {
        @include grid-column(4);
        @media #{$small-only} {
            @include grid-column(12);
        }
    }
    .bingo-content__part1__center {
        @include grid-column(4);
                @media #{$small-only} {
         display: none;
        }
    }
    .bingo-content__part1__right {
        @include grid-column(4);
                @media #{$small-only} {
            display: none;
        }
    }
}

// bingo content part 2

.bingo-content__part2 {
    @include grid-row;
    height: auto;
    margin-bottom: 20px;
    .bingo-content__part2__left {
        @include grid-column(4);
    }
    .bingo-content__part2__center {
        @include grid-column(4);
    }
    .bingo-content__part2__right {
        @include grid-column(4);
    }
}

// content hub bottom

.main-content-hub__bottom {
    @include grid-column(12, $collapse: true);
    height: auto;
}