.bingo-list {
    font-size: 1rem;
    margin-bottom: 24px !important;
    background-color: $yellow-banana;
    .section__header {
        margin-left: 7px;
        margin-right: 7px;
    }
    .section__title {
        margin-bottom: 7px !important;
        width: 100% !important;
    }

    margin-bottom: 7px;
    padding-bottom: 0px !important;
    .bingo-list__filter {
        float: left;
        @media #{$small-only} {
            @include grid-column(8);
            // padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(4);
            padding: 0px;
        }
        .bingo-list__filter__button {
            @include button($button-med, $primary-color, false, true, false, false);
            @include dropdown-button;
            @extend .expand!optional;
        }
        .button {
            font-size: 0.8em;
        }
    }
    .bingo-list__search {
        float: left;
        @media #{$small-only} {
            display: none;
        }
        @media #{$medium-up} {
            @include grid-column(6);
        }
    }
    .bingo-list__search-wrapper {
        float: left;
        @include grid-column(12);
    }
    .bingo-list__search-wrapper__left {
        float: left;
        @include grid-column(8);
    }
    .bingo-list__search-wrapper__right {
        float: left;
        @include grid-column(4);
        >span {
            // @extend .postfix;
            @include button($button-med, $grey, $global-radius, false, false, false);
            @extend .secondary!optional;
        }
    }
    .bingo-list__display-mode {
        float: left;
        @media #{$small-only} {
            padding-right: 0px;
            @include grid-column(4);
        }
        @media #{$medium-up} {
            @include grid-column(2);
        }
        >div {
            float: left;
            @include grid-column(6);
            padding: 0px;
            >a {
                @include button($button-med, $base-blue, false, true, false, false);
            }
        }
    }
    .bingo-list__grid {
        @include grid-column(12, $collapse: true);
        padding: 1px !important;
        margin-bottom: $site-margin;
    }
    .bingo-list__grid__child {
        padding: 7px !important;
        @media #{$small-only} {
            @include grid-column(6, $collapse: true);
        }
        @media #{$medium-only} {
            @include grid-column(3, $collapse: true);
        }
        @media #{$large-up} {
            @include grid-column(3, $collapse: true);
        }
    }
    .bingo-list__popular-bingo {
        .slick-slide {
            padding: 0.5em !important;
        }
    }
}

.home-bingo {
    padding-bottom: 14px !important;
    margin-bottom: 34px;
}