.winners-slider {
    @media #{$small-only} {
        max-width: 300%;
        width: 100%;
        height: rem-calc(233px);
        white-space: nowrap;
        overflow-x: scroll !important;
        overflow-y: hidden;
    }
    @media #{$medium-only} {
        padding-bottom: rem-calc(15px);
    }
}
.latest-winners__wrapper {
    width: 100%;
    position: relative;
    margin-bottom: $site-margin;
    background: $start-progesstive-jackpot-bg;
    padding: rem-calc(20px);
    .bx-viewport {
        min-height: rem-calc(300px);
    }
    @media #{$medium-only} {
        padding: rem-calc(20px) rem-calc(20px) rem-calc(0px) rem-calc(20px);
        margin-bottom: rem-calc(20px);
    }
    @media #{$small-only} {
        padding: rem-calc(20px) rem-calc(20px) rem-calc(10px) rem-calc(20px);
        margin-bottom: rem-calc(20px);
    }
    img.hub-shape-holder {
        top: 0px;
        left: 0px;
        position: absolute;
        z-index: -1;
    }
    .latest-winners {
        position: relative;
        @media #{$small-only} {
            height: auto !important;
        }
        @media #{$medium-only} {
            height: auto !important;
        }
        .latest-winners__title {
            h1 {
                height: 25px;
                color: $black;
                font-family: $font-header2;
                font-size: rem-calc(16px);
                margin-top: 0px;
                text-transform: uppercase !important;
                &:before {
                    content: " ";
                    width: 22px;
                    height: 22px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: block;
                    float: left;
                    margin-right: 10px;
                    background-image: url(../_images/common/trophy-icon-black.svg);
                }
            }
        }
        .latest-winners__winner { 
        cursor: pointer;
        @include clearfix;
        height: auto;
        background-color: $white;
        margin-bottom: 3px;
        width: rem-calc(209px) !important;
        display: inline-block;
        margin-right: rem-calc(10px);
        @media #{$large-up} {
            @include clearfix;
            width: 100% !important;
            margin-top: rem-calc(-3px);

            background-color: $white;
            min-height: rem-calc(60.516px);
        }
        .latest-winners__winner__icon {
            cursor: pointer;
            width: rem-calc(209px);
            float: left;
            margin-right: 4%;
            @media #{$large-up} {
                width: 29%;
                height: rem-calc(55px);
                margin-right: 0%
            }
        }
        .latest-winners__winner__player-name {
            padding-left: rem-calc(12px);
            padding-top: 5px;
            line-height: 100%;
            height: 20%;
            max-height: rem-calc(20px);
            overflow: hidden;
            >span {
                font-family: $font-button;
                font-size: rem-calc(12px);
                overflow: hidden;
                max-height: rem-calc(20px);
                >a {
                    color: #5b5b5b;
                }
            }

            @media #{$small-only} {
                padding-top: rem-calc(2px);
                padding-left: rem-calc(5px);
            }

            @media #{$medium-only} {

                padding-left: rem-calc(5px);
            }
        }
        .latest-winners__winner__amount {
            padding-left: rem-calc(12px);
            height: 20%;
            max-height: rem-calc(20px);
            >span {
                //text style
                font-family: $font-header1;
                font-size: rem-calc(16px);
                color: $black;
                letter-spacing: 0;
                line-height: 20px;
                max-height: rem-calc(20px);
                >a {
                    color: $white;
                }
            }
            @media #{$small-only} {
                padding-left: rem-calc(5px);
            }
            @media #{$medium-only} {
                padding-left: rem-calc(5px);
            }
        }
        .latest-winners__winner__game-name {
            padding-left: rem-calc(12px);
            font-family: $ui-font-bold;
            height: 20%;
            max-height: rem-calc(20px);
            span {
                display: block;
                font-family: $font-button;
                font-size: rem-calc(10px);
                overflow: hidden;
                text-transform: uppercase;
                max-height: rem-calc(20px);
                @media #{$small-only} {
                    font-size: 90%;
                }
            }
            @media #{$small-only} {
                padding-left: rem-calc(5px);
            }
            @media #{$medium-only} {
                padding-left: rem-calc(5px);
            }
        }
        .latest-winners__winner__cta {
            cursor: pointer;
            padding-top: 7%;
            height: 20%;
            >span {
                @media #{$large-up} {
                    display: inline-block;
                    margin-top: rem-calc(-12.5px);
                }
                display: block;
                @include border-radius(100px);
                background: $button--bg;
                font-family: $font-button;
                width: rem-calc(76px);
                height: rem-calc(27px);
                line-height: rem-calc(27px);
                text-align: center;
                text-transform: uppercase;
                font-size: rem-calc(13px);
                &:hover {
                    background: $button--bg-hover;
                }
                >a {
                    display: block;
                    color: $button--text;
                    &:hover {
                        color: $button--text;
                    }
                }
            }

            @media #{$small-only} {
                padding-left: rem-calc(5px);
            }
            @media #{$medium-only} {
                padding-left: rem-calc(5px);
            }
        }
    }
}

}

.latest-winners__winner {
    margin-bottom: 3px;
    @media #{$small-only} {
    }
    .latest-winners__winner__icon {
        @include grid-column(3, $collapse: true);
    }
    .lastestwinners__wrapper {
        @include grid-column(4, $collapse: true);
        @media #{$small-only} {
            @include grid-column(7, $collapse: true);
        }
        @media #{$medium-only} {
            @include grid-column(7, $collapse: true);
        }
    }
    .latest-winners__winner__player-name {
        @include grid-column(12, $collapse: true); // span {
    }

    .latest-winners__winner__game-name {
        @include grid-column(12, $collapse: true); // span {
    }

    .latest-winners__winner__amount {
        @include grid-column(12, $collapse: true); // span {
    }
    .latest-winners__winner__cta {
        @include grid-column(4, $collapse: true, $float: right); // span {
        @media #{$small-only} {
            @include grid-column(5, $collapse: true);
        }
        @media #{$medium-only} {
            @include grid-column(5, $collapse: true);
        }
    }
}