.progressive-jackpots__wrapper {
    width: 100%;
    position: relative;
    margin-bottom: $site-margin;
    background: $start-progesstive-jackpot-bg;
    padding: rem-calc(20px);
    @media #{$medium-only} {
        overflow-x: scroll !important;
        overflow-y: hidden;
        margin-bottom: 0;
        padding: rem-calc(20px);
    }
    @media #{$small-only} {
        overflow-x: scroll !important;
        overflow-y: hidden;
        margin-bottom: 0;
        padding: rem-calc(10px);
    }
    img.hub-shape-holder {
        // fix for stopping scale issue by using an html image element
        top: 0px;
        left: 0px;
        position: absolute;
        z-index: -1;
    }
    .jackpot-slider {
        @media #{$medium-only} {
            max-width: 300%;
            width: 100%;
            height: rem-calc(233px);
            white-space: nowrap;
            overflow-x: scroll !important;
            overflow-y: hidden;
        }
        @media #{$small-only} {
            max-width: 300%;
            width: 100%;
            height: rem-calc(233px);
            white-space: nowrap;
            overflow-x: scroll !important;
            overflow-y: hidden;
        }
    }
    .progressive-jackpots {
        .bx-viewport {
            // height: 100% !important;
        }
        position: relative;
        overflow-x: scroll !important;
        height: auto !important;
        .progressive-jackpots__title {
            h1 {
                height: 25px;
                color: $black;
                font-family: $font-header2;
                font-size: rem-calc(16px);
                margin-top: 0px; // padding: 3px;
                // padding-left: 7px;
                text-transform: uppercase !important;
                &:before {
                    content: " ";
                    width: 22px;
                    height: 22px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: block;
                    float: left;
                    margin-right: 10px;
                    background-image: url(../_images/common/slot-machine-icon-black.svg);
                }
            }
        }
        .progressive-jackpots__progressive {
            @include clearfix;
            height: auto;
            background-color: $white;
            margin-bottom: 3px;
            width: rem-calc(209px) !important;
            display: inline-block;
            margin-right: rem-calc(10px);
            @media #{$large-up} {
                float: none;
                width: 100% !important;
                margin-top: rem-calc(-3px);
                cursor: pointer;
                display: inline-block;
                .progressive-jackpots__progressive--wrapper {
                    @media #{$large-up} {
                        width: 38%;
                        padding-left: 4%;
                        height: auto;
                        float: left;
                    }
                }
            }
            .progressive-jackpots__progressive__icon {
                width: rem-calc(209px);
                float: left;
                margin-right: 4%;
                @media #{$large-up} {
                    width: 29%;
                    height: rem-calc(55px);
                    margin-right: 0%
                }
            }
            .progressive-jackpots__progressive__title {
                text-align: left;
                line-height: rem-calc(25px);
                text-transform: uppercase;
                height: rem-calc(25px);
                overflow: hidden;
                width: 60%;
                float: left;
                padding-left: 4%;
                >span {
                    //text style
                    font-family: $font-button; // height: 100%;
                    font-size: rem-calc(12px); // line-height: 60%;
                    overflow: hidden;
                    >a {
                        // color: #5b5b5b;
                    }
                }
                @media #{$large-up} {
                    width: 100%;
                    padding-left: 4%;
                }
            }
            .progressive-jackpots__progressive__amount {
                text-align: left;
                height: rem-calc(25px);
                width: 60%;
                float: left;
                padding-left: 4%;
                >span {
                    font-family: $font-header1;
                    font-size: rem-calc(16px);
                    color: $black;
                    letter-spacing: 0;
                    line-height: 20px;
                    >a {
                        // color: $white;
                    }
                }
                @media #{$large-up} {
                    width: 100%;
                }
            }
            .progressive-jackpots__progressive__cta {
                @media #{$large-up} {
                    width: 33%;
                    height: 61px;
                    line-height: 61px;
                    display: inline-block;
                }

                @media #{$medium-only} {
                    display: inline-block;
                    margin-top: -5%;
                }
                @media #{$small-only} {
                    display: inline-block;
                    margin-top: -6%;
                    margin-left: -2%;
                }


                text-align: center;
                width: 40%;
                float: left;
                >span {
                    @media #{$large-up} {
                        display: inline-block;
                        margin-top: rem-calc(-12.5px);
                    }


                    display: block;
                    @include border-radius(100px);
                    background: $button--bg;
                    font-family: $font-button;
                    width: rem-calc(76px);
                    height: rem-calc(27px);
                    line-height: rem-calc(27px);
                    text-align: center;
                    text-transform: uppercase;
                    font-size: rem-calc(13px);
                    &:hover {
                        background: $button--bg-hover;
                    }
                    >a {
                        display: block;
                        color: $button--text;
                        &:hover {
                            color: $button--text;
                        }
                    }
                }
            }
        }
    }
}


article.progressive-jackpots::-webkit-scrollbar  {
    display: none;
}


// adjust widths for sidebar version of widget only use this below for colum widths no other styles
.progressive-jackpots__progressive {
    @media #{$small-only} {
        @include grid-column(6, $collapse: true);
        /* Portrait small phone make 1 per line */
        @media only screen and (min-device-width: 100px) and (max-device-width: 380px) and (orientation: portrait) {
            @include grid-column(12, $collapse: true);
        }
    }
    .progressive-jackpots__progressive__icon {
        // @include grid-column(5, $collapse: true);
    } // .progressive-jackpots__progressive__title {
    // @include grid-column(7, $collapse: true);
    span {
        @include grid-column(12, $collapse: true, $center: true);
    }
}

.progressive-jackpots__progressive__amount {
    // @include grid-column(7, $collapse: true);
    span {
        @include grid-column(12, $collapse: true, $center: true);
    }
}

.progressive-jackpots__progressive__cta {
    // @include grid-column(7, $collapse: true);
    span {
        //button style
        @include grid-column(3, $collapse: true, $center: true);
    }
}