@mixin sbm-multiline-ellipsis($lineHeight, $lineCount, $control-colors){
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    line-height: 1.45rem;
    max-height: 5.5rem; 
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;

    &.open{
        position: relative;
        white-space: normal;
        overflow: visible; 
        max-height: initial;
        &.open:before {
            content: '';
        }
        &.open:after {
            content: 'Close';
            font-family: "oswald_regularregular", Helvetica, Arial, Verdana, sans-serif;
            font-size: 1rem;
            color: #72767D;
            text-transform: uppercase;
            text-decoration: underline;
            letter-spacing: 0.46px;
            top: 4.4rem;
            left: unset;
            position: absolute;
        }
        @media screen and (min-width:1025px){
            &.open:after {
                left: unset;
            }
        }
    }

    &:before {
        content: 'Read more';
        font-family: "oswald_regularregular", Helvetica, Arial, Verdana, sans-serif;
        font-size: 1rem;
        position: absolute;
        text-transform: uppercase;
        text-decoration: underline;
        letter-spacing: 0.46px;
        color: #72767D;
        left: unset;
        bottom: 6rem;
    }
    @media screen and (min-width:1025px){
        &:before {
            left: unset;
        }
    }
    &:after {
        content: '';
    }
}
.seo-copy {
    $link-color:#fff;
    @include sbm-multiline-ellipsis(1.45rem, 10, $link-color);  
    margin-bottom: 3rem;
    h1{
        border:none;
    }
    .text-partial{
        color:$white;
        background: none;
        border:none;
    }
    strong{
        color: $black;
    }
}