// html {
//     -webkit-text-size-adjust: none;
//     overflow-y: scroll;
// }
// html, a {
//     @include antialiasing;
//     color: $bright-turquoise;
//     font-weight: 600;
//     a:hover {
//         color: lighten($bright-turquoise, 2%);
//         text-decoration: underline;
//     }
// }
// body {
//     font-family: $body-font-regular;
//     // background-color: $bgcolor;
//     background-color: #190142;
//     background-image: url("../_images/common/background-image/background.jpg");
//     background-repeat: no-repeat;
//     background-size: 100%;
//     background-attachment: fixed;
//     background-position: 0 508px;
//     color: $content-text;
//     &.modal-open {
//         overflow: hidden;
//     }
// }
// #ajax-wrapper {
//     @media #{$large-up} {
//         margin-top: 0px;
//     }
//     @media #{$medium-only} {
//         margin-top: 0px !important;
//     }
//     @media #{$small-only} {
//         margin-top: 0px !important;
//     }
// }
// #aboutus, #welcome, #cashier {
//     color: $black;
//     font-family: $body-font-regular;
// }
// #cashier.no-background {
//     //background-color: transparent;
//     background-color: #F1008A;
//     padding: 0 10px;
// }

    dialog .close-reveal-modal,
    .close-reveal-modal {
        width: 100%;
        text-align: right;
        max-width: 1000px;
        margin: 0 auto;
        left: 0px;
        right: 0px;
        padding-right: 0.3em;
    }

    .reveal-modal-bg {
        z-index: 9997;
    }
    .reveal-modal {
        z-index: 9998 !important;
        height: auto !important;
        top: 50% !important;
        position: fixed !important;
        left: 50% !important;
        z-index: 99999;
        transform: translate(-50%, -50%) !important;
        overflow-y: scroll;
        -webkit-overflow-scrolling: auto;
        max-height: 100% !important;
        max-width: rem-calc(1000px);
        .game-detail-content__left {
            width: 60% !important;

            @media #{$medium-only} {
                width: 55% !important;
            }
        }
        .game-detail-content__right {
            width: 40% !important;
            padding: 4px 20px !important;
        }
        @media #{$small-only} {
            height: 100%;
        }
        @media #{$medium-only} {
            height: 100%;
            width: 45%;
        }
    }
    dialog {
        z-index: 99999999999;
        @media #{$medium-up} {
            position: absolute;
            width: 100%;
        }
        @media #{$small-only} {
            position: absolute;
            padding: $site-margin;
            width: 100%;
        }
    }
    //LOADING MODAL
    // .loading {
    //     background-color: black !important;
    // }
    // // Avoiding zoom in forms by setting at least 16px font-size for mobile
    // @media #{$small-only} {
    //     input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    //         -webkit-appearance: none;
    //         -webkit-border-radius: 0px;
    //         background-color: #FFFFFF;
    //         font-family: inherit;
    //         border: 1px solid #828282;
    //         box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    //         color: rgba(0, 0, 0, 0.9);
    //         display: block;
    //         font-size: 1rem;
    //         margin: 0 0 1rem 0;
    //         padding: 0.5rem;
    //         height: 2.3125rem;
    //         width: 100%;
    //         -webkit-box-sizing: border-box;
    //         -moz-box-sizing: border-box;
    //         box-sizing: border-box;
    //         transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
    //     }
    // }
    // // OVERRIDING ACCORDION BACKGROUND BY DEFAULT
    // .accordion .accordion-navigation > a, .accordion dd > a {
    //     background-color: transparent !important;
    // }
   
    
    .label {
        white-space: normal !important;
    }
