
// Main place holders
.content-wrapper {
    width: 100%;
    position: relative;
    @media #{$small-up} {
        margin-top: 0px;
    }
    @media #{$large-up} {
        margin-top: 0px;
    }
}
.content-wrapper-overlay {
     position:absolute;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     background-color: transparentize(black, 0.5);
     z-index: -10;
     &.is-active {
          z-index: 10;
     }
}

.content-wrapper--logged-in{

    @media #{$large-up} {
        margin-top: 0px;
    }
}

.content-template{
    height:100%
}

.top-content {
    margin-top: 0.8em;
    @media #{$small-only} {
        margin-top: 0px;
    }
    @include grid-column(12, $collapse: true);
    .top-content__left {
        @include grid-column(9);
        padding: 0px;
    }
    .top-content__right {
        @include grid-column(3);
        padding: 0px;
    }
}

.middle-content {
    @include grid-row;
}

.middle-content__box {
    @include grid-row;
    height: auto;
    margin-bottom: 24px;

}
.games-pages{
    padding: 0;
}

.bottom-content {
    @include grid-row;
}

// --------------------------
// ----- LAYOUT Templates
// --------------------------

.three-columns-container {
    .three-columns-container__left, .three-columns-container__right {
        float: left;
        @media #{$small-only} {
            display: none;
        }
        @media #{$medium-up} {
            @include grid-column(3);
        }
    }
    .three-columns-container__centre {
        float: left;
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(6);
        }
    }
}

.three-equal-columns-container {
    height: 100%;
    @include grid-column(12, $collapse: true);
    .three-equal-columns-container__left {
        height: 100%;
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(4, $collapse: true);
            padding-right: 0.9em;
            padding-left: 0em;
        }
    }
    .three-equal-columns-container__right {
        height: 100%;
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(4, $collapse: true);
            // padding-right:1em;
            padding-right: 0em;
            padding-left: 0.4em;
        }
    }
    .three-equal-columns-container__centre {
        @media #{$small-only} {
            @include grid-column(12);
            padding: 0px;
        }
        @media #{$medium-up} {
            @include grid-column(4, $collapse: true);
            padding-right: 0.4em;
            padding-left: 0em;
        }
    }
}

.two-columns-layout {
    .two-columns-layout__left, .two-columns-layout__right {
        float: left;
    }
    @media #{$small-only} {
        .two-columns-layout__left, .two-columns-layout__right {
            @include grid-column(12);
            padding: 0px;
        }
    }
    @media #{$medium-up} {
        .two-columns-layout__left {
            @include grid-column(9);
            padding-left: 0px;
        }
        .two-columns-layout__right {
            @include grid-column(3);
            padding-right: 0px;
            padding-left: 0px;
        }
    }
}

.two-equal-columns-layout {
    .two-equal-columns-layout__left, .two-equal-columns-layout__right {
        float: left;
    }
    @media #{$small-only} {
        .two-equal-columns-layout__left, .two-equal-columns-layout__right {
            @include grid-column(12);
            padding: 0px;
        }
    }
    @media #{$medium-up} {
        .two-equal-columns-layout__left {
            @include grid-column(6);
            padding-left: 0px;
            padding-right: 0px;
        }
        .two-equal-columns-layout__right {
            @include grid-column(6);
            padding-right: 0px;
            padding-left: 0px;
        }
    }
}

.two-columns-layout-reverse {
    .two-columns-layout-reverse__left, .two-columns-layout-reverse__right {
        float: left;
    }
    @media #{$small-only} {
        .two-columns-layout-reverse__left, .two-columns-layout-reverse__right {
            @include grid-column(12);
            padding: 0px;
        }
    }
    @media #{$medium-up} {
        .two-columns-layout-reverse__left {
            @include grid-column(3);
            padding-left: 0px;
            padding-right: 0px;
        }
        .two-columns-layout-reverse__right {
            @include grid-column(9);
            padding-right: 0px;
        }
    }
}

.text-left {
    text-align: left !important;
}

.float-right {
    width:10%;
    float:right;
}

.spacing-bottom {
    margin-bottom:50px !important;
}
















