// ----------
// BASE COLOURS 
// ----------
$white: #FFF;

//used for white
$black: #000;

//used for black
$off-white: #fcfafa;

// used in various background locations

// MAY 2015 NEW BRAND guideline colour palette

$pearl-black: #040422;
$blackrock-blue: #190541;
$minsk-blue: #322b84;
$lucky-point: #1D1F67;

// used in blue palette
$portage-lilac: #ac81ee;
$bright-turquoise: #04cde8;
$razzmatazz-pink: #db1467;

//cashier colours (needs reviewing)
$grey: #898989;
$grey-light: #A0A7B0;
//used for various, text etc
$grey-light: #F9F9F9;
$orange: #cf6e0e;
$grey-dark: #303030;
$grey-light-bg: #EFEFEF;
$grey-lighter-bg: #EFEFEF;
$soft-peach:#FCFAFB;

//used in promo bg
$lighter-bg: #EFEFEF;

//used in cashier and my account convert points
$pale-sky: #646F83;

// used in cashier
$alice-blue: #F5FBFF;

// used in cashier
$lynch: #66769E;

// used in states cashier and quick links widget
$scarpa-Flow: #585562;

// used in purple palette

// semantic names (needs reviewing)

$bgcolor: $blackrock-blue;
$brand-color: $lucky-point;
$main-highlight-color: $razzmatazz-pink;
$ctacolor: $brand-color;

$title: $scarpa-Flow;
$content-text: darken($grey, 25%);
$pagetitle: darken($grey, 30%);
$account-blue: $alice-blue;
$account-highlited-blue: $lynch;
$navigation-text-color: $white;

$global-link-color: $bright-turquoise;
$global-link-color-secondary: #CFBBEE;
$global-link-color-text: #6A4A9B;
$global-bg-color: $blackrock-blue;
$nav-active-color: $global-link-color;

// ----------
// PALETTE OF COLOURS
// ----------
// Map Object with all the coluours and the variations
$palettes: (black: (), white: (), grey: (base: $grey, light: lighten($grey, 20%), dark: darken($grey, 20%)), orange: (base: $orange, light: lighten($orange, 10%), dark: darken($orange, 10%)), pink: (base: $razzmatazz-pink, light: lighten($razzmatazz-pink, 10%), dark: darken($razzmatazz-pink, 10%)), green: (base: #208d12, light: lighten(#208d12, 10%), dark: darken(#208d12, 10%)), purple: (base: $scarpa-Flow, light: lighten($scarpa-Flow, 10%), dark: darken($scarpa-Flow, 10%)), blue: (base: $lucky-point, light: lighten($lucky-point, 10%), dark: darken($lucky-point, 10%)));

$ui-table-even: $grey-light;
$ui-table-header: #A0A7B0;

//textarea
$body-font-color: $black;
$body-font-color-light: lighten($body-font-color, 10%);

// -------------------
// Font size
// -------------------
$headline: 1.5em;
$subheadline: 1.125em;


/*=============================================
=            Unique media queries            =
=============================================*/
$small-desktop: "only screen and (min-width: 1025px) and (max-width: 1290px)";
$small-desktop2: "only screen and (min-width: 1291px) and (max-width: 1440px)";

/*=============================================
=            fonts            =
=============================================*/

$ui-font-regular: "uni_sans_regular", Helvetica, Arial, Verdana, sans-serif;
$ui-font-book: "uni_sans_book", Helvetica, Arial, Verdana, sans-serif;
$ui-font-semibold: "uni_sans_semibold", Helvetica, Arial, Verdana, sans-serif;
$ui-font-bold: "uni_sans_bold", Helvetica, Arial, Verdana, sans-serif;
$ui-font-heavy: "uni_sansheavy_caps", Helvetica, Arial, Verdana, sans-serif;

$heading-font-bold: "intro_bold_capsregular", Helvetica, Arial, Verdana, sans-serif;

$body-font-regular: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$body-font-medium: "uni_sans_semibold", Helvetica, Arial, Verdana, sans-serif;
$body-font-demi: Helvetica, Arial, sans-serif;
$body-font-bold: Helvetica, Arial, sans-serif;

$button-font: "uni_sans_bold", Helvetica, Arial, Verdana, sans-serif;

/*=============================================
=  default site margin / gutter / padding / spacing           =
=============================================*/
$site-margin: rem-calc(14px);



/*=============================================
=  permanent variable to ensure Category carousel           =
=============================================*/
$category-carousel-h1:$heading-font-bold;
$category-carousel-title-link:$white; 
$category-carousel-font-family:$ui-font-regular;

$category-carousel-font-family-bold:$ui-font-bold; 

$category-carousel-background:$off-white;


// title and its background
$category-carousel-main-highlight-color: $white;
$category-carousel-main-highlight-background-color:$lucky-point;

// view all link (right)
$category-carousel-view-all-link:$global-link-color;

//accordion
$nav-main-color: #fff;


// MARCH 2017 RE-DESIGN HOMEPAGE PALLETE

$violet: #120429;
$portage: #95a0ef;
$aqua: #00E1FF;
$french-pass: #B6F6FF;
