table {
    @include border-radius(4px);

    width: 100%;
    border-spacing: 0;
    border: none;

    thead {
        background: #8C93C3;
        color: $white;

        tr {
            td {
                background: #8C93C3;
                padding: $site-margin;

                a {
                    word-break: normal !important;
                }
            }

            th {
                color: $white !important;
                font-weight: 600;
                padding: 1em !important;

                p {
                    font-weight: 600;
                    margin-bottom: 0;
                    line-height: 1.3;
                }
            }
        }
    }

    tr {
        td {
            padding: $site-margin;
        }
    }

    tr:nth-of-type(even) {
        background: #E6F1FB;
    }
}