.ui-autocomplete {
    position: fixed;
    top: 0;
    left: 0;
    cursor: default;
    // custom styles here
    background-color: $white;
    //@include background-image(linear-gradient(bottom, black 0%, #212121 100%));
    // gradient overlay
    z-index: 9999;
    width: 163px;
    padding: 3px;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    /* Overlays */
    .ui-widget-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .ui-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
        outline: none;
        position: absolute;
    }
    .ui-menu {}
    .ui-menu-item {
        position: relative;
        margin: 0;
        color: $white;
        padding: 3px 1em 3px 1em;
        cursor: pointer;
        min-height: 0;
        background: $white;
        border-bottom:1px solid lighten($grey,20);
        font-weight: bold;
        color: $body-font-color;
        /* support: IE7 */
        /* support: IE10, see #8844 */
        list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
    }
    .ui-menu-divider {
        margin: 5px 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        border-width: 1px 0 0 0;
    }
    .ui-state-focus,
    .ui-state-active {
        margin: -1px;
    }
    /* icon support */
    .ui-menu-icons {
        position: relative;
    }
    .ui-menu-icons .ui-menu-item {
        padding-left: 2em;
    }
    /* left-aligned */
    .ui-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: .2em;
        margin: auto 0;
    }
    /* right-aligned */
    .ui-menu-icon {
        left: auto;
        right: 0;
    }
    /* Interaction Cues
    ----------------------------------*/
    .ui-state-highlight,
    .ui-widget-content .ui-state-highlight,
    .ui-widget-header .ui-state-highlight {
        border: 1px solid #cccccc;
        background: #eeeeee;
        color: #2e7db2;
    }
    .ui-state-highlight a,
    .ui-widget-content .ui-state-highlight a,
    .ui-widget-header .ui-state-highlight a {
        color: #2e7db2;
    }
    .ui-state-error,
    .ui-widget-content .ui-state-error,
    .ui-widget-header .ui-state-error {
        border: 1px solid #ffb73d;
        background: #ffc73d;
        color: #111111;
    }
    .ui-state-error a,
    .ui-widget-content .ui-state-error a,
    .ui-widget-header .ui-state-error a {
        color: #111111;
    }
    .ui-state-error-text,
    .ui-widget-content .ui-state-error-text,
    .ui-widget-header .ui-state-error-text {
        color: #111111;
    }
    .ui-priority-primary,
    .ui-widget-content .ui-priority-primary,
    .ui-widget-header .ui-priority-primary {
        font-weight: bold;
    }
    .ui-priority-secondary,
    .ui-widget-content .ui-priority-secondary,
    .ui-widget-header .ui-priority-secondary {
        opacity: .7;
        filter: Alpha(Opacity = 70);
        /* support: IE8 */
        font-weight: bold;
    }
    .ui-state-disabled,
    .ui-widget-content .ui-state-disabled,
    .ui-widget-header .ui-state-disabled {
        opacity: .35;
        filter: Alpha(Opacity = 35);
        /* support: IE8 */
        background-image: none;
    }
    .ui-state-disabled .ui-icon {
        filter: Alpha(Opacity = 35);
        /* support: IE8 - See #6059 */
    }
    /* Interaction states
    ----------------------------------*/
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
        border: 1px solid #444444;
        background: #222222;
        font-weight: bold;
        color: #eeeeee;
    }
    .ui-state-default a,
    .ui-state-default a:link,
    .ui-state-default a:visited {
        color: #eeeeee;
        text-decoration: none;
    }
    .ui-state-hover,
    .ui-widget-content .ui-state-hover,
    .ui-widget-header .ui-state-hover,
    .ui-state-focus,
    .ui-widget-content .ui-state-focus,
    .ui-widget-header .ui-state-focus {
        border: 1px solid darken($black,5%);
        background: $black;
        font-weight: bold;
        color: $white;
    }
    .ui-state-hover a,
    .ui-state-hover a:hover,
    .ui-state-hover a:link,
    .ui-state-hover a:visited,
    .ui-state-focus a,
    .ui-state-focus a:hover,
    .ui-state-focus a:link,
    .ui-state-focus a:visited {
        color: $white;
        text-decoration: none;
    }
    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active {
        border: 1px solid darken($black,5%);
        background: $black;
        font-weight: bold;
        color: $white;
    }
    .ui-state-active a,
    .ui-state-active a:link,
    .ui-state-active a:visited {
        color: $white;
        text-decoration: none;
    }
}