.lobby-wrap {
    background-color: $wrap-background-color;
    @media #{$large-up} {
        @include grid-row;
        @media #{$large-up} {
            padding: $site-margin;
        }
        padding-bottom: 0px !important;
    }
    // lobby left column
    .lobby-wrap__left {
        @include grid-column(9, $float: left);
        height: auto;
        padding-right: $site-margin;


        @media #{$medium-only} {
            @media #{$landscape} {
                @include grid-column(8, $float: left);
                padding:0rem;
            }
        }

        .small-deposit-wrap {
            @extend .show-for-small;
            @include grid-column(6, $float: right);
            padding-right: 0px !important;
            .lobby-deposit-button {
                @include grid-column(12, $collapse: true);
                margin-bottom: $site-margin;
                font-size: 20px;
                overflow: hidden;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        @media #{$small-only} {
            @include grid-column(12, $collapse: true);
            @media #{$landscape} {
                @include grid-column(12, $collapse: true);
            }
        }
    }
    // lobby right columns
    .lobby-wrap__right {
        @extend .show-for-medium-up;
        @include grid-column(3, $float: right);
        padding:0;

        @media #{$small-only} {
            display: none;
        }

        @media #{$medium-only} {
            @media #{$landscape} {
                @include grid-column(4, $float: right);
                padding:0.5rem;
            }
        }

        @media #{$large-up} {
            padding-right: 0px;
        }
    }
    .progressive-jackpots__wrapper.slider,
    .yesterdays-win__wrapper,
    .latest-winners__wrapper.slider {
        clear: both;
    }
    .progressive-jackpots__wrapper.slider {
        @media #{$medium-only} {
            height: 300px;
        }
    }
    .yesterdays-win__wrapper {
        margin-top: -33px;
        @media #{$medium-only} {
            margin-top: 0px;
        }
    }
}
