#lobby {
    .new-games {
        .hub-grid__col-2x {
            @media #{$medium-only} {
                @include grid-column(4, $collapse: true);
            }
        }
    }
}

.lobby-content {
    .section, .games-list {
    	margin: 0 auto !important;
        padding: $site-margin;
    }
}
