.lobby-deposit-button {
    @extend .hide-for-small;
    @include foundation-breaks($scols: 12, $scollapse: true, $sfloat: left, $mcols: 12, $mcollapse: false, $mfloat: true, $lcols: 12, $lcollapse: true, $lfloat: left);
    margin-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    margin-bottom: $site-margin;
    a {
        color: $white;
    }
    /* Button Background: */
    background: #009E00;
      @include CTA-button(2px, 2px, 2px, #EF4509, lighten(#FB9200, 1%));
  
    box-shadow: 0px 2px 0px 0px #EF4509;
    border-radius: 4px;
    height: 57px;
    line-height: 57px;
    font-family: $body-font-bold;
    font-size: 23px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-shadow: 0px 2px 0px #EF4509;
    margin-bottom: $site-margin;
}

.lobby-wrap__content-box__content {
    .lobby-deposit-button {
        @extend .show-for-small;
        @include foundation-breaks($scols: 6, $scollapse: true, $sfloat: left, $mcols: 6, $mcollapse: false, $mfloat: true, $lcols: 6, $lcollapse: true, $lfloat: left);
    }
}

.lobby-deposit-button:hover{
   color: $white;
}