.my-promotions {
    .my-promotions__promotion {
        @include foundation-breaks($scols: 12, $scollapse: false, $sfloat: left, $mcols: 6, $mcollapse: false, $mfloat: left, $lcols: 4, $lcollapse: false, $lfloat: left);
        padding:0px !important;
    }
    .promotion__wrapper {
        cursor: pointer;
        @include grid-column(12, $collapse: true);
        background-color: $content-background-color;
       
        min-width: 180px;
        @media #{$medium-only} {
            min-height: 359px;
            max-height: 359px;
            position: relative;

        }
        @media #{$large-up} {
            min-height: 359px;
            max-height: 359px;
        }
        @media #{$small-only} {
            @include grid-column($columns: 12, $collapse: true);
        }
    }
    .promotion__more-info {
        @media #{$medium-only} {
            position: absolute;
            bottom: 0;
        }
    }
}