table {
    border-radius: 0px !important;
    border: 1px solid $luckyvip--midnight !important;
    border-spacing: 2px;
    thead {
        tr {
            td {
                background: $luckyvip--picton-blue;
                a {
                    color: $white;
                    &:hover {
                        color: $white;
                    }
                }
            }
            th {
                p {}
            }
        }
    }
    tr {
        &:first-child {
            td {
                color: $white;
            }
        }
        td {
            color: $white;
        }
    }
}
