
.reality-check__container
{
	background:rgba(0,0,0,.85);
	height:100%;
	width:100%;
	top:0;
	left:0;
	position:fixed;
	z-index:9999999999999
}
.reality-check__container .reality-check__content
{
	top:50%;
	border-radius:4px;
	position:fixed;
	border:none;
	left:50%;
	width:650px;
	height:auto;
	margin:0;
	padding:1.75rem;
	background:0 0;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%)
}
@media only screen and (max-width:40em)
{
	.reality-check__container .reality-check__content{
		padding-left:.3125rem;
		padding-right:.3125rem;
		width:100%;
		float:left;
		padding:0 1.75rem
	}
}
.reality-check__container .reality-check__content h2
{
	padding-left:.3125rem;
	padding-right:.3125rem;
	width:100%;
	float:left;
	margin:0;
	text-align:center;
	font-weight:400;
	color:#FFF;
	line-height:1;
	font-size:30px
}
@media only screen and (max-width:40em)
{
	.reality-check__container .reality-check__content h2
	{
		font-size:1.8em
	}
}
.reality-check__container .reality-check__content p
{
	padding-left:.3125rem;
	padding-right:.3125rem;
	width:100%;
	float:left;
	margin:0;
	text-align:center;
	color:#FFF;
	font-size:16px;
	line-height:1.4
}
@media only screen and (max-width:40em)
{
	.reality-check__container .reality-check__content p
	{
		font-size:15px
	}
}
.reality-check__container .reality-check__content a
{
	color:#fff;text-decoration:underline
}
.reality-check__container .reality-check__content .reality-check__buttons
{
	padding-left:.3125rem;
	padding-right:.3125rem;
	width:100%;
	float:left;
	padding:0;
	margin:.875rem 0
}
.reality-check__container .reality-check__content .reality-check__buttons button
{
	padding-left:.3125rem;
	padding-right:.3125rem;
	float:left;
	-webkit-transition:all,ease-out .1s;
	transition:all,ease-out .1s;
	width:45%;
	margin:2%;
	color:#179f2d;
	text-align:center;
	font-weight:700;
	border-radius:6px;
	text-transform:uppercase;
	padding:0;
	line-height:1.2;
	min-height:75px
}
.reality-check__container .reality-check__content .reality-check__buttons button.continue-cta
{
	color:#FFF;background:0 0;
	border:2px solid #FFF
}
.reality-check__container .reality-check__content .reality-check__buttons button.continue-cta:hover
{
	background:0 0;
	color:#FFF;
	border:2px solid rgba(255,255,255,.55)
}
.reality-check-container .reality-check__container .reality-check__content .reality-check__buttons button.continue-cta:hover
{
	background:rgba(0,0,0,.9)
}
.reality-check__container .reality-check__content .reality-check__buttons button.stop-cta
{
	color:#4AFF68;
	background:0 0;
	border:2px solid #179f2d
}
@media (max-width:480px)
{
	.reality-check__container .reality-check__content .reality-check__buttons button.continue-cta
	{
		padding-left:.3125rem;
		padding-right:.3125rem;
		width:100%;
		float:left;
		padding:.875rem 1.75rem;
		margin:1% 0;
		min-height:auto
	}
	.reality-check__container .reality-check__content .reality-check__buttons button.stop-cta
	{
		padding-left:.3125rem;padding-right:.3125rem;
		width:100%;
		float:left;
		padding:.875rem 1.75rem;
		margin:1% 0;
		margin-top:3%;
		min-height:auto
	}
}
.reality-check__container .reality-check__content .reality-check__buttons button.stop-cta:hover
{
	background:#179f2d;
	color:#FFF;
	border:2px solid #179f2d
}
.reality-check__container .home-cta
{
	padding-left:.3125rem;
	padding-right:.3125rem;
	width:100%;
	float:left;
	text-align:center;
	color:#FFF;
	text-decoration:underline;
	background:0 0;
	cursor:pointer;
	position:relative;
	top:2.625rem
}
.reality-check-settings__container
{
	padding-left:.3125rem;
	padding-right:.3125rem;
	width:100%;
	float:left;
	padding:0;
	margin-bottom:.875rem
}
@media only screen and (min-width:64.0625em)
{
	.games-iframe-content__right-panel
	{
		display:block
	}
	.reality-check-settings__container
	{
		padding-left:.3125rem;
		padding-right:.3125rem;
		width:50%;
		float:left;
		padding:0
	}
}
.reality-check-settings__container select
{
	width:48%;
	float:left;
	margin:0;
	margin-right:2%;
	margin-bottom:.4375rem;
	border-radius:4px;
	border:2px solid #C9C9C9;
	padding:0 .5rem;
	display:inline;
	font-size:14px;
	font-weight:700;
	height:35px
}
@media only screen and (max-width:40em)
{
	.reality-check-settings__container select
	{
		padding-left:.3125rem;
		padding-right:.3125rem;
		width:100%;
		float:left
	}
}

