#ab,
#homepage {
    background: none !important;

    section {
        @include grid-column(12, $center: true);

        width: 100% !important;
        padding: $site-margin;


        @media #{$large-up} {
            padding: $site-margin * 2;
        }

        &.ui-main-offer {
            background: url("../_images/ab/main-hero-bg.jpg") no-repeat center center;
            background-size: cover;
            z-index: 3;

            @include align-middle;

            position: relative;
            height: 500px;

            @media #{$small-only} {
                margin-top: -40px;
                height: 100vh;
                padding: ($site-margin * 1) 0;
                position: relative;
            }

            figure {
                @include grid-column(12, $center: true);

                @include align-middle;

                text-align: center;
                padding: 0;
                z-index: 1;

                &.row:before {
                    display: block;
                }

                .ui-main-hero {
                    @include grid-column(6);

                    z-index: 1;

                    @media #{$small-only} {
                        @include grid-column(12);

                        text-align: center;
                        margin-bottom: $site-margin;
                    }

                    img {
                        max-height: 400px;
                        width: auto;

                        @media #{$small-only} {
                            max-height: 200px;
                            width: auto;
                        }
                    }
                }

                figcaption {
                    @include grid-column(6);

                    @media #{$small-only} {
                        @include grid-column(12);
                    }

                    color: $white;

                    h1 {
                        color: $white;
                        font-family: $heading-font-extrabold;
                        line-height: 2.2rem;
                        font-size: 2.4rem;

                        // text-shadow: 1px 3px 40px #c54c53;

                        @media #{$large-up} {
                            line-height: 3.5rem;
                            font-size: 3.8rem;
                        }
                    }

                    img {
                        @include show-for-medium-up;

                        margin: 0 auto;
                    }

                    h3 {
                        color: $white;
                        font-size: 1.2rem;
                        line-height: 1;
                        margin: ($site-margin / 2) 0 $site-margin 0;

                        @media #{$large-up} {
                            font-size: 1.5rem;
                            line-height: 1;
                        }
                    }

                    .join-now {
                        @include join-now-button(0.6em 0, 1.6rem, 2px);

                        @include grid-column(8, $center: true);

                        @include border-radius(30px);

                        display: inline-block;

                        // margin-top: $site-margin / 2;

                        @media #{$small-only} {
                            font-size: 1.4rem;
                            z-index: 2;
                            width: 94%;
                            margin: 0 3%;

                            // position: fixed;
                            // left: 0;
                            // bottom: 0;
                        }
                    }

                    .ui-main-hero-tcs {
                        @include grid-column(12);

                        color: $white;
                        font-family: $body-font-regular;
                        font-size: 0.75rem;
                        line-height: 1;
                        margin-top: $site-margin;

                        @media #{$small-only} {
                            font-size: 0.55rem;
                        }
                    }
                }
            }

            #particle {
                background-color: none;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 0;
            }
        }

        &.ui-features {
            article {
                @include grid-column(4);
                padding-top: 3em;
                padding-bottom: 4em;
                text-align: center;

                @media #{$small-only} {
                    @include grid-column(12);
                          padding-top: 2em;
                padding-bottom: 2em;
                }

                img {
                    min-height: 160px;
                    max-width: 160px;
                }

                h2 {
                    font-size: 25px;
                    font-family: $body-font-bold;
                    margin: $site-margin 0;
                    line-height: 1;
                }
            }
        }

        &.ui-slots {
            @include box;

            background: $grey-light-bg;

            .home-games div.section__header h1.section__title {
                margin: 0 !important;
                margin-bottom: $site-margin !important;
            }

            .section .section__header, .games-list .section__header {
                margin: 0 !important;
            }

            .games-list .section__header__viewall a {
                font-size: 0.9rem;
                color: $grey-dark;
                letter-spacing: -0.22px;
                line-height: 29px;
            }

            .games-list .hub-grid .hub-grid__child {
                @media #{$small-only} {
                    padding: ($site-margin / 4) !important;
                }
            }
               .games-list .hub-grid .hub-grid__child {
                @media #{$medium-up} {
                    padding: ($site-margin) !important;
                }
            }
        }

        &.ui-seo {
            .text-partial {
                padding: 0 !important;

                h1 {
                    font-size: 20px !important;
                    line-height: 1.2;
                }

                .ui-seo-content p {
                    font-size: 1.1rem !important;
                }
            }
        }
    }

    .content-wrapper {
        background: none !important;
    }

    .games-navigation {
        display: none !important;
    }

    .main-wrap {
        margin: 0;
        padding: 0;
    }

    #footer {
    background-color: #536575 !important;
        max-width: 100% !important;

        .footer__row {
            padding: $site-margin !important;
        }

        .footer__row__left {
            background: none !important;
            text-align: center !important;

            .footer__nav {
                text-align: center !important;

                li {
                    float: none !important;
                    display: inline-block;
                }
            }
        }

        .footer__row-bg {
            min-width: 100% !important;

            .footer__row__payments, .footer__row__legal {
                @include grid-row;
                @include grid-column(12, $center: true);
            }
        }
    }
}

// CSS3 Animations

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */

.scale-up-center {
    -webkit-animation: 0.5s scale-up-center 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: 0.5s scale-up-center 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */

.slide-in-fwd-center {
    -webkit-animation: 0.8s slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: 0.8s slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
