.balance-display-mobile {
    @include hide-for-large-up;

    @include grid-column(12);

    // width: 98%;
    // margin: 0 1%;
    margin: 0;
    padding: 0;
    left: 0;
    z-index: 9999999;
    background: $luckyvip--blue-zodiac;
    display: none;
    top: 50px;
    position: fixed;

    @media #{$medium-only} {
        max-width: 300px;
        margin-right: $site-margin;
        left: auto;
        right: 0;
    }

    &:after {
        bottom: 100%;
        left: 60px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid  $luckyvip--dodger-blue;

        @media #{$medium-only} {
            left: 85px;
        }
    }

    &.active {
        display: block;
    }

    .balance-display-mobile__header {
        @include grid-column(12);

        color: $luckyvip--darknavy;
        font-size: 18px;

        text-transform: uppercase;
        padding: $site-margin;
        font-family: $body-font-medium;
        background: $luckyvip--dodger-blue url(../_images/common/icons/welcome-close.svg) no-repeat right $site-margin center;
    }

    ul {
        @include grid-column(12);

        color: $white;
        background:$luckyvip--blue-zodiac;
        margin: 0;
        padding: 0;
        font-size: 19px;
        text-transform: uppercase;

        li {
            @include grid-column(12);

            padding: ($site-margin / 2) $site-margin;
            padding-top: $site-margin;
            font-family: $ui-font-semibold;
            position: relative;
            border-bottom: 1px solid $luckyvip--san-juan;
            line-height: 1;

            &.balance {
                color: $white;

                &.active {
                    color: $white;
                    .slider {
                        background-color: $luckyvip--dodger-blue;
                    }
                }
                .slider {
                    background-color: $luckyvip--dodger-blue;
                }
            }

            &:last-child {
                border: none;
            }

            div {
                display: inline;
            }
            span {
                float: right;
                font-family: $body-font-medium;
            }
            span.balance-text {
                float: left;
                font-family: $body-font-medium;
            }

            a {
                @include grid-column(10);
                padding-left:0px;
                text-decoration: underline;
                width: 70%;
                color: #fff;
            }

            /* The switch - the box around the slider */
            .switch {
                display: inline-block;
                width: 60px;
                height: 34px;
                top: 3px;
                right: 0px;
                position: absolute;
                margin-right: 10px;
            }

            /* Hide default HTML checkbox */
            .switch input {
                display: none;
            }

            /* The slider */
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #5820A8;
                -webkit-transition: .4s;
                transition: .4s;
            }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: #fff;
                -webkit-transition: .4s;
                transition: .4s;
            }

            /* Rounded sliders */
            .slider.round {
                border-radius: 34px;
            }

            .slider.round:before {
                border-radius: 50%;
                background:#fff;
            }

            .slider.active {
              background-color: #5820A8;
            }

            .slider.active:before {
              -webkit-transform: translateX(26px);
              -ms-transform: translateX(26px);
              transform: translateX(26px);
              background: #2E4766;
            }
        }
    }
}