.breadcrumbs {
    @extend .hide-for-small;
    @extend .hide-for-medium;
    @media #{$medium-up} {
        @include grid-row;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 62.5rem;
        height: auto;
        padding: 0.4rem;
        margin-bottom: 14px;
        border-color: transparent;
        background-color: #332F45;
        a {
            color: lighten(#6f6e6e, 2%);
        }
        > li:first-child {
            a {
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
                background: url("../_images/common/homeicon.svg");
                width: 14px;
                display: block;
            }
        }
        li {
            display: block;
        }
    }
}

.breadcrumbs__row {
    position: relative;
    @include grid-column(12,
    $collapse: true);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: transparent;
    opacity: 0.8;
    border-radius: 2px;
    margin-top: 15px;
}

// .breadcrumbs__row {
//     @include show-for-small-only;
//     margin-top: 52px;
// }
.breadcrumbs__row {
    @media #{$medium-only} {
        display: none;
    }
    @media #{$small-only} {
        display: none;
    }

    .social-share-links--copy {
        display: none;
    }

    .social-share-links {
        display: none;
    }
}

.breadcrumbs {
    > li:not(:first-child):before {
        width: 0;
        height: 0;
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
        border-left: 4px solid #7a7a7a;
        font-size: 0;
        line-height: 0;
        // margin: 0 0.35rem;
        position: relative;
        display: table-cell;
        float: left;
    }
}
