//variable for color of micrclick circle effect on menu links
$inkbgcolor: hsl(220, 100%, 80%);
.mobile-menu {
    /* skin specific non-critical appearance styles */
    font-size: 1.25rem;
    text-transform: capitalize;
    // needs to be same as slot categories hidden slide down panel background colour
    background-color: $luckyvip--blue-zodiac;
    z-index: 99999999 !important;
    padding: 0px 0 0 !important;
}

.mobile-menu-top {
    /* skin specific non-critical appearance styles */
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
    padding: 0;
    height: 50px;
    margin: 0;
    //top: 0;
    max-width: 414px;
    width: 100%;
    position: fixed;
    z-index: 1;
    .back-link {
        @include grid-column(12);
        background: $luckyvip--dodger-blue url(../_images/common/mobile-menu-icons-svg/close-icon.svg) no-repeat right 15px center !important;
        background-size: 23px !important;
        background-position: 10px 15px;
        color: $luckyvip--blue-zodiac;
        font-size: 15px;
        padding: 0;
        text-align: center;
        border: none;
        height: 50px;
        display: block;
        z-index: 1;
    }
    .search-input > input[type=text],
    .search-input {
        border: none;
        box-shadow: none;
        height: 40px;
        font-size: 20px;
        text-transform: uppercase;
    }
}

.mobile-menu-lists {
    /* cross skin critical sizing and position styles */
    overflow: scroll;
    height: 100%;
    // margin-top: 50px;
}

.mobile-menu-list {
    /* cross skin critical sizing and position styles */
    width: 100%;
    position: relative;
    height: 100%;
    list-style-type: none;
    margin-left: 0;
    padding-top: 50px;
    z-index: 0;
}

.mobile-menu-top-area__row {
    /* cross skin critical sizing and position styles */
    display: block;
    width: 100%;
    @include grid-row;
    height: 48px;
    margin-bottom: 5px;
}

.mobile-menu-top-area__join {
    a {
        /* skin specific non-critical appearance styles */
        @include border-radius(4px);
        @include CTA-button;
        font-family: $body-font-bold;
        font-size: 20px;
        font-weight: bold;
        color: $white;
        line-height: 22px !important;
    }
}

.mobile-menu-top-area__balance {
    /* cross skin critical sizing and position styles */
    @include grid-column(10);
    color: lighten($black, 30%);
    font-family: $body-font-bold;
    text-align: left;
    width: 80% !important;
    .inner {
        height: 42px !important;
        line-height: 55px !important;
        font-size: 18px !important;
        // background-color: #f8e4bb;
        @include background-clip(padding-box);
        span {
            margin-right: 10px !important;
            color: $black;
            font-family: $body-font-bold;
        }
    }
}

.mobile-menu-top-area__vip-level {
    @include grid-column(2);
    width: 20% !important;
    .inner {
        /* skin specific non-critical appearance styles */
        background-color: #f8e4bb;
        @include border-radius(2px);
        //font style
        color: lighten($black, 30%);
        font-family: $body-font-bold;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }
}

.mobile-menu-item {
    /* skin specific non-critical appearance styles */
    //font styles
    color: $white;
    font-family: $button-font;
    font-size: 17px;
    padding-left: 50px;
    line-height: 50px;
    border: none;
    transition: 500ms;
    // @include text-shadow(1px 1px 0 rgba(0, 0, 0, 0.6));
    //bar styles
    // border-bottom: 1px solid $black;
    &.active {
        border: none;
        a {
            color: $white;
        }
    }
    a {
        color: $white;
        font-family: $ui-font-semibold !important;
        text-transform: uppercase;
        padding-left: 0 !important;
        &.active {
            border: none;
            color: $white;
        }
        &:hover {
            color:$luckyvip--picton-blue;
        }
    }
    // Slots Categories Button
    .slots-categories {
        /* skin specific non-critical appearance styles */
        background: $luckyvip--dodger-blue;
        width: 144px !important;
        font-family: $ui-font-bold;
        color: $luckyvip--darknavy;
        text-shadow: none;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.23px;
        .chevron-icon {
            opacity: 0.8;
            fill: $white;
        }
        &:hover {
            background: $luckyvip--mercury;
        }
    }
    .menu-link {
        @include grid-column(12);
        padding: 0;
        height: 50px;
        // line-height: 3;
    }

    &__submenu {
        // background: $minsk-blue;
        margin-left: -50px;
        transition: 500ms;

        &__content {
            opacity: 0;
            visibility: hidden;
            transition: 500ms;
        }
    }

    &.is-active {
        .mobile-menu-item {
            &__submenu {
                &__content {
                    opacity: 1;
                    visibility: visible;
                }
            }

        }

        .chevron-icon {
            -webkit-transform: scale(1, -1);
            -ms-transform: scale(1, -1);
            transform: scale(1, -1);
        }
    }
}

.mobile-menu-section-title {
    /* skin specific non-critical appearance styles */
    //font styles
    color: $luckyvip--darknavy;
    font-family: $body-font-medium;
    font-size: 13px;
    // line-height: 23px !important;
    padding-left: 10px !important;
    text-transform: uppercase;
    letter-spacing: 0.12px;
    // bar styles
    @include background-image(linear-gradient(to top, $luckyvip--santas-gray 2%, $white 100%));
}

// Mobile Menu Slots Categories Hidden Slide Down Panel
.mobile-menu {
    .games-filter-menu__popover .tabs-content .content ul li {
        width: 33.33%;
    }
}

//svg background images
.mobile-menu {
    // mobile header login button
    .mobile-menu-item {
        border-bottom: 1px solid $luckyvip--san-juan;
        a:before {}
    }
    .mobile-menu-item.logout-link {
        @include grid-column(12);
        margin-bottom: $site-margin;
        height: auto;
        padding: 0;
        border-bottom: none;
        text-transform: uppercase;
        // background-image: url(../_images/common/mobile-menu-icons-svg/logout.svg);
        // background-position: 9px 14px;
        a {
            background-color: $luckyvip--dodger-blue;
            font-family: $button-font !important;
            line-height: inherit;
            color: $luckyvip--darknavy;
            padding: 0;
            width: 80%;
            float: left;
            margin: $site-margin 10%;
            text-align: center;
        }
    }
    .mobile-menu-item.back-link {}
    .mobile-menu-item.home-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/home.svg);
        background-size: 6%;
        background-position: 8px 12px;
    }
    .mobile-menu-item.gamelimits-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/gamelimits.svg);
    }
    .mobile-menu-item.responsiblegaming-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/responsiblegaming.svg);
    }
    .mobile-menu-item.privacy-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/privacy.svg);
    }
    .mobile-menu-item.about-us-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/aboutus.svg);
    }
    .mobile-menu-item.terms-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/terms.svg);
    }
    .mobile-menu-item.faq-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/faq.svg);
    }
    .mobile-menu-item.banking-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/banking.svg);
    }
    .mobile-menu-item.support-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/support.svg);
        background-size: 6%;
    }
    .mobile-menu-item.community-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/community.svg);
        background-size: 7%;
        background-position: 7px 17px;
    }
    .mobile-menu-item.deposit-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/deposit.svg);
    }
    .mobile-menu-item.cashier-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/cashier.svg);
        background-position: 11px 13px;
    }
    .mobile-menu-item.myaccount-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/myaccount.svg);
    }
    .mobile-menu-item.loyalty-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/loyalty.svg);
    }
    .mobile-menu-item.promotions-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/promotions.svg);
    }
    .mobile-menu-item.allgames-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/allgames.svg);
    }
    .mobile-menu-item.roulette-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/roulette.svg);
    }
    .mobile-menu-item.scratchcards-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/scratchcard.svg);
    }
    .mobile-menu-item.live-casino {
        background-image: url(../_images/common/mobile-menu-icons-svg/poker-chip-icon.svg);
    }
    .mobile-menu-item.tablecard-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/tablecard.svg);
    }
    .mobile-menu-item.live-casino {
        background-image: url(../_images/common/mobile-menu-icons-svg/poker-chip-icon.svg);
    }
    .mobile-menu-item.slots-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/slots.svg);
        background-size: 6%;
    }
    .mobile-menu-item.live-casino {
        background-image: url(../_images/common/mobile-menu-icons-svg/poker-chip-icon.svg);
    }
    .mobile-menu-item.sports-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/sports.svg);
        background-size: 7%;
        background-position: 8px 10px;
    }
    .mobile-menu-item.favourites-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/favourites.svg);
    }
    .mobile-menu-item.newgames-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/newgames.svg);
        background-size: 4%;
        background-position: 12px 14px;
    }
    .mobile-menu-item.gamesearch-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/search.svg);
        background-size: 5%;
        background-position: 8px 12px;
    }
    .mobile-menu-item.bingo-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/bingo.svg);
        background-size: 6%;
        background-position: 8px 12px;
    }
    .mobile-menu-item.settings-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/settings.svg);
    }
    .mobile-menu-item.complaints-disputes-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/complaints.svg);
        background-size: 7%;
        background-position: 7px 17px;
    }
    .mobile-menu-item.archive-link {
        background-image: url(../_images/common/mobile-menu-icons-svg/archive.svg);
        background-size: 6%;
        background-position: 9px 13px;
    }

}

@for $i from 1 through 25 {
    #ui-id-#{$i} {
        /* skin specific non-critical appearance styles */
        //font styles
        color: $global-link-color;
        font-family: $body-font-bold;
        font-size: 14px;
        //bar styles
        border-top: 1px solid darken($global-link-color, 80%);
        border-bottom: none;
        background-image: none;
        background-color: $white;
    }
}

.ui-state-focus {
    background: $global-link-color !important;
    background-image: none;
    color: $white !important;
    box-shadow: none !important;
}

// auto complete search
.ui-auto-complete {}

// nav toggle menu with animation into cross shape
.menu-toggle-wrap {
    cursor: pointer;
    .burger {
        background: $white;
        height: 3px !important;
        top: 23px !important;
        right: 4px !important;
        &:before {
            background: $white;
            height: 3px !important;
        }
        &:after {
            background: $white;
            height: 3px !important;
            top: 8px !important;
        }
    }
    .burger.active {
        border: 0px solid $white;
        top: 6px !important;
        padding-left: 7px !important;
        transform: scale(1.2) !important;
        &:before {
            transform: rotate(45deg) scale(0.9) !important;
        }
        &:after {
            transform-origin: 0% 10% !important;
            transform: rotate(-45deg) scale(0.9) !important;
            left: 4px !important;
            padding: 0;
        }
    }
}

.nav-for-mobile__ctas {
    float: left;
    @media #{$medium-only} {
        float: right;
        margin-right: $site-margin;
    }
    .login-button--nav-for-mobile {
        font-family: $button-font;
        font-weight: 900;
        font-size: $theme--ui----desktop--fontsize;
        color: $luckyvip--darknavy;
        background: $luckyvip--picton-blue;
        box-shadow: inset 0px -1px 0px 0px $luckyvip--denim;
        padding: 6px;
        padding-left: 9px;
        padding-right: 9px;
        margin-left: $site-margin / 2;
        float: left;
        display: inherit;
        height: 30px;
        line-height: 20px;
        margin-top: 9px;
        text-shadow: none;
        &:hover {
            background:$luckyvip--mercury;
        }
    }
    .join-button--nav-for-mobile {
        font-family: $button-font;
        font-weight: 900;
        font-size: $theme--ui----desktop--fontsize;
        color: $luckyvip--darknavy;
        background: $luckyvip--supernova;
        padding: 6px;
        padding-left: 9px;
        padding-right: 9px;
        margin-left: $site-margin / 2;
        float: left;
        display: inherit;
        height: 30px;
        line-height: 20px;
        margin-top: 9px;
        text-shadow: none;
        &:hover {
            background:$luckyvip--mercury;
        }
    }
}

.games-filter-menu__popover ul {
    margin-left: 0;
    list-style-type: none;
}
