.nav-for-desktop {
    font-size: 0.8rem;
    @include list-inline;
    font-weight: normal;
    padding-left:0;
    >ul {
        @include list-inline;
        @include vert-align(40px);
        margin-left:0;
        >li{
            padding-right: 0.9em;
        }
        a{
            color:$navigation-text-color;
            font-size: 0.8em;
            font-family: $heading-font-bold;
            &:hover{
                padding-bottom: 7px;
            border-bottom: 2px #f1008a solid;
            }
        }
        a.current{
                 padding-bottom: 7px;
          border-bottom: 2px #f1008a solid;
        }

    }
}