.side-nav{
	background-color: lighten($grey,35%);
	height: 100%;
	>li{
		margin:0px;
		padding:0px;
		text-align: left;
		a{
			color:$body-font-color!important; //overriding foundation styles
			padding: 0.8em !important; //overriding foundation styles
			line-height: 0;
			font-size: 0.9em;
		}
	}
	>li:hover{
		background-color: lighten($grey,30%);

	}
}