.chat--unavailable {
    
    @media #{$large-up} {
        margin-bottom: 80px;
    }

    .section-left__title {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    width: 100%;
    float: left;
    padding: 0;
    font-family: $font-copy;
    text-transform: capitalize !important;
    width: 100%;
    display: block !important;
}

    .text-partial {
        padding-top: 20px;

        h1 {
            @media #{$small-only} {
                font-size: 16px;
            }
        }
    }

    .text-partial-content {
        margin-top: 30px;
    }
}

