.error-page {
    font-size: 1rem;
    text-align: center;
    @include grid-column(12, $collapse: true);
    @include border-radius(4px);
    margin: rem-calc(100px) 0;
    height: 400px;
    @media #{$medium-only} {
        height: 100%;
        margin: 0 auto;
        @include grid-column(7, $collapse: true);
        float: none;
    }
    @media #{$small-only} {
        height: 100%;
        margin: auto 0;
    }
    .error-page__image {
        text-align: left;
        height: 100%;
        img {
            width: auto;
            height: 100%;
        }
    }
    .error-page__image {
        @include grid-column(6, $collapse: true);
        @media #{$medium-only} {
            display: none;
        }
        @media #{$small-only} {
            display: none;
        }
    }
    .error-page__text {
        @include grid-column(6, $collapse: true);
        padding: 1em;
        text-align: center;
        margin: rem-calc(55px) 0;
        // background: url("../_images/common/white-85-opacity.png");
        @include border-radius(20px);
        @media #{$small-only} {
            top: 0%;
            left: 0%;
                        background: url("/_images/common/404-error-image-moretransparent.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
    
            margin: rem-calc(50px) 0;
            @include grid-column(12,
            $collapse: true);
        }
        @media #{$medium-only} {
            background: url("/_images/common/404-error-image-moretransparent.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            top: 10%;
            left: 45%;
            margin: rem-calc(100px) 0;
            @include grid-column(12,
            $collapse: true);
        }
    }
    .error-page__error {
        @include grid-column(12,
        $collapse: true);
        color: $black;
        font-family: $font-header1;
        text-transform: uppercase;
        @media #{$small-only} {
            font-size: rem-calc(60px);
        }
        @media #{$medium-only} {
            font-size: rem-calc(90px);
        }
        @media #{$large-up} {
            font-size: 5em;
        }
    }
    .error-page__msg {
        @include grid-column(12);
        color: $black;
        font-family: $font-copy-bold;
        font-size: rem-calc(22px);
        @media #{$small-only} {
            font-size: rem-calc(18px);
            line-height: rem-calc(29px);
        }
        @media #{$medium-only} {
            line-height: rem-calc(29px);
        }
    }
    .error-page__suggestion {
        @include grid-column(12);
        font-size: 1em;
        color: $black;
        text-align: center;
        font-family: $font-copy;
        a {
            text-decoration: underline;
            color: $black;
        }
    }
    p {
        line-height: 100%;
    }
    .join-now-button {
        padding: 0.5em;
        font-size: 1em;
        color: $white;
        font-family: $heading-font-bold;
        @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.35));
        @include border-radius(3px);
        background-color: #5d8d32; // layer fill content
        @include background-image(linear-gradient(bottom, #00971c 0%, #44e100 100%)); // gradient overlay
        &:hover {
            color: $white;
            background-color: #5d8d32; // layer fill content
            @include background-image(linear-gradient(bottom, lighten(#00971c, 6%) 0%, #44e100 100%)); // gradient overlay
        }
    }
}
