.section {
    font-size: 1rem;
    padding-bottom: $site-margin;
    position: relative;

    .section__title {
        @include grid-column(12, $float: none);

        text-transform: uppercase;
        width: 100%;
        font-family: $heading-font-bold;
        color: $white;
        font-size: rem-calc(17px);
        background-color: $brand-color;

        @include vert-align(34px);

        margin-bottom: $site-margin;
        padding-left: $site-margin;

        a {
            color: white;
        }
    }

    .section__header__viewall {
        float: right;
        margin-right: -11px;
        color: white;
        font-size: 0.8em;
        display: inline;
        text-align: center;

        a {
            font-family: $heading-font-bold;
            color: $white;
            font-size: 0.9em;
            display: block;
            display: inline-block;

            @include vert-align(23px);

            padding-left: 0.3em;
            padding-right: 0.2em;
            padding-top: 0em;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .games-text-switcher {
        @media #{$small-only} {
            display: none;
        }

        color: $white;
        float: right;
        text-align: right;
        display: block;
        cursor: pointer;
        position: relative;
        width: 19px;
        height: auto;
        margin-right: 7px;

        &:hover {
            background-color: transparent;
        }

        &.active {
            cursor: default;

            &:hover {
                background-color: transparent;
            }
        }
    }

    .section__header {
        border-bottom: none;
    }

    .section__banner {
        margin-bottom: 1em;
    }
}